<template>
  <modal
    :active="modal.isActive"
    modal-class="bg-white modal-cluebank modal__deneme-digi"
    @onModalClose="handleClose"
  >
    <div class="modal__header modal__badges--header" slot="header">
      <span class="modal__icon modal__badges--img">
        <img
          src="@/assets/img/app-cluebank.svg"
          alt
          class="icon app-shadow--cluebank"
        />
      </span>
      <div class="modal__title" v-if="modal.title">{{ modal.title }}</div>
    </div>
    <div slot="content">
      <div class="static-content">
        <div
          v-html="modal.body"
          v-if="modal.body"
          class="hints-modal__content"
        ></div>
      </div>
    </div>
    <div class="modal-cluebank-buttons" slot="footer" v-if="modal.isActive">
      <div>
        <v-button
          class="button--favorite"
          icon="icon-star"
          icon-position="left"
          :title="title"
          :class="{ active: isFavorited }"
          @click.native="handleClickToggleFavorite()"
          :disabled="!loaded"
        />
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from '@/components/Modal'
import { mapActions, mapGetters } from 'vuex'
import { getClue } from '../../../services/cluebank.service'
import {
  CLUE_MODAL_VISIBLE,
  HANDLE_CLUE_MODAL,
} from '../../../store/actions.type'

export default {
  name: 'DigibookCluebankModal',

  props: {
    modal: Object,
  },

  components: {
    Modal,
  },

  data() {
    return {
      loaded: false,
      isFavorited: this.modal.favorited,
    }
  },

  computed: {
    ...mapGetters(['clueModal']),

    title() {
      let res = null
      if (this.loaded) {
        res = this.isFavorited ? 'FAVORİDEN ÇIKAR' : 'FAVORİYE EKLE'
      } else {
        res = ''
      }
      return res
    },
  },

  mounted() {
    this.getItem()
  },

  methods: {
    ...mapActions({
      setFavoriteItem: 'cluebank/setFavoriteItem',
    }),
    handleClickToggleFavorite(id) {
      this.$emit(
        'handler',
        this.modal.isActive,
        this.modal.title,
        this.modal.body,
        this.modal.id,
        this.modal.favorited
      )
      this.setFavoriteItem(this.modal.id)
      this.$store.dispatch(HANDLE_CLUE_MODAL, {
        ...this.clueModal,
        favorited: !this.clueModal.favorited,
      })
      this.isFavorited = !this.isFavorited
    },
    handleClose() {
      this.$store.dispatch(CLUE_MODAL_VISIBLE, false)
      this.$emit('handler', false, null, null)
    },
    getItem() {
      this.loaded = false
      getClue(this.modal.id).then(({ data }) => {
        this.isFavorited = data.favorited
        this.loaded = true
        this.$emit(
          'handler',
          this.modal.isActive,
          data.title,
          data.description,
          data.id,
          data.favorited
        )
      })
    },
  },
}
</script>
