<template>
  <section class="component component--deneme-report-question-analysis">
    <div class="custom-table">
      <div class="custom-table--row row head">
        <div class="custom-table--row__column col-md-4 title only-desktop-flex">SORU TİPİ</div>
        <div class="custom-table--row__column col">
          SORU
          <span class="only-desktop-m-inline">SAYISI</span>
          <i></i>
        </div>
        <div class="custom-table--row__column col">
          DOĞRU
          <span class="only-desktop-m-inline">&nbsp;SAYISI</span>
          <i class="true"></i>
        </div>
        <div class="custom-table--row__column col">
          YANLIŞ
          <span class="only-desktop-m-inline">&nbsp;SAYISI</span>
          <i class="false"></i>
        </div>
        <div class="custom-table--row__column col">
          BOŞ
          <span class="only-desktop-m-inline">&nbsp;SAYISI</span>
          <i class="empty"></i>
        </div>
      </div>
      <div
        class="custom-table--row row"
        v-for="(questionItem, index) in report.question_type_analysis.typeList"
        :key="`questionItem${index}`"
      >
        <div class="custom-table--row__column col-md-4 title">
          <span class="only-tablet-inline">
            <strong>SORU TİPİ:</strong>
          </span>
          {{questionItem.questionType}}
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="only-tablet-flex"></i>
          </span>
          <span>{{questionItem.questionCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="true only-tablet-flex"></i>
          </span>
          <span>{{questionItem.correctCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="false only-tablet-flex"></i>
          </span>
          <span>{{questionItem.wrongCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="empty only-tablet-flex"></i>
          </span>
          <span>{{questionItem.emptyCount}}</span>
        </div>
      </div>
      <div class="custom-table--row row foot">
        <div class="custom-table--row__column col-md-4 title">TOPLAM</div>
        <div class="custom-table--row__column col">
          <span>
            <i class="only-tablet-flex"></i>
          </span>
          <span>{{report.question_type_analysis.total.questionCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="true only-tablet-flex"></i>
          </span>
          <span>{{report.question_type_analysis.total.correctCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="false only-tablet-flex"></i>
          </span>
          <span>{{report.question_type_analysis.total.wrongCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span>
            <i class="empty only-tablet-flex"></i>
          </span>
          <span>{{report.question_type_analysis.total.emptyCount}}</span>
        </div>
      </div>
    </div>
    <hr class="f-line" />
    <div class="my-bests row">
      <div
        class="col-12 col-md-6 my-bests--item__outer"
        v-for="(chart, index) in report.question_type_analysis.charts"
        :key="`chart${index}`"
      >
        <div class="my-bests--item">
          <span class="my-bests--item__title" v-html="chart.title"></span>
          <div class="my-bests--item__content">
            <div class="row no-gutters">
              <div class="col w-progress">
                <CircleProgress :class="`pbc-${index + 1}`" :value="chart.percentage" :size="100" />
              </div>
              <div class="col sentence">
                <strong>{{chart.body}}</strong>
                <div class="results">
                  <div>
                    <b>{{chart.statistics.correct.done}}</b>
                    /{{chart.statistics.correct.total}}
                  </div>
                  <div>
                    <b>{{chart.statistics.wrong.done}}</b>
                    /{{chart.statistics.wrong.total}}
                  </div>
                  <div>
                    <b>{{chart.statistics.empty.done}}</b>
                    /{{chart.statistics.empty.total}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import CircleProgress from '@/components/CircleProgress'

export default {
  name: 'QuestionAnalysis',
  components: {
    CircleProgress
  },
  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
    })
  }
}
</Script>
