<template>
  <section class="component component--deneme-report-question-list">
    <div class="row">
      <div class="col-md-6 bordered-title">
        <strong style="flex: 0 0 150px;">CEVAP ANAHTARI</strong>
      </div>
      <div class="col-md-6">
        <TabFilterButtons
          :buttons="statusButtons"
          @onClickButton="handleChangeStatus"
        />
      </div>
    </div>
    <div class="row questions">
      <!-- onclick kullanma sebebim, talhaya cikti gosterebilmek, sen silebilirsin. -->
      <div
        v-for="(question, index) in filteredQuestions"
        :key="`question${question.id}`"
        @click="handleClickTriggerSelectQuestion(question.id, index)"
        :class="{ active: selectedQuestionsIds.includes(question.id) }"
        :data-question-status="question.state"
        v-html="question.order"
      ></div>
    </div>
    <template v-for="(question, index) in selectedQuestions">
      <hr
        class="f-line"
        style="border-color: #d2dbe7"
        :key="`detailhr${index}`"
      />
      <div class="question-detail" :key="`detailouter${index}`">
        <div class="buttons-of-details">
          <div v-tooltip="'Soruyu Çözme Süresi'" data-type="custom-tooltip">
            <svg-icon type="icon-time"></svg-icon>
            <span class="time"
              >{{ convertToMinuteSecond(question.duration) }} dk</span
            >
          </div>
          <div
            v-tooltip="{
              content: question.correctionPercentage.tooltip,
              classes: 'tooltip-singleline',
            }"
            class="buttons-of-details__flex"
          >
            <strong>% {{ question.correctionPercentage.percentage }}</strong>
            <span v-html="question.correctionPercentage.text" />
          </div>
          <div class="is-nontooltip">
            <span v-html="question.questionStyle.text" />
          </div>
        </div>
        <hr class="f-line mt-0" />
        <div class="question-detail--question">
          <span
            class="d-flex align-items-center justify-content-center only-desktop-flex"
            :data-question-status="question.state"
            v-html="question.order"
          ></span>
          <div class="w100">
            <div
              v-for="(item, iindex) in question.body"
              class="only-tablet-flex question-detail--question__mobile-tooltip"
              :key="iindex + 0"
            >
              {{ item.tooltip }}
            </div>
            <highlightable slot="content">
              <p class="question-detail--question__p">
                <template v-for="(item, iindex) in question.questionContent">
                  <div
                    v-html="item.text"
                    :key="`qbodyi${iindex}`"
                    v-if="!item.tooltip"
                  ></div>
                  <div :key="`qbodyi${iindex}`" v-else>
                    <span
                      class="question-detail--question__tip"
                      v-tooltip="{
                        content: item.tooltip,
                        classes: 'tooltip-purple tooltip-w100',
                      }"
                      v-html="item.text"
                    />
                  </div>
                </template>
                <template v-for="(item, iindex) in question.question">
                  <div
                    :key="`qbodyqi${iindex}`"
                    v-if="!item.tooltip"
                    v-html="item.text"
                    class="with-paraghraph"
                  ></div>
                  <div
                    :key="`qbodyqi${iindex}`"
                    class="question-detail--question__tip--box"
                    v-else
                  >
                    <span
                      class="question-detail--question__tip"
                      v-tooltip="{
                        content: item.tooltip,
                        classes: 'tooltip-purple',
                      }"
                      v-html="item.text"
                    />&nbsp;
                  </div>
                </template>
              </p>
            </highlightable>
            <DigibookBlockInfo
              :clues="question.hints"
              v-if="question.description.length > 0"
              :description="
                question.description || question.questionContent[0].description
              "
            />
            <!-- <div class="digi-test-desc">
              <div class="digi-test-clue" v-if="question.hints.length > 0">
                <span class="digi-test-clue__title">İPUÇLARI</span>
                <div class="digi-test-clue__list">
                  <span
                    class="digi-test-clue__item tooltip-btn"
                    v-for="(hint, hindex) in question.hints"
                    @click="
                      handleHintsModal(
                        true,
                        hint.title,
                        hint.body,
                        hint.id,
                        hint.favorited
                      )
                    "
                    :key="`qhint${hindex}`"
                    v-tooltip="{
                      content: hint.title,
                      classes: 'tooltip-singleline',
                    }"
                  >
                    <img src="@/assets/img/app-cluebank.svg" alt class="icon" />
                    <span class="tooltip single-line tooltip--bottom">
                      <span class="tooltip__wrp">
                        <span class="tooltip__txt" v-html="hint.title"></span>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
              <template v-if="question.description">
                <div class="digi-test-desc__cnt" :key="`qdescbig${index}`">
                  <span class="digi-test-desc__icon">
                    <svg-icon type="icon-info" />
                  </span>
                  <div class="digi-test-desc__right">
                    <div
                      class="digi-test-desc__txt"
                      v-html="question.description"
                    ></div>
                  </div>
                </div>
              </template>
            </div> -->
            <hr
              class="f-line"
              style="margin-left: -70px; width: calc(100% + 85px);"
            />
            <div class="list-of-answers">
              <highlightable slot="content">
                <template v-for="(answer, aindex) in question.answers">
                  <div
                    :key="`answer${aindex}`"
                    class="test-option no-cursor"
                    :data-status="answer.status"
                  >
                    <span class="test-option__opt">
                      <span class="opt-txt" v-html="answer.letterOrder"></span>
                    </span>
                    <p
                      v-if="answer.tooltip"
                      class="test-option__txt"
                      v-tooltip="{
                        content: answer.tooltip,
                        classes: 'tooltip-purple',
                      }"
                      v-html="answer.text"
                    ></p>
                    <p v-else class="test-option__txt" v-html="answer.text"></p>
                  </div>
                  <DigibookBlockInfo
                    :key="`answerdescription${aindex}`"
                    :clues="answer.hints"
                    :description="answer.description"
                  />
                  <!-- <div
                    :key="`answerdescription${aindex}`"
                    class="digi-test-desc"
                  >
                    <div class="digi-test-clue" v-if="answer.hints.length > 0">
                      <span class="digi-test-clue__title">İPUÇLARI</span>
                      <div class="digi-test-clue__list">
                        <span
                          v-for="(answerhint, ahindex) in answer.hints"
                          class="digi-test-clue__item tooltip-btn"
                          @click="
                            handleHintsModal(
                              true,
                              answerhint.title,
                              answerhint.body,
                              answerhint.id,
                              answerhint.favorited
                            )
                          "
                          :key="`answerhint${ahindex}`"
                          v-tooltip="{
                            content: answerhint.title,
                            classes: 'tooltip-singleline',
                          }"
                        >
                          <img
                            src="@/assets/img/app-cluebank.svg"
                            alt
                            class="icon"
                          />
                        </span>
                      </div>
                    </div>

                    <div
                      class="digi-test-desc__cnt"
                      v-if="answer.description && answer.description.length > 0"
                    >
                      <span class="digi-test-desc__icon">
                        <svg-icon type="icon-info" />
                      </span>
                      <div class="digi-test-desc__right">
                        <div
                          class="digi-test-desc__txt"
                          v-html="answer.description"
                        ></div>
                      </div>
                    </div>
                  </div> -->
                </template>
              </highlightable>
              <ResultStamp
                :isLocked="true"
                :result="resultStatus(question.state)"
              />
              <!-- <transition name="mark-fade">
                <div
                  class="digi-test-status deneme-test-status"
                  :class="question.state"
                >
                  <div class="digi-test-status__title">
                    <span v-if="question.state === 'correct'">DOĞRU</span>
                    <span v-else-if="question.state === 'wrong'">YANLIŞ</span>
                    <span v-else>BOŞ</span>
                  </div>
                </div>
              </transition> -->
            </div>
          </div>
        </div>
      </div>
    </template>
    <swiper
      :options="tabSwiper"
      class="reading-tabitems"
      ref="detailTabs"
      @slideChange="changeSlide"
    >
      <swiper-slide
        class="reading-tabitems__tab"
        v-for="(tab, index) in wordsTabs.tabs"
        :key="index"
      >
        <TabItem
          :icon="tab.icon"
          :text="tab.text"
          :active="index === currentTab"
          @click.native="tabShow(tab, index)"
        ></TabItem>
      </swiper-slide>
    </swiper>
    <tab v-if="selectedQuestions.length > 0 && wordsTabs.tabs.length > 0">
      <tab-pane
        :class="{ active: currentTab === 0 }"
        :style="currentTab === 0 ? 'height: auto' : ''"
      >
        <WordsList
          class="questions-wordslist"
          :title="'Vocabulary'"
          :wordType="'w'"
          :words="filteredQuestions[activeQuestionIndex].vocabulary"
        />
        <!-- <div class="row list-of-words">
          <div class="reading-words">
            <div class="reading-words__header">
              <transition-group name="fade">
                <div class="reading-words__inf" :key="1" v-show="!showAddList">
                  <div class="reading-words__txt">
                    <span class="color-red font-size-23">*</span>
                    Bu soru içerisinde bulunan
                    <strong>vocabulary</strong> içeriğini listelerine
                    ekleyebilirsin!
                  </div>
                  <v-button
                    class="reading-words__button default round icon-left"
                    icon="icon-lists"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="openAddList"
                  />
                </div>
                <div class="reading-words__ctr" :key="2" v-show="showAddList">
                  <v-button
                    class="default round color-gray"
                    title="TÜMÜNÜ SEÇ"
                    @click.native="handleSelectVocabularies"
                  />
                  <v-button
                    class="purple fw shadow-none round icon-left"
                    icon="icon-plus"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="
                      setAddWordModal({ show: true, wordType: 'w' })
                    "
                  />

                  <v-button
                    class="default round icon-xs xs color-gray"
                    title="VAZGEÇ"
                    icon="icon-close"
                    icon-position="right"
                    @click.native="closeAddList"
                  />
                </div>
              </transition-group>
            </div>

            <div class="reading-words__cnt" ref="wordList">
              <template v-for="(question, qindex) in selectedQuestions">
                <template v-if="question.vocabulary.length <= 0">
                  <p :key="qindex">İçerik Yok</p>
                </template>
                <template v-for="(word, index) in question.vocabulary">
                  <word-box
                    :key="`wordGroup0Item${index}`"
                    :word="word"
                    :selectable="showAddList"
                    @moreWords="toggleMore"
                    :ref="'wb-' + word.id"
                    :showAddList="showAddList"
                    :selectAllWords="selectVocabularies"
                  />
                </template>
              </template>
            </div>
          </div>
        </div> -->
      </tab-pane>

      <tab-pane :class="{ active: currentTab === 1 }">
        <WordsList
          class="questions-wordslist"
          :title="'Collocation'"
          :wordType="'c'"
          :words="filteredQuestions[activeQuestionIndex].collocation"
          :isBasic="true"
        />
        <!-- <div class="row list-of-words">
          <div class="reading-words">
            <div class="reading-words__header">
              <transition-group name="fade">
                <div class="reading-words__inf" :key="1" v-show="!showAddList">
                  <div class="reading-words__txt">
                    <span class="color-red font-size-23">*</span>
                    Bu soru içerisinde bulunan
                    <strong>collocation</strong> içeriğini listelerine
                    ekleyebilirsin!
                  </div>
                  <v-button
                    class="reading-words__button default round icon-left"
                    icon="icon-lists"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="openAddList"
                  />
                </div>
                <div class="reading-words__ctr" :key="2" v-show="showAddList">
                  <v-button
                    class="default round color-gray"
                    title="TÜMÜNÜ SEÇ"
                    @click.native="handleSelectCollocations"
                  />
                  <v-button
                    class="purple fw shadow-none round icon-left"
                    icon="icon-plus"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="
                      setAddWordModal({ show: true, wordType: 'c' })
                    "
                  />

                  <v-button
                    class="default round icon-xs xs color-gray"
                    title="VAZGEÇ"
                    icon="icon-close"
                    icon-position="right"
                    @click.native="closeAddList"
                  />
                </div>
              </transition-group>
            </div>

            <div class="reading-words__cnt" ref="wordList">
              <template v-for="(question, qindex) in selectedQuestions">
                <template v-if="question.collocation.length <= 0">
                  <p :key="qindex">İçerik Yok</p>
                </template>
                <template v-for="word in question.collocation">
                  <word-box
                    basic
                    :key="`wordGroup1Item${word.id}`"
                    :word="word"
                    :selectable="showAddList"
                    @moreWords="toggleMore"
                    :ref="'wb-' + word.id"
                    :showAddList="showAddList"
                    :selectAllWords="selectCollocations"
                  />
                </template>
              </template>
            </div>
          </div>
        </div> -->
      </tab-pane>

      <tab-pane :class="{ active: currentTab === 2 }">
        <WordsList
          class="questions-wordslist"
          :title="'Preposition'"
          :wordType="'p'"
          :words="filteredQuestions[activeQuestionIndex].preposition"
          :isBasic="true"
        />
        <!-- <div class="row list-of-words">
          <div class="reading-words">
            <div class="reading-words__header">
              <transition-group name="fade">
                <div class="reading-words__inf" :key="1" v-show="!showAddList">
                  <div class="reading-words__txt">
                    <span class="color-red font-size-23">*</span>
                    Bu soru içerisinde bulunan
                    <strong>preposition</strong> içeriğini listelerine
                    ekleyebilirsin!
                  </div>
                  <v-button
                    class="reading-words__button default round icon-left"
                    icon="icon-lists"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="openAddList"
                  />
                </div>
                <div class="reading-words__ctr" :key="2" v-show="showAddList">
                  <v-button
                    class="default round color-gray"
                    title="TÜMÜNÜ SEÇ"
                    @click.native="handleSelectPrepositions"
                  />
                  <v-button
                    class="purple fw shadow-none round icon-left"
                    icon="icon-plus"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="
                      setAddWordModal({ show: true, wordType: 'p' })
                    "
                  />

                  <v-button
                    class="default round icon-xs xs color-gray"
                    title="VAZGEÇ"
                    icon="icon-close"
                    icon-position="right"
                    @click.native="closeAddList"
                  />
                </div>
              </transition-group>
            </div>

            <div class="reading-words__cnt" ref="wordList">
              <template v-for="(question, qindex) in selectedQuestions">
                <template v-if="question.preposition.length <= 0">
                  <p :key="qindex">İçerik Yok</p>
                </template>
                <template v-for="word in question.preposition">
                  <word-box
                    basic
                    :key="`wordGroup1Item${word.id}`"
                    :word="word"
                    :selectable="showAddList"
                    @moreWords="toggleMore"
                    :ref="'wb-' + word.id"
                    :showAddList="showAddList"
                    :selectAllWords="selectPrepositions"
                  />
                </template>
              </template>
            </div>
          </div>
        </div> -->
      </tab-pane>
    </tab>
    <hints-modal
      class="hints-modal__parent"
      v-if="hintsModalModel.isActive"
      :modal="hintsModalModel"
      @handler="handleHintsModal"
    />
    <Modal
      :active="wordBoxModal"
      @onModalClose="hideModal"
      :hideClose="true"
      class="word-box-modal"
    >
      <div slot="content" v-if="wordBoxModal">
        <div class="word-box-content">
          <div class="word-box__left">
            <v-button
              @click.native="speak(otherWords.word)"
              class="word-box__voice square default"
              icon="icon-voice"
              icon-position="left"
              v-tooltip.top="{
                content: 'Dinle',
                boundariesElement: 'body',
              }"
            />
          </div>
          <div class="word-box__cnt">
            <div class="word-box__top">
              <div
                class="word-box__title"
                :class="otherWords.type ? `color-${otherWords.type}` : ''"
              >
                {{ otherWords.word || otherWords.title || otherWords.name }}
              </div>
              <span
                class="word__badge"
                v-if="otherWords.type"
                :class="`bg-${otherWords.type}`"
                lang="en"
                >{{ otherWords.type }}</span
              >
            </div>
            <div class="word-box-meaning">
              <div class="word-box-meaningsline">
                <div
                  class="word-box-meaning__item"
                  v-for="meaning in otherWords.meanings.slice(0, 1)"
                  :key="meaning.id"
                >
                  <div class="word-rate">
                    <span
                      v-for="n in 4"
                      :key="n"
                      :class="{ active: n <= meaning.rate }"
                    ></span>
                  </div>
                  <div class="word-box-meaning__title">
                    {{ meaning.name || meaning.title }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <v-button
            class="reading-words__button default icon-left"
            icon="icon-lists"
            icon-position="left"
            title="EKLE"
          />
        </div>
        <div class="word-box-others">
          <h4 class="section-bracket">
            <span class="section-bracket__title">Diğer Anlamlar</span>
            <hr class="fw" />
          </h4>
          <div
            class="word-box-meaning__item"
            v-for="meaning in otherWords.meanings.slice(1)"
            :key="meaning.id"
          >
            <div class="word-rate">
              <span
                v-for="n in 4"
                :key="n"
                :class="{ active: n <= meaning.rate }"
              ></span>
            </div>
            <div class="word-box-meaning__title">
              {{ meaning.name || meaning.title }}
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- <add-new-word-modal ref="addNewWordModal" /> -->
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { millisToMinutesAndSeconds, gspeak } from '@/common/helpers'
// import AddNewWordModal from '@/components/WordBook/Plugin/AddNewWordModal'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'
import HintsModal from '@/components/Deneme/Report/HintsModal'
import Modal from '@/components/Modal'
// import WordBox from '@/components/WordBox'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import Highlightable from '@/components/Highlightable'
import DigibookBlockInfo from '../../Digibook/DigibookBlock/DigibookBlockInfo.vue'
import ResultStamp from '../../ResultStamp.vue'
import WordsList from '../../WordsList.vue'

export default {
  name: 'QuestionList',
  data() {
    return {
      wordBoxModal: false,
      otherWords: null,
      currentTab: 0,
      currentTab2: 0,
      activeTab: 0,
      activeSlide: 0,
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true,
          },
        },
      },
      hintsModalModel: {
        isActive: false,
        title: null,
        body: null,
      },
      showAddList: false,
      selectAllWords: false,
      selectCollocations: false,
      selectVocabularies: false,
      selectPrepositions: false,
      activeQuestionIndex: 0,
    }
  },
  watch: {
    addWordModal() {
      if (!this.addWordModal) {
        this.closeAddList()
      }
    },
  },

  computed: {
    ...mapGetters({
      statusButtons: 'denemeReport/statusButtons',
      questionList: 'denemeReport/questionList',
      selectedQuestionsIds: 'denemeReport/selectedQuestionsIds',
      selectedQuestions: 'denemeReport/selectedQuestions',
      filteredQuestions: 'denemeReport/filteredQuestions',
      addWordModal: 'wordbookplugin/addWordModal',
    }),
    wordsTabs() {
      const w = {
        tabs: [],
      }
      if (this.selectedQuestions[0]) {
        if (this.selectedQuestions[0].vocabulary.length > 0) {
          w.tabs.push({
            id: 0,
            icon: 'icon-vocabulary-o',
            text: 'VOCABULARY',
            active: true,
          })
        }
        if (this.selectedQuestions[0].collocation.length > 0) {
          w.tabs.push({
            id: 1,
            icon: 'icon-collocation-o',
            text: 'COLLOCATION',
            active: false,
          })
        }
        if (this.selectedQuestions[0].preposition.length > 0) {
          w.tabs.push({
            id: 2,
            icon: 'icon-preposition-o',
            text: 'PREPOSITION',
            active: false,
          })
        }
      }
      return w
    },
  },
  components: {
    Tab,
    TabItem,
    TabPane,
    swiper,
    swiperSlide,
    TabFilterButtons,
    HintsModal,
    Modal,
    // WordBox,
    // AddNewWordModal,
    Highlightable,
    DigibookBlockInfo,
    ResultStamp,
    WordsList,
  },
  methods: {
    ...mapActions({
      setQuestionState: 'denemeReport/setQuestionState',
      triggerSelectedQuestionId: 'denemeReport/triggerSelectedQuestionId',
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      resetWordlist: 'wordbookplugin/resetWordlist',
    }),

    resultStatus(status) {
      if (status === 'correct') return true
      if (status === 'wrong') return false
      return null
    },

    openAddList() {
      this.showAddList = true
      this.selectAllWords = false
    },

    closeAddList() {
      this.showAddList = false
      this.selectAllWords = false
      this.selectCollocations = false
      this.selectVocabularies = false
      this.selectPrepositions = false
      this.resetWordlist()
    },

    handleSelectVocabularies() {
      this.selectVocabularies = true
    },

    handleSelectCollocations() {
      this.selectCollocations = true
    },

    handleSelectPrepositions() {
      this.selectPrepositions = true
    },

    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.wordsTabs.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      this.closeAddList()
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      // console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    handleChangeStatus(item) {
      this.setQuestionState(item.status)
    },
    handleClickTriggerSelectQuestion(id, index) {
      this.activeQuestionIndex = index
      this.triggerSelectedQuestionId(id)
      this.currentTab = 0
    },
    convertToMinuteSecond(ms) {
      return millisToMinutesAndSeconds(ms)
    },
    handleChangeWordTabs(tab) {
      this.currentTab = tab.id
      // this.activeTab = index
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    handleClickSpeak(word) {
      gspeak(word)
    },
    handleHintsModal(status, title, body, id, favorited) {
      this.hintsModalModel = {
        id,
        favorited,
        title,
        body,
        isActive: status,
      }
      const mq = window.matchMedia('(max-width: 769px)')

      if (mq.matches) {
        console.log(document.body.classList.add('overflow-y-hidden--mobile'))
        console.log(
          document
            .getElementsByTagName('html')[0]
            .classList.add('overflow-y-hidden--mobile')
        )
      } else {
      }
    },

    toggleMore(el) {
      this.otherWords = el
      this.openModal()
    },

    openModal() {
      this.wordBoxModal = true
    },

    hideModal() {
      this.wordBoxModal = false
    },
  },
}
</script>

<style lang="scss" scoped>
.questions-wordslist {
  padding: 20px 25px;
  background: #fcfdfe;
  border-radius: 1rem;
}
::v-deep .question-detail--question__p {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
</style>
