<template>
  <section class="component component--deneme-report-suggestions">
    <p v-html="report.suggestions.mainText"></p>
    <strong class="bordered-title bordered-title--suggestions">
      <span>
        <b>ÇALIŞMAM GEREKEN</b> KONULAR
      </span>
    </strong>
    <div class="my-bests custom-my-bests">
      <div class="row">
        <div
          class="col-md-6"
          v-for="(topic, index) in report.suggestions.topics"
          :key="`topic${index}`"
        >
          <div class="my-bests--item">
            <div class="my-bests--item__content">
              <div class="row row--suggestions">
                <span class="col-md-5 d-flex align-items-center">{{topic.title}}</span>
                <div class="col-md-7 d-flex justify-content-end align-items-center">
                  <strong>Başarı Puanı</strong>
                  <CircleProgress :value="topic.successScore" :size="100" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import CircleProgress from '@/components/CircleProgress'
export default {
  name: 'Suggestions',
  components: {
    CircleProgress
  },
  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
    })
  },
}
</script>
