<template>
  <section class="component component--deneme-report-summary">
    <strong class="ranking" v-if="report.country_wide && report.summary.ranking">
      TÜRKİYE GENELİ SIRALAMA:
      <strong>{{report.summary.ranking}}</strong>
    </strong>
    <hr class="f-line" v-if="report.country_wide && report.summary.ranking" />
    <div class="stats">
      <div class="stat">
        <strong>SORU SAYISI</strong>
        <span>{{report.summary.statistics.questionCount}}</span>
      </div>
      <div class="stat">
        <strong>DOĞRU SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.correct.done}}</b>
          / {{report.summary.statistics.correct.total}}
        </span>
      </div>
      <div class="stat">
        <strong>YANLIŞ SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.wrong.done}}</b>
          / {{report.summary.statistics.wrong.total}}
        </span>
      </div>
      <div class="stat">
        <strong>BOŞ SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.empty.done}}</b>
          / {{report.summary.statistics.empty.total}}
        </span>
      </div>
    </div>
    <hr class="f-line only-desktop" />
    <div class="row my-results">
      <div class="col-12 col-md-4 my-results--item">
        <strong>PUANIM</strong>
        <span>
          <b>{{report.summary.statistics.score.done}}</b>
          / {{report.summary.statistics.score.total}}
        </span>
      </div>
      <div class="col-12 col-md-4 my-results--item">
        <strong>PUAN HEDEFİM</strong>
        <span>
          <b>{{report.summary.statistics.scoreGoal.done}}</b>
          / {{report.summary.statistics.scoreGoal.limit}}
        </span>
      </div>
      <div class="col-12 col-md-4 my-results--item">
        <strong>SORU HEDEFİM</strong>
        <span>
          <b>{{report.summary.statistics.questionGoal.done}}</b>
          / {{report.summary.statistics.questionGoal.limit}}
        </span>
      </div>
    </div>
    <hr class="f-line only-desktop" />

    <div class="clear" style="height: 20px;"></div>
    <div v-for="(message, index) in report.summary.messages" :key="`message${index}`">
      <template v-if="message.type === 'text'">
        <div v-html="message.body" class="deneme-report-page__bottom-txt"></div>
      </template>
      <template v-else>
        <div class="status-badge__message--outer">
          <span class="status-badge" :data-status="message.type">
            <strong>{{message.title}}</strong>
            {{message.body}}
          </span>
        </div>
      </template>
      <div class="clear" style="height: 20px;"></div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Summary',
  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
    })
  },
}
</script>
