<template>
  <section class="component component--deneme-report-time-management">
    <div class="custom-table">
      <div class="custom-table--row row head only-desktop-flex">
        <div class="custom-table--row__column col-md-4 title">SORU TİPİ</div>
        <div class="custom-table--row__column col">SORU SAYISI</div>
        <div class="custom-table--row__column col">
          TAVSİYE EDİLEN SÜRE
          <svg-icon type="icon-time"></svg-icon>
        </div>
        <div class="custom-table--row__column col">
          HARCADIĞIM SÜRE
          <svg-icon type="icon-time"></svg-icon>
        </div>
      </div>
      <div
        class="custom-table--row row"
        v-for="(timeItem, index) in report.time_management.timeList"
        :key="`timeItem${index}`"
      >
        <div class="custom-table--row__column col-md-4 title">
          <span class="only-tablet question-type--time-management">SORU TİPİ :</span>
          <span>{{timeItem.questionType}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span class="only-tablet">SORU SAYISI</span>
          <span>{{timeItem.questionCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span class="only-tablet">TAVSİYE EDİLEN SÜRE</span>
          <span>{{convertToMinuteSecond(timeItem.recommendedTime)}}</span>
        </div>
        <div
          class="custom-table--row__column col"
          :class="{'green': timeItem.recommendedTime >= timeItem.spentTime, 'red': !(timeItem.recommendedTime >= timeItem.spentTime)}"
        >
          <span class="only-tablet">HARCADIĞIM SÜRE</span>
          <span>{{convertToMinuteSecond(timeItem.spentTime)}}</span>
        </div>
      </div>
      <div class="custom-table--row row foot">
        <div class="custom-table--row__column col-md-4 title">TOPLAM</div>
        <div class="custom-table--row__column col">
          <span class="only-tablet">SORU SAYISI</span>
          <span>{{report.time_management.total.questionCount}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span class="only-tablet">TAVSİYE EDİLEN SÜRE</span>
          <span>{{convertToMinuteSecond(report.time_management.total.recommendedTime)}}</span>
        </div>
        <div class="custom-table--row__column col">
          <span class="only-tablet">HARCADIĞIM SÜRE</span>
          <span>{{convertToMinuteSecond(report.time_management.total.spentTime)}}</span>
        </div>
      </div>
    </div>
    <hr class="f-line" />
    <div class="my-bests row">
      <div
        class="col-12 col-md-6 my-bests--item__outer"
        v-for="(chart, index) in report.time_management.charts"
        :key="`chart${index}`"
      >
        <div class="my-bests--item">
          <span class="my-bests--item__title" v-html="chart.title"></span>
          <div class="my-bests--item__content">
            <div class="row no-gutters">
              <div class="col w-progress">
                <CircleProgress :value="chart.percentage" :size="100" />
              </div>
              <div class="col sentence">
                <strong>{{chart.body}}</strong>
                <div class="time-shower">
                  <svg-icon type="icon-time"></svg-icon>
                  <span>{{convertToMinuteSecond(chart.statistics.time.done)}}</span>
                  <b>{{convertToMinuteSecond(chart.statistics.time.total)}}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import CircleProgress from '@/components/CircleProgress'
import { millisToMinutesAndSeconds } from '../../../common/helpers'

export default {
  name: 'QuestionAnalysis',
  components: {
    CircleProgress
  },
  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
    })
  },
  methods: {
    convertToMinuteSecond(ms) {
      return millisToMinutesAndSeconds(ms)
    }
  }
}
</script>
