<template>
  <div class="cart-toolbox">
    <div
      class="cart-button"
      @click="showCart"
      :class="{ active: storeCartVisible }"
      v-tooltip.right="'Sepetim'"
    >
      <div class="cart-button__inner">
        <svg-icon type="icon-cart"></svg-icon>
        <span class="cart-button__text">Sepetim</span>
        <span class="cart-button__counter">{{ storeBasket.quantity }}</span>
      </div>
    </div>
    <div :class="{ active: storeCartVisible }" class="cart-content">
      <div class="cart-content--cart-header">
        <div>
          <svg-icon type="icon-cart"></svg-icon>
          <span class="basket-text">Sepetim</span>
        </div>
        <span>
          <strong>{{ storeBasket.quantity }}</strong> Ürün
        </span>
        <div
          @click="dialogVisible = false"
          class="cart-close-icon mobile-menu__top--close-icon"
        >
          <svg-icon type="icon-close" />
        </div>
      </div>
      <div
        v-if="!storeBasket.quantity"
        :class="[!storeBasket.quantity ? 'isEmpty' : '']"
        class="cart-content--products"
      >
        <EmptyContent
          icon="icon-notfound-basket"
          class="cart-content--empty empty-content--notfound"
          title="Sepetinizde Hiç Ürün Yok!"
          text="Henüz sepetine bir ürün eklemedin. Mağazada seni sınava hazırlayacak eğitimlerimiz seni bekliyor."
        />
      </div>
      <div class="cart-content--products" v-if="storeBasket.quantity">
        <div
          class="d-flex"
          v-for="basketPackage in storeBasket.packages"
          :key="basketPackage.id"
        >
          <img :src="basketPackage.image" alt />
          <div>
            <strong>{{ basketPackage.title }}</strong>
            <span class="cart-content--products--price"
              >{{ basketPackage.total.toFixed(2) }} TL</span
            >
          </div>
          <div class="buttons">
            <a @click="destroy('package', basketPackage)">
              <svg-icon type="icon-trash"></svg-icon>
            </a>
          </div>
        </div>
        <!-- {{ basket.products[0].image }} -->
        <div
          class="d-flex"
          v-for="product in storeBasket.products"
          :key="product.product_id"
        >
          <img :src="product.image" alt />
          <div>
            <strong>
              <span v-if="product.variant_title.length > 0"
                >({{ product.variant_title }})</span
              >
              <br />
              {{ product.title }}
            </strong>
            <span class="cart-content--products--price"
              >{{ product.total }} TL</span
            >
          </div>
          <div class="buttons">
            <a @click="destroy('product', product)">
              <svg-icon type="icon-trash"></svg-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="cart-content--price" v-if="storeBasket.quantity">
        <span>Ödenecek Tutar (KDV Dahil)</span>
        <strong>{{ storeBasket.total_price.toFixed(2) }} TL</strong>
      </div>
      <div class="cart-content--footer" v-if="storeBasket.quantity">
        <v-button
          class="fw c-purple"
          icon="icon-arrow-long-right"
          icon-position="right"
          title="ALIŞVERİŞİ TAMAMLA"
          @click.native="handleGoShopping"
        />
      </div>
      <div class="cart-content--footer empty" v-if="!storeBasket.quantity"></div>
    </div>
    <div
      :class="{ active: dialogVisible }"
      class="cart-bg"
      @click="dialogVisible = false"
    ></div>
  </div>
</template>

<script>
import EmptyContent from '../EmptyContent'
import { mapActions, mapGetters } from 'vuex'
import { SHOW_OVERLAY } from '../../store/actions.type'

export default {
  name: 'Cart',
  components: { EmptyContent },
  props: [],
  data() {
    return {
      dialogVisible: false,
      /* basket: {
        quantity: 0,
        total_price: 0,
        products: [],
        packages: []
      }, */
      form: {
        //
      },
    }
  },

  computed: {
    ...mapGetters({
      storeBasket: 'store/basket',
      storeCartVisible: 'store/cartVisible'
    }),
  },

  created() {
    this.$store.dispatch('store/getBasket')
  },

  /* mounted() {
    this.index(false)
  }, */

  watch: {
    dialogVisible: {
      immediate: true,
      handler(val, old) {
        // this.$store.dispatch(SHOW_OVERLAY, val)
        const mq = window.matchMedia('(max-width: 769px)')
        if (val) {
          if (mq.matches) {
            document.getElementById('nav').style.display = 'none'
          }
        } else {
          if (mq.matches) {
            document.getElementById('nav').style.display = ''
          }
        }
      },
    },

    storeCartVisible(val) {
      this.$store.dispatch(SHOW_OVERLAY, val)
    }
  },

  methods: {
    ...mapActions({
      setCartVisible: 'store/handleCartVisible',
    }),

    showCart() {
      this.$store.dispatch(SHOW_OVERLAY, true)
      this.setCartVisible(true)
    },

    initResponseBasket(data, showDialog) {
      if (data.basket) {
        this.$store.commit('store/setBasket', data.basket)
        // this.basket = data.basket
      }
      /* else {
        this.basket = {
          quantity: 0,
          total_price: 0,
          products: [],
          packages: []
        }
      }
 */
      this.dialogVisible = showDialog
      this.setCartVisible(showDialog)
    },

    store(form) {
      if (this.storeBasket.id) {
        form.id = this.storeBasket.id
      }

      this.$store.dispatch('store/addToBasket', form).then(res => {
        console.log('add basket: ', res)
        if (!res.success) {
          this.$toasted.show(res.data, {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000,
          })
        } else {
          this.initResponseBasket(res.data, true)
        }
      })
    },

    destroy(type, item) {
      this.$swal({
        title: 'Emin misiniz?',
        text: 'Eğer bu işlemi onaylarsanız hiç bir şekilde geri alamazsınız!',
        icon: 'error',
        showCancelButton: true,
        confirmButtonColor: '#df6457',
        cancelButtonColor: '#d8e0ee',
        confirmButtonText: 'Sil',
        cancelButtonText: 'İptal',
      }).then(response => {
        if (!response.value) {
          return true
        }

        let form = {
          //
        }

        if (type === 'product') {
          form = {
            process: 'delete',
            product_id: item.product_id,
            quantity: item.quantity,
          }
        }

        if (type === 'package') {
          form = {
            process: 'delete',
            package_id: item.content_id,
            quantity: item.quantity,
            products: [1],
          }
        }

        this.$store.dispatch('store/removeFromBasket', form).then(res => {
          console.log('ress destroy: ', res)
          this.initResponseBasket(res.data, true)
        })
      })
    },

    handleGoShopping() {
      window.open(
        'https://www.remzihoca.com/sepet?p=' +
          this.$store.state.user.user.login_token,
        '_blank'
      )
    },
  },
}
</script>

<style>
.cart-content--products img {
  height: 50px;
}

.cart-toolbox {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 300;
}
</style>
