<template>
  <div>
    <div class="d-flex justify-content-between" v-if="tab.filter">
      <div class="radio-group">
        <label
          v-for="category in tab.filter.categories"
          :key="category.value"
          @click="initFilter(category.value)"
        >
          <input name="group1" type="radio" :checked="!category.value" />
          <span>
            {{ category.label }}
            <i class="seperator">
              <svg-icon type="icon-check"></svg-icon>
            </i>
          </span>
        </label>
      </div>
    </div>

    <div class="row" style="margin-top: 40px">
      <div
        class="col-6 col-md-3 product-item__wrp"
        v-for="content in handleFilterItems()"
        :key="content.id"
      >
        <ProductListItem :product="content.products[0]" :basket="basket" v-if="content.products" />
      </div>
    </div>
  </div>
</template>

<script>
import ProductListItem from './ProductListItem'

export default {
  name: 'ContentTab',
  components: { ProductListItem },
  props: ['tab', 'response', 'basket'],
  data() {
    return {
      search: null
    }
  },
  methods: {
    initFilter(value) {
      this.search = value

      this.handleFilterItems()
    },

    handleFilterItems() {
      let value = this.search

      if (!value) {
        return this.response.items
      }

      let items = _.filter(this.response.items, o => {
        return o.categories[0].id === value
      })

      return items
    }
  }
}
</script>
