<template>
  <div class="product-item__wrp" @click="handleGo">
    <div class="product-item">
      <div class="product-item__inner">
        <div class="product-item__top">
          <div class="product-item__cover" style="max-width: 100%;">
            <img
              :src="content.assets.cover"
              alt
              class="product-card-cover__img"
            />
          </div>
        </div>

        <div class="product-item__cnt">
          <h4 class="product-item__title">{{ content.title }}</h4>
          <div class="product-item-list-app">
            <figure
              v-for="(product, index) in content.products"
              :key="`product${index}`"
              v-tooltip="product.title"
            >
              <img :src="product.assets.icon" alt />
              <!-- <figcaption>{{ product }}</figcaption> -->
            </figure>
          </div>
          <div class="product-item-price">
            <div
              class="product-item-price__left discount"
              v-if="content.shop.package_price_discount"
            >
              {{ content.shop.package_price_discount }}
            </div>
            <div class="product-item-price__left">
              <div
                class="product-item-price__old"
                v-if="content.shop.package_price_discount"
              >
                {{ content.shop.package_price }} TL
              </div>
              <div class="product-item-price__main">
                <template v-if="content.shop.package_price_discount"
                  >{{ content.shop.package_price_init_discount }} TL</template
                >
                <template v-if="!content.shop.package_price_discount"
                  >{{ content.shop.package_price }} TL</template
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="product-item__btn js-quick-add js-modal fast-basket-add"
        data-custom-modal="ProductModal"
        data-slug="https://www.remzihoca.com/urunler/online-ders/2019-sonbahar-yokdil-saglik-bilimleri-canli-ve-kayittan"
      >
        ÜRÜN DETAY
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PackageListItem',
  props: ['content', 'basket'],
  data() {
    return {
      //
    }
  },
  methods: {
    handleGo() {
      this.$router.push('/magaza/calisma-paketleri/' + this.content.id)
    },
  },
}
</script>

<style lang="scss" scoped>
.product-item-list {
  &-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
  }
}
</style>

<style lang="scss">
.modal-product {
  width: 90%;
  max-width: 90%;

  .modal__content {
    padding: 0 !important;
  }

  .product-card {
    width: 100% !important;
    margin: 0 !important;
  }
}
</style>
