<template>
  <div>
    <div class="product-card">
      <div class="product-card__left">
        <div class="product-card-cover product-card-cover--multiple">
          <swiper :options="swiperOption" class="product-card-slider js-product-card-slider">
            <swiper-slide
              v-for="product in content.products"
              :key="product.id"
              class="product-card-slider__item"
            >
              <img
                :src="product.assets.cover"
                :alt="product.title"
                class="product-card-slider__img"
              />
            </swiper-slide>
          </swiper>
        </div>

        <div class="product-card-groups">
          <div class="product-card-groups__title">Birlikte Verilecek Ürünler:</div>
          <div class="product-card-groups__list">
            <div
              class="product-card-groups__item js-modal"
              v-for="promotion in content.promotions"
              :key="promotion.id"
              v-tooltip="promotion.title"
              @click="handleClickPromotionDialogButton(promotion)"
            >
              <img :src="promotion.image" :alt="promotion.title" class="product-card-groups__img" />
            </div>
          </div>
        </div>
      </div>
      <div class="product-card__right">
        <div class="product-card-head">
          <div class="product-card-badges">
            <a
              href="#"
              class="product-card__badge"
              v-for="category in content.categories"
              :key="category.id"
              >{{ category.title }}</a
            >
          </div>

          <h1 class="product-card__title">{{ content.title }}</h1>

          <div class="product-card-ctr sm">
            <div class="product-card-ctr__item hidden-mobile">
              <div class="product-card-ctr__title">EĞİTMEN</div>
              <div class="product-card-ctr__txt">{{ content.features.teacher }}</div>
            </div>
            <div class="product-card-ctr__item hidden-mobile">
              <div class="product-card-ctr__title">TOPLAM DERS SAATİ</div>
              <div class="product-card-ctr__txt">{{ content.features.total_lesson_time }}</div>
            </div>
            <div class="product-card-ctr__item">
              <div class="product-card-ctr__title">KULLANIM SÜRESİ</div>
              <div class="product-card-ctr__txt">{{ content.features.education_time }}</div>
              <div
                class="product-card-ctr__info custom-tooltip custom-tooltip--top"
                v-tooltip="content.features.education_time_description"
              >
                <svg-icon type="icon-info"></svg-icon>
              </div>
            </div>
          </div>

          <div class="product-card__txt">{{ content.short_description }}</div>
        </div>
        <div class="product-packet">
          <div class="product-packet__head">PAKET İÇERİĞİ</div>
          <div class="product-packet__list">
            <div class="product-packet__item" v-for="product in content.products" :key="product.id">
              <div class="product-packet__left">
                <img :src="product.assets.icon" :alt="product.title" class="product-packet__icon" />
                <div class="product-packet__title">
                  {{ product.title }}
                  <span
                    class="product-packet__info"
                    @click="handleClickProductDialogButton(product)"
                  >
                    <svg-icon type="icon-info"></svg-icon>
                  </span>
                </div>
              </div>
              <div class="product-packet__right">
                <div
                  class="product-packet-price"
                  v-for="variant in product.variants"
                  :key="variant.id"
                  v-show="variant.id === product.settings.active_variant_id"
                >
                  <span class="product-packet-price__txt">{{ variant.title }}</span>
                  <div class="product-packet-price__title">{{ variant.price.toFixed(2) }} TL</div>
                </div>
                <div class="product-packet-type">
                  <label
                    class="product-packet-type__item"
                    v-for="variant in product.variants"
                    :key="variant.id"
                  >
                    <input
                      :name="'variants[' + product.id + ']'"
                      type="radio"
                      class="product-packet-type__input"
                      :checked="product.settings.active_variant_id === variant.id"
                      @click="handleClickVariantButton(product, variant)"
                    />
                    <span class="product-packet-type__icon">
                      <svg-icon style="color: #7d97ad;" :type="variant.icon" />
                    </span>
                    <span class="product-packet-type__circle"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-card-info">
          <div
            class="product-card-info__left"
            :class="{ active: content.settings.is_physical_digibook_exist }"
          >
            <div
              class="product-card-info__inner color--green js-digital-book"
              :class="{ active: !content.settings.is_physical_digibook_exist }"
              @click="handleClickNoteTypeButton(false)"
            >
              <div class="product-card-info__icon-wrp">
                <span class="product-card-info__icon">
                  <svg-icon type="icon-digital-book"></svg-icon>
                </span>
              </div>
              <div class="product-card-info__content">
                <div class="product-card-info__title">DİJİTAL ÜRÜN</div>
                <div class="product-card-info__txt">Bu üründe kargolama yoktur.</div>
              </div>
            </div>

            <div
              class="product-card-info__inner color--purple-new js-paper-book"
              :class="{ active: content.settings.is_physical_digibook_exist }"
              @click="handleClickNoteTypeButton(true)"
            >
              <div class="product-card-info__icon-wrp">
                <span class="product-card-info__icon">
                  <svg-icon type="icon-paper-book"></svg-icon>
                </span>
              </div>
              <div class="product-card-info__content">
                <div class="product-card-info__title">BASILI ÜRÜN</div>
                <div class="product-card-info__txt">Ders notlarımı basılı olarak istiyorum.</div>
              </div>
              <div class="product-card-info__paper-button" @click="note.visible = true">
                <div class="product-card-info__button-txt">
                  <span v-if="note.is_init">(+{{ note.total.toFixed(2) }})</span>
                  ÜRÜNLERİ SEÇ
                </div>
                <span class="product-card-info__plus-icon">
                  <svg-icon type="icon-plus"></svg-icon>
                </span>
              </div>
            </div>
          </div>

          <div
            class="product-card-info__right"
            :class="{ active: content.settings.is_physical_digibook_exist }"
          >
            <div
              class="product-card-info__cargo"
              :class="{ active: content.settings.is_physical_digibook_exist }"
            >
              <div class="product-card-info__cargo-icon">
                <svg-icon type="icon-truck"></svg-icon>
              </div>
              <div class="product-card-info__cargo-txt">ÜCRETSİZ KARGO</div>
            </div>

            <div class="product-card-price">
              <div class="product-card-price__left">
                <div
                  class="product-card-price__old"
                  v-if="content.shop.discount_price && content.shop.discount_price.percent"
                >
                  {{ parseFloat(content.shop.discount_price.old_price).toFixed(2) }} TL
                </div>
              </div>
              <div class="product-card-price__left">
                <div class="product-card-price__old" v-if="content.shop.price_discount">
                  {{ content.shop.price }} TL
                </div>
                <div class="product-card-price__main">
                  <template v-if="content.shop.price_discount"
                    >{{ content.shop.price_init_discount }} TL</template
                  >
                  <template v-if="!content.shop.price_discount"
                    >{{ content.shop.price }} TL</template
                  >
                </div>
              </div>
              <div class="discount" v-if="content.shop.price_discount">
                <div class="discount__title">
                  <small>{{ content.shop.price_discount_text }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-add js-product-add js-product-add-main">
          <div class="product-add-type">
            <div class="product-add-type__left">
              <div class="product-add-type__buttons">
                <label class="product-add-type__item" @click="handleClickQuantityTypeButton(false)">
                  <input
                    type="radio"
                    :name="'packages[' + content.id + ']'"
                    checked
                    class="product-add-type__input"
                  />
                  <span class="product-add-type__box js-product-type">
                    <span class="product-add-type__icon">
                      <svg-icon type="icon-user-single"></svg-icon>
                    </span>
                  </span>
                </label>
                <label class="product-add-type__item" @click="handleClickQuantityTypeButton(true)">
                  <input
                    type="radio"
                    :name="'packages[' + content.id + ']'"
                    class="product-add-type__input"
                  />
                  <span class="product-add-type__box js-product-type">
                    <span class="product-add-type__icon">
                      <svg-icon type="icon-user-multiple"></svg-icon>
                    </span>
                  </span>
                </label>
              </div>
              <div class="product-add-type__txt js-product-type-txt">
                <template v-if="!content.settings.is_multiple">Tek Kullanıcı</template>
                <template v-if="content.settings.is_multiple">Çoklu Kullanıcı</template>
              </div>
            </div>

            <div
              class="product-add-count product-add-count--hide js-product-add-count"
              :class="{ active: content.settings.is_multiple }"
            >
              <div class="input-count js-count">
                <button
                  type="button"
                  class="input-count__btn js-count-btn"
                  data-event="minus"
                  @click="handleClickQuantityButton('minus')"
                >
                  <span class="button__wrp">
                    <svg-icon type="icon-dash"></svg-icon>
                  </span>
                </button>
                <input
                  type="text"
                  class="input-count__input input-reset js-count-input"
                  readonly
                  v-model="content.shop.quantity"
                  placeholder
                />
                <button
                  type="button"
                  class="input-count__btn js-count-btn"
                  data-event="plus"
                  @click="handleClickQuantityButton('plus')"
                >
                  <svg-icon type="icon-plus"></svg-icon>
                </button>
              </div>
              <div class="product-add-type__txt">Kullanıcı Sayısı</div>
            </div>
          </div>

          <div class="product-add__right">
            <button
              type="button"
              @click="handleClickAddToBasket"
              class="button product-add__button button--green fw"
            >
              <span class="button__wrp">
                <span class="button__icon">
                  <svg-icon type="icon-cart"></svg-icon>
                </span>
                <span class="button__txt">SEPETE EKLE</span>
              </span>
            </button>
            <div class="product-add__txt" v-if="content.settings.sold_count">
              <strong>{{ content.settings.sold_count }}</strong>
              Kayıtlı Öğrenci
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      modal-class="modal-lg modal-product-other-items"
      :active="promotionDialog.visible"
      @onModalClose="promotionDialog.visible = false"
    >
      <div slot="header" class="modal__top">
        <img
          :src="promotionDialog.response.image"
          class="modal__top-img"
          :alt="promotionDialog.response.title"
        />
        <div class="modal__top-title">{{ promotionDialog.response.title }}</div>
      </div>
      <div slot="content" class="modal-product-other-items--content" style="color: #7d97ad;">
        <div v-html="promotionDialog.response.description"></div>

        <router-link
          class="modal-product-other-items--button color-white-i"
          :class="promotionDialog.response.url"
          target="_blank"
          :to="`/${promotionDialog.response.url}`"
        >
          <span>ÜCRETSİZ DENE</span>
        </router-link>
      </div>
    </modal>

    <modal
      modal-class="modal-lg modal-product-other-items"
      :active="productDialog.visible"
      @onModalClose="productDialog.visible = false"
    >
      <div slot="header" class="modal__top">
        <div class="modal__top-title inf">{{ productDialog.response.title }}</div>
      </div>
      <div slot="content" class="modal-product-other-items--content" style="color: #7d97ad;">
        <div v-html="productDialog.response.description"></div>

        <div class="product-card-inf">
          <div class="product-card-inf__item">
            <span class="product-card-inf__icon">
              <svg-icon type="icon-date-start" />
            </span>
            <div class="product-card-inf__cnt">
              <div class="product-card-inf__txt">Başlangıç Tarihi</div>
              <div class="product-card-inf__title">
                {{ productDialog.response.features.start_at }}
              </div>
            </div>
          </div>

          <div class="product-card-inf__item">
            <span class="product-card-inf__icon">
              <svg-icon type="icon-date-end" />
            </span>
            <div class="product-card-inf__cnt">
              <div class="product-card-inf__txt">Bitiş Tarihi</div>
              <div class="product-card-inf__title">
                {{ productDialog.response.features.end_at }}
              </div>
            </div>
          </div>

          <div class="product-card-inf__item">
            <span class="product-card-inf__icon">
              <svg-icon type="icon-timer" />
            </span>
            <div class="product-card-inf__cnt">
              <div class="product-card-inf__txt">Ders Saati</div>
              <div class="product-card-inf__title">
                {{ productDialog.response.features.lesson_time }} Saat
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>

    <modal
      modal-class="modal-lg modal-book no-pad modal-content-books"
      :active="note.visible"
      @onModalClose="note.visible = false"
    >
      <div slot="header" style="border-bottom: 1px solid #e0e7ed;">
        <div style="padding: 20px; font-size: 22px; font-weight: 600; color: #4545a2;">
          BASILI ÜRÜNLER
        </div>
      </div>
      <div slot="content" style="color: #7d97ad;">
        <div class="n-products--books">
          <div v-for="product in content.products" :key="product.id">
            <div class="n-products--books">
              <div class="books-popup__wrp">
                <div class="books-popup__main" v-for="note in product.notes" :key="note.id">
                  <div class="books-popup__img">
                    <img :src="note.assets.list_image" :alt="note.title" />
                  </div>
                  <div class="books-popup__content">
                    <div class="books-popup__cnt column">
                      <div class="books-popup__txt">{{ product.title }}</div>
                      <div class="books-popup__title">{{ note.title }}</div>
                    </div>
                    <div class="books-popup__items">
                      <div class="books-popup__item">
                        <div class="books-popup__icon">
                          <svg-icon type="icon-papers" />
                        </div>
                        <div class="books-popup__item-cnt">
                          <div class="books-popup__item-title">Sayfa Sayısı</div>
                          <div class="books-popup__item-number">
                            {{ note.features.paper_page_count }}
                          </div>
                        </div>
                      </div>
                      <div class="books-popup__item">
                        <div class="books-popup__icon">
                          <svg-icon type="icon-book" />
                        </div>
                        <div class="books-popup__item-cnt">
                          <div class="books-popup__item-title">Kapak Türü</div>
                          <div class="books-popup__item-number">{{ note.features.cover_type }}</div>
                        </div>
                      </div>
                      <div class="books-popup__item">
                        <div class="books-popup__icon">
                          <svg-icon type="icon-paper-type" />
                        </div>
                        <div class="books-popup__item-cnt">
                          <div class="books-popup__item-title">Kağıt Cinsi</div>
                          <div class="books-popup__item-number">{{ note.features.paper_type }}</div>
                        </div>
                      </div>
                      <div class="books-popup__item">
                        <div class="books-popup__icon">
                          <svg-icon type="icon-ruler" />
                        </div>
                        <div class="books-popup__item-cnt">
                          <div class="books-popup__item-title">Boyut</div>
                          <div class="books-popup__item-number">{{ note.features.size }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="books-popup__count">
                    <div class="input-count js-count">
                      <button
                        class="input-count__btn single-js-count-btn"
                        @click="handleClickNoteQuantityButton(note, 'minus')"
                      >
                        <span class="button__wrp">
                          <span class="minus"></span>
                        </span>
                      </button>
                      <input
                        type="text"
                        class="quantity-value input-count__input input-reset"
                        readonly
                        v-model="note.shop.quantity"
                      />
                      <button
                        class="input-count__btn single-js-count-btn"
                        @click="handleClickNoteQuantityButton(note, 'plus')"
                      >
                        <span class="button__wrp">
                          <span class="plus"></span>
                        </span>
                      </button>
                    </div>
                    <div class="books-popup__count-txt">Kopya Sayısı</div>
                  </div>
                  <div class="books-popup__price">
                    <div class="books-popup__price-number">
                      {{ parseFloat(note.shop.price).toFixed(2) }} TL
                    </div>
                    <div class="books-popup__price-cargo">Ücretsiz Kargo</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="books-popup__bottom">
          <div class="books-popup__total-price">
            <div class="books-popup__total-price__txt">EKLENECEK TUTAR</div>
            <div class="books-popup__total-price__number">
              <span class="js-total-book-price">{{ note.total }}</span> TL
            </div>
          </div>
          <div class="books-popup__bottom--btn product-card">
            <button
              @click="handleClickNotePriceInitButton"
              class="button product-add__button button--green"
              type="button"
            >
              <span class="button__wrp">
                <span class="button__icon">
                  <svg-icon type="icon-cart" />
                </span>
                <span class="button__txt">SEPETE EKLE</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
import _ from 'lodash'

export default {
  name: 'PackageItem',
  components: {
    Modal
  },
  props: ['content', 'basket'],
  data() {
    return {
      swiperOption: {
        effect: 'coverflow',
        grabCursor: true,
        loop: true,
        centeredSlides: true,
        keyboard: true,
        slidesPerView: 'auto',
        speed: 500,
        coverflowEffect: {
          rotate: 0,
          stretch: 94,
          depth: 45,
          modifier: 3,
          slideShadows: true
        },
        breakpoints: {
          768: {
            coverflowEffect: {
              rotate: 0,
              stretch: 77,
              depth: 45,
              modifier: 3,
              slideShadows: false
            }
          },
          800: {
            coverflowEffect: {
              rotate: 0,
              stretch: 70,
              depth: 45,
              modifier: 3,
              slideShadows: false
            }
          },
          992: {
            coverflowEffect: {
              rotate: 0,
              stretch: 70,
              depth: 45,
              modifier: 3,
              slideShadows: false
            }
          },
          1200: {
            coverflowEffect: {
              rotate: 0,
              stretch: 71,
              depth: 45,
              modifier: 3,
              slideShadows: false
            }
          }
        },
        simulateTouch: true,
        pagination: {
          el: '.js-product-card-slider-pagination',
          clickable: true
          // el: null,
        }
      },

      promotionDialog: {
        response: {
          //
        },
        visible: false
      },

      productDialog: {
        response: {
          features: {}
        },
        visible: false
      },

      note: {
        visible: false,
        is_init: false,
        total: 0
      }
    }
  },
  watch: {
    handleClickPromotionDialogButton(promotion) {
      const mq = window.matchMedia('(max-width: 769px)')
      this.promotionDialog.response = promotion
      this.promotionDialog.visible = true
      if (this.promotionDialog.visible) {
        if (mq.matches) {
          console.log(document.body.classList.add('overflow-y-hidden--mobile'))
          console.log(
            document
              .getElementsByTagName('html')[0]
              .classList.add('overflow-y-hidden--mobile--noheight')
          )
          document.getElementById('nav').style.display = 'none'
        }
      } else {
        if (mq.matches) {
          console.log(document.body.classList.remove('overflow-y-hidden--mobile'))
          console.log(
            document
              .getElementsByTagName('html')[0]
              .classList.remove('overflow-y-hidden--mobile--noheight')
          )
          document.getElementById('nav').style.display = ''
        }
      }
    }
  },
  methods: {
    handleClickPromotionDialogButton(promotion) {
      this.promotionDialog.response = promotion
      this.promotionDialog.visible = true
    },

    goApp() {
      this.$router.push('/deneme')
    },

    handleClickProductDialogButton(product) {
      this.productDialog.response = product
      this.productDialog.visible = true
    },

    handleClickVariantButton(product, variant) {
      product.settings.active_variant_id = variant.id

      this.calculate()
    },

    handleClickNoteTypeButton(status) {
      this.content.settings.is_physical_digibook_exist = status
      this.note.is_init = status

      this.calculate()
    },

    handleClickQuantityTypeButton(status) {
      this.content.settings.is_multiple = status
      this.content.shop.quantity = 1

      this.calculate()
    },

    handleClickQuantityButton(type) {
      if (type === 'minus') {
        this.content.shop.quantity--
      } else {
        this.content.shop.quantity++
      }

      if (this.content.shop.quantity > 5) {
        this.content.shop.quantity = 5
      }

      if (this.content.shop.quantity < 1) {
        this.content.shop.quantity = 1
      }

      this.calculate()
    },

    handleClickNoteQuantityButton(note, type) {
      if (type === 'minus') {
        note.shop.quantity--
      } else {
        note.shop.quantity++
      }

      if (note.shop.quantity > 5) {
        note.shop.quantity = 5
      }

      if (note.shop.quantity < 0) {
        note.shop.quantity = 0
      }

      this.calculateNotePrices()
    },

    handleClickNotePriceInitButton() {
      this.calculateNotePrices()
      this.note.is_init = true
      this.note.visible = false

      this.calculate()
    },

    calculateNotePrices() {
      let total = 0

      _.forEach(this.content.products, product => {
        _.forEach(product.notes, note => {
          total += note.shop.price * note.shop.quantity
        })
      })

      this.note.total = total
    },

    calculate() {
      let productTotal = 0
      let noteTotal = 0
      let total = 0
      let quantity = this.content.shop.quantity
      let discount = this.content.shop.discounts[quantity]
      let discountText = this.content.shop.discount_texts[quantity]

      _.forEach(this.content.products, product => {
        _.forEach(product.variants, variant => {
          if (product.settings.active_variant_id === variant.id) {
            productTotal += parseFloat(variant.price) * quantity
          }
        })
      })

      total += productTotal

      if (this.note.is_init) {
        noteTotal = this.note.total
      }

      if (discount) {
        total -= (productTotal / 100) * discount
        this.content.shop.price_init_discount = (total + noteTotal).toFixed(2)
      }

      this.content.shop.price = (productTotal + noteTotal).toFixed(2)
      this.content.shop.price_discount_text = discountText
    },

    handleClickAddToBasket() {
      let form = {
        package_id: this.content.id,
        quantity: this.content.shop.quantity,
        products: [],
        book_ids: []
      }

      _.forEach(this.content.products, product => {
        _.forEach(product.variants, variant => {
          if (product.settings.active_variant_id === variant.id) {
            form.products.push(variant.id)
          }
        })

        if (this.note.is_init) {
          _.forEach(product.notes, note => {
            form.book_ids.push(note.id + ',' + note.shop.quantity)
          })
        }
      })

      this.basket(form)
    }
  }
}
</script>

<style lang="scss">
.product-card-cover--multiple .swiper-container {
  overflow: inherit !important;
}

.product-card-ctr {
  &.sm {
    font-size: 14px !important;
  }
}

.modal-book {
  width: 100% !important;
  max-width: 1100px !important;
  &.no-pad {
    .modal__content {
      padding: 0;
    }
  }

  .items {
    margin-bottom: 20px;
  }
}
.n-products--books--h2 {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  padding: 10px 0;
  padding-left: 20px;
  border-top: 1px solid #e0e7ed;
}
</style>
