<template>
  <div>
    <Wizard ref="Wizard" />

    <hr class="f-line" />

    <div
      class="d-flex justify-content-between custom-subtitle-area mobile-flex-column"
      v-if="response.content && !response.content.settings.is_purchased"
    >
      <div class="shop-page--title" data-color="purple">
        <svg-icon type="icon-star"></svg-icon>
        <span>
          <strong> <b>ÇALIŞMA PAKETİ</b> ÖNERİLERİ </strong>
        </span>
      </div>
      <div class="settings-button" @click="$refs.Wizard.handleVisibleDialog()">
        <span>
          (Çalışma Paketleri sihirbaza verdiğiniz yanıtlar doğrultusunda size paket önermektedir.)
        </span>
        <button
          v-tooltip="{
            content: 'Ürün Sihirbazını Tekrar Çöz',
            classes: 'tooltip-singleline'
          }"
        >
          <svg-icon type="icon-setting"></svg-icon>
        </button>
      </div>
    </div>

    <PackageItem
      :content="response.content"
      :basket="basket"
      v-if="response.content && !response.content.settings.is_purchased"
    />

    <hr class="f-line" />

    <div
      class="d-flex justify-content-between custom-subtitle-area mobile-flex-column"
      v-if="checkDataSize(response.products)"
    >
      <div class="shop-page--title" data-color="green">
        <svg-icon type="icon-star"></svg-icon>
        <span>
          <svg-icon type="icon-monitor"></svg-icon>
          <strong> <b>ONLINE DERS</b> ÖNERİLERİ </strong>
        </span>
      </div>
    </div>

    <swiper :options="swiperOption2" v-if="checkDataSize(response.products)">
      <template
        v-if="
          response.content &&
            response.content.settings.is_purchased &&
            !product.settings.is_purchased
        "
      >
        <swiper-slide v-for="product in response.content.products" :key="product.id">
          <h4 class="shop-main-h4">
            {{ response.content.title }} Çalışma paketini eksik aldığınız için önerilmektedir.
          </h4>
          <ProductItem
            :product="product"
            :basket="basket"
            :key="'content-' + product.id"
            @onPromotionClick="showPromotionModal"
          />
        </swiper-slide>
      </template>

      <swiper-slide v-for="product in response.products" :key="product.id">
        <h4 class="shop-main-h4">{{ product.suggestion_title }}</h4>
        <ProductItem
          :product="product"
          :basket="basket"
          :key="product.id"
          @onPromotionClick="showPromotionModal"
        />
      </swiper-slide>
      <div class="swiper-button-prev dictionary-slider__arrow" slot="button-prev">
        <svg-icon type="icon-arrow-left" />
      </div>
      <div class="swiper-button-next dictionary-slider__arrow" slot="button-next">
        <svg-icon type="icon-arrow-right" />
      </div>
    </swiper>
    <div class="swiper-pagination slide-2"></div>

    <hr class="f-line" />

    <div
      class="d-flex justify-content-between custom-subtitle-area mobile-flex-column"
      v-if="checkDataSize(response.notes)"
    >
      <div class="shop-page--title" data-color="red">
        <svg-icon type="icon-star"></svg-icon>
        <span>
          <svg-icon type="icon-paper-book"></svg-icon>
          <strong> <b>DERS NOTLARI</b> ÖNERİLERİ </strong>
        </span>
      </div>
    </div>

    <swiper :options="swiperOption3" v-if="checkDataSize(response.notes)">
      <swiper-slide v-for="(product, index) in response.notes" :key="index">
        <ProductItem :product="product" :basket="basket" :key="product.id" />
      </swiper-slide>
      <div class="swiper-button-prev dictionary-slider__arrow" slot="button-prev">
        <svg-icon type="icon-arrow-left" />
      </div>
      <div class="swiper-button-next dictionary-slider__arrow" slot="button-next">
        <svg-icon type="icon-arrow-right" />
      </div>
    </swiper>

    <div class="swiper-pagination slide-3"></div>
  </div>
</template>

<script>
import Wizard from './Wizard'
import PackageItem from './PackageItem'
import ProductItem from './ProductItem'
import _ from 'lodash'

export default {
  name: 'PrivateTab',
  components: {
    ProductItem,
    PackageItem,
    Wizard
  },
  props: ['tab', 'response', 'basket'],
  data() {
    return {
      swiperOption1: {
        grabCursor: true,
        autoHeight: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.slide-1',
          type: 'bullets'
        },
        simulateTouch: false
      },
      swiperOption2: {
        grabCursor: true,
        autoHeight: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.slide-2',
          type: 'bullets'
        },
        simulateTouch: false
      },
      swiperOption3: {
        grabCursor: true,
        autoHeight: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.slide-3',
          type: 'bullets'
        },
        simulateTouch: false
      }
    }
  },
  methods: {
    showPromotionModal(item) {
      console.log(item)
    },

    checkDataSize(items) {
      return _.size(items)
    }
  }
}
</script>
