<template>
  <div>
    <div class="d-flex justify-content-between" v-if="tab.filter">
      <div class="radio-group">
        <label v-for="category in tab.filter.categories" :key="category.value">
          <input name="group1" type="radio" />
          <span>
            {{ category.label }}
            <i class="seperator">
              <svg-icon type="icon-check"></svg-icon>
            </i>
          </span>
        </label>
      </div>
    </div>

    <div class="row" style="margin-top: 40px">
      <div
        class="col-6 col-md-3 product-item__wrp"
        v-for="product in response.items"
        :key="product.id"
      >
        <ProductListItem :product="product" :basket="basket" />
      </div>
    </div>
  </div>
</template>

<script>
import ProductListItem from './ProductListItem'
export default {
  name: 'ProductTab',
  components: { ProductListItem },
  props: ['tab', 'response', 'basket'],
  data() {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>
