<template>
  <div v-if="product.shop">
    <div class="product-item" @click="hadnleGo">
      <div class="product-item__inner">
        <div class="product-item__top">
          <div class="product-item__cover">
            <img :src="product.assets.list_image" :alt="product.title" class="product-item__img" />
          </div>
        </div>
        <div class="product-item__cnt">
          <h4 class="product-item__title">{{ product.title }}</h4>

          <div
            class="product-item-price"
            v-if="product.shop.discount_price && product.shop.discount_price.percent"
          >
            <div
              class="product-item-price__left discount"
            >%{{ product.shop.discount_price.percent }}</div>
            <div class="product-item-price__left">
              <div class="product-item-price__old">{{ product.shop.discount_price.old_price }} TL</div>
              <div class="product-item-price__main">{{ product.shop.discount_price.price }} TL</div>
            </div>
          </div>

          <div
            class="product-item-price"
            v-if="!product.shop.discount_price || !product.shop.discount_price.percent"
          >
            <div class="product-item-price__left" style="margin: 0">
              <div class="product-item-price__main">{{ product.shop.price }} TL</div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="product-item__btn fast-basket-add">ÜRÜN DETAY</button>
    </div>
  </div>
</template>

<script>
// import Modal from '../Modal'

export default {
  name: 'ProductListItem',
  components: {
    // Modal
  },
  props: ['product', 'basket'],
  data() {
    return {
      //
    }
  },
  methods: {
    hadnleGo() {
      this.$router.push('/magaza/urunler/' + this.product.id)
    }
  }
}
</script>

<style lang="scss">
.modal-product {
  width: 90%;
  max-width: 90%;

  .modal__content {
    padding: 0 !important;
  }

  .product-card {
    width: 100% !important;
    margin: 0 !important;
  }
}
</style>
