<template>
  <div>
    <div class="product-card">
      <div class="product-card__left">
        <div class="product-card-cover product-card-cover--single">
          <img :src="product.assets.list_image" :alt="product.title" class="product-card-cover__img" />
        </div>
        <div class="product-card-groups" v-if="checkDataSize(product.promotions)">
          <div class="product-card-groups__title">Birlikte Verilecek Ürünler:</div>
          <div class="product-card-groups__list">
            <div
              class="product-card-groups__item js-modal"
              v-for="promotion in product.promotions"
              :key="promotion.id"
              v-tooltip="promotion.title"
              @click="handleClickPromotionDialogButton(promotion)"
            >
              <img :src="promotion.image" :alt="promotion.title" class="product-card-groups__img" />
            </div>
          </div>
        </div>
      </div>
      <div class="product-card__right">
        <div class="product-card-head">
          <div class="product-card-badges">
            <span
              class="product-card__badge"
              v-for="category in product.categories"
              :key="category.id"
              >{{ category.title }}</span
            >
          </div>

          <h1 class="product-card__title">{{ product.title }}</h1>

          <div v-if="product.type === 'book' || product.type === 'notebook'">
            <div class="product-card-inf">
              <div class="product-card-inf__item">
                <span class="product-card-inf__icon">
                  <svg-icon type="icon-papers"></svg-icon>
                </span>
                <div class="product-card-inf__cnt">
                  <div class="product-card-inf__txt">Sayfa Sayısı</div>
                  <div class="product-card-inf__title">{{ product.features.paper_page_count }}</div>
                </div>
              </div>

              <div class="product-card-inf__item" v-if="product.features.cover_type">
                <span class="product-card-inf__icon">
                  <svg-icon type="icon-book"></svg-icon>
                </span>
                <div class="product-card-inf__cnt">
                  <div class="product-card-inf__txt">Kapak Türü</div>
                  <div class="product-card-inf__title">{{ product.features.cover_type }}</div>
                </div>
              </div>

              <div class="product-card-inf__item">
                <span class="product-card-inf__icon">
                  <svg-icon type="icon-paper-type"></svg-icon>
                </span>
                <div class="product-card-inf__cnt">
                  <div class="product-card-inf__txt">Kağıt Cinsi</div>
                  <div class="product-card-inf__title">{{ product.features.paper_type }}</div>
                </div>
              </div>

              <div class="product-card-inf__item">
                <span class="product-card-inf__icon">
                  <svg-icon type="icon-ruler"></svg-icon>
                </span>
                <div class="product-card-inf__cnt">
                  <div class="product-card-inf__txt">Boyut</div>
                  <div class="product-card-inf__title">{{ product.features.size }}</div>
                </div>
              </div>
            </div>

            <div class="product-card-ctr" v-if="product.type === 'book'">
              <div class="product-card-ctr__item">
                <div class="product-card-ctr__title">BASIM YILI</div>
                <div class="product-card-ctr__txt">{{ product.features.printing_year }}</div>
              </div>
              <div class="product-card-ctr__item">
                <div class="product-card-ctr__title">BASKI</div>
                <div class="product-card-ctr__txt">{{ product.features.printing }}</div>
              </div>
              <div class="product-card-ctr__item ml-auto justify-content-end">
                <div class="product-card-ctr__title">ISBN</div>
                <div class="product-card-ctr__txt">{{ product.features.isbn }}</div>
              </div>
            </div>
          </div>

          <div class="product-card-ctr" v-if="product.type === 'lesson'">
            <div class="product-card-ctr__item hidden-mobile">
              <div class="product-card-ctr__title">EĞİTMEN</div>
              <div class="product-card-ctr__txt">{{ product.features.teacher }}</div>
            </div>
            <div class="product-card-ctr__item">
              <div class="product-card-ctr__title">KULLANIM SÜRESİ</div>
              <div class="product-card-ctr__txt">{{ product.features.duration_at }}</div>
              <div
                class="product-card-ctr__info custom-tooltip custom-tooltip--top"
                v-tooltip="'İlk ders başlama tarihinden itibaren ' + product.features.duration_at"
              >
                <svg-icon type="icon-info"></svg-icon>
              </div>
            </div>
          </div>

          <div class="product-card-inf" v-if="product.type === 'lesson'">
            <div class="product-card-inf__item visible-mobile">
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Eğitmen</div>
                <div class="product-card-inf__title">{{ product.features.teacher }}</div>
              </div>
            </div>

            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-calendar-play"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Başlangıç Tarihi</div>
                <div class="product-card-inf__title">{{ product.features.start_at }}</div>
              </div>
            </div>

            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-calendar-off"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Bitiş Tarihi</div>
                <div class="product-card-inf__title">{{ product.features.end_at }}</div>
              </div>
            </div>

            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-timer"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Ders Saati</div>
                <div class="product-card-inf__title">{{ product.features.lesson_time }} Saat</div>
              </div>
            </div>
          </div>

          <div class="product-card__txt">{{ product.short_description }}</div>

          <div class="product-card-info" v-if="product.type !== 'lesson'">
            <div class="product-card-info__left">
              <div class="product-card-info__top">
                <span class="product-card-info__icon">
                  <svg-icon type="icon-truck"></svg-icon>
                </span>
                <div
                  class="product-card-info__title"
                  style="opacity: 1; visibility: inherit; margin-left: 10px;"
                >
                  <template v-if="product.type !== 'book'">ÜCRETSİZ KARGO</template>
                  <template v-else>
                    <template v-if="product.shop.min_shipping_price > product.shop.price"
                      >{{ product.shop.min_shipping_price }} TL ve üzeri ücretsiz kargo</template
                    >
                    <template v-else>Ücretsiz Kargo</template>
                  </template>
                </div>
              </div>
            </div>

            <div class="product-card-info__right">
              <div class="product-card-price">
                <div class="product-card-price__left">
                  <div
                    class="product-card-price__old"
                    v-if="product.shop.discount_price && product.shop.discount_price.percent"
                  >
                    {{ parseFloat(product.shop.discount_price.old_price).toFixed(2) }} TL
                  </div>
                  <div class="product-card-price__main">
                    <template
                      v-if="product.shop.discount_price && product.shop.discount_price.percent"
                      >{{ parseFloat(product.shop.discount_price.price).toFixed(2) }} TL</template
                    >
                    <template v-if="!product.shop.discount_price"
                      >{{ parseFloat(product.shop.price).toFixed(2) }} TL</template
                    >
                    <template
                      v-if="product.shop.discount_price && !product.shop.discount_price.percent"
                      >{{ parseFloat(product.shop.price).toFixed(2) }} TL</template
                    >
                  </div>
                </div>
                <div
                  class="discount"
                  v-if="product.shop.discount_price && product.shop.discount_price.percent"
                >
                  <div class="discount__title">
                    {{ product.shop.discount_price.percent }}
                    <small>%</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-card-type" v-if="product.type === 'lesson'">
            <label
              class="product-card-type__item"
              v-for="variant in product.variants"
              :key="variant.id"
            >
              <input
                type="radio"
                name="type"
                class="product-card-type__input"
                :checked="product.settings.active_variant_id === variant.id"
                @click="handleClickVariantButton(product, variant)"
              />
              <span class="product-card-type__wrp">
                <span class="product-card-type__box"></span>
                <span class="product-card-type__icon">
                  <svg-icon :type="variant.icon"></svg-icon>
                </span>
                <span class="product-card-type__cnt">
                  <span class="product-card-type__title">{{ variant.title }}</span>
                  <span class="product-card-type__txt">İZLE</span>
                </span>
              </span>
            </label>
          </div>

          <div class="product-card-info" v-if="product.type === 'lesson'">
            <div
              class="product-card-info__left"
              :class="{ active: product.settings.is_physical_digibook_exist }"
            >
              <div
                class="product-card-info__inner color--green js-digital-book"
                :class="{ active: !product.settings.is_physical_digibook_exist }"
                @click="handleClickNoteTypeButton(false)"
              >
                <div class="product-card-info__icon-wrp">
                  <span class="product-card-info__icon">
                    <svg-icon type="icon-digital-book"></svg-icon>
                  </span>
                </div>
                <div class="product-card-info__content">
                  <div class="product-card-info__title">DİJİTAL ÜRÜN</div>
                  <div class="product-card-info__txt">Bu üründe kargolama yoktur.</div>
                </div>
              </div>

              <div
                class="product-card-info__inner color--purple-new js-paper-book"
                :class="{ active: product.settings.is_physical_digibook_exist }"
                @click="handleClickNoteTypeButton(true)"
              >
                <div class="product-card-info__icon-wrp">
                  <span class="product-card-info__icon">
                    <svg-icon type="icon-paper-book"></svg-icon>
                  </span>
                </div>
                <div class="product-card-info__content">
                  <div class="product-card-info__title">BASILI ÜRÜN</div>
                  <div class="product-card-info__txt">Ders notlarımı basılı olarak istiyorum.</div>
                </div>
                <div class="product-card-info__paper-button" @click="showNotesModal(product)">
                  <div class="product-card-info__button-txt">
                    <span v-if="note.is_init">(+{{ note.total.toFixed(2) }})</span>
                    ÜRÜNLERİ SEÇ
                  </div>
                  <span class="product-card-info__plus-icon">
                    <svg-icon type="icon-plus"></svg-icon>
                  </span>
                </div>
              </div>
            </div>

            <div
              class="product-card-info__right"
              :class="{ active: product.settings.is_physical_digibook_exist }"
            >
              <div
                class="product-card-info__cargo"
                :class="{ active: product.settings.is_physical_digibook_exist }"
              >
                <div class="product-card-info__cargo-icon">
                  <svg-icon type="icon-truck"></svg-icon>
                </div>
                <div class="product-card-info__cargo-txt">ÜCRETSİZ KARGO</div>
              </div>
              <div class="product-card-price">
                <div class="product-card-price__left">
                  <div
                    class="product-card-price__old"
                    v-if="product.shop.discount_price && product.shop.discount_price.percent !== 0"
                  >
                    {{
                      parseFloat(product.shop.price + (note.is_init ? note.total : 0)).toFixed(2)
                    }}
                    TL
                  </div>
                  <div class="product-card-price__main">
                    <template v-if="product.shop.discount_price">
                      {{
                        parseFloat(
                          product.shop.discount_price.price + (note.is_init ? note.total : 0)
                        ).toFixed(2)
                      }}
                      TL
                    </template>
                    <template v-if="!product.shop.discount_price">
                      {{
                        parseFloat(product.shop.price + (note.is_init ? note.total : 0)).toFixed(2)
                      }}
                      TL
                    </template>
                  </div>
                </div>
                <div
                  class="discount"
                  v-if="product.shop.discount_price && product.shop.discount_price.percent"
                >
                  <div class="discount__title">
                    {{ product.shop.discount_price.percent }}
                    <small>%</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-add js-product-add js-product-add-main">
            <div class="product-add-type">
              <div class="product-add-type__left">
                <div class="product-add-type__buttons">
                  <label
                    class="product-add-type__item"
                    @click="handleClickQuantityTypeButton(false)"
                  >
                    <input
                      type="radio"
                      :name="'products[' + product.id + ']'"
                      checked
                      class="product-add-type__input"
                    />
                    <span class="product-add-type__box js-product-type">
                      <span class="product-add-type__icon">
                        <svg-icon type="icon-user-single"></svg-icon>
                      </span>
                    </span>
                  </label>
                  <label
                    class="product-add-type__item"
                    @click="handleClickQuantityTypeButton(true)"
                  >
                    <input
                      type="radio"
                      :name="'products[' + product.id + ']'"
                      class="product-add-type__input"
                    />
                    <span class="product-add-type__box js-product-type">
                      <span class="product-add-type__icon">
                        <svg-icon type="icon-user-multiple"></svg-icon>
                      </span>
                    </span>
                  </label>
                </div>
                <div class="product-add-type__txt js-product-type-txt">
                  <template v-if="!product.settings.is_multiple">Tek Kullanıcı</template>
                  <template v-if="product.settings.is_multiple">Çoklu Kullanıcı</template>
                </div>
              </div>

              <div
                class="product-add-count product-add-count--hide js-product-add-count"
                :class="{ active: product.settings.is_multiple }"
              >
                <div class="input-count js-count">
                  <button
                    type="button"
                    class="input-count__btn js-count-btn"
                    data-event="minus"
                    @click="handleClickQuantityButton('minus')"
                  >
                    <span class="button__wrp">
                      <svg-icon type="icon-dash"></svg-icon>
                    </span>
                  </button>
                  <input
                    type="text"
                    class="input-count__input input-reset js-count-input"
                    readonly
                    v-model="product.shop.quantity"
                    placeholder
                  />
                  <button
                    type="button"
                    class="input-count__btn js-count-btn"
                    data-event="plus"
                    @click="handleClickQuantityButton('plus')"
                  >
                    <svg-icon type="icon-plus"></svg-icon>
                  </button>
                </div>
                <div class="product-add-type__txt">Kullanıcı Sayısı</div>
              </div>
            </div>

            <div class="product-add__right">
              <button
                type="button"
                @click="handleClickAddToBasket"
                class="button product-add__button button--green fw"
              >
                <span class="button__wrp">
                  <span class="button__icon">
                    <svg-icon type="icon-cart"></svg-icon>
                  </span>
                  <span class="button__txt">SEPETE EKLE</span>
                </span>
              </button>
              <div class="product-add__txt" v-if="product.settings.sold_count">
                <strong>{{ product.settings.sold_count }}</strong>
                Kayıtlı Öğrenci
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      modal-class="modal-lg modal-product-other-items"
      :active="promotionDialog.visible"
      @onModalClose="promotionDialog.visible = false"
    >
      <div slot="header" class="modal__top">
        <img
          :src="promotionDialog.response.image"
          class="modal__top-img"
          :alt="promotionDialog.response.title"
        />
        <div class="modal__top-title">{{ promotionDialog.response.title }}</div>
      </div>
      <div slot="content" class="modal-product-other-items--content" style="color: #7d97ad;">
        <div v-html="promotionDialog.response.description"></div>
        <router-link
          class="modal-product-other-items--button color-white-i"
          :class="promotionDialog.response.url"
          target="_blank"
          :to="`/${promotionDialog.response.url}`"
        >
          <span>ÜCRETSİZ DENE</span>
        </router-link>
      </div>
    </modal>
    <modal
      modal-class="modal-lg modal-book no-pad modal-content-books"
      :active="note.visible && index === undefined"
      @onModalClose="note.visible = false"
    >
      <div slot="header" style="border-bottom: 1px solid #e0e7ed;">
        <div style="padding: 20px; font-size: 22px; font-weight: 600; color: #4545a2;">
          BASILI ÜRÜNLER
        </div>
      </div>
      <div slot="content" style="color: #7d97ad;">
        <div class="n-products--books">
          <div class="books-popup__wrp">
            <div class="books-popup__main" v-for="note in product.notes" :key="note.id">
              <div class="books-popup__img">
                <img :src="note.assets.list_image" :alt="note.title" />
              </div>
              <div class="books-popup__content">
                <div class="books-popup__cnt column">
                  <div class="books-popup__txt">{{ product.title }}</div>
                  <div class="books-popup__title">{{ note.title }}</div>
                </div>
                <div class="books-popup__items">
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-papers" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Sayfa Sayısı</div>
                      <div class="books-popup__item-number">
                        {{ note.features.paper_page_count }}
                      </div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-book" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Kapak Türü</div>
                      <div class="books-popup__item-number">{{ note.features.cover_type }}</div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-paper-type" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Kağıt Cinsi</div>
                      <div class="books-popup__item-number">{{ note.features.paper_type }}</div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-ruler" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Boyut</div>
                      <div class="books-popup__item-number">{{ note.features.size }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="books-popup__count">
                <div class="input-count js-count">
                  <button
                    class="input-count__btn single-js-count-btn"
                    @click="handleClickNoteQuantityButton(note, 'minus')"
                  >
                    <span class="button__wrp">
                      <span class="minus"></span>
                    </span>
                  </button>
                  <input
                    type="text"
                    class="quantity-value input-count__input input-reset"
                    readonly
                    v-model="note.shop.quantity"
                  />
                  <button
                    class="input-count__btn single-js-count-btn"
                    @click="handleClickNoteQuantityButton(note, 'plus')"
                  >
                    <span class="button__wrp">
                      <span class="plus"></span>
                    </span>
                  </button>
                </div>
                <div class="books-popup__count-txt">Kopya Sayısı</div>
              </div>
              <div class="books-popup__price">
                <div class="books-popup__price-number">
                  {{ parseFloat(note.shop.price).toFixed(2) }} TL
                </div>
                <div class="books-popup__price-cargo">Ücretsiz Kargo</div>
              </div>
            </div>
          </div>
        </div>

        <div class="books-popup__bottom">
          <div class="books-popup__total-price">
            <div class="books-popup__total-price__txt">EKLENECEK TUTAR</div>
            <div class="books-popup__total-price__number">
              <span class="js-total-book-price">{{ note.total }}</span> TL
            </div>
          </div>
          <div class="books-popup__bottom--btn product-card">
            <button
              @click="handleClickNotePriceInitButton"
              class="button product-add__button button--green fw"
              type="button"
            >
              <span class="button__wrp">
                <span class="button__icon">
                  <svg-icon type="icon-cart" />
                </span>
                <span class="button__txt">SEPETE EKLE</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
import _ from 'lodash'

export default {
  name: 'ProductItem',
  components: {
    Modal
  },
  props: ['product', 'basket', 'index'],
  data() {
    return {
      promotionDialog: {
        response: {
          //
        },
        visible: false
      },

      note: {
        visible: false,
        is_init: false,
        total: 0
      },

      productPrice: this.product.shop.price,
      notePrice: 0
    }
  },

  computed: {
    computedPrice() {
      return parseFloat(this.note.total + this.productPrice).toFixed(2) + ' TL'
    }
  },

  mounted() {
    //
  },
  methods: {
    showNotesModal(product) {
      this.$emit('onShowNotes', product, this.index)
      this.note.visible = true
    },

    checkDataSize(items) {
      return _.size(items)
    },

    handleClickPromotionDialogButton(promotion) {
      this.promotionDialog.response = promotion
      this.promotionDialog.visible = true
    },

    handleClickVariantButton(product, variant) {
      product.settings.active_variant_id = variant.id
      product.shop.quantity = 1
      product.shop.price = variant.price.toFixed(2)
      product.shop.discount_price = variant.discount_price
      product.shop.discount_prices = variant.discount_prices

      this.calculate()
    },

    handleClickNoteTypeButton(status) {
      this.product.settings.is_physical_digibook_exist = status
      this.note.is_init = status

      this.calculate()
    },

    handleClickQuantityTypeButton(status) {
      this.product.settings.is_multiple = status
      this.product.shop.quantity = 1

      this.calculate()
    },

    handleClickQuantityButton(type) {
      if (type === 'minus') {
        this.product.shop.quantity--
      } else {
        this.product.shop.quantity++
      }

      if (this.product.shop.quantity > 5) {
        this.product.shop.quantity = 5
      }

      if (this.product.shop.quantity < 1) {
        this.product.shop.quantity = 1
      }

      this.calculate()
    },

    handleClickNoteQuantityButton(note, type) {
      if (type === 'minus') {
        note.shop.quantity--
      } else {
        note.shop.quantity++
      }

      if (note.shop.quantity > 5) {
        note.shop.quantity = 5
      }

      if (note.shop.quantity < 0) {
        note.shop.quantity = 0
      }

      this.calculateNotePrices()
    },

    fromParent(index) {
      console.log('from parent', index)
    },

    handleClickNotePriceInitButton() {
      this.calculateNotePrices()
      this.note.is_init = true
      this.note.visible = false

      this.calculate()
    },

    calculateNotePrices() {
      let total = 0

      _.forEach(this.product.notes, note => {
        total += note.shop.price * note.shop.quantity
      })

      this.note.total = total
      this.notePrice = this.note.total
    },

    calculate() {
      let quantity = this.product.shop.quantity
      let discount = this.product.shop.discount_prices[quantity]

      this.product.shop.discount_price = JSON.parse(JSON.stringify(discount))

      if (discount && discount.percent) {
        this.product.shop.discount_price.old_price = this.product.shop.discount_price.old_price
        this.product.shop.discount_price.price = this.product.shop.discount_price.price
        this.productPrice = this.product.shop.discount_price.price
      } else {
        this.product.shop.price = this.product.shop.original_price * quantity
        this.productPrice = this.product.shop.original_price * quantity
      }
    },

    handleClickAddToBasket() {
      let form = {
        product_id: this.product.settings.active_variant_id,
        quantity: this.product.shop.quantity,
        book_ids: []
      }

      if (this.note.is_init) {
        _.forEach(this.product.notes, note => {
          form.book_ids.push(note.id + ',' + note.shop.quantity)
        })
      }

      this.$emit('on-add', form)
      this.basket(form)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.product-card {
  &-promotion {
    display: flex;
    justify-content: center;

    &__header {
      height: 4rem;
      line-height: 4rem;
      font-size: 1.5rem;
      font-weight: 600;
      padding-left: 2rem;
      color: $c-primary;
    }

    &__img {
      max-width: 6rem;
      height: auto;
      margin: 2rem auto 3rem;
    }
  }
}
</style>
