<template>
  <div>
    <div
      class="wizard-banner"
      style="color: #dd6493;"
      @click="handleVisibleDialog"
      v-if="privateData.data.content === null"
    >
      <div class="wizard-banner__inner js-modal js-wizard-modal">
        <div class="wizard-banner-bg">
          <img
            src="https://www.remzihoca.com/assets/front/img/timer-bg-1.jpg"
            alt="remzihoca ön hazırlık grubu"
            class="wizard-banner-bg__img"
          />
        </div>
        <div class="wizard-banner__cnt" style="background: transparent;">
          <img
            src="https://www.remzihoca.com/assets/front/img/wizard-icon.svg"
            alt="remzihoca ön hazırlık grubu"
            class="wizard-banner__img"
          />
          <div class="wizard-banner__title colored-white">
            <div class="opacity-60">Hangi Ürünü Kullanmanız Gerektiğine</div>
            <div>Emin Olamadınız mı?</div>
          </div>
          <v-button
            class="fw c-soft go-product-wizard"
            icon="icon-arrow-long-right"
            icon-position="right"
            title="ÜRÜN SİHİRBAZINI KULLAN"
          />
        </div>
      </div>
    </div>

    <modal
      :active="dialogVisible"
      modal-class="wizard-modal"
      @onModalClose="handleCloseDialog"
    >
      <div slot="content" class="wizard-contentbox">
        <transition-group
          name="slide-left"
          mode="out-in"
          tag="section"
          class="wizard-contentbox__item"
        >
          <div
            class="wizard-modal-content"
            v-if="dialogActiveTab === 'information'"
            :key="1"
          >
            <svg-icon
              class="wizard-modal-content__icon"
              type="icon-wizard"
            ></svg-icon>
            <strong class="wizard-modal-content__title"
              >Grup Öneri Sihirbazı</strong
            >
            <span class="wizard-modal-content__subtitle"
              >Sizin için en uygun ürünleri bulmanızı sağlar!</span
            >
            <div class="wizard-modal-content__cnt">
              <p class="wizard-modal-content__txt">
                Hangi ürünü alacağınıza karar veremediyseniz soruları
                cevaplayın, sizin için en uygun çalışma paketini hazırlayalım.
              </p>
            </div>
            <v-button
              class="wizard-modal-content__button"
              icon="icon-arrow-long-right"
              icon-position="right"
              @click.native="handleStartQuestion"
              title="TESTE BAŞLA"
            />
          </div>
          <transition-group
            name="slide-left"
            :key="2"
            v-if="dialogActiveTab === 'questions'"
            tag="div"
            class="wizard-contentbox__item"
          >
            <div
              class="test-item wizard-question active"
              v-for="question in response.questions"
              :key="question.id"
            >
              <template v-if="question.id === activeQuestionId">
                <div class="test-question">
                  <div class="test-question__cnt">
                    <p class="test-question__txt">
                      <span v-html="question.title"></span>
                    </p>
                    <p class="test-question__txt with-paraghraph">
                      <span v-html="question.description"></span>
                    </p>
                  </div>
                </div>
                <div class="test-options">
                  <div class="test-options__inner">
                    <div
                      class="digi-test-option"
                      v-for="option in question.options"
                      :key="option.id"
                      @click="handleNextQuestion(question, option)"
                      :class="{ selected: option.is_selected }"
                    >
                      <span class="digi-test-option__opt">
                        <span class="opt-txt"></span>
                      </span>
                      <p class="test-option__txt">
                        <span>{{ option.title }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </transition-group>
          <div
            class="wizard-modal-content"
            :key="3"
            v-if="dialogActiveTab === 'result'"
          >
            <svg-icon
              class="wizard-modal-content__icon"
              type="icon-wizard"
            ></svg-icon>
            <strong class="wizard-modal-content__title"
              >Grup Öneri Sihirbazı</strong
            >
            <span class="wizard-modal-content__subtitle"
              >Sizin için en uygun ürünleri bulmanızı sağlar!</span
            >
            <div class="wizard-modal-content__cnt">
              <div class="wizard-modal-content__txt">
                Çalışma paketi öneriniz hazırlanıyor. İstediğiniz zaman
                yanıtlarınızı değiştirerek yeni öneriler alabilirsiniz.
              </div>
            </div>

            <v-button
              class="wizard-modal-content__button"
              icon="icon-arrow-long-right"
              icon-position="right"
              @click.native="completeWizard"
              title="CEVAPLARI KAYDET"
            />
          </div>
        </transition-group>

        <!-- <div class="wizard-modal-content" :key="3" v-if="dialogActiveTab === 'result'">
          <div>
            completed window
          </div>

          <v-button
            class="wizard-modal-content__button"
            icon="icon-arrow-long-right"
            icon-position="right"
            @click.native="handleCloseDialog"
            title="Ok"
          />
        </div>-->
        <!-- <div class="wizard-modal-content" v-if="dialogActiveTab === 'information'">
          <svg-icon class="wizard-modal-content__icon" type="icon-wizard"></svg-icon>
          <strong class="wizard-modal-content__title">Grup Öneri Sihirbazı</strong>
          <span class="wizard-modal-content__subtitle">
            Sizin için en uygun ürünleri bulmanızı sağlar!
          </span>
          <div class="wizard-modal-content__cnt">
            <p class="wizard-modal-content__txt">
              Hangi ürünü alacağınıza karar veremediyseniz soruları cevaplayın, sizin için en uygun çalışma paketini hazırlayalım.
            </p>
          </div>
          <v-button
            class="wizard-modal-content__button"
            icon="icon-arrow-long-right"
            icon-position="right"
            @click.native="handleStartQuestion"
            title="ÜRÜN SİHİRBAZINI BAŞLAT"
          />
        </div>-->

        <!-- <div v-if="dialogActiveTab === 'questions'">
          <div
            class="test-item wizard-question active"
            v-for="question in response.questions"
            :key="question.id"
            v-if="question.id === activeQuestionId"
          >
            <div class="test-question">
              <div class="test-question__cnt">
                <p class="test-question__txt">
                  <span v-html="question.title"></span>
                </p>
                <p class="test-question__txt with-paraghraph">
                  <span v-html="question.description"></span>
                </p>
              </div>
            </div>
            <div class="test-options">
              <div class="test-options__inner">
                <div
                  class="digi-test-option"
                  v-for="option in question.options"
                  :key="option.id"
                  @click="handleNextQuestion(question, option)"
                  :class="{ selected: option.is_selected }"
                >
                  <span class="digi-test-option__opt">
                    <span class="opt-txt"></span>
                  </span>
                  <p class="test-option__txt">
                    <span>{{ option.title }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <!-- <div class="wizard-modal-content" v-if="dialogActiveTab === 'result'">
          <div>
            completed window
          </div>

          <v-button
            class="wizard-modal-content__button"
            icon="icon-arrow-long-right"
            icon-position="right"
            @click.native="handleCloseDialog"
            title="Ok"
          />
        </div>-->
      </div>
    </modal>
  </div>
</template>

<script>
import * as wizardApi from '../../services/wizard.service'
import Modal from '@/components/Modal'
import { mapGetters } from 'vuex'
import _ from 'lodash'

let originalQuestions = []
let originalProfiles = []

export default {
  name: 'Wizard',
  props: [],
  components: {
    Modal,
  },
  data() {
    return {
      dialogVisible: false,
      dialogActiveTab: 'information',
      wizardSliderOptions: {
        simulateTouch: false,
      },
      wizardSwiperOptions: {
        simulateTouch: false,
      },
      response: {
        questions: [],
      },
      form: {
        questions: [],
      },

      exam: null,

      activeQuestionId: null,
    }
  },

  computed: {
    ...mapGetters('store', ['privateData']),
  },

  mounted() {
    this.getItems()
  },
  methods: {
    completeWizard() {
      this.handleCloseDialog()
      this.$store.dispatch('store/getContent', 'private')
      this.$swal.fire({
        icon: 'success',
        position: 'top-end',
        timer: 3000,
        toast: true,
        title: 'Sihirbaz tamamlandı.',
        showConfirmButton: false,
      })
    },

    getItems() {
      this.loaded = false

      wizardApi.questions().then(({ data }) => {
        this.loaded = true
        this.response = data
        originalQuestions = data.questions
        originalProfiles = data.profiles

        this.activeQuestionId = data.questions[0].id
      })
    },

    handleResetWizard() {
      this.exam = null
      this.form.questions = []
      this.response.questions = JSON.parse(JSON.stringify(originalQuestions))
      this.response.profiles = JSON.parse(JSON.stringify(originalProfiles))
      this.activeQuestionId = this.response.questions[0].id
      this.dialogActiveTab = 'information'
    },

    handleVisibleDialog() {
      this.dialogVisible = true
      this.handleResetWizard()
    },

    handleCloseDialog() {
      this.dialogVisible = false
      this.handleResetWizard()
    },

    handleStartQuestion() {
      this.dialogActiveTab = 'questions'
    },

    handleNextQuestion(question, option) {
      this.form.questions[question.id] = {
        question_id: question.id,
        option_id: option.id,
        fake_option_id: option.fake_option_id,
        exam_id: option.exam_id,
        option_sort: option.sort,
      }

      if (question.id === this.response.exam_question_id) {
        this.exam = this.response.exams[option.exam_id]
      }

      option.is_selected = true

      setTimeout(() => {
        if (option.target_question_id) {
          return (this.activeQuestionId = option.target_question_id)
        }

        this.store()

        this.dialogActiveTab = 'result'
      }, 500)
    },

    store() {
      let requestOptions = []

      _.forEach(this.form.questions, question => {
        if (question) {
          let optionPoints = this.response.points[question.option_id]

          let skipQuestion = _.filter(this.response.skip_question_ids, o => {
            return o === question.question_id
          })

          if (skipQuestion[0]) {
            let skipOptions = this.response.skip_options[question.question_id]

            if (this.exam.remaining_day >= 0 && this.exam.remaining_day <= 60) {
              optionPoints = this.response.points[question.option_id]
            }

            if (
              this.exam.remaining_day >= 61 &&
              this.exam.remaining_day <= 120
            ) {
              if (question.option_sort === 1) {
                optionPoints = this.response.points[skipOptions[2].id]
                question.fake_option_id = skipOptions[2].id
              }

              if (question.option_sort === 2) {
                optionPoints = this.response.points[skipOptions[3].id]
                question.fake_option_id = skipOptions[3].id
              }

              if (question.option_sort === 3) {
                optionPoints = this.response.points[skipOptions[4].id]
                question.fake_option_id = skipOptions[4].id
              }
            }

            if (
              this.exam.remaining_day >= 121 &&
              this.exam.remaining_day <= 180
            ) {
              if (question.option_sort === 1) {
                optionPoints = this.response.points[skipOptions[3].id]
                question.fake_option_id = skipOptions[3].id
              }

              if (question.option_sort === 2) {
                optionPoints = this.response.points[skipOptions[4].id]
                question.fake_option_id = skipOptions[4].id
              }

              if (question.option_sort === 3) {
                optionPoints = this.response.points[skipOptions[4].id]
                question.fake_option_id = skipOptions[4].id
              }
            }

            if (this.exam.remaining_day >= 181) {
              optionPoints = this.response.points[skipOptions[4].id]
              question.fake_option_id = skipOptions[4].id
            }
          }

          _.forEach(optionPoints, (point, profileId) => {
            if (this.response.profiles[profileId]) {
              if (!point) {
                point = 0
              }

              this.response.profiles[profileId].point += parseInt(point)
            }
          })

          requestOptions.push({
            exam_id: question.exam_id,
            question_id: question.question_id,
            option_id: question.option_id,
            fake_option_id: question.fake_option_id,
          })
        }
      })

      // let contentId = null
      let lastPoint = 0

      _.forEach(this.response.profiles, item => {
        if (item.point > lastPoint) {
          // contentId = item.content_id
          lastPoint = item.point
        }
      })

      wizardApi.store({ questions: requestOptions }).then(({ data }) => {
        if (data.error) {
          this.$toasted.show(data.error, {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000,
          })
        } else {
          console.log('completed')
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/shop-wizard.scss';
@import '@/assets/scss/components/digibook-test.scss';

.modal__content {
  height: 100%;
  width: 100%;
  position: relative;
}

.wizard-question {
  & .test-question {
    background: transparent;
  }
}

.wizard-contentbox {
  position: relative;
  height: 500px;
  width: 100%;

  &__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    & .test-item.wizard-question {
      position: absolute !important;
      top: 0%;
      left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .test-options {
        width: 100%;
      }
      .digi-test-option {
        border-radius: 2rem;
        padding-right: 1rem;
        z-index: 3;

        .digi-test-option__opt:before {
          content: '';
          display: block;
          position: absolute;
          top: -1px;
          left: -1px;
          background: #d7dde7;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          border-radius: 50%;
        }
        &.selected {
          .digi-test-option__opt {
            .opt-txt {
              background: #3eacf7;
            }
            &:before {
              background: #fff;
              width: 50%;
              height: 50%;
              top: 25%;
              left: 25%;
              z-index: 3;
            }
          }
        }
      }
    }
  }
}
</style>
