<template>
  <div class="cluebank-item" :id="`c-${id}`">
    <header class="cluebank-item-header">
      <span class="cluebank-item-header__icon">
        <BaseIcon :iconName="'cluebank-item'" />
      </span>

      <div class="cluebank-item-header__title">{{ title }}</div>
    </header>
    <main class="cluebank-item__main">
      <div>
        <span v-html="text" class="cluebank-item__content" />
        <span v-if="text.length > 95" class="cluebank-readmore color-purple-dark font-600 ml-1"
          >Devamını Oku</span
        >
      </div>
    </main>
  </div>
</template>

<script>
import BaseIcon from '../Base/BaseIcon.vue'
export default {
  components: { BaseIcon },
  name: 'CluebankItem',
  props: {
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    favorited: {
      type: Boolean,
    },
    id: {
      type: Number,
    },
  },
  mounted() {
    let latestClueId = localStorage.getItem('cluebank-latest-clueid')
    if (latestClueId && parseInt(latestClueId) === this.id) {
      this.$emit('activate-group')
      const self = this
      setTimeout(() => {
        self.$scrollTo(`#c-${latestClueId}`)
      }, 1000)
      localStorage.removeItem('cluebank-latest-clueid')
    }
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/components/cluebank';
</style>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.cluebank-item {
  background: #fff;
  border-radius: 0.5rem;
  padding: 20px;
  position: relative;
  color: $c-secondary;
  // margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  word-break: break-word;

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #d6dce3;
    padding-right: 2.5rem;

    &__icon {
      margin-right: 0.75rem;

      &::v-deep .b-icon {
        height: 2rem;
        color: $c-text;
        transition: 0.15s;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }

  &__main {
    color: $c-text;
    padding-top: 0.75rem;
  }

  &:hover {
    color: #44449f;
    background: #fff;

    .cluebank-item-header__icon .b-icon {
      color: $c-primary;
    }
  }
}
</style>
