<template>
  <div
    class="slide-group"
    :class="{ active: active, hidden: group.clues.length == 0 }"
    :id="'g-' + group.id"
    :ref="group.id"
  >
    <div class="slide-group__header" @click="listToggle">
      <span class="slide-group__icon">
        <BaseIcon :height="36" v-if="group.id !== 0" :icon-name="'cluebank'" />
        <BaseIcon :height="36" v-if="group.id === 0" :icon-name="'star'" />
      </span>
      <div
        class="slide-group__title cluebank"
        :class="{ upper: group.id == 0 }"
      >
        {{ group.title }}
      </div>
      <div class="slide-group__txt">({{ group.clues.length }} İpucu)</div>
      <div class="hr fw"></div>
      <span class="caret-circle"></span>
    </div>
    <transition name="fade" mode="out-in">
      <template v-if="active">
        <div class="slide-group__cnt" :class="{ active: active || activeTab }">
          <div class="cluebank-list">
            <div
              v-for="(clue, index) in group.clues"
              :key="`clue_${index}`"
              class="cluebank-list__item"
              ref="a"
            >
              <span
                class="cluebank-favbtn"
                @click="favToggle(clue.id)"
                :class="{ active: clue.favorited }"
                v-tooltip="favStatus"
                @mouseover="checkFav(clue.favorited)"
              >
                <BaseIcon :icon-name="'star'" />
              </span>
              <router-link
                class="cluebank__link"
                @click.native="setClueTitle(clue.name)"
                :to="{
                  name: 'CluebankDetail',
                  params: { id: clue.id, lastTab: tab, lastGroup: group.id },
                }"
              >
                <cluebank-item
                  :title="clue.name"
                  :text="clue.summary"
                  :id="clue.id"
                  @activate-group="active = true"
                />
              </router-link>
            </div>
          </div>
        </div>
      </template>
    </transition>
  </div>
</template>

<script>
import CluebankItem from '@/components/ClueBank/CluebankItem'
import { mapActions } from 'vuex'
import BaseIcon from '../Base/BaseIcon.vue'

export default {
  name: 'CluebankGroup',
  props: {
    group: Object,
    tab: Number,
  },
  components: {
    CluebankItem,
    BaseIcon,
  },
  data() {
    return {
      active: false,
      favStatus: '',
      clueItem: {},
    }
  },

  // watch: {
  //   group(el) {
  //     this.active = el.id === 0
  //   },
  // },

  methods: {
    ...mapActions({
      setFavoriteItem: 'cluebank/setFavoriteItem',
    }),
    setClueTitle(val) {
      document.title = `${val} | İpucu Havuzu | RH Platform`
    },
    activeGroup(e) {
      if (e === this.$route.params.groupid) {
        this.active = true
        // this.$scrollTo('#g-' + this.$route.params.groupid)
        return true
      }
      return false
    },
    listToggle() {
      this.active = !this.active
    },
    favToggle(id) {
      this.setFavoriteItem(id)
    },
    checkFav(e) {
      if (e === true) {
        this.favStatus = 'Favorilerden Çıkar'
      } else {
        this.favStatus = 'Favorilere Ekle'
      }
    },
  },
  computed: {
    activeTab() {
      return this.$props.group.id === 0
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.cluebank-favbtn {
  width: 1.75rem;
  height: 1.75rem;
  background: $c-bgcard;
  border-radius: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  & .b-icon {
    height: 1rem;
    color: #fff;
  }

  &:hover {
    background: $c-text;
  }

  &.active {
    background: $c-yellow;
  }
}
</style>
