<template>
  <div class="subpage-search__wrp">
    <div class="subpage-search">
      <div class="subpage-search__form fw">
        <div class="subpage-search__input-wrp">
          <input
            type="text"
            class="subpage-search__input"
            v-model="searchTerm"
            @keyup="findClue(searchTerm)"
            @blur="showResult = false"
            ref="cluebankInput"
            placeholder="Kalıp ve kelime yapılarında ara..."
          />
        </div>
        <span class="toolbar-search__clear" @click="clearInput">
          <BaseIcon v-if="showClearer" :icon-name="'close'" />
        </span>
        <v-button
          class="subpage-search__submit purple cluebank-search"
          title="İPUCU ARA"
          icon="icon-search"
          icon-position="right"
          @click.native="getResults(searchTerm)"
          :class="{ passive: searchTerm.length < 1 }"
        />
      </div>
    </div>
    <transition name="fade-up">
      <div class="subpage-search-result" v-if="showResult">
        <ul class="subpage-search-result__list">
          <li
            class="subpage-search-result__li"
            v-for="result in searchResults"
            :key="result.id"
          >
            <router-link
              :to="{ name: 'CluebankDetail', params: { id: result.id } }"
              class="subpage-search-result__item"
              v-if="result"
            >
              <span class="subpage-search-result__txt">{{ result.name }}</span>
              <span class="subpage-search-result__tag">{{
                result.tag_name
              }}</span>
            </router-link>
            <div class="subpage-search-result__item" v-if="!result">
              Sonuç bulunamadı!
            </div>
          </li>
          <li
            v-if="searchResults.length === 0"
            class="subpage-search-result__li"
          >
            <div class="subpage-search-result__item">{{ blankResult }}</div>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import { searchClues } from '../../services/cluebank.service'
import { SHOW_TOOLBAR } from '@/store/actions.type'
import BaseIcon from '../Base/BaseIcon.vue'
import delaySearch from '../../common/delay-search'

export default {
  components: { BaseIcon },
  name: 'CluebankSearch',
  props: {
    searching: String,
  },
  data() {
    return {
      showResult: false,
      searchResults: [],
      searchTerm: '',
      searchingNow: false,
    }
  },
  computed: {
    showClearer() {
      return this.searchTerm.length > 0
    },

    blankResult() {
      return this.searchingNow ? 'Aranıyor...' : 'Sonuç bulunamadı!'
    },
  },
  methods: {
    clearInput() {
      this.searchTerm = ''
      this.$refs.cluebankInput.focus()
      this.showResult = false
    },

    findClue(term) {
      this.searchTerm = term
      this.searchingNow = true
      delaySearch(() => {
        if (this.showClearer) {
          searchClues(this.searchTerm, { data: this.searchTerm }).then(data => {
            this.showResult = true
            this.searchingNow = false
            this.searchResults = data.data.clues
          })
        }
      })
    },
    getResults(event) {
      this.showResult = false
      this.$router.push({ name: 'CluebankSearchPage', params: { term: event } })
      this.$emit('searchClue', event)
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.searchTerm = ''
    },
  },
  mounted() {
    let term = this.$route.params.term
    if (term) this.searchTerm = term
  },
}
</script>
