<script>
import * as http from '../../services/wordy.service'
import { toggleTour } from '../../services/user.service'

import AppHeader from '@/core/AppHeader'
import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostWordy from '@/core/Ghost/GhostWordy'
// import GhostWordyProgress from '@/core/Ghost/GhostWordyProgress'
import WordyStep from '@/components/Wordy/WordyStep'
import WordyProgress from '@/components/Wordy/WordyProgress'
import UserBadge from '@/components/UserBadge'

export default {
  name: 'WordyLanding',
  components: {
    AppHeader,
    GhostAppHeader,
    WordyStep,
    WordyProgress,
    GhostWordy,
    // GhostWordyItem,
    // GhostWordyProgress,
    UserBadge,
  },
  data() {
    return {
      info: {
        name: 'wordy',
        link: '/wordy',
        title: 'Wordy',
        icon: require('@/assets/img/app-wordy-white.svg'),
        background: '#2E8273',
        gradient:
          'linear-gradient(to left, rgba(46, 130, 115, 1), rgba(46, 130, 115, .0))',
        what: null,
        video: null,
        howWorks: null,
        has_tour: null,
      },
      groups: [],
      filters: {
        groupId: null,
      },
      wordy: {},
      activeProduct: {},
      activeSet: {},
      degrees: {},
      setLoading: true,
      isLoading: true,
      isLoaded: false,
      swiperOption: {
        effect: 'fade',
        grabCursor: true,
        loop: false,
        centeredSlides: true,
        slidesPerView: '5',
        speed: 500,
        autoHeight: false,
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 20,
          modifier: 3,
          slideShadows: false,
        },
        slideToClickedSlide: true,
      },
      wordySetSwiperOptions: {
        centeredSlides: true,
        slidesPerView: 5,
        slideToClickedSlide: true,
        allowTouchMove: false,
        breakpoints: {
          768: {
            allowTouchMove: true,
          },
        },
      },
      currentIndex: 0,
      setsLoaded: true,
      activeSetIndex: null,
      groupId: null,
      groupsLoaded: false,
      tourSteps: [
        {
          target: '.subpage-tab', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza Wordy Paketleri tanımlanır. Grup seçerek sahip olduğunuz paketleri filtreyebilirsiniz.</p>`,
        },
        /* {
          target: '.subpage-tab-more__btn', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Diğer Ürün Grupları</strong> <p class="guide-desc">Üçten fazla ürün grubuna sahipseniz diğer grupları görüntüleyebilirsiniz.</p>`,
        }, */
        {
          target: '.wordy__list', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Wordy Setleri</strong> <p class="guide-desc">Öğrenme deneyimini yeni baştan tasarladığımız yeni Wordy ile tanışın! Wordy Paketleri Setlerden, Setler Steplerden oluşur. Her bir stepte belirli temaya sahip kelimeler öğrenirsiniz. Setleri tamamladıkça rozetler kazanırsınız.</p>`,
        },
        {
          target: '.wordy__list .wordy-step:nth-child(1)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Wordy Stepleri</strong> <p class="guide-desc">Stepler kolaydan başlayarak giderek zorlaşır. Stepler bildiğiniz varsayılan kelimelerle oluşturulur. Bu kelimeler daha önceki steplerde öğrendiğiniz kelimeler varsayılarak belirlenir. Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir stepe tıklayarak içerisine girebilirsiniz.</p>`,
          params: {
            placement: 'right',
          },
        },
        {
          target: '.wordy-badges', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Wordy Rozetleri</strong> <p class="guide-desc">Stepler kolaydan başlayarak giderek zorlaşır. Stepler bildiğiniz varsayılan kelimelerle oluşturulur. Bu kelimeler daha önceki steplerde öğrendiğiniz kelimeler varsayılarak belirlenir. Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir stepe tıklayarak içerisine girebilirsiniz.</p>`,
        },
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR',
        },
      },
      tourCallbacks: {
        onStop: this.finishTour,
      },
    }
  },

  watch: {
    /* groupId(newVal, oldVal) {
      if (oldVal === null) {
        this.groupId = this.groups[0].id
        this.getActiveProduct(this.groupId)
        this.setTab(this.groups[0])
      }
    }, */

    dataLoaded(data) {
      let tour = !!(
        this.info.has_tour === true || this.info.has_tour === 'true'
      )
      if (data && tour) this.startTour()
    },

    groups(val) {
      if (val !== []) {
        this.setGroupFilter()
        this.setActiveSetFilter()
        this.getActiveProduct(this.filters.groupId)
      }
    },
  },

  computed: {
    dataLoaded() {
      return this.groupsLoaded && this.isLoaded
    },
  },

  created() {
    document.title = 'Wordy | RH+ Platform'
    this.getHeaderData()
  },

  mounted() {
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    getHeaderData() {
      http.info().then(res => {
        this.groupsLoaded = true
        this.groups = res.data.wordy_packages
        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    setGroupFilter() {
      if (localStorage.getItem('wordyGroup') === null) {
        this.filters.groupId = this.groups[0].id
        localStorage.setItem('wordyGroup', this.filters.groupId)
      } else {
        this.filters.groupId = parseInt(localStorage.getItem('wordyGroup'))
      }
    },

    setActiveSetFilter() {
      if (localStorage.getItem('wordyActiveSetIndex') === null) {
        this.filters.setId = 0
        localStorage.setItem('wordyActiveSetIndex', 0)
      } else {
        this.filters.setId = parseInt(
          localStorage.getItem('wordyActiveSetIndex')
        )
      }
    },

    setActiveGroup(id) {
      this.filters.groupId = id
      localStorage.setItem('wordyGroup', id)
    },

    setActiveSetIndex(id) {
      this.filters.setId = id
      localStorage.setItem('wordyActiveSetIndex', id)
    },

    getActiveProduct(id) {
      this.activeProduct = {}
      this.isLoading = true
      http.group(id).then(res => {
        this.activeProduct = res.data.data
        this.degrees = res.data.degrees
        this.activeSet = this.activeProduct.sets[
          parseInt(localStorage.getItem('wordyActiveSetIndex'))
        ]
        this.activeSetIndex = this.activeProduct.sets.findIndex(
          el => el === this.activeSet
        )
        this.setActiveSetIndex(this.activeSetIndex)
        this.setLoading = false
        this.isLoading = false
        this.isLoaded = true
      })
    },

    setTab(tab) {
      this.setActiveGroup(tab.id)
      this.setActiveSetIndex(0)
      this.getActiveProduct(tab.id)
    },

    setTitle(val) {
      document.title = `${val} | Wordy | RH Platform`
    },

    setActiveSet(set) {
      this.setLoading = true
      this.setActiveIndex = this.activeProduct.sets.findIndex(el => el === set)
      setTimeout(() => {
        this.activeSet = set
        this.setLoading = false
      }, 0)
      this.setActiveSetIndex(this.setActiveIndex)
    },

    changeSlide() {
      this.activeSlide = this.$refs.wordyTabs.swiper.activeIndex
      this.currentTab = this.activeProduct.sets[this.activeSlide].id
      this.activeSet = this.currentTab
    },

    slideChange() {
      this.setsLoaded = false
      setTimeout(() => {
        this.currentIndex = this.$refs.wordyTabSwiper.swiper.activeIndex
        this.activeSet = this.activeProduct.sets[this.currentIndex]
        this.setsLoaded = true
      }, 0)
    },

    startTour() {
      this.$tours['wordyTour'].start()
    },

    finishTour() {
      toggleTour('wordy', false)
    },
  },
}
</script>

<template>
  <div class="page" :class="$route.name" data-v-step="0">
    <AppHeader
      v-if="groupsLoaded"
      :info="info"
      :groups="groups"
      :lastGroup="filters.groupId"
      @onTabClick="setTab"
    />
    <GhostAppHeader app="wordy" v-else />
    <container class="page-container">
      <template v-if="!isLoading && isLoaded && groupsLoaded">
        <div class="page-content">
          <div class="tab-pane__item active">
            <div class="wordy-group">
              <div class="sub-tab">
                <div class="sub-tab-list">
                  <swiper
                    :options="wordySetSwiperOptions"
                    @slideChange="slideChange"
                    ref="wordyTabSwiper"
                  >
                    <swiper-slide
                      v-for="(set, index) in activeProduct.sets"
                      :key="`set${index}`"
                    >
                      <div
                        class="sub-tab__item"
                        :class="{ active: index === currentIndex }"
                      >
                        <span class="sub-tab__bg"></span>
                        <span class="sub-tab__txt">{{ set.name }}</span>
                      </div>
                      <transition name="fade-down">
                        <span
                          class="sub-tab__namer"
                          v-if="index === currentIndex"
                          >SET</span
                        >
                      </transition>
                    </swiper-slide>
                  </swiper>
                </div>
                <hr class="sub-tab-divider" />
                <!-- <div class="sub-tab__list">
                  <div
                    class="sub-tab__item"
                    v-for="set in activeProduct.sets"
                    :key="`sub-tab__item${set.id}`"
                    :class="[
                      { active: set === activeSet },
                      { passed: set.name <= activeSet.name },
                    ]"
                    @click="setActiveSet(set)"
                  >
                    <span class="sub-tab__bg"></span>
                    <span class="sub-tab__txt">{{ set.name }}</span>
                    <span class="sub-tab__ctr">SET</span>
                  </div>
                </div> -->
              </div>
              <div class="wordy-status">
                <wordy-progress
                  class="wordy-status__progress"
                  :progress="activeSet.progress"
                />
              </div>
              <transition name="fade-fast" mode="out-in">
                <div class="wordy__list" v-if="setsLoaded">
                  <wordy-step
                    v-for="step in activeSet.steps"
                    :key="`step${step.id}`"
                    @click.native="setTitle(step.title)"
                    :step="step"
                  />
                </div>
              </transition>
              <!-- <div class="wordy-status" v-if="activeSet">
                <wordy-progress
                  class="wordy-status__progress"
                  :progress="activeSet.progress"
                />
              </div>
              <transition name="scale-fade-fast">
                <div v-if="!setLoading" class="wordy__list">
                  <wordy-step
                    v-for="step in activeSet.steps"
                    :key="`step${step.id}`"
                    @click.native="setTitle(step.title)"
                    :step="step"
                  />
                </div>
              </transition> -->
            </div>
            <!---  user-badge Section -->
            <user-badge data-v-step="step" />
            <!---  user-badge Section -->
          </div>
        </div>
      </template>
      <template v-else>
        <GhostWordy />
      </template>
    </container>
    <v-tour
      name="wordyTour"
      :steps="tourSteps"
      :options="tourOptions"
      :callbacks="tourCallbacks"
    ></v-tour>
  </div>
</template>

<style lang="scss" scoped>
.sub-tab {
  & .swiper-container {
    max-width: 320px;
  }

  & .swipper-wrapper {
    align-items: flex-start;
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 60px;
    height: 80px;

    &-active {
      width: 80px;
    }
  }

  &-list {
    transform: translateY(-4px);
  }

  &-divider {
    background: #d9e1ec;
    height: 1px;
    border: none;
    margin-top: -31px;
  }

  &__item {
    width: 60px;
    height: 76px;
    margin: 0;
    font-size: 1.1rem;
    position: relative;
    z-index: 2;

    &.active {
      width: 80px;
      font-size: 1.2rem;
    }
  }

  &__namer {
    color: #556490;
    font-weight: 700;
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
  }
}
</style>

<style lang="scss">
@import '@/assets/scss/components/wordy';

.swiper-button-next,
.swiper-button-prev {
  background: white !important;
  border-radius: 100% !important;
  width: 60px !important;
  margin-top: -45px;
  height: 60px !important;
  color: #4545a1 !important;
  font-size: 22px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1) !important;
  margin-left: -10px;
}

.swiper-button-next {
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1) !important;
  margin-right: -10px;
}

.swiper-button-next:hover {
  transform: scale(1.05);
}
</style>
