<template>
  <div class="detail-header" :class="{'dark-mode': getDarkMode}">
    <div class="detail-header__wrp">
      <div class="detail-inf-shadow" v-if="contentModal" @click="index=null;contentModal=false"></div>
      <container class="detail__container">
        <div class="detail-inf container">
          <div class="detail-ctr">
            <div class="detail-ctr__item">
              <v-button
                @click.native="setDarkMode"
                class="button--circle circle-xs simple darkmode-button"
                icon="icon-lamp"
                icon-position="left"
                v-tooltip="'Gece Modu'"
              />
            </div>
          </div>
          <div class="detail-inf__header">
            <div class="detail__title">{{ details.title }}</div>
            <div class="ghost--detail__title d-none"></div>
            <hr class="f-line mb-20" />
            <div class="detail-inf__bottom">
              <div class="detail-inf-buttons">
                <button @click="index=1;contentModal=true;" :class="{active: index==1}">
                  <svg-icon type="icon-clock"></svg-icon>Anlık durum
                </button>
                <button @click="index=2;contentModal=true;" :class="{active: index==2}">
                  <svg-icon type="icon-view-zoom"></svg-icon>gözden geçİR
                </button>
                <button @click="index=null;setDone(true)">
                  <svg-icon type="icon-check-circle"></svg-icon>sINAVI TAMAMLA
                </button>
              </div>
              <div class="contents-of-buttons" :class="{'active': contentModal}">
                <div :class="{'active': index==1}" class="screen-stats">
                  <div class="mobile-detail__title">{{ details.title }}</div>
                  <div class="contents-of-buttons__mobile-top only-tablet-flex">
                    <div class="contents-of-buttons__mobile-top__title">ANLIK DURUM</div>
                    <span
                      class="contents-of-buttons__close"
                      v-if="contentModal"
                      @click="index=null;contentModal=false"
                    >
                      <svg-icon type="icon-close"></svg-icon>
                    </span>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <span>Cevaplanan Soru</span>
                      <strong>{{this.statistics.answered}}</strong>
                    </div>
                    <div class="col-md-4">
                      <span>Kalan Soru</span>
                      <strong>{{this.statistics.remaining}}</strong>
                    </div>
                    <div class="col-md-4">
                      <span>Toplam Soru</span>
                      <strong>{{this.statistics.total}}</strong>
                    </div>
                    <hr />
                    <div class="col-md-3">
                      <span>GeÇen SÜre</span>
                      <strong>{{this.statistics.passingTime}}</strong>
                    </div>
                    <div class="col-md-3">
                      <span>Kalan SÜre</span>
                      <strong>{{this.statistics.remainingTime}}</strong>
                    </div>
                    <div class="col-md-3">
                      <span>Sınav SÜresİ</span>
                      <strong>{{this.statistics.examDuration}}</strong>
                    </div>
                    <div class="col-md-3">
                      <span>Soru BaŞına Harcanan</span>
                      <strong>{{this.statistics.spendedPerQuestion}}</strong>
                    </div>
                  </div>
                </div>
                <div :class="{'active': index==2}">
                  <div class="mobile-detail__title">{{ details.title }}</div>
                  <div class="contents-of-buttons__mobile-top only-tablet-flex">
                    <div class="contents-of-buttons__mobile-top__title ml-pos">GÖZDEN GEÇİR</div>
                    <span
                      class="contents-of-buttons__close"
                      v-if="contentModal"
                      @click="index=null;contentModal=false"
                    >
                      <svg-icon type="icon-close"></svg-icon>
                    </span>
                  </div>
                  <deneme-quick-questions />
                </div>
              </div>

              <div class="detail-inf__quest-number">
                <span class="detail-inf__quest-number--txt">Soru</span>
                {{currentQuestion.order}} /
                {{questionList.length}}
              </div>

              <div class="detail-inf-time">
                <div class="detail-time__title">Kalan Süre</div>
                <span class="detail-time__icon">
                  <svg-icon type="icon-time" />
                </span>
                <div class="detail-time__txt">
                  <span>{{this.statistics.remainingTime}}</span>
                </div>
              </div>
            </div>
            <hr class="f-line" />
            <deneme-progress-bar />
          </div>
          <div class="detail-right">
            <v-button
              @click.native="setDone(true)"
              class="simple xs icon-xs round detail-close"
              title="TAMAMLA"
              icon="icon-check-circle"
              icon-position="right"
            />
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DenemeQuickQuestions from './QuickQuestions'
import DenemeProgressBar from './ProgressBar'
import { SWITCH_DARKMODE } from '@/store/actions.type'

export default {
  name: 'Header',
  components: {
    DenemeQuickQuestions,
    DenemeProgressBar
  },
  data() {
    return {
      index: null,
      contentModal: false,
    }
  },
  computed: {
    ...mapGetters({
      statistics: 'denemeDetail/statistics',
      isDone: 'denemeDetail/isDone',
      isPaused: 'denemeDetail/isPaused',
      details: 'denemeDetail/details',
      questionList: 'denemeDetail/questionList',
      currentQuestion: 'denemeDetail/currentQuestion',
    }),
    ...mapGetters(['getDarkMode']),

  },
  methods: {
    ...mapActions({
      setDone: 'denemeDetail/setDone',
      setPointer: 'denemeDetail/setPointer',
    }),
    // bodyNoscroll() {

    //   console.log(document.body.classList.add('overflow-y-hidden'))
    //   console.log(
    //     document
    //       .getElementsByTagName('html')[0]
    //       .classList.add('overflow-y-hidden'),
    //   )

    // },
    // bodyAutoscroll() {

    //   console.log(document.body.classList.remove('overflow-y-hidden'))
    //   console.log(
    //     document
    //       .getElementsByTagName('html')[0]
    //       .classList.remove('overflow-y-hidden'),
    //   )

    // },
    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },
  },

  watch: {
    isDone() {
      this.contentModal = false
    },
    isPaused() {
      this.contentModal = false
    },
  },

}
</script>

<style scoped lang="scss">
@import '@/assets/scss/darkmode';
@import '@/assets/scss/components/detail';
@import '@/assets/scss/components/deneme';
@import '@/assets/scss/components/exam';
@import '@/assets/scss/ghost/deneme-ghost-all-items';
</style>
