<template>
  <modal
    :active="modal.isActive"
    modal-class="mini-modal deneme__point-modal"
    @onModalClose="closeModal"
  >
    <div class="modal__header" slot="header">
      <div class="modal__title">Sınav Hedefi Belirle</div>
      <p class="modal__txt">Hedef belirleyerek performansını ölçümle!</p>
      <span class="title-w-shadow">PUAN HEDEFİ</span>
    </div>
    <div slot="content" v-if="modal.isActive">
      <div class="d-flex range-input">
        <strong class="point">{{ details.targets[activeTargetIndex].value }}</strong>
        <span>PUAN</span>
        <div>
          <button @click="increment">
            <svg-icon type="icon-plus"></svg-icon>
          </button>
          <button @click="decrement">
            <svg-icon type="icon-dash"></svg-icon>
          </button>
        </div>
      </div>
    </div>
    <div slot="footer" class="modal-footer">
      <v-button @click.native="handleSubmit" class="fw c-purple" title="SINAVA BAŞLA" />
    </div>
  </modal>
</template>

<script>
import { mapGetters } from 'vuex'
import Modal from '@/components/Modal'

export default {
  data() {
    return {
      activeTargetIndex: 0
    }
  },
  computed: {
    ...mapGetters({
      details: 'denemeDetail/details',
      loaded: 'denemeDetail/loaded',
      loading: 'denemeDetail/loading',
    })
  },
  props: ['modal'],
  methods: {
    closeModal() {
      this.$emit('onClose', false)
    },
    handleSubmit() {
      this.$emit('onSubmit', this.details.targets[this.activeTargetIndex].id)
    },
    increment() {
      this.activeTargetIndex = this.activeTargetIndex > 0 ? this.activeTargetIndex - 1 : 0
    },
    decrement() {
      this.activeTargetIndex = this.activeTargetIndex >= (this.details.targets.length - 1) ? this.activeTargetIndex : this.activeTargetIndex + 1
    }
  },
  components: {
    Modal
  }
}
</script>
