<template>
  <div class="detail-nav deneme-detail-nav">
    <div class="progress" style="height: 14px;">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated continue"
        :style="{width: Math.round((((currentQuestion.order - 1) * 100) / (questionList.length - (questionList.length / (questionList.length - 1))))) + '%'}"
      ></div>
    </div>
    <div class="detail-nav-list">
      <div v-for="(question, index) in questionList" :key="index" @click="setPointer(question.id)">
        <span
          class="circle"
          :class="{'active': currentQuestion.order === question.order, 'blue': question.selectedAnswer, 'yellow': question.isPinned, 'blank': !question.selectedAnswer }"
          ref="navCircle"
        ></span>
        <div
          class="detail-nav-tooltip"
          v-show="currentQuestion.order === question.order"
        >{{question.order}}/{{questionList.length}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ProgrressBar',
  computed: {
    ...mapGetters({
      questionList: 'denemeDetail/questionList',
      currentQuestion: 'denemeDetail/currentQuestion'
    }),
  },
  methods: {
    ...mapActions({
      setPointer: 'denemeDetail/setPointer',
    }),
  },
}
</script>
