<template>
  <div class="row">
    <div class="col-md-6 list-of-questions-badges">
      <strong class="list-of-questions-badges--title">SORULAR</strong>
      <span
        class="list-of-questions-badges--desc"
      >Lütfen görüntülemek istediğiniz soruya tıklayınız.</span>
      <div class="list-of-questions-badges--marks">
        <template v-for="(question, index) in questionList">
          <div
            @click="setPointer(question.id)"
            data-question-statu="filled"
            :key="`question${index}`"
            v-if="!question.isPinned && question.state === 'answered'"
            :class="{ 'current': question.id === currentQuestion.id }"
          >{{ question.order }}</div>
          <div
            @click="setPointer(question.id)"
            :key="`question${index}`"
            v-if="!question.isPinned && question.state === 'unanswered'"
            :class="{ 'current': question.id === currentQuestion.id }"
          >{{ question.order }}</div>
          <div
            @click="setPointer(question.id)"
            data-question-statu="again"
            :key="`question${index}`"
            v-if="question.isPinned"
            :class="{ 'current': question.id === currentQuestion.id }"
          >{{ question.order }}</div>
        </template>
      </div>
      <div class="marks-status">
        <div class="filled">
          <span></span>
          <strong>
            Cevapladığım
            <div class="only-desktop-inline">Sorular</div>
          </strong>
        </div>
        <div class="again">
          <span></span>
          <strong>
            Tekrar Bakılacak
            <div class="only-desktop-inline">Sorular</div>
          </strong>
        </div>
        <div>
          <span></span>
          <strong>
            Boş
            <div class="only-desktop-inline">Bırakılan Sorular</div>
          </strong>
        </div>
      </div>
    </div>
    <div class="col-md-6 selected-question">
      <strong class="selected-question--title">
        <span>{{currentQuestion.order}}</span> NUMARALI SORU
      </strong>
      <p class="selected-question--content">
        <span
          v-if="currentQuestion.questionContent && (!currentQuestion.question || currentQuestion.question.length <= 0)"
        >
          <template v-for="(questionItem, questionItemIndex) in currentQuestion.questionContent">
            <span
              v-if="questionItem.type === 'text'"
              v-html="questionItem.text"
              :key="`questionItem${questionItemIndex}`"
            ></span>
            <b v-if="questionItem.type === 'olderanswer'" :key="`questionItem${questionItemIndex}`">
              <span
                class="question__item--older-number"
                v-html="handleFillOlderQuestionOrder(questionItem.questionId)"
              ></span>&nbsp;
              <span
                class="question__item--older-text"
                v-html="handleFillOlderQuestionText(questionItem.questionId, questionItem)"
              ></span>
            </b>
            <b
              v-if="questionItem.type === 'gap'"
              class="test-question__b"
              v-html="handleFillAnswer(currentQuestion, questionItem)"
              :key="`questionItem${questionItemIndex}`"
            ></b>
          </template>
        </span>
        <span v-if="currentQuestion.question">
          <template v-for="(questionItem, questionItemIndex) in currentQuestion.question">
            <span
              v-if="questionItem.type === 'text'"
              v-html="questionItem.text"
              :key="`questionItem${questionItemIndex}`"
            ></span>
            <b v-if="questionItem.type === 'olderanswer'" :key="`questionItem${questionItemIndex}`">
              <span
                class="question__item--older-number"
                v-html="handleFillOlderQuestionOrder(questionItem.questionId)"
              ></span>&nbsp;
              <span
                class="question__item--older-text"
                v-html="handleFillOlderQuestionText(questionItem.questionId, questionItem)"
              ></span>
            </b>
            <b
              v-if="questionItem.type === 'gap'"
              class="test-question__b"
              v-html="handleFillAnswer(currentQuestion, questionItem)"
              :key="`questionItem${questionItemIndex}`"
            ></b>
          </template>
        </span>
      </p>
      <div class="selected-question--options">
        <div
          class="test-option"
          v-for="answer in currentQuestion.options"
          :key="answer.id"
          :class="{ active: answer.id === currentQuestion.selectedAnswer }"
        >
          <span class="test-option__opt">
            <span class="opt-txt">{{ answer.letterOrder }}</span>
          </span>
          <p class="test-option__txt">
            <span v-for="(text, index) in answer.texts" :key="`answerText${index}`">
              <template>{{ text.text }}</template>
              <template v-if="index !== answer.texts.length - 1">/</template>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      nonFilledText: '----',
    }
  },
  computed: {
    ...mapGetters({
      questionList: 'denemeDetail/questionList',
      currentQuestion: 'denemeDetail/currentQuestion'
    })
  },
  methods: {
    ...mapActions({
      updateQuestion: 'denemeDetail/updateQuestion',
      setPointer: 'denemeDetail/setPointer'
    }),
    handleSelectAnswer(id, q) {
      const question = JSON.parse(JSON.stringify(q))
      if (question.selectedAnswer === id) {
        this.updateQuestion({
          selectedAnswer: null,
          state: 'unanswered',
        })
      } else {
        this.updateQuestion({
          selectedAnswer: id,
          state: 'answered',
        })
      }
    },

    handleOlderQuestion(id) {
      return this.questionList.find(q => q.id === id)
    },
    handleFillOlderQuestionOrder(id) {
      const olderQuestion = this.handleOlderQuestion(id)
      return `(${olderQuestion.order})`
    },
    handleFillOlderQuestionText(id, qI) {
      const olderQuestion = this.handleOlderQuestion(id)
      return this.handleFillAnswer(olderQuestion, qI)
    },
    handleFillAnswer(q, qI) {
      return q.selectedAnswer
        ? q.options
          .find(answer => answer.id === q.selectedAnswer)
          .texts.find(answerText => answerText.flag === qI.flag).text
        : this.nonFilledText
    },
  },
}
</script>
