<template>
  <div class="row" v-if="loaded">
    <div class="statistics" v-for="(app, index) in appReport" :key="index">
      <ghostAppReportPerformance
        v-if="loaders.find(e => e.app === app.value).loading"
        class="ghost-performance-fw"
      />
      <div v-show="!loaders.find(e => e.app === app.value).loading" class="statistics--outer">
        <figure class="statistics--image">
          <img :src="getAppIcons(app.media)" :alt="app.media" />
        </figure>
        <div class="statistics--title">
          <strong :class="app.label">{{ app.label }}</strong> uygulama Raporu
        </div>
        <div class="statistics--select">
          <select-box
            v-if="groups"
            :options="groups"
            title="Tüm Ders Gruplarına Göre"
            @onselect="value => updateGroupFilter(app.value, value)"
          />
        </div>
        <div class="stats row no-gutters">
          <div class="col stats--points">
            <div v-for="(point, index) in get_y_axis_plot(app.dates, app.value)" :key="index">
              {{ point }}
              <span>PUAN</span>
            </div>
          </div>
          <!-- {{maxPoints['app-' + app.value]}} -->
          <div class="col stats--graphs">
            <div class="row no-gutters">
              <div class="col points" v-for="(date, dateIndex) in app.dates" :key="dateIndex">
                <span
                  :data-point="dateItm.point"
                  :style="
                    `height:${(dateItm.point * 100) /
                      (maxPoints != null ? maxPoints['app-' + app.value] : 1)}%;`
                  "
                  v-for="(dateItm, dateItmIndex) in date.items"
                  :key="dateItmIndex"
                ></span>
                <strong>{{ getDateshortName(date.name, app.value) }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="statistics-text">
          <div class="statistics-text--head row no-gutters">
            <div class="col-md-12 col-lg-7 statistics-text--head_title">PERFORMANS DETAYLARI</div>
            <div class="col-md-12 col-lg-5">
              <select-box
                v-if="dates"
                :options="dates"
                title="Tarih Aralığı"
                @onselect="value => updateDateFilter(app.value, value)"
              />
            </div>
          </div>
          <div class="statistics-text--contains no-gutters">
            <div class="col-md-12 item" v-for="(item, itemCounter) in app.items" :key="itemCounter">
              <span class="counter">
                <span class="circle"></span>
                {{ item.count }}
              </span>
              <strong class="text">{{ item.title }}</strong>
              <span class="points">
                {{ item.point }}
                <span>PUAN</span>
              </span>
            </div>
          </div>
          <div class="statistics-text--bottom">
            <div class="statistics-text--total row no-gutters">
              <span>toplam puan</span>
              <strong>{{ app.total_point }}</strong>
            </div>
            <div class="statistics-text--eggs">
              <img
                :src="badget.image"
                alt="image"
                v-tooltip="badget.title"
                v-for="(badget, badgetIndex) in app.badges"
                :key="badgetIndex"
                v-if="badgetIndex < 3"
              />
              <span
                v-if="app.badges.length > 3"
                @click="showAppModle(app)"
              >+{{ app.badges.length - 3 }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <preformance-model
      :isActive="isModelActive"
      :modeldata="appData"
      @handleModalClick="handleModalClick"
    ></preformance-model>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import iconFinder from '@/common/icon.helper'
import PreformanceModel from '@/components/Home/performance/PreformanceModel'
import ghostAppReportPerformance from '@/core/Ghost/GhostAppReportPerformance'

export default {
  name: 'AppReport',
  components: {
    PreformanceModel,
    ghostAppReportPerformance
  },
  data() {
    return {
      groups: null,
      dates: null,
      activeApp: null,
      appData: null,
      isModelActive: false,
      maxPoints: []
    }
  },
  computed: {
    ...mapGetters({
      appReport: 'performance/appReport',
      filters: 'performance/filters',
      filter: 'performance/filter',
      loaded: 'performance/loaded',
      loading: 'performance/loading',
      loaders: 'performance/loaders'
    })
  },
  methods: {
    ...mapActions({
      getAppPreformaceData: 'performance/getAppPreformaceData',
      setFilter: 'performance/setFilter',
      setAppLoader: 'performance/setAppLoader'
    }),
    /**
     * get the Icons for the systems.
     */
    getAppIcons(appName) {
      return iconFinder(appName)
    },
    getDateshortName(dateTxt, appID) {
      let appfilter = this.filter.find(e => e.app === appID)
      let daysTxts = {
        pazartesi: 'PZT',
        salı: 'SAL',
        çarşamba: 'ÇAR',
        perşembe: 'PER',
        cuma: 'CUM',
        cumartesi: 'CMT',
        pazar: 'PAZ'
      }

      switch (appfilter.date) {
        case 'year':
          return dateTxt.substring(0, 3).toUpperCase()

        case 'month':
          let monthIndex = dateTxt.indexOf(' ', dateTxt.indexOf(' ') + 3)
          var monthName = dateTxt.substr(monthIndex, dateTxt.indexOf(' ') + 6)
          // console.log('month', '|NAME: ', monthName, '|Short: ', monthName.substring(1, 4).toUpperCase())
          return dateTxt.replace(monthName, ' ' + monthName.substring(1, 4).toUpperCase() + ' ')
        case 'week':
          return daysTxts[dateTxt.toLowerCase()]

        case 'all':
          return dateTxt
        default:
          return daysTxts[dateTxt.toLowerCase()]
      }
    },
    /**
     * fill the fitter and Sync all of them in the systems
     */
    syncFilters() {
      this.groups = JSON.parse(JSON.stringify(this.filters.groups))
      this.dates = JSON.parse(JSON.stringify(this.filters.dates))
    },
    /**
     * update the date select and call the updated API.
     */
    updateDateFilter(appID, date) {
      this.activeApp = appID
      let bufferfiter = this.filter
      bufferfiter.flatMap(e => {
        if (e.app === appID) {
          e.date = date.value
        }
      })
      this.setFilter(bufferfiter)
      let appfilter = this.filter.find(e => e.app === appID)
      appfilter.loaders = this.loaders
      this.showApploader(appID)
      this.getAppPreformaceData(appfilter)
    },
    /**
     * update the Product select and call the updated API.
     */
    updateGroupFilter(appID, group) {
      this.activeApp = appID
      let bufferfiter = this.filter
      bufferfiter.flatMap(e => {
        if (e.app === appID) {
          e.group = group.value
        }
      })
      this.setFilter(bufferfiter)
      let appfilter = this.filter.find(e => e.app === appID)
      appfilter.loaders = this.loaders
      this.showApploader(appID)
      this.getAppPreformaceData(appfilter)
    },
    /**
     * Get the Plot Y-asis Points in the systems
     */
    get_y_axis_plot(appDates, appId) {
      let maxPoint = 0
      for (const date in appDates) {
        for (const item in appDates[date].items) {
          maxPoint =
            maxPoint > appDates[date].items[item].point
              ? maxPoint
              : appDates[date].items[item].point
        }
      }
      let points = []
      this.maxPoints['app-' + appId] = maxPoint
      points[0] = maxPoint
      for (let index = 1; index <= 3; index++) {
        points[index] = Math.ceil(maxPoint / 2)
        maxPoint = points[index]
      }
      // console.log('get_y_axis_plot', points, this.maxPoints)
      return points
    },
    /* open Preformance Model for the systems */
    handleModalClick(val) {
      this.isModelActive = val
    },
    /* show the App model for the systems */
    showAppModle(app) {
      this.isModelActive = true
      this.appData = app
    },
    /* show Loader for this page and make sure is update */
    showApploader(appID) {
      let loaders = this.loaders
      loaders.flatMap(e => {
        if (e.app === appID) {
          e.loading = true
        }
      })
      this.setAppLoader(loaders)
    }
  },
  mounted() {
    this.syncFilters()
  },
  created() {
    console.log('this.filters', this.filter['date-value'])
    this.syncFilters()
  }
}
</script>
