<template>
  <div class="col-md-6 performance--light" v-if="loaded">
    <strong class="performance--title">ROZET KAZANIMLARI</strong>
    <hr />
    <div class="list-of-performances custom">
      <div class="row d-flex no-gutters item" v-for="(award, index) in lastAwards" :key="index">
        <div class="list-of-performances__cnt d-flex f0">
          <div class="content--icon">
            <img :src="getAppIcons(award.media)" :alt="award.media" :id="award.media" />
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="content--title">{{ award.title }}</div>
          </div>
        </div>
        <div class="list-of-eggs ml-auto">
          <img
            :src="badget.image"
            alt="image"
            v-tooltip.top="badget.title"
            v-for="(badget, awardIndex) in award.badges"
            :key="awardIndex"
            v-show="awardIndex < 3"
          />
          <span v-if="award.badges.length > 3" @click="showAwardModle(award)"
            >+{{ award.badges.length - 3 }}</span
          >
        </div>
        <div class="point d-flex align-items-center" v-if="award.point !== 0">
          <span>{{ award.point }}</span>
          PUAN
        </div>
      </div>
    </div>
    <preformance-model
      :isActive="isModelActive"
      :modeldata="awardData"
      @handleModalClick="handleModalClick"
    ></preformance-model>
  </div>
</template>

<script>
import iconFinder from '@/common/icon.helper'
import PreformanceModel from '@/components/Home/performance/PreformanceModel'
import { mapGetters } from 'vuex'

export default {
  name: 'LastAwards',
  components: {
    PreformanceModel
  },
  data: function() {
    return {
      isModelActive: false,
      awardData: null
    }
  },
  computed: {
    ...mapGetters({
      lastAwards: 'performance/lastAwards',
      loaded: 'performance/loaded',
      loading: 'performance/loading'
    })
  },
  methods: {
    getAppIcons(appName) {
      return iconFinder(appName)
    },
    handleModalClick(val) {
      this.isModelActive = val
    },
    showAwardModle(award) {
      this.isModelActive = true
      this.awardData = award
    }
  }
}
</script>
