<template>
  <div class="col-md-6 performance--dark" v-if="loaded">
    <strong class="performance--title">SON HAREKETLER</strong>
    <hr />
    <div class="list-of-performances" ref="listofActivites">
      <div
        class="row d-flex justify-content-between no-gutters item"
        v-for="(log, index) in lastActivies.items"
        :key="index"
      >
        <div class="list-of-performances__cnt">
          <div class="content--icon">
            <img :src="getAppIcons(log.media)" :alt="log.media" />
          </div>
          <div class="content--step--outer">
            <div class="content--step">{{ log.content }}</div>
            <div class="content--title">{{ log.action }}</div>
          </div>
        </div>
        <div class="point d-flex align-items-center">
          <span>{{ log.point }}</span>
          PUAN
        </div>
      </div>
      <div v-if="logsLoader">
        <div class="ghost-performance__cnt--item single">
          <div class="ghost-performance__cnt--icon"></div>
          <div class="ghost-performance__cnt--title"></div>
          <div class="ghost-performance__cnt--num"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import iconFinder from '@/common/icon.helper'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'LastActivities',
  computed: {
    ...mapGetters({
      lastActivies: 'performance/lastActivies',
      loaded: 'performance/loaded',
      loading: 'performance/loading',
      logsLoader: 'performance/logsLoader'
    })
  },
  methods: {
    ...mapActions({
      getLastActivites: 'performance/getLastActivites',
      setLogsLoader: 'performance/setLogsLoader'
    }),
    loadOnScroll(event) {
      let lastActDiv = this.$refs['listofActivites']
      if (
        lastActDiv.offsetHeight + lastActDiv.scrollTop >=
        lastActDiv.scrollHeight
      ) {
        if (this.lastActivies.paginate.next_page_url != null) {
          this.getLastActivites(this.lastActivies)
          this.setLogsLoader(true)
          // console.log('calling handleScroll')
        }
      } else {
        // console.log('still scrolling')
      }
    },
    getAppIcons(appName) {
      return iconFinder(appName)
    }
  },
  mounted() {
    let lastActDiv = this.$refs['listofActivites']
    lastActDiv.addEventListener('scroll', this.loadOnScroll)
  }
}
</script>
