<template>
  <modal
    :active="isActive"
    modal-class="profile-modal no-pad"
    @onModalClose="handleModalActive(false)"
  >
    <div class="modal__header modal__badges--header" slot="header" v-if="modeldata">
      <!-- FIXME: border color sıralamaya göre dynamic olacak !erdoğan -->
      <div class="modal__badges--img">
        <img :src="getAppIcons(modeldata.media)" :alt="modeldata.media" class="obj-contain" />
      </div>
      <div class="modal__badges--title" :class="modeldata.title">
        {{ modeldata.title }}{{ modeldata.label }}
        <span
          class="modal__badges--title-gray"
        >Rozet kazanımları</span>
      </div>
    </div>

    <div slot="content" class="modal__badges" v-if="modeldata">
      <div class="list-of-eggs--total" v-if="modeldata.point && modeldata.point !== 0">
        <div>{{ modeldata.point }}</div>
        <div>TOPLAM PUAN</div>
      </div>
      <div
        class="list-of-eggs"
        v-for="(badget, badgetindex) in modeldata.badges"
        :key="badgetindex"
      >
        <img :src="badget.image" alt="image" class="list-of-eggs--img" />
        <div class="list-of-eggs--cnt">
          <div class="list-of-eggs--title">{{ badget.title }}</div>
          <div class="list-of-eggs--txt">{{ badget.description }}</div>
        </div>
        <div
          class="list-of-eggs--txt ml-auto with-point"
          v-if="modeldata.point && modeldata.point !== 0"
        >
          <span>{{ modeldata.point }}</span>
          PUAN
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import iconFinder from '@/common/icon.helper'
import Modal from '@/components/Modal'

export default {
  name: 'PreformanceModel',
  components: {
    Modal
  },
  props: {
    modeldata: {
      type: Object,
      default: () => { }
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleModalActive(value) {
      this.$emit('handleModalClick', value)
    },
    getAppIcons(appName) {
      return iconFinder(appName)
    }
  }
}
</script>
