$breakpoints: ("phone-s": 325px,
  "phone": 400px,
  "phone-l": 480px,
  "phablet": 560px,
  "mobile": 576px,
  "tablet-s": 640px,
  "tablet": 768px,
  "tablet-m": 992px,
  "tablet-l": 1025px,
  "desktop": 1248px,
  "desktop-m": 1440px,
);

@mixin bp($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}