/*
Site de 4-5 çeşit mor var:
Bunların hepsi(hoverlar hariç) #4442a4 çevrilecek

Purple: #4442a4;
Light blue: #30acf7;
Default: #cad1da;
Gray: #727ea1;

Main text: #859db2;
kartlarda ki title #556490; text: #556490;

Main background: #f0f4f9;
Detail-page background: #f0f4f9;
Inner item background: #e4eaf2;
Icon background: ecf0f5;
Toolbar card background: #e4eaf2;

$incomplete: #ff5e65;
$success: #78e971;

Fav icon yellow: #d7b740;

1) Noun (n) #5ec1ef
2) Adjective (adj) #776ded
3) Verb (v) #eb6e74
4) Phrasal Verb (pv) #f2c14c
5) Adverb (adv) #19d253
6) Preposition (prep) #fa944a
7) Diğer türler #4341a2
7) Diğer türler için alternatif #868dac
*/

$c-primary: #4442a4;
$c-secondary: #556490;
$c-default: #cad1da;
$c-alt: #30acf7;
$c-primary-dark: darken($c-primary, 15);

$c-primary-passive: transparentize(darken($c-primary, 10), 0.5);

$c-gray: #727ea1;
$c-text: #859db2;
$c-text-alt: #9ea6be;
$c-border-light: lighten($c-secondary, 46);
$c-border-lighter: lighten($c-secondary, 50);
$c-text-dark: darken($c-text, 15);
$c-icon: darken($c-default, 15);
$c-gray-dark: darken($c-gray, 15);

$c-wordbox-bg: #f7f9fc;

$btn-bg-secondary: #e7ecf3;

$c-bgmain: #f0f4f9;
$c-bgmain-slight: #f4f5fb;
$c-bgmain-light: #f6f7fe;
$c-bgmain-lighter: #fcfdfe;
$c-bgalt: #e4eaf2;
$c-bgfocus: darken($c-bgalt, 5);
$c-bgicon: #ecf0f5;
$c-bgcard: #e4eaf2;
$c-bgcard-hover: darken($c-bgcard, 4);
$c-toolbaricon-bg: #d9e1ea;
$c-toolbaricon: #7d97ad;

$c-yellow: #d7b740;

$c-in-complete: #ff5e65;
$c-success: #1fb946;
$c-success-light: #4eea89;
$c-success-alt: #08c458;
$c-error: #df6457;
$c-warn: #da9132;

$c-success-dark: darken($c-success, 20);

$c-noun: #5ec1ef;
$c-adjective: #776ded;
$c-verb: #eb6e74;
$c-phrasal-verb: #f2c14c;
$c-adverb: #19d253;
$c-preposition: #fa944a;
$c-word-other: #4341a2;
$c-word-other-alt: #868dac;
