@mixin column($column, $aic: center, $fdirection: column) {
    display: flex;
    align-items: $aic;
    flex-direction: $fdirection;
    border-radius: 10px;
    background: transparentize($color: #fff, $amount: 0.05);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
        transform: translateY(-3px);

        @include bp(tablet) {
            box-shadow: none;
            transform: none;
        }
    }

    @if $column=='column-3' {
        width: 32% !important;
        margin-right: 2%;
        margin-bottom: 2%;

        @include bp(tablet-m) {
            width: 49% !important;
        }

        @include bp(tablet) {
            margin-bottom: 5px;
            margin-right: 0;
            width: 100% !important;
        }

        &:nth-child(3n) {
            margin-right: 0;

            @include bp(tablet-m) {
                margin-right: 2%;
            }
        }

        &:nth-child(2n) {
            @include bp(tablet-m) {
                margin-right: 0;
            }
        }
    }

    @else if $column=='column-6' {
        width: 49%;
        margin-right: 2%;
        margin-top: 2%;
        justify-content: flex-start;

        &:nth-child(1), &:nth-child(2) {
            margin-top: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include bp(tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5%;
            padding: 10px;
        }
    }

    @else if $column=='column-12' {
        width: 100%;
        margin-bottom: 10px;

        @include bp(tablet) {
            align-items: flex-start;
            flex-flow: wrap;
            width: 100%;
            margin-bottom: 5%;
        }
    }
}

@mixin columnGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}