%animateEffect {
  content: '';
  position: absolute;
  top: 0;
  left: -350px;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to left,
      transparent,
      transparentize($color: #fff, $amount: 0.5),
      transparent);
  animation-name: loadingEffect;
  animation-delay: 0.3s;
  animation-duration: 2.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  z-index: 2;
  transform: skew(-30deg);
}

.dark-mode {
  %animateEffect {
    background-image: linear-gradient(to left,
        transparent,
        transparentize($color: #000, $amount: 0.5),
        transparent);
  }
}

/*@keyframes loadingEffect {
    0% {
        left: -110%;
    }

    25% {
        left: 110%;
    }

    100% {
        left: 110%;
    }
} */

@keyframes loadingEffect {
  0% {
    left: -250px;
  }

  25% {
    left: 110%;
  }

  100% {
    left: 110%;
  }
}

$ghostBg: #e0e7ef;