$breakpoints: ("phone-s": 325px,
  "phone": 400px,
  "phone-l": 480px,
  "phablet": 560px,
  "mobile": 576px,
  "tablet-s": 640px,
  "tablet": 768px,
  "tablet-m": 992px,
  "tablet-p": 1024px,
  "tablet-l": 1025px,
  "desktop": 1248px,
  "desktop-s": 1367px,
  "desktop-m": 1440px,
);

@mixin bp($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin pseudo-c($display: block, $pos: absolute, $content: '', $top: 0, $left: 0) {
  content: $content;
  display: $display;
  position: $pos;
  top: $top;
  left: $left;
}

@mixin triangle($direction, $color: black, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;

  @if $round {
    border-radius: 3px;
  }

  @if $direction==down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round($size / 2.5);
  }

  @else if $direction==up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round($size / 2.5);
  }

  @else if $direction==right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  }

  @else if $direction==left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

@mixin center($position) {
  position: absolute;

  @if $position=='vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @else if $position=='horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }

  @else if $position=='both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin dont-touch {
  user-select: none;
  pointer-events: none;
}

// colors

$digibook: #8f2967;
$wordy: #2c896d;
$exam: #874bb6;
$reading: #b34fa0;
$test: #3770cc;
$ghostBg:#e0e7ef;

@import 'colors';
@import 'column';