@import 'variables';
@import 'fonts';

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  position: relative;
  -webkit-overflow-scrolling: touch;

  @include bp(tablet) {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 500;
  background: $c-bgmain;
  -webkit-overflow-scrolling: touch;

  @include bp(tablet) {
    overflow-x: hidden;
  }

  &.remove-overflow {
    overflow: initial !important;
  }
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-clip: padding-box;
}

.z-index-2 {
  z-index: 2;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
  height: 100vh;

  &--mobile {
    @include bp(tablet) {
      overflow-y: hidden !important;
      height: 100vh;
    }

    &--noheight {
      overflow-y: hidden !important;
    }
  }
}

.button {
  &__menu {
    &--line {
      width: 90%;
      height: 2px;
      background: #8e98b3;
      border-radius: 25px;
      display: block;
      position: relative;
      transition: 0.3s;
      margin-left: 5%;

      &::before {
        content: '';
        position: absolute;
        top: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #8e98b3;
        border-radius: 25px;
        transform: rotate(0);
        transition: 0.3s;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #8e98b3;
        border-radius: 25px;
        transform: rotate(0);
        transition: 0.3s;
      }
    }
  }

  &.active {
    .button__menu {
      &--line {
        background: transparent;

        &:before {
          transform: rotate(45deg);
          top: 0;
          width: 100%;
          left: 0;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: 0;
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.mobile-mb-15 {
  @include bp(tablet) {
    margin-bottom: 15px !important;
  }
}

.mobile-pt-0 {
  @include bp(tablet) {
    padding-top: 0 !important;
  }

  .modal-main-close {
    @include bp(tablet) {
      top: 0;
    }
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
}

a,
button {
  user-select: none;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5em;
}

.wrapper {
  padding-bottom: 50px;
}

.fw {
  width: 100%;
  max-width: 100%;
}

.overflow-h {
  overflow: hidden;
}

.beta-txt {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: $c-alt;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 8px;

  @include bp(tablet) {
    bottom: -25px;
  }
}

input,
textarea {
  width: 100%;
  border: none;
  background: none;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
  color: #21325a;
  color: #556490;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  font-weight: 600;

  &::placeholder {
    color: #7e87a1;
    font-weight: 600;
  }
}

textarea {
  resize: none;
  height: 110px;
}

.custom-container {
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;

  @include bp(mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.test {
  position: relative;

  &:before {
    left: 100px;
    width: 100px;
    height: 100px;
  }
}

.progress {
  background: #d9e1eb;
  border-radius: 50px;
}

.progress-bar {
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &.none {
    background-color: $c-default !important;
  }

  &.continue {
    background-color: $c-alt !important;
  }

  &.completed {
    background-color: $c-success !important;
  }
}

.color {
  &-none {
    color: #bfcbd6;
  }

  &-continue {
    color: $c-alt;
  }

  &-completed {
    color: $c-success;
  }
}

.bg {
  &-none {
    background-color: #bfcbd6 !important;
  }

  &-continue {
    background-color: $c-alt !important;
  }

  &-completed {
    background-color: $c-success !important;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

.dynamic-icon {
  position: relative;
  width: 1em;
  height: 1em;

  &.active {
    .icon {
      opacity: 0;

      &-o {
        opacity: 1;
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;

    &-o {
      opacity: 0;
    }
  }
}

.dots {
  position: absolute;
  right: 0;
  font-size: 5px;
  height: 1em;
  width: 1em;
  background: currentColor;
  transform: translateX(50%);
  border-radius: 50%;
  color: currentColor;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-2em);
    background: currentColor;
    height: 1em;
    width: 1em;
    border-radius: 50%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(2em);
    background: currentColor;
    height: 1em;
    width: 1em;
    border-radius: 50%;
  }

  &--vertical {
    transform: rotate(90deg);
  }
}

.caret-circle {
  display: inline-flex;
  position: relative;
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);
  font-size: 6px;
  transition: all 0.3s;

  &:before {
    @include triangle($direction: 'down', $color: currentColor, $size: 1em);
    margin-top: 0;
    left: 8px;
    top: 14px;
    transition: transform 0.3s;
  }

  @include bp(tablet) {
    width: 26px;
    height: 26px;

    &:before {
      @include triangle($direction: 'down', $color: currentColor, $size: 0.8em);
      margin-top: 0;
      left: 6.5px;
      top: 11px;
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222255;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 250;
  transition: opacity 0.2s;
  will-change: opacity;

  &-calendar {
    background: hsla(213, 43%, 96%, 0.6);
  }

  &.active {
    opacity: 0.6;
    pointer-events: auto;
    visibility: visible;
  }
}

.badge-count {
  background: $c-alt;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  font-size: 17px;
  width: 31px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  text-align: center;
  transform: scale(0.91);
}

.page-header {
  padding-top: 7rem;
  min-height: 22rem;
  background: $c-primary;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;

  @include bp(desktop-s) {
    min-height: 18rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  @include bp(tablet) {
    padding-bottom: 80px;
  }

  &.home-header {
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 90px;
    }
  }

  &__wrp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &.home-header-wrp {
      @include bp(tablet) {
        flex-direction: column;
        margin-top: 20px;
      }
    }
  }
}

.plus {
  position: relative;
  display: block;
  color: currentColor;
  font-size: 15px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 0.15em;
    background: #7d97ad;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.15em;
    height: 1em;
    background: #7d97ad;
  }
}

.static-content {
  color: $c-text;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #7d97ad;
    margin-bottom: 10px;
    font-weight: 700;

    strong {
      font-weight: 700;
    }
  }

  p {
    margin-bottom: 25px;

    @include bp(tablet) {
      margin-bottom: 10px;
    }
  }

  strong {
    font-weight: 700;
  }

  blockquote {
    padding-left: 35px;
    margin-bottom: 25px;
    border-left: 4px solid #dfe7f1;
    color: $c-secondary;
    font-style: italic;

    @include bp(mobile) {
      padding-left: 15px;
      border-left: 3px solid #dfe7f1;
    }
  }

  ol,
  ul {
    padding-left: 25px;
    margin-bottom: 25px;

    @include bp(tablet) {
      padding-left: 10px;
      margin-bottom: 10px;
    }

    &:last-child {
      @include bp(tablet) {
        margin-bottom: 0;
      }
    }
  }

  img {
    margin: 25px 0;
  }

  ul li {
    position: relative;
    padding-left: 15px;

    &:before {
      content: '';
      width: 1em;
      height: 1em;
      background: #6b8498;
      display: inline-block;
      border-radius: 50%;
      font-size: 6px;
      margin-right: 9px;
      position: absolute;
      top: 9px;
      left: 0;
    }

    p {
      margin-bottom: 5px;
    }
  }

  a {
    font-weight: 700;
    border-bottom: 1px solid;
    color: $c-primary;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.font-default {
  font-family: 'Proxima Nova', sans-serif;
}

.upper {
  text-transform: uppercase !important;
}

.section-bracket {
  display: flex;
  align-items: center;
  color: $c-secondary;

  &__title {
    flex-shrink: 0;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all 0.3s;

    @include bp(tablet) {
      font-size: 15px;
      font-weight: 600;
    }
  }

  &__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 16px;
  }

  &__txt {
    flex-shrink: 0;
    margin-left: 30px;
    color: $c-secondary;
    opacity: 0.65;
    font-size: 18px;
    font-weight: 600;

    strong {
      font-weight: 700;
    }
  }

  hr {
    margin: 0 25px;

    @include bp(tablet) {
      margin: 0 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .datepicker {
    @include bp(tablet) {
      margin-right: 0px;
    }
  }
}

.caret {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);

  &:after {
    @include pseudo;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #4545a2;
    top: 10px;
    left: 7px;
    transition: all 0.3s;
  }
}

.sub-tab {
  margin-top: 25px;
  margin-bottom: 25px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9e1ec;
  }

  &__item {
    color: #b2bec7;
    font-weight: 700;
    font-size: 19px;
    padding: 15px 0;
    margin: 0 13px;
    position: relative;
    cursor: pointer;
    text-align: center;
    min-width: 35px;
    transition: all 0.3s ease;

    @include bp(tablet) {
      font-size: 16px;
      min-width: 25px;
    }

    &:before {
      @include pseudo;
      top: 4px;
      height: 4px;
      background: $c-alt;
      width: 0%;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      border-radius: 10px 10px 0 0;
      transition: all 0.3s ease;

      @include bp(tablet) {
        top: 4px;
      }
    }

    &:after {
      @include pseudo;
      bottom: 4px;
      height: 4px;
      background: $c-alt;
      width: 0%;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      border-radius: 0 0 10px 10px;
      transition: all 0.3s ease;

      @include bp(tablet) {
        bottom: 4px;
      }
    }

    &.active {
      color: $c-secondary;
      min-width: 80px;

      @include bp(tablet) {
        min-width: 60px;
      }

      &:before,
      &:after {
        width: 100%;
      }

      .sub-tab__txt {
        transform: scale(1.7);

        @include bp(tablet) {
          transform: scale(1.4);
        }
      }

      .sub-tab__ctr {
        transform: translateX(-50%);
        opacity: 1;
        transition-delay: 0.15s;
      }

      .sub-tab__bg {
        opacity: 1;
      }
    }

    &.passed {
      color: $c-secondary;
    }
  }

  &__bg {
    background: linear-gradient(
      to top,
      $c-bgicon 0%,
      rgba(240, 244, 249, 0) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__txt {
    display: inline-flex;
    transition: transform 0.2s ease;
    backface-visibility: hidden;
  }

  &__ctr {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: $c-secondary;
    font-size: 19px;
    letter-spacing: 0.5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;

    @include bp(tablet) {
      font-weight: 800;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

.subpage-guide {
  display: flex;
  align-items: center;
  padding: 3.5rem 0;
  border-top: 1px solid rgba(240, 244, 249, 0.15);
  position: relative;
  height: 100%;
  z-index: 0;

  @media (max-width: 850px) {
    flex-flow: wrap;
    align-items: flex-start;
    padding: 20px 40px 20px 40px;
  }

  @include bp(mobile) {
    padding: 2rem 0 1rem;
  }

  &.active {
    & > * {
      opacity: 1;
      transform: none;
      transition-delay: 0.3s;
    }
  }

  & > * {
    opacity: 0;
    transform: translateY(45px);
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
  }

  &__close.button {
    .button__icon {
      font-size: 13px !important;
    }

    @include bp(tablet) {
      border-radius: 10rem;
    }
  }

  &__inf {
    flex: 1;

    @media (max-width: 850px) {
      width: 100%;
      margin-right: 0;
      flex: auto;
    }

    &:first-child {
      @media (max-width: 850px) {
        margin-top: 25px;
        order: 2;
      }
    }

    &:last-child {
      @media (max-width: 850px) {
        margin-top: 15px;
        order: 3;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (max-width: 850px) {
      margin-bottom: 5px;
    }

    .icon-font {
      font-size: 35px;
      color: #8bfaec;
      margin-right: 15px;
    }
  }

  &__title {
    font-weight: 700;
    color: #fff;
    font-size: 21px;

    @include bp(tablet) {
      font-size: 18px;
    }
  }

  &__txt {
    color: #fff;
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 25px;

    @media (max-width: 850px) {
      margin-bottom: 15px;
    }

    @include bp(tablet) {
      font-size: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    &.button {
      min-height: 45px;
      padding: 10px 18px;
      font-size: 17px;
    }
  }

  &__video {
    flex-shrink: 0;
    width: 333px;
    margin: 0 40px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 16px 47px 0px rgba(27, 35, 73, 0.4);
    position: relative;
    cursor: pointer;

    @media (max-width: 850px) {
      margin-top: 15px;
      margin-left: 0;
      margin-right: 0;
      order: 1;
      width: 100%;
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .subpage-guide__play {
        &:after {
          animation: hoverPlay 2s infinite forwards;
        }
      }
    }

    &.Ders {
      &:hover {
        &:before {
          background-color: #0ea6ce;
        }
      }
    }

    &.Digibook {
      &:hover {
        &:before {
          background-color: #a6487d;
        }
      }
    }

    &.Wordy {
      &:hover {
        &:before {
          background-color: #2e8273;
        }
      }
    }

    &.Okuma {
      &:hover {
        &:before {
          background-color: #813f8e;
        }
      }
    }

    &.Sözlük {
      &:hover {
        &:before {
          background-color: #3759a1;
        }
      }
    }

    &.Test {
      &:hover {
        &:before {
          background-color: #214f86;
        }
      }
    }

    &.Deneme {
      &:hover {
        &:before {
          background-color: #67419d;
        }
      }
    }

    &.Havuzu {
      &:hover {
        &:before {
          background-color: #394a9c;
        }
      }
    }

    &.Doküman {
      &:hover {
        &:before {
          background-color: #cc5d46;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: black;
      background-image: linear-gradient(
        56deg,
        rgb(32, 101, 141) 0%,
        rgba(75, 189, 255, 0) 100%
      );
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
    }

    &:hover:before {
      opacity: 0.5;
    }
  }

  &__play {
    position: relative;
    z-index: 2;
    display: inline-flex;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: block;
    color: #fff;
    font-size: 2.7rem;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 50%;
      z-index: -1;
      width: 122%;
      height: 122%;
      background: rgba(255, 255, 255, 0.2);
      transition: 0.3s;
    }

    @keyframes hoverPlay {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }

      50% {
        transform: translate(-50%, -50%) scale(1.1);
      }

      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    @include bp(tablet) {
      width: 45px;
      height: 45px;
      font-size: 2.5rem;
    }

    @include bp(mobile) {
      width: 40px;
      height: 40px;
      font-size: 2.2rem;
    }

    .button__wrp {
      width: 100%;
      height: 100%;
      background: none !important;
      border-radius: 50%;
      transition: 0.2s;
    }
  }

  &--toggler {
    border-radius: 5rem !important;
    width: 3rem !important;
    height: 3rem;
    padding: 1rem 0 !important;

    @include bp(tablet) {
      width: 2.75rem !important;
      height: 2.75rem !important;
      min-height: 2.5rem !important;
      padding: 0.75rem 0 !important;

      .button__icon {
        font-size: 0.75rem !important;
      }
    }
  }
}

.or {
  position: relative;
  text-align: center;
  margin: 15px 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d1d5da;
    margin-top: 1px;
  }

  &__txt {
    display: inline-block;
    background: #f1f6fc;
    position: relative;
    z-index: 2;
    color: $c-primary;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 19px;
  }
}

.badge {
  display: inline-flex;
  padding: 8px 12px 7px;
  border-radius: 50px;
  font-weight: 700;
  background: #e7ecf3;
  color: #8e98b3;
  font-size: 16px;
  line-height: 1em;
  align-items: center;
  user-select: none;

  & > * {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .icon-font {
    font-size: 16px;
    margin-top: -2px;
  }

  &--succes {
    background: #61e85e;
    color: #fff;
  }
}

.slide-group {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;

  &:first-child {
    @include bp(tablet) {
      .slide-group__icon {
        font-size: 28px;
      }
    }

    .slide-group__icon {
      &:first-child {
        color: $c-yellow;
      }
    }
  }

  @include bp(tablet) {
    margin-bottom: 0;
    border-bottom: 1px solid #e4eaf0;
  }

  &:last-child {
    @include bp(tablet) {
      border-bottom: none;
    }
  }

  &.active {
    .slide-group__title,
    .slide-group__icon {
      color: #4545a2;
      opacity: 1;
    }

    .caret-circle {
      color: #4545a2;

      &:before {
        transform: rotate(180deg) translateY(2px);
      }
    }
  }

  &.hidden {
    display: none;
  }

  &:hover {
    .slide-group__title {
      color: #4545a2;
      opacity: 1;
    }

    .caret-circle {
      color: #4545a2;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px 55px;
    cursor: pointer;

    @include bp(tablet-m) {
      padding: 10px 0;
    }

    @include bp(tablet) {
      display: block;
      position: relative;
    }
  }

  &__icon {
    display: inline-flex;
    color: $c-secondary;
    font-size: 35px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;

    @include bp(tablet) {
      font-size: 32px;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }
  }

  &__title {
    flex-shrink: 0;
    margin-right: 35px;
    color: $c-secondary;
    font-weight: 800;
    opacity: 0.7;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s;

    @include bp(tablet) {
      margin-right: 50px !important;
      margin-left: 45px;
      line-height: 18px;
      font-weight: 700;
      font-size: 15px;
    }

    &.cluebank {
      text-transform: initial !important;

      &.upper {
        text-transform: uppercase !important;
      }
    }
  }

  &__txt {
    flex-shrink: 0;
    margin-right: 30px;
    color: $c-secondary;
    opacity: 0.65;
    font-size: 16px;
    font-weight: 600;

    @include bp(tablet) {
      margin-right: 35px;
      margin-left: 45px;
      font-size: 14px;
    }
  }

  &__cnt {
    padding: 15px 25px;

    @include bp(desktop-m) {
      padding: 15px 40px;
    }

    @include bp(tablet-m) {
      padding: 5px 0;
    }

    &.active {
      .caret-circle {
        color: #4545a2;

        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  .hr {
    @include bp(tablet) {
      display: none;
    }
  }

  .caret-circle {
    color: #bfcbd6;
    margin-left: 15px;

    @include bp(tablet) {
      margin-left: 0;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }
  }
}

//transitions

// digibook copies

.scale-fade-enter-active {
  transition: all 0.3s ease-in-out;
}

.scale-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.scale-fade-enter {
  transform: scale(0.85);
  opacity: 0;
  pointer-events: none;
}

.scale-fade-leave-to {
  transform: scale(0.85);
  opacity: 0;
  pointer-events: none;
}

// Scale fade fast

.scale-fade-fast-enter-active {
  transition: all 0.15s ease-in-out;
}

.scale-fade-fast-leave-active {
  transition: all 0.1s ease-in-out;
}

.scale-fade-fast-enter {
  transform: scale(1.02);
  opacity: 0;
  pointer-events: none;
}

.scale-fade-fast-leave-to {
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}

// No result fade

.no-result-fade-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.no-result-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.no-result-fade-enter {
  opacity: 0;
  pointer-events: none;
}

.no-result-fade-leave-to {
  opacity: 0;
  pointer-events: none;
}

//fade

.fade-enter-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

//fade

.fade-slow-enter-active {
  transition: opacity 10.75s ease-in-out;
}

.fade-slow-leave-active {
  transition: opacity 10.75s ease-in-out;
}

.fade-slow-enter {
  opacity: 0;
}

.fade-slow-enter-to {
  opacity: 0;
}

.fade-slow-leave-to {
  opacity: 1;
}

//fade

.fade-fast-enter-active {
  transition: opacity 0.15s ease-in-out;
}

.fade-fast-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.fade-fast-enter {
  opacity: 0;
}

.fade-fast-leave-to {
  opacity: 0;
}

//fade up

.fade-up-enter-active {
  transition: all 0.25s ease-in-out;
}

.fade-up-leave-active {
  transition: all 0.25s ease-in-out;
}

.fade-up-enter {
  transform: translateY(15px);
  opacity: 0;
}

.fade-up-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

//fade down

.fade-down-enter-active {
  transition: all 0.25s ease-in-out;
}

.fade-down-leave-active {
  transition: all 0.25s ease-in-out;
}

.fade-down-enter {
  transform: translateY(-15px);
  opacity: 0;
}

.fade-down-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

//fade down alt

.fade-down-alt-enter-active {
  transition: all 0.25s ease-in-out;
}

.fade-down-alt-leave-active {
  transition: all 0.25s ease-in-out;
}

.fade-down-alt-enter {
  transform: translateY(-15px);
  opacity: 0;
}

.fade-down-alt-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

//slide fade left

.slide-fade-left-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-left-leave-active {
  transition: all 0.35s ease-in-out;
}

.slide-fade-left-enter {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

//slide fade left light

.slide-fade-left-light-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-left-light-leave-active {
  transition: all 0.35s ease-in-out;
}

.slide-fade-left-light-enter {
  transform: translateX(35px);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-left-light-leave-to {
  transform: translateX(-35px);
  opacity: 0;
  pointer-events: none;
}

//slide fade right

.slide-fade-right-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-right-leave-active {
  transition: all 0.35s ease-in-out;
}

.slide-fade-right-enter {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

//slide fade down

.slide-fade-down-enter-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}

.slide-fade-down-leave-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}

.slide-fade-down-enter {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-down-leave-to {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

//slide fade up

.slide-fade-up-enter-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}

.slide-fade-up-leave-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}

.slide-fade-up-enter {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-up-leave-to {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

//scale fade

.scale-fade-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.scale-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.scale-fade-enter {
  transform: scale(0.65);
  opacity: 0;
  pointer-events: none;
}

.scale-fade-leave-to {
  transform: scale(0.65);
  opacity: 0;
  pointer-events: none;
}

//slide left
.slide-left-enter-active {
  transition: all 0.35s ease-in-out;
}

.slide-left-leave-active {
  transition: all 0.35s ease-in-out;
}

.slide-left-enter {
  transform: translateX(100%);
  pointer-events: none;
}

.slide-left-leave-to {
  transform: translateX(-100%);
  pointer-events: none;
}

//slide right
.slide-right-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.2s;
}

.slide-right-leave-active {
  transition: all 0.35s ease-in-out;
}

.slide-right-enter {
  transform: translateX(-100%);
  pointer-events: none;
}

.slide-right-leave-to {
  transform: translateX(100%);
  pointer-events: none;
}

//slide fade
.slide-fade-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.slide-fade-leave-to {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

//fade left

.fade-left-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.2s;
}

.fade-left-leave-active {
  transition: all 0.35s ease-in-out;
}

.fade-left-enter {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.fade-left-leave-to {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

// Card scale fade

.card-scale-fade-enter-active {
  transition: all 0.2s ease-in-out;
}

.card-scale-fade-leave-active {
  transition: all 0.25s ease-in-out;
}

.card-scale-fade-enter {
  transform: scale(1.03);
  opacity: 0;
  pointer-events: none;
}

.card-scale-fade-leave-to {
  transform: scale(0.98);
  opacity: 0;
  pointer-events: none;
}

// No load fade

.no-load-fade-enter-active {
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.no-load-fade-leave-active {
  transition: all 0.1s ease-in-out;
}

.no-load-fade-enter {
  opacity: 0;
  pointer-events: none;
}

.no-load-fade-leave-to {
  opacity: 0;
  pointer-events: none;
}

// No result fade

.no-result-fade-enter-active {
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.no-result-fade-leave-active {
  transition: all 0.1s ease-in-out;
}

.no-result-fade-enter {
  opacity: 0;
  pointer-events: none;
}

.no-result-fade-leave-to {
  opacity: 0;
  pointer-events: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: $c-bgmain;
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 100px;
    color: $c-alt;
    animation: color 3s ease-in-out infinite;
    animation-delay: 1.2s;
  }
}

@keyframes color {
  0% {
    color: $c-alt;
  }

  50% {
    color: #a6bacb;
  }

  100% {
    color: $c-alt;
  }
}

.alert-box {
  background: #dbe2e8;
  border-radius: 20px;
  padding: 7px 20px;
  text-align: center;
  color: #3b5e7b;
  font-size: 16px;

  &.info {
    background: $c-noun;
    color: #fff;
  }
}

.check-radio {
  &__group {
    display: flex;
    padding: 10px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: 700;
    color: $c-gray;
    font-size: 17px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      .check-radio__box {
        &:after {
          background: #44449f;
        }
      }
    }
  }

  &__box {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);
    display: inline-flex;
    margin-right: 11px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      background: #dee3ea;
      border-radius: 50%;
      font-size: 10px;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }

  &__title {
    position: relative;
    top: 2px;
  }
}

.highlight-text {
  background: #e2e9f1;
  color: #5657ab;
  padding: 5px 0;
}

.word-rate {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 12px;

  span {
    display: block;
    background: #d4dce5;
    width: 6px;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 1em;
    transition: all 0.3s;

    &:nth-child(1) {
      height: 1em;
    }

    &:nth-child(2) {
      height: 1.65em;
    }

    &:nth-child(3) {
      height: 2.3em;
    }

    &:nth-child(4) {
      height: 2.95em;
    }

    &:nth-child(5) {
      height: 3.6em;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: #4545a2;
    }
  }
}

.dersler {
  .color-app {
    color: #0ea6ce !important;
  }
}

.wordy {
  .color-app {
    color: #2c896d !important;
  }
}

.deneme {
  .color-app {
    color: #874bb6 !important;
  }
}

.okuma {
  .color-app {
    color: #b34fa0 !important;
  }
}

.test {
  .color-app {
    color: #3770cc !important;
  }
}

.checkbox {
  display: flex;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__input {
    display: none !important;

    &:checked ~ .checkbox__box {
      background: #3497e8;
      border-color: #3497e8;

      .icon-font {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__box {
    display: inline-flex;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 2px solid #7d96ad;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 4px;
    margin-right: 10px;
    color: #fff;
    transition: all 0.3s;

    .icon-font {
      display: block;
      opacity: 0;
      transition: all 0.3s;
      backface-visibility: hidden;
    }
  }

  &__txt {
    display: block;
    line-height: 1em;
    font-size: 18px;
    color: #7d97ad;

    @include bp(mobile) {
      font-size: 14px;
      text-align: left;
    }

    a {
      color: #5657ab;
    }
  }

  &-radio {
    margin: 0 20px !important;

    .checkbox__box {
      border: 2px solid;
      border-radius: 50%;
      position: relative;
      color: #7d97ad;
      width: 18px;
      min-width: 18px;
      height: 18px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 1em;
        font-size: 10px;
        background: currentColor;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.3);
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
      }
    }

    .checkbox__txt {
      font-size: 15px;
      font-weight: 300;
      transition: all 0.3s;
    }

    .checkbox__input:checked {
      & ~ .checkbox__box {
        color: #4345a2;
        background: none;
        box-shadow: none;
        border-color: currentColor;

        &:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & ~ .checkbox__txt {
        color: #4345a2;
      }
    }
  }
}

.profile-image-changer {
  position: relative;
  max-width: 100px;
  border-radius: 100%;
  overflow: hidden;
  max-height: 100px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    display: inline-block;
    background: #f0f4f9;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
        endColorstr='#a6000000',
        GradientType=0);
    opacity: 0.6;
    z-index: 2;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    font-size: 36px;
    color: white;
    z-index: 12;
    pointer-events: none;
    opacity: 0.4;
    font-size: 1.5rem;
    transition: 0.2s;
  }

  &:hover {
    .profile-image-changer__icon {
      opacity: 0.8;
    }
  }
}

.wordlist {
  border-radius: 0.5rem;
  background: #fff;

  &.open {
    .wordlist-header {
      background: #fff;
      box-shadow: none !important;
    }
  }

  &-options {
    position: absolute;
    right: 1rem;
  }

  &-type {
    display: flex;
    align-items: center;

    &__icon {
      color: $c-text;

      &.public {
        // color: $c-alt;
      }
    }

    &__status {
      // color: $c-alt;
      color: $c-text;
      margin-left: 0.5rem;
    }
  }

  &-header {
    position: relative;
    z-index: 2;
    background: transparent;
    cursor: pointer;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 13px 16px 0px rgba(41, 53, 108, 0.09);
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1rem;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(100% - 7rem);
      max-width: calc(100% - 7rem);
      overflow: hidden;

      &__title {
        color: $c-secondary;
        font-weight: 700;
        display: inline-block;
        white-space: nowrap;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.2rem;
        width: 100%;
      }
    }

    &__icon {
      color: $c-icon;
      font-size: 2.5rem;
      flex-grow: 0;
      flex-shrink: 0;

      &.open {
        color: $c-alt;
      }
    }
  }

  &-main {
    display: flex;
    padding: 1rem;
    border-top: 1px solid $c-bgmain;
    user-select: none;
  }

  &-content {
    background: #fff;
  }

  &-count {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    line-height: 1;

    &__title {
      color: $c-text;
    }

    &__items {
      font-size: 1.1rem;
      color: $c-secondary;
      font-weight: 600;
      margin-top: 0.4rem;
    }
  }

  &-footer {
    padding: 0.5rem;
  }

  &-btn {
    width: 100%;
    color: $c-primary;
    text-transform: uppercase;
    background: $c-bgmain;
    text-align: center;
    border-radius: 0.4rem;

    &:hover {
      background: $c-bgcard;
    }

    &:active {
      background: $c-bgcard-hover;
    }
  }
}

.t-badge {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 4px 6px;
  margin-left: 5px;
  border-radius: 4px;
  position: relative;
  top: -2px;

  &--default {
    background: $c-alt;
  }

  .button {
    background: rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25) !important;

    &:hover {
      background: rgba(0, 0, 0, 0.35) !important;
    }
  }
}

.t-checkbox {
  .checkbox__box {
    border: 1px solid #eceef3 !important;
    background: #f6f9fc;
  }

  svg {
    color: white;
  }

  .checkbox__input:checked {
    & ~ .checkbox__box {
      background: #5657ab !important;
      border-color: #5657ab !important;
    }
  }
}

.full-image {
  img {
    width: 100%;
    display: block;
  }

  &:nth-last-child(-n + 6) {
    position: relative;
    z-index: 1;
  }
}

.t-dropdown {
  &.open {
    .t-dropdown--content {
      max-height: max-content !important;
      overflow: inherit !important;
      padding: 10px 0;
    }

    .t-dropdown--label {
      &__title {
        color: #44449f !important;
      }

      &__arrow {
        .caret {
          transform: rotate(180deg);

          &:after {
            border-top: 7px solid #4545a2 !important;
          }
        }
      }
    }
  }

  &.p-b {
    .t-dropdown--label {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      font-size: 20px;
      cursor: pointer;

      &__title {
        text-transform: uppercase;
        font-weight: 400;
        color: #8591b0;
        flex: 0 0 auto;
      }

      &__description {
        color: $c-secondary;
        opacity: 0.6;
        font-weight: 300;
        flex: 0 0 auto;
        margin-left: 10px;
        margin-right: 10px;
      }

      &__line {
        height: 1px;
        background: #d6dee6;
        display: flex;
        width: calc(100% - 100px);
      }

      &__arrow {
        cursor: pointer;
        width: 100px;
        position: relative;
        height: 100%;

        .caret {
          position: absolute;
          width: 25px;
          height: 25px;
          background: #fff;
          border-radius: 50%;
          box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);
          top: 50%;
          left: 50%;
          margin: -12.5px;

          &:after {
            @include pseudo;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 7px solid #c3c3d5;
            top: 10px;
            left: 7px;
            transition: all 0.3s;
          }
        }
      }
    }

    .t-dropdown--content {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.t-badge {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 30px 0px;
  border-radius: 10px;
  padding: 20px;
  background: #5657ab;

  &--icon {
    width: 30px;
    flex: 0 0 50px;
    background: rgba(255, 255, 255, 0.3);
    height: 50px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &--title {
    font-size: 20px;
    padding-left: 20px;

    strong {
      font-weight: 400;
    }

    span {
      font-size: 18px;
      margin-left: 20px;
      font-weight: 500;
    }
  }

  &--button {
    margin-left: auto;
  }

  button {
    background: white;
    color: #5657ab;
  }

  &.danger {
    background: #e96565;

    .t-badge--title {
      color: #fac36d;

      span {
        color: white;
      }
    }

    button {
      background: white;
      color: #e96565;
    }
  }
}

.status-badge {
  width: 100%;
  background: #e77777;
  font-size: 18px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
  cursor: default;

  strong {
    margin-right: 5px;
    font-weight: 400;
    opacity: 0.6;
  }

  &[data-status='success'] {
    color: rgba(255, 255, 255, 0.6);
    background: #4dca83;

    strong {
      opacity: 1;
      color: white;
    }
  }
}

.container {
  margin: 0 auto !important;
}

.with-arrow-bg {
  padding-left: 50px;
  position: relative;
  padding-right: 0;

  > .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    left: -10px;
    color: #5657ab;
  }
}

.custom-suffinx {
  .suffix__top {
    margin: 0 !important;
  }
}

.n-wordy-report {
  margin: 0 -30px 0 -20px;
}

.n-report .reading-words__header {
  margin: 0 -15px;
}

.n-report .n-wordy-report {
  margin-bottom: 7px;

  @include bp(tablet) {
    margin-bottom: 0;
  }
}

.n-wordy-report-show-more {
  text-align: center !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px !important;
}

.n-button-for-wordy {
  background: #eff3f9;
  color: #7f8aac;
  border-radius: 100px !important;
  margin-top: 15px;
  margin-bottom: 10px;

  &__success-btn {
    background: #eefbf1 !important;
    pointer-events: none;
    color: #72dd89 !important;

    .button__icon {
      color: #72dd89 !important;
    }
  }

  &:hover {
    background: #43439e;
    color: #fff;
  }
}

.toasted-container.top-right {
  top: 25px !important;
  right: 25px !important;
}

.toasted {
  background: #fff !important;
  color: #7380a5 !important;
  border: 1px solid $c-primary !important;
}

.app-content {
  position: relative;
}

.component-loader {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  h2 {
    color: $c-secondary;
    font-size: 20px;
    font-weight: 600;
  }
}

.subpage-tab-list-only-desktop {
  display: flex !important;

  @include bp(tablet) {
    display: none !important;
  }
}

.subpage-tab-list-only-laptop {
  display: none !important;

  @include bp(tablet) {
    display: -webkit-box !important;
    width: 100%;
  }
}

.only-desktop {
  display: block;

  @include bp(tablet) {
    display: none !important;
  }
}

.only-desktop-m-inline {
  display: inline !important;

  @include bp(desktop) {
    display: none !important;
  }
}

.only-laptop-m-inline {
  display: inline;

  @media (max-width: 1225px) {
    display: none !important;
  }
}

.only-desktop-inline {
  display: inline !important;

  @include bp(tablet) {
    display: none !important;
  }
}

.only-tablet-m-flex {
  display: none;

  @include bp(tablet-m) {
    display: flex;
  }
}

.no-tablet-m {
  display: flex !important;

  @include bp(tablet-m) {
    display: none !important;
  }
}

.only-tablet {
  display: none !important;

  @include bp(tablet) {
    display: block !important;
  }
}

.only-desktop-flex {
  display: flex !important;

  @include bp(tablet) {
    display: none !important;
  }
}

.only-tablet-flex {
  display: none !important;

  @include bp(tablet) {
    display: flex !important;
  }
}

.only-tablet-inline {
  display: none !important;

  @include bp(tablet) {
    display: inline-flex !important;
  }
}

.no-tablet-m {
  @include bp(tablet-m) {
    display: none;
  }
}

.no-mobile {
  @include bp(tablet) {
    display: none !important;
  }
}

.status-filter {
  .select {
    &__wrp {
      min-width: 150px;
      width: 150px;
      cursor: pointer;
    }

    &-header {
      padding: 5px;
      justify-content: center;
    }

    &__title {
      visibility: hidden;
    }

    &-header.open {
      .select__title {
        visibility: visible;
        position: absolute;
        right: 15px;
        text-overflow: inherit;
        max-width: fit-content;
      }

      .select__sort-icon {
        visibility: hidden;
      }
    }

    &__list {
      width: 100%;
    }

    &__caret {
      @include bp(tablet) {
        display: none !important;
      }
    }

    &__option {
      justify-content: flex-end;

      @include bp(tablet) {
        padding: 15px 15px;
      }

      &-title {
        font-size: 14px;
      }
    }

    &__sort-icon {
      font-size: 30px;
      display: block !important;
      visibility: visible;
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);

      &.unfiltered {
        filter: grayscale(1);
        opacity: 0.8;
      }
    }
  }

  &__w100 {
    @include bp(tablet) {
      .select {
        &__wrp {
          cursor: pointer;

          @include bp(tablet) {
            min-width: 180px;
            width: 180px;
          }
        }

        &-header {
          padding: 5px;
          justify-content: center;
        }

        &__title {
          visibility: hidden;
        }

        &-header.open {
          .select__title {
            visibility: visible;
            position: absolute;
            right: 15px;
            text-overflow: inherit;
            max-width: fit-content;
          }

          .select__sort-icon {
            visibility: hidden;
          }
        }

        &__list {
          width: 100%;
        }

        &__caret {
          @include bp(tablet) {
            display: none !important;
          }
        }

        &__option {
          justify-content: flex-end;

          @include bp(tablet) {
            padding: 15px 15px;
          }

          &-title {
            font-size: 14px;
          }
        }

        &__sort-icon {
          font-size: 30px !important;
          display: block !important;
          visibility: visible;
          position: absolute;
          top: 50%;
          left: 50%;
          right: auto;
          transform: translate(-50%, -50%);

          &.unfiltered {
            filter: grayscale(1);
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.select__sort-icon {
  display: none !important;
}

.head__margin {
  @include bp(tablet-l) {
    margin-top: 180px;
  }

  @include bp(phone) {
    margin-top: 200px;
  }

  @include bp(phone-s) {
    margin-top: 230px;
  }
}

.head__margin__phone-s {
  @include bp(phone-s) {
    margin-top: 70px;
  }
}

.tablet-top-mar {
  @include bp(tablet-l) {
    margin-bottom: 70px !important;
  }

  @include bp(tablet-m) {
    margin-bottom: 100px !important;
  }

  @include bp(tablet) {
    margin-bottom: 0 !important;
  }
}

.v-step {
  z-index: 999999999999999;
}

.v-tour.active {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  position: absolute;
  z-index: 99999;
  height: 100%;
  top: 0;
  left: 0;
}

.v-step {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 20px 30px !important;
  font-size: 17px;
  width: 100%;
  max-width: 550px !important;
  border-radius: 7px !important;
  color: #4e4e4e !important;
  background: #fff !important;
  -webkit-filter: none !important;
  filter: none !important;
}

.v-step .v-step__arrow {
  filter: brightness(200);
}

.v-step__button {
  padding: 13px 30px !important;
  border-radius: 7px !important;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px !important;
  position: relative;
  background: #4545a1 !important;
  color: #fff !important;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25) !important;
  box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25) !important;
  -webkit-transition: all 0.18s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
  transition: all 0.18s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
  border: none !important;
  height: auto !important;

  &:hover {
    background: darken(#4545a1, 10%) !important;
  }
}

.v-step[x-placement^='bottom'] .v-step__arrow {
  border-color: white !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

//Tam ekran koyu arkaplan için eklendi
.v-tour__target--highlighted {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4) !important;
}

.guide-title {
  color: $c-alt;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 50px;
  position: relative;
  border-bottom: 1px solid #e8eaea;
  padding-bottom: 20px;
  font-weight: 600;
  padding-top: 10px;

  svg {
    position: absolute;
    left: 0;
    font-size: 35px;
  }
}

.guide-desc {
  font-size: 16px;
  color: #7d88a8;
  opacity: 0.7;
  text-align: left;
  margin-top: 15px;
}

.v-step__buttons {
  display: flex;
}

.v-step__buttons button:nth-child(2) {
  margin-right: 10px;
  margin-left: auto;
}

.v-step__buttons button {
  background: $c-alt !important;
  box-shadow: 0px 7px 16px rgba(48, 172, 247, 0.25) !important;
}

.v-step__buttons button:hover {
  background: #2893d4 !important;
  transform: translateY(-1px);
}

.v-step__buttons button:first-child {
  margin-left: 0;
  margin-right: auto;
  background: transparent !important;
  box-shadow: none !important;
  color: #46507e !important;
  padding: 0 !important;
  text-transform: uppercase;
}

.v-step {
  box-shadow: 0px 7px 16px rgba(41, 53, 108, 0.11) !important;
}

.wordy-test-question {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.wordy-detail {
  .dictate {
    &-question {
      @include bp(tablet) {
        border-radius: 5px;
      }
    }

    &-question__txt {
      color: #9fa2aa;
      font-weight: 600;
      margin-left: 5px;
      padding-left: 10px !important;

      @include bp(tablet) {
        padding-left: 0 !important;
        margin-left: 0;
        border-left: none;
      }
    }

    &-subtitle {
      @include bp(tablet) {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 1px;
      }
    }

    &-subtxt {
      @include bp(tablet) {
        display: block;
        margin-top: 5px;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }

  .wordy-test__item {
    width: 100% !important;
  }

  .tab__item.tab__spacing {
    padding: 0 !important;
    display: none;
  }
}

.wrapper {
  padding-bottom: 0 !important;
}

.v-step[x-placement^='bottom'] {
  margin-top: 1.5rem !important;
}

.v-step[x-placement^='top'] {
  margin-bottom: 1.5rem !important;
}

.v-step[x-placement^='left'] {
  margin-right: 1.5rem !important;
}

.v-step[x-placement^='right'] {
  margin-left: 1.5rem !important;
}

.digibook-table-content {
  max-width: 100%;
  margin: 0 auto 30px auto;
  background: white;
  min-height: 100px;
  padding: 15px 20px;
  color: #1a1a1a;
  margin-top: 15px;

  @include bp(tablet) {
    margin-top: 15px;
  }

  &--generaltitle {
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    line-height: 28px;
    border-bottom: 1px solid $c-bgmain;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    strong {
      margin-bottom: -7px;
      font-weight: 600;
      color: #5557ab;
    }

    span {
      color: #818baa;
      font-size: 14px;
      font-weight: 300;
      margin-right: 5px;
    }
  }

  &--title {
    font-family: inherit;
    font-size: 28px;
    color: #5557ab;
    display: flex;
    line-height: 28px;
  }

  &--mintitle {
    font-family: inherit;
    font-size: 20px;
    color: #5557ab;
    display: flex;
  }

  &--subtitle {
    font-family: inherit;
    font-size: 14px;
    color: #818baa;
    display: flex;
  }

  table {
    margin: 25px 0;

    td {
      border: 1px solid #cad1d9;
      padding: 10px;
      font-size: 16px;
      color: #7683a7;
      font-weight: 600;

      input {
        background: $c-bgmain;
        margin: 0 auto;
        display: block;
        height: 40px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 600;
        border: 2px solid #e5e7ec;
        border-radius: 4px;

        &::placeholder {
          font-weight: 600;
        }
      }
    }
  }
}

.loading {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: center;

  &-text {
    font-weight: 600;
    font-size: 24px;
    color: #8c95b1;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  position: relative;

  &-container {
    @media (max-width: 1400px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (max-width: 1360px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include bp(tablet-m) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include bp(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .page-content-filters__left {
      .vfilter {
        @include bp(tablet) {
          width: 100%;
          justify-content: space-between;
        }
      }
    }

    .page-content-filters__right {
      .select {
        @include bp(tablet) {
          width: 30%;
        }
      }

      .vfilter {
        margin-left: auto;

        @include bp(tablet) {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    position: relative;
    margin-top: 1rem;
    width: 100%;

    &-filters {
      display: flex;
      margin-top: 2rem;
      width: 100%;

      @include bp(tablet) {
        flex-direction: column;
      }

      &__left {
        @include bp(desktop) {
          flex-shrink: 0;
        }

        @include bp(tablet-l) {
          flex-shrink: unset;
        }

        @include bp(tablet) {
          max-width: 100%;
          width: 100%;
          margin-bottom: 15px;
        }

        .tab-filter-search {
          width: 100%;
          position: relative;
          padding-left: 5px;

          input {
            font-weight: 600;
            color: rgba(54, 54, 126, 0.9);

            &::placeholder {
              color: rgba(54, 54, 126, 0.6);
            }
          }

          @include bp(tablet) {
            padding: 7px;
          }

          &__button.button {
            width: 35px !important;
            height: 35px !important;
            min-height: 35px !important;
            min-width: 35px !important;
            color: #7e87a1;
            cursor: auto;

            .button__icon {
              font-size: 15px !important;
            }
          }
        }
      }

      &__right {
        display: flex;
        margin-left: auto;
        width: auto;

        @include bp(desktop) {
          margin-left: auto;
          width: 100%;
        }

        @include bp(tablet) {
          margin-left: 0;
          flex-flow: row-reverse;
        }

        .select.w300 {
          @include bp(desktop) {
            width: 100%;
            flex-basis: unset;
          }

          .select-header {
            height: 48px;
          }

          .select__title {
            font-size: 16px;
            color: rgba(54, 54, 126, 0.6);
            font-weight: 600;
          }
        }

        & > * + * {
          margin-left: 1rem;

          @include bp(tablet) {
            margin-left: 0%;
            margin-right: 0.7rem;
          }
        }
      }
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      width: 100%;
      padding-bottom: 1.5rem;
    }

    &-empty {
      position: absolute;
      top: 2rem;
    }
  }

  &-loadmore {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &--fixed {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
  }
}

.wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: transparent;
  transition-delay: 0.3s;
  transition: 0.3s;

  &.ExamsDetail,
  &.Dictionary,
  &.DictionaryDetail,
  &.DocumentsDetail {
    overflow: initial;
  }

  &.ExamsReport,
  &.TestReport,
  &.WordyDetail,
  &.home,
  &.DigibookWordList {
    overflow: hidden;
  }

  &.DigibookDetail,
  &.DigibookTest,
  &.DigibookTranslate,
  &.DigibookPairing,
  &.DigibookPassage,
  &.DigibookWordlist,
  &.WordyDetail,
  &.ReadingDetail,
  &.ClueBankDetail,
  &.DocumentsDetail,
  &.ExamsReport,
  &.TestReport,
  &.TestDetail,
  &.ExamsDetail {
    &.wrapper--dark {
      background: #242b40;
      transition: 0.3s;
    }
  }
}

.justify {
  color: #4545a2;

  &-center {
    justify-content: center;
  }
}

.absolute-data {
  position: absolute;
  bottom: -20px;
}

.no-bounce {
  position: relative;

  &-item {
    position: relative;
    top: 0;
    left: 0;
  }
}

.vbtn {
  display: inline-flex;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center !important;
  align-items: center;
  user-select: none;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 2rem;
  transition: 0.15s;
  background: #e4eaf0;
  border-radius: 0.5rem;

  &:hover {
    background: $c-bgfocus;
  }

  &-reverse {
    flex-direction: row-reverse;

    .vbtn__icon {
      margin-right: 0;
      margin-left: 10px;

      &--far {
        margin: 0;
      }
    }
  }

  &.default {
    color: $c-secondary;
    background: #e4eaf0;

    &:hover {
      box-shadow: 0 0.4rem 0.8rem 0.2rem rgba($color: $c-primary, $alpha: 0.2);
      color: $c-primary;
    }
  }

  &-basic {
    color: $c-secondary;
    background: $c-bgmain;

    &:hover {
      box-shadow: 0 0.4rem 0.8rem 0.2rem rgba($color: $c-primary, $alpha: 0.2);
      color: $c-primary;
      background: $c-bgalt;
    }

    &:active {
      background: $c-bgfocus;
    }
  }

  &-plain {
    color: $c-secondary;
    background: transparent;

    &:hover {
      color: $c-primary;
    }

    &:active {
      background: $c-bgmain;
    }
  }

  &__icon {
    margin-right: 10px;

    &--far {
      margin: 0;
    }
  }

  &__txt {
    text-align: center;

    &--long {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  &-primary {
    background: #4545a2;
    color: #fff;
    border-radius: 0.5rem;

    &:hover {
      box-shadow: 0 0.4rem 0.8rem 0.2rem rgba($color: #4545a2, $alpha: 0.2);
      background: darken($color: #4545a2, $amount: 10);
    }

    &:active {
      background: darken($color: #4545a2, $amount: 15);
    }
  }

  &.round,
  &.p-round {
    border-radius: 50px !important;
  }

  &--disabled {
    opacity: 0.7;
    transition: 0.15s;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
  }

  &.noshadow {
    box-shadow: none !important;

    &:hover {
      box-shadow: none !important;
    }
  }

  &-block {
    width: 100%;
    justify-content: center;
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

#scroll-area {
  width: 100%;
  height: 100%;
}

.scrollbar-track.show {
  opacity: 0.5 !important;
  transition: 0.2s;
  background: transparent !important;

  &:hover {
    opacity: 1 !important;
  }
}

.page {
  &__filters {
    display: flex;
    padding: 2rem 0;

    &--right {
      margin-left: auto;
      width: auto;
    }
  }

  &.Lessons {
    .subpage-tab {
      &__cnt {
        @media (max-width: 1400px) {
          padding-left: 50px;
          padding-right: 50px;
        }

        @media (max-width: 1360px) {
          padding-left: 70px;
          padding-right: 70px;
        }

        @include bp(tablet-m) {
          padding-left: 0;
          padding-right: 0px;
        }
      }
    }
  }

  .subpage-header {
    .subpage-tab {
      @media (max-width: 1400px) {
        width: auto;
        margin: 2.25rem auto 0;
      }

      @media (max-width: 1400px) {
        margin-left: 65px;
        margin-right: 65px;
      }

      @include bp(desktop-s) {
        margin: 1.25rem auto 0;
      }

      @include bp(tablet-m) {
        padding-left: 0;
        padding-right: 0px;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__lesson {
    &__cnt {
      @media (max-width: 1400px) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: 1360px) {
        padding-left: 70px;
        padding-right: 70px;
      }

      @include bp(tablet-m) {
        padding-left: 0;
        padding-right: 0px;
      }

      .page-content-filters {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .select.w300 {
          @include bp(desktop) {
            width: 300px;
            flex-basis: 300px;
            margin-left: auto;
          }

          @include bp(tablet) {
            width: 100%;
            flex-basis: 100%;
            margin-left: 0;
          }
        }
      }

      .vfilter {
        @include bp(tablet) {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  &__loadmore {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
  }
}

.store-lessons .page-content-filters__left {
  .select__option-title {
    line-height: 1.3em;
  }

  .select__option {
    padding-bottom: 12px;
  }
}

.select.w300 {
  width: 300px !important;
  flex-basis: 300px !important;

  @include bp(tablet) {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}

.has-tooltip {
  position: relative;
}

.tooltip {
  display: block !important;
  z-index: 10000;

  &--show-tablet {
    @include bp(tablet) {
      display: block !important;
    }
  }

  &--hidden-tablet {
    @include bp(tablet) {
      display: none !important;
    }
  }

  .tooltip-inner {
    background: $c-alt;
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    border-radius: 0.4rem;
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $c-alt;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 10px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 10px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;
    font-family: 'Proxima Nova' !important;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.tooltip-purple {
  width: max-content;
  max-width: 80vw;

  .tooltip-inner {
    background: $c-primary;
    padding: 10px 20px;
    color: #fff;
    border-radius: 0.4rem;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif;
    max-width: 100%;
  }

  .tooltip-arrow {
    border-color: $c-primary;
  }
}

.tooltip-w100 {
  width: max-content;
  max-width: 70vw;

  @include bp(tablet) {
    width: 80vw;
  }

  .tooltip-inner {
    max-width: 100%;
  }
}

.tooltip-auto-width {
  width: max-content;
  max-width: 70vw;

  @include bp(tablet) {
    width: 80vw;
  }

  .tooltip-inner {
    max-width: 100%;
  }
}

.tooltip-500 {
  width: max-content;
  max-width: 40vw;

  @include bp(tablet) {
    width: 80vw;
    max-width: 90vw;
  }

  .tooltip-inner {
    max-width: 100%;
  }
}
.addnewlist {
  width: 220px;

  & .tooltip-inner {
    width: 100%;
    margin-right: 0;
    max-width: 100%;
  }
}

.badgetooltip {
  width: max-content;
  max-width: 490px;

  @include bp(mobile) {
    width: calc(100% - 60px);
  }

  & .tooltip-inner {
    max-width: 100%;
  }

  &.in-toolbar {
    & .tooltip-inner {
      max-width: 72%;
    }
  }
}

.toolbar__cnt--dctresult {
  & .badgetooltip {
    width: 100%;
    max-width: 100%;

    & .tooltip-inner {
      max-width: 75% !important;
    }
  }
}

.btooltip {
  width: calc(100% - 35px);
  margin-left: -25px;

  & .tooltip-inner {
    width: 100%;
    max-width: 100%;
  }
}

.lessongroup {
  width: auto;

  & .tooltip-inner {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
  }
}

.tooltip-singleline {
  width: auto;

  & .tooltip-inner {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
  }
}

.tooltip-singleline-auto {
  width: auto;

  & .tooltip-inner {
    width: 100%;
    max-width: 100%;
  }

  &-left {
    width: auto;

    & .tooltip-inner {
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
  }
}

.tooltip-subtab {
  @media (max-width: 1250px) {
    top: -25px !important;
  }
}

.tooltip-toolbarhelper {
  z-index: 999;
  & .tooltip-inner {
    width: 100%;
    max-width: 352px;
    text-align: right;
  }

  // @include bp(tablet) {
  //   display: none;
  // }
}

.flash {
  margin-top: 1rem;
  background: $c-adverb;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.vdropdown {
  border: 0;

  & .tooltip-arrow.popover-arrow {
    border-color: $c-toolbaricon-bg;
  }

  &-btn {
    border-radius: 50%;
    border: 1px solid $c-default;
    color: $c-text;
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
    transition: 0.2s;

    &:hover {
      background: $c-bgicon;
    }

    &.active {
      background: $c-toolbaricon-bg;
    }

    &__icon {
      transform: rotate(0);
      transition: 0.2s;

      &.active {
        transform: rotate(270deg);
      }
    }
  }

  &-list {
    &-inner {
      padding: 0.5rem;
      border-radius: 0.3rem;
      background: $c-toolbaricon-bg;
      color: $c-text;
    }

    &__item {
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: $c-alt;
      }
    }
  }
}

$filterbg: #e3eaf2;
$main: #4545a2;
$filterItem: transparentize(darken($main, 10), 0.4);

.vfilter {
  display: flex;
  align-items: center;
  background: $c-bgalt;
  position: relative;
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 1rem;
  font-size: 15px;
  height: 3rem;

  &-btn {
    color: $filterItem;
    height: 2rem;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
    position: relative;
    z-index: 3;
    flex: 1 1 auto;
    text-align: center;
    user-select: none;

    @include bp(phone-l) {
      padding: 0.5rem 0.7rem;
    }

    @include bp(phone) {
      padding: 0.5rem 0.5rem;
      font-size: 14px;
    }

    &:hover {
      color: $main;
    }

    &.active {
      color: $main;

      @include bp(tablet) {
        background: #fff;
        border-radius: 0.3rem;
      }
    }

    &__bar {
      background: #fff;
      height: calc(100% - 0.8rem);
      position: absolute;
      transition: 0.2s;
      border-radius: 0.3rem;
      z-index: 2;

      @include bp(tablet) {
        display: none;
      }
    }
  }
}

.volumer {
  background: rgba($color: #fff, $alpha: 0.75);
  background: #fff;
  box-shadow: 0px 0 24px rgba(85, 100, 144, 0.15);
  height: 100px;
  border: none !important;
  width: 30px;
  border-radius: 0.3rem;
  z-index: 4;

  &-wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  &-inner {
    height: 100%;
    padding: 0;
  }

  &-bar {
    width: 6px;
    border-radius: 5px;
    height: 80px;
    margin: 10px auto 0;
    background: #e4eaf2;
    position: relative;

    &__status,
    &__setter {
      position: absolute;
      left: 0;
      width: 100%;
    }

    &__status {
      background: #30acf7;
      border-radius: 5px;
      bottom: 0;
    }

    &__setter {
      background: transparent;
      height: 100%;
      top: 0;
    }
  }
}

.view {
  &--main {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
  }
}

.toasted.bubble {
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15) !important;
  max-width: 470px !important;
  height: auto !important;
  line-height: 22px !important;
  padding: 15px !important;
  font-weight: 600 !important;

  i {
    font-style: normal;
    transform: rotate(0deg);
    background: #fff;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #ff7043;
    border-radius: 50%;
  }

  @include bp(tablet) {
    max-width: 100% !important;
  }
}

.obj-contain {
  object-fit: contain !important;
}

.modal {
  @include bp(tablet) {
    border-radius: 0 !important;
  }

  &-main-close {
    background: #d7dde9;
    color: #556490;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button__icon {
      font-size: 14px;
    }
  }

  &-product-other-items {
    max-width: 550px !important;

    .modal__content {
      @include bp(tablet) {
        max-height: calc(100vh - 80px) !important;
      }
    }

    .modal__inner {
      @include bp(tablet) {
        height: 100%;
      }
    }

    &--button {
      max-width: 80%;
      width: 100%;
      min-height: 57px;
      margin: 0 auto 1.5rem;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }

      &.deneme {
        background-color: #73409b !important;
      }

      &.test {
        background-color: #4a7fcc !important;
      }

      &.wordy {
        background-color: #2e8272 !important;
      }

      &.okuma {
        background-color: #905184 !important;
      }

      &.ders {
        background-color: #3299c6 !important;
      }

      &.sozluk {
        background-color: #3759a1 !important;
      }

      &.digibook {
        background-color: #a6487d !important;
      }

      &.ipucu-havuzu {
        background-color: #394a9c !important;
      }
    }

    &--content {
      @include bp(tablet) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #d4dbe2;

        @include bp(tablet) {
          display: none;
        }
      }
    }
  }

  &__top {
    @include bp(tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
      height: 70px;
      border-bottom: 1px solid #d4dbe2;
    }
  }

  &__top-img {
    position: absolute;
    top: -32.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    filter: drop-shadow(0 15px 10px rgba(13, 16, 31, 0.25)) !important;

    @include bp(tablet) {
      position: static;
      transform: none;
      width: 45px;
      height: 45px;
    }
  }

  &__top-title {
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #4545a2;

    &.inf {
      @include bp(tablet) {
        padding-left: 0;
        padding-right: 100px;
        line-height: 25px;
      }
    }

    @include bp(tablet) {
      font-size: 18px;
      padding: 0;
      padding-left: 15px;
    }
  }

  &.modal-content-books {
    .modal__inner {
      @include bp(tablet) {
        height: 100%;
      }
    }

    .modal__content {
      @include bp(tablet) {
        height: 100%;
        max-height: 100%;
        padding-bottom: 200px !important;
      }
    }
  }
}

.swal2-top-end {
  top: auto !important;
  right: auto !important;
  bottom: 25px !important;
  left: 25px !important;

  .swal2 {
    &-title {
      margin-top: 0px !important;
      position: relative;
      padding-left: 15px !important;
      margin-left: 10px !important;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-52%);
        left: 0;
        width: 2px;
        height: calc(100% + 30px);
        background: #fff;
      }
    }
  }
}

.swal2-icon.swal2-error {
  border-color: #fff !important;
  color: #fff !important;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
  background-color: #fff !important;
}

.absolute-modal-shop {
  position: absolute !important;
}

.swal2 {
  &-container {
    max-width: 100% !important;

    @include bp(tablet) {
      max-width: 100% !important;
    }
  }

  &-toast {
    padding: 10px !important;
    padding-bottom: 11px !important;
  }

  &-popup {
    flex-direction: column !important;
  }

  &-styled {
    margin-top: 10px !important;
    padding: 10px 15px !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #fff !important;
}

.swal2-title {
  color: #fff !important;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
  width: 2.9375em;
  height: 0.2125em !important;
  width: 1.315em !important;
}

.swal2-popup.swal2-toast .swal2-icon {
  border-width: 3px !important;
  transform: scale(0.7);
}

.swal2-popup.swal2-modal.swal2-icon-error {
  background: #fbfdfe;
  width: 30em;
  padding: 30px;

  .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
    background-color: #fff;
  }

  .swal2-icon.swal2-error {
    border-color: #fff;
  }

  .swal2-icon {
    border-color: #fff;
  }

  .swal2 {
    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      display: none !important;
    }

    &-title {
      color: #fff !important;
      font-size: 22px;
      font-weight: 700;
      font-size: 21px;
      margin: 0;
      margin-bottom: 10px;
    }

    &-text {
      color: #fff !important;
    }

    &-content {
      color: #556490;
      font-weight: 300;
      font-size: 16px;
    }

    &-actions {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #d9e1ec;
      flex-flow: row;

      button {
        text-transform: uppercase !important;
      }
    }
  }

  button {
    font-weight: 600;
    border: none;
    outline: none !important;
    border: none !important;
    width: 100%;
  }

  .swal2-styled.swal2-cancel {
    color: #556490;
  }
}

.swal2-popup.swal2-toast .swal2-content {
  margin: 0 5px 0 10px;
  font-weight: 200;
  font-size: 14px !important;
  color: #556490;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background-color: $c-primary !important;
  font-weight: 600 !important;
  color: #fff;
  font-size: 16px !important;
}

.swal2-popup.swal2-toast {
  background: $c-alt !important;
  box-shadow: none !important;
  border: 1px solid $c-alt !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  display: none;
}

.swal2-popup.swal2-toast .swal2-success {
  border-color: #fff !important;
}

.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background: transparent !important;
}

.swal2-popup.swal2-toast
  .swal2-success
  [class^='swal2-success-line'][class$='long'] {
  width: 1.275em !important;
}

.swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'] {
  height: 0.2em !important;
}

.only-tablet-m {
  display: none !important;

  @include bp(tablet-m) {
    display: block !important;
  }
}

#confetti-canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  top: 45% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 450px !important;
  height: 210px !important;
  z-index: 999 !important;
}

.error-pane {
  padding: 15px;
  background: transparentize($color: $c-error, $amount: 0.9);
  color: $c-error;
  border-radius: 6px;
  margin-bottom: 15px;
  font-weight: 600;
}

.feedback {
  &-modal {
    @include bp(tablet) {
      padding-top: 0 !important;
    }

    .modal__content {
      max-height: 100%;
    }

    .modal__close {
      @include bp(tablet) {
        top: 55px !important;
      }
    }
  }

  &__wrp {
    padding: 0 25px;

    .f-textarea {
      margin-top: 10px;

      textarea {
        height: 200px !important;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #556490;
  }

  &__btn {
    justify-content: center;
  }
}

.rh-community {
  &-modal {
    max-width: 750px !important;

    .modal-main-close {
      @include bp(tablet) {
        top: 60px !important;
      }
    }

    @include bp(tablet) {
      padding-top: 0 !important;
    }

    .plan-modal-header {
      @include bp(tablet) {
        padding-left: 15px !important;
      }
    }
  }

  &__wrp {
    padding: 0 25px;

    @include bp(tablet) {
      padding: 0 15px;
    }
  }

  &__outer {
    display: flex;
    flex-direction: column;
  }

  &__table {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7ecf3;
    padding: 10px 0;

    @include bp(tablet) {
      flex-flow: wrap;
      padding: 20px 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__item {
    padding: 10px 10px;
    position: relative;

    @include bp(tablet) {
      padding: 0;
    }
  }

  &__title {
    width: 25%;
    flex-shrink: 0;
    height: 100%;
    color: $c-primary;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    @include bp(tablet) {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    @include bp(tablet) {
      flex-basis: 100% !important;
      max-width: 100% !important;
    }

    .share-popup__link {
      padding: 0;
      height: 100%;
    }
  }

  &__social {
    @include bp(tablet) {
      width: 50%;
    }
  }

  &__share {
    width: max-content;
    flex-shrink: 0;
    padding-right: 0;

    @include bp(tablet) {
      width: 50%;
    }

    &-btn {
      height: 36px;
      min-height: 36px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      @include bp(tablet) {
        display: flex !important;
        width: 100%;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 15px);
    right: 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 11px 25px rgba(131, 142, 172, 0.4);
    border-radius: 10px;

    @include bp(tablet) {
      display: flex !important;
      opacity: 1;
      pointer-events: all;
      position: static;
      width: 100%;
      background: transparent;
      box-shadow: none;
      padding: 0;
      margin-top: 10px;
      height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      top: -7.5px;
      right: 15px;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      background: #fff;

      @include bp(tablet) {
        display: none;
      }
    }

    .button {
      @include bp(tablet) {
        min-height: 46px !important;
        height: 46px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  &__subtitle {
    margin-top: 15px;
    font-size: 16px;
    color: #556490;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    hr {
      width: 100%;
    }

    span {
      flex-shrink: 0;
      display: block;
      padding: 0 10px;
    }
  }
}

.quest-card-answer__txt {
  p {
    span {
      color: $c-secondary !important;
      font-weight: 200 !important;
    }
  }
}

.preloader-dots {
  height: 20px;
  width: fit-content;
}

.preloader-dots .dot {
  display: inline-block;
  background: $c-primary;
  height: 10px;
  width: 10px;
  opacity: 0.3;
  margin-right: 5px;
  border-radius: 50%;
  animation: up-and-down 1.5s infinite;

  &:last-child {
    margin-right: 0;
  }
}

.preloader-dots .dot:nth-child(2) {
  animation-delay: 0.15s;
}

.preloader-dots .dot:nth-child(3) {
  animation-delay: 0.3s;
}

.preloader-dots .dot:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(0px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-5px);
    opacity: 0.8;
  }

  70% {
    transform: translateY(2px);
    opacity: 0.6;
  }

  85% {
    transform: translateY(0px);
  }
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none !important;
}

.swal2-modal {
  background: #f0f4f9 !important;
  width: 26em !important;

  .swal2 {
    &-confirm {
      transition: 0.3s;

      &:hover {
        background: #353386 !important;
      }
    }

    &-cancel {
      transition: 0.3s;
      background: #e7ecf3 !important;

      &:hover {
        background: #d4dce6 !important;
      }
    }

    &-content {
      padding: 20px !important;
      color: #556490 !important;
      font-size: 17px !important;
      text-align: center;
      font-weight: 200 !important;
      opacity: 0.8 !important;
      line-height: 22px;
    }

    &-actions {
      margin-top: 0 !important;
      padding-top: 0 !important;
      border-top: none !important;
      flex-flow: row-reverse !important;
    }

    &-styled {
      height: 54px !important;
      margin: 0.5125em !important;
      font-weight: 300 !important;
    }
  }

  &.swal2-popup.swal2-modal.swal2-icon-error .swal2-title {
    color: $c-primary !important;
    padding: 7px !important;
    padding-top: 0 !important;
    margin: 0 !important;
    margin-bottom: 15px !important;
    font-size: 28px !important;
    font-weight: 600 !important;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #d9e1ea !important;
  }
}

.highlight-holder {
  position: relative;
}

.welcome-swiper {
  margin-top: -42px;
  overflow: initial !important;

  @include bp(tablet) {
    top: -40px;
  }

  .swiper-wrapper {
    background: #5657ab;
    border-radius: 11px;
    z-index: unset;

    @include bp(tablet) {
      align-items: center;
    }
  }

  .swiper-slide {
    opacity: 0 !important;
    background: #5657ab;
    border-radius: 11px;
    transition: 0.3s;

    @include bp(tablet) {
      background: transparent;

      .alert {
        margin-top: 0;
      }
    }

    &-active {
      opacity: 1 !important;
    }

    &:first-child {
      .alert {
        transition: 0s !important;
      }
    }
  }
}

.welcome-swiper-pagination {
  bottom: -30px !important;
  left: 0;

  .swiper-pagination {
    &-bullet {
      width: 10px;
      height: 10px;
      background: #7d97ae;
      opacity: 0.5;
      margin: 0 4px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 8px;

      &-active {
        width: 50px;
        border-radius: 8px;
        opacity: 1;
        background: #4645a2;
      }
    }
  }
}

.scroll-loader {
  width: 100%;
}

.tests-results__btn {
  &:hover {
    .button__icon,
    .button__txt {
      color: #fff !important;
    }
  }
}

.calendar-popper {
  &[data-popper-placement='bottom'] {
    & div[data-popper-arrow] {
      top: -5px;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: #fff;
      }
    }
  }

  & div[data-popper-arrow] {
    width: 10px;
    height: 10px;
  }

  .notebox-newnote {
    width: 100% !important;
    margin: 0 !important;
  }
}

.rcard {
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem;

  @include bp(desktop-s) {
    padding: 0.75rem;
  }

  &:hover {
    box-shadow: 0 0.75rem 1.25rem 0 rgba($color: $c-primary-dark, $alpha: 0.1);
    transform: translateY(-3px);
  }
}

.sounds-preloader {
  width: 57px;
  background: #e7ecf3;
  border-radius: 7px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .preloader-dots {
    margin-top: 0;
  }
}

.word__badge {
  color: #fff;
  background: $c-primary;
  padding: 4px 8px;
  border-radius: 25px;
  line-height: 1;
  font-weight: 700;
}

.component {
  &--test {
    &-filter,
    &-list-item {
      .tab-filter__item {
        &:last-child {
          @include bp(tablet) {
            width: 100%;
            margin-left: 0;
          }
        }
      }

      @media (max-width: 1400px) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: 1360px) {
        padding-left: 70px;
        padding-right: 70px;
      }

      @include bp(tablet-m) {
        padding-left: 0;
        padding-right: 0px;
      }

      .select-header {
        height: 55px;
      }
    }
  }
}

.is-disable-more-btn {
  .word-box-morebtn {
    pointer-events: none !important;
  }
}

.word-box-btn-smalled {
  &.customizer {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .word-book-word__button {
    margin-bottom: 0;
    top: 0px;
  }
}

.word-group__box {
  .word-book-word__button {
    margin-bottom: 0;
    top: 10px;
  }

  &.custom-group-box {
    .word-book-word__button {
      top: 3px;
      left: -5px;
    }
  }
}

.form-error-line {
  color: #df6457;
  font-weight: 600;
  margin-top: 10px;
}

.number-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    min-width: 40px;
    height: 40px;
    margin: 0 0.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    background: #fff;
    color: $c-text;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);
    transition: 0.3s;
    padding: 0 0.5rem;
    user-select: none;

    &.active,
    &:hover {
      background: $c-primary;
      box-shadow: none;
      color: #fff;
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }

  &__dots {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    color: $c-text;
    cursor: default;
  }
}

.vc {
  &-container {
    width: 100% !important;
  }

  &-popover {
    &-content {
      &-wrapper {
        width: 100%;

        .vc-border {
          border-color: #eceef3 !important;
        }
      }
    }
  }

  &-popover-caret {
    border-color: #eceef3 !important;
  }

  &-title {
    font-family: 'Proxima Nova' !important;

    &-wrapper {
      .vc-popover-content-wrapper {
        width: max-content;
        transform: none !important;
        top: 30px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
    }
  }

  &-bg-blue-600 {
    background-color: $c-primary !important;
  }

  &-text-gray-900 {
    color: #556490 !important;
  }

  &-text-gray-800 {
    color: $c-primary !important;
  }

  &-bg-gray-800 {
    background-color: #fff !important;
    border-color: #eceef3 !important;
    box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08) !important;
  }

  &-text-white {
    color: #556490 !important;
  }

  &-text-blue-100 {
    color: $c-primary !important;
  }

  &-bg-blue-100 {
    background-color: $c-primary !important;
    color: #fff !important;

    &.vc-grid-focus {
      &:hover {
        background-color: $c-primary !important;
        color: #fff !important;
      }
    }
  }

  &-nav-container {
    .vc-text-blue-100 {
      color: $c-primary !important;
    }
  }

  &-font-bold {
    color: #fff !important;
  }
}

.focus\:vc-border-blue-600:focus {
  border-color: transparent !important;
}

.hover\:vc-bg-gray-900:hover {
  background-color: #e7ecf3 !important;
  box-shadow: none !important;
  color: $c-primary !important;
}

input.vc-text-gray-800 {
  color: #556490 !important;
}

.digi-words-list {
  & > div {
    &:nth-last-child(1),
    &:nth-last-child(2) {
      padding-bottom: 25px !important;
    }

    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 25px !important;
    }
  }
}

.hide-xs {
  display: initial;

  @include bp(tablet) {
    display: none !important;
  }
}

.toolbar-app-description {
  position: relative;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  @include bp(tablet) {
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }
}

:root {
  --button-bg-secondary: #e7ecf3;
  --background-color: #f0f4f9;
  --background-color-light: #ffffff;
  --background-color-alt: #ffffff;
  --background-color-lighter: #fcfdfe;
  --background-color-slight: #f6f7fe;
  --color-text: #859db2;
  --color-primary: #4442a4;
  --color-primary-alt: #4442a4;
  --color-primary-alpha: rgba(68, 66, 164, 0.3);
  --color-secondary: #556490;
  --color-border-light: #e2e5ee;
  --color-arrow-selection: #aabfd3;
  --color-overlay: #222255;
  --color-digibook-number: #ffffff;
  --color-digibook-number-border: #e2e5ee;
  --btn-color-primary: var(--color-primary);
  --btn-background-secondary: var(--background-color);
  --btn-background-secondary-hover: #e4eaf2;
  --btn-background-secondary-focus: #d3ddea;
  --btn-background-sound: var(--button-bg-secondary);
  --btn-color-hover: var(--color-primary);
  --btn-box-shadow: rgba(11, 13, 25, 0.2);
  --matching-background-hover: var(--background-color);
}

html:not([data-app='lessons'])[data-theme='dark'] {
  --background-color: #242b40;
  --background-color-alt: #242b40;
  --background-color-light: #394056;
  --background-color-lighter: #353b50;
  --background-color-slight: #353b50;
  --color-text: #aabfd3;
  --color-primary: #030303;
  --color-primary-alt: #8282ef;
  --color-primary-alpha: rgba(130, 130, 239, 0.3);
  --color-secondary: #aabfd3;
  --color-border-light: #525773;
  --color-arrow-selection: #aabfd3;
  --color-overlay: #151523;
  --color-digibook-number: #252b40;
  --color-digibook-number-border: #252b40;
  --btn-color-primary: #8e98b3;
  --btn-background-secondary: var(--background-color);
  --btn-background-secondary-hover: var(--background-color);
  --btn-background-secondary-focus: var(--background-color);
  --btn-background-sound: #fff;
  --btn-color-hover: #fff;
  --btn-box-shadow: rgba(68, 66, 164, 0);
  --matching-background-hover: var(--background-color);
}
