.fade {
  &-enter-active {
    transition: opacity 0.25s ease-in-out;
  }

  &-leave-active {
    transition: opacity 0.25s ease-in-out;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }
}

.stamp-fade-in {
  &-enter-active {
    transition: 0.3s ease-in-out;
  }

  &-leave-active {
    transition: 0.3s ease-in-out;
  }

  &-enter {
    opacity: 0;
    transform: scale(4);
  }

  &-leave-to {
    opacity: 0.25;
    transform: scale(0.6);
  }
}

.completion-slide-in-right {
  &-enter-active,
  &-leave-active {
    transition: 0.3s;
  }

  &-enter-to,
  &-leave {
    transform: translateX(0);
  }

  &-enter,
  &-leave-to {
    transform: translateX(100%);
  }
}

// .stamp-fade-in {
//   &-enter-active,
//   &-leave-active {
//     transition: all 33s ease-out;
//   }

//   &-enter-to,
//   &-leave {
//     opacity: 0.25;
//     transform: translate(-50%, -50%) rotate(-25deg) scale(1);
//   }

//   &-enter,
//   &-leave-to {
//     opacity: 0;
//     transform: translate(-50%, -50%) rotate(-25deg) scale(4)
//   }
// }

.content-fade-scale-out {
  &-enter-active,
  &-leave-active {
    transition: 0.2s ease-in-out 0.8s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: scale(1);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.content-fade-scale-in {
  &-enter-active,
  &-leave-active {
    transition: 0.2s ease-in-out 0.6s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: scale(1);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(1.1);
  }
}

.scale-out-fade-delayed {
  &-enter-active,
  &-leave-active {
    transition: 0.4s ease-in-out 0.4s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: scale(1);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.content-fade-slide {
  &-enter-active,
  &-leave-active {
    transition: 0.2s ease-in-out 0.8s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.overlay-fade {
  &-enter-active {
    transition: 0.25s ease-in-out;
  }

  &-leave-active {
    transition: 0.25s ease-in-out;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }
}

.intro-fade {
  &-enter-active,
  &-leave-active {
    transition: 0.325s ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(1.25);
  }
}

.intro-fade-in {
  &-enter-active,
  &-leave-active {
    transition: opacity 30s, transform 10s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: scale(1.25);
  }

  &-enter,
  &-leave-to {
    opacity: 1;
    transform: scale(1.25);
  }
}

.intro-fade-out {
  &-enter-active,
  &-leave-active {
    transition: opacity 3s;
  }

  &-enter-to,
  &-leave {
    opacity: 0;
  }

  &-enter,
  &-leave-to {
    opacity: 1;
  }
}

.contents-slide-down-delayed {
  &-enter-active,
  &-leave-active {
    transition: 0.4s ease-in-out 0.2s;
  }

  &-enter-to,
  &-leave {
    transform: translateY(0);
  }

  &-enter,
  &-leave-to {
    transform: translateY(calc(-100% - 180px));
  }
}

.contents-slide-down {
  &-enter-active,
  &-leave-active {
    transition: 0.3s ease-in-out;
  }

  &-enter-to,
  &-leave {
    transform: translateY(0);
  }

  &-enter,
  &-leave-to {
    transform: translateY(calc(-100% - 180px));
  }
}

.header-slide-down {
  &-enter-active,
  &-leave-active {
    transition: 0.2s ease-in-out 0.2s;
  }

  &-enter-to,
  &-leave {
    transform: translateY(0);
  }

  &-enter,
  &-leave-to {
    transform: translateY(calc(-100% - 180px));
  }
}

.slide-down {
  &-enter-active {
    transition: transform 0.2s 0.4s;
  }

  &-leave-active {
    transition: transform 0.4s 0.4s;
  }

  &-enter {
    transform: translateY(-100%);
  }

  &-leave-to {
    transform: translateY(0);
  }
}

.content-slide-left {
  &-enter-active {
    transition: 0.5s;
    position: absolute;
  }

  &-leave-active {
    transition: 0.5s;
    position: absolute;
  }

  &-enter {
    transform: translate(100%, 0);
  }

  &-leave-to {
    transform: translate(-100%, 0);
  }
}

.slide-down-extra {
  &-enter-active {
    transition: transform 0.3s;
  }

  &-leave-active {
    transition: transform 0.5s;
  }

  &-enter {
    transform: translateY(-100%);
  }

  &-leave-to {
    transform: translateY(0);
  }
}
