<template>
  <router-link
    :to="{ name: 'DocumentsDetail', params: { id: document.id } }"
    class="rcard document-card"
    :class="{ visited : document.visited }"
  >
    <div class="docs__header">
      <span class="docs__icon">
        <svg-icon type="icon-document-item" />
      </span>
      <div>
        <div class="docs__title">
          <span class="docs__title--span">{{ document.title }}</span>
        </div>
        <div class="docs__txt">{{ document.description }}</div>
      </div>
    </div>
    <div class="docs-inf">
      <div class="docs-inf__title">İlgili Ders Grupları</div>
      <div class="docs-inf__groups">
        <span
          class="docs-inf__group tooltip-btn"
          v-for="group in document.groups.slice(0,4)"
          :key="group.id"
          v-tooltip="{
            content: group.title,
            classes: 'lessongroup'
          }"
        >
          <img :src="group.icon" class="icon" />
        </span>
        <div
          class="digi-card-group__btn"
          v-bind:class="[MoreActive ? '' : 'active']"
          v-show="document.groups.length >= 5"
        >
          <span class="digi-card-group__number">+{{ document.groups.length - 4 }}</span>
          <span class="digi-card-group__close">
            <svg-icon type="icon-close" />
          </span>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'DocumentItem',
  data() {
    return {
      MoreActive: true
    }
  },
  props: {
    document: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/_variables';
.document-card {
  @include column('column-6', initial, column);
  color: $c-secondary;
  transition: 0.15s;

  @include bp(tablet) {
    width: 100%;
    margin-right: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  &:hover {
    color: $c-secondary;

    @include bp(tablet) {
      color: $c-secondary;
      box-shadow: none;
      transform: translateY(0);
    }

    .docs-inf__group .icon {
      opacity: 1;

      &-hover {
        opacity: 1;
      }
    }

    .docs__icon {
      background: rgba(225, 99, 48, 0.15);
      color: #e16330;

      @include bp(tablet) {
        background: none;
      }
    }

    .docs__title {
      color: #e16330;
    }
  }

  &.visited {
    .docs-inf__group .icon {
      opacity: 1;

      &-hover {
        opacity: 1;
      }
    }

    .docs__icon {
      color: #e16330;
    }
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}
</style>
