<script>
export default {
  name: 'DocumentItems'
}
</script>

<template>
  <div class="document-items">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
.document-items {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
</style>
