<script>
import { mapActions, mapGetters } from 'vuex'
import QuestionsBlock from '../../components/Digibook/DigibookTest/QuestionsBlock.vue'
import GhostDigibookTest from '../../core/Ghost/GhostDigibookTest.vue'

export default {
  name: 'DigibookContentTest',

  components: {
    // Item: DigibookTestItem,
    Ghost: GhostDigibookTest,
    Questions: QuestionsBlock,
  },

  computed: {
    ...mapGetters({
      loading: 'digibook/test/loading',
      loaded: 'digibook/test/loaded',
      hasLoaded: 'digibook/test/hasLoaded',
      questionBlocks: 'digibook/test/questionBlocks',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        await this.getContent(route.params.contentId)
      },
    },
  },

  // beforeDestroy() {
  //   this.clearData()
  // },

  methods: {
    ...mapActions({
      clearData: 'digibook/test/handleClearData',
      getContent: 'digibook/test/fetchContent',
    }),
  },
}
</script>

<template>
  <div class="digibook-test">
    <template v-if="!hasLoaded">
      <Ghost v-for="(item, index) in 2" :key="index" />
    </template>
    <template v-else>
      <Questions
        v-for="questionObject in questionBlocks"
        :key="questionObject.id"
        :questionObject="questionObject"
      />
    </template>
  </div>
</template>
