<script>
import { mapActions, mapGetters } from 'vuex'
import { fastTranslation } from '../../common/helpers'
import GhostDigibookTable from '../../core/Ghost/GhostDigibookTable.vue'

export default {
  components: { GhostDigibookTable },
  name: 'DigibookContentTable',

  data() {
    return {
      savingAnswer: false,
    }
  },

  computed: {
    ...mapGetters({
      contentId: 'digibook/table/contentId',
      loading: 'digibook/table/loading',
      loaded: 'digibook/table/loaded',
      keys: 'digibook/table/keys',
      answers: 'digibook/table/answers',
      tableContent: 'digibook/table/tableContent',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        const { contentId } = route.params
        await this.getContent({ id: contentId, withTools: false })
        this.$nextTick(() => {
          this.updateTable()
        })
      },
    },
  },

  methods: {
    ...mapActions({
      getContent: 'digibook/table/fetchContent',
      setAnswerData: 'digibook/table/handleAnswerData',
    }),

    updateTable() {
      this.keys.map(async keyID => {
        let divBox = document.querySelector(`div[data-id="${keyID}"]`)
        let answer = this.answers[keyID] ? this.answers[keyID] : ''
        divBox.innerHTML = `<textarea id="${keyID}" rows="1">${answer}</textarea>`
        let input = divBox.querySelector('textarea')
        input.addEventListener('input', this.handleInputResize)
        input.addEventListener('blur', this.handleClickParent)
        input.style.height = await 'auto'
        input.style.height = await `${input.scrollHeight}px`
      })
    },

    handleInputResize(e) {
      e.target.style.height = 'auto'
      e.target.style.height = e.target.scrollHeight + 'px'
    },

    handleClickParent(e) {
      let inputData = e.target.value
      let inputKey = e.target.getAttribute('id')
      let oldAnswer = this.answers[inputKey] ? this.answers[inputKey] : ''
      let data = {
        contentId: this.contentId,
        answerId: inputKey,
        answerData: inputData,
      }
      if (oldAnswer !== inputData) this.submitAnswer(data)
    },

    submitAnswer(data) {
      this.setAnswerData(data)
    },

    checkTranslation: fastTranslation,
  },
}
</script>

<template>
  <div class="digibook-tables">
    <template v-if="loading && !loaded">
      <GhostDigibookTable />
    </template>
    <template v-else>
      <div
        class="digibook-tables-content"
        @mouseup="checkTranslation"
        v-html="tableContent"
      />
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

.digibook-tables {
  padding: 1rem 1.5rem;

  &-content {
    &::v-deep table {
      width: 100% !important;

      tbody {
        @include bp(tablet) {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
        }

        tr {
          @include bp(tablet) {
            height: auto !important;
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100% !important;
          }

          td {
            @include bp(tablet) {
              height: auto !important;
              width: 100% !important;
            }
          }
        }
      }

      & td {
        border: 1px solid #cad1d8;
        padding: 0.5rem;
        vertical-align: middle;

        & textarea {
          display: block;
          background: var(--background-color);
          box-shadow: inset 0 0 0 2px var(--color-border-light);
          color: var(--color-text);
          transition: background 0.3s, box-shadow 0.3s;
          transition: 0s;
          border-radius: 0.5rem;
          overflow: hidden;
          font-size: 1rem;
          line-height: 1.25rem;
          padding: 0.75rem 1rem;
          height: 42px;
          resize: none;

          &::placeholder {
            opacity: 0.5;
          }

          &:hover {
            transition: 0.15s;
            box-shadow: inset 0 0 0 2px var(--color-text);
          }

          &:focus {
            box-shadow: inset 0 0 0 2px $c-alt;
            background: var(--background-color);

            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
</style>
