<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'DigibookContentStatic',
  computed: {
    ...mapGetters({
      content: 'digibook/statics/content',
      contentsList: 'digibook/statics/contentsList',
      loaded: 'digibook/loaded',
    }),
  },

  watch: {
    loaded: {
      immediate: true,
      handler(val) {
        if (val) {
          this.$nextTick(() => {
            this.setContent(this.$route.params.content)
            this.setContentTitle(this.content.name)
            this.setSelectionTitle({
              type: null,
              text: this.content.name,
            })
          })
        }
      },
    },
  },

  mounted() {
    console.log('mounted static content')
  },

  methods: {
    ...mapActions({
      setContent: 'digibook/statics/handleContent',
      setSelectionTitle: 'digibook/index/handleSelectionTitle',
      setContentTitle: 'digibook/handleContentTitle',
    }),
  },
}
</script>

<template>
  <div class="digibook-static" v-html="content.content" />
</template>

<style lang="scss" scoped>
@import '../../assets/scss/breakpoints';

.digibook-static {
  padding: 1rem 1.5rem;

  &::v-deep p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.3 !important;

    &:first-child {
      margin-top: 0;
    }
  }

  &::v-deep ul {
    list-style: disc;
    list-style-position: inside;

    & > li {
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
</style>
