<script>
import { mapActions, mapGetters } from 'vuex'
import { fastTranslation, playResultSound } from '../../common/helpers'
import GhostDigibookPairing from '../../core/Ghost/GhostDigibookPairing.vue'

export default {
  components: { GhostDigibookPairing },
  name: 'DigibookContentMatching',

  data() {
    return {
      pairingItem: null,
      pairingAnswer: null,
    }
  },

  computed: {
    ...mapGetters({
      loaded: 'digibook/matching/loaded',
      loading: 'digibook/matching/loading',
      matchedList: 'digibook/matching/matches',
      notMatchedList: 'digibook/matching/notMatches',
      hasMatchedItems: 'digibook/matching/hasMatchedItems',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        this.clearContent()
        this.cleanMatches()
        await this.getContent({ id: route.params.contentId, withTools: false })
        this.setMatchedList()
      },
    },
  },

  beforeDestroy() {
    this.clearContent()
    this.cleanMatches()
  },

  methods: {
    ...mapActions({
      getContent: 'digibook/matching/fetchContent',
      clearContent: 'digibook/matching/handleClearContent',
      setMatchedList: 'digibook/matching/handleMatchedList',
      setNewMatch: 'digibook/matching/handleNewMatch',
      cleanMatches: 'digibook/matching/handleCleanMatches',
    }),

    async handlePairing(item, type) {
      if (type === 'item') this.pairingItem = item
      if (type === 'answer') this.pairingAnswer = item

      if (this.pairingItem && this.pairingAnswer) {
        this.checkPairing(this.pairingItem, this.pairingAnswer)
      }
    },

    async checkPairing(item, answer) {
      if (item.id === answer.itemID) {
        await this.setNewMatch({
          contentId: this.$route.params.contentId,
          item: item,
          answer: answer,
        })
        playResultSound(true)
        this.pairingItem = null
        this.pairingAnswer = null
      } else {
        playResultSound(false)
      }
    },

    selectedItem(id) {
      if (!this.pairingItem) return false
      return this.pairingItem.id === id
    },

    selectedAnswer(id) {
      if (!this.pairingAnswer) return false
      return this.pairingAnswer.itemID === id
    },

    checkTranslation: fastTranslation,
  },
}
</script>

<template>
  <div
    class="digibook-matching"
    :class="{ 'fully-matched': notMatchedList.items.length === 0 }"
  >
    <template v-if="loading && !loaded">
      <GhostDigibookPairing />
    </template>
    <template v-else>
      <div
        class="digibook-matching-list is-matched-items"
        v-if="hasMatchedItems"
        :class="{ 'fully-matched': notMatchedList.items.length === 0 }"
      >
        <div
          class="digibook-matching-list-matched"
          v-for="(match, index) in matchedList"
          :key="`match${index}`"
        >
          <div
            class="digibook-matching-item digibook-matching-list-matched__item is-paired"
            @mouseup="checkTranslation"
          >
            {{ match.item.title }}
          </div>
          <div
            class="digibook-matching-item digibook-matching-list-matched__item"
            @mouseup="checkTranslation"
          >
            {{ match.answer.title }}
          </div>
        </div>
      </div>
      <div class="digibook-matching-list">
        <div class="digibook-matching-items">
          <div
            class="digibook-matching-items__item"
            v-for="pairing in notMatchedList.items"
            :key="pairing.id"
            :class="{ 'is-selected': selectedItem(pairing.id) }"
            @click="handlePairing(pairing, 'item')"
            @mouseup="checkTranslation"
          >
            {{ pairing.title }}
          </div>
        </div>
        <div class="digibook-matching-items">
          <div
            class="digibook-matching-items__item"
            v-for="answer in notMatchedList.answers"
            :key="answer.itemID"
            :class="{ 'is-selected': selectedAnswer(answer.itemID) }"
            @click="handlePairing(answer, 'answer')"
            @mouseup="checkTranslation"
          >
            : {{ answer.title }}
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

.digibook-matching {
  padding: 1.5rem 0;

  &.fully-matched {
    padding-bottom: 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;

    @include bp(tablet) {
      flex-direction: column;
    }

    &.is-matched-items {
      flex-direction: column;
      background: var(--background-color-lighter);
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      border-top: 1px solid var(--color-border-light);
      border-bottom: 1px solid var(--color-border-light);
      margin-top: calc(-1.5rem - 1px);

      &.fully-matched {
        margin-bottom: 0;
        border-bottom: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    &-matched {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include bp(tablet) {
        flex-direction: column;
      }

      & + & {
        margin-top: 1rem;
      }

      &__item {
        flex: 0 0 49%;
        margin-top: 0;

        @include bp(tablet) {
          flex: 0 0 100%;

          &:last-child {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  &-item {
    height: 5rem;
    border-radius: 0.5rem;
    background: var(--background-color);
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.15s, color 0.1s;

    @include bp(tablet) {
      flex: 0 0 5rem;
    }

    &:hover {
      color: $c-alt;
      background: var(--matching-background-hover);
    }

    &.is-paired {
      background: $c-success-light;
      color: #fff;
    }
  }

  &-items {
    flex: 0 0 49%;
    max-width: 49%;

    @include bp(tablet) {
      flex: 0 0 100%;
      max-width: 100%;

      &:last-child {
        margin-top: 1rem;
      }
    }

    &__item {
      height: 5rem;
      border-radius: 0.5rem;
      background: var(--background-color);
      display: flex;
      align-items: center;
      padding: 1rem;
      font-size: 0.9rem;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.15s, color 0.1s;

      & + & {
        margin-top: 1rem;
      }

      &:hover {
        color: $c-alt;
        background: var(--matching-background-hover);
      }

      &.is-paired {
        background: $c-success-light;
        color: #fff;
      }

      &.is-selected {
        background: $c-alt;
        color: #fff;
      }
    }
  }
}
</style>
