<script>
import { mapActions, mapGetters } from 'vuex'
import BaseIcon from '../../components/Base/BaseIcon.vue'
import WordsList from '../../components/WordsList.vue'
import GhostWordlistTabs from '../../core/Ghost/GhostWordlistTabs.vue'
import GhostWordslist from '../../core/Ghost/GhostWordslist.vue'

export default {
  components: {
    WordsList,
    BaseIcon,
    GhostWordlistTabs,
    GhostWordslist,
  },
  name: 'DigibookContentWordlist',

  data() {
    return {
      wordlistSwiper: null,
      wordsLoading: false,
      wordslistTabsOptions: {
        slidesPerView: 'auto',
        slideActiveClass: 'active',
        slideToClickedSlide: true,
        simulateTouch: false,
        spaceBetween: 20,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true,
          },
        },
      },
    }
  },

  computed: {
    ...mapGetters({
      content: 'digibook/wordlist/content',
      loading: 'digibook/wordlist/loading',
      loaded: 'digibook/wordlist/loaded',
      tabs: 'digibook/wordlist/tabs',
      activeTab: 'digibook/wordlist/activeTab',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        this.clearContent()
        this.clearTabs()
        await this.getContent({ id: route.params.contentId, withTools: false })
        await this.setTabs()
        this.wordlistSwiper = this.$refs.wordlistSwiper.swiper
      },
    },

    // tabs(val) {
    //   console.log('tabs: ', val)
    //   console.log('swiper: ', this.wordlistSwiper)
    //   setTimeout(() => {
    //     this.wordlistSwiper.params.slidesPerView = val.length
    //     console.log('swiper sto: ', this.wordlistSwiper)
    //   }, 500)
    //   this.$nextTick(() => {
    //     console.log('swiper nt: ', this.wordlistSwiper)
    //   })
    // },
  },

  beforeDestroy() {
    this.clearContent()
  },

  methods: {
    ...mapActions({
      getContent: 'digibook/wordlist/fetchContent',
      setTabs: 'digibook/wordlist/handleTabs',
      setActiveTab: 'digibook/wordlist/handleActiveTab',
      clearContent: 'digibook/wordlist/handleClearContent',
      clearTabs: 'digibook/wordlist/handleClearTabs',
    }),

    setTabItem(tab, index) {
      this.setActiveTab(tab)
      this.wordlistSwiper.slideTo(index)
    },

    handleLoadingWords() {
      this.wordsLoading = true
      console.log('wl: ', this.wordsLoading)
      setTimeout(() => {
        this.wordsLoading = false
        console.log('wl: ', this.wordsLoading)
      }, 500)
    },
  },
}
</script>

<template>
  <div class="digibook-wordlist">
    <div class="digibook-wordlist-tabs">
      <GhostWordlistTabs v-if="loading && !loaded" />
      <template v-else>
        <swiper
          class="digibook-wordlist-tabs-swiper"
          :options="wordslistTabsOptions"
          ref="wordlistSwiper"
        >
          <swiper-slide
            class="digibook-wordlist-tabs-tab"
            v-for="(tab, index) in tabs"
            :key="index"
            @click.native="setTabItem(tab, index)"
          >
            <div
              class="digibook-wordlist-tabs-tab__item"
              :class="{ active: activeTab === tab.title }"
            >
              <BaseIcon
                :iconName="tab.icon"
                class="digibook-wordlist-tabs-tab__item--icon"
              />
              <span>{{ tab.title }}</span>
            </div>
          </swiper-slide>
        </swiper>
      </template>
    </div>
    <div class="digibook-wordlist-content">
      <GhostWordslist v-if="loading && !loaded" />
      <transition-group
        v-else
        name="fade"
        mode="out-in"
        tag="section"
        class="digibook-wordlist-list"
      >
        <WordsList
          v-show="activeTab === 'VOCABULARY'"
          :content="'digibook-wordlist'"
          :key="1"
          :title="'Vocabulary'"
          :words="content.data.words"
          :wordType="'w'"
          @loading-words="handleLoadingWords"
        />
        <WordsList
          v-show="activeTab === 'COLLOCATION'"
          :content="'digibook-wordlist'"
          :key="2"
          :title="'Collocation'"
          :words="content.data.collocations"
          :wordType="'c'"
          :isBasic="true"
          @loading-words="handleLoadingWords"
        />
        <WordsList
          v-show="activeTab === 'PREPOSITION'"
          :content="'digibook-wordlist'"
          :key="3"
          :title="'Preposition'"
          :words="content.data.prepositions"
          :wordType="'p'"
          :isBasic="true"
          @loading-words="handleLoadingWords"
        />
      </transition-group>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

.digibook-wordlist {
  transform: translateY(-1.5rem);

  &-tabs {
    background: var(--background-color);
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &-swiper {
      // width: calc(30rem + 60px);

      @include bp(tablet) {
        width: 100%;
      }
    }

    &-tab {
      display: inline-flex;
      height: 4rem;
      user-select: none;
      cursor: pointer;
      width: 10rem;
      position: relative;

      &__item {
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;

        &--icon {
          height: 1.75rem;
          margin-right: 0.5rem;
        }

        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 5px;
          background: var(--color-primary);
          bottom: 0;
          left: 0;
          transform: translateY(5px);
          transition: 0.2s;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &.active {
          position: relative;
          color: var(--color-primary);

          &::after {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &-content {
    background: var(--background-color);
    transition: background 0.3s;
  }

  &-list {
    padding: 1rem;
    background: var(--background-color-light);
    transition: background 0.3s;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
</style>
