<script>
import AccountOrderItem from '@/components/Account/AccountOrderItem'
import EmptyContent from '@/components/EmptyContent'
import { mapGetters } from 'vuex'

export default {
  name: 'AccountOrders',

  components: {
    AccountOrderItem,
    EmptyContent,
  },

  computed: {
    ...mapGetters('orders', ['orders']),
  },

  methods: {
    goStore() {
      this.$router.push('/magaza')
    },
  },
}
</script>

<template>
  <container>
    <div class="d-flex align-items-center justify-content-center flex-column">
      <p class="account-main__p">
        Sipariş geçmişinizi görüntüleyerek, sipariş detaylarına erişebilirsiniz.
      </p>
      <AccountOrderItem
        v-for="order in orders"
        :key="`orderItem${order.id}`"
        :order="order"
      />
      <div v-if="orders === null || orders.length === 0">
        <EmptyContent
          with-button
          button-text="Mağazaya Git"
          class="empty-content--notfound"
          icon="icon-notfound-order"
          title="Hesabınıza ait sipariş yok!"
          text="Verdiğiniz siparişler burada listelenir. Hemen yeni bir sipariş oluşturmak için mağazamıza uğrayın."
          @on-action="goStore"
        />
      </div>
    </div>
  </container>
</template>

<style lang="scss">
.order-item + .order-item {
  margin-top: 2rem;
}
</style>
