<script>
import { required, email, sameAs } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { UPDATE_ACCOUNT_INFO } from '@/store/actions.type'

export default {
  name: 'AccountSettings',

  validations: {
    formData: {
      phone: {
        required,
      },
      email: {
        email,
        required,
      },
      emailRepeat: {
        required,
        sameAsEmail: sameAs('email'),
        email,
      },
    },
  },

  data() {
    return {
      submitStatus: '',
      email: null,
      phone: null,
      firstName: '',
      lastName: '',
      phoneEntered: false,
      emailRepeat: null,
      emailEntered: false,
      emailRepeatEntered: false,
      emailsEqual: null,
      formSubmitted: false,
      formData: {
        email: '',
        emailRepeat: '',
        phone: '',
      },
    }
  },

  computed: {
    ...mapGetters(['memberInfo', 'responseMessage']),
  },

  created() {
    this.setFormData()
  },

  methods: {
    setFormData() {
      if (this.$store.getters.memberInfo.email !== null) {
        this.$nextTick(() => {
          this.formData.phone = this.$store.getters.memberInfo.phone
          this.formData.email = this.$store.getters.memberInfo.email
          this.firstName = this.$store.getters.memberInfo.firstName
          this.lastName = this.$store.getters.memberInfo.lastName
        })
      }
    },

    checkEmailEquality() {
      this.emailsEqual = this.email === this.emailRepeat
    },

    updateMemberInfo() {
      this.formSubmitted = true
      this.checkEmailEquality()
      this.$v.$touch()

      console.log(this.formData)

      if (this.$v.invalid) {
        this.submitStatus = 'OK'
      } else {
        this.submitStatus = 'PENDING'
        let phoneData = this.formData.phone
        phoneData = phoneData.replace(/\s/g, '')
        phoneData = phoneData.replace(/[()]/g, '')

        let payload = {
          email: this.formData.email,
          phone: phoneData,
          firstName: this.firstName,
          lastName: this.lastName,
        }
        this.$store.dispatch(UPDATE_ACCOUNT_INFO, payload).then(res => {
          console.log(res)
        })
      }
    },
  },
}
</script>

<template>
  <container>
    <div class="d-flex align-items-center justify-content-center flex-column">
      <p class="p-5">
        RH+ Hizmetlerinde kullandığınız temel bilgiler ( ör: adınız ve
        fotoğrafınız )
      </p>
      <!-- {{ memberInfo }}
        <span>{{ email }}</span> -->
      <div v-if="formSubmitted">
        {{ formData }}
      </div>
      <form class="t-card col-md-8" @submit.prevent="updateMemberInfo">
        <div class="t-card--header">
          <strong class="t-card--header__title">HESAP BİLGİLERİ</strong>
          <strong class="t-card--header__subtitle"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do.</strong
          >
        </div>
        <div class="t-card--content">
          <hr class="f-line" />
          <div class="row no-gutter">
            <div class="col-md-6">
              <div
                class="f-input"
                :data-validation="
                  formSubmitted &&
                    (!$v.formData.email.required || !$v.formData.email.email)
                "
              >
                <label for="input">E-Mail</label>
                <div class="f-input--content">
                  <input v-model.trim="formData.email" placeholder="email..." />
                </div>
              </div>
              <div v-if="formSubmitted">
                <div class="f-input-error" v-if="!$v.formData.email.required">
                  * Bu alan bos birakilamaz
                </div>
                <div class="f-input-error" v-if="!$v.formData.email.email">
                  * Girilen e-posta adresi gecersiz
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="f-input"
                :data-validation="
                  formSubmitted &&
                    (!$v.formData.emailRepeat.required ||
                      !$v.formData.emailRepeat.sameAsEmail ||
                      !$v.formData.emailRepeat.email)
                "
              >
                <label for="input">E-Mail (Tekrar)</label>
                <div class="f-input--content">
                  <input
                    type="email"
                    placeholder="email..."
                    v-model="formData.emailRepeat"
                  />
                </div>
              </div>
              <div v-if="formSubmitted">
                <div
                  class="f-input-error"
                  v-if="!$v.formData.emailRepeat.sameAsEmail"
                >
                  * E-posta adresleri ayni degil
                </div>
                <div
                  class="f-input-error"
                  v-if="!$v.formData.emailRepeat.required"
                >
                  * Bu alan bos birakilamaz
                </div>
                <div
                  class="f-input-error"
                  v-if="!$v.formData.emailRepeat.email"
                >
                  * Girilen e-posta adresi gecersiz
                </div>
              </div>
            </div>
          </div>
          <hr class="f-line" />
          <div class="row no-gutter">
            <div class="col-md-12">
              <div
                class="f-input"
                :data-validation="formSubmitted && !$v.formData.phone.required"
              >
                <label for="input">Telefon</label>
                <div class="f-input--content">
                  <input
                    placeholder="0(555) 555 55 55"
                    v-mask="'#(###) ### ## ##'"
                    v-model.trim="formData.phone"
                    type="text"
                  />
                </div>
              </div>
              <div v-if="formSubmitted && !$v.formData.phone.required">
                <div class="f-input-error" v-if="!$v.formData.phone.required">
                  * Bu alan bos birakilamaz
                </div>
              </div>
            </div>
          </div>
          <div class="clear" style="height: 30px;"></div>
          <v-button class="fw c-purple" title="Kaydet" />
        </div>
      </form>
      <div class="clear" style="height: 30px;"></div>
      <!-- <div class="t-card col-md-8">
          <div class="t-card--header">
            <strong class="t-card--header__title">Çoklu HESAP bİLGİLERİ</strong>
            <strong class="t-card--header__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</strong>
          </div>
          <div class="clear" style="height: 30px;"></div>
          <div class="t-card--content">
            <div class="dropdown open" style="margin: 0 -25px">
              <div class="dropdown--label">
                <span class="dropdown__title">
                  <div>
                    Kullanıcı 1 <span>(Ben)</span>
                  </div>
                </span>
                <span class="dropdown__caret"></span>
              </div>
              <div class="dropdown--content">
                <div class="row no-gutter">
                  <div class="col-md-6">
                    <div class="f-input">
                      <label for="input">E-Mail</label>
                      <div class="f-input--content">
                        <input type="text" id="input" name="input" placeholder="email...">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="f-input">
                      <label for="input">E-Mail (Tekrar)</label>
                      <div class="f-input--content">
                        <input type="text" id="input" name="input" placeholder="email onayi...">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="f-line" />
                <div class="row no-gutter">
                  <div class="col-md-12">
                    <div class="f-input">
                      <label for="input">Telefon</label>
                      <div class="f-input--content">
                        <input type="text" id="input" name="input" placeholder="telefon...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear" style="height: 30px;"></div>
                <v-button
                  class="fw c-purple"
                  title="Kaydet"
                />
              </div>
            </div>
            <div class="dropdown" style="margin: 0 -25px">
              <div class="dropdown--label">
                <span class="dropdown__title">
                  <div>
                    Kullanıcı 2
                  </div>
                </span>
                <span class="dropdown__caret"></span>
              </div>
              <div class="dropdown--content">
                content
              </div>
            </div>
            <div class="dropdown" style="margin: 0 -25px">
              <div class="dropdown--label">
                <span class="dropdown__title">
                  <div>
                    Kullanıcı 3
                  </div>
                </span>
                <span class="dropdown__caret"></span>
              </div>
              <div class="dropdown--content">
                content
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="clear" style="height: 30px;"></div> -->
      <!-- <div class="t-card col-md-8">
          <div class="row no-gutters">
            <div class="t-card--header col-md-6 p-0">
              <strong class="t-card--header__title">DİL SEÇENEKLERİ</strong>
              <strong class="t-card--header__subtitle">Arayüzü hangi dilde kullanmak istersiniz.</strong>
            </div>
            <div class="t-card--content col-md-1 p-0">
            </div>
            <div class="t-card--content col-md-5 p-0">
              <div class="f-selectbox">
                <select-box :options="options" @onselect="onSelect" />
              </div>
            </div>
          </div>
        </div> -->
      <div class="clear" style="height: 15px;"></div>
      <div class="t-card col-md-8">
        <div class="row no-gutters">
          <div class="t-card--header col-md-6 p-0">
            <strong class="t-card--header__title" style="color: #df6457"
              >HESABI KALDIR</strong
            >
            <strong class="t-card--header__subtitle"
              >Hesabınızı kaldırın. Bu işlem geri alınamaz.</strong
            >
          </div>
          <div class="t-card--content col-md-1 p-0"></div>
          <div class="t-card--content col-md-5 p-0">
            <v-button class="fw remove-account-btn" title="Hesabı Kaldır" />
          </div>
        </div>
      </div>
      <div class="clear" style="height: 80px;"></div>
    </div>
  </container>
</template>
