<script>
import AccountProductItem from '@/components/Account/AccountProductItem'
import GhostProductsItems from '@/core/Ghost/GhostProductsItems'
import EmptyContent from '@/components/EmptyContent'

import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'AccountProducts',

  components: {
    AccountProductItem,
    GhostProductsItems,
    EmptyContent,
  },

  watch: {
    giveStatus(data) {
      if (data !== null) {
        if (data.id) {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            showConfirmButton: false,
            position: 'top-end',
            title: 'Kullanıcı tanımlandı.',
            icon: 'success',
            confirmButtonText: 'Tamam',
          })
        } else {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            showConfirmButton: false,
            position: 'top-end',
            title: data.message,
            icon: 'error',
            confirmButtonText: 'Tamam',
          })
        }
      }
      this.setGiveStatus(null)
    },
  },

  computed: {
    ...mapGetters('orders', ['products', 'giveStatus', 'productsLoaded']),

    productsExist() {
      return this.products.length > 0
    },
  },

  methods: {
    ...mapMutations('orders', ['setGiveStatus']),

    goStore() {
      this.$router.push('/magaza')
    },
  },
}
</script>

<template>
  <container>
    <div
      class="d-flex align-items-center justify-content-center flex-column"
      v-if="productsLoaded"
    >
      <p class="account-main__p">
        Sahip olduğunuz remzihoca.com ürünlerinizi görüntüleyebilir, 'Çoklu
        Kullanıcı' olarak satın aldığınız ürünler için kullanıcı
        tanımlayabilirsiniz. Bir kullanıcıya ürün tanımlayabilmeniz için
        remzihoca.com hesabı bulunması gerekir.
      </p>
      <template v-if="!productsExist">
        <EmptyContent
          with-button
          button-text="Mağazaya Git"
          class="empty-content--notfound"
          icon="icon-notfound-product"
          title="Hesabınıza tanımlı ürün yok!"
          text="Sahibi olduğunuz herhangi bir ürün bulunmuyor. Çalışmaya başlamak ve seviyenizi yükseltmek için mağazamıza uğrayın ve sizin için özel olarak hazırlanmış ürünlerimizden birini seçin."
          @on-action="goStore"
        />
      </template>
      <template v-else>
        <AccountProductItem
          v-for="(item, index) in products"
          :key="`productItem${item.basketProductId}`"
          :product="item"
          :productIndex="index"
        />
      </template>
    </div>
    <div
      v-else
      class="d-flex align-items-center justify-content-center flex-column"
    >
      <GhostProductsItems v-for="n in 4" :key="n" />
    </div>
  </container>
</template>

<style lang="scss">
.accproduct-item + .accproduct-item {
  margin-top: 2rem;
}
</style>
