<script>
import { required, sameAs, not, minLength } from 'vuelidate/lib/validators'
import { updatePassword } from '../../services/account.service'

export default {
  name: 'AccountPasswords',

  validations: {
    formData: {
      oldPassword: {
        required
      },
      newPassword: {
        required,
        notSameAsOldPassword: not(sameAs('oldPassword')),
        minLength: minLength(6)
      },
      newPasswordRepeat: {
        required,
        sameAsNewPassword: sameAs('newPassword')
      }
    }
  },

  data() {
    return {
      formSubmitted: false,
      passwordVisibility: false,
      passwordRepeatVisibility: false,
      readOnly: false,
      submitStatus: '',
      formData: {
        oldPassword: '',
        newPassword: '',
        newPasswordRepeat: ''
      },
      toggler: false,
      updatingPassword: false
    }
  },

  methods: {
    togglePasswordVisibility() {
      this.passwordVisibility = !this.passwordVisibility
      this.$v.$reset()
    },

    togglePasswordRepeatVisibility() {
      this.passwordRepeatVisibility = !this.passwordRepeatVisibility
    },

    renewPassword() {
      this.formSubmitted = true
      this.updatingPassword = true
      console.log(this.formData)
      this.$v.$touch()
      console.log('form submit status: ', this.formSubmitted)

      if (this.formSubmitted) {
        if (this.$v.$invalid) {
          this.$swal.fire({
            timer: 3000,
            toast: true,
            title: 'İşlem yapılamadı!',
            position: 'top-end',
            icon: 'error'
          })
          this.updatingPassword = false
        } else {
          updatePassword(this.formData)
            .then((res) => {
              this.updatingPassword = false
              if (res === undefined) {
                this.$swal.fire({
                  title: 'Şifreniz Güncellenemedi!',
                  icon: 'error',
                  showConfirmButton: true,
                  confirmButtonText: 'Tamam'
                })
              } else {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  timer: 3000,
                  title: res.data.message,
                  showConfirmButton: false,
                  icon: 'success',
                  showClass: {
                    popup: 'animated fadeInDown faster'
                  }
                })
              }
            })
            .catch((e) => {
              this.$swal({
                title: 'Başarısız',
                text: 'Şifrenizi güncelleme sırasında sorun oluştu.',
                icon: 'error',
                confirmButtonText: 'Tamam'
              })
            })
        }
      } else {
        this.$swal.fire({
          timer: 3000,
          toast: true,
          title: 'Form gönderilemedi!',
          position: 'top-end',
          icon: 'error'
        })
      }
    }
  }
}
</script>

<template>
  <container>
    <div class="d-flex align-items-center justify-content-center flex-column">
      <p class="account-main__p">
        Şifrenizi değiştirmek için öncelikle geçerli şifreyi doğrulamanız gerekiyor. Güvenliğiniz için şifrenizi düzenli olarak değiştirin. Şifre değişikliği oturum açtığınız cihazlarda oturumlarınızın kapatılmasına
        neden olacaktır.
      </p>
      <form @submit.prevent="renewPassword" class="t-card col-md-8" autocomplete="false">
        <div class="t-card--header">
          <strong class="t-card--header__title">ŞİFRE DEĞİŞTİR</strong>
          <strong
            class="t-card--header__subtitle"
          >Güçlü bir şifre belirlemek için en az 6 karakter kullanın.</strong>
        </div>
        <div class="clear" style="height: 30px;"></div>
        <div class="t-card--content">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="f-password">
                <label for="input">Mevcut Şifre</label>
                <div
                  class="f-input f-input--content"
                  :data-validation="formSubmitted && !$v.formData.oldPassword.required"
                  @click="readOnly = true"
                >
                  <input
                    type="password"
                    :readonly="!readOnly"
                    id="userOldPassword"
                    v-model="formData.oldPassword"
                    placeholder="•••••"
                    autocomplete="off"
                  />
                </div>
                <div v-if="formSubmitted">
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.oldPassword.required"
                  >* Bu alan boş bırakılamaz.</div>
                </div>
              </div>
            </div>
            <hr class="f-line" />
            <div class="col-md-12">
              <div class="f-password">
                <label for="input">Yeni Şifre</label>
                <div
                  class="f-input f-input--content"
                  :data-validation="formSubmitted && (!$v.formData.newPassword.required || !$v.formData.newPassword.notSameAsOldPassword || !$v.formData.newPassword.minLength)"
                >
                  <input
                    :type="passwordVisibility ? 'text': 'password'"
                    v-model="formData.newPassword"
                    placeholder="•••••"
                  />
                  <span
                    class="f-input--preview"
                    v-if="!passwordVisibility"
                    @click="togglePasswordVisibility"
                  >
                    <svg-icon type="icon-view" />
                  </span>
                  <span class="f-input--preview" v-else @click="togglePasswordVisibility">
                    <svg-icon type="icon-view-disable" />
                  </span>
                </div>
                <div v-if="formSubmitted">
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.newPassword.required"
                  >* Bu alan boş bırakılamaz.</div>
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.newPassword.notSameAsOldPassword"
                  >* Yeni şifre, eski şifre ile aynı olamaz.</div>
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.newPassword.minLength"
                  >* Yeni şifre en az 6 karakter içermeli.</div>
                </div>
              </div>
            </div>
            <hr class="f-line" />
            <div class="col-md-12">
              <div class="f-password">
                <label for="input">Yeni Şifre Doğrulama</label>
                <div
                  class="f-input f-input--content"
                  :data-validation="formSubmitted && (!$v.formData.newPasswordRepeat.required || !$v.formData.newPasswordRepeat.sameAsNewPassword)"
                >
                  <input
                    :type="passwordRepeatVisibility ? 'text': 'password'"
                    v-model="formData.newPasswordRepeat"
                    placeholder="•••••"
                  />
                  <span
                    class="f-input--preview"
                    v-if="!passwordRepeatVisibility"
                    @click="togglePasswordRepeatVisibility"
                  >
                    <svg-icon type="icon-view" />
                  </span>
                  <span class="f-input--preview" v-else @click="togglePasswordRepeatVisibility">
                    <svg-icon type="icon-view-disable" />
                  </span>
                </div>
                <div v-if="formSubmitted">
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.newPasswordRepeat.required"
                  >* Bu alan boş bırakılamaz.</div>
                  <div
                    class="f-input-error"
                    v-if="!$v.formData.newPasswordRepeat.sameAsNewPassword"
                  >* Girilen şifreler eşleşmiyor.</div>
                </div>
              </div>
            </div>
            <v-button
              :disabled="updatingPassword"
              :loadingActive="updatingPassword"
              loadingActiveText="GÜNCELLENİYOR..."
              style="margin-top: 20px;"
              class="fw c-purple"
              title="KAYDET"
            />
          </div>
        </div>
      </form>
    </div>
  </container>
</template>
