<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'AccountNotifications',

  data() {
    return {
      pref: {}
    }
  },

  computed: {
    ...mapGetters('profile', [
      'emailPreferences',
      'emailPreferencesList',
      'firstName',
      'lastName',
      'action',
      'loading'
    ])
  },

  watch: {
    action(e) {
      if (e.status === 'OK' && e.done) {
        this.$swal({
          toast: true,
          position: 'top-end',
          timer: 3000,
          title: 'Başarıyla güncellendi.',
          showConfirmButton: false,
          icon: 'success',
          showClass: {
            popup: 'animated fadeInDown faster'
          }
        })
      }

      if (e.status === 'ERR' && e.done) {
        this.$swal.fire({
          title: 'Hata',
          text: 'Tercihleriniz güncellenemedi.',
          icon: 'danger',
          confirmButtonText: 'Tamam'
        })
      }

      this.saveProfile({ done: false, status: '' })
    }
  },

  methods: {
    ...mapActions('profile', [
      'updateNotificationData',
      'setNotificationPreferences'
    ]),

    ...mapMutations('profile', ['saveProfile']),

    updatePreferencesList() {
      // console.log(this.emailPreferences)
      let path = ''
      this.emailPreferencesList.prefs.forEach(el => {
        let opt = el.status ? '1' : '0'
        path += `notificationPermissions[${el.key}]=${opt}&`
      })

      path = path.slice(0, -1)

      let payload = {
        firstName: this.firstName,
        lastName: this.lastName,
        prefs: path
      }

      this.setNotificationPreferences(payload)

      /* this.$swal({
        title: 'Başarılı',
        text: 'E-posta tercihlerinizi başarıyla güncellediniz',
        icon: 'success',
        confirmButtonText: 'Tamam',
      }) */
    },

    handleChange(el, index) {
      let data = {
        key: el.target.id,
        value: el.target.checked,
        index: index
      }

      this.updateNotificationData(data)
    }
  }
}
</script>

<template>
  <container>
    <div class="d-flex align-items-center justify-content-center flex-column">
      <p
        class="account-main__p"
      >Duyuru, güncelleme ve eğitim deneyiminize katkısı olacağını düşündüğümüz tavsiyeleri e-posta olarak alın.</p>
      <form
        @submit.prevent="updatePreferencesList"
        class="t-card col-md-8 mb-40"
        v-for="(group, index) in emailPreferences"
        :key="`emailPreferenceGroup${index}`"
      >
        <div class="form-block">
          <div class="t-card--header mb-10">
            <strong class="t-card--header__title">{{ group.title }}</strong>
            <strong class="t-card--header__subtitle">{{ group.description }}</strong>
          </div>
          <div
            class="row no-gutters d-flex flex-column pt-10 pb-10"
            :class="{ 'border-top border-top--light' : $index > 0 }"
            v-for="(item, $index) in group.permissions"
            :key="`emailPreference${$index}`"
          >
            <label class="checkbox t-checkbox">
              <input
                type="checkbox"
                class="checkbox__input"
                :id="item.key"
                :checked="item.status"
                @input="handleChange($event, $index)"
              />
              <span class="checkbox__box">
                <span class="icon-font">
                  <svg-icon type="icon-check" />
                </span>
              </span>
              <span class="checkbox__txt">
                {{ item.title }}
                <span v-if="item.isNew" class="t-badge t-badge--default">YENİ</span>
              </span>
            </label>
            <p class="account-checkbox-p">{{ item.description }}</p>
          </div>
        </div>
        <div class="clear" style="height: 20px;"></div>
        <div class="t-card--content">
          <!-- <div
            class="row no-gutters d-flex flex-column"
            v-for="(item, index) in emailPreferences"
            :key="`emailPreference${index}`">
            <label class="checkbox t-checkbox">
              <input
                type="checkbox"
                class="checkbox__input"
                :id="item.key"
                :checked="item.status"
                @input="handleChange($event, index)"
              />
              <span class="checkbox__box">
                <span class="icon-font">
                  <svg-icon type="icon-check" />
                </span>
              </span>
              <span class="checkbox__txt">
                {{ item.title }}
                <span v-if="item.isNew" class="t-badge t-badge--default">YENİ</span>
              </span>
            </label>
            <p style="line-height: 15px;">{{ item.description }}</p>
            <hr class="f-line" />
          </div>-->
          <v-button
            class="fw c-purple"
            :disabled="loading"
            :loadingActive="loading"
            loadingActiveText="GÜNCELLENİYOR..."
            title="KAYDET"
          />
          <!-- <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Wordy Uyarı Bildirimi <span class="t-badge t-badge--default">YENİ</span></span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Dijital Kitap Bildirimi <span class="t-badge t-badge--default">YENİ</span></span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Dijital Kitap Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Dijital Kitap Bildirimi <span class="t-badge t-badge--default">YENİ</span></span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
          </div>-->
          <!--<v-button-->
          <!--class="fw c-purple"-->
          <!--title="Kaydet"-->
          <!--/>-->
        </div>
      </form>
      <!-- <div class="clear" style="height: 30px;"></div>
        <div class="t-card col-md-8">
          <div class="t-card--header">
            <strong class="t-card--header__title">abonelİK BİLDİRİMLERİ</strong>
            <strong class="t-card--header__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</strong>
          </div>
          <div class="clear" style="height: 20px;"></div>
          <div class="t-card--content">
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Clue Bank Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Günün Kelimesi Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Blog Bildirimleri</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Wordy Uyarı Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Ücretsiz Kaynak Bildirimleri</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <div class="clear" style="height: 30px;"></div>
            <v-button
              class="fw c-purple"
              title="Kaydet"
            />
          </div>
      </div>-->
      <!-- <div class="clear" style="height: 30px;"></div>
        <div class="t-card col-md-8">
          <div class="t-card--header">
            <strong class="t-card--header__title">KAMPANYA BİLDİRİMLERİ</strong>
            <strong class="t-card--header__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</strong>
          </div>
          <div class="clear" style="height: 20px;"></div>
          <div class="t-card--content">
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">İndirim Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Özel Paket Bildirimleri</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Sosyal Medya Kampanya Bildirimleri</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
            <hr class="f-line" />
            <div class="row no-gutters d-flex flex-column">
              <label class="checkbox t-checkbox">
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__box">
                  <span class="icon-font">
                    <svg-icon type="icon-check"/>
                  </span>
                </span>
                <span class="checkbox__txt">Wordy Uyarı Bildirimi</span>
              </label>
              <p style="line-height: 15px;">Buraya bildirime dair tek cümlelik bir not gelecek.</p>
            </div>
          </div>
      </div>-->
    </div>
  </container>
</template>
