<script>
import { SET_HEADER_CLASS } from '../../store/actions.type'
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      activeTab: {},
      loaded: false,
      accountTabs: [
        {
          id: 1,
          name: 'AccountDetails',
          title: 'Kişisel Bilgiler',
          link: 'kisisel-bilgiler',
        },
        {
          id: 2,
          name: 'AccountPasswords',
          title: 'Şifre Değiştir',
          link: 'sifre-degistir',
        },
        {
          id: 3,
          name: 'AccountNotifications',
          title: 'E-Posta Bildirimleri',
          link: 'eposta-bildirimleri',
        },
        {
          id: 4,
          name: 'AccountAddresses',
          title: 'Kayıtlı Adresler',
          link: 'kayitli-adresler',
        },
      ],
      orderTabs: [
        {
          id: 1,
          name: 'AccountProducts',
          title: 'Ürünlerim',
          link: 'urunlerim',
        },
        {
          id: 2,
          name: 'AccountOrders',
          title: 'Sipariş Geçmişi',
          link: 'siparis-gecmisi',
        },
        {
          id: 3,
          name: 'AccountPromotions',
          title: 'Promosyonlar',
          link: 'promosyonlar',
        },
      ],

      /** Yukaridaki linklerle bu linkler ayni olmali */
      paths: [
        {
          cat: 'acc',
          name: 'AccountDetails',
          link: 'kisisel-bilgiler',
        },
        {
          cat: 'acc',
          name: 'AccountPasswords',
          link: 'sifre-degistir',
        },
        {
          cat: 'acc',
          name: 'AccountNotifications',
          link: 'eposta-bildirimleri',
        },
        {
          cat: 'acc',
          name: 'AccountAddresses',
          link: 'kayitli-adresler',
        },
        {
          cat: 'prd',
          name: 'AccountProducts',
          link: 'urunlerim',
        },
        {
          cat: 'prd',
          name: 'AccountOrders',
          link: 'siparis-gecmisi',
        },
        {
          cat: 'prd',
          name: 'AccountPromotions',
          link: 'promosyonlar',
        },
      ],

      tabs: [],
    }
  },

  watch: {
    $route(to, from) {
      this.setTabList(to.name)
    },
  },

  computed: {
    ...mapGetters({
      fullName: 'profile/userFullName',
      avatar: 'profile/profilePicture',
      addressesLoaded: 'profile/addressesLoaded',
      orderResults: 'orders/results',
    }),
  },

  created() {
    this.setTabList(this.$route.name)
    this.getProfile()
  },

  methods: {
    ...mapActions({
      getProfile: 'profile/getProfile',
      getAddresses: 'profile/getAddresses',
      getOrdersList: 'orders/getOrdersList',
    }),

    setTabList(val) {
      let target = this.paths.find(el => el.name === val)
      if (target.cat === 'acc') {
        this.tabs = this.accountTabs
        if (target.name === 'AccountAddresses' && !this.addressesLoaded) {
          this.getAddresses()
        }
      }
      if (target.cat === 'prd') {
        this.tabs = this.orderTabs
        if (this.orderResults.length === 0) {
          this.getOrdersList()
        }
      }
    },

    activateTab(tab) {
      this.activeTab = this.tabs.find(el => el.name === tab.name)
      window.history.pushState('', '', this.activeTab.link)
      document.title = `${this.activeTab.title} | Hesabım | RH+ Platform`
    },
  },

  beforeRouteLeave(to, from, next) {
    this.$store.dispatch(SET_HEADER_CLASS, '')
    next()
  },
}
</script>

<template>
  <div class="page hesabim-page">
    <div>
      <div class="overlay"></div>
      <div class="subpage-header" style="background: #e3eaf6;">
        <div class="custom-container">
          <div class="subpage-header__wrp">
            <div class="subpage-header__head" style="width: 100%;">
              <div class="account-profile">
                <div class="account-profile-img" v-if="avatar">
                  <img :src="avatar" alt class="account-profile-img__img" />
                  <div class="account-profile-status">
                    <img
                      src="@/assets/img/progress.svg"
                      class="account-profile-status__img"
                    />
                  </div>
                </div>
                <div class="account-profile__cnt">
                  <div class="account-profile__txt">Hoş geldin</div>
                  <div class="account-profile__name">{{ fullName }}</div>
                </div>
              </div>
              <div
                class="subpage-header__info"
                style="margin-left: auto; margin-right: 0;"
              >
                <v-button
                  class="ml-auto subpage-download-button"
                  icon="icon-logout"
                  title="Çıkış yap"
                  icon-position="right"
                />
              </div>
            </div>
          </div>
          <div class="subpage-tab">
            <div class="subpage-tab-list">
              <router-link
                class="subpage-tab__item"
                exact-active-class="active"
                :to="{ name: tab.name }"
                v-for="tab in tabs"
                :key="`accountTab${tab.name}`"
              >
                <span>{{ tab.title }}</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade-fast" mode="out-in">
      <router-view />
      <!-- <component :is="activeTab.name"></component> -->
    </transition>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/components/hesabim';
@import '../../assets/scss/components/t-card';
@import '../../assets/scss/components/inputs';
</style>

<style>
.fade-fast-enter-active {
  transition: opacity 0.15s ease-in-out;
}

.fade-fast-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}
</style>

<style lang="scss" scoped>
@import '../../assets/scss/variables';
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

.account-profile {
  display: flex;
  align-items: center;

  @include bp(tablet) {
    flex: 0 0 auto;
  }

  &-img {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    flex: 0 0 4rem;
    overflow: hidden;
    position: relative;

    @include bp(tablet) {
      height: 3rem;
      width: 3rem;
      flex: 0 0 3rem;
    }
  }

  &-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  &__cnt {
    margin-left: 0.75rem;

    @include bp(tablet) {
      margin-left: 0.5rem;
    }
  }

  &__txt {
    opacity: 0.6;

    @include bp(tablet) {
      font-size: 0.8rem;
    }
  }

  &__name {
    color: $c-secondary;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include bp(tablet) {
      font-size: 1rem;
    }
  }
}
</style>
