<template>
  <div>
    <div class="progress" :style="{ height: `${height}px` }">
      <div
        class="progress-bar continue progress-bar-striped progress-bar-animated"
        :style="{
          width: `${
            _.get(currentStep, 'type') === 'report' ? 100 : percentWidth
          }%`,
        }"
      ></div>
      <div
        class="wordy-nav-tooltip"
        v-if="showTooltip && !_.isEmpty(currentStep)"
        :style="{
          left:
            _.get(currentStep, 'type') === 'report'
              ? '9px'
              : `${percentWidth}%`,
          top: '30px',
        }"
      >
        <span>
          {{ currentStep.name }}
          <span class="seperator" v-if="_.get(currentStep, 'type') !== 'report'"
            >{{ stepNo }} / {{ currentStep.length }}</span
          >
        </span>
      </div>
      <div
        class="wordy-nav-tooltip"
        v-if="showCards"
        :style="{ left: `${percentWidth}%`, top: '23px' }"
      >
        <span>
          Sunum
          <span class="seperator">{{ stepNo }} / {{ valMax }}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'Progress',
  props: {
    // valNow: Number,
    // valMin: Number,
    // valMax: Number,
    active: Boolean,
    stepNo: Number,
    type: String,
    height: {
      type: String,
      default: '22',
    },
    valMax: {
      type: Number,
      default: 100,
    },
    currentStep: {
      type: Object,
      default: () => {},
    },
    currentQuestion: {
      type: Object,
      default: () => {},
    },
    showTooltip: {
      type: Boolean,
      default: false,
    },
    showStepIntro: {
      type: Boolean,
      default: false,
    },
    showCards: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    percentWidth() {
      const range = this.valMax
      const pos = this.stepNo
      const result = Math.round(100 * (pos / range))
      const minWidth = 10

      if (!this.showCards && result > 0 && result < minWidth) {
        return minWidth
      }
      return result
    },
    _() {
      return _
    },
  },
}
</script>

<style lang="scss" scoped>
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .wordy-nav-tooltip {
    font-size: 0.875rem;
    padding: 0.5rem 0.8rem;

    & .seperator {
      right: 0;
      margin-left: 0.5rem;
    }
  }
}
</style>
