<template>
  <div class="wordy-result">
    <div class="wordy-result__wrp">
      <div class="wordy-result__title">
        {{ resultData ? resultData.stepName : 'Sunum' }} Sona Erdi!
      </div>
      <div v-if="!resultData" class="wordy-list__head-txt">
        {{ questions.length }} Adet Kelime Gösterildi
      </div>
      <div
        v-if="resultData"
        class="wordy-result__progress popup-progress only-tablet mb-auto100-mobile"
      >
        <CircleProgress :value="percentage" :size="100" />
      </div>
      <button
        @click="wordyResultToggle"
        class="shadow-none button round wordy-result--open-button mt-2"
      >
        <span class="button__wrp">
          <span class="button__icon"></span>
          <span class="button__txt">KELİMELERİ GÖRÜNTÜLE</span>
        </span>
      </button>
      <div class="wordy-result__middle only-desktop">
        <div v-if="resultData" class="wordy-result__progress">
          <CircleProgress :value="percentage" :size="100" />
          <div
            v-if="resultData"
            class="wordy-result__title only-desktop min-result-title"
          >
            Başarı Oranı
          </div>
        </div>
        <div
          v-if="
            resultData &&
              stepType !== 'soundpool' &&
              stepType !== 'cloze' &&
              stepType !== 'minimalpair'
          "
          class="wordy-list"
        >
          <div
            class="wordy-list__item"
            v-for="(question, index) in questions"
            :key="`question${index}`"
          >
            <v-button
              v-if="stepType !== 'collocation' && stepType !== 'preposition'"
              @click.native="speak(getQuestionWord(question))"
              class="word-box__voice square default wordy-list__number"
              :class="isCorrect(question) ? 'correct' : 'wrong'"
              icon="icon-voice"
              icon-position="left"
            />
            <span
              v-else
              class="wordy-list__number"
              :class="isCorrect(question) ? 'correct' : 'wrong'"
              >{{ index + 1 }}</span
            >
            <div class="wordy-list__content">
              <div class="intro-card__cnt">
                <div class="intro-card__header">
                  <div
                    v-if="
                      stepType !== 'collocation' && stepType !== 'preposition'
                    "
                    class="intro-card__title"
                    :class="`color-${getWordType(question.label)}`"
                  >
                    {{ getQuestionWord(question) }}
                  </div>
                  <div v-else class="intro-card__title color-noun">
                    {{
                      getQuestionWord(question).replace(
                        '...',
                        getCorrectAnswer(question)
                      )
                    }}
                  </div>
                  <span
                    v-if="
                      stepType !== 'collocation' &&
                        stepType !== 'preposition' &&
                        stepType !== 'suffix'
                    "
                    lang="en"
                    class="word__badge ml-0"
                    :class="`bg-${getWordType(question.label)}`"
                    >{{ question.label }}</span
                  >
                </div>
                <div
                  v-if="
                    stepType !== 'collocation' && stepType !== 'preposition'
                  "
                  class="intro-card__meaning"
                >
                  {{ getCorrectAnswer(question) }}
                </div>
                <div v-else class="intro-card__meaning">
                  {{ question.definition }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="stepType === 'minimalpair'" class="wordy-list">
          <div
            class="wordy-list__item"
            v-for="(question, index) in questions"
            :key="`question${index}`"
          >
            <span
              class="wordy-list__number"
              :class="isCorrect(question) ? 'correct' : 'wrong'"
            >
              {{ index + 1 }}
            </span>
            <div class="wordy-list__content">
              <div class="wordy-list__title">
                {{ getQuestionWord(question) }}
              </div>
              <div class="wordy-list__text minimalpair">
                {{ getOtherAnswer(question) }}
              </div>
            </div>
          </div>
        </div>

        <div v-if="!resultData || stepType === 'soundpool'" class="wordy-list">
          <div
            class="wordy-list__item"
            v-for="(question, index) in questions"
            :key="`question${index}`"
          >
            <v-button
              @click.native="speak(question.word)"
              class="word-box__voice square default wordy-list__number"
              icon="icon-voice"
              icon-position="left"
            />
            <div class="wordy-list__content">
              <div class="intro-card__cnt">
                <div class="intro-card__header">
                  <div
                    class="intro-card__title"
                    :class="`color-${getWordType(question.label)}`"
                  >
                    {{ question.word }}
                  </div>
                  <span
                    lang="en"
                    class="word__badge ml-0"
                    :class="`bg-${getWordType(question.label)}`"
                    >{{ question.label }}</span
                  >
                </div>
                <div class="intro-card__meaning">{{ question.definition }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <transition name="fade-up" mode="out-in">
        <div
          class="wordy-result__middle wordy-result__middle__mobile"
          v-show="this.showWordyResult"
        >
          <div class="wordy-result__top-cont">
            <div
              class="wordy-result-ctr__title"
              v-if="
                !isRepeat && nextStepsData && nextStepsData.nextStepsName !== ''
              "
            >
              Kelimeler
            </div>
            <div class="wordy-result-close" @click="wordyResultToggle">
              <div class="wordy-result-close__icon">
                <svg-icon type="icon-close" />
              </div>
            </div>
          </div>
          <div
            v-if="
              resultData &&
                stepType !== 'soundpool' &&
                stepType !== 'cloze' &&
                stepType !== 'minimalpair'
            "
            class="wordy-list"
          >
            <div
              class="wordy-list__item"
              v-for="(question, index) in questions"
              :key="`question${index}`"
            >
              <v-button
                v-if="stepType !== 'collocation' && stepType !== 'preposition'"
                @click.native="speak(getQuestionWord(question))"
                class="word-box__voice square default wordy-list__number"
                :class="isCorrect(question) ? 'correct' : 'wrong'"
                icon="icon-voice"
                icon-position="left"
              />
              <span
                v-else
                class="wordy-list__number"
                :class="isCorrect(question) ? 'correct' : 'wrong'"
                >{{ index + 1 }}</span
              >
              <div class="wordy-list__content">
                <div class="intro-card__cnt">
                  <div class="intro-card__header">
                    <div
                      v-if="
                        stepType !== 'collocation' && stepType !== 'preposition'
                      "
                      class="intro-card__title"
                      :class="`color-${getWordType(question.label)}`"
                    >
                      {{ getQuestionWord(question) }}
                    </div>
                    <div v-else class="intro-card__title color-noun">
                      {{
                        getQuestionWord(question).replace(
                          '...',
                          getCorrectAnswer(question)
                        )
                      }}
                    </div>
                    <span
                      v-if="
                        stepType !== 'collocation' &&
                          stepType !== 'preposition' &&
                          stepType !== 'suffix'
                      "
                      lang="en"
                      class="word__badge ml-0"
                      :class="`bg-${getWordType(question.label)}`"
                      >{{ question.label }}</span
                    >
                  </div>
                  <div
                    v-if="
                      stepType !== 'collocation' && stepType !== 'preposition'
                    "
                    class="intro-card__meaning"
                  >
                    {{ getCorrectAnswer(question) }}
                  </div>
                  <div v-else class="intro-card__meaning">
                    {{ question.definition }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="stepType === 'minimalpair'" class="wordy-list">
            <div
              class="wordy-list__item"
              v-for="(question, index) in questions"
              :key="`question${index}`"
            >
              <span
                class="wordy-list__number"
                :class="isCorrect(question) ? 'correct' : 'wrong'"
              >
                {{ index + 1 }}
              </span>
              <div class="wordy-list__content">
                <div class="wordy-list__title">
                  {{ getQuestionWord(question) }}
                </div>
                <div class="wordy-list__text minimalpair">
                  {{ getOtherAnswer(question) }}
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="!resultData || stepType === 'soundpool'"
            class="wordy-list"
          >
            <div
              class="wordy-list__item"
              v-for="(question, index) in questions"
              :key="`question${index}`"
            >
              <v-button
                @click.native="speak(question.word)"
                class="word-box__voice square default wordy-list__number"
                icon="icon-voice"
                icon-position="left"
              />
              <div class="wordy-list__content">
                <div class="intro-card__cnt">
                  <div class="intro-card__header">
                    <div
                      class="intro-card__title"
                      :class="`color-${getWordType(question.label)}`"
                    >
                      {{ question.word }}
                    </div>
                    <span
                      lang="en"
                      class="word__badge ml-0"
                      :class="`bg-${getWordType(question.label)}`"
                      >{{ question.label }}</span
                    >
                  </div>
                  <div class="intro-card__meaning">
                    {{ question.definition }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <div class="wordy-result__bottom">
        <div class="wordy-result-ctr">
          <div
            class="wordy-result-ctr__txt only-desktop"
            v-if="!isRepeat && nextStepsData.nextStepsName !== ''"
          >
            SONRAKİ ADIM
          </div>
          <div
            class="wordy-result-ctr__title only-desktop"
            v-if="
              !isRepeat && nextStepsData && nextStepsData.nextStepsName !== ''
            "
          >
            {{ nextStepsData.nextStepsName }}
          </div>
          <div
            v-if="
              !isRepeat &&
                nextStepsData &&
                !_.isEmpty(nextStepsData.nextStepsName)
            "
            class="wordy-result__txt only-desktop"
          >
            {{ nextStepsData.nextStepsDescription }}
          </div>
          <v-button
            class="shadow-none purple round wordy-result-ctr__button mt-3"
            @click.native="next"
            :title="nextButtonText"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import CircleProgress from '@/components/CircleProgress'
import { mapGetters } from 'vuex'
import { SHOW_WORDY_RESULTS } from '@/store/actions.type'
import { textToSpeech } from '../../common/tts-helper'

export default {
  name: 'WordyResult',
  props: {
    questions: {
      type: Array,
      default: () => [],
    },
    resultData: {
      type: Object,
      default: () => {},
    },
    stepType: {
      type: String,
      default: '',
    },
    firstStep: {
      type: Object,
      default: () => {},
    },
    isRepeat: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    CircleProgress,
  },
  computed: {
    ...mapGetters(['showWordyResult']),
    nextStepsData() {
      return {
        percentage: _.get(this.resultData, 'percentage', 0),
        stepName: _.get(this.resultData, 'stepName', ''),
        nextStepsName:
          _.get(this.resultData, 'nextStepsName') ||
          _.get(this.firstStep, 'name'),
        nextStepsDescription:
          _.get(this.resultData, 'nextStepsDescription') ||
          _.get(this.firstStep, 'description'),
      }
    },
    percentage() {
      return this.resultData ? Math.round(this.resultData.percentage) : 0
    },
    nextButtonText() {
      if (this.isRepeat) {
        return 'PERFORMANS RAPORU'
      }
      if (this.resultData) {
        return this.resultData.nextStepsName.toUpperCase() === 'RAPOR'
          ? 'PERFORMANS RAPORU'
          : 'ÖĞRENMEYE DEVAM ET'
      }
      return 'ÖĞRENMEYE HAZIRIM'
    },
    _() {
      return _
    },
  },
  methods: {
    wordyResultToggle() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
    wordyResultClose() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
    speak: textToSpeech,
    getWordType(key) {
      const keyword = key ? key.toUpperCase() : ''
      if (keyword === 'V') {
        return 'verb'
      } else if (keyword === 'N') {
        return 'noun'
      } else if (keyword === 'D' || keyword === 'DET') {
        return 'det'
      } else if (keyword === 'A' || keyword === 'ADJ') {
        return 'adj'
      }
      return 'noun'
    },
    getQuestionWord(question) {
      if (this.stepType === 'suffix') {
        const word = _.find(question.question, ['type', 'question'])
        return word.text
      } else if (
        ['collocation', 'preposition', 'phrase'].indexOf(this.stepType) !== -1
      ) {
        let result = ''
        _.forEach(question.question, word => {
          if (word.type === 'text') {
            result += `${word.text} `
          } else {
            result += `... `
          }
        })
        return result.trim()
      } else if (this.stepType === 'definition') {
        return _.find(question.answers, ['id', question.answerId]).name
      }

      return question.word || question.question
    },
    isCorrect(question) {
      if (this.stepType === 'dictate') {
        return question.tryCount === 1
      }
      return question.userAnswerId === question.answerId
    },
    getCorrectAnswer(question) {
      if (
        ['collocation', 'preposition', 'suffix'].indexOf(this.stepType) !== -1
      ) {
        const correctAnswer = _.find(question.answers, [
          'id',
          question.answer_id || question.answerId,
        ])
        return correctAnswer.name
      }
      let correctAnswer = question
      if (question.answers) {
        correctAnswer = _.find(question.answers, ['id', question.answerId])
      }
      if (this.stepType === 'definition') {
        return question.definition || correctAnswer.definition
      }
      return (
        correctAnswer.name || correctAnswer.definition || question.translation
      )
    },
    getOtherAnswer(question) {
      let otherAnswer = _.find(question.answers, answer => {
        return answer.id !== question.answerId
      })
      return otherAnswer.name
    },
    next() {
      this.$emit('next-step')
    },
  },
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
@import '../../assets/scss/components/intro-card';
.wordy-list {
  max-height: 40vh;

  @include bp(tablet) {
    max-height: 100%;
  }
}
.wordy-list__item:hover {
  background: unset;
}
.word-box__voice.button.default {
  background: #e7ecf3;
}
.word-box__voice.button.default:hover {
  background: #e7ecf3 !important;
}
.dark-mode.wordy-detail {
  .word-box__voice.button.default:hover {
    background: #2e3446 !important;
  }
}
.word-box__voice.button.default.wrong:hover {
  background: #df6457 !important;
  color: white !important;
}
.word-box__voice.button.default.correct:hover {
  background: #4dca83 !important;
  color: white !important;
}
.wordy-list__content {
  text-align: left;
}
.correct {
  background: #4dca83 !important;
  color: white !important;
  border-color: #4dca83 !important;
}
.wrong {
  background: #df6457 !important;
  color: white !important;
  border-color: #df6457 !important;
}
.wordy-list__text.minimalpair {
  color: $c-secondary;
  font-size: 21px;
}
</style>
