<template>
  <div class="wordy-group__wrp">
    <div
      v-if="!showResult"
      class="wordy-test wordy-fill"
    >
      <transition-group name="slide-fade-left">
        <div
          v-for="(question, index) in questions"
          :key="`question${index}`"
        >
          <div
            class="wordy-test__item-wrp"
            v-if="question === currentQuestion"
          >
            <div class="wordy-test__item">
              <div class="wordy-test-question">
                <div class="wordy-fill-question">
                  <div class="wordy-fill-question__title">
                    <span
                      v-for="(word, index) in words"
                      :key="`word${index}`"
                    >
                      <span v-if="word.type === 'text'">{{ word.text }}</span>
                      <drop
                        v-else-if="word.type === 'space'"
                        ref="space"
                        :word="word"
                        @drop="handleDrop($event, word)"
                        @dragover="word.over = true"
                        @dragleave="word.over = false"
                        @click.native="clearAnswer(word)"
                        class="wordy-fill-box"
                        :class="{ over: word.over, success: word.isCorrect, error: !word.isCorrect, 'animated pulse': checkAnswers }"
                      >{{ word.selectedAnswer.name }}</drop>
                    </span>
                  </div>
                </div>
                <div class="wordy-test-question__txt">{{ question.description }}</div>
              </div>
              <div class="wordy-test-opts test-options">
                <drag
                  v-for="(option, index) in question.answers"
                  :key="`option${index}`"
                  class="test-option"
                  :class="{ disabled: !isDraggable(option) }"
                  :draggable="isDraggable(option)"
                  :transfer-data="option"
                  :hide-image-html="false"
                  :effect-allowed="['move']"
                  @click.native="moveWord(option, isDraggable(option))"
                >
                  <span class="test-option__opt">
                    <span class="opt-txt">{{ index + 1 }}</span>
                  </span>
                  <p class="test-option__txt">{{ option.name }}</p>
                </drag>
              </div>
            </div>
            <div v-if="!hideButtons">
              <v-button
                v-if="showContinue"
                class="shadow-none purple round wordy-detail__next"
                @click.native="nextQuestionButton = true"
                title="KONTROL ET"
              />
              <v-button
                v-if="nextQuestionButton"
                class="shadow-none purple round wordy-detail__next"
                @click.native="next"
                title="DEVAM ET"
              />
            </div>
          </div>
        </div>
      </transition-group>
    </div>
    <transition name="slide-fade-left">
      <WordyResult
        :key="4"
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyStepMixin from '@/mixins/WordyStep'
import { Drag, Drop } from 'vue-drag-drop'
import { setTimeout } from 'timers'
import _ from 'lodash'

export default {
  name: 'WordyCloze',
  components: {
    WordyResult,
    Drag,
    Drop,
  },
  mixins: [WordyStepMixin],
  computed: {
    showContinue() {
      const drops = _.filter(this.words, ['type', 'space'])
      let showContinueButton = true
      _.forEach(drops, word => {
        if (_.isEmpty(word.selectedAnswer)) {
          showContinueButton = false
        }
      })
      return showContinueButton
    },
  },
  mounted() {
    this.setWords()
  },
  data() {
    return {
      words: [],
      checkAnswers: false,
      nextQuestionButton: false,
      hideButtons: false,
    }
  },
  watch: {
    currentQuestion() {
      this.checkAnswers = false
      this.nextQuestionButton = false
      this.setWords()
    },
    nextQuestionButton(val) {
      if (val) {
        this.checkAndNext()
      }
    },
  },
  methods: {
    isDraggable(option) {
      if (this.nextQuestionButton) {
        return false
      }
      return (
        _.filter(this.words, word => {
          return word.selectedAnswer === option
        }).length === 0
      )
    },
    moveWord(option, isDraggable) {
      if (isDraggable) {
        const drops = _.filter(this.words, word => {
          return word.type === 'space' && _.isEmpty(word.selectedAnswer)
        })
        if (drops.length > 0) {
          this.handleDrop(option, _.head(drops))
        }
      }
    },
    clearAnswer(word) {
      if (!this.nextQuestionButton) {
        word.selectedAnswer = {}
      }
    },
    setWords() {
      this.words = _.map(this.currentQuestion.question, word => {
        return {
          over: false,
          type: word.type,
          text: word.text,
          selectedAnswer: {},
          isCorrect: false,
        }
      })
    },
    handleDrop(data, word) {
      if (!this.nextQuestionButton) {
        const drops = _.filter(this.words, ['type', 'space'])
        const correctAnswersIndex = this.currentQuestion.answerIndexes[
          drops.indexOf(word)
        ]
        const correctAnswer = this.currentQuestion.answers[correctAnswersIndex]
        word.over = false
        word.selectedAnswer = data

        word.isCorrect = correctAnswer === data
        this.words.splice(this.words.indexOf(word), 1, word)
      }
    },
    next() {
      this.nextQuestion(1)
    },
    checkAndNext() {
      this.checkAnswers = true
      this.hideButtons = true
      const drops = _.filter(this.words, ['type', 'space'])
      let allIsOk = true
      _.forEach(drops, word => {
        if (!word.isCorrect) {
          this.currentQuestion.tryCount += 1
          allIsOk = false
        }
      })
      if (allIsOk) {
        this.playCorrect()
      } else {
        this.playWrong()
      }
      setTimeout(() => {
        const self = this
        // this.words.splice(this.words.indexOf(word), 1, word)
        _.forEach(drops, (word, index) => {
          word.selectedAnswer =
            self.currentQuestion.answers[
              self.currentQuestion.answerIndexes[index]
            ]
          word.isCorrect = true
          this.hideButtons = false
        })
      }, 2000)
    },
    keyboardDetect(e) {
      // 1, 2, 3, 4, 5, 6, 7, 8, 9
      const keyCodes = [49, 50, 51, 52, 53, 54, 55, 56, 57]
      const numKeyCodes = [97, 98, 99, 100, 101, 102, 103, 104, 105]
      let pressedKeyIndex = keyCodes.indexOf(e.keyCode)
      if (pressedKeyIndex === -1) {
        pressedKeyIndex = numKeyCodes.indexOf(e.keyCode)
      }
      // if pressed key is between 1-9
      // and selected option is available
      if (
        pressedKeyIndex > -1 &&
        pressedKeyIndex < this.currentQuestion.answers.length
      ) {
        this.moveWord(
          this.currentQuestion.answers[pressedKeyIndex],
          this.isDraggable(this.currentQuestion.answers[pressedKeyIndex]),
        )
      }
    },
  },
  created() {
    window.addEventListener('keyup', this.keyboardDetect)
  },
  beforeDestroy() {
    window.removeEventListener('keyup', this.keyboardDetect)
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/components/wordy-fill';
.test-option {
  cursor: move;
}
.test-option.disabled {
  background: rgba(236, 240, 245, 0.5);
}
</style>
