<template>
  <div class="wordy-test-opts test-options">
    <div
      class="test-option"
      v-for="(option, index) in options"
      :key="index"
      :class="[
        { 'success animated pulse': option.selected && option.correctOption },
        { 'error animated shake': option.selected && !option.correctOption }
      ]"
      @click="keyboardChose(index)"
    >
      <span class="test-option__opt">
        <span class="opt-txt">{{ index + 1 }}</span>
      </span>
      <p class="test-option__txt">{{ option.name }}</p>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'WordyTestOption',
  props: {
    answers: {
      type: Array,
      default: () => [],
    },
    answerId: {
      type: Number,
      default: 0,
    },
    optionCount: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      selectedAny: false,
      options: this.getOptions(),
    }
  },
  methods: {
    getOptions() {
      let result = []
      if (this.optionCount === 0) {
        result.push(...this.answers)
      } else {
        const correctOption =
          _.find(this.answers, ['id', this.answerId]) || _.head(this.answers)
        if (this.optionCount === this.answers.length) {
          result.push(...this.answers)
        } else {
          result.push(correctOption)
          do {
            const randomOption = this.answers[
              _.random(0, this.answers.length - 1)
            ]
            // add this random option if it's not the same with current option and not added before
            if (
              randomOption !== correctOption &&
              result.indexOf(randomOption) === -1
            ) {
              result.push(randomOption)
            }
          } while (result.length !== this.optionCount)
        }
      }
      return _.map(_.shuffle(result), answer => {
        return {
          id: answer.id,
          name: answer.name,
          selected: false,
          correctOption: answer.id === this.answerId,
        }
      })
    },
    keyboardChose(keyIndex) {
      // user has just one chance to make a selection
      if (!this.selectedAny) {
        this.selectedAny = true
        this.$emit('option-clicked')
        const selectedOption = this.options[keyIndex]
        selectedOption.selected = true

        if (selectedOption.correctOption) {
          this.$emit('play-correct')
          this.$emit('set-correct-option', selectedOption)
        } else {
          this.$emit('play-wrong')
        }

        // let questionTimeout = 0
        // if (selectedOption.correctOption) {
        //   questionTimeout = 500
        // } else {
        //   questionTimeout = 2000
        // }

        if (keyIndex < this.options.length) {
          // get correct option
          let correctOption = _.find(this.options, ['correctOption', true])
          // some demo datas has not answerid property
          // in this case, we're selecting first option as correct one
          if (!correctOption) {
            correctOption = _.head(this.options)
          }
          // and select it
          // setTimeout(() => {
          // }, 1000)
          correctOption.selected = true
          this.$emit('set-correct-option', correctOption)

          // setTimeout(() => {
          // }, questionTimeout)
          this.$emit('select-option', selectedOption)
        }
      }
    },
    keyboardDetect(e) {
      // 1, 2, 3, 4, 5, 6, 7, 8, 9
      const keyCodes = [49, 50, 51, 52, 53, 54, 55, 56, 57]
      const numKeyCodes = [97, 98, 99, 100, 101, 102, 103, 104, 105]
      let pressedKeyIndex = keyCodes.indexOf(e.keyCode)
      if (pressedKeyIndex === -1) {
        pressedKeyIndex = numKeyCodes.indexOf(e.keyCode)
      }
      // if pressed key is between 1-9
      // and selected option is available
      if (pressedKeyIndex > -1 && pressedKeyIndex < this.options.length) {
        this.keyboardChose(pressedKeyIndex)
      }
    },
  },
  created() {
    window.addEventListener('keyup', this.keyboardDetect)
  },
  beforeDestroy() {
    window.removeEventListener('keyup', this.keyboardDetect)
  },
}
</script>
