<template>
  <div class="dictate-letters__item">
    <input
      type="text"
      v-model="value"
      @input="inputLetter(letter)"
      @blur="resetInput"
      class="dictate-letters__box"
      :class="status"
      maxlength="1"
    >
    {{ inputFocus }}
  </div>
</template>

<script>
export default {
  name: 'WordyDictateLetterBox',
  props: {
    letter: String,
    inputFocus: Boolean
  },
  data () {
    return {
      value: '',
      status: ''
    }
  },
  methods: {
    inputLetter (letter) {
      if (letter === this.value) {
        this.status = 'success'
      } else {
        this.status = 'error'
        setTimeout(() => {
          this.status = ''
        }, 1000)
      }
    },
    resetInput () {
      if (this.status === 'error') {
        this.status = ''
        this.value = ''
      }
    }
  }
}
</script>
