<template>
  <div
    class="wordy-intro__inner"
    style="flex-direction: column;"
    v-if="!_.isEmpty(currentCard)"
  >
    <div v-if="!showResult" class="intro-list">
      <div
        class="intro-list__item"
        v-for="(card, index) in presentation"
        @mouseenter="isInterval = false"
        @mouseout="isInterval = true"
        :class="[{ front: card === currentCard }, { back: card === nextCard }]"
        :key="`card${index}`"
      >
        <transition :name="card === currentCard ? 'front' : 'back'">
          <IntroCard
            v-if="card === currentCard || card === nextCard"
            :card="card"
            :progress="progressPercentage"
            :card-count="presentation.length"
            :current-card-index="index"
            @listen="handleListenCurrentIntro"
          />
        </transition>
      </div>
    </div>
    <div v-if="!showResult" class="navigator-wrp">
      <div class="navigator">
        <v-button
          @click.native="prev"
          class="shadow-none square purple mr-3"
          icon="icon-arrow-left"
          icon-position="left"
          :disabled="_.isEmpty(prevCard) || progressPercentage < 40"
        />
        <v-button
          @click.native="next"
          class="square shadow-none purple"
          icon="icon-arrow-right"
          icon-position="left"
          :disabled="progressPercentage < 40"
        />
      </div>
    </div>
    <BaseButton
      :text="`Sunumu Atla`"
      :uppercase="true"
      :block="true"
      :intent="`primary`"
      :styling="`pill`"
      @click="finishPresentation"
      v-if="!showResult"
      class="skip-presentation"
    />
    <!--    <transition name="fade-up">-->
    <!--      <v-button-->
    <!--        class="shadow-none purple round wordy-detail__next"-->
    <!--        @click.native="$emit('skip-intro')"-->
    <!--        title="ÇALIŞMAYA HAZIRIM"-->
    <!--        v-if="_.isEmpty(nextCard)"-->
    <!--      />-->
    <!--    </transition>-->
    <transition name="slide-fade-left-light">
      <WordyResult
        v-if="showResult"
        :questions="this.presentation"
        :first-step="firstStep"
        @next-step="$emit('skip-intro')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import IntroCard from '@/components/IntroCard'
import _ from 'lodash'
import { gspeak } from '@/common/helpers'
import delaySearch from '../../common/delay-search'
import BaseButton from '../Base/BaseButton.vue'

export default {
  name: 'WordyIntroCard',
  components: {
    IntroCard,
    WordyResult,
    BaseButton,
  },
  props: {
    duration: {
      type: Number,
      default: 5,
    },
    presentation: {
      type: Array,
      default: () => [],
    },
    firstStep: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      currentCard: _.head(this.presentation),
      wordyIntroCardDuration: 0,
      wordyIntroCardDurationMax: 4000,
      wordyIntroCardInterval: null,
      intervalDuration: 50,
      isInterval: true,
      showResult: false,
      xSwipe: null,
      entered: true,
      swiping: true,
    }
  },
  watch: {
    currentCard(val) {
      this.$emit('set-current-card-index', this.presentation.indexOf(val) + 1)
    },

    showResult(val) {
      if (val) {
        this.swiping = !val
        this.xSwipe = null
      }
    },
  },
  computed: {
    progressPercentage() {
      return (
        100 / (this.wordyIntroCardDurationMax / this.wordyIntroCardDuration)
      )
    },
    prevCard() {
      if (_.head(this.presentation) === this.currentCard) {
        return {}
      }
      const currentCardIndex = this.presentation.indexOf(this.currentCard)
      return this.presentation[currentCardIndex - 1]
    },
    nextCard() {
      if (_.last(this.presentation) === this.currentCard) {
        return {}
      }
      const currentCardIndex = this.presentation.indexOf(this.currentCard)
      return this.presentation[currentCardIndex + 1]
    },
    _() {
      return _
    },
  },
  methods: {
    finishPresentation() {
      this.showResult = true
      this.currentCard = _.last(this.presentation)
      this.entered = false
    },

    startTouchEvents() {
      document.addEventListener('touchstart', this.touchStart, false)
      document.addEventListener('touchmove', this.touchMove, false)
      this.swiping = true
    },

    touchStart(e) {
      if (this.swiping) {
        this.xSwipe = e.touches[0].clientX
      }
    },

    touchMove(e) {
      if (this.xSwipe === null || this.progressPercentage < 40) {
        return false
      }
      let xStart = e.touches[0].clientX
      let xDiff = this.xSwipe - xStart
      xDiff > 0 ? this.next() : this.prev()
      this.xSwipe = null
    },

    next() {
      if (!_.isEmpty(this.nextCard) || this.progressPercentage < 40) {
        // Vue.logger.log('next card', this.nextCard)
        this.currentCard = this.nextCard
        this.reset()
      } else {
        this.showResult = true
      }
    },
    prev() {
      this.showResult = false
      if (!_.isEmpty(this.prevCard)) {
        // Vue.logger.log('prev card', this.prevCard)
        this.currentCard = this.prevCard
        this.reset()
      }
    },
    reset() {
      this.wordyIntroCardDuration = 0
      if (this.currentCard) {
        this.currentCard.visible = true
        this.handleListenCurrentIntro(this.currentCard.word)
      }
    },
    handleListenCurrentIntro(word) {
      if (this.entered) {
        return delaySearch(() => gspeak(word), 100)
      }
      // return _.debounce(word => {
      //   if (self.entered) gspeak(word)
      //   /* let utterance = new SpeechSynthesisUtterance(word)
      // utterance.lang = 'en-GB'
      // utterance.rate = 0.85
      // speechSynthesis.speak(utterance) */
      // }, 500)
    },
    keyPress(e) {
      if (!this.showResult && this.progressPercentage > 40) {
        if (e.keyCode === 37) {
          // left
          this.prev()
        } else if (e.keyCode === 39) {
          // right
          this.next()
        } else {
          return false
        }
      }
    },
  },
  created() {
    this.startTouchEvents()
    window.addEventListener('keyup', this.keyPress)
    let self = this
    self.wordyIntroCardInterval = setInterval(() => {
      if (self.isInterval) {
        if (self.wordyIntroCardDuration >= self.wordyIntroCardDurationMax) {
          if (_.last(self.presentation) !== self.currentCard) {
            // self.currentCard = self.presentation[self.presentation.indexOf(self.currentCard) + 1]
            // self.wordyIntroCardDuration = 0
            // self.currentCard.visible = true
            self.handleListenCurrentIntro(self.currentCard.word)
          } else {
            clearInterval(self.wordyIntroCardInterval)
            self.wordyIntroCardInterval = null
          }
          this.next()
        } else {
          self.wordyIntroCardDuration += self.intervalDuration
        }
      }
    }, self.intervalDuration)
  },
  mounted() {
    this.handleListenCurrentIntro(this.currentCard.word)
  },
  beforeDestroy() {
    this.xSwipe = null
    this.entered = false
    console.log('beforeDestroy', this.xSwipe)
    // this.destroyTouchEvents()
    window.removeEventListener('keyup', this.keyPress)
    this.handleListenCurrentIntro('')
    clearInterval(this.wordyIntroCardInterval)
    this.wordyIntroCardInterval = null
  },
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
@import './src/assets/scss/components/wordy-intro';
.front-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.35s;
}
.front-leave-active {
  transition: all 0.35s ease-in-out;
  z-index: 2;
}
.front-enter {
  transform: rotate(15deg);
  opacity: 0;
  pointer-events: none;
}
.front-leave-to {
  transform: translateX(-255px);
  opacity: 0;
  pointer-events: none;
}

.back-enter-active {
  transition: all 0.35s ease-in-out;
  transition-delay: 0.1s;
}
.back-leave-active {
  transition: all 0.35s ease-in-out;
  z-index: 2;
}
.back-enter {
  transform: rotate(5deg) translateX(55px) scale(0.95);
  opacity: 0;
  pointer-events: none;
}
.back-leave-to {
  transform: rotate(0deg);
  opacity: 0;
  pointer-events: none;
}

.fade-up-enter-active {
  transition: all 0.25s ease-in-out;
}
.fade-up-leave-active {
  transition: all 0.25s ease-in-out;
}
.fade-up-enter {
  transform: translateY(15px) translateX(-50%);
  opacity: 0;
}
.fade-up-leave-to {
  transform: translateY(15px) translateX(-50%);
  opacity: 0;
}

.navigator {
  @include bp(tablet) {
    top: 0;

    &-wrp {
      position: unset;
      margin: -3rem auto 1rem;
      transform: translateX(0);
    }
  }
}

::v-deep .skip-presentation.base-button {
  max-height: 3rem;
  max-width: 20rem;
}
</style>
