<template>
  <div class="wordy-group__wrp wordy-mt--30">
    <div
      v-if="!showResult"
      class="wordy-test"
    >
      <transition-group name="slide-fade-left">
        <div
          v-for="(question, index) in questions"
          :key="`question${index}`"
        >
          <div
            class="wordy-test__item-wrp"
            v-if="question === currentQuestion"
          >
            <div class="wordy-test__item">
              <div class="wordy-test-question suffix-w-100">
                <div class="suffix active suffix--mb-30">
                  <div class="suffix__top">
                    <div class="suffix-word suffix-word__mb-10">
                      <div>
                        <div class="suffix-word__top">
                          <div
                            class="suffix-word__title"
                            :class="`color-${getWordType(questionLabels[0].label)}`"
                          >{{ questionLabels[0].text }}</div>
                          <span
                            v-if="questionLabels[0].label"
                            lang="en"
                            class="word__badge"
                            :class="`bg-${getWordType(questionLabels[0].label)}`"
                          >{{ questionLabels[0].label }}</span>
                        </div>
                        <div class="suffix-word__meaning">{{ questionLabels[0].description }}</div>
                      </div>
                    </div>
                    <div class="suffix-bracket">
                      <div class="suffix-bracket__circle suffix-step-circle">
                        <div class="suffix-bracket__btn">
                          <svg-icon type="icon-plus" />
                          <img
                            src="@/assets/img/shape-4.svg"
                            alt
                            class="suffix-bracket__shape step-shape"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="suffix-word">
                      <div>
                        <div class="suffix-word__top">
                          <div
                            class="suffix-word__title"
                            :class="`color-${getWordType(questionLabels[1].label)}`"
                          >{{ questionLabels[1].text }}</div>
                          <span
                            v-if="questionLabels[1].label"
                            lang="en"
                            class="word__badge"
                            :class="`bg-${getWordType(questionLabels[1].label)}`"
                          >{{ questionLabels[1].label }}</span>
                        </div>
                        <div class="suffix-word__meaning">{{ questionLabels[1].description }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="suffix__cnt suffix-mt--10">
                    <div class="suffix-fill">
                      <div class="suffix-fill__title">{{ questionWord.text }} :</div>
                      <drop
                        v-if="dropText"
                        class="suffix-fill__box wordy-fill-box"
                        :text="dropText"
                        :class="{ over: dropText.over }"
                        @dragover="dropText.over = true"
                        @dragleave="dropText.over = false"
                        @drop="handleDrop($event, dropText)"
                      >{{ correctOption.name }}</drop>
                    </div>
                  </div>
                </div>
                <div class="wordy-test-question__txt">{{ question.description }}</div>
              </div>
              <div class="wordy-test-opts test-options">
                <drag
                  class="test-option"
                  v-for="(option, index) in options"
                  :key="index"
                  :transfer-data="option"
                  :hide-image-html="false"
                  :effect-allowed="['move']"
                  :class="[
                    { 'success animated pulse': option.selected && option.correctOption },
                    { 'error animated shake': option.selected && !option.correctOption }
                  ]"
                  @click.native="keyboardChose(index)"
                >
                  <span class="test-option__opt">
                    <span class="opt-txt">{{ index + 1 }}</span>
                  </span>
                  <p class="test-option__txt">{{ option.name }}</p>
                </drag>
              </div>
            </div>
          </div>
        </div>
      </transition-group>
    </div>

    <transition name="slide-fade-left">
      <WordyResult
        :key="4"
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
// import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'
import { Drag, Drop } from 'vue-drag-drop'
import _ from 'lodash'

export default {
  name: 'WordySuffix',
  components: {
    WordyResult,
    // WordyTestOption,
    Drag,
    Drop,
  },
  mixins: [WordyStepMixin],
  data() {
    return {
      options: [],
      texts: [],
    }
  },
  computed: {
    dropText() {
      return _.find(this.texts, ['type', 'question'])
    },
    questionLabels() {
      return _.filter(this.currentQuestion.question, ['type', 'label'])
    },
    questionWord() {
      return _.find(this.currentQuestion.question, ['type', 'question'])
    },
  },
  watch: {
    currentQuestion() {
      this.getOptions()
      this.getTexts()
    },
  },
  created() {
    window.addEventListener('keyup', this.keyboardDetect)
    this.startTest()
  },
  beforeDestroy() {
    window.removeEventListener('keyup', this.keyboardDetect)
  },
  mounted() {
    this.getOptions()
    this.getTexts()
  },
  methods: {
    handleDrop(data, text) {
      text.over = false
      this.keyboardChose(this.options.indexOf(data))
    },
    getTexts() {
      this.texts = _.map(this.currentQuestion.question, text => {
        return {
          over: false,
          type: text.type,
          text: text.text,
        }
      })
    },
    getOptions() {
      let result = []
      const answerId = this.currentQuestion.answerId
      result.push(...this.currentQuestion.answers)
      this.options = _.map(result, answer => {
        return {
          id: answer.id,
          name: answer.name,
          selected: false,
          correctOption: answer.id === answerId,
        }
      })
    },
    keyboardChose(keyIndex) {
      // user has just one chance to make a selection
      if (!this.selectedAny) {
        this.selectedAny = true
        const selectedOption = this.options[keyIndex]
        selectedOption.selected = true

        if (selectedOption.correctOption) {
          this.playCorrect()
          this.setCorrectOption(selectedOption)
        } else {
          this.playWrong()
        }

        let questionTimeout = 0
        if (selectedOption.correctOption) {
          questionTimeout = 500
        } else {
          questionTimeout = 2000
        }

        const self = this
        if (keyIndex < this.options.length) {
          this.options.forEach(() => {
            // get correct option
            let correctOption = _.find(self.options, ['correctOption', true])
            // some demo datas has not answerid property
            // in this case, we're selecting first option as correct one
            if (!correctOption) {
              correctOption = _.head(self.options)
            }
            // and select it
            setTimeout(() => {
              correctOption.selected = true
              self.setCorrectOption(correctOption)
            }, 1000)
          })
          setTimeout(() => {
            self.selectOption(selectedOption)
          }, questionTimeout)
        }
      }
    },
    keyboardDetect(e) {
      // 1, 2, 3, 4, 5, 6, 7, 8, 9
      const keyCodes = [49, 50, 51, 52, 53, 54, 55, 56, 57]
      const numKeyCodes = [97, 98, 99, 100, 101, 102, 103, 104, 105]
      let pressedKeyIndex = keyCodes.indexOf(e.keyCode)
      if (pressedKeyIndex === -1) {
        pressedKeyIndex = numKeyCodes.indexOf(e.keyCode)
      }
      // if pressed key is between 1-9
      // and selected option is available
      if (pressedKeyIndex > -1 && pressedKeyIndex < this.options.length) {
        this.keyboardChose(pressedKeyIndex)
      }
    },
  },
}
</script>
