<template>
  <div class="wordy-group__wrp">
    <div v-if="showIntro">
      <transition name="slide-fade-left">
        <div class="wordy-roll">
          <transition-group name="slide-fade-left">
            <div v-for="(introItem, index) in presentations" :key="`intro${index}`">
              <wordy-roll-item
                v-if="introItem === currentIntroItem"
                @next-intro="nextIntro"
                :presentation="introItem"
                :index="index"
              />
            </div>
          </transition-group>
        </div>
      </transition>
    </div>

    <div v-if="showList">
      <transition name="slide-fade-left">
        <div class="wordy-list__wrp">
          <div class="fw wordy-preposition-intro-fw">
            <div class="wordy-list__head head__margin__phone-s">Preposition Sunum Sona Erdi!</div>
            <div
              class="wordy-list__head-txt"
            >{{ presentationWords.length }} Adet Preposition Gösterildi</div>
            <button
              @click="wordyResultToggle"
              class="shadow-none button round wordy-result--open-button mt-5"
            >
              <span class="button__wrp">
                <span class="button__icon"></span>
                <span class="button__txt">PREPOSITION'LARI GÖRÜNTÜLE</span>
              </span>
            </button>

            <div class="wordy-list only-desktop">
              <div class="wordy-list__item-wrp fw">
                <div
                  class="wordy-list__item"
                  v-for="(word, wordIndex) in presentationWords"
                  :key="`word${wordIndex}`"
                >
                  <span class="wordy-list__number">{{ wordIndex + 1 }}</span>
                  <div class="wordy-list__content">
                    <div class="wordy-list__title">
                      <span class="txt color-noun">{{ word.word }}</span>
                    </div>
                    <div class="wordy-list__txt">{{ word.text }}</div>
                  </div>
                </div>
              </div>
            </div>

            <transition name="fade-up" mode="out-in">
              <div
                class="wordy-result__middle wordy-result__middle__mobile"
                v-show="this.showWordyResult"
              >
                <div class="wordy-result__top-cont">
                  <div
                    class="wordy-result-ctr__title"
                    v-if="resultData && resultData.nextStepsName !== ''"
                  >Preposition</div>
                  <div class="wordy-result-close" @click="wordyResultToggle">
                    <div class="wordy-result-close__icon">
                      <svg-icon type="icon-close" />
                    </div>
                  </div>
                </div>
                <div class="wordy-list">
                  <div class="wordy-list__item-wrp fw">
                    <div
                      class="wordy-list__item"
                      v-for="(word, wordIndex) in presentationWords"
                      :key="`word${wordIndex}`"
                    >
                      <span class="wordy-list__number">{{ wordIndex + 1 }}</span>
                      <div class="wordy-list__content">
                        <div class="wordy-list__title">
                          <span class="txt color-noun">{{ word.word }}</span>
                        </div>
                        <div class="wordy-list__txt">{{ word.text }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
          <div class="fw text-center">
            <div
              class="wordy-result-ctr__txt only-desktop"
              v-if="resultData && resultData.nextStepsName !== ''"
            >SONRAKİ ADIM</div>
            <div
              class="wordy-result-ctr__title only-desktop"
              v-if="resultData && resultData.nextStepsName !== ''"
            >{{ resultData.nextStepsName }}</div>
            <div
              v-if="resultData && !_.isEmpty(resultData.nextStepsName)"
              class="wordy-result__txt only-desktop"
            >{{ resultData.nextStepsDescription }}</div>
            <v-button
              class="shadow-none purple round wordy-detail__next suffix-end__button mt-3"
              @click.native="$emit('next-step')"
              title="DEVAM ET"
            />
          </div>
        </div>
      </transition>
    </div>

    <div v-if="showResult">
      <transition name="slide-fade-left">
        <WordyResult
          :step-name="stepName"
          :next-steps-name="nextStepsName"
          @next-step="$emit('next-step')"
          :progress="74"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import WordyRollItem from '@/components/Wordy/WordyRollItem'
import WordyResult from '@/components/Wordy/WordyResult'
import WordyStepMixin from '@/mixins/WordyStep'
import { mapGetters } from 'vuex'
import { SHOW_WORDY_RESULTS } from '@/store/actions.type'

export default {
  name: 'WordyPrepositionIntro',
  components: {
    WordyRollItem,
    WordyResult,
  },
  mixins: [WordyStepMixin],
  data() {
    return {
      options: [],
      texts: [],
    }
  },
  computed: {
    ...mapGetters(['showWordyResult']),
    presentationWords() {
      let result = []
      _.forEach(this.presentations, item => {
        let word = ''
        _.forEach(item.texts, text => {
          if (text.type === 'text') {
            word += `${text.text} `
          } else {
            const correctOne = _.find(text.options, ['id', item.optionId])
            word += `${correctOne.name} `
          }
        })
        result.push({
          word: word.trim(),
          text: item.presentationText,
        })
      })
      return result
    },
    _() {
      return _
    },
  },
  methods: {
    wordyResultToggle() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
    wordyResultClose() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
  },
  created() {
    this.currentIntroItem = _.head(this.presentations)
  },
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
.wordy-list {
  max-height: 320px;
  @include bp(tablet) {
    max-height: 220px;
  }
}
.fade-enter-active {
  transition: opacity 0.25s ease-in-out;
  transition-delay: 0.15s;
}
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

.slide-fade-down-enter-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.1s;
}
.slide-fade-down-leave-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}
.slide-fade-down-enter {
  transform: translateY(15px);
  opacity: 0;
  pointer-events: none;
}
.slide-fade-down-leave-to {
  transform: translateY(-15px);
  opacity: 0;
  pointer-events: none;
}
</style>
