<template>
  <div class="wordy-test">
    <transition-group name="slide-fade-left">
      <div v-for="(question, index) in questions" :key="`question${index}`">
        <div class="wordy-test__item" v-if="question === currentQuestion">
          <div class="wordy-test-question">
            <div class="wordy-test-word">
              <span class="word__badge" :class="`bg-${question.wordType}`">{{
                question.wordType
              }}</span>
              <div class="wordy-test-word__title" :class="`color-${question.wordType}`">
                {{ question.word }}
              </div>
            </div>
            <div class="wordy-test-question__txt">{{ question.question }}</div>
          </div>
          <div class="wordy-test-opts test-options">
            <div
              class="test-option"
              :class="[
                { success: opt.selected && opt.correctOption },
                { error: opt.selected && !opt.correctOption }
              ]"
              @click="chose(question, opt.id)"
              v-for="opt in question.options"
              :key="opt.id"
            >
              <span class="test-option__opt">
                <span class="opt-txt">{{ opt.key }}</span>
              </span>
              <p class="test-option__txt">{{ opt.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: 'WordySynonym',
  props: {
    questions: Array,
    title: String,
    text: String
  },
  data() {
    return {
      currentQuestion: 0
    }
  },
  methods: {
    chose(index, opt) {
      const quest = this.questions[index]
      quest.options.forEach((item, index) => {
        item.selected = false
      })
      const option = quest.options.find(item => item.id === opt)
      option.selected = true
      if (option.correctOption && index < this.questions.length - 1) {
        setTimeout(() => {
          this.currentQuestion++
        }, 250)
      }
    }
  }
}
</script>
