<template>
  <div class="wordy-group__wrp">
    <div v-if="!showResult" class="wordy-test wordy-fill">
      <transition-group name="slide-fade-left">
        <div v-for="question in questions" :key="question.id">
          <div class="wordy-test__item-wrp" v-if="question === currentQuestion">
            <div class="wordy-test__item">
              <div class="wordy-test-question">
                <div class="wordy-fill-question">
                  <div class="wordy-fill-question__title">
                    <span v-for="(word, index) in question.question" :key="`word${index}`">
                      <span
                        v-if="word.type === 'selected'"
                        class="wordy-fill-box"
                      >{{ word.selected }}</span>
                      <span v-else>{{ word.text }} </span>
                    </span>
                  </div>
                </div>
                <div class="wordy-test-question__txt">{{ question.description }}</div>
              </div>
              <WordyTestOption
                :answers="question.answers"
                :answer-id="question.answerId"
                @play-correct="playCorrect"
                @play-wrong="playWrong"
                @select-option="selectOption"
                @set-correct-option="setCorrectOption"
              />
            </div>
          </div>
        </div>
      </transition-group>
    </div>
    <!--&#45;&#45;-->

    <transition name="slide-fade-left">
      <WordyResult
        :key="4"
        v-if="showResult"
        :step-name="stepName"
        :next-steps-name="nextStepsName"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
        :progress="74"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'

export default {
  name: 'WordySentenceReplace',
  components: {
    WordyResult,
    WordyTestOption
  },
  mixins: [WordyStepMixin]
}
</script>
