<template>
  <div class="wordy-detail-list wordy-report">
    <!-- <div class="fix-buttons">
      <v-button
        class="button--circle purple shadow-none"
        icon="icon-download"
        icon-position="left"
        v-tooltip="'İndir'"
        @click.native="downloadReport"
      />
    </div>-->

    <div
      v-if="!_.isEmpty(report.performances) && loaded"
      class="wordy-result__wrp wordy-result__wrp--progress"
    >
      <div class="wordy-result__progress">
        <CircleProgress :value="report.performances[0].personal_percentage" :size="100" />
      </div>
      <p class="wordy-result__txt">{{ report.performances[0].message }}</p>
      <p class="wordy-result__txt">
        Diğer kullanıcıların ortalaması:
        <strong>{{ `${report.performances[0].overall_percentage}%` }}</strong>
      </p>
    </div>
    <GhostWordyResult v-if="!loaded" />

    <div class="detail-inner">
      <swiper
        :options="tabSwiper"
        class="reading-tabitems"
        ref="detailTabs"
        @slideChange="changeSlide"
      >
        <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
          <TabItem
            :icon="tab.icon"
            :text="tab.text"
            :active="index === activeTab"
            @click.native="tabShow(tab, index)"
          ></TabItem>
        </swiper-slide>
      </swiper>
      <tab>
        <tab-pane
          v-show="currentTab === 0"
          :class="{ active: currentTab === 0 }"
          class="performance-report"
        >
          <div class="row" style="margin: 0 0 0 0;">
            <template v-if="loaded">
              <div
                v-for="(performance, index) in report.performances"
                class="card-of-performance"
                :key="`performance_${index}`"
              >
                <strong>{{ performance.type_name }}</strong>
                <CircleProgress :value="performance.personal_percentage" :size="100" />
                <div>
                  <span>Diğer Kullanıcıların Ortalaması</span>
                  <strong>{{ `${performance.overall_percentage}%` }}</strong>
                  <v-button
                    v-if="performance.personal_percentage < performance.overall_percentage"
                    class="n-button-for-wordy mt-2 wordy-report__button auto-sized"
                    icon="icon-reload"
                    icon-position="left"
                    title="TEKRAR ET"
                    @click.native="$emit('go-to-step', parseInt(performance['type_id']), true)"
                  />
                  <v-button
                    v-else
                    class="n-button-for-wordy mt-5 wordy-report__button n-button-for-wordy__success-btn"
                    icon="icon-check-circle"
                    icon-position="left"
                    title="TEBRİKLER!"
                  />
                  <small
                    v-if="performance.personal_percentage < performance.overall_percentage"
                    class="text-center font-300 pt-1"
                    >Genel ortalamanın altında kaldığınız için bu alıştırmayı tekrar
                    çözebilirsiniz.</small
                  >
                </div>
              </div>
            </template>
            <template v-if="!loaded">
              <GhostWordyCard v-for="n in 6" :key="n" />
            </template>
          </div>
          <div class="button-footer d-flex justify-content-center align-items-center">
            <!--            <v-button-->
            <!--              style="background: #dde3eb;width: 350px;height: 60px;margin: 40px 10px 0 10px; display: inline-flex;"-->
            <!--              class="fw color-white bg-adj p-round"-->
            <!--              icon="icon-reload"-->
            <!--              icon-position="left"-->
            <!--              title="STEP'İ TEKRAR ET"-->
            <!--              @click.native="$emit('go-to-step', 0)"-->
            <!--            />-->
            <a
              v-if="!hideFinishButton"
              :href="completeButton.url"
              class="button fw c-success p-round completeButton"
              style="width: 350px;height: 60px;margin: 40px 10px 0 10px; display: inline-flex;"
              >{{ completeButton.text }}</a
            >
          </div>
        </tab-pane>
        <tab-pane v-show="currentTab === 1" :class="{ active: currentTab === 1 }">
          <div v-if="false" class="n-report">
            <div class="reading-words__header">
              <transition-group name="fade">
                <div class="reading-words__inf" :key="1" v-show="!showAddList">
                  <div class="reading-words__txt" style="width: 100%">
                    <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                      <span>
                        KELİME TÜRETME
                        <u>(23 adet)</u>
                      </span>
                    </strong>
                  </div>
                  <!-- <v-button
                    class="reading-words__button default round icon-left"
                    icon="icon-lists"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="showAddList = true"
                  />-->
                </div>
                <div
                  class="reading-words__ctr"
                  :key="2"
                  @click="showAddList = !showAddList"
                  v-show="showAddList"
                >
                  <v-button
                    class="default round color-gray"
                    title="TÜMÜNÜ SEÇ"
                    @click.native="selectAll"
                  />
                  <!-- <v-button
                    class="purple fw shadow-none round icon-left"
                    icon="icon-plus"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="addListModal"
                  />-->

                  <v-button
                    class="default round icon-xs xs color-gray"
                    title="VAZGEÇ"
                    icon="icon-close"
                    icon-position="right"
                    @click.native="closeAddList"
                  />
                </div>
              </transition-group>
            </div>
            <div v-for="i in 5" :key="i" class="reading-words__cnt suffix-and-words n-wordy-report">
              <div class="row" style="width: 100%;">
                <div class="col-md-7 custom-suffinx">
                  <div class="suffix active">
                    <div class="suffix__top">
                      <div class="suffix-word">
                        <div class="suffix-word__top">
                          <div class="button-position">
                            <button
                              class="button word-box__voice square default"
                              style="opacity: 1;"
                            >
                              <span class="button__wrp">
                                <span class="button__icon">
                                  <svg viewBox="0 0 20 20" class="icon">
                                    <use xlink:href="/icon/icons.svg#icon-voice" />
                                  </svg>
                                </span>
                              </span>
                            </button>
                          </div>
                          <div>
                            <div class="suffix-word__title color-verb">
                              work
                              <span lang="en" class="word__badge bg-verb">v</span>
                            </div>
                            <div class="suffix-word__meaning">çalışmak</div>
                          </div>
                        </div>
                      </div>
                      <div class="suffix-bracket">
                        <div class="suffix-bracket__circle">
                          <div class="suffix-bracket__btn">
                            <svg viewBox="0 0 20 20" class="icon">
                              <use xlink:href="/icon/icons.svg#icon-plus" />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="suffix-meaning tooltip-btn">
                        <div class="suffix-word__title color-noun">
                          -er
                          <!---->
                        </div>
                        <span class="tooltip tooltip--top">
                          <span class="tooltip__wrp">
                            <span class="tooltip__txt">belirtilen eylemi yapan</span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 with-arrow-bg">
                  <svg-icon type="icon-arrow-long-right" />
                  <div class="word-box" style="width: 100%;margin: 0;">
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div class="word-box__title">Kelime</div>
                        <span class="word__badge bg-verb" lang="en">kelime</span>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-rate">
                            <span class="active" :class="'bg-gray'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                          </div>
                          <div class="word-box-meaning__title">
                            <span>kelime aciklama</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <strong class="show-more-dropdown n-wordy-report-show-more">
              <svg-icon type="icon-caret-down"></svg-icon>23 kelime daha
            </strong>
          </div>

          <div v-if="false" class="n-report">
            <div class="reading-words__header">
              <transition-group name="fade">
                <div class="reading-words__inf" :key="1" v-show="!showAddList">
                  <div class="reading-words__txt" style="width: 100%">
                    <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                      <span>
                        KELİME TÜRETME
                        <u>(23 adet)</u>
                      </span>
                    </strong>
                  </div>
                  <!-- <v-button
                    class="reading-words__button default round icon-left"
                    icon="icon-lists"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="showAddList = true"
                  />-->
                </div>
                <div
                  class="reading-words__ctr"
                  :key="2"
                  @click="showAddList = !showAddList"
                  v-show="showAddList"
                >
                  <v-button
                    class="default round color-gray"
                    title="TÜMÜNÜ SEÇ"
                    @click.native="selectAll"
                  />
                  <!-- <v-button
                    class="purple fw shadow-none round icon-left"
                    icon="icon-plus"
                    icon-position="left"
                    title="KELİME LİSTESİNE EKLE"
                    @click.native="addListModal"
                  />-->

                  <v-button
                    class="default round icon-xs xs color-gray"
                    title="VAZGEÇ"
                    icon="icon-close"
                    icon-position="right"
                    @click.native="closeAddList"
                  />
                </div>
              </transition-group>
            </div>
            <div v-for="i in 5" :key="i" class="reading-words__cnt suffix-and-words n-wordy-report">
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <div class="word-box" style="width: 100%;margin: 0;">
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div class="word-box__title color-blue">Kelime</div>
                        <span class="word__badge bg-blue" lang="en">kelime</span>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-rate">
                            <span class="active" :class="'bg-gray'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                          </div>
                          <div class="word-box-meaning__title">
                            <span>kelime aciklama</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 with-arrow-bg">
                  <svg-icon type="icon-equals" />
                  <div class="word-box" style="width: 100%;margin: 0;">
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div class="word-box__title color-red">Kelime</div>
                        <span class="word__badge bg-verb" lang="en">kelime</span>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-rate">
                            <span class="active" :class="'bg-gray'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                            <span class="active" :class="'bg-blue'"></span>
                          </div>
                          <div class="word-box-meaning__title">
                            <span>kelime aciklama</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <strong class="show-more-dropdown n-wordy-report-show-more">
              <svg-icon type="icon-caret-down"></svg-icon>23 kelime daha
            </strong>
          </div>

          <div v-for="(type, index) in report.types" :key="`${type.key}_${index}`">
            <div v-if="type.key === 'words'" class="row list-of-words">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showVocabulariesList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span>
                            {{ type.name }}
                            <u>({{ type.words.length }} adet)</u>
                          </span>
                        </strong>
                      </div>
                      <v-button
                        class="reading-words__button default round icon-left"
                        icon="icon-lists"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="openVocabularyAddList"
                      />
                    </div>
                    <div class="reading-words__ctr" :key="2" v-show="showVocabulariesList">
                      <v-button
                        class="default round color-gray"
                        title="TÜMÜNÜ SEÇ"
                        @click.native="handleSelectVocabularies"
                      />
                      <v-button
                        class="purple fw shadow-none round icon-left"
                        icon="icon-plus"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="setAddWordModal({ show: true, wordType: 'w' })"
                      />

                      <v-button
                        class="default round icon-xs xs color-gray"
                        title="VAZGEÇ"
                        icon="icon-close"
                        icon-position="right"
                        @click.native="hideVocabularyAddList"
                      />
                    </div>
                  </transition-group>
                </div>

                <p v-if="type.description" class="mb-3 wordy-report-description">
                  {{ type.description }}
                </p>
                <div class="reading-words__cnt" ref="wordList">
                  <WordBox
                    v-for="word in type.words"
                    :word="word"
                    :key="`wordId${word.id}`"
                    :selectable="showVocabulariesList"
                    :showAddList="showVocabulariesList"
                    :selectAllWords="selectVocabularies"
                  />
                </div>
              </div>
              <!-- <strong
                v-if="type.words.length > defaultWordCount && type.showCount === defaultWordCount"
                class="show-more-dropdown"
                @click="type.showCount = type.words.length"
              >
                <svg-icon type="icon-caret-down"></svg-icon>
                {{ type.words.length - defaultWordCount }} kelime daha
              </strong> -->
            </div>

            <div v-if="type.key === 'preposition'" class="row list-of-words prepositions">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showPrepositionsList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span
                            >Prepositions <u>({{ type.words.length }} adet)</u></span
                          >
                        </strong>
                      </div>
                      <v-button
                        class="reading-words__button default round icon-left"
                        icon="icon-lists"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="openPrepositionsAddList"
                      />
                    </div>
                    <div class="reading-words__ctr" :key="2" v-show="showPrepositionsList">
                      <v-button
                        class="default round color-gray"
                        title="TÜMÜNÜ SEÇ"
                        @click.native="handleSelectPrepositions"
                      />
                      <v-button
                        class="purple fw shadow-none round icon-left"
                        icon="icon-plus"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="setAddWordModal({ show: true, wordType: 'p' })"
                      />

                      <v-button
                        class="default round icon-xs xs color-gray"
                        title="VAZGEÇ"
                        icon="icon-close"
                        icon-position="right"
                        @click.native="hidePrepositionsAddList"
                      />
                    </div>
                  </transition-group>
                </div>
                <p v-if="type.description" class="mb-3 wordy-report-description">
                  {{ type.description }}
                </p>
                <!-- <div class="reading-words__cnt" ref="wordList">
                  <div
                    v-for="(word, wordIndex) in type.words.slice(0, type.showCount)"
                    class="word-box"
                    :key="`${type.key}_word_${wordIndex}`"
                  >
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                        @click.native="googleSpeak(getPrepositionText(word))"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div
                          v-for="(text, index) in word.question"
                          :key="`preposition_${index}`"
                          class="word-box__title color-noun"
                        >
                          {{ text.type === 'text' ? text.text : word.preposition }}
                        </div>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-box-meaning__title">
                            <span>{{ word.definition }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="reading-words__cnt" ref="wordList">
                  <WordBox
                    basic
                    v-for="word in type.words"
                    :word="word"
                    :key="`wordId${word.id}`"
                    :selectable="showPrepositionsList"
                    :showAddList="showPrepositionsList"
                    :selectAllWords="selectPrepositions"
                  />
                </div>
              </div>
            </div>

            <div v-if="type.key === 'definition'" class="row list-of-words with-definitions">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showDefinitionsList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span>
                            {{ type.name }}
                            <u>({{ type.words.length }} adet)</u>
                          </span>
                        </strong>
                      </div>
                      <v-button
                        class="reading-words__button default round icon-left"
                        icon="icon-lists"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="openDefinitionsAddList"
                      />
                    </div>
                    <div class="reading-words__ctr" :key="2" v-show="showDefinitionsList">
                      <v-button
                        class="default round color-gray"
                        title="TÜMÜNÜ SEÇ"
                        @click.native="handleSelectDefinitions"
                      />
                      <v-button
                        class="purple fw shadow-none round icon-left"
                        icon="icon-plus"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="setAddWordModal({ show: true, wordType: 'm' })"
                      />

                      <v-button
                        class="default round icon-xs xs color-gray"
                        title="VAZGEÇ"
                        icon="icon-close"
                        icon-position="right"
                        @click.native="hideDefinitionsAddList"
                      />
                    </div>
                  </transition-group>
                </div>

                <p v-if="type.description" class="mb-3 wordy-report-description">
                  {{ type.description }}
                </p>
                <div class="reading-words__cnt" ref="wordList">
                  <div
                    v-for="(word, wordIndex) in type.words.slice(0, type.showCount)"
                    :key="`${type.key}_word_${wordIndex}`"
                    class="reading-words__cnt"
                    ref="wordList"
                  >
                    <!-- <div class="word-box"> -->
                    <!-- <div class="word-background">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            v-tooltip="'Dinle'"
                            icon-position="left"
                            @click.native="googleSpeak(word.word)"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div
                              class="word-box__title"
                              :class="`color-${getWordType(word.label)}`"
                            >
                              {{ word.word }}
                            </div>
                            <span
                              class="word__badge"
                              :class="`bg-${getWordType(word.label)}`"
                              lang="en"
                              >{{ word.label }}</span
                            >
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-box-meaning__title">
                                <span>{{ word.translation }}</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div> -->

                    <div class="word-definition-item">
                      <WordBox
                        basic
                        :word="word"
                        :selectable="showDefinitionsList"
                        :showAddList="showDefinitionsList"
                        :selectAllWords="selectDefinitions"
                      />
                      <span class="arrow-circle seperator-arrow">
                        <svg-icon type="icon-arrow-right"></svg-icon>
                      </span>
                      <span class="word-definition-item__text">{{ word.definition }}</span>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div v-if="false" class="row list-of-words row-border">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showAddList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span>
                            MINIMAL PAIRS
                            <u>(6 adet)</u>
                          </span>
                        </strong>
                      </div>
                    </div>
                  </transition-group>
                </div>

                <div class="reading-words__cnt adherent" ref="wordList">
                  <div class="row" style="width: 100%">
                    <div class="col-md-6">
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="word-box" style="width: 100%">
                        <div class="word-box__left">
                          <v-button
                            class="word-box__voice square default"
                            icon="icon-voice"
                            icon-position="left"
                            v-tooltip="'Dinle'"
                          />
                        </div>
                        <div class="word-box__cnt">
                          <div class="word-box__top">
                            <div class="word-box__title" :class="'color-blue'">kelime</div>
                            <span class="word__badge" :class="'bg-blue'" lang="en">type</span>
                          </div>
                          <div class="word-box-meaning">
                            <div class="word-box-meaning__item">
                              <div class="word-rate">
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                                <span class="active" :class="'bg-blue'"></span>
                              </div>
                              <div class="word-box-meaning__title">kalin</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="type.key === 'synonym'" class="n-report">
              <div class="reading-words__header">
                <transition-group name="fade">
                  <div class="reading-words__inf" :key="1" v-show="!showAddList">
                    <div class="reading-words__txt" style="width: 100%">
                      <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                        <span>
                          {{ type.name }}
                          <u>({{ type.words.length }} adet)</u>
                        </span>
                      </strong>
                    </div>
                    <!-- <v-button
                      class="reading-words__button default round icon-left"
                      icon="icon-lists"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="showAddList = true"
                    /> -->
                  </div>
                  <div
                    class="reading-words__ctr"
                    :key="2"
                    @click="showAddList = !showAddList"
                    v-show="showAddList"
                  >
                    <v-button
                      class="default round color-gray"
                      title="TÜMÜNÜ SEÇ"
                      @click.native="selectAll"
                    />
                    <v-button
                      class="purple fw shadow-none round icon-left"
                      icon="icon-plus"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="addListModal"
                    />

                    <v-button
                      class="default round icon-xs xs color-gray"
                      title="VAZGEÇ"
                      icon="icon-close"
                      icon-position="right"
                      @click.native="closeAddList"
                    />
                  </div>
                </transition-group>
              </div>

              <p v-if="type.description" class="mb-3 wordy-report-description">
                {{ type.description }}
              </p>
              <div
                v-for="(word, wordIndex) in type.words.slice(0, type.showCount)"
                class="reading-words__cnt suffix-and-words n-wordy-report"
                :key="`${type.key}_word_${wordIndex}`"
              >
                <div class="row" style="width: 100%;">
                  <div class="col-md-6">
                    <div class="word-box" style="width: 100%;margin: 0;">
                      <div class="word-box__left">
                        <v-button
                          class="word-box__voice square default"
                          icon="icon-voice"
                          icon-position="left"
                          v-tooltip="'Dinle'"
                          @click.native="googleSpeak(word.question.word)"
                        />
                      </div>
                      <div class="word-box__cnt">
                        <div class="word-box__top">
                          <div class="word-box__title color-blue">{{ word.question.word }}</div>
                          <!--                          <span class="word__badge bg-blue" lang="en">-->
                          <!--                            kelime-->
                          <!--                          </span>-->
                        </div>
                        <div
                          v-for="(definition, index) in getDefinitions(word.question)"
                          :key="`synonym-definition-${index}`"
                          class="word-box-meaning"
                        >
                          <div class="word-box-meaning__item">
                            <div class="word-rate">
                              <span
                                class="active"
                                :class="definition.level >= 1 ? 'bg-blue' : 'bg-gray'"
                              ></span>
                              <span
                                class="active"
                                :class="definition.level >= 2 ? 'bg-blue' : 'bg-gray'"
                              ></span>
                              <span
                                class="active"
                                :class="definition.level >= 3 ? 'bg-blue' : 'bg-gray'"
                              ></span>
                            </div>
                            <div class="word-box-meaning__title">
                              <span>{{ definition.primary_def }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 with-arrow-bg">
                    <svg-icon type="icon-equals" />
                    <div class="word-box" style="width: 100%;margin: 0;">
                      <div class="word-box__left">
                        <v-button
                          class="word-box__voice square default"
                          icon="icon-voice"
                          icon-position="left"
                          v-tooltip="'Dinle'"
                          @click.native="googleSpeak(word.answer.word)"
                        />
                      </div>
                      <div class="word-box__cnt">
                        <div class="word-box__top">
                          <div class="word-box__title color-red">{{ word.answer.word }}</div>
                          <!--                          <span class="word__badge bg-verb " lang="en">-->
                          <!--                            kelime-->
                          <!--                          </span>-->
                        </div>
                        <div
                          v-for="(definition, index) in getDefinitions(word.answer)"
                          :key="`synonym-definition-answer-${index}`"
                          class="word-box-meaning"
                        >
                          <div class="word-box-meaning__item">
                            <div class="word-rate">
                              <span
                                class="active"
                                :class="definition.level >= 1 ? 'bg-orange' : 'bg-gray'"
                              ></span>
                              <span
                                class="active"
                                :class="definition.level >= 2 ? 'bg-orange' : 'bg-gray'"
                              ></span>
                              <span
                                class="active"
                                :class="definition.level >= 3 ? 'bg-orange' : 'bg-gray'"
                              ></span>
                            </div>
                            <div class="word-box-meaning__title">
                              <span>{{ definition.primary_def }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="false" class="row list-of-words">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showAddList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span>
                            {{ type.name }}
                            <u>({{ type.words.length }} adet)</u>
                          </span>
                        </strong>
                      </div>
                      <!-- <v-button
                        class="reading-words__button default round icon-left"
                        icon="icon-lists"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="showAddList = true"
                      /> -->
                    </div>
                    <div
                      class="reading-words__ctr"
                      :key="2"
                      @click="showAddList = !showAddList"
                      v-show="showAddList"
                    >
                      <v-button
                        class="default round color-gray"
                        title="TÜMÜNÜ SEÇ"
                        @click.native="selectAll"
                      />
                      <v-button
                        class="purple fw shadow-none round icon-left"
                        icon="icon-plus"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="addListModal"
                      />

                      <v-button
                        class="default round icon-xs xs color-gray"
                        title="VAZGEÇ"
                        icon="icon-close"
                        icon-position="right"
                        @click.native="closeAddList"
                      />
                    </div>
                  </transition-group>
                </div>

                <p v-if="type.description">{{ type.description }}</p>
                <div class="reading-words__cnt" ref="wordList">
                  <div
                    v-for="(word, wordIndex) in type.words.slice(0, type.showCount)"
                    class="word-box"
                    :key="`${type.key}_word_${wordIndex}`"
                  >
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                        @click.native="googleSpeak(word.word)"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div class="word-box__title" :class="`color-${getWordType(word.label)}`">
                          {{ word.word }}
                        </div>
                        <span class="word__badge" :class="'bg-blue'" lang="en">{{
                          word.label
                        }}</span>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-box-meaning__title">{{ word.label }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="word-box" v-for="i in 2" :key="i">
                    <div class="word-box__left">
                      <v-button
                        class="word-box__voice square default"
                        icon="icon-voice"
                        icon-position="left"
                        v-tooltip="'Dinle'"
                      />
                    </div>
                    <div class="word-box__cnt">
                      <div class="word-box__top">
                        <div class="word-box__title" :class="'color-red'">kelime</div>
                        <span class="word__badge" :class="'bg-danger'" lang="en">type</span>
                      </div>
                      <div class="word-box-meaning">
                        <div class="word-box-meaning__item">
                          <div class="word-rate">
                            <span class="active" :class="'bg-danger'"></span>
                            <span class="active" :class="'bg-danger'"></span>
                            <span></span>
                          </div>
                          <div class="word-box-meaning__title">kalin</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <strong
                v-if="type.words.length > defaultWordCount && type.showCount === defaultWordCount"
                class="show-more-dropdown"
                @click="type.showCount = type.words.length"
              >
                <svg-icon type="icon-caret-down"></svg-icon>
                {{ type.words.length - defaultWordCount }} kelime daha
              </strong>
            </div>

            <div v-if="type.key === 'collocation'" class="row list-of-words row-border">
              <div class="reading-words">
                <div class="reading-words__header">
                  <transition-group name="fade">
                    <div class="reading-words__inf" :key="1" v-show="!showCollocationsList">
                      <div class="reading-words__txt" style="width: 100%">
                        <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                          <span
                            >Collocations <u>({{ type.words.length }} adet)</u></span
                          >
                        </strong>
                      </div>
                      <v-button
                        class="reading-words__button default round icon-left"
                        icon="icon-lists"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="openCollocationsAddList"
                      />
                    </div>
                    <div class="reading-words__ctr" :key="2" v-show="showCollocationsList">
                      <v-button
                        class="default round color-gray"
                        title="TÜMÜNÜ SEÇ"
                        @click.native="handleSelectCollocations"
                      />
                      <v-button
                        class="purple fw shadow-none round icon-left"
                        icon="icon-plus"
                        icon-position="left"
                        title="KELİME LİSTESİNE EKLE"
                        @click.native="setAddWordModal({ show: true, wordType: 'c' })"
                      />

                      <v-button
                        class="default round icon-xs xs color-gray"
                        title="VAZGEÇ"
                        icon="icon-close"
                        icon-position="right"
                        @click.native="hideCollocationsAddList"
                      />
                    </div>
                  </transition-group>
                </div>

                <p v-if="type.description" class="mb-3 wordy-report-description">
                  {{ type.description }}
                </p>
                <div class="reading-words__cnt suffix-and-words" ref="wordList">
                  <div class="row" style="width: 100%;">
                    <div
                      v-for="(word, index) in type.words.slice(0, type.showCount)"
                      class="col-md-6"
                      :key="`${type.name}_word_${index}`"
                    >
                      <div class="suffix active">
                        <div class="suffix__top">
                          <div class="suffix-word suffix-word--left">
                            <div>
                              <div class="suffix-word__top">
                                <div
                                  class="suffix-word__title"
                                  :class="`color-${getWordType(word.first.label)}`"
                                >
                                  {{ word.first.word }}
                                </div>
                                <span
                                  lang="en"
                                  class="word__badge"
                                  :class="`bg-${getWordType(word.first.label)}`"
                                  >{{ word.first.label }}</span
                                >
                              </div>
                              <div class="suffix-word__meaning">{{ word.first.definition }}</div>
                            </div>
                          </div>
                          <div class="suffix-bracket">
                            <div class="suffix-bracket__circle">
                              <div class="suffix-bracket__btn">
                                <svg viewBox="0 0 20 20" class="icon">
                                  <use xlink:href="/icon/icons.svg#icon-plus" />
                                </svg>
                                <img
                                  src="/img/shape-4.a768d9f8.svg"
                                  alt
                                  class="suffix-bracket__shape"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="suffix-word suffix-word--right">
                            <div>
                              <div class="suffix-word__top">
                                <div
                                  class="suffix-word__title"
                                  :class="`color-${getWordType(word.second.label)}`"
                                >
                                  {{ word.second.word }}
                                </div>
                                <span
                                  lang="en"
                                  class="word__badge"
                                  :class="`bg-${getWordType(word.second.label)}`"
                                  >{{ word.second.label }}</span
                                >
                              </div>
                              <div class="suffix-word__meaning">{{ word.second.definition }}</div>
                            </div>
                          </div>
                        </div>
                        <div class="suffix__cnt">
                          <div class="word-box" style="width: 100%;">
                            <WordBox
                              basic
                              :word="word.main"
                              :key="`wordId${word.id}`"
                              :selectable="showCollocationsList"
                              :showAddList="showCollocationsList"
                              :selectAllWords="selectCollocations"
                            />
                            <!-- <div class="word-box__left">
                              <v-button
                                class="word-box__voice square default"
                                icon="icon-voice"
                                icon-position="left"
                                v-tooltip="'Dinle'"
                                @click.native="googleSpeak(word.main.word)"
                              />
                            </div>
                            <div class="word-box__cnt">
                              <div class="word-box__top">
                                <div class="word-box__title" :class="'color-blue'">
                                  {{ word.main.word }}
                                </div>
                              </div>
                              <div class="word-box-meaning">
                                <div class="word-box-meaning__item">
                                  <div class="word-box-meaning__title">
                                    <span>{{ word.main.definition }}</span>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="type.key === 'suffix'" class="n-report row-border">
              <div class="reading-words__header">
                <transition-group name="fade">
                  <div class="reading-words__inf" :key="1" v-show="!showSuffixList">
                    <div class="reading-words__txt" style="width: 100%">
                      <strong class="bordered-title" style="width: 100%; padding-right: 15px;">
                        <span>
                          {{ type.name }}
                          <u>({{ type.words.length }} adet)</u>
                        </span>
                      </strong>
                    </div>
                    <v-button
                      class="reading-words__button default round icon-left"
                      icon="icon-lists"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="openSuffixAddList"
                    />
                  </div>
                  <div class="reading-words__ctr" :key="2" v-show="showSuffixList">
                    <v-button
                      class="default round color-gray"
                      title="TÜMÜNÜ SEÇ"
                      @click.native="handleSelectSuffix"
                    />
                    <v-button
                      class="purple fw shadow-none round icon-left"
                      icon="icon-plus"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="setAddWordModal({ show: true, wordType: 'w' })"
                    />

                    <v-button
                      class="default round icon-xs xs color-gray"
                      title="VAZGEÇ"
                      icon="icon-close"
                      icon-position="right"
                      @click.native="hideSuffixAddList"
                    />
                  </div>
                </transition-group>
              </div>

              <p v-if="type.description" class="mb-3 wordy-report-description">
                {{ type.description }}
              </p>
              <div
                v-for="(word, index) in type.words"
                class="reading-words__cnt suffix-and-words n-wordy-report"
                :key="`${type.name}_word_${index}`"
              >
                <div class="row" style="width: 100%;">
                  <div class="col-lg-7 col-md-12 custom-suffinx">
                    <div class="suffix active">
                      <div class="suffix__top">
                        <div class="suffix-word suffix-word-w-55">
                          <div class="suffix-word__top">
                            <div class="button-position">
                              <button
                                class="button word-box__voice square default speak"
                                style="opacity: 1;"
                                @click="googleSpeak(getSuffixWord(word).question.first.text)"
                                v-tooltip="'Dinle'"
                              >
                                <span class="button__wrp">
                                  <span class="button__icon">
                                    <svg viewBox="0 0 20 20" class="icon">
                                      <use xlink:href="/icon/icons.svg#icon-voice" />
                                    </svg>
                                  </span>
                                </span>
                              </button>
                            </div>
                            <div>
                              <div
                                class="suffix-word__title"
                                :class="
                                  `color-${getWordType(getSuffixWord(word).question.first.label)}`
                                "
                              >
                                {{ getSuffixWord(word).question.first.text }}
                                <span
                                  v-if="getSuffixWord(word).question.first.label"
                                  lang="en"
                                  class="word__badge"
                                  :class="
                                    `bg-${getWordType(getSuffixWord(word).question.first.label)}`
                                  "
                                  >{{ getSuffixWord(word).question.first.label }}</span
                                >
                              </div>
                              <div class="suffix-word__meaning">
                                {{ getSuffixWord(word).question.first.description }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="suffix-bracket">
                          <div class="suffix-bracket__circle top-spacing">
                            <div class="suffix-bracket__btn">
                              <svg viewBox="0 0 20 20" class="icon">
                                <use xlink:href="/icon/icons.svg#icon-plus" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="suffix-meaning flex-column justify-content-center">
                          <div class="suffix-word__title color-noun">
                            {{ getSuffixWord(word).question.second.text }}
                          </div>
                          <div class="suffix-word__meaning">
                            {{ getSuffixWord(word).question.second.description }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-12 with-arrow-bg">
                    <svg-icon type="icon-arrow-long-right" />

                      <WordBox
                        class="suffix-wordbox"
                        basic
                        :word="word"
                        :selectable="showSuffixList"
                        :showAddList="showSuffixList"
                        :selectAllWords="selectSuffix"
                      />
                    <!-- <div class="word-box" style="width: 100%;margin: 0;">
                      <div class="word-box__left">
                        <v-button
                          class="word-box__voice square default"
                          icon="icon-voice"
                          icon-position="left"
                          v-tooltip="'Dinle'"
                          @click.native="googleSpeak(getSuffixWord(word).question.word)"
                        />
                      </div>
                      <div class="word-box__cnt">
                        <div class="word-box__top">
                          <div class="word-box__title">{{ getSuffixWord(word).question.word }}</div>
                        </div>
                        <div class="word-box-meaning">
                          <div class="word-box-meaning__item">
                            <div class="word-box-meaning__title">
                              <span>{{ getSuffixWord(word).answer }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <strong
                v-if="type.words.length > type.showCount"
                class="show-more-dropdown"
                @click="type.showCount = type.words.length"
              >
                <svg-icon type="icon-caret-down"></svg-icon>
                {{ type.words.length - type.showCount }} kelime daha
              </strong>
            </div>
          </div>
        </tab-pane>
      </tab>
      <!-- <div class="reading-ctr__button wordy-report-ctr-button">
        <v-button
          class="button purple round shadow-none"
          title="İndir"
          icon="icon-download"
          icon-position="right"
          @click.native="downloadFile"
        />
        <v-button
          class="button purple round purple shadow-none"
          title="Yazdır"
          icon="icon-print"
          icon-position="right"
          @click.native="printPdf(fileUrl)"
        />
      </div>-->
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
// import Progress from '@/components/Progress'
// import Modal from '@/components/Modal'
import CircleProgress from '@/components/CircleProgress'
import helpers from '@/common/helpers'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import FileDownload from 'js-file-download'
import GhostWordyResult from '@/core/Ghost/GhostWordyResult'
import GhostWordyCard from '@/core/Ghost/GhostWordyCard'
import WordBox from '@/components/WordBox'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'WordyReport',
  components: {
    Tab,
    TabItem,
    TabPane,
    swiper,
    WordBox,
    swiperSlide,
    // Progress,
    CircleProgress,
    GhostWordyResult,
    GhostWordyCard
    // Modal
  },
  props: {
    steps: {
      type: Array,
      default: () => []
    },
    hideFinishButton: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      currentTab: 0,
      downloadModal: false,
      printModal: false,
      showAddList: false,
      loaded: false,
      tabs: [
        {
          id: 0,
          icon: 'icon-performance-o',
          text: 'PERFORMANS',
          active: true
        },
        {
          id: 1,
          icon: 'icon-vocabulary-o',
          text: 'KELİMELER',
          active: false
        }
      ],
      report: {
        types: [],
        performances: []
      },
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true
          }
        }
      },
      activeTab: 0,
      activeSlide: 0,
      // defaultWordCount: 6,
      completeButton: {
        text: 'ADIMI TAMAMLA',
        url: '/wordy'
      },
      selectVocabularies: false,
      showVocabulariesList: false,
      selectCollocations: false,
      showCollocationsList: false,
      selectPrepositions: false,
      showPrepositionsList: false,
      selectDefinitions: false,
      showDefinitionsList: false,
      selectSuffix: false,
      showSuffixList: false,
      addListModalVisible: false
    }
  },

  computed: {
    ...mapGetters({
      addWordModal: 'wordbookplugin/addWordModal'
    }),
    _() {
      return _
    }
  },

  async created() {
    const reportResponse = await Vue.$axios('GET', `wordy/report/${this.$route.params.id}`)
    const data = _.get(reportResponse, 'data')

    this.completeButton = data['complete_button']

    const performances = _.get(data, 'performance', {})
    this.report.performances.push(performances[0])
    const performanceKeys = Object.keys(performances)
    const tempPerformances = []
    _.forEach(performanceKeys, key => {
      tempPerformances.push({
        ...performances[key]
      })
    })
    _.forEach(this.steps, step => {
      this.loaded = true
      const stepPerformance = _.find(tempPerformances, ['type_id', step.id])
      if (stepPerformance) {
        this.report.performances.push(stepPerformance)
      }
    })

    const types = _.get(data, 'types', {})
    const typeKeys = Object.keys(_.get(data, 'types', []))
    _.forEach(typeKeys, key => {
      const type = types[key]
      const words = []
      _.forEach(Object.keys(type.words), wordKey => {
        words.push({
          id: wordKey,
          ...type.words[wordKey]
        })
      })
      if (!_.isEmpty(words)) {
        // let showCount = this.defaultWordCount
        /* if (key === 'suffix') {
          showCount = 3
        } */
        this.report.types.push({
          key,
          // showCount: showCount,
          words,
          name: type.name,
          description: type.description
        })
      }
    })
  },

  methods: {
    ...mapActions({
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      resetWordlist: 'wordbookplugin/resetWordlist'
    }),

    ...helpers,

    openDefinitionsAddList() {
      this.showDefinitionsList = true
      this.selectDefinitions = false
      this.hideVocabularyAddList()
      this.hideCollocationsAddList()
      this.hidePrepositionsAddList()
    },

    hideSuffixAddList() {
      this.resetWordlist()
      this.showSuffixList = false
      this.selectSuffix = false
    },

    openSuffixAddList() {
      this.showSuffixList = true
      this.selectSuffix = false
      this.hideCollocationsAddList()
      this.hidePrepositionsAddList()
      this.hideVocabularyAddList()
      this.hideDefinitionsAddList()
    },

    openPrepositionsAddList() {
      this.showPrepositionsList = true
      this.selectPrepositions = false
      this.hideVocabularyAddList()
      this.hideCollocationsAddList()
    },

    openCollocationsAddList() {
      this.showCollocationsList = true
      this.selectCollocations = false
      this.hideVocabularyAddList()
      this.hidePrepositionsAddList()
    },

    hidePrepositionsAddList() {
      this.resetWordlist()
      this.showPrepositionsList = false
      this.selectPrepositions = false
    },

    hideDefinitionsAddList() {
      this.resetWordlist()
      this.showDefinitionsList = false
      this.selectDefinitions = false
    },

    hideVocabularyAddList() {
      this.resetWordlist()
      this.showVocabulariesList = false
      this.selectVocabularies = false
    },

    hideCollocationsAddList() {
      this.resetWordlist()
      this.showCollocationsList = false
      this.selectCollocations = false
    },

    openVocabularyAddList() {
      this.showVocabulariesList = true
      this.selectVocabularies = false
      this.hideCollocationsAddList()
      this.hidePrepositionsAddList()
    },

    handleSelectVocabularies() {
      this.selectVocabularies = true
    },

    handleSelectDefinitions() {
      this.selectDefinitions = true
    },

    handleSelectCollocations() {
      this.selectCollocations = true
    },

    handleSelectPrepositions() {
      this.selectPrepositions = true
    },

    handleSelectSuffix() {
      this.selectSuffix = true
    },

    downloadReport() {
      Vue.$axios(
        'GET',
        `wordy/pdf-report/${this.$route.params.id}`,
        {},
        {
          'Content-Disposition': 'attachment;',
          'Content-Type': 'application/octet-stream'
        }
      ).then(response => {
        FileDownload(response.data, 'Wordy-Report.pdf')
      })
    },
    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    getPrepositionText(word) {
      let result = ''
      _.forEach(word.question, text => {
        if (text.type === 'text') {
          result += `${text.text} `
        } else {
          result += `${word.preposition} `
        }
      })
      return result.trim()
    },
    getDefinitions(word) {
      return _.get(word, 'definitions') || _.get(word, 'definition')
    },
    getSuffixWord(word) {
      const questionWord = _.find(word.question, ['type', 'question'])
      const labels = _.filter(word.question, ['type', 'label'])
      const first = _.nth(labels, 0) || {}
      const second = _.nth(labels, 1) || {}
      return {
        answer: word.answer,
        question: {
          word: _.get(questionWord, 'text'),
          first,
          second
        }
      }
    }
  },
  watch: {
    addWordModal() {
      if (!this.addWordModal) {
        this.hideCollocationsAddList()
        this.hideVocabularyAddList()
        this.hidePrepositionsAddList()
        this.hideDefinitionsAddList()
        this.hideSuffixAddList()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/components/wordy-report';
@import '../../assets/scss/components/wordy-performance';
@import '../../assets/scss/components/suffix';
@import '../../assets/scss/variables';

.word-definition-item {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
  padding: 0 0.75rem;
  max-height: 80px;

  & .word-box {
    flex: 0 0 40%;
    margin: 0;
    padding: 0.75rem 0;
  }

  & .seperator-arrow {
    width: 82px;
    height: 82px;
    flex: 0 0 82px;
    background: #fff;
    box-shadow: inset 0 0 0 10px #f6f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: #5553a9;
    border-radius: 100%;

    @include bp(tablet) {
      display: none;
    }
  }

  &__text {
    color: $c-text;
    padding-left: 1rem;
    display: block;
  }
}

.word-box-meaning__title {
  display: flex;
  flex-direction: column;
  span {
    line-height: 19px;
  }
  .definition {
    font-size: 12px;
    font-weight: 100;
  }
}
.wordy-report__button .button__icon {
  font-size: 16px !important;
}
.suffix-meaning {
  overflow: unset;
}
.suffix-word__title {
  font-size: 21px !important;
}
.suffix-word {
  .word__badge {
    top: 1px !important;
    padding: 4px 7px 4px !important;
  }
}
.suffix-word__meaning {
  font-size: 13px !important;
}

.suffix-wordbox {
  width: 100%;
  margin: 0;
}

.wordy-result__wrp {
  height: auto;
  @include bp(mobile) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
  }
  .wordy-result__progress {
    @include bp(mobile) {
      transform: scale(0.7);
      margin-left: -30px;
    }
  }
}
.prepositions {
  .word-box__title.color-noun {
    margin-right: 6px;
  }
}
.speak {
  background: #e7ecf3 !important;
}
.suffix__top {
  margin-bottom: 28px;
}
html {
  overflow-y: hidden;
}
.wrapper {
  overflow: auto !important;
}
</style>
