<template>
  <div class="intro">
    <div class="intro-time">
      <span class="intro-time__icon">
        <svg-icon type="icon-time" />
      </span>
      <span class="intro-time__txt">{{ time }} sn</span>
    </div>
    <div class="intro__title">
      Öğreneceğiniz <strong>{{ presentation.length }}</strong> Kelime ile Tanışın!
    </div>
  </div>
</template>

<script>
export default {
  name: 'WordyIntro',
  props: {
    time: {
      type: Number,
      default: 0,
    },
    presentation: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
