<template>
  <div class="wordy-roll__item-wrp">
    <div class="wordy-roll__item">
      <div class="wordy-roll__number">{{ index + 1 }}</div>
      <div class="wordy-roll__cnt">
        <div
          v-for="(text, index) in presentation.texts"
          :key="`text${index}`"
          class="wordy-roll__first"
        >
          <span
            v-if="text.type === 'text'"
            class="wordy-roll__word"
          >{{ text.text }}</span>
          <div
            v-else
            class="roll"
          >
            <div class="roll__wrp">
              <div class="roll-list">
                <div
                  class="roll-list__wrp"
                  :style="rollStyle"
                >
                  <div
                    class="roll__item"
                    :class="[
                      { active: wordIndex === currentWordIndex },
                      { 'roll__item--1': wordIndex === currentWordIndex - 1 },
                      { 'roll__item--2': wordIndex === currentWordIndex - 2 },
                      { 'roll__item--4': wordIndex === currentWordIndex + 1 },
                      { 'roll__item--5': wordIndex === currentWordIndex + 2 },
                    ]"
                    v-for="(word, wordIndex) in options"
                    :key="`intro${wordIndex}`"
                  >
                    <div class="btn-txt">{{ word.name }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="roll__shapes"></div>
          </div>
        </div>
        <span class="wordy-roll__word only-desktop no-tablet-m">:</span>
        <div class="wordy-roll__title wordy-roll__last">
          <div class="wordy-roll__txt">{{ presentation.presentationText }}</div>
        </div>
      </div>
    </div>
    <transition name="fade-up">
      <v-button
        class="shadow-none purple round wordy-detail__next wordy-roll__button tablet-top-mar"
        title="DEVAM ET"
        @click.native="$emit('next-intro')"
      />
    </transition>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'WordyRollItem',
  props: {
    presentation: {
      type: Object,
      default: () => {},
    },
    index: Number,
  },
  data() {
    return {
      timerIndex: 1,
      timerCycle: 10,
      itemHeight: 47,
      timerInterval: null,
      options: this.getOptions(),
      optionsLength: this.getOptions().length,
      currentWord: this.getOptions()[0],
      currentWordIndex: 0,
      showNextButton: false,
    }
  },
  methods: {
    selectNext() {
      this.currentWord = this.options[
        this.options.indexOf(this.currentWord) + 1
      ]
      this.options.push(this.currentWord)
      if (this.timerIndex % 3 === 0) {
        this.timerCycle *= 2
      }
      this.timerIndex += 1
      if (this.timerCycle >= 600 && this.currentWord.isCorrect) {
        setTimeout(() => {
          this.showNextButton = true
        }, 500)
      } else {
        setTimeout(this.selectNext, this.timerCycle)
        this.currentWordIndex = this.currentWordIndex + 1
      }
    },
    nextIntro() {
      this.next()
    },
    rollTimer() {
      setTimeout(this.selectNext, this.timerCycle)
    },
    getOptions() {
      let options = _.find(this.presentation.texts, text => {
        return text.type !== 'text'
      }).options
      options = _.map(options, option => {
        return {
          id: option.id,
          name: option.name,
          isCorrect: this.presentation.optionId === option.id,
        }
      })
      return options
    },
  },
  computed: {
    rollStyle() {
      return `transform: translateY(-${this.currentWordIndex *
        this.itemHeight}px)`
    },
  },
  beforeDestroy() {
    clearInterval(this.timerInterval)
  },
  mounted() {
    this.rollTimer()
  },
}
</script>
