<template>
  <div class="wordy-step">
    <div class="tooltip-btn" v-tooltip="step.title">
      <router-link
        :to="{ name: 'WordyDetail', params: { id: step.id, stepData: step } }"
        v-if="step.isActive"
      >
        <div class="wordy-step__wrp">
          <div class="wordy-step__title">{{ step.name }}</div>
          <CircleProgress
            class="wordy-step__progress"
            icon="icon-wordy-item"
            :value="100 / (step.max / step.end)"
          />
          <div class="wordy-step__level">
            <span class="current-level">{{ step.end }}</span>
            / {{ step.max }}
          </div>
        </div>
      </router-link>
      <div v-else>
        <div class="wordy-step__wrp">
          <div class="wordy-step__title">{{ step.name }}</div>
          <CircleProgress
            class="wordy-step__progress"
            icon="icon-wordy-item"
            :value="0"
          />
          <div class="wordy-step__level">
            <span class="current-level">{{ step.end }}</span>
            / {{ step.max }}
          </div>
        </div>
      </div>
      <span class="tooltip single-line tooltip--top">
        <span class="tooltip__wrp">
          <span class="tooltip__txt">{{ step.title }}</span>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
import CircleProgress from '@/components/CircleProgress'

export default {
  name: 'WordyStep',
  components: {
    CircleProgress,
  },
  props: {
    step: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style scoped>
.scale-fade-enter-active {
  transition: all 0.5s ease-in-out;
}
.scale-fade-leave-active {
  transition: all 0.5s ease-in-out;
}
.scale-fade-enter {
  transform: scale(0.85);
  opacity: 0;
  pointer-events: none;
}
.scale-fade-leave-to {
  transform: scale(0.85);
  opacity: 0;
  pointer-events: none;
}

.no-result-fade-enter-active {
  transition: all 1s ease-in-out;
  transition-delay: 1s;
}
.no-result-fade-leave-active {
  transition: all 1s ease-in-out;
}
.no-result-fade-enter {
  opacity: 0;
  pointer-events: none;
}
.no-result-fade-leave-to {
  opacity: 0;
  pointer-events: none;
}
</style>
