<template>
  <div class="wordy-group__wrp">
    <div v-if="showTest">
      <transition-group name="slide-fade-left" tag="div">
        <div v-for="(question, index) in questions" :key="index + 0">
          <div
            class="wordy-test wordy-fill"
            :class="{ collocation: !question.isSentence }"
            v-if="showTest && question === currentQuestion"
          >
            <div class="wordy-test__item-wrp">
              <div class="wordy-test__item">
                <div class="wordy-test-question">
                  <div class="wordy-fill-question">
                    <div class="wordy-fill-question__title">
                      <span v-for="(text, $index) in texts" :key="$index">
                        <drop
                          v-if="text.type === 'space' || text.type === 'answer'"
                          class="wordy-fill-box"
                          :text="text"
                          :class="{ over: text.over }"
                          @dragover="text.over = true"
                          @dragleave="text.over = false"
                          @drop="handleDrop($event, text)"
                        >{{ correctOption.name }}</drop>
                        <span v-else>{{ text.text }}</span>
                      </span>
                    </div>
                    <div v-if="question.definition" class="collocation__txt">
                      <span class="only-desktop-inline">:</span>
                      {{ question.definition }}
                    </div>
                  </div>
                  <div class="wordy-test-question__txt">{{ question.description }}</div>
                </div>
                <div class="wordy-test-opts test-options">
                  <drag
                    class="test-option"
                    v-for="(option, index) in options"
                    :key="index"
                    :transfer-data="option"
                    :hide-image-html="false"
                    :effect-allowed="['move']"
                    :class="[
                      { 'success animated pulse': option.selected && option.correctOption },
                      { 'error animated shake': option.selected && !option.correctOption }
                    ]"
                    @click.native="keyboardChose(index)"
                  >
                    <span class="test-option__opt">
                      <span class="opt-txt">{{ index + 1 }}</span>
                    </span>
                    <p class="test-option__txt">{{ option.name }}</p>
                  </drag>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition-group>
    </div>

    <div v-if="showResult">
      <transition name="slide-fade-left">
        <WordyResult
          v-if="showResult"
          :result-data="resultData"
          :questions="questions"
          :step-type="stepType"
          :is-repeat="isRepeat"
          @next-step="$emit('next-step')"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
// import WordyRollItem from '@/components/Wordy/WordyRollItem'
import WordyResult from '@/components/Wordy/WordyResult'
// import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'
import { Drag, Drop } from 'vue-drag-drop'

export default {
  name: 'WordyPreposition',
  components: {
    // WordyRollItem,
    WordyResult,
    // WordyTestOption,
    Drag,
    Drop,
  },
  mixins: [WordyStepMixin],
  data() {
    return {
      options: [],
      texts: [],
    }
  },
  watch: {
    currentQuestion() {
      this.getOptions()
      this.getTexts()
    },
  },
  created() {
    window.addEventListener('keyup', this.keyboardDetect)
    this.startTest()
  },
  mounted() {
    this.getOptions()
    this.getTexts()
  },
  methods: {
    handleDrop(data, text) {
      text.over = false
      this.keyboardChose(this.options.indexOf(data))
    },
    getTexts() {
      this.texts = _.map(this.currentQuestion.question, text => {
        return {
          over: false,
          type: text.type,
          text: text.text,
        }
      })
    },
    getOptions() {
      let result = []
      result.push(...this.currentQuestion.answers)
      this.options = _.map(result, answer => {
        return {
          id: answer.id,
          name: answer.name,
          selected: false,
          correctOption: answer.id === this.currentQuestion.answer_id,
        }
      })
    },
    keyboardChose(keyIndex) {
      // user has just one chance to make a selection
      if (!this.selectedAny) {
        this.selectedAny = true
        const selectedOption = this.options[keyIndex]
        selectedOption.selected = true

        if (selectedOption.correctOption) {
          this.playCorrect()
          this.setCorrectOption(selectedOption)
        } else {
          this.playWrong()
        }

        let questionTimeout = 0
        if (selectedOption.correctOption) {
          questionTimeout = 500
        } else {
          questionTimeout = 2000
        }

        if (keyIndex < this.options.length) {
          this.options.forEach(() => {
            // get correct option
            let correctOption = _.find(this.options, ['correctOption', true])
            // some demo datas has not answerid property
            // in this case, we're selecting first option as correct one
            if (!correctOption) {
              correctOption = _.head(this.options)
            }
            // and select it
            setTimeout(() => {
              correctOption.selected = true
              this.setCorrectOption(correctOption)
            }, 1000)
          })
          setTimeout(() => {
            this.selectOption(selectedOption)
          }, questionTimeout)
        }
      }
    },
    keyboardDetect(e) {
      // 1, 2, 3, 4, 5, 6, 7, 8, 9
      const keyCodes = [49, 50, 51, 52, 53, 54, 55, 56, 57]
      const numKeyCodes = [97, 98, 99, 100, 101, 102, 103, 104, 105]
      let pressedKeyIndex = keyCodes.indexOf(e.keyCode)
      if (pressedKeyIndex === -1) {
        pressedKeyIndex = numKeyCodes.indexOf(e.keyCode)
      }
      // if pressed key is between 1-9
      // and selected option is available
      if (pressedKeyIndex > -1 && pressedKeyIndex < this.options.length) {
        this.keyboardChose(pressedKeyIndex)
      }
    },
  },
  beforeDestroy() {
    window.removeEventListener('keyup', this.keyboardDetect)
  },
}
</script>

<style scoped lang="scss">
.fade-enter-active {
  transition: opacity 0.25s ease-in-out;
  transition-delay: 0.15s;
}
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

.slide-fade-down-enter-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.1s;
}
.slide-fade-down-leave-active {
  transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
}
.slide-fade-down-enter {
  transform: translateY(15px);
  opacity: 0;
  pointer-events: none;
}
.slide-fade-down-leave-to {
  transform: translateY(-15px);
  opacity: 0;
  pointer-events: none;
}
</style>
