<template>
  <div class="dictate__item">
    <img :src="question.image" alt class="dictate__img dictate__wordy-img" />
    <div class="dictate-question badge--border-r">
      <div class="dictate-question__txt">
        <span class="word__badge" :class="`bg-${wordType}`">{{
          wordTypeCode
        }}</span>
        <strong class="dictate-subtitle" v-if="question.translation">{{
          question.translation
        }}</strong>
        <br class="only-tablet" />
        <strong
          v-if="question.definition"
          class="only-desktop-inline"
          style="margin:0 10px 0 2px;"
          >:</strong
        >
        <span class="dictate-subtxt">{{ question.definition }}</span>
      </div>
    </div>
    <div class="wordy-test-question__txt">{{ question.description }}</div>
    <div class="dictate-letters dictate-wordy-letters">
      <div
        class="dictate-letters__item"
        v-for="(box, $letterIndex) in currentWord"
        :key="$letterIndex"
        @click="focusInput"
      >
        <span
          v-if="showLetter($letterIndex)"
          class="dictate-letters__box animated blue"
          :style="{ opacity: answerLetter[$letterIndex] === '' ? 0 : 1 }"
          :class="[
            {
              'shake error': maxLengthReached && answerWord !== targetWord,
              'pulse success': maxLengthReached && answerWord === targetWord,
            },
          ]"
        >
          {{ targetWord[$letterIndex] }}
        </span>

        <span
          v-else
          class="dictate-letters__box animated"
          :style="{ opacity: answerLetter[$letterIndex] === '' ? 0 : 1 }"
          :class="[
            {
              focused: inputHasFocus && $letterIndex === inputMaxLength,
              blue:
                inputHasFocus &&
                answerLetter[$letterIndex] !== '' &&
                $letterIndex < inputMaxLength &&
                answerWord !== targetWord,
              'shake error':
                inputHasFocus && maxLengthReached && answerWord !== targetWord,
              'pulse success':
                inputHasFocus && maxLengthReached && answerWord === targetWord,
            },
          ]"
        >
          <i
            v-if="inputHasFocus && $letterIndex === inputMaxLength"
            class="dictate-letters__box-cursor"
            >|</i
          >
          <template v-else>{{ answerLetter[$letterIndex] }}</template>
        </span>
      </div>
    </div>
    <transition name="fade">
      <div class="buttons" v-if="!maxLengthReached">
        <v-button
          class="round dictate-letter-btn"
          icon="icon-check-bubble"
          style="transform: translateX(0); "
          icon-position="left"
          v-if="!maxLengthReached"
          @click.native="getLetter"
          title="HARF İSTE"
        />
        <v-button
          class="button--circle button--dictate-help"
          icon="icon-help-circle"
          icon-position="right"
          v-tooltip="{
            content:
              'Zorlandığınızda harf iste butonuna basarak harf isteyebilirsiniz. Ancak istediğiniz her harf, performans puanınızı etkileyecektir.',
            classes: 'tooltip--show-tablet',
            trigger: 'hover click',
          }"
        />
      </div>
    </transition>

    <div class="dictate-input">
      <input
        type="text"
        @keyup="inputWord"
        @keypress="checkWordStatus($event)"
        @blur="inputHasFocus = false"
        ref="wordInput"
        id="wordInput"
        autocomplete="nofill"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="dictate-inputbox"
        :maxlength="wordMaxLength"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'WordyDictateItem',
  props: {
    question: {
      type: Object,
      default: () => {},
    },
    wordType: {
      type: String,
      default: '',
    },
    wordTypeCode: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      currentLetterIndex: 0,
      values: [],
      currentWord: this.question.question.split('').map(letter => {
        return {
          letter,
          status: '',
        }
      }),
      shadowWord: [],
      givenLetters: [],
      answerLetter: [],
      answerWord: '',
      keyupper: null,
      targetWord: this.question.question,
      wordMaxLength: this.question.question.length,
      inputHasFocus: false,
      tempLetters: [],
      tempLettersLength: -1,
      keyPressed: false,
      letterTaken: false,
      lastTakenLetter: '',
      initialLetters: [],
    }
  },
  watch: {
    answerWord(val) {
      this.answerLetter = val.split('')
      if (val.length === 0) this.tempLetters = []
    },

    maxLengthReached(status) {
      if (status) this.checkAnswer()
    },
  },

  computed: {
    letterClaimed() {
      return this.letterTaken && !this.keyPressed
    },

    inputMaxLength() {
      return this.answerWord.length
    },

    maxLengthReached() {
      return this.answerWord.length >= this.targetWord.length
    },

    wordInput() {
      return document.querySelector('#wordInput')
    },
  },

  mounted() {
    /* if (screen.width > 1024) */ this.focusInput()
  },

  methods: {
    fillInitial() {
      let i = -1
      while (true) {
        i++
        if (this.givenLetters.find(l => l.index === i) === undefined) {
          this.initialLetters = []
          break
        } else {
          this.initialLetters.push(
            this.givenLetters.find(l => l.index === i).letter
          )
          this.wordInput.value = this.initialLetters.join('')
          this.answerWord = this.wordInput.value
        }
      }
    },

    fillTakenLetters(index) {
      let i = index
      while (true) {
        i++
        if (this.givenLetters.find(l => l.index === i) === undefined) {
          this.tempLetters = []
          break
        } else {
          this.tempLetters.push(
            this.givenLetters.find(l => l.index === i).letter
          )
          this.wordInput.value += this.givenLetters.find(
            l => l.index === i
          ).letter
          this.answerWord = this.wordInput.value
        }
      }
    },

    showLetter(letterIndex) {
      return this.givenLetters.find(l => l.index === letterIndex) !== undefined
    },

    checkWordStatus(e) {
      return !this.maxLengthReached
    },

    focusInput() {
      /* window.scrollTo(0, document.querySelector('body').scrollHeight) */
      const wordInput = document.querySelector('#wordInput')
      wordInput.focus()
      this.inputHasFocus = true
    },

    resetFocus() {
      this.$refs.wordInput.blur()
      this.$refs.wordInput.focus()
    },

    inputWord(e) {
      // eslint-disable-next-line
      this.maxLengthReached ? false : (this.answerWord = e.target.value)
      if (this.answerWord.length > e.target.getAttribute('maxlength')) {
        this.answerWord = this.answerWord.substring(0, this.answerWord.length)
        return false
      }
      if (e.keyCode !== 8) {
        this.fillTakenLetters(this.answerWord.length - 1)
      } else {
        if (
          this.givenLetters.find(l => l.index === e.target.value.length) !==
          undefined
        ) {
          console.log(
            'backspaced: ',
            this.givenLetters.find(l => l.index === e.target.value.length)
              .letter
          )
          e.preventDefault()
        }
      }
    },

    checkAnswer() {
      /* this.$refs.wordInput.blur() */
      if (this.answerWord !== this.targetWord) {
        this.$emit('play-wrong')
        this.$emit('increase-try-count')
      } else {
        this.$emit('play-correct')
        this.$emit('succeed')
      }
      this.clearInputs(2000)
    },

    clearInputs(timer) {
      setTimeout(() => {
        this.wordInput.value = ''
        this.answerWord = ''
        this.answerLetter = []
        this.fillInitial()
        this.wordInput.focus()
      }, timer)
    },

    getLetter() {
      this.keyPressed = false
      this.letterTaken = true
      this.focusInput()
      const givenLetter = {
        letter: this.targetWord[this.inputMaxLength],
        index: this.inputMaxLength,
      }
      this.wordInput.value += givenLetter.letter
      this.answerWord = this.wordInput.value
      this.fillTakenLetters(this.answerWord.length - 1)
      this.$emit('increase-try-count')
      this.givenLetters.push(givenLetter)
    },
  },
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
</style>
