<template>
  <div class="wordy-group__wrp">
    <div v-if="!showResult" class="wordy-test">
      <transition-group name="slide-fade-left-light">
        <div v-for="(question, index) in questions" :key="`question${index}`">
          <div class="wordy-test__item-wrp" v-if="question === currentQuestion">
            <div class="wordy-test__item">
              <div class="wordy-test-question">
                <div class="wordy-test-voice">
                  <div v-if="showWord" class="wordy-test-word">
                    <div
                      class="wordy-test-word__title"
                      :class="`color-${getWordType(question.label)}`"
                    >
                      {{ question.word }}
                    </div>
                    <span
                      v-if="question.questionTextLabel || question.label"
                      class="word__badge"
                      :class="`bg-${getWordType(question.label)}`"
                      >{{ question.questionTextLabel || question.label }}</span
                    >
                  </div>
                  <button v-else class="wordy-voice" @click="setSpeakerText(question.word)">
                    <span class="button__wrp">
                      <span class="button__icon">
                        <svg-icon type="icon-voice" />
                      </span>
                    </span>
                  </button>
                </div>
                <div class="wordy-test-question__txt">{{ question.description }}</div>
              </div>
              <WordyTestOption
                :answers="question.answers"
                :answer-id="question.answerId"
                @play-correct="playResultSound('correct')"
                @play-wrong="playResultSound('wrong')"
                @select-option="selectOption"
                @set-correct-option="setCorrectOption"
                @option-clicked="showWord = true"
              />
            </div>
          </div>
        </div>
      </transition-group>
    </div>
    <transition name="slide-fade-left-light">
      <WordyResult
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'
import { gspeakNew } from '@/common/helpers'

export default {
  name: 'WordyClassicSound',
  components: {
    WordyResult,
    WordyTestOption
  },
  mixins: [WordyStepMixin],
  data() {
    return {
      showWord: false,
      speakerText: ''
    }
  },

  computed: {
    speaker() {
      const audio = new Audio('/silencer.mp3')
      audio.autoplay = true
      audio.load()
      return audio
    }
  },

  watch: {
    currentQuestion() {
      this.showWord = false
      this.setSpeakerText(this.currentQuestion.word)
    },
    showTest(val) {
      if (val) {
        this.setSpeakerText(this.currentQuestion.word)
      }
    }
  },
  mounted() {
    this.startTest()
  },
  methods: {
    playResultSound(result) {
      result === 'correct' ? this.speaker.src = '/correct.mp3' : this.speaker.src = '/wrong.mp3'
    },

    setSpeakerText(val) {
      this.speakerText = gspeakNew(val)
      this.speakerText = 'data:audio/mpeg;base64,' + this.speakerText
      this.speaker.src = this.speakerText
    }
  },

  destroyed() {
    this.speaker.pause()
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/wordy-test';
</style>
