<template>
  <div class="wordy-group__wrp">
    <transition-group name="slide-fade-left-light" class="wordy-test" tag="div">
      <div v-for="(question, index) in questions" :key="index + 0">
        <div class="wordy-test__item-wrp" v-if="question === currentQuestion && !showResult">
          <div class="wordy-test__item">
            <div class="wordy-test-question">
              <div class="wordy-test-word">
                <div
                  class="wordy-test-word__title"
                  :class="`color-${getWordType(question.label)}`"
                >{{ question.word }}</div>
                <span
                  v-if="question.questionTextLabel || question.label"
                  class="word__badge"
                  :class="`bg-${getWordType(question.label)}`"
                >{{ question.questionTextLabel || question.label }}</span>
              </div>
              <div
                class="wordy-test-question__txt"
              >{{ question.questionText || question.description }}</div>
            </div>
            <WordyTestOption
              :answers="question.answers"
              :answer-id="question.answerId"
              :option-count="3"
              @play-correct="playCorrect"
              @play-wrong="playWrong"
              @select-option="selectOption"
              @set-correct-option="setCorrectOption"
            />
          </div>
        </div>
      </div>
    </transition-group>
    <transition name="slide-fade-left-light">
      <WordyResult
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'

export default {
  name: 'WordyClassic',
  components: {
    WordyResult,
    WordyTestOption,
  },
  mixins: [WordyStepMixin],
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/wordy-test';
</style>
