<template>
  <div class="wordy-group__wrp">
    <transition-group name="slide-fade-left" class="wordy-test wordy-definition" tag="div">
      <div v-for="question in questions" :key="question.id" class="wordy-definition__wrp">
        <div class="wordy-test__item-wrp" v-if="question === currentQuestion && !showResult">
          <div class="wordy-test__item">
            <div class="wordy-test-question">
              <div class="dictate-question">
                <span class="word__badge" :class="`bg-${getWordType(question.label)}`">
                  {{
                  question.label
                  }}
                </span>
                <div class="dictate-question__txt">{{ question.definition }}</div>
              </div>
              <div class="wordy-test-question__txt">{{ question.description }}</div>
            </div>
            <WordyTestOption
              :answers="question.answers"
              :answer-id="question.answerId"
              @play-correct="playCorrect"
              @play-wrong="playWrong"
              @select-option="selectOption"
              @set-correct-option="setCorrectOption"
            />
          </div>
        </div>
      </div>
    </transition-group>

    <transition name="slide-fade-left">
      <WordyResult
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'

export default {
  name: 'WordyDefinition',
  components: {
    WordyResult,
    WordyTestOption,
  },
  mixins: [WordyStepMixin],
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
@import '../../assets/scss/components/wordy-test';
</style>
