<template>
  <div class="wordy-progress">
    <div class="wordy-progress__cnt">
      <Progress
        :progress-val="progressPercent"
        :height="'22'"
      />
      <div class="wordy-progress-ctr">
        <div class="wordy-progress-ctr__item">
          <span class="wordy-progress-ctr__dot bg-light-gray"></span>
          <div class="wordy-progress-ctr__title">Başlamadı</div>
        </div>

        <div class="wordy-progress-ctr__item">
          <span class="wordy-progress-ctr__dot bg-blue"></span>
          <div class="wordy-progress-ctr__title">Devam ediyor</div>
        </div>

        <div class="wordy-progress-ctr__item">
          <span class="wordy-progress-ctr__dot bg-green"></span>
          <div class="wordy-progress-ctr__title">Tamamlandı</div>
        </div>
      </div>
    </div>

    <div class="wordy-progress__val">
      <div class="wordy-progress__val-top">
        {{ progress }}
      </div>
      <div class="txt">Tamamlandı</div>
    </div>
  </div>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'WordyProgress',
  components: {
    Progress
  },
  props: {
    progress: {
      type: String,
      default: '0/0'
    }
  },
  computed: {
    progressPercent() {
      const range = parseInt(this.progress.split('/')[1], 10)
      const current = parseInt(this.progress.split('/')[0], 10)
      return (current / range) * 100
    }
  }
}
</script>

<style scoped>

</style>
