<template>
  <div class="wordy-group__wrp">
    <div class="wordy-test" v-if="!showResult">
      <div class="wordy-test__item wordy-sound-test__item">
        <div class="wordy-test-question" style="max-width: 70%">
          <div v-if="showWord" class="wordy-test-word">
            <div class="intro-card__cnt">
              <div class="intro-card__header soundpool-test-voice">
                <div
                  class="intro-card__title"
                  :class="`color-${getWordType(currentQuestion.label)}`"
                >
                  {{ currentQuestion.word }}
                </div>
                <span
                  lang="en"
                  class="word__badge ml-0"
                  :class="`bg-${getWordType(currentQuestion.label)}`"
                  >{{ currentQuestion.label }}</span
                >
              </div>
              <div class="intro-card__meaning">{{ currentQuestion.definition }}</div>
            </div>
          </div>
          <div v-else class="wordy-test-voice">
            <button class="wordy-voice" @click="runSpeaker()">
              <span class="button__wrp">
                <span class="button__icon">
                  <svg-icon type="icon-voice" />
                </span>
              </span>
            </button>
          </div>
          <div style="white-space: nowrap">{{ aps }}</div>
          <div class="wordy-test-question__txt">{{ currentQuestion.description }}</div>
        </div>
        <section class="sounds component is-choice words">
          <div
            class="pool-circle"
            v-for="(circle, index) in circles"
            :class="circle.sizeClass"
            :key="`circle${index}`"
            :ref="`circle${index}`"
            @click="handleClick($event, circle)"
          >
            {{ circle.word }}
          </div>
        </section>
      </div>
    </div>

    <transition name="slide-fade-left">
      <WordyResult
        :key="4"
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import WordyStepMixin from '@/mixins/WordyStep'
import WordyResult from '@/components/Wordy/WordyResult'
import { gspeakNew } from '@/common/helpers'

export default {
  name: 'WordySoundPool',
  mixins: [WordyStepMixin],
  components: {
    WordyResult
  },
  data() {
    return {
      randomQuestions: [],
      selected: false,
      showWord: false,
      circles: [],
      speakerText: '',
      aps: null,
      playerSource: '',
      resultSource: '',
    }
  },
  computed: {
    getRandomTen() {
      let maxWordCount = this.questions.length > 9 ? 9 : this.questions.length
      const result = [this.currentQuestion]
      const currentQuestionIndex = this.questions.indexOf(this.currentQuestion)
      do {
        const randomIndex = _.random(0, this.questions.length - 1)
        // add this random word if it's not the same with current question
        // and if not added before
        if (
          randomIndex !== currentQuestionIndex &&
          result.indexOf(this.questions[randomIndex]) === -1 &&
          !_.find(result, ['question', this.questions[randomIndex].word])
        ) {
          result.push(this.questions[randomIndex])
        }
      } while (result.length !== maxWordCount)
      return _.shuffle(result)
    },

    speaker() {
      const audio = new Audio('/silencer.mp3')
      audio.autoplay = true
      audio.load()
      return audio
    }
  },

  mounted() {
    if (_.isEmpty(this.stepIntro)) {
      this.startTest()
    }
    this.$nextTick(() => {
      let circles = document.querySelectorAll('.sounds > div')
      for (let i = 0; i < circles.length; i++) {
        if ((i + 1) % 3 === 0) {
          let newNode = document.createElement('div')
          let referenceNode = circles[i]
          newNode.classList.add('clear')
          referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling)
        }
      }
    })
  },
  watch: {
    currentQuestion(val) {
      this.showWord = false
      this.randomQuestions = this.getRandomTen
      this.setSpeakerText(val.word)
    },
    randomQuestions() {
      this.circles = this.getCircles()
    },
    showTest(val) {
      if (val) {
        this.setSpeakerText(this.currentQuestion.word)
        this.randomQuestions = this.getRandomTen
      }
    }
  },
  methods: {
    runSpeaker() {
      this.speaker.src = this.speakerText
    },

    setSpeakerText(val) {
      this.speakerText = gspeakNew(val)
      this.speakerText = 'data:audio/mpeg;base64,' + this.speakerText
      this.speaker.src = this.speakerText
    },
    getCircles() {
      Vue.logger.log('MAPPING CIRCLES')
      return _.map(this.randomQuestions, question => {
        return {
          ...question,
          sizeClass: this.getRandomCircleClass()
        }
      })
    },
    getRandomCircleClass() {
      const classes = ['lg', 'md', 'sm']
      const randomIndex = _.random(0, classes.length)
      return classes[randomIndex]
    },
    async handleClick(e, circle) {
      if (this.selected) {
        return false
      }
      this.selected = true
      Vue.logger.log('clicked circle', circle)
      // if it's the correct answer
      if (this.currentQuestion.id === circle.id) {
        Vue.logger.log('correct option is selected')
        this.showWord = true
        this.speaker.src = '/correct.mp3'
        e.target.classList.add('success')
        setTimeout(() => {
          let circles = document.querySelectorAll('.sounds div')
          for (let i = 0; i < circles.length; i++) {
            circles[i].classList.add('hide-sound')
          }
          e.target.classList.remove('success')
          this.selectOption(this.currentQuestion, 500)
          this.selected = false
        }, 1500)
      } else {
        Vue.logger.log('wrong option is selected')
        this.currentQuestion.tryCount += 1
        this.speaker.src = '/wrong.mp3'
        e.target.classList.add('error')
        setTimeout(() => {
          e.target.classList.remove('error')
          this.selected = false
        }, 700)
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';
@import '../../assets/scss/components/intro-card';

.pool-circle {
  border-radius: 999px;
}

.words {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  div:not(.clear) {
    padding: 20px !important;
  }
  div {
    flex: 0 0 150px;
    height: 150px;
    width: fit-content;
    border-radius: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    margin: 0 2px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;

    @include bp(tablet) {
      flex: 0 0 110px;
      height: 110px;
      width: 110px;
      line-height: 14px;
      text-align: center;
      font-size: 13px !important;
    }
    @include bp(phone-s) {
      flex: 0 0 75px;
      height: 75px;
      width: 75px;
      font-size: 13px !important;
    }

    &.block {
      transform: scale(0);
      flex: 0 0 0 !important;
      width: 0 !important;
      height: 0 !important;
      min-width: 0;
      max-width: 0;
    }
    &.lg {
      flex: 0 0 200px;
      height: 200px;
      min-width: 200px;
      max-width: 200px;

      @include bp(tablet-l) {
        flex: 0 0 165px;
        width: 165px;
        min-width: 165px;
        max-width: 165px;
        font-size: 13px !important;
        height: 165px;
      }
      @include bp(tablet) {
        flex: 0 0 100px;
        height: 100px;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        line-height: 16px;
        font-size: 13px !important;
        text-align: center;
      }
      @include bp(phone-s) {
        flex: 0 0 90px;
        height: 90px;
        font-size: 13px !important;
        width: 90px;
        line-height: 16px;
      }
    }
    &.sm {
      flex: 0 0 100px;
      height: 100px;
      min-width: 100px;
      max-width: 100px;

      @include bp(tablet) {
        flex: 0 0 88px;
        height: 88px;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        line-height: 14px;
        text-align: center;
        font-size: 13px !important;
      }
      @include bp(phone-s) {
        flex: 0 0 70px;
        height: 70px;
        font-size: 13px !important;
        width: 70px;
        min-width: 70px;
        max-width: 70px;
      }
    }
    &.md {
      @include bp(tablet) {
        font-size: 13px !important;
      }
      @include bp(phone-s) {
        font-size: 13px !important;
      }
    }
    &.success {
      background: #4eea89;
      color: #fff;
      box-shadow: inset 0 0 0 6px #f0f4f8, inset 0 0 0 6px #f0f4f8;
    }
    &.error {
      background: #df6060;
      color: #fff;
    }
    &.hide-sound {
      transform: scale(1.2);
      opacity: 0;
      transition: all 0.6s;
    }
  }
}
.intro-card__meaning {
  font-size: 17px;
}
.intro-card__cnt {
  border: none;
}
.wordy-test-voice,
.wordy-test-word {
  height: 77px;
  margin-bottom: 20px;

  @include bp(tablet-l) {
    height: 65px;
    margin-bottom: 15px;
  }
  @include bp(tablet) {
    height: 50px;
    margin-bottom: 30px;
  }
}
</style>
