<template>
  <div class="wordy-group__wrp">
    <div v-if="!showResult" class="wordy-test minimal-pair">
      <transition-group name="slide-fade-left-light">
        <div class="wordy-test__item-wrp" v-for="(question, index) in questions" :key="index + 0">
          <div class="wordy-test__item" v-if="question === currentQuestion">
            <div class="wordy-test-question">
              <div class="wordy-test-voice">
                <button class="wordy-voice" @click="speak(question.question)">
                  <span class="button__wrp">
                    <span class="button__icon">
                      <svg-icon type="icon-voice" />
                    </span>
                  </span>
                </button>
              </div>
              <div class="wordy-test-question__txt">{{ question.description }}</div>
            </div>
            <WordyTestOption
              :answers="question.answers"
              :answer-id="question.answerId"
              @select-option="selectOption"
              @set-correct-option="setCorrectOption"
            />
          </div>
        </div>
      </transition-group>
    </div>
    <transition name="slide-fade-left-light">
      <WordyResult
        v-if="showResult"
        :result-data="resultData"
        :questions="questions"
        :step-type="stepType"
        :is-repeat="isRepeat"
        @next-step="$emit('next-step')"
      />
    </transition>
  </div>
</template>

<script>
import WordyResult from '@/components/Wordy/WordyResult'
import WordyTestOption from '@/components/Wordy/WordyTestOption'
import WordyStepMixin from '@/mixins/WordyStep'
import { textToSpeech } from '../../common/tts-helper'

export default {
  name: 'WordyMinimalPair',
  components: {
    WordyResult,
    WordyTestOption
  },
  mixins: [WordyStepMixin],
  watch: {
    currentQuestion() {
      this.speak(this.currentQuestion.question)
    },
    showTest(val) {
      if (val) {
        this.speak(this.currentQuestion.question)
      }
    }
  },
  mounted() {
    this.startTest()
  },
  methods: {
    speak: textToSpeech
  }
}
</script>

<style scoped></style>
