<template>
  <div class="wordy-group__wrp z-index-2">
    <span class="wordy-group__wrp__suffix-wrp">
      <transition-group name="slide-fade-left">
        <div class="collocation-intro" :key="1" v-if="showIntro">
          <transition-group name="intro-slide-fade-left">
            <div v-for="(introItem, index) in presentations" :key="`intro${index}`">
              <div
                v-if="currentIntroItem === introItem"
                :class="{ active: introItem.active }"
                class="suffix suffix-intro"
              >
                <div class="suffix__cnt">
                  <div class="suffix-fill suffix-intro__cnt">
                    <span class="suffix-intro__number">{{ index + 1 }}</span>
                    <div class="suffix-intro__content">
                      <div class="suffix-intro__title">{{ introItem.main.word }}</div>
                      <div class="suffix-intro__txt">{{ introItem.main.definition }}</div>
                    </div>
                  </div>
                </div>
                <div class="suffix__top">
                  <div class="suffix-word suffix-word--left">
                    <div>
                      <div class="suffix-word__top">
                        <div
                          class="suffix-word__title"
                          :class="`color-${getWordType(introItem.first.label)}`"
                        >{{ introItem.first.word }}</div>
                        <span
                          lang="en"
                          class="word__badge"
                          :class="`bg-${getWordType(introItem.first.label)}`"
                        >{{ introItem.first.label }}</span>
                      </div>
                      <div class="suffix-word__meaning">{{ introItem.first.definition }}</div>
                    </div>
                  </div>
                  <div class="suffix-bracket">
                    <div class="suffix-bracket__circle circle--top-10">
                      <img src="@/assets/img/shape-4.svg" alt class="suffix-bracket__shape" />
                      <span class="suffix-bracket__shape-mask"></span>
                      <div class="suffix-bracket__btn">
                        <svg-icon type="icon-plus" />
                      </div>
                    </div>
                  </div>
                  <div class="suffix-word suffix-word--right">
                    <div>
                      <div class="suffix-word__top">
                        <div
                          class="suffix-word__title"
                          :class="`color-${getWordType(introItem.second.label)}`"
                        >{{ introItem.second.word }}</div>
                        <span
                          lang="en"
                          class="word__badge"
                          :class="`bg-${getWordType(introItem.second.label)}`"
                        >{{ introItem.second.label }}</span>
                      </div>
                      <div class="suffix-word__meaning">{{ introItem.second.definition }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
        <div class="wordy-list__wrp" :key="2" v-if="showList">
          <div class="fw wordy-preposition-intro-fw">
            <div class="wordy-list__head collocation-mt_head">Collocation Sunum Sona Erdi!</div>
            <div class="wordy-list__head-txt">{{ presentations.length }} Adet Collocation Gösterildi</div>
            <button
              @click="wordyResultToggle"
              class="shadow-none button round wordy-result--open-button mt-5"
            >
              <span class="button__wrp">
                <span class="button__icon"></span>
                <span class="button__txt">COLLOCATION'LARI GÖRÜNTÜLE</span>
              </span>
            </button>
            <div class="wordy-list only-desktop">
              <div
                class="wordy-list__item"
                v-for="(word, index) in presentations"
                :key="`word${index}`"
              >
                <span class="wordy-list__number">{{ index + 1 }}</span>
                <div class="wordy-list__content">
                  <div class="wordy-list__title color-noun">{{ word.main.word }}</div>
                  <div class="wordy-list__txt">{{ word.main.definition }}</div>
                </div>
              </div>
            </div>

            <transition name="fade-up" mode="out-in">
              <div
                class="wordy-result__middle wordy-result__middle__mobile wordy-result__middle--collocation"
                v-if="this.showWordyResult"
              >
                <div class="wordy-result__top-cont">
                  <div
                    class="wordy-result-ctr__title"
                    v-if="resultData && resultData.nextStepsName !== ''"
                  >Collocation</div>
                  <div class="wordy-result-close" @click="wordyResultToggle">
                    <div class="wordy-result-close__icon">
                      <svg-icon type="icon-close" />
                    </div>
                  </div>
                </div>
                <div class="wordy-list">
                  <div
                    class="wordy-list__item"
                    v-for="(word, index) in presentations"
                    :key="`word${index}`"
                  >
                    <span class="wordy-list__number">{{ index + 1 }}</span>
                    <div class="wordy-list__content">
                      <div class="wordy-list__title color-noun">{{ word.main.word }}</div>
                      <div class="wordy-list__txt">{{ word.main.definition }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </transition>

            <div class="fw text-center">
              <div
                class="wordy-result-ctr__txt only-desktop"
                v-if="resultData && resultData.nextStepsName !== ''"
              >SONRAKİ ADIM</div>
              <div
                class="wordy-result-ctr__title only-desktop"
                v-if="resultData && resultData.nextStepsName !== ''"
              >{{ resultData.nextStepsName }}</div>
              <div
                v-if="resultData && !_.isEmpty(resultData.nextStepsName)"
                class="wordy-result__txt only-desktop"
              >{{ resultData.nextStepsDescription }}</div>
              <v-button
                class="shadow-none purple round mt-3 suffix-end__button"
                @click.native="$emit('next-step')"
                title="DEVAM ET"
              />
            </div>
          </div>
        </div>
      </transition-group>
    </span>
    <transition name="fade-up">
      <v-button
        v-show="showNextButton"
        class="shadow-none purple round wordy-detail__next"
        title="DEVAM ET"
        @click.native="nextIntroItem"
      />
    </transition>
  </div>
</template>

<script>
import _ from 'lodash'
import WordyStepMixin from '@/mixins/WordyStep'
import { mapGetters } from 'vuex'
import { SHOW_WORDY_RESULTS } from '@/store/actions.type'

export default {
  name: 'WordyCollocationIntro',
  mixins: [WordyStepMixin],
  data() {
    return {
      currentIntroItem: {},
      showNextButton: false,
    }
  },
  computed: {
    ...mapGetters(['showWordyResult']),
    _() {
      return _
    },
  },
  methods: {
    wordyResultToggle() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
    wordyResultClose() {
      this.$store.dispatch(SHOW_WORDY_RESULTS, !this.showWordyResult)
    },
    startTest() {
      this.showList = false
      this.showTest = true
      this.$emit('hide-step-intro')
    },
    nextIntroItem() {
      this.showNextButton = false
      this.currentIntroItem.active = false
      // if current intro item is not the latest one
      if (_.last(this.presentations) !== this.currentIntroItem) {
        this.$emit('next-question')
        this.currentIntroItem = this.presentations[
          this.presentations.indexOf(this.currentIntroItem) + 1
        ]
        setTimeout(() => {
          this.currentIntroItem.active = true
          this.showNextButton = true
        }, 350)
      } else {
        this.showList = true
      }
    },
  },
  created() {
    this.currentIntroItem = _.head(this.presentations)
  },
  mounted() {
    _.forEach(this.presentations, item => {
      item.active = false
    })
    setTimeout(() => {
      this.currentIntroItem.active = true
      this.showNextButton = true
    }, 350)
  },
}
</script>

<style scoped>
.wordy-list {
  max-height: 320px;
}
.suffix-word {
  opacity: 0;
}
</style>
