<template>
  <div class="wordy-group__wrp">
    <div class="dictate">
      <div v-if="!showResult">
        <transition-group name="slide-fade-left-light" class="dictate-list" tag="div">
          <div v-for="question in questions" :key="question.id">
            <div class="dictate-list__item" v-if="question === currentQuestion">
              <WordyDictateItem
                v-if="currentQuestion === question"
                :question="question"
                :word-type="getWordType(question.label)"
                :word-type-code="question.label"
                @play-correct="playCorrect"
                @play-wrong="playWrong"
                @succeed="nextQuestion"
                @increase-try-count="increaseTryCount"
              />
            </div>
          </div>
        </transition-group>
      </div>
      <transition name="slide-fade-left-light">
        <WordyResult
          v-if="showResult"
          :result-data="resultData"
          :questions="questions"
          :step-type="stepType"
          :is-repeat="isRepeat"
          @next-step="$emit('next-step')"
        />
      </transition>
      <transition name="fade">
        <v-button
          class="shadow-none purple round wordy-detail__next"
          v-if="currentWord.length === showNextButton && !showResult"
          @click.native="nextQuestion"
          title="BİR SONRAKİ"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import WordyDictateItem from './WordyDictateItem'
import WordyResult from '@/components/Wordy/WordyResult'
import WordyStepMixin from '@/mixins/WordyStep'
import _ from 'lodash'

export default {
  name: 'WordyDictate',
  components: {
    WordyDictateItem,
    WordyResult
  },
  mixins: [WordyStepMixin],
  data() {
    return {
      showNextButton: false
    }
  },
  methods: {
    pressEnter(e) {
      if (e.keyCode === 13 && !this.showResult) {
        this.nextQuestion()
      }
    },
    increaseTryCount() {
      this.currentQuestion.tryCount += 1
    }
  },
  computed: {
    currentWord() {
      return _.map(this.currentQuestion.question.split(''), (letter) => {
        return {
          letter,
          status: ''
        }
      })
    }
  },
  created() {
    // window.addEventListener('keyup', this.pressEnter)
  },
  beforeDestroy() {
    // window.removeEventListener('keyup', this.pressEnter)
  }
}
</script>

<style scoped>
</style>
