<script>
import { mapActions, mapGetters } from 'vuex'
import BaseButton from '../../../components/Base/BaseButton.vue'
import DigibookContent from '../../../components/Digibook/DigibookContent.vue'
import DigibookTimer from '../../../components/Digibook/DigibookTimer.vue'

export default {
  name: 'DigibookContent',
  components: {
    Content: DigibookContent,
    BaseButton: BaseButton,

    Translation: () => import('./Translation'),
    Static: () => import('./Static'),
    Table: () => import('./Table'),
    Test: () => import('./Test'),
    Matching: () => import('./Matching'),
    Reading: () => import('./Reading'),
    Wordlist: () => import('./Wordlist'),
    DigibookTimer,
  },

  data() {
    return {
      activeComponent: '',
      showTitle: true,
    }
  },

  computed: {
    ...mapGetters({
      contentTitle: 'digibook/contentTitle',
      loaded: 'digibook/loaded',
      selection: 'digibook/index/selection',
      testLoaded: 'digibook/test/loaded',
      testLoading: 'digibook/test/loading',
      matchingLoading: 'digibook/matching/loading',
      matchingLoaded: 'digibook/matching/loaded',
      hasFullyMatched: 'digibook/matching/hasFullyMatched',
    }),

    showTimer() {
      return (
        this.activeComponent === 'Test' && !this.testLoading && this.testLoaded
      )
    },

    showRematchButton() {
      return (
        this.matchingLoaded &&
        this.activeComponent === 'Matching' &&
        this.hasFullyMatched
      )
    },
  },

  watch: {
    async $route(to, from) {
      this.setActiveComponent(to.params.contentType)
      await this.checkTranslatable({
        contentType: 'test',
        contentId: to.params.contentId,
      })
    },

    loaded: {
      immediate: true,
      handler(val) {
        if (val) {
          this.setContentTitle(this.selection[2].text)
        }
      },
    },
  },

  created() {
    this.checkTranslatable({
      contentType: 'test',
      contentId: this.$route.params.contentId,
    })
  },

  mounted() {
    this.getContentInfo()
  },

  methods: {
    ...mapActions({
      setContentTitle: 'digibook/handleContentTitle',
      clearMatchedList: 'digibook/matching/handleClearMatchedList',
      checkTranslatable: 'checkTranslatable',
    }),

    getContentInfo() {
      this.setActiveComponent(this.$route.params.contentType)
    },

    setActiveComponent(type) {
      this.showTitle = true
      if (type === 'ceviri') this.activeComponent = 'Translation'
      if (type === 'tablo') this.activeComponent = 'Table'
      if (type === 'test') this.activeComponent = 'Test'
      if (type === 'eslestirme') this.activeComponent = 'Matching'
      if (type === 'okuma') this.activeComponent = 'Reading'
      if (type === 'kelime-listesi') {
        this.activeComponent = 'Wordlist'
        this.showTitle = false
      }
      if (!type) this.activeComponent = 'Static'
    },
  },
}
</script>

<template>
  <section class="digibook-page-content">
    <Content
      :has-title="showTitle"
      :has-outer-title="activeComponent === 'Wordlist'"
    >
      <template #outer-title>{{ contentTitle }}</template>
      <template #title>{{ contentTitle }}</template>
      <template #content>
        <component :is="activeComponent" />
      </template>
      <template #counter> </template>
      <template #button v-if="showRematchButton">
        <BaseButton
          class="digibook-page-content-matchbutton"
          :uppercase="true"
          :intent="'primary'"
          :styling="'pill'"
          :icon="'recycle'"
          :icon-size="24"
          :text="'Tekrar Eşleştir'"
          :loading="matchingLoading"
          @click="clearMatchedList($route.params.contentId)"
        />
      </template>
    </Content>
    <div class="digibook-page-content-sticky" v-if="showTimer">
      <div class="digibook-page-content-sticky__counter">
        <DigibookTimer />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.digibook-page-content {
  position: relative;

  &-sticky {
    position: absolute;
    height: 100%;
    width: 6.5rem;
    top: 0;
    right: -8rem;

    &__counter {
      top: 2rem;
      position: sticky;
    }
  }

  &-matchbutton {
    padding: 1.5rem 2rem;
    height: 3rem;
  }
}
</style>
