<script>
import { mapActions, mapGetters } from 'vuex'
import DigibookReadingPassage from '../../../components/Digibook/DigibookReading/DigibookReadingPassage.vue'
import DigibookReadingQuestions from '../../../components/Digibook/DigibookReading/DigibookReadingQuestions.vue'
import GhostDigibookTest from '../../../core/Ghost/GhostDigibookTest'
import GhostDigibookPassageTxt from '../../../core/Ghost/GhostDigibookPassageTxt'

export default {
  name: 'DigibookContentReading',

  components: {
    Passage: DigibookReadingPassage,
    Questions: DigibookReadingQuestions,
    QuestionsGhost: GhostDigibookTest,
    PassageGhost: GhostDigibookPassageTxt,
  },

  computed: {
    ...mapGetters({
      contentId: 'digibook/reading/contentId',
      passage: 'digibook/reading/passage',
      questions: 'digibook/reading/questions',
      loading: 'digibook/reading/loading',
      loaded: 'digibook/reading/loaded',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        await this.getContent(route.params.contentId)
      },
    },
  },

  methods: {
    ...mapActions({
      getContent: 'digibook/reading/fetchContent',
    }),
  },
}
</script>

<template>
  <div class="digibook-reading">
    <template v-if="loading && !loaded">
      <PassageGhost />
      <QuestionsGhost v-for="n in 2" :key="n" />
    </template>
    <template v-else>
      <Passage class="digibook-reading-passage" :content="passage" />
      <Questions class="digibook-reading-questions" :questions="questions" />
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-reading {
  &-passage {
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: 1.5rem;
  }

  &-questions {
    margin-top: 1.5rem;
  }
}
</style>
