<script>
import { mapActions, mapGetters } from 'vuex'
import DigibookTranslationItem from '../../../components/Digibook/DigibookTranslation/DigibookTranslationItem.vue'
import GhostDigibookTranslate from '../../../core/Ghost/GhostDigibookTranslate.vue'

export default {
  name: 'DigibookContentTranslation',

  components: {
    TranslationItem: DigibookTranslationItem,
    Ghost: GhostDigibookTranslate,
  },

  computed: {
    ...mapGetters({
      questions: 'digibook/translation/questions',
      loading: 'digibook/translation/loading',
      loaded: 'digibook/translation/loaded',
      tools: 'digibook/tools/tools',
    }),
  },

  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        await this.getContent(route.params.contentId)
      },
    },
  },

  // beforeDestroy() {
  //   this.clearContent()
  // },

  methods: {
    ...mapActions({
      getContent: 'digibook/translation/fetchContent',
      // clearContent: 'digibook/translation/handleClearContent',
    }),
  },
}
</script>

<template>
  <div class="digibook-translation">
    <template v-if="loading && !loaded">
      <Ghost v-for="n in 3" :key="n" />
    </template>
    <template v-else>
      <TranslationItem
        v-for="(item, index) in questions"
        :key="item.id"
        :item="item"
        :index="index"
        :tools="tools"
      />
    </template>
  </div>
</template>
