<template>
  <div class="tab-cta-progress">
    <div class="tab-cta-progress__left">
      <Progress
        :progress-val="progress.value"
        :height="progress.height"
      />
      <div class="tab-cta-progress__cnt">
        <div class="tab-cta-progress__desc" v-html="progress.desc"></div>
        <div class="tab-cta-progress-ctr">
          <div class="tab-cta-progress-ctr__item">
            <span class="tab-cta-progress-ctr__dot bg-light-gray"></span>
            <div class="tab-cta-progress-ctr__title">Başlamadı</div>
          </div>

          <div class="tab-cta-progress-ctr__item">
            <span class="tab-cta-progress-ctr__dot bg-blue"></span>
            <div class="tab-cta-progress-ctr__title">Devam ediyor</div>
          </div>

          <div class="tab-cta-progress-ctr__item">
            <span class="tab-cta-progress-ctr__dot bg-green"></span>
            <div class="tab-cta-progress-ctr__title">Tamamlandı</div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-cta-progress__right">
      <div class="tab-cta-progress__val">
        {{ progress.value }}
        <small>%</small>
      </div>
      <div class="tab-cta-progress__txt">Tamamlandı</div>
    </div>
  </div>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'TabProgress',
  components: {
    Progress
  },
  props: {
    progress: Object
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
