<template>
  <div class="tab-cta">
    <div class="tab-cta__heading">{{ title }}</div>
    <div class="tab-cta-header">
      <div class="tab-cta-header__list">
        <tab-cta-item
          v-for="tab in tabs"
          :key="tab.id"
          :icon="tab.icon"
          :title="tab.title"
          :active="tab.active"
          :count="tab.count"
          @click.native="tabShow(tab.id)"/>
      </div>
    </div>

    <div class="tab-cta-pane">
      <slot/>
    </div>
  </div>
</template>

<script>
import TabCtaItem from '@/components/TabCta/TabCtaItem'
export default {
  name: 'TabCta',
  components: {
    TabCtaItem
  },
  props: {
    tabs: Array,
    title: String
  },
  methods: {
    tabShow (id) {
      this.$emit('clickTab', id)
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/scss/components/tab-cta";
</style>
