<template>
<div class="tab-cta__item" :class="[ active ? 'active' : '' ]">
  <div class="tab-cta__icon" v-if="icon">
    <img :src="icon" alt="" class="icon">
  </div>

  <div class="tab-cta__text">{{ title }}</div>
</div>
</template>

<script>
export default {
  name: 'TabCtaItem',
  props: {
    icon: String,
    title: String,
    active: Boolean
  }
}
</script>
