<template>
  <modal
    :active="addWordModal"
    class="wordlist__modal"
    @onModalClose="setAddWordModal({ show: false, wordType: 'w' })"
  >
    <div class="modal__header" slot="header">
      <span class="modal__icon">
          <BaseIcon :iconName="'lists'" />
        <!-- <span class="icon-font">
          <svg-icon type="icon-lists" />
        </span> -->
      </span>

      <div class="modal__title">
        Kelime Listesine Ekle : {{ selectedWords.length }} Kelime Seçildi
      </div>
      <!-- <transition name="fade">
        <div class="flash" v-if="statusType">{{ messageText }}</div>
      </transition>-->
      <div class="word-lists-form">
        <div
          class="form-container word-lists-form__container"
          :class="{ error: fromErrorMessage }"
        >
          <input
            type="text"
            class="form-input"
            placeholder="Yeni liste adı giriniz"
            v-model="listName"
          />

          <BaseButton
            class="word-lists-form__add"
            :icon="'plus'"
            :iconPosition="'right'"
            :iconSize="20"
            :minimal="true"
            :text="'Ekle'"
            :uppercase="true"
            @click="createQuickList"
          />
          <!-- <v-button
            class="word-lists-form__add"
            icon="icon-plus"
            icon-position="right"
            title="EKLE"
            @click.native="createQuickList"
          /> -->
        </div>
        <!-- Form Error Message -->
        <span class="d-flex form-error-line" v-if="fromErrorMessage">{{
          fromErrorMessage
        }}</span>
        <!-- From Error Massages -->
      </div>
    </div>

    <div slot="content">
      <div class="word-lists" v-if="vocabularies.lenght !== 0">
        <div class="word-lists__title">Kelime Listelerim</div>
        <div class="word-lists__cnt">
          <div
            class="word-lists__item"
            :class="list.id === selectedList ? `selected` : ''"
            @click="chooseList(list)"
            v-for="list in vocabularies"
            :key="list.id"
          >
            <span class="word-lists__icon">
              <BaseIcon :icon-name="'lists'" />
              <!-- <dynamic-icon type="icon-lists" /> -->
            </span>
            <div class="word-lists__txt">{{ list.title }}</div>
          </div>
          <!-- <div class="word-book-more"> -->
          <!--- TODO: ADD More Items to the Master list -->
          <!-- <div
              class="word-book-more"
              v-if="nextPage && vocabularies.lenght > 0"
            > -->
          <!--- TODO: ADD More Items to the Master list -->
          <!-- <v-button
                class="purple fw sm icon-cta"
                title="DAHA FAZLA YÜKLE"
                @click.native="MoreList()"
              /> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div v-else>
        <h1>loading list</h1>
      </div>
    </div>
    <div slot="footer" class="modal-footer">
      <BaseButton
        :text="'Kaydet'"
        :uppercase="true"
        :block="true"
        :intent="'primary'"
        :inactive="selectedList === 0"
        @click="addSelectWordToList()"
      />
      <!-- <v-button
        class="purple sm fw shadow-none"
        title="KAYDET"
        @click.native="addSelectWordToList()"
      /> -->
    </div>
  </modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Modal from '@/components/Modal'
import BaseButton from '../../Base/BaseButton.vue'
import BaseIcon from '../../Base/BaseIcon.vue'

export default {
  name: 'AddNewWordModal',
  components: {
    Modal,
    BaseButton,
    BaseIcon,
  },
  data() {
    return {
      listName: '',
      selectedList: 0,
      fromErrorMessage: false,
    }
  },
  computed: {
    ...mapGetters({
      vocabularies: 'wordbookMyList/vocabularies',
      addWordModal: 'wordbookplugin/addWordModal',
      selectedWords: 'wordbookplugin/selectedWords',
      listMessageText: 'wordbookplugin/listMessageText',
      listMassegeStatus: 'wordbookplugin/listMassegeStatus',
      nextPage: 'wordbookMyList/nextPage',
    }),
  },
  methods: {
    ...mapActions({
      addNewWordsToList: 'wordbookplugin/addNewWordsToList',
      getMyList: 'wordbookMyList/getMyList',
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      newQuickList: 'wordbookplugin/newQuickList',
      loadMoreList: 'wordbookMyList/loadMoreList',
    }),
    chooseList(list) {
      this.selectedList = list.id
    },
    /**
     *
     */
    async addSelectWordToList() {
      if (this.selectedWords.length) {
        await this.addNewWordsToList(this.selectedList).then(() => {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            icon: this.listMassegeStatus ? 'error' : 'success',
            title: this.listMessageText,
            position: 'top-end',
            showConfirmButton: false,
          })
          this.getMyList()
        })
      } else {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: 'error',
          title: 'Hiçbir kelime seçmedin!',
          position: 'top-end',
          showConfirmButton: false,
        })
      }
    },
    /**
     *
     */
    /**
     *
     */
    MoreList() {
      if (this.nextPage) {
        this.loadMoreList(this.nextPage)
      }
    },
    /**
     *
     */
    async createQuickList() {
      if (this.listName !== '') {
        var listObj = { title: this.listName, description: '', isPublic: false }
        this.fromErrorMessage = false
        await this.newQuickList(listObj).then(() => {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            icon: this.listMassegeStatus ? 'error' : 'success',
            title: this.listMessageText,
            position: 'top-end',
            showConfirmButton: false,
          })
          this.listName = ''
          this.getMyList()
        })
      } else {
        this.fromErrorMessage = '*Liste adı boş bırakılamaz.'
      }
    },
  },
  watch: {
    addWordModal() {
      if (this.addWordModal) {
        this.getMyList()
      }
    },
  },
}
</script>
