<script>
import {
  SHOW_OVERLAY,
  SET_HEADER_CLASS,
  SHOW_NOTIFICATIONS,
  SHOW_TOOLBAR
} from '../../store/actions.type'
import VueButton from '@/core/VueButton'
import NotificationsItem from '@/views/Notifications/NotificationsItem'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Notifications',
  components: {
    VueButton,
    NotificationsItem
  },
  data() {
    return {
      page: 1,
      mapper: [
        {
          id: 'lesson',
          tr: 'ders'
        },
        {
          id: 'material',
          tr: 'dokuman'
        },
        {
          id: 'test',
          tr: 'test/detay'
        },
        {
          id: 'wordy',
          tr: 'wordy'
        },
        {
          id: 'digibook',
          tr: 'digibook'
        },
        {
          id: 'homework',
          tr: 'ödev'
        },
        {
          id: 'announcement',
          tr: 'duyuru'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('notifications', [
      'isLoaded',
      'isLoading',
      'hasMore',
      'isEmpty',
      'notifications',
      'loadingMore',
      'unreads'
    ])
  },

  created() {
    if (this.notifications.length === 0) {
      this.$store.dispatch('notifications/getNotifications')
    }
  },

  methods: {
    ...mapActions('notifications', [
      'loadNext',
      'markReadAll',
      'markRead',
      'showAnnouncement',
      'showNotification'
    ]),

    goDetail(item) {
      if (item.app === 'announcement') {
        this.showAnnouncement(true)
        this.showNotification(item)
      } else {
        this.markRead(item.notification_id)
        if (item.app_content_id !== null) {
          let target = this.mapper.find(el => el.id === item.app)
          if (item.app !== 'digibook') {
            this.$router.push({ path: target.tr + '/' + item.app_content_id })
          } else {
            this.$store.dispatch(SHOW_NOTIFICATIONS, false)
            this.$store.dispatch(SHOW_OVERLAY, true)
            this.$store.dispatch(SHOW_TOOLBAR, true)
            this.$store.dispatch('toolbar/setActiveTool', 2)
          }
        }
      }
    },

    loadMoreItems() {
      this.page++
      this.loadNext(this.page)
    }
  },
}
</script>

<template>
  <div class="page">
    <container class="page-container" :class="$route.name">
      <header class="notifications-header">
        <h1 class="notifications-title">Bildirimler</h1>
        <span class="notifications-readall" @click="markReadAll">Tümünü Okudum</span>
      </header>
      <template v-if="isLoaded">
        <NotificationsItem
          v-for="item in notifications"
          :key="`notificationItem${item.notification_id}`"
          :notification="item"
          @click.native="goDetail(item)"
        />
        <scroll-loader :loader-method="loadMoreItems" :loader-enable="hasMore">
          <div class="notifications-item-ghost">
            <div class="notifications-item-ghost__icon"></div>
            <div class="notifications-item-ghost__txt"></div>
            <div class="notifications-item-ghost__date"></div>
          </div>
        </scroll-loader>
      </template>
      <template v-if="!isLoaded">
        <div class="notifications-item-ghost" v-for="n in 6" :key="n">
          <div class="notifications-item-ghost__icon"></div>
          <div class="notifications-item-ghost__txt"></div>
          <div class="notifications-item-ghost__date"></div>
        </div>
      </template>
      <div class="page-loadmore" v-if="!isLoading && hasMore">
        <VueButton
          primary
          text="Daha fazla yükle"
          :disabled="loadingMore"
          @click.native="loadMoreItems"
        />
      </div>
    </container>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';
@import '../../assets/scss/ghost/ghost-notifications';
.page-container.notifications {
  margin-top: 105px;
}
.page-container {
  &.Notifications {
    margin-top: 150px;
  }
}
.notifications {
  padding-top: 1rem;

  &-readall {
    color: $c-primary;
    cursor: pointer;
    font-weight: 600;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    @include bp(tablet) {
      align-items: center;
    }
  }

  &-title {
    margin: 0;
    font-size: 2rem;
    color: $c-secondary;
    font-weight: 600;
  }
}
</style>
