<script>
export default {
  name: 'NotificationsItem',

  props: {
    notification: Object
  },

  data() {
    return {
      notifyText: '',
      notifyInterval: null
    }
  },

  mounted() {
    this.calculateTimePassed()
    this.timeInterval()
  },

  methods: {
    calculateTimePassed() {
      // let dummyDate = new Date(1581940550000).getTime()
      // let notifyTime = new Date(this.notification.time * 1000).getTime()
      // let secs = today - this.notification.time
      let today = Math.ceil(new Date().getTime() / 1000)
      let seconds = today - this.notification.time
      let minutes = Math.floor(seconds / 60)
      let hours = Math.floor(minutes / 60)
      let days = Math.floor(hours / 24)
      let weeks = Math.floor(days / 7)
      let months = Math.floor(days / 30)
      let years = Math.floor(days / 365)
      if (seconds > 0 && seconds < 60) {
        this.notifyText = `${seconds} saniye önce`
      } else if (seconds >= 60 && minutes < 60) {
        this.notifyText = `${minutes} dakika önce`
      } else if (minutes >= 60 && hours < 24) {
        this.notifyText = `${hours} saat önce`
      } else if (hours >= 24 && days < 7) {
        this.notifyText = `${days} gün önce`
      } else if (days >= 7 && days < 30) {
        this.notifyText = `${weeks} hafta önce`
      } else if (days >= 30 && months < 12) {
        this.notifyText = `${months} ay önce`
      } else if (months >= 12) {
        this.notifyText = `${years} yıl önce`
      } else {
        this.notifyText = `Bir süre önce`
      }

      this.passed = Math.floor(seconds)
    },
    timeInterval() {
      this.notifyInterval = setInterval(() => {
        this.calculateTimePassed()
      }, 1000)
    }
  },

  destroyed() {
    clearInterval(this.notifyInterval)
  }
}
</script>

<template>
  <div class="notifications-item" :class="{ unread: notification.read === false }">
    <div class="notifications-item-body">
      <div class="notifications-item-icon" :class="notification.app">
        <span class="notifications-item-icon__img" :class="[notification.read ? '' : 'active']">
          <img :src="require(`@/assets/img/notif-${notification.app}.svg`)" />
        </span>
      </div>
      <div class="notifications-item-content">
        <div class="notifications-item-body__title">{{ notification.title }}</div>
        <!-- <span
          class="notifications-item-body__content"
          v-if="notification.app === 'announcement'"
          v-html="notification.content"
        ></span> -->
      </div>
    </div>
    <span class="notifications-item-time">
      <svg-icon type="icon-time" />
      <span>{{ notifyText }}</span>
    </span>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.notifications {
  padding-top: 1rem;

  &-title {
    margin: 0;
    font-size: 2rem;
    color: $c-secondary;
    font-weight: 600;
  }

  &-item {
    display: flex;
    padding: 1rem 1rem;
    background: #ebf0f7;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 10px;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &.unread {
      background: #fff;
    }

    &:hover {
      background: #fff;
    }

    &-icon {
      flex-grow: 0;
      flex-shrink: 0;
      padding-top: 0rem;
      flex-basis: 48px;
      display: inline-flex;
      align-items: center;
      @include bp(tablet) {
        width: 48px;
      }

      &__img {
        height: 36px;
        width: 100%;
        flex-basis: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include bp(tablet) {
          justify-content: flex-start;
          align-items: flex-start;
        }
        &:after {
          content: '';
          display: none;
          position: absolute;
          width: 1em;
          height: 1em;
          font-size: 9px;
          background: #30acf7;
          border-radius: 50%;
          right: 7px;
          top: 0;
          transform: translateY(-20%);
        }
        &.active {
          &:after {
            display: block;
          }
        }

        & > img {
          max-height: 36px;
          width: auto;
        }
      }

      &.lesson {
        color: #418bb0;
      }
      &.material {
        color: #e16330;
      }
      &.announcement {
        color: #5b7790;
      }
    }

    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-left: 1rem;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% - 48px);
      overflow: hidden;
      @include bp(tablet) {
        width: 100%;
        align-items: flex-start;
        margin-left: 3px;
      }
    }

    &-body {
      color: $c-text-dark;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      display: flex;
      align-items: center;
      min-height: 48px;
      max-width: calc(100% - 120px);

      @include bp(tablet) {
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
      }

      &__title {
        font-weight: 600;
        @include bp(tablet) {
          width: 100%;
        }
      }
      &__content {
        font-size: 15px;
        height: 23px;
        flex-basis: auto;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }

    &-time {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      flex-basis: 120px;
      text-align: right;

      @include bp(tablet) {
        width: 100%;
        margin-left: 4px;
        justify-content: flex-start;
        margin-top: 0.5rem;
      }

      & .icon {
        font-size: 1.1rem;
        margin-right: 0.5rem;
        color: $c-alt;
        display: none;
      }
      span {
        color: $c-text-dark;
        font-weight: 600;
      }
    }
  }
}
</style>
