<template>
  <section class="component component--test-filter">
    <container>
      <div class="tab-filter">
        <div class="tab-filter__item f-select" v-if="loaded">
          <select-box :options="typeOptions" title="Sınav Filtrele" @onselect="handleSelectType" />
        </div>
        <GhostVueSelect v-else />
        <div class="tab-filter__item f-select ml-30 mobile-fw" v-if="loaded">
          <select-box
            :options="questionTypes"
            title="Soru Tipi Filtrele"
            @onselect="handleSelectQuestionType"
          />
        </div>
        <GhostVueSelect v-else />
        <div class="tab-filter__item ml-auto" v-if="loaded">
          <TabFilterButtons
            :buttons="statusButtons"
            @onClickButton="handleClickStatus"
            ref="tabFilterButtons"
          />
        </div>
        <GhostVueFilter v-else />
      </div>
    </container>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'

export default {
  data() {
    return {
      statusButtons: [
        {
          id: -1,
          title: 'Tümü'
        },
        {
          id: 0,
          title: 'Çözülmemiş'
        },
        {
          id: 1,
          title: 'Çözülen'
        }
      ],
      typeOptions: [],
      questionTypes: []
    }
  },
  computed: {
    ...mapGetters({
      types: 'testList/types',
      questionTypeList: 'testList/questionTypes',
      filters: 'testList/filters',
      loaded: 'testList/loaded',
      loading: 'testList/loading'
    })
  },
  methods: {
    ...mapActions({
      setFilters: 'testList/setFilters'
    }),
    syncTypeOptions() {
      const typeOptions = []
      typeOptions.push({
        selected: false,
        label: 'Tüm Sınavlar',
        value: -1
      })
      this.types.forEach(type => {
        typeOptions.push({
          selected: false,
          label: type.name,
          value: type.id
        })
      })
      this.typeOptions = typeOptions
    },
    syncQuestionTypes() {
      const questionTypes = []
      questionTypes.push({
        selected: false,
        label: 'Tüm Soru Tipleri',
        value: -1
      })
      this.questionTypeList.forEach(type => {
        questionTypes.push({
          selected: false,
          label: type.name,
          value: type.id
        })
      })
      this.questionTypes = questionTypes
    },
    handleClickStatus(status) {
      const filters = { ...this.filters, isDone: status.id }
      this.setFilters(filters)
    },
    handleSelectType(type) {
      const filters = { ...this.filters, typeId: type.value }
      this.setFilters(filters)
    },
    handleSelectQuestionType(type) {
      const filters = { ...this.filters, questionTypeId: type.value }
      this.setFilters(filters)
    }
  },
  created() {
    this.syncTypeOptions()
    this.syncQuestionTypes()
  },
  components: {
    TabFilterButtons,
    GhostVueSelect,
    GhostVueFilter
  }
}
</script>
