<template>
  <section class="component component--rosette">
    <!-- <transition-group name="fade" mode="out-in"> -->
    <modal
      v-for="(badge, index) in activeBadges"
      :key="`badgeModal${index}`"
      :active="index === 0"
      modal-class="profile-modal profile-modal__index"
      @onModalClose="setDisplayed(badge.id)"
    >
      <div slot="header" class="profile-modal__top">
        <div class="modal__top-title">Yeni Rozet Kazanımı!</div>
      </div>
      <div slot="content" class="profile-modal__index-content">
        <div class="profile-modal__cnt">
          <img :src="badge.image" />
          <div class="profile-modal__cnt--title">{{ badge.title }}</div>
        </div>
        <div class="profile-modal__txt">{{ badge.success_message }}</div>
        <!-- <v-button
            @click.native="confettiStart"
            class="shadow-none purple fw profile-modal__btn"
            :title="badge.title"
        />-->
        <v-button
          @click.native="goPerformance()"
          class="shadow-none purple fw profile-modal__btn mb-0"
          :title="'TÜM KAZANIMLAR'"
        />
      </div>
    </modal>
    <!-- </transition-group> -->
  </section>
</template>

<script>
import Modal from '@/components/Modal'
import { mapActions, mapGetters } from 'vuex'
// import VueConfetti from 'vue-confetti'
export default {
  components: {
    // VueConfetti,
    Modal
  },
  computed: {
    ...mapGetters({
      activeBadges: 'rosette/activeBadges'
    })
  },
  methods: {
    confettiStart() {
      this.$confetti.start()
    },
    ...mapActions({
      setDisplayed: 'rosette/setDisplayed'
    }),
    handleCloseModal(id) {
      this.setDisplayed(id)
    },
    goPerformance() {
      this.$router.push(`/performansim`)
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';
section.component {
  &.component--rosette {
    .modal {
      &.active {
        display: block;
        @include bp(tablet) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.profile-modal {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include bp(tablet) {
      position: absolute;
      top: 18px;
    }
    .modal__top-title {
      @include bp(tablet) {
        font-size: 24px;
        padding-left: 0;
      }
    }
  }
  &__index {
    .profile-modal__top {
      justify-content: center;
      width: 100%;
      padding-left: 0;
      @include bp(tablet) {
        justify-content: flex-start;
        padding-left: 25px;
      }
    }
    .modal__inner {
      @include bp(tablet) {
        width: 100%;
        position: unset;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .modal__content {
      padding-top: 0;
      @include bp(tablet) {
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__index-content {
    border-top: 1px solid #d9e1ea;
    padding-top: 30px;
    @include bp(tablet) {
      border-top: 0;
      padding-top: 0;
    }
    .profile-modal__cnt {
      @include bp(tablet) {
        height: auto !important;
      }
      img {
        width: 30% !important;
        @include bp(tablet) {
          width: 55% !important;
          height: auto;
        }
      }
    }
  }
  &__cnt {
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    img {
      width: 30%;
      position: relative;
      z-index: 1000;
    }
    &--title {
      color: #46507e;
      font-size: 24px;
      position: relative;
      z-index: 1000;
      font-weight: 700;
      text-align: center;
      margin-top: 15px;
    }
  }
  &__txt {
    color: $c-text;
    font-size: 17px;
    text-align: center;
    font-weight: 200;
    opacity: 0.7;
    padding: 0px 0 30px 0;
    margin-top: 20px;
  }
  &__btn {
    padding: 20px 0 !important;
    margin-bottom: 25px;
  }
}
</style>
