<template>
  <div
    class="subpage-search__wrp"
    :class="{ active: showResult, 'in-toolbar': inToolbar }"
  >
    <div class="subpage-search">
      <div class="subpage-search__form fw">
        <div class="subpage-search__input-wrp">
          <input
            type="text"
            ref="searchInput"
            class="subpage-search__input"
            v-model="searchInput"
            @blur="hideResult"
            @keypress.enter="findWord(searchInput)"
            :placeholder="placeholderText"
          />
          <span class="subpage-search__clear" @click="clearInput">
            <BaseIcon v-if="showClearer" :icon-name="'close'" />
          </span>
        </div>
        <v-button
          class="subpage-search__submit purple"
          title="SÖZLÜKTE ARA"
          icon="icon-search"
          icon-position="right"
          @click.native="goResult(searchInput)"
        />
      </div>
    </div>
    <transition name="fade-up">
      <div class="subpage-search-result" v-if="showResult">
        <ul class="subpage-search-result__list">
          <li
            class="subpage-search-result__li"
            v-for="(result, index) in searchResults"
            :key="index"
          >
            <span
              @mousedown="goResult(result.value)"
              class="subpage-search-result__item"
              v-if="result"
            >
              <span class="subpage-search-result__txt">{{ result.label }}</span>
            </span>
          </li>
          <li v-if="loading" class="subpage-search-result__li">
            <div class="subpage-search-result__item">Yükleniyor!</div>
          </li>
          <li
            v-if="!loading && searchResults.length === 0"
            class="subpage-search-result__li"
          >
            <div class="subpage-search-result__item">Sonuç bulunamadı!</div>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import delaySearch from '../../common/delay-search'
import { getDictionaryHints } from '../../services/dictionary.service'
import BaseIcon from '../Base/BaseIcon.vue'

export default {
  components: { BaseIcon },
  name: 'DictionarySearch',

  props: {
    inToolbar: {
      type: Boolean,
      default: false,
    },
    fillText: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      searchInput: '',
      searchResults: [],
      languageFrom: 'tr',
      languageTo: 'en',
      switchLang: false,
      showResult: false,
      loading: true,
      placeholderText: 'Sözlükte arama yapın...',
    }
  },

  computed: {
    showClearer() {
      return this.searchInput.length > 0
    },
  },

  watch: {
    fillText(val) {
      this.searchInput = val
    },

    searchInput(val, oldVal) {
      if (val && oldVal !== '') {
        this.showResultList()
        this.autoComplete()
      }
    },
  },

  methods: {
    clearInput() {
      this.searchInput = ''
      this.$refs.searchInput.focus()
      this.hideResult()
    },

    showResultList() {
      this.showResult = true
    },

    hideResult() {
      this.showResult = false
    },

    findWord(target) {
      if (event.key === 'Enter') {
        this.showResult = false
        this.$router.push({
          name: 'DictionaryResult',
          params: { word: target },
        })
      }
    },

    goResult(target) {
      if (this.searchInput.length > 0) {
        this.$emit('loadResult', target)
        this.$router.push({
          name: 'DictionaryResult',
          params: { word: target },
        })
      }
    },

    switchLanguage() {
      let temp = this.languageFrom
      this.languageFrom = this.languageTo
      this.languageTo = temp
      this.switchLang = !this.switchLang
    },

    autoComplete() {
      if (this.searchInput.length > 0) {
        this.showResult = true
        delaySearch(() => {
          getDictionaryHints(this.searchInput, this.languageTo).then(
            ({ data }) => {
              this.searchResults = data
              this.loading = false
            }
          )
        })
      } else {
        this.searchResults = []
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/subpage-search';
</style>
