<template>
  <div class="dct-word" :class="`color-${content.type_short}`">
    <div class="dct-word__addlist">
      <v-button
        icon="icon-lists"
        icon-position="left"
        class="default button--circle circle-sm dct-word-add-lists"
        @click.native="selectNewWord()"
        v-tooltip.left="{
          content: 'Kelime Listelerime Ekle',
          trigger: 'hover click',
          classes: 'addnewlist',
          offset: '5',
        }"
      />
    </div>
    <article
      class="dct-word__item"
      v-for="(meaning, index) in content.meanings"
      :key="index"
    >
      <div class="dct-word-header">
        <div class="dct-word-header-meta">
          <div class="dct-word-header__left">
            <div
              class="dct-word-rate__cnt"
              v-tooltip="levelText[meaning.level - 1]"
            >
              <div class="dct-word-rate">
                <span
                  v-for="n in 4"
                  :key="n"
                  :class="{ active: n <= meaning.level }"
                ></span>
              </div>
              <!-- <VueTooltip :text="levelText[meaning.level - 1]" /> -->
            </div>
          </div>
          <div class="dct-word-header__cnt">
            <div
              class="dct-word-header__title"
              :class="`color-${content.type_slug}`"
            >
              <span class="dct-word-header__title-in">
                {{ meaning.meaning }}
                <span
                  class="word__badge"
                  :class="`bg-${content.type_slug}`"
                  lang="en"
                  v-tooltip="content.type"
                >
                  {{ content.type_short }}
                  <!-- <VueTooltip :text="content.type" location="top" /> -->
                </span>
              </span>
            </div>
            <div class="dct-word-header__desc">
              <span
                class="dct-word-header__desc--item"
                v-for="(desc, index) in meaning.alternative_meanings"
                :key="index"
              >
                {{ desc }}
                <i v-if="meaning.alternative_meanings.length - index !== 1"
                  >,</i
                >
              </span>
            </div>
          </div>
        </div>
        <div class="dct-word-header__meaning" v-if="meaning.tr_description">
          {{ meaning.tr_description }}
        </div>
        <div class="dct-badges" v-if="meaning.info.length > 0">
          <div
            v-for="(info, index) in meaning.info"
            :key="index"
            class="dct-badges__outer"
          >
            <span
              class="badge badge--succes"
              :style="'background: ' + info.popup_color"
              v-tooltip.top-start="{
                boundariesElement: '.dct-word__item',
                content: info.description,
                classes: `badgetooltip ${place}`,
                trigger: 'hover click',
              }"
            >
              <span class="icon-font">
                <svg-icon type="icon-star" />
              </span>
              <span class="txt">{{ info.title }}</span>
            </span>
            <!-- <span class="tooltip tooltip--top">
              <span class="tooltip__wrp">
                <span class="tooltip__txt">{{ info.description }}</span>
              </span>
            </span>-->
          </div>
        </div>
      </div>
      <word-detail-item-desc :samples="meaning.sentences" />
    </article>
    <div class="dct-family" v-if="hasWordForms">
      <div
        class="select-header"
        @click="showFamily"
        :class="[
          { open: wordFamily },
          {
            'select-header--extra':
              content.meanings[lastMeaning - 1].info.length > 0,
          },
        ]"
      >
        <span class="select__title">DİĞER HALLERİ</span>
        <span class="select__caret"></span>
      </div>
      <SlideUpDown :active="wordFamily" class="dct-family__outer">
        <div class="dct-family__list">
          <DictionaryWordbox
            v-for="(word, index) in content.word_forms"
            :key="index"
            :word="word"
            :show-more="false"
            :linked="false"
          />
        </div>
      </SlideUpDown>
    </div>
    <!-- <div class="alert-box__wrp" v-if="alert">
      <div class="alert-box" :class="alert.type" v-html="alert.text"></div>
    </div>-->
    <!-- <add-new-word-modal ref="addNewWordModal" /> -->
  </div>
</template>

<script>
import WordDetailItemDesc from '@/components/WordDetailItemDesc'
import SlideUpDown from '@/components/SlideUpDown'
import DictionaryWordbox from '@/components/Dictionary/DictionaryWordbox'
// import VueTooltip from '../../core/VueTooltip'
// import AddNewWordModal from '@/components/WordBook/Plugin/AddNewWordModal'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'DictionaryResult',
  components: {
    WordDetailItemDesc,
    SlideUpDown,
    DictionaryWordbox,
    // AddNewWordModal
    // VueTooltip
  },
  props: {
    content: [Object, Array],
    type: String,
    place: String,
  },

  data() {
    return {
      isOpen: true,
      wordFamily: false,
      levelList: [],
    }
  },
  computed: {
    ...mapGetters({
      selectedWords: 'wordbookplugin/selectedWords',
      addWordModal: 'wordbookplugin/addWordModal',
    }),
    lastMeaning() {
      return this.content.meanings.length
    },
    levelText() {
      return Object.values(this.content.meanings[0].levels)
    },
    wordForms() {
      if (this.content.word_forms !== undefined) {
        return true
      }
      return false
    },
    hasWordForms() {
      if (this.wordForms && this.content.word_forms.length > 0) {
        return true
      }
      return false
    },
  },
  methods: {
    ...mapActions({
      addWordToList: 'wordbookplugin/addWordToList',
      deleteWordToList: 'wordbookplugin/deleteWordToList',
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      resetWordlist: 'wordbookplugin/resetWordlist',
    }),
    showFamily() {
      this.wordFamily = !this.wordFamily
    },
    async selectNewWord() {
      this.selectedWord = true
      let newWord = {
        type: 'w',
        data: this.content.id,
        is_public: true,
      }
      console.log('this Content', this.content, newWord)
      this.addWordToList(newWord)
      this.setAddWordModal({ show: true, wordType: 'w' })
    },
  },
  watch: {
    addWordModal() {
      if (!this.addWordModal) {
        this.resetWordlist()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';

.dct-word {
  box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: all 0.3s;

  &.form {
    padding: 0;
  }

  & .select-header {
    background: #fff;
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
  }

  &.active {
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
    background: #fff;
    opacity: 1;

    &:before {
      transform: translateY(-50%);
      opacity: 1;
      transition-delay: 0.2s;
    }

    &:after {
      transform: translateY(-50%) scaleY(1);
      transition-delay: 0.2s;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    border-bottom: 1px solid #e8edf3;
    position: relative;

    &-meta {
      display: flex;
      align-items: center;
      min-height: 48px;
      width: 100%;
    }

    &__meaning {
      margin-top: 1rem;
      color: $c-text;

      @include bp(tablet) {
        margin-top: 0;
      }
    }

    @include bp(tablet-m) {
      padding: 15px;
      align-items: flex-start;
    }

    &__cnt {
      padding-right: 65px;
      width: 100%;

      @include bp(tablet) {
        padding-right: 0;
      }
    }

    &__left {
      margin-right: 20px;
      width: 40px;
      height: 36px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;

      @include bp(tablet-m) {
        margin-right: 15px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      line-height: 1em;
      color: #436480;
      display: inline-flex;
      align-items: center;
      width: calc(100% - 25px);

      & .word__badge {
        margin-left: 0.5rem;
      }

      @include bp(tablet) {
        font-size: 22px;
        width: 75%;
      }
    }

    &__desc {
      color: $c-text;
      line-height: 1.3em;

      @include bp(tablet) {
        font-size: 15px;
        line-height: 1.3em;
        width: 77%;
        display: block;
        margin-bottom: 10px;
      }

      &--item {
        display: inline-flex;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__txt {
      color: #3b5e7b;
      margin-top: 10px;

      @include bp(tablet) {
        font-size: 14px;
        margin-top: 10px;
      }
    }

    &__right {
      margin-left: auto;
      align-self: flex-start;

      @include bp(tablet) {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      & .tooltip--left {
        right: auto;
        left: -220%;
      }
    }

    .word__badge {
      padding: 4px 8px 3px;
      font-size: 0.8rem;
      line-height: 1;
      border-radius: 25px;
      color: #fff;
      position: relative;
      top: -3px;
      margin-left: 0.1rem;

      & .vtooltip {
        text-transform: capitalize;
      }
    }

    .badge {
      // position: absolute;
      bottom: 0;
      padding: 7px 12px 6px;
      z-index: 3;

      .icon-font {
        font-size: 13px;
      }

      .tooltip {
        padding: 12px 20px;
        font-weight: 500;
        backface-visibility: hidden;
        font-size: 16px;
        box-shadow: none;
        left: 0;
        right: auto;
        width: 100%;
        height: auto;
        width: max-content;
        transform: translateY(0);
        text-align: center;

        @include bp(mobile) {
          width: 85vw;
          padding: 15px;
        }

        &:after {
          right: auto;
          transform: none;
          left: 35px;
        }

        &-btn {
          &:hover {
            .tooltip {
              transform: none;
            }
          }
        }
      }
    }
  }

  &-rate {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    span {
      display: block;
      background: #d4dce5;
      width: 6px;
      border-radius: 10px;
      margin-right: 5px;
      font-size: 12px;
      transition: all 0.3s;

      @include bp(tablet) {
        font-size: 10px;
      }

      &:nth-child(1) {
        height: 1em;
      }

      &:nth-child(2) {
        height: 1.65em;
      }

      &:nth-child(3) {
        height: 2.3em;
      }

      &:nth-child(4) {
        height: 2.95em;
      }

      &:nth-child(5) {
        height: 3.6em;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: #4545a2;
      }
    }
  }

  &-add-lists.button {
    font-size: 29px;
    color: $c-gray;
    width: 51px;
    height: 51px;

    @include bp(tablet) {
      width: 40px;
      height: 40px;
      min-height: 40px;
      font-size: 18px;
    }
  }

  &__item {
    z-index: 22;

    &:last-child {
      .dct-word-desc {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  &__addlist {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;

    @include bp(tablet) {
      top: 7px;
    }

    & .tooltip {
      right: -60%;
    }
  }

  &-desc {
    background: #f8fafe;
    border-bottom: 1px solid #e8edf3;
    padding: 30px 20px;

    @include bp(tablet) {
      padding: 20px 15px;
    }

    &__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__list {
      > * {
        opacity: 0;
        transform: translateY(15px);
        transition: all 0.3s;
      }

      &.active {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 45 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.15s;
            }
          }
        }
      }
    }

    &__txt {
      font-weight: 500;
      font-size: 18px;
      opacity: 0.95;

      @include bp(tablet) {
        font-size: 15px;
        line-height: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.txt-en {
        color: #3b5e7b;
      }

      &.txt-tr {
        font-style: italic;
        color: #7d97ad;
        opacity: 0.95;
      }
    }

    &__more {
      font-weight: 700;
      padding: 0;
      margin-top: -5px;
      display: flex;

      &:hover .button__icon {
        transform: none;
      }

      .button__icon {
        position: relative;
        margin-right: 25px;

        &:before {
          @include triangle(down, currentColor, 7px);
          transition: all 0.3s;
        }
      }

      &.active {
        margin-bottom: 15px;

        .button__icon:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  .alert-box {
    &__wrp {
      background: #f8fafe;
      position: relative;
      margin-top: -1px;
      padding: 20px;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
</style>
