<template>
  <div class="dct-detail__item">
    <div class="section-bracket dct-detail__header">
      <div class="section-bracket__title" :class="'color-' + type">COLLOCATIONS</div>
      <hr class="fw" />
    </div>
    <div class="dct-detail__cnt">
      <div class="dct-detail-words">
        <div
          class="dct-detail-words__item"
          v-for="collocation in collocations.slice(0, 4)"
          :key="collocation.id"
        >
          <div class="dct-detail-words__word">{{ collocation.word }}:</div>
          <div class="dct-detail-words__desc">{{ collocation.desc }}</div>
        </div>
        <slide-up-down :duration="600" v-if="collocations.length > 4" :active="showMore">
          <div
            class="dct-detail-words__item"
            v-for="collocation in collocations.slice(4, collocations.length)"
            :key="collocation.id"
          >
            <div class="dct-detail-words__word">{{ collocation.word }}:</div>
            <div class="dct-detail-words__desc">{{ collocation.desc }}</div>
          </div>
        </slide-up-down>
        <button
          @click="more"
          v-if="!showMore && collocations.length > 4"
          class="dct-detail-words__more button button--text"
        >
          <span class="button__wrp">
            <span class="button__icon"></span>
            <span class="button__txt">{{ collocations.length - 4 }} Örnek daha</span>
          </span>
        </button>
        <!-- <v-button
            @click.native="more"
            v-if="!showMore && collocations.length > 4"
            class="dct-detail-words__more"
             title="{{ collocations.length - 4 }} Örnek daha"
        />-->
        <button
          @click="more"
          v-if="showMore"
          class="dct-detail-words__more active button button--text"
        >
          <span class="button__wrp">
            <span class="button__icon"></span>
            <span class="button__txt">Daha az gör</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DictionaryCollocations',
  props: {
    collocations: Array,
    type: String,
  },
  data() {
    return {
      showMore: false,
    }
  },
  methods: {
    more() {
      this.showMore = !this.showMore
    },
  },
}
</script>
