<template>
  <div class="dct-detail__item">
    <div class="section-bracket dct-detail__header">
      <div
        class="section-bracket__title"
        :class="`color-${type}`"
      >PREPOSITIONS</div>
      <hr class="fw">
    </div>
    <div class="dct-detail__cnt">
      <div class="dct-detail-words">
        <div
          class="dct-detail-words__item"
          v-for="preposition in prepositions.slice(0, 4)"
          :key="preposition.id"
        >
          <div class="dct-detail-words__word">{{ preposition.word }}:</div>
          <div class="dct-detail-words__desc">{{ preposition.desc }}</div>
        </div>

        <slide-up-down
          :duration="600"
          v-if="prepositions.length > 4"
          :active="showMore"
        >
          <div
            class="dct-detail-words__item"
            v-for="preposition in prepositions.slice(4, prepositions.length)"
            :key="preposition.id"
          >
            <div class="dct-detail-words__word">{{ preposition.word }}:</div>
            <div class="dct-detail-words__desc">{{ preposition.desc }}</div>
          </div>
        </slide-up-down>
        <button
          @click="more"
          v-if="!showMore && prepositions.length > 4"
          class="dct-detail-words__more button button--text"
        >
          <span class="button__wrp">
            <span class="button__icon"></span>
            <span class="button__txt">{{ prepositions.length - 4 }} Örnek daha</span>
          </span>
        </button>
        <button
          @click="more"
          v-if="showMore"
          class="dct-detail-words__more active button button--text"
        >
          <span class="button__wrp">
            <span class="button__icon"></span>
            <span class="button__txt">Daha az gör</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DictionaryPrepositions',
  props: {
    prepositions: Array,
    type: String,
  },
  data() {
    return {
      showMore: false,
    }
  },
  methods: {
    more() {
      this.showMore = !this.showMore
    },
  },
}
</script>
