<template>
  <div class="dct-detail__item">
    <div v-for="(part, index) of content" :key="index">
      <div class="section-bracket dct-detail__header" v-if="part.items.length > 0">
        <div class="section-bracket__title" :class="'color-' + type">{{ part.name }}</div>
        <hr class="fw" />
      </div>
      <div class="dct-detail__desc" v-for="(section, index) in part.items" :key="index">
        <div class="dct-detail__txt">
          {{ section.description }}
        </div>

        <div class="dct-detail-eg">
          <div class="dct-detail-eg__item" v-for="(word, index) in section.items" :key="index">
            <router-link :to="`/sozluk/${word.name}`" class="dct-detail-eg__word" :class="`dct-detail-eg__word--${word.type_short_name}`">
            {{ word.name }} <strong :class="'color-' + word.type_short_name"> ({{ word.type_short_name }})</strong>:
            </router-link>
            <div class="dct-detail-eg__desc">{{ word.primary_definitions }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DictionaryRelations',
  props: ['content', 'type'],
  data() {
    return {
      showMore: false,
    }
  },
  methods: {
    more() {
      this.showMore = !this.showMore
    },
  }
}
</script>
