<template>
  <div class="word-box" :class="{ expanded: expanded }" ref="wordbox">
    <div class="word-box-content" ref="wordbox">
      <div class="word-box__left">
        <transition-group name="scale-fade">
          <v-button
            @click.native="speak(wordItem)"
            :key="1"
            class="word-box__voice square default"
            icon="icon-voice"
            icon-position="left"
            v-if="hasVoice && !selectable"
            v-tooltip="{
              content: 'Dinle',
              trigger: 'hover click'
            }"
          />
          <v-button
            :key="2"
            class="square default shadow-none"
            icon="icon-plus"
            icon-position="left"
            v-if="selectable && !word.added"
            @click.native="addWord(word.id)"
            v-tooltip="'Ekle'"
          />
          <v-button
            :key="3"
            class="square purple shadow-none"
            icon="icon-dash"
            icon-position="left"
            v-if="selectable && word.added"
            @click.native="addWord(word.id)"
            v-tooltip="'Çıkar'"
          />
        </transition-group>
      </div>
      <div class="word-box__cnt dctwordbox" :class="{ disabled: !clickable }" @click="goWord(word)">
        <div class="word-box__top">
          <div class="word-box__title" :class="`color-${word.type || word.key}`" lang="en-GB">
            {{ word.title || word.name || word.value }}
            <span class="word__badge" :class="wordTheme" v-if="word.key || word.type">{{
              word.key || word.type
            }}</span>
          </div>
        </div>
        <div class="word-box-meaning" v-if="hasMeanings">
          <div v-if="!showAllMeanings">
            <div
              class="word-box-meaning__item"
              v-for="meaning in word.meanings.slice(0, 1)"
              :key="meaning.id"
            >
              <div class="word-rate">
                <span v-for="n in 4" :key="n" :class="{ active: n <= meaning.rate }"></span>
              </div>
              <div class="word-box-meaning__title">{{ meaning.name || meaning.title }}</div>
            </div>
          </div>
          <div v-if="showAllMeanings">
            <div class="word-box-meaning__item" v-for="meaning in word.meanings" :key="meaning.id">
              <div class="word-rate">
                <span v-for="n in 4" :key="n" :class="{ active: n <= meaning.rate }"></span>
              </div>
              <div class="word-box-meaning__title">{{ meaning.title || meaning.title }}</div>
            </div>
          </div>
        </div>
      </div>
      <template v-if="hasMeanings && showMore">
        <button class="word-box__more" @click="more" v-if="word.meanings.length > 1">
          <div class="dots" v-if="!expanded"></div>
          <div class="xmark" v-if="expanded">×</div>
        </button>
      </template>
    </div>
    <div v-if="showMore === true && expanded" class="word-box-extra" :class="{ visible: expanded }">
      <p class="word-box-extra__def">Diğer anlamları</p>
      <ul class="word-box-extra__list">
        <li
          v-for="(el, index) in word.meanings.slice(1, word.meanings.length)"
          :key="index"
          class="word-box-meaning__item"
        >
          <div class="word-rate">
            <span v-for="n in 4" :key="n" :class="{ active: n <= el.rate }"></span>
          </div>
          <div class="word-box-meaning__title">{{ el.name || el.title }}</div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { textToSpeech } from '../../common/tts-helper'

export default {
  name: 'DictionaryWordbox',
  props: {
    word: Object,
    selectable: {
      type: Boolean,
      default: false
    },
    showMore: {
      type: Boolean,
      default: true
    },
    hasVoice: {
      type: Boolean,
      default: true
    },
    editable: {
      type: Boolean,
      default: false
    },
    showAllMeanings: {
      type: Boolean,
      default: false
    },
    linked: {
      type: Boolean,
      default: true
    },
    clickable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      editWord: false,
      newWord: '',
      newMeaning: '',
      expanded: false
    }
  },
  computed: {
    hasMeanings() {
      if (this.word.meanings !== undefined || this.word.meaning !== undefined) {
        return true
      }
      return false
    },
    wordTheme() {
      return `bg-${this.word.type}`
    },

    wordItem() {
      return this.word.word || this.word.title || this.word.name || this.word.value
    }
  },
  methods: {
    speak: textToSpeech,

    goWord(item) {
      let word = item.name || item.title || item.value
      this.$emit('getWord', word)
      if (this.linked) {
        this.$router.push({
          name: 'DictionaryResult',
          params: { word: word },
          props: { content: word }
        })
      }
    },

    addWord() {
      this.word.added = !this.word.added
    },

    edit() {
      this.editWord = true
      this.newWord = this.word.word
      this.newMeaning = this.word.meaning
    },

    more() {
      this.expanded = !this.expanded
      this.$emit('moreWords', this.expanded, this.$refs.wordbox)
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/word-box';
</style>
