<template>
  <div class="section-block" v-if="content.words.length > 0">
    <div class="section-bracket dct-detail__header">
      <div class="section-bracket__title" :class="'color-' + type" lang="en">
        {{ content.title }}
      </div>
      <hr class="fw" />
    </div>
    <highlightable slot="content">
      <div class="dct-detail__cnt">
        <div class="dct-detail-words">
          <div
            class="dct-detail-words__item"
            v-for="(item, index) in content.words.slice(0, 4)"
            :key="index"
          >
            <div class="dct-detail-words__word">{{ item.en }}:</div>
            <div class="dct-detail-words__desc">{{ item.tr }}</div>
          </div>
          <slide-up-down :duration="600" v-if="content.words.length > 4" :active="showMore">
            <div
              class="dct-detail-words__item"
              v-for="(item, index) in content.words.slice(4, content.words.length)"
              :key="index"
            >
              <div class="dct-detail-words__word">{{ item.en }}:</div>
              <div class="dct-detail-words__desc">{{ item.tr }}</div>
            </div>
          </slide-up-down>
          <button
            @click="viewMore"
            v-if="!showMore && content.words.length > 4"
            class="dct-detail-words__more button button--text"
          >
            <span class="button__wrp">
              <span class="button__icon"></span>
              <span class="button__txt">{{ content.words.length - 4 }} Örnek daha</span>
            </span>
          </button>
          <button
            @click="viewMore"
            v-if="showMore"
            class="dct-detail-words__more active button button--text"
          >
            <span class="button__wrp">
              <span class="button__icon"></span>
              <span class="button__txt">Daha az gör</span>
            </span>
          </button>
        </div>
      </div>
    </highlightable>
  </div>
</template>

<script>
import Highlightable from '@/components/Highlightable'

export default {
  name: 'DictionaryForms',
  props: {
    content: {
      type: Object,
      required: true
    },
    type: {
      type: String
    }
  },
  components: {
    Highlightable
  },
  data() {
    return {
      showMore: false
    }
  },
  methods: {
    viewMore() {
      this.showMore = !this.showMore
    }
  }
}
</script>
