<template>
  <div class="dct-detail__item">
    <div class="section-bracket dct-detail__header">
      <div
        class="section-bracket__title"
        :class="'color-' + type"
      >EŞ ANLAMLILARI</div>
      <hr class="fw">
    </div>
    <div class="dct-detail__cnt">
      <div
        class="dct-detail__desc"
        v-for="synonym in synonyms.slice(0, 2)"
        :key="synonym.id"
      >
        <div class="dct-detail__txt">
          {{ synonym.text }}
        </div>

        <div class="dct-detail-eg">
          <div
            class="dct-detail-eg__item"
            v-for="word in synonym.words"
            :key="word.id"
          >
            <div class="dct-detail-eg__word">{{ word.word }} <strong :class="'color-' + type"> ({{ type.slice(0, 1) }}) </strong>:</div>
            <div class="dct-detail-eg__desc">
              <span
                v-for="meaning in word.meanings"
                :key="meaning"
              >
                {{ meaning }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <slide-up-down
        :duration="600"
        v-if="synonyms.length > 2"
        :active="showMore"
      >
        <div
          class="dct-detail__desc"
          v-for="synonym in synonyms.slice(2, synonyms.length)"
          :key="synonym.id"
        >
          <div class="dct-detail__txt">
            {{ synonym.text }}
          </div>

          <div class="dct-detail-eg">
            <div
              class="dct-detail-eg__item"
              v-for="word in synonym.words"
              :key="word.id"
            >
              <div class="dct-detail-eg__word">{{ word.word }} <strong :class="'color-' + type"> ({{ type.slice(0, 1) }}) </strong>:</div>
              <div class="dct-detail-eg__desc">
                <span
                  v-for="meaning in word.meanings"
                  :key="meaning"
                >
                  {{ meaning }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </slide-up-down>

      <button
        @click="more"
        v-if="!showMore && synonyms.length > 2"
        class="dct-detail-words__more button button--text"
      >
        <span class="button__wrp">
          <span class="button__icon"></span>
          <span class="button__txt">{{ synonyms.length - 2 }} Örnek daha</span>
        </span>
      </button>
      <button
        @click="more"
        v-if="showMore"
        class="dct-detail-words__more active button button--text"
      >
        <span class="button__wrp">
          <span class="button__icon"></span>
          <span class="button__txt">Daha az gör</span>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DictionarySynonyms',
  props: {
    synonyms: Array,
    type: String,
  },
  data() {
    return {
      showMore: false,
    }
  },
  methods: {
    more() {
      this.showMore = !this.showMore
    },
  },
}
</script>
