<template>
  <div class="dictionary-slider__wrp">
    <div class="dictionary__content">
      <div class="section-bracket">
        <div class="section-bracket__title">GÜNÜN KELİMESİ</div>
        <hr class="fw" />
        <div class="datepicker">
          <button class="datepicker__btn">
            <span class="wrp">
              <span class="btn-txt">{{ today }}</span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!--<word-item />-->
    <swiper
      :options="swiperOption"
      ref="mySwiper"
      class="dictionary-slider"
      dir="rtl"
      @slideChange="getCurrent"
    >
      <!-- slides -->
      <swiper-slide v-for="word in words" :key="word.id" dir="ltr">
        <word-item :word="word" :print="false" @shareWord="openShareModal" />
      </swiper-slide>
      <!-- Optional controls -->
      <!--<div class="swiper-pagination"  slot="pagination"></div>-->
      <div class="swiper-button-prev dictionary-slider__arrow" slot="button-prev">
        <svg-icon type="icon-arrow-right" />
      </div>
      <div class="swiper-button-next dictionary-slider__arrow" slot="button-next">
        <svg-icon type="icon-arrow-left" />
      </div>

      <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
    </swiper>
    <transition-group name="fade">
      <div class="dct-popup__overlay" v-if="shareOpen" :key="1" @click="hideShareModal"></div>
      <ShareModal
        :share-text="shareText"
        :links="words[activeDay].share_links"
        :key="2"
        v-if="shareOpen"
        @closeModal="hideShareModal"
      />
    </transition-group>
  </div>
</template>

<script>
import WordItem from '@/components/WordItem'
import ShareModal from '../ShareModal'

export default {
  name: 'DictionarySlider',
  props: {
    words: Array
  },
  components: {
    WordItem,
    ShareModal
  },
  data() {
    return {
      slideCount: 1,
      activeDay: 0,
      shareOpen: false,
      shareText: '',
      swiperOption: {
        effect: 'coverflow',
        grabCursor: false,
        loop: false,
        centeredSlides: true,
        keyboard: true,
        slidesPerView: 'auto',
        initialSlide: this.slideCount,
        speed: 500,
        autoHeight: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        coverflowEffect: {
          rotate: 0,
          stretch: 130,
          depth: 80,
          modifier: 3,
          slideShadows: false
        },
        simulateTouch: true,
        breakpoints: {
          768: {
            effect: 'coverflow',
            loop: false,
            centeredSlides: false,
            slidesPerView: 'auto',
            speed: 500,
            spaceBetween: 0,
            pagination: false,
            autoHeight: true,
            coverflowEffect: {
              rotate: 0,
              stretch: 5,
              depth: 0,
              modifier: 3,
              slideShadows: false
            },
            simulateTouch: true
          },

          1345: {
            coverflowEffect: {
              rotate: 0,
              stretch: 190,
              depth: 20,
              modifier: 3,
              slideShadows: false
            }
          }
        }
      }
    }
  },
  methods: {
    openShareModal(val) {
      this.shareOpen = true
      this.shareText = 'https://www.remzihoca.com/sozluk/' + val
    },
    hideShareModal() {
      this.shareOpen = false
    },
    getCurrent() {
      this.activeDay = this.swiper.activeIndex
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper
    },
    today() {
      return this.words[this.activeDay].date
    }
  },
  mounted() {
    return this.$refs.length
  },
  created() {
    this.slideCount = this.$props.words.length
  }
}
</script>
