<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M75.8,6.5H61.1C57.7,0.4,50-1.8,43.9,1.6c-2.1,1.1-3.8,2.9-4.9,4.9H24.2c-8.5,0-15.3,6.9-15.3,15.3v62.8
		c0,8.5,6.9,15.3,15.3,15.3h51.6c8.5,0,15.3-6.9,15.3-15.3V21.9C91.2,13.4,84.3,6.5,75.8,6.5 M41.9,15.3c2.1,0,3.9-1.4,4.3-3.5
		c0.5-2.1,2.5-3.4,4.6-2.9c1.5,0.3,2.6,1.5,2.9,2.9c0.4,2,2.2,3.5,4.3,3.5h2.6v3.9H39.3v-3.9H41.9z M82.4,84.7
		c0,3.6-2.9,6.6-6.6,6.6H24.2c-3.6,0-6.6-2.9-6.6-6.6V21.9c0-3.6,2.9-6.6,6.6-6.6h6.4v5c0,4.2,3.4,7.7,7.7,7.7h23.6
		c4.2,0,7.7-3.4,7.7-7.7v-5h6.4c3.6,0,6.6,2.9,6.6,6.6V84.7z"
    />
    <path
      d="M66.4,44.4c-2.2-1.9-5.6-1.7-7.6,0.5l-12,13.8l-4.4-4.5C40.4,52,37,52,34.9,54c-2.1,2.1-2.2,5.5-0.1,7.6l8.5,8.7
		c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.2c0,0,0,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.2,0.1,0.2,0.2c0.1,0,0.1,0.1,0.2,0.1
		c0.1,0.1,0.2,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1
		c0.1,0,0.1,0,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.4,0.1c0,0,0.1,0,0.1,0c0.2,0,0.3,0,0.5,0h0h0
		c0.2,0,0.4,0,0.5,0c0.1,0,0.1,0,0.2,0c0.1,0,0.3,0,0.4-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1,0,0.2-0.1
		c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.2-0.1,0.2-0.2
		c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.2-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0,0,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.2
		c0,0,0.1-0.1,0.1-0.1l15.8-18.1C68.9,49.7,68.6,46.3,66.4,44.4"
    />
    <path
      d="M47.1,72c-0.2,0-0.3,0-0.5,0c0,0-0.1,0-0.1,0l0,0c-0.1,0-0.2,0-0.4-0.1c0,0-0.1,0-0.1,0l-0.1,0c-0.1,0-0.2,0-0.3-0.1
		c-0.1,0-0.1,0-0.2-0.1l0,0c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.1,0-0.2-0.1l0,0c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1
		c-0.1,0-0.2-0.1-0.3-0.2l0,0c-0.1,0-0.1-0.1-0.2-0.1c-0.1-0.1-0.2-0.1-0.2-0.2l0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0-0.1,0
		c0,0-0.1-0.1-0.1-0.1l-0.1-0.1c0,0-0.1-0.1-0.1-0.1l-8.5-8.7c-2.1-2.2-2.1-5.7,0.1-7.8c1.1-1,2.4-1.6,3.9-1.6
		c1.5,0,2.8,0.6,3.9,1.7l4.3,4.4l11.9-13.6c1-1.1,2.3-1.8,3.8-1.9c1.5-0.1,2.9,0.4,4,1.3l0,0c1.1,1,1.8,2.3,1.9,3.8
		c0.1,1.5-0.4,2.9-1.3,4L51.2,70.2c0,0-0.1,0.1-0.1,0.1c0,0,0,0-0.1,0.1L51,70.4c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0l0,0
		c-0.1,0.1-0.1,0.1-0.2,0.2l0,0c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.2,0.1-0.3,0.2
		c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.2,0.1-0.3,0.1l0,0c-0.1,0-0.1,0-0.2,0.1
		c-0.1,0-0.2,0.1-0.3,0.1l0,0c0,0-0.1,0-0.1,0c-0.1,0-0.3,0-0.4,0.1l-0.1,0c0,0-0.1,0-0.1,0C47.4,72,47.3,72,47.1,72z M38.6,52.6
		c-1.4,0-2.7,0.5-3.6,1.5c-2.1,2-2.1,5.3-0.1,7.4l8.5,8.7c0,0,0.1,0,0.1,0.1c0,0,0,0,0.1,0.1l0.1,0.1c0,0,0.1,0.1,0.1,0.1l0,0
		c0,0,0.1,0.1,0.1,0.1l0.1,0c0.1,0.1,0.2,0.1,0.2,0.2c0.1,0,0.1,0.1,0.2,0.1l0,0c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
		c0.1,0,0.2,0.1,0.3,0.1l0,0c0.1,0,0.1,0,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1l0,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0.1,0.3,0.1l0.1,0
		c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3,0.1l0.1,0c0,0,0.1,0,0.1,0c0.4,0,0.7,0,1,0c0,0,0.1,0,0.1,0l0.1,0c0.1,0,0.2,0,0.4-0.1
		c0,0,0.1,0,0.1,0l0.1,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1,0,0.2-0.1l0,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1
		c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.2-0.1,0.2-0.2c0.1,0,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2l0,0
		c0.1-0.1,0.1-0.1,0.2-0.2l0.1-0.1c0,0,0.1-0.1,0.1-0.1l0.1-0.1c0,0,0,0,0.1-0.1c0,0,0,0,0.1-0.1l15.8-18.1c0.9-1.1,1.4-2.4,1.3-3.8
		c-0.1-1.4-0.7-2.7-1.8-3.6c-1.1-0.9-2.4-1.4-3.8-1.3c-1.4,0.1-2.7,0.7-3.6,1.8L46.9,58.8l-4.5-4.6C41.4,53.2,40.1,52.7,38.6,52.6
		C38.6,52.6,38.6,52.6,38.6,52.6z"
    />
  </g>
</template>
