<template>
  <!-- eslint-disable -->
  <g id="Layer_2_1_">
    <g id="Isolation_Mode">
      <path
        class="st0"
        d="M57.1,49l26,17c1,1,2,3,1,5c-1,1-2,1-4,1l-26-17c-1-2-2-4,0-5C55.1,49,56.1,49,57.1,49L57.1,49z"
      />
      <path
        class="st1"
        d="M89,58l-11-7c-1-1-2-3-1-5c1-1,3-1,4-1l11,7c1,1,2,3,1,4C93,59,91,59,89,58z"
      />
      <path
        class="st2"
        d="M56.1,48l26,17c1,1,1,3,0,5c-1,0-2,1-3,0l-27-17c-1-1-1-3,0-5C53.1,47,54.1,47,56.1,48z"
      />
      <path
        class="st0"
        d="M49.1,62l26,17c2,1,2,3,1,5c0,1-2,1-4,0l-26-17c-1-1-1-3,0-5C46.1,62,48.1,61,49.1,62z"
      />
      <path
        class="st2"
        d="M47.1,60l26,17c2,1,3,3,2,5c0,2-2,2-4,2c0,0-1,0-1-1l-26-17c-2-1-2-3-1-5C44.1,60,46.1,60,47.1,60z"
      />
      <path
        class="st2"
        d="M87,57l-11-8c-1-1-1-3,0-5c1,0,2-1,4,0l11,7c1,1,2,3,1,4C91,57,89,58,87,57L87,57z"
      />
      <path
        class="st3"
        d="M94,14.1l-35.9-5l-20,3L27.1,81c0,4,2,7,6,8l0,0l47.9,7c4,1,7-2,8-5l11-68.9C100,18.1,98,15.1,94,14.1z"
      />
      <path
        class="st3"
        d="M91,14.1l-35.9-6l-20,4L25.1,81c0,4,2,7,6,8l47.9,7c3,0,7-2,7-6l11-68.9C98,17.1,95,14.1,91,14.1L91,14.1z"
      />
      <path
        class="st4"
        d="M47.1,54L78,59c2,0,3,2,3,4c0,2-2,3-4,3l0,0l-30.9-5c-2,0-3-2-3-4C44.1,55,45.1,54,47.1,54L47.1,54z"
      />
      <path
        class="st4"
        d="M80,49l-14-2c-2,0-3-2-3-4c0-2,2-3,4-3l13,2c2,0,3,2,3,4S81,49,80,49z"
      />
      <path
        class="st1"
        d="M45.1,69L76,73c2,0,3,2,3,4s-2,3-4,3l-30.9-4c-2,0-3-2-3-4C41.1,70,43.1,69,45.1,69z"
      />
      <path
        class="st2"
        d="M43.1,69L74,73c2,1,3,2,2,4c0,1-2,2-3,2l-30.9-4c-2,0-3-2-3-4C39.1,70,41.1,68,43.1,69z"
      />
      <path
        class="st1"
        d="M4.2,21.1l14,68.9c1,4,5,6,8,5L74,85c3,0,6-4,5-8l-13-67.9c-1-4-5-6-9-5l0,0l-46.9,9
			C6.2,14.1,4.2,17.1,4.2,21.1z"
      />
      <path
        class="st1"
        d="M0.2,22.1l14,67.9c1,4,5,6,8,5l47.9-10c4-1,6-4,6-8l0,0l-15-66.9c0-4-4-6-8-6l-47.9,10
			C2.2,15.1-0.8,18.1,0.2,22.1L0.2,22.1z"
      />
      <path
        class="st4"
        d="M52.1,51l-30.9,6c-1,0-3,2-3,4c0,2,2,3,4,3c0,0,0,0,1,0l30.9-6c2-1,3-2,2-4C55.1,52,54.1,51,52.1,51L52.1,51z
			"
      />
      <path
        class="st4"
        d="M55.1,66l-30.9,6c-2,0-3,2-3,3c0,2,2,3,3,3h1l30.9-6c2,0,3-2,3-4C58.1,67,57.1,66,55.1,66z"
      />
      <path
        class="st4"
        d="M19.1,48l13-3c2,0,3-2,3-4s-2-3-4-3l-13,3c-2,1-3,3-2,4C16.1,47,18.1,48,19.1,48z"
      />
    </g>
  </g>
</template>

<style>
.st0 {
  fill: #3a63ae;
}
.st1 {
  fill: #1e4b8e;
}
.st2 {
  fill: #e4edfd;
}
.st3 {
  fill: #45cff4;
}
.st4 {
  fill: #ffffff;
}
</style>
