<script>
export default {
  name: 'IconBook'
}
</script>

<template functional>
  <!-- eslint-disable -->
  <g
    ><g>
      <g>
        <path
          class="st0"
          d="M46.81,11.23h-4.24v-4c0-0.65-0.53-1.18-1.18-1.18h-4.54V2.92c-0.01-0.65-0.54-1.16-1.18-1.16h-2.58
			c-4.64-0.02-8.76,2.96-10.19,7.37c-2.48-1.99-5.57-3.08-8.75-3.08H8.87c-0.65,0-1.18,0.53-1.18,1.18v4h-4.5
			c-0.99,0-1.79,0.8-1.79,1.79l0,0v27.88c0,0.99,0.8,1.79,1.79,1.79h10.83c2.01,0,3.92,0.87,5.25,2.37l0.17,0.18
			c0.21,0.22,0.45,0.42,0.69,0.61c0.1,0.07,0.19,0.14,0.29,0.2c0.22,0.14,0.44,0.27,0.67,0.38l0.12,0.06
			c0.13,0.06,0.25,0.11,0.38,0.16c0.16,0.06,0.33,0.12,0.5,0.16c0.12,0.03,0.27,0.08,0.45,0.11c0.26,0.05,0.52,0.08,0.78,0.1
			l0.36-0.02c0.39,0,0.78-0.04,1.16-0.12c0.15-0.03,0.28-0.06,0.35-0.09c0.2-0.05,0.39-0.11,0.58-0.18h0.06l0.29-0.13l0.11-0.05l0,0
			c0.25-0.12,0.5-0.26,0.73-0.42l0.24-0.17c0.27-0.2,0.52-0.42,0.75-0.66L28,45.12l0.1-0.11c1.32-1.49,3.22-2.34,5.21-2.32h13.51
			c0.99,0,1.79-0.8,1.79-1.79V13.01C48.6,12.03,47.8,11.23,46.81,11.23z M40.2,8.38v25.66h-6.99c-2.84,0-5.61,0.87-7.94,2.48
			c1.23-3.24,4.35-5.38,7.82-5.36h2.58c0.65,0,1.18-0.53,1.18-1.18V8.41L40.2,8.38z M33.08,4.12h1.4V28.8h-1.4
			c-3.16-0.01-6.17,1.38-8.22,3.79V11.08c0.04-0.32,0.11-0.64,0.2-0.95C26.08,6.56,29.36,4.1,33.08,4.12z M10.03,8.41h4.11
			c3.15,0,6.16,1.28,8.35,3.55v24.86c-2.41-1.8-5.34-2.77-8.35-2.77h-4.11V8.41z M46.23,40.31h-12.9c-2.68-0.02-5.24,1.13-7.02,3.14
			l-0.04,0.04l0.87,0.81l-0.9-0.77c-0.15,0.15-0.3,0.28-0.47,0.4l-0.14,0.1c-0.14,0.09-0.28,0.17-0.43,0.25h-0.03l-0.07,0.03
			l-0.19,0.08c-0.12,0.04-0.23,0.08-0.36,0.11l-0.2,0.05c-0.23,0.05-0.46,0.07-0.69,0.07h-0.21c-0.16-0.01-0.32-0.03-0.47-0.06
			c-0.09,0-0.18-0.04-0.27-0.07c-0.1-0.03-0.2-0.06-0.29-0.09l-0.21-0.09l-0.09-0.04c-0.14-0.07-0.28-0.15-0.41-0.24l-0.17-0.12
			c-0.15-0.11-0.29-0.24-0.43-0.37l-0.09-0.09c-1.79-1.99-4.34-3.13-7.02-3.13H3.77V13.59h3.9v21.64c0,0.65,0.53,1.18,1.18,1.18
			h5.29c3.3,0,6.45,1.41,8.65,3.87c0.44,0.49,1.18,0.53,1.67,0.09c0.03-0.03,0.06-0.06,0.09-0.09c2.2-2.46,5.35-3.87,8.65-3.87h8.16
			c0.65,0,1.18-0.53,1.18-1.18V13.59h3.69V40.31z"
        />
      </g>
      <path
        class="st1"
        d="M13.43,14.29h1.49c1.32,0,2.61,0.34,3.79,0.99c0.45,0.25,0.99,0.05,1.22-0.45c0.23-0.5,0.05-1.11-0.4-1.36
		c-1.43-0.79-3-1.21-4.59-1.21h-1.5c-0.5,0-0.9,0.45-0.9,1.01c0,0.56,0.4,1.01,0.9,1.01V14.29z"
      />
      <path
        class="st1"
        d="M13.43,21.82h1.49c1.32,0,2.61,0.34,3.79,0.99c0.45,0.25,0.99,0.05,1.22-0.45c0.23-0.5,0.05-1.11-0.4-1.36
		c-1.43-0.79-3-1.21-4.59-1.21h-1.5c-0.5,0-0.9,0.45-0.9,1.01c0,0.56,0.4,1.01,0.9,1.01V21.82z"
      />
      <path
        class="st1"
        d="M13.43,29.25h1.49c1.32,0,2.61,0.34,3.79,0.99c0.45,0.25,0.99,0.05,1.22-0.45c0.23-0.5,0.05-1.11-0.4-1.36
		c-1.43-0.79-3-1.21-4.59-1.21h-1.5c-0.5,0-0.9,0.45-0.9,1.01s0.4,1.01,0.9,1.01V29.25z"
      />
    </g>
    <path
      opacity="0.45"
      d="M46.69,41.84c0.38-0.32,0.79-0.63,1.23-0.89V12.4h-6.82v11.39c0,0.1,0.42,10.82,0.42,10.92
	c0.1,0.55-7.83,0.73-8.4,0.77c-5.46,0.35-3.57,0.91-9.73,3.15l-3.38-1.68c-6.28,0-10.93,0-11.2-6.07c-0.04-0.92,0.07-6.95,0.28-7.82
	V12.4H2.64v29.01c6.46-0.38,12.95,0.35,18.54,4.07c0.03,0.02,0.05,0.04,0.07,0.06h2.9c0.9-0.55,1.89-1.01,3.05-1.28
	c0.34-0.08,0.68-0.13,1.02-0.19c1.67-1.01,3.54-1.71,5.69-2c0.79-0.11,1.53-0.14,2.27-0.16c2.85-0.3,5.79-0.25,8.63-0.27
	C45.47,41.64,46.09,41.73,46.69,41.84z"
    />
  </g>
</template>
