<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <defs>
        <rect
          id="SVGID_1_"
          x="-16.3"
          y="-16.3"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -20.7107 50)"
          width="132.6"
          height="132.6"
        />
      </defs>
      <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" style="overflow:visible;" />
      </clipPath>
      <path
        d="M96.9,96.9L96.9,96.9c-3.4,3.4-8.8,3.4-12.2,0L3.1,15.3c-3.4-3.4-3.4-8.8,0-12.2s8.8-3.4,12.2,0l81.5,81.5
			C100.2,88.1,100.2,93.5,96.9,96.9"
      />
    </g>
    <g>
      <defs>
        <rect
          id="SVGID_3_"
          x="-16.3"
          y="-16.3"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -20.7107 50)"
          width="132.6"
          height="132.6"
        />
      </defs>
      <clipPath id="SVGID_4_">
        <use xlink:href="#SVGID_3_" style="overflow:visible;" />
      </clipPath>
      <path
        d="M96.9,3.1L96.9,3.1c3.4,3.4,3.4,8.8,0,12.2L15.3,96.9c-3.4,3.4-8.8,3.4-12.2,0s-3.4-8.8,0-12.2L84.6,3.2
			C88.1-0.2,93.5-0.2,96.9,3.1"
      />
    </g>
  </g>
</template>
