<template>
  <!-- eslint-disable -->
  <g>
    <defs>
      <rect id="SVGID_1_" y="6.8" width="100" height="86.4" />
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_" style="overflow:visible;" />
    </clipPath>
    <g class="st0">
      <defs>
        <rect id="SVGID_3_" y="6.8" width="100" height="86.4" />
      </defs>
      <clipPath id="SVGID_4_">
        <use xlink:href="#SVGID_3_" style="overflow:visible;" />
      </clipPath>
      <g class="st1" opacity="0.2">
        <g>
          <defs>
            <rect id="SVGID_5_" x="33.5" y="14.7" width="49.3" height="74.9" />
          </defs>
          <clipPath id="SVGID_6_">
            <use xlink:href="#SVGID_5_" style="overflow:visible;" />
          </clipPath>
          <g class="st2">
            <path
              d="M80.6,24.8L56.1,14.8l-0.3,0.8c0.3,0.3,0.6,0.7,0.6,1.3c0.8,8.7,1,17.4,1,26c0,7.8-0.3,15.6-0.8,23.3
						c-0.2,4.1-0.4,10.2-3.8,13c-2,1.7-4.7,1.2-7.1,1.1c-3.4-0.1-6.8,0.1-10.2-0.2c-0.6,0-1.2-0.1-1.8-0.1l23.9,9.2
						c1.7,0.6,3.5-0.3,4.1-1.9L82.6,29C83.2,27.3,82.3,25.5,80.6,24.8"
            />
          </g>
          <g class="st2">
            <path
              d="M58.7,89.6c-0.4,0-0.7-0.1-1.1-0.2l-24.1-9.3l0.3,0c0.7,0,1.3,0,1.8,0.1c1.9,0.1,3.9,0.1,5.8,0.1c1.4,0,2.9,0,4.4,0
						c0.4,0,0.7,0,1.1,0.1c2.1,0.1,4.3,0.3,5.9-1.1c3.2-2.7,3.5-8.3,3.8-12.4c0-0.2,0-0.4,0-0.6c0.5-8.6,0.7-16.2,0.8-23.3
						c0.1-9.3-0.3-17.9-1-26c0-0.5-0.3-0.9-0.6-1.3l0,0l0.3-0.9l0,0l24.6,10.1c0.8,0.3,1.5,0.9,1.8,1.7c0.4,0.8,0.4,1.7,0.1,2.5
						L61.8,87.4C61.3,88.8,60,89.6,58.7,89.6z M34,80.2l23.6,9.1c1.6,0.6,3.5-0.3,4.1-1.9l20.8-58.5c0.3-0.8,0.3-1.7-0.1-2.4
						c-0.4-0.8-1-1.3-1.8-1.6l0,0l-24.5-10l-0.3,0.7c0.4,0.3,0.6,0.8,0.6,1.3c0.7,8.2,1,16.7,1,26.1c0,7.1-0.3,14.7-0.8,23.3
						c0,0.2,0,0.4,0,0.6c-0.2,4.1-0.5,9.7-3.8,12.4c-1.7,1.4-3.9,1.3-6,1.2c-0.4,0-0.7,0-1.1-0.1c-1.5-0.1-3,0-4.4,0
						c-1.9,0-3.9,0-5.8-0.1C35.1,80.2,34.6,80.2,34,80.2z"
            />
          </g>
        </g>
      </g>
      <g class="st3">
        <path
          d="M81.2,23.3l-23.6-9.6v0c0-2.7-2.2-4.8-4.8-4.8h-46c-2.7,0-4.8,2.2-4.8,4.8v62.7c0,2.7,2.2,4.8,4.8,4.8H32L57,90.9
				c0,0,0,0,0,0c0.5,0.2,1.1,0.3,1.6,0.3c2,0,3.8-1.2,4.5-3.2l20.8-58.5C85,27,83.7,24.3,81.2,23.3 M5.3,76.3V13.7
				c0-0.9,0.7-1.6,1.6-1.6h46c0.9,0,1.6,0.7,1.6,1.6v1.1v0v61.5c0,0.9-0.7,1.6-1.6,1.6h-46C6,77.9,5.3,77.2,5.3,76.3 M81,28.4
				L60.2,86.9c-0.3,0.8-1.2,1.3-2,1l-17.3-6.7h12c2.7,0,4.8-2.2,4.8-4.8V17.2L80,26.3c0,0,0,0,0.1,0C80.9,26.7,81.4,27.6,81,28.4"
        />
      </g>
      <g class="st3">
        <path
          d="M58.7,93.2c-0.8,0-1.6-0.1-2.3-0.4l-0.1,0l-24.7-9.5H6.9c-3.8,0-6.9-3.1-6.9-6.9V13.7c0-3.8,3.1-6.9,6.9-6.9h46
				c3.3,0,6.1,2.4,6.7,5.5L82,21.4c3.5,1.3,5.3,5.3,4,8.8L65.2,88.7C64.2,91.4,61.6,93.2,58.7,93.2C58.7,93.2,58.7,93.2,58.7,93.2z
				 M51.9,83.2l6.5,2.5L79,28.1l-19.3-7.9v56.1c0,3.8-3.1,6.9-6.9,6.9H51.9z M7.3,75.9h45.1V14.1H7.3V75.9z"
        />
      </g>
      <g class="st4" opacity="0.4">
        <g>
          <defs>
            <rect id="SVGID_7_" x="63.3" y="35.6" width="36.6" height="43.1" />
          </defs>
          <clipPath id="SVGID_8_">
            <use xlink:href="#SVGID_7_" style="overflow:visible;" />
          </clipPath>
          <g class="st5">
            <path
              d="M99.6,51.2c-1.3-2.9-4.1-5.4-6.3-7.7c-2.1-2.1-4.2-4.2-6.1-6.5L85,36c-1.6-0.8-3.5-0.2-4.3,1.4l-14,27.1
						c-0.3,0.8-0.6,1.5-0.9,2.3c0.3,0.3,0.4,0.7,0.4,1.1c-0.5,3.8-1.4,7.3-2.8,10.8c3.9-1,8.1-0.8,12.1-1.6c0.1,0,0.2,0,0.3-0.1
						c3.9-4,7.9-7.9,11.9-11.7c3.2-3,6.4-5.9,9.7-8.8c0.5-0.8,1-1.5,1.5-2.3C99.4,53.3,100.2,52.4,99.6,51.2"
            />
          </g>
          <g class="st5">
            <path
              d="M63.3,78.8L63.3,78.8c1.4-3.7,2.3-7.3,2.8-10.9c0.1-0.5-0.2-0.8-0.4-1l0,0l0,0c0.3-0.7,0.5-1.3,0.7-2l0.1-0.3l14-27.1
						c0.4-0.8,1.1-1.4,1.9-1.6c0.8-0.3,1.7-0.2,2.5,0.2l2.3,1.1c1.5,1.8,3.2,3.5,4.8,5.1c0.4,0.4,0.9,0.9,1.3,1.3
						c0.3,0.3,0.6,0.7,1,1c2,2,4.2,4.2,5.3,6.7c0.5,1.1-0.1,1.9-0.6,2.8c-0.1,0.1-0.2,0.2-0.2,0.4c-0.5,0.8-1,1.6-1.5,2.3l0,0
						c-3.1,2.7-6.4,5.7-9.7,8.8c-3.8,3.6-7.7,7.4-11.9,11.7l0,0l-0.1,0c-0.1,0-0.1,0-0.2,0c-1.7,0.3-3.5,0.5-5.3,0.6
						C67.9,78,65.6,78.2,63.3,78.8L63.3,78.8z M65.8,66.8c0.3,0.3,0.4,0.7,0.4,1.1c-0.5,3.6-1.4,7.1-2.7,10.7
						c2.2-0.6,4.5-0.8,6.7-0.9c1.7-0.1,3.6-0.3,5.3-0.6c0.1,0,0.1,0,0.2,0l0.1,0c4.2-4.3,8.1-8.1,11.9-11.7c3.3-3.1,6.5-6,9.7-8.8
						c0.5-0.7,1-1.5,1.5-2.3c0.1-0.1,0.2-0.2,0.2-0.4c0.5-0.9,1.1-1.7,0.6-2.7c-1.1-2.5-3.3-4.7-5.3-6.7c-0.3-0.3-0.7-0.7-1-1
						c-0.4-0.4-0.9-0.9-1.3-1.3c-1.6-1.6-3.3-3.3-4.8-5.1l-2.2-1c-0.8-0.4-1.6-0.5-2.4-0.2c-0.8,0.3-1.5,0.8-1.8,1.6l-14,27.1
						l-0.1,0.3C66.3,65.5,66.1,66.1,65.8,66.8z"
            />
          </g>
        </g>
      </g>
      <g class="st3">
        <path
          d="M96.7,47.7L82.9,32.9c-0.2,1.4-0.4,2.7-0.6,4.1l12.1,12.9c0.6,0.6,0.6,1.7-0.1,2.3L63.6,80.7c0,0,0,0,0,0.1
				c-0.8,1.6,1.3,3.1,2.6,1.9l30.2-28.2C98.4,52.7,98.5,49.6,96.7,47.7"
        />
      </g>
      <g class="st3">
        <path
          d="M65.1,85.2c-0.8,0-1.5-0.2-2.2-0.7c-1.5-1.1-1.9-2.9-1.2-4.6l0.2-0.4L92.5,51L80,37.6l0.2-1c0.2-1.3,0.4-2.6,0.6-3.9
				l0.5-4.4l16.8,18.1c2.6,2.8,2.4,7.1-0.3,9.7L67.6,84.2C66.9,84.9,66,85.2,65.1,85.2z"
        />
      </g>
      <g class="st3">
        <path
          d="M28.7,41.1H17.3c-1.7,0-3.1-1.4-3.1-3.1s1.4-3.1,3.1-3.1h11.4c1.7,0,3.1,1.4,3.1,3.1S30.4,41.1,28.7,41.1"
        />
      </g>
      <g class="st3">
        <path
          d="M28.7,41.1H17.3c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h11.4c1.7,0,3.1,1.4,3.1,3.1
				C31.8,39.7,30.4,41.1,28.7,41.1z M17.3,35c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3h11.4c1.7,0,3-1.4,3-3c0-1.7-1.4-3-3-3H17.3z"
        />
      </g>
      <g class="st3">
        <path
          d="M42.3,54.7h-25c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h25c1.7,0,3.1,1.4,3.1,3.1C45.4,53.4,44,54.7,42.3,54.7"
        />
      </g>
      <g class="st3">
        <path
          d="M42.3,54.8h-25c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h25c1.7,0,3.1,1.4,3.1,3.1C45.4,53.4,44,54.8,42.3,54.8z
				 M17.3,48.7c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3h25c1.7,0,3-1.4,3-3c0-1.7-1.4-3-3-3H17.3z"
        />
      </g>
      <g class="st3">
        <path
          d="M42.3,68.1h-25c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h25c1.7,0,3.1,1.4,3.1,3.1C45.4,66.7,44,68.1,42.3,68.1"
        />
      </g>
      <g class="st3">
        <path
          d="M42.3,68.1h-25c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h25c1.7,0,3.1,1.4,3.1,3.1C45.4,66.7,44,68.1,42.3,68.1z
				 M17.3,62c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3h25c1.7,0,3-1.4,3-3c0-1.7-1.4-3-3-3H17.3z"
        />
      </g>
    </g>
  </g>
</template>

<style scoped>
.st0 {
  clip-path: url(#SVGID_2_);
}
.st1 {
  clip-path: url(#SVGID_4_);
}
.st2 {
  clip-path: url(#SVGID_6_);
}
.st3 {
  clip-path: url(#SVGID_4_);
}
.st4 {
  clip-path: url(#SVGID_4_);
}
.st5 {
  clip-path: url(#SVGID_8_);
}
</style>
