<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <path
          d="M52.9,97.3h26.8c3.7,0,6.6-3,6.6-6.6V8.2c-0.4-3.1-3-5.5-6.2-5.5H20c-3.5,0-6.3,2.8-6.3,6.3v82c0,3.5,2.8,6.3,6.3,6.3
				h32.8L52.9,97.3z M17.9,91V9c0-1.2,0.9-2.1,2.1-2.1h60.1c1.2,0,2.1,0.9,2.1,2.1v82c0,1.2-0.9,2.1-2.1,2.1H20
				C18.8,93.1,17.9,92.1,17.9,91z"
        />
        <path
          d="M79.7,100H52.4l-0.1,0H20c-5,0-9-4-9-9V9c0-5,4-9,9-9h60.1c4.5,0,8.3,3.4,8.9,7.8l0,0.3v82.5C89,95.8,84.8,100,79.7,100z
				 M20.6,90.4h58.9V9.6H20.6V90.4z"
        />
      </g>
    </g>
    <g>
      <path
        d="M48.5,44.9H33.6c-2.2,0-4-1.8-4-4v0c0-2.2,1.8-4,4-4h14.9c2.2,0,4,1.8,4,4v0C52.5,43.1,50.7,44.9,48.5,44.9z"
      />
      <path
        d="M48.5,44.9H33.6c-2.2,0-4.1-1.8-4.1-4.1s1.8-4.1,4.1-4.1h14.9c2.2,0,4.1,1.8,4.1,4.1S50.7,44.9,48.5,44.9z M33.6,36.9
			c-2.2,0-4,1.8-4,4s1.8,4,4,4h14.9c2.2,0,4-1.8,4-4s-1.8-4-4-4H33.6z"
      />
    </g>
    <g>
      <path
        d="M66.3,62.7H33.6c-2.2,0-4-1.8-4-4v0c0-2.2,1.8-4,4-4h32.7c2.2,0,4,1.8,4,4v0C70.3,60.9,68.5,62.7,66.3,62.7z"
      />
      <path
        d="M66.3,62.8H33.6c-2.2,0-4.1-1.8-4.1-4.1c0-2.2,1.8-4.1,4.1-4.1h32.7c2.2,0,4.1,1.8,4.1,4.1C70.4,61,68.6,62.8,66.3,62.8z
			 M33.6,54.8c-2.2,0-4,1.8-4,4s1.8,4,4,4h32.7c2.2,0,4-1.8,4-4s-1.8-4-4-4H33.6z"
      />
    </g>
    <g>
      <path
        d="M66.3,80.1H33.6c-2.2,0-4-1.8-4-4v0c0-2.2,1.8-4,4-4h32.7c2.2,0,4,1.8,4,4v0C70.3,78.3,68.5,80.1,66.3,80.1z"
      />
      <path
        d="M66.3,80.2H33.6c-2.2,0-4.1-1.8-4.1-4.1c0-2.2,1.8-4.1,4.1-4.1h32.7c2.2,0,4.1,1.8,4.1,4.1C70.4,78.4,68.6,80.2,66.3,80.2
			z M33.6,72.2c-2.2,0-4,1.8-4,4s1.8,4,4,4h32.7c2.2,0,4-1.8,4-4s-1.8-4-4-4H33.6z"
      />
    </g>
  </g>
</template>
