<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <g>
          <g>
            <path
              d="M39,30.5c0-3.6,1.3-5.8,3.2-7.1c1.9-1.3,4.4-1.6,6.5-1.6c2.2,0,4.7,0.3,6.6,1.6c1.9,1.3,3.2,3.5,3.2,7.1
					c0,0.5-0.3,0.8-1.1,0.8c-0.7,0-1.1-0.2-1.1-0.8c0-4.9-2.4-7.2-7.6-7.2c-5,0-7.6,2.3-7.6,7.2l0,15.5c0,4.9,2.7,7.2,7.6,7.2
					c5.1,0,7.6-2.3,7.6-7.2c0-0.5,0.3-0.8,1.1-0.8c0.7,0,1.1,0.2,1.1,0.8c0,3.7-1.3,5.8-3.2,7.1c-1.9,1.3-4.4,1.7-6.6,1.7
					c-2.2,0-4.6-0.3-6.5-1.7C40.3,51.7,39,49.6,39,46L39,30.5z"
            />
            <path
              d="M48.8,54.8c-2.8,0-5-0.6-6.6-1.7c-2.2-1.5-3.2-3.9-3.2-7.2V30.5c0-3.3,1.1-5.7,3.2-7.2c1.6-1.1,3.8-1.6,6.6-1.6
					c2.8,0,5,0.5,6.7,1.6c2.2,1.4,3.2,3.8,3.2,7.2c0,0.6-0.4,0.9-1.2,0.9s-1.2-0.3-1.2-0.9c0-4.8-2.4-7.1-7.5-7.1
					c-5,0-7.5,2.4-7.5,7.1V46c0,4.7,2.5,7.1,7.5,7.1c5.1,0,7.5-2.3,7.5-7.1c0-0.6,0.4-0.9,1.2-0.9s1.2,0.3,1.2,0.9
					c0,3.3-1.1,5.7-3.2,7.2C53.8,54.3,51.6,54.8,48.8,54.8z M48.8,21.9c-2.7,0-4.9,0.5-6.5,1.6c-2.1,1.4-3.1,3.7-3.1,7V46
					c0,3.2,1,5.5,3.2,7c1.6,1.1,3.7,1.6,6.5,1.6c2.8,0,4.9-0.5,6.5-1.6c2.1-1.5,3.2-3.8,3.2-7c0-0.3-0.1-0.7-1-0.7s-1,0.3-1,0.7
					c0,4.9-2.5,7.3-7.7,7.3c-5.1,0-7.7-2.5-7.7-7.3V30.5c0-4.8,2.6-7.3,7.7-7.3c5.3,0,7.7,2.3,7.7,7.3c0,0.3,0.1,0.7,1,0.7
					s1-0.3,1-0.7c0-3.2-1.1-5.6-3.1-7C53.7,22.4,51.5,21.9,48.8,21.9z"
            />
          </g>
          <g>
            <path
              d="M48.8,57.3c-3.3,0-6-0.7-8-2.1c-2.9-2-4.3-5.1-4.3-9.2l0-15.5c0-5.3,2.4-7.9,4.4-9.3c2-1.4,4.7-2.1,8-2.1
					c3.3,0,6,0.7,8.1,2.1c2,1.3,4.4,4,4.4,9.3c0,1.6-1.2,3.4-3.7,3.4c-2.5,0-3.7-1.8-3.7-3.4c0-3.8-1.8-4.6-5-4.6
					c-3.1,0-5,0.8-5,4.6l0,15.5c0,3.8,2,4.6,5,4.6c3.2,0,5-0.8,5-4.6c0-1.6,1.2-3.4,3.7-3.4c2.5,0,3.7,1.8,3.7,3.4
					c0,4.1-1.5,7.2-4.3,9.2C54.8,56.6,52.1,57.3,48.8,57.3z"
            />
            <path
              d="M48.8,57.4c-3.3,0-6-0.7-8.1-2.1c-2.9-2-4.4-5.1-4.4-9.3V30.5c0-5.3,2.4-8,4.4-9.4c2.1-1.4,4.8-2.1,8-2.1
					c3.4,0,6,0.7,8.1,2.1c2,1.3,4.4,4.1,4.4,9.4c0,1.7-1.2,3.5-3.8,3.5c-2.6,0-3.8-1.8-3.8-3.5c0-3.7-1.7-4.5-4.9-4.5
					c-4.1,0-4.9,1.7-4.9,4.5V46c0,3.7,2,4.5,4.9,4.5c4.1,0,4.9-1.7,4.9-4.5c0-1.7,1.2-3.5,3.8-3.5s3.8,1.8,3.8,3.5
					c0,4.2-1.5,7.3-4.4,9.3C54.8,56.7,52.2,57.4,48.8,57.4z M48.8,19.3c-3.2,0-5.9,0.7-7.9,2c-2,1.3-4.3,4-4.3,9.2V46
					c0,4.1,1.4,7.2,4.3,9.1c2,1.4,4.7,2.1,8,2.1c3.4,0,6-0.7,8-2.1c2.8-2,4.3-5,4.3-9.1c0-1.6-1.1-3.3-3.6-3.3
					c-2.5,0-3.6,1.7-3.6,3.3c0,3.9-1.9,4.7-5.1,4.7c-3.1,0-5.1-0.8-5.1-4.7V30.5c0-3.9,2-4.7,5.1-4.7c3.3,0,5.1,0.7,5.1,4.7
					c0,1.6,1.1,3.3,3.6,3.3c2.5,0,3.6-1.7,3.6-3.3c0-5.2-2.3-7.9-4.3-9.2C54.7,19.9,52.1,19.3,48.8,19.3z"
            />
          </g>
        </g>
      </g>
      <g>
        <g>
          <path
            d="M88.2,99.3c-1,0-2-0.4-2.7-1.1L63.9,76.5H23.2C14.8,76.5,8,69.7,8,61.4V15.9C8,7.5,14.8,0.7,23.2,0.7h53.6
				C85.2,0.7,92,7.5,92,15.9v79.6C92,97.6,90.3,99.3,88.2,99.3z M23.2,8.3c-4.2,0-7.6,3.4-7.6,7.6v45.5c0,4.2,3.4,7.6,7.6,7.6h42.2
				c1,0,2,0.4,2.7,1.1l16.3,16.3V15.9c0-4.2-3.4-7.6-7.6-7.6H23.2z"
          />
        </g>
        <g>
          <path
            d="M88.2,100C88.2,100,88.2,100,88.2,100c-1.2,0-2.3-0.5-3.2-1.3L63.6,77.3H23.2c-8.8,0-15.9-7.1-15.9-15.9V15.9
				C7.3,7.1,14.4,0,23.2,0h53.6c8.8,0,15.9,7.1,15.9,15.9v79.6C92.7,98,90.7,100,88.2,100z M23.2,1.5c-8,0-14.4,6.5-14.4,14.4v45.5
				c0,8,6.5,14.4,14.4,14.4h41l0.2,0.2L86,97.7c0.6,0.6,1.3,0.9,2.2,0.9c0,0,0,0,0,0h0c1.7,0,3.1-1.4,3.1-3.1V15.9
				c0-8-6.5-14.4-14.4-14.4H23.2z M85.1,88.1L67.6,70.6c-0.6-0.6-1.3-0.9-2.2-0.9c0,0,0,0,0,0H23.2c-4.6,0-8.3-3.7-8.3-8.3V15.9
				c0-4.6,3.7-8.3,8.3-8.3h53.6c4.6,0,8.3,3.7,8.3,8.3V88.1z M65.4,68.2c1.2,0,2.3,0.5,3.2,1.3l15,15V15.9c0-3.8-3.1-6.9-6.9-6.9
				H23.2c-3.8,0-6.9,3.1-6.9,6.9v45.5c0,3.8,3.1,6.9,6.9,6.9H65.4C65.4,68.2,65.4,68.2,65.4,68.2z"
          />
        </g>
      </g>
    </g>
    <path
      class="st0"
      opacity="0.3"
      d="M12.2,6.5v59.7c2.6,0.5,5.2,1.2,7.7,2.2c3.5,1.4,6.8,2.7,10.5,3.5c7.9,1.7,16.1,1.9,24.2,1.9
	c6,0,12.5,0.1,17.3,4.3c2.6,2.2,3.8,5.2,6,7.7c2.2,2.5,4.8,4.3,6.8,7c0.2,0.3,0.3,0.6,0.5,0.9h2.7v-87H12.2z"
    />
  </g>
</template>
