<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <defs>
        <rect id="SVGID_1_" x="0" y="0" width="100" height="100" />
      </defs>
      <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" style="overflow:visible;" />
      </clipPath>
      <path
        class="st0"
        d="M67,27.6h11.4c2.5,0,4.5-2,4.5-4.5c0-2.5-2-4.5-4.5-4.5H67c-2.5,0-4.5,2-4.5,4.5C62.5,25.6,64.5,27.6,67,27.6"
      />
      <path
        class="st0"
        d="M78.4,36.8H67c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5h11.4c2.5,0,4.5-2,4.5-4.5
		C82.9,38.8,80.9,36.8,78.4,36.8"
      />
      <path
        class="st0"
        d="M21.6,27.6h11.4c2.5,0,4.5-2,4.5-4.5c0-2.5-2-4.5-4.5-4.5H21.6c-2.5,0-4.5,2-4.5,4.5
		C17,25.6,19.1,27.6,21.6,27.6"
      />
      <path
        class="st0"
        d="M21.6,45.9h11.4c2.5,0,4.5-2,4.5-4.5c0-2.5-2-4.5-4.5-4.5H21.6c-2.5,0-4.5,2-4.5,4.5
		C17,43.8,19.1,45.9,21.6,45.9"
      />
      <path
        class="st0"
        d="M89.4,0L89.4,0L89.4,0H68.2c-6.2,0-11.8,2.3-16,6.2C51.4,7,50.7,7.8,50,8.7c-0.7-0.9-1.4-1.8-2.2-2.5
		C43.6,2.3,38,0,31.8,0H10.6l0,0C4.7,0,0,4.8,0,10.6l0,0V72l0,0c0,5.8,4.7,10.5,10.5,10.6l0.1,0h19.7c3.9,6.8,11.2,11.5,19.7,11.5
		c4.7,0,9-1.4,12.6-3.8l8.3,8.3c1.8,1.8,4.7,1.8,6.4,0c1.8-1.8,1.8-4.6,0-6.4L69,83.9l0.7-1.3h19.7l0.1,0c5.8,0,10.5-4.7,10.5-10.5
		l0-0.1V10.6C100,4.8,95.3,0,89.4,0 M10.6,73.5L10.6,73.5c-0.9,0-1.5-0.7-1.5-1.5l0,0V10.6l0,0c0-0.8,0.7-1.5,1.5-1.5h0h21.2
		c3.9,0,7.3,1.5,9.8,3.7c2.5,2.3,3.9,5.3,3.9,8.7l0,0v0V49c-4.5,0.9-8.5,3.1-11.6,6.2L32.9,55H21.6c-2.5,0-4.5,2-4.5,4.5
		c0,2.5,2,4.5,4.5,4.5h6.9c-0.8,2.3-1.3,4.7-1.3,7.2c0,0.8,0.2,1.5,0.2,2.2H10.6z M36.3,71.3c0-7.6,6.1-13.7,13.7-13.7l0.1,0l0.1,0
		c7.6,0,13.7,6.2,13.7,13.7C63.7,78.9,57.6,85,50,85C42.4,85,36.3,78.9,36.3,71.3 M72.8,71.3c0-2.5-0.5-4.9-1.3-7.2h6.9
		c2.5,0,4.5-2,4.5-4.5s-2-4.5-4.5-4.5H67l-0.9,0.2C63,52.1,59,49.9,54.5,49V21.6l0,0c0-3.4,1.4-6.4,3.9-8.7c2.4-2.3,5.9-3.7,9.8-3.7
		h21.2h0c0.8,0,1.5,0.7,1.5,1.5V72l0,0c0,0.8-0.7,1.5-1.5,1.5l0,0H72.6C72.7,72.8,72.8,72.1,72.8,71.3"
      />
    </g>
    <path class="st1" opacity="0.3" d="M47,55.9V6.2H5.4v70.6h29.7C31.3,68.4,35.2,56.2,47,55.9z" />
    <path class="st1" opacity="0.3" d="M53.8,6.2v49.7c12,0.1,16,12.5,12.1,20.9h29.4V6.2H53.8z" />
  </g>
</template>
