
<script>
export default {
  name: 'IconContents'
}
</script>

<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <path
          d="M96.1,71.7c2.2,0,3.9-1.7,3.9-3.9V4.9c0-1.2-0.6-2.4-1.6-3.1c-1-0.7-2.2-1-3.4-0.6c-4.5,1.3-10.3,0.9-17.6,0.5
				C72.9,1.3,67.7,1,61.7,1C57.1,1,52.9,3,50,6.3C47.1,3,42.9,1,38.3,1c-6,0-11.1,0.3-15.7,0.6C15.3,2.1,9.5,2.4,5,1.1
				C3.8,0.8,2.5,1,1.6,1.8C0.6,2.5,0,3.7,0,4.9v74.6c0,4.2,1.6,8.1,4.6,11.1c3,3,6.9,4.6,11.1,4.6h30.5c0,2.2,1.7,3.9,3.9,3.9
				c2.2,0,3.9-1.7,3.9-3.9h30.5c8.6,0,15.6-7,15.6-15.6V63.9c0-2.2-1.7-3.9-3.9-3.9s-3.9,1.7-3.9,3.9c0,4.3-3.5,7.8-7.8,7.8H55.9
				c-0.7,0-1.3,0.1-2,0.2V16.6c0-4.3,3.5-7.8,7.8-7.8c5.7,0,10.8,0.3,15.2,0.6c5.8,0.4,10.8,0.7,15.3,0.2v58.2
				C92.2,69.9,93.9,71.7,96.1,71.7z M46.1,87.3H15.6c-2.1,0-4.1-0.8-5.5-2.3s-2.3-3.4-2.3-5.5v-2.1c2.3,1.3,5,2.1,7.8,2.1h28.5
				c1.1,0,2,0.9,2,2V87.3z M46.1,71.9c-0.6-0.1-1.3-0.2-2-0.2H15.6c-4.3,0-7.8-3.5-7.8-7.8V9.6c4.5,0.5,9.4,0.2,15.3-0.2
				c4.5-0.3,9.5-0.6,15.2-0.6c4.3,0,7.8,3.5,7.8,7.8V71.9z M55.9,79.5h28.5c2.8,0,5.5-0.8,7.8-2.1v2.1c0,4.3-3.5,7.8-7.8,7.8H53.9
				v-5.9C53.9,80.4,54.8,79.5,55.9,79.5z"
        />
      </g>
    </g>
    <g>
      <path
        d="M67.9,34.4h9.6c2.2,0,3.9-1.7,3.9-3.9v0c0-2.2-1.7-3.9-3.9-3.9h-9.6c-2.2,0-3.9,1.7-3.9,3.9v0
			C64,32.6,65.7,34.4,67.9,34.4z"
      />
      <path
        d="M67.9,55.9h10c2.2,0,3.9-1.7,3.9-3.9v0c0-2.2-1.7-3.9-3.9-3.9h-10C65.7,48,64,49.8,64,52v0C64,54.1,65.7,55.9,67.9,55.9z"
      />
    </g>
    <g>
      <path
        d="M21.8,34.4h9.6c2.2,0,3.9-1.7,3.9-3.9v0c0-2.2-1.7-3.9-3.9-3.9h-9.6c-2.2,0-3.9,1.7-3.9,3.9v0
			C17.9,32.6,19.6,34.4,21.8,34.4z"
      />
      <path
        d="M21.8,55.9h10c2.2,0,3.9-1.7,3.9-3.9v0c0-2.2-1.7-3.9-3.9-3.9h-10c-2.2,0-3.9,1.7-3.9,3.9v0
			C17.9,54.1,19.6,55.9,21.8,55.9z"
      />
    </g>
  </g>
</template>
