<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M54.6,20c0-1.2-0.6-2.4-1.5-3.2c-0.9-0.8-2.1-1.3-3.3-1.2l-0.1,0H31.9V5.1c0-2.6-2.1-4.6-4.6-4.6c-2.6,0-4.6,2.1-4.6,4.6
	v10.4h-18c-2.6,0-4.6,2.1-4.6,4.6c0,2.6,2.1,4.6,4.6,4.6h33.8L36.4,29c-2,4-4.2,7.8-6.8,11.4l-2.4,3.3l-2.4-3.3
	c-1.7-2.4-3.1-4.5-4.3-6.5C20,32.8,19,32,17.8,31.7c-1.2-0.3-2.4-0.2-3.5,0.5c-1.1,0.6-1.8,1.6-2.2,2.8c-0.3,1.2-0.2,2.4,0.5,3.5
	c2,3.4,4.2,6.6,6.6,9.7l1.7,2.2l-2.1,1.8c-3.5,3-7.5,5.6-11.6,7.7C4.8,61,3.9,63.8,5,66.1c0.8,1.6,2.4,2.6,4.1,2.6l0,0
	c0.7,0,1.4-0.2,2-0.5l0,0c5.1-2.5,9.8-5.7,14.1-9.4l1.9-1.6l1.9,1.7c4.3,3.7,9.1,6.9,14.2,9.5l0,0c0.6,0.3,1.3,0.5,2,0.5
	c1.2,0,2.4-0.5,3.3-1.4c0.9-0.9,1.4-2,1.4-3.3c0-1.8-1-3.3-2.6-4.1c-4.3-2.1-8.3-4.6-11.9-7.7l-2.1-1.8l1.7-2.2
	c5.1-6.6,9.3-13.9,12.5-21.6l0.7-1.7l1.9-0.1c1.2,0,2.4-0.6,3.2-1.5C54.2,22.4,54.6,21.3,54.6,20"
    />
    <path
      d="M68.5,40.3L49.7,84l-3.8,8.9c-0.5,1.2-0.5,2.4-0.1,3.6c0.5,1.2,1.3,2.1,2.5,2.5c1.1,0.5,2.4,0.5,3.6,0
	c1.2-0.5,2.1-1.3,2.5-2.5l2.7-6.2h31.3l2.7,6.3c0.7,1.7,2.4,2.8,4.3,2.9c2.6,0,4.6-2.1,4.6-4.6c0-0.6-0.1-1.3-0.4-1.8l-4-9.3
	L77,40.3c-1-2.4-3.7-3.5-6.1-2.5C69.8,38.3,69,39.2,68.5,40.3 M72.8,54l11.7,27.3l-23.4-0.1L72.8,54z"
    />
  </g>
</template>
