<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M86.3,0H13.7C7.2,0,1.9,5.3,1.9,11.8v76.5c0,6.5,5.3,11.8,11.8,11.8h72.6c6.5,0,11.8-5.3,11.8-11.8V11.8
		C98.1,5.3,92.8,0,86.3,0z M9.6,38.5h36.5v23.1H9.6V38.5z M53.8,38.5h36.5v23.1H53.8V38.5z M46.2,30.8H9.6V12.8
		c0-2.8,2.3-5.1,5.1-5.1h31.4h7.7h31.4c2.8,0,5.1,2.3,5.1,5.1v17.9H53.8H46.2z M9.6,69.2h36.5v23.1H14.7c-2.8,0-5.1-2.3-5.1-5.1
		V69.2z M53.8,92.3V69.2h36.5v17.9c0,2.8-2.3,5.1-5.1,5.1H53.8z"
    />
  </g>
</template>
