<template>
  <!-- eslint-disable -->
  <g>
	<path d="M94.1,46H48.4c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3h45.6c2.9,0,5.3-2.4,5.3-5.3C99.4,48.4,97,46,94.1,46"/>
	<path d="M94.1,8.7H48.4c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3h45.6c2.9,0,5.3-2.4,5.3-5.3C99.4,11.1,97,8.7,94.1,8.7"/>
	<path d="M94.1,83.1H48.4c-2.9,0-5.3,2.4-5.3,5.3s2.4,5.3,5.3,5.3h45.6c2.9,0,5.3-2.4,5.3-5.3S97,83.1,94.1,83.1"/>
	<path d="M28,0c-1.4,0.1-2.7,0.6-3.6,1.7l0,0L13.3,12.8L9.7,9.2c-1-1-2.4-1.5-3.8-1.5c-1.4,0-2.8,0.5-3.8,1.5
		c-2.1,2.1-2.1,5.5,0,7.6l7.5,7.5c1,1,2.3,1.5,3.8,1.5s2.8-0.5,3.8-1.5L32.3,9.3c2-2,2.1-5.5,0-7.6C31.1,0.6,29.5-0.1,28,0"/>
	<path d="M13.3,49.8l-3.5-3.5c-1-1-2.4-1.5-3.8-1.5c-1.4,0-2.8,0.5-3.8,1.5c-2.1,2.1-2.1,5.5,0,7.6l7.5,7.5c1,1,2.3,1.5,3.8,1.5
		c1.4,0,2.8-0.5,3.8-1.5l15.1-15.1c2-2,2.1-5.5,0-7.5c-2.4-2.1-6-2.1-8,0L13.3,49.8z"/>
	<path d="M13.3,86.9l-3.5-3.5c-1-1-2.4-1.5-3.8-1.5s-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.8s0.5,2.8,1.5,3.8l7.5,7.5
		c1,1,2.3,1.5,3.8,1.5c1.4,0,2.8-0.5,3.8-1.5l15.1-15.1c1-1,1.5-2.3,1.5-3.8c0-1.4-0.5-2.8-1.5-3.8c-2.4-2.1-6-2.1-8,0L13.3,86.9z"
		/>
</g>
</template>
