<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M48.8,10.2h-1.3c-3,0-5.4,2.4-5.4,5.4c0,2.9,2.4,5.2,5.3,5.2h1.4c2.9,0,5.3-2.4,5.3-5.3v0C54.1,12.6,51.7,10.2,48.8,10.2z"
    />
    <path
      d="M94.6,10.2l-30,0c-2.9,0-5.3,2.4-5.3,5.3v0c0,2.9,2.4,5.3,5.3,5.3h30.2c2.9,0,5.2-2.3,5.3-5.2
		C100,12.6,97.6,10.2,94.6,10.2z"
    />
    <path
      d="M27.1,1.5c-1.4,0.1-2.6,0.6-3.6,1.6l0,0l-11,11L9,10.7c-1-1-2.4-1.5-3.7-1.5c-1.4,0-2.7,0.5-3.7,1.5c-2,2-2,5.5,0,7.5
		L9,25.7c1,1,2.3,1.5,3.7,1.5c1.4,0,2.8-0.5,3.7-1.5l14.9-14.9c2-2,2-5.5,0-7.5C30.2,2.1,28.7,1.5,27.1,1.5z"
    />
    <g>
      <path
        d="M23.6,98.5c2.5,0,4.6-2,4.6-4.6l0-18.3c0-2.5-2-4.6-4.6-4.6l-18.3,0c-2.5,0-4.6,2-4.6,4.6l0,18.3c0,2.5,2,4.6,4.6,4.6
			L23.6,98.5z M9.9,80.2l9.1,0v9.1l-9.1,0L9.9,80.2z"
      />
      <g>
        <path
          d="M0.7,59.1c0,2.5,2.1,4.6,4.6,4.6h18.4c2.5,0,4.6-2.1,4.6-4.6V40.8c0-2.5-2.1-4.6-4.6-4.6H5.3c-2.5,0-4.6,2.1-4.6,4.6
				V59.1z M9.9,45.4H19v9.2H9.9V45.4z"
        />
      </g>
    </g>
    <path
      d="M48.8,45h-1.3c-3,0-5.4,2.4-5.4,5.4c0,2.9,2.4,5.2,5.3,5.2h1.4c2.9,0,5.3-2.4,5.3-5.3v0C54.1,47.3,51.7,45,48.8,45z"
    />
    <path
      d="M94.6,45h-30c-2.9,0-5.3,2.4-5.3,5.3v0c0,2.9,2.4,5.3,5.3,5.3h30.2c2.9,0,5.2-2.3,5.3-5.2C100,47.4,97.6,45,94.6,45z"
    />
    <path
      d="M48.8,79.6h-1.3c-3,0-5.4,2.4-5.4,5.4c0,2.9,2.4,5.2,5.3,5.2h1.4c2.9,0,5.3-2.4,5.3-5.3v0C54.1,81.9,51.7,79.6,48.8,79.6z"
    />
    <path
      d="M94.6,79.6h-30c-2.9,0-5.3,2.4-5.3,5.3v0c0,2.9,2.4,5.3,5.3,5.3h30.2c2.9,0,5.2-2.3,5.3-5.2C100,82,97.6,79.6,94.6,79.6z"
    />
  </g>
</template>
