<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <path
        d="M81,74.3L81,74.3c-1.8,0-3.3,1.5-3.3,3.3V86c-0.1,3.2-2.8,5.9-6.2,5.9H25.4c-3.3,0-6-2.7-6-6V75.4c0-1.8-1.5-3.3-3.3-3.3
			H16c-1.8,0-3.3,1.5-3.3,3.3v10.5c0,7,5.7,12.7,12.7,12.7h46.1c7,0,12.7-5.7,12.7-12.7v-8.3C84.3,75.7,82.8,74.3,81,74.3z"
      />
      <path
        d="M71.5,100H25.4c-7.8,0-14.1-6.3-14.1-14.1V75.4c0-2.6,2.1-4.7,4.7-4.7h0.1c2.6,0,4.7,2.1,4.7,4.7v10.5
			c0,2.6,2.1,4.7,4.7,4.7h46.1c2.5,0,4.7-2.1,4.8-4.6v-8.4c0-2.6,2.1-4.7,4.7-4.7s4.7,2.1,4.7,4.7v8.3C85.7,93.7,79.3,100,71.5,100z
			 M16,73.5c-1,0-1.9,0.9-1.9,1.9v10.5c0,6.3,5.1,11.3,11.3,11.3h46.1c6.3,0,11.3-5.1,11.3-11.3v-8.3c0-1-0.9-1.9-1.9-1.9
			c-1,0-1.9,0.9-1.9,1.9l0,8.5c-0.1,4-3.5,7.3-7.5,7.3H25.4c-4.1,0-7.4-3.3-7.4-7.4V75.4c0-1-0.9-1.9-1.9-1.9H16z"
      />
    </g>
    <g>
      <path
        d="M16,38.4h0.1c1.8,0,3.3-1.5,3.3-3.3v-21c0-1.6,0.6-3.2,1.8-4.2c1.2-1.2,2.7-1.8,4.2-1.8l31.3,0.1v13.9
			c0,3.9,3.2,7.1,7.1,7.1h13.9v5.9c0,1.8,1.5,3.3,3.3,3.3l0,0c1.8,0,3.3-1.5,3.3-3.3V25c0-3.3-1.4-6.6-3.7-8.9L69.6,5.2
			c-2.4-2.4-5.6-3.7-9-3.7L25.4,1.4c-3.4,0-6.6,1.3-9,3.7s-3.7,5.6-3.7,9v21C12.7,36.9,14.2,38.4,16,38.4z M63.4,8.8
			c0.5,0.3,1.2,0.6,1.6,1.2l10.9,10.8c0.4,0.4,0.8,1.1,1.2,1.6H63.8c-0.2,0-0.4-0.2-0.4-0.4V8.8z"
      />
      <path
        d="M81,39.8c-2.6,0-4.7-2.1-4.7-4.7v-4.5H63.8c-4.7,0-8.5-3.8-8.5-8.5V9.6L25.4,9.5c-1.2,0-2.3,0.5-3.3,1.4l0,0
			c-0.8,0.8-1.3,2-1.3,3.2v21c0,2.6-2.1,4.7-4.7,4.7H16c-2.6,0-4.7-2.1-4.7-4.7v-21c0-3.8,1.5-7.3,4.1-10S21.6,0,25.4,0l35.2,0.1
			c3.8,0,7.3,1.5,10,4.1l10.9,10.9c2.6,2.6,4.1,6.2,4.1,9.9v10C85.7,37.7,83.6,39.8,81,39.8z M25.4,6.7l32.6,0.1v15.3
			c0,3.2,2.6,5.7,5.7,5.7h15.3v7.3c0,1,0.9,1.9,1.9,1.9c1,0,1.9-0.9,1.9-1.9V25c0-2.9-1.2-5.9-3.3-7.9L68.7,6.2
			c-2.2-2.2-4.9-3.3-8-3.3L25.4,2.8c-3.1,0-5.9,1.1-8,3.3s-3.3,4.9-3.3,8v21c0,1,0.9,1.9,1.9,1.9h0.1c1,0,1.9-0.9,1.9-1.9v-21
			c0-2,0.8-3.9,2.2-5.2C21.7,7.5,23.5,6.7,25.4,6.7z M79.5,23.8H63.8c-1,0-1.8-0.8-1.8-1.8V6.4l2.1,1.3c0.1,0,0.2,0.1,0.2,0.1
			C64.8,8.1,65.5,8.4,66,9l10.9,10.8c0.4,0.4,0.9,1.1,1.4,1.9L79.5,23.8z M64.8,21h9.4l-9.4-9.3V21z"
      />
    </g>
    <g>
      <path
        d="M87.8,49.1h-2.3c-2.8-6.2-8.9-10.2-15.8-10.2c-7.1,0-13.4,4.3-16.1,10.9c-2.6-0.7-5-0.4-6.8,0c-2.6-6.6-9-10.9-16.1-10.9
			c-6.9,0-13,4-15.8,10.2h-2.8c-2.2,0-4,1.8-4,4v0c0,2.2,1.8,4,4,4h1.3c0.4,9.2,8,16.5,17.3,16.5c9.6,0,17.3-7.8,17.3-17.3
			c1-0.3,2.6-0.7,4.3,0c0,0,0,0,0,0c0,9.6,7.8,17.3,17.3,17.3C79,73.5,86.6,66.2,87,57h0.8c2.2,0,4-1.8,4-4
			C91.8,50.9,90,49.1,87.8,49.1z M30.8,67c-6,0-10.8-4.9-10.8-10.8c0-6,4.9-10.8,10.8-10.8s10.8,4.9,10.8,10.8
			C41.6,62.2,36.7,67,30.8,67z M69.7,67c-6,0-10.8-4.9-10.8-10.8c0-6,4.9-10.8,10.8-10.8c6,0,10.8,4.9,10.8,10.8
			C80.6,62.2,75.7,67,69.7,67z"
      />
      <path
        d="M69.7,74.9c-10,0-18.1-7.8-18.7-17.7c-0.6-0.1-1.1-0.1-1.6,0c-0.6,9.8-8.7,17.6-18.7,17.6c-9.6,0-17.5-7.1-18.6-16.5
			c-2.9,0-5.3-2.4-5.3-5.4c0-3,2.4-5.4,5.4-5.4h1.9c3.2-6.2,9.6-10.2,16.7-10.2c3.8,0,7.4,1.1,10.5,3.2c2.8,1.9,5,4.5,6.4,7.5
			c1.7-0.3,3.5-0.3,5.2,0c1.4-3,3.6-5.6,6.4-7.4c3.1-2.1,6.7-3.2,10.5-3.2c7.1,0,13.5,4,16.7,10.2h1.4c3,0,5.4,2.4,5.4,5.4
			c0,2.8-2.1,5.1-4.8,5.3C87.2,67.7,79.3,74.9,69.7,74.9z M50.3,54.4c0.8,0,1.6,0.1,2.5,0.5l0.9,0.3l0,1c0,8.8,7.2,15.9,15.9,15.9
			c8.5,0,15.5-6.7,15.9-15.2l0.1-1.3h2.1c1.4,0,2.6-1.2,2.6-2.6c0-1.4-1.2-2.6-2.6-2.6h-3.2l-0.4-0.8c-2.6-5.7-8.3-9.4-14.5-9.4
			c-6.5,0-12.3,3.9-14.8,10l-0.5,1.2l-1.2-0.3c-1.9-0.5-4-0.5-6,0L46,51.5l-0.5-1.2c-2.4-6.1-8.2-10.1-14.8-10.1
			c-6.3,0-12,3.7-14.5,9.4l-0.4,0.8h-3.7c-1.4,0-2.6,1.2-2.6,2.6c0,1.4,1.2,2.6,2.6,2.6h2.6l0.1,1.3c0.4,8.5,7.4,15.2,15.9,15.2
			c8.8,0,15.9-7.1,15.9-15.9l0-1l0.9-0.3C48.3,54.6,49.3,54.4,50.3,54.4z M69.7,68.4c-6.7,0-12.2-5.5-12.2-12.2
			C57.5,49.4,63,44,69.7,44c6.7,0,12.2,5.5,12.2,12.2C81.9,62.9,76.5,68.4,69.7,68.4z M69.7,46.7c-5.2,0-9.5,4.2-9.5,9.5
			c0,5.2,4.2,9.5,9.5,9.5c5.2,0,9.5-4.2,9.5-9.5C79.2,51,74.9,46.7,69.7,46.7z M30.8,68.4c-6.7,0-12.2-5.5-12.2-12.2
			C18.5,49.4,24,44,30.8,44S43,49.4,43,56.2C43,62.9,37.5,68.4,30.8,68.4z M30.8,46.7c-5.2,0-9.5,4.2-9.5,9.5c0,5.2,4.2,9.5,9.5,9.5
			s9.5-4.2,9.5-9.5C40.2,51,36,46.7,30.8,46.7z"
      />
    </g>
  </g>
</template>
