<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <path
        d="M87.7,16.6H58.5c-2.2,0-4,1.8-4,4v11.1c0,1.5,0.9,2.9,2.2,3.6c0,0,0.2,0.1,0.4,0.3c0.5,0.3,0.9,0.7,1.3,1.1
			c1.1,1.1,1.6,2.2,1.6,3.4c0,1.2-0.5,2.3-1.6,3.4c-0.4,0.4-0.8,0.7-1.3,1.1c-0.2,0.2-0.4,0.3-0.4,0.3c-1.4,0.7-2.2,2.1-2.2,3.6
			l0,5.7l-3.5,0c-0.4-0.4-0.9-1.1-1.4-1.6c-2.6-2.6-5.7-4-9.1-4c-3.4,0-6.5,1.3-9.1,4c-0.7,0.7-1.1,1.2-1.4,1.6H21
			c-1.9,0-3.6,1.4-4,3.2c-0.1,0.3-0.1,0.5-0.1,0.8v29.2c0,6.8,5.6,12.4,12.4,12.4h58.4c6.8,0,12.4-5.6,12.4-12.4V29
			C100.1,22.2,94.6,16.6,87.7,16.6z M60.3,81c0,0-0.2-0.1-0.4-0.3c-0.5-0.3-0.9-0.7-1.3-1.1c-1.1-1.1-1.6-2.2-1.6-3.4
			c0-1.2,0.5-2.3,1.6-3.4c0.4-0.4,0.8-0.7,1.3-1.1c0.2-0.2,0.4-0.3,0.4-0.3c1.4-0.7,2.2-2.1,2.2-3.6l0-5.7l3.5,0
			c0.4,0.4,0.9,1.1,1.4,1.6c2.6,2.6,5.7,4,9.1,4c3.4,0,6.5-1.3,9.1-4c0.7-0.7,1.1-1.2,1.4-1.6H92v25.2c0,2.4-1.9,4.3-4.3,4.3H62.6
			v-7.1C62.6,83.1,61.7,81.7,60.3,81z M81.3,56.4c0,0-0.1,0.2-0.3,0.4c-0.3,0.5-0.7,0.9-1.1,1.3c-1.1,1.1-2.2,1.6-3.4,1.6
			c-1.2,0-2.3-0.5-3.4-1.6c-0.4-0.4-0.7-0.8-1.1-1.3c-0.2-0.2-0.3-0.4-0.3-0.4c-0.7-1.4-2.1-2.2-3.6-2.2l-5.7,0l0-3.5
			c0.4-0.4,1.1-0.9,1.6-1.4c2.6-2.6,4-5.7,4-9.1s-1.3-6.5-4-9.1c-0.7-0.7-1.2-1.1-1.6-1.4v-4.9h25.2c2.4,0,4.3,1.9,4.3,4.3v25.2
			h-7.1C83.4,54.2,82,55,81.3,56.4z M48.8,62.2l5.7,0l0,3.5c-0.5,0.4-1.2,1-1.6,1.4c-2.6,2.6-4,5.7-4,9.1c0,3.4,1.3,6.5,4,9.1
			c0.7,0.7,1.2,1.1,1.6,1.4v4.9H29.3c-2.4,0-4.3-1.9-4.3-4.3V62.2h7.1c1.5,0,2.9-0.9,3.6-2.2c0,0,0.1-0.2,0.3-0.4
			c0.3-0.5,0.7-0.9,1.1-1.3c1.1-1.1,2.2-1.6,3.4-1.6c1.2,0,2.3,0.5,3.4,1.6c0.4,0.4,0.7,0.8,1.1,1.3c0.2,0.2,0.3,0.4,0.3,0.4
			C45.9,61.4,47.2,62.2,48.8,62.2z"
      />
      <path
        d="M87.7,100H29.3c-6.9,0-12.6-5.6-12.6-12.6V58.2c0-0.3,0-0.6,0.1-0.9c0.4-2,2.1-3.4,4.1-3.4h8.8c0.3-0.3,0.7-0.9,1.4-1.5
			c2.7-2.7,5.8-4,9.3-4c3.5,0,6.6,1.4,9.3,4c0.4,0.4,1,1.1,1.3,1.5l3.3,0l0-5.5c0-1.6,0.9-3.1,2.3-3.8c0,0,0.2-0.1,0.4-0.3
			c0.5-0.3,0.9-0.7,1.3-1c1-1,1.5-2.1,1.5-3.3c0-1.2-0.5-2.2-1.5-3.3c-0.4-0.4-0.8-0.7-1.3-1c-0.2-0.2-0.4-0.2-0.4-0.3
			c-1.4-0.7-2.3-2.2-2.3-3.8V20.6c0-2.3,1.9-4.2,4.2-4.2h29.2c6.9,0,12.6,5.6,12.6,12.6v58.4C100.3,94.4,94.7,100,87.7,100z
			 M21,54.4c-1.8,0-3.4,1.3-3.8,3.1c-0.1,0.3-0.1,0.5-0.1,0.8v29.2c0,6.7,5.5,12.2,12.2,12.2h58.4c6.7,0,12.2-5.5,12.2-12.2V29
			c0-6.7-5.5-12.2-12.2-12.2H58.5c-2.1,0-3.8,1.7-3.8,3.8v11.1c0,1.5,0.8,2.8,2.1,3.4c0,0,0.2,0.1,0.5,0.3c0.5,0.3,0.9,0.7,1.3,1.1
			c1.1,1.1,1.7,2.3,1.7,3.5c0,1.3-0.5,2.4-1.7,3.5c-0.4,0.4-0.8,0.8-1.3,1.1C57,44.9,56.8,45,56.8,45c-1.3,0.7-2.1,2-2.1,3.4l0,5.9
			l-3.8,0l-0.1-0.1c-0.3-0.4-0.9-1.1-1.4-1.6c-2.6-2.6-5.6-3.9-9-3.9c-3.4,0-6.4,1.3-9,3.9c-0.7,0.7-1.2,1.2-1.4,1.6L30,54.4H21z
			 M87.7,91.9H62.4v-7.3c0-1.5-0.8-2.8-2.1-3.4l0,0c0,0-0.2-0.1-0.5-0.3c-0.5-0.3-0.9-0.7-1.3-1.1c-1.1-1.1-1.7-2.3-1.7-3.5
			c0-1.3,0.5-2.4,1.7-3.5c0.4-0.4,0.8-0.8,1.3-1.1c0.3-0.2,0.4-0.3,0.5-0.3c1.3-0.7,2.1-2,2.1-3.4l0-5.9l3.8,0l0.1,0.1
			c0.3,0.4,0.9,1.1,1.4,1.6c2.6,2.6,5.6,3.9,9,3.9c3.4,0,6.4-1.3,9-3.9c0.7-0.7,1.2-1.2,1.4-1.6l0.1-0.1h5.2v25.4
			C92.2,89.9,90.2,91.9,87.7,91.9z M62.7,91.5h25c2.3,0,4.1-1.8,4.1-4.1v-25h-4.6c-0.3,0.3-0.7,0.9-1.4,1.5c-2.7,2.7-5.8,4-9.3,4
			c-3.5,0-6.6-1.4-9.3-4c-0.4-0.4-1-1.1-1.3-1.5l-3.3,0l0,5.5c0,1.6-0.9,3.1-2.3,3.8c0,0-0.2,0.1-0.4,0.3c-0.5,0.3-0.9,0.7-1.3,1
			c-1,1-1.5,2.1-1.5,3.3c0,1.2,0.5,2.2,1.5,3.3c0.4,0.4,0.8,0.7,1.3,1c0.2,0.2,0.4,0.2,0.4,0.3c1.4,0.7,2.3,2.2,2.3,3.8V91.5z
			 M54.7,91.9H29.3c-2.5,0-4.5-2-4.5-4.5V62.1h7.3c1.5,0,2.8-0.8,3.4-2.1c0,0,0.1-0.2,0.3-0.5c0.3-0.5,0.7-0.9,1.1-1.3
			c1.1-1.1,2.3-1.7,3.5-1.7c1.3,0,2.4,0.5,3.5,1.7c0.4,0.4,0.8,0.8,1.1,1.3c0.2,0.3,0.3,0.4,0.3,0.5c0.7,1.3,2,2.1,3.4,2.1l5.9,0
			l0,3.8l-0.1,0.1c-0.5,0.4-1.1,0.9-1.6,1.4c-2.6,2.6-3.9,5.6-3.9,9c0,3.4,1.3,6.4,3.9,9c0.7,0.7,1.2,1.2,1.6,1.4l0.1,0.1V91.9z
			 M25.2,62.4v25c0,2.3,1.8,4.1,4.1,4.1h25v-4.6c-0.3-0.3-0.9-0.7-1.5-1.4c-2.7-2.7-4-5.8-4-9.3c0-3.5,1.4-6.6,4-9.3
			c0.4-0.4,1.1-1,1.5-1.3l0-3.3l-5.5,0c-1.6,0-3.1-0.9-3.8-2.3c0,0-0.1-0.2-0.3-0.4c-0.3-0.5-0.7-0.9-1-1.3c-1-1-2.1-1.5-3.3-1.5
			c-1.2,0-2.2,0.5-3.3,1.5c-0.4,0.4-0.7,0.8-1,1.3c-0.2,0.2-0.2,0.4-0.3,0.4c-0.7,1.4-2.2,2.3-3.8,2.3H25.2z M76.6,59.9
			c-1.3,0-2.4-0.5-3.5-1.7c-0.4-0.4-0.8-0.8-1.1-1.3c-0.2-0.3-0.3-0.4-0.3-0.5c-0.7-1.3-2-2.1-3.4-2.1l-5.9,0l0-3.8l0.1-0.1
			c0.4-0.3,1.1-0.9,1.6-1.4c2.6-2.6,3.9-5.6,3.9-9c0-3.4-1.3-6.4-3.9-9c-0.7-0.7-1.2-1.2-1.6-1.4l-0.1-0.1v-5.2h25.4
			c2.5,0,4.5,2,4.5,4.5v25.4h-7.3c-1.5,0-2.8,0.8-3.4,2.1l0,0c0,0-0.1,0.2-0.3,0.5c-0.3,0.5-0.7,0.9-1.1,1.3
			C79,59.4,77.9,59.9,76.6,59.9z M62.7,54l5.5,0c1.6,0,3.1,0.9,3.8,2.3c0,0,0.1,0.2,0.3,0.4c0.3,0.5,0.7,0.9,1,1.3
			c1,1,2.1,1.5,3.3,1.5c1.2,0,2.2-0.5,3.3-1.5c0.4-0.4,0.7-0.8,1-1.3c0.2-0.2,0.2-0.4,0.3-0.4c0.7-1.4,2.2-2.3,3.8-2.3h6.9V29
			c0-2.3-1.8-4.1-4.1-4.1h-25v4.6c0.3,0.3,0.9,0.7,1.5,1.4c2.7,2.7,4,5.8,4,9.3c0,3.5-1.4,6.6-4,9.3c-0.4,0.4-1.1,1-1.5,1.3L62.7,54
			z"
      />
    </g>
    <g>
      <path
        d="M18.7,43.6c0,0,0.1-0.2,0.3-0.4c0.3-0.5,0.7-0.9,1.1-1.3c1.1-1.1,2.2-1.6,3.4-1.6s2.3,0.5,3.4,1.6
			c0.4,0.4,0.7,0.8,1.1,1.3c0.2,0.2,0.3,0.4,0.3,0.4c0.7,1.4,2.1,2.2,3.6,2.2h9.7c2.2,0,4-1.8,4-4v-7.6c0.5-0.4,1.1-0.9,1.6-1.4
			c2.6-2.6,4-5.7,4-9.1c0-3.4-1.3-6.5-4-9.1c-0.5-0.5-1.1-1-1.6-1.4v-9c0-2.2-1.8-4-4-4H12.3C5.4,0.2-0.1,5.7-0.1,12.6v29.2
			c0,2.2,1.8,4,4,4h11.1C16.6,45.8,18,45,18.7,43.6z M8,12.6c0-2.4,1.9-4.3,4.3-4.3h25.2v7.1c0,1.5,0.9,2.9,2.2,3.6
			c0,0,0.2,0.1,0.4,0.3c0.5,0.3,0.9,0.7,1.3,1.1c1.1,1.1,1.6,2.2,1.6,3.4s-0.5,2.3-1.6,3.4c-0.4,0.4-0.8,0.7-1.3,1.1
			c-0.2,0.2-0.4,0.3-0.4,0.3c-1.4,0.7-2.2,2.1-2.2,3.6v5.7l-3.5,0c-0.4-0.6-0.9-1.1-1.4-1.6c-2.6-2.6-5.7-4-9.1-4
			c-3.4,0-6.5,1.3-9.1,4c-0.5,0.5-1,1.1-1.4,1.6H8V12.6z"
      />
      <path
        d="M41.5,46h-9.7c-1.6,0-3.1-0.9-3.8-2.3c0,0-0.1-0.2-0.3-0.4c-0.3-0.5-0.7-0.9-1-1.3c-1-1-2.1-1.5-3.3-1.5
			c-1.2,0-2.2,0.5-3.3,1.5c-0.4,0.4-0.7,0.8-1,1.3c-0.2,0.2-0.2,0.4-0.3,0.4c-0.7,1.4-2.2,2.3-3.8,2.3H3.9c-2.3,0-4.2-1.9-4.2-4.2
			V12.6C-0.3,5.6,5.3,0,12.3,0h29.2c2.3,0,4.2,1.9,4.2,4.2v8.9c0.4,0.3,1,0.8,1.5,1.3c2.7,2.7,4,5.8,4,9.3c0,3.5-1.4,6.6-4,9.3
			c-0.5,0.5-1.1,1-1.5,1.3v7.5C45.7,44.1,43.8,46,41.5,46z M23.4,40.1c1.3,0,2.4,0.5,3.5,1.7c0.4,0.4,0.8,0.8,1.1,1.3
			c0.2,0.3,0.3,0.4,0.3,0.5c0.7,1.3,2,2.1,3.4,2.1h9.7c2.1,0,3.8-1.7,3.8-3.8v-7.7l0.1-0.1c0.4-0.3,1.1-0.9,1.6-1.4
			c2.6-2.6,3.9-5.6,3.9-9s-1.3-6.4-3.9-9c-0.5-0.5-1.1-1-1.6-1.4l-0.1-0.1V4.2c0-2.1-1.7-3.8-3.8-3.8H12.3C5.5,0.4,0.1,5.8,0.1,12.6
			v29.2c0,2.1,1.7,3.8,3.8,3.8h11.1c1.5,0,2.8-0.8,3.4-2.1l0,0c0,0,0.1-0.2,0.3-0.5c0.3-0.5,0.7-0.9,1.1-1.3
			C21,40.6,22.1,40.1,23.4,40.1z M33.8,38L33.8,38c-0.5-0.6-1-1.2-1.5-1.7c-2.6-2.6-5.6-3.9-9-3.9s-6.4,1.3-9,3.9
			c-0.5,0.5-1,1.1-1.4,1.6L13,37.9H7.8V12.6c0-2.5,2-4.5,4.5-4.5h25.4v7.3c0,1.5,0.8,2.8,2.1,3.4c0,0,0.2,0.1,0.5,0.3
			c0.5,0.3,0.9,0.7,1.3,1.1c1.1,1.1,1.7,2.3,1.7,3.5s-0.5,2.4-1.7,3.5c-0.4,0.4-0.8,0.8-1.3,1.1c-0.3,0.2-0.4,0.3-0.5,0.3
			c-1.3,0.7-2.1,2-2.1,3.4V38L33.8,38z M23.4,32c3.5,0,6.6,1.4,9.3,4c0.5,0.5,1,1,1.4,1.6l3.2,0v-5.5c0-1.6,0.9-3.1,2.3-3.8
			c0,0,0.2-0.1,0.4-0.3c0.5-0.3,0.9-0.7,1.3-1c1-1,1.5-2.1,1.5-3.3c0-1.2-0.5-2.2-1.5-3.3c-0.4-0.4-0.8-0.7-1.3-1
			c-0.2-0.2-0.4-0.2-0.4-0.3c-1.4-0.7-2.3-2.2-2.3-3.8V8.5h-25c-2.3,0-4.1,1.8-4.1,4.1v25h4.7c0.3-0.4,0.8-1,1.3-1.5
			C16.8,33.4,19.9,32,23.4,32z"
      />
    </g>
  </g>
</template>
