<template>
  <!-- eslint-disable -->
  <g>
    <defs>
      <rect id="SVGID_1_" x="3.7" y="0" width="92.5" height="100" />
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_" style="overflow:visible;" />
    </clipPath>
    <path
      class="st0"
      d="M35.4,39.4C35.4,39.4,35.4,39.4,35.4,39.4c-1.1,0-2,0.4-2.7,1.1c-1.5,1.5-1.5,4,0,5.5l14.6,14.6
		c0.7,0.7,1.7,1.1,2.7,1.1c1,0,2-0.4,2.7-1.2L67.3,46c1.5-1.5,1.5-4,0-5.5c-1.5-1.5-4-1.5-5.5,0l-8,8V3.9C53.9,1.7,52.1,0,50,0
		c-2.1,0-3.9,1.7-3.9,3.9v44.6l-8-8C37.4,39.8,36.4,39.4,35.4,39.4"
    />
    <path
      class="st0"
      d="M96.1,63.5l-9.6-34.7c-0.3-1.1-1.1-2-2.1-2.5l-0.3-0.1c-0.5-0.2-1-0.3-1.6-0.3H65.2c-2.1,0-3.9,1.7-3.9,3.9
		c0,2.1,1.7,3.9,3.9,3.9h14.6l7.5,27.1h-20c-2.1,0-3.9,1.7-3.9,3.9v2.5c0,3-2.5,5.5-5.5,5.5H41.2c-3,0-5.5-2.5-5.5-5.5v-2.5
		c0-2.1-1.7-3.9-3.9-3.9H12.7l7.5-27.2h14.6c2.1,0,3.9-1.7,3.9-3.9c0-2.1-1.7-3.9-3.9-3.9H17.5c-0.6,0-1.1,0.1-1.6,0.3l-0.3,0.1
		c-1.1,0.5-1.8,1.4-2.1,2.5L3.9,63.5l0,0c-0.1,0.4-0.1,0.7-0.1,1V79c0,11.6,9.4,21,21,21h50.5c11.6,0,21-9.4,21-21V64.6
		C96.3,64.3,96.2,63.9,96.1,63.5 M75.3,92.2H24.7c-7.3,0-13.2-5.9-13.2-13.2V68.5H28c0.3,3.1,1.7,5.9,3.9,8.1
		c2.5,2.4,5.8,3.8,9.3,3.8H58c3.5,0,6.8-1.3,9.3-3.8c2.2-2.2,3.6-5,3.9-8.1h17.4v9.4h0V79C88.5,86.3,82.6,92.2,75.3,92.2"
    />
  </g>
</template>
