<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <path
        d="M14,100c-7.7,0-14-6.3-14-14l0-64C0,14.3,6.3,8,14,8h36c3.3,0,6,2.7,6,6s-2.7,6-6,6H14c-1.1,0-2,0.9-2,2l0,64
			c0,1.1,0.9,2,2,2l64,0c1.1,0,2-0.9,2-2V50c0-3.3,2.7-6,6-6c3.3,0,6,2.7,6,6v36c0,7.7-6.3,14-14,14L14,100z"
      />
    </g>
    <g>
      <path
        d="M26,80c-1.6,0-3.1-0.6-4.2-1.8c-1.4-1.4-2-3.5-1.6-5.4L23.9,54c0.4-1.9,1.3-3.7,2.7-5.1L73.8,1.8c1.3-1.3,3.1-1.9,4.9-1.7
			c11.2,1.3,20,10,21.3,21.3c0.2,1.8-0.4,3.6-1.7,4.9L51.1,73.4c-1.4,1.4-3.2,2.3-5.1,2.7l-18.8,3.8C26.8,80,26.4,80,26,80z
			 M35.5,57l-1.9,9.4l9.4-1.9l44.4-44.4c-1.2-3.5-4-6.3-7.5-7.5L35.5,57z"
      />
    </g>
  </g>
</template>
