<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <path
          d="M50,0C22.4,0,0,22.4,0,50s22.4,50,50,50s50-22.4,50-50S77.6,0,50,0 M50,90.6C27.6,90.6,9.4,72.4,9.4,50S27.6,9.4,50,9.4
				S90.6,27.6,90.6,50S72.4,90.6,50,90.6 M50,21.9c-3.6,0-6.3,1.9-6.3,4.9v27.7c0,3,2.7,4.9,6.3,4.9c3.5,0,6.3-1.9,6.3-4.9V26.8
				C56.3,23.9,53.5,21.9,50,21.9 M50,65.6c-3.4,0-6.2,2.8-6.2,6.2c0,3.4,2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S53.4,65.6,50,65.6"
        />
      </g>
    </g>
    <circle class="st0" opacity="0.2" cx="49.7" cy="50.5" r="44.4" />
  </g>
</template>
