<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <path
        d="M40.8,48.4c0.4-4.5,3.9-7.9,8.4-8.3l8-7.9c-2.2-0.9-4.7-1.5-7.2-1.5c-10.2,0-18.6,8.3-18.6,18.6c0,2.5,0.5,4.9,1.4,7.1
			L40.8,48.4z"
      />
      <path
        d="M58.9,51.6c-0.9,3.2-3.4,5.8-6.6,6.6l-8.6,8.5c2,0.7,4.1,1.1,6.3,1.1c10.2,0,18.6-8.3,18.6-18.6c0-2.2-0.4-4.2-1.1-6.2
			L58.9,51.6z"
      />
    </g>
    <g>
      <path
        d="M11.8,92.8c-1.3,0-2.6-0.5-3.5-1.5c-1.9-2-1.9-5.1,0-7.1L84.5,8.7c2-1.9,5.1-1.9,7.1,0c1.9,2,1.9,5.1,0,7.1L15.3,91.3
			C14.3,92.3,13.1,92.8,11.8,92.8z"
      />
    </g>
    <g>
      <path
        d="M98.4,46.9c-4.7-7.3-10.3-13.4-16.5-18.1L75.7,35c4.9,3.6,9.5,8.3,13.4,13.8c0.2,0.3,0.2,0.7,0,1
			c-4.7,6.6-10.4,12.1-16.5,15.8c-7.2,4.5-14.8,6.8-22.6,6.8c-3.6,0-7.1-0.5-10.6-1.4l-7,6.9C38.1,80,44,81.1,50,81.1
			c9.6,0,18.7-2.7,27.3-8.1c8.1-5.1,15.2-12.3,21.1-21.4l1.5-2.4L98.4,46.9z"
      />
      <path
        d="M18.8,70.3l6.3-6.2c-5.2-3.7-10-8.6-14.2-14.3c-0.2-0.3-0.2-0.7,0-1c4.7-6.6,10.4-12.1,16.5-15.8
			c7.2-4.5,14.8-6.8,22.6-6.8c3.9,0,7.8,0.6,11.6,1.7l6.9-6.8c-5.9-2.4-12.1-3.6-18.5-3.6c-9.6,0-18.7,2.7-27.3,8.1
			C14.6,30.6,7.5,37.8,1.6,46.9L0,49.3l1.5,2.4C6.5,59.2,12.3,65.5,18.8,70.3z"
      />
    </g>
  </g>
</template>
