<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M95.3,10.4c-2-1.9-5.1-1.9-7.1,0L12,85.9c-1.9,2-1.9,5.1,0,7.1c0.9,1,2.2,1.5,3.5,1.5S18,94,19,93l76.3-75.5
	C97.2,15.5,97.2,12.4,95.3,10.4z"
    />
    <path
      d="M98.4,46.9c-4.7-7.3-10.3-13.4-16.5-18.1L75.7,35c4.9,3.6,9.5,8.3,13.4,13.8c0.2,0.3,0.2,0.7,0,1
	c-4.7,6.6-10.4,12.1-16.5,15.8c-7.2,4.5-14.8,6.8-22.6,6.8c-3.6,0-7.1-0.5-10.6-1.4l-7,6.9C38.1,80,44,81.1,50,81.1
	c9.6,0,18.7-2.7,27.3-8.1c8.1-5.1,15.2-12.3,21.1-21.4l1.5-2.4L98.4,46.9z"
    />
    <path
      d="M18.8,70.3l6.3-6.2c-5.2-3.7-10-8.6-14.2-14.3c-0.2-0.3-0.2-0.7,0-1c4.7-6.6,10.4-12.1,16.5-15.8c7.2-4.5,14.8-6.8,22.6-6.8
	c3.9,0,7.8,0.6,11.6,1.7l6.9-6.8c-5.9-2.4-12.1-3.6-18.5-3.6c-9.6,0-18.7,2.7-27.3,8.1c-8.1,5-15.2,12.2-21.1,21.3L0,49.3l1.5,2.4
	C6.5,59.2,12.3,65.5,18.8,70.3z"
    />
    <g> </g>
    <g>
      <path
        d="M38.4,50.6c0-0.3,0-0.5,0-0.8c0-5.6,4.6-10.2,10.2-10.2c0.3,0,0.6,0,0.9,0l7.3-7.2c-2.5-1.2-5.3-1.8-8.2-1.8
		c-10.6,0-19.2,8.6-19.2,19.2c0,2.9,0.6,5.6,1.8,8L38.4,50.6z"
      />
    </g>
  </g>
</template>
