<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <path
        d="M98.1,52.4l1.5-2.4l-1.5-2.4c-5.9-9-12.9-16.2-21-21.2c-8.5-5.3-17.6-8-27.1-8s-18.6,2.7-27.1,8
			c-8.1,5.1-15.1,12.2-21,21.2L0.3,50l1.5,2.4c5.9,9,12.9,16.2,21,21.2c8.5,5.3,17.6,8,27.1,8s18.6-2.7,27.1-8
			C85.2,68.5,92.3,61.4,98.1,52.4z M72.5,66.2c-7.1,4.5-14.7,6.7-22.5,6.7c-7.8,0-15.4-2.3-22.5-6.7c-6-3.8-11.7-9.2-16.4-15.7
			c-0.2-0.3-0.2-0.7,0-1c4.7-6.5,10.4-12,16.4-15.7C34.6,29.3,42.2,27,50,27c7.8,0,15.4,2.3,22.5,6.7c6,3.8,11.7,9.2,16.4,15.7
			c0.2,0.3,0.2,0.7,0,1C84.2,57,78.5,62.5,72.5,66.2z"
      />
      <path
        d="M50,31.4c-10.3,0-18.6,8.3-18.6,18.6S39.7,68.6,50,68.6S68.6,60.3,68.6,50S60.3,31.4,50,31.4z M50,59.3
			c-5.1,0-9.3-4.2-9.3-9.3c0-5.1,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3C59.3,55.1,55.1,59.3,50,59.3z"
      />
    </g>
  </g>
</template>
