<template>
  <!-- eslint-disable -->
  <g>
  <path
    d="M48.5,87h-.1a6.5,6.5,0,0,0-6.2,6.2,6,6,0,0,0,1.9,4.6,6.1,6.1,0,0,0,4.6,2,6.4,6.4,0,0,0,4.5-1.9A6,6,0,0,0,55,93.5,6.5,6.5,0,0,0,48.5,87Z"
  /><path
    d="M48.8,14.7A17.8,17.8,0,0,1,65.9,31.3,16.9,16.9,0,0,1,54.4,48h-.1A16.5,16.5,0,0,0,42.7,63.8v7.5a6.2,6.2,0,0,0,12.4,0V63.8a4.5,4.5,0,0,1,2.7-3.9h.4A30.2,30.2,0,0,0,78.3,30.9,29.8,29.8,0,0,0,48.8,2.2h-.1A29.8,29.8,0,0,0,22.2,18.8,6.4,6.4,0,0,0,25,27a6.9,6.9,0,0,0,4.9.3,5.6,5.6,0,0,0,3.6-2.9A17.2,17.2,0,0,1,48.8,14.7Z"
  />
  </g>
</template>
