<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M86.1,84.6c7.1-7.4,11.7-16.8,13.2-26.4c0.5-3.1,0.7-5.8,0.7-8.3c0-10.3-3.2-20.5-9-28.5c-1.8-2.5-3.4-4.5-5.2-6.3
	c-2-2.1-4.2-3.8-6-5.2c-3.7-2.8-8.1-5.2-13.1-7c-4.6-1.7-9.7-2.7-15-2.9c-0.6,0-1.2,0-1.9,0c-4.5,0-9.2,0.6-13.5,1.9
	C26.7,4.6,18,10.3,11.8,17.8c-1.9,2.4-3.5,4.5-4.7,6.6c-1.5,2.5-2.7,5.2-3.5,7.2c-1.8,4.4-3,9.4-3.4,14.9c-0.8,10.1,1.7,20.5,7,29.3
	c5.2,8.6,13,15.5,21.7,19.5c2.9,1.3,5.3,2.2,7.7,2.9c2.4,0.7,5,1.2,8.2,1.5c4.9,0.6,10.2,0.3,15.6-0.8C70,97,79.1,91.9,86.1,84.6
	 M50,90.6c-1.8,0-3.7-0.1-5.5-0.3c-3.6-0.6-7-1.5-10.3-2.8c-3.1-1.4-6.1-3.1-8.9-5.2c-2.8-2.3-5.4-4.8-7.6-7.6
	c-2.1-2.8-3.8-5.8-5.2-8.9c-1.3-3.3-2.3-6.8-2.8-10.3c-0.4-3.7-0.4-7.4,0-11c0.6-3.6,1.5-7,2.8-10.3c1.4-3.1,3.1-6.1,5.2-8.9
	c2.3-2.8,4.8-5.4,7.6-7.6c2.8-2.1,5.8-3.8,8.9-5.2c3.3-1.3,6.8-2.3,10.3-2.8c3.7-0.4,7.4-0.4,11,0c3.6,0.6,7,1.5,10.3,2.8
	c3.1,1.4,6.1,3.1,8.9,5.2c2.9,2.3,5.4,4.8,7.6,7.6c2.1,2.8,3.8,5.8,5.2,8.9c1.3,3.3,2.3,6.8,2.8,10.3c0.2,2,0.3,3.8,0.3,5.5
	c0,1.7-0.1,3.5-0.3,5.5l0,0c-0.5,3.5-1.5,7-2.8,10.3c-1.4,3.1-3.1,6.1-5.2,8.9c-2.3,2.8-4.8,5.4-7.6,7.6c-2.8,2.1-5.8,3.8-8.9,5.2
	c-3.3,1.3-6.8,2.3-10.3,2.8C53.7,90.5,51.8,90.6,50,90.6"
    />
    <path
      d="M45.2,48.2v23.9c0,1.2,0.5,2.5,1.4,3.3c0.8,0.8,2.2,1.4,3.3,1.4c0.8,0,2.3-0.3,3.3-1.3c0.9-1,1.4-2.2,1.4-3.3V48.2
	c0-1.2-0.5-2.5-1.4-3.3c-0.8-0.8-2.2-1.4-3.3-1.4c-0.8,0-2.3,0.3-3.3,1.3C45.7,45.9,45.2,47,45.2,48.2"
    />
    <path
      d="M45.2,27.6v3.1c0,1.2,0.5,2.5,1.4,3.3c0.8,0.8,2.2,1.4,3.3,1.4c0.8,0,2.3-0.3,3.3-1.3c0.9-1,1.4-2.1,1.4-3.3v-3.1
	c0-1.2-0.5-2.5-1.4-3.3c-0.8-0.8-2.1-1.4-3.1-1.4c0,0-0.1,0-0.1,0c-0.8,0-2.3,0.3-3.3,1.3C45.7,25.3,45.2,26.4,45.2,27.6"
    />
  </g>
</template>
