<template>
  <!-- eslint-disable -->
  <g>
    <defs>
      <rect id="SVGID_1_" y="9.1" width="100" height="81.8" />
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_" style="overflow:visible;" />
    </clipPath>
    <g class="st0">
      <path
        d="M86.4,90.9H13.6C6.1,90.9,0,84.8,0,77.3V22.7C0,15.2,6.1,9.1,13.6,9.1h72.7c7.5,0,13.6,6.1,13.6,13.6v54.5
			C100,84.8,93.9,90.9,86.4,90.9z M13.6,18.2c-2.5,0-4.5,2-4.5,4.5v54.5c0,2.5,2,4.5,4.5,4.5h72.7c2.5,0,4.5-2,4.5-4.5V22.7
			c0-2.5-2-4.5-4.5-4.5H13.6z"
      />
    </g>
    <g class="st0">
      <rect x="72.7" y="27.3" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="54.5" y="27.3" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="36.4" y="27.3" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="18.2" y="27.3" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="72.7" y="45.5" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="54.5" y="45.5" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="36.4" y="45.5" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="18.2" y="45.5" width="9.1" height="9.1" />
    </g>
    <g class="st0">
      <rect x="27.3" y="63.6" width="45.5" height="9.1" />
    </g>
  </g>
</template>
