<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <g>
          <path
            d="M67.2,20.5c-9.9-8-24.6-8-34.6,0c-13.1,10.5-13.7,29.2-1.9,41c0.2,0.2,0.4,0.3,0.6,0.5c0.2,0.1,5.4,3.5,5.4,15.9
					c0,1.7,1.4,3.1,3.1,3.1h20.1c1.7,0,3.1-1.4,3.1-3.1c0-12.4,5.2-15.8,5.4-15.9c0.3-0.1,0.5-0.3,0.7-0.5
					C80.8,49.7,80.3,31,67.2,20.5 M64.9,56.8c-1.7,1.2-7.2,5.8-8,17.9h-4V50h6.2c1.7,0,3.1-1.4,3.1-3.1c0-1.7-1.4-3.1-3.1-3.1H40.6
					c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1h6.2v24.7h-4c-0.8-12.1-6.3-16.7-8-17.9c-8.4-8.6-8.5-21.7-0.2-29.9
					s22.3-8.2,30.5,0C73.4,35.2,73.3,48.3,64.9,56.8"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M59.9,81.5H39.8c-2,0-3.6-1.6-3.6-3.6c0-12.2-5.1-15.4-5.2-15.4c-0.3-0.2-0.5-0.3-0.7-0.6c-5.9-5.9-9-13.8-8.5-21.8
					c0.4-7.9,4.2-15,10.5-20.1c10.2-8.2,25.1-8.2,35.3,0l0,0c6.3,5.1,10,12.2,10.5,20c0.4,8-2.7,15.9-8.5,21.7
					c-0.3,0.3-0.5,0.5-0.8,0.6c-0.2,0.1-5.1,3.3-5.1,15.4c0,1-0.4,1.9-1.1,2.5C61.8,81.1,60.9,81.5,59.9,81.5z M49.9,15
					c-6,0-12,2-16.9,5.9c-6.1,4.9-9.7,11.7-10.1,19.3c-0.4,7.7,2.6,15.3,8.2,20.9c0.2,0.2,0.3,0.3,0.5,0.4c0.3,0.1,5.7,3.6,5.7,16.4
					c0,1.4,1.1,2.5,2.5,2.5h20.1c0.7,0,1.3-0.3,1.8-0.7c0.5-0.5,0.7-1.1,0.7-1.8c0-12.6,5.4-16.2,5.6-16.3s0.4-0.3,0.6-0.4
					c5.6-5.6,8.6-13.3,8.2-20.9c-0.4-7.5-4-14.4-10-19.3l0,0C61.9,17,55.9,15,49.9,15z M57.4,75.3h-5V49.5h6.7
					c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5H40.6c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5h6.7v25.8h-5v-0.5
					c-0.8-11.9-6.1-16.4-7.8-17.5c-8.6-8.9-8.7-22.4-0.3-30.8c8.5-8.4,22.8-8.4,31.3,0c8.4,8.4,8.3,21.9-0.2,30.7l-0.1,0.1
					c-1.6,1.1-7,5.6-7.8,17.5L57.4,75.3z M53.5,74.2h2.9c0.9-11.9,6.4-16.6,8.1-17.8c8.1-8.4,8.2-21.1,0.2-29.1
					c-8.1-8-21.7-8-29.7,0s-7.9,20.8,0.2,29.2c1.6,1.1,7.2,5.7,8.1,17.7h2.9V50.5h-5.6c-2,0-3.6-1.6-3.6-3.6s1.6-3.6,3.6-3.6h18.5
					c2,0,3.6,1.6,3.6,3.6s-1.6,3.6-3.6,3.6h-5.6V74.2z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M45.2,99.5h9.3c1.7,0,3.1-1.4,3.1-3.1s-1.4-3.1-3.1-3.1h-9.3c-1.7,0-3.1,1.4-3.1,3.1S43.5,99.5,45.2,99.5"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M54.5,100h-9.3c-2,0-3.6-1.6-3.6-3.6s1.6-3.6,3.6-3.6h9.3c2,0,3.6,1.6,3.6,3.6S56.5,100,54.5,100z M45.2,93.8
					c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5h9.3c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5H45.2z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M42.1,90.2h15.5c1.7,0,3.1-1.4,3.1-3.1S59.3,84,57.6,84H42.1c-1.7,0-3.1,1.4-3.1,3.1C39.1,88.8,40.4,90.2,42.1,90.2"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M57.6,90.7H42.1c-2,0-3.6-1.6-3.6-3.6s1.6-3.6,3.6-3.6h15.5c2,0,3.6,1.6,3.6,3.6S59.6,90.7,57.6,90.7z M42.1,84.5
					c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5h15.5c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5H42.1z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M49.1,0.5L49.1,0.5c-1.7,0-3.1,1.4-3.1,3.1v4.6c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1V3.6
					C52.2,1.9,50.8,0.5,49.1,0.5"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M49.1,11.9c-2,0-3.6-1.6-3.6-3.6V3.6c0-2,1.6-3.6,3.6-3.6s3.6,1.6,3.6,3.6v4.6C52.7,10.3,51.1,11.9,49.1,11.9z
					 M49.1,1.1c-1.4,0-2.5,1.1-2.5,2.5v4.6c0,1.4,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5V3.6C51.6,2.2,50.5,1.1,49.1,1.1z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M80.8,41.5L80.8,41.5c0,1.7,1.4,3.1,3.1,3.1H87c1.7,0,3.1-1.4,3.1-3.1c0-1.7-1.4-3.1-3.1-3.1h-3.1
					C82.2,38.4,80.8,39.8,80.8,41.5"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M87,45.1h-3.1c-2,0-3.6-1.6-3.6-3.6s1.6-3.6,3.6-3.6H87c2,0,3.6,1.6,3.6,3.6S89,45.1,87,45.1z M83.9,39
					c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5H87c1.4,0,2.5-1.1,2.5-2.5S88.4,39,87,39H83.9z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M20.1,70.5L20.1,70.5c1.2,1.2,3.2,1.2,4.4,0l3.3-3.3c1.2-1.2,1.2-3.2,0-4.4s-3.2-1.2-4.4,0l-3.3,3.3
					C18.9,67.3,18.9,69.3,20.1,70.5"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M22.3,71.9c-0.9,0-1.9-0.4-2.6-1.1l0,0c-1.4-1.4-1.4-3.7,0-5.1l3.3-3.3c0.7-0.7,1.6-1.1,2.6-1.1l0,0
					c1,0,1.9,0.4,2.6,1.1c0.7,0.7,1.1,1.6,1.1,2.6s-0.4,1.9-1.1,2.6l-3.3,3.3C24.2,71.6,23.3,71.9,22.3,71.9z M20.5,70.1
					c1,1,2.6,1,3.6,0l3.3-3.3c0.5-0.5,0.7-1.1,0.7-1.8s-0.3-1.3-0.7-1.8c-0.5-0.5-1.1-0.7-1.8-0.7l0,0c-0.7,0-1.3,0.3-1.8,0.7
					l-3.3,3.3C19.5,67.5,19.5,69.1,20.5,70.1z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M71.5,19.1L71.5,19.1c1.2,1.2,3.2,1.2,4.4,0l2.2-2.2c1.2-1.2,1.2-3.2,0-4.4s-3.2-1.2-4.4,0l-2.2,2.2
					C70.3,15.9,70.3,17.9,71.5,19.1"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M73.7,20.5c-1,0-1.9-0.4-2.6-1.1l0,0c-1.4-1.4-1.4-3.7,0-5.1l2.2-2.2c0.7-0.7,1.6-1.1,2.6-1.1l0,0c1,0,1.9,0.4,2.6,1.1
					c1.4,1.4,1.4,3.7,0,5.1l-2.2,2.2C75.6,20.2,74.7,20.5,73.7,20.5z M71.9,18.7c1,1,2.6,1,3.6,0l2.2-2.2c1-1,1-2.6,0-3.6
					c-0.5-0.5-1.1-0.7-1.8-0.7l0,0c-0.7,0-1.3,0.3-1.8,0.7l-2.2,2.2C70.9,16.1,70.9,17.7,71.9,18.7z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M27.8,15.8l-3.3-3.3c-1.2-1.2-3.2-1.2-4.4,0c-1.2,1.2-1.2,3.2,0,4.4l3.3,3.3c1.2,1.2,3.2,1.2,4.4,0
					C29,19,29,17,27.8,15.8"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M25.6,21.6c-1,0-1.9-0.4-2.6-1.1l-3.3-3.3c-1.4-1.4-1.4-3.7,0-5.1s3.8-1.4,5.1,0l3.3,3.3c0.7,0.7,1.1,1.6,1.1,2.6
					s-0.4,1.9-1.1,2.6C27.5,21.3,26.6,21.6,25.6,21.6L25.6,21.6z M22.3,12.2c-0.7,0-1.3,0.3-1.8,0.7c-1,1-1,2.6,0,3.6l3.3,3.3
					c0.5,0.5,1.1,0.7,1.8,0.7l0,0c0.7,0,1.3-0.3,1.8-0.7c0.5-0.5,0.7-1.1,0.7-1.8s-0.3-1.3-0.7-1.8l-3.3-3.3
					C23.6,12.4,23,12.2,22.3,12.2z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M71.5,68.3l2.2,2.2c1.2,1.2,3.2,1.2,4.4,0l0,0c1.2-1.2,1.2-3.2,0-4.4l-2.2-2.2c-1.2-1.2-3.2-1.2-4.4,0
					S70.3,67.1,71.5,68.3"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M75.9,71.9c-1,0-1.9-0.4-2.6-1.1l-2.2-2.1c-1.4-1.4-1.4-3.7,0-5.1c0.7-0.7,1.6-1.1,2.6-1.1l0,0c1,0,1.9,0.4,2.6,1.1
					l2.2,2.2c1.4,1.4,1.4,3.7,0,5.1L78.3,71C77.6,71.6,76.8,71.9,75.9,71.9z M71.9,67.9l2.2,2.2c1,1,2.6,1,3.6,0l0.1-0.1
					c0.9-1,0.9-2.5-0.1-3.5l-2.2-2.2c-0.5-0.5-1.1-0.7-1.8-0.7l0,0c-0.7,0-1.3,0.3-1.8,0.7C70.9,65.3,70.9,66.9,71.9,67.9L71.9,67.9
					z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <path
          d="M19.2,41.5L19.2,41.5c0-1.7-1.4-3.1-3.1-3.1l-3.1,0c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1h3.1
				C17.8,44.6,19.2,43.2,19.2,41.5"
        />
      </g>
    </g>
    <path
      d="M19.7,41.5c0,2-1.6,3.6-3.6,3.6H13c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6l3.1,0C18.1,37.9,19.7,39.5,19.7,41.5"
    />
    <path
      d="M16.1,44c1.4,0,2.5-1.1,2.5-2.5S17.5,39,16.1,39L13,39c-1.4,0-2.5,1.1-2.5,2.5S11.6,44,13,44H16.1z"
    />
  </g>
</template>
