<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <g>
          <path
            d="M79.5,7.2l-15.2,0c-0.8-3.3-3.7-5.8-7.3-5.8l-14.5,0c-3.5,0-6.5,2.5-7.3,5.8l-14.8,0c-5.3,0-9.6,4.3-9.6,9.6l0,72.2
					c0,5.3,4.3,9.6,9.6,9.6l58.9,0c5.3,0,9.6-4.3,9.6-9.6l0-72.2C89.1,11.5,84.8,7.2,79.5,7.2z M40.8,8.9c0-1,0.8-1.8,1.8-1.8
					l14.5,0c1,0,1.8,0.8,1.8,1.8v3.5c0,1-0.8,1.8-1.8,1.8l-14.5,0c-1,0-1.8-0.8-1.8-1.8L40.8,8.9L40.8,8.9z M79.5,92.9l-58.9,0
					c-2.2,0-3.9-1.7-3.9-3.9l0-72.2c0-2.1,1.7-3.9,3.9-3.9l14.6,0c0.3,3.9,3.5,6.9,7.4,6.9l14.5,0c3.9,0,7.2-3.1,7.4-6.9l15,0
					c2.2,0,3.9,1.7,3.9,3.9l0,72.2h0C83.4,91.1,81.6,92.9,79.5,92.9z"
          />
          <path
            d="M79.5,100H20.5c-6.1,0-11-4.9-11-11V16.8c0-6.1,4.9-11,11-11h13.7C35.5,2.3,38.8,0,42.6,0h14.5c3.8,0,7,2.3,8.3,5.8
					h14.1c6.1,0,11,4.9,11,11V89C90.5,95.1,85.5,100,79.5,100z M20.5,8.6c-4.5,0-8.2,3.7-8.2,8.2V89c0,4.5,3.7,8.2,8.2,8.2h58.9
					c4.5,0,8.2-3.7,8.2-8.2V16.8c0-4.5-3.7-8.2-8.2-8.2H63.2l-0.3-1.1c-0.6-2.7-3.1-4.7-5.9-4.7H42.6c-2.8,0-5.3,2-5.9,4.7l-0.3,1.1
					H20.5z M79.5,94.3H20.5c-2.9,0-5.3-2.4-5.3-5.3V16.8c0-2.9,2.4-5.3,5.3-5.3h15.9l0.1,1.3c0.2,3.1,2.9,5.6,6,5.6h14.5
					c3.1,0,5.8-2.5,6-5.6l0.1-1.3h16.3c2.9,0,5.3,2.4,5.3,5.3V89C84.8,91.9,82.4,94.3,79.5,94.3z M20.5,14.3c-1.4,0-2.5,1.1-2.5,2.5
					V89c0,1.4,1.1,2.5,2.5,2.5h58.9c1.4,0,2.5-1.1,2.5-2.5V16.8c0-1.4-1.1-2.5-2.5-2.5H65.7c-0.9,4-4.5,6.9-8.6,6.9H42.6
					c-4.2,0-7.7-2.9-8.6-6.9H20.5z M57.1,15.5H42.6c-1.8,0-3.2-1.4-3.2-3.2V8.9c0-1.8,1.4-3.2,3.2-3.2h14.5c1.8,0,3.2,1.4,3.2,3.2
					v3.5C60.2,14.1,58.8,15.5,57.1,15.5z M42.6,8.5c-0.2,0-0.3,0.2-0.3,0.3v3.5c0,0.2,0.2,0.3,0.3,0.3h14.5c0.2,0,0.3-0.2,0.3-0.3
					V8.9c0-0.2-0.2-0.3-0.3-0.3H42.6z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M72.3,32.7l-19.2,0c-1.6,0-2.8,1.3-2.8,2.8s1.3,2.8,2.8,2.8l19.2,0c1.6,0,2.8-1.3,2.8-2.8C75.2,34,73.9,32.7,72.3,32.7z
					"
          />
          <path
            d="M72.3,39.8H53.1c-2.3,0-4.3-1.9-4.3-4.3c0-2.3,1.9-4.3,4.3-4.3h19.2c2.3,0,4.3,1.9,4.3,4.3
					C76.6,37.9,74.7,39.8,72.3,39.8z M53.1,34.1c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h19.2c0.8,0,1.4-0.6,1.4-1.4
					c0-0.8-0.6-1.4-1.4-1.4H53.1z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M41.9,28.6c-1.2-1-3-0.9-4,0.3l-6.3,7.3l-2.3-2.4c-1.1-1.1-2.9-1.1-4,0c-1.1,1.1-1.1,2.9,0,4l4.5,4.6c0,0,0.1,0,0.1,0.1
					c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1
					c0,0,0.1,0,0.1,0.1c0,0,0.1,0,0.1,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0
					c0.1,0,0.1,0,0.2,0c0,0,0,0,0.1,0c0.1,0,0.2,0,0.3,0c0,0,0,0,0,0c0,0,0,0,0,0c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1,0
					c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2-0.1c0,0,0.1,0,0.1-0.1
					c0,0,0.1,0,0.1-0.1c0,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1
					c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1-0.1l8.4-9.6C43.3,31.4,43.1,29.6,41.9,28.6z"
          />
          <path
            d="M31.7,44.6l-1.5-0.3l-1.1-0.6c0,0-0.1-0.1-0.2-0.2l-4.7-4.8c-0.8-0.8-1.2-1.9-1.2-3c0-1.1,0.5-2.2,1.3-3
					c0.8-0.8,1.9-1.2,3-1.2c1.1,0,2.2,0.5,3,1.3l1.3,1.3l5.3-6.1c1.5-1.8,4.2-2,6-0.4c0.9,0.7,1.4,1.8,1.5,2.9
					c0.1,1.1-0.3,2.2-1,3.1L33.9,44c0,0-0.1,0.1-0.2,0.1l-0.4,0.2l-0.8-1.2l0.4,1.3l-0.7,0.2C32,44.6,31.8,44.6,31.7,44.6z
					 M31.6,41.8l0.4,1.4l-0.1-1.4l0.6-0.2l1.1,0.9l-0.9-1.1l8.5-9.7c0.3-0.3,0.4-0.7,0.3-1c0-0.4-0.2-0.7-0.5-1l0,0
					c-0.6-0.5-1.5-0.5-2,0.1l-7.4,8.5l-3.4-3.5c-0.3-0.3-0.7-0.5-1-0.4c-0.4,0-0.7,0.1-1,0.4c-0.3,0.3-0.4,0.6-0.4,1
					c0,0.4,0.1,0.7,0.4,1l4.7,4.8L30.6,43l0.6-1.3l0,1.5L31.6,41.8z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M72.3,52.5l-19.2,0c-1.6,0-2.8,1.3-2.8,2.8c0,1.6,1.3,2.8,2.8,2.8l19.2,0c1.6,0,2.8-1.3,2.8-2.8
					C75.2,53.8,73.9,52.5,72.3,52.5z"
          />
          <path
            d="M72.3,59.6H53.1c-2.3,0-4.3-1.9-4.3-4.3c0-2.3,1.9-4.3,4.3-4.3h19.2c2.3,0,4.3,1.9,4.3,4.3
					C76.6,57.7,74.7,59.6,72.3,59.6z M53.1,53.9c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h19.2c0.8,0,1.4-0.6,1.4-1.4
					c0-0.8-0.6-1.4-1.4-1.4H53.1z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M72.3,72.2l-19.2,0c-1.6,0-2.8,1.3-2.8,2.8s1.3,2.8,2.8,2.8l19.2,0c1.6,0,2.8-1.3,2.8-2.8S73.9,72.2,72.3,72.2z"
          />
          <path
            d="M72.3,79.3H53.1c-2.3,0-4.3-1.9-4.3-4.3c0-2.3,1.9-4.3,4.3-4.3h19.2c2.3,0,4.3,1.9,4.3,4.3
					C76.6,77.4,74.7,79.3,72.3,79.3z M53.1,73.6c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h19.2c0.8,0,1.4-0.6,1.4-1.4
					c0-0.8-0.6-1.4-1.4-1.4H53.1z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M39.3,52.5l-11.6,0c-1.6,0-2.8,1.3-2.8,2.8c0,1.6,1.3,2.8,2.8,2.8l11.6,0c1.6,0,2.8-1.3,2.8-2.8
					C42.1,53.8,40.8,52.5,39.3,52.5z"
          />
          <path
            d="M39.3,59.6H27.7c-2.3,0-4.3-1.9-4.3-4.3c0-2.3,1.9-4.3,4.3-4.3h11.6c2.3,0,4.3,1.9,4.3,4.3
					C43.5,57.7,41.6,59.6,39.3,59.6z M27.7,53.9c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h11.6c0.8,0,1.4-0.6,1.4-1.4
					c0-0.8-0.6-1.4-1.4-1.4H27.7z"
          />
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <path
            d="M39.3,71.9l-11.6,0c-1.6,0-2.8,1.3-2.8,2.8c0,1.6,1.3,2.8,2.8,2.8l11.6,0c1.6,0,2.8-1.3,2.8-2.8
					C42.1,73.1,40.8,71.9,39.3,71.9z"
          />
          <path
            d="M39.3,79H27.7c-2.3,0-4.3-1.9-4.3-4.3s1.9-4.3,4.3-4.3h11.6c2.3,0,4.3,1.9,4.3,4.3S41.6,79,39.3,79z M27.7,73.3
					c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4h11.6c0.8,0,1.4-0.6,1.4-1.4c0-0.8-0.6-1.4-1.4-1.4H27.7z"
          />
        </g>
      </g>
    </g>
  </g>
</template>
