<template>
  <!-- eslint-disable -->
  <g class="cls-2"
    ><path
      d="M3.69-37.42H-29.23a10.1,10.1,0,0,0-10.1,10.11V33.56a10.11,10.11,0,0,0,10.1,10.11h43v-71A10.11,10.11,0,0,0,3.69-37.42m-36.93,70.3V-4.89h.17V-27.11a4.23,4.23,0,0,1,4.22-4.22H3.32a4.22,4.22,0,0,1,4.21,4.22V-10H7.7V37.57H-29a4.22,4.22,0,0,1-4.22-4.22v-.47Z"
      transform="translate(39.33 37.42)"/><path
      d="M50.56-37.42H17.64A10.11,10.11,0,0,0,7.53-27.31v71h43A10.11,10.11,0,0,0,60.67,33.56V-27.31A10.11,10.11,0,0,0,50.56-37.42M13.63,32.88V-4.89h.17V-27.11A4.23,4.23,0,0,1,18-31.33H50.19a4.23,4.23,0,0,1,4.21,4.22V-10h.17V33.35a4.22,4.22,0,0,1-4.22,4.22H13.63V32.88Z"
      transform="translate(39.33 37.42)"/><path
      d="M35.52-1.3H18.62c0,.06,0,.1,0,.15V4.8H35.52Z"
      transform="translate(39.33 37.42)"/><rect
      x="57.97"
      y="48.24"
      width="30.95"
      height="6.1"/><rect x="57.97" y="59.19" width="30.95" height="6.1"/><path
      d="M-11.35-14.37h-16.9c0,.06,0,.1,0,.15v6h16.89Z"
      transform="translate(39.33 37.42)"/><rect
      x="11.1"
      y="35.16"
      width="30.95"
      height="6.1"/><path
      d="M1.79,48.89c-.28,0-.53-.07-.81-.08H-29a4.22,4.22,0,0,1-4.22-4.22V6.35h.17V5.52h-6.26V44.8a10.1,10.1,0,0,0,10.1,10.1h43v-6Z"
      transform="translate(39.33 37.42)"/><path
      d="M54.57,5.52V44.59a4.22,4.22,0,0,1-4.21,4.22H28.5c-.51,0-1,.08-1.53.08H7.54v6h43A10.11,10.11,0,0,0,60.67,44.8V5.52Z"
      transform="translate(39.33 37.42)"/><path
      d="M3.53,54.91h.15a10,10,0,0,1,7,2.82,10,10,0,0,1,7-2.82h3.87v-3.5H.7v3.5Z"
      transform="translate(39.33 37.42)"
  /></g>
</template>
