<template>
  <!-- eslint-disable -->
  <g>
    <defs>
      <rect id="SVGID_1_" x="7.4" y="0" width="85.3" height="100" />
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_" style="overflow:visible;" />
    </clipPath>
    <path
      class="st0"
      d="M34.9,0H11.5C9.3,0,7.4,1.8,7.4,4.1v91.8c0,2.2,1.8,4.1,4.1,4.1h23.3c2.2,0,4.1-1.8,4.1-4.1V4.1
		C38.9,1.8,37.1,0,34.9,0"
    />
    <path
      class="st0"
      d="M88.6,0H65.2c-2.2,0-4.1,1.8-4.1,4.1v91.8c0,2.2,1.8,4.1,4.1,4.1h23.3c2.2,0,4.1-1.8,4.1-4.1V4.1
		C92.6,1.8,90.9,0,88.6,0"
    />
  </g>
</template>
