<template>
  <!-- eslint-disable -->
  <g>
    <defs>
      <rect
        id="SVGID_1_"
        x="8.9"
        y="8.9"
        transform="matrix(0.7071 -0.7071 0.7071 0.7071 -20.509 49.5134)"
        width="81.3"
        height="81.3"
      />
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_" style="overflow:visible;" />
    </clipPath>
    <g>
      <path
        d="M98,49.5L98,49.5c0,3.5-2.8,6.3-6.3,6.3l-84.3,0C3.8,55.9,1,53,1,49.5c0-3.5,2.8-6.3,6.3-6.3l84.3,0
			C95.2,43.2,98,46,98,49.5"
      />
    </g>
    <g>
      <path
        d="M91.7,56.3l-84.3,0c0,0,0,0,0,0c-1.8,0-3.5-0.7-4.8-2c-1.3-1.3-2-3-2-4.8c0-3.7,3-6.8,6.8-6.8h84.3c3.7,0,6.8,3,6.8,6.8
			C98.4,53.2,95.4,56.3,91.7,56.3z M7.4,55.5l84.3,0c3.3,0,5.9-2.7,5.9-5.9c0-3.3-2.7-5.9-5.9-5.9H7.4c-3.3,0-5.9,2.7-5.9,5.9
			c0,1.6,0.6,3.1,1.7,4.2C4.3,54.8,5.8,55.5,7.4,55.5C7.3,55.5,7.4,55.5,7.4,55.5z"
      />
    </g>
    <g>
      <path
        d="M49.5,1L49.5,1c3.5,0,6.4,2.8,6.3,6.3l0,84.3c0,3.5-2.8,6.4-6.3,6.3c-3.5,0-6.3-2.8-6.3-6.3l0-84.3C43.2,3.9,46,1,49.5,1"
      />
    </g>
    <g>
      <path
        d="M49.5,98.4C49.5,98.4,49.5,98.4,49.5,98.4c-1.8,0-3.5-0.7-4.8-2c-1.3-1.3-2-3-2-4.8V7.4c0-3.7,3-6.7,6.7-6.8h0
			c1.8,0,3.5,0.7,4.8,2c1.3,1.3,2,3,2,4.8v84.3c0,1.8-0.7,3.5-2,4.8C53,97.7,51.3,98.4,49.5,98.4z M49.5,97.6
			C49.5,97.6,49.5,97.6,49.5,97.6c1.6,0,3.1-0.6,4.2-1.7c1.1-1.1,1.7-2.6,1.7-4.2V7.4c0-1.6-0.6-3.1-1.7-4.2
			c-1.1-1.1-2.6-1.7-4.2-1.7c-3.3,0-5.9,2.7-5.9,5.9v84.3c0,1.6,0.6,3.1,1.7,4.2C46.4,97,47.9,97.6,49.5,97.6
			C49.5,97.6,49.5,97.6,49.5,97.6z"
      />
    </g>
  </g>
</template>
