<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <g>
          <path
            d="M88.2,99.3c-1,0-2-0.4-2.7-1.1L63.9,76.5H23.2C14.8,76.5,8,69.7,8,61.4V15.9C8,7.5,14.8,0.7,23.2,0.7h53.6
				C85.2,0.7,92,7.5,92,15.9v79.6C92,97.6,90.3,99.3,88.2,99.3z M23.2,8.3c-4.2,0-7.6,3.4-7.6,7.6v45.5c0,4.2,3.4,7.6,7.6,7.6h42.2
				c1,0,2,0.4,2.7,1.1l16.3,16.3V15.9c0-4.2-3.4-7.6-7.6-7.6H23.2z"
          />
        </g>
        <g>
          <path
            d="M88.2,100C88.2,100,88.2,100,88.2,100c-1.2,0-2.3-0.5-3.2-1.3L63.6,77.3H23.2c-8.8,0-15.9-7.1-15.9-15.9V15.9
				C7.3,7.1,14.4,0,23.2,0h53.6c8.8,0,15.9,7.1,15.9,15.9v79.6C92.7,98,90.7,100,88.2,100z M23.2,1.5c-8,0-14.4,6.5-14.4,14.4v45.5
				c0,8,6.5,14.4,14.4,14.4h41l0.2,0.2L86,97.7c0.6,0.6,1.3,0.9,2.2,0.9c0,0,0,0,0,0h0c1.7,0,3.1-1.4,3.1-3.1V15.9
				c0-8-6.5-14.4-14.4-14.4H23.2z M85.1,88.1L67.6,70.6c-0.6-0.6-1.3-0.9-2.2-0.9c0,0,0,0,0,0H23.2c-4.6,0-8.3-3.7-8.3-8.3V15.9
				c0-4.6,3.7-8.3,8.3-8.3h53.6c4.6,0,8.3,3.7,8.3,8.3V88.1z M65.4,68.2c1.2,0,2.3,0.5,3.2,1.3l15,15V15.9c0-3.8-3.1-6.9-6.9-6.9
				H23.2c-3.8,0-6.9,3.1-6.9,6.9v45.5c0,3.8,3.1,6.9,6.9,6.9H65.4C65.4,68.2,65.4,68.2,65.4,68.2z"
          />
        </g>
      </g>
      <g>
        <g>
          <g>
            <path
              d="M40.2,23.5c0-0.4,0.5-0.7,1.1-0.7h7.2c7.4,0,10.6,2.7,10.6,8.4s-3.3,8.4-10.6,8.4h-6.1v14.6c0,0.5-0.3,0.8-1.1,0.8
					c-0.8,0-1.1-0.2-1.1-0.8V23.5z M42.4,24.3v13.8h6.1c5.9,0,8.5-2,8.5-6.9c0-5-2.5-6.9-8.5-6.9H42.4z"
            />
            <path
              d="M41.3,55.6c-1.6,0-1.8-1-1.8-1.5V23.5c0-0.8,0.8-1.4,1.8-1.4h7.2c7.6,0,11.4,3,11.4,9.1s-3.7,9.1-11.4,9.1h-5.4v13.9
					C43.1,54.6,43,55.6,41.3,55.6z M40.9,23.6v30.5c0,0,0.1,0.1,0.4,0.1s0.4-0.1,0.4-0.1l0-15.3h6.8c6.9,0,9.9-2.4,9.9-7.7
					c0-5.3-3.1-7.7-9.9-7.7h-7.2C41.1,23.5,41,23.6,40.9,23.6z M48.6,38.8h-6.8V23.6h6.8c6.4,0,9.2,2.3,9.2,7.6S55,38.8,48.6,38.8z
					 M43.1,37.4h5.4c5.7,0,7.8-1.7,7.8-6.2c0-4.5-2.1-6.2-7.8-6.2h-5.4V37.4z"
            />
          </g>
          <g>
            <path
              d="M41.3,57.5c-2.5,0-3.6-1.7-3.6-3.3V23.5c0-1.8,1.6-3.3,3.6-3.3h7.2c4.3,0,7.5,0.9,9.7,2.6c2.3,1.9,3.5,4.7,3.5,8.3
					c0,5-2.3,10.9-13.2,10.9H45v12C45,55.7,43.8,57.5,41.3,57.5z M45,35.6h3.6c5.5,0,5.9-1.6,5.9-4.4s-0.4-4.4-5.9-4.4H45V35.6z"
            />
            <path
              d="M41.3,58.2c-2.9,0-4.3-2-4.3-4V23.5c0-2.2,1.9-4,4.3-4h7.2c4.5,0,7.8,0.9,10.1,2.8c2.5,2,3.8,5,3.8,8.9
					c0,4.3-1.8,11.6-13.9,11.6h-2.9v11.3C45.7,56.1,44.2,58.2,41.3,58.2z M41.3,21c-1.6,0-2.9,1.1-2.9,2.6v30.6
					c0,1.3,0.9,2.6,2.9,2.6c2,0,2.9-1.3,2.9-2.6V41.4h4.3c8.3,0,12.5-3.4,12.5-10.2c0-3.4-1.1-6-3.3-7.8c-2.1-1.7-5.1-2.5-9.2-2.5
					H41.3z M48.6,36.3h-4.3V26.1h4.3c5.6,0,6.6,1.7,6.6,5.1C55.2,34.6,54.2,36.3,48.6,36.3z M45.7,34.8h2.9c5.2,0,5.2-1.4,5.2-3.6
					c0-2.2,0-3.6-5.2-3.6h-2.9V34.8z"
            />
          </g>
        </g>
      </g>
    </g>
    <path
      class="st0"
      opacity="0.3"
      d="M12.3,6.3V66c2.6,0.5,5.2,1.2,7.7,2.2c3.5,1.4,6.8,2.7,10.5,3.5c7.9,1.7,16.1,1.9,24.2,1.9
	c6,0,12.5,0.1,17.3,4.3c2.6,2.2,3.8,5.2,6,7.7c2.2,2.5,4.8,4.3,6.8,7c0.2,0.3,0.3,0.6,0.5,0.9H88v-87H12.3z"
    />
  </g>
</template>
