<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M82.1,0.1H67.3L67.5,0h-48c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7h62.6c3.3,0,5.9,2.7,5.9,5.9v17.5l0,0v34.1
	c0,3.3-2.7,5.9-5.9,5.9l-31.3-0.1c-1.2,0-2.4,0.5-3.3,1.4l-10,10v-6.7c0-1.6-0.8-3.1-2.3-3.9l-0.1,0c-0.8-0.5-1.5-0.7-2.3-0.7H19.5
	c-2.6,0-4.6,2.1-4.6,4.6c0,2.6,2.1,4.6,4.6,4.6h8.7v13.3c0,0.6,0.1,1.2,0.4,1.8c0.2,0.6,0.6,1.1,1,1.5l0.1,0.1l0,0l0.2,0.2
	c0.4,0.4,0.8,0.6,1.2,0.8c0.8,0.3,1.1,0.3,1.2,0.3l0.1,0l0.5,0.1c0.5,0,1.1-0.1,1.7-0.4c0.6-0.2,1.1-0.6,1.5-1l16.6-16.6h29.4
	c8.4,0,15.2-6.8,15.2-15.2V15.2C97.3,6.9,90.5,0.1,82.1,0.1"
    />
    <path
      d="M30.4,72.8l-12.5,0c-3.3,0-5.9-2.7-5.9-5.9V32.8l0,0V15.3c0-3.3,2.7-5.9,5.9-5.9h12.5V0.1H17.9C9.5,0.1,2.7,6.9,2.7,15.2
	v51.6c0,8.4,6.8,15.2,15.2,15.2h12.5V72.8z"
    />
    <path
      d="M50.6,51.6h-4.9c-1.3,0-2.3,1-2.3,2.3v3.2c0,1.3,1,2.3,2.3,2.3h5c1.3,0,2.3-1,2.3-2.3v-3.2c0-0.7-0.3-1.3-0.8-1.8
	C51.6,51.8,51.1,51.6,50.6,51.6"
    />
    <path
      d="M37.3,31.7l5.6,0.1c1.1,0,2.1-0.7,2.4-1.7c0.2-0.6,0.5-1.2,1-1.6c0.8-0.7,1.6-1,2.7-1c1.3,0,2.4,0.4,3,1.2
	c0.7,0.7,1.1,1.8,1.1,3.3c0,1.3-0.3,2.4-1,3.6c-0.8,1.2-1.6,2-2.6,2.6c-2.2,1.5-3.8,3-4.8,4.3c-0.7,1-1.1,2.3-1.3,4.2
	c-0.1,0.5,0.1,0.9,0.4,1.2c0.3,0.4,0.9,0.6,1.4,0.6h6c0.9,0,1.6-0.6,1.8-1.5c0.1-0.9,0.2-1.6,0.6-2.1c0.3-0.7,1.1-1.5,2.1-2.2
	c2-1.1,3.8-2.6,5.1-4.4c1.3-1.8,2-3.8,2-6.3c0-3.6-1.2-6.6-3.7-8.8c-2.4-2.2-5.8-3.3-10.1-3.3c-3.9,0-7.1,0.9-9.6,2.8
	c-2.2,1.7-3.3,4-3.6,7.2C35.8,31,36.4,31.7,37.3,31.7"
    />
  </g>
</template>
