<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M94.8,51.6l-5,4.7V50c0-22.1-18-40-40-40c-8.9,0-17.1,2.8-24.3,8.2c-0.7,0.5-1.1,1.2-1.2,2c-0.1,0.8,0.1,1.6,0.6,2.3
		c1.2,1.4,3.2,1.7,4.5,0.6l0,0c6-4.6,13.1-7,20.5-7c18.7,0,33.9,15.2,33.9,33.9c0,0.8,0,1.6-0.2,2.4L83,55.8l-4-4
		c-0.6-0.6-1.4-0.9-2.2-0.9c-0.8,0-1.6,0.3-2.2,0.9c-1.2,1.1-1.2,3.1,0,4.4l11.6,11.8L99,56.2c1.2-1.2,1.4-3.1,0.2-4.4
		C98.1,50.6,96.1,50.5,94.8,51.6z"
    />
    <path
      d="M10,49c0,0.3-0.1,0.7-0.1,1c0,22.1,18,40,40,40c9.1,0,17.7-2.9,24.7-8.5c1.3-1.1,1.5-3,0.5-4.3c-1-1.3-3-1.5-4.3-0.5
		c-6,4.7-13.2,7.2-20.9,7.2c-18.7,0-33.9-15.2-33.9-33.9c0-0.9,0-1.8,0.1-2.8l0.5-3.6l4.3,4.3c1.2,1.2,3.2,1.3,4.4,0.1
		c1.2-1.1,1.2-3.1,0-4.4L13.9,31.8L1,43.4c-1.2,1.2-1.4,3.1-0.2,4.4c0.7,0.8,1.6,1,2.3,1c0.8,0,1.5-0.2,2.1-0.8l4.9-4.5v4.2
		C10,48.1,10,48.5,10,49z"
    />
  </g>
</template>
