<template>
  <!-- eslint-disable -->
  <g>
    <polygon
      points="50,4.8 64.8,34.6 97.5,39.3 73.7,62.6 79.3,95.2 50,79.8 20.5,95.2 26.1,62.6 2.5,39.3 35,34.6 	"
    />
    <g>
      <path
        d="M47.8,6.1c1.7,3.3,3.3,6.7,5,10.1c2.7,5.3,5.3,10.7,8,16c0.6,1.2,1.2,2.5,1.8,3.6c0.8,1.4,2.5,1.3,3.9,1.5
			c5.6,0.8,11.2,1.6,16.8,2.4c4.4,0.6,8.8,1.4,13.3,1.9c0.1,0,0.1,0,0.2,0c-0.4-1.4-0.7-2.8-1.1-4.2c-2.7,2.6-5.4,5.3-8.1,7.9
			c-4.2,4.2-8.5,8.3-12.8,12.5c-0.9,0.9-1.9,1.8-2.8,2.8c-0.8,0.9-0.8,1.8-0.6,2.9c0.1,0.6,0.2,1.3,0.3,2c1,5.6,1.9,11.1,2.9,16.7
			c0.8,4.4,1.4,8.9,2.3,13.3c0,0.1,0,0.1,0,0.2c1.2-0.9,2.4-1.9,3.7-2.8c-3.3-1.8-6.7-3.5-10.1-5.3C65.2,85,60,82.2,54.7,79.4
			c-1.1-0.6-2.2-1.2-3.4-1.8c-1.1-0.5-2-0.3-3,0.2c-0.6,0.3-1.2,0.6-1.8,0.9c-5,2.6-10.1,5.3-15.2,7.9c-4,2.1-8,4.1-11.9,6.2
			c-0.1,0-0.1,0.1-0.2,0.1c1.2,0.9,2.4,1.9,3.7,2.8c0.6-3.7,1.3-7.4,1.9-11.2c1-5.9,2-11.7,3-17.6c0.2-1.3,0.4-2.5,0.6-3.8
			c0.2-1,0-1.8-0.7-2.5c-0.1-0.1-0.2-0.2-0.3-0.3c-0.5-0.5-1-0.9-1.4-1.4c-4.1-4-8.1-8-12.2-12c-3.2-3.1-6.3-6.3-9.5-9.4
			c0,0-0.1-0.1-0.1-0.1c-0.4,1.4-0.7,2.8-1.1,4.2c3.7-0.5,7.5-1.1,11.2-1.6c5.9-0.8,11.7-1.7,17.6-2.6c1.2-0.2,2.5-0.2,3.7-0.5
			c1.5-0.4,2.1-2.3,2.7-3.6c2.6-5.1,5.1-10.2,7.7-15.3c2-4,4-7.9,6-11.9c0-0.1,0.1-0.1,0.1-0.2c0.6-1.2,0.3-2.8-0.9-3.4
			c-1.1-0.6-2.8-0.3-3.4,0.9c-1.7,3.4-3.4,6.7-5.1,10.1c-2.7,5.3-5.4,10.7-8,16c-0.6,1.2-1.2,2.4-1.8,3.7c0.5-0.4,1-0.8,1.5-1.1
			c-3.7,0.5-7.3,1.1-11,1.6c-5.8,0.8-11.7,1.7-17.5,2.5c-1.3,0.2-2.7,0.4-4,0.6c-0.8,0.1-1.5,1-1.7,1.7c-0.2,0.8,0,1.8,0.6,2.4
			c2.7,2.6,5.3,5.3,8,7.9c4.2,4.2,8.5,8.3,12.7,12.5c1,1,1.9,1.9,2.9,2.9c-0.2-0.8-0.4-1.6-0.6-2.4c-0.6,3.7-1.3,7.4-1.9,11
			c-1,5.8-2,11.7-3,17.5c-0.2,1.3-0.5,2.7-0.7,4c-0.2,1,0,2,0.9,2.6c0.8,0.6,1.9,0.7,2.8,0.2c3.3-1.7,6.6-3.5,9.9-5.2
			c5.3-2.8,10.6-5.5,15.9-8.3c1.2-0.6,2.4-1.3,3.6-1.9c-0.8,0-1.7,0-2.5,0c3.3,1.7,6.6,3.5,9.9,5.2c5.3,2.8,10.5,5.5,15.8,8.3
			c1.2,0.6,2.4,1.3,3.6,1.9c0.9,0.5,2,0.4,2.8-0.2c0.8-0.6,1.1-1.6,0.9-2.6c-0.6-3.7-1.3-7.4-1.9-11c-1-5.8-2-11.7-3-17.5
			c-0.2-1.3-0.5-2.7-0.7-4c-0.2,0.8-0.4,1.6-0.6,2.4c2.7-2.6,5.3-5.2,8-7.9c4.3-4.2,8.5-8.4,12.8-12.5c1-1,2-1.9,2.9-2.9
			c0.6-0.6,0.9-1.6,0.6-2.4c-0.2-0.8-0.9-1.6-1.7-1.7c-3.7-0.5-7.4-1.1-11.1-1.6c-5.8-0.8-11.7-1.7-17.5-2.5c-1.3-0.2-2.7-0.4-4-0.6
			c0.5,0.4,1,0.8,1.5,1.1c-1.7-3.3-3.3-6.7-5-10.1c-2.7-5.3-5.3-10.7-8-16c-0.6-1.2-1.2-2.5-1.8-3.7c-0.6-1.2-2.3-1.6-3.4-0.9
			C47.5,3.4,47.2,4.8,47.8,6.1z"
      />
    </g>
  </g>
</template>
