<template>
  <!-- eslint-disable -->
  <g
    ><path
      d="M79.2,29.4c-6.6-6.6-15.4-10.8-24.7-11.9V9.1h3.6c2.5,0,4.5-2,4.5-4.5c0-2.6-2-4.5-4.5-4.5H41.8c-2.5,0-4.5,2-4.5,4.5
	c0,2.6,2,4.5,4.5,4.5h3.6v8.4c-9.2,1-17.9,5.2-24.7,11.9C12.9,37.2,8.6,47.6,8.6,58.6S12.9,80,20.8,87.9C28.6,95.7,39,100,50,100
	c11,0,21.4-4.3,29.2-12.1s12.1-18.2,12.1-29.2S87.1,37.2,79.2,29.4 M78.4,55.3c-1,0.8-1.5,2-1.5,3.3c0,2.5,2,4.5,4.5,4.5h0.6
	c-0.7,5.4-2.9,10.5-6.3,15l-2.7-2.7c-1.7-1.7-4.6-1.7-6.3,0c-0.8,0.8-1.3,2-1.3,3.2c0,1.1,0.4,2.2,1.3,3.2l2.7,2.7
	c-4.4,3.3-9.5,5.4-15,6.2v-2c0-2.5-2-4.5-4.5-4.5c-2.5,0-4.5,2-4.5,4.5v2.1c-5.4-0.7-10.5-2.9-15-6.3L33,82c0.8-0.8,1.3-2,1.3-3.2
	c0-1.2-0.4-2.1-1.3-3.2c-0.8-0.8-1.9-1.2-3.2-1.2c-1.2,0-2.4,0.5-3.2,1.2L24,78.2c-3.3-4.4-5.4-9.5-6.2-15h0.6c2.5,0,4.5-2,4.5-4.5
	c0-2.5-2-4.5-4.5-4.5h-0.6c0.7-5.4,2.9-10.5,6.3-15l2.7,2.7c0.8,0.8,1.9,1.2,3.2,1.2c1.2,0,2.4-0.5,3.2-1.2c0.8-0.8,1.3-2,1.3-3.2
	c0-1.1-0.4-2.2-1.3-3.2l-2.7-2.7c4.4-3.3,9.5-5.4,15-6.2v0.8c0,2.5,2,4.5,4.5,4.5c2.5,0,4.5-2,4.5-4.5v-0.6c5.4,0.7,10.5,2.9,15,6.3
	l-2.7,2.7c-0.8,0.8-1.3,2-1.3,3.2c0,1.2,0.4,2.1,1.3,3.2c1.7,1.7,4.7,1.7,6.3,0l2.7-2.7c3.3,4.4,5.4,9.5,6.2,15h-0.5
	C80.4,54.2,79.3,54.5,78.4,55.3"
    />
    <path
      d="M54.5,53V38.9c0-2.5-2-4.5-4.5-4.5c-2.5,0-4.5,2-4.5,4.5V53c-1.7,1.4-2.8,3.5-2.8,5.7c0,4,3.2,7.2,7.2,7.2
	c3.9,0,7.2-3.3,7.2-7.1C57.2,56.5,56.3,54.4,54.5,53"
    />
  </g>
</template>
