<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M85.2,1.3H70.8L71,1.3H24.2c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5h61c3.2,0,5.8,2.6,5.8,5.8v17.1l0,0v33.2
	c0,3.2-2.6,5.8-5.8,5.8l-30.5-0.1c-1.2,0-2.3,0.5-3.2,1.3l-9.8,9.8v-6.5c0-1.6-0.8-3-2.2-3.8l-0.1,0c-0.8-0.4-1.5-0.7-2.2-0.7h-13
	c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5h8.5v13c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.5,1,1,1.5l0.1,0.1l0,0l0.2,0.2
	c0.4,0.3,0.8,0.6,1.2,0.8c0.8,0.3,1.1,0.3,1.2,0.3l0.1,0l0.5,0.1c0.5,0,1.1-0.1,1.7-0.3c0.6-0.2,1-0.6,1.5-1l16.2-16.2h28.6
	c8.2,0,14.8-6.7,14.8-14.8V16.1C100,8,93.3,1.4,85.2,1.3"
    />
    <path
      d="M55.5,17.4c-2.5,0-4.5,2-4.5,4.5v3.9H38.8c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5h21.6l-0.1,0.4c-0.5,3.5-1.9,6.7-4.2,9.3
	L55.9,45l-0.3-0.3c-1.4-1.6-2.4-3.5-3.2-5.4c-0.4-1.2-1.2-2.1-2.3-2.6c-0.6-0.3-1.3-0.5-2-0.5c-0.5,0-1,0.1-1.4,0.2
	c-2.4,0.8-3.6,3.4-2.9,5.7l0.1,0.3c1.1,2.8,2.5,5.4,4.4,7.7l0.3,0.4l-0.4,0.2c-1.1,0.5-2.3,0.9-3.5,1.2l-2.1,0.5
	c-2.5,0.3-4.3,2.5-4,5c0.3,2.5,2.5,4.3,5,4h0c0.4,0,0.7-0.1,0.9-0.2l2.3-0.6c3.1-0.8,6.1-2,8.8-3.7l0.2-0.1l0.2,0.1
	c1.6,1,3.2,1.8,4.9,2.4c1.1,0.5,2.5,0.4,3.6-0.1c1.1-0.5,2-1.5,2.4-2.7c0.7-2.3-0.4-4.7-2.7-5.6l-1.1-0.4l0.3-0.4
	c3.4-4.2,5.5-9.3,6-14.7l0-0.3h2.8c2.5,0,4.5-2,4.5-4.5s-2-4.5-4.5-4.5H60.1v-3.9C60.1,19.4,58,17.4,55.5,17.4"
    />
    <path
      d="M13.3,28.1h9c2.6,0,4.7-2.1,4.7-4.7c0-2.6-2.1-4.7-4.7-4.7h-9c-2.6,0-4.7,2.1-4.7,4.7C8.6,26,10.7,28.1,13.3,28.1"
    />
    <path
      d="M26.9,59c0-2.6-2.1-4.7-4.7-4.7h-9c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7h9C24.8,63.7,26.9,61.6,26.9,59"
    />
    <path
      d="M26.9,41.2c0-2.6-2.1-4.7-4.7-4.7H4.7c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7h17.6C24.8,45.9,26.9,43.8,26.9,41.2"
    />
  </g>
</template>
