<template>
  <!-- eslint-disable -->
  <path
    d="M95 11.9H70.8V6.4c0-4-3.5-6.4-7.9-6.4H36.1c-4.5 0-7.9 3-7.9 6.4v5.4H4.5c-2.5 0-4.5 1.5-4.5 4s2 4.5 4.5 4.5h5.4l4.9 65.8c0 7.9 6.4 13.9 14.4 13.9h41.1c7.9 0 13.9-6.4 14.4-13.9l5.4-65.8h5.4c2.5 0 4.5-2 4.5-4.5-1-1.9-3-3.9-5-3.9zM36.6 8.4h25.2v3.5H36.6V8.4zm2 68.8c-2.5 0-4-2-4.5-4l-1.5-34.7c0-2.5 1.5-4.5 4-4.5s4 2 4.5 4l1.5 34.7c0 2.5-1.5 4.5-4 4.5zm26.2-3.9c0 2.5-2 4-4.5 4s-4-2-4-4.5l1.5-34.7c0-2.5 2-4 4.5-4s4 2 4 4.5l-1.5 34.7z"
  ></path>
</template>
