<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <ellipse
        transform="matrix(0.2077 -0.9782 0.9782 0.2077 25.0511 72.7714)"
        cx="57.5"
        cy="20.9"
        rx="20.5"
        ry="20.5"
      />
    </g>
    <g>
      <path
        d="M57.5,48.4L57.5,48.4c-19.2,0-34.9,15.6-34.9,34.9v13.4c0,1.5,1.4,2.9,2.9,2.9h63.9c1.5,0,2.9-1.4,2.9-2.9V83.3
		C92.3,64,76.7,48.4,57.5,48.4z"
      />
    </g>
  </g>
</template>
