<template>
  <!-- eslint-disable -->
  <g>
    <g>
      <g>
        <path
          d="M88.2,99.3c-1,0-2-0.4-2.7-1.1L63.9,76.5H23.2C14.8,76.5,8,69.7,8,61.4V15.9C8,7.5,14.8,0.7,23.2,0.7h53.6
			C85.2,0.7,92,7.5,92,15.9v79.6C92,97.6,90.3,99.3,88.2,99.3z M23.2,8.3c-4.2,0-7.6,3.4-7.6,7.6v45.5c0,4.2,3.4,7.6,7.6,7.6h42.2
			c1,0,2,0.4,2.7,1.1l16.3,16.3V15.9c0-4.2-3.4-7.6-7.6-7.6H23.2z"
        />
        <path
          d="M88.2,100C88.2,100,88.2,100,88.2,100c-1.2,0-2.3-0.5-3.2-1.3L63.6,77.3H23.2c-8.8,0-15.9-7.1-15.9-15.9V15.9
			C7.3,7.1,14.4,0,23.2,0h53.6c8.8,0,15.9,7.1,15.9,15.9v79.6C92.7,98,90.7,100,88.2,100z M23.2,1.5c-8,0-14.4,6.5-14.4,14.4v45.5
			c0,8,6.5,14.4,14.4,14.4h41l0.2,0.2L86,97.7c0.6,0.6,1.3,0.9,2.2,0.9c0,0,0,0,0,0h0c1.7,0,3.1-1.4,3.1-3.1V15.9
			c0-8-6.5-14.4-14.4-14.4H23.2z M85.1,88.1L67.6,70.6c-0.6-0.6-1.3-0.9-2.2-0.9c0,0,0,0,0,0H23.2c-4.6,0-8.3-3.7-8.3-8.3V15.9
			c0-4.6,3.7-8.3,8.3-8.3h53.6c4.6,0,8.3,3.7,8.3,8.3V88.1z M65.4,68.2c1.2,0,2.3,0.5,3.2,1.3l15,15V15.9c0-3.8-3.1-6.9-6.9-6.9
			H23.2c-3.8,0-6.9,3.1-6.9,6.9v45.5c0,3.8,3.1,6.9,6.9,6.9H65.4C65.4,68.2,65.4,68.2,65.4,68.2z"
        />
      </g>
      <g>
        <g>
          <g>
            <path
              d="M35.3,22.8c-0.2-0.4,0.2-0.8,0.8-0.9c0.5-0.1,1.1,0.1,1.3,0.6l9.8,28.8l9.9-28.8c0.2-0.4,0.7-0.7,1.3-0.6
					c0.5,0.1,0.9,0.5,0.7,0.9L48.3,54.7c-0.1,0.4-0.5,0.6-1.1,0.6c-0.5,0-0.9-0.2-1-0.6L35.3,22.8z"
            />
            <path
              d="M47.2,55.4c-0.8,0-1.1-0.4-1.2-0.7L35.2,22.8c-0.1-0.2-0.1-0.4,0-0.5c0.1-0.3,0.5-0.5,0.9-0.6c0.6-0.2,1.2,0.1,1.5,0.7
					l9.7,28.4L57,22.4c0.3-0.6,0.9-0.9,1.5-0.7c0.4,0.1,0.7,0.4,0.9,0.6c0.1,0.2,0.1,0.4,0,0.5L48.5,54.7
					C48.3,55.2,47.9,55.4,47.2,55.4z M36.4,21.9c-0.1,0-0.2,0-0.2,0c-0.4,0.1-0.6,0.3-0.7,0.5c0,0.1,0,0.2,0,0.3l0,0l10.9,31.9
					c0.1,0.3,0.4,0.5,0.9,0.5c0.7,0,0.9-0.3,0.9-0.5L59,22.7c0.1-0.1,0.1-0.2,0-0.3c-0.1-0.2-0.3-0.4-0.7-0.5
					c-0.5-0.1-0.9,0.2-1.1,0.5l-10,29.3l-10-29.3C37.1,22.2,36.8,21.9,36.4,21.9z"
            />
          </g>
          <g>
            <path
              d="M47.2,57.9c-1.7,0-3-0.9-3.5-2.4L32.8,23.7c-0.3-0.8-0.3-1.7,0.1-2.5c0.4-1,1.4-1.7,2.6-2c1.8-0.5,3.6,0.4,4.4,2.1
					c0,0.1,0.1,0.2,0.1,0.2L47.3,43l7.4-21.5c0-0.1,0.1-0.2,0.1-0.2c0.8-1.7,2.6-2.5,4.4-2.1c1.2,0.3,2.1,1.1,2.5,2
					c0.3,0.8,0.4,1.7,0,2.4L50.8,55.5C50.3,57,49,57.9,47.2,57.9z M48.7,53.8L48.7,53.8L48.7,53.8z"
            />
            <path
              d="M47.2,58.1c-1.7,0-3.2-1-3.7-2.5L32.7,23.8c-0.3-0.8-0.3-1.8,0.1-2.6c0.5-1,1.4-1.8,2.7-2.1c1.8-0.5,3.8,0.5,4.6,2.2
					c0,0.1,0.1,0.2,0.1,0.3l7.2,21l7.2-21c0-0.1,0.1-0.2,0.1-0.3c0.8-1.7,2.8-2.6,4.6-2.1c1.2,0.3,2.1,1.1,2.6,2.1
					c0.4,0.8,0.4,1.7,0,2.6L51,55.6C50.5,57.1,49.1,58.1,47.2,58.1z M36.4,19.3c-0.3,0-0.6,0-0.9,0.1c-1.1,0.3-2,1-2.5,1.9
					c-0.3,0.7-0.4,1.6,0,2.3l10.9,31.8c0.5,1.4,1.8,2.3,3.4,2.3c1.7,0,3-0.9,3.4-2.3l10.8-31.8c0.3-0.8,0.3-1.6,0-2.3
					c-0.4-0.9-1.3-1.6-2.4-1.9c-1.7-0.5-3.5,0.4-4.2,2c0,0.1-0.1,0.1-0.1,0.2l-7.5,21.9l-7.5-21.9c0-0.1-0.1-0.2-0.1-0.2
					C39.1,20.1,37.8,19.3,36.4,19.3z M48.7,54l0-0.3h0V54z"
            />
          </g>
        </g>
      </g>
    </g>
    <path
      class="st0"
      opacity="0.3"
      d="M12.2,6.5v59.7c2.6,0.5,5.2,1.2,7.7,2.2c3.5,1.4,6.8,2.7,10.5,3.5c7.9,1.7,16.1,1.9,24.2,1.9
	c6,0,12.5,0.1,17.3,4.3c2.6,2.2,3.8,5.2,6,7.7c2.2,2.5,4.8,4.3,6.8,7c0.2,0.3,0.3,0.6,0.5,0.9h2.7v-87H12.2z"
    />
  </g>
</template>
