<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M9.7,72.4c-5.3,0-9.6-4.3-9.7-9.6l0,0V37.3c0-5.3,4.3-9.6,9.6-9.6h17.7L49.2,6.6c1.5-1.6,4-1.8,5.6-0.3
	c0.9,0.7,1.3,1.8,1.3,3v81.5c0,2.2-1.8,3.9-4,3.9c-1.2,0-2.2-0.4-3-1.3L27.2,72.4H9.7z M71.9,65.3c8.4-8.5,8.4-22.1,0-30.5
	c-1.1-1.1-2.8-1.2-3.8-0.1c-0.5,0.5-0.9,1.2-0.9,1.9v26.9c0,1.5,1.3,2.7,2.8,2.7C70.6,66.2,71.4,65.9,71.9,65.3z M74.9,89.5
	c21.8-10.2,31.2-36.2,21-58c-4.4-9.3-11.7-16.6-21-21c-2.8-1.2-6,0.1-7.1,2.9c-1.2,2.7,0,5.7,2.6,7c16.4,7.8,23.3,27.2,15.5,43.6
	c-3.2,6.8-8.7,12.3-15.5,15.5c-2.7,1.4-3.8,4.6-2.4,7.3C69.2,89.5,72.2,90.7,74.9,89.5L74.9,89.5z"
    />
  </g>
</template>
