<template>
  <!-- eslint-disable -->
  <g>
    <path
      d="M9.7,72.4c-5.3,0-9.6-4.3-9.7-9.6l0,0V37.3c0-5.3,4.3-9.6,9.6-9.6h17.7L49.2,6.6c1.5-1.6,4-1.8,5.6-0.3
	c0.9,0.7,1.3,1.8,1.3,3v81.5c0,2.2-1.8,3.9-4,3.9c-1.2,0-2.2-0.4-3-1.3L27.2,72.4"
    />
  </g>
</template>
