<template>
  <!-- eslint-disable -->
  <g>
    <g class="st0" opacity="0.3">
      <polygon
        points="4.1,94.2 3.1,17.7 11.4,7.1 24.6,5.8 89.1,8.1 94.8,14.1 96.9,34.3 95.1,72.7 91.2,77.1 86.3,79.9 44.3,78.9 
		25.9,78.1 	"
      />
    </g>
    <g>
      <g>
        <g>
          <g>
            <path
              d="M-0.9,46l0-26.4c0-10.4,8.6-18.8,19.1-18.8l64,0c10.4,0,18.8,8.4,18.8,18.8l0,44c0,10.4-8.4,18.9-18.8,18.9l-54.8,0
					c-1,0-1.8,0-2.5,0c-0.7,0-1.5,0-1.8,0c-0.3,0.2-1.1,1-1.9,1.7c-0.3,0.3-0.7,0.6-1,0.9L5.7,98.2c-1.1,1-2.8,1.3-4.3,0.7
					c-1.4-0.6-2.4-2-2.4-3.6l0-41.5L-0.9,46z M93.1,19.6c0-6.1-4.9-11-11-11l-64,0c-6.1,0-11.2,4.9-11.2,11l0,30.4l0,36.5l7.9-7.1
					c0.4-0.3,0.8-0.6,1.1-0.9c3.6-3.3,4.5-3.8,9.2-3.7c0.6,0,1.4,0,2.3,0l54.8,0c6.1,0,11-5,11-11.1L93.1,19.6L93.1,19.6z"
            />
            <path
              d="M3.1,100c-0.6,0-1.3-0.1-1.9-0.4c-1.7-0.8-2.9-2.5-2.9-4.3l0-75.7C-1.7,8.8,7.2,0,18.1,0l64,0C87.4,0,92.3,2,96,5.7
					c3.7,3.7,5.7,8.6,5.7,13.9v44c0,10.8-8.8,19.7-19.6,19.7H27.3c-1.1,0-1.9,0-2.5,0c-0.9,0-1.3,0-1.5,0c-0.4,0.3-1.2,1-1.7,1.5
					c-0.2,0.2-0.4,0.3-0.6,0.5l-0.5,0.4L6.3,98.8C5.4,99.6,4.2,100,3.1,100z M-0.2,46v49.3c0,1.2,0.8,2.4,2,2.9
					c1.1,0.5,2.5,0.3,3.4-0.6L20,84.1c0.2-0.2,0.4-0.3,0.5-0.5c0.9-0.8,1.6-1.5,2-1.7l0.2-0.1l0.2,0c0.1,0,0.4,0,1.9,0
					c0.6,0,1.4,0,2.5,0h54.8c9.9,0,18-8.1,18-18.1v-44c0-4.8-1.9-9.4-5.3-12.8C91.5,3.4,87,1.6,82.2,1.6l-64,0
					C8,1.6-0.2,9.6-0.2,19.6L-0.2,46z M6.1,88.2l0-68.6c0-6.5,5.4-11.8,12-11.8l64,0c6.6,0,11.7,5.2,11.7,11.8v44
					c0,6.5-5.3,11.8-11.7,11.8H27.3c-0.9,0-1.7,0-2.3,0c-4.4-0.1-5.2,0.3-8.7,3.5c-0.2,0.1-0.3,0.3-0.5,0.5
					c-0.2,0.1-0.4,0.3-0.5,0.5L6.1,88.2z M18.1,9.4C12.4,9.4,7.7,14,7.7,19.6l0,65.1l6.6-5.9c0.2-0.2,0.4-0.3,0.6-0.5
					c0.2-0.1,0.3-0.3,0.5-0.4c3.7-3.4,4.8-4,9.7-3.9c0.6,0,1.4,0,2.3,0h54.8c5.6,0,10.2-4.6,10.2-10.3v-44c0-5.7-4.5-10.2-10.2-10.2
					L18.1,9.4z"
            />
          </g>
        </g>
      </g>
      <g>
        <g>
          <path
            d="M20.6,28c-0.6-2.1,0.5-3.6,2.7-3.6h3.7c1.9,0,3.1,0.9,3.4,2.8L36.6,50c0.5,2.1,0.8,4.1,0.8,4.1h0.2c0,0,0.3-2.1,0.8-4.1
				l6.6-22.7c0.4-1.8,1.6-2.7,3.5-2.7h2.9c1.9,0,3.1,0.9,3.5,2.7L61.3,50c0.6,2.1,0.8,4.1,0.8,4.1h0.2c0,0,0.3-2.1,0.8-4.1l6.2-22.7
				c0.5-1.9,1.6-2.8,3.5-2.8h3.5c2.3,0,3.3,1.4,2.7,3.6L69,60.7c-0.5,1.8-1.8,2.7-3.6,2.7h-5.1c-1.9,0-3.1-0.9-3.6-2.7l-5.9-19.5
				c-0.6-2.1-0.9-4.2-0.9-4.2h-0.2c0,0-0.4,2.1-1,4.2l-5.9,19.5c-0.5,1.8-1.6,2.7-3.5,2.7h-5.3c-1.8,0-3-0.8-3.5-2.7L20.6,28z"
          />
          <path
            d="M65.4,64.1h-5.1c-2.3,0-3.8-1.2-4.3-3.3l-5.9-19.4c-0.1-0.3-0.2-0.7-0.3-1c-0.1,0.3-0.2,0.7-0.3,1l-5.9,19.5
				c-0.5,2.1-2,3.3-4.3,3.3h-5.3c-2.2,0-3.6-1.1-4.3-3.2L19.8,28.2c-0.4-1.3-0.2-2.4,0.4-3.3c0.6-0.8,1.7-1.3,3-1.3h3.7
				c2.3,0,3.7,1.2,4.2,3.4l6.2,22.7c0,0.2,0.1,0.4,0.1,0.5c0-0.2,0.1-0.4,0.1-0.5l6.6-22.7c0.5-2.2,2-3.3,4.3-3.3h2.9
				c2.2,0,3.7,1.2,4.3,3.3l6.5,22.7c0.1,0.2,0.1,0.4,0.2,0.6c0-0.2,0.1-0.4,0.2-0.6L68.6,27c0.5-2.2,2-3.4,4.3-3.4h3.5
				c1.7,0,2.6,0.7,3,1.3c0.4,0.6,0.9,1.6,0.4,3.3l-10,32.7C69.2,63,67.7,64.1,65.4,64.1z M49.2,36.2h1.5l0.1,0.7
				c0,0,0.3,2.1,0.9,4.1l5.9,19.5c0.4,1.5,1.3,2.2,2.8,2.2h5.1c1.5,0,2.4-0.7,2.8-2.1l10-32.7c0.2-0.6,0.3-1.4-0.1-1.9
				c-0.4-0.5-1.2-0.7-1.8-0.7h-3.5c-1.6,0-2.4,0.7-2.8,2.2l-6.2,22.8c-0.5,2-0.8,4-0.8,4L63,54.9h-1.5l-0.1-0.7c0,0-0.2-2-0.8-4
				l-6.5-22.7c-0.4-1.5-1.2-2.2-2.8-2.2h-2.9c-1.6,0-2.4,0.7-2.7,2.1l0,0.1l-6.6,22.7c-0.5,2-0.8,4-0.8,4l-0.1,0.7h-1.5l-0.1-0.7
				c0,0-0.3-2.1-0.8-4.1l-6.3-22.8c-0.3-1.5-1.1-2.2-2.7-2.2h-3.7c-0.6,0-1.3,0.1-1.8,0.7c-0.4,0.6-0.3,1.4-0.2,1.9l10.1,32.6
				c0.4,1.5,1.3,2.1,2.8,2.1h5.3c1.5,0,2.4-0.7,2.8-2.2l5.9-19.5c0.6-2,1-4.1,1-4.1L49.2,36.2z"
          />
        </g>
      </g>
    </g>
  </g>
</template>
