<template>
  <div class="error-component">
    <component :is="page" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Forbidden from './Forbidden.vue'
import NotFound from './NotFound.vue'

export default {
  name: 'Error',

  props: {
    status: {
      type: Number,
      required: false,
      default: 404,
    },
  },

  components: { NotFound, Forbidden },

  data() {
    return {
      page: '',
    }
  },

  computed: {
    ...mapGetters(['responseStatusCode']),
  },

  watch: {
    responseStatusCode: {
      immediate: true,
      handler(val) {
        if (val === 403) this.page = 'Forbidden'
        if (val === 404) this.page = 'NotFound'
      },
    },
  },

  methods: {
    setPage() {
      if (this.responseStatusCode === 403) this.page = 'Forbidden'
      if (this.responseStatusCode === 404) this.page = 'NotFound'
    },
  },
}
</script>

<style lang="scss" scoped>
.error-component {
  position: fixed;
  z-index: 99999;
  background: var(--background-color);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
