<script>
import { checkConnection } from '../../services/common.service'
import EmptyContent from '../EmptyContent.vue'

export default {
  name: 'NotFound',

  components: {
    EmptyContent: EmptyContent,
  },

  data() {
    return {
      checking: false
    }
  },

  methods: {
    async retryConnection() {
      this.checking = true
      const response = await checkConnection()
      this.checking = false
      console.log(response)
    },
  },
}
</script>

<template>
  <EmptyContent
    with-button
    button-text="Yeniden Dene"
    :button-loading="checking"
    class="empty-content--notfound"
    icon="icon-connection-error"
    title="Ufak bir sorun oluştu, <span>bağlantı hatası!</span>"
    text="İnternet bağlantınızı kontrol ederek uygulamaya tekrar erişin<br>veya destek ekibimizle iletişime geçin!"
    @on-action="retryConnection"
  />
</template>
