<script>
import { HANDLE_STATUS_CODE } from '../../store/actions.type'
import EmptyContent from '../EmptyContent.vue'

export default {
  name: 'NotFound',

  components: {
    EmptyContent: EmptyContent,
  },

  methods: {
    goBack() {
      this.$router.push(this.$route.matched[0])
      this.$store.dispatch(HANDLE_STATUS_CODE, 200)
    }
  }
}
</script>

<template>
  <EmptyContent
    with-button
    button-text="Uygulamaya Dön"
    class="empty-content--notfound"
    icon="icon-connection-error"
    title="<span>İçeriğe Erişilemiyor!</span>"
    text="Erişmeye çalıştığınız içerik silinmiş veya ürüne erişim süreniz dolmuş olabilir. Lütfen<br>daha sonra tekrar deneyin ya da müşteri hizmetleriyle iletişime geçin."
    @on-action="goBack"
  />
</template>
