<template>
  <section class="component component--deneme-filter">
    <container>
      <div class="tab-filter justify-content-between" v-if="loaded && types !== null">
        <div class="tab-filter__item f-select" >
          <select-box :options="typeOptions" title="Sınav Filtrele" @onselect="handleSelectType" />
        </div>
        <div class="tab-filter__item">
          <TabFilterButtons
            :buttons="statusButtons"
            @onClickButton="handleClickStatus"
            ref="tabFilterButtons"
          />
        </div>
      </div>
    </container>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'

export default {
  data() {
    return {
      statusButtons: [
        {
          id: -1,
          title: 'Tümü',
        },
        {
          id: 0,
          title: 'Tamamlanmayan',
        },
        {
          id: 1,
          title: 'Tamamlanan',
        },
      ],
      typeOptions: [],
    }
  },
  computed: {
    ...mapGetters({
      types: 'denemeList/types',
      filters: 'denemeList/filters',
      loaded: 'denemeList/loaded',
      loading: 'denemeList/loading',
    })
  },
  methods: {
    ...mapActions({
      setFilters: 'denemeList/setFilters'
    }),
    syncTypeOptions() {
      const typeOptions = []
      typeOptions.push({
        selected: false,
        label: 'Tüm Sınavları Göster',
        value: -1
      })
      this.types.forEach(type => {
        typeOptions.push({
          selected: false,
          label: type.name,
          value: type.id
        })
      })
      this.typeOptions = typeOptions
    },
    handleClickStatus(status) {
      const filters = { ...this.filters, isDone: status.id }
      this.setFilters(filters)
    },
    handleSelectType(type) {
      const filters = { ...this.filters, typeId: type.value }
      this.setFilters(filters)
    }
  },
  created() {
    this.syncTypeOptions()
  },
  components: {
    TabFilterButtons,
  },
}
</script>
