<template>
  <section class="component component--deneme-list-item">
    <div class="tests__item">
      <div class="tests__top flex-flow-wrap">
        <div class="tests__icon tooltip-btn" v-tooltip="itemData.groupIconTooltip">
          <img :src="itemData.groupIcon" alt class="icon" />
        </div>
        <div class="tests-inf">
          <div class="tests-inf__head" @click="handleClickSolve(itemData.id)">
            <div class="tests-inf__icon">
              <svg-icon type="icon-exam-item" />
            </div>
            <div>
              <div class="tests-inf__title">{{itemData.title}}</div>
              <div class="tests-inf__txt">
                <strong>{{itemData.categoryName}}</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="tests-inf-ctr with-progress-inf">
          <div class="tests-inf__quest-count tests-inf-ctr--progress">
            <strong class="font-500 font-size-17">
              <b>Soru Sayısı</b>
              {{itemData.questionCount}}
            </strong>
          </div>
          <v-button
            @click.native="handleClickSolve(itemData.id)"
            title="DENEMEYİ ÇÖZ"
            class="tests-ctr__btn default"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ListItemTodo',
  props: ['itemData'],
  methods: {
    handleClickSolve(id) {
      this.$router.push({
        path: `/deneme/detay/${id}`,
        query: { status: 'start' }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/_variables';

.tests {
  &__item {
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;

    @include bp(tablet) {
      padding: 5px;
    }

    .button-add-word {
      min-height: 47px;
      background: #ecf0f5 !important;

      .button__icon {
        width: 33px;
        height: 33px;
        font-size: 13px !important;
      }
    }

    &.with-progress {
      .tests {
        &__top {
          @include bp(tablet) {
            flex-flow: wrap;
          }
        }

        &-inf {
          padding-right: 0;
          margin-left: auto;
          width: auto;
          border-left: none;

          &.ml-unset {
            margin-left: unset;
            padding-bottom: 0 !important;
          }

          @include bp(tablet) {
            border-top: 1px solid #e8edf0;
            margin-top: 15px;
            padding-top: 15px;
            margin-left: 0;
            width: 100%;
            flex-flow: wrap;
          }

          &-ctr {
            @include bp(tablet) {
              width: 100%;
            }

            .button {
              @include bp(tablet) {
                width: 100%;
              }
            }

            strong {
              @include bp(tablet) {
                width: fit-content;
                margin-right: 15px;
              }
            }

            &--progress {
              margin-left: auto;

              @include bp(tablet) {
                margin-left: unset;
                width: 100%;
                margin-bottom: 15px;
              }

              .progress {
                @include bp(tablet) {
                  min-width: auto;
                  width: 100%;
                  margin-right: 0;
                  margin-left: 0;
                }
              }
            }
          }

          &__head {
            border-left: 1px solid #e8edf0;
            padding-left: 25px;

            @include bp(tablet) {
              width: 100%;
              padding-left: 0;
              border-left: none;
            }
          }
        }
      }
    }

    .with-progress-inf {
      @include bp(desktop) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      @include bp(tablet) {
        flex-direction: row;
        align-items: center;
      }

      .tests-inf-ctr--progress {
        @include bp(desktop) {
          margin-top: 15px;
          margin-right: 0;
        }

        @include bp(tablet) {
          margin-top: 0;
        }

        .progress {
          margin-right: 0;
        }
      }
    }

    &:hover {
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
      transform: translateY(-5px);

      .tests-ctr__btn,
      .tests-results__btn {
        background: #4545a2 !important;
        color: #fff !important;
      }

      .tests {
        &-inf {
          &__head {
            &.correct {
              .tests-inf__icon {
                color: #51d169;
              }
            }
          }
        }
      }
    }

    &:not(.completed):hover {
      .tests-inf__icon {
        color: $c-alt;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    &__todo {
      @include bp(tablet) {
        flex-flow: wrap;
      }
    }

    &.flex-flow-wrap {
      @include bp(tablet) {
        flex-flow: wrap;
      }

      .tests {
        &-inf {
          @include bp(tablet) {
            width: calc(100% - 39px - 10px);
          }

          &-ctr {
            @include bp(tablet) {
              width: 100%;
              justify-content: space-between;
              border-top: 1px solid #e8edf0;
              padding-top: 15px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    @include bp(desktop) {
      padding: 15px;
    }

    @include bp(tablet) {
      padding: 10px;
    }
  }

  &__icon {
    display: inline-flex;
    width: 1.7em;
    height: 1.7em;
    background: $c-bgicon;
    font-size: 33px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25px;
    flex-shrink: 0;

    @include bp(tablet) {
      width: 1.3em;
      height: 1.3em;
      font-size: 30px;
      margin-right: 10px;
      padding: 5px;
      display: none;
    }
  }

  &-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #e8edf0;
    align-self: stretch;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

    &__todo {
      @include bp(tablet) {
        width: 100%;
      }
    }

    @include bp(tablet) {
      padding-left: 0px;
      padding-right: 0px;
      border-left: none;
    }

    &__head {
      display: flex;
      align-items: center;
      color: #bfcbd6;

      &.correct {
        color: #51d169;
      }

      &.continued {
        color: $c-alt;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 40px;
      margin-right: 25px;
      transition: all 0.3s ease;

      @include bp(desktop) {
        font-size: 44px;
        margin-right: 10px;
      }

      @include bp(tablet) {
        font-size: 33px;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: $c-secondary;
      transition: all 0.3s ease;
      text-transform: capitalize;
      cursor: pointer;

      @include bp(desktop) {
        display: -webkit-box;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: auto;
      }

      @include bp(tablet-m) {
        font-size: 16px;
      }

      @include bp(tablet) {
        -webkit-line-clamp: 2;
        width: auto;
      }
    }

    &__txt {
      font-weight: 500;
      color: $c-secondary;
    }

    &-ctr {
      color: $c-secondary;
      font-size: 17px;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      &-fw {
        @include bp(tablet) {
          width: 100%;
        }

        .button {
          @include bp(tablet) {
            width: 100% !important;
            margin-top: 15px;
          }
        }
      }

      strong {
        white-space: nowrap;

        @include bp(tablet-m) {
          font-size: 14px;
        }
      }

      .progress {
        min-width: 185px;
        margin-left: 10px;
        margin-right: 10px;

        @include bp(desktop) {
          min-width: 140px;
        }
      }

      .button {
        margin-right: 15px;

        &__icon {
          transition: .2s;
        }

        &--circle {
          &:hover {
            background: $c-alt;

            .button__icon {
              color: #fff;
            }
          }
        }

        &:last-child {
          margin-right: 0px;
          margin-left: 15px;
          width: 214px;

          @include bp(tablet) {
            margin-left: 0;
          }

          .button__icon {
            font-size: 21px;
          }
        }
      }
    }

    &__quest-count {
      width: max-content;
      margin-right: 10px;
    }
  }
}
</style>
