<template>
  <div class="t-badge" :class="{ danger: notification.style === 'orange' }">
    <div class="t-badge--icon"><img :src="notification.icon" alt="notification.title"></div>
    <div class="t-badge--title">
      <strong v-html="notification.title"></strong>
      <span v-html="notification.description"></span>
    </div>
    <div class="t-badge--button">
      <a class="button fw c-purple" target="_blank" v-html="notification.button.text" :href="notification.button.url" />
    </div>
  </div>
</template>

<script>
export default {
  props: ['notification']
}
</script>
