<script>
import { mapActions, mapGetters } from 'vuex'
import { cloneObject } from '../../../common/helpers'
import { digibookToolsMixin } from '../../../mixins/digibook-tools-mixin'
import { modalControlsMixin } from '../../../mixins/modal-controls.mixin'
import WordsList from '../../WordsList.vue'
import DigibookTools from '../DigibookTools.vue'
import BaseTextarea from '../../Base/BaseTextarea.vue'
import DigibookBlock from '../DigibookBlock/DigibookBlock.vue'
import DigibookQuestionsModal from '../../Digibook/DigibookQuestionsModal.vue'
import DigibookBlockQuestion from '../DigibookBlock/DigibookBlockQuestion.vue'
import DigibookBlockTranslation from '../DigibookBlock/DigibookBlockTranslation.vue'
import DigibookBlockNumber from '../DigibookBlock/DigibookBlockNumber.vue'

export default {
  name: 'DigibookTranslationItem',

  mixins: [digibookToolsMixin, modalControlsMixin],

  props: {
    item: {
      type: Object,
      default: () => {},
      required: true,
    },
    index: {
      type: [Number, String],
      default: 1,
      required: true,
    },
    tools: {
      type: Array,
      default: () => [],
    },
  },

  components: {
    Piece: DigibookBlock,
    Number: DigibookBlockNumber,
    Question: DigibookBlockQuestion,
    Translation: DigibookBlockTranslation,
    Answer: BaseTextarea,
    Tools: DigibookTools,
    QuestionsModal: DigibookQuestionsModal,
    WordsList: WordsList,
  },

  data() {
    return {
      userAnswer: this.item.user_answer,
    }
  },

  computed: {
    ...mapGetters({
      itemTools: 'digibook/tools/tools',
    }),

    visibleTools() {
      let tools = cloneObject(this.itemTools)
      if (this.userAnswer.length < 3) {
        let item = tools.find(el => el.icon === 'translate')
        item.visible = false
      }
      tools = tools.filter(el => el.visible === true)
      return tools
    },

    toolHasLoaded() {
      return !this.item.toolLoading && this.item.toolLoaded
    },

    hasTranslate() {
      return this.toolHasLoaded && this.item.activeTools.includes('translate')
    },

    hasWordlists() {
      return (
        this.toolHasLoaded &&
        (this.hasVocabularies ||
          this.hasCollocations ||
          this.hasPrepositions) &&
        this.item.activeTools.includes('lists')
      )
    },

    hasVocabularies() {
      return this.item.toolData.words.length > 0
    },

    hasCollocations() {
      return this.item.toolData.collocations.length > 0
    },

    hasPrepositions() {
      return this.item.toolData.prepositions.length > 0
    },
  },

  methods: {
    ...mapActions({
      setAnswer: 'digibook/translation/handleAnswer',
      getToolData: 'digibook/translation/fetchToolData',
    }),

    handleAnswer(value) {
      this.userAnswer = value
    },

    checkAnswer(value) {
      let data = {
        contentId: this.$route.params.contentId,
        answer: {
          key: this.item.id,
          value: value,
        },
      }
      this.setAnswer(data)
    },

    handleClickTool(tool, itemType, itemId) {
      console.log('tool click: ', tool, itemType, itemId)
      this.getToolData({
        contentId: this.$route.params.contentId,
        itemId: itemId,
        itemType: itemType,
        tool: tool,
      })

      if (tool === 'question') this.showQuestionsModal()
    },
  },
}
</script>

<template>
  <Piece
    :has-options="false"
    :has-input="true"
    :has-number="true"
    :has-translation="hasTranslate"
    :has-wordlists="hasWordlists"
    :tool-loading="item.toolLoading && !item.toolLoaded"
  >
    <template #number>
      <Number :number="index + 1" />
    </template>

    <template #question>
      <Question :text="item.question" />
    </template>

    <template #translation>
      <Translation :content="item.toolData.translate" />
    </template>

    <template #input>
      <Answer
        :text="item.user_answer"
        @input="handleAnswer"
        @blur="checkAnswer"
      />
    </template>

    <template #tools>
      <Tools
        :tools="visibleTools"
        :current-tool="item.activeTool"
        :piece-id="item.id"
        :piece-type="'sentence'"
        :active-tools="item.activeTools"
        @click-tool="handleClickTool"
      />
    </template>

    <template #wordlists>
      <WordsList
        v-if="hasVocabularies"
        :title="'Vocabulary'"
        :words="item.toolData.words"
        :word-type="'w'"
      />
      <WordsList
        v-if="hasCollocations"
        :title="'Collocations'"
        :words="item.toolData.collocations"
        :word-type="'c'"
        :is-basic="true"
      />
      <WordsList
        v-if="hasPrepositions"
        :title="'Prepositions'"
        :words="item.toolData.prepositions"
        :word-type="'p'"
        :is-basic="true"
      />
    </template>

    <template #modals>
      <QuestionsModal
        v-if="item.toolLoaded && !item.toolLoading"
        :active="questionsModalVisible"
        :index="1"
        :my-questions="item.toolData.myQuestions"
        :other-questions="item.toolData.otherQuestions"
        :question-id="item.id"
        @onClose="hideQuestionsModal('translations', item.id)"
      />
    </template>
  </Piece>
</template>
