<script>
export default {
  name: 'DetailHeader',
}
</script>

<template>
  <div class="detail-header">
    <div class="detail-header__left">
      <slot name="left" />
    </div>
    <div class="detail-header__middle">
      <slot name="middle" />
    </div>
    <div class="detail-header__right">
      <slot name="right" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/_variables';

.detail-header {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding: 1.5rem 2rem 0;

  @include bp(tablet-l) {
    padding: 1rem 1.5rem 0;
  }

  &__left,
  &__right {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  &__middle {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;

    @include bp(tablet-l) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}
</style>
