<template>
  <section class="view view--deneme-detail">
    <div class="detail-page tests-detail-page" :class="{ 'dark-mode': getDarkMode }">
      <!-- <template v-if="loading && !loaded">Yükleniyor</template> -->
      <template v-if="!loading && !loaded">
        <ConnectedError />
      </template>
      <template>
        <!-- header -->
        <TestHeader @triggerDark="handleClickToggleDarkMode" v-if="loaded"></TestHeader>
        <GhostExamHeader v-if="loading" />
        <!-- end Header -->

        <div class="detail-inner">
          <!-- Question Body -->

          <!-- End Question Body -->
          <container class="deneme-detail__cnt" v-if="loaded">
            <test-question :translatable="isTranslatable" />
            <test-navigation />
          </container>
          <container class="deneme-detail__cnt" v-if="loading">
            <GhostExamTest />
          </container>
        </div>
        <test-modal-pause v-if="loaded" />
        <test-modal-done v-if="loaded" />
      </template>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TestHeader from '@/components/Test/Detail/Header'
import TestQuestion from '@/components/Test/Detail/Question'
import TestNavigation from '@/components/Test/Detail/Navigation'
import TestModalPause from '@/components/Test/Detail/ModalPause'
import TestModalDone from '@/components/Test/Detail/ModalDone'
import GhostExamHeader from '@/core/Ghost/GhostExamHeader'
import GhostExamTest from '@/core/Ghost/GhostExamTest'
import ConnectedError from '@/components/ConnectedError'

export default {
  name: 'TestsDetail',
  components: {
    TestHeader,
    TestQuestion,
    TestNavigation,
    TestModalPause,
    TestModalDone,
    GhostExamTest,
    GhostExamHeader,
    ConnectedError
  },
  data() {
    return {
      isDarkMode: false,
      confirmModal: true,
      isTranslatable: true
    }
  },

  watch: {
    loaded(e) {
      if (e) {
        document.title = `${this.testName} | Test | RH+ Platform`
        this.$route.meta.title = this.testName
      }
    }
  },

  computed: {
    ...mapGetters({
      loaded: 'testDetail/loaded',
      loading: 'testDetail/loading',
      testName: 'testDetail/testName'
    }),

    ...mapGetters(['getDarkMode'])
  },

  mounted() {
    document.title = `Yükleniyor... | Test | RH+ Platform`
    this.getDetails({ id: this.$route.params.detailId })
  },

  methods: {
    ...mapActions({
      getDetails: 'testDetail/getDetails'
    }),

    handleClickToggleDarkMode() {
      this.isDarkMode = !this.isDarkMode
    }
  }
}
</script>
