<template>
  <div class="test-report-page" :class="{ 'dark-mode': getDarkMode }">
    <!-- <template v-if="loading && !loaded">Yükleniyor</template> -->
    <template v-if="!loading && !loaded">
      <ConnectedError />
    </template>
    <template>
      <test-report-header v-if="loaded" />
      <GhostDenemeReportHeader v-if="loading" />
      <div class="detail-inner">
        <container class="deneme-detail__cnt">
          <swiper
            :options="tabSwiper"
            class="reading-tabitems"
            ref="detailTabs"
            @slideChange="changeSlide"
            v-if="loaded"
          >
            <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
              <TabItem
                :icon="tab.icon"
                :text="tab.text"
                :active="index === activeTab"
                @click.native="tabShow(tab, index)"
              ></TabItem>
            </swiper-slide>
          </swiper>
          <GhostTab v-if="loading" />
          <tab v-if="loaded">
            <tab-pane :class="{ active: currentTab === 0 }" class="summary-tab">
              <test-report-summary />
            </tab-pane>

            <tab-pane :class="{ active: currentTab === 1 }" class="answer-keys">
              <test-report-question-list />
            </tab-pane>
          </tab>
          <GhostReport v-if="loading" />
        </container>
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import Modal from '@/components/Modal'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
// import TabFilterButtons from '@/components/Tab/TabFilterButtons'
// import CircleProgress from '@/components/CircleProgress'
import TestReportHeader from '@/components/Test/Report/Header'
import TestReportSummary from '@/components/Test/Report/Summary'
import TestReportQuestionList from '@/components/Test/Report/QuestionList'
import GhostExamReport from '@/core/Ghost/GhostExamReport'
import GhostExamTab from '@/core/Ghost/GhostExamTab'
import GhostDenemeReportHeader from '@/core/Ghost/GhostDenemeReportHeader'
import ConnectedError from '@/components/ConnectedError'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'TestsReport',
  components: {
    // Modal,
    Tab,
    TabItem,
    TabPane,
    swiper,
    swiperSlide,
    // TabFilterButtons,
    // CircleProgress,
    TestReportHeader,
    TestReportSummary,
    TestReportQuestionList,
    GhostReport: GhostExamReport,
    GhostTab: GhostExamTab,
    GhostDenemeReportHeader,
    ConnectedError
  },
  data() {
    return {
      currentTab: 0,
      currentTab2: 0,
      showAddList: false,
      activeTab: 0,
      activeSlide: 0,
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true
          }
        }
      },
      tabs: [
        {
          id: 0,
          icon: null,
          text: 'TEST ÖZETİ',
          active: true
        },
        {
          id: 1,
          icon: null,
          text: 'AÇIKLAMALI CEVAP ANAHTARI',
          active: false
        }
      ],
      tabs2: [
        {
          id: 0,
          icon: 'icon-vocabulary-o',
          text: 'VOCABULARY',
          active: true
        },
        {
          id: 1,
          icon: 'icon-collocation-o',
          text: 'COLLOCATION',
          active: false
        },
        {
          id: 2,
          icon: 'icon-preposition-o',
          text: 'PREPOSITION',
          active: false
        }
      ],
      statusButtons: [
        {
          id: 0,
          title: 'Tümü (25)',
          status: null
        },
        {
          id: 1,
          title: 'Doğrular (12)',
          status: null
        },
        {
          id: 2,
          title: 'Yanlışlar (12)',
          status: 'none'
        },
        {
          id: 3,
          title: 'Boşlar (1)',
          status: 'completed'
        }
      ]
    }
  },
  watch: {
    loaded(e) {
      if (e) {
        document.title = `${this.reportName} | Test | RH+ Platform`
        this.$route.meta.title = this.reportName
      }
    }
  },
  methods: {
    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      // console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    tabShow2(tab, index) {
      this.currentTab2 = index
    },
    ...mapActions({
      getReport: 'testReport/getReport'
    })
  },
  computed: {
    ...mapGetters({
      report: 'testReport/report',
      loaded: 'testReport/loaded',
      loading: 'testReport/loading',
      reportName: 'testReport/reportName'
    }),
    ...mapGetters(['getDarkMode'])
  },
  created() {
    document.title = `Yükleniyor... | Test | RH+ Platform`
    this.getReport({ id: this.$route.params.detailId })
  },
  mounted() {
    this.$store.dispatch('rosette/getBadges')
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/deneme';
@import '../../assets/scss/components/detail';
@import '../../assets/scss/components/inputs';
</style>
