@import '../variables';

.alert {
  padding: 1rem;
  border: none;
  border-radius: 0.75rem;
  position: relative;
  background-color: #5657ab;
  color: #fff;

  @include bp(desktop-s) {
    padding: 0.75rem;
  }

  @include bp(tablet) {
    padding: 20px;
  }

  &-lessons {
    margin: 0;
  }

  &-primary {
    background: #5657ab;
    color: #fff;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 100%;

    @include bp(tablet) {
      flex-flow: wrap;
    }
  }

  &__cnt {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @include bp(desktop-s) {
      padding-top: 0.75rem;
      margin-top: 0.75rem;
    }

    &:empty {
      display: none;
    }
  }

  &__icon {
    width: 1em;
    height: 1em;
    object-fit: contain;
    font-size: 3.5rem;
    margin-right: 2.25rem;

    @include bp(desktop-s) {
      font-size: 2.5rem;
      margin-right: 1.25rem;
      margin-left: 0.5rem;
    }

    @include bp(tablet) {
      margin-right: 1rem;
      font-size: 2.25rem;
      flex-shrink: 0;
    }
  }

  strong {
    color: $c-alt;
    font-weight: 900;
  }

  .underline {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);

    @include bp(desktop-s) {
      font-size: 1.25rem;
    }
  }

  &__txt {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 400;
    margin-right: 1.5rem;

    @include bp(desktop-s) {
      font-size: 1rem;
    }

    @include bp(tablet) {
      width: calc(100% - 60px);
      margin-right: 0;
      line-height: 20px;
      font-size: 18px;
      font-weight: 600;
    }

    &.pull-right {
      margin-left: auto;
    }
  }

  &__button {
    min-width: 220px;
    margin-left: auto;

    @include bp(desktop-s) {
      min-width: 10rem;
      font-size: 1rem;
      padding: 0.25rem 1rem;
      min-height: 2.75rem;
    }

    @include bp(tablet) {
      width: 100%;
      margin-top: 15px;
    }
  }

  &-danger {
    background: #e96565;
    color: #fff;

    strong {
      color: #fac36d;
    }

    .alert__button {
      color: #ed4646;
    }
  }
}
