@import '../variables';

.app-box {
  margin-left: 1rem;
  position: relative;
  color: #fff;

  @include bp(desktop-s) {
    margin-left: 0.75rem;
  }

  @include bp(tablet) {
    width: 100%;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #FFF;

    .app-box__link {
      background: rgba($color: #000000, $alpha: 0.3);
      color: currentColor;
    }

    .app-box-opt .dots {
      color: $c-primary;
    }

  }

  &__group {
    display: flex;

    @include bp(tablet) {
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__link {
    display: flex;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.625rem 1rem;
    border-radius: 0.375rem;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    color: currentColor;
    transition: all .15s ease-in-out;
    position: relative;
    overflow: hidden;

    @include bp(desktop-s) {
      font-size: 0.875rem;
      padding: 0.5rem;
    }

    @include bp(tablet) {
      flex-direction: column;
      padding: 10px 15px 14px 15px;
    }

    &:before {
      width: 41px;
      height: 41px;
      left: 0;
      top: 0;
      transform: translate(10px, 10px);
      background: #fff;
      border-radius: 4px;
      transition: all .3s ease-in-out;
    }

  }

  &__icon {
    font-size: 24px;
    background: #fff;
    border-radius: 5px;
    display: inline-flex;
    padding: 0.625rem;
    margin-right: 1rem;
    position: relative;
    z-index: 2;
    transition: all .3s ease-in-out;

    @include bp(desktop-s) {
      font-size: 1.25rem;
      padding: 0.5rem;
      margin-right: 0.75rem;
    }

    @include bp(tablet) {
      margin-right: 0;
      background: transparent;
      font-size: 36px;
    }
  }

  &__name {
    position: relative;
    z-index: 2;

    @include bp(desktop-s) {
      padding-right: 0.5rem;
    }

    @include bp(tablet) {
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-opt {
    position: absolute;
    top: 50%;
    right: 15px;
    padding: 5px;
    width: 20px;
    height: 60%;
    transform: translateY(-50%);
    cursor: pointer;

    .dots {
      opacity: .7;
      font-size: 3px;
      top: 50%;
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s ease-in-out;
    }

  }

}