@import '../variables';

.apps {
  position: relative;
  font-weight: 600;

  &.active {
    z-index: 12;
  }

  .mobile-menu-button {
    .apps-button__icon {
      color: #fff;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 1.125rem;

    @include bp(desktop-s) {
      font-size: 0.875rem;
    }

    &:hover {
      .apps-button__txt {
        opacity: 1;
      }

      .apps-button__icon {
        border-color: #fff;
      }
    }

    &.active {
      .apps-button__txt {
        opacity: 1;
      }

      .apps-button__icon {
        background: #fff;
        color: #3b3c8e;
      }
    }

    &__icon {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      border: 1px solid rgba(255, 255, 255, 0.47);
      padding: 0.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 1.25rem;
      transition: all 0.3s ease-in-out;

      @include bp(desktop-s) {
        font-size: 0.875rem;
        width: 2.25rem;
        height: 2.25rem;
      }

      @include bp(tablet) {
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        margin-top: -0.375rem;
      }
    }

    &__txt {
      opacity: 0.7;
      margin-left: 1rem;
      transition: all 0.3s ease-in-out;

      @include bp(desktop-s) {
        margin-left: 0.75rem;
      }

      @include bp(tablet) {
        display: none;
      }
    }
  }

  &-dropdown {
    position: absolute;
    background: #e9eef3;
    display: flex;
    box-shadow: 0px 19px 120px 0px rgba(26, 34, 70, 0.16);
    border-radius: 1rem;
    top: 4rem;
    left: -2.25rem;
    width: 45rem;
    transform-origin: 50% 0;
    transition: transform 0.2s ease-in-out, opacity 0.25s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);

    @include bp(desktop-s) {
      width: 38rem;
      top: 3.25rem;
      transform: translateY(1rem);
    }

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(1px);
    }

    &:before {
      @include pseudo;
      @include triangle(up, $color: #e9eef3, $size: 9px);
      transform: translateY(-100%);
      left: 3rem;

      @include bp(desktop-s) {
        left: 2.75rem;
      }
    }
  }

  &-list {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    @include bp(desktop-s) {
      padding: 0.75rem;
    }
  }

  &__item {
    width: 33.33%;
    text-align: center;
    padding: 1.25rem 0.25rem;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;

    @include bp(desktop-s) {
      padding: 0.75rem 0.125rem;
    }

    &:hover {
      transition: 0.2s;
      background: #d9e1ec;

      .apps__name {
        opacity: 1;
      }

      .apps__icon {
        box-shadow: 0px 12px 51px 0px rgba(85, 100, 144, 0.25);
      }
    }
  }

  &__icon {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0 auto 1rem;
    background: #fff;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: center;
    font-size: 2.25rem;
    box-shadow: 0px 13px 51px 0px rgba(85, 100, 144, 0.14);
    transition: box-shadow 0.3s ease-in-out;

    @include bp(desktop-s) {
      width: 3.25rem;
      height: 3.25rem;
      font-size: 2rem;
      margin: 0 auto 0.75rem;
    }
  }

  &__name {
    color: $c-secondary;
    opacity: 0.75;
    position: relative;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;

    @include bp(desktop-s) {
      font-size: 0.875rem;
    }
  }

  &-cnt {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    padding: 1rem;
    background: #3962ad;
    border-radius: 0 1rem 1rem 0;

    @include bp(desktop-s) {
      padding: 0.75rem;
    }

    &__bg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0 15px 15px 0;
    }

    &__content {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    &__icon {
      width: 1em;
      height: 1em;
      font-size: 7.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.25rem;

      @include bp(desktop-s) {
        font-size: 5rem;
        margin-bottom: 1.75rem;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 2rem;
      color: #fff;
      line-height: 1.25em;
      margin-bottom: 1rem;

      @include bp(desktop-s) {
        font-size: 1.625rem;
        margin-bottom: 0.75rem;
      }
    }

    &__txt {
      color: #fff;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 200;
      padding: 0 1.25rem;

      @include bp(desktop-s) {
        font-size: 0.875rem;
        padding: 0 1rem;
      }
    }
  }
}
