@import '../variables';

.auth {
  background: $c-bgmain;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    padding-top: 1rem;
    position: relative;

    @include bp(mobile) {
      height: 4rem;
    }
  }

  &-logo {
    display: inline-flex;
    align-items: flex-end;

    &__img {
      display: block;
      height: 3rem;
      width: auto;

      @include bp(tablet) {
        height: 2rem;
      }
    }
  }

  &__cnt {
    display: block;
    margin: 0 auto;

    @include bp(mobile) {
      padding: 0;
    }
  }

  &__box {
    display: block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(41, 53, 108, 0.08);
    max-width: 580px;
    margin-left: auto;
    overflow: hidden;

    @include bp(tablet) {
      margin-right: auto;
    }

    @include bp(tablet-small) {
      max-width: inherit;
    }
  }

  &__container {
    margin-left: auto;
    margin-top: 25px;
    display: flex;
    margin-right: auto;
    position: relative;
    z-index: 22;
    margin-bottom: 0;
    flex-wrap: wrap;
    align-items: flex-start;

    @include bp(tablet) {
      margin-top: 60px;
      min-height: inherit;
      height: auto;
    }

    @include bp(mobile) {
      margin-top: 35px;
    }

    &.reset-password-container {
      min-height: 500px;
    }
  }

  &__bg {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: inherit;
    height: 100%;
    min-height: 131vh;
    max-height: 131vh;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
  }

  &-inf {
    display: block;
    margin-top: 40px;
    padding-left: 0;

    @include bp(tablet) {
      padding-left: 30px;
      margin-top: 0;
    }

    @include bp(tablet-small) {
      padding: 0;
    }

    @include bp(ipad-vertical) {
      padding-left: 25px;
    }

    &__title {
      display: block;
      color: $c-primary;
      font-weight: 900;
      margin-bottom: 10px;

      @include bp(mobile) {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }

    &__txt {
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
      color: #577288;

      @include bp(mobile) {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }

  .or {
    position: relative;
    text-align: center;
    margin: 10px 0;

    &__txt {
      background: #f7f9fd;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include bp(mobile) {
      padding: 0;
    }
  }

  &-tab {
    display: block;
    margin-bottom: 30px;

    &__header {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #dde3eb;
      background: #fff;
    }

    &__link {
      display: inline-flex;
      text-align: center;
      padding: 30px 30px;
      font-size: 19px;
      line-height: 1em;
      min-width: 180px;
      justify-content: center;
      font-weight: 800;
      color: #88a0b5;
      margin-bottom: -1px;
      position: relative;
      width: 100%;

      &:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        background: $c-primary;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        transition: all 0.4s;
      }

      &:hover {
        color: #687e92;
      }

      @include bp(mobile) {
        min-width: inherit;
        padding: 25px;
      }

      &.active {
        color: $c-primary;
        background: #f7f9fd;

        &:after {
          width: 100%;
        }
      }
    }

    &__cnt {
      display: block;
    }

    &-pane {
      padding: 25px 20px;
      display: none;

      &.active {
        display: block;
      }

      @include bp(mobile) {
        padding: 15px;
      }

      &__header {
        margin-bottom: 25px;
        padding: 0 15px;

        @include bp(tablet) {
          padding: 0 5px;
        }

        @include bp(mobile) {
          padding: 0 5px;
          margin-bottom: 15px;
        }
      }

      &__title {
        color: $c-primary;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 5px;

        @include bp(tablet) {
          font-weight: 800;
          font-size: 18px;
        }
      }

      &__link {
        color: $c-alt;

        &:hover {
          color: #2492d6;
        }
      }

      &__txt {
        display: block;
        color: #7d97ad;
        margin-top: 10px;
        font-size: 17px;
        font-weight: 600;

        @include bp(tablet) {
          line-height: 15px;
          font-size: 14px;
        }
      }
    }
  }

  .form {
    display: block;

    &__group {
      margin-bottom: 15px;
    }

    &__row {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    &__title {
      display: block;
      width: 100%;
      padding-left: 20px;
      font-weight: 600;
      font-size: 15px;
      color: #4445a0;
      margin-bottom: 6px;
    }

    &__container {
      position: relative;
      height: 100%;
    }

    &__input {
      display: block;
      width: 100%;
      border: none;
      background: none;
      font-weight: 600;
      color: #556379;
      background: #ffffff;
      box-shadow: 0px 6px 7px 0px rgba(41, 53, 108, 0.15);
      padding: 10px 20px;
      height: 50px;
      border-radius: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      transition: all 0.5s;
    }

    &-with-icon {
      .form__input {
        padding-left: 50px;

        &:focus {
          & + .form__icon {
            color: #4545a2;
          }
        }
      }
    }

    &__icon {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 20px;
      width: 20px;
      justify-content: center;
      color: #9cafbf;
      transition: all 0.5s;
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 0 15px;

    @include bp(tablet) {
      padding: 0 5px;
      margin-bottom: 10px;
    }

    .checkbox {
      margin-bottom: 0;
    }

    &__group {
      display: block;
      padding-right: 10px;
      padding-left: 10px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      @include bp(mobile) {
        width: 100%;
        padding: 0;
      }
    }

    &__ctr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &-link {
        font-weight: 600;
        color: #849cb0;

        &:hover {
          color: $c-primary;
        }
      }
    }

    &__submit {
      margin-top: 30px;

      .button__txt {
        margin-right: 15px;
      }

      .button__icon {
        font-size: 19px;
        margin-top: -2px;
      }

      @include bp(tablet) {
        min-height: 40px;
        height: 46px !important;
        padding: 8px 30px;
        margin-top: 20px;
      }
    }

    &__bottom {
      display: block;
      padding-top: 15px;
    }
  }

  &--social {
    color: #a7b0c6;
    padding: 0 15px;
    font-weight: 600;
    text-align: center;
    font-size: 15px;

    @include bp(tablet) {
      font-weight: 700;
      padding: 0 5px;
    }

    .logos {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 25px;

      @include bp(tablet) {
        margin-top: 20px;
      }

      a {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
        border-radius: 7px;

        img {
          width: 25px;
          margin-right: 10px;

          @include bp(tablet) {
            width: 20px;
          }
        }

        svg {
          width: 40px;
          margin-right: 10px;

          @include bp(tablet) {
            width: 25px;
          }
        }

        &:last-child {
          color: $c-secondary;
          border: 1px solid #e2e2e2;
          margin-bottom: 0;

          &:hover {
            background: #e2e2e2;
            border-color: #e2e2e2;
          }
        }

        &:first-child {
          background: #3a5897;
          color: #fff;
          border: 1px solid #3a5897;

          &:hover {
            background: #324d86;
            border-color: #324d86;
          }
        }

        svg {
          transform: scale(1.5);
          fill: white;
        }
      }

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;

        @include bp(tablet) {
          min-height: 40px;
          height: 46px !important;
          padding: 8px 30px;
        }
      }
    }
  }
}

.mobile-mt-10 {
  @include bp(tablet) {
    margin-top: 10px;
  }
}

.line-or-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(tablet) {
    margin-top: 20px;
  }

  &__line {
    background: #e2e2e2;
    height: 1px;
    width: 100%;
  }

  &__txt {
    margin-left: 15px;
    margin-right: 15px;
    flex-shrink: 0;
  }
}

#password {
  &::placeholder {
    position: relative;
    top: 4px;
  }
}
