@import "../variables";

.button {
  padding: 13px 30px;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 47px;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  transition: .3s;

  &:disabled {
    pointer-events: none;
  }

  &.passive {
    pointer-events: none;
    opacity: 0.5 !important;

    &.cluebank-search {
      opacity: 1 !important;
    }
  }

  &__wrp {
    display: flex;
    align-items: center;
    justify-content: center;

    &>* {
      &:first-child {
        margin-right: 20px;

        @include bp(mobile) {
          margin-right: 5px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }

    }

  }

  &__icon {
    font-size: 25px;
    display: inline-flex;

    @include bp(tablet) {
      font-size: 18px;
    }
  }

  &__txt {
    margin-top: 2px;
  }

  .tooltip {
    padding: 6px 10px;
    box-shadow: none;
  }

  &.default,
  &.c-default {
    background: #e7ecf3;
    color: #4545a2;

    &:hover {
      color: #4545a2 !important;
      background: #d4dce6;
    }

  }

  &.gray,
  &.c-softgray {
    background: #eff3f9;
    color: #a0b3c4;

    &:hover {
      color: #4545a2;
    }

  }

  &--white,
  &.c-white {
    background: #fff;
    color: $c-primary;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
  }

  &.simple,
  &.c-soft {
    background: #fff;
    color: #8e98b3;

    &:hover {
      color: $c-primary;
      box-shadow: 0px 5px 12px 0px rgba(11, 13, 25, 0.2);
    }

  }

  &--circle,
  &.p-circle {
    width: 57px;
    height: 57px;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    flex-shrink: 0;

    .button__icon {
      font-size: 20px;
      margin: 0 !important;

      @include bp(tablet) {
        font-size: 18px;
      }
    }

    &.circle-sm {
      width: 47px;
      height: 47px;
    }

    &.circle-xs {
      width: 43px;
      height: 43px;
      min-height: 43px;
      min-width: 43px;
      font-size: 23px;
    }

  }

  &.square,
  &.p-square {
    min-width: initial;
    min-height: initial;
    width: 57px;
    height: 57px;
    padding: 10px;
    font-size: 23px;
    border-radius: 5px;

    @include bp(tablet) {
      width: 42px;
      height: 42px;
    }

    .button__icon {
      font-size: inherit;
    }

  }

  &.purple,
  &.c-purple {
    display: inline-flex;
    background: $c-primary;
    color: #fff;
    box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25);
    transition: all 0.18s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
      background: #2f2f80;
    }
  }

  &.c-green {
    display: inline-flex;
    background: #b4edcd;
    color: #08c458;
    border: 1px solid #08c458;
  }

  &.c-success {
    display: inline-flex;
    background: #64db7c;
    color: #fff;
    border: 1px solid #64db7c;

    &:hover {
      background: darken(#8cec9f, 10%);
      border: 1px solid darken(#8cec9f, 10%);
    }
  }

  &.c-pink {
    display: inline-flex;
    background: #fac8c8;
    color: #f04949;
    border: 1px solid #f04949;
  }

  &.purple-light,
  &.c-purple-light {
    background: #5657ab;
    color: #fff;
    box-shadow: 0px 3px 16px 0px rgba(41, 36, 88, 0.14);

    &:hover {
      background: #4545a1;
    }

  }

  &.blue,
  &.c-blue {
    background: $c-alt;
    color: #fff;

    &:hover {
      background: #2D9FE3;
    }
  }

  &--gray,
  &.c-darkgray {
    background: #d9e1ea;
    color: #7d97ad;

    &:hover {
      background: #cad4df;
    }

  }

  &--danger,
  &.c-danger {
    background: #ff4e50;
    color: #fff;

    .button__icon {
      font-size: 15px;
    }

  }

  &--text,
  &.c-transparent {
    font-weight: 600;
    font-size: 17px;
    padding: 5px;
    color: $c-primary;
    min-height: inherit;

    .button__icon {
      font-size: 20px;
      transition: transform .18s;
    }

    &:hover {
      color: $c-primary;

      .button__icon {
        transform: translateX(7px);
      }

    }

  }

  &--icon,
  &.p-icon-left {
    padding-left: 65px;
    min-height: 55px;
    padding-right: 30px;

    .button__icon {
      position: absolute;
      left: 10px;
      background: #fff;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

  }

  &.p-icon-right {
    padding-right: 65px;
    min-height: 55px;
    padding-left: 30px;

    .button__icon {
      position: absolute;
      right: 10px;
      background: #fff;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

  }

  &--facebook,
  &.c-facebook {
    background: #1d5aac;
    box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25);
    color: #fff;
  }

  &.round,
  &.p-round {
    border-radius: 50px !important;
  }

  &.fw,
  &.p-fullwidth {
    width: 100%;
  }

  &.p-autowidth {
    width: fit-content;
  }

  &.icon-cta,
  &.p-icon-fix-transparent {
    min-height: 55px;

    .button__icon {
      font-size: 17px;
      margin-left: auto;
      margin-right: 0;

      &.icon-big {
        font-size: 27px;
      }

    }

    .button__txt {
      width: 100%;
      text-align: center;
    }

    .button__wrp {
      width: 100%;
      justify-content: center;
      text-align: center;
    }

  }

  &--transparent,
  &.c-opaque,
  &.transparent {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      background: #fff;
      color: $c-primary;
      box-shadow: 0px 5px 12px 0px rgba(11, 13, 25, 0.2);
    }
  }

  &--stroke,
  &.p-bordered {
    border: 1px solid #d7dbe0;
    color: rgba(85, 100, 144, 0.7);
    font-weight: 700;
    font-size: 16px;
    min-height: 47px;

    &:hover {
      border: 1px solid #8d95b5;
      color: rgba(85, 100, 144, 0.86);
    }

    &.active {
      background: #e9ecf0;
      color: $c-secondary;
      border-color: transparent;
    }

  }

  &.p-bordered {
    &:hover {
      background: rgb(86, 87, 171);
      color: white !important;
      box-shadow: 0px 5px 12px 0px rgba(11, 13, 25, 0.2);
    }
  }

  &--dots {
    padding: 10px;
    width: 47px;
    height: 47px;
    border: 1px solid #d7dbe0;
    border-radius: 50px;
    color: rgba(85, 100, 144, 0.7);
    font-weight: 700;
    font-size: 16px;

    &:hover {
      border: 1px solid #8d95b5;
      color: rgba(85, 100, 144, 0.86);
    }

    .dots {
      font-size: 3px;
      right: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &--vertical {
        transform: translate(-50%, -50%) rotate(90deg);
      }

    }

  }

  &--favorite {
    padding-left: 65px;
    min-height: 55px;
    padding-right: 30px;
    background: #d9e1ea;
    color: #7d97ad;
    border-radius: 50px;
    min-width: 235px !important;

    &.notext {
      min-width: auto !important;
      padding: 0;
      width: 36px;
      min-height: 36px;
    }

    &.button:disabled {
      opacity: 1 !important;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        width: 60%;
        background: $ghostBg;
        height: 30%;
        border-radius: 17px;
      }

      &:after {
        @extend %animateEffect;
      }
    }

    &:hover {
      background: #cdd8e5;
    }

    .button__icon {
      position: absolute;
      left: 9px;
      background: #fff;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all .18s;
    }

    &.active {
      background: #fff;

      .button__icon {
        background: $c-yellow;
        color: #fff;
      }
    }

  }

  &.dynamic-button {

    &.active {
      .dynamic-icon .icon {
        opacity: 0;

        &-o {
          opacity: 1;
        }

      }
    }

  }

  &.button-more {
    font-weight: 700;
    padding: 0;
    margin-top: -5px;
    display: flex;

    &:hover .button__icon {
      transform: none;
    }

    .button__icon {
      position: relative;
      margin-right: 25px;

      &:before {
        @include triangle(down, currentColor, 7px);
        transition: all .3s;
      }

    }

    &.active {
      margin-bottom: 15px;

      .button__icon:before {
        transform: rotate(180deg);
      }
    }

  }

  &.icon-left {
    padding-left: 75px;
    min-height: 57px;

    .button__icon {
      position: absolute;
      left: 7px;
      color: $c-primary;
      margin: 0;
      background: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
    }

    &.color-gray {
      .button__icon {
        color: currentColor;
      }
    }

  }

  &.sm,
  &.s-sm {
    min-height: 57px;

    @include bp(tablet) {
      min-height: 25px;
    }
  }

  &.xs,
  &.s-xs {
    padding: 10px 20px;
    font-size: 16px;

    .button__txt {
      margin-top: 0;
    }

    .button__wrp {
      &>* {
        &:first-child {
          margin-right: 10px;
        }
      }
    }

  }

  &.icon-xs {
    .button__icon {
      font-size: 13px;
    }
  }

  &.icon-sm {
    .button__icon {
      font-size: 16px;
    }
  }

  &.icon-md {
    .button__icon {
      font-size: 19px;
    }
  }

}

.button.word-book-inf__show-btn {
  background: #4545a2;
  border-radius: 50px !important;
  line-height: 1em !important;
  font-weight: 700 !important;
  height: auto !important;
  min-height: auto !important;
  padding: 3px 20px 3px !important;
  font-size: 15px !important;
  margin: 4px 0;

  &:hover {
    background: darken($color: #4545a2, $amount: 10%);
  }

  .button__txt {
    color: #fff;
  }
}

@import '../ghost-animate';