@import '../variables';

.swiper-calendar {
  .swiper-wrapper {
    @include bp(tablet) {
      // padding-bottom: 35px;
    }
  }

  .swiper {
    &-pagination {
      &-bullet {
        transition: 0.3s;

        &-active {
          width: 25px;
          border-radius: 5px;
          background: $c-alt;
        }
      }
    }
  }
}

.calendar {
  background: #fff;
  border-radius: 10px;
  min-height: 590px;
  position: relative;

  @include bp(tablet) {
    min-height: auto;
  }

  &-notstarted {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #fff, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    border-radius: 10px;

    &>p {
      color: $c-text-dark;
      font-size: 1.2rem;
      padding-bottom: 1.5rem;
      user-select: none;

      @include bp(tablet) {
        max-width: calc(100% - 30px);
        text-align: center;
        font-size: 17px;
        padding-bottom: 1rem;
      }
    }
  }

  &-nav {
    display: flex;
    padding: 30px 15px;
    border-bottom: 1px solid #dde3eb;
    justify-content: space-between;
    align-items: center;

    @include bp(tablet) {
      padding: 20px 15px;
    }

    &__button {
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      line-height: 1em;
      font-weight: 700;
      z-index: 0;
      height: auto;
      min-height: auto;
      background: $c-bgicon;
      color: #9ba3bc;
      border: none;
      padding: 10px 15px 9px;
      top: 0;
      font-size: 14px;

      @include bp(mobile) {
        border-radius: 10px;
        padding: 10px 12px;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }

      &:hover {
        opacity: 1;
      }

      .button__icon {
        font-size: 16px;
        margin-right: 12px;
        margin-top: -1px;

        @include bp(mobile) {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .button__txt {
        margin-top: 0;

        @include bp(mobile) {
          display: none;
        }
      }
    }

    &__date {
      color: $c-secondary;
      font-weight: 800;
      font-size: 19px;
      line-height: 1em;

      @include bp(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        text-align: center;

        &--item {
          display: inline-block;
          margin: 3px 0;
        }
      }
    }

    &__year {
      color: $c-text;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }

  &__inner {
    padding: 15px;
    padding-top: 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25px;
      background: linear-gradient(to bottom,
          #ffffff 0%,
          rgba(240, 244, 249, 0) 100%);
    }
  }

  &-list {
    display: flex;
    padding: 15px;
    padding-top: 0;
    position: relative;

    @include bp(tablet) {
      overflow-x: scroll;
      padding-left: 0;
      padding-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25px;
      background: linear-gradient(to bottom,
          #ffffff 0%,
          rgba(240, 244, 249, 0) 100%);
    }

    &-wrp {
      height: 471px;
    }

    &__item {
      flex: 1;
      border-right: 1px solid #dde3eb;

      .v-popover {
        height: 0 !important;
      }

      @include bp(tablet) {
        min-width: 100%;
        padding-bottom: 45px;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 34, 85, 0.6);

        @include bp(tablet-m) {
          position: fixed;
          width: 233.333%;
        }

        @include bp(tablet) {
          display: none;
        }

        &.active {
          @include bp(tablet-m) {
            opacity: 0.8;
          }
        }
      }

      &:first-child {
        .calendar-day__list {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

          @include bp(tablet-m) {
            border-radius: 0 0 0 0;
          }

          @include bp(tablet) {
            border-radius: 10px;
          }
        }
      }

      &:last-child {
        border-right: 0;

        @include bp(tablet-m) {
          border-right: 1px solid #dde3eb;
        }

        @include bp(tablet) {
          border-right: none;
        }

        .calendar-day__list {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          @include bp(tablet-m) {
            border-radius: 0 0 0 0;
          }

          @include bp(tablet) {
            border-radius: 10px;
          }
        }
      }
    }
  }

  &-day {
    @include bp(tablet) {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__header {
      text-align: center;
      padding: 21px 10px;
      height: 150px;
      position: relative;

      &-date {
        opacity: 1;
        transition: 0.2s;

        @include bp(tablet) {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }

        &.shadowed {
          opacity: 0.2;
        }
      }

      .v-popover {
        display: none;
      }

      @include bp(tablet) {
        width: calc(100% - 30px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: max-content;
        padding: 21px 0 15px 0;
        background: transparent;
        border-radius: 15px;
        position: static;
      }

      &.active {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 80%;
          height: 5px;
          background: $c-alt;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 20px 20px 0 0;
        }

        .calendar-week__title,
        .calendar-week__date {
          opacity: 1;
          color: $c-alt;
        }

        .calendar-note {
          @include bp(tablet) {
            top: 150%;
          }
        }
      }
    }

    &__list {
      background: #f2f4f7;
      opacity: 1;
      transition: 0.2s;

      @include bp(tablet) {
        border-radius: 10px;
        height: auto;
        width: calc(100% - 30px);
        margin: 0 15px;
      }

      &.today {
        background: #e8edf3;
      }

      &.shadowed {
        opacity: 0.3;
      }
    }
  }

  &-week {
    display: flex;
    align-items: stretch;

    &__item {
      flex: 1;
      border-right: 1px solid #dde3eb;
      text-align: center;
      padding: 21px 10px;

      &:last-child {
        border-right: 0;
      }
    }

    &__title {
      color: #8da3b6;
      font-weight: 700;
      font-size: 23px;
      line-height: 1em;
      margin-bottom: 5px;

      @include bp(tablet) {
        font-size: 18px;
        margin-bottom: -1px;
        margin-left: 5px;
      }
    }

    &__date {
      color: $c-secondary;
      opacity: 0.45;
      font-weight: 700;
      font-size: 15px;

      @include bp(tablet) {
        font-size: 20px;
        color: $c-alt;
        opacity: 1;
      }
    }

    &__event {
      cursor: pointer;
      padding: 0 10px;
      background: $c-alt;
      border-radius: 20px;
      line-height: 1.8em;
      font-size: 14px;
      color: #fff;
      font-weight: 700;
      margin-top: 7px;
      white-space: normal;
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      @include bp(tablet) {
        width: 100%;
        max-width: 100%;
        height: 47px;
        display: flow-root;
        font-size: 16px;
        margin-top: 8px;
        border-radius: 8px;
        padding: 15px 15px;
        min-height: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &.important {
        background: #f27575;
      }

      &.warning {
        background: #f0c171;
      }
    }

    &__add {
      display: inline-flex;
      width: 23px;
      height: 23px;
      background: transparent;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 13px;
      margin-top: 8px;
      border-radius: 50%;
      padding: 3px;
      min-height: inherit;
      display: none !important;

      @include bp(tablet) {
        width: 100%;
        flex-grow: 1;
        flex-basis: 100%;
        height: 47px;
        display: flex !important;
        background: #edebf6;
        text-align: center;
        font-size: 16px;
        margin-top: 8px;
        border-radius: 8px;
        padding: 0 15px;
        min-height: inherit;
        align-self: stretch;
      }

      .button__wrp {
        @include bp(tablet) {
          justify-content: space-between;
        }
      }

      .button__txt {
        @include bp(tablet) {
          color: #4346a1;
        }
      }

      &:after {
        content: '';
        background: #e9edf6;
        position: absolute;
        @include center(both);
        width: 1em;
        height: 1em;
        font-size: 26px;
        transform: translate(-50%, -50%) scale(0.5);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        @include bp(tablet) {
          display: none;
        }
      }

      .button__icon {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        font-size: 16px;
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          opacity: 1;
          font-size: 12px;
          background: #fff;
          border-radius: 50%;
          padding: 8px;
          color: #4346a1;
        }
      }

      &:hover {
        color: $c-primary;

        &:after {
          transform: translate(-50%, -50%);
        }

        .button__icon {
          opacity: 1;
          transition-delay: 0.15s;
        }
      }
    }
  }

  &-ls {
    display: flex;
    background: #f1f5fa;
    border-radius: 10px;

    &__day {
      flex: 1;
      border-right: 1px solid #d9e1ec;
      max-width: calc(100% / 7);

      &:last-child {
        border-right: 0;
      }
    }
  }

  &-group {
    padding: 7px;
    border-bottom: 1px solid #e1e8f0;
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      background: #fbfcfe;
      width: 100%;
      border-radius: 5px;
      padding: 8px;
      cursor: pointer;
      position: relative;
      height: 55px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #fff;

        .calendar-group__group {
          background: #e9edf2;
        }
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    &__title {
      font-weight: 700;
      color: #707ca0;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 5px;
    }

    &__group {
      display: inline-flex;
      margin-left: auto;
      padding: 7px;
      width: 39px;
      height: 39px;
      background: #ffffff;
      border-radius: 6px;
      align-items: center;
      justify-content: center;
      font-size: 27px;
      flex-shrink: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &-blank,
  &-ghost {
    height: 55px;
    width: 100%;
    margin-bottom: 10px;

    @include bp(tablet) {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-add {
    height: 55px;
    // opacity: 0;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    transition: all 0.25s ease-in-out;

    @include bp(tablet-m) {
      position: static;
    }

    @include bp(tablet) {
      height: 47px;
    }

    &__ghost {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      opacity: 0;
      position: absolute;
      background: $c-bgicon;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c-default;
      font-size: 17px;
      font-weight: 700;
      border-radius: 5px;

      &--inner {
        background: $ghostBg;
        width: 80%;
        height: 17px;
        border-radius: 17px;
        position: relative;
        overflow: hidden;

        &:after {
          @extend %animateEffect;
        }
      }

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
      border-radius: 5px;
      height: 100%;
      position: relative;
      z-index: 3;
      transition: all 0.25s ease-in-out;
      opacity: 0;

      @include bp(desktop) {
        padding: 5px 10px;
      }

      @include bp(tablet) {
        opacity: 1;
        padding: 5px 15px;
      }

      &:hover {
        opacity: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        pointer-events: none;
        opacity: 0.25;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;
      }

      &.active {
        background: #fff;
        opacity: 1;

        &:before {
          opacity: 0;
        }
      }
    }

    *> {
      position: relative;
      z-index: 2;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &.active {
      opacity: 1;
    }

    &.active {
      z-index: 265;

      .calendar-add__btn {
        background: #fff;

        &:before {
          opacity: 0;
        }
      }
    }

    &__title {
      position: relative;
      top: 2px;

      @include bp(desktop) {
        font-size: 15px;
      }

      @include bp(tablet) {
        font-size: 16px;
        top: 0;
      }
    }

    &__icon {
      font-size: 19px;

      @include bp(desktop) {
        font-size: 18px;
      }
    }

    &-popup.calendar-popup {
      .calendar-popup__inner {
        overflow: initial;
      }

      .calendar-bottom {
        flex-wrap: wrap;
        margin-top: 0;

        .button {
          margin-right: 0;
          // margin-bottom: 15px;

          @include bp(tablet) {
            margin-bottom: 5px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-app {
    padding: 7px;

    &__box {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      width: 100%;
      position: relative;

      .v-popover {
        display: none !important;
      }

      @include bp(tablet) {
        position: static;
      }

      &.active {
        z-index: 265;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      background: #fbfcfe;
      width: 100%;
      border-radius: 5px;
      padding: 8px;
      cursor: pointer;
      position: relative;
      height: 55px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #fff;
      }

      &.passed {
        .calendar-app__icon {
          filter: none;
          opacity: 1;
        }

        .calendar-app__title {
          opacity: 1;
        }
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
      flex-shrink: 0;
      filter: sepia(1) saturate(1) opacity(1) contrast(100%) brightness(85%) hue-rotate(170deg);
      opacity: 0.7;

      @include bp(desktop) {
        font-size: 22px;
        margin-right: 5px;
      }
    }

    &__title {
      font-weight: 700;
      color: #707ca0;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 5px;
      opacity: 0.9;

      @include bp(desktop) {
        font-size: 15px;
      }
    }

    &__group {
      display: inline-flex;
      margin-left: auto;
      padding: 7px;
      width: 39px;
      height: 39px;
      background: #ffffff;
      border-radius: 6px;
      align-items: center;
      justify-content: center;
      font-size: 27px;
      flex-shrink: 0;
      transition: all 0.3s ease-in-out;
    }

    &__status {
      width: 1em;
      height: 1em;
      background: #d1dde8;
      flex-shrink: 0;
      display: inline-flex;
      border-radius: 50%;
      font-size: 12px;
      margin-left: auto;

      &.complete {
        background: $c-success;
      }

      &.incomplete {
        background: $c-in-complete;
      }

      &.none {
        background: #d1dde8;
      }

      &.continue {
        background: $c-alt;
      }
    }
  }

  &-popup {
    position: absolute;
    right: -20px;
    z-index: 265;
    background: white;
    padding: 20px;
    padding-bottom: 15px;
    width: 380px;
    top: 50%;
    box-shadow: 0 3px 31px 0 rgba(41, 53, 108, 0.15);
    border-radius: 15px 15px;

    @include bp(tablet-m) {
      display: none;
    }

    @include bp(tablet) {
      right: auto;
      transform: translateY(-50%) !important;
      position: absolute;
      top: 50%;
      bottom: auto;
      max-width: 95%;
      width: 100%;
      left: 2.5%;
      padding: 15px;
      max-height: 70%;
      overflow: auto;
    }

    &:before {
      @include bp(tablet-m) {
        display: none !important;
      }
    }

    &--right {
      transform: translateX(100%) translateY(-40%);

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        @include triangle(left, #fff, 11px);
        margin: 0;
        left: 0;
        top: 40%;
        margin-top: 11px;
        transform: translateX(-100%) translateY(-100%);
      }
    }

    &--left {
      transform: translateX(-200px) translateY(-40%);

      @include bp(tablet) {
        transform: none;
      }

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        @include triangle(right, #fff, 11px);
        margin: 0;
        right: 0;
        top: 40%;
        margin-top: 11px;
        transform: translateX(100%) translateY(-100%);
      }
    }

    &-lesson {
      width: 420px;

      @include bp(tablet) {
        width: 100%;
        max-height: 250px;
        overflow: scroll;
      }
    }

    &-lesson {
      .color-app {
        color: #418bb0 !important;
      }
    }

    &-wordy {
      .color-app {
        color: #2c896d !important;
      }
    }

    &-exam,
    &-exams {
      .color-app {
        color: #874bb6 !important;
      }
    }

    &-reading,
    &-readings {
      .color-app {
        color: #b34fa0 !important;
      }
    }

    &-test,
    &-tests {
      .color-app {
        color: #3770cc !important;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__inner {
      max-height: calc(90vh - 120px);
      overflow: auto;

      @include bp(tablet) {
        max-height: 100%;
        overflow: initial;
      }
    }

    &__group {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 43px;
      height: 43px;
      background: #e8ebf0;
      border-radius: 5px;
      font-size: 26px;
      margin-right: 25px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: -13px;
        width: 1px;
        height: 75%;
        background: #dce1ea;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__app {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
      margin-right: 15px;
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 21px;
      line-height: 1em;
    }

    &__date {
      margin-left: auto;
      color: $c-secondary;
      font-weight: 700;
      opacity: 0.6;
      font-size: 16px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 14px;
        line-height: 2em;
      }
    }

    &__subtitle {
      color: $c-secondary;
      font-weight: 700;
      opacity: 0.6;
      font-size: 14px;
      line-height: 1em;
      border-bottom: 1px solid #ced7e4;
      padding-bottom: 9px;
      margin-top: 30px;
    }

    &-progress {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 15px 13px;
      transition: all 0.3s;

      &:last-child,
      &:only-child {
        margin-bottom: 0;
      }

      &__icon {
        display: inline-flex;
        color: #3299c6;
        font-size: 22px;
        margin-right: 13px;
      }

      &__txt {
        color: $c-secondary;
        font-size: 17px;
        font-weight: 700;
        line-height: 1em;
      }

      &__cnt {
        flex: 1;
        margin-left: 30px;
        display: flex;
        align-items: center;

        .progress {
          width: 100%;
          margin-right: 10px;
        }
      }

      &__percent {
        color: $c-secondary;
        font-weight: 700;
        font-size: 19px;
        line-height: 1em;
        white-space: nowrap;
      }
    }
  }

  &-lesson {
    padding-top: 15px;

    &__item {
      background: $c-bgmain;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 13px;

      @at-root button#{&}__test {
        font-size: 55px;
      }
    }

    &__date {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dee1e8;
      margin-bottom: 14px;
      font-weight: 600;
      color: $c-secondary;
    }

    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__group {
      display: inline-flex;
      font-size: 35px;
      margin-right: 17px;
    }

    &__subtitle {
      color: $c-secondary;
      font-weight: 500;
      font-size: 17px;
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 18px;
      line-height: 1em;
    }

    &-box {
      background: #fff;
      border-radius: 8px;
      padding: 0 13px;

      &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d9dfe2;
        padding: 7px;

        &:last-child {
          border-bottom: 0;
          padding-bottom: 15px;
        }
      }

      &__txt {
        color: $c-secondary;
        opacity: 0.7;
        font-weight: 500;
        font-size: 16px;
      }

      &__title {
        font-weight: 700;
        color: $c-secondary;
        font-size: 16px;
      }

      &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 33px;
        margin-right: 15px;
      }

      &__status {
        width: 1em;
        height: 1em;
        display: inline-flex;
        border-radius: 50%;
        font-size: 13px;
        margin-left: auto;
        background: #d1dde8;
        flex-shrink: 0;

        &.continue {
          background: $c-alt;
        }

        &.complete {
          background: $c-success;
        }
      }
    }
  }

  &-reading {
    padding-top: 20px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      background: $c-bgmain;
      border-radius: 10px;
      padding: 10px;
    }

    &__icon {
      display: inline-flex;
      width: 3rem;
      height: 3rem;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 3rem;
      line-height: 1em;
      font-size: 65px;
      margin-right: 1rem;

      .icon {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      color: $c-secondary;
      line-height: 1em;
      margin-bottom: 4px;
    }

    &__level {
      font-weight: 300;
      color: $c-secondary;
      font-size: 1rem;
      line-height: 1;
      text-transform: capitalize;
    }

    &__cnt {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    margin-top: 15px;

    @include bp(tablet) {
      margin-top: 0;
      flex-direction: column;
    }

    .button {
      margin-right: 15px;

      @include bp(tablet) {
        padding: 13px 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:only-child {
        width: 100%;
      }
    }
  }

  &-button {
    border: 2px solid currentColor;
    border-radius: 50px;
    min-height: 55px;
    color: #99a1be;
    background: rgba(84, 99, 145, 0.1);

    &.completed {
      color: #7ce777;
      background: rgba(124, 231, 119, 0.11);
    }

    &.incomplete {
      color: $c-in-complete;
      background: rgba(255, 94, 101, 0.1);
    }

    &--cta {
      border-radius: 8px;
      min-height: 57px;

      &.bg-lesson {
        &:hover {
          background-color: #2b84ab !important;
        }
      }

      &.bg-wordy {
        &:hover {
          background-color: #22695b !important;
        }
      }

      &.bg-exams,
      &.bg-exam {
        &:hover {
          background-color: #5c2f7e !important;
        }
      }

      &.bg-readings,
      &.bg-reading {
        &:hover {
          background-color: #77426d !important;
        }
      }

      &.bg-tests,
      &.bg-test {
        &:hover {
          background-color: #3f6eb1 !important;
        }
      }

      @include bp(tablet) {
        min-height: 47px;
      }
    }

    &-remove {
      padding: 10px;
      width: 57px;
      height: 57px;
      background: #e9eef4;
      border-radius: 8px;
      min-height: initial;
      flex-shrink: 0;
      color: #99a1be;
      font-size: 21px;

      &:hover {
        color: $c-primary;
      }

      @include bp(tablet) {
        width: 47px;
        height: 47px;
      }
    }
  }

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 85, 0.3);
    top: 0;
    left: 0;
    z-index: 259;

    @include bp(tablet) {
      display: none;
    }

    &--close {
      position: absolute;
      top: 15px;
      right: 5%;
      color: $c-primary;
      font-size: 18px;
    }

    &.active {
      opacity: 0.3;
      pointer-events: auto;
      transition-delay: 0s;

      @include bp(tablet) {
        opacity: 0.8;
      }
    }
  }

  &-wordy {
    padding-top: 15px;

    &__item {
      margin-bottom: 10px;
      background: $c-bgmain;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    &__icon {
      display: inline-flex;
      font-size: 31px;
      flex-shrink: 0;
      margin-right: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 20px;
      padding-left: 10px;
      border-right: 1px solid #d7dbe4;
      color: #7ce777;
    }

    &__title {
      line-height: 1em;
      color: $c-secondary;
      font-weight: 700;
      font-size: 19px;
      margin-bottom: 4px;
    }

    &__txt {
      font-weight: 400;
      color: $c-secondary;
      font-size: 16px;
    }
  }

  &-test {
    padding-top: 15px;

    &__item {
      margin-bottom: 10px;
      background: $c-bgmain;
      border-radius: 9px;
      padding: 10px 15px;
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 17px;
    }

    &__subtitle {
      font-weight: 400;
      color: $c-secondary;
      opacity: 0.6;
      font-size: 15px;
    }

    &-inf {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      border-top: 1px solid #dee1e8;
      margin-top: 10px;

      &__item {
        display: flex;
        align-items: center;
        color: $c-secondary;
        font-weight: 400;
        font-size: 17px;
        line-height: 1em;

        .dot {
          display: inline-block;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 9px;
          position: relative;
        }
      }
    }
  }

  &-exam {
    padding-top: 15px;

    &__item {
      margin-bottom: 10px;
      background: $c-bgmain;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    &-point {
      flex-shrink: 0;
      margin-right: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 20px;
      padding-left: 10px;
      border-right: 1px solid #d7dbe4;
      color: #3bacf7;
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 1em;
      text-align: center;

      small {
        color: $c-secondary;
        display: block;
        line-height: 1em;
        font-size: 65%;
        margin-bottom: 3px;
      }
    }

    &__title {
      line-height: 1em;
      color: $c-secondary;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 4px;
    }

    &__txt {
      font-weight: 400;
      color: $c-secondary;
      font-size: 16px;
    }
  }

  &-non-result {
    text-align: center;
    margin: 25px auto 0;
    padding: 25px 35px;
    border-top: 1px solid #ced7e4;

    @include bp(tablet) {
      margin: 15px auto 0;
      padding: 15px 15px;
    }

    &__icon {
      line-height: 1em;
      font-size: 56px;
      background: #eef2f7;
      display: inline-flex;
      width: 1.15em;
      height: 1.15em;
      text-align: center;
      padding: 13px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin-bottom: 15px;
      color: #a5b3bf;

      @include bp(tablet) {
        font-size: 46px;
      }
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 18px;

      @include bp(tablet) {
        font-size: 16px;
      }
    }
  }

  &-app-modal {
    max-width: 535px;
  }

  &-note {
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 265;
    transform: translateX(-50%);
    min-width: 300px;
    text-align: left;

    &__invalid {
      color: #df6457;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
      text-align: left;

      @include bp(tablet) {
        width: 100%;
        text-align: left;
        display: block;
      }
    }

    @include bp(tablet-m) {
      display: none;
    }

    @include bp(tablet) {
      min-width: 95%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      content: '';
      @include triangle(up, #fff, 8px);
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);

      @include bp(tablet) {
        display: none;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 5px;

      &__title {
        line-height: 1em;
        color: $c-alt;
        font-weight: 700;
        font-size: 17px;
      }

      &__date {
        color: $c-secondary;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 700;
        line-height: 1em;
      }
    }

    &__wrp {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 19px 70px 0px rgba(26, 34, 70, 0.2);

      .calendar-note__item {
        background: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #dde3eb;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &__item {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 19px 70px 0px rgba(26, 34, 70, 0.2);
      padding: 15px;

      // margin-bottom: 15px;
      @include bp(tablet) {
        padding: 0;
      }

      &--new {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }

    &__add {
      min-height: 61px;
      width: 100%;
      margin-top: 15px;

      &--absolute {
        position: absolute;
        left: 0;
        bottom: -60px;
        width: 100%;
        border-radius: 0 0 15px 15px;
        background: #fff;
      }

      &.blue {
        width: calc(100% - 30px);
        margin: 0 15px 15px 15px;
      }
    }

    &__fillable {
      border-top: 1px solid #dde3eb;
    }

    &__cnt {
      background: $c-bgmain;
      border-radius: 8px;
      padding: 5px 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      // padding-top: 5px;
      background: #f6f9fc;
      width: 100%;
      color: $c-secondary;
      border-radius: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid #eceef3;

      textarea,
      input {
        font-weight: 600;
        color: #556490;

        &::placeholder {
          color: #556490;
          opacity: 0.4;
          transition: 0.5s;
        }

        &:focus {
          border-color: #3eacf7;

          &+.icon {
            border-top-color: #3eacf7 !important;
            border-left-color: #3eacf7 !important;
            border-bottom-color: #3eacf7 !important;

            svg {
              fill: #3eacf7;
            }
          }
        }
      }

      &.invalid {
        box-shadow: 0 0 1px 1px #df6457;
      }
    }

    &__top {
      display: flex;
      align-items: center;

      input {
        border-bottom: 1px solid #dde3eb;
      }
    }

    &__dot {
      width: 1em;
      height: 1em;
      background: $c-alt;
      border-radius: 50%;
      flex-shrink: 0;
      font-size: 10px;

      &.important {
        background: #f27575;
      }

      &.warning {
        background: #f0c171;
      }
    }

    &__txt {
      color: $c-secondary;
      opacity: 0.85;
      line-height: 1.4em;
    }

    &__input {
      padding: 10px 15px;
      padding-left: 10px;
      color: #556490;
      flex-grow: 0;
      flex-basis: auto;
      flex-shrink: 1;
      text-align: left;
      width: auto;

      &::placeholder {
        color: $c-secondary;
        opacity: 0.75;
      }
    }

    &__count {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80px;
      font-weight: 600;
      color: $c-secondary;
      opacity: 0.6;
      font-size: 14px;
      white-space: nowrap;
    }

    textarea {
      padding: 10px 0;
      color: $c-secondary;
      opacity: 0.85;
      line-height: 1.4em;

      &:focus {
        opacity: 1;
      }
    }

    &__bottom {
      display: flex;
      align-items: stretch;
      margin-top: 15px;
    }

    &__submit {
      width: 100%;
    }

    &__delete {
      padding: 10px;
      flex-shrink: 0;
      width: 55px;
      height: 55px;
      margin-left: 10px;
    }
  }

  & .ghost-calendar {
    position: relative;
    // z-index: -1; // z-index verildiği için calendar ghost gözükmüyor -- check
  }
}

.calendar-fade-left-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.calendar-fade-left-leave-active {
  transition: all 0.3s ease-in-out;
}

.calendar-fade-left-enter {
  transform: translateX(105%) translateY(-40%);
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
}

.calendar-fade-left-leave-to {
  transform: translateX(105%) translateY(-40%);
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
}

.calendar-fade-right-enter-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.calendar-fade-right-leave-active {
  transition: all 0.3s ease-in-out;
}

.calendar-fade-right-enter {
  transform: translateX(-215px) translateY(-40%);
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
}

.calendar-fade-right-leave-to {
  transform: translateX(-215px) translateY(-40%);
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
}

.overlay-fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}

.overlay-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.overlay-fade-enter {
  opacity: 0;
  will-change: opacity;
}

.overlay-fade-leave-to {
  opacity: 0;
  will-change: opacity;
}

.calendar-popover {
  background: white;
  // padding: 20px;
  // padding-bottom: 15px;
  // width: 100%;
  // max-width: calc(100% - 30px);
  border: none;
  width: 100%;
  top: -45px !important;
  left: -54px !important;
  max-width: 310px !important; // TODO: global style
  box-shadow: 0 3px 31px 0 rgba(41, 53, 108, 0.15);
  border-radius: 15px 15px;
  border: none !important; // TODO: global style
  // position: fixed !important;
  // top: 50% !important;
  // left: 50% !important;
  // transform: translate(-50%, -50%) !important;
  margin-top: 0 !important;
  // display: none !important;

  &--none {
    display: none !important;
  }

  &--aaaa {
    top: -160px !important;

    .calendar-note__wrp .calendar-note__item {
      //   padding-bottom: 71px;
    }
  }

  &--xxxx {
    top: 90px !important;
    left: -53px !important;

    .calendar-note__wrp .calendar-note__item {
      padding-bottom: 15px;
    }
  }

  &--mini {
    top: -160px !important;
    left: -54px !important;
  }

  &--big {
    top: -35px !important;
  }

  @include bp(tablet-m) {
    padding: 20px;
    width: 100%;
    max-width: calc(100% - 30px) !important; // TODO: global style
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  @include bp(tablet) {
    display: block !important;
  }

  .popover-inner {
    max-width: 100%;
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  .calendar-note {
    &__wrp {
      box-shadow: none;
    }
  }

  &.bottom--row {
    .calendar-bottom {
      flex-direction: row;
    }
  }

  .popover-arrow {
    left: 50% !important;
    transform: translateX(-50%) rotate(180deg);
    bottom: auto !important;
    top: -5px !important;

    @include bp(tablet-m) {
      display: none;
    }
  }
}

@import '../ghost-animate';