@import '../variables';

.circle-progress {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;

    &__svg {
        overflow: visible;
        width: 100%;
        height: 100%;
    }

    &.continue {
        color: $c-alt;

        .circle-progress__pointer {
            transform: scale(1);
            opacity: 1;
            transition-delay: 0s;
        }
    }

    &.completed {
        color: $c-success;

        .circle-progress__bar {
            stroke: $c-success;
        }
    }

    &__pointer {
        transform: scale(0.3);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: 45% 0;
        opacity: 0;
        transition-delay: 0.35s;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        user-select: none;
        font-weight: 700;
        color: $c-secondary;
        font-size: 20px;

        small {
            display: inline-flex;
            position: relative;
            top: 3px;
            left: 2px;
            font-weight: 700;
            font-size: 71%;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        user-select: none;
        font-weight: 600;
        color: currentColor;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
    }

    &__base {
        fill: none;
        stroke: #dbe3e8;
        stroke-width: 13px;
    }

    &__bar {
        fill: none;
        stroke: $c-alt;
        stroke-width: 13px;
        transition: stroke-dashoffset 0.7s, stroke 0.3s ease-in-out;
        transition-delay: 0s, 0.3s;
    }

    &__dot {
        fill: #fff;
        stroke: $c-alt;
        stroke-width: 11px;
        transition: transform 0.7s;
    }
}