@import '../variables';
@import '../colors';

.cluebank {
  & .cluebank-guide-btn {
    display: block !important;

    @include bp(tablet) {
      display: none !important;
    }
  }

  .subpage-header {
    background: #394a9c;
    min-height: 27rem;
    padding-bottom: 50px;

    @include bp(desktop-s) {
      min-height: 22rem;
    }

    @include bp(tablet) {
      min-height: auto;
      padding-bottom: 30px;
    }

    &__wrp {
      padding-bottom: 60px;
      border-bottom: none !important;

      @include bp(desktop-s) {
        padding-bottom: 0;
      }

      @include bp(tablet) {
        padding-bottom: 0;
        flex-direction: row;
      }

      transition: 0.6s;

      &.opn {
        padding-bottom: 20px;
        margin-bottom: 0;
      }
    }
  }

  .subpage-search {
    &__wrp {
      margin: auto 150px;
      position: relative;

      @include bp(tablet-m) {
        margin: auto 50px;
      }

      @include bp(tablet) {
        margin: auto 0px;
      }
    }

    &-result {
      min-width: 420px;
      width: auto;
      padding: 0;
      margin-top: 25px;

      @include bp(tablet) {
        min-width: 0;
        width: 100%;
      }

      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13px 13px 13px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        content: '';
        left: 80px;
        top: -13px;
      }

      &__list {
        position: relative;
        transition: 0.1s;
        max-height: 250px;
        overflow: hidden;
        overflow-y: auto;
      }

      &__item {
        padding: 12px 30px;
        margin-left: -20px;
        margin-right: -20px;
        display: inline-flex;
        width: calc(100% + 40px);

        .subpage-search-result__tag {
          font-size: 0.6em;
          letter-spacing: 0.1em;
          margin-left: 4px;
          opacity: 0.65;
          transition: 0.3s;
          background: #7d97ad;
          color: #fff;
          border-radius: 255px;
          display: inline-block;
          padding: 3px 8px 2px;
          height: 20px;
          margin-top: 2px;

          @include bp(mobile) {
            display: none;
          }
        }

        &:hover {
          background: #f7f8fb;

          .subpage-search-result__tag {
            opacity: 1;
          }
        }
      }

      &__li {
        border-bottom: 1px solid rgba(41, 53, 108, 0.1);
        margin: 0 20px;

        &:first-child {
          & > .subpage-search-result__item {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        &:last-child {
          border-bottom: none;

          & > .subpage-search-result__item {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }

  .subpage-tab {
    margin-top: 0;

    @include bp(tablet) {
      min-height: 0;
    }

    &-ctr {
      display: none;
    }
  }

  .subpage-guide {
    margin-top: 0;
    padding-bottom: 8rem;
    margin-bottom: 4rem;

    @include bp(tablet) {
      padding-bottom: 3rem;
      margin-bottom: 0;
    }
  }

  .tab {
    overflow: hidden;

    &:before {
      display: none;
    }

    &__linear-effect {
      display: none;

      @include bp(tablet-s) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 48px;
        background-image: linear-gradient(
          to left,
          rgba(240, 244, 249, 1),
          rgba($c-bgmain, 0)
        );
        z-index: 1;
      }

      &--left {
        display: none;

        @include bp(tablet-s) {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 48px;
          background-image: linear-gradient(
            to left,
            rgba(240, 244, 249, 1),
            rgba($c-bgmain, 0)
          );
          z-index: 1;
          transform: rotate(180deg);
        }
      }
    }

    &__item {
      &:hover {
        .tab__text {
          opacity: 0.8 !important;

          @include bp(tablet) {
            opacity: 1 !important;
          }
        }
      }

      &.active {
        &::after {
          background: #fff;

          @include bp(tablet) {
            background-color: #5657ab;
          }
        }

        .tab {
          &__text {
            opacity: 1 !important;

            @include bp(tablet) {
              color: #5657ab !important;
            }
          }
        }
      }
    }

    &__text {
      color: #fff !important;
      opacity: 0.6 !important;
      text-transform: capitalize;

      @include bp(tablet) {
        color: #8e98b3 !important;
        opacity: 1 !important;
      }
    }

    &__count {
      color: #fff;
      opacity: 0.8;
      margin-top: 0;
      margin-left: 5px;
      line-height: 16px;
    }

    &-pane {
      &::before {
        background: transparent;
      }
    }
  }

  &-guide-btn {
    display: none !important;
  }

  &-toolbar {
    margin-top: 30px;

    & > .title {
      height: 30px;
    }

    &__item {
      position: relative;

      & .cluebank__item {
        background: #fff;
      }
    }

    &__fav {
      margin-top: 0;
      position: absolute;

      &.active {
        background: #fff;

        & .button__icon {
          color: #fff;
          background: $c-yellow;
        }
      }
    }

    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 30px;
      margin-top: 30px;

      &__title {
        font-size: 22px;
        color: #7d97ad;
        font-weight: 700;
        margin-bottom: 10px;
      }

      &__desc {
        padding: 0 30px;
        color: $c-text;
      }
    }

    .cluebank__item {
      &:hover {
        box-shadow: 0px 13px 21px 0px rgba(41, 53, 108, 0.09) !important;
      }
    }
  }

  .slide-group {
    &__header {
      align-items: center;
    }

    &__title {
      margin-right: 10px;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    margin-top: -167px;

    @include bp(desktop-s) {
      margin-top: -140px;
    }

    @include bp(tablet) {
      margin-top: -42px;
    }

    @include bp(mobile) {
      margin-top: -37px;
    }

    .tab {
      @include bp(tablet) {
        margin-top: 15px;
      }
    }

    .tab-pane__item {
      @include bp(tablet) {
        background: #e8eef5;
      }
    }
  }

  &__content {
    position: relative;
    padding: 25px;
    min-height: 400px;

    @include bp(tablet) {
      padding: 5px 15px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 17px;
      z-index: -1;
    }
  }

  &__item {
    background: #e2e8f0;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: $c-secondary;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    word-break: break-word;

    &:hover {
      color: #44449f;
      background: #fff;

      .cluebank__icon {
        opacity: 1;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6dce3;
    min-height: 60px;
  }

  &__icon {
    display: inline-flex;
    font-size: 35px;
    margin-right: 15px;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    @include bp(tablet) {
      opacity: 1;
    }
  }

  &__title {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.2em;
    padding-right: 30px;
    display: -webkit-box;
    -webkit-box-align: start;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include bp(tablet) {
      font-size: 18px;
    }
  }

  &-fav {
    background: #dde0e9;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // font-size: 14px;
    color: #fff;
    right: 15px;
    top: 22px;
    z-index: 3;
    cursor: pointer;
    position: absolute;

    .button__icon {
      @include bp(tablet) {
        margin-left: 0 !important;
      }
    }

    &.btn {
      max-width: 28px !important;
      min-height: 26px !important;
      max-height: 28px;
      padding: 5px;
      border-radius: 255px;
      position: absolute;

      &.focus,
      &:focus {
        box-shadow: none !important;
      }

      .tooltip--left {
        right: -40px !important;
        width: 175px;
        text-align: center;

        @include bp(tablet) {
          min-width: 150px;
          width: auto;
          padding: 6px 10px !important;
        }

        & .tooltip__txt {
          transform: translateY(0);
          left: 0;
        }
      }

      & .button__icon {
        font-size: 16px;
      }
    }

    &:hover {
      background: #7d97ad;
      transition: 0.2s;
    }

    &.active {
      background: $c-yellow;
    }
  }

  &__cnt {
    padding-top: 15px;
    color: #7d97ad;
    min-height: 90px;

    @include bp(tablet) {
      font-size: 16px;
      min-height: 50px;
    }
  }

  &__txt {
    color: #7d97ad;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 17px;
  }

  &-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    &__item {
      @include column('column-3');
      position: relative;
      transition: 0.3s;

      @include bp(tablet) {
        margin-bottom: 15px;
      }

      &.toolbar {
        width: 100%;
      }

      &:hover {
        transform: translateY(-5px);

        @include bp(tablet) {
          transform: translateY(0);
        }
      }

      &:nth-child(3n) {
        margin-right: 0;

        @include bp(tablet-m) {
          margin-right: 2%;
        }

        @include bp(tablet) {
          margin-right: 0%;
        }
      }

      &:nth-child(2n) {
        @include bp(tablet-m) {
          margin-right: 0;
        }
      }
    }

    .cluebank__item {
      margin-bottom: 0;
      background: #fff;
    }

    .cluebank__link {
      display: block;
      width: 100%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &-detail {
    .detail-ctr {
      &__item {
        @include bp(tablet-m) {
          justify-content: flex-start;
        }
      }

      .button {
        &:last-child {
          margin-right: unset;
          margin-left: auto;

          @include bp(tablet-m) {
            margin-left: unset;
          }
        }
      }
    }

    .detail-header {
      &__wrp {
        justify-content: center;
      }
    }

    .detail-inner {
      margin-top: 0;
      margin-bottom: 85px;
    }

    .detail-content {
      margin-top: 30px;
      margin-left: 50px;
      margin-right: 50px;
      min-width: 720px;
      // user-select: none;

      @include bp(desktop) {
        max-width: 720px;
        min-width: 720px;
        margin-left: 15px;
        margin-right: 15px;
      }

      @include bp(tablet-m) {
        max-width: 100%;
        min-width: 100%;
        margin: 80px 0 0 0;
      }

      @include bp(tablet) {
        margin: 70px 0 0 0;
      }
    }

    .detail-ctr {
      &__item {
        position: relative;
      }

      .button {
        &:nth-child(2) {
          @include bp(tablet-l) {
            margin-right: unset;
          }

          @include bp(tablet-m) {
            margin-right: auto;
          }
        }
      }
    }
  }

  .detail-content__cnt {
    font-size: 17px !important;
    font-family: 'Proxima Nova', sans-serif !important;

    & * {
      font-family: inherit !important;
    }
  }

  &-link {
    position: relative;

    & .cluebank__item {
      background: #fff;
    }
  }

  &-results {
    margin-top: 100px;

    @include bp(tablet) {
      margin-top: 20px;
    }

    &__notfound {
      text-align: center;
      padding-top: 50px;
    }

    &__cnt {
      display: flex;
      flex-wrap: wrap;

      & > .cluebank-link {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;

        @include bp(tablet-m) {
          width: 49%;
          margin-right: 2%;
        }

        @include bp(tablet) {
          width: 100%;
          margin-right: 0;
        }

        &:nth-child(2n) {
          @include bp(tablet-m) {
            margin-right: 0%;
          }
        }

        &:nth-child(3n) {
          margin-right: 0;

          @include bp(tablet-m) {
            margin-right: 2%;
          }

          @include bp(tablet) {
            margin-right: 0;
          }
        }
      }
    }

    &__header {
      flex-basis: 100%;
      color: #44449f;
      font-weight: 700;
      margin-left: 10px;
      margin-bottom: 30px;
    }

    &__item {
      flex-basis: calc((100% / 3) - 20px);
      margin: 0 10px;
    }
  }

  &-tabslider {
    width: 1040px;
    transform: translateY(5px);

    @include bp(desktop) {
      width: 100%;
    }

    @include bp(tablet) {
      width: 100%;
    }

    .swiper-wrapper {
      @include bp(desktop) {
        justify-content: center;
      }

      @include bp(tablet) {
        justify-content: flex-start;
      }
    }

    &__item {
      width: 260px;
      display: flex;
      justify-content: center;

      @include bp(desktop) {
        width: 25% !important;
      }

      @include bp(tablet) {
        width: auto !important;
        display: inline-flex;
      }
    }
  }

  &-searchbox {
    position: relative;

    &::before {
      @include pseudo-c;
      width: calc(100% - 70px);
      height: 1px;
      top: 2.5rem;
      left: 35px;
      background: rgba(240, 244, 249, 0.15);

      @include bp(desktop-s) {
        width: calc(100% - 70px - 8rem);
        left: calc(35px + 4rem);
      }
    }
  }
}
