.datepicker {

  &__btn {
    display: flex;
    position: relative;
    height: 47px;
    align-items: center;
    color: $c-secondary;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    padding: 8px 25px;
    padding-right: 65px;
    transition: all .3s;
    background: #e2e8f0;

    @include bp(tablet) {
      padding: 5px 15px !important;
      font-size: 14px;
      font-weight: 600;
      height: 30px;
    }

    .caret {
      position: absolute;
      right: 12px;
      margin-top: -1px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

.dictionary__content {
  .datepicker {
    &__btn {
      cursor: default;
    }
  }
}