@import '../variables';

.question-item-tooltip {
  .tooltip {
    &-inner {
      background: $c-primary;
      color: #fff;
      width: auto !important;
      max-width: 800px;
      padding: 14px 30px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
    }

    &-arrow {
      border-color: $c-primary;
    }
  }
}

.durum-row {
  height: auto !important;
}

.durum-mt {
  margin-top: 20px !important;
}

.component {
  &--deneme {
    &-filter {
      .tab-filter__item {
        &:last-child {
          @include bp(tablet) {
            width: 100%;
            margin-left: 0;
          }
        }
      }

      @media (max-width: 1400px) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: 1360px) {
        padding-left: 70px;
        padding-right: 70px;
      }

      @include bp(tablet-m) {
        padding-left: 0;
        padding-right: 0px;
      }

      .select-header {
        height: 55px;
      }
    }

    &-question {
      .test-option__opt {
        @include bp(tablet) {
          display: flex;
        }
      }
    }
  }

  &--test {
    &-filter {
      .tab-filter__item {
        &:last-child {
          @include bp(tablet) {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }

    &-list-item {
      .tests__item {
        &.with-progress {
          .tests-inf {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}

.deneme-list--list {
  @media (max-width: 1400px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 1360px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include bp(tablet-m) {
    padding-left: 0;
    padding-right: 0px;
  }

  .t-badge {
    @include bp(tablet) {
      padding: 15px;
    }

    &--title {
      @include bp(tablet) {
        font-size: 17px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
      }

      span {
        @include bp(tablet) {
          font-size: 15px;
          margin-left: 0;
        }
      }
    }

    &--button {
      @include bp(tablet) {
        display: none;
      }
    }
  }
}

.view--deneme-list,
.view--deneme-detail {
  .header-guide {
    &.opn {
      @include bp(tablet) {
        height: 715px !important;
      }

      @include bp(mobile) {
        height: 660px !important;
      }
    }
  }

  .mini-modal {
    max-width: 450px;

    @include bp(tablet) {
      max-width: 85%;
    }
  }

  $color_2: #a2acc4;
  $color_3: #adb5c9;

  .range-input {
    width: 100%;
    height: 50px;
    background: $c-bgmain;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    border: 1px solid #eceef3;
    border-radius: 6px;

    strong.point {
      font-weight: 400;
      margin-right: 5px;
      color: $c-secondary;
    }

    span {
      color: $color_2;
      font-weight: 600;
    }

    >div {
      margin-left: auto;
    }

    button {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      border-radius: 3px;
      background: #ffffff;
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.06);
      color: $color_3;
      font-size: 15px;
    }
  }

  .mini-modal {
    background: #fbfdfe;

    .title-w-shadow {
      background: #fbfdfe;
      color: $c-primary;
      font-weight: 600;
      font-size: 1.25rem;
      margin-top: 1rem;
    }
  }
}

.deneme-detail-page,
.tests-detail-page {
  .detail {
    &__container {
      @include bp(tablet-m) {
        background: #fff;
        z-index: 3;
      }
    }

    &-inner {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &-ctr {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      z-index: 1;

      @include bp(tablet-m) {
        justify-content: flex-start;
        margin-top: 12px;
      }

      @include bp(tablet) {
        min-width: auto;
        margin-top: 15px;
      }

      &__item {
        button {
          @include bp(tablet-l) {
            display: flex !important;
          }

          @include bp(tablet-m) {
            background: $c-bgmain;
          }
        }
      }
    }

    &-close.button {
      min-height: 39px;
      padding: 7px 9px;
      background: #fff;
      color: #8e98b3;
      border-radius: 50px;
      white-space: nowrap;
      min-width: 110px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1em;

      @include bp(tablet-m) {
        background: $c-bgmain;
      }

      @include bp(tablet) {
        min-width: auto;
      }
    }

    &-inf {
      z-index: unset;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      padding: 0;

      &__header {
        margin-right: 15px;
        margin-left: 15px;
        z-index: 4;

        .f-line.mb-20 {
          margin-bottom: 20px;
        }

        @include bp(tablet-m) {
          margin-top: 25px;
          margin-right: 0;
          margin-left: 0;
          background: transparent;
          padding: 0;
        }

        @include bp(tablet) {
          width: 100%;
          margin-top: 70px;
          margin-bottom: 15px;
        }

        .f-line {
          @include bp(tablet) {
            display: none;
          }
        }
      }

      &__bottom {
        justify-content: space-between;
        width: 100%;
        height: 35px;

        @include bp(tablet) {
          order: 4;
          flex-flow: wrap;
          width: 100%;
          height: auto;
        }
      }

      &-buttons {
        @include bp(tablet) {
          justify-content: space-between;
          width: 100%;
          height: auto;
          position: relative;
        }

        &:before {
          @include bp(tablet) {
            content: '';
            position: absolute;
            bottom: 0;
            left: -35px;
            width: calc(100% + 70px);
            background: #d2dae6;
            height: 1px;
          }
        }

        button {
          @include bp(tablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            font-size: 12px !important;
            height: 85px !important;
            margin-right: 0 !important;
            border-right: 1px solid #d2dae6;
          }

          &:last-child {
            @include bp(tablet) {
              border-right: none;
            }
          }

          svg {
            @include bp(tablet) {
              margin-bottom: 15px;
              font-size: 28px;
            }
          }
        }
      }

      &__quest-number {
        display: none;

        @include bp(tablet) {
          display: block;
          margin-top: 10px;
          color: #8e98b3;
          font-size: 15px;
          font-weight: 600;
        }

        &--txt {
          opacity: 0.7;
          margin-right: 15px;

          @include bp(tablet) {
            margin-right: 5px;
          }
        }
      }
    }

    &__title {
      @include bp(tablet) {
        width: 100%;
        text-align: center;
        order: 2;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        position: relative;
      }

      &:before {
        @include bp(tablet) {
          content: '';
          position: absolute;
          top: 0;
          left: -35px;
          width: calc(100% + 70px);
          background: #d2dae6;
          height: 1px;
        }
      }

      &:after {
        @include bp(tablet) {
          content: '';
          position: absolute;
          bottom: 0;
          left: -35px;
          width: calc(100% + 70px);
          background: #d2dae6;
          height: 1px;
        }
      }
    }

    &-nav {
      @include bp(tablet) {
        order: 1;
        width: 65%;
        margin-top: -67px;
      }

      .progress {
        @include bp(tablet) {
          height: 20px !important;
        }
      }

      &-list {
        @include bp(tablet) {
          display: none;
        }
      }
    }
  }

  .test-nav {
    @include bp(mobile) {
      justify-content: center;
    }

    .button {
      @include bp(tablet) {
        min-width: max-content;
        padding: 13px 20px;
      }

      &:hover {
        background: #3eacf7;
        color: white;
      }
    }

    &__prev {
      @include bp(mobile) {
        height: 53px;
        min-height: 53px;
      }

      .button__txt {
        @include bp(tablet) {
          margin-left: 10px;
        }
      }
    }

    .button--circle {
      @include bp(tablet) {
        width: 53px;
        height: 53px;
        min-height: 53px;
      }
    }

    &__next {
      @include bp(mobile) {
        height: 53px;
        min-height: 53px;
      }

      .button__txt {
        @include bp(tablet) {
          margin-right: 10px;
        }
      }
    }

    .button__icon {
      margin-right: 5px;

      @include bp(tablet) {
        margin-right: 0;
      }
    }
  }

  .detail-inf-buttons button.active:after {
    background: $c-alt;
  }

  .test-question {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;

    @include bp(tablet) {
      padding: 10px;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    &-inf {
      flex: 0 0 50px;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      @include bp(tablet) {
        margin-right: 10px;
        flex: 0 0 30px;
        margin-top: 5px;
      }

      button.test-question-fav {
        opacity: 0.2;
        font-size: 20px;
        margin-top: 5px;

        &.active {
          color: #b3a270;
          opacity: 1;
        }
      }
    }

    &__number {
      position: static;
      font-size: 18px;
      width: 40px;
      height: 40px;
      border-radius: 6px !important;
      transform: none;

      @include bp(tablet) {
        width: 32px;
        height: 32px;
        font-size: 16px;
      }
    }

    &__cnt {
      p {
        color: #818baa;
        font-size: 17px;
        font-weight: unset;

        @include bp(tablet) {
          font-size: 16px;
        }
      }
    }
  }

  .test-question__main-test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse !important;
  }

  .test-question__main {
    height: auto;
    min-height: 10px;
    padding: 8px;
    background: #e3e8f0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: $c-secondary;
    font-weight: 300;

    @include bp(tablet) {
      padding: 16px;
      justify-content: center;
      text-align: center;
    }
  }

  .test-options__inner {
    max-width: 84%;
    min-width: 84%;
    margin: 0 auto;

    @include bp(tablet) {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .test-options {
    display: flex;
    justify-content: center;
    max-width: 100%;

    @include bp(tablet) {
      max-width: 92% !important;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .test-option {
    background: transparent;
    transition: 0.3s;
    width: max-content;
    max-width: 100%;
    padding-right: 20px;

    @include bp(tablet) {
      padding-right: 15px;
    }

    &__txt {
      width: 100%;

      &--spacing {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &:hover,
    &.active {
      .opt-txt {
        box-shadow: inset 0 0 0px 3px $c-alt;
      }
    }

    &.active {
      background: white;

      .test-option__txt {
        // text-shadow: 0 0 0.75px $c-secondary, 0 0 0.75px $c-secondary;
        color: #556490;
      }
    }
  }

  .test-option__opt {
    width: 35px;
    height: 35px;

    @include bp(tablet) {
      display: flex;
    }

    .opt-txt {
      background: white;
      transition: 0.3s;
      box-shadow: inset 0 0 0px 1px transparent;
      transition: all 0.5s;
    }
  }

  .detail-inf-buttons {
    button {
      height: 45px;
      color: #8e98b3;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.5s;
      margin-right: 40px;
      font-size: 14px;
      position: relative;
      display: flex;
      align-items: center;

      @include bp(desktop) {
        margin-right: 25px;
      }

      svg {
        font-size: 22px;
        margin-right: 10px;
        transition: all 0.5s;
        color: $c-secondary;
      }

      &:after {
        content: '';
        width: 0;
        height: 4px;
        background: #4545a1;
        left: 50%;
        display: block;
        bottom: -10px;
        position: absolute;
        border-radius: 10px 10px 0px 0;
        transition: all 0.5s;

        @include bp(tablet) {
          bottom: 0;
        }
      }

      &.active {
        color: $c-secondary;

        svg {
          color: $c-alt;
        }

        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .detail-inf__bottom {
    position: relative;
    margin-top: -6px;
    margin-bottom: -6px;
  }

  .contents-of-buttons {
    position: absolute;
    width: calc(100% + 30px);
    margin: 0 -15px;
    background: #f6f8f9;
    top: calc(100% + 15px);
    z-index: 9999;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

    @include bp(tablet-m) {
      width: calc(100% + 70px);
      margin: 0 -35px;
      top: calc(100% + 75px);
    }

    @include bp(tablet) {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
      width: calc(100% + 30px);
      margin: 0 -15px;
      height: 100%;
      overflow-y: scroll;
      overscroll-behavior: contain;
    }

    &.active {
      max-height: 600px;
      transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);

      @include bp(tablet) {
        max-height: 100%;
      }

      .mobile-detail__title {
        opacity: 1;
        padding-bottom: 15px;
      }
    }

    &__mobile-top {
      max-height: unset !important;
      overflow: unset !important;
      background: #fff;
      border-bottom: 1px solid #d2dae6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px 15px 45px;
      transition: 0.3s;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #d2dae6;
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-alt;
        font-size: 17px;
        font-weight: 600;

        &.ml-pos {
          margin-left: -15px;
        }
      }
    }

    .mobile-detail__title {
      max-height: unset;
      display: none;
      justify-content: center;
      font-size: 20px;
      font-weight: 700;
      padding-top: 15px;
      background: #fff;
      transition: 0.3s;

      @include bp(tablet) {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
      }
    }

    &__close {
      background: #f0f4f9;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8e98b3;
      border-radius: 50%;
      font-size: 15px;
      z-index: 3;
    }

    .row {
      @include bp(tablet) {
        margin-left: 0;
        margin-right: 0;
        overflow: unset;
      }
    }

    .screen-stats {
      @include bp(tablet) {
        margin-bottom: 0 !important;
      }
    }

    >div {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

      &.active {
        max-height: 600px;
        opacity: 1;
        transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);

        @include bp(tablet) {
          max-height: 100%;
          overflow-y: scroll;
          overscroll-behavior: contain;
        }

        .contents-of-buttons__mobile-top {
          opacity: 1;
        }
      }
    }
  }

  $c-secondary: #7582a5;

  .screen-stats {
    hr {
      clear: both;
      display: block;
      width: 100%;
    }

    .row {
      &.no-gutters {
        padding: 20px;
      }

      >div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100px;
        border-right: 1px solid #d2dae6;

        @include bp(tablet) {
          justify-content: space-between;
          min-height: 40px;
          height: auto;
          flex-direction: row;
          border-right: none;
          padding: 0 25px;
        }

        &:nth-child(3) {
          border-right: none;
        }

        &:last-child {
          border-right: none;
        }

        strong {
          font-size: 25px;

          @include bp(tablet) {
            font-size: 20px;
          }
        }

        span {
          font-size: 15px;
          color: $c-secondary;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }

  .detail-inf-shadow {
    position: fixed;
    cursor: pointer;
    left: 0;
    top: 0;
    background: #222255;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .list-of-questions-badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px !important;

    @include bp(desktop) {
      height: 500px;
      overflow-y: scroll;
    }

    @include bp(tablet) {
      padding: 20px 15px 20px 15px !important;
      height: auto;
      align-items: flex-start;
    }

    &:before {
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #d2dae6;

      @include bp(tablet) {
        display: none;
      }
    }

    &--title {
      color: $c-secondary;
      font-size: 16px;
      margin-bottom: 10px;

      @include bp(tablet) {
        margin-bottom: 5px;
        padding-left: 15px;
      }
    }

    &--desc {
      color: $c-secondary;
      font-size: 15px;

      @include bp(tablet) {
        margin-bottom: 0px;
        font-weight: 300;
        font-size: 14px;
        padding-left: 15px;
      }
    }

    &--spacing {
      display: none;

      @include bp(tablet) {
        flex: 0 0 30px !important;
        height: 30px !important;
        background: transparent !important;
        border-color: transparent !important;
      }
    }

    &--marks {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 20px;
      flex-wrap: wrap;

      ::-webkit-scrollbar {
        @include bp(tablet) {
          display: none;
        }
      }

      @include bp(tablet) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: calc(100vw);
        padding-left: 15px;
      }

      div {
        flex: 0 0 32px;
        height: 32px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 5px;
        border: 1px solid #e7ebf2;
        font-size: 13px;
        font-weight: 600;
        color: #8e98b3;
        cursor: pointer;

        @include bp(tablet) {
          font-size: 18px;
        }

        &.current {
          border: 2px solid $c-alt !important;
          box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
        }

        @include bp(tablet) {
          flex: 0 0 50px;
          height: 50px;
          margin: 2px 5px;
        }

        &[data-question-statu='filled'] {
          background: #3eacf7;
          border-color: #3eacf7;
          color: #fff;
        }

        &[data-question-statu='again'] {
          background: #b3a270;
          border-color: #b3a270;
          color: #fff;
        }
      }
    }

    &--outer {
      width: 100%;
      transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
      position: relative;

      @include bp(tablet) {
        overflow: hidden;
        padding: 0 3px;
        height: 80px;
        max-height: 80px;
      }

      &.active {
        height: auto;
        max-height: 800px;
        width: 100%;
        transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

        .list-of-questions-badges {
          &--marks {
            @include bp(tablet) {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
              grid-auto-rows: 1fr;
              grid-row-gap: 0px;
              grid-column-gap: 0px;
              width: 100%;
              margin: 0%;
              justify-content: space-between;
              padding: 10px 0;
              transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
          }

          &--linear {
            opacity: 0;
          }
        }
      }
    }

    &--linear {
      display: none;

      @include bp(tablet) {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(to left,
            rgb(246, 248, 249),
            rgba(246, 248, 249, 0));
        width: 50px;
        height: 100%;
        z-index: 99998899;
      }
    }
  }

  .selected-question {
    overflow-y: scroll;
    height: 555px;
    padding: 20px 40px 20px 10px;
    cursor: default;

    @include bp(tablet) {
      padding: 15px 35px 20px 35px;
      overflow-y: unset;
      height: auto;
    }

    &--title {
      font-size: 15px;
      text-transform: uppercase;
      color: $c-secondary;
      font-weight: 600;

      @include bp(tablet) {
        display: flex;
        align-items: center;
      }

      span {
        font-size: 19px;
        background: #3eacf7;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 40px;
        border-radius: 6px 6px 0 0;
        color: white;
        margin-right: 7px;
        margin-left: 15px;
        margin-bottom: -2px;

        @include bp(tablet) {
          flex-shrink: 0;
        }
      }
    }

    &--content {
      background: white;
      font-size: 15px;
      padding: 17px;
      border-radius: 10px;
      position: relative;
      z-index: 2;
      color: #556490;

      @include bp(tablet) {
        margin-bottom: 15px;
      }
    }

    .test-option {
      margin-bottom: 0;
      cursor: default;

      &:first-child {
        margin-top: 10px;
      }

      &:hover {
        background: transparent;

        .opt-txt {
          box-shadow: inset 0 0 1px transparent;
        }
      }

      &.active {
        background: #fff;

        .opt-txt {
          box-shadow: inset 0 0 0px 3px $c-alt;
        }

        .test-option__txt {
          color: #556490;
        }
      }
    }

    &--options {
      .test-options {
        max-width: 100%;

        .test-option {
          background: transparent !important;
          margin-bottom: 0;

          &__opt {
            @include bp(tablet) {
              display: flex;
            }
          }
        }
      }
    }
  }

  .test {
    &-options {
      @include bp(tablet) {
        max-width: 100%;
      }
    }

    &-option {
      @include bp(tablet) {
        margin-bottom: 0px;
      }
    }
  }

  .no-margin-tab {
    margin: -20px;

    @include bp(tablet) {
      margin: 0;
    }

    .row {
      margin: 0;
    }

    .list-of-questions-badges,
    .selected-question {
      padding: 15px;
    }
  }

  .marks-status {
    padding-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #d2dae6;
    flex-direction: column;

    @include bp(tablet) {
      padding: 10px 5px 7px 5px;
      border-bottom: 1px solid #d2dae6;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 10px;
      justify-content: flex-start;
      padding-left: 18px;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
      cursor: default;

      @include bp(tablet) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        width: auto;
        margin-right: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        color: #8590af;

        @include bp(tablet) {
          white-space: nowrap;
          font-size: 14px;
        }
      }

      span {
        flex: 0 0 32px;
        height: 32px;
        margin: 0 14px 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 10px;
        border: 1px solid #e7ebf2;
        font-size: 13px;
        font-weight: 600;
        color: #8e98b3;
        cursor: pointer;

        @include bp(tablet) {
          margin-right: 0;
          margin-bottom: 3px;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          flex: 0 0 24px;
        }

        &:after {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #8e98b3;
        }
      }

      &.filled {
        span {
          background: #3eacf7;
          border-color: #3eacf7;

          &:after {
            background: white;
          }
        }
      }

      &.again {
        span {
          background: #b3a270;
          border-color: #b3a270;

          &:after {
            background: white;
          }
        }
      }
    }
  }
}

.tests-detail-page,
.deneme-detail-page {
  .detail-right {
    .button {
      padding-left: 15px !important;
      padding-right: 15px !important;

      &__icon {
        font-size: 14px !important;

        @include bp(tablet) {
          font-size: 20px !important;
        }
      }
    }
  }
}

.deneme-report-page,
.test-report-page {
  &__bottom-txt {
    color: #7d97ad;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
  }

  .tab-pane {
    z-index: 4;
  }

  .detail {
    &__container {
      @include bp(tablet-m) {
        background: #fff;
        z-index: 3;
      }
    }

    &-header {
      &__wrp {
        padding: 0 20px;
        display: flex;
        justify-content: center;

        @include bp(tablet-l) {
          padding: 0;
        }
      }
    }

    &__title {
      @include bp(tablet) {
        line-height: 22px;
        padding-top: 3px;
      }
    }

    &-right {
      z-index: 3;
      // margin-right: 70px;
      margin-right: 0;

      @include bp(tablet-l) {
        right: 15px;
        margin-right: 0;
      }
    }

    &-ctr {
      @include bp(tablet-l) {
        left: 15px;
      }
    }

    &-inf {
      &__header {
        margin-right: 15px;
        margin-left: 15px;

        @include bp(tablet-m) {
          margin-top: -7px !important;
          margin-right: 0;
          margin-left: 0;
          background: transparent;
          padding: 0;
        }

        @include bp(tablet) {
          width: 100%;
          margin-top: -10px !important;
        }

        @include bp(mobile) {
          width: calc(100% - 140px) !important;
          text-align: center;
          margin: 0px auto 0px auto !important;
          min-height: auto !important;
          position: relative;
          height: 80px;
        }

        .f-line {
          @include bp(tablet) {
            display: none;
          }
        }
      }
    }

    &__container {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      @include bp(tablet-m) {
        background: #fff;
        z-index: 3;
      }
    }

    &-ctr {
      display: flex;
      justify-content: flex-end;
      min-width: 110px;

      @include bp(tablet-m) {
        justify-content: flex-start;
      }

      @include bp(tablet) {
        min-width: auto;
      }

      &__item {
        button {
          @include bp(tablet-l) {
            display: flex !important;
          }

          @include bp(tablet-m) {
            background: $c-bgmain;
          }
        }
      }
    }

    &-close.button {
      min-height: 39px;
      padding: 7px 9px;
      background: #fff;
      color: #8e98b3;
      border-radius: 50px;
      white-space: nowrap;
      min-width: 110px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1em;

      @include bp(tablet-m) {
        background: $c-bgmain;
      }

      @include bp(tablet) {
        min-width: auto;
      }
    }
  }

  .detail-inf {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    &__header {
      width: 100%;
      margin: 0 40px;
    }
  }

  .detail-inner {
    margin-top: 15px;
    margin-bottom: 0;

    .tab {
      margin-top: 0;

      &__header {
        @include bp(desktop) {
          padding: 0;
        }
      }

      &__item {
        @include bp(desktop) {
          padding-left: 10px;
          padding-right: 15px;
        }

        @include bp(tablet-m) {
          white-space: nowrap;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      &__text {
        @include bp(desktop) {
          font-size: 16px;
        }

        @include bp(tablet-m) {
          font-size: 18px;
        }
      }
    }
  }

  .summary-tab {
    padding: 20px;

    @include bp(tablet) {
      padding: 20px 15px;
    }

    .ranking {
      text-transform: uppercase;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c-secondary;
      min-height: 70px;

      @include bp(tablet) {
        flex-direction: column;
      }

      &__txt {
        @include bp(tablet) {
          font-size: 16px;
        }
      }

      strong {
        font-size: 24px;
        margin-left: 10px;
        color: #5657ab;
        font-weight: 600;
        background: #fff;
        padding: 5px 10px;
        border-radius: 7px;
      }
    }

    .status-badge {
      padding-left: 25px;
      padding-right: 25px;

      &__message {
        &--outer {
          width: fit-content;
          margin: 0 auto;

          @include bp(mobile) {
            width: 100%;
          }
        }
      }

      @include bp(mobile) {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
        height: 45px;
      }

      &__outer {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__inner {
        width: max-content;

        @include bp(tablet) {
          width: 100%;
        }
      }
    }

    .stats {
      display: flex;
      margin: 25px -1%;

      @include bp(tablet) {
        flex-flow: wrap;
      }

      .stat {
        flex: 0 0 23%;
        margin: 0 1%;
        background: white;
        border-radius: 7px;
        box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
        padding: 15px 35px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include bp(tablet-m) {
          padding: 15px;
        }

        @include bp(tablet) {
          flex: 0 0 100%;
          margin: 1.5% 0%;
          padding: 10px 15px;
        }

        strong {
          border-bottom: 1px solid $c-bgmain;
          width: 100%;
          text-align: center;
          padding: 10px 0;
          color: #7783a6;

          @include bp(tablet) {
            padding: 5px 0 10px 0;
          }

          &:after {
            content: '';
            width: 7px;
            height: 7px;
            background: #fff;
            display: inline-flex;
            border-radius: 100%;
            position: relative;
            margin-left: 6px;
            top: -2px;
            box-shadow: inset 0 0 0px 2px #d9e1ec;
          }
        }

        &:nth-child(2) {
          strong {
            &:after {
              box-shadow: none;
              background: #7ce777;
            }
          }
        }

        &:nth-child(3) {
          strong {
            &:after {
              box-shadow: none;
              background: #e77777;
            }
          }
        }

        &:nth-child(4) {
          strong {
            &:after {
              box-shadow: none;
              background: #d9e1ec;
            }
          }
        }

        span {
          padding: 10px 0 0px 0;
          color: $c-secondary;
          font-size: 25px;

          @include bp(tablet) {
            padding: 10px 0 0 0;
            font-size: 22px;
          }
        }
      }
    }

    .f-line {
      border-color: #e3e7ea;
    }

    .my-results {
      @include bp(tablet) {
        margin-left: 0;
        margin-right: 0;
      }

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        border-right: 1px solid #e3e7ea;
        flex-direction: column;

        @include bp(tablet) {
          border-right: none;
          flex-direction: row;
          justify-content: space-between;
          border-top: 1px solid #e3e7ea;
          height: auto;
          padding: 15px 0;
        }

        &:last-child {
          border-right: none;

          @include bp(tablet) {
            border-bottom: 1px solid #e3e7ea;
          }
        }

        strong {
          color: $c-secondary;
          font-size: 20px;
          opacity: 0.6;

          @include bp(tablet) {
            font-size: 16px;
          }
        }

        span {
          color: $c-secondary;
          font-size: 25px;

          @include bp(tablet) {
            font-size: 20px;
          }
        }
      }
    }

    p {
      font-size: 20px;
      text-align: center;
      padding: 0 10%;
      margin: 20px 0;
    }
  }

  .question-type-tab,
  .time-management-tab {
    padding: 25px;

    @include bp(tablet) {
      padding: 10px;
    }

    .custom-table {
      background: white;
      box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
      border-radius: 12px;
      overflow: hidden;

      &--row {
        height: 60px;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        border-bottom: 1px solid #e8edf4;
        font-size: 19px;
        color: rgba(85, 100, 144, 0.7);
        font-weight: 600;

        &:nth-child(2n) {
          background: #f7fafc;
        }

        &.head,
        &.foot {
          height: 100px;
          border: none;
          align-items: center;

          .title {
            font-size: 16px;
            color: $c-secondary;
            font-weight: 600;
            border: none;
            height: 50px;
          }

          .col {
            font-size: 16px;
            color: $c-secondary;
            height: 50px;
            align-items: center;

            @include bp(tablet) {
              height: 80px;
            }

            svg {
              margin-left: 5px;
              color: $c-alt;
            }

            i {
              width: 10px;
              height: 10px;
              background: #fff;
              display: inline-flex;
              border-radius: 100%;
              position: relative;
              margin-left: 9px;
              top: -1px;
              box-shadow: inset 0 0 0px 2px #d9e1ec;

              @include bp(tablet) {
                margin-left: 0;
              }

              &.true {
                box-shadow: none;
                background: #7ce777;
              }

              &.false {
                box-shadow: none;
                background: #e77777;
              }

              &.empty {
                box-shadow: none;
                background: #d9e1ec;
              }
            }
          }
        }

        &.foot {
          * {
            font-size: 20px !important;

            @include bp(tablet) {
              font-size: 16px !important;
            }

            .custom-table--row__column--mobile-title {
              display: none;

              @include bp(tablet) {
                display: block;
                font-weight: 100;
                font-size: 14px !important;
                color: rgba(85, 100, 144, 0.7);
              }

              svg {
                color: $c-alt;
                margin-right: 10px;
                margin-bottom: 4px;
                font-size: 14px !important;
              }

              i {
                margin-right: 6.5px;
                width: 14px !important;
                height: 14px !important;
                margin-left: 5px !important;
                position: relative;
                top: 2px;
              }
            }
          }

          .title {
            border-right: 1px solid #e8edf4;
            height: 100px;

            @include bp(tablet) {
              height: auto;
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-right: none;
              border-bottom: 1px solid #e8edf4;
            }
          }
        }

        .col {
          display: flex;
          justify-content: center;
          text-transform: uppercase;
        }

        .title {
          border-right: 1px solid #e8edf4;
          font-weight: 500;
          height: 60px;
          display: flex;
          align-items: center;
        }

        &__column {
          text-transform: none !important;

          &.green {
            color: #4dca83;
          }

          &.red {
            color: #e77777;
          }
        }
      }
    }

    .f-line {
      border-color: #d8e0ea;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .question-detail--question {
    .digi-test {
      &-clue {
        padding: 6px 10px 6px 20px;

        &__item {
          margin-right: 0;
        }
      }

      &-desc {
        width: 100%;
        max-width: fit-content;

        &__txt {
          font-size: 15px;

          @include bp(tablet) {
            font-size: 14px;
            margin-left: 5px;
          }
        }

        &__cnt {
          padding: 8px 10px 8px 20px;
        }
      }
    }
  }

  .component--deneme-report-question-analysis {
    .custom-table {
      &--row {
        &.row {
          @include bp(tablet) {
            flex-flow: wrap;
            height: auto;
            min-height: 50px;
            padding: 15px;
          }

          &.head {
            @include bp(tablet) {
              padding: 10px 15px;
              margin: 15px 10px;
              background: $c-bgmain;
              border-radius: 7px;
              justify-content: space-between;
            }

            .col {
              @include bp(tablet) {
                border: none;
                justify-content: center;
                flex-direction: row-reverse;
                font-size: 13px;
                font-weight: 100;
                height: 30px;
                padding: 0;
                max-width: min-content;
                min-width: min-content;
              }
            }

            i {
              @include bp(tablet) {
                margin-right: 5px;
                margin-left: 0;
                flex-shrink: 0;
              }
            }

            span.only-desktop-m-inline {
              margin-left: 5px;
            }
          }
        }

        &__column {
          &.title {
            @include bp(tablet) {
              min-width: 100%;
              max-width: 100%;
              border-right: none;
              padding-left: 0;
              height: auto;
              margin-bottom: 10px;
              font-size: 14px;
              padding-right: 0;
            }

            strong {
              @include bp(tablet) {
                color: #556490;
                margin-right: 5px;
              }
            }
          }

          &.col {
            @include bp(tablet) {
              width: 25%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border: 1px solid #d9e1ec;
              border-right: none;
              padding: 0;
              height: 80px;
            }

            &:nth-child(2) {
              @include bp(tablet) {
                border-radius: 10px 0 0 10px;
              }
            }

            &:last-child {
              @include bp(tablet) {
                border-right: 1px solid #d9e1ec;
                border-radius: 0 10px 10px 0;
              }
            }

            i {
              @include bp(tablet) {
                width: 10px;
                height: 10px;
                background: #fff;
                display: inline-flex;
                border-radius: 100%;
                box-shadow: inset 0 0 0px 2px #d9e1ec;
              }

              &.true {
                box-shadow: none;
                background: #7ce777;
              }

              &.false {
                box-shadow: none;
                background: #e77777;
              }

              &.empty {
                box-shadow: none;
                background: #d9e1ec;
              }
            }

            span {
              @include bp(tablet) {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                text-align: center;
                font-weight: 100;
                font-size: 15px;
              }

              &:last-child {
                @include bp(tablet) {
                  border-top: 1px solid #d9e1ec;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .component--deneme-report-time-management {
    .custom-table {
      &--row {
        @include bp(tablet) {
          height: auto;
          font-size: 16px;
          background: #f7fafc;
        }

        &:nth-child(2n) {
          @include bp(tablet) {
            background: #fff;
          }
        }

        &.row {
          @include bp(tablet) {
            padding: 15px;
            padding-bottom: 0;
          }

          &.head {
            .col {
              text-align: center;
            }
          }

          &.foot {
            @include bp(tablet) {
              height: auto;
            }

            .title {
              @include bp(tablet) {
                border-bottom: none;
                padding-bottom: 5px;
                margin-bottom: 0;
              }
            }

            .col {
              &:last-child {
                @include bp(tablet) {
                  margin-bottom: 5px;
                }
              }

              @include bp(tablet) {
                height: 50px;
              }
            }
          }
        }

        &__column {
          @include bp(tablet) {
            min-width: 100%;
          }

          &.col {
            @include bp(tablet) {
              justify-content: space-between;
              padding: 0;
              height: 50px;
              align-items: center;
              border-top: 1px solid #d9e1ec;

              &.green {
                span.only-tablet {
                  color: rgba(85, 100, 144, 0.7);
                }
              }
            }
          }

          &.title {
            @include bp(tablet) {
              border-right: none;
              padding: 0;
              font-size: 16px;
              height: auto;
              padding-bottom: 10px;
            }

            .question-type--time-management {
              color: rgba(85, 100, 144, 0.7);
              font-weight: 600 !important;
              margin-right: 10px;
            }

            strong {
              font-weight: 100;
            }

            span.only-tablet-inline {
              @include bp(tablet) {
                margin-right: 5px;
              }
            }
          }

          &--mobile-title {
            display: none;

            @include bp(tablet) {
              display: block;
              font-weight: 100;
              font-size: 14px;
              color: rgba(85, 100, 144, 0.7);
            }

            svg {
              color: $c-alt;
              margin-right: 10px;
              margin-bottom: 4px;
            }

            i {
              margin-right: 6.5px;
              width: 14px;
              height: 14px;
              background: #fff;
              display: inline-flex;
              border-radius: 100%;
              position: relative;
              top: 2px;
              box-shadow: inset 0 0 0px 2px #d9e1ec;
            }
          }
        }
      }
    }
  }

  .my-bests {
    .col {
      padding: 0 15px;

      &:nth-child(1) {
        .my-bests--item__title strong {
          color: #18b76a;
        }

        .circle-progress__dot,
        .circle-progress__bar {
          stroke: #19b769 !important;
        }
      }

      &:nth-child(2) {

        .circle-progress__dot,
        .circle-progress__bar {
          stroke: #e77777 !important;
        }
      }
    }

    &--item {
      background: white;
      padding: 15px 25px;
      border-radius: 4px;
      box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);

      @include bp(tablet) {
        min-height: 200px;
      }

      &__outer {
        &:first-child {
          .my-bests--item__title {
            strong {
              color: #7ce777 !important;
            }
          }
        }

        &:last-child {
          .my-bests--item {

            .circle-progress__dot,
            .circle-progress__bar {
              stroke: #df6457 !important;
            }
          }
        }
      }

      @include bp(tablet-m) {
        padding: 15px;
      }

      @include bp(tablet) {
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
      }

      &__title {
        color: #a4abc1;
        font-size: 15px;
        height: 45px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-weight: 800;
        border-bottom: 1px solid $c-bgmain;
        margin-bottom: 15px;

        @include bp(tablet) {
          font-weight: 200;
          justify-content: center;
          align-items: flex-start;
          height: auto;
          padding-bottom: 10px;
        }

        strong {
          margin-right: 5px;
          color: #df6457;

          @include bp(tablet) {
            font-weight: 200;
          }
        }
      }

      &__content {
        .circle-progress {
          width: 70px !important;
          height: 70px !important;
        }

        .row.no-gutters {
          @include bp(tablet) {
            flex-direction: column;
          }
        }

        .row {
          &--suggestions {
            .d-flex {
              @include bp(tablet) {
                justify-content: center !important;
              }
            }

            strong {
              font-size: 15px;
              margin-right: 20px;
            }
          }
        }

        .w-progress {
          flex: 0 0 70px;
          padding: 0;

          @include bp(tablet) {
            display: flex;
            justify-content: center;
          }
        }

        .sentence {
          justify-content: center;
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          padding-left: 15px;
          border-left: 1px solid #f0f4f8;

          @include bp(tablet-m) {
            padding-right: 0;
          }

          @include bp(tablet) {
            border-left: none;
            position: relative;
            top: 0;
            padding-left: 0;
            margin-left: 0;
            margin-top: 15px;
            align-items: center;
            display: flex;
            min-height: inherit;
          }

          strong {
            color: $c-secondary;
            font-size: 18px;
            font-weight: 300;

            @include bp(tablet-m) {
              font-size: 16px;
            }
          }

          .results {
            display: flex;
            flex-direction: row;

            @include bp(tablet) {
              width: 100%;
              justify-content: center;
            }

            div {
              opacity: 0.7;
              color: $c-secondary;
              margin-right: 10px;

              @include bp(tablet) {
                margin-right: 25px;
                margin-top: 2px;
              }

              &:before {
                content: '';
                width: 7px;
                height: 7px;
                background: #d9e1ec;
                display: inline-flex;
                border-radius: 100%;
                position: relative;
                margin-right: 4px;
                top: -1px;
              }

              &:nth-child(1) {
                &:before {
                  background: #7ce777;
                }
              }

              &:nth-child(2) {
                &:before {
                  background: #e77777;
                }
              }

              &:last-child {
                @include bp(tablet) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .custom-my-bests {
    width: 95%;
    margin: 0 auto;

    .circle-progress {
      width: 60px !important;
      height: 60px !important;
    }

    .col-md-6 {
      padding: 5px 15px;
    }

    span,
    strong {
      color: $c-secondary;
      font-size: 18px;
      font-weight: 600;
      opacity: 0.7;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    strong {
      margin-right: 15px;
      font-weight: 300;
    }

    .my-bests--item {
      box-shadow: none;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

      &:hover {
        cursor: pointer;
        box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);

        span,
        strong {
          opacity: 1;
        }
      }
    }
  }

  .advices-tab {
    p {
      font-size: 20px;
      padding: 3% 10%;
      text-align: center;
      color: #818baa;
      font-weight: 500;

      @include bp(tablet) {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        padding: 15px;
      }

      strong {
        font-weight: 500;
        color: $c-secondary;
      }
    }
  }

  .bordered-title {
    height: 50px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $c-secondary;

    &--suggestions {
      @include bp(tablet) {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
      }
    }

    span {
      background: #f5f9fb;
      white-space: nowrap;
      font-size: 18px;
      padding-right: 15px;
      font-weight: 600;

      @include bp(tablet) {
        font-weight: 400;
        padding: 0 15px;
      }

      b {
        color: #daaa44;
        font-weight: 600;
      }
    }

    &:after {
      content: '';
      width: 100%;
      bottom: 50%;
      height: 1px;
      margin-top: -1px;
      background: #d8e0e8;
    }

    &--suggestions {
      &:after {
        @include bp(tablet) {
          position: absolute;
          bottom: auto;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .time-shower {
    svg {
      margin-right: 5px;
      color: $c-alt;
    }

    span {
      font-weight: 600;
      margin-right: 5px;
      position: relative;
      top: 1px;
      color: #949cb5;
    }

    b {
      font-weight: 200;
      color: #a2a7bf;
      position: relative;
      top: 1px;

      &:before {
        content: '/ ';
      }
    }
  }

  .reading-tabitems.swiper-container {
    @include bp(tablet-m) {
      overflow: unset !important;
    }
  }

  .answer-keys {
    padding: 20px;

    &.tab {
      &-pane__item.active {
        @include bp(tablet) {
          overflow: unset !important;
        }
      }
    }

    .reading-words__ctr {
      @include bp(mobile) {
        justify-content: space-between;
      }

      .button {
        @include bp(mobile) {
          margin-right: 0px;
          padding: 10px 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    @include bp(tablet) {
      padding: 10px;
    }

    .tab-filter {
      &-buttons {
        @include bp(tablet) {
          flex-flow: wrap;
        }

        &__bar {
          @include bp(tablet) {
            display: none;
          }
        }
      }

      &__button {
        position: relative;
        color: #7380a5;
        padding-left: 15px;
        padding-right: 15px;

        @include bp(tablet) {
          width: 100%;
          text-align: left;
          margin-left: 0;
        }

        &.active {
          color: #4545a2;

          @include bp(tablet) {
            background: #fff;
          }
        }

        &:after {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0;
          right: -4px;
          background: #dce3ec;

          @include bp(tablet) {
            display: none;
          }
        }

        &:before {
          width: 8px;
          height: 8px;
          display: block;
          position: absolute;
          top: 50%;
          content: '';
          opacity: 1;
          left: calc(100% - 20px);
          opacity: 1;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        &:nth-last-child(2) {
          &:after {
            display: none;
          }
        }

        &:nth-child(1) {
          &:before {
            display: none;
          }
        }

        &:nth-child(2) {
          &:before {
            background: #7ce777;
          }
        }

        &:nth-child(3) {
          &:before {
            background: #e77777;
          }
        }

        &:nth-child(4) {
          &:before {
            background: #d9e1ec;
          }
        }
      }
    }

    .questions {
      margin: 0 -20px;
      padding: 16px;
      display: flex;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      grid-auto-rows: 1fr;
      grid-row-gap: 0px;
      grid-column-gap: 10px;
      overflow-x: scroll;

      @include bp(tablet) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100vw;
        margin-left: -25px;
        padding-left: 25px;
      }

      div {
        &:last-child {
          @include bp(tablet) {
            position: relative;
          }

          &:after {
            @include bp(tablet) {
              content: '';
              position: absolute;
              top: 0;
              right: -25px;
              display: block;
              width: 50px;
              height: 50px;
            }
          }
        }
      }

      &__outer {
        width: 100%;
        transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
        position: relative;

        @include bp(tablet) {
          overflow: hidden;
          padding: 0 3px;
          height: 80px;
          max-height: 80px;
        }

        &.active {
          height: auto;
          max-height: 800px;
          width: 100%;
          transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

          .questions {
            @include bp(tablet) {
              display: grid;
              width: 100%;
              margin: 0%;
              justify-content: space-between;
              padding: 10px 0;
              transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
            }

            &--linear {
              opacity: 0;
            }
          }
        }
      }

      &--linear {
        display: none;

        @include bp(tablet) {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0px;
          background: linear-gradient(to left,
              rgb(246, 248, 249),
              rgba(246, 248, 249, 0));
          width: 50px;
          height: 100%;
          z-index: 99998899;
          opacity: 1;
        }
      }

      div {
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        font-size: 17px;
        width: 50px;
        cursor: pointer;
        height: 50px;
        background: #ffffff;
        margin: 4px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border: 1px solid #d3dbe6;
        color: #8e98b3;

        @include bp(tablet) {
          flex-shrink: 0;
        }
      }

      div[data-question-status='correct'] {
        background: #4dca83;
        color: white;
        border-color: #4dca83;
      }

      div[data-question-status='wrong'] {
        background: #df6457;
        color: white;
        border-color: #df6457;
      }

      div.active {
        border-color: #3eacf7;
        border-width: 3px;
        box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
      }

      &__spacing {
        background: transparent !important;
        border: none !important;
        cursor: auto;
      }
    }

    .question-detail {
      padding: 15px;
      border-radius: 4px;
      background: white;

      .buttons-of-details {
        display: flex;
        flex-flow: wrap;

        @include bp(tablet) {
          justify-content: space-between;
        }

        &__flex {
          display: flex;
          align-items: center;

          strong {
            flex-shrink: 0;
          }
        }

        div {
          background: #f4f7fb;
          margin-right: 15px;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          color: $c-secondary;
          position: relative;
          margin-bottom: 20px;
          line-height: 18px;
          display: flex;

          @include bp(tablet) {
            width: auto;
            margin-right: 0px;
            margin-bottom: 10px;
          }

          &:first-child {
            @include bp(tablet) {
              svg {
                order: 1;
              }

              span {
                order: 2;
              }
            }
          }

          .time {
            @include bp(tablet) {
              order: 3;
            }
          }

          &:last-child {
            @include bp(tablet) {
              margin-bottom: 20px;
              width: 100%;
            }
          }

          // &:after {
          //   content: attr(data-tooltip);
          //   position: absolute;
          //   width: fit-content;
          //   white-space: nowrap;
          //   left: 50%;
          //   top: -50px;
          //   opacity: 0;
          //   background: $c-alt;
          //   transform: translateX(-50%);
          //   padding: 4px 10px;
          //   border-radius: 6px;
          //   color: white;
          //   font-weight: 600;
          //   pointer-events: none;
          //   transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          // }

          // &:before {
          //   position: absolute;
          //   transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          //   content: '';
          //   width: 10px;
          //   height: 10px;
          //   background: $c-alt;
          //   top: -26px;
          //   left: 50%;
          //   margin-left: -5px;
          //   opacity: 0;
          //   transform: rotate(45deg);
          // }

          // &:hover {
          //   &:after {
          //     opacity: 1;
          //     top: -40px;
          //   }

          //   &:before {
          //     opacity: 1;
          //     top: -19px;
          //   }
          // }

          &.is-nontooltip {
            cursor: auto;

            &:after,
            &:before {
              display: none;
            }
          }

          &:nth-child(2) strong {
            color: $c-alt;
            font-size: 17px;
          }

          svg {
            color: $c-alt;
            font-size: 17px;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }

      &--question {
        display: flex;
        flex-direction: row;

        >span {
          flex: 0 0 40px;
          height: 40px;
          border-radius: 8px;
          background: #ffffff;
          border: 1px solid #d3dbe6;
          color: #8e98b3;
          font-size: 17px;
          cursor: pointer;
          font-weight: 600;
          margin-right: 15px;

          &[data-question-status='correct'] {
            border-color: #4dca83;
            color: white;
            background: #4dca83;
          }

          &[data-question-status='wrong'] {
            border-color: #df6457;
            background: #df6457;
            color: white;
          }
        }

        & b {
          font-weight: bold;
        }

        &__mobile-number {
          height: 40px;
          width: 40px;
          border-radius: 8px;
          background: #ffffff;
          border: 1px solid #d3dbe6;
          color: #8e98b3;
          font-size: 17px;
          cursor: pointer;
          font-weight: 600;
          margin-bottom: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          margin-top: 2px;
          margin-right: 10px;

          &[data-question-status='correct'] {
            border-color: #4dca83;
            color: white;
            background: #4dca83;
          }

          &[data-question-status='wrong'] {
            border-color: #df6457;
            background: #df6457;
            color: white;
          }
        }

        &__mobile-tooltip {
          width: 100%;
          background: #5657ab;
          padding: 14px 30px;
          border-radius: 6px;
          color: white;
          line-height: 22px;
          margin-bottom: 25px;
          font-style: italic;
          position: relative;
          pointer-events: none;
          z-index: 1;

          &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%) rotate(45deg);
            width: 20px;
            height: 20px;
            background: #5657ab;
          }
        }

        &__p {
          font-weight: unset;
          border-radius: 4px;
          font-size: 17px;
          color: #818baa;
          cursor: default;
          position: relative;
          transition: 0.3s;
          display: block;

          @include bp(tablet) {
            font-size: 16px;
          }

          .digi-test-desc {
            &__icon {
              font-size: 22px !important;
            }
          }

          div {
            position: relative;

            // &:after {
            //   content: attr(data-tooltip);
            //   position: absolute;
            //   width: 100%;
            //   white-space: normal;
            //   left: 0%;
            //   bottom: 140%;
            //   opacity: 0;
            //   background: #5657ab;
            //   transform: none;
            //   padding: 14px 30px;
            //   border-radius: 6px;
            //   color: white;
            //   font-weight: 300;
            //   font-style: italic;
            //   pointer-events: none;
            //   transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

            //   @include bp(tablet) {
            //     display: none;
            //   }
            // }

            // &:before {
            //   position: absolute;
            //   transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
            //   content: '';
            //   border-left: 10px solid transparent;
            //   border-right: 10px solid transparent;
            //   border-top: 10px solid #5657ab;
            //   bottom: 130%;
            //   left: 50%;
            //   margin-left: -5px;
            //   opacity: 0;

            //   @include bp(tablet) {
            //     display: none;
            //   }
            // }

            &:hover {
              &:after {
                opacity: 1;
                bottom: 125%;
              }

              &:before {
                opacity: 1;
                bottom: 105%;
              }
            }
          }

          span {
            padding: 5px 3px;
            border-radius: 4px;
            color: $c-secondary;
            cursor: pointer;
            position: relative;
            transition: 0.3s;

            &:hover {
              background: #e2e9f1;
            }

            @include bp(tablet) {
              font-size: 16px;
              line-height: 25px;
              padding: 3px;
            }
          }
        }

        &__tip {
          padding: 5px 0 !important;
          color: inherit !important;

          &--box {
            margin-top: 0.5rem;
            font-weight: bold;
          }
        }
      }
    }

    .list-of-answers {
      position: relative;

      .hovered-bg {
        padding: 5px 3px;
        border-radius: 4px;
        position: relative;
        transition: 0.3s;

        &:hover {
          background: #e2e9f1;
        }
      }

      .digi-test-desc {
        margin-left: 70px;
        height: auto;
        display: flex;
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;
        max-width: fit-content;
        flex-direction: column;

        @include bp(tablet) {
          margin-left: 60px;
        }

        &__cnt {
          display: flex;
          align-items: center;

          @include bp(tablet) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
        }

        &:hover {
          z-index: 9;
          position: relative;
        }

        .digi-test-clue__title {
          font-size: 14px;
        }

        &__icon {
          padding-right: 20px;

          @include bp(tablet) {
            margin-bottom: 10px;
          }
        }

        &__right {
          padding-left: 0;
        }
      }
    }

    .test-option {
      background: transparent;

      @include bp(tablet) {
        margin-bottom: 0;
      }

      &__opt {
        border: 1px solid #e8edf3;
        width: 35px;
        height: 35px;

        @include bp(tablet) {
          display: flex;
          margin-right: 10px;
        }

        span {
          background: white;
        }
      }

      &[data-status='wrong'] .test-option__txt {
        color: #ff5050 !important;
        font-weight: 700;
      }

      &[data-status='wrong'] .test-option__opt {
        border-color: #ff5050 !important;
        border-width: 3px;
      }

      &[data-status='correct'] .test-option__txt {
        color: #51d169 !important;
        font-weight: 700;
      }

      &[data-status='correct'] .test-option__opt {
        border-color: #51d169 !important;
        border-width: 3px;
      }

      .test-option__txt {
        padding: 4px 10px;
        position: relative;
        border-radius: 3px;

        // rapor ekranlarında soru geçişlerinde, yeni seçilen soru şıkkı bold gelip
        // sonra normale dönüyordu bu yüzden aşağıdaki transition comment-out edilip transition none eklendi
        // transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: none !important;

        &[data-tooltip] {
          &:after {
            content: attr(data-tooltip);
            position: absolute;
            z-index: 9;
            width: fit-content;
            white-space: nowrap;
            left: 50%;
            top: -70px;
            opacity: 0;
            background: #5657ab;
            transform: translateX(-50%);
            padding: 14px 30px;
            border-radius: 6px;
            color: white;
            font-weight: 300;
            font-style: italic;
            pointer-events: none;
            transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          }

          &:before {
            position: absolute;
            transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #5657ab;
            top: -30px;
            left: 50%;
            margin-left: -5px;
            opacity: 0;
          }

          &:hover {
            background: #e2e9f1;
            color: initial !important;

            &:after {
              opacity: 1;
              top: -64px;
            }

            &:before {
              opacity: 1;
              top: -14px;
            }
          }
        }
      }
    }

    .list-of-words {
      width: 100%;
      padding: 25px;
      border-radius: 9px;

      @include bp(tablet) {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
      }

      .reading-words {
        width: 100%;
      }
    }

    .tab__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tab__item .tab__icon {
      margin-right: 10px;
    }

    .word-box {
      .button__icon {
        font-size: initial;
      }
    }
  }
}

.test-report-page {
  .tab__item {
    padding: 33px 25px;
  }

  .summary-tab {
    .my-results {
      &--item {
        border-right: none;

        &:nth-child(1),
        &:nth-child(3) {
          padding: 0;
          border-top: none;
        }
      }
    }

    .bolded {
      font-weight: bold;
    }
  }
}

// All Pages

.detail-ctr__item {
  display: flex;
  justify-content: flex-end;

  .button {
    @include bp(tablet) {
      width: 42px !important;
      height: 42px !important;
      min-height: 33px !important;
      min-width: 33px;
    }

    &__icon {
      @include bp(tablet) {
        font-size: 22px !important;
      }
    }
  }
}

.hints-modal {
  &__content {
    p {
      span {
        font-family: 'Proxima Nova', sans-serif !important;
        color: #556490 !important;
        font-weight: 500 !important;
        opacity: 0.8;
        font-size: 16px !important;
      }
    }
  }
}

.deneme {
  &-test {
    &-status {
      @include bp(tablet) {
        bottom: auto;
        right: auto;
        left: 50%;
        top: 40%;
        transform: rotate(-25deg) translate(-50%, -50%);
      }
    }
  }

  &-detail {
    &__cnt {
      @media (max-width: 1425px) {
        padding-left: 90px;
        padding-right: 90px;
      }

      @include bp(tablet-m) {
        padding-left: 35px;
        padding-right: 35px;
      }

      @include bp(mobile) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .tab__item {
        padding-left: 25px;
        padding-right: 25px;
      }

      .reading-tabitems {
        margin-top: 0 !important;
      }
    }

    &-nav {
      .progress {
        background: transparent;

        @include bp(tablet) {
          background: #e3e8f0;
        }

        &-bar {
          display: none;

          @include bp(tablet) {
            display: block;
          }
        }
      }

      .circle {
        width: 9px !important;
        height: 9px !important;
        border: 0px solid #fff !important;

        &.passed {
          background: #51b9f8;
        }

        &.blank {
          background: #d7dde7;
        }

        &.active {
          background: #51b9f8;
        }

        &.blue {
          background: #51b9f8;
        }

        &.yellow {
          background: #b3a270;
        }
      }
    }
  }

  &__point-modal {
    @include bp(mobile) {
      height: auto !important;
    }

    .modal {
      &__close {
        @include bp(mobile) {
          padding-top: 0;
          padding-right: 0;
        }
      }

      &__header {
        p {
          @include bp(mobile) {
            text-align: center;
          }
        }
      }
    }
  }
}

.quests {
  &__show-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-primary;
    font-weight: 300;
    cursor: pointer;

    span {
      font-size: 12px;
      position: relative;
      top: -2px;
      margin-right: 5px;

      svg {
        transform: rotate(0);
        transition: 0.3s;
      }
    }

    &.active {
      span {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.digi-test-status {
  z-index: 12;
}

.tests-detail-page {
  .list-of-questions-badges {
    padding: 20px 40px !important;

    @include bp(tablet) {
      padding: 20px 15px 20px 15px !important;
    }
  }
}

.tests-pause-modal {
  .modal__inner {
    width: 100%;
  }
}