@import '../variables';

.detail {
  &-page {
    background: $c-bgmain;
    transition: all 0.3s ease-in-out;

    &.dark {
      background: #1c2429;

      .test-inf {
        background: #232c31;
        color: #aab7c3;
      }

      .test-ctr .button,
      .test-close {
        background: #2f373c;
        color: #aab7c3;

        &:hover {
          background: #353b3e;
          color: #fff;
        }
      }
    }
  }

  &-header {
    &__wrp {
      display: flex;
      align-items: flex-start;
      position: relative;
      justify-content: space-between;
      padding: 0 45px;

      @include bp(desktop-s) {
        padding: 0 0px;
      }
    }

    .button__txt {
      @include bp(tablet) {
        text-transform: uppercase;
        font-size: 15px;
      }
    }

    .button__icon {
      @include bp(tablet) {
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }

  &-ctr {
    margin-top: 30px;
    flex-shrink: 0;
    min-width: 110px;

    @include bp(desktop) {
      min-width: 90px;
    }

    @include bp(tablet-m) {
      position: absolute;
      top: 5px;
      left: 0;
      margin-top: 15px;
    }

    @include bp(tablet) {
      top: 0;
    }

    .button__icon {
      transition: 0.3s;
    }

    .button {
      margin-right: 10px;

      &:last-child {
        z-index: 4;
      }
    }

    &__item {
      display: flex;
    }
  }

  &-inf {
    width: 100%;
    padding: 0px 25px;
    max-width: calc(100% - 220px);
    position: relative;
    z-index: 2;

    &__header {
      min-height: 100px;
      background: #fff;
      border-radius: 0 0 13px 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 15px;
      padding-top: 20px;
      color: #4545a2;
      margin-bottom: 25px;
      transition: all 0.3s;
      z-index: 2;
      position: relative;
    }

    &__bottom {
      display: flex;
      align-items: center;
    }

    &-buttons {
      display: flex;
      align-items: center;

      .button {
        padding: 10px 15px;
        padding-right: 20px;
        margin-right: 15px;
        font-size: 15px;

        &:last-child {
          margin-right: 0;
        }

        .button__icon {
          font-size: 23px;
        }
      }
    }

    &-time {
      display: flex;
      align-items: center;
      margin-left: auto;
      min-height: 39px;
      padding-right: 16px;
      color: #8e98b3;
      border-radius: 50px;
      white-space: nowrap;
      min-width: 110px;
      font-size: 17px;
      font-weight: 700;
      line-height: 1em;

      @include bp(tablet) {
        padding-right: 0;
        margin-top: 10px;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &-right {
    margin-top: 30px;
    flex-shrink: 0;

    @include bp(tablet-m) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 20px;
    }

    @include bp(tablet) {
      margin-top: 15px;
    }

    .button__txt {
      @include bp(tablet) {
        font-size: 14px !important;
        position: relative;
        top: 1px;
        margin-right: 5px !important;
        display: none;
      }
    }

    .button__icon {
      transition: 0.3s;
      font-size: 11px !important;

      @include bp(tablet) {
        font-size: 14px !important;
        margin-left: 0 !important;
      }
    }

    .reading-ctr__top {
      .button__icon {
        font-size: 20px !important;
      }
    }
  }

  &-time {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    min-height: 39px;
    padding: 7px 9px;
    padding-right: 16px;
    background: #fff;
    color: #8e98b3;
    border-radius: 50px;
    white-space: nowrap;
    min-width: 110px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1em;

    &__icon {
      display: inline-flex;
      margin-right: 13px;
      color: $c-alt;
      font-size: 21px;
      margin-right: 50px;

      &.auto-width {
        margin-right: 55px;
      }

      @include bp(tablet) {
        margin-right: 60px;
      }
    }

    &__title {
      color: #8e98b3;
      opacity: 0.8;
      font-size: 15px;
      margin-right: 13px;
    }

    &__txt {
      margin-top: 1px;
      flex-shrink: 0;
      position: absolute;
      right: 0;
    }
  }

  &-close.button {
    min-height: 39px;
    padding: 7px 9px;
    background: #fff;
    color: #8e98b3;
    border-radius: 50px;
    white-space: nowrap;
    min-width: 110px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;

    @include bp(tablet) {
      width: 42px !important;
      height: 42px !important;
      min-height: 33px !important;
      min-width: 33px;
      padding: 0;
    }

    &:hover {
      color: #8e98b3 !important;
    }
  }

  &-inner {
    margin-top: 65px;
    margin-bottom: 25px;

    @include bp(tablet) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  &-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__title {
      padding-right: 60px;

      @include bp(tablet) {
        line-height: 24px;
        font-size: 18px;
      }
    }

    &__content {
      background: #fff;
      border-radius: 15px;
      padding: 35px 50px;

      @include bp(tablet) {
        padding: 20px 20px;
      }
    }

    &__header {
      padding-bottom: 25px;
      border-bottom: 1px solid #dde3eb;
      font-size: 25px;
      color: #44449f;
      font-weight: 700;
      position: relative;

      @include bp(tablet) {
        font-size: 20px;
        padding-bottom: 20px;
      }
    }

    &__cnt {
      padding: 25px 0 0;

      &.clue-desc * {
        font-family: inherit !important;
        font-size: 17px !important;
        color: $c-text !important;

        @include bp(tablet) {
          font-size: 14px !important;
        }
      }
    }

    &-ctr {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0 45px;

      @include bp(tablet-m) {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .button {
        min-height: 50px;
        min-width: 50px;

        @include bp(tablet) {
          min-height: 44px;
          height: 44px;
        }
      }

      &__main {
        padding-right: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.15);

        .navbtns {
          background: #dde3eb;
          margin: 0 20px;
          min-width: 300px;
          width: 100%;
        }
      }

      &__cnt {
        display: flex;
        align-items: center;

        .button {
          box-shadow: none;
          margin-left: 15px;
        }
      }
    }
  }

  &-other {
    margin-top: 100px;

    @include bp(tablet-m) {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    & .cluebank-list__item {
      width: 48% !important;
      margin: 0 auto;
      margin-bottom: 2%;

      @include bp(tablet) {
        width: 100% !important;
        margin-bottom: 15px;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    &__title {
      margin-right: 25px;
      font-size: 19px;
      font-weight: 800;
      color: $c-secondary;
    }

    &__cnt {
      margin-top: 35px;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .cluebank__cnt {
        opacity: 0.6;
        transition: opacity 0.3s;
      }

      .cluebank__link {
        width: 100%;
        margin-right: 2%;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:hover {
          .cluebank__cnt {
            opacity: 1;
          }
        }
      }

      .cluebank__item {
        background: #fff;
      }
    }
  }

  &-tab {
    margin-top: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @include bp(tablet-m) {
      margin-top: 20px;
    }

    .tab {
      &__header {
        padding: 0 20px;
        justify-content: center;

        @include bp(desktop) {
          padding: 0;
        }
      }

      &__item {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 25px 5px;
        margin: 0 10px;

        @include bp(tablet) {
          padding: 15px 15px;
        }
      }

      &__icon {
        margin-right: 10px;

        @include bp(desktop) {
          font-size: 20px;
        }
      }

      &__text {
        width: 100%;

        @include bp(desktop) {
          font-size: 15px;
        }

        @include bp(tablet) {
          font-size: 14px;
        }
      }
    }

    &__ctr {
      padding: 5px 25px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      transition: all 0.3s;

      &.fixed {
        position: absolute;
      }

      .button {
        .button__icon {
          font-size: 19px;
        }
      }
    }
  }

  &-nav {
    width: 100%;
    position: relative;
    margin-top: 10px;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-54%);
      width: 100%;
      left: 0;
      padding: 3px 4px;

      .circle {
        background: transparent;
        display: inline-flex;
        line-height: 1em;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &.passed {
          background: #51b9f8;
        }

        &.blank {
          background: #d7dde7;
        }

        &.active {
          background: #51b9f8;
        }

        &.blue {
          background: #51b9f8;
        }

        &.yellow {
          background: #b3a270;
        }
      }
    }

    &-tooltip {
      position: absolute;
      background: #24aafa;
      color: #fff;
      display: inline-flex;
      line-height: 1em;
      padding: 10px 20px 9px;
      top: 100%;
      margin-top: 5px;
      font-size: 17px;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      transform: translateX(-55%);
      white-space: nowrap;
      border-radius: 7px;

      &:after {
        @include triangle(up, #24aafa, 8px);
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        top: 1px;
        backface-visibility: hidden;
      }
    }
  }

  &-favbtn {
    position: absolute;
    top: 0;
    right: 10px;

    @include bp(tablet) {
      right: 0;
    }

    &.btn {
      max-width: 34px !important;
      min-height: 32px !important;
      padding: 5px;
      border-radius: 255px;
      position: absolute;
      background: transparent !important;

      &.focus,
      &:focus {
        box-shadow: none !important;
      }

      .tooltip--left {
        right: -40px !important;
        width: 175px;
        text-align: center;

        & .tooltip__txt {
          transform: translateY(0);
          left: 0;
        }
      }

      & .button__icon {
        font-size: 20px;

        @include bp(mobile) {
          font-size: 16px;
        }
      }
    }

    .button__icon {
      left: 0;
      background: #dde3eb !important;
      color: #fff;
    }

    &:hover {
      .button__icon {
        background: #aab7c3 !important;
      }
    }
    &.active .button__icon {
      background: $c-yellow !important;
      opacity: 0.8;
    }

    &.active:hover .button__icon {
      background: $c-yellow !important;
      opacity: 0.8;
    }
  }

  &-navbuttons {
    width: 100%;

    & > .navbtns {
      &:hover {
        background: #fff;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        min-height: 30px;
      }
    }
  }
}

.docs-detail {
  .detail-right {
    @include bp(tablet-m) {
      display: none !important;
    }
  }
}
