@import '../variables';

.dictionary {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    background: #4545a1;
  }

  .swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 5px;
    background: #4545a1;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin: 0 7px 0 0;
  }

  @include bp(tablet-m) {
    overflow: hidden;
  }

  & .subpage-tab-guide-btn {
    display: none;
  }

  & .dictionary-guide-btn {
    display: block !important;
  }

  .header-guide.opn {
    .subpage-tab-guide-btn {
      display: block !important;
    }
  }

  .subpage-search {
    &__wrp {
      position: relative;
    }

    &-result {
      min-width: 420px;
      width: auto;
      padding: 0;
      margin-top: 25px;

      @include bp(tablet) {
        min-width: 0;
        width: 100%;
      }

      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13px 13px 13px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        content: '';
        left: 80px;
        top: -13px;
      }

      &__list {
        position: relative;
        transition: 0.1s;
        max-height: 250px;
        overflow: hidden;
        overflow-y: auto;
      }

      &__item {
        padding: 12px 30px;
        margin-left: -20px;
        margin-right: -20px;
        display: inline-flex;
        width: calc(100% + 40px);
        cursor: pointer;
        transition: 0.05s;

        &:hover {
          background: #f7f8fb;
        }
      }

      &__li {
        border-bottom: 1px solid rgba(41, 53, 108, 0.1);
        margin: 0 20px;

        &:first-child {
          & > .subpage-search-result__item {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        &:last-child {
          border-bottom: none;

          & > .subpage-search-result__item {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }

  &-guide-btn {
    display: none !important;
  }

  .subpage-header {
    background: #3759a1;
    padding-bottom: 6rem;

    @include bp(tablet) {
      min-height: 0;
      padding-bottom: 4rem;
    }

    &__wrp {
      padding-bottom: 2rem;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(240, 244, 249, 0.15);

      @include bp(tablet) {
        padding-bottom: 1rem;
      }
    }
  }

  .subpage-guide {
    border-bottom: 1px solid rgba(240, 244, 249, 0.15);

    @include bp(tablet) {
      padding-bottom: 1.5rem;
    }
  }

  &__cnt {
    margin-top: -40px;
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    margin-top: 35px;
  }

  &-slider {
    &__wrp {
      margin-top: 25px;
      margin-bottom: 100px;

      @include bp(tablet) {
        margin-bottom: 60px;
        position: relative;
      }
    }

    &__pagination {
      display: none;

      @include bp(tablet) {
        display: block;
        position: absolute;
        left: 50%;
        bottom: -45px;
        transform: translateX(-50%) !important;
      }
    }

    &.swiper-container {
      overflow: visible;
      margin-top: 70px;

      @include bp(tablet) {
        margin-top: 60px;
      }
    }

    .swiper-slide {
      max-width: 700px;
      opacity: 0;
      transition: all 0.3s;
      margin-left: 10px;
      pointer-events: all;

      &:last-child {
        margin-left: 0;

        .word__item {
          margin-left: 0;
          width: 100%;
        }
      }

      .word__item {
        background: #fbfcfd;
        transition: all 0.3s;

        @include bp(mobile) {
          width: 360px;
          margin-right: initial;
        }

        @include bp(phone) {
          width: 320px;
        }
      }

      &.swiper-slide-active {
        opacity: 1;

        .word__item {
          background: #fff;
        }
      }

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.25 !important;

        @include bp(tablet) {
          opacity: 0.4 !important;
        }
      }
    }

    &__arrow {
      background: #fff !important;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 45px !important;
      height: 45px !important;
      border-radius: 50%;
      color: #3f468c;
      box-shadow: 0px 22px 43px 0px rgba(19, 29, 51, 0.2);

      &.swiper-button-disabled {
        opacity: 0.7 !important;
        cursor: not-allowed !important;
        pointer-events: all !important;
      }
    }

    .swiper-wrapper {
      align-items: center;
      pointer-events: none;

      @include bp(tablet) {
        align-items: center !important;
      }
    }

    .swiper-button-next {
      @include bp(tablet) {
        display: none;
      }
    }

    .swiper-button-prev {
      @include bp(tablet) {
        display: none;
      }
    }
  }

  &-other {
    padding-bottom: 25px;

    @include bp(tablet) {
      padding-bottom: 0px;
      padding-top: 20px;
    }

    &__wrp {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 25px 0;

      @include bp(tablet) {
        padding-bottom: 10px;
      }
    }

    &__item {
      padding: 10px;

      &:first-child,
      &:nth-child(3n) {
        padding-left: 0;
        padding-right: 10px;
      }

      &:last-child,
      &:nth-child(2n) {
        padding-right: 0;
        padding-left: 10px;
      }

      .word__item {
        max-width: 100%;
      }
    }
  }

  &-latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    @include bp(tablet) {
      flex-direction: column;
    }

    @include bp(tablet) {
      grid: none;
    }

    &-word {
      @include column('column-3', stretch, initial);
      box-shadow: 0px 12px 32px 0px rgba(41, 53, 108, 0.08);
      transition: 0.2s;

      & .word {
        &__badge {
          font-size: 12px;
        }

        &-desc {
          &__top {
            margin-bottom: 0;
          }

          &__title {
            font-size: 20px;
          }
        }

        &-header {
          padding: 15px;

          &__right {
            margin-right: -15px;
          }

          &__title {
            font-size: 22px;
          }

          &__ctr {
            padding: 5px 20px;
            font-size: 20px;
          }
        }
      }

      &:hover {
        box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
      }
    }
  }

  .inner-container {
    @include bp(tablet) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

}

.dct {
  .subpage-header {
    background: #3759a1;
    min-height: 320px;

    @include bp(tablet) {
      min-height: 0;
    }
  }

  .subpage-search {
    &__wrp {
      position: relative;
    }

    &-result {
      min-width: 420px;
      width: auto;
      padding: 0;
      margin-top: 25px;

      @include bp(tablet) {
        min-width: 0;
        width: 100%;
      }

      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13px 13px 13px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        content: '';
        left: 80px;
        top: -13px;
      }

      &__list {
        position: relative;
        transition: 0.1s;
        max-height: 250px;
        overflow: hidden;
        overflow-y: auto;
      }

      &__item {
        padding: 12px 30px;
        margin-left: -20px;
        margin-right: -20px;
        display: inline-flex;
        width: calc(100% + 40px);
        cursor: pointer;
        transition: 0.05s;

        &:hover {
          background: #f7f8fb;
        }
      }

      &__li {
        border-bottom: 1px solid rgba(41, 53, 108, 0.1);
        margin: 0 20px;

        &:first-child {
          & > .subpage-search-result__item {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        &:last-child {
          border-bottom: none;

          & > .subpage-search-result__item {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }

  & .subpage-tab-guide-btn {
    display: none;

    &--inside {
      display: block;
    }
  }

  & .dct-guide-btn {
    display: block !important;
  }

  &__cnt {
    margin-top: -40px;
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dae0e7;
    flex-flow: wrap;
    justify-content: space-between;

    &__left {
      margin-right: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: max-content;
    }

    &__title {
      font-size: 37px;
      font-weight: 700;
      color: #4545a2;
      line-height: 1.1em;

      @include bp(tablet-m) {
        font-size: 32px;
      }

      @include bp(tablet) {
        font-size: 26px;
      }
    }

    &__cnt {
      margin-left: 15px;
    }

    &__txt {
      font-weight: 600;
      color: $c-text;
      font-size: 19px;
      font-style: italic;
      opacity: 0.75;
      line-height: 1em;
    }

    &__right {
      margin-left: auto;
      display: flex;
      align-items: center;
      width: max-content;

      &.with-family {
        @media (max-width: 600px) {
          margin-top: 25px;
          width: 100%;
        }

        .dct-header-filter {
          margin-right: 45px;
          width: 50%;

          @media (max-width: 600px) {
            margin-right: 20px;
          }
        }

        .dct-header-ctr {
          width: 50%;
        }
      }

      @include bp(tablet) {
        justify-content: space-between;
        margin-left: 0;
        position: relative;
      }
    }

    &-filter {
      display: flex;
      align-items: center;

      &__item {
        margin-left: 35px;
        position: relative;
        width: 100%;

        @include bp(tablet) {
          margin-left: 0;
          position: static;
        }

        .button {
          color: $c-primary;
          font-size: 16px;
          width: 100%;

          @include bp(tablet) {
            font-size: 15px;
          }

          &:hover {
            color: $c-primary;
            background: #dee4ec;
          }
        }

        &.active {
          .button {
            position: relative;
            z-index: 261;
            color: $c-primary;
          }
        }
      }
    }

    &-ctr {
      display: flex;
      align-items: center;

      &__item {
        padding: 10px 20px;
        border-right: 2px solid #d9e1ec;
        border-radius: 0;
        color: #abbdcd;
        font-size: 30px;

        @include bp(tablet) {
          padding: 10px 15px;
        }

        &:last-child {
          border-right: 0;
        }

        &:hover {
          opacity: 1;
          color: #7d97ad;
        }
      }

      &__share {
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 25px;
        border-right: none;
        width: 100%;

        @include bp(tablet) {
          font-style: 15px;
        }

        &:hover {
          background: #dee4ec;
        }
      }
    }
  }

  &-voice.button {
    color: $c-text;
    background: #fff;
    width: 59px;
    height: 59px;

    @include bp(tablet) {
      width: 45px;
      height: 45px;
    }

    .button__wrp {
      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &:hover {
      background: $c-primary;
      color: #fff;

      @include bp(tablet) {
        background: #fff;
        color: $c-text;
      }
    }

    .tooltip {
      @include bp(tablet) {
        display: none;
      }
    }
  }

  &__content {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;

    @include bp(tablet) {
      margin-top: 30px;
    }
  }

  &-col {
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &-word {
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
    background: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    opacity: 1;
    transition: all 0.3s;

    &.form {
      padding: 0;
    }

    & .select-header {
      background: #fff;
    }

    &:hover {
      background: #fff;
      box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
    }

    &.active {
      box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
      background: #fff;
      opacity: 1;

      &:before {
        transform: translateY(-50%);
        opacity: 1;
        transition-delay: 0.2s;
      }

      &:after {
        transform: translateY(-50%) scaleY(1);
        transition-delay: 0.2s;
      }
    }

    &-header {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 30px;
      border-bottom: 1px solid #e8edf3;
      position: relative;

      &-meta {
        display: flex;
        align-items: center;
        min-height: 48px;
        width: 100%;
      }

      &__meaning {
        margin-top: 1rem;
        color: $c-text;

        @include bp(tablet) {
          margin-top: 0;
        }
      }

      @include bp(tablet-m) {
        padding: 15px;
        align-items: flex-start;
      }

      &__cnt {
        padding-right: 60px;
        width: 100%;

        @include bp(tablet) {
          padding-right: 0;
        }
      }

      &__left {
        margin-right: 20px;
        width: 40px;
        height: 36px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        @include bp(tablet-m) {
          margin-right: 15px;
        }
      }

      &__title {
        font-weight: 700;
        font-size: 27px;
        line-height: 1em;
        color: #436480;
        display: inline-flex;
        align-items: center;

        &-in {
          position: relative;
        }

        & .word__badge {
          margin-left: 0.5rem;
          padding: 4px 8px 3px;
          font-size: 0.8rem;
        }

        @include bp(tablet) {
          font-size: 22px;
          width: 75%;
        }
      }

      &__desc {
        color: $c-text;
        line-height: 1.3em;

        @include bp(tablet) {
          font-size: 15px;
          line-height: 1.3em;
          width: 77%;
          display: block;
          margin-bottom: 10px;
        }

        &--item {
          display: inline-flex;
          margin-right: 4px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__txt {
        color: #3b5e7b;
        margin-top: 10px;

        @include bp(tablet) {
          font-size: 14px;
          margin-top: 10px;
        }
      }

      &__right {
        margin-left: auto;
        align-self: flex-start;

        @include bp(tablet) {
          position: absolute;
          top: 15px;
          right: 15px;
        }

        & .tooltip--left {
          right: auto;
          left: -220%;
        }
      }

      .word__badge {
        padding: 5px 8px 4px;
        font-size: 0.9rem;

        & .vtooltip {
          text-transform: capitalize;
        }
      }

      .badge {
        // position: absolute;
        bottom: 0;
        padding: 7px 12px 6px;
        z-index: 3;

        .icon-font {
          font-size: 13px;
        }

        .tooltip {
          padding: 12px 20px;
          font-weight: 500;
          backface-visibility: hidden;
          font-size: 16px;
          box-shadow: none;
          left: 0;
          right: auto;
          width: 100%;
          height: auto;
          width: max-content;
          transform: translateY(0);
          text-align: center;

          @include bp(mobile) {
            width: 85vw;
            padding: 15px;
          }

          &:after {
            right: auto;
            transform: none;
            left: 35px;
          }

          &-btn {
            &:hover {
              .tooltip {
                transform: none;
              }
            }
          }
        }
      }
    }

    &-rate {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      span {
        display: block;
        background: #d4dce5;
        width: 6px;
        border-radius: 10px;
        margin-right: 5px;
        font-size: 12px;
        transition: all 0.3s;

        @include bp(tablet) {
          font-size: 10px;
        }

        &:nth-child(1) {
          height: 1em;
        }

        &:nth-child(2) {
          height: 1.65em;
        }

        &:nth-child(3) {
          height: 2.3em;
        }

        &:nth-child(4) {
          height: 2.95em;
        }

        &:nth-child(5) {
          height: 3.6em;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background: #4545a2;
        }
      }
    }

    &-add-lists.button {
      font-size: 29px;
      color: $c-gray;
      width: 51px;
      height: 51px;

      @include bp(tablet) {
        width: 40px;
        height: 40px;
        min-height: 40px;
        font-size: 18px;
      }
    }

    &__item {
      z-index: 22;

      &:last-child {
        .dct-word-desc {
          border-radius: 0 0 10px 10px;
        }
      }
    }

    &__addlist {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 10;

      @include bp(tablet) {
        top: 7px;
      }

      & .tooltip {
        right: -60%;
      }
    }

    &-desc {
      background: #f8fafe;
      border-bottom: 1px solid #e8edf3;
      padding: 30px 20px;

      @include bp(tablet) {
        padding: 20px 15px;
      }

      &__item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__list {
        > * {
          opacity: 0;
          transform: translateY(15px);
          transition: all 0.3s;
        }

        &.active {
          > * {
            opacity: 1;
            transform: none;

            @for $i from 0 to 45 {
              &:nth-child(#{$i + 1}) {
                transition-delay: $i * 0.1 + 0.15s;
              }
            }
          }
        }
      }

      &__txt {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.95;

        @include bp(tablet) {
          font-size: 15px;
          line-height: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.txt-en {
          color: #3b5e7b;
        }

        &.txt-tr {
          font-style: italic;
          color: #7d97ad;
          opacity: 0.95;
        }
      }

      &__more {
        font-weight: 700;
        padding: 0;
        margin-top: -5px;
        display: flex;

        &:hover .button__icon {
          transform: none;
        }

        .button__icon {
          position: relative;
          margin-right: 25px;

          &:before {
            @include triangle(down, currentColor, 7px);
            transition: all 0.3s;
          }
        }

        &.active {
          margin-bottom: 15px;

          .button__icon:before {
            transform: rotate(180deg);
          }
        }
      }
    }

    .alert-box {
      &__wrp {
        background: #f8fafe;
        position: relative;
        margin-top: -1px;
        padding: 20px;

        &:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  &__list {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: -30px;
      width: 6px;
      height: 100%;
      background: #e0e4f1;
      top: 50%;
      border-radius: 0 10px 10px 0;
      transform: translateY(-50%);
    }
  }

  &-list {
    width: 100%;

    &__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;

      @include bp(tablet-m) {
        flex-direction: column;
      }

      &:first-child {
        @include bp(tablet-m) {
          margin-top: 0;
        }
      }

      &:last-child {
        @include bp(tablet-m) {
          margin-top: 0px;
          margin-bottom: 75px;
        }
      }
    }
  }

  &-detail {
    margin-bottom: 25px;
    padding-bottom: 25px;

    &.sticky {
      height: 100vh;
      overflow: auto;

      .dct-detail__item {
        &:first-child {
          margin-top: 20px;
        }
      }
    }

    &__item {
      &:first-child {
        transition: margin-top 0.3s;
      }
    }

    &__header {
      margin-bottom: 15px;

      @include bp(tablet-m) {
        padding: 15px;
        padding-bottom: 0;
      }
    }

    &__desc {
      margin-bottom: 20px;

      @include bp(tablet-m) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &__cnt {
      @include bp(tablet-m) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &__txt {
      color: #4b6983;
      font-weight: 500;
      font-size: 17px;
      line-height: 1.4em;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

    &-eg {
      margin-top: 10px;
      // padding-left: 30px;

      @include bp(tablet) {
        margin-top: 5px;
        padding-left: 10px;
      }

      &__item {
        display: flex;
        align-items: flex-start;
      }

      &__word {
        color: #4d5875;
        font-size: 17px;
        margin-right: 11px;
        transition: 0.15s;

        &:hover {
          color: $c-alt;
        }

        &--n:hover {
          color: $c-noun;
        }

        &--v:hover {
          color: $c-verb;
        }

        &--pv:hover {
          color: $c-phrasal-verb;
        }

        &--adj:hover {
          color: $c-adjective;
        }

        &--adv:hover {
          color: $c-adverb;
        }

        &--prep:hover {
          color: $c-preposition;
        }

        @include bp(tablet) {
          font-size: 14px;
        }

        strong {
          font-weight: 600;

          @include bp(tablet) {
            font-size: 13px;
          }
        }
      }

      &__desc {
        color: #8fa5b8;
        font-size: 17px;

        @include bp(tablet) {
          font-size: 14px;
        }
      }
    }

    &-words {
      @include bp(tablet-m) {
        overflow: hidden;
      }

      &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;

        @include bp(tablet) {
          flex-direction: column;
          margin-bottom: 10px;
        }

        &:last-child {
          @include bp(tablet) {
            margin-bottom: 0;
          }
        }
      }

      &__word {
        color: #4d5875;
        font-size: 17px;
        margin-right: 11px;

        @include bp(tablet) {
          font-size: 14px;
        }

        strong {
          font-style: italic;
          font-weight: 800;
        }
      }

      &__desc {
        color: #8fa5b8;
        font-size: 17px;

        @include bp(tablet) {
          font-size: 14px;
        }
      }

      .button--text {
        font-size: 14px;
      }

      &__more {
        font-weight: 700;
        padding: 0;
        margin-top: 5px;
        display: flex;

        @include bp(tablet-m) {
          background: #fff;
        }

        &:hover .button__icon {
          transform: none;
        }

        .button__icon {
          position: relative;
          margin-right: 25px;

          &:before {
            @include triangle(down, currentColor, 7px);
            transition: all 0.3s;
          }
        }

        &.active {
          margin-bottom: 15px;

          @include bp(tablet) {
            margin-bottom: 0;
          }

          .button__icon:before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &-popup {
    position: absolute;
    min-width: 500px;
    right: 0;
    background: #fff;
    top: 100%;
    margin-top: 15px;
    border-radius: 10px;
    z-index: 260;
    max-height: 400px;

    &__list {
      max-height: 400px;
      overflow-y: auto;
      padding: 15px;
      background: #f1f4f8;
      border-radius: 10px;
    }

    @include bp(tablet) {
      position: absolute;
      min-width: 100%;
    }

    &:before {
      @include triangle(up, #f1f4f8, 11px);
      top: -10px;
      right: 75px;
      z-index: 55;

      @include bp(tablet) {
        right: auto;
        left: 70px;
      }
    }

    .word-box {
      background: #fff;
      padding: 10px;
      margin-bottom: 0;
      transition: all 0.3s;

      &:first-child {
        margin-top: 0;
      }

      /* &__meaning {
        margin-bottom: 6px;
      } */

      &__wrp {
        margin-bottom: 10px;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 85, 0.6);
      top: 0;
      left: 0;
      z-index: 259;
      transition: opacity 0.25s ease-in-out;
      will-change: opacity;
    }

    .word-box__voice.button.default {
      color: $c-text;
      background: #dfe7ee;
      font-size: 21px;

      @include bp(tablet) {
        font-size: 18px;
      }
    }
  }

  &-float {
    position: sticky;
    top: 10px;
    flex-basis: 42%;
    flex-grow: 0;
    flex-shrink: 0;
    color: $c-word-other;

    @include bp(tablet-m) {
      width: 100%;
      position: relative;
      top: 0;
    }

    .dct-word-header__title {
      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &.hidebar {
      &::before,
      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &:after {
      right: -30px;
      width: 6px;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      border-radius: 0 10px 10px 0;
      background: currentColor;

      @include bp(tablet-m) {
        right: 0;
        left: 0%;
        width: 100%;
        height: 6px;
        top: calc(100% + -5px);
        transform: translateY(0) translateX(0);
        border-radius: 0 0px 10px 10px;
        z-index: 3;
      }
    }

    &:before {
      @include triangle(right, currentColor, 11px);
      right: -30px;
      top: 50%;
      transform: translateY(-50%) translateX(-6px);

      @include bp(tablet-m) {
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 11px solid currentColor;
        margin-right: -11px;
        right: auto;
        left: 50%;
        top: calc(100% + 0px);
        transform: translateY(0%) translateX(-50%);
        z-index: 4;
      }
    }

    &__noun {
      color: $c-noun;
    }

    &__verb {
      color: $c-verb;
    }

    &__adjective {
      color: $c-adjective;
    }

    &__phrasal-verb {
      color: $c-phrasal-verb;
    }
  }

  &-static {
    flex-basis: 58%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 90px;

    @include bp(desktop) {
      padding-left: 60px;
    }

    @include bp(tablet-m) {
      padding-left: 0;
      width: 100%;
      margin-top: 20px;
      box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
      background: #fff;
      border-radius: 10px;
      z-index: 2;
    }

    .section-block {
      margin-bottom: 20px;

      &:last-child {
        @include bp(tablet-m) {
          padding-bottom: 15px;
          margin-bottom: 0;
        }
      }
    }
  }

  &-family {
    &__outer {
      overflow: hidden !important;
    }

    & .select-header {
      text-transform: uppercase;
      font-weight: 800;
      height: 70px;

      &--extra {
        height: 80px;
        padding: 20px 25px 10px;
      }

      &:hover {
        color: $c-word-other;
      }
    }

    &__list {
      background: #f8fafe;
      padding: 10px 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      & .word-box__voice {
        background: #dfe7ee !important;
      }

      .word-box {
        &:first-child {
          margin-top: 4px;
        }
      }
    }
  }

  &-badges {
    height: 40px;
    transform: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;
    width: calc(100% - 40px);
    // height: auto;
    padding-top: 10px;
    // transform: translateY(100%);
    // position: absolute;
    // bottom: -15px;

    &__outer {
      position: relative;

      & + & {
        margin-left: 1rem;
      }
    }

    & .badge {
      height: 30px;
      position: relative;
      background: #4b6983;

      & + & {
        margin-left: 10px;
      }
    }

    .tooltip {
      min-width: 100%;
      line-height: 20px;

      &--top {
        &:after {
          left: 5%;
        }
      }
    }
  }

  &-nocontent {
    margin-top: 80px;
    padding-bottom: 100px;
  }
}

.word-add-modal {
  max-width: 550px;

  @include bp(tablet) {
    border-radius: 0;
  }

  .modal {
    &__icon {
      @include bp(tablet) {
        transform: translate(-50%, 0);
        top: 15px;
      }
    }

    &__header {
      @include bp(tablet) {
        padding-top: 100px;
      }
    }

    &__top {
      border-bottom: 1px solid #e3e8f0;

      .word-box {
        margin: 20px;
        width: calc(100% - 40px);
      }
    }

    &__search {
      padding: 20px;
      padding-bottom: 0;
      margin-bottom: -5px;

      .tab-filter-search {
        background: #fff;

        .button__icon {
          color: #859db2;
          font-size: 14px;
        }
      }
    }

    &__content {
      .wordlist {
        margin-bottom: 10px;

        &:hover {
          .wordlist-header__button {
            visibility: visible;
            opacity: 1;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-header {
          &-info {
            max-width: max-content;
            flex-basis: auto;
          }

          &__button {
            margin-left: auto;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

// .header-guide.opn {
//   height: 350px !important;

//   @media (max-width: 850px) {
//     height: 800px !important;
//   }

//   @include bp(tablet) {
//     height: 750px;
//   }

//   @media (max-width: 680px) {
//     height: 700px !important;
//   }

//   @include bp(mobile) {
//     height: 600px !important;
//   }
// }
