.dictate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp(tablet) {
    position: static;
  }

  &-list {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(tablet) {
      position: static;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        position: static;
      }

      .tooltip {
        min-width: 180px;
        left: calc(50% + 10px);
      }
    }
  }

  &__item {
    max-width: 750px;
    display: inline-block;
    margin-top: -30px;
  }

  &-question {
    min-width: fit-content !important;
    width: fit-content !important;
    margin: 0 auto !important;
  }

  &-letter-btn {
    background: #dce4ea;
    color: $c-secondary;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: unset;
    left: unset;
    transform: translateX(-50%);
    bottom: 15px;
    min-width: 250px;
    min-height: 55px;
    padding-left: 67px;
    font-size: 16px;

    @include bp(tablet) {
      font-size: 14px;
      padding: 5px 0;
      padding-left: 35px;
      min-height: 40px;
      min-width: 150px;
      letter-spacing: 0;
    }

    &:hover {
      background: #cbd6de;
    }

    .button__icon {
      font-size: 31px;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);

      @include bp(tablet) {
        font-size: 20px;
      }
    }
  }

  .button--dictate-help {
    min-height: 40px;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background: #dce4ea;

    @include bp(tablet) {
      min-height: 37px;
      height: 37px;
      width: 37px;
    }

    .button__icon {
      color: $c-secondary;

      @include bp(tablet) {
        font-size: 19px;
        position: relative;
        top: -1px;
      }
    }

    &:hover {
      background: #cbd6de;
    }
  }

  &__img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    box-shadow: 0px 7px 10px 0px rgba(41, 53, 108, 0.1);
    border-radius: 6px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include bp(tablet-l) {
      margin-bottom: 30px;
    }

    @include bp(tablet) {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
      position: relative;
      top: -20px;
    }

    @include bp(mobile) {
      width: 140px;
      height: 140px;
      margin-top: 0px;
      top: 0;
      margin-bottom: 20px;
    }
  }

  &__wordy-img {
    @media (max-height: 684px) {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }
  }

  &-wordy-letters {
    @media (max-height: 684px) {
      padding-top: 10px !important;
    }
  }

  &-question {
    margin: 20px 0;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 15px 17px;
    border-radius: 25px;
    box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);
    padding-right: 29px;

    &.badge--border-r {
      .dictate-question {
        &__txt {
          border-left: none;
          margin-left: 0;
        }
      }

      .word__badge {
        position: relative;
        margin-right: 15px;

        &:after {
          content: '';
          position: absolute;
          right: -10px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #e4eaf0;
        }
      }
    }

    @include bp(tablet) {
      padding: 12px 14px;
    }

    .word__badge {
      margin-right: 7px;
    }

    &__txt {
      font-size: 16px;
      color: #3b5e7b;
      border-left: 1px solid #e4eaf0;
      padding-left: 5px;

      @include bp(tablet) {
        font-size: 16px;
      }
    }
  }

  &-letters {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: 1px solid #d7e0e8;

    @include bp(tablet) {
      border-top: none;
      padding: 5px 10px 10px;
      background-color: #eaeff5;
      border-radius: 5px;
      justify-content: flex-start;
      position: relative;
      overflow: hidden;
      max-width: 95vw;
    }

    @include bp(mobile) {
      width: fit-content;
      margin: 30px auto 0;
      // margin: 15px auto 0 auto;
    }

    &__item {
      width: 51px;
      height: 51px;
      margin: 5px;;
      border-radius: 6px;
      flex-shrink: 0;
      position: relative;
      background: #fff;

      @include bp(tablet) {
        width: 35px;
        height: 35px;
        margin: 3px;
      }

      &--item-cont {
        @include bp(tablet) {
          background-color: #fff;
          position: sticky;
          right: 0px;
        }
      }
    }

    &__icon {
      @include bp(tablet) {
        position: absolute;
        top: 52%;
        left: 45%;
        transform: translate(-50%, -50%);
        color: #24aafa;
        font-size: 14px;
      }
    }

    &__box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #dce4ea;
      border-radius: 6px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #7d88a8;
      font-size: 23px;
      font-weight: 700;
      line-height: 1em;
      padding: 10px;
      user-select: none;
      text-align: center;
      transition: all 0.3s ease-in-out;

      @include bp(tablet) {
        font-size: 18px;
        background: transparent;
        border: 1px solid #dce4ea;
        border-radius: 5px;
        padding: 0;
        box-shadow: none !important;
      }

      &:focus {
        background: #fff;
        box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);
      }

      &.blue {
        background: #24aafa;
        color: #fff;

        &:focus {
          box-shadow: none;
        }
      }

      &.disable:not(.success) {
        pointer-events: none;

        &:focus {
          box-shadow: none;
        }
      }

      .txt {
        position: relative;
        top: -1px;
      }

      &.success {
        background: #4eea89;
        color: #fff;

        &:focus {
          box-shadow: none;
        }
      }

      &.error {
        background: #df6060;
        color: #fff;
      }

      &.focused {
        background: #fff;
        box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);
      }

      &-cursor {
        animation: blinking 1s infinite;
        font-style: normal;
        font-weight: 300;
      }
    }
  }

  &-input {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      content: '';
      background: #f0f4f9;
      z-index: 1;
    }
  }

  &-inputbox {
    position: relative;
    z-index: 0;
    display: block;
    height: 11px;
    background: transparent;
    padding: 0;
    margin: 0;
    color: transparent;
    text-shadow: 0 0 0 #fff;
    caret-color: transparent;
    text-indent: -999em;
    font-size: 1px;
    /* visibility: hidden; */
  }
}

.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(tablet-l) {
    position: static;
    transform: none;
    margin-top: 20px;
    align-items: center;
  }

  @include bp(tablet) {
    height: 40px;
    bottom: -5px;
  }
}

@keyframes blinking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
