@import '../variables';

.digi-passage {
  @include bp(tablet) {}

  .digi {
    &-row {
      @include bp(tablet) {
        min-height: 185px;
      }

      &-menu {
        @include bp(tablet) {
          top: -50px;
        }

        &__outer {

          &:nth-child(3),
          &:nth-child(5) {
            @include bp(tablet) {
              transform: translateX(-50px);
            }
          }

          &:nth-child(3) {
            @include bp(tablet) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .digi-test-options {
    padding-top: 20px;
  }

  &__header {
    border-bottom: 1px solid #e3e8f0;
    padding: 18px 25px;
  }

  &__title {
    color: $c-secondary;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: $c-secondary;
    font-weight: 500;
    opacity: .7;
    font-size: 17px;
  }

  &__txt {
    display: inline;
    cursor: pointer;
    color: #818baa;
    position: relative;

    &.active {
      background: #e2e9f1;
      color: #5657ab;

      .text-en {
        background: #e2e9f1;
        color: #5657ab;
      }

      p {
        color: #818baa;
      }

    }

    span {
      transition: all .3s;
    }

    p {
      display: inline;
      padding: 5px 0;
      font-size: inherit;
      color: currentColor;
    }
  }

  &__translate {
    font-family: 'Proxima Nova', sans-serif;
    color: #44449f !important;
    font-weight: 700;
    margin: 3px 0;
    border-left: 3px solid #c6d3e4;
    padding-left: 13px !important;
  }

}