@import '../variables';

.digi-word-list {
  .digi-test__main-title {
    strong {
      text-align: center;
      padding: 0;
    }
  }

  .detail-tab {
    max-width: 100%;
  }
}

.digi-test {
  position: relative;
  margin-top: 15px;
  border-top: 1px solid #e3e8f0;

  &__alert {
    padding: 15px 25px;
    font-weight: 400;
  }

  &__main-title {
    font-size: 28px;
    display: flex;
    flex-direction: column;

    &.mobile-mb-10 {
      @include bp(tablet) {
        margin-bottom: 20px;
      }
    }

    @include bp(tablet) {
      font-size: 23px;
    }

    strong {
      font-weight: 600;
      color: #5557ab;
      padding: 15px 35px 0;

      @include bp(tablet) {
        padding: 15px 15px 0px;
      }
    }
  }

  &-status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 120px;
    height: 120px;
    border: 5px solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7883a4;
    pointer-events: none;
    user-select: none;
    opacity: 0.25;

    &.success,
    &.correct {
      color: #51d169;
    }

    &.error,
    &.wrong {
      color: #df6060;
    }

    &__title {
      width: 100%;
      text-align: center;
      border-top: 5px solid;
      border-bottom: 5px solid;
      border-color: currentColor;
      padding: 4px 5px 3px;
      font-weight: 800;
      font-size: 19px;
      line-height: 1em;
    }
  }

  &-words {
    position: relative;
    transition: 0.3s;

    &.left-100 {
      &:before {
        left: -35px;
        width: calc(100% + 110px);
      }
    }

    &.left-105 {
      position: relative;

      &::before {
        display: block !important;
        content: '';
        position: absolute;
        top: 1px;
        left: -35px;
        width: calc(100% + 110px);
        height: 100%;
        background: rgba(240, 244, 249, 0.2);
        pointer-events: none;
        border-top: 1px solid #e3e8f0;
        border-bottom: 1px solid #e3e8f0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        &::before {
          opacity: 1;
        }
      }

      .digi-words {
        background: none;
        border-top: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: -85px;
      width: calc(100% + 160px);
      height: 100%;
      background: rgba(240, 244, 249, 0.2);
      pointer-events: none;
      border-top: 1px solid #e3e8f0;
      border-bottom: 1px solid #e3e8f0;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    &.active:before {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    position: relative;

    &-wrp {
      border-bottom: 1px solid #e3e8f0;
    }

    .custom-txt {
      color: #556490;
    }

    .digi-words {
      padding: 25px 0;
      background: none;
      position: relative;
      border-top: 0;
      border-bottom: 0;

      &__section {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% + 40px);
        margin-left: -20px;

        .section {
          &-bracket {
            @include bp(tablet) {
              flex-flow: wrap;
              justify-content: center;
            }

            hr {
              @include bp(tablet) {
                display: none;
              }
            }

            .button {
              @include bp(tablet) {
                min-width: 100%;
                min-height: 46px;
                margin-top: 10px;
              }

              &__icon {
                @include bp(tablet) {
                  width: 37px;
                  height: 37px;
                  font-size: 20px;
                }
              }
            }

            &__icon {
              @include bp(tablet) {
                font-size: 22px;
                margin-right: 10px;
              }
            }

            &__title {
              @include bp(tablet) {
                font-size: 17px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  &__num {
    flex-shrink: 0;
    font-size: 19px;
    font-weight: 800;
    color: $c-secondary;
    width: 25px;

    &--mobile {
      display: flex !important; // TODO: global style
      justify-content: center;
      align-items: center;
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background: #ffffff;
      border: 1px solid #d3dbe6;
      color: #8e98b3;
      font-size: 17px;
      margin-top: 1px;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__content {
    padding-left: 20px;
    width: 100%;

    @include bp(tablet) {
      padding-left: 0;
      width: 100%;
    }
  }

  &__question {
    color: #818baa;
    font-size: 17px;
    line-height: 1.4em;

    &:nth-child(3) {
      margin-bottom: 10px;
    }

    @include bp(tablet) {
      font-size: 16px;
    }

    &--spacing {
      margin-bottom: 20px;
    }
  }

  &-options {
    text-align: left;
    padding: 0px 10px 10px 10px;
    position: relative;
    width: 100%;

    @include bp(tablet) {
      padding: 0;
    }
  }

  &-option {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background: #fff;
    // user-select: none;
    padding: 10px 13px;
    padding-right: 0;
    width: max-content;
    transition: all 0.2s ease-in-out;
    margin: 3px 0;

    @include bp(tablet) {
      padding-left: 10px;
    }

    &.selected {
      .digi-test-option__opt {
        background: $c-bgmain;

        &:before {
          background: #3eacf7;
          transform: scale(1.1);
        }
      }
    }

    &.success {
      .digi-test-option__opt {
        background: $c-bgmain;

        &:before {
          background: #51d169;
          transform: scale(1.1);
        }
      }

      .digi-test-option__txt {
        color: #51d169;
        font-weight: 700;
      }
    }

    &.correct {
      .digi-test-option__txt {
        color: #51d169;
        font-weight: 700;
      }
    }

    &.error {
      .digi-test-option__opt {
        background: $c-bgmain;

        &:before {
          background: #df6060;
          transform: scale(1.1);
        }
      }

      .digi-test-option__txt {
        color: #df6060;
        font-weight: 700;
      }
    }

    &__wrp {
      @include bp(tablet) {
        display: flex;
      }

      .digi-test-option {
        width: auto;
        min-width: unset;
      }

      &:first-child {
        .digi-test-option {
          @include bp(tablet) {
            padding-top: 10px;
          }
        }
      }

      .digi-test-desc {
        margin-left: 60px;
      }
    }

    &__opt {
      display: inline-flex;
      width: 33px;
      height: 33px;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 15px;
      color: $c-secondary;
      font-weight: 600;
      position: relative;
      text-align: center;
      user-select: none;

      @include bp(tablet) {
        margin-right: 5px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        background: #d7dde7;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 50%;
        transition: all 0.3s;
      }

      .opt-txt {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        background: #fff;
        border-radius: 50%;
      }
    }

    &__txt {
      font-size: 16px;
      color: $c-secondary;
      padding-right: 15px;
    }

    &__tooltip {
      .translate-tooltip__caret {
        left: 15px;
      }
    }
  }

  &-paragraph {
    padding: 3px 9px;
    font-size: 16px;

    &__txt {
      display: inline;
      cursor: pointer;
      color: #818baa;
      position: relative;

      &.active {
        background: #e2e9f1;
        color: #5657ab;

        .text-en {
          background: #e2e9f1;
          color: #5657ab;
        }

        p {
          color: #818baa;
        }
      }

      span {
        transition: all 0.3s;
      }

      p {
        display: inline;
        padding: 5px 0;
        font-size: inherit;
        font-weight: 400;
      }
    }

    &__translate {
      font-family: 'Proxima Nova', sans-serif;
      color: #44449f !important;
      font-weight: 700 !important;
      border-left: 3px solid #c6d3e4;
      padding-left: 13px !important;
      border-radius: 0;
      margin-left: 0;

      &.mt-10 {
        margin-left: 57px;
      }

      b {
        font-weight: 400 !important;
      }
    }
  }

  &__info {
    background: $c-bgmain;
    border-radius: 7px;
    padding: 13px 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: $c-secondary;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 16px;
    margin-left: 58px;

    @include bp(mobile) {
      margin-left: 0;
    }
  }

  &-desc {
    background: #f4f7fb;
    border-radius: 10px;
    margin-top: 10px;

    &__cnt {
      display: flex;
      align-items: flex-start;
      padding: 17px 25px;
      border-top: 1px solid #e3e8f0;

      @include bp(tablet) {
        padding: 10px 15px;
        flex-flow: wrap;
      }

      &:first-child {
        border-top: 0;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 27px;
      color: $c-alt;
    }

    &__right {
      padding-left: 20px;

      @include bp(tablet) {
        padding-left: 0;
        margin-top: 5px;
      }

      &>* {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__title {
      color: $c-secondary;
      font-size: 15px;
      font-style: italic;
      font-weight: 600;
    }

    &__txt {
      color: $c-secondary;
      font-weight: 500;
      opacity: 0.7;
      font-size: 15px;
      margin-top: 10px;
      line-height: 1.3em;

      @include bp(tablet) {
        font-size: 15px;
      }
    }
  }

  &-clue {
    display: flex;
    flex-direction: column;
    width: 100%;
    // align-items: center;
    padding: 6px 20px 6px 20px;
    margin-top: 5px;

    @include bp(tablet) {
      padding: 10px 15px;
    }

    &-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-basis: 100%;
      margin-bottom: 5px;
    }

    &-desc {
      display: flex;
      align-items: flex-start;
      padding: 1rem 0;
    }

    &__title {
      color: $c-secondary;
      opacity: 0.7;
      font-weight: 700;
      font-size: 15px;
      margin-right: 10px;

      @include bp(tablet) {
        margin-right: 5px;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      z-index: 1;
    }

    &__item {
      width: 47px;
      height: 47px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 29px;
      margin-right: 7px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include bp(tablet) {
        width: 40px;
        height: 40px;
        font-size: 25px;
      }

      &:hover {
        background: #fff;
      }
    }
  }

  &-report {
    &__header {
      border-bottom: 1px solid #e3e8f0;
      padding: 20px 35px;
    }

    &__header {
      font-size: 22px;
      color: #5657ab;
      font-weight: 700;
    }

    &__cnt {
      padding: 20px 25px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      flex: 1;
      background: #f4f7fb;
      text-align: center;
      margin-right: 15px;
      border-radius: 6px;

      &:last-child {
        margin-right: 0;
      }

      .status-dot {
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        margin-left: 15px;
        font-size: 10px;
        background: #c9cfd8;
      }
    }

    &__title {
      border-bottom: 1px solid #e3e8f0;
      padding: 17px 15px 12px;
      color: rgba(85, 100, 144, 0.65);
      font-weight: 700;
      font-size: 14px;
    }

    &__content {
      padding: 15px;
    }

    &__counts {
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1em;
      color: $c-secondary;
    }

    &__icon {
      display: inline-flex;
      color: $c-alt;
      font-size: 21px;
      margin-right: 10px;
    }
  }
}

.digi-clue-info {
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.DigibookTest {
  .digi-test-desc {
    margin-top: 0;
  }

  .digi-test-options {
    .digi-test-clue {
      padding-right: 10px;
    }

    .digi-test-desc {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 67px;
      width: max-content;
    }
  }
}

.digi-detail__inner {
  .digi-test-option {
    border-radius: 30px;

    &.selected {
      background: $c-bgmain;
    }
  }
}

.digi-saved-animate {
  padding-top: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  color: #60dd69;
  font-weight: 600;

  svg {
    margin-right: 5px;
    position: absolute;
    left: -20px;
    top: calc(50% + 4px);
    transform: translateY(-50%);
    visibility: hidden;
    animation: saved 1s alternate;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  span {
    position: relative;

    &:before {
      content: 'Kaydedildi';
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      visibility: hidden;
      animation: saved 1s alternate;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 2s;
    }

    &:after {
      content: 'Kaydediliyor...';
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      visibility: visible;
      animation: saving 2s alternate;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 0s;
    }
  }
}

.digitable-status {
  display: flex;
  visibility: hidden;
  padding-top: 5px;
  color: #60dd69;
  font-weight: 600;

  &.is-saving {
    animation: saved 2ms alternate;
    animation-fill-mode: forwards;

    svg {
      margin-right: 5px;
      position: absolute;
      left: -20px;
      top: calc(50% + 4px);
      transform: translateY(-50%);
      visibility: hidden;
      animation: saved 1s alternate;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 2s;
    }

    span {
      position: relative;

      &:before {
        content: 'Kaydedildi!';
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        visibility: hidden;
        animation: saved 1s alternate;
        -webkit-animation-fill-mode: forwards;
        animation-delay: 2s;
      }

      &:after {
        content: 'Kaydediliyor...';
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        visibility: visible;
        animation: saving 2s alternate;
        -webkit-animation-fill-mode: forwards;
        animation-delay: 0s;
      }
    }
  }

  &.is-saved {
    animation: saving 10ms alternate;
    animation-fill-mode: forwards;
  }
}

@keyframes saved {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@keyframes saving {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}