@import '../variables';

@keyframes flashQuestion {
  from {
    background-color: lighten($color: #4545a2, $amount: 45);
  }

  to {
    background-color: transparent;
  }
}

.digi {
  &-table {
    @include bp(tablet) {
      margin-top: -5px;
    }

    .content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__inner {
    .tab {
      &-filter {
        &__item {
          @include bp(desktop) {
            width: auto;
          }
        }
      }
    }
  }

  .subpage {
    &-header {
      // background: url('../../assets/img/digibook-bg.jpg');
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-attachment: fixed;
      background: #a6487d;
    }

    &-tab {
      &__item {
        margin-right: 11px;
      }
    }
  }

  .digibook-guide-btn-only-mobile {
    display: none;

    @include bp(tablet) {
      display: flex !important;
      order: 2;
    }
  }

  .subpage-tab-guide-btn {
    @include bp(tablet) {
      display: none;
    }
  }

  &__cnt {
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .subpage-tab {
    @media (max-width: 1400px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1360px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0px;
    }
  }

  .subpage-header__icon .icon {
    filter: drop-shadow(0px 7px 16px rgba(24, 31, 62, 0.27));
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.3s ease-in-out;
  }

  &-card {
    @include column('column-6', center, initial);
    padding: 1rem;
    cursor: pointer;
    color: $c-secondary;
    transition: all 0.2s;

    &:hover {
      color: #44449f;
      z-index: 2;
    }

    &-cover {
      width: 8rem;
      flex-shrink: 0;
      height: 11rem;
      box-shadow: 0px 0 6px rgba(85, 100, 144, 0.15);
      border-radius: 15px;

      @include bp(mobile) {
        width: 110px;
        height: 145px;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    &__cnt {
      width: 100%;
      margin-left: 25px;
      position: relative;

      @include bp(desktop) {
        overflow: hidden;
      }

      @include bp(tablet-m) {
        margin-left: 10px;
      }

      @include bp(tablet) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 21px;
      line-height: 1.3em;

      @include bp(desktop) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &__txt {
      color: $c-secondary;
      font-size: 16px;
      opacity: 0.7;
      line-height: 1.3em;
      margin-top: 4px;

      @include bp(desktop) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }

      @include bp(mobile) {
        margin-top: 1px;
        font-size: 14px;
      }
    }

    &-progress {
      display: flex;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 18px;

      @include bp(mobile) {
        margin-top: 2px;
        margin-bottom: 5px;
      }

      .progress {
        width: 100%;
        margin-right: 33px;
        background: #edf1f5;

        @include bp(desktop) {
          margin-right: 20px;
        }

        @include bp(mobile) {
          margin-right: 10px;
          height: 10px !important;
        }
      }

      &__val {
        line-height: 1em;
        font-size: 23px;
        font-weight: 700;
        color: $c-secondary;
        width: auto;
        flex-shrink: 0;
      }
    }

    &-inf {
      display: flex;
      align-items: center;
      border-top: 1px solid #e1e6ec;
      padding-top: 15px;
      position: relative;

      @include bp(mobile) {
        padding-top: 8px;
      }

      &__title {
        line-height: 1em;
        color: $c-secondary;
        font-size: 16px;
        visibility: visible;
        opacity: 1;
        transition: 0.2s;

        &.active {
          visibility: hidden;
          opacity: 0;
        }

        @include bp(tablet-m) {
          display: none;
        }
      }
    }

    &-group {
      display: flex;
      margin-left: auto;

      &__item {
        display: inline-flex;
        font-size: 26px;
        width: 1.7em;
        height: 1.7em;
        background: $c-bgicon;
        border-radius: 7px;
        margin-left: 10px;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
      }

      &__number {
        @include bp(desktop-s) {
          font-size: 1rem;
        }
      }

      &__btn {
        font-size: 20px;
        width: 44px;
        height: 44px;
        background: #ecf0f5;
        border-radius: 7px;
        margin-left: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        flex-shrink: 0;

        @include bp(tablet) {
          width: 1.7em;
          height: 1.7em;
        }

        &.active {
          .digi-card-group {
            &__number {
              display: none;
            }

            &__close {
              display: block;
            }
          }
        }
      }

      &__close {
        display: none;
        font-size: 15px;
      }

      .more-item {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
        width: 0;
        margin-left: 0;
        display: none;
        height: 0;

        &.active {
          visibility: visible;
          opacity: 1;
          width: 1.7em;
          margin-left: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-word {
    &-list {
      .digi-words {
        @include bp(tablet) {
          border-radius: 0 !important;
        }
      }

      .word-rate {
        span {
          background: #cecee2;
        }
      }

      .section-bracket {
        justify-content: space-between;
        padding-right: 20px;

        @include bp(tablet) {
          padding-right: 0;
        }
      }

      hr {
        @include bp(tablet) {
          display: none;
        }
      }

      .tab {
        &-pane {
          &::before {
            @include bp(tablet) {
              display: none;
            }
          }
        }

        &__header {
          @include bp(tablet) {
            border-radius: 15px 15px 0 0;
          }
        }

        &__item {
          padding: 15px 0;
        }
      }
    }
  }

  &-detail {
    min-height: 100vh;

    .detail-close.button {
      @include bp(tablet-m) {
        background: #fff !important;
      }

      @include bp(tablet) {
        // background: #f0f4f9 !important;
      }
    }

    .detail-ctr .button {
      @include bp(tablet-m) {
        background: #fff !important;
      }

      @include bp(tablet) {
        // background: #f0f4f9 !important;
      }
    }

    .detail-header {
      @include bp(tablet) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 260;
        transition: 0.2s;
        box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);
      }

      &.navbar--hidden {
        top: -90px;
      }
    }

    .overlay {
      &.contentsActive {
        pointer-events: auto;
        visibility: visible;
        opacity: 0.6;

        @include bp(tablet) {
          opacity: 0;
        }
      }
    }

    &.DigibookDetail,
    &.DigibookTest,
    &.DigibookStaticContent,
    &.DigibookTranslate,
    &.DigibookTable,
    &.DigibookPairing,
    &.DigibookPassage,
    &.DigibookWordList {
      .detail-header {
        &__wrp {
          &.activee {
            z-index: 289;
          }
        }
      }

      .digi-contents__back {
        &.button {
          display: none;
        }
      }
    }

    &.Digibook {
      &Test,
      &Translate,
      &Table,
      &Pairing,
      &Passage,
      &WordList {
        @include bp(tablet) {
          overflow-y: auto;
        }

        .digi {
          &-detail {
            &__inner {
              .row-reverse {
                display: flex;

                @include bp(tablet-m) {
                  padding-left: 0;
                  padding-right: 0;
                }
              }

              &.active {
                @include bp(tablet) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .digibook-timer {
      display: none;
    }

    &.DigibookTest {
      .digi-detail__content {
        max-width: calc(100% - 110px - 100px - 10px);
        min-width: calc(100% - 110px - 100px - 10px);
        width: 100%;
        margin-left: 150px;

        &.isloading {
          max-width: calc(100% - 110px - 100px - 20px);
          min-width: calc(100% - 110px - 100px - 20px);

          @include bp(tablet) {
            max-width: 100% !important;
            min-width: 100%;
          }
        }

        @media (max-width: 1245px) {
          min-width: calc(100% - 110px - 10px - 10px);
          margin-left: 105px;
        }

        @include bp(tablet-m) {
          max-width: 100%;
          margin-left: 0;
          margin-top: 20px;
        }

        @include bp(tablet) {
          max-width: 100%;
          margin-left: 0;
        }
      }

      .digibook-timer {
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 20px;

        @include bp(tablet-m) {
          margin-top: 20px;
        }

        @include bp(tablet) {
          position: fixed;
          right: auto;
          bottom: 15px;
          top: auto;
          left: 50%;
          transform: translateX(-50%);
          flex-direction: row;
          z-index: 23;
          justify-content: center;
          width: max-content;
          padding: 15px 15px;
          background: #fff;
          box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.21);
          border-radius: 15px;
        }

        & > span {
          margin-bottom: 10px;

          @include bp(tablet) {
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.active {
            .digibook-timer__icon {
              transform: scale(1);
            }
          }
        }

        &__icon {
          background: #fff;
          color: #8e98b3;
          width: 47px;
          height: 47px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.3s;
          cursor: pointer;

          @include bp(tablet) {
            transform: scale(1);
          }

          &.w-tooltipp {
            margin-left: 5px;
            margin-right: 5px;
          }

          // &.played,
          // &.paused {
          //   background: $c-primary;
          //   color: #fff;

          //   &:hover {
          //     color: #fff;
          //   }
          // }

          &:hover {
            box-shadow: 0 5px 12px 0 rgba(11, 13, 25, 0.2);
            color: $c-primary;
          }

          svg {
            flex-shrink: 0;
          }
        }

        &__timed {
          position: relative;
          margin-bottom: 10px;
          padding-left: 5px;
          transition: 0.3s;
          cursor: pointer;

          &--inner {
            background: #fff;
            height: 47px;
            border-radius: 8px;
            width: 75px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            transition: 0.3s;
          }

          &:hover {
            .digibook-timer {
              &__icon,
              &__count {
                color: $c-primary;
              }

              &__timed {
                &--inner {
                  box-shadow: 0 5px 12px 0 rgba(11, 13, 25, 0.2);
                }
              }
            }
          }

          &.actived {
            .digibook-timer {
              &__icon,
              &__count {
                color: #fff;
              }

              &__timed {
                &--inner {
                  background: $c-alt;
                }
              }
            }
          }

          .digibook-timer__icon {
            border-radius: 0;
            background: transparent;
            margin-bottom: 0;
            width: auto;
            height: auto;
            transform: scale(1);
            transition: 0.3s;
          }
        }

        &__count {
          position: absolute;
          top: calc(50% + 0.5px);
          transform: translateY(-50%);
          right: 10px;
          color: #8e98b3;
          font-weight: 600;
          transition: 0.3s;
        }
      }
    }

    .section {
      &-bracket {
        @include bp(tablet) {
          flex-flow: wrap;
          justify-content: center;
          margin-top: 10px;
        }

        .digi-words__alert {
          @include bp(mobile) {
            width: 100%;
            text-align: center;
          }
        }

        &__icon {
          @include bp(tablet) {
            font-size: 22px;
            margin-right: 10px;
          }
        }

        hr.fw {
          @include bp(tablet) {
            display: none;
          }
        }

        .digi-words__button {
          @include bp(tablet) {
            min-height: 47px;
          }

          @include bp(mobile) {
            margin-top: 10px;
          }

          .button__icon {
            @include bp(tablet) {
              width: 37px;
              height: 37px;
              font-size: 20px;
            }
          }
        }
      }
    }

    .circle-progress {
      @include bp(tablet) {
        display: none;
      }
    }

    @include bp(tablet) {
      position: initial;
      top: 0%;
      left: 0;
      width: 100%;
      overflow-x: hidden;
    }

    .detail {
      &-header {
        &__wrp {
          @include bp(tablet) {
            background: #fff;
          }
        }
      }

      &-ctr,
      &-right {
        .button {
          @include bp(tablet) {
            background: $c-bgmain;
          }
        }
      }

      &-ctr {
        position: relative;

        @include bp(tablet-m) {
          position: absolute;
        }

        .button {
          &:first-child {
            @include bp(tablet-m) {
              margin-left: unset;
            }
          }
        }

        &__item {
          @include bp(tablet-m) {
            justify-content: flex-start;
          }
        }
      }

      &-right {
        margin-left: 10px !important;
      }
    }

    &-inf {
      background: #fff;
      border-radius: 0 0 13px 13px;
      max-width: 950px;
      padding: 0;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      @include bp(tablet-m) {
        margin-top: 75px;
        max-width: 100% !important;
      }

      &.active {
        z-index: 265;

        .digi-header {
          @include bp(tablet) {
            height: 100vh;
            overflow: scroll;
            padding-bottom: 160px;
          }
        }

        .digi-contents-ctr {
          @include bp(tablet) {
            display: flex;
          }
        }
      }
    }

    &__inner {
      margin-top: 145px;

      @include bp(tablet-m) {
        margin-top: 194px;
        width: calc(100% - 70px);
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: 783px) {
        margin-top: 215px;
      }

      @include bp(tablet) {
        margin-top: 110px;
        border-radius: 15px 15px 0 0;
      }

      @include bp(mobile) {
        width: calc(100% - 0px);
      }

      &--container {
        @include bp(tablet-m) {
          padding: 0;
        }
      }
    }

    &__content {
      max-width: calc(100% - 110px - 170px - 20px);
      margin: 0 auto;
      background: #fff;
      border-radius: 13px;
      position: relative;
      left: -5px;

      @media (max-width: 1245px) {
        max-width: calc(100% - 110px - 100px - 0px);
        margin-top: 15px;
        left: -15px;
      }

      @include bp(tablet-m) {
        max-width: 100%;
        margin-top: 0;
        left: 0;
        border-radius: 0;
      }

      @include bp(tablet) {
        border-radius: 15px 15px 0 0;
      }

      &.aa {
        @include bp(tablet) {
        }
      }

      &.fw {
        max-width: calc(100% - 110px - 190px - 0px); // TODO: global style

        @include bp(tablet-m) {
          max-width: 100%;
        }
      }

      .reading-tabitems__tab {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        .tab__icon {
          margin-right: 10px;
        }
      }

      .detail-tab {
        margin-top: 0;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;

      @include bp(tablet) {
        margin-bottom: 75px;
      }
    }

    &__button {
      padding-left: 15px;
      min-height: 60px;

      .button__icon {
        opacity: 0.7;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 950px;
      margin: 25px auto;
      width: 100%;

      &__button {
        background: #d7dde7;
        color: $c-secondary;
        font-weight: 500;
        min-height: 57px;
        min-width: 177px;

        .button__icon {
          font-size: 18px;
        }

        &:hover {
          background: #fff;
          color: #44449f;
        }
      }
    }
  }

  &-header {
    position: absolute;
    background: #fff;
    border-radius: 0 0 13px 13px;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    @include bp(tablet-m) {
      border-radius: 13px 13px 0 0;
    }

    @include bp(tablet) {
      margin-top: 20px;
    }

    &__top {
      display: flex;
      align-items: center;
      padding: 18px 25px;

      @include bp(tablet) {
        padding-top: 0;
        padding-bottom: 15px;
        display: none;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        justify-content: space-between;
        margin-top: 15px;
      }

      .button {
        &.default {
          margin-right: 10px;
          padding: 13px 18px;

          @include bp(tablet) {
            width: 100%;
          }

          .button__icon {
            font-size: 22px;
            margin-right: 10px;
          }
        }

        &.single {
          @include bp(tablet) {
            position: absolute;
            top: 0;
            right: 15px;
          }
        }

        &:last-child {
          color: #556490;

          .button__icon {
            @include bp(tablet) {
              font-size: 22px;
              margin-left: 0;
            }
          }
        }
      }
    }

    &__content {
      @include bp(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      div {
        &:first-child {
          width: 100%;
        }
      }

      .button {
        .button__icon {
          font-size: 25px;
          color: #4545a2;
        }
      }
    }

    &__outer {
      display: flex;

      @include bp(tablet-m) {
        position: relative;
      }
    }

    &__left {
      margin-right: 25px;
      padding-right: 25px;
      border-right: 1px solid #e3e8f0;
    }

    &-btn {
      text-align: center;
      cursor: pointer;
      color: $c-secondary;
      transition: color 0.3s;

      &.only-tablet {
        @include bp(tablet) {
          flex-flow: nowrap;
          display: flex !important;
          align-items: center;
          background: $c-bgmain;
          padding: 0 15px;
          border-radius: 25px;
        }

        .digi-header-btn {
          &__title {
            @include bp(tablet) {
              margin-top: 0px;
              color: #8e98b3;
            }
          }

          &__icon {
            color: #8e98b3;
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }

      &.active {
        color: $c-alt;

        @include bp(tablet) {
          z-index: 265;
        }

        .digi-header-btn__icon {
          @include bp(tablet) {
            color: $c-alt;
          }
        }

        .digi-header-btn__title {
          color: $c-secondary;
          opacity: 0.9;
        }
      }

      &__icon {
        font-size: 25px;
        display: inline-flex;
      }

      &__title {
        display: block;
        line-height: 1em;
        font-weight: 700;
        color: #8e98b3;
        font-size: 16px;
        margin-top: 1px;
        transform: scale(0.9);
        transition: all 0.3s;
      }
    }

    &__title {
      color: #5657ab;
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 3px;
    }

    &__txt {
      color: $c-secondary;
      opacity: 0.6;
      font-size: 15px;

      @include bp(tablet) {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display: -webkit-box;
      }
    }
  }

  &-contents {
    /* max-height: calc(100vh - 380px); */
    width: 100%;
    height: auto;
    max-height: 75vh;
    /* overflow: auto; */
    background: #f6f8f9;
    border-radius: 0 0 13px 13px;
    border-top: 1px solid #d9e1ec;
    position: relative;
    top: 0;

    @include bp(tablet) {
      max-height: unset;
      overflow: initial;
    }

    &-ctr {
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-top: 1px solid #e3e8f0;
      position: relative;

      @include bp(tablet) {
        padding: 0;
      }

      &__right {
        display: flex;
        align-items: center;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          height: 4px;
          background: $c-alt;
          border-radius: 10px 10px 0 0;
          transition: all 0.3s ease-in-out;
        }

        &.selecting {
          &:after {
            width: 100%;
            transition-delay: 0.15s;
          }
        }
      }

      &__list {
        display: flex;
        align-items: center;

        @include bp(tablet) {
          justify-content: space-between;
          width: 100%;
          padding-left: 15px;
        }
      }

      &__item {
        padding: 5px 10px;
        height: 95px;
        user-select: none;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        @media (max-width: 1300px) {
          margin-right: 0;
          padding: 5px 0;
        }

        &--unit {
          min-width: 130px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 4px;
            background: $c-alt;
            border-radius: 10px 10px 0 0;
            transition: all 0.3s ease-in-out;
          }

          &.selecting {
            &:after {
              width: 100%;
              transition-delay: 0.15s;
            }
          }
        }

        &--exercise {
          min-width: 155px;

          @include bp(tablet) {
            position: relative;
          }
        }

        &--btn {
          pointer-events: all;

          .digi-contents-ctr__title {
            display: flex;
            align-items: center;

            &.selected {
              cursor: pointer;
            }
          }
        }
      }

      &__caret {
        display: block;
        width: 27px;
        height: 27px;
        background: #e7ebf0;
        margin-left: 23px;
        border-radius: 50%;
        position: relative;
        flex-shrink: 0;

        @include bp(tablet) {
          margin-left: 2px;
          width: 20px;
          height: 20px;
          display: none;
        }

        &:after {
          @include triangle(down, #4545a2, 6px);
          margin-top: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__subtitle {
        color: #8da3b6;
        font-weight: 500;
      }

      &__title {
        color: $c-secondary;
        font-weight: 700;
        opacity: 0.6;
        max-width: 190px;

        @include bp(tablet) {
          max-width: max-content;
        }

        span {
          &:first-child {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;

            @include bp(desktop) {
              white-space: unset;
              text-overflow: unset;
            }

            @include bp(tablet) {
              white-space: nowrap;
            }
          }
        }

        &.selecting {
          opacity: 1;
        }

        &.selected {
          opacity: 0.8;
        }
      }

      &__arrow {
        color: #ced6e2;
        font-size: 55px;
        line-height: 1em;
        margin-right: 5px;

        @include bp(tablet) {
          width: 1px;
          height: 60px;
          background: #ced6e2;
          margin-right: 10px;
          flex-shrink: 0;
        }

        svg {
          @include bp(tablet) {
            display: none;
          }
        }
      }

      &-progress {
        margin-left: auto;
        display: flex;
        align-items: center;

        &__title {
          line-height: 1em;
          margin-right: 18px;
          color: #8da3b6;
          font-size: 15px;
          opacity: 0.9;

          @include bp(tablet) {
            display: none;
          }
        }
      }
    }

    &__inner {
      position: relative;
      /* overflow-y: auto;
      min-height: 40vh;
      max-height: 75vh; */

      @include bp(tablet) {
        transition-duration: 0s !important;
      }
    }

    &__item {
      border-bottom: 1px solid #d7dfe9;
      color: $c-secondary;
      padding: 15px;
      position: relative;
      z-index: 2;
      opacity: 0.6;
      display: block;
      cursor: not-allowed;
      user-select: none;
      transition: all 0.3s ease-in-out;
      text-align: left;
      width: 100%;

      @include bp(tablet) {
        padding: 15px 0;
      }

      &.active {
        opacity: 1;
        cursor: pointer;
      }

      &.static {
        opacity: 0.6;
        cursor: pointer;

        &:last-child {
          border-bottom: 1px solid #d7dfe9;
        }

        &:hover {
          opacity: 1;
        }
      }

      &.disabled {
        color: $c-secondary;
      }

      &.current,
      &.router-link-active {
        opacity: 1;
        background: #fff;
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 100%;
          background-image: linear-gradient(
            to left,
            rgba(246, 248, 249, 0) 0%,
            rgb(246, 248, 249) 100%
          );
          pointer-events: none;
        }

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
          height: 100%;
          background-image: linear-gradient(
            to left,
            rgb(246, 248, 249) 0%,
            rgba(246, 248, 249, 0) 100%
          );
          pointer-events: none;
        }
      }

      &:hover:not(.disabled) {
        color: $c-primary;
      }

      &:last-child {
        border-bottom: 0;
      }

      &-wrp {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          flex-flow: wrap;
        }
      }
    }

    &__icon {
      display: inline-flex;
      width: 35px;
      text-align: center;
      justify-content: flex-start;
      align-items: center;
      font-size: 33px;
      margin-right: 17px;

      @include bp(tablet) {
        font-size: 22px;
        margin-right: 4px;
      }

      &--info {
        font-size: 27px;
      }
    }

    &__title {
      line-height: 1.2em;
      font-size: 19px;
      font-weight: 700;

      @include bp(tablet) {
        font-size: 17px;
        font-weight: 600;
      }
    }

    &__txt {
      color: $c-secondary;
      opacity: 0.7;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.3em;
      margin-top: 5px;

      @include bp(tablet) {
        width: 100%;
      }

      &:empty {
        display: none;
      }
    }

    &__right {
      display: flex;
      margin-left: auto;
      min-width: 50%;
      justify-content: flex-end;

      @include bp(tablet) {
        min-width: auto;
      }
    }

    &-progress {
      width: 100%;
      margin-right: 25px;
      margin-left: 15px;
      display: flex !important; // TODO: global style
      align-items: center;
      justify-content: space-between;

      .progress {
        flex-shrink: 0;
        width: calc(100% - 45px);
        margin-right: 5px;

        @include bp(tablet) {
          height: 12px !important;
        }
      }

      &__txt {
        font-weight: 700;
        font-size: 19px;
        flex-shrink: 0;
      }
    }

    &-buttons {
      margin-left: auto;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 5;

      .button {
        @include bp(tablet) {
          min-height: auto;
        }
      }
    }

    &__button {
      padding: 10px;
      font-size: 27px;
      color: #bcc9d5;

      @include bp(tablet) {
        padding: 5px;
      }

      &:hover {
        color: #7d97ad;
      }
    }

    &__back.button {
      border-radius: 50px;
      display: inline-flex;
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      align-items: center;
      line-height: 1em;
      font-weight: 700;
      z-index: 12;
      height: auto;
      min-height: auto;
      opacity: 0.7;
      background: #d5dde8;
      color: $c-secondary;
      border: none;
      padding: 10px 15px 9px;
      font-size: 14px;
      margin-left: auto;

      @include bp(tablet) {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: 5px;
      }

      &:hover {
        opacity: 1;
      }

      .button__icon {
        font-size: 15px;
        margin-right: 12px;
        margin-top: -1px;

        @include bp(tablet) {
          margin: 0;
          margin-top: -2px;
          font-size: 14px;
        }
      }

      .button__txt {
        margin-top: 0;

        @include bp(tablet) {
          display: none;
        }
      }
    }
  }

  &-unit {
    padding: 0 17px;
    /* max-height: 700px; */
    /* overflow-y: auto */
  }

  &-exercise {
    /* overflow-y: auto; */
    /* max-height: 700px; */

    &__item {
      padding: 25px 35px;
      border-bottom: 1px solid #d9e1ec;

      @include bp(tablet) {
        padding: 20px 15px;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &__title {
      color: $c-primary;
      font-weight: 700;
      font-size: 23px;
      line-height: 1.4em;

      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &__subtitle {
      color: $c-secondary;
      font-weight: 500;
      opacity: 0.8;
      font-size: 17px;
      margin-top: 7px;

      @include bp(tablet) {
        margin-top: 0;
        font-size: 15px;
        line-height: 20px;
      }
    }

    &-list {
      background: #fff;
      padding: 0 15px;
      border-radius: 12px;
      margin-top: 13px;

      @include bp(tablet) {
        padding: 0px 10px;
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 13px 5px;
        margin: 0px 10px;
        position: relative;
        user-select: none;
        cursor: not-allowed;
        margin-bottom: 20px;

        @include bp(tablet) {
          margin-left: 0;
          margin-right: 0;
          padding-left: 10px;
          padding-right: 10px;
          flex-flow: wrap;
          margin-bottom: 10px;
          padding-top: 15px;
          padding-bottom: 5px;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: -15px;
          width: calc(100% + 30px);
          height: 1px;
          background: #d9e1ec;

          @include bp(tablet) {
            width: 100%;
            left: 0;
          }
        }

        &:first-child {
          padding-top: 25px;

          @include bp(tablet) {
            padding-top: 15px;
          }
        }

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 25px;

          @include bp(tablet) {
            padding-bottom: 15px;
          }

          &:before {
            display: none;
          }
        }

        &:only-child {
          padding: 13px 0;
          margin: 0 5px;
        }

        &.active {
          cursor: pointer;

          .digi-exercise-list__icon,
          .digi-exercise-list__title {
            opacity: 1;
          }

          .digi-exercise-list__icon {
            color: $c-alt;
          }
        }

        &.current {
          &:after {
            content: '';
            position: absolute;
            width: calc(100% + 30px);
            background: #f6f7f9;
            height: 85%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 6px;
            z-index: 1;
            pointer-events: none;

            @include bp(tablet) {
              width: calc(100% + 10px);
            }
          }

          .digi-exercise-list__icon,
          .digi-exercise-list__title {
            opacity: 1;
            color: $c-alt;
          }
        }

        &:hover {
          .digi-exercise-list__icon,
          .digi-exercise-list__title {
            opacity: 1;
            color: $c-alt;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &__icon {
        display: inline-flex;
        font-size: 28px;
        color: $c-secondary;
        margin-right: 20px;
        opacity: 0.75;
        transition: color 0.3s, opacity 0.3s;
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      &__title {
        color: $c-secondary;
        font-weight: 700;
        font-size: 19px;
        opacity: 0.75;
        white-space: nowrap;
        transition: color 0.3s, opacity 0.3s;
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          white-space: unset;
          font-size: 16px;
          width: calc(100% - 50px - 35px);
        }
      }

      &__right {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          position: static;
        }
      }

      &__count {
        margin-left: auto;
        color: $c-secondary;
        opacity: 0.7;
        font-size: 17px;
        white-space: nowrap;

        @include bp(tablet) {
          position: absolute;
          top: 18px;
          right: 0;
          font-size: 15px;
        }
      }

      .digi-contents-progress {
        max-width: 340px;
        margin-left: 20px;
        margin-right: 0;

        @include bp(tablet) {
          max-width: 100%;
          margin-left: 0;
        }
      }

      .digi-contents-progress__txt {
        color: $c-secondary;
      }
    }
  }

  &-row {
    position: relative;
    padding: 10px 35px;
    padding-right: 75px;
    min-height: 155px;
    display: flex;
    align-items: center;

    &.is-flashed {
      animation-name: flashQuestion;
      animation-duration: 2s;
      animation-delay: 0.5s;
    }

    & > div {
      &:first-child {
        width: 100%;
      }
    }

    @include bp(tablet) {
      padding: 15px;
    }

    &:hover {
      .digi-row-menu {
        opacity: 1;
        pointer-events: all;

        &:before {
          width: 100%;
          transition-delay: 0.05s;
        }

        &:after {
          height: 100%;
        }

        &__item {
          opacity: 1;
          transform: none;

          @include bp(tablet) {
            transform: scale(0);
          }

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.08 + 0.2s;
            }
          }
        }
      }
    }

    &-menu {
      position: absolute;
      right: 0;
      top: 30px;
      width: 65px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding: 7px 0;
      opacity: 0;
      pointer-events: none;
      transition: all 0.25s ease-in-out;

      @include bp(tablet) {
        right: -10px;
        z-index: 12;
      }

      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background: $c-bgmain;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: all 0.25s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 0%;
        background: $c-alt;
        transition: all 0.25s ease-in-out;
      }

      &__open-button {
        display: none;

        @include bp(tablet) {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          background: #5657ab;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 12px 20px 0px rgba(#5657ab, 0.08);
          cursor: pointer;
        }

        &__line {
          background: #fff;
          width: 20px;
          height: 2px;
          border-radius: 25px;
          position: relative;
          transition: 0.3s;

          &:before {
            content: '';
            position: absolute;
            top: -7px;
            left: 15%;
            width: 70%;
            height: 2px;
            background: #fff;
            border-radius: 25px;
            transition: 0.3s;
            transform: rotate(0);
          }

          &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 15%;
            width: 70%;
            height: 2px;
            background: #fff;
            border-radius: 25px;
            transition: 0.3s;
            transform: rotate(0);
          }
        }

        &.active {
          background: $c-alt;
          z-index: 261;

          .digi-row-menu__open-button {
            &__line {
              background: transparent;

              &:before {
                transform: rotate(45deg);
                top: 0;
                width: 100%;
                left: 0;
              }

              &:after {
                transform: rotate(-45deg);
                bottom: 0;
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }

      &__outer {
        @include bp(tablet) {
          margin: 10px 0;
          pointer-events: none;
          transform: translateX(-60px) !important;
        }

        &.active {
          pointer-events: all;

          .digi-row-menu__item {
            pointer-events: all;
          }

          &:nth-child(2) {
            .digi-row-menu__item {
              @include bp(tablet) {
                transform: scale(1);
                transition-delay: 0.3s;
              }
            }
          }

          &:nth-child(3) {
            .digi-row-menu__item {
              @include bp(tablet) {
                transform: scale(1);
                transition-delay: 0.2s;
              }
            }
          }

          &:nth-child(4) {
            .digi-row-menu__item {
              @include bp(tablet) {
                transform: scale(1);
                transition-delay: 0.1s;
              }
            }
          }

          &:nth-child(5) {
            .digi-row-menu__item {
              @include bp(tablet) {
                transform: scale(1);
                transition-delay: 0.2s;
              }
            }
          }

          &:nth-child(6) {
            .digi-row-menu__item {
              @include bp(tablet) {
                transform: scale(1);
                transition-delay: 0.3s;
              }
            }
          }
        }

        &:nth-child(2) {
          @include bp(tablet) {
            transform: translateX(-10px);
          }
        }

        &:nth-child(3) {
          @include bp(tablet) {
            transform: translateX(-40px);
          }
        }

        &:nth-child(4) {
          @include bp(tablet) {
            transform: translateX(-70px);
          }
        }

        &:nth-child(5) {
          @include bp(tablet) {
            transform: translateX(-40px);
          }
        }

        &:nth-child(6) {
          @include bp(tablet) {
            transform: translateX(-10px);
          }
        }
      }

      &__item {
        display: inline-flex;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 55px;
        padding: 7px;
        color: $c-secondary;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        transform: translateX(15px);
        transition: all 0.35s ease;
        transition-delay: 0ms !important;

        @include bp(tablet) {
          transform: translateX(0) scale(0);
          pointer-events: none;
        }

        @include bp(mobile) {
          margin: 3px 0;
        }

        &.active {
          color: $c-alt;
        }

        &:hover {
          color: $c-alt;

          .digi-row-menu__txt {
            opacity: 1;
            transform: translateY(-50%);
          }
        }
      }

      &__circle {
        position: absolute;
        background: $c-alt;
        width: 13px;
        height: 13px;
        right: 14px;
        top: 8px;
        border-radius: 50%;
      }

      &__icon {
        display: inline-flex;
        font-size: 29px;

        @include bp(tablet) {
          font-size: 25px;
        }
      }

      &__txt {
        position: absolute;
        right: 100%;
        text-align: right;
        background: $c-alt;
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 7px;
        white-space: nowrap;
        color: #fff;
        font-weight: 700;
        margin-right: 16px;
        top: 50%;
        transform: translateY(-50%) scale(0.75);
        transform-origin: 100% 50%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $c-alt;
          margin-right: -7px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @include bp(tablet) {
      .digi-row-menu {
        opacity: 1;
        pointer-events: all;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }

        &__item {
          opacity: 1;
          background: #fff;
          border-radius: 50%;
          box-shadow: 0px 6px 20px 0px rgba(41, 53, 108, 0.2);
          width: 60px;
          height: 60px;

          @include bp(tablet) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  &-notes {
    &__section {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.active {
        position: relative;
      }
    }

    &__sections {
      position: relative;
    }

    &-modal {
      max-width: 520px;
    }

    &-add {
      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      &__title {
        color: #44449f;
        font-weight: 800;
        font-size: 21px;
        line-height: 1em;
      }

      &__back {
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        line-height: 1em;
        font-weight: 700;
        z-index: 12;
        height: auto;
        min-height: auto;
        opacity: 0.7;
        background: #d5dde8;
        color: $c-secondary;
        border: none;
        padding: 13px 15px 11px;
        top: 0;
        font-size: 14px;
        margin-left: auto;

        &:hover {
          opacity: 1;
        }

        .button__icon {
          font-size: 15px;
          margin-right: 12px;
          margin-top: -1px;
        }

        .button__txt {
          margin-top: 0;
        }
      }
    }
  }

  &-questions {
    &-modal {
      max-width: 520px !important;

      @include bp(tablet) {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
      }

      .modal {
        &__icon {
          @include bp(tablet) {
            position: static;
            transform: none;
            width: 40px;
            height: 40px;
            font-size: 22px;
            margin-right: 10px;
          }
        }

        &__close {
          @include bp(tablet) {
            top: 55px;
          }
        }

        &__header {
          @include bp(tablet) {
            padding: 15px;
            flex-direction: row;
            justify-content: flex-start;
          }
        }

        &__content {
          padding: 0;

          @include bp(tablet) {
            max-height: calc(100vh - 170px);
          }

          .multiple {
            padding-bottom: 30px;

            &:after {
              display: none; //duzenlenecek
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              background-image: linear-gradient(
                to bottom,
                rgba(240, 244, 249, 0) 0%,
                rgb(240, 244, 249) 70%
              );
              height: 90px;
              z-index: 12;
              border-bottom-right-radius: 8px;
              border-bottom-left-radius: 8px;
              pointer-events: none;
            }
          }
        }
      }
    }

    &-list {
      &__main {
        padding: 35px 25px;
        position: relative;
        z-index: 2;
      }

      .or {
        position: relative;
        margin: 0;
        z-index: 1;

        &:before {
          background: #d9dfea;
        }

        &__txt {
          background: $c-bgmain;
        }
      }

      &__other {
        padding: 25px;
      }
    }

    &-add {
      padding: 25px;

      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      &__title {
        color: #44449f;
        font-weight: 800;
        font-size: 21px;
        line-height: 1em;
      }

      &__back {
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        line-height: 1em;
        font-weight: 700;
        z-index: 12;
        height: auto;
        min-height: auto;
        opacity: 0.7;
        background: #d5dde8;
        color: $c-secondary;
        border: none;
        padding: 13px 15px 11px;
        top: 0;
        font-size: 14px;
        margin-left: auto;

        &:hover {
          opacity: 1;
        }

        .button__icon {
          font-size: 15px;
          margin-right: 12px;
          margin-top: -1px;
        }

        .button__txt {
          margin-top: 0;
        }
      }
    }
  }

  &-words {
    background: rgba(240, 244, 249, 0.2);
    border-top: 1px solid #e3e8f0;

    &__section {
      overflow: hidden;
      padding: 0 2rem;

      @include bp(tablet) {
        padding: 15px;
        padding-bottom: 5px;
      }

      & + & {
        padding-top: 0;
      }
    }

    .section-bracket {
      margin-bottom: 20px;

      .digi-words__alert {
        font-weight: unset;
        font-size: 16px;
      }

      @include bp(tablet) {
        margin-top: 0;
      }
    }

    &__opened {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 266;
      width: 100%;

      .word-box {
        &-meaning {
          &__inner {
            display: flex;
            flex-flow: wrap;
          }
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      position: relative;

      &__wrp {
        position: relative;
      }

      &__overlay {
        z-index: 265;
      }

      &__item {
        width: 49.5%;
        margin-right: 1%;

        @include bp(tablet) {
          width: 100%;
          margin-right: 0;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    .word-box {
      background: #f0f4f985;
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0);
      padding: 15px 10px;
      cursor: pointer;

      &__top {
        @include bp(tablet) {
          margin-bottom: 5px;
        }
      }

      #wbm.word-box-meaning {
        .word-box-meaning__item {
          margin-bottom: 5px;
        }
      }

      &:hover {
        box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.14);

        .word-box__voice.button.default {
          background: $c-bgmain;
        }
      }

      .more-dots {
        color: $c-text;
        font-size: 22px;
        line-height: 1em;
        position: relative;
        top: -3px;
        left: -6px;
        pointer-events: none;
        user-select: none;
      }
    }

    .word-box__voice.button.default {
      color: $c-text;
      background: #fff;
      transition: all 0.3s ease-in-out;
    }

    &__button.button {
      color: $c-gray;
      min-width: 300px;

      &:hover {
        color: #fff;
      }

      .button__icon {
        color: #4545a2;
      }
    }
  }
}

.digibook {
  &-intro {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    z-index: 266;
    background: #fff;
    // opacity: 0;
    pointer-events: none;
    // visibility: visible;
    // transition: 0.5s;

    &-cnt {
      width: 100%;
      height: 100%;
    }

    &__img {
      transition: 0.5s;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-25%, -50%) scale(0.8);
      // opacity: 0;
      // transition: 0.3s;
      width: 600px;
      border-radius: 50px;
      overflow: hidden;
      // transition-delay: 0.3s;
      box-shadow: 0px 0 24px rgba(85, 100, 144, 0.25);

      img {
        max-width: 100%;
        width: 100%;
      }

      @include bp(mobile) {
        width: 100%;
        transform: translate(-25%, -50%) scale(0.65);
      }

      &.active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.8);

        @include bp(mobile) {
          transform: translate(-50%, -50%) scale(0.65);
        }
      }
    }

    &__txt {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 40px;
      color: #5657ab;
      font-weight: 700;
      opacity: 0;
      transition: 0.5s;
      transform: translate(-100%, -50%);
      transition-delay: 1s;

      @include bp(tablet) {
        width: 100%;
        text-align: center;
      }

      &.slideLeftOut {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    &.contentsActive {
      opacity: 0 !important;
      pointer-events: auto;
      visibility: hidden;
      transition: 0.5s;
    }
  }
}

// for mobile

.detail-inf {
  &.digi-detail-inf {
    .digi-header {
      @include bp(tablet) {
        margin-top: 0;
        width: calc(100% + 70px);
        left: -35px;
        border-radius: 0;
      }

      @include bp(mobile) {
        width: calc(100% + 30px);
        left: -15px;
      }
    }

    &.active {
      .digi {
        &-header {
          &__top {
            @include bp(tablet) {
              display: block;
            }
          }
        }

        &-contents {
          &__inner {
            @include bp(tablet) {
              height: 100% !important;
            }
          }
        }
      }
    }
  }
}

.digi-contents {
  &-ctr {
    @include bp(tablet) {
      display: none;
    }

    &__list {
      @include bp(tablet) {
        overflow-x: auto;
      }

      &::-webkit-scrollbar {
        @include bp(tablet) {
          display: none;
        }
      }
    }

    &__item {
      @include bp(tablet) {
        height: 60px;
        text-align: center;
        justify-content: flex-start;
        width: 100%;
        flex-shrink: 0;
      }

      &--unit {
        @include bp(tablet) {
          width: 33.33%;
          min-width: max-content;
          margin-right: 15px;
          text-align: left;
        }
      }
    }

    &__right {
      @include bp(tablet) {
        width: 100%;
        justify-content: flex-start;
      }

      .digi-contents-ctr__item {
        @include bp(tablet) {
          width: auto;
          min-width: 50%;
          margin-right: 15px;
          text-align: left;
        }
      }
    }

    &__subtitle {
      @include bp(tablet) {
        font-size: 17px;
      }
    }

    &__title {
      @include bp(tablet) {
        line-height: 15px;
        font-size: 13px;
      }
    }
  }
}

.DigibookDetail {
  .digibook-intro {
    opacity: 1;
  }
}

.quest-card {
  &-answer {
    &__txt {
      p {
        color: #556490 !important;
        font-size: 15px !important;
        font-weight: 200 !important;
      }
    }
  }
}

.js_table-div {
  &__w100 {
    width: 100% !important;
    color: #7683a7 !important;

    table {
      width: 100% !important;
      margin: 0 !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    tbody {
      @include bp(tablet) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }

      tr {
        @include bp(tablet) {
          height: auto !important;
          display: flex;
          flex-direction: column;
          height: auto;
          width: 100% !important;
        }

        td {
          @include bp(tablet) {
            height: auto !important;
            width: 100% !important;
          }
        }
      }
    }

    b {
      font-family: inherit !important;
      font-size: 20px !important;
      color: #5557ab !important;
      line-height: 28px !important;
    }

    td {
      color: #818baa !important;
      font-weight: 500 !important;

      b {
        color: #818baa !important;
        font-weight: 400;
        font-size: 16px !important;
      }
    }
  }
}

.DigibookStaticContent {
  .digi-passage__header {
    padding: 0;
    border: none;
  }
}

.digi-card {
  &-group {
    &__item {
      @include bp(desktop) {
        width: 1.5em;
        height: 1.5em;
      }

      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &__btn {
      @include bp(desktop) {
        width: 39px;
        height: 39px;
      }

      @include bp(desktop) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.digi-words {
  .word-rate {
    span {
      background: #c0c3ce;
    }
  }
}
