@import '../variables';

.digi-info-contents {

  &__cnt {
    padding: 25px;

    @include bp(tablet) {
      padding: 15px;
    }

    ul {
      padding-left: 0 !important;
    }

    li {
      margin-bottom: 15px !important;

      &:before {
        @include bp(tablet) {
          top: 7px !important;
        }
      }

      span {
        @include bp(tablet) {
          font-size: 15px;
        }
      }
    }

  }

  &__title {
    color: $c-primary;
    font-size: 23px;
    font-weight: 700;
  }

  &__header {
    border-bottom: 1px solid #e3e8f0;
    padding: 20px 25px;
  }

}