@import '../variables';

.digi-pairing {


  &__list {
    display: flex;
    align-items: center;
    border-top: 1px solid #e3e8f0;
    margin-top: 15px;
    padding-top: 5px;

    &.noMargin {
      margin-top: 0;
    }

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  &__col {
    width: 50%;
    flex-shrink: 0;
    padding: 20px 15px;

    &:first-child {
      @include bp(tablet) {
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
      }

      &::before {
        @include bp(tablet) {
          content: '';
          position: absolute;
          top: -0px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #e8edf0;
        }
      }

      &:after {
        @include bp(tablet) {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #e8edf0;
        }
      }
    }

    @include bp(tablet) {
      width: 100%;
      min-height: 0;
      padding: 0 15px;
    }
  }

  &-main {
    &__item {
      background: #f4f7fb;
      margin-bottom: 10px;
      border-radius: 8px;
      padding: 15px 23px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all .3s ease;
      width: 100%;
      height: 80px;

      @include bp(tablet) {
        padding: 10px 15px;
        margin-top: 10px;
      }



      &:hover {
        //background: $c-alt;

        .digi-pairing-main__title {
          color: $c-alt;
          opacity: 1;
        }

      }

      &.selectable {

        &:hover {
          .digi-pairing-main__title {
            opacity: 1;
            color: $c-alt;
          }

          .digi-pairing__circle {
            background: $c-alt;
          }

        }
      }

      &.selected {
        background: $c-alt;

        .digi-pairing-main__title {
          opacity: 1;
          color: #fff;
        }

        .digi-pairing__circle {
          background: $c-alt;
          border-color: #fff;
        }

        &:hover {
          .digi-pairing-main__title {
            color: #fff;
          }
        }

      }

      &.paired {
        background: #4eea89;

        .digi-pairing-main__title {
          opacity: 1;
          color: #fff;
        }

        .digi-pairing__circle {
          background: #fff;
          border-color: #4eea89;
        }

        &:hover {
          .digi-pairing-main__title {
            color: #fff;
          }
        }
      }

      &.error {
        background: #df6060;

        .digi-pairing-main__title {
          opacity: 1;
          color: #fff;
        }

      }

      &:last-child {
        margin-bottom: 0;
      }

      .digi-pairing__circle {
        right: 0;
        transform: translate(50%, -50%);

        @include bp(tablet) {
          left: -17px;
          right: auto;
        }
      }

    }

    &__title {
      color: #4a6883;
      font-weight: 800;
      opacity: 0.65;
      transition: all .3s ease;
    }
  }

  &-answer {
    &__item {
      background: #f4f7fb;
      margin-bottom: 10px;
      border-radius: 8px;
      padding: 15px 23px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all .3s ease;
      width: 100%;
      height: 80px;

      @include bp(tablet) {
        padding: 10px 15px;
      }


      &:hover {
        .digi-pairing-answer__title {
          opacity: 1;
          color: $c-alt;
        }
      }

      &.selectable {

        &:hover {
          .digi-pairing-answer__title {
            opacity: 1;
            color: $c-alt;
          }

          .digi-pairing__circle {
            background: $c-alt;
          }

        }
      }

      &.selected {
        background: $c-alt;

        .digi-pairing-answer__title {
          opacity: 1;
          color: #fff;
        }

        .digi-pairing__circle {
          background: $c-alt;
          border-color: #fff;
        }

        &:hover {
          .digi-pairing-answer__title {
            color: #fff;
          }
        }

      }

      &.paired {

        .digi-pairing-answer__title {
          opacity: 1;
        }

        .digi-pairing__circle {
          background: #44ec86;
        }

        //background: #4eea89;
        //.digi-pairing-answer__title {
        //  opacity: 1;
        //  color: #fff;
        //}
        //
        //.digi-pairing__circle {
        //  background: #fff;
        //  border-color: #4eea89;
        //}
        //
        //&:hover {
        //  .digi-pairing-answer__title {
        //    color: #fff;
        //  }
        //}
      }

      .digi-pairing__circle {
        left: 0;
        transform: translate(-50%, -50%);
        background: #f4f7fb;
        border-color: #fff;
      }

    }

    &__title {
      color: #4a6883;
      opacity: 0.65;
      font-weight: 600;
      line-height: 1.4em;
      transition: all .3s ease;
    }
  }

  &__circle {
    position: absolute;
    top: 50%;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    border: 6px solid #f4f7fb;
    font-size: 21px;
    transition: all .3s ease;

    @include bp(tablet) {
      border: 4px solid #f4f7fb;
      font-size: 16px;
    }
  }

  &__alert {
    padding: 15px 25px;
    border-bottom: 1px solid #e3e8f0;
    color: $c-secondary;
    font-weight: 400;
  }

  &-paired {
    padding: 25px 15px;
    background: rgba(240, 244, 249, 0.4);

    // border-bottom: 1px solid #e3e8f0;
    .digi-pairing__list {
      border-top: none;
    }

    @include bp(tablet) {
      padding: 25px 25px;
      border-bottom: none;
    }

    &__row {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;

      &:last-child {

        .digi-pairing-answer__item {
          &:last-child {
            @include bp(tablet) {
              margin-bottom: 0;
            }
          }
        }
      }

      &:last-child {
        .digi-pairing-paired__item {
          margin-bottom: 0;

          @include bp(tablet) {
            margin-bottom: 10px;
          }
        }
      }

      @include bp(tablet) {
        flex-direction: column;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    &__item {
      width: 48%;
      margin-bottom: 0;
      position: relative;

      @include bp(tablet) {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        z-index: 1;
      }

      &.digi-pairing-main__item {
        &:after {
          content: '';
          position: absolute;
          right: -8px;
          top: 50%;
          transform: translate(100%, -50%);
          width: 27px;
          border: 1px dashed #4eea89;
          display: block;
          z-index: 2;

          @include bp(tablet) {
            right: auto;
            left: -70px;
            top: calc(100% + 0px);
            width: 50px;
            height: calc(100% + 10px);
            transform: translate(100%, -50%);
            border-radius: 50%;
            z-index: -1;
            -webkit-clip-path: circle(55.0% at 6% 49%);
            clip-path: circle(55.0% at 6% 49%);
          }
        }
      }

    }

  }

}