@import '../variables';

.digi-translate {
  .digi {
    &-row {
      @include bp(tablet) {
        min-height: 185px;
      }
    }
  }

  &__list {
    position: relative;
    margin-top: 15px;
    border-top: 1px solid #e3e8f0;

    @include bp(tablet) {
      margin-top: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    position: relative;

    .digi-test-words {
      &.active {
        margin-top: 30px;
      }
    }

    .digi-words {
      border-top: 0;
      background: none;

      &__section {
        padding: 0;
        padding-bottom: 10px;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% + 40px);
        margin-left: -20px;
      }
    }
  }

  &-question {
    @include bp(tablet) {
      padding-right: 25px;
      width: calc(100% - 30px - 10px);
    }
  }

  &__num {
    flex-shrink: 0;
    font-size: 19px;
    font-weight: 800;
    color: $c-secondary;
    width: 25px;

    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background: #ffffff;
      border: 1px solid #d3dbe6;
      color: #8e98b3;
      font-size: 17px;
      margin-top: 1px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;

      @include bp(tablet) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }

  &__content {
    padding-left: 25px;
    width: 100%;

    @include bp(tablet) {
      padding-left: 0;
      display: flex;
      align-items: flex-start;
      flex-flow: wrap;
    }
  }

  &__question {
    color: $c-secondary;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 600;
    opacity: 0.75;
  }

  &__answer {
    margin-top: 15px;

    @include bp(tablet) {
      width: 100%;
    }
  }

  &__input {
    background: $c-bgmain;
    border-radius: 8px;
    border: 2px solid #e4e7ec;
    min-height: 61px;
    color: $c-secondary;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    @include bp(tablet) {
      min-height: 50px;
    }

    &::placeholder {
      color: $c-secondary;
      opacity: 0.35;
    }

    &:hover {
      border-color: #a6acc1;
    }

    &:focus {
      border-color: #3eacf7;
    }
  }
}