@import '../variables';
@import '../colors';

.Documents {
  .docs-guide-btn-only-mobile {
    @include bp(tablet) {
      display: block !important;
    }
  }

  .subpage-tab-ctr {
    @include bp(tablet) {
      display: none;
    }
  }
}

.docs {
  .subpage-header__icon .icon {
    filter: drop-shadow(0px 7px 16px rgba(16, 20, 42, 0.25));
  }

  .subpage-tab {
    @media (max-width: 1400px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1360px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    &__item {
      @include bp(desktop) {
        margin-right: 0;
      }

      @include bp(tablet) {
        margin-right: 15px;
      }
    }

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .subpage-tab-guide-btn {
    @include bp(tablet) {
      display: none;
    }
  }

  & .tab-filter-search {
    position: relative;
  }

  &__cnt {
    position: relative;
    z-index: 2;
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__container {
    @media (max-width: 1400px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (max-width: 1360px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include bp(tablet-m) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include bp(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .page-content-filters__right {
      .select {
        @include bp(tablet) {
          width: 30%;
        }
      }

      .vfilter {
        @include bp(tablet) {
          width: 70%;
          justify-content: space-between;
        }
      }
    }
  }

  &__inner {
    position: relative;
    min-height: 600px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        #f9fbfd 0%,
        rgba(240, 244, 249, 0) 100%
      );
      border-radius: 17px;
      z-index: -1;
    }

    .tab-filter {
      border-radius: 17px 17px 0 0;
    }
  }

  &__content {
    padding-top: 0;
  }

  &-catsel {
    min-width: 300px;

    @include bp(desktop) {
      min-width: 220px;
    }

    @include bp(tablet-m) {
      min-width: 100%;
    }

    & .select {
      &-header {
        height: 100%;
        font-size: 16px;
        color: $c-secondary;

        @include bp(tablet) {
          color: #7f88a2;
        }

        &.open {
          background: #fff !important;
        }
      }

      &__wrp {
        &.active {
          &:after {
            border: none;
          }
        }
      }

      &__option {
        font-size: 16px;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-inf__title {
    @include bp(tablet-m) {
      display: none;
    }

    @include bp(tablet) {
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-basis: 100%;

    @include bp(desktop-s) {
      align-items: flex-start;
    }

    & > div {
      @include bp(desktop) {
        width: 100%;
      }
    }
  }

  &__icon {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 2.25rem;
    margin-right: 1.25rem;
    transition: all 0.3s;

    @include bp(desktop-s) {
      margin-right: 10px;
      width: 3.25rem;
      height: 3.25rem;
      font-size: 2rem;
      margin-right: 1rem;
    }

    @include bp(tablet-m) {
      width: 50px;
      margin-right: 10px;
    }

    @include bp(tablet) {
      width: 40px;
      height: 50px;
      font-size: 34px;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 1px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.25rem;
    transition: all 0.2s;
    position: relative;

    @include bp(desktop-s) {
      min-height: 50px;
      font-size: 1.125rem;
    }

    @include bp(tablet-m) {
      margin-top: 15px;
      font-size: 18px;
      line-height: 20px;
      min-height: 40px;
    }

    @include bp(tablet) {
      font-size: 16px;
      margin-top: 0;
    }

    &--span {
      @include bp(desktop) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: -webkit-box;
        -webkit-box-align: start;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      @include bp(tablet-m) {
        top: 47%;
      }
    }
  }

  &__txt {
    font-size: 1rem;
    margin-top: 1rem;

    @include bp(desktop-s) {
      width: calc(100% + 75px);
      margin-left: -4rem;
      margin-top: 0.75rem;
      font-size: 0.875rem;
    }

    @include bp(tablet-m) {
      margin-left: -55px;
      width: calc(100% + 55px);
    }

    @include bp(tablet) {
      font-size: 14px;
      line-height: 20px;
      margin-left: -50px;
      margin-top: 10px;
    }
  }

  &-inf {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    border-top: 1px solid #dde3eb;

    @include bp(desktop-s) {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      font-size: 0.875rem;
    }

    @include bp(tablet) {
      margin-top: 10px;
      padding-top: 10px;
    }

    &__groups {
      display: flex;
      align-items: center;
    }

    &__group {
      display: inline-flex;
      font-size: 1.75rem;
      width: 3rem;
      height: 3rem;
      background: $c-bgicon;
      border-radius: 7px;
      margin-left: 10px;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      @include bp(desktop-s) {
        font-size: 1.25rem;
        width: 2.25rem;
        height: 2.25rem;
      }

      @include bp(tablet) {
        font-size: 20px;
      }

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
        transition: all 0.3s ease-in-out;

        &-hover {
          opacity: 0;
          z-index: 2;
        }
      }
    }
  }

  &-detail {
    position: relative;

    &__cnt {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      max-width: 900px;
      margin-bottom: 30px;

      @include bp(desktop) {
        max-width: 720px;
        min-width: 720px;
        margin-left: 20px;
        margin-right: 20px;
      }

      @include bp(tablet-m) {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
      }

      @include bp(tablet-l) {
        max-width: 100%;
        min-width: 100%;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 70px;
      }

      .page {
        margin: 0 auto;
      }
    }

    .button--circle {
      @include bp(tablet) {
        width: 44px;
        height: 44px;
        min-height: 44px;
      }

      .button__icon {
        @include bp(tablet) {
          font-size: 16px;
        }
      }
    }

    .button-left-right {
      @include bp(tablet-l) {
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 4rem;
      }
    }

    &__arrow.button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 21px;
      z-index: 12;

      @include bp(tablet-l) {
        position: static;
        transform: none;
      }

      @include bp(tablet-m) {
        box-shadow: 0px 25px 43px 0px rgba(19, 29, 51, 0.16);
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        box-shadow: 0px 25px 43px 0px rgba(19, 29, 51, 0.16);
      }

      &.prev {
        left: -70px;

        @include bp(tablet-m) {
          left: -0;
        }

        @include bp(tablet-m) {
          margin-right: 15px;
        }
      }

      &.next {
        right: -70px;

        @include bp(tablet-m) {
          right: 0;
        }
      }
    }

    .detail-ctr {
      &__item {
        position: relative;

        @include bp(tablet-m) {
          justify-content: flex-start;
        }

        .button {
          &:nth-child(2) {
            @include bp(tablet-m) {
              margin-right: auto;
            }
          }
        }
      }
    }

    &__item {
      border-radius: 10px;
      width: 100%;
      max-width: 100%;
      overflow: auto;
      overflow: hidden;

      &.active {
        position: relative;
      }
    }

    &__img {
      width: 100%;
      border-radius: 10px;

      .page {
        max-width: 992px;
        max-height: 992px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }

    &__bottom {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      @include bp(tablet) {
        margin-top: 85px;
        position: relative;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }

      &--right {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 45px;
        top: 530px;

        @include bp(tablet-l) {
          right: 0;
          top: 560px;
        }

        @include bp(tablet) {
          position: absolute;
          top: 70vh;
          right: 45px;
        }

        @include bp(mobile) {
          position: absolute;
          top: 60vh;
          right: 15px;
        }

        .button {
          margin-top: 15px;
        }
      }

      .button {
        margin-right: 31px;
        text-transform: uppercase;

        @include bp(tablet) {
          margin-right: 0;
          width: 100%;
          padding-top: 0;
          padding-bottom: 0;
          min-height: 44px;
        }

        &:first-child {
          margin-right: 15px;

          @include bp(tablet) {
            margin-right: 0;
          }
        }
      }
    }

    &__ctr {
      position: absolute;
      right: 45px;
      top: 300px;

      @include bp(tablet-l) {
        right: 0;
      }

      @include bp(tablet) {
        position: absolute;
        top: 70vh;
        right: 45px;
      }

      @include bp(mobile) {
        position: absolute;
        top: 60vh;
        right: 15px;
      }

      .button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 55px;
        height: 55px;
        font-size: 21px;

        @include bp(tablet-m) {
          box-shadow: 0px 25px 43px 0px rgba(19, 29, 51, 0.16);
        }

        @include bp(tablet) {
          width: 45px;
          height: 45px;
          font-size: 14px;
          min-height: 45px;
        }

        &:hover {
          box-shadow: 0px 25px 43px 0px rgba(19, 29, 51, 0.16);
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }

    .normal-fontsize {
      .button__icon {
        font-size: 17px !important;
        transition-delay: 0s !important;
      }
    }
  }

  &-results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 450px;
    max-width: 600px;
    max-height: 350px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 7px 38px 0px rgba(41, 53, 108, 0.13);
    transition: 0.2s all;
    transform: translateY(70px);
    opacity: 1;
    z-index: 12;

    @include bp(tablet) {
      max-width: 100%;
      min-width: 100%;
    }

    &::before {
      width: 0;
      height: 0;
      display: block;
      border-style: solid;
      border-width: 0 13px 13px 13px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      content: '';
      left: 80px;
      top: -13px;
      z-index: 13;
    }

    &.open {
      transform: translateY(70px);
      opacity: 1;
    }

    &__list {
      max-height: 350px;
      overflow-y: auto;
    }

    &__item {
      border-bottom: 1px solid $c-bgicon;
      margin: 0 20px;
    }

    &__link {
      padding: 12px 24px;
      display: block;
      color: #7d97ad;
      font-weight: 700;
      width: calc(100% + 40px);
      margin-left: -20px;

      &:hover {
        color: #4545a2;
        background: #f7f8fb;
      }
    }

    &__noresult {
      padding: 12px 24px;
      display: block;
      color: #7d97ad;
      font-weight: 700;
    }
  }
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.2s;
}

.fade-up-enter,
.fade-up-leave-to {
  transform: translateY(70px);
  opacity: 0;
}
