.dropdown {
  position: relative;

  &--label {
    height: 64px;
    border-bottom: 1px solid #d9e1ea;
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 0 60px 0 30px;
    align-items: center;
  }
  &:last-child {
    .dropdown--label {
      border-bottom: none;
    }
  }

  &--content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  &.open {
    background: #fff;

    .dropdown--label {
      margin-bottom: 15px;
    }

    .dropdown__caret {
      background: #ebeff5;
      box-shadow: none;

      &:after {
        top: 8px;
        transform: rotate(180deg);
      }
    }

    .dropdown--content {
      max-height: 400px;
      overflow: scroll;
      &.o-auto {
        overflow: auto;
      }
    }
  }

  &__caret {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);

    &:after {
      @include pseudo;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid #4545a2;
      top: 10px;
      left: 7px;
      transition: all 0.3s;
    }
  }

  &__title {
    color: $c-secondary;
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    strong {
      font-weight: 700;
    }

    > strong {
      img {
        margin-right: 5px;
        width: 29px;
        height: 29px;
      }
    }

    span {
      color: #919ab4;
      font-weight: 600;
      font-size: 16px;

      strong {
        color: $c-secondary;
        font-weight: 700;
      }
    }
  }
}
