@import '@/assets/scss/_variables';

.empty-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  line-height: 1;
  margin: 1rem 0;
  position: relative;
  margin-bottom: 150px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include bp(tablet) {
    height: 250px;
    width: 100%;
  }

  &--notfound {
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    &.address {
      .empty-content {
        &__txt {
          display: none;
        }
      }
    }

    .empty-content {
      &__icon {
        font-size: 14rem;
        margin-bottom: 0;
        height: 120px;
        display: flex;
        margin-bottom: 25px;
        align-items: center;
      }
    }
  }

  &__icon {
    font-size: 10rem;
    margin-bottom: 15px;

    @include bp(tablet) {
      margin-bottom: 0;
    }
  }

  &.button,
  &__action {
    padding: 1rem 2rem;
  }

  &__title {
    display: block;
    color: #3b5e7b;
    opacity: 0.9;
    font-weight: 600;
    font-size: 1.5rem;

    @include bp(tablet) {
      font-size: 1.2rem;
    }

    span {
      color: $c-alt;
    }
  }

  &__txt {
    display: block;
    color: #3b5e7b;
    font-size: 1rem;
    color: #556490;
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 35px;
  }

  &__button {
    color: #4c6b88;
    margin: 0 0 15px 15px;
    padding: 10px 30px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #4445a0 !important;
    }

    @include bp(mobile) {
      padding: 10px 30px;
      min-width: 250px;
      margin: 0 0 15px 0;
      justify-content: flex-start;

      .button__txt {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }

    .button__icon {
      font-size: 22px;
    }

    .icon-font {
      margin-right: 10px;
      font-size: 22px;
    }

    .btn-txt {
      display: block;
    }
  }

  a:not(.button) {
    color: #4445a0;
    border-bottom: 1px solid;
  }
}

.deneme-detail-page,
.deneme-report-page,
.tests-detail-page,
.test-report-page {
  .empty-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

.ask-question-empty-content {
  margin-top: 75px;
  margin-bottom: 75px;

  @include bp(tablet) {
    height: auto;
  }

  .empty-content {
    &__icon {
      display: none;
    }
  }
}