.exam {
  &-page {
    .test-list {
      max-width: 980px;
      left: -10px;
    }

    .detail-close.button {
      padding-left: 15px;
    }

    .test-question {
      display: flex;
      padding: 13px;
      align-items: flex-start;
      // test
    }

    .test-question__main {
      color: $c-secondary;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.4em;
      background: #ffffff;
      padding: 10px 15px;
      border-radius: 7px;
      margin-bottom: 15px;
    }

    .test-question-inf {
      flex-shrink: 0;
      text-align: center;
      margin-right: 20px;
    }

    .test-question__number {
      position: relative;
      border-radius: 8px;
      width: 43px;
      height: 43px;
      flex-shrink: 0;
      transform: none;
      left: 0;
      margin-bottom: 15px;
      display: flex;

    }

    .test-question__txt {
      font-size: 18px;
      line-height: 1.4em;
      opacity: .8;
    }

    .test-question-fav {
      display: inline-flex;
      font-size: 25px;
      color: #c6cbd9;

      &.active {
        color: #f9cf32;
      }

    }

    .test-nav {
      .button {
        width: 50%;

        &.button--circle {
          min-width: inherit;
          flex-shrink: 0;
          width: 63px;
          height: 63px;
        }

      }
    }

  }
}