@import '../variables';

.category-group {
  max-height: 40px;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-right: 15px;
  @include bp(tablet) {
    padding-right: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: calc(100% - 15px);
    height: 1px;
    background: #d2dce5;
    @include bp(tablet) {
      width: 100%;
    }
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  &__title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    strong {
      margin-top: 1px;
    }
    .accordion-header__icon {
      background: transparent;
      margin-right: 0;
    }
  }
  &.open {
    max-height: 620px;
    .accordion-header__icon {
      color: $c-primary;

      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
    .list-of-categories {
      @include bp(tablet) {
        margin-bottom: 0;
      }
    }
  }
}
.faq {
  aside {
    padding: 15px 0;
    border-right: 1px solid #d2dce5;

    .title {
      text-transform: uppercase;
      font-weight: 800;
      color: #949cb5;
      font-size: 14px;
    }

    .list-of-categories {
      margin-bottom: 0;
      margin-top: 5px;
      &.only-desktop-inline {
        display: block !important;
        margin-bottom: 25px;
        @include bp(tablet) {
          display: none !important;
        }
        li {
          &:after {
            right: 0;
          }
        }
      }
      &.only-tablet-inline {
        @include bp(tablet) {
          margin-bottom: 25px;
        }
      }

      li {
        cursor: pointer;
        position: relative;
        color: #b5bccc;
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: 700;
        @include bp(tablet) {
          height: 32px;
        }

        &:after {
          content: '';
          width: 4px;
          height: 100%;
          position: absolute;
          right: -15px;
          transition: 0.3s;
          top: 0;
          background: #6365b0;
          border-radius: 4px 0px 0 4px;
          opacity: 0;
          @include bp(tablet) {
            left: -15px;
            border-radius: 0px 4px 4px 0px;
          }
        }

        svg {
          margin-left: -16px;
          opacity: 0;
          transition: 0.3s;
        }

        &:hover,
        &.active {
          color: #44449f;
          transition: 0.3s;

          &:after {
            opacity: 1;
          }

          svg {
            opacity: 1;
            transition: 0.3s;
            margin-left: 0px;
            margin-right: 9px;
          }
        }
      }
    }
  }

  .list-of-questions {
    &--item {
      margin-bottom: 30px;
      transition: all 0.3s;
      background: #f6f9fc;
      border: 1px solid #eceef3;
      border-radius: 6px;
      padding: 25px;
      @include bp(tablet) {
        margin-bottom: 15px;
        padding: 15px;
      }
      .f-line {
        @include bp(tablet) {
          margin: 15px 0;
        }
      }

      &:hover {
        background: white;
      }

      &__question {
        font-size: 20px;
        color: $c-secondary;
        @include bp(tablet) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      &__answer {
        font-size: 20px;
        color: $c-secondary;
        opacity: 0.8;

        & a {
          color: $c-primary;
          font-weight: 600;
        }

        @include bp(tablet) {
          font-size: 16px;
        }
      }
    }
  }

  .helper {
    &--text {
      font-size: 25px;
      color: $c-secondary;
      font-weight: 500;
      display: flex;
      align-items: center;
    }

    &--buttons {
      @include bp(tablet) {
        margin-top: 15px;
      }
      button {
        height: 57px;
        width: 45%;
        background: #f6f9fc;
        font-weight: 600;
        color: $c-secondary;
        font-family: 'Proxima Nova';
        border: 1px solid #eceef3;
        border-radius: 3px;
        font-size: 16px;
        margin-left: 1.4%;
        transition: 0.3s;
        @include bp(tablet) {
          width: 50%;
        }

        &:hover {
          color: $c-primary;
          border: 1px solid $c-primary;
        }
      }
    }
  }
}
