@import '../variables';

.form {
  padding: 20px;
  border-radius: 10px;

  &-box {
    box-shadow: 0 9px 31px 0 rgba(41, 53, 108, 0.23);
    background: #fff;
  }

  &-container {
    position: relative;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      .form-input {
        border-bottom: 0;
      }
    }
  }

  &-input {
    padding-left: 0;
    font-size: 17px;
    font-weight: 600;
    height: 51px;
    border-bottom: 1px solid #dde3eb;
    padding-bottom: 5px;

    &::placeholder {
      color: #556490;
      opacity: 0.4;
      transition: 0.5s;
    }

    &:valid {
      & + .form-placeholder {
        transform: translate3d(0, -90%, 0) scale3d(0.8, 0.8, 1);
      }
    }

    &:placeholder-shown {
      & + .form-placeholder {
        transform: none;
      }
    }

    &:focus {
      & + .form-placeholder {
        transform: translate3d(0, -90%, 0) scale3d(0.8, 0.8, 1);
      }
    }
  }

  textarea.form-input {
    height: 150px;
  }

  &-placeholder {
    position: absolute;
    top: 15px;
    left: 0;
    transition: all 0.3s;
    pointer-events: none;
    user-select: none;
    font-size: 17px;
    transform-origin: 0 50%;
    opacity: 0.7;
  }

  &-row {
    margin: 0 !important;
    align-items: center;
  }

  &-subtitle {
    font-size: 21px;
    font-weight: 700;
    color: #546391;
    margin-right: 15px;
  }

  &-bottom {
    display: flex;
    align-items: center;

    .button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .select-header {
    background: $c-bgmain;
  }
}
