@import '../variables';

.header {
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  border-bottom: 1px solid rgba(240, 244, 249, 0.15);
  // min-height: 89px;
  height: 90px;

  @include bp(desktop-s) {
    padding: 0rem 5rem;
    height: 4rem;
  }

  @include bp(tablet-m) {
    padding: 15px 35px;
  }

  @include bp(tablet) {
    min-height: 69px;
    padding: 10px 15px;
  }

  &-active-app-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 15px 15px 0;

    &.is-lesson {
      background: #0ea6ce;
    }

    &.is-digibook {
      background: #a6487d;
    }

    &.is-wordy {
      background: #2e8273;
    }

    &.is-reading {
      background: #813f8e;
    }

    &.is-dictionary {
      background: #3759a1;
    }

    &.is-test {
      background: #214f86;
    }

    &.is-exam {
      background: #67419d;
    }

    &.is-cluebank {
      background: #394a9c;
    }

    &.is-material {
      background: #cc5d46;
    }
  }

  &-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 251;

    &.active {
      z-index: 252;
      pointer-events: none;
      overflow: initial;

      @include bp(tablet) {
        z-index: 280;
      }
    }

    &.active {
      .header-logo,
      .apps,
      .header-menu__list,
      .header-notify,
      .header-account,
      .header-menu-search {
        opacity: 0.3;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
      }

      .header-notify-button.mr-20 {
        opacity: 0.3;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
      }

      .apps.active,
      .header-notify.active,
      .header-account.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  & > * {
    user-select: none;
  }

  &--gray {
    .header {
      border-bottom: 1px solid #ced5de;

      &-nav.active {
        .header {
          border-bottom-color: transparent;
        }

        .header-logo {
          filter: grayscale(1) brightness(2);
          opacity: 0.2;
        }
      }

      .mobile-menu-button .apps-button__icon {
        color: rgba(85, 100, 144, 1) !important;
      }
    }

    .apps-button {
      color: $c-secondary;

      &.active {
        color: #fff;
      }

      &:hover {
        .apps-button__icon {
          border-color: rgba(85, 100, 144, 1);
        }
      }
    }

    .apps-button__icon {
      border-color: rgba(85, 100, 144, 0.3);
    }

    .apps-button__txt {
      opacity: 1;
    }

    .header-menu__item {
      color: $c-secondary;

      &:hover {
        color: #374261;
      }
    }

    .header-menu__txt {
      opacity: 1;
    }

    .header-menu .dots {
      color: $c-secondary !important;
    }

    .header-notify__icon {
      color: $c-secondary;
    }

    .header-account-button {
      border-color: rgba(85, 100, 144, 0.3);
      color: $c-secondary;

      &:hover {
        border-color: rgba(85, 100, 144, 1);
      }
    }

    .header-menu-search {
      border-left-color: rgba(#000, 0.1);

      &__icon {
        color: $c-secondary;
        opacity: 0.5;
      }

      &.active {
        .header-menu-search__icon {
          color: #556490;
          opacity: 1;
        }
      }

      &__input {
        color: #556490;
        opacity: 1;

        &::placeholder {
          color: #556490;
          opacity: 0.7;
        }

        &:focus {
          &::placeholder {
            color: #556490;
            opacity: 1;
          }
        }
      }
    }
  }

  &-logo {
    width: 80px;
    height: 40px;
    margin-right: 50px;
    position: relative;
    display: inline-flex;
    align-items: center;

    @media (max-width: 1600px) {
      margin-right: 0;
    }

    @include bp(desktop-s) {
      height: 2rem;
      width: auto;
    }

    @include bp(tablet-m) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &-menu {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    align-items: center;
    height: 100%;

    &__shop {
      padding-top: 0.5rem !important;

      @include bp(desktop-s) {
        font-size: 0.875rem !important;
        margin: 0 !important;
      }

      .header-menu__icon {
        font-size: 24px !important;
        position: relative;
        top: -2px;

        @include bp(desktop-s) {
          font-size: 1.25rem !important;
        }
      }

      .header-menu__txt {
        @include bp(desktop-s) {
          margin-left: 0.625rem;
        }
      }
    }

    &-search {
      border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
      margin-left: 2rem;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      position: relative;
      display: flex;
      align-items: center;
      height: calc(100% - 2rem);
      padding: 1rem;

      @include bp(desktop-s) {
        font-size: 0.875rem;
        margin-left: 1.25rem;
      }

      &-results {
        position: absolute;
        top: 74px;
        left: 0;
        background: #fff;
        width: 70%;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        max-height: 24rem;
        box-shadow: 0px 7px 38px 0px rgba(41, 53, 108, 0.13);

        @include bp(desktop-s) {
          font-size: 0.875rem;
          margin-left: 1.25rem;
          width: 100%;
          top: 4rem;
          padding-top: 0;
          padding-bottom: 0;
        }

        @include bp(tablet) {
          width: 100%;
        }

        &::before {
          width: 0;
          height: 0;
          display: block;
          border-style: solid;
          border-width: 0 13px 13px 13px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          content: '';
          left: 80px;
          top: -13px;
          z-index: 13;

          @include bp(desktop-s) {
            left: 3rem;
            top: -0.625rem;
            border-width: 0 0.625rem 0.625rem 0.625rem;
          }
        }

        &__list {
          max-height: calc(24rem - 0.5rem);
          height: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column;

          @include bp(desktop-s) {
            max-height: 18rem;
            padding: 0.5rem 0;
          }
        }

        &-icon {
          width: 2rem;
          display: inline-flex;
          margin-right: 10px;
          align-items: center;
          justify-content: flex-start;

          @include bp(desktop-s) {
            margin-right: 0.5rem;
            width: 1.5rem;
          }
        }

        &__noresult {
          padding: 0.5rem 1.5rem;
          color: $c-text;
        }

        &__link {
          color: $c-text;
          width: calc(100% + 40px);
          margin-left: -1rem;
          padding: 12px 24px;
          font-weight: 600;
          transition: 0.15s;
          display: flex;
          align-items: center;

          @include bp(desktop-s) {
            // width: calc(100% + 4rem);
            margin-left: -1.25rem;
            padding: 0.5rem 1.25rem;
            font-size: 0.875rem;
          }

          &:hover {
            color: #4545a2;
            background: #f7f8fb;
          }
        }

        &__item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $c-bgicon;
          width: calc(100% - 40px);
          margin: 0 20px;

          &:last-child {
            border-bottom: none;
          }
        }

        &__icon {
          height: 1.5rem;
          width: auto;

          @include bp(desktop-s) {
            height: 1.25rem;
          }
        }
      }

      &.active {
        .header-menu-search__icon {
          color: rgba($color: #fff, $alpha: 1);
        }
      }

      &__icon {
        position: absolute;
        left: 1rem;
        color: rgba($color: #fff, $alpha: 0.6);
        transition: 0.2s;
      }

      &__input {
        padding-left: 2rem;
        color: #fff;

        @include bp(desktop-s) {
          font-size: 0.875rem !important;
          line-height: 1;
          padding-left: 1.75rem;
        }

        &::placeholder {
          color: rgba($color: #fff, $alpha: 0.6);
          transition: 0.3s;
        }

        &:focus {
          &::placeholder {
            color: rgba($color: #fff, $alpha: 1);
          }
        }
      }
    }

    &__list {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 30px;
      padding-right: 15px;
    }

    &__item {
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 600;
      padding: 5px 10px;
      margin: 0 10px;
      font-size: 17px;
      user-select: none;
      flex-grow: 0;
      flex-shrink: 0;

      &:hover {
        color: #fff;

        .header-menu__txt {
          opacity: 1;
        }
      }
    }

    &__icon {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 21px;
    }

    &__txt {
      margin-left: 15px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }

    .dots {
      font-size: 4px;

      @include bp(desktop-s) {
        font-size: 3px;
      }
    }
  }

  &-notify {
    text-align: center;
    cursor: pointer;
    position: relative;

    @include bp(tablet) {
      z-index: 2;
    }

    &-button {
      cursor: pointer;

      @include bp(desktop-s) {
        margin-right: 1rem !important;
      }
    }

    &.active {
      z-index: 12;

      .header-notify__icon:before {
        opacity: 0.3;
      }
    }

    &__icon {
      font-size: 1.5rem;
      position: relative;
      color: #fff;

      @include bp(desktop-s) {
        font-size: 1.25rem;
      }

      &.gray {
        color: #556490;
      }
    }

    &__count {
      background: $c-alt;
      font-weight: 600;
      color: #fff;
      text-align: center;
      border-radius: 2rem;
      font-size: 0.875rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      transform: scale(0.9);
      position: absolute;
      top: -0.5rem;
      left: 0.375rem;
      min-width: 1.5rem;
      padding: 0.25rem 0.375rem;

      @include bp(tablet-m) {
        font-size: 0;
        top: 0.125rem;
        left: 1rem;
        transform: scale(0.9);
        min-width: 0.5rem;
        height: 0.5rem;
        padding: 0;
      }
    }

    &-dropdown {
      position: absolute;
      width: 385px;
      right: -35px;
      background: #fff;
      top: 62px;
      box-shadow: 0px 19px 120px 0px rgba(26, 34, 70, 0.16);
      border-radius: 15px;
      text-align: left;
      will-change: opacity, transform;
      transform-origin: 50% 0;

      @include bp(tablet-m) {
        right: -9px;
      }

      @include bp(tablet) {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        overflow: hidden;
        border-radius: 0;
        z-index: 278232332;
      }

      &:before {
        @include pseudo;
        @include triangle(up, $color: #fff, $size: 9px);
        transform: translateY(-100%);
        right: 39px;
        top: 0;

        @include bp(tablet-m) {
          right: 13px;
        }
      }
    }

    &__header {
      padding: 20px 25px;
      display: flex;
      border-bottom: 1px solid #ced7e4;
      justify-content: space-between;
      align-items: center;

      @include bp(tablet) {
        height: 120px;
        padding: 0 15px;
      }
    }

    &__title {
      color: #5657ab;
      font-weight: 700;
      font-size: 19px;
    }

    &__button {
      font-size: 16px;
      color: $c-secondary;
      opacity: 0.75;
      font-weight: 500;

      @include bp(tablet) {
        margin-left: auto;
        margin-right: 15px;
      }
    }

    &-close {
      display: none !important;
      transition-delay: 0.5s;
      color: #5657ab;
      font-size: 21px;

      @include bp(tablet) {
        display: block !important;
      }
    }

    &__list {
      height: 400px;
      overflow-y: scroll;
      scrollbar-width: none;
      padding-bottom: 20px;
      box-sizing: content-box;

      &::-webkit-scrollbar {
        display: none;
      }

      @include bp(tablet) {
        height: 100vh;
      }
    }

    &__cnt {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 15px;
      position: relative;
      background: #e9eef3;
      color: $c-secondary;
      transition: all 0.3s ease-in-out;

      &:after {
        @include pseudo;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background: #ced7e4;
        z-index: 2;
        opacity: 0.9;
      }

      &:last-child:after {
        display: none;
      }

      &:hover {
        color: $c-secondary;
        background: #dce3ea;
      }

      &.active {
        background: none;

        .header-notify__img {
          &:after {
            @include pseudo;
            width: 1em;
            height: 1em;
            font-size: 9px;
            background: $c-alt;
            border-radius: 50%;
            right: 4px;
            top: 0;
            transform: translateY(40%);
          }
        }

        &:hover {
          background: #f5f7f8;
        }
      }
    }

    &__img {
      background-color: transparent;
      box-shadow: none;
      width: 41px;
      height: 41px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      border-radius: 17px;
      flex-shrink: 0;
      margin-right: 10px;
      position: relative;
      color: #fff;

      @include bp(tablet) {
        border-radius: 50%;
      }

      &.wordy {
        background: #2e8273;
      }

      &.lesson {
        color: #418bb0;
      }

      &.test {
        background: #4b8bda;
      }

      &.kaynak {
        background: #73409b;
      }
    }

    &__txt {
      font-weight: 600;
      line-height: 1.3em;
      font-size: 16px;
      margin-bottom: 3px;
      padding-left: 5px;
    }

    &__time {
      font-weight: 700;
      font-size: 14px;
      color: $c-secondary;
    }

    &__bottom {
      background: #e9eef3;
      text-align: center;
      padding: 10px;
      border-top: 1px solid #ced7e4;
      border-radius: 0 0 15px 15px;

      @include bp(tablet) {
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 257;
      }
    }

    &__all {
      padding: 10px;
      display: inline-flex;
      color: #5657ab;
      font-size: 18px;
      font-weight: 600;
      transition: 0.2s;

      &:hover {
        color: $c-primary;
      }
    }

    &__body {
      max-width: 100%;
      padding-left: 5px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-account {
    flex-shrink: 0;
    position: relative;

    @include bp(tablet-m) {
      display: none;
    }

    &.active {
      z-index: 12;
    }

    &-button {
      padding: 12px 20px;
      padding-right: 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      color: #fff;
      border-radius: 7px;
      font-size: 1.125rem;
      font-weight: 600;
      flex-shrink: 0;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      user-select: none;

      @include bp(desktop-s) {
        border-radius: 5px;
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
      }

      .icon-font {
        flex-shrink: 0;
        margin-left: 20px;
        font-size: 25px;

        @include bp(desktop-s) {
          font-size: 1.2rem;
          margin-left: 1rem;
        }
      }

      &:hover {
        border: 1px solid #fff;
      }

      &.active {
        color: #4545a2;
        background: #fff;
      }
    }

    &-dropdown {
      position: absolute;
      background: #fff;
      border-radius: 15px;
      padding: 1rem;
      right: 0;
      width: 230px;
      top: 69px;
      box-shadow: 0px 19px 120px 0px rgba(26, 34, 70, 0.16);
      transform-origin: 50% 0;

      @include bp(desktop-s) {
        padding: 0.5rem 0.75rem;
        width: 12.5rem;
        top: 3.5rem;
      }

      &:before {
        @include pseudo;
        @include triangle(up, $color: #fff, $size: 9px);
        transform: translateY(-100%);
        right: 2.5rem;
        top: 0;

        @include bp(desktop-s) {
          right: 1.75rem;
          @include triangle(up, $color: #fff, $size: 7px);
        }
      }
    }

    &__item {
      display: flex;
      width: 100%;
      color: #546391;
      font-weight: 600;
      padding: 8px 10px;
      font-size: 17px;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      @include bp(desktop-s) {
        font-size: 0.875rem;
        padding: 0.375rem 0.5rem;
      }

      &.logout {
        border-top: 1px solid #ced7e4;
        padding: 12px 10px;

        @include bp(desktop-s) {
          padding: 0.375rem 0.5rem;
        }

        @include bp(tablet) {
          border-bottom: none;
        }
      }

      &.tour {
        border-top: 1px solid #ced7e4;
      }

      &.help {
        font-weight: 700;
        font-size: 17px;
        color: $c-primary;
      }

      .icon-font {
        font-size: 1.25rem;

        @include bp(desktop-s) {
          font-size: 1.125rem;
        }
      }

      &:hover {
        color: $c-primary;
      }
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    padding-right: 35px;
    padding-left: 35px;
    height: 100%;

    @include bp(desktop-s) {
      padding-right: 0.5rem !important;
      padding-left: 2rem !important;
    }

    @include bp(tablet-m) {
      justify-content: space-between;
      padding: 0 !important;
      display: none;
    }
  }
}

.mobile {
  &-header {
    display: none;

    @include bp(tablet-m) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }

  &-button {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;

    &__icon {
      width: 45px;
      height: 45px;
      padding: 9px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 38px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.header-notify.active {
  .header-notify-close {
    @include bp(tablet) {
      display: block !important;
    }
  }
}
