@import '../variables';

.hesabim-page {
  .subpage-download-button {
    .button__txt {
      margin-top: 0;
    }

    @include bp(tablet) {
      top: 0;
      padding: 0;
    }
  }

  .subpage-header {
    &__icon {
      @include bp(tablet) {
        font-size: 32px;
      }
    }

    &__title {
      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .subpage-header__title {
    color: #a9b3cb;

    span {
      color: #5657ab;
    }
  }

  .select__title {
    color: #556490;
  }

  .checkbox__txt {
    position: relative;

    .t-badge {
      background: $c-alt;
      color: #fff;
      border-radius: 7px;
      padding: 8px 5px 5px 5px;
      height: auto;
      position: absolute;
      right: calc(-36.78px - 10px);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .f-selectbox .select-header {
    background: #f6f9fc;
  }

  .f-selectbox {
    .vc-popover-content-wrapper .vc-border {
      border-color: #eceef3 !important;
    }
  }

  .subpage-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #c9d5e3;

    * {
      color: $c-secondary;
    }

    &-list {
      justify-content: center;

      @include bp(tablet) {
        justify-content: center;
      }
    }

    &__item {
      position: relative;
      height: 84px;

      &.active {
        &::before {
          background: #5657ab;
        }

        /* &:after {
          content: "";
          width: 95%;
          background: #5657ab;
          height: 5px;
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
        } */
      }
    }
  }

  .subpage-header__info {
    button {
      color: #7380a5;
      background: #d5ddec;
    }
  }
}

.subpage-download-button {
  background: transparent !important;
  position: relative;
  top: -9px;
}

.remove-account-btn {
  color: #df6457;
  border: 1px solid #df6457;
}

.bordered-content {
  border: 1px solid $c-bgmain;
  padding: 10px 20px;
  border-radius: 6px;

  hr {
    margin: 10px 0;
    border-color: $c-bgmain;
  }

  span {
    color: #949cb5;
  }

  strong {
    color: $c-secondary;
  }
}

p a {
  display: inline-block;
  font-weight: 700;
  color: #5657ab;
}

.adress {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;

  @include bp(tablet) {
    flex-flow: wrap;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    font-size: 45px;
    margin-right: 15px;
    color: $c-primary;

    @include bp(tablet) {
      font-size: 35px;
      margin-right: 10px;
      order: 1;
    }
  }

  &.active {
    svg {
      color: #656d85;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    color: $c-secondary;

    span {
      color: #949cb5;
      opacity: 0.8;
    }
  }

  .edit {
    @include bp(tablet) {
      order: 2;
      margin-left: auto;
    }
  }

  .trash {
    @include bp(tablet) {
      order: 3;
      margin-left: 20px;
    }
  }

  .edit,
  .trash {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(tablet) {
      position: static;
    }

    svg {
      font-size: 15px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      color: #c3c9d8;

      @include bp(tablet) {
        font-size: 18px;
      }
    }

    &:hover {
      svg {
        color: $c-primary;
      }
    }
  }

  .trash {
    top: 25px;
  }
}

.title-w-shadow {
  margin: 0 auto;
  display: block;
  width: 100px;
  text-align: center;
  background: #f0f4f8;
  z-index: 99;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -30px;
  margin-top: 25px;
  color: #8e98b3;
}

.checkbox-hide {
  position: relative;
  padding: 5px;

  .image {
    opacity: 1;
    border: 3px solid transparent;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    transition: all 0.2s;

    img {
      border-radius: 6px;
    }

    &.hovered {
      opacity: 0.35;
    }
  }

  &:hover {
    .image {
      opacity: 1;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:checked+.image {
      opacity: 1;
      border: 3px solid #3eacf7;

      img {
        border: 1px solid white;
      }
    }
  }
}

.checkbox__txt {
  color: $c-secondary;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;

  & .t-badge {
    margin: 0;
    height: 28px;
    margin-left: 8px;
  }

  @include bp(tablet) {
    font-size: 14px;
  }
}

.t-badge--default {
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
}

.line-of-product {
  &--content {
    width: calc(100% - 150px);

    strong {
      color: #4545a2;
      font-size: 17px;
    }

    span {
      color: #9fa6bd;
      font-size: 15px;
    }

    .icon {
      color: $c-alt;
      position: relative;
      top: -1px;
      left: -2px;
    }
  }

  .price-customizer {
    font-size: 20px;
    margin-bottom: -45px;
    margin-top: 9px;
    margin-right: 15px;
  }

  &.no-border {
    .figure {
      border: none;
    }

    .line-of-product--content {
      width: calc(100% - 70px);
    }
  }

  .figure {
    flex: 0 0 65px;
    border-right: 1px solid #e5eaef;
    padding-right: 15px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $c-primary;
    }
  }

  .icon-shower {
    margin-left: 15px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    background: $c-bgmain;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: $c-primary;
  }
}

.order-no,
.order-price,
.order-text {
  font-size: 17px;
  color: $c-secondary;
}

.order-text {
  opacity: 0.6;
}

.order-price {
  position: relative;
  top: 12px;
}

.price-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-list {
  font-size: 17px;

  span {
    color: #818baa;
    opacity: 0.8;
  }

  strong {
    color: $c-secondary;
  }
}

.gray-area {
  background: #fafcfd;
  padding: 40px;
  margin: -15px -25px -20px -25px;
  border-radius: 0 0 6px 6px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 15px;
  color: rgba(129, 139, 170, 0.8);
  font-weight: 700;
  text-transform: uppercase;

  .icon {
    margin-left: 21px;
    font-size: 27px;
    color: #7d97af;
    opacity: 0.5;
  }

  .last-icon .icon {
    border-left: 1px solid #e9eef4;
    margin-left: 10px;
    width: 60px;
  }
}

.coin {
  font-size: 27px;
  color: #5657ab;
  margin-top: 20px;
  font-weight: 700;

  img {
    margin-right: 5px;
    width: 30px;
    position: relative;
    top: -2px;
  }
}

.plus-coin {
  display: flex;
  align-items: center;
  flex-direction: row;

  div {
    font-size: 17px;
    display: flex;
    flex-direction: column;

    span {
      color: #7d97ad;
      font-weight: 400;
      opacity: 0.8;
    }

    strong {
      color: #21325a;
      font-weight: 700;
      opacity: 0.8;
    }
  }

  button {
    background: #f6f9fc;
    width: 140px;
    margin-right: 15px;
    height: 54px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #eceef3;
    font-weight: 700;
    color: #4c5a7a;
    justify-content: space-between;
    display: flex;
    padding: 0 12px;
    align-items: center;

    &.active {
      background: #5657ab;
      border-color: #5657ab;
      color: white;

      .icon {
        color: #fff;
      }
    }

    &:hover {
      border: 1px solid #5657ab;
    }

    img {
      width: 20px;
      margin-right: 10px;
    }
  }

  .icon {
    margin-left: 20px;
    font-size: 17px;
    position: relative;
    top: -1px;
    color: $c-primary;
  }

  margin-top: 15px;
}

.account {
  &-main {
    max-width: 860px;

    &__p {
      color: $c-gray;
      font-size: 17px;
      font-weight: 500;
      margin: 40px 0;
      text-align: center;
      max-width: 860px;

      @include bp(tablet) {
        font-size: 15px;
        margin: 25px 0;
      }

      span {
        margin-bottom: 20px;
        display: block;

        @include bp(tablet) {
          margin-bottom: 0px;
        }
      }
    }

    &__address {
      &--content {
        @include bp(tablet) {
          width: 100%;
          order: 4;
          margin-top: 10px;
        }
      }
    }

    &__avatar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include bp(tablet) {
        flex-flow: wrap;
        justify-content: center;
      }

      &--figure {
        flex-shrink: 0;
      }

      &--btn {
        display: block;
        font-weight: 800;
        text-decoration: underline;
        color: #30acf7;
        cursor: pointer;
      }

      &--subtitle {
        @include bp(tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }

      &--content {
        display: flex;
        flex-direction: column;
        padding-left: 25px;

        @include bp(tablet) {
          width: 100%;
          align-items: center;
          padding-left: 0;
          margin-top: 15px;
        }
      }
    }
  }

  &-checkbox {
    &-p {
      color: #556490;
      font-size: 14px;
      font-weight: 200;
      opacity: 0.8;

      @include bp(tablet) {
        font-size: 14px;
      }
    }
  }
}