@import '../variables';

.home-profile {
  display: flex;
  align-items: center;
  color: #fff;

  &-img {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    overflow: hidden;
    padding: 8px;
    font-size: 87px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 1.5rem;

    @include bp(desktop-s) {
      width: 4rem;
      height: 4rem;
      padding: 0.375rem;
      margin-right: 1rem;
    }

    @include bp(tablet) {
      flex-shrink: 0;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      user-select: none;
      pointer-events: none;
      background: #393a6e;
    }
  }

  &-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  &__txt {
    font-weight: 500;
    opacity: 0.6;
    font-size: 16px;

    @include bp(desktop-s) {
      font-size: 0.875rem;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;

    @include bp(desktop-s) {
      font-size: 1.125rem;
    }
  }

  &__level {
    color: #7ce777;
    font-weight: 500;
    font-size: 16px;
  }
}
