@import '../variables';
@import '../colors';

.homework {
  &-more {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  &__item {
    padding: 25px 0px 20px 0;
    position: relative;
    z-index: 1;

    @include bp(tablet) {
      padding: 15px 0px;
    }
    .circle-progress__title {
      small {
        top: 1.4px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -24px;
      width: calc(100% + 48px);
      height: 100%;
      background: transparent;
      border-bottom: 1px solid #dfe4ea;
      transition: 0.3s;
      z-index: -1;
    }

    &.new:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 5px;
      height: 100%;
      background: #24aafa;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &:hover {
      transition: all 0.15s;
      &:after {
        background: $c-bgcard;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    & .status-info__icon {
      font-size: 30px;
      color: $c-alt;

      &-holder {
        position: relative;

        & > .icon {
          font-size: 30px;
        }

        & > .sticon {
          position: absolute;
          left: -10px;
          bottom: 0;
          padding: 6px;
          border-radius: 5px;
          font-size: 28px;
          background: #fff;
        }
      }

      &.undone {
        filter: grayscale(90%) opacity(0.6);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    color: $c-secondary;
    justify-content: space-between;
    padding: 0 10px;
    user-select: none;

    &--icon {
      max-width: 40px;
      max-height: 40px;
      width: auto;
      height: auto;
      margin-right: 10px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include bp(tablet) {
      padding: 0;
    }
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 500;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    flex: 1;
    cursor: pointer;
    transition: 0.3s;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    &:hover {
      color: $c-alt;
    }
  }

  &-ctr {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    @include bp(tablet) {
      padding: 0;
    }

    &:hover {
      box-shadow: 0 9px 31px 0 rgba(41, 53, 108, 0.15);
    }

    .status-info__item {
      transition: none;
      padding: 10px 15px;
      &:hover {
        background: $c-bgmain;
      }
    }

    .ls-box-ctr__item {
      margin-bottom: 0;
    }

    .status-info__icon {
      margin-right: 25px;
      font-size: 26px;
    }
  }

  &__date {
    font-weight: 600;
    font-size: 17px;
    margin-top: 17px;
    padding-left: 10px;
    color: $c-secondary;
    opacity: 0.7;

    @include bp(tablet) {
      padding-left: 0;
    }
  }

  &-progress {
    /* display: inline-flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center; */
    margin-left: 10px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-item {
    &__title {
      overflow: hidden;
      padding-right: 10px;
    }

    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
