@import '../variables';

.home-tab {
  margin-top: 50px;

  .tab {
    margin-top: 0;
  }

  .tab-pane__header {
    padding-bottom: 0;
  }

  .swiper-wrapper {
    justify-content: center;

    @include bp(tablet) {
      justify-content: flex-start;
    }
  }

  .reading-tabitems {
    margin-top: 0;

    &__tab {
      margin-right: 15px;
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tab-pane__item.active {
  @include bp(tablet) {
    overflow: initial !important;
  }
}

.home__cnt {
  padding-left: 70px;
  padding-right: 70px;
  // z-index: 10;
  position: relative;

  @include bp(tablet-m) {
    padding-left: 0;
    padding-right: 0;
  }

  @include bp(tablet) {
    margin-top: 0;
  }

  .alert {
    margin-bottom: 0;
    background: transparent;

    @include bp(tablet) {
      top: 0;
      margin-top: -35px;
    }
  }
}

.list-of-points {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #d9e1ea;
    color: #919ab4;
    font-size: 19px;

    &:last-child {
      border: none;
      margin-bottom: 15px;
    }

    strong {
      color: $c-secondary;
    }
  }
}

.pointer {
  padding: 20px;

  &--show {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #adb5c9;
    text-align: right;

    @include bp(tablet) {
      width: max-content;
    }

    strong {
      color: $c-secondary;
      font-weight: 700;
    }
  }
}

.modal-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 256;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;

  &.active {
    opacity: 1;
  }
}