@import '../variables';

.f-input,
.f-selectbox,
.f-textarea,
.f-password {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;

  &[data-validation='true'] {
    &:after {
      content: attr(data-validation-text);
      color: #df6457;
      font-size: 16px;
      line-height: 28px;
      font-weight: 600;
    }

    input {
      border-color: #df6457;
      color: #df6457;
    }

    textarea {
      border-color: #df6457;
      color: #df6457;
    }

    .icon {
      border-top-color: #df6457 !important;
      border-left-color: #df6457 !important;
      border-bottom-color: #df6457 !important;
      transition: all 0.5s;

      svg {
        fill: #df6457;
      }
    }
  }

  &--preview {
    position: absolute;
    right: 1rem;
    color: $c-text;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  label {
    font-size: 18px;
    font-weight: 700;
    color: $c-secondary;

    @include bp(tablet) {
      font-size: 16px;
    }
  }

  &.iconic {
    input {
      padding-left: 65px;

      @include bp(tablet) {
        padding-left: 55px;
      }
    }

    span.icon {
      color: #d6dbe6;
      position: absolute;
      width: 54px;
      height: 54px;
      background: #f5f9fc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      border: 1px solid #eceef2;
      border-radius: 6px 0px 0px 6px;

      @include bp(tablet) {
        width: 45px;
        font-size: 20px;
      }
    }
  }

  &--content {
    display: flex;
    position: relative;

    &:hover {
      input {
        border-color: #a8aec3;
        transition: all 0.5s;
      }

      input::placeholder {
        color: #a8aec3;
      }

      .icon {
        border-top-color: #a8aec3 !important;
        border-left-color: #a8aec3 !important;
        border-bottom-color: #a8aec3 !important;
        transition: all 0.5s;

        svg {
          fill: #a8aec3;
        }
      }
    }

    .icon {
      transition: all 0.5s;

      svg {
        transition: all 0.5s;
      }
    }

    input {
      background: #f6f9fc;
      height: 54px;
      transition: all 0.5s;
      width: 100%;
      display: block;
      color: $c-secondary;
      border-radius: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid #eceef3;

      &::placeholder {
        color: #d6dbe6;
        transition: 0.5s;
      }

      &:focus {
        border-color: #3eacf7;

        & + .icon {
          border-top-color: #3eacf7 !important;
          border-left-color: #3eacf7 !important;
          border-bottom-color: #3eacf7 !important;

          svg {
            fill: #3eacf7;
          }
        }
      }

      &[disabled] {
        pointer-events: none;
      }
    }

    &.disabled {
      pointer-events: none;

      input {
        background: $c-bgicon;
        color: $c-text;
        -webkit-text-fill-color: $c-text;
        opacity: 1;
        /* required on iOS */
      }
    }
  }

  &-error {
    color: #df6457;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}

.f-date {
  svg {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 25px;
    height: 100%;
    color: #b1b3b9;
  }
}

.f-line {
  margin: 20px 0px 15px 0;
  border-color: $c-bgmain;
  display: block;
  clear: both;
  width: 100%;
}

.f-selectbox {
  .select-header {
    background: #f5f9fc;
    border: 1px solid #eceef3;
    font-size: 16px;
    height: 54px;
    font-weight: 600;

    &.open {
      background: #fff !important;
    }
  }
}

.f-textarea {
  .f-input--content {
    position: relative;

    textarea {
      background: #f6f9fc;
      height: 104px;
      width: 100%;
      display: block;
      border-radius: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      border: 1px solid #eceef3;
      padding-top: 15px;

      &:focus {
        border-color: #3eacf7;

        & + .icon {
          border-top-color: #3eacf7 !important;
          border-left-color: #3eacf7 !important;
          border-bottom-color: #3eacf7 !important;
        }
      }
    }
  }
}

.f-password {
  input {
    font-weight: 800;
    font-size: 21px;
    letter-spacing: 7px;
  }

  button {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    font-size: 35px;
    margin-right: 25px;
    color: #909ab4;
  }
}

// .f-select {
//   .select-header {
//     height: 60px;
//     background: #f6f9fc !important;
//     border: 1px solid #eceef3;
//     font-size: 16px;
//     color: #8993b0 !important;
//   }

//   &:hover .select-header:not(.open) {
//     border-color: #a6acc1 !important;
//     color: #576691 !important;
//   }

//   .select-header.open {
//     border-color: #d9e1ec !important;
//     border-bottom-color: rgba(217, 225, 236, 0) !important;
//     background: white !important;
//     border-bottom-left-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
//   }

//   .select__list>div:hover {
//     background: #f7f8fb;
//     border-radius: 4px;
//     color: #7682a6;
//   }

//   .select__list>div {
//     color: #9ba5c0;
//   }
// }

.f-radio {
  cursor: pointer;
  display: block;

  label {
    position: relative;
    padding-left: 29px;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    line-height: 20px;

    span {
      content: '';
      width: 20px;
      height: 20px;
      background: #fff;
      display: block;
      left: 0;
      border: 1px solid #eceef2;
      margin-top: -10px;
      top: 50%;
      position: absolute;
      border-radius: 100%;
    }

    input[type='radio'] {
      pointer-events: none;
      display: none;

      &:checked {
        & + span {
          box-shadow: inset 0 0 0 5px #fff;
          background: #4545a1;
        }
      }
    }
  }

  margin-bottom: 10px;
}
