@import "../variables";

.intro-card {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(41, 53, 108, 0.1);
  border-radius: 10px;
  padding: 21px;
  width: 390px;
  text-align: left;
  position: relative;
  transition: all .3s;

  @include bp(tablet) {
    padding: 15px;
    width: 80%;
    margin: 0 auto;
  }

  @include bp(phone) {
    width: 100%;
  }

  &__top {
    height: 350px;
    box-shadow: 0px 7px 10px 0px rgba(41, 53, 108, 0.1);
    border-radius: 6px;
    margin-bottom: 25px;
    position: relative;

    @include bp(mobile) {
      margin-bottom: 20px;
    }

    @include bp(tablet) {
      height: 300px;
    }

    @include bp(phone) {
      height: 200px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    @include dont-touch
  }

  &__cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #e5eaee;
    padding-top: 25px;
    align-items: center;

    @include bp(mobile) {
      padding-top: 15px;
    }
  }

  &__voice {
    color: $c-text;
  }

  &__right {
    margin-left: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    @include bp(tablet) {
      margin-bottom: 0px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1em;
    margin-right: 10px;

    @include bp(desktop) {
      font-size: 1.25rem;
    }

    @include bp(tablet) {
      font-size: 20px;
    }
  }

  &__meaning {
    color: $c-text;
    line-height: 1.3em;
    font-size: 28px;

    @include bp(tablet) {
      font-size: 18px;
      font-weight: 300;
      margin-top: 5px
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 43, 103, 0.85)), to(rgba(240, 244, 249, 0)));
    background: linear-gradient(to bottom, rgba(42, 43, 103, 0.85) 0%, rgba(240, 244, 249, 0) 100%);
    border-radius: 6px;
    padding: 20px 25px;
    opacity: .6;
  }

  &-progress {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;

    &__bar {
      width: 45%;
      height: 100%;
      background: #fff;
      border-radius: 6px;
      transition: 0.05s;
    }

  }

}

.soundpool-test-voice {
  .intro-card__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1em;
    margin-right: 10px;

    @include bp(tablet) {
      font-size: 24px;
    }
  }

  .intro-card__meaning {
    color: $c-text;
    line-height: 1.3em;
    font-size: 28px;

    @include bp(tablet) {
      font-size: 20px;
      font-weight: 300;
      margin-top: 15px;
    }
  }
}