@import "../variables";

.item-options {
  border-radius: 50%;
  transition: all .3s ease;
  position: relative;
  margin-left: auto;
  border: 1px solid #bac6d6;

  &:hover {
    background: $c-bgmain;

    .button--dots {
      color: #4342a3;
    }

  }

  &.active {
    background: #d9e0ea;

    .item-options__btn {
      transform: rotate(270deg);

      .dots:before {
        transform: translateY(-2.7em);
      }

      .dots:after {
        transform: translateY(2.7em);
      }

    }

  }

  &__btn.button {
    border: none;
    margin-left: auto;
    display: block;
    transition: all .3s ease;
    backface-visibility: hidden;
    width: 41px;
    height: 41px;
    min-height: inherit;

    @include bp(tablet) {
      width: 31px;
      height: 31px;
    }

    &:hover {
      border: none;
    }

    .dots:before,
    .dots:after {
      transition: all .3s;
    }

  }

  &__dropdown {
    position: absolute;
    top: 100%;
    z-index: 322;
    right: -5px;
    background: #d9e0e9;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    width: auto;
    min-width: inherit;
    border-radius: 6px;
    margin-top: 13px;
    padding: 10px;
    transition: all .2s ease;

    &:before {
      @include pseudo;
      @include triangle(up, $color: #d9e0e9, $size: 10px);
      position: absolute;
      top: 1px;
      right: 15px;
      transform: translateY(-100%);
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }

  &__item {
    width: 30px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-bottom: 7px;
    padding: 5px;
    color: #939ab1;
    transition: all .3s;

    &:hover {
      color: $c-word-other;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}