.keyboard-info {
  background: var(--background-color-light);
  width: 350px;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: 0px 22px 43px 0px rgba(19, 29, 51, 0.1);
  margin-top: 15px;
  z-index: 260;
  position: absolute;
  top: 4.5rem;
  left: 1.75rem;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 30px;
    transform: rotate(45deg);
    background: var(--background-color-light);
    width: 15px;
    height: 15px;
    z-index: -1;
  }

  &__list {
    padding: 0 20px;
  }

  &__item {
    border-bottom: 2px solid #e8edf1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }

  &__txt {
    width: 60%;
    color: var(--color-text);
    font-weight: 600;
    text-align: left;
  }

  &__right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cnt {
    background: var(--btn-background-secondary-focus);
    padding: 2px 2px 5px 2px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(19, 29, 51, 0.1);

    &--w80 {
      width: 80%;
    }

    &--w35 {
      width: 35%;
    }
  }

  &__dots {
    color: var(--color-text);
    font-size: 24px;
    position: relative;
    top: -5px;
  }

  &__button {
    background: var(--background-color);
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-weight: 600;

    &--with-icon {
      .icon {
        font-size: 10px;
      }
    }
  }
}
