@import "../variables";

.lesson {
  &-homework {
    .lesson-tab-progress {
      width: 100%;

      @include bp(tablet) {
        position: relative;
        padding-bottom: 20px;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100vw;
          height: 1px;
          margin-left: -10px;
          background: #dde3eb;
        }
      }
    }
  }
}

.lesson-tab {
  margin-top: 35px;

  .tab-pane {
    padding-bottom: 50px;

    &:before {
      display: none;
    }
  }

  &__wrp {
    position: relative;
  }

  .tab__header {
    padding: 0 25px;
    justify-content: flex-start;

    @include bp(tablet-m) {
      padding: 0;
    }
  }

  &__item {
    padding: 30px 15px;
    margin-right: 45px;

    @include bp(desktop) {
      margin-right: 30px;
    }

    @include bp(tablet-m) {
      margin-right: 20px;
    }

    @include bp(tablet) {
      padding: 15px 10px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    &:after {
      background: #0ea6ce;
    }

    &.active,
    &:hover {

      .tab__text,
      .tab__icon {
        color: #0ea6ce;
      }
    }

  }

  &__icon {
    @include bp(desktop) {
      margin-right: 15px;
    }

    @include bp(tablet) {
      margin-right: 10px;
      font-size: 22px;
    }
  }

  &-progress {
    margin-left: auto;
    padding: 7px;
    padding-right: 0;
    //padding-left: 23px;
    //border-left: 1px solid #d7dee6;
    display: flex;
    align-items: center;
    align-self: center;
    width: 40%;

    @include bp(tablet) {
      flex-shrink: 0;
      width: 80%;
    }

    &__title {
      color: #576691;
      font-weight: 500;
      opacity: .7;
      font-size: 15px;
      margin-bottom: 8px;
    }

    &__percent {
      font-weight: 700;
      color: $c-secondary;
      font-size: 37px;
      display: inline-block;
      align-self: flex-end;
      margin-left: 35px;
      line-height: 1em;
      flex-shrink: 0;

      @include bp(desktop) {
        margin-left: 20px;
      }

      @include bp(tablet-m) {
        margin-left: 15px;
        font-size: 24px;
      }

      small {
        top: -1px;
        left: 5px;
        font-weight: 500;
        font-size: 71%;
        position: relative;
        line-height: 1em;

        @include bp(tablet-m) {
          left: 0;
        }
      }

    }

  }

  .tab-pane__item {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
  }

}
