@import '../variables';

.lesson-item {
	@include column('column-12', center, initial);
	padding: 15px;
	transition: transform 0.15s, box-shadow 0.25s, opacity 0.2s;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover:not(.disabled) {
		.lesson-item__title {
			opacity: 1;
			color: $c-secondary;
		}
	}

	&.coming,
	&.live {
		background: $c-primary;

		.lesson-item__icon {
			color: #fff;
		}

		.lesson-item__title {
			color: #fff;
			opacity: 0.8;
		}

		&:hover {
			.lesson-item__title {
				color: #fff;
			}
		}
	}

	&.visited {
		.lesson-item__title {
			color: $c-alt;
			opacity: 1;
		}
	}

	&.disabled {
		cursor: not-allowed;

		.lesson-item__icon {
			color: $c-secondary;
			opacity: 0.4;
		}

		.lesson-item__title {
			opacity: 0.45;
		}
	}

	&-wrp {
		width: 100%;

		& + & {
			margin-top: 1rem;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: max-content;
	}

	&__icon {
		display: inline-flex;
		color: $c-alt;
		font-size: 45px;
		margin-right: 20px;

		&.passive {
			color: $c-text;
		}

		&.done {
			color: $c-success-dark;
		}

		@include bp(tablet) {
			width: max-content;
		}

		@include bp(mobile) {
			margin-right: 15px;
			width: max-content;
			font-size: 2.5rem;
		}
	}

	&__head {
		@include bp(tablet-l) {
			width: auto;
		}

		@include bp(tablet) {
			width: max-content;
		}

		@include bp(mobile) {
			width: 80%;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		margin-left: auto;
		align-self: stretch;

		@include bp(tablet) {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	&__title {
		line-height: 1.3em;
		color: $c-secondary;
		font-weight: 700;
		font-size: 20px;
		opacity: 0.7;
		transition: all 0.3s ease-in-out;

		//color: $c-alt;
		@include bp(desktop) {
			display: -webkit-box;
			align-items: center;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			font-size: 19px;
		}

		@include bp(tablet-m) {
			-webkit-box-orient: initial;
		}

		@include bp(mobile) {
			width: 100%;
			align-items: flex-start;
			font-size: 1.1rem;
		}
	}

	&__tag {
		color: $c-secondary;
		opacity: 0.55;
		font-size: 16px;
		margin-right: 10px;
	}

	&-inf {
		display: flex;
		align-items: stretch;
		align-self: stretch;

		@media (max-width: 1361px) {
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
		}

		@include bp(desktop) {
			flex-shrink: 0;
		}

		@include bp(tablet) {
			flex-direction: row;
			flex-shrink: unset;
			align-items: flex-start;
			margin-top: 15px;
			padding-top: 15px;
			margin-bottom: 5px;
			justify-content: flex-start;
			border-top: 1px solid $c-bgicon;
		}

		&__item {
			margin-left: 25px;
			display: flex;
			align-items: center;
			padding-right: 25px;
			border-right: 1px solid #dde3eb;

			@media (max-width: 1361px) {
				flex-flow: row-reverse;
				padding-right: 10px;
			}

			@include bp(tablet) {
				justify-content: flex-end;
				align-items: center;
				margin-left: 0;
				border-right: none;
				flex-flow: row;
			}

			&:first-child {
				@media (max-width: 1361px) {
					padding-bottom: 5px;
				}

				@include bp(tablet) {
					padding-bottom: 0;
				}
			}
		}

		&__icon {
			display: inline-flex;
			color: $c-alt;
			margin-right: 15px;

			@media (max-width: 1361px) {
				margin-right: 0;
				margin-left: 10px;
			}

			@include bp(tablet) {
				font-size: 15px;
				margin-left: 0;
				margin-right: 10px;
			}
		}

		&__txt {
			line-height: 1.3em;
			font-weight: 600;
			color: $c-secondary;
			opacity: 0.55;
			font-size: 15px;
			white-space: nowrap;

			@include bp(tablet) {
				font-size: 16px;
			}
		}
	}

	&-progress {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		margin-left: 25px;
		width: 320px;

		@include bp(desktop) {
			width: 160px;
			flex-shrink: unset;
			margin-left: 10px;
		}

		@include bp(tablet-m) {
			width: max-content;
		}

		@include bp(tablet) {
			width: 100%;
			margin-left: 0;
		}

		.progress {
			width: 239px;
			flex-shrink: 0;

			@include bp(desktop) {
				width: 150px;
				flex-shrink: unset;
			}

			@include bp(tablet-m) {
				display: none;
			}

			@include bp(tablet) {
				display: flex;
				width: 100%;
			}
		}

		.circle-progress {
			display: none;

			@include bp(tablet-m) {
				display: flex;
				width: 60px !important;
				height: 60px !important;
			}

			@include bp(tablet) {
				display: none;
			}

			&__title {
				font-size: 16px !important;
			}
		}

		&__txt {
			color: $c-secondary;
			font-weight: 700;
			font-size: 25px;
			margin-left: 17px;

			@include bp(desktop) {
				margin-left: 10px;
				font-size: 20px;
				flex-shrink: 0;
			}

			@include bp(tablet-m) {
				display: none;
			}

			@include bp(tablet) {
				display: flex;
			}
		}
	}

	&-coming {
		color: $c-text;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		flex-shrink: 0;
		margin-left: 25px;
		width: 320px;
	}

	&__remaining {
		// color: #556490;
		color: #fff;
		font-weight: 600;
		font-size: 15px;
		// opacity: .7;
		opacity: 1;

		@include bp(tablet) {
			margin-top: 15px;
			padding-top: 10px;
			border-top: 1px solid $c-bgicon;
		}
	}

	&__live {
		border-left: 1px solid #fff;
		padding-left: 1rem;
		margin-left: 1rem;
		color: #fff;
		font-weight: 600;

		@include bp(mobile) {
			padding-left: 0;
			margin-left: 0;
			border: none;
		}
	}
}

/* .lesson-item {
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  transition: all .3s ease-in-out;

  &:hover:not(.disabled) {
    box-shadow: 0px 9px 21px 0px rgba(41, 53, 108, 0.1);
    transform: translateY(-2px);

    .lesson-item__title {
      opacity: 1;
      color: $c-secondary;
    }
  }

  &.visited {
    .lesson-item__title {
      color: $c-alt;
      opacity: 1;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .lesson-item__icon {
      color:$c-secondary;
      opacity: .4;
    }

    .lesson-item__title {
      opacity: .45;
    }
  }

  &__wrp {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__icon {
    display: inline-flex;
    color: $c-alt;
    font-size: 45px;
    margin-right: 20px;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: stretch;
  }

  &__title {
    line-height: 1.3em;
    color: $c-secondary;
    font-weight: 700;
    font-size: 20px;
    opacity: .7;
    transition: all .3s ease-in-out;
  }

  &__tag {
    color: $c-secondary;
    opacity: .55;
    font-size: 16px;
    margin-right: 10px;
  }

  &-inf {
    display: flex;
    align-items: stretch;
    align-self: stretch;

    &__item {
      margin-left: 25px;
      display: flex;
      align-items: center;
      padding-right: 25px;
      border-right: 1px solid #dde3eb;
    }

    &__icon {
      display: inline-flex;
      color: $c-alt;
      margin-right: 15px;
    }

    &__txt {
      line-height: 1.3em;
      font-weight: 600;
      color:$c-secondary;
      opacity: .55;
      font-size: 15px;
    }
  }

  &-progress {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 25px;
    width: 300px;

    .progress {
      width: 225px;
      flex-shrink: 0;
    }

    &__txt {
      color:$c-secondary;
      font-weight: 700;
      font-size: 25px;
      margin-left: 17px;
    }

  }
}

*/
