@import "../variables";

.lessons {
  &-detail {
    transition: .3s;
  }
}

.lesson {
  &-detail {
    &__cnt {
      margin-top: -120px;

      @media (max-width: 1400px) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (max-width: 1360px) {
        padding-left: 70px;
        padding-right: 70px;
      }

      @include bp(tablet-m) {
        padding-left: 0;
        padding-right: 0px;
      }
    }

    &__remaining {
      display: block;
      text-align: center;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &-cover {
    height: 575px;
    box-shadow: 0px 11px 29px 0px rgba(44, 65, 88, 0.34);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp(tablet) {
      height: 300px;
    }

    &-main {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
    }

    &__continue {
      margin-top: 50px;
    }

    &__img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(25, 115, 158, 0.45);
      // background-image: linear-gradient(to top, rgba(25, 115, 158, 0.85) 0%, rgba(25, 116, 158, 0.459) 100%);
      border-radius: 10px;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__desc {
      width: 70%;
      text-align: center;
      font-size: 1rem !important;
      color: #fff !important;
      padding-top: 2rem;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
      cursor: default;
      user-select: none;

      & > p > span {
        color: red !important;
      }

      & * {
        color: red !important;
      }

      & > p {
        font-size: inherit !important;
        color: inherit !important;
        color: red !important;
      }

      & span {
        color: red !important;
        font-size: 1rem !important;
        font-family: inherit !important;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      flex: 1 1 auto;
      position: relative;
    }

    &__play {
      // position: absolute;
      // background: rgba(215, 231, 246, 0.2);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      display: block;
      color: #fff;
      font-size: 3rem;
      padding: 0;
      z-index: 2;
      cursor: pointer;
      position: relative;
      z-index: 1;
      box-shadow: inset 0px 0px 176px -89px rgba(0, 0, 0, 0.58);

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        border-radius: 50%;
        z-index: -1;
        width: 122%;
        height: 122%;
        background: rgba(255, 255, 255, .2);
        transition: .3s;
      }

      @keyframes hoverPlay {
        0% {
          transform: translate(-50%, -50%) scale(1);
        }

        50% {
          transform: translate(-50%, -50%) scale(1.1);
        }

        100% {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      &:hover {
        &:after {
          animation: hoverPlay 2s infinite forwards;
        }
      }

      @include bp(tablet) {
        width: 120px;
        height: 120px;
        font-size: 2.5rem;
      }

      @include bp(mobile) {
        width: 100px;
        height: 100px;
        font-size: 2.2rem;
      }

      .button__wrp {
        width: 100%;
        height: 100%;
        background: #0ea6ce;
        border-radius: 50%;
        transition: .2s;
      }

      .button__icon {
        font-size: inherit;

        .icon {
          // filter: drop-shadow(0px 6px 12px rgba(22, 22, 66, 0.45));
        }
      }
    }

    &__lesson {
      display: flex;
      align-items: center;
      color: #fff;

      &--icon {
        font-size: 3rem;
      }

      &--text {
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: 600;
      }
    }

    &__progress {
      position: relative;
      z-index: 3;
      cursor: pointer;
    }

    &__statusbar {
      margin-top: 0;
    }
  }
}

.lesson-countdown {
  color: #fff;

  &__title {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }

  &-list {
    display: flex;
    justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100px;

      & > .time {
        font-size: 3rem;
      }

      & > .text {
        text-transform: uppercase;
      }
    }
  }
}
