@import '../variables';

.lessons-meta {
  display: inline-flex;

  &__icon {
    margin-right: 10px;
  }

  &__text {
    font-weight: 500;
    color: $c-secondary;

    @include bp(tablet-m) {
      font-size: 15px;
    }
  }
}