@import '../variables';

.lesson-homework {
  &__item {
    display: flex;
    padding: 13px 13px 13px 13px;
    margin-top: 13px;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    position: relative;

    @include bp(tablet) {
      padding: 13px 0;
      flex-flow: wrap;
      align-items: flex-end;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #dde3eb;

      @include bp(tablet) {
        width: 100vw;
        margin-left: -10px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
      background: $c-bgmain;
      border-radius: 0.5rem;
      z-index: -1;
      opacity: 0;
      transition: 0.3s;

      @include bp(tablet) {
        display: none;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }

    &.disabled {
      .lesson-homework__left,
      .lesson-homework-progress__title,
      .lesson-homework-progress__txt {
        opacity: 0.65;
      }
    }
  }

  &__title {
    color: $c-primary;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: 600;

    @include bp(tablet) {
      margin-top: 5px;
    }
  }

  &__txt {
    color: $c-secondary;
    font-size: 16px;

    @include bp(tablet) {
      font-size: 15px;
      // order: 3;
    }
  }

  &__left {
    width: 50%;

    @include bp(tablet) {
      // width: calc(100% - 65px - 10px);
      width: 100%;
      order: 1;
      border-bottom: 1px solid #dde3eb;
      padding-bottom: 15px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    width: 550px;
    position: relative;

    @include bp(tablet) {
      width: calc(100% - 65px - 10px);
    }

    &::after {
      @include bp(tablet) {
        // content: '';
        // position: absolute;
        // top: 0;
        // left: 0%;
        // width: calc(100vw - 60px);
        // height: 1px;
        // background: #dde3eb;
      }
    }

    @include bp(tablet) {
      order: 3;
      margin-top: 15px;
    }
  }

  .ml-auto {
    @include bp(tablet) {
      order: 4;
      width: 65px;
      position: relative;
      top: 10px;
    }
  }

  &__app {
    display: inline-flex;
    font-size: 35px;
    padding: 10px 15px;
    margin-right: 15px;
    flex-shrink: 0;
    color: rgb(14, 166, 206);
    border-right: 1px solid #dde3eb;

    @include bp(tablet) {
      padding: 10px 5px;
      font-size: 30px;
      margin-right: 10px;
      border-right: none;
      display: none;
    }
  }

  &-progress {
    display: flex;
    align-items: center;
    width: 100%;

    @include bp(tablet) {
      width: calc(100% - 65px - 10px);
    }

    &__title {
      color: $c-secondary;
      font-size: 1rem;
    }

    &__txt {
      color: $c-secondary;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
