@import '../variables';

.lessons-header {
  background: #e3eaf6;
  padding-top: 145px;
  padding-bottom: 120px;
  transition: 0.3s;

  @media (max-width: 1400px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 1360px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include bp(tablet-m) {
    padding-left: 0;
    padding-right: 0px;
    padding-top: 100px;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #ced5de;
  }

  &-head {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    display: inline-flex;
    font-size: 57px;

    @include bp(tablet) {
      font-size: 45px;
    }
  }

  &__title {
    margin-left: 25px;
    font-size: 25px;
    font-weight: 600;
    color: #a9b3cb;

    @include bp(tablet) {
      font-size: 23px;
      margin-left: 15px;
    }
  }

  &__buttons {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
  }

  &__back.button {
    height: 48px;
    background: #d8e0ee;
    border-radius: 50px;
    padding: 10px 17px;
    color: #7d97ad;
    min-height: initial;
    transition: 0.15s;

    @include bp(tablet) {
      padding: 5px 15px;
      font-size: 14px;
      margin-left: 5px;
    }

    .button__icon {
      font-size: 16px !important;
      margin-right: 10px;

      @include bp(tablet) {
        margin-right: 0;
      }
    }

    &:hover {
      color: $c-primary;
    }
  }


  &-toggle {
    display: inline-flex;
    align-items: center;
    width: 200px;
    cursor: pointer;

    @include bp(tablet) {
      flex-direction: row-reverse;
      width: max-content;
      flex-shrink: 0;
      margin-right: 15px;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }

    &__switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
      border-radius: 100px;
      margin: 0;
      background: #fff;
      cursor: pointer;

      @include bp(tablet) {
        margin-left: 10px;
      }

      & .lessons-header-toggle__slider {
        position: absolute;
        transition: 0.25s;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        top: 3px;
        background-color: $c-bgalt;
        display: flex;
        align-items: center;
        justify-content: center;

        &--icon {
          transition: 0.25s linear;
          color: $c-bgalt;
        }

        &.active {
          transform: translateX(30px);
          background: $c-alt;
        }
      }
    }

    &__text {
      margin-left: 0.5rem;
      color: $c-text-dark;

      @include bp(tablet) {
        margin-left: 0;
      }
    }

    & .vbtn-txt {
      display: block;
    }

    &.done {
      background: darken($color: #4eea89, $amount: 25);
      color: #fff;
      transition: 0.2s;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include bp(tablet) {
      flex-direction: column;
    }

    &__left {
      display: flex;
      align-items: center;

      @include bp(tablet-m) {
        width: 50%;
      }

      @include bp(tablet) {
        justify-content: flex-start;
        width: 100%;
      }
    }

    &__icon {
      display: inline-flex;
      width: 55px;
      height: 55px;
      background: #fff;
      border-radius: 6px;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      margin-right: 17px;
      transition: 0.3s;

      @include bp(tablet-m) {
        margin-right: 5px;
        font-size: 24px;
        width: 50px;
        height: 50px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 1.3em;
      margin-bottom: 3px;

      @include bp(desktop) {
        display: -webkit-box;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 21px;
      }

      @include bp(tablet-m) {
        font-size: 20px;
      }

      @include bp(mobile) {
        font-size: 20px;
        width: 100%;
        -webkit-line-clamp: 2;
      }
    }

    &__cnt {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    &__head {
      border-left: 1px solid #ced5de;
      padding-left: 17px;

      @include bp(tablet-m) {
        border-left: none;
        padding-left: 10px;
      }

      @include bp(tablet) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    }

    &__tags {
      display: flex;
      align-items: center;
    }

    &__tag {
      margin-right: 10px;
      color: $c-secondary;
      opacity: 0.75;
      font-size: 16px;
    }

    &__right {
      margin-left: auto;

      @include bp(tablet-m) {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }

      @include bp(tablet) {
        justify-content: flex-start;
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #ced5de;
      }
    }
  }

  &-date {
    display: flex;
    align-items: center;
    line-height: 1;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      padding: 15px 25px;

      @include bp(desktop) {
        padding: 15px 10px;
      }

      @include bp(tablet-m) {
        padding-left: 5px;
        padding-right: 5px;
      }

      @include bp(tablet) {
        padding: 10px;
      }

      &+& {
        border-left: 1px solid #ced5de;

        @include bp(tablet-m) {
          border-left: none;
        }
      }

      &:last-child {
        padding-right: 5px;
      }
    }

    &__icon {
      display: inline-flex;
      margin-right: 10px;
      font-size: 20px;

      @include bp(tablet-m) {
        flex-shrink: 0;
      }
    }

    &__txt {
      color: $c-secondary;
      font-size: 16px;
      font-weight: 600;
      opacity: 0.7;

      @include bp(tablet-m) {
        flex-shrink: 0;
      }
    }
  }

  & .with-tooltip {
    position: relative;

    &>.tooltip {
      margin-bottom: 0;
    }

    &:hover {
      &>.tooltip {
        opacity: 1;

        &--top {
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
        }
      }
    }
  }
}