@import '../variables';

.lessons-about {
  padding: 5px 15px;

  &-header {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 15px 0;
    align-items: center;
    flex-flow: wrap;

    &__educator {
      display: inline-flex;
      flex-direction: column;
      line-height: 1;
      margin: 0px 15px 10px 0;

      &-title {
        color: $c-secondary;
        font-weight: 600;
      }

      &-person {
        color: $c-primary;
        font-size: 18px;
        font-weight: 600;
        margin-top: 0.5rem;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      height: 100%;

      @include bp(tablet) {
        display: none;
      }

      &-item {
        height: 100%;
        display: flex;
        align-items: center;

        &+& {
          border-left: 1px solid rgba(156, 175, 191, 0.4);
          margin-left: 20px;
          padding-left: 20px;

          @include bp(mobile) {
            margin-left: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  &-main {
    border-top: 1px solid rgba(156, 175, 191, 0.15);
    padding: 25px 0;

    &__static {
      // user-select: none;
      color: #556490;

      & * {
        color: $c-text !important;
        font-size: 1rem !important;
        font-family: inherit !important;
      }

      p {
        color: $c-text;
        font-size: 16px !important;
        font-family: inherit !important;

        a {
          text-decoration-line: none !important;
          color: #859db2 !important;
          font-weight: 500 !important;
          font-size: 16px !important;
        }

        & span {
          font-size: 16px !important;
          font-family: inherit !important;
        }
      }

      &>p+p {
        margin-top: 20px;
      }
    }
  }

  &-footer {
    border-top: 1px solid rgba(156, 175, 191, 0.15);
    padding: 1rem 0 0.5rem;

    &__title {
      color: $c-secondary;
      font-weight: 600;
      display: block;
      padding-bottom: 1rem;
    }
  }

  &-topics {
    display: flex;
    margin-top: 20px;
    flex-flow: wrap;
    padding-bottom: 15px;

    &__topic {
      // padding: 10px 25px;
      font-weight: 600;
      color: $c-secondary;
      // background: rgba($color: #cbd3e4, $alpha: 0.3);
      // border-radius: 6px;
      // margin-right: 20px;
      // margin-bottom: 20px;

      &+& {
        margin-left: 10px;
      }

      @include bp(mobile) {
        padding: 7px 15px;
        font-size: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &-documents {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      align-items: center;

      button {
        @include bp(mobile) {
          width: 100%;
          white-space: normal;
        }

        .button__txt {
          @include bp(mobile) {
            display: -webkit-box;
            white-space: normal;
            text-align: left;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            width: auto;
          }
        }
      }

      &+& {
        margin-top: 1rem;
      }
    }

    &__itemtitle {
      margin-right: 1rem;
      color: $c-text;
    }
  }

  &-download {
    height: 46px;
    padding: 0 1.5rem;
    text-transform: none;
    text-align: center;
    justify-content: center;

    & .vbtn__icon {
      margin-right: 0;
    }
  }
}