@import "../variables";

.ls-box {
  margin-top: 15px;
  min-height: 330px;
  position: relative;


  &__group {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;


    &.active {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      transition-delay: .15s;

      .ls-box__item {
        opacity: 1;
        transform: none;

        &:nth-child(1) {
          transition-delay: .25s;
        }

        &:nth-child(2) {
          transition-delay: .35s;
        }

        &:nth-child(3) {
          transition-delay: .45s;
        }

      }

    }

  }

  &__item {
    width: 33.33%;
    margin-right: 29px;
    border-radius: 11px;
    color: #8da3b6;
    padding: 15px 0;
    opacity: 0;
    transform: translateY(55px);
    position: relative;
    transition: all .3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: #ffffff;
      z-index: -1;
      border-radius: 11px;
      transition: all .3s ease-in-out;
    }

    &:hover {
      &:before {
        background: #e8eef4;
      }
    }

    &:last-child {
      margin-right: 0;
    }


    &.none {
      color: #8da3b6;
    }

    &.continue {
      color: $c-alt;

      .ls-box__date {
        color: $c-alt;
        font-weight: 700;
      }

    }

    &.completed {
      color: $c-success;
    }

    &.active {
      border-radius: 11px 11px 0 0;

      &:after {
        @include pseudo;
        bottom: 0;
        left: 0;
        background: $c-alt;
        width: 100%;
        height: 5px;
        border-radius: 0 0 11px 11px;
      }
    }

  }

  &__header {
    padding: 0px 25px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $c-secondary;
    font-weight: 500;
    font-size: 16px;
  }

  &__icon {
    display: inline-flex;
    font-size: 41px;
    color: currentColor;
    margin-right: 20px;
  }

  &__lesson {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9dfe2;
    padding: 10px 0;
    margin-top: 10px;
  }

  &__inf {
    color: $c-secondary;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 700;
  }

  &-status {
    flex-shrink: 0;
    width: 55px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #d9e1ea;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $c-secondary;
  }

  &__cnt {
    padding: 15px 13px;
  }

  &-ctr {

    .status-info__item:hover {
      background: #fff;
    }

    &__item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 11px 15px 7px;
      border-radius: 7px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background: #e2eaf2;
      }

    }

    &__title {
      font-size: 15px;
      color: $c-secondary;
      opacity: .8;
      line-height: 1em;
    }

    &__val {
      font-weight: 700;
      color: $c-secondary;
      font-size: 16px;
    }

    &__status {
      width: 1em;
      height: 1em;
      background: #d0d9e5;
      position: absolute;
      right: 15px;
      top: 50%;
      border-radius: 50%;
      font-size: 10px;
      transform: translateY(-50%);

      &.none {
        background: $c-default
      }

      &.continue {
        background: $c-alt;
      }

      &.completed {
        background: $c-success;
      }

    }

    &__icon {
      display: inline-flex;
      font-size: 29px;
      margin-left: auto;
      margin-right: 35px;
    }

  }








}