.lesson-accordion {
  border-top: 1px solid #dde3eb;
  padding-top: 20px;
  margin-top: 20px;

  &__item {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3eb;

    &:last-child {
      border-bottom: 0;
    }

    &.active {
      .lesson-accordion-header__title {
        color: $c-primary;
      }

      .lesson-accordion-header__icon {
        color: $c-primary;

        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

  }

  &-header {
    display: flex;
    align-items: center;
    min-height: 50px;
    cursor: pointer;

    &:hover {
      .accordion-header__title {
        color: $c-primary;
      }

      .accordion-header__icon {
        color: $c-primary;
      }

    }

    &__txt {
      color: #7d97ad;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 16px;
    }

    &__icon {
      width: 31px;
      height: 31px;
      background: #eef3f6;
      margin-right: 25px;
      color: #7d97ad;
      position: relative;
      font-size: 13px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 2px;
        transform: translate(-50%, -50%);
        background: currentColor;
        transition: all .3s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 1em;
        transform: translate(-50%, -50%);
        background: currentColor;
        transition: all .3s ease-in-out;
      }

    }

    &__title {
      font-weight: 700;
      color: #7d97ad;
      font-size: 20px;
      transition: all .3s ease;
    }

  }

  &__content {
    padding-left: 39px;
    margin-top: 10px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #4545a2;
    }

    ul {
      margin-bottom: 0;
    }

  }

}