@import '../variables';

.lessons-watch {
  height: 100vh;
  width: 100%;
  padding: 0rem 6.5rem;
  background: $c-bgmain;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  @include bp(tablet-m) {
    height: 90vh;
    padding: 0rem 30px;
  }

  &-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    &.detail-right {
      margin: 0;
      position: static !important;
    }

    .detail-close {
      &:hover {
        color: #8e98b3 !important;
      }
    }
  }

  &-box {
    flex-grow: 1;
    flex-basis: auto;
  }

  &__dark {
    margin-right: 20px;
    background: #e4eaf0;
    width: 46px;
    height: 46px;
    margin-top: 1px;
    transition: .3s;

    &:hover {
      box-shadow: none;
    }
  }

  &-info {
    display: inline-flex;
    align-items: center;
    height: 80px;

    &__icon {
      color: #4545a2;
      font-size: 45px;
    }

    &-text {
      display: inline-flex;
      flex-direction: column;
      padding-left: 20px;
      line-height: 1;

      &__title {
        color: $c-primary;
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;
      }
    }
  }

  &-meta {
    /* background: linear-gradient(
      to top,
      transparent 20%,
      rgba(#000000, 0.75) 100%
    ); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 256;
    width: 100%;
    height: auto;
    opacity: 1;
    /* visibility: hidden;
    transition: 0.5s; */
    transition: .3s;
    /* box-shadow: 0 15px 21px 0 rgba(41, 53, 108, 0.12); */

    &__top {
      padding: 0;
    }

    /* &.visible {
      visibility: visible;
      opacity: 1;
    } */

    .vbtn {
      flex-shrink: 0;

      @include bp(mobile) {
        padding: 12px 25px;
        font-size: 15px;
      }
    }
  }

  &__back {
    color: $c-secondary;
    padding: .7rem 1.5rem;
    transition: .3s;

    &:hover {
      background-color: $c-default;
      color: $c-primary;
    }
  }

  &-kbd {
    width: 400px;
    max-width: 400px;
    border: none;
    font-family: inherit;
    border-radius: 0.5rem;
    font-size: 1rem;

    &__inner {
      width: 100%;
    }
  }
}

.myiframe {
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0 24px rgba(85, 100, 144, 0.15);

  &.passive {
    pointer-events: all;
  }

  &.done {
    pointer-events: all;
  }

  html {
    overflow: hidden !important;
  }
}

.error-device-message {
  width: 100%;
  // background: #fff url('../../img/bg-of-deneme-modal.png') no-repeat center center / cover;
  background: #fff;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: 9999;
  line-height: 32px;

  @media (max-width:1000px) {
    display: flex;
  }

  &--icon {
    font-size: 50px;
    color: #4545a2;
    margin-bottom: 10px;
  }

  &--title {
    font-size: 25px;
    color: #4545a2;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
  }

  &--txt {
    font-size: 20px;
    color: #7d88a8;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    opacity: 0.8;
    margin-top: 20px;

    @include bp(tablet) {
      text-align: center;
    }

  }

  button {
    margin-top: 30px;
  }

  &__back.button {
    height: 48px;
    background: #d8e0ee !important;
    border-radius: 50px;
    padding: 10px 17px;
    color: #7d97ad;
    min-height: initial;
    transition: 0.15s;

    @include bp(tablet) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }

    .button__icon {
      font-size: 16px !important;
      margin-right: 10px;

    }

    &:hover {
      color: #556490;
    }
  }
}