.mobile-menu {
  display: none;

  @include bp(tablet) {
    display: block;
  }

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: #e7ecf2;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% - 0px);
  z-index: 262;
  transition: 0.3s;
  z-index: 1;
  transform: translateY(20px);

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);

    .mobile-menu {
      &__top {
        opacity: 1;
      }
    }
  }

  &__top {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    position: relative;
    border-bottom: 1px solid rgba(#556490, 0.3);
    opacity: 0;
    transition: 0.3s;

    &--close-icon {
      background: #d7dde9;
      color: #556490;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;

      @include bp(tablet) {
        display: flex;
      }
    }

    &--logo {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: auto;
    }
  }

  &__account {
    margin: 0 15px;
    border-radius: 8px;
    padding-bottom: 10px;
    height: 63px;
    transition: 0.5s;
    overflow: hidden;

    &.active {
      background: #fff;
      height: 235px;
      margin-bottom: 10px;

      .mobile-menu__account-button {
        background: #fff !important;
      }

      .select__caret {
        &:after {
          top: 9px;
          left: 7px;
          transform: rotate(180deg);
        }
      }
    }

    &-button {
      position: relative;
      background: #d7dde9 !important;
      color: #556490;
      width: calc(100%);
      padding: 10px 15px;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    &-txt {
      font-weight: 600;
    }

    &-icon {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      font-size: 22px;
    }

    .header-account__list {
      padding: 0 15px;

      .header-account__item {
        font-size: 16px;
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }

        &:nth-child(6) {
          padding-bottom: 15px;
        }

        &.logout,
        &.help {
          padding: 12px 0px;
        }
      }
    }
  }

  &__apps {
    .apps-list {
      width: 100%;
      padding: 10px 20px;
    }
  }

  &__magaza {
    padding: 0 15px;
    justify-content: flex-start !important;
    text-align: left !important;

    .button {
      background: #d7dde9 !important;
      padding: 10px 15px !important;

      &__wrp {
        justify-content: flex-start !important;
      }

      .button__txt,
      .button__icon {
        color: #556490;
      }

      .button__icon {
        margin-right: 10px;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.09);
        font-size: 22px;
      }
    }
  }

  &__scroll {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 170px;
  }

  &__search {
    .header-menu-search {
      margin-left: 0;
      border-bottom: 1px solid rgba(#556490, 0.3);

      &__icon {
        color: #556490;
      }

      &__input {
        color: rgba(#556490, 1);

        &::placeholder {
          color: rgba(#556490, 0.5);
        }

        &:focus {
          color: rgba(#556490, 1);

          &::placeholder {
            color: rgba(#556490, 1);
          }
        }
      }

      &-results {
        z-index: 12;
        width: 90%;
        left: 5%;
        top: 70px;

        overflow-y: scroll;

        &__list {
          max-height: 100%;
          overflow-y: initial;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}
