@import '../variables';

.modal {
  overflow: visible;
  position: relative;
  background: $c-bgmain;
  border-radius: 8px;
  width: 100%;
  display: block;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  max-width: 750px;

  @include bp(tablet-small) {
    width: 90%;
  }

  @include bp(mobile) {
    width: 100%;
    height: 100vh;
  }

  &__nopadding {
    margin: -25px !important;
  }

  &__overlay {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #222255;
    top: 0;
    left: 0;
    background: rgba(34, 34, 85, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity;
  }

  &__inner {
    position: relative;
    height: auto;
    min-height: inherit;
    left: 0;
    top: 0;
    will-change: transform;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
  }

  &__header {
    padding: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    border-bottom: 1px solid #e3e8f0;
    flex-direction: column;
  }

  &-footer {
    border-top: 1px solid #e3e8f0;
    padding: 25px;
  }

  &__icon {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 76px;
    height: 76px;
    background: #44449f;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #fff;
  }

  &__title {
    display: block;
    text-align: center;
    color: #44449f;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3em;
  }

  &__txt {
    color: #556490;
    font-weight: 300;
    font-size: 16px;
  }

  &__subtitle {
    display: block;
    text-align: center;
    color: #adb5c9;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__description {
    display: block;
    text-align: center;
    color: $c-secondary;
    opacity: 0.7;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    margin-top: 10px;
  }

  &__content {
    padding: 25px;
    max-height: calc(100vh - 320px);
    overflow: auto;
  }

  &-video {
    .modal__content {
      padding: 0;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
    }

    &__wrp {
      min-width: 725px;
      display: block;
      max-height: 85vh;
      transition: all 0.3s;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      min-height: 401px;
      box-shadow: 3px 8px 36px rgba(19, 24, 46, 0.2);
    }

    &__iframe {
      width: 100%;
      height: 100%;
      display: block;
      min-height: 496px;
      border-radius: 8px;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35, 28, 97, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &.hide-overlay {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0.2s;
      }

      .button {
        width: 85px;
        height: 85px;
      }
    }
  }

  &-download {
    .modal__cnt {
      overflow: visible;
    }

    .modal__inner {
      min-width: 515px;
    }
  }

  &-pick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    border-top: 1px solid #ebeff4;
    border-bottom: 1px solid #ebeff4;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .button {
      width: 51px;
      height: 51px;
      font-size: 26px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &__txt {
        font-size: 19px;
      }

      &:hover,
      &.active {
        color: $c-alt;
      }
    }

    &__list {
      &:only-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    padding: 10px;
    position: absolute;
    top: 60px;
    transform: translateY(-100%);
    border-radius: 50%;
    color: #4545a1;
    font-size: 15px;
    width: 41px;
    height: 41px;
    min-height: initial;
    right: 20px;
    opacity: 0.3;
    z-index: 9;

    @include bp(tablet) {
      background: #d7dde9;
      color: #556490;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 1;
    }

    .button__icon {
      font-size: inherit;
    }
  }

  &-cluebank {
    .modal__header {
      justify-content: flex-start;
    }

    .modal__icon {
      background: none;
      width: auto;
      height: auto;
      font-size: 87px;
    }

    .modal__title {
      font-size: 30px;
    }
  }
}

.profile-modal {
  max-width: 500px;
  .modal__badges {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    flex-flow: wrap;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d9e1ea;
    margin-bottom: -15px;

    img {
      width: 40px;
      margin-right: 5px;
    }

    span {
      width: 40px;
      height: 40px;
      background: #e7ebf1;
      color: #818cad;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }

  .modal__icon {
    img {
      border-radius: 100%;
    }
  }
}
