@import '../variables';

.note-add {
  background: #e4eaf1;
  border-radius: 8px;
  padding: 20px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ced7e4;
    padding-bottom: 15px;
    transition: border-bottom-color .3s ease-in-out;

    &__left {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    display: inline-flex;
    font-size: 36px;
    color: $c-primary;
    margin-right: 15px;
  }

  &__subtitle {
    line-height: 1em;
    color: $c-secondary;
    font-weight: 500;
  }

  &__title {
    line-height: 1.3em;
    color: $c-primary;
    font-weight: 700;
    font-size: 19px;
  }

  &__input {
    padding: 12px;
    margin-top: 12px;
    height: 180px;
    border-radius: 8px;

    &:focus {
      box-shadow: 0px 13px 21px 0px rgba(41, 53, 108, 0.09);
      background: #fff;
    }

  }

}