//.notes {
//
//  &__item {
//    background: #e2e8f0;
//    margin-bottom: 15px;
//    border-radius: 10px;
//    padding: 15px;
//    cursor: pointer;
//    position: relative;
//    min-height: 165px;
//    transition: all .3s ease-in-out;
//
//    & > * {
//      user-select: none;
//    }
//
//    &:hover {
//      background: #fff;
//      box-shadow: 0 9px 31px 0 rgba(41, 53, 108, 0.15);
//
//      .notes-header__title {
//        color: #4444a1;
//      }
//
//      .item-options {
//        border-color: #8d95b5;
//      }
//
//    }
//
//    &.editing {
//      background: #e2e8f0;
//      box-shadow: none;
//      min-height: 300px;
//    }
//
//    .form {
//      padding: 15px 20px!important;
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//
//      textarea.form-input {
//        height: 125px;
//      }
//
//      .select {
//        max-width: calc(100% - 55px);
//      }
//
//      .button.form-close {
//        position: absolute;
//        background: $c-bgicon;
//        right: 15px;
//        top: 19px;
//        z-index: 12;
//        border-radius: 50%;
//        width: 39px;
//        height: 39px;
//        min-height: inherit;
//        padding: 5px;
//        font-size: 12px;
//        color: #777e92;
//
//        .button__icon {
//          font-size: 13px;
//        }
//
//        &:hover {
//          color: $c-word-other;
//        }
//
//      }
//
//    }
//
//    .button--add {
//      min-height: 51px;
//    }
//
//    .form-bottom {
//      justify-content: space-between;
//    }
//
//    .toolbar-form {
//      margin-top: 0!important;
//      margin-bottom: 0!important;
//    }
//
//    .toolbar-form textarea.form-input {
//      height: 130px!important;
//    }
//
//  }
//
//  &-header {
//    display: flex;
//    align-items: center;
//    padding-bottom: 15px;
//    border-bottom: 1px solid #d7dfea;
//
//    &__icon {
//      display: inline-flex;
//      font-size: 37px;
//      margin-right: 15px;
//    }
//
//    &__date {
//      line-height: 1em;
//      font-size: 14px;
//      color: $c-secondary;
//    }
//
//    &__title {
//      //color: #4444a1;
//      color: $c-secondary;
//      font-weight: 700;
//      font-size: 19px;
//      margin-right: 15px;
//      text-transform: capitalize;
//      transition: color .3s;
//    }
//
//
//  }
//
//  &-options {
//    margin-left: auto;
//    position: relative;
//  }
//
//  &__cnt {
//    padding: 15px 7px 5px;
//  }
//
//  &__txt {
//    color:$c-secondary;
//    font-weight: 500;
//    font-size: 16px;
//
//    .button {
//      margin-top: 5px;
//      padding-left: 0;
//    }
//
//  }
//
//
//
//}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//