@import '../variables';

.note-card {
  background: #e4eaf1;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:first-child {
    margin-top: 15px;
  }

  &:hover {
    box-shadow: 0px 13px 21px 0px rgba(41, 53, 108, 0.09);
    background: #fff;

    .note-card-header {
      border-color: #e3e8f0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ced7e4;
    padding-bottom: 15px;
    transition: border-bottom-color 0.3s ease-in-out;

    &__left {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    display: inline-flex;
    font-size: 36px;
    color: $c-primary;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > img {
      height: 32px;
      width: auto;
    }
  }

  &__subtitle {
    line-height: 1em;
    color: $c-secondary;
    font-weight: 500;
  }

  &__title {
    line-height: 1.3em;
    color: $c-primary;
    font-weight: 700;
    font-size: 19px;
  }

  &__content {
    padding-top: 15px;
    color: $c-secondary;
    font-size: 17px;
    @include bp(tablet) {
      font-size: 15px;
    }
  }
}
