@import '../variables';

.is-home-performance,
.is-leaderboard {
  &.connectedError {
    background: #fff !important;
    border-radius: 10px;
    margin-top: -15px;
    padding-bottom: 1px;
    margin-bottom: 0;
  }
}

.performance {
  margin: 0;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);

  &--dark {
    background: #f7f9fc;
    border-radius: 10px 0 0 10px;

    @include bp(tablet) {
      border-radius: 10px;
      margin-bottom: 15px;
    }
  }

  &--light {
    background: #fffeff;
    border-radius: 0 10px 10px 0;

    @include bp(tablet) {
      padding: 0;
      border-radius: 10px;
      overflow: hidden;
    }

    .performance--title {
      @include bp(tablet) {
        padding: 0 15px;
      }
    }
  }

  hr {
    border-color: #edf2f8;
    margin: 0;
  }

  &--title {
    height: 90px;
    padding: 0 10px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: #a4abc1;
    font-size: 15px;
    font-weight: 400;

    @include bp(tablet) {
      padding: 0;
    }
  }

  .list-of-performances {
    height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;

    &__cnt {
      display: flex;
      align-items: center;
      padding: 0;
      padding-left: 10px;

      @include bp(desktop) {
        padding-left: 0;
      }

      @include bp(tablet) {
        width: 80%;
      }

      &.f0 {
        flex-shrink: 0;

        @include bp(tablet) {
          flex-shrink: unset !important;
          width: max-content;
        }
      }
    }

    .item {
      background: white;
      padding: 15px;
      border-radius: 4px;
      margin-top: 15px;

      @include bp(tablet) {
        padding: 10px;
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 15px;

        @include bp(tablet) {
          margin-bottom: 10px;
        }
      }

      .content {
        &--icon {
          img {
            width: 32px;
            margin-right: 15px;

            @include bp(desktop) {
              width: 25px;
              margin-right: 7px;
            }
          }
        }

        &--step {
          color: #919ab4;
          font-size: 14px;
          line-height: 14px;
          margin-top: 2px;

          @include bp(tablet) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &--outer {
            @include bp(tablet) {
              width: calc(100% - 25px - 7px);
            }
          }
        }

        &--title {
          color: $c-secondary;
          line-height: 20px;
          font-size: 18px;
          letter-spacing: -0.25px;
          font-weight: 600;

          @include bp(desktop) {
            font-size: 16px;
          }
        }
      }

      .point {
        color: #b6bbcc;
        font-size: 16px;
        font-weight: 300;
        border-left: 1px solid #edf2f8;
        padding-left: 30px;
        margin-left: 30px;
        width: 100px;
        flex-shrink: 0;
        justify-content: flex-end;

        @include bp(tablet-l) {
          padding-left: 15px;
          margin-left: 15px;
          width: 70px;
          justify-content: flex-start;
          margin-top: 10px;
        }

        @include bp(tablet) {
          width: 20%;
          margin-top: 0;
          justify-content: flex-end;
          margin-left: 0;
          border-left: none;
          font-size: 14px;
        }

        span {
          margin-right: 15px;
          color: $c-secondary;
          font-weight: 700;

          @include bp(tablet-l) {
            margin-right: 7px;
          }
        }
      }
    }

    &.custom {
      .item {
        border-bottom: 1px solid #edf2f8;
        border-radius: 0;
        margin: 0;
        padding-left: 0;

        @include bp(tablet) {
          border-bottom: none;
          position: relative;
          flex-direction: row;
          padding-left: 15px;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100% + 20px);
          height: 1px;
          left: -10px;
          background: #edf2f8;
        }

        &:last-child {
          border-bottom: none;

          @include bp(tablet) {
            &:after {
              display: none;
            }
          }
        }

        .content--icon {
          img {
            width: 30px;
            height: 30px;
          }
        }

        &:hover {
          background: #f7f9fc;
        }
      }

      .list-of-eggs {
        @include bp(tablet) {}
      }
    }
  }

  .list-of-eggs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 37px;
      height: 37px;
      margin-right: 5px;

      @include bp(tablet) {
        width: 34px;
        height: 34px;
      }
    }

    span {
      width: 37px;
      height: 37px;
      background: #e6eaf1;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: $c-secondary;

      @include bp(tablet) {
        width: 34px;
        height: 34px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.statistics {
  background: #fffeff;
  border-radius: 10px;
  box-shadow: 7px 11px 16px rgba(41, 53, 108, 0.1);
  margin-top: 40px;
  flex: 0 0 49.5%;
  margin: 3% 1% 3% 0;
  padding-left: 15px;
  padding-right: 15px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @include bp(tablet-l) {
    margin-top: 5%;
    flex: 0 0 100%;
    margin-right: 0;
  }

  @include bp(tablet) {
    flex: 0 0 calc(100% - 30px);
    margin: 8% 15px;
  }

  &--title {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #a4abc1;
    font-weight: 700;
    font-size: 17px;

    strong {
      margin-right: 4px;

      &.Ders {
        color: #0ea6ce;
      }

      &.Digibook {
        color: #a6487d;
      }

      &.Wordy {
        color: #2e8273;
      }

      &.Okuma {
        color: #813f8e;
      }

      &.Sözlük {
        color: #3759a1;
      }

      &.Test {
        color: #214f86;
      }

      &.Deneme {
        color: #67419d;
      }

      &.Havuzu {
        color: #394a9c;
      }

      &.Döküman {
        color: #cc5d46;
      }
    }
  }

  &--select {
    width: 90%;
    margin: 0 auto;

    @include bp(tablet) {
      width: 100%;
    }

    .select__title {
      font-size: 16px;
      color: rgba(54, 54, 126, 0.6);
      font-weight: 600;
    }
  }

  .stats {
    background: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0) 0%,
        rgba(247, 249, 252, 1) 100%);
    background: -webkit-linear-gradient(top,
        rgba(255, 255, 255, 0) 0%,
        rgba(247, 249, 252, 1) 100%);
    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(247, 249, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f7f9fc', GradientType=0);
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e9eff6;
    padding-bottom: 10px;
    position: relative;

    @include bp(tablet) {
      margin-top: 20px;
    }

    .stats--points {
      padding: 0;
      display: flex;
      height: 200px;
      flex-direction: column;
      flex: 0 0 100%;
      padding-right: 1% !important;
      position: absolute;

      div {
        height: 50px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        color: $c-secondary;
        justify-content: center;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 90%;
          height: 1px;
          background: #e9eff6;

          @include bp(tablet) {
            width: 85%;
          }
        }

        span {
          opacity: 0.5;
          font-weight: 700;
          line-height: 12px;
          font-size: 13px;
        }
      }
    }

    .row {
      height: 100%;
      position: relative;
      top: 10px;
      width: 92%;
      left: 8%;

      @include bp(tablet) {
        width: 90%;
        left: 10%;
      }

      .points {
        height: 100%;
        flex-direction: row;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        strong {
          position: absolute;
          bottom: -25px;
          opacity: 0.5;
          font-size: 13px;
          color: $c-secondary;
          font-weight: 500;
          width: 100%;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @include bp(tablet-l) {
            font-size: 11px;
          }
        }

        span {
          width: 18%;
          margin-right: 7%;
          background: #45b6e6;
          border-radius: 100px 100px 0 0;

          &:nth-child(1) {
            background: #f76037;
          }

          &:nth-child(2) {
            background: #33a572;
          }

          &:nth-child(3) {
            background: #eeb226;
          }
        }
      }
    }
  }

  .statistics--image {
    width: 50px;
    height: 50px;
    margin: -32px auto -10px auto;

    img {
      height: 60px;
    }
  }

  .stats--graphs {
    height: 200px;
    width: 87%;
  }

  .stats--graphs .line {
    width: 100%;
    height: 1px;
    background: #e9eff6;
    display: block;
    position: absolute;
    top: 0;
  }

  .stats--graphs .line:nth-child(1) {
    position: absolute;
    top: 25px;
  }

  .stats--graphs .line:nth-child(2) {
    position: absolute;
    top: 75px;
  }

  .stats--graphs .line:nth-child(3) {
    position: absolute;
    top: 125px;
  }

  .stats--graphs .line:nth-child(4) {
    position: absolute;
    top: 175px;
  }

  .statistics-text {
    height: 400px;
    display: flex;
    flex-direction: column;

    @include bp(tablet) {
      height: auto;
    }

    &--outer {
      height: 100%;
    }

    &--bottom {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: auto;

      @include bp(tablet) {
        height: auto;
      }
    }

    &--head {
      padding: 20px 0px 10px 0px;
      margin: 0 30px 0px 30px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 25px;
      border-bottom: 1px solid #e9eff6;

      @include bp(desktop) {
        margin: 0 0px;
      }

      @include bp(tablet-l) {
        flex-direction: column;
      }

      .select-header {
        background: transparent;
        justify-content: flex-end;

        @include bp(tablet-l) {
          justify-content: flex-start;
          padding-left: 15px;
          background: #e4eaf2;
          margin-top: 10px;
          margin-bottom: 5px;
        }

        &.open {
          .select__caret {
            right: 15px;
          }
        }
      }

      .select__option {
        justify-content: flex-end;

        @include bp(tablet-l) {
          justify-content: flex-start;
        }
      }

      .select__caret {
        right: 0;
        transition: 0.3s;

        @include bp(tablet-l) {
          right: 15px;
        }
      }

      &_title {
        color: #a4abc1;
        font-size: 15px;
        font-weight: 400;

        @include bp(tablet-m) {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    &--contains {
      margin: 0 30px 0px 30px;
      border-bottom: 1px solid #e9eff6;
      padding-bottom: 10px;
      height: 160px;

      @include bp(desktop) {
        margin: 0 0px;
        padding-top: 10px;
      }

      @include bp(tablet) {
        height: auto;
      }

      .item {
        display: flex;
        flex-direction: row;
        padding: 0px 20px 10px 20px;
        font-weight: 600;
        font-size: 18px;

        @include bp(desktop) {
          padding-left: 5px;
          padding-right: 5px;
        }

        @include bp(tablet-l) {
          font-size: 16px;
        }

        &:last-child {
          @include bp(tablet) {
            padding-bottom: 0;
          }
        }

        &:nth-child(1) {
          .counter {
            .circle {
              background: #f76037;
            }
          }
        }

        &:nth-child(2) {
          .counter {
            .circle {
              background: #33a572;
            }
          }
        }

        &:nth-child(3) {
          .counter {
            .circle {
              background: #eeb226;
            }
          }
        }

        &:nth-child(4) {
          .counter {
            .circle {
              background: #45b6e6;
            }
          }
        }

        .counter {
          color: $c-secondary;
          font-weight: 700;

          .circle {
            display: inline-flex;
            background: red;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: relative;
            left: -2px;
            top: -2px;
            margin-right: 15px;
          }
        }

        .text {
          color: #919ab4;
          font-weight: 600;
          margin-left: 10px;
        }

        .points {
          margin-left: auto;
          margin-right: 0;
          color: $c-secondary;

          span {
            opacity: 0.5;
          }
        }
      }
    }

    &--total {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: rgba(85, 100, 144, 0.5);

      strong {
        color: #4545a2;
        font-size: 30px;
        line-height: 30px;
      }
    }

    &--eggs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 40px;
      height: auto;
      position: relative;

      img {
        width: 51px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      span {
        width: 42px;
        height: 42px;
        background: #eeeef4;
        border-radius: 100%;
        text-align: center;
        line-height: 42px;
        margin-left: 5px;
        color: rgba(85, 100, 144, 0.7);
        font-size: 14px;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }
}

.is-leaderboard {
  .tab-filter {
    .select__title {
      font-size: 16px;
      color: rgba(54, 54, 126, 0.6);
      font-weight: 600;
    }
  }
}

.leaderboard {
  &-profile {
    figure {
      position: relative;

      &:after {
        transition: 0.3s;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $c-primary;
        opacity: 0;
      }
    }

    &:hover {
      color: $c-primary;

      figure {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}

.leaderboard-tab {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(90deg, #fcfcfe, #f7f8fb, #fcfcfe);

  .page-content-filters__right {
    @include bp(tablet) {
      flex-direction: column;
    }

    &>div {
      @include bp(desktop) {
        max-width: 100%;
        width: 100%;
      }

      @include bp(tablet) {
        width: 100%;
        max-width: 100%;
      }

      &:last-child {
        @include bp(tablet) {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .page-content-filters__left {
    @include bp(desktop) {
      max-width: 100%;
      width: 100%;
      margin-top: 10px;
    }
  }

  @include bp(desktop) {
    flex-flow: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include bp(tablet) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .d-flex {
    @include bp(desktop) {
      width: 100%;
      margin-bottom: 15px;
    }

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  .tab-filter__item {
    max-width: 330px;

    @include bp(desktop) {
      max-width: 100%;
    }

    @include bp(tablet) {
      max-width: 100% !important;
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  .tab-filter__button {
    white-space: nowrap;
  }

  .select__option {
    &:first-child {
      span {
        display: none !important;
      }
    }
  }

  .select__option-title {
    line-height: 1.4em;
  }
}

.modal__overlay {
  &.ghost {
    .modal__content {
      max-height: 100vh !important;
    }
  }
}

.leaderboard-table {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;

  &-svgicon {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 6%;
    color: #8da3b6;
    margin-top: 20px;

    @media(max-width:1250px) {
      margin-left: 4%;
    }
  }

  &.yourself {
    border-radius: 10px;

    .table-row {
      margin-bottom: 0;
    }
  }

  @include bp(desktop) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .table-head {
    @include bp(tablet) {
      display: none;
    }
  }

  .table-row {
    &.active {
      background: transparent;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -40px;
        width: calc(100% + 80px);
        height: 100%;
        background: #e8ecf1;
      }

      .d-flex.mobile-border {
        @include bp(tablet) {
          border-top: 1px solid #d0d4d9;
        }
      }

      &:after {
        @include bp(tablet) {
          display: none;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include bp(tablet) {
      height: auto;
      padding: 10px 0;
      border-bottom: none;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -15px;
        width: calc(100% + 30px);
        height: 1px;
        background: rgba(217, 225, 236, 0.5);
      }
    }

    &__col-image {
      @include bp(tablet) {
        margin-left: -10px;
      }
    }

    .d-flex.mobile-border {
      @include bp(tablet) {
        border-top: 1px solid #e0e5eb;
        padding-top: 5px;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        &>div {
          margin-top: 10px;
          padding-right: 0px;
          margin-right: 5px;

          img {
            width: 36px;
          }

          &:nth-child(n + 6) {
            display: none !important;
          }

          &:last-child {
            display: flex !important;
            border-right: none;
          }
        }
      }
    }

    .mobile-totally-point {
      @include bp(tablet) {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        &>div {
          font-weight: 500;
        }
      }
    }

    .totally {
      &:hover {
        background: $c-bgcard;
      }

      @include bp(tablet) {
        width: 40px;
        height: 40px;
      }
    }

    &:nth-child(-n + 4) {
      .table-row__col {
        &:nth-child(2) {
          @include bp(tablet) {
            width: 10%;
            order: 2;
          }
        }

        &:nth-child(3) {
          @include bp(tablet) {
            width: 70%;
            order: 3;
            justify-content: flex-start !important;
          }
        }

        &:nth-child(4) {
          @include bp(tablet) {
            width: 100%;
            order: 5;

            .table-row__col-results {
              width: 100%;
            }
          }
        }

        &:nth-child(5) {
          @include bp(tablet) {
            width: 20%;
            order: 4;
            justify-content: flex-end;
          }
        }
      }
    }

    &:not(:nth-child(-n + 4)) {
      .table-row__col {
        &:nth-child(1) {
          @include bp(tablet) {
            width: 10%;
            order: 2;
          }
        }

        &:nth-child(2) {
          @include bp(tablet) {
            width: 70%;
            order: 3;
            justify-content: flex-start !important;
          }
        }

        &:nth-child(3) {
          @include bp(tablet) {
            width: 100%;
            order: 5;

            .table-row__col-results {
              width: 100%;
            }
          }
        }

        &:nth-child(4) {
          @include bp(tablet) {
            width: 20%;
            order: 4;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .table-row.active {
    margin-top: 0;
  }
}