@import '../variables';

.perf-card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 1px 0;
  text-align: center;

  &__title {
    margin-top: 20px;
    padding: 0 25px;
    margin-bottom: 15px;
    color: $c-secondary;
    font-weight: 800;
    font-size: 17px;
  }

  &-progress {
    display: inline-flex;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &__percent {
      font-weight: 700;
      color: $c-secondary;
      font-size: 24px;
      line-height: 1em;
      white-space: nowrap;
    }

  }

  &__bottom {
    border-top: 1px solid #d9e1ec;
    padding: 15px 15px 18px;

    strong {
      color: $c-secondary;
      font-size: 21px;
      line-height: 1em;
    }

  }

  &__txt {
    color: $c-secondary;
    opacity: .7;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 10px;
  }

}