.offer {
  &-alert {
    margin-top: -55px;
  }

  &-product {
    display: flex;

    &__cnt {
      display: flex;
      align-items: flex-start;
      padding-right: 45px;
      width: 70%;
      position: relative;
      padding-left: 95px;
    }

    &__img {
      width: 170px;
      object-fit: contain;
      position: absolute;
      top: 30px;
      left: 20px;
    }

    &__content {
      background: #4545a2;
      border-radius: 17px;
      padding: 25px;
      padding-left: 125px;
      color: #fff;
    }

    &__top {
      display: flex;
      align-items: center;
    }

    &-badge-group {
      margin-left: auto;
    }

    &-badge {
      background: #fff;
      border-radius: 50px;
      padding: 8px 25px;
      font-size: 17px;
    }

    &__title {
      font-size: 29px;
      font-weight: 900;
    }

    &-inf {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      margin-bottom: 20px;

      &__item {
        margin-right: 65px;
      }

      &__subtitle {
        font-weight: 500;
        font-size: 17px;
      }

      &__title {
        font-weight: 800;
        font-size: 19px;
      }

    }

    &__txt {
      padding-top: 20px;
      border-top: 1px solid #5f5fb7;
      margin-bottom: 30px;
      font-size: 17px;
      opacity: .8;
    }

    &__bottom {
      display: flex;
      align-items: center;

      .button {
        min-height: 70px;
        width: 50%;
        margin-right: 45px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          transform: translateY(-7px);
        }

        &--white:hover {
          box-shadow: 0px 7px 26px 2px rgba(41, 53, 108, 0.37);
        }

        &--transparent:hover {
          background: rgba(0, 0, 0, 0.15);
          color: rgb(255, 255, 255);
          box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
        }

      }

    }

  }

  &-apps {
    width: 30%;
    padding-left: 15px;

    &__title {
      font-weight: 800;
      font-size: 20px;
      color: #fff;
      margin-bottom: 15px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 24%;
      background: #3a3b96;
      margin: 3%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 85px;
      border-radius: 10px;
    }

    &__img {
      font-size: 47px;
      display: inline-flex;
      pointer-events: none;
      user-select: none;
    }

  }

}