@import '../variables';

.product-card {
  box-shadow: 0px 7px 13px 0px rgba(41, 53, 108, 0.09);
  background: #fff;
  border-radius: 11px;
  display: flex;
  align-items: stretch;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;

  @include bp(tablet-m) {
    flex-wrap: wrap;
  }

  .input-count {
    display: inline-flex;
    background: #eef3f6;
    border-radius: 50px;
    padding: 7px;
    align-items: center;

    &__btn {
      display: inline-flex;
      font-size: 27px;
      box-shadow: 0px 6px 22px 0px rgba(19, 29, 51, 0.25);
      background: white;
      width: 30px;
      height: 30px;
      line-height: 1em;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      color: #7d97ad;
    }

    &__input {
      display: block;
      padding: 5px;
      width: 40px;
      text-align: center;
      height: auto;
      margin: 0 5px;
      font-size: 17px;
    }
  }

  .custom-tooltip {
    position: relative;
    cursor: help;

    @include bp(r-tablet-small) {
      &:hover {
        .custom-tooltip__drop {
          opacity: 1;
          transform: translateX(20px);
          pointer-events: auto;
        }
      }
    }

    @include bp(tablet) {
      &.tooltip-active {
        .custom-tooltip__drop {
          opacity: 1;
          transform: translateX(20px);
          pointer-events: auto;
        }
      }
    }

    &--top {
      .custom-tooltip__drop {
        top: -13px;
        margin-top: 0;
        left: 50%;
        transform: translateY(-110%) translateX(-50%);
      }

      .custom-tooltip__caret {
        top: auto;
        bottom: 5px;
        left: 50%;
        right: auto;
        transform: translateY(100%) translateX(-50%);
        display: inline-flex;
      }

      @include bp(r-tablet-small) {
        &:hover {
          .custom-tooltip__drop {
            transform: translateY(-100%) translateX(-50%);
          }
        }
      }

      @include bp(tablet) {
        &.tooltip-active {
          .custom-tooltip__drop {
            transform: translateY(-100%) translateX(-50%);
          }
        }
      }
    }

    &__title {
      display: flex;
    }

    &__drop {
      display: block;
      position: absolute;
      min-width: 230px;
      right: 0;
      z-index: 44;
      background: white;
      border-radius: 6px;
      box-shadow: 0px 2px 39px 4px rgba(41, 53, 108, 0.25);
      transform: translateX(20px) scale(0.95) rotateX(20deg);
      transform-origin: 50% 0;
      top: 100%;
      pointer-events: none;
      margin-top: 20px;
      padding: 10px;
      opacity: 0;
      font-size: 16px;
      transition: all 0.5s;
    }

    &__caret {
      position: absolute;
      top: -10px;
      color: #fff;
      right: 23px;
      z-index: 2;
    }
  }

  .button {
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25);
    justify-content: center;
    color: $c-primary;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: #fff;
    transition: all 0.3s;
    transform: translateY(0px);
    padding: 10px 30px;
    border-radius: 7px;
    min-height: 50px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 6px;
      z-index: 4;
      opacity: 0;
      backface-visibility: hidden;
      transition: all 0.3s;
      pointer-events: none;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #4345a0;
      border-radius: 7px;
      z-index: 1;
      opacity: 0;
      backface-visibility: hidden;
      transition: all 0.3s;
    }

    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:hover {
      color: $c-primary;
      box-shadow: 0px 11px 27px 1px rgba(41, 53, 108, 0.25);
      transform: translateY(-3px);

      &:before {
        opacity: 0.15;
      }
    }

    @include bp(tablet-m) {
      padding: 10px 20px;
      min-height: 50px;
    }

    & > *:first-child {
      margin-left: 0 !important;
      margin-right: 15px;
    }

    & > *:last-child {
      margin-right: 0 !important;
    }

    &__wrp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      & > *:first-child {
        margin-left: 0 !important;
        margin-right: 15px;
      }

      & > *:last-child {
        margin-right: 0 !important;
      }
    }

    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      position: relative;
      top: 0;
      z-index: 3;
      backface-visibility: hidden;
    }

    &__txt {
      display: inline-flex;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      top: 0;
      z-index: 3;
      backface-visibility: hidden;
      transition: all 0.3s;

      @include bp(tablet-m) {
        font-size: 15px;
      }
    }

    &--primary {
      display: inline-flex;
    }

    &--secondary {
      display: inline-flex;
      background: linear-gradient(to left, #4545a1 0%, #44449f 100%);
      color: #fff;

      &:before {
        opacity: 0;
      }

      &:after {
        background: #282875;
      }

      &:hover {
        color: #fff;

        &:before {
          opacity: 0.05;
        }
      }
    }

    &--facebook {
      display: inline-flex;
      background: #1d5aac;
      color: #fff;

      &:before {
        background: #1d5aac;
      }

      &:after {
        background: #174686;
      }

      &:hover {
        color: #fff;
      }
    }

    &--square {
      width: 50px;
      height: 50px;
      padding: 10px;
      min-width: 50px;
      min-height: 50px;
      flex-shrink: 0;

      &-small {
        width: 30px;
        height: 30px;
        border-radius: 4px;
      }
    }

    &--gradient {
      background: linear-gradient(
        to left,
        rgb(32, 50, 89) 0%,
        rgb(61, 59, 148) 100%
      );
      color: #fff;
      box-shadow: 0px 15px 35px 0px rgba(35, 35, 35, 0.25);

      &:hover {
        color: #fff;
        box-shadow: 0px 15px 35px 0px rgba(35, 35, 35, 0.35);
      }
    }

    &--icon {
      .button__icon {
        margin-right: 0;
        margin-left: 0;
      }

      .button__txt {
        margin-right: 15px;
        margin-left: 0;
      }
    }

    &--gradient-blue {
      background: linear-gradient(to right, #55c9de 0%, #319fd7 100%);
      box-shadow: 0px 5px 12px 0px rgba(51, 161, 216, 0.3);
      color: #fff;
    }

    &--gradient-green {
      background: linear-gradient(to right, #2bc18c 0%, #1f8f7c 100%);
      box-shadow: 0px 5px 12px 0px rgba(34, 152, 127, 0.3);
      color: #fff;
    }

    &--gradient-red {
      background: linear-gradient(to right, #d4523d 0%, #ba3047 100%);
      box-shadow: 0px 5px 12px 0px rgba(188, 50, 71, 0.3);
      color: #fff;
    }

    &--icon-r {
      .button__icon {
        margin-right: 0;
        margin-left: 0;
      }

      .button__txt {
        margin-right: 0;
        margin-left: 15px;
      }
    }

    &--circle {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      min-width: 55px;
      min-height: 55px;
      padding: 10px;
      font-size: 20px;
      background: #fff;
      flex-shrink: 0;

      @include bp(tablet-m) {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
      }

      &.button--secondary {
        background: linear-gradient(to left, #4545a1 0%, #44449f 100%);

        &:focus {
          color: #fff;
        }
      }

      &:before,
      &:after {
        border-radius: 50%;
        display: none;
      }

      &:hover {
        transform: scale(0.9);

        .icon-font,
        .button__txt,
        .button__icon {
          top: 0;
        }
      }
    }

    &--small {
      width: 45px;
      height: 45px;
      min-height: 45px;
      min-width: 45px;

      .button__icon {
        font-size: 16px;
      }
    }

    &--scale {
      &:hover {
        transform: scale(0.9);
      }
    }

    &--fw {
      width: 100%;
    }

    &-all {
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      color: #6565a7;
      background: none;

      .icon-font {
        font-size: 13px;
        margin-left: 15px;
        transition: transform 0.3s;
      }

      @include bp(mobile) {
        font-size: 16px;
      }

      &:hover {
        color: #21325a;

        .icon-font {
          transform: translateX(10px);
        }
      }
    }

    &--third {
      background: #e7edff;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      font-weight: 700;
      font-size: 18px;
      color: #4444a1;
      line-height: 1em;
    }

    &--fourth {
      background: #eef3f6;
      display: inline-flex;
      box-shadow: none;
    }

    &-txt-icon {
      display: inline-flex;
      align-items: center;
      color: $c-primary;

      .button__icon {
        display: inline-flex;
        font-size: 14px;
        transition: none;
      }

      .button__txt {
        display: inline-flex;
        margin-left: 10px;
        line-height: 1em;
        position: relative;
        transition: none;
      }
    }

    &-txt-icon-r {
      display: inline-flex;
      align-items: center;
      color: $c-primary;

      .button__icon {
        display: inline-flex;
        margin-left: 10px;
        margin-right: 0;
        font-size: 14px;
        transition: none;
      }

      .button__txt {
        display: inline-flex;
        line-height: 1em;
        position: relative;
        top: 1px;
        margin-left: 0;
        transition: none;
      }
    }

    &--green {
      background: #32ce7b;
      color: #fff;

      &:hover {
        color: #fff;

        &:before {
          opacity: 0.05;
        }
      }

      &:focus {
        color: #fff;
      }
    }

    &--green-light {
      background: #3dd773;
      box-shadow: 0px 5px 10px 0px rgba(61, 215, 115, 0.25);
      color: #fff;

      &:hover {
        color: #fff;

        &:before {
          opacity: 0.05;
        }
      }

      &:focus {
        color: #fff;
      }
    }

    &--gray {
      background: #e3e9ef;
      color: $c-primary;
    }
  }

  .slider-arrows {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__next {
      transform: scale(1.1);
      margin-bottom: 25px;
      box-shadow: 0px 23px 43px 0px rgba(19, 29, 51, 0.24);
      position: relative;
      z-index: 2;

      &:hover {
        transform: scale(1);
      }
    }

    &__prev {
      transform: scale(0.9);
      box-shadow: 0px 28px 59px 0px rgba(19, 29, 51, 0.17);

      &:hover {
        transform: scale(0.8);
      }
    }
  }

  .btn-read-more {
    color: $c-primary;
    font-weight: 600;
  }

  .discount {
    background: #e56464;
    color: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    padding: 10px 13px;
    line-height: 1em;

    &__title {
      font-weight: 700;
      font-size: 22px;
      position: relative;
      padding-top: 2px;

      small {
        font-size: 90%;
      }
    }

    &-info {
      width: 22px;
      height: 22px;
      background: rgba(255, 255, 255, 0.65);
      border-radius: 50%;
      color: #e76361;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin-left: 8px;
      margin-right: -3px;
      cursor: pointer;

      &__icon {
        display: inline-flex;
      }
    }
  }

  &__left {
    width: 400px;
    background: rgba(238, 243, 246, 0.6);
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    flex-shrink: 0;
    border-right: 1px solid rgba(156, 175, 191, 0.21);

    @include bp(desktop) {
      width: 320px;
    }

    @include bp(tablet-m) {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid rgba(156, 175, 191, 0.21);
      border-radius: 0;
    }
  }

  &__right {
    width: 100%;
    padding: 30px 35px;

    @include bp(desktop) {
      padding: 20px 25px;
    }

    @include bp(tablet) {
      position: relative;
      z-index: 2;
    }

    @include bp(mobile) {
      padding: 15px;
    }

    @include bp(phone-s) {
      padding: 15px 10px;
    }

    & > * {
      @include bp(tablet-m) {
        &:first-child,
        &:first-child.hidden-sm + * {
          margin-top: 0;
          border-top: 0;
          padding-top: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &-mobile-head {
    width: 100%;
    border-bottom: 1px solid rgba(156, 175, 191, 0.21);
    padding: 20px 25px;

    @include bp(mobile) {
      padding: 15px;
    }
  }

  &-cover {
    padding: 35px 40px;
    border-bottom: 1px solid rgba(156, 175, 191, 0.21);
    position: relative;

    @include bp(desktop) {
      padding: 25px;
    }

    @include bp(tablet-m) {
      max-height: 360px;
      min-height: initial;

      &--multiple {
        max-height: 420px;
        padding-bottom: 45px;
      }

      &--book {
        max-height: 430px;
        min-height: initial;
      }
    }

    @include bp(tablet) {
      &--multiple {
        max-height: 350px;
        padding-bottom: 45px;
      }
    }

    @include bp(mobile) {
      max-height: 330px;
      padding: 20px 15px;

      &--multiple {
        max-height: 350px;
        padding: 20px 15px;
        padding-bottom: 45px;
      }

      &--book {
        max-height: 415px;
      }
    }

    @include bp(phone-l) {
      max-height: 300px;

      &--multiple {
        max-height: 350px;
      }

      &--book {
        max-height: 415px;
      }
    }

    &--icon {
      min-height: 280px;

      @include bp(tablet-m) {
        max-height: 240px;
      }

      @include bp(tablet) {
        max-height: 240px;
        height: 200px;
        min-height: initial;
      }
    }

    &__img {
      // box-shadow: 0px 43px 122px 0px rgba(27, 36, 78, 0.44);
      border-radius: 25px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
      display: block;

      @include bp(tablet-m) {
        max-width: 230px;
        margin: 0 auto;
      }

      @include bp(mobile) {
        max-width: 200px;
        border-radius: 15px;
      }

      @include bp(phone-l) {
        max-width: 180px;
      }
    }

    &__group {
      filter: drop-shadow(5px 15px 30px rgba(36, 45, 73, 0.45));
      width: 1em;
      height: 1em;
      font-size: 135px;
      object-fit: contain;

      @include bp(tablet-m) {
        font-size: 115px;
      }

      @include bp(tablet) {
        font-size: 105px;
      }
    }
  }

  &-gallery {
    .or {
      margin: 0;
    }

    .or__txt {
      color: #7d97ad;
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      margin-bottom: 17px;
      line-height: 1em;
    }

    &__inner {
      padding: 16px 33px 21px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      margin-right: 11px;
      max-height: 100px;
      max-width: 53px;
      height: 50px;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0px 7px 20px 0px rgba(41, 53, 108, 0.15);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0px 7px 20px 0px rgba(41, 53, 108, 0.35);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &-groups {
    padding: 25px 33px;
    @include bp(tablet-l) {
      padding: 25px 15px;
    }
    @include bp(mobile) {
      padding: 25px 0;
    }

    &.pad0 {
      padding: 0;
    }

    &__inner {
      padding: 20px 33px;
    }

    &__title {
      color: #7d97ad;
      font-weight: 700;
      text-align: center;
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 1em;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;

      @include bp(tablet) {
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
        padding-left: 10px;
      }
    }

    &__item {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      background: #dde6eb;
      margin: 0 4px;
      padding: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 55px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include bp(tablet-l) {
        flex-shrink: unset;
        width: 32px;
        padding: 6px;
        height: 32px;
        font-size: 30px;
      }
      @include bp(tablet) {
        width: 45px;
        height: 45px;
        font-size: 45px;
        flex-shrink: 0;
        padding: 10px;
      }

      @include bp(r-tablet-small) {
        &:hover {
          background: #fff;
          box-shadow: 0px 8px 16px 0px rgba(41, 53, 108, 0.15);
        }
      }

      .custom-tooltip__drop {
        white-space: nowrap;
        min-width: 100px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
      }

      .custom-tooltip__cnt {
        line-height: 1em;
      }
    }

    &__img {
      width: 1em;
      height: 1em;
      object-fit: contain;
    }

    &__btn {
      min-height: 64px;
      margin-top: 7px;

      .button__txt {
        width: 100%;
        text-align: center;
        justify-content: center;
      }

      .button__icon {
        font-size: 21px;
        margin-left: auto;
      }
    }
  }

  &-badges {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    flex-wrap: wrap;
  }

  &__badge {
    background: #eef3f6;
    color: #7d97ad !important;
    border-radius: 5px;
    padding: 6px 17px 5px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 15px;
    cursor: default;
    user-select: none;

    /* &:hover {
      background: #e2e9ee;
      color: #4545a2;
    } */

    @include bp(mobile) {
      padding: 6px 12px 5px;
      font-size: 13px;
    }
  }

  &__title {
    font-size: 37px;
    color: #4545a2;
    font-weight: 700;
    margin-bottom: 15px;

    @include bp(desktop) {
      font-size: 31px;
      margin-bottom: 11px;
    }

    @include bp(mobile) {
      font-size: 20px;
    }
  }

  &-ctr {
    display: flex;
    align-items: center;

    @include bp(mobile) {
      flex-wrap: wrap;
    }

    &--border {
      padding: 19px 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba(156, 175, 191, 0.25);
    }

    &__item {
      display: flex;
      align-items: center;
      flex: auto;
      margin-right: 15px;

      @include bp(phone-l) {
        justify-content: flex-start;
      }

      &.hidden-mobile {
        @include bp(mobile) {
          display: none;
        }
      }
    }

    &__title {
      color: #929bb5;
      font-weight: 600;
      margin-right: 6px;
    }

    &__txt {
      color: $c-secondary;
      font-weight: 700;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__info {
      width: 23px;
      height: 23px;
      background: #eef3f6;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #4545a2;
      font-size: 13px;
    }
  }

  &-inf {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(156, 175, 191, 0.25);
    margin: 13px 0;

    @include bp(desktop) {
      margin: 10px 0;
    }

    @include bp(mobile) {
      flex-wrap: wrap;
      padding-bottom: 2px;
    }

    &__item {
      flex: auto;
      display: flex;
      align-items: center;

      @include bp(mobile) {
        flex: unset;
        width: 50%;
        margin-bottom: 10px;
      }

      &.visible-mobile {
        display: none;

        @include bp(mobile) {
          display: flex;
        }
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 28px;
      color: #7d97ad;
      opacity: 0.75;
      margin-right: 12px;

      @include bp(mobile) {
        font-size: 24px;
        display: none;
      }
    }

    &__txt {
      line-height: 1em;
      color: $c-secondary;
      font-weight: 500;
      font-size: 14px;
      opacity: 0.7;
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
    }
  }

  &__txt {
    color: #7d97ad;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3em;
    margin: 22px 0;

    @include bp(desktop) {
      font-size: 16px;
      margin: 17px 0;
    }

    @include bp(mobile) {
      font-size: 15px;
      margin: 15px 0;
    }
  }

  &-type {
    display: flex;
    align-items: stretch;
    border: 1px solid rgba(156, 175, 191, 0.25);
    border-radius: 6px;
    position: relative;
    overflow: hidden;

    &__item {
      margin: 0;
      flex: 1;
      border-right: 1px solid rgba(156, 175, 191, 0.25);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:last-child {
        border-right: 0;
      }

      &:first-child {
        .product-card-type__wrp {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }

      &:last-child {
        .product-card-type__wrp {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
    &__wrp {
      display: flex;
      align-items: center;
      padding: 20px;
      height: 100%;
      transition: all 0.3s ease-in-out;

      &:hover {
        @media (min-width: 769px) {
          .product-card-type__title,
          .product-card-type__icon,
          .product-card-type__txt {
            color: $c-primary;
          }
        }
      }

      .product-card-type__title,
      .product-card-type__icon,
      .product-card-type__txt {
        color: #899fb3;
      }

      @include bp(desktop) {
        padding: 10px 15px;
      }

      @include bp(mobile) {
        padding: 15px 7px;
      }

      @include bp(phone-l) {
        padding: 15px 10px;
      }

      @include bp(phone-s) {
        padding: 15px 7px;
      }
    }

    &__input {
      display: none;

      &:checked ~ .product-card-type__wrp {
        background: #eef3f6;

        .product-card-type__title,
        .product-card-type__icon,
        .product-card-type__txt {
          color: $c-primary;
        }

        .product-card-type__box {
          border-color: $c-primary;

          &:after {
            transform: translate(-50%, -50%) scale(0.9);
            opacity: 1;
          }
        }
      }
    }

    &__box {
      width: 1em;
      height: 1em;
      display: inline-flex;
      font-size: 18px;
      border: 1px solid #7d97ad;
      border-radius: 50%;
      margin-right: 12px;
      position: relative;
      flex-shrink: 0;

      &:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        background: $c-primary;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      @include bp(mobile) {
        margin-right: 10px;
      }

      @include bp(phone-l) {
        margin-right: 9px;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 48px;
      margin-right: 13px;
      transition: all 0.3s ease-in-out;

      @include bp(mobile) {
        font-size: 31px;
        margin-right: 9px;
      }

      @include bp(mobile) {
        font-size: 26px;
      }
    }

    &__title {
      display: block;
      color: $c-secondary;
      font-weight: 600;
      font-size: 17px;
      line-height: 1em;
      margin-bottom: 2px;
      transition: all 0.3s ease-in-out;

      @include bp(mobile) {
        font-size: 14px;
      }
    }

    &__txt {
      display: block;
      color: #7d97ad;
      font-weight: 700;
      font-size: 21px;
      line-height: 1em;
      transition: all 0.3s ease-in-out;

      @include bp(mobile) {
        font-size: 19px;
      }

      @include bp(phone-l) {
        display: none;
      }
    }
  }

  &-info {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(desktop) {
      margin: 16px 0;
    }

    @include bp(phone-l) {
      flex-wrap: wrap;

      &__left,
      &__right {
        width: 100%;
      }

      &__left {
        margin-top: 11px;
        text-align: center;
      }

      &__right {
        text-align: center;
        order: -1;
      }
    }

    &__left {
      &.f-column {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      color: #1dac8f;

      @include bp(phone-l) {
        display: none;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 26px;
      margin-right: 12px;
    }

    &__title {
      line-height: 1em;
      font-weight: 700;
      font-size: 17px;
      position: relative;
      top: 1px;
    }

    &__txt {
      font-weight: 500;
      color: #7d97ad;
      font-size: 16px;
      margin-top: 6px;
      display: inline-block;
      line-height: 1.3em;

      @include bp(mobile) {
        font-size: 15px;
      }
    }
  }

  &-price {
    display: flex;
    align-items: stretch;

    @include bp(phone-l) {
      justify-content: center;
    }

    &__left {
      text-align: right;
    }

    .discount {
      margin-left: 15px;

      @include bp(mobile) {
        margin-left: 12px;
        padding: 10px;

        &__title {
          font-size: 21px;
        }
      }
    }

    &__old {
      color: #7d97ad;
      text-decoration: line-through;
      font-weight: 600;
      font-size: 17px;
      white-space: nowrap;
      line-height: 1em;
      opacity: 0.8;
    }

    &__main {
      font-size: 29px;
      font-weight: 700;
      color: #4545a2;
      white-space: nowrap;
      line-height: 1em;

      @include bp(mobile) {
        font-size: 27px;
      }
    }
  }

  &-slider {
    @include bp(tablet-m) {
      max-height: 100%;

      &__wrapper {
        max-height: 100%;
      }
    }

    &__item {
      @include bp(desktop) {
        max-width: 250px;
      }

      @include bp(tablet) {
        max-width: 200px;
      }

      &.swiper-slide {
        opacity: 0;
        pointer-events: none;
        border-radius: 15px;
        overflow: hidden;

        &-active,
        &-prev,
        &-next {
          opacity: 1;
          border-radius: 20px;
          overflow: hidden;
        }

        &-active {
          .product-card-slider__img {
            box-shadow: 0px 25px 122px 0px rgba(27, 36, 78, 0.44);

            @include bp(tablet) {
              box-shadow: 0px 13px 52px 0px rgba(27, 36, 78, 0.44);
            }
          }
        }
      }
    }

    &__img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
      transition: all 0.3s ease-in-out;
    }

    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      position: relative;
      bottom: 0 !important;
      z-index: 2;

      .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 20px;
        background: #7c96ac;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;

        &-active {
          background: #4545a2;
          width: 47px;
          opacity: 1;
        }
      }
    }
  }

  &-tab {
    .product-card-cover {
      padding-bottom: 50px;
    }

    &__header {
      display: flex;
      align-items: center;
      margin: 0 20px;
      padding-top: 7px;
      border-bottom: 1px solid;
      border-color: rgba(156, 175, 191, 0.25);
    }

    &__item {
      flex: auto;
      text-align: center;
      padding: 15px;
      font-size: 16px;
      color: #7d97ad;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;

      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0%;
        height: 2px;
        background: #4545a2;
        transform: translateX(-50%);
        transition: width 0.3s ease;
      }

      &.active {
        color: #4545a2;

        &:after {
          width: 100%;
        }
      }
    }

    &__pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;

    &__item {
      min-height: 65px;
      width: 49%;
      margin-right: 2%;
      padding: 10px 15px;

      &:only-child {
        margin-right: 0;
        width: 100%;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      @include bp(mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.product-add {
  display: flex;
  align-items: stretch;
  padding: 19px 0;
  border-top: 1px solid rgba(156, 175, 191, 0.25);

  @include bp(tablet) {
    justify-content: center;
    position: relative;

    &:last-child {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid rgba(156, 175, 191, 0.25);

      @include bp(tablet) {
        flex-flow: wrap;
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    &.active {
      .product-add__button {
        .button__txt {
          display: none;
        }

        .button__icon {
          margin-right: 0;
        }
      }
    }
  }

  &-type {
    padding-right: 5px;
    margin-right: 19px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: stretch;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      height: 63px;
      background: rgba(156, 175, 191, 0.25);
      top: 0;
    }

    @include bp(mobile) {
      margin-right: 0;
      justify-content: center;
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &__right {
      @include bp(tablet) {
        width: auto;
      }
    }

    &__left {
      margin-right: 13px;

      @include bp(mobile) {
        margin-right: 7px;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      background: #eef3f6;
      padding: 11px;
      border-radius: 6px;

      @include bp(mobile) {
        padding: 8px;
      }
    }

    &__item {
      margin: 0;
      display: inline-flex;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__input {
      display: none;

      &:checked ~ .product-add-type__box {
        background: #fff;
        color: #4545a2;
        box-shadow: 0px 17px 46px 0px rgba(19, 29, 51, 0.2);
      }
    }

    &__box {
      display: inline-flex;
      padding: 10px;
      width: 49px;
      align-items: center;
      justify-content: center;
      height: 41px;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: rgb(215, 224, 232);
        color: #4545a2;
      }

      @include bp(mobile) {
        width: 45px;
        height: 38px;
        font-size: 19px;
      }
    }

    &__icon {
      display: inline-flex;
    }

    &__txt {
      color: #7d97ad;
      text-align: center;
      margin-top: 9px;
      font-weight: 700;
      font-size: 15px;

      @include bp(mobile) {
        font-size: 14px;
      }
    }
  }

  &__right {
    width: 100%;
    position: relative;

    @include bp(mobile) {
      position: static;
      margin-top: 10px;
    }

    .button {
      min-height: 63px;
      padding: 10px 10px;

      @include bp(mobile) {
        min-height: 54px;
        padding: 10px 10px;
      }

      @include bp(phone-s) {
        padding: 10px 4px;

        &__txt {
          font-size: 13px;
          position: relative;
          top: 2px;
        }
      }

      &__icon {
        margin-right: 25px;

        @include bp(mobile) {
          margin-right: 13px;
          font-size: 27px;
        }
      }
    }
  }

  &__txt {
    color: #7d97ad;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;

    @include bp(mobile) {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      margin-top: 0;
      transform: translateY(100%);
    }

    strong {
      font-weight: 700;
    }
  }

  &-count {
    .input-count {
      border-radius: 6px;
      background: #eef3f6;
      min-height: 63px;
      margin-right: 15px;

      @include bp(mobile) {
        min-height: 54px;
        margin-right: 7px;
      }

      @include bp(phone-s) {
        &__btn {
          width: 26px;
          height: 26px;
        }
      }

      &__input {
        font-size: 20px;
        position: relative;
        top: 2px;

        @include bp(mobile) {
          font-size: 20px;
          position: relative;
          top: 2px;
          padding: 5px 3px;
          width: 30px;
          text-align: center;
          height: auto;
          margin: 0 5px;
        }

        @include bp(phone-s) {
          font-size: 18px;
          top: 2px;
          padding: 5px 1px;
          width: 17px;
          margin: 0 5px;
        }
      }
    }

    .product-add-type__txt {
      margin-right: 15px;

      @include bp(mobile) {
        margin-right: 0;
      }
    }

    &--hide {
      width: 0px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      &.active {
        width: 140px;

        @include bp(mobile) {
          width: 123px;
        }

        @include bp(phone-s) {
          width: 103px;
        }

        .input-count {
          opacity: 1;
          transform: none;
          transition-delay: 0.15s;
        }

        .product-add-type__txt {
          opacity: 1;
          transition-delay: 0.25s;
        }
      }

      .input-count {
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.3s ease;
      }

      .product-add-type__txt {
        opacity: 0;
        white-space: nowrap;
        transition: all 0.3s ease;
      }
    }
  }
}

.product-packet {
  &__head {
    font-size: 15px;
    color: #929bb5;
    font-weight: 600;
  }

  &__list {
    margin-top: 10px;
    border: 1px solid rgba(156, 175, 191, 0.25);
    border-radius: 6px;
    background: #f5f8fa;

    @include bp(mobile) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid rgba(156, 175, 191, 0.25);
    align-items: center;

    &:last-child {
      border-bottom: 0;
    }

    @include bp(mobile) {
      flex-wrap: wrap;

      &:nth-child(even) {
        background: #fff;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;

    @include bp(desktop) {
      padding: 10px 15px;
    }

    @include bp(tablet) {
      padding: 10px;
    }

    @include bp(mobile) {
      position: relative;
      border-bottom: 1px solid rgba(156, 175, 191, 0.25);
    }
  }

  &__icon {
    width: 1em;
    height: 1em;
    object-fit: contain;
    font-size: 27px;
    margin-right: 15px;

    @include bp(phone-l) {
      font-size: 24px;
      margin-right: 11px;
    }
  }

  &__title {
    font-weight: 700;
    color: #7d97ad;
    font-size: 16px;
    display: flex;
    align-items: center;

    @include bp(tablet) {
      font-size: 15px;
    }

    @include bp(phone-l) {
      font-size: 14px;
    }
  }

  &__info {
    display: inline-flex;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    flex-shrink: 0;
    margin-left: 12px;
    box-shadow: 0px 8px 21px 0px rgba(28, 48, 87, 0.16);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $c-primary;
    }
  }

  &-price {
    margin-left: auto;
    text-align: right;
    flex-shrink: 0;
    padding-right: 10px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(156, 175, 191, 0.25);
    justify-content: center;
    align-items: flex-end;

    @include bp(mobile) {
      margin-left: 0;
      text-align: left;
      align-items: flex-start;
      width: 100%;
      flex-shrink: initial;
    }

    &__txt {
      display: block;
      color: #7d97ad;
      font-weight: 600;
      font-size: 16px;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

    &__title {
      color: $c-primary;
      font-weight: 700;
      font-size: 21px;
      white-space: nowrap;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 20px;
      }
    }
  }

  &__right {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    @include bp(mobile) {
      width: 100%;
      padding: 0 10px;
    }
  }

  &-type {
    display: flex;
    align-items: center;

    &__item {
      margin: 0;
      display: inline-flex;
      padding: 4px 15px;
      border-right: 1px solid rgba(156, 175, 191, 0.25);
      flex-wrap: wrap;
      cursor: pointer;

      &:last-child {
        border-right: 0;
      }

      @include bp(tablet) {
        padding: 4px 10px;
      }

      @include bp(mobile) {
        padding: 9px 10px;
      }
    }

    &__input {
      display: none;

      @media (min-width: 769px) {
        &:checked {
          & ~ .product-packet-type__icon {
            color: $c-primary;
          }

          & ~ .product-packet-type__circle {
            border-color: $c-primary;

            &:after {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
      }
    }

    &__box {
      display: inline-flex;
    }

    &__icon {
      display: flex;
      font-size: 31px;
      width: 100%;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }

    &__circle {
      width: 1em;
      height: 1em;
      font-size: 14px;
      background: #fff;
      margin: 5px auto 0;
      border: 1px solid #7d97ad;
      position: relative;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        background: $c-primary;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.product-book-slider {
  height: 425px;
  box-shadow: 0px 42px 87px 0px rgba(27, 36, 78, 0.3);
  position: relative;

  @include bp(desktop) {
    height: 385px;
  }

  @include bp(tablet-m) {
    height: 100%;
    max-width: 250px;
    margin: 0 auto;
  }

  @include bp(tablet) {
    max-width: 220px;
  }

  @include bp(mobile) {
    max-width: 195px;
  }

  &__item {
    height: 100%;
    position: relative;

    &:hover {
      .product-book-slider__overlay {
        opacity: 1;
      }
    }

    &.swiper-slide {
      pointer-events: none;
      border-radius: 15px;

      img {
        opacity: 0;
        transition: all 0.3s;
      }

      &-active {
        pointer-events: all;

        img {
          opacity: 1;
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 34, 85, 0.2);
    opacity: 0;
    transition: all 0.3s ease;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &-nav {
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 50px;
    box-shadow: 0px 15px 38px 0px rgba(41, 53, 108, 0.08);
  }

  &__arrow {
    display: inline-flex;
    width: 35px;
    height: 35px;
    background: #ecf0f4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #d7e0e8;
      color: #4545a2;
    }
  }

  &__index {
    font-size: 21px;
    line-height: 1em;
    margin: 0 12px;
    width: 25px;
    text-align: center;
  }
}

.modal-product {
  &-other-items {
    .inf {
      padding-right: 100px;
      font-size: 22px;
    }
  }
  &__inner {
    width: 100vw;
    max-width: 700px;
    padding: 30px 35px;

    .product-add {
      padding-bottom: 0;
    }
  }
}

.cart-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 55;
  padding: 0 30px;
  box-shadow: 0px 3px 46px 0px rgba(19, 29, 51, 0.2);
  display: none;
  transition: all 0.3s ease;

  &-hide {
    transform: translateY(100%);
    box-shadow: none;
  }

  @include bp(tablet) {
    display: block;
  }

  @include bp(mobile) {
    padding: 0;
  }

  &-button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    min-height: 63px;

    @include bp(mobile) {
      border-radius: 0;
    }

    &:hover {
      transform: none;
    }
  }

  .product-add {
    margin-bottom: 0;
    background: #fff;
    border-bottom: 0;
    padding: 11px;
  }
}

.product-card {
  &-price {
    @include bp(mobile) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &-info {
    flex-flow: wrap;

    @include bp(mobile) {
      flex-flow: wrap;
    }

    &__left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include bp(tablet) {
        margin-top: 15px;
      }

      &.active {
        width: 100%;
      }
    }

    &__inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #fff;
      border: 1px solid rgba(156, 175, 191, 0.15);
      box-shadow: 0px 4px 13px 0px transparent;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
      height: 65px;
      transition: 0.5s ease-out;
      padding: 15px 20px;

      @media (max-width: 1040px) {
        padding: 10px;
      }

      @include bp(mobile) {
        flex-flow: wrap;
        padding: 16px 10px;
      }

      &:first-child {
        width: auto !important;

        @include bp(mobile) {
          width: 50px !important;
        }
      }

      &:last-child {
        margin-right: 0;

        @include bp(mobile) {
          width: 50px !important;
        }
      }

      &.active {
        background: #eef3f6;
        border: 1px solid rgba(156, 175, 191, 0.15);
        width: 100%;

        @media (max-width: 992px) {
          padding: 15px 20px;
        }

        @include bp(tablet) {
          padding: 5px 10px;
        }

        @include bp(mobile) {
          width: 100% !important;
        }

        .product-card-info {
          &__content {
            width: auto;
            height: 100%;
            overflow: initial;
            margin-left: 12px;
            margin-right: 12px;

            @include bp(mobile) {
              margin-left: 10px;
              overflow: initial;
              display: flex;
              transition: 0.3s;
              width: auto;
              transition-delay: 0.4s;
              visibility: visible;
            }
          }

          &__title {
            font-size: 15px;
            opacity: 1;
            transition: 0.3s;
            visibility: visible;
          }

          &__txt {
            font-size: 14px;
            margin-top: 0;
            text-align: left;

            @include bp(mobile) {
              display: none;
            }

            &--mobile {
              display: none;

              @include bp(mobile) {
                display: flex;
                font-size: 14px;
                margin-top: 0;
                text-align: left;
                margin-left: 5px;
                margin-top: 5px;
              }
            }
          }

          &__paper-button {
            height: 120%;
            overflow: hidden;
            padding: 0 15px;
            width: 200px;
            display: flex;

            @include bp(tablet) {
              height: auto;
              padding: 12px 15px;
              justify-content: center;
              width: auto;
              display: flex;
            }
          }
        }
      }

      &.color--green {
        .product-card-info {
          &__icon-wrp {
            color: #1dac8f;
            transition: 0.3s;
          }

          &__title {
            color: #1dac8f;
          }
        }
      }

      &.color--purple-new {
        .product-card-info {
          &__icon-wrp {
            color: #4545a2;
            transition: 0.3s;
          }

          &__title {
            color: #4545a2;
          }
        }
      }

      .icon-green {
        display: none;

        @include bp(mobile) {
          display: inline-flex;
          background: #fff;
          color: #1dac8f;
          margin-left: 7px;
        }
      }

      .icon-purple-new {
        display: none;

        .custom-tooltip__drop {
          transform: translateY(-100%) translateX(-60%);
        }

        .custom-tooltip__caret {
          transform: translateY(100%) translateX(90%);
        }

        @include bp(mobile) {
          display: inline-flex;
          background: #fff;
          color: #4545a2;
          margin-left: 7px;
        }
      }
    }

    &__content {
      width: 0;
      height: 0;
      overflow: hidden;
      margin-right: 0;
      transition: 0.3s;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center !important;

      @include bp(mobile) {
        overflow: hidden;
        width: 0;
        visibility: hidden;
        transition: 0.3s;
      }
    }

    &__icon-wrp {
      display: flex;
      align-items: center;

      @include bp(mobile) {
        align-items: flex-start;
      }
    }

    &__icon {
      margin-right: 0;
      display: flex;
      font-size: 29px;
    }

    &__title {
      font-size: 15px;
      opacity: 0;
      transition: 0.3s;
      visibility: hidden;
      transition-delay: 0.3s;
    }

    &__txt {
      font-size: 14px;
      margin-top: 0;
      text-align: left;

      @include bp(mobile) {
        display: none;
      }

      &--mobile {
        display: none;

        @include bp(mobile) {
          display: none;
          font-size: 14px;
          margin-top: 0;
          text-align: left;
          margin-left: 5px;
          margin-top: 5px;
        }
      }
    }

    &__paper-button {
      width: 0;
      height: 0;
      overflow: hidden;
      margin-right: 0;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fafdff;
      padding: 0;
      border-radius: 5px;
      color: #4545a2;
      margin-left: auto;
      display: none;
      transform: translateY(0);
      transition: 0.3s;
      box-shadow: 0px 5px 12px 0px transparent;

      &:hover {
        background: #fff;
        transform: translateY(-3px);
        box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25);
      }
    }

    &__button-txt {
      font-weight: 600;
      font-size: 13px;

      @include bp(tablet) {
        display: none;
      }
    }

    &__button-txt-mobile {
      font-weight: 600;
      font-size: 13px;
      display: none;

      @include bp(mobile) {
        display: flex;
      }
    }

    &__plus-icon {
      font-size: 12px;
      position: relative;
      top: 1px;
    }

    &__cargo {
      display: none;
      color: #1dac8f;

      @include bp(mobile) {
        margin-right: 20px;
      }

      &.active {
        display: flex;
        align-items: center;
        margin-top: 7px;
      }

      &-icon {
        display: flex;
        font-size: 30px;
        margin-right: 10px;
      }

      &-txt {
        font-weight: 700;
        font-size: 15px;

        @include bp(mobile) {
          text-align: left;
          line-height: 16px;
          font-size: 14px;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;

      @include bp(mobile) {
        order: -1;
      }

      &.active {
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
      }
    }
  }
}

.books-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  overflow: scroll;
  background: rgba(34, 34, 85, 0.5);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    z-index: 9999999;
  }

  &__inner {
    width: 1000px;
    min-height: 500px;
    background: #f9fbfd;
    border-radius: 15px;
    overflow-y: scroll;
    z-index: 2;
    margin: 15px 0;

    @media (max-width: 1000px) {
      width: 90%;
    }

    @include bp(tablet) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: relative;
      margin: 0;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .n-products--books {
      padding-left: 0;
      height: auto;
      padding: 15px 0;

      @media (max-width: 1000px) {
        max-width: 100%;
      }

      @include bp(tablet) {
        padding-bottom: 100px;
      }
    }

    .n-products--book {
      border-bottom: none;
      padding-left: 0px !important;
      max-height: 90px;
      overflow: hidden;
      transition: 0.5s;
      border-top: 1px solid #e0e7ed;

      @include bp(tablet) {
        max-height: 90px;
        border-top: none;
      }

      &.active {
        max-height: 600px;

        @include bp(tablet) {
          max-height: 100%;
        }
      }

      @include bp(tablet) {
        padding-right: 0 !important;
        border-top: 1px solid #e0e7ed;
      }

      &:first-child {
        border-top: none;
        padding-top: 0px !important;

        @include bp(tablet) {
          padding-top: 20px !important;
          border-top: 1px solid #e0e7ed;
        }
      }

      &:last-child {
        padding-bottom: 0;
        padding-top: 10px;
      }

      &__title {
        padding: 20px 0 0 0;

        .icon-area {
          margin-left: 15px;
          flex-shrink: 0;

          @include bp(tablet) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__main-title {
    font-size: 20px;
    font-weight: 700;
    color: #4545a2;
    padding: 15px;
    border-bottom: 1px solid #e0e7ed;

    @include bp(tablet) {
      position: absolute;
      top: 12px;
      left: 15px;
      font-size: 18px;
      font-weight: 600;
      color: #4545a2;
      padding: 0;
      padding-top: 2px;
      border-bottom: none;
    }
  }

  &__close {
    position: absolute;
    top: 7px;
    right: 5px;
    display: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;

    @include bp(tablet) {
      display: flex;
    }
  }

  .close-books-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;
    height: auto;

    @include bp(tablet) {
      display: none;
    }

    &--txt {
      font-size: 15px;
      font-weight: 700;
      color: #9ab0c2;
    }

    &-left {
      width: 700px;

      @media (max-width: 1000px) {
        width: 350px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      padding: 0 15px;

      &__inner {
        &:first-child {
          width: 160px;
          text-align: center;
        }
      }
    }
  }

  &__wrp {
    border-top: 1px solid #e0e7ed;

    @include bp(mobile) {
      border-top: none;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid #e0e7ed;
    width: 100%;
    padding: 0 20px;

    @media (max-width: 1000px) {
      height: auto;
      min-height: 160px;
    }

    @include bp(tablet) {
      height: auto;
      flex-flow: wrap;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    @include bp(mobile) {
      padding-bottom: 15px;
      padding-top: 5px;
    }

    &:last-child {
      border-bottom: none;
      @include bp(tablet) {
        border-bottom: 1px solid #e0e7ed;
      }
    }
  }

  &__img {
    background: #fff;
    width: 90px;
    height: 120px;
    border-radius: 15px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 0px 0 6px rgba(85, 100, 144, 0.25);

    @media (max-width: 1000px) {
      height: 125px;
      margin-right: 7px;
      width: 110px;
    }

    @include bp(tablet) {
      flex-shrink: 0;
      width: 100px;
      margin-right: 7px;
    }

    @include bp(mobile) {
      width: 60px;
      height: 80px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__txt {
    color: #9ab0c2;
    font-weight: 500;
  }

  &__title {
    color: #656d85;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include bp(tablet) {
      font-size: 18px;
    }
  }

  .input-count__btn {
    display: inline-flex;
    font-size: 27px;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 1em;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    color: #7d97ad;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    border-right: 1px solid #e0e7ed;
    padding: 15px 0;

    @include bp(tablet) {
      width: calc(100% - 100px - 7px);
      border-right: none;
    }

    @include bp(mobile) {
      width: calc(100% - 65px - 7px);
      transition-delay: 0.3s;
    }
  }

  &__cnt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;

    &.column {
      flex-direction: column;
      align-items: normal;
    }

    @media (max-width: 1000px) {
      height: auto;
      margin-bottom: 5px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50%;

    @media (max-width: 1000px) {
      height: auto;
      flex-flow: wrap;
    }

    @include bp(tablet) {
      display: none;
    }
  }

  &__item-count {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 700;

    @include bp(tablet) {
      height: auto;
      margin-left: 75px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    @media (max-width: 1000px) {
      width: 50%;
      justify-content: flex-start;
      height: auto;
      margin-right: 0;
      margin-bottom: 5px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      @media (max-width: 1000px) {
        margin-bottom: 0;
      }
    }

    &-cnt {
      width: auto;
      height: 100%;
      flex-direction: column;
      display: flex;
      line-height: 16px;

      @include bp(tablet) {
        line-height: 15px;
      }
    }

    &-title {
      color: #556490;
      font-size: 14px;
      opacity: 0.7;
      white-space: nowrap;

      @include bp(tablet) {
        font-size: 13px;
      }
    }

    &-number {
      color: #556490;
      font-weight: 700;
      font-size: 15px;
      white-space: nowrap;

      @include bp(tablet) {
        font-size: 14px;
      }
    }
  }

  &__icon {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 30px;

    @include bp(tablet) {
      font-size: 20px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    width: 150px;
    flex-shrink: 0;

    @media (max-width: 1000px) {
      padding: 0 10px;
    }

    @include bp(tablet) {
      padding: 0;
      margin-top: 10px;
      order: 7;
    }

    @include bp(mobile) {
      margin-top: 0;
    }

    .input-count {
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px;
      background: #e6eef3;
      input {
        padding: 0 !important;
        width: 50px;
        text-align: center;
        font-weight: 600;
        color: #8390af;
      }
      &__btn {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        flex-shrink: 0;
        position: relative;
        .minus {
          width: 21px;
          height: 21px;
          position: relative;
        }
        &:first-child {
          .minus {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 2px;
            background: #7d97ad;
            transform: translate(-50%, -50%);
            border-radius: 10px;
          }
        }
      }
    }

    &-txt {
      color: #556490;
      font-size: 14px;
      font-weight: 600;
      opacity: 0.7;
      margin-top: 10px;

      @include bp(tablet) {
        margin-top: 5px;
      }

      @include bp(mobile) {
        display: none;
      }
    }
  }

  &__price {
    height: 100%;
    width: auto;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #e0e7ed;
    width: auto;
    flex-shrink: 0;

    @include bp(tablet) {
      padding: 0;
      border-left: none;
    }

    @include bp(mobile) {
      margin-left: 70px;
      align-items: flex-start;
      line-height: 17px;
    }

    &-number {
      color: #656d85;
      font-size: 22px;
      font-weight: 600;
    }

    &-cargo {
      color: #1dac8f;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-top: 1px solid #e0e7ed;
    padding: 25px 15px;

    @include bp(tablet) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #f9fbfd;
    }

    &--btn {
      width: 60%;
      &.product-card {
        width: 60%;
        margin: 0;
        overflow: initial;
        box-shadow: none;
        background: transparent;
        .button {
          width: 100%;
        }
      }

      @include bp(tablet) {
        width: auto;
      }

      .button {
        padding: 20px;
      }
    }
  }

  &__total-price {
    width: 30%;

    @include bp(tablet) {
      width: auto;
    }

    &__txt {
      font-size: 15px;
      font-weight: 700;
      color: #9ab0c2;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

    &__number {
      font-size: 28px;
      font-weight: 700;
      color: #4545a2;

      @include bp(tablet) {
        font-size: 22px;
      }
    }
  }
}
