.progress-section {
  display: flex;
  align-items: center;

  @include bp(tablet) {
    width: 100%;
    margin-top: 15px;
  }

  &__cnt {
    width: 100%;
  }

  .progress {
    background: rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.25rem;
    margin-top: 0.625rem;

    @include bp(desktop-s) {
      padding-right: 2rem;
      margin-top: 0.375rem;
    }

    @include bp(tablet-m) {
      padding-right: 0;
    }

    @include bp(mobile) {
      margin-top: 0;
    }
  }

  &__title {
    color: #fff;
    font-size: 1.125rem;

    strong {
      font-size: 1.25rem;
      font-weight: 800;
    }
  }

  &-ctr {
    display: flex;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 2.25rem;

      @include bp(desktop-s) {
        margin-right: 1.75rem;
      }

      @include bp(tablet-m) {
        margin-right: 10px;
      }

      @include bp(mobile) {
        display: none;
      }
    }

    &__dot {
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      font-size: 9px;
      margin-right: 9px;
      background: rgba(0, 0, 0, 0.2);
    }

    &__title {
      color: #fff;
      opacity: 0.75;
      font-size: 1rem;
      font-weight: 500;

      @include bp(desktop-s) {
        font-size: 0.875rem;
      }
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    font-size: 2.25rem;
    overflow: hidden;
    margin-right: 1.5rem;

    @include bp(desktop-s) {
      margin-right: 1.25rem;
      width: 3.25rem;
      height: 3.25rem;
      font-size: 1.75rem;
    }

    @include bp(mobile) {
      display: none;
    }
  }

  &-val {
    flex-shrink: 0;
    margin-left: 2.25rem;
    color: #fff;
    text-align: right;

    @include bp(desktop-s) {
      margin-left: 1.875rem;
    }

    @include bp(tablet-m) {
      margin-left: 0px;
    }

    @include bp(tablet) {
      width: 70px;
    }

    &__title {
      font-weight: 700;
      font-size: 3.75rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      line-height: 1;

      @include bp(desktop-s) {
        font-size: 3rem;
      }

      @include bp(tablet) {
        font-weight: 100;
        font-size: 34px;
      }

      small {
        font-weight: 700;
        font-size: 65%;
        position: relative;
        top: -5px;
        line-height: 1em;
        left: 2px;
      }
    }

    &__txt {
      display: block;
      font-size: 1rem;

      @include bp(desktop-s) {
        font-size: 0.875rem;
      }

      @include bp(mobile) {
        display: none;
      }
    }
  }
}