@import '../variables';

.publicity {
  &__switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    flex-basis: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.5rem;
    border-radius: 100px;
    margin: 0;
    background: #fff;
    cursor: pointer;
    margin-left: 0.5rem;

    @include bp(tablet) {
      margin-left: 10px;
    }

    & .publicity__slider {
      position: absolute;
      transition: 0.25s;
      border-radius: 50%;
      height: 1.25rem;
      width: 1.25rem;
      left: 0.125rem;
      top: 0.125rem;
      background-color: $c-bgalt;
      display: flex;
      align-items: center;
      justify-content: center;

      &--icon {
        transition: 0.25s linear;
        font-size: 0.5rem;
        color: $c-bgalt;
      }

      &.active {
        transform: translateX(1rem);
        background: $c-alt;

        & .publicity__slider--icon {
          color: #fff;
        }
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: flex-end;

    &--text {
      color: $c-text;
      white-space: nowrap;
      font-size: 1rem;
    }
  }
}
