@import '../variables';
@import '../colors';

.question-item {
  background: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 15px;
  transition: all 0.3s ease;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 18px 21px 0px rgba(41, 53, 108, 0.09);
  }

  .item-options__btn.button {
    width: 37px;
    height: 37px;
  }

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6deea;
  }

  &__status {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 16px;
    background: $c-in-complete;
    flex-grow: 0;
    flex-shrink: 0;

    &.answered {
      background: $c-success-alt;
    }
  }

  &__subtitle {
    color: $c-secondary;
    line-height: 1em;
    font-size: 16px;
    opacity: 0.8;
  }

  &__name {
    line-height: 1em;
    color: #808db3;
    font-weight: 500;
    font-size: 16px;
    margin-top: 7px;

    strong {
      font-size: 17px;
      font-weight: 700;
      color: $c-secondary;
    }
  }

  &__txt {
    margin-top: 1rem;
    color: $c-text-dark;
    font-size: 16px;
    font-weight: 500;
    @include bp(tablet) {
      font-size: 15px;
    }
  }

  &__answer {
    margin-top: 1rem;
    border-radius: 6px;
    background: $c-bgmain;
    padding: 0.8rem 0.6rem;

    &-header {
      color: $c-text;
      font-size: 18px;

      & > b {
        color: $c-success-alt;
      }
    }

    &-body {
      margin-top: 0.5rem;
      color: $c-text-dark;
      border-left: 2px solid $c-default;
      padding-left: 0.5rem;

      & a {
        color: $c-primary !important;
        font-weight: 600 !important;
      }
      @include bp(tablet) {
        font-size: 15px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__button.button {
    width: 100%;
    padding: 10px 0 0 0;
    color: #60dd6a;
    background: transparent !important;

    .button__wrp {
      width: 100%;
      justify-content: space-between;
    }

    .button__icon {
      font-size: 19px;
    }
  }

  &__btn {
    padding: 0.8rem 1rem 0 1rem !important;
    max-width: 48%;
    background: transparent !important;
    border-radius: 0 !important;
    border-top: 1px solid #d6deea;
    padding-left: 0 !important;
    transition: 0.3s !important;
    max-width: 100% !important;
    &.answered {
      background: #f0f4f9 !important;
      border-top: none !important;
      padding: 10px 15px !important;
      border-radius: 5px !important;
      margin-top: 10px !important;
      .vbtn__txt {
        text-align: center;
        color: $c-text;
        transition: 0.3s;
      }
      .vbtn__icon {
        color: $c-text;
        transition: 0.3s;
      }
      &:hover {
        padding-right: 15px !important;
        .vbtn__txt,
        .vbtn__icon {
          color: #556490;
        }
      }
    }
    &:hover {
      padding-right: 0 !important;
    }
    .vbtn__txt {
      text-align: left;
      color: $c-primary;
    }
    .vbtn__icon {
      color: $c-primary;
    }

    &--single {
      max-width: 100%;
    }
  }
}
