@import '../variables';

.quest-card {
  background: #fff;
  box-shadow: 0px 18px 21px 0px rgba(41, 53, 108, 0.09);
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .item-options__btn.button {
    width: 37px;
    height: 37px;
  }

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e8f0;
  }

  &__status {
    width: 1em;
    height: 1em;
    background: #60dd69;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 16px;
  }

  &__status-red {
    width: 1em;
    height: 1em;
    background: red;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 16px;
  }

  &__subtitle {
    color: $c-secondary;
    line-height: 1em;
    font-size: 16px;
  }

  &__name {
    line-height: 1em;
    color: #4444a1;
    font-weight: 700;
    font-size: 17px;
    margin-top: 5px;
  }

  &__txt {
    padding: 15px 5px;
    color: #556490;
    font-size: 15px;
    font-weight: 200;
  }

  &-answer {
    border-top: 1px solid #e3e8f0;
    padding: 15px 5px 5px;

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__name {
      line-height: 1em;
      color: #60dd69;
      font-weight: 700;
      font-size: 18px;
      margin-right: 5px;
    }

    &__name-red {
      line-height: 1em;
      color: red;
      font-weight: 700;
      font-size: 18px;
      margin-right: 5px;
    }

    &__title {
      line-height: 1em;
      font-weight: 700;
      color: #a9bac8;
    }

    &__txt {
      padding-left: 17px;
      border-left: 3px solid #ebeff4;
      color: #556490 !important;
      font-size: 15px !important;
      font-weight: 200 !important;
    }
  }
}
