@import "../variables";

.reading {

  &__left {
    width: 140px;
    flex-shrink: 0;
    height: 140px;
    position: relative;
    z-index: 2;

    @include bp(desktop) {
      width: 100px;
      height: 100px;
    }

    @include bp(tablet-m) {
      width: 90px;
      height: 90px;
    }

    @include bp(tablet) {
      width: 150px;
      height: 150px;
    }

    @include bp(mobile) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      z-index: 4;
    }

  }

  &__right {
    flex: 1;
    margin-left: 55px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    z-index: 3;

    @include bp(desktop) {
      margin-left: 40px;
      padding-right: 0;
    }

    @include bp(tablet-l) {
      margin-left: 15px;
    }

    @include bp(tablet) {
      margin-left: 15px;
      padding-right: 20px;
    }

    @include bp(mobile) {
      margin-left: 15px;
      padding-right: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__group {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(55%, -50%);
    background: $c-bgicon;
    font-size: 27px;
    z-index: 4;
    width: 52px;
    height: 52px;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;

    @include bp(tablet-l) {
      display: none;
    }
  }

  &__title {
    color: $c-secondary;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 5px;
    transition: color .3s;
    display: -webkit-box;
    -webkit-box-align: start;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    @include bp(desktop) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
    }

    @include bp(tablet) {
      font-size: 21px;
      line-height: 27px;
      margin-bottom: 5px;
    }

    @include bp(mobile) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
  }

  &__tag {
    margin-right: 10px;
    color: $c-secondary;
    opacity: .7;
    font-size: 17px;

    @include bp(desktop) {
      font-size: 14px;
    }

    @include bp(tablet) {
      font-size: 15px;
    }

    @include bp(mobile) {
      font-size: 14px;
    }
  }

  &-inf {
    border-top: 1px solid #dde3eb;
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 15px;

    @include bp(desktop) {
      margin-top: 5px;
      padding-top: 0px;
    }

    @include bp(tablet) {
      padding-top: 10px;
      margin-top: 15px;
    }

    @include bp(mobile) {
      margin-top: 15px;
      padding-top: 10px;
    }

    &__main {
      display: inline-flex;
      width: 67px;
      align-items: center;
      justify-content: flex-start;
      border-right: 1px solid #dde3eb;
      margin-right: 10px;

      .reading-inf__item {
        font-size: 30px;

        @include bp(desktop) {
          font-size: 20px;
          width: 45px;
          height: 45px;
        }

        @include bp(tablet) {
          font-size: 25px;
        }

        @include bp(mobile) {
          font-size: 20px;
          width: auto;
          height: auto;
          margin-top: -2px;
        }
      }

      @include bp(desktop) {
        margin-right: 5px;
        width: 50px;
      }

      @include bp(tablet) {
        margin-right: 10px;
        width: 55px;
      }

      @include bp(mobile) {
        margin-right: 4px;
        width: 30px;
      }
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      position: relative;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      color: #b6c5d3;
      padding-left: 0 !important;

      @include bp(desktop) {
        font-size: 20px;
        width: 45px;
        height: 45px;
      }

      @include bp(tablet-m) {
        font-size: 20px;
        width: 40px;
        height: 40px;
      }

      @include bp(tablet) {
        font-size: 25px;
        width: 50px;
        height: 50px;
      }

      @include bp(mobile) {
        font-size: 22px;
        width: 35px;
        height: 35px;
        margin-right: 5px;
      }

      &:before {
        @include pseudo;
        width: 100%;
        height: 100%;
        background: $c-bgicon;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8);
        transition: all .18s;
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }

        .reading-inf__icon--exist {
          opacity: 1;
        }
      }

      &.active {
        color: $c-alt;

        .dynamic-icon .icon {
          opacity: 0;
          color: $c-alt;

          &-o {
            opacity: 1;
          }

        }
      }

      .tooltip {
        font-weight: 700;
        box-shadow: none;
      }

    }

    &__icon {
      position: relative;
      z-index: 3;

      &.exist {
        color: $c-alt;
        opacity: 0.8;
      }
    }

  }

  &-time {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 18px;

    .icon-font {
      margin-right: 10px;
      color: $c-alt;
    }

    .btn-txt {
      color: $c-secondary;
      font-weight: 700;
      margin-top: 3px;

      @include bp(desktop) {
        font-size: 12px;
      }

      @include bp(tablet) {
        font-size: 15px;
      }

      @include bp(mobile) {
        font-size: 12px;
      }
    }

  }

  &-read {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(86, 87, 171, 0.6);
    border-radius: 10px;
    color: #fff;
    text-align: center;

    &__icon {
      font-size: 26px;
      display: inline-flex;

      @include bp(desktop) {
        font-size: 20px;
      }
    }

    &__txt {
      width: 100%;
      font-size: 15px;
      font-weight: 800;
      margin-top: -5px;

      @include bp(desktop) {
        font-size: 12px;
        font-weight: 700;
      }
    }

  }
}