@import "../variables";

.reading-test {

  &__list {
    position: relative;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 25px;
    position: relative;
    flex-direction: column;

    @include bp(tablet) {
      padding-bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
    }

    .test-question {
      background: #fff;
      padding: 15px 45px;
      border-radius: 13px;
      position: relative;
      margin-bottom: 25px;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      align-items: center;
      width: 100%;

      @include bp(tablet) {
        background: #fff;
        padding: 15px 15px;
        padding-top: 15px;
        border-radius: 13px;
        margin-bottom: 25px;
      }


      &-inf {
        margin-right: 15px;
        background: #24aafa;
        color: #fff;
        font-weight: 600;
        padding: 3px 10px;
        height: fit-content;
        border-radius: 5px;
      }

      &__txt {
        color: #818baa;
        font-weight: 500;
        font-size: 17px;

        @include bp(tablet) {
          font-size: 16px;
        }
      }
    }
  }

  &__num {
    flex-shrink: 0;
    font-size: 19px;
    font-weight: 800;
    color: $c-secondary;
    width: 25px;
  }

  &__content {
    padding-left: 20px;
  }

  &__question {
    color: #818baa;
    font-size: 16px;
    line-height: 1.5em;
  }

  &-options {
    text-align: left;
    padding: 10px;
    position: relative;

    @include bp(tablet) {
      padding-left: 0;
    }
  }

  &-option {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 10px 13px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    @include bp(tablet) {
      padding-left: 0;
      padding-right: 0;
    }

    &.selected,
    &.correct,
    &.wrong {
      .reading-test-option__txt {
        font-weight: 700;
      }
    }

    &.correct,
    &.wrong {
      cursor: default;
    }

    &.selected .reading-test-option__key {
      box-shadow: 0 0 0 2px rgba(62, 172, 247, 1);
      border-color: rgba(62, 172, 247, 1);
    }

    &.correct .reading-test-option__key {
      box-shadow: 0 0 0 2px rgba(57, 161, 51, 1);
      border-color: #39a133;
    }

    &.wrong .reading-test-option__key {
      box-shadow: 0 0 0 2px rgba(199, 23, 23, 1);
      border-color: #c71717;
    }

    &__key {
      display: inline-flex;
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 20px;
      color: rgba(85, 100, 144, 0.8);
      font-weight: 600;
      position: relative;
      text-align: center;
      transition: 0.15s;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
      border: 1px solid #dde3eb;
      transition: 0.2s;

      @include bp(tablet) {
        margin-right: 10px;
      }
    }

    &__txt {
      font-size: 16px;
      color: $c-secondary;

      &.correct {
        color: #39a133;
      }

      &.wrong {
        color: #c71717;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__button {
    flex-basis: 48%;
    background: #dee4ec;
    border-radius: 100px;
    font-size: 16px;
    color: $c-secondary;
    min-height: 50px;
    min-width: 250px;
    transition-duration: 0.18s;

    @include bp(tablet) {
      flex-basis: 46%;
      min-width: 150px;
      min-height: 40px;
    }

    &:hover {
      background: #fff;
      color: #3eacf7;

      @include bp(tablet) {
        background: #dee4ec;
        color: $c-secondary;
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }

    .button__icon {
      font-size: 16px;
    }
  }

  &__finish-button {
    @include bp(tablet) {
      min-width: 250px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &-nav {
    position: relative;

    .progress {
      width: calc(100% + 10px);
      margin-left: -5px;
    }

    &__circles {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      left: 0;
    }

    .circle {
      background: transparent;
      display: inline-flex;
      line-height: 1em;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 2px solid #fff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &.active {
        background: #7ce777;
      }
    }

    &-tooltip {
      position: absolute;
      background: #24aafa;
      color: #fff;
      display: inline-flex;
      line-height: 1em;
      padding: 7px 11px 7px;
      top: 100%;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      transform: translateX(-50%);
      white-space: nowrap;
      border-radius: 4px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #24aafa;
        margin-bottom: -3px;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        top: 1px;
        backface-visibility: hidden;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-top: 25px;
    // margin-top: 30px;

    @include bp(tablet) {
      margin-top: 0;
      padding-top: 15px;
      padding-bottom: 20px;
    }

    &>.reading-test__button:nth-child(2) {
      margin-left: 30px;

      @include bp(tablet) {
        margin-left: 5px;
      }
    }
  }

  &__header {
    padding: 20px 25px 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3eb;
  }

  &-status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 120px;
    height: 120px;
    border: 5px solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7883a4;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;

    &.finished {
      transition: 10s;
      opacity: 0.25;
      visibility: visible;
    }

    &.correct {
      color: #51d169;
    }

    &.wrong {
      color: #df6060;
    }

    &__title {
      width: 100%;
      text-align: center;
      border-top: 5px solid;
      border-bottom: 5px solid;
      border-color: currentColor;
      padding: 4px 5px 3px;
      font-weight: 800;
      font-size: 19px;
      line-height: 1em;
      text-transform: uppercase;
    }
  }

  &-slider {
    position: relative;
    min-height: 300px;

    @include bp(tablet) {
      min-height: 220px;
    }

    &__item {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;

      &.slide-fade-right-enter-active,
      &.slide-fade-left-enter-active {
        position: absolute;
      }
    }
  }
}