@import '../variables';

.reading {
  .subpage-header__icon .icon {
    filter: drop-shadow(0px 7px 16px rgba(21, 25, 39, 0.24));
  }

  .reading-guide-btn-only-mobile {
    display: none;

    @include bp(tablet) {
      display: flex !important;
      order: 2;
    }
  }

  &__cnt {
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .subpage-tab {
    @media (max-width: 1400px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1360px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0px;
    }
  }

  .subpage-tab-guide-btn {
    @include bp(tablet) {
      display: none;
    }
  }

  &-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;

    &__result {
      margin-top: 40px;
      background: rgb(238, 251, 241);
      color: rgb(114, 221, 137);
      text-transform: uppercase;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &-item {
    @include column('column-6', center, initial);
    padding: 1rem;
    transition: 0.2s;

    @include bp(tablet) {
      padding: 0.8rem;
    }

    &:last-child {
      @include bp(tablet) {
        margin-bottom: 0;
      }
    }

    &:hover {
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
      transform: translateY(-5px);

      @include bp(tablet) {
        box-shadow: none;
        transform: translateY(0);
      }

      .reading__title {
        color: $c-alt;
      }
    }
  }

  &-detail {
    &__wrapper {
      .reading-tabitems {
        margin-top: 20px;
      }
    }

    .detail-ctr {
      .button {
        &:last-child {
          margin-right: unset;
          margin-left: auto;
        }
      }
    }

    .tab {
      position: relative;
      padding-bottom: 0px;
      margin-top: 0;

      &__linear-effect {
        display: none;

        @include bp(tablet) {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 48px;
          background-image: linear-gradient(
            to left,
            rgba(240, 244, 249, 1),
            rgba($c-bgmain, 0)
          );
          z-index: 1;
        }

        &--left {
          right: auto;
          left: 0;
          transform: rotate(180deg);
        }
      }
    }

    &__header {
      height: 420px;
      overflow: hidden;
      position: relative;
      border-radius: 10px;

      @include bp(tablet) {
        height: 320px;
      }

      &--contents {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 40px;
        z-index: 3;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 20%,
          rgba(255, 255, 255, 0) 60%
        );
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }

    &__inner {
      overflow: unset;
      max-width: 1000px;
      min-height: 420px;
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      width: calc(100%);
      position: relative;
      transition: 0.3s;
      display: flex;

      &--box {
        padding: 25px;
        border-radius: 15px;
        background: #fff;
      }

      @include bp(tablet-m) {
        max-width: unset;
        margin-left: 0;
        display: unset;
      }

      @include bp(tablet) {
        padding: 15px;
        padding-left: 0;
        padding-right: 0;
      }

      p {
        margin-bottom: 0 !important; // TODO: global style

        @include bp(tablet) {
          // margin-bottom: 15px;
        }
      }
    }

    &__title {
      font-size: 36px;
      color: #fff;
      font-weight: 700;

      @include bp(tablet) {
        font-size: 24px;
        text-align: center;
        line-height: 26px;
      }
    }

    &__translation {
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 18px;
    }

    &__tags {
      display: flex;
      align-items: center;
      margin-top: 12px;
    }

    &__tag {
      color: rgba($color: #fff, $alpha: 0.8);
      font-size: 15px;
      background: rgba($color: #fff, $alpha: 0.1);
      padding: 2px 8px;
      border-radius: 4px;

      & + & {
        margin-left: 10px;
      }
    }

    &__cnt {
      padding-top: 25px;
      position: relative;
      font-size: 16px;
      font-family: Georgia, times new roman, Times, serif;
      // user-select: none;
    }

    &__txt {
      display: inline;
      cursor: pointer;

      &:first-child {
        margin-left: -5px;
      }

      &.active {
        background: #e2e9f1;
        color: #5657ab;

        .text-en {
          background: #e2e9f1;
          color: #5657ab;

          & > span {
            pointer-events: none;
          }
        }

        p {
          color: #5657ab;
        }
      }

      span {
        transition: all 0.2s;
      }

      p {
        display: inline;
        padding: 3px 4px;
        font-size: inherit;
      }

      .text-en {
        transition: all 0.3s;

        &:hover {
          background: #e2e9f1;
          color: #5657ab;
          border-radius: 5px;
        }
      }

      &.nohover .text-en:hover {
        background: initial;
        color: unset;
        cursor: default;
      }
    }

    &__translate {
      font-family: 'Proxima Nova', sans-serif;
      color: #44449f;
      font-weight: 700;
      border-left: 3px solid #c6d3e4;
      padding-left: 13px !important;
      margin-left: 7px;

      @include bp(tablet) {
        display: block !important;
      }
    }
  }

  &-tabitems {
    width: auto;
    margin-top: 80px;
    margin-left: 15px !important;
    margin-right: 15px !important;

    &.swiper-container {
      @include bp(desktop) {
        overflow: unset;
      }

      @include bp(tablet-m) {
        overflow: hidden;
      }
    }

    .swiper-wrapper {
      justify-content: center;

      @include bp(tablet-m) {
        justify-content: unset;
      }
    }

    @include bp(tablet-m) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    @include bp(tablet) {
      margin-top: 20px !important;
    }

    &__cnt {
      margin-top: 55px;
    }

    &__tab {
      width: auto !important;
      transition: 0.2s;
    }

    .tab__icon {
      @include bp(desktop) {
        margin-right: 15px;
      }

      @include bp(tablet-m) {
        margin-right: 30px;
      }
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 1120px;

    @include bp(desktop-m) {
      margin-left: 0;
      margin-right: 0;
    }

    @include bp(desktop) {
      width: 920px;
      margin: 0%;
    }

    @media (max-width: 1160px) {
      width: 870px;
    }

    @include bp(tablet-m) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-top: 50px;
    }

    @include bp(tablet) {
      margin-top: 40px;
    }
  }

  &-tooltip {
    position: absolute;
    z-index: 5;
    background: $c-primary;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    right: auto;
    transform: translateY(-80%);
    margin-top: -20px;
    transition: all 0.3s;

    @include bp(tablet) {
      width: 100%;
      left: 0 !important;
    }

    p {
      color: #fff;
      padding: 0;
      // padding-left: 15px;
      font-size: 15px;
      // border-left: 3px solid rgba(198, 211, 228, 0.3);
      // font-style: italic;
      font-weight: 600;
    }

    &__caret {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;

      &:after {
        @include pseudo;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid $c-primary;
        bottom: 2px;
        left: 0;
        transition: all 0.3s;
        transform: translateY(100%);
      }
    }
  }

  &-ctr {
    z-index: 12;
    right: 55px;
    position: sticky;
    right: 0;
    margin-top: 0;
    top: -60px;
    height: max-content;
    transform: translate(80px, 70px);

    @include bp(tablet-m) {
      display: none;
      margin-top: 30px;
      position: absolute;
      right: 0;
      width: calc(100vw - 70px);
      transform: none;
      justify-content: space-between;
      align-items: center;
    }

    @include bp(mobile) {
      width: calc(100vw - 30px);
    }

    .button {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;

      @include bp(tablet-l) {
        margin-right: 15px;
      }

      &:last-child {
        @include bp(tablet-m) {
          margin-right: 0;
        }
      }
    }

    &__switch.button {
      padding: 10px 17px;
      font-weight: 800;
      display: flex;

      &.active {
        background: #4545a1;
        color: #fff;
      }
    }

    &__voice {
      &.active {
        background: #4545a1;
        color: #fff;

        .button__icon {
          @include bp(tablet) {
            color: #fff !important;
          }
        }

        &:hover {
          color: #fff;
        }
      }
    }

    &__top {
      .button {
        &:nth-child(3) {
          @include bp(tablet-m) {
            margin-right: 0;
          }
        }
      }

      @include bp(tablet-m) {
        display: flex;
        padding: 10px;
      }
    }

    &__bottom {
      margin-top: 120px;

      @include bp(tablet-m) {
        display: none;
        margin-top: 0;
      }
    }

    &__button {
      display: none;

      @include bp(tablet-m) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 35px;
      }

      .button {
        width: 100%;
        margin-right: 150px;
        padding-top: 0;
        padding-bottom: 0;

        @include bp(tablet) {
          margin-right: 15px;
          min-height: 44px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-ctr-mobile {
    position: sticky;
    bottom: 40px;
    display: none;

    /* &.nonfixed {
      position: relative;
    } */

    .reading-ctr {
      @include bp(tablet-m) {
        display: flex;
        position: static;
        background: #fff;
        width: 100%;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 0px 5px 25px 5px rgba(26, 34, 70, 0.16);

        .button__icon {
          font-size: 22px !important;
          color: $c-alt !important;
        }

        .button {
          @include bp(tablet-l) {
            margin-bottom: 0;
            margin-left: unset;
          }
        }

        &:hover {
          .button {
            @include bp(tablet) {
              box-shadow: none;
            }
          }

          .button__icon {
            @include bp(tablet) {
              color: #8e98b3;
            }
          }
        }
      }

      &__top {
        width: max-content;
        align-items: center;
        justify-content: center;

        .button {
          &.active {
            background: $c-alt;

            .button__icon {
              color: #fff !important;
            }
          }

          &:nth-child(3) {
            @include bp(tablet-m) {
              margin-right: 0;
            }

            &.active {
              .button__icon {
                color: #fff !important;
              }
            }
          }
        }
      }

      .button {
        &:last-child {
          @include bp(tablet) {
            margin-right: 0;
          }
        }
      }

      &-mobile__other-btn {
        .button__icon {
          @include bp(tablet) {
            font-size: 16px !important;
          }
        }

        &:first-child {
          @include bp(tablet-m) {
            margin-left: 15px;
          }
        }
      }
    }

    span {
      display: flex;
    }

    &__btn {
      opacity: 0;
      transition: 0.5s;
    }

    @include bp(tablet-m) {
      display: flex;
      justify-content: center;
      bottom: 15px;
      z-index: 12;
    }
  }

  &-words {
    padding: 20px 25px;
    margin-bottom: 50px;

    @include bp(tablet) {
      margin-bottom: 0;
      padding: 20px 10px;
    }

    &__header {
      border-bottom: 1px solid #dde3eb;
      margin-bottom: 25px;
      padding-bottom: 20px;
      position: relative;
      min-height: 78px;
    }

    &__inf {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include bp(tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__txt {
      color: $c-secondary;
      font-size: 17px;

      @include bp(tablet) {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 15px;
      }
    }

    &__button.button {
      color: $c-gray;
      min-width: 300px;

      @include bp(tablet) {
        width: 100%;
        min-height: 44px;
        padding-left: 50px;
      }

      @include bp(phone) {
        min-width: 100%;
      }

      &:hover {
        color: #fff;
      }

      .button__icon {
        color: #4545a2;

        @include bp(tablet) {
          font-size: 18px;
          width: 37px;
          height: 37px;
        }
      }
    }

    &__cnt {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .word-box {
        width: 49.5%;
        margin-right: 1%;
        margin-bottom: 1%;
        height: auto;
        display: flex;

        @include bp(tablet) {
          width: 100%;
          margin: 0;
          margin-bottom: 2%;
          padding: 10px;
        }

        &-meaning {
          overflow: visible;

          @include bp(tablet) {
            margin-top: 7px;
          }
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    &__ctr {
      display: flex;
      align-items: stretch;
      position: absolute;
      width: 100%;
      top: 0;

      @include bp(tablet) {
        flex-flow: wrap;
        position: static;
      }

      .button {
        margin-right: 20px;
        padding: 10px 25px;
        min-width: 160px;
        flex-shrink: 0;

        @include bp(tablet-l) {
          min-height: 47px;
        }

        &:first-child {
          @include bp(tablet) {
            order: 2;
            min-width: calc(50% - 10px);
          }
        }

        &:nth-child(2) {
          @include bp(tablet) {
            order: 1;
            min-width: 100%;
            margin-bottom: 15px;
            min-height: 46px;
            padding-left: 50px;
          }

          .button__icon {
            @include bp(tablet-l) {
              font-size: 18px;
              width: 37px;
              height: 37px;
            }
          }
        }

        &:last-child {
          margin-right: 0;

          @include bp(tablet) {
            order: 3;
            min-width: calc(50% - 10px);
          }

          .button__wrp {
            @include bp(tablet) {
              display: flow-root;
            }
          }

          .button__icon {
            @include bp(tablet) {
              position: relative;
              top: 2px;
            }
          }
        }

        &__wrp {
          width: 100%;
          justify-content: center;
        }

        &__icon {
          margin-left: auto;
        }

        &.fw {
          flex-shrink: initial;
        }

        &.icon-left {
          .button__icon {
            font-size: 19px;
          }
        }
      }
    }
  }

  &-container {
    display: flex;
    justify-content: center;

    .detail-ctr {
      left: 0;
      position: relative;

      &__item {
        justify-content: flex-start;
      }

      .button {
        &:last-child {
          @include bp(tablet-m) {
            margin-right: unset;
            margin-left: unset;
          }
        }
      }

      @include bp(tablet-m) {
        position: absolute;
        left: 35px;
        top: 5px;
      }

      @include bp(tablet) {
        top: 0;
      }

      @include bp(mobile) {
        left: 15px;
      }
    }

    .detail-right {
      right: 35px;

      @include bp(mobile) {
        right: 15px;
      }
    }
  }

  &-tabspace {
    width: 100%;
    margin-bottom: 20px;
  }

  &__content {
    min-height: 500px;
  }
}
