@import '../variables';

.select {
  width: 100%;
  position: relative;
  z-index: 5;

  &.active {
    z-index: 125;
  }

  &>* {
    user-select: none;
  }

  select {
    display: none;
  }

  &__wrp {
    position: absolute;
    top: 100%;
    min-width: 265px;
    right: 0;
    background: white;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0;
    padding-bottom: 1px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;

    @include bp(desktop) {
      min-width: 100%;
    }

    @include bp(mobile) {
      min-width: 100%;
    }

    &:before {
      position: absolute;
      top: 1px;
      right: 15px;
      transform: translateY(-100%);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      height: calc(100% + 50px);
      box-shadow: 0px 10px 46px 0px rgba(41, 53, 108, 0.17);
      border-radius: 8px;
      opacity: 0;
      pointer-events: none;
      border: 1px solid #dde3eb;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: none;

      &:after {
        opacity: 1;
      }
    }
  }

  &__list {
    max-height: 245px;
    overflow: auto;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0 1px;
  }

  &-header {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    color: #777e92;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    padding: 8px 25px;
    padding-right: 50px;
    transition: all 0.3s;
    background: $c-bgalt;
    z-index: 2;
    border-radius: 6px !important;

    @include bp(desktop) {
      padding-right: 30px;
    }

    @include bp(tablet-m) {
      padding-right: 0px;
    }

    &.open {
      background: none !important;

      .select__caret {
        background: #ebeff5;
        box-shadow: none;

        &:after {
          top: 8px;
          transform: rotate(180deg);
        }
      }
    }

    &.active {
      color: #4545a2;
    }

    .icon-font {
      margin-right: 10px;
      font-size: 25px;
      flex-shrink: 0;
      width: 1em;
    }
  }

  &__title {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    @include bp(tablet) {
      font-size: 15px;
    }
  }

  &__caret {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);

    &:after {
      @include pseudo;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #4545a2;
      top: 11px;
      left: 8px;
      transition: all 0.3s;
    }
  }

  &__dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    font-size: 15px;
    display: inline-flex;
    position: relative;
    top: -1px;
    left: -10px;
    margin-right: 1px;
    transition: all 0.3s ease-in-out;
  }

  &__option {
    font-weight: 600;
    font-size: 17px;
    color: #777e92;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    position: relative;
    transition: all 0.3s;

    @include bp(tablet) {
      font-size: 15px;
    }

    &.passive {
      opacity: 0.5;
      pointer-events: none;
    }

    &.selected {
      background: $c-bgmain;
      color: #7682a6;
      font-weight: 700;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #dde3eb;
      height: 1px;
      width: 90%;
      pointer-events: none;
    }

    &:hover {
      color: #4545a2;
    }

    .icon-font {
      margin-right: 10px;
      font-size: 24px;
      flex-shrink: 0;
    }

    &-title {
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      line-height: 1.4em;
      text-overflow: ellipsis;
    }

    .select__dot {
      font-size: 13px;
      left: 0;
      margin-right: 10px;
    }
  }
}