@import '../variables';

.shop-page {
  @include bp(tablet-m) {
    overflow: hidden;
  }

  .subpage-header {
    padding-top: calc(145px);

    @include bp(tablet) {
      padding-top: 115px;
    }

    &__icon {
      @include bp(tablet) {
        font-size: 32px;
      }
    }

    &__title {
      color: #a9b3cb;

      @include bp(tablet) {
        font-size: 20px;
      }

      span {
        color: #5657ab;
        font-weight: 400;
      }
    }
  }

  .subpage-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #c9d5e3;

    * {
      color: $c-secondary;
    }

    &__item {
      position: relative;
      height: 84px;

      // &.active {
      //   &:after {
      //     content: "";
      //     width: 95%;
      //     background: #5657ab;
      //     height: 5px;
      //     position: absolute;
      //     bottom: -2px;
      //     left: 50%;
      //     transform: translateX(-50%);
      //   }
      // }
    }

    &-list {
      justify-content: center;

      @include bp(tablet) {
        justify-content: flex-start;
        overflow-x: scroll !important;
      }

      .swiper-slide {
        opacity: 1;
      }
    }
  }

  .subpage-header__info {
    button {
      color: #7380a5;
      background: #d5ddec;

      .button__txt {
        @include bp(tablet) {
          margin-top: 4px;
        }
      }

      .button__icon {
        @include bp(tablet) {
          font-size: 22px;
        }
      }
    }
  }

  .subpage-tab__item {
    &.active {
      &::before {
        background: #556490;
      }
    }

    svg {
      font-size: 25px;
      position: relative;
      left: 0;
      top: -1px;
      margin-right: 7px;
    }
  }

  .subpage-tab-list {
    overflow-x: unset;

    .swiper-container {
      width: 100%;
    }

    .swiper-wrapper {
      top: -15px;
      justify-content: center;

      @include bp(tablet) {
        justify-content: flex-start;
      }
    }
  }

  .cluebank-tabslider {
    .tab__icon {
      margin-right: 12.5px;
      font-size: 22px;
    }

    .tab__text {
      font-weight: 600;
      text-transform: capitalize;
    }

    .swiper-slide {
      width: auto !important;
      margin-right: 35px;

      @include bp(tablet) {
        margin-right: 0;
      }

      &:first-child {
        .tab__item:first-child svg {
          font-size: 21px;
          top: -2px;
          fill: #d2ad54;
        }

        .tab__item.active:first-child:after {
          background: #d2ad54;
        }

        .tab__text {
          color: #556490;
          text-transform: capitalize;
        }

        .tab__item:first-child:before {
          content: '';
          width: 1px;
          height: 60%;
          background: #c1cedc;
          position: absolute;
          display: block;
          left: calc(100% + 17.5px);
          opacity: 1;
          border-radius: 0;
        }

        .tab__item:first-child {
          z-index: 24;
          overflow: inherit;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .tab__item {
      .d-flex {
        white-space: nowrap;
      }
    }
  }

  .tabs {
    .tab-content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;

      &.active {
        max-height: 5000px;
        opacity: 1;
      }
    }
  }

  .radio-group {
    padding: 8px;

    label {
      display: flex;
      flex-direction: row;
      padding: 0 25px 0 55px;
      margin-bottom: 0 !important;
      position: relative;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      color: #848dad;

      &:first-child {
        border-right: 1px solid #d3dae4;
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;

        &:checked ~ span .seperator {
          color: #7747d2;
        }
      }
    }

    display: inline-flex;
    flex-direction: row;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background: #e5e9f2;

    .seperator {
      width: 24px;
      height: 24px;
      background: white;
      border-radius: 100%;
      left: 15px;
      position: absolute;
      top: 50%;
      color: #fff;
      transform: translateY(-50%);
      box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.1);
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--custom-selectbox {
    margin: 20px 0;
    min-width: 260px;

    .select-header {
      height: 45px;
      font-size: 16px;
      background: #e5e9f2;
    }
  }

  &--title {
    font-size: 20px;
    margin-bottom: 25px;
    display: flex;

    &.pl-25 {
      @include bp(tablet) {
        padding-left: 0;
      }
    }

    @include bp(tablet) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &[data-color='green'] {
      span {
        svg {
          color: #3c9d86;
        }

        strong {
          b {
            color: #3c9d86;
          }
        }
      }
    }

    &[data-color='blue'] {
      span {
        svg {
          color: #468bd1;
        }

        strong {
          b {
            color: #468bd1;
          }
        }
      }
    }

    &[data-color='red'] {
      span {
        svg {
          color: #eb6362;
        }

        strong {
          b {
            color: #eb6362;
          }
        }
      }
    }

    &[data-color='purple'] {
      span {
        svg {
          color: #3d3b94;
        }

        strong {
          b {
            color: #3d3b94;
          }
        }
      }
    }

    > svg {
      background: white;
      width: 40px;
      height: 40px;
      padding: 10px;
      color: #d2ad55;
      border-radius: 14px;
      margin-right: 10px;
      box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.08);

      @include bp(tablet) {
        width: 35px;
        height: 35px;
      }
    }

    span {
      display: inline-flex;
      height: 40px;
      padding-left: 15px;
      align-items: center;
      border-left: 1px solid #cbd2dd;
      margin-left: 7px;

      @include bp(tablet) {
        padding-left: 10px;
        margin-left: 3px;
      }

      svg {
        font-size: 25px;
        color: #3c9d86;
        margin-right: 15px;

        @include bp(tablet) {
          font-size: 22px;
        }
      }

      strong {
        color: #9ea6be;
        font-weight: 400;

        b {
          font-weight: 400;
        }
      }
    }
  }

  .tabs {
    .tab-content {
      padding: 0 100px;
      margin: 0 -100px;
    }
  }

  .settings-button {
    display: flex;
    align-items: center;
    height: 45px;

    @include bp(tablet) {
      margin-bottom: 10px;
      height: auto;
    }

    span {
      margin-right: 15px;
      color: #949bb5;
      font-size: 18px;
      font-weight: 300;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    button {
      width: 45px;
      height: 45px;
      background: #e5e9f2;
      border-radius: 8px;
      color: #9ba7b9;
      font-size: 35px;
      transition: 0.3s;

      @include bp(tablet) {
        flex-shrink: 0;
      }

      svg {
        position: relative;
        top: -1px;
      }
    }

    &:hover {
      button {
        background: #d6dcea;
      }
    }
  }

  .product-card {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;

    @include bp(tablet) {
      width: 100%;
    }

    .product-card-cover__img {
      box-shadow: 0px 0.5rem 2rem 0px rgba(27, 36, 78, 0.2);
    }
  }

  // .swiper-container {
  //   margin: 0 -60px;
  //   padding: 0 90px;
  //   overflow: initial !important;

  //   .swiper-container-3d.swiper-slide-shadow-left {
  //     @include bp(tablet) {
  //       background-image: transparent !important;
  //     }
  //   }
  // }

  // .product-slider-design {
  //   .swiper-container {
  //     padding: 0 0px !important;
  //   }
  // }

  // .swiper-slide {
  //   opacity: 0;
  //   transition: 0.3s;
  // }

  // .swiper-slide-active {
  //   opacity: 1;
  // }

  // .swiper-button-disabled {
  //   opacity: 0.35 !important;
  // }

  // .swiper-button-next,
  // .swiper-button-prev {
  //   background: white !important;
  //   border-radius: 100% !important;
  //   width: 60px !important;
  //   margin-top: -45px;
  //   height: 60px !important;
  //   color: #4545a1 !important;
  //   font-size: 22px;
  //   transition: 0.3s;
  // }

  // .swiper-button-prev {
  //   box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1) !important;
  //   margin-left: -60px;
  // }

  // .swiper-button-next {
  //   box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1) !important;
  //   margin-right: -60px;
  // }

  // .swiper-button-next:hover {
  //   transform: scale(1.05);
  // }

  //.swiper-button-next {
  //  margin-right: 20px;
  //  width: 45px !important;
  //  height: 45px !important;
  //  margin-top: -45px;
  //}

  //.swiper-button-prev {
  //  margin-left: 20px;
  //  width: 45px !important;
  //  height: 45px !important;
  //  margin-top: -45px;
  //}
  .custom-subtitle-area {
    width: 95%;
    margin: 0 auto;

    &.mobile-flex-column {
      @include bp(tablet) {
        flex-direction: column;
        width: 100%;
      }
    }

    &.mt-20 {
      margin-top: 20px;
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: static;
    margin-top: 25px;
    margin-bottom: 40px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #7d97ae;
      opacity: 1;
      margin: 0 4px;
      transition: all 0.3s;

      &.swiper-pagination-bullet-active {
        width: 50px;
        border-radius: 8px;
        background: #4645a2;
      }
    }
  }

  //.swiper-slide.swiper-slide-next {
  //  opacity: 0;
  //  transition: all .5s;
  //}
  //
  //.swiper-slide.swiper-slide-prev {
  //  opacity: 0;
  //  transition: all .5s;
  //}
  .product-card-cover {
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(tablet) {
      min-height: auto;
    }
  }

  .tab-list {
    display: flex;
    justify-content: center;
    height: 50px;
    background: #f9fbfd;
    border-bottom: 1px solid #e2e8ec;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      color: #7d97ac;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: -1px;

      &.active {
        border-bottom: 1px solid #4545a1;
        color: #4545a1;
      }
    }
  }

  .all-books {
    .swiper-container {
      margin: 0 !important;
    }

    .slider-of-slide-4 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      padding: 0 6px;
      background: #fcfdff;
      border-radius: 100px;
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      z-index: 999;
    }

    .slider-of-slide-4 div {
      width: 30px;
      height: 30px;
      background: $c-bgicon;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px !important;
      color: #4645a1;
      cursor: pointer;
    }

    .slider-of-slide-4 div.swiper-button-disabled {
      color: #b0bfca;
      pointer-events: none;
    }

    .swiper-pagination.slide-4 {
      margin-top: 0;
      background: transparent;

      span {
        font-size: 20px;
        color: #8ca3b7;
      }
    }
  }
}

@mixin bp($point) {
  @if $point==desktop-l {
    @media (max-width: 1920px) {
      @content;
    }
  } @else if $point==r-desktop-l {
    @media (min-width: 1920px) {
      @content;
    }
  } @else if $point==desktop-m {
    @media (max-width: 1500px) {
      @content;
    }
  } @else if $point==r-desktop-m {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point==desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point==nav {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point==r-nav {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point==tablet-small {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point==r-desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==r-tablet {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point==ipad-vertical {
    @media (min-width: 768px) and (max-width: 768px) {
      @content;
    }
  } @else if $point==r-tablet-small {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point==r-mobile {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point==mobile-small {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point==mobile-xs {
    @media (max-width: 330px) {
      @content;
    }
  }
}

.product-item {
  position: relative;
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
  transform: translateY(0);
  transition: 0.3s;
  border-radius: 13px;

  @include bp(r-tablet-small) {
    &:hover {
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
      transform: translateY(-3px);

      .product-item__cover:after {
        opacity: 0.25;
      }

      .product-item__title,
      .product-item-price__main {
        color: $c-primary;
      }
    }
  }

  &__wrp {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 45px;
    z-index: 1;
    position: relative;

    &:hover {
      z-index: 2 !important;
    }

    @include bp(tablet-small) {
      margin-bottom: 20px;
    }

    @include bp(mobile) {
      padding-right: 6px;
      padding-left: 6px;
      margin-bottom: 12px;
    }
  }

  &__inner {
    background: #fff;
    border-radius: 13px;
    box-shadow: 0px 9px 22px 0px rgba(28, 48, 87, 0.1);
    position: relative;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    display: block;
  }

  &__top {
    padding: 13px;
    padding-bottom: 17px;
    position: relative;
    z-index: 2;

    @include bp(mobile) {
      padding: 9px;
      padding-bottom: 11px;
    }
  }

  &__cover {
    position: relative;
    height: 18rem;
    display: flex;
    justify-content: center;
    background: #fefefe;
    align-items: center;

    @include bp(mobile) {
      height: 14rem;
    }

    &:after {
      //content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      border-radius: 11px;
      background: #25256d;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    & > img {
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }

  &-slider {
    //margin-right: 15px;
    position: relative;
    max-width: 100%;
    height: 215px;
    margin-right: 15px;
    margin-bottom: 20px;

    @include bp(mobile) {
      height: 155px;
      margin-right: 10px;
    }

    .swiper-slide {
      //opacity: 1;
      img {
        opacity: 1;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
      }

      &-active,
      &-next {
        //opacity: 1;

        img {
          opacity: 1;
          pointer-events: all;
          box-shadow: 0px 25px 122px 0px rgba(27, 36, 78, 0.44);
        }
      }
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 2;
      transform: translateX(42px) scale(0.8);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 11px;
        background: #25256d;
        opacity: 0.4;
        transition: all 0.3s ease-in-out;
      }

      &.item-active {
        opacity: 1;
        transform: none;
        z-index: 5;

        &:after {
          opacity: 0;
        }
      }

      &.item-prev {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        transition-delay: 0.15s, 0s;
        z-index: 7;
      }

      &.item-next {
        opacity: 1;
        transform: translateX(27px) scale(0.87);

        @include bp(mobile) {
          transform: translateX(20px) scale(0.85);
        }
      }

      &.swiper-slide-active {
        &:after {
          opacity: 0;
        }
      }
    }

    &__bullet {
      width: 7px;
      height: 7px;
      cursor: pointer;
      display: inline-block;
      border-radius: 20px;
      margin: 0 3px;
      background: #7c96ac;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;

      &.active {
        background: #4545a2;
        width: 46px;
        opacity: 1;
      }
    }

    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      position: relative;
      bottom: 0 !important;
      z-index: 2;

      .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 20px;
        background: #7c96ac;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;

        &-active {
          background: #4545a2;
          width: 47px;
          opacity: 1;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    //min-width: 190px;
    object-fit: cover;
    box-shadow: 0px 24px 79px 0px rgba(28, 48, 87, 0.1);
    pointer-events: none;
    user-select: none;

    @include bp(mobile) {
      border-radius: 8px;
    }
  }

  &__cnt {
    padding: 0 13px;
    padding-bottom: 13px;
    background: white !important;

    @include bp(mobile) {
      padding: 0 10px;
      padding-bottom: 13px;
    }
  }

  &__title {
    color: #7d97ad;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 8px;
    transition: color 0.3s;
    min-height: 46px;
    display: flex;
    align-items: center;

    @include bp(mobile) {
      font-size: 15px;
    }

    @include bp(mobile-small) {
      font-size: 14px;
    }
  }

  &-groups {
    border-top: 1px solid #dae5ee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 13px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a3b2bf;
      font-weight: 600;
      margin-bottom: 0;
      padding: 5px;
      background: #ecf3f7;
      border-radius: 5px;
      margin-right: 5px;
      width: 37px;
      height: 37px;
      font-size: 29px;

      &:last-child {
        margin-right: 0;
      }

      @include bp(mobile) {
        width: 33px;
        height: 33px;
        margin-right: 5px;
        padding: 3px;
        font-size: 20px;
      }

      @include bp(mobile-small) {
        font-size: 18px;
      }

      .custom-tooltip__drop {
        min-width: 185px;
        text-align: center;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: #fff;
          position: absolute;
          top: 100%;
          transform: rotate(45deg);
          margin-top: -5px;
          left: 50%;
          margin-left: -5px;
        }
      }
    }

    &__icon {
      width: 1em;
      height: 1em;
      object-fit: contain;
    }

    &__title {
      color: #a3b2bf;
      font-weight: 600;
      font-size: 16px;
      margin: 0;

      @include bp(mobile) {
        font-size: 13px;
      }

      @include bp(mobile-small) {
        font-size: 12px;
      }
    }
  }

  &-price {
    display: flex;
    align-items: center;
    border-top: 1px solid #dae5ee;
    padding-top: 10px;

    &__left {
      margin-left: 13px;

      @include bp(mobile) {
        margin-right: 9px;
      }
    }

    .discount {
      background: #e56464;
      border-radius: 5px;
      padding: 0 8px;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      font-weight: 400;
      color: #fff;
      margin-left: 0;

      @include bp(mobile) {
        padding: 8px 5px;
      }

      &__title {
        font-size: 17px;

        @include bp(mobile) {
          font-size: 15px;
        }
      }
    }

    &__old {
      color: #7d97ad;
      text-decoration: line-through;
      font-weight: 600;
      font-size: 16px;
      white-space: nowrap;
      line-height: 1em;
      opacity: 0.8;

      @include bp(mobile) {
        font-size: 12px;
      }
    }

    &__main {
      font-size: 23px;
      font-weight: 700;
      color: #7d97ad;
      white-space: nowrap;
      line-height: 1em;
      transition: 0.3s;

      @include bp(mobile) {
        font-size: 15px;
      }
    }
  }

  &__btn {
    background: $c-primary;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 35px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-top: 24px;
    padding-bottom: 13px;
    font-weight: 700;
    font-size: 16px;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
  }

  &-app {
    display: block;
    padding: 13px;
    margin-bottom: 13px;

    &--wordy {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 15px 20px rgba(24, 102, 79, 0.42));
        filter: drop-shadow(0 15px 20px rgba(24, 102, 79, 0.42));
      }
    }

    &--okuma {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 15px 20px rgba(108, 53, 104, 0.35));
        filter: drop-shadow(0 15px 20px rgba(108, 53, 104, 0.35));
      }
    }

    &--digibook {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 13px 24px rgba(187, 63, 128, 0.36));
        filter: drop-shadow(0 13px 24px rgba(187, 63, 128, 0.36));
      }
    }

    &--deneme {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 8px 24px rgba(116, 60, 159, 0.4));
        filter: drop-shadow(0 8px 24px rgba(116, 60, 159, 0.4));
      }
    }

    &--dokuman {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 5px 17px rgba(248, 95, 43, 0.3));
        filter: drop-shadow(0 5px 17px rgba(248, 95, 43, 0.3));
      }
    }

    &--sozluk {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 13px 24px rgba(7, 84, 185, 0.35));
        filter: drop-shadow(0 13px 24px rgba(7, 84, 185, 0.35));
      }
    }

    &--test {
      .product-item-app__icon {
        -webkit-filter: drop-shadow(0 13px 24px rgba(7, 84, 185, 0.35));
        filter: drop-shadow(0 13px 24px rgba(7, 84, 185, 0.35));
      }
    }

    &__wrp {
      background: #f3f7f9;
      border-radius: 6px;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 227px;

      @include bp(mobile) {
        height: 187px;
        padding: 15px;
      }

      @include bp(mobile-small) {
        height: 157px;
      }
    }

    &__icon {
      width: 95px;
      -webkit-filter: drop-shadow(0 15px 20px rgba(40, 50, 82, 0.35));
      filter: drop-shadow(0 15px 20px rgba(40, 50, 82, 0.35));

      @include bp(mobile) {
        width: 81px;
      }

      @include bp(mobile-small) {
        width: 61px;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: $c-primary;
  }
}

.product {
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;

    @include bp(desktop) {
      max-width: 710px;

      .product-item-slider {
        height: 200px;
      }
    }

    @include bp(mobile) {
      .product-item-slider {
        height: 155px;
      }
    }

    @include bp(tablet-small) {
      justify-content: center;
    }
  }

  &-desctiption-pane {
    & span {
      display: inline !important;
    }
  }
}

.product-item {
  .swiper-container {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    height: 3rem;
  }

  &-list-app {
    display: flex;
    border-top: 1px solid #dae5ee;
    flex-direction: column;
    padding-top: 10px;
    height: 3rem;
  }

  &__wrp {
    margin-bottom: 1.5rem;
  }

  .product-item-list-app img {
    width: 24px;
    margin-right: 9px;
  }

  .product-item-list-app figure {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 12px;
    color: #b8c5d0;
    font-size: 17px;
    font-weight: 300;
  }
}

.custom-subtitle-area-2 {
  padding: 0 10px;
}

.custom-subtitle-area-2 strong {
  font-size: 18px;
  color: #4645a1;
}

.custom-subtitle-area-2 span {
  font-size: 16px;
  color: #939eba;
  font-weight: 300;
}

.wizard-banner {
  margin: 35px 25px 15px 25px;

  @include bp(mobile) {
    margin: 15px 0;
  }

  a {
    color: currentColor;

    &:hover {
      color: currentColor;
    }
  }

  &__inner {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
    background: #f4f7f9;
    height: 130px;
    display: block;
    cursor: pointer;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }

  &__cnt {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-left: 25px;
    padding-right: 35px;
    height: 100%;
    background: white;

    @include bp(desktop) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include bp(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__img {
    align-self: center;
    height: 85px;
    object-fit: contain;
    object-position: center;
    margin-right: 45px;
    margin-left: 15px;

    @include bp(desktop) {
      height: 65px;
      margin-right: 25px;
      margin-left: 0;
      width: 55px;
    }

    @include bp(mobile) {
      height: 75px;
      margin-right: 15px;
      width: 45px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;

    @include bp(desktop) {
      font-size: 17px;
    }

    @include bp(mobile) {
      font-size: 15px;
    }
  }

  &__button.button {
    color: #fff;
    background: rgba(255, 255, 255, 0.14);
    margin-left: auto;
    min-height: 59px;
    min-width: 320px;

    @include bp(desktop) {
      min-width: initial;
      white-space: nowrap;
      margin-left: auto;
    }

    @include bp(mobile) {
      margin-left: auto;
      min-height: 45px;
      width: 45px;
      padding: 5px;
      flex-shrink: 0;
    }

    .button__txt {
      width: 100%;
      justify-content: center;
      text-align: center;

      @include bp(tablet-small) {
        display: none;
      }
    }

    .button__icon,
    .button__txt {
      transition: none;
    }
  }
}

.colored-white {
  color: white !important;
}

.go-product-wizard {
  background: rgba(240, 248, 255, 0.2) !important;
  color: white !important;
  width: auto !important;
  margin-right: 0;
  margin-left: auto;

  &:hover {
    background: rgba(240, 248, 255, 0.3) !important;
  }
}

.time-list {
  display: flex;

  @include bp(tablet) {
    flex-direction: column;
  }

  &__item {
    display: block;
    flex: 1;
    border-right: 1px solid #dde3eb;

    @include bp(tablet) {
      border-right: none;
      border-bottom: 1px solid #dde3eb;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &:last-child {
      border-right: 0;

      @include bp(tablet) {
        border-bottom: none;
      }
    }
  }

  &__header {
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    font-weight: 700;
    color: #656d85;
    font-size: 18px;
    line-height: 1em;
    text-align: center;

    @include bp(tablet) {
      padding: 10px 5px;
      padding-top: 8px;
      display: flex;
    }
  }

  &__icon {
    margin-bottom: 0;
    color: #43449f;
    font-size: 25px;
  }

  &__title {
    display: block;
  }

  &__cnt {
    display: block;
    padding: 15px 10px;

    @include bp(tablet) {
      padding: 10px 10px;
    }
  }

  &__txt {
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #7d97ad;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.store-page-content {
  .swiper-wrapper {
    .modal__overlay {
      position: absolute !important;
    }
  }
}

.cart-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 95px;
  height: 80px;
  font-size: 28px;
  cursor: pointer;
  z-index: 261;
  color: $c-secondary;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 999;

  &.active {
    transform: translateX(450px) translateY(-50%);
    display: none;
  }

  svg {
    position: relative;
    left: -5px;

    @include bp(tablet) {
      font-size: 30px;
      left: 0;
    }
  }

  &__inner {
    background: #ffffff;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    justify-content: center;
    box-shadow: 0 11px 35px rgba(131, 142, 172, 0.2);

    @include bp(tablet) {
      width: 100%;
    }
  }

  @include bp(tablet) {
    top: auto;
    bottom: 0;
    width: 80px;
    right: 15px;
    height: 80px;
    border-radius: 50%;
    left: auto;
    font-size: 24px;
    z-index: 225;
    overflow: hidden;
    box-shadow: 0px 0px 21px 5px rgba(41, 53, 108, 0.21);
  }

  .only-tablet-inline {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }

  &__counter {
    position: absolute;
    width: 21px;
    height: 21px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
    background: #4645a1;
    font-weight: 600;
    top: 18px;
    right: 29px;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    @include bp(tablet) {
      top: 20px;
      right: 15px;
      position: absolute;
      transform: none;
      width: 20px;
      height: 20px;
    }
  }

  &:after {
    content: '';
    width: 3px;
    height: 0;
    background: $c-alt;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    @include bp(tablet) {
      display: none;
    }
  }

  &__text {
    position: absolute;
    right: 100%;
    background: $c-alt;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 7px;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    margin-right: 15px;
    -webkit-box-shadow: 0px 2px 20px rgba(81, 98, 118, 0.35);
    box-shadow: 0px 2px 20px rgba(81, 98, 118, 0.35);
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0.5);
    transform: translateY(-50%) scale(0.5);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid $c-alt;
      margin-left: -7px;
      right: -7px;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:hover {
    //width: 100px;
    color: $c-alt;

    &:after {
      height: 70%;
    }

    .cart-button__text {
      opacity: 1;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .cart-button__counter {
      background: $c-alt;
    }
  }
}

.shop-main-h4 {
  color: #949bb5;
  font-size: 18px;
  font-weight: 300;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;

  &.pos-abs {
    width: max-content;
    margin: unset;
    position: absolute;
    top: -55px;
    right: 35px;
    width: 50%;
    text-align: right;

    @include bp(tablet) {
      position: static;
      width: auto;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

.store-lessons {
  .product-item__cover {
    max-height: 18rem;
    height: auto;
  }

  @include bp(tablet) {
    .select {
      width: 100%;
    }
  }
}

.shop-vue-select {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include bp(tablet) {
    flex-direction: column;
    margin-top: 1rem;
  }

  .ghost-filter {
    width: 300px;

    @include bp(tablet) {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.cart-content {
  position: fixed;
  //top: 100px;
  left: 0;
  width: 450px;
  border-radius: 0px 25px 25px 0;
  z-index: 999;
  top: 50%;

  transform: translateX(-450px) translateY(-50%);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

  @include bp(tablet) {
    top: 100%;
    right: auto;
    left: 0%;
    transform: translateY(0) translateX(-0%);
    width: 100%;
    height: 100%;
  }

  &.active {
    top: 50%;
    transform: translateX(0px) translateY(-50%);
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    @include bp(tablet) {
      transform: translateY(0px) translateX(0%);
      top: 0;
    }
  }

  .cart-close-icon {
    display: none;

    @include bp(tablet) {
      display: flex;
      margin-left: 10px;
    }

    svg {
      margin-right: 0;
      font-size: inherit;
    }
  }

  &--empty {
    margin-top: 0 !important;
    padding: 0 !important;

    .empty-content {
      &__icon {
        margin-bottom: 0 !important;
        margin-right: 0;
      }
      &__title {
        span {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }

      &__txt {
        max-width: 80%;
        width: 100%;
      }
    }
  }

  &--cart-header {
    display: flex;
    justify-content: space-between;
    background: $c-bgmain;
    height: 80px;
    align-items: center;
    color: $c-primary;
    font-size: 20px;
    padding: 0 26px 0 20px;
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom: 1px solid #e8eef4;

    .basket-text {
      font-weight: 700;
    }

    @include bp(tablet) {
      border-radius: 0;
      justify-content: flex-start;
      position: relative;
      top: 0;
      z-index: 1;
      width: 100%;
      left: 0;
    }

    & > div {
      display: flex;
      align-content: center;

      &:first-child {
        @include bp(tablet) {
          margin-right: auto;
        }
      }

      span {
        color: $c-primary;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
    }

    svg {
      font-size: 39px;
      margin-right: 15px;
    }

    strong {
      font-weight: 600;
    }

    span {
      font-size: 18px;
      font-weight: 500;
      color: #94aabc;

      strong {
        font-weight: 600;
        color: #4a597a;
      }
    }
  }

  &--products {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh / 2.5);
    background: #f9fafe;
    padding: 0 20px;
    min-height: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &.isEmpty {
      padding: 50px 0;

      @include bp(tablet) {
        height: calc(100% - 70px);
      }
    }

    @include bp(tablet) {
      max-height: unset;
      overflow-y: scroll;
      height: calc(100% - 70px - 96px - 87px - 10px);
      align-items: flex-start;
      padding: 0 15px;
    }

    .empty-content {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      margin-bottom: -10px;
    }

    img {
      width: 55px;
      min-height: 70px;
      object-fit: cover;
      height: auto;
      margin-right: 15px;
      border-radius: 10px;
      box-shadow: 0px 0 6px rgba(85, 100, 144, 0.15);
    }

    & > div {
      display: flex;
      flex-direction: row;
      padding: 15px 0;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid #e3e8ef;

      &:last-child {
        border: none;
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        strong {
          font-size: 18px;
          width: 100%;
          font-weight: 300;
          color: #21325a;
          opacity: 0.8;
          line-height: 20px;
          transition: 0.3s;
        }

        span {
          font-size: 16px;
          font-weight: 300;
          color: #9ab0c2;
          opacity: 0.8;
          width: 100%;
          transition: 0.3s;
        }
      }

      &:hover {
        & > div {
          user-select: none;
        }

        .buttons {
          opacity: 1;
        }
      }

      .buttons {
        opacity: 0;
        margin-left: auto;

        @include bp(tablet) {
          opacity: 1;
        }

        a {
          width: 32px;
          height: 32px;
          background: #e5ebf1;
          border-radius: 5px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #98acbe;
          font-size: 18px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: $c-primary;
          }
        }
      }
    }

    &--price {
      color: #21325a !important;
      opacity: 0.8 !important;
    }
  }

  &--price {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: $c-bgmain;
    border-bottom: 1px solid #e1e7ef;
    color: #7d97ad;
    border-top: 1px solid #e1e7ef;

    @include bp(tablet) {
      position: absolute;
      bottom: 87px;
      width: 100%;
      left: 0;
    }

    strong {
      color: #4545a2;
      font-size: 20px;
    }
  }

  &--footer {
    background: $c-bgmain;
    padding: 20px;
    border-bottom-right-radius: 25px;

    @include bp(tablet) {
      border-radius: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &.empty {
      background: #f9fafe;
    }
  }
}

.subpage-shop-button {
  .button {
    background: transparent !important;

    @include bp(tablet) {
      padding: 0;
    }

    &__icon {
      position: relative;
      top: 2px;
    }
  }
}

.cart-bg {
  background: #222255;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 998;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

  &.active {
    opacity: 0.3;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    pointer-events: auto;
  }
}

.shop-detail-btn {
  border-radius: 100px;
  border: 1px solid #c1cedc;
  font-size: 14px;
  padding: 0 20px;

  svg {
    font-size: 18px;
  }
}

.shop-detail-page {
  .subpage-header__title {
    color: #a9b3cb;

    span {
      color: #5657ab;
    }
  }

  .subpage-header {
    padding-bottom: 250px;
    margin-bottom: -200px;

    &__icon {
      color: $c-primary;

      @include bp(tablet) {
        font-size: 32px;
      }
    }

    &__title {
      span {
        @include bp(tablet) {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }

  .product-card {
    width: 100%;
  }

  .subpage-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #c9d5e3;

    * {
      color: $c-secondary;
    }

    &__item {
      position: relative;
      height: 84px;

      &.active {
        &:after {
          content: '';
          width: 95%;
          background: #5657ab;
          height: 5px;
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .subpage-header__info {
    button {
      color: #7380a5;
      background: #d5ddec;
    }
  }

  .subpage-tab__item svg {
    font-size: 25px;
    position: relative;
    left: 0;
    top: -1px;
    margin-right: 7px;
  }

  .subpage-tab__item:after {
    background: #d2ad54 !important;
    height: 3px !important;
    position: absolute;
    bottom: 0px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .subpage-tab__item:first-child svg {
    font-size: 21px;
    top: -2px;
    fill: #d2ad54;
  }

  .subpage-tab__item:first-child:before {
    content: '';
    width: 1px;
    height: 60%;
    background: #c1cedc;
    position: absolute;
    display: block;
    left: calc(100% + 10px);
    opacity: 1;
    border-radius: 0;
  }

  .subpage-tab__item:first-child {
    z-index: 997;
    overflow: inherit;
  }

  .subpage-tab__item:after {
    content: '';
    width: 0;
    background: #5657ab;
    height: 5px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .shop-detail-page-container {
    margin-top: -200px;
  }

  .product-tab {
    display: block;
    position: relative;
    z-index: 22;
    background: $c-bgmain;

    &--single {
      padding: 0px 10px;

      .product-tab__item {
        padding: 15px;
        display: flex;
        min-height: 92px;
      }
    }

    &__wrp {
      //box-shadow: 0px 7px 13px 0px rgba(41, 53, 108, 0.09);
      background: transparent;

      border-radius: 6px;
      width: 100%;
      position: relative;
      overflow: hidden;
    }

    &__header {
      display: flex;
      align-items: stretch;
      width: 100%;
      position: relative;

      @include bp(tablet) {
        overflow-y: hidden;
        overflow-x: scroll;
      }

      .product-tab__item {
        &:first-child {
          padding-left: 30px !important;
        }
      }
    }

    &__item {
      //display: flex;
      //width: 100%;
      //align-items: center;
      //justify-content: center;
      //padding: 35px 15px;
      //font-size: 18px;
      //color: #7d97ad;
      //line-height: 1em;
      //position: relative;
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 35px 15px;
      text-align: left;
      padding-left: 35px !important;
      //padding: 15px;
      font-size: 17px;
      color: #7d97ad;
      line-height: 1.3em;
      position: relative;
      flex: auto;
      width: auto;
      cursor: pointer;
      background: none;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      padding-right: 55px;
      //max-width: 300px;
      background: #f8fbfe;

      @include bp(tablet) {
        padding: 20px 15px !important;
        font-size: 16px;
        white-space: nowrap;
      }

      &.active {
        background: white !important;

        .product-tab__caret svg {
          transform: rotate(180deg);
        }
      }

      h2 {
        margin-bottom: 0;
      }

      @include bp(tablet-small) {
        max-width: initial;
        min-height: initial;
      }

      &:before {
        content: '';
        position: absolute;
        background: #4545a2;
        height: 3px;
        bottom: -2px;
        width: 0%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;

        @include bp(tablet-small) {
          width: 90%;
          opacity: 0;
        }
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: 70%;
        background: #dde3eb;
        transform: translateY(-50%);
      }

      &:last-child {
        &:after {
          left: auto;
          bottom: auto;
          top: 0 !important;
          right: -3px;
          transform: translateY(0) !important;
          width: 5px;
          height: 100%;
          background: #f8fbfe !important;
        }
      }

      &.active {
        background: #f8fbfe;
        color: #4545a2;

        &:last-child {
          &:after {
            background: #fff !important;
          }
        }
      }

      .icon {
        transform-origin: 50% 40%;
        transition: all 0.3s;
      }

      &.tab-opened {
        background: #fff;
        color: #4545a2;

        &:before {
          width: 85%;
          opacity: 1;

          @include bp(tablet-small) {
            width: 90%;
          }
        }

        .icon {
          transform: rotate(180deg);
        }
      }
    }

    &__subtitle {
      display: block;
      color: #7d97ad;
      font-weight: 500;
      margin-top: 2px;
      line-height: 1em;
      font-size: 15px;

      @include bp(tablet-small) {
        margin-left: 0;
        margin-top: 0;
      }
    }

    &__txt {
      display: block;
    }

    &__caret {
      display: inline-flex;
      color: $c-primary;
      box-shadow: 0px 6px 22px 0px rgba(19, 29, 51, 0.25);
      background: white;
      width: 25px;
      height: 25px;
      padding-top: 2px;
      border-radius: 50%;
      align-items: center;
      font-size: 11px;
      justify-content: center;
      line-height: 1em;
      flex-shrink: 0;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      @include bp(tablet-small) {
        display: none;
      }
    }

    &-category {
      //display: none;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.95) rotateX(20deg);
      transform-origin: 50% 50%;
      transition: all 0.3s;

      &.active {
        position: relative;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        transition-delay: 0.3s;
      }

      &__group {
        display: none;
        //height: 90px;
        position: relative;
      }

      &__wrp {
        box-shadow: 0px 7px 13px 0px rgba(41, 53, 108, 0.09);
        background: #fff;
        border-radius: 6px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
      }

      &__label {
        display: flex;
        flex: auto;
        padding: 20px 15px;
        font-size: 16px;
        text-align: center;
        border-right: 1px solid #dde3eb;
        color: #7d97ad;
        align-items: center;

        &:hover {
          .product-tab-category__txt {
            opacity: 1;
          }
        }

        &.active {
          color: $c-primary;

          .product-tab-category__txt {
            opacity: 1;
          }

          .product-tab-category__box {
            &:after {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        &:last-child {
          border-right: 0;
        }
      }

      &__box {
        display: block;
        width: 1em;
        height: 1em;
        border: 1px solid;
        margin-right: 20px;
        border-radius: 50%;
        position: relative;
        font-size: 18px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1em;
          height: 1em;
          font-size: 12px;
          background: currentColor;
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(0.3);
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }
      }

      &__txt {
        display: block;
        opacity: 0.7;
        transition: opacity 0.5s;
      }
    }

    &__pane {
      padding: 25px;

      //display: none;
      p {
        color: #7d97ad !important;
        margin-bottom: 15px;

        font {
          font-family: 'proxima nova' !important;
        }

        span {
          display: block;
        }

        a {
          &:hover {
            color: $c-primary;
          }
        }

        font-size: 16px !important;
      }

      &.active {
        display: block;
      }

      .comments {
        border-top: 0;
        padding: 12px 17px 0;

        @include bp(mobile) {
          padding: 0;
        }

        &-more {
          display: none;

          .comments__item:first-child {
            padding-top: 25px;
            border-top: 1px solid #dde3eb;
          }
        }

        &__item {
          padding-top: 25px;

          &:first-child {
            padding-top: 0;
          }
        }

        &__group {
          border-bottom: 0;
          padding-bottom: 0;
        }

        &__profile {
          width: 50px;
          height: 50px;
          min-width: 50px;

          @include bp(mobile) {
            width: 40px;
            height: 40px;
            min-width: 40px;
          }
        }

        &__title {
          color: $c-primary;
          font-size: 1.125rem;
        }

        &__txt {
          font-weight: 500;
          font-size: 1rem;
          color: $c-text-alt;
        }

        &-more-btn {
          font-weight: 700;
          color: $c-gray;
          font-size: 17px;
          margin: 10px auto;
          display: list-item;
          background: none;
          transition: all 0.3s;

          &:hover {
            color: #4545a2;
          }
        }

        &__form {
          background: #f8fbfe;
          box-shadow: none;
          border: 1px solid #e6ecf1;

          &-submit {
            display: inline-flex;
            width: 49px;
            height: 49px;
            min-width: 49px;
            min-height: 49px;
          }

          .form__group:last-child {
            margin-right: 0;
          }

          .form__input {
            font-size: 17px;

            @include bp(mobile) {
              font-size: 15px;
            }

            &::placeholder {
              font-weight: 600;
              opacity: 0.8;
            }
          }
        }

        @include bp(mobile) {
          &__header {
            padding-bottom: 10px;
          }

          &__txt {
            font-size: 15px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .product-accordion {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    .product-tab__item {
      @include bp(tablet) {
        background: #fff !important;
        border-bottom: 1px solid #e8ebee;
      }

      &:after {
        @include bp(tablet) {
          display: none;
        }
      }
    }

    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    &.active {
      opacity: 1;
      max-height: 5000px;
      margin-bottom: 25px;

      transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    &:last-child {
      .product-tab__item {
        &:after {
          display: none;
        }

        &.tab-opened:after {
          display: block;
        }
      }

      .product-tab__pane:after {
        display: none;
      }
    }

    .product-tab__item {
      display: none;

      @include bp(tablet-small) {
        display: flex;
        justify-content: flex-start;
      }
    }

    .product-tab__pane {
      p {
        color: #556490;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .filter-tab {
    display: block;

    @include bp(tablet-small) {
      padding: 0;
      margin-bottom: 20px;

      .product-tab__header {
        display: none;
        border-top: 1px solid #dde3eb;
        padding: 0 20px;
      }

      .product-tab__item {
        padding: 20px 0;
        background: none;

        &:after {
          position: absolute;
          right: auto;
          left: 50%;
          top: auto;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: #dde3eb;
          transform: translateX(-50%);
        }
      }

      .product-tab-category__wrp {
        flex-wrap: wrap;
        padding: 0;
      }

      .product-tab-category__label {
        border-right: none;
        border-bottom: 1px solid #dde3eb;
        width: 100%;

        &:last-child {
          border-bottom-width: 0;
        }
      }
    }

    &__toggle {
      display: none;
      align-items: center;
      padding: 20px;
      font-size: 21px;

      @include bp(tablet-small) {
        display: flex;
      }

      @include bp(mobile) {
        font-size: 20px;
      }

      .btn-txt {
        display: block;
        color: #4345a0;
      }

      &.active {
        background: #f8fbfe;

        .filter-tab__caret {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__txt {
      margin-left: 15px;
      color: #223259;
      opacity: 0.8;
    }

    &__caret {
      display: inline-flex;
      color: $c-primary;
      box-shadow: 0px 6px 22px 0px rgba(19, 29, 51, 0.25);
      background: white;
      width: 25px;
      height: 25px;
      padding-top: 2px;
      border-radius: 50%;
      align-items: center;
      font-size: 7px;
      justify-content: center;
      line-height: 1em;
      flex-shrink: 0;
      position: absolute;
      right: 20px;

      .icon {
        transform-origin: 50% 40%;
        transition: all 0.3s;
      }
    }
  }
}

#ProductTabDescription {
  background: white;
}

.product-tab__cnt {
  background: white;
}

.accordion {
  &__item {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3eb;

    @include bp(mobile) {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &.active {
      .accordion-header__title {
        color: $c-primary;
      }

      .accordion-header__icon {
        color: $c-primary;

        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    min-height: 50px;
    cursor: pointer;

    &:hover {
      .accordion-header__title {
        color: $c-primary;
      }

      .accordion-header__icon {
        color: $c-primary;
      }
    }

    &__txt {
      color: #7d97ad;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 16px;
    }

    &__icon {
      width: 31px;
      height: 31px;
      background: #eef3f6;
      margin-right: 25px;
      color: #7d97ad;
      position: relative;
      font-size: 13px;

      @include bp(tablet) {
        flex-shrink: 0;
        margin-right: 15px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 2px;
        transform: translate(-50%, -50%);
        background: currentColor;
        transition: all 0.3s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 1em;
        transform: translate(-50%, -50%);
        background: currentColor;
        transition: all 0.3s ease-in-out;
      }
    }

    &__title {
      font-weight: 700;
      color: #7d97ad;
      font-size: 20px;
      transition: all 0.3s ease;

      @include bp(mobile) {
        font-size: 17px;
      }
    }
  }

  &__content {
    margin-top: 0px;
    max-height: 0;
    padding: 0;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.1s;
    height: auto !important;
    padding-left: 59px !important;

    @include bp(tablet) {
      padding-left: 0 !important;
    }

    &.active {
      max-height: 3000px;
      margin-top: 21px;
      transition: all 0.4s;
      opacity: 1;
    }
  }

  .accordion__item.active {
    .accordion__content {
      max-height: 3000px;
      margin-top: 21px;
      transition: all 0.4s;
      opacity: 1;
      padding-left: 59px !important;

      @include bp(tablet) {
        padding-left: 0 !important;
      }
    }
  }
}

.product-add-type__item {
  color: #7d97ad;
}

.product-card .input-count__btn {
  font-size: 14px !important;
}

.custom-tooltip {
  color: #7c96ac !important;
}

.custom-tooltip__drop {
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 100%;
    transform: rotate(45deg);
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
  }
}

span.comments__title {
  font-size: 20px !important;
  font-weight: 700;
}

span.comments__date {
  font-size: 14px !important;
  font-weight: 300;
  color: #223259 !important;
  opacity: 0.7;
  display: flex;
  align-items: center;
  font-size: 17px !important;

  .icon-font {
    margin-right: 5px;
  }
}

.comments__item:after {
  content: '';
  width: 103%;
  position: absolute;
  bottom: -13px;
  background: #dde3eb;
  height: 1px;
  margin-left: -1.5%;
}

.comments__item {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.product-comparison {
  .accordion-header {
    padding: 25px;

    @include bp(tablet) {
      padding: 15px 0;
    }

    &__txt {
      @include bp(tablet) {
        font-size: 15px;
        letter-spacing: 0px;
      }
    }

    &__icon {
      @include bp(tablet) {
        margin-right: 10px;
        flex-shrink: 0;
      }
    }
  }

  .accordion__content {
    padding: 0;
    margin-top: 0;

    @include bp(tablet) {
      overflow-x: scroll;
    }
  }

  .accordion__item {
    padding: 0;
    margin-bottom: 0;

    &.active {
      & .accordion__content {
        max-height: 3000px;
        margin-top: 21px;
        transition: all 0.4s;
        opacity: 1;
      }
    }
  }

  &-table {
    @include bp(tablet) {
      width: max-content;
    }

    tr {
      border-bottom: 1px solid #dde3eb;

      &:nth-child(even) {
        background: #f5f7f9;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    th,
    td {
      width: 12.5%;
      padding: 10px 15px;
      text-align: center;
      border-right: 1px solid #dde3eb;

      &:first-child {
        width: 20%;
        text-align: left;
      }

      &:last-child {
        border-right: 0;
      }
    }

    th {
      vertical-align: unset;
    }

    td {
      letter-spacing: 0.2px;
      font-weight: 700;
      font-size: 16px;
      color: #4545a2;

      &:first-child {
        color: #7d97ad;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

    @include bp(tablet) {
      flex-direction: column;
    }

    .icon {
      font-size: 25px;
      margin-right: 10px;

      @include bp(tablet) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title {
    color: #57758c;
    font-size: 14px;
    white-space: nowrap;

    @include bp(desktop) {
      white-space: initial;
    }
  }
}

.accordion .accordion__content.js-accordion-content {
  padding-left: 0 !important;
}

.custom-exit-button {
  background: #d8e0ee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 100px;

  .button {
    &__icon,
    &__txt {
      transition: 0.3s;
      color: #7d97ad;
    }
  }

  &:hover {
    .button {
      &__icon,
      &__txt {
        color: $c-primary;
      }
    }
  }

  svg {
    font-size: 18px;
  }
}

.custom-exit-button .button {
  padding: 0;
  height: auto;
  position: static;
}

.colored-wizard {
  background: #ffffff !important;
  color: #c24f75 !important;

  &:hover {
    background: #ffffff !important;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
  }
}

.product-list-of-shop-detail {
  background: #e8eff7;
  min-height: 300px;
  margin-top: 100px;
  margin-bottom: -50px;

  .container {
    border-top: 1px solid rgba(196, 211, 227, 0.2);
  }
}

.product-slider-design {
  .swiper-slide {
    transform: scale(0.9) !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all 0.5s !important;
  }

  img {
    box-shadow: none !important;
  }

  .swiper-slide.swiper-slide-next {
    opacity: 0.4 !important;
    transform: scale(0.7) translateX(-150px) !important;
    transition: all 0.5s !important;
  }

  .swiper-slide.swiper-slide-active {
    z-index: 99;
  }

  .swiper-slide.swiper-slide-prev {
    opacity: 0.4 !important;
    transform: scale(0.7) translateX(150px) !important;
    transition: all 0.5s !important;
  }
}

.product-slider-design .swiper-pagination {
  margin-top: 0;
}

.slider-overflow {
  > .swiper-container {
    padding: 30px 90px;
    margin: 0 -90px;
    width: 100vw;

    &:after {
      content: '';
      width: 90px;
      height: 100%;
      background: #e8eff7;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
    }

    &:before {
      content: '';
      width: 90px;
      height: 100%;
      background: #e8eff7;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
    }
  }

  .product-item__cnt {
    border-radius: 12px;
  }

  .product-item__inner {
    box-shadow: 0px 9px 12px 0px rgba(28, 48, 87, 0.1);
  }
}

.custom-title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(212, 220, 228, 0.57);
  padding-bottom: 35px;
}

.custom-title-area strong {
  font-size: 35px;
  font-weight: 400;
}

.custom-title-area strong span {
  color: #4545a2;
}

.custom-title-area p {
  width: 50%;
  text-align: center;
}

.product-item__wrp {
  .product-item-groups {
    border-top: 1px solid #dae5ee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 13px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a3b2bf;
      font-weight: 600;
      margin-bottom: 0;
      padding: 5px;
      background: #ecf3f7;
      border-radius: 5px;
      margin-right: 5px;
      width: 37px;
      height: 37px;
      font-size: 29px;

      &:last-child {
        margin-right: 0;
      }

      @include bp(mobile) {
        width: 33px;
        height: 33px;
        margin-right: 5px;
        padding: 3px;
        font-size: 20px;
      }

      @include bp(mobile-small) {
        font-size: 18px;
      }

      .custom-tooltip__drop {
        min-width: 185px;
        text-align: center;
      }
    }

    &__icon {
      width: 1em;
      height: 1em;
      object-fit: contain;
    }

    &__title {
      color: #a3b2bf;
      font-weight: 600;
      font-size: 16px;
      margin: 0;

      @include bp(mobile) {
        font-size: 13px;
      }

      @include bp(mobile-small) {
        font-size: 12px;
      }
    }
  }

  .custom-tooltip__cnt {
    position: absolute;
    width: 200px;
    background: white;
    font-size: 14px;
    left: 50%;
    padding: 4px;
    text-align: center;
    min-width: 230px;
    right: 0;
    z-index: 44;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 39px 4px rgba(41, 53, 108, 0.25);
    transform: translateX(-50%) translateY(-100%);
    transform-origin: 50% 0;
    top: -100%;
    pointer-events: none;
    margin-top: 20px;
    padding: 10px;
    opacity: 0;
    font-size: 16px;
    transition: all 0.5s;
  }

  .product-item-groups__item.custom-tooltip.custom-tooltip--top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .custom-tooltip--top:hover .custom-tooltip__cnt {
    transform: translateY(-100%) translateX(-50%);
    opacity: 1;
  }

  .custom-tooltip__drop {
    position: absolute;
  }

  .product-item-groups__item .custom-tooltip__cnt:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
  }

  .product-item-groups__item .custom-tooltip__drop:after {
    display: none;
  }

  .custom-tooltip__drop {
    min-width: initial !important;
  }

  .product-item__cnt {
    border-radius: 0 0px 13px 13px;
  }
}

.product-packet {
  &__head {
    font-size: 15px;
    color: #929bb5;
    font-weight: 600;
  }

  &__list {
    margin-top: 10px;
    border: 1px solid rgba(156, 175, 191, 0.25);
    border-radius: 6px;
    //background: #eef3f6;
    background: #f5f8fa;

    @include bp(mobile) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid rgba(156, 175, 191, 0.25);
    align-items: center;

    &:last-child {
      border-bottom: 0;
    }

    @include bp(mobile) {
      flex-wrap: wrap;

      &:nth-child(even) {
        background: #fff;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    width: 100%;
    //border-right: 1px solid rgba(156, 175, 191, 0.25);
    padding: 15px;

    @include bp(desktop) {
      padding: 10px 15px;
    }

    @include bp(tablet-small) {
      padding: 10px;
    }

    @include bp(mobile) {
      position: relative;
      border-bottom: 1px solid rgba(156, 175, 191, 0.25);
    }
  }

  &__icon {
    width: 1em;
    height: 1em;
    object-fit: contain;
    font-size: 27px;
    margin-right: 15px;

    @include bp(mobile-small) {
      font-size: 24px;
      margin-right: 11px;
    }
  }

  &__title {
    font-weight: 700;
    color: #7d97ad;
    font-size: 16px;
    display: flex;
    align-items: center;

    @include bp(tablet-small) {
      font-size: 15px;
    }

    @include bp(mobile-small) {
      font-size: 14px;
    }
  }

  &__info {
    display: inline-flex;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    flex-shrink: 0;
    margin-left: 12px;
    box-shadow: 0px 8px 21px 0px rgba(28, 48, 87, 0.16);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #4445a1;
    }
  }

  &-price {
    margin-left: auto;
    text-align: right;
    flex-shrink: 0;
    padding-right: 10px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(156, 175, 191, 0.25);
    justify-content: center;
    align-items: flex-end;

    @include bp(mobile) {
      margin-left: 0;
      text-align: left;
      align-items: flex-start;
      width: 100%;
      flex-shrink: initial;
    }

    &__txt {
      display: block;
      color: #7d97ad;
      font-weight: 600;
      font-size: 16px;

      @include bp(tablet-small) {
        font-size: 14px;
      }
    }

    &__title {
      color: #4445a1;
      font-weight: 700;
      font-size: 21px;
      white-space: nowrap;
      line-height: 1em;

      @include bp(tablet-small) {
        font-size: 20px;
      }
    }
  }

  &__right {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    @include bp(mobile) {
      width: 100%;
      padding: 0 10px;
    }
  }

  &-type {
    display: flex;
    align-items: center;

    &__item {
      margin: 0;
      display: inline-flex;
      padding: 4px 15px;
      border-right: 1px solid rgba(156, 175, 191, 0.25);
      flex-wrap: wrap;
      cursor: pointer;

      &:last-child {
        border-right: 0;
      }

      @include bp(tablet-small) {
        padding: 4px 10px;
      }

      @include bp(mobile) {
        padding: 9px 10px;
      }
    }

    &__input {
      display: none;

      &:checked {
        & ~ .product-packet-type__icon {
          color: #4445a1;
        }

        & ~ .product-packet-type__circle {
          border-color: #4445a1;

          &:after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    &__box {
      display: inline-flex;
    }

    &__icon {
      display: flex;
      font-size: 31px;
      width: 100%;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }

    &__circle {
      width: 1em;
      height: 1em;
      font-size: 14px;
      background: #fff;
      margin: 5px auto 0;
      border: 1px solid #7d97ad;
      position: relative;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        background: #4445a1;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
