@import '../variables';

.ShowSwiper,
.ShowButtons {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.wizard-modal {
  max-width: 840px;
  // background: #fff url('../../img/bg-of-deneme-modal.png') no-repeat center center / cover !important;
  background: #fff;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .modal__content {
    max-height: 100%;
    @include bp(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .reading-test-nav {
    position: relative;
    top: -5px;
    z-index: 3;
  }

  .reading-test__button {
    flex-basis: 42%;
    background: #dee4ec;
    border-radius: 100px;
    font-size: 16px;
    color: #556490;
    min-height: 50px;
    min-width: 250px;
    -webkit-transition-duration: 0.18s;
    transition-duration: 0.18s;

    &:first-child {
      margin-right: 15px;
    }
  }

  .reading-test__bottom {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
  }

  .reading-test-nav__circles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
  }

  .circle {
    background: transparent;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 1em;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .modal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .modal__content {
    overflow: hidden;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__icon {
      display: inline-flex;
      font-size: 76px;
      color: #4545a2;
      line-height: 1em;
    }

    &__title {
      margin-top: 10px;
      color: #4545a2;
      font-size: 33px;
      font-weight: 700;
      line-height: 1.3em;
    }

    &__subtitle {
      color: #7d88a8;
      font-size: 21px;
      font-weight: 500;
      line-height: 1.3em;
      @include bp(tablet) {
        text-align: center;
      }
    }

    &__cnt {
      border-top: 1px solid #d4dbe2;
      margin-top: 16px;
      padding-top: 25px;
    }

    &__txt {
      color: #7d88a8;
      font-size: 18px;
      max-width: 70%;
      margin: 0 auto 50px;
      text-align: center;
      @include bp(tablet) {
        max-width: 100%;
      }
    }

    &__button {
      background: #3dd773;
      box-shadow: 0 5px 10px 0 rgba(61, 215, 115, 0.25);
      color: #fff;
      .button__icon {
        transform: translateX(0);
        transition: 0.3s;
      }
      &:hover {
        .button__icon {
          transform: translateX(10px);
        }
      }
    }
  }
}

.wizard-question {
  margin-left: 0 !important;
  position: static !important;

  .test-question {
    margin-bottom: 0;
    @include bp(tablet) {
      padding: 25px 30px;
    }
    &__txt {
      text-align: center;
    }
  }

  .test-options {
    margin-bottom: 20px;
  }

  .test-options__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
