@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content
    }
  }
}

.wordy-sound-test__item {
  top: 50%;

  @media (max-height:788px) {
    position: static;
    transform: none;
    // margin-top: 20px;
  }

  @include bp(mobile) {
    margin-top: 0px;
  }
}

.sounds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  @include bp(tablet) {
    width: 100vw;
    position: relative;
    left: -10px;
  }

  .clear {
    flex: 0 0 100%;
  }

  &__col {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:first-child {
      align-items: flex-end;
    }

  }

  &__item {
    color: #7d88a8;
    font-weight: 700;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
    position: relative;
    white-space: nowrap;
    user-select: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex-shrink: 0;

    &:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }

    &.success {
      background: #4eea89;
      color: #fff;

      .txt {
        opacity: 1;
      }

    }

    &:hover {
      box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);

      .txt {
        opacity: 1;
      }

    }

    &:focus, &:active {
      box-shadow: none;
      
      .txt {
        opacity: 0.7;
      }
    }

    .txt {
      font-size: 21px;
      overflow: visible;
      height: 0;
      margin-top: -1.5em;
      margin-left: 15px;
      margin-right: 15px;
      opacity: .7;
      transition: opacity .3s ease;
    }


  }

}