@import '../variables';

.status-info {
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 11px 15px 7px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #e2eaf2;

      .status-info__val {
        color: $c-primary;
      }
    }
  }

  &__title {
    font-size: 15px;
    color: $c-secondary;
    opacity: 0.8;
    line-height: 1em;
    padding-right: 10px;
  }

  &__val {
    font-weight: 700;
    color: $c-secondary;
    font-size: 16px;
    transition: all 0.3s;
  }

  &__status {
    width: 1em;
    height: 1em;
    background: #d0d9e5;
    position: absolute;
    right: 15px;
    top: 50%;
    border-radius: 50%;
    font-size: 10px;
    transform: translateY(-50%);

    &.none {
      background: $c-default;
    }

    &.continue {
      background: $c-alt;
    }

    &.completed {
      background: $c-success;
    }

    &.undone {
      background: $c-in-complete;
    }
  }

  &__icon {
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 29px;
    margin-left: auto;
    margin-right: 35px;
  }
}
