
@import '../../assets/scss/variables';

.store-others {
  margin-top: 3rem;

  &-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 2rem;

    @include bp(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.25rem;
      color: $c-text-alt;

      @include bp(tablet) {
        font-size: 1.125rem;
      }

      & > span {
        color: $c-primary;
      }
    }

    &__desc {
      color: $c-text-alt;
      font-size: 1.125rem;
      line-height: 1.25;
      margin-left: 1rem;
      font-weight: 300;

      @include bp(tablet) {
        font-size: 1rem;
        margin-left: 0;
        margin-top: 0.5rem;
      }
    }
  }

  & .swiper-container {
    overflow: initial;
  }
}