@import '../variables';

.subpage-search {
  display: flex;
  box-shadow: 0px 7px 38px 0px rgba(41, 53, 108, 0.13);
  background: #fff;
  border-radius: 8px;
  align-items: stretch;
  position: relative;
  min-height: 70px;
  overflow: hidden;

  @include bp(tablet-s) {
    box-shadow: 0px 7px 18px 0px rgba(41, 53, 108, 0.13);
  }

  @include bp(mobile) {
    min-height: 60px;
  }

  &__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: $c-primary;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  &__wrp {
    display: block;
    position: relative;

    &.active {
      z-index: 261;
    }
  }

  @include bp(tablet-small) {
    min-height: 50px;

    &__wrp {
      padding: 0;
    }
  }

  &__form {
    display: flex;
    padding: 10px;
    align-items: stretch;
  }

  &__input {
    display: block;
    // width: calc(100% - 3rem);
    width: 100%;
    background: none;
    font-size: 18px;
    box-shadow: none;
    height: 100%;
    z-index: 3;

    &:hover,
    &:focus {
      box-shadow: none;
      background: none;
    }

    @include bp(tablet-small) {
      font-size: 16px;
      padding: 10px;
    }

    @include bp(phone) {
      font-size: 14px;
      padding: 10px 5px 10px 0px;
    }

    input[type='search'],
    select:focus,
    textarea {
      font-size: 16px;
    }

    input[type='search'],
    textarea {
      font-size: 16px;
    }

    &-wrp {
      display: block;
      width: 100%;
      margin-right: 10px;
      position: relative;

      @include bp(tablet) {
        margin-right: 0;
      }
    }
  }

  &__clear {
    position: absolute;
    right: 1rem;
    opacity: 0.7;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.15s;
    cursor: pointer;
    z-index: 222;
    color: $c-primary;

    &::v-deep .b-icon {
      height: 1rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__submit {
    display: inline-flex;
    white-space: nowrap;
    min-height: 60px;
    min-width: 60px;
    flex-shrink: 0;

    @include bp(mobile) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .button__icon {
      font-size: 21px;

      @include bp(mobile) {
        font-size: 18px;
      }
    }

    @include bp(tablet) {
      .button__txt {
        display: none;
      }
    }

    @include bp(tablet-small) {
      min-height: 50px;
      min-width: 50px;
      width: 50px;
      padding: 5px;
    }

    @include bp(mobile) {
      min-height: 40px;
      min-width: 40px;
      width: 40px;
    }
  }

  .button--square {
    min-height: 60px;
    min-width: 60px;
    width: 60px;
    height: 60px;

    @include bp(tablet-small) {
      min-height: 50px;
      min-width: 50px;
      width: 50px;
      height: 50px;
    }

    @include bp(mobile) {
      min-height: 40px;
      min-width: 40px;
      width: 40px;
      height: 40px;
    }
  }

  &-result {
    display: block;
    box-shadow: 0px 7px 38px 0px rgba(41, 53, 108, 0.13);
    background: #fff;
    border-radius: 8px;
    position: absolute !important;
    top: 99%;
    width: 100%;
    z-index: 23;
    margin-top: 15px;
    padding: 15px;
    transform-origin: 50% 0%;
    transition: all 0.3s;

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }

    &__list {
      display: block;
      transition: none;
    }

    &__li {
      display: block;
    }

    &__item {
      display: flex;
      padding: 6px;
      font-weight: 600;
      font-size: 18px;
      color: #7d97ad;

      &:hover {
        color: #4545a2;
      }
    }
  }

  &-switch {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: $c-secondary;
    font-weight: 700;
    font-size: 16px;
    padding-left: 25px;
    border-left: 1px solid #d9e1ec;
    border-radius: 0;
    text-transform: uppercase;

    @include bp(phone) {
      padding-left: 5px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 600;
    }

    &.active {
      .subpage-search-switch__btn {
        transform: scaleX(-1);
      }
    }

    .wrp {
      display: flex;
      align-items: center;
    }

    .btn-txt {
      width: 25px;
    }

    &__btn {
      background: #d9e0ea;
      display: inline-flex;
      width: 31px;
      height: 31px;
      margin: 0 10px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 15px;
      color: #546391;
      transition: all 0.3s;

      @include bp(phone) {
        width: 25px;
        height: 25px;
        margin: 0 0px;
        font-size: 12px;
      }
    }
  }
}

.search-select {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    .search-select__top {
      background: rgba(242, 247, 253, 0.5);
      color: #4545a2;

      .search-select__caret {
        .icon-font {
          transform: rotate(-180deg);
          transform-origin: 50% 40%;
        }
      }
    }

    .search-select__drop {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }

  &__top {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px 20px;
    margin-right: 0;
    border-right: 1px solid #e5eaef;
    color: #7d97ad;
    transition: all 0.5s;

    &:hover {
      background: rgba(242, 247, 253, 0.5);
      color: #4545a2;
    }

    @include bp(mobile) {
      padding: 15px;
    }
  }

  &__icon {
    display: inline-flex;
    color: $c-primary;
    font-size: 23px;
  }

  &__txt {
    display: block;
    line-height: 1em;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    @include bp(tablet-small) {
      display: none;
    }
  }

  &__caret {
    display: inline-flex;
    color: $c-primary;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    align-items: center;
    font-size: 6px;
    justify-content: center;
    line-height: 1em;
    padding-top: 2px;
    flex-shrink: 0;
    background-color: rgb(240, 244, 249);
    box-shadow: 0px 4px 6px 0px rgba(19, 29, 51, 0.14);

    &:before {
      @include triangle(down, currentColor, 6px);
      margin-top: 1px;
    }

    .icon-font {
      transition: all 0.5s;
    }

    @include bp(tablet-small) {
      display: none;
    }
  }

  &__drop {
    display: block;
    position: absolute;
    top: 100%;
    padding-top: 25px;
    min-width: 230px;
    left: 0;
    transform: scale(0.95) rotateX(20deg);
    transform-origin: 50% 0;
    transform-origin: 0 0;
    opacity: 0;
    pointer-events: none;
    z-index: 11;
    transition: all 0.3s;

    &-caret {
      position: absolute;
      top: 14px;
      color: #fff;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list {
    display: block;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
    padding: 10px 15px;
  }

  &__li {
    display: block;
  }

  &__item {
    display: block;
    padding: 5px;
    font-size: 15px;
    color: #7d96ad;
  }
}

.search-category {
  display: block;
  padding-top: 30px;
  z-index: 22;

  @include bp(tablet-small) {
    padding-left: 0;
    padding-right: 0;
  }

  @include bp(mobile) {
    padding-top: 15px;
  }

  &__toggle {
    display: none;

    .search-category__list {
      opacity: 0;
      transform: scale(0.95) rotateX(20deg);
      transform-origin: 50% 50%;
      transition: all 0.3s;
    }

    &.active {
      .search-category__list {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
      }
    }
  }

  &.warn {
    .search-category__list {
      animation: pulse-small 0.8s ease;
    }
  }

  &__list {
    display: flex;
    background: #fff;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
    border-radius: 6px;
    flex-wrap: wrap;
    padding: 15px 30px;
    transition: all 0.3s;

    @include bp(mobile) {
      padding: 15px;
    }
  }

  &__li {
    display: block;
    width: 25%;
    border-bottom: 1px solid #dde3eb;

    @include bp(tablet) {
      width: 33%;
    }

    @include bp(mobile) {
      width: 50%;
    }
  }

  &__item {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: #8da3b6;
    font-size: 18px;
    font-weight: 600;

    @include bp(mobile) {
      padding: 10px;
      font-size: 16px;
    }

    @include bp(mobile-small) {
      font-size: 14px;
    }

    @include bp(r-tablet-small) {
      &:hover {
        padding-left: 25px;

        .search-category__icon {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  &__txt {
    display: block;
  }

  &__icon {
    display: inline-flex;
    font-size: 12px;
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 0.5s, transform 0.5s;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__unit {
    color: #21325a;
    opacity: 0.8;
    margin-right: 15px;
  }

  &__col-3 {
    .search-category__li {
      width: 33.33%;
      border-bottom: 1px solid #dde3eb;

      @include bp(tablet) {
        width: 33%;
      }

      @include bp(tablet-small) {
        width: 50%;
      }

      @include bp(mobile-small) {
        width: 100%;
      }
    }
  }
}
