@import '../variables';

.subpage-header {
  background: $c-primary;
  display: flex;
  align-items: flex-start;
  padding-top: 9rem;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 22rem;

  @include bp(desktop-s) {
    min-height: 18rem;
    padding-top: 6rem;
  }

  & .header-guide {
    margin: 0 auto;

    @include bp(desktop-s) {
      max-width: calc(100% - 8rem);
    }

    @include bp(tablet-p) {
      max-width: 100%;
    }
  }

  & > .custom-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .guide-btn-only-mobile {
    display: none;

    @include bp(tablet) {
      display: flex;
    }
  }

  @include bp(tablet) {
    padding-top: 115px;
  }

  .progress-section {
    &__content {
      padding-right: 0;
    }

    &__cnt {
      @include bp(tablet) {
        margin-right: 15px;
      }
    }

    &__icon {
      @media (max-width: 1120px) {
        display: none;
      }
    }
  }

  &__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.75rem;

    @media (max-width: 1400px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include bp(desktop-s) {
      padding-left: 4rem;
      padding-right: 4rem;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }

    @include bp(tablet-l) {
      padding-left: 55px;
      padding-right: 55px;
    }

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0px;
    }

    @include bp(tablet) {
      flex-flow: wrap;
      align-items: flex-start;
      margin-bottom: 1.5rem;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .progress-section {
    order: 3;
  }

  &__icon {
    font-size: 3.5rem;
    display: inline-flex;
    margin-right: 2rem;

    @include bp(desktop-s) {
      font-size: 3rem;
      margin-right: 1.5rem;
    }

    &.shop-icon {
      color: $c-primary;
    }

    @include bp(tablet) {
      margin-right: 15px;
      font-size: 45px;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 800;
    color: #fff;

    @include bp(desktop-s) {
      font-size: 1.5rem;
    }

    @include bp(tablet) {
      font-size: 24px;
    }
  }

  &--light {
    background-color: #e3eaf6;

    .subpage-header__wrp {
      margin-bottom: 4rem;
    }
  }
}

.lesson-guide-btn-only-mobile {
  @include bp(tablet) {
    display: block !important;
  }
}

.Lessons {
  .page-content-filters__right {
    margin-left: auto;

    .select.w300 {
      @media (max-width: 1248px) {
        width: 300px;
        margin-left: auto;
      }

      @include bp(tablet) {
        width: 100%;
        margin-left: auto;
      }
    }

    @include bp(mobile) {
      width: 100%;
    }
  }

  .subpage-tab-guide-btn {
    @include bp(tablet) {
      display: none;
    }
  }
}

.hesabim-page {
  .subpage-header__wrp {
    margin-bottom: 3.625rem;
  }
}
