@import '../variables';

.subpage-tab {
  // margin-top: 35px;
  border-top: 1px solid rgba(240, 244, 249, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  // min-height: 5.5rem;

  @include bp(desktop-s) {
    // min-height: 4rem;
    margin: 0 auto;
    max-width: calc(100% - 8rem);
  }

  @include bp(desktop) {
    min-height: 66px;
  }

  @include bp(tablet-p) {
    max-width: 100%;
  }

  @include bp(tablet) {
    // margin-top: 25px;
    position: relative;
  }

  &__linear-effect {
    display: none;

    @include bp(tablet) {
      display: block;
      position: absolute;
      top: 0;
      right: 100px;
      width: 30px;
      height: 4rem;
      z-index: 1;
    }

    @include bp(tablet-m) {
      right: 100px;
    }

    @include bp(tablet) {
      right: 0;
    }
  }

  &__linear-effect--left {
    display: none;
  }

  &-list {
    display: flex;
    align-items: flex-end;
    position: relative;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 150px);

    @include bp(desktop-s) {
      overflow: hidden;
    }

    // @include bp(desktop) {
    //   display: -webkit-box;
    //   overflow-x: scroll;
    //   margin-left: -100px;
    //   padding-left: 100px;
    //   max-width: calc(100%);
    // }

    @include bp(tablet) {
      overflow: visible;
      display: -webkit-box;
      overflow-x: scroll;
      max-width: 100vw;
      padding-left: 35px;
      margin-left: -35px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-ctr {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include bp(tablet) {
      display: none;
    }
  }

  &-more {
    padding-right: 25px;
    margin-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.55);
    position: relative;

    &.active {
      z-index: 265;

      .subpage-tab-more__btn {
        background: #fff;
        color: $c-secondary;

        .icon {
          opacity: 1;
        }

        .dots {
          opacity: 0;
        }
      }
    }

    &__btn.button {
      color: #fff;
      width: 2.5rem;
      height: 2.5rem;
      min-height: initial;
      border-color: #fff;

      @include bp(desktop-s) {
        width: 2rem;
        height: 2rem;
        padding: 0.25rem;
      }

      .dots {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        font-size: 6px !important;
        height: 4px;
        width: 4px;

        @include bp(desktop-s) {
          width: 3px;
          height: 3px;
        }

        &::before,
        &::after {
          height: 4px;
          width: 4px;

          @include bp(desktop-s) {
            width: 3px;
            height: 3px;
          }
        }

        &::before {
          transform: translateY(-1.5em);
          margin-right: 3px;

          @include bp(desktop-s) {
            transform: translateY(-1em);
          }
        }

        &::after {
          transform: translateY(1.5em);

          @include bp(desktop-s) {
            transform: translateY(1em);
          }
        }
      }

      .icon {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        font-size: 14px;
      }
    }
  }

  &-guide-btn {
    width: 3rem;
    height: 3rem;
    min-height: initial;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3rem !important;
    padding: 0 !important;

    &--inside {
      position: absolute !important;
      right: 0 !important;
      top: 20px !important;

      & .button__icon {
        font-size: 1rem;
      }

      transition-delay: 0s !important;
    }

    @include bp(tablet) {
      width: 2.75rem !important;
      height: 2.75rem !important;
      min-height: 2.5rem !important;
      padding: 0.75rem 0 !important;
    }
  }

  &-bar {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 120px;
    background: #fff;
    left: 0;
    border-top-left-radius: 85px;
    border-top-right-radius: 85px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    will-change: transform, width;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
    color: #fff;
    font-weight: 700;
    padding: 0 1rem;
    height: 5rem;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
    overflow: hidden;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    transition: all 0.2s ease-in-out;

    @include bp(desktop-s) {
      font-size: 0.875rem;
      padding: 0 0.75rem;
      height: 4rem;
      margin-right: 0.75rem;
    }

    span {
      &:last-child {
        white-space: nowrap;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      flex-shrink: 0;
    }

    &:not(.first) {
      max-width: calc((100% / 3) - 15px);

      @include bp(tablet-l) {
        max-width: unset;
      }
    }

    // @include bp(desktop) {
    //   margin-right: 10px;
    //   font-size: 16px;
    //   padding: 27px 5px;
    //   height: 65px;
    // }

    @include bp(tablet-m) {
      margin-right: 15px;
      padding: 27px 10px;
    }
    @include bp(tablet) {
      margin-right: 8px;
      padding: 27px 7px;
    }

    &:first-child {
      z-index: 1;
    }

    &:hover {
      opacity: 0.85;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
    }

    &::before {
      content: '';
      height: 6px;
      width: 100%;
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      bottom: 0;
      left: 0;
      transform: translateY(6px);
      background: transparent;
      transition: background 0.15s ease-out, transform 0.2s ease-in;
      z-index: 1;
    }

    &.active {
      opacity: 1;

      &::before {
        background: $c-bgmain;
        transform: translateY(1px);
      }
    }

    &.private {
      &::before {
        background: #d2ad54 !important;
      }

      .icon {
        fill: #d2ad54;
        font-size: 1.2rem;
      }
    }
  }

  &__spacing {
    display: none;

    @include bp(desktop) {
      display: block;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 0;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-right: 1rem;
    flex-shrink: 0;

    @include bp(desktop-s) {
      font-size: 1.625rem;
      margin-right: 0.5rem;
    }

    @include bp(desktop) {
      margin-right: 10px;
    }
  }

  &__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-dropdown {
    position: absolute;
    margin-top: 2.25rem;
    top: 100%;
    z-index: 265;
    right: 0.5rem;
    width: 27rem;
    height: calc(100vh - 24rem);
    min-height: 20rem;

    @include bp(desktop-s) {
      top: 1rem;
    }

    &--box {
      width: 25rem;
      max-width: 390px;
      font-family: inherit;
      border: none;
    }

    &--wrapper {
      width: 100%;
      margin: 0;
    }

    &--alt {
      right: 0;
      margin: 0;

      &::before {
        display: none !important;
      }
    }

    &:before {
      content: '';
      @include triangle(up, #e9eef3, 8px);
      top: 0;
      transform: translateY(-100%);
      right: 1.25rem;

      @include bp(desktop-s) {
        right: 1.5rem;
      }
    }

    &__wrp {
      background: #e9eef3;
      width: 100%;
      padding: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0px 19px 70px 0px rgba(26, 34, 70, 0.2);
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100vh - 23rem);
      min-height: 20rem;

      @include bp(desktop-s) {
        padding: 1rem;
      }
    }

    &__top {
      margin-bottom: 1.25rem;

      @include bp(desktop-s) {
        margin-bottom: 1rem;
      }
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 1.125rem;
      margin-bottom: 0.5rem;

      @include bp(desktop-s) {
        font-size: 1rem;
        margin-bottom: 0.375rem;
      }
    }

    &__txt {
      color: $c-secondary;
      opacity: 0.75;
      font-weight: 500;
      line-height: 1.25;

      @include bp(desktop-s) {
        font-size: 0.875rem;
      }
    }

    &__list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__bottom {
      border-top: 1px solid #d9e1ec;
      padding-top: 1rem;
      margin-bottom: 1rem;

      @include bp(desktop-s) {
        padding-top: 0.5rem;
      }
    }

    &__button {
      min-height: 4rem;
      margin-top: 1.25rem;

      @include bp(desktop-s) {
        min-height: 3.25rem;
        margin-top: 1rem;
      }

      .button__icon {
        font-size: 2.5rem;
        position: absolute;
        left: 1rem;

        @include bp(desktop-s) {
          font-size: 2rem;
        }
      }

      .button__txt {
        font-size: 1rem;

        @include bp(desktop-s) {
          font-size: 0.875rem;
        }
      }
    }

    .group-item {
      width: 100%;
      background: #d9e1ec;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      padding: 0.625rem;
      color: $c-secondary;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      text-align: left;

      @include bp(desktop-s) {
        padding: 0.5rem;
        margin-bottom: 0.75rem;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:hover {
        background: #fff;
        box-shadow: 0px 25px 51px 0px rgba(85, 100, 144, 0.14);
      }

      &__icon {
        display: inline-flex;
        font-size: 2.25rem;
        margin-right: 1rem;

        @include bp(desktop-s) {
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
      }

      &__name {
        font-weight: 600;
        line-height: 1.3em;
        font-size: 1rem;
        line-height: 1.25;
        margin-top: 2px;

        @include bp(desktop-s) {
          padding: 0.5rem;
          font-size: 0.875rem;
        }
      }
    }
  }
}

.scrollable-shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  transition: 0.15s;
  opacity: 1;
  z-index: 9;

  &--top {
    top: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &--bot {
    bottom: -1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
