@import "../variables";

.suffix {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;

  &--mb-30 {
    @include bp(tablet) {
      margin-bottom: 60px !important;
    }
  }

  &-mt--10 {
    @include bp(tablet) {
      margin-top: -10px !important;
    }
  }

  &-step-circle {
    @include bp(tablet) {
      width: 58px !important;
      height: 58px !important;
      background: #e0e5ef !important;
    }

    .suffix-bracket__btn {
      @include bp(tablet) {
        width: 44px;
        height: 44px;
      }

      .step-shape {
        max-width: 78%;
        height: 76px;
        margin-top: -10px;
        margin-left: 1px;
      }
    }
  }

  .circle--top-10 {
    transform: translate(-50%, -60%);
  }

  @include bp(tablet-m) {
    max-width: 100%;
  }

  .top-spacing {
    @include bp(tablet-m) {
      top: 100%;
    }
  }

  &-intro {
    &.active {
      .suffix-bracket__shape-mask {
        height: 0;
        transition-delay: .6s;

        @include bp(tablet) {
          transition-delay: 0s;
        }
      }

      .suffix-bracket__circle:before {
        width: 85px;
        transition-delay: .75s;
      }

      .suffix-intro__cnt {
        box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);
        transition-delay: 1.1s;

        @include bp(tablet) {
          transition-delay: 0s;
          opacity: 1;
        }

        &:after {
          height: 0;
          transition-delay: .8s;

          @include bp(tablet) {
            transition-delay: 0s;
            opacity: 1;
          }
        }
      }
    }
  }

  &.active {
    .suffix-word {
      transform: none;
      opacity: 1;
      transition-delay: .4s;
    }

    .suffix-bracket__btn {
      transform: none;
      opacity: 1;
      transition-delay: .4s;

      @include bp(tablet) {
        transition-delay: .4s;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  &-word {
    box-shadow: -6px 12px 20px 0px rgba(41, 53, 108, 0.08);
    background: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    padding-right: 37px;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    overflow: hidden;
    flex: auto;
    transition: all .5s ease-in-out;

    @include bp(tablet) {
      padding: 18px 15px;
      padding-right: 25px;
    }

    &__mb-10 {
      @include bp(tablet) {
        margin-bottom: 2px;
      }
    }

    &:last-child {
      padding-left: 40px;

      @include bp(tablet-m) {
        padding-left: 30px;
      }

      @include bp(tablet) {
        padding-left: 11px;
      }
    }

    &:after {
      position: absolute;
      right: -8px;
      width: 27px;
      height: 75%;
      background: $c-bgmain;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
    }

    &--left {
      opacity: .25;
      transform: translateX(-200px);

      @include bp(tablet) {
        opacity: 0;
        transform: none;
        margin-bottom: 10px !important;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        width: 36px;
        height: 65px;
        background: $c-bgmain;
        transform: translateY(-50%);
        border-bottom-left-radius: 90px;
        border-top-left-radius: 90px;

        @include bp(tablet) {
          display: none;
        }
      }

    }

    &--right {
      opacity: .25;
      transform: translateX(200px);

      @include bp(tablet) {
        opacity: 0;
        transform: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        width: 36px;
        height: 65px;
        background: $c-bgmain;
        transform: translateY(-50%);
        border-bottom-right-radius: 90px;
        border-top-right-radius: 90px;

        @include bp(tablet) {
          display: none;
        }
      }

    }

    &__top {
      display: flex;
      align-items: center;
    }

    &__title {
      font-weight: 700;
      font-size: 25px;
      margin-right: 15px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    &__meaning {
      color: #778fa4;
      font-size: 19px;
      margin-top: 4px;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

  }

  &-meaning {
    box-shadow: 6px 12px 20px 0px rgba(41, 53, 108, 0.08);
    background: #fff;
    border-radius: 15px;
    padding: 11px 21px;
    padding-left: 37px;
    text-align: left;
    position: relative;
    overflow: hidden;
    flex: auto;
    display: flex;
    align-items: center;

    &:before {
      position: absolute;
      left: -8px;
      width: 27px;
      height: 75%;
      background: $c-bgmain;
      border-bottom-right-radius: 90px;
      border-top-right-radius: 90px;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
    }

    &__title {
      color: #4a6883;
      font-weight: 700;
      font-size: 27px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 20px;
      }
    }

    &__txt {
      color: #778fa4;
      font-size: 19px;
      margin-top: 4px;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

  }

  &-bracket {
    position: relative;
    z-index: 2;
    margin: 0 20px;

    @include bp(tablet) {
      margin: 0 5px;
    }

    &__circle {
      position: absolute;
      width: 72px;
      height: 72px;
      background: $c-bgmain;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        width: 54px;
        height: 54px;
      }
    }

    &__btn {
      width: 47px;
      height: 47px;
      background: #5657ab;
      color: #fff;
      border-radius: 50%;
      font-size: 19px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transform: scale(.5);
      opacity: 0;
      transition: all .3s ease-in-out;

      @include bp(tablet) {
        width: 36px;
        height: 36px;
      }

      &:before {
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 6px;
        height: 45px;
        background: #5554ad;
      }

      &:after {
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translate(-50%, 100%) scaleX(1.21);
        width: 10px;
        height: 10px;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-top: 20px solid #5657ab;
      }

    }

    &__shape {
      position: absolute;
      top: 100%;
      height: 48px;
      margin-top: -6px;
      @include dont-touch;

      @include bp(tablet-m) {
        height: 49px;
      }
    }

  }

  &__cnt {
    position: relative;

    @include bp(tablet) {
      margin-top: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 4px;
      background: #5657ab;
      width: 93%;
      transform: translate(-50%, -100%);
      border-radius: 20px 20px 0 0;
      z-index: 1;
      top: 3px;

      @include bp(tablet) {
        top: 4px;
        width: 99%;
      }

    }
  }

  &-fill {
    box-shadow: 0px 12px 20px 0px rgba(41, 53, 108, 0.08);
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;

    @include bp(tablet) {
      padding: 15px;
    }

    &__title {
      margin-right: 15px;
      color: #5554ac;
      font-weight: 700;
      font-size: 25px;
      white-space: nowrap;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__box.wordy-fill-box {
      margin-bottom: 0;
      flex: auto;
      margin-right: 0;
      height: 45px;
      border-radius: 30px;
      margin-left: 0;
      font-weight: 600;
      font-size: 19px;
      line-height: 40px;

      @include bp(tablet) {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
      }
    }

  }

  &-intro {
    .suffix__top {
      margin-bottom: 0;
      margin-top: 25px;

      @include bp(tablet-l) {
        margin-top: 23px;
      }

      @include bp(tablet) {
        margin-top: 25px;
      }
    }

    .suffix-bracket__shape {
      top: auto;
      bottom: 100%;
      width: 27px;
      height: 44px;
      margin-top: 0;
      margin-bottom: -18px;
      transform: scaleY(-1);
      transition: all .3s ease-in-out;

      @include bp(tablet) {
        display: none;
      }

      &-mask {
        top: -29px;
        height: 47px;
        width: 30px;
        background: $c-bgmain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s ease-in-out;
      }

    }

    .suffix-bracket__circle {

      &:before {
        content: '';
        position: absolute;
        top: -25px;
        left: 50%;
        height: 4px;
        background: #5657ab;
        width: 0;
        transform: translate(-50%, -100%);
        border-radius: 0 0 20px 20px;
        transition: all .3s ease-in-out;

        @include bp(tablet) {
          display: none;
        }
      }
    }

    .suffix__cnt:before {
      display: none;
    }

    &__cnt {
      justify-content: flex-start;
      padding: 11px;
      border-radius: 10px;
      box-shadow: none;
      transition: all .3s ease-in-out;

      @include bp(tablet) {
        opacity: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        background: $c-bgmain;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;

        @include bp(tablet) {
          height: 0;
          opacity: 0;
        }
      }

    }

    &__number {
      align-self: stretch;
      display: inline-flex;
      flex-shrink: 0;
      width: 51px;
      height: 51px;
      background: #e7ecf2;
      color: $c-secondary;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      font-size: 26px;
      font-weight: 700;
      margin-right: 15px;

      @include bp(tablet) {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }

    &__title {
      font-weight: 700;
      color: #5657aa;
      font-size: 25px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__txt {
      color: $c-text;
      font-size: 18px;
      line-height: 1em;
      margin-top: 6px;

      @include bp(tablet) {
        font-size: 14px;
      }
    }

    .suffix-word {
      box-shadow: none;
    }

  }

}

.suffix-end__button {
  @include bp(tablet-l) {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include bp(tablet-m) {
    bottom: 0;
  }

  @include bp(tablet) {
    position: absolute;
    bottom: 110px;
    left: 5%;
    width: 90%;
    transform: none;
  }
}

.step-shape {
  @include bp(tablet) {
    max-width: 70%;
    height: 76px;
  }

}