@import '../variables';

.t-card {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  border-radius: 6px;
  box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
  @include bp(tablet) {
    padding: 20px 15px;
  }

  &--header {
    display: flex;
    flex-direction: column;

    &__title {
      color: #5657ab;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__normal-title {
      font-size: 18px;
      font-weight: 600;
      color: #556490;
    }

    &__subtitle {
      color: $c-secondary;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &--content {
    .dropdown {
      &.open {
        border-top: 1px solid #f1f4f6;
        background: #fafcfd;

        .dropdown__title {
          color: #44449f;
        }

        .dropdown--content {
          padding: 0px 25px 25px 25px;
        }
      }

      &__title {
        color: #909ab4;
        font-weight: 700;

        span {
          font-weight: 500;
        }
      }
    }
  }
}
