@import "../variables";

.tab-cta {
  margin-top: 15px;

  &-header {
    background: #f9fbfd;
    border-radius: 17px 17px 0 0;

    &__list {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      transform: translateY(-50%);
    }

  }

  &__heading {
    color: #fff;
    opacity: .75;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 15px 27px 13px;
    margin-right: 15px;
    font-size: 17px;
    background: #a65e88;
    color: #fff;
    border-radius: 50px;
    transition: all .3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 4px;
      background: $c-primary;
      border-radius: 10px 10px 0 0;
      transition: all .3s ease-in-out;
    }

    &:hover {
      background: #a6497d;
    }

    &.active {
      color: $c-primary;
      background: #fff;
      box-shadow: 0px 9px 21px 0px rgba(41, 53, 108, 0.09);

      &:after {
        width: 100%;
      }

      .tab-cta__text,
      .tab-cta__icon {
        color: $c-primary;
        opacity: 1;
      }
    }

  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #8da3b6;
    position: relative;
    top: -2px;
    margin-right: 17px;
  }

  &__text {
    font-weight: 700;
    line-height: 1em;
  }

  &__count {
    color: #69769c;
    font-weight: 600;
    opacity: .4;
    font-size: 16px;
    margin-bottom: -8px;
    margin-top: 5px;
  }


  &-pane {
    width: 100%;
    min-height: 400px;
    position: relative;
    background: linear-gradient(to bottom, #f9fbfd 20%, rgba(240, 244, 249, 0) 100%);

    &.no-bg {
      &:before {
        display: none;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #f9fbfd 0%, rgba(240, 244, 249, 0) 100%);
      border-radius: 17px;
      z-index: 1;
    }

    &__item {
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 31px;

      &.active {
        opacity: 1;
        pointer-events: auto;
        position: relative;
        transition-delay: .15s;
      }

    }

    &__header {
      display: flex;
      align-items: center;
      padding: 25px;
    }

    &__cnt {
      padding: 25px;
    }

    &__buttons {
      width: 62%;
      display: flex;
      align-items: center;

      .button {
        margin-right: 11px;

        &:last-child {
          margin-right: 0;
        }

      }
    }

  }

  &-progress {
    border-bottom: 1px solid #dde3eb;
    padding-bottom: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    &__left {
      flex: 1;
      margin-right: 85px;
    }

    .progress {
      background: #d9e1eb;
      flex-shrink: 0;
      height: 15px;
      border-radius: 50px;
      width: 100%;
      margin-right: 0;
    }

    &__title {
      color: $c-secondary;
      font-size: 19px;
      font-weight: 500;
    }

    &__desc {
      color: #7c87a7;
      font-weight: 500;
      font-size: 16px;
    }

    &__cnt {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }

    &__val {
      color: $c-secondary;
      font-weight: 700;
      line-height: 1em;
      display: flex;
      align-items: flex-end;
      font-size: 50px;
      justify-content: flex-end;

      small {
        font-weight: 700;
        font-size: 65%;
        position: relative;
        top: 3px;
      }
    }

    &__txt {
      line-height: 1em;
      color: #7c87a7;
      font-size: 16px;
    }

    &-ctr {
      display: flex;
      align-items: center;
      margin-left: auto;
      justify-content: flex-end;

      &__item {
        display: flex;
        align-items: center;
        margin-left: 35px;
      }

      &__dot {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        font-size: 11px;
        margin-right: 15px;
        flex-shrink: 0;
      }

      &__title {
        color: $c-secondary;
        opacity: .85;
        font-size: 16px;
        font-weight: 500;
      }

    }

    &__right {
      flex-shrink: 0;
      text-align: right;
    }

  }
}

hr {
  border-color: #d2dce5;
}