@import '../variables';

.tab {
  margin-top: 15px;

  @include bp(tablet-s) {
    position: relative;
    margin-top: 25px;
  }

  &__header {
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-around;
    padding: 0 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }

    @include bp(tablet) {
      display: flex;
      overflow: hidden;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all 0.2s ease-in-out;

    @include bp(desktop-s) {
      padding: 1.25rem 0.75rem;
    }

    &:first-child {
      z-index: 1;
    }

    @include bp(tablet) {
      padding: 15px 20px;
    }

    &:after {
      @include pseudo;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 0.25rem;
      background: $c-primary;
      border-radius: 10px 10px 0 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .tab {
        &__text,
        &__icon {
          color: $c-primary;
          opacity: 1;
        }
      }
    }

    &.active {
      color: $c-primary;

      &:after {
        width: 100%;
      }

      .tab {
        &__text,
        &__icon {
          color: $c-primary;
          opacity: 1;
        }
      }
    }
  }

  &__item {
    &--transparent {
      &:hover {
        .tab__text {
          opacity: 0.8 !important;

          @include bp(tablet) {
            opacity: 1 !important;
          }
        }
      }

      &.active {
        &::after {
          background: #fff;

          @include bp(tablet) {
            background-color: #5657ab;
          }
        }

        .tab {
          &__text {
            opacity: 1 !important;

            @include bp(tablet) {
              color: #5657ab !important;
            }
          }
        }
      }

      .tab {
        &__text {
          color: #fff !important;
          opacity: 0.6 !important;

          @include bp(tablet) {
            color: #8e98b3 !important;
            opacity: 1 !important;
          }
        }
      }
    }
  }

  &__spacing {
    @include bp(tablet-m) {
      padding: 15px 12px;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: #8da3b6;
    margin-right: 2rem;
    transition: all 0.3s ease-in-out;

    @include bp(desktop-s) {
      margin-right: 1.125rem;
      font-size: 1.375rem;
    }
  }

  &__text {
    color: $c-secondary;
    opacity: 0.7;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
    line-height: 1em;
    transition: all 0.3s ease-in-out;

    @include bp(desktop-s) {
      font-size: 1rem;
    }
  }

  &__count {
    color: #69769c;
    font-weight: 600;
    opacity: 0.4;
    font-size: 16px;
    margin-bottom: -8px;
    margin-top: 5px;
  }

  &-pane {
    width: 100%;
    min-height: 200px;
    border-radius: 17px;
    position: relative;

    &:before {
      transition: 0.3s;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        #f9fbfd 0%,
        rgba(240, 244, 249, 0) 100%
      );
      border-radius: 17px;
      z-index: 1;
      min-height: 250px;
    }

    &__content {
      position: relative;
      z-index: 2;
    }

    &__item {
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      @include bp(tablet) {
        border-radius: 5px;
      }

      &.active {
        opacity: 1;
        pointer-events: auto;
        position: relative;
        transition-delay: 0.15s;

        @include bp(tablet) {
          overflow: hidden;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      padding: 25px;
    }

    &__cnt {
      padding: 25px;
    }

    &__buttons {
      width: 62%;
      display: flex;
      align-items: center;

      .button {
        margin-right: 11px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-progress {
    width: 38%;

    .progress {
      background: #d9e1eb;
    }

    &__title {
      color: $c-secondary;
      font-size: 19px;
      font-weight: 500;
    }

    &__cnt {
      display: flex;
      align-items: center;
    }

    .progress {
      flex-shrink: 0;
      width: calc(100% - 87px);
      margin-right: 25px;
      height: 22px;
      border-radius: 50px;
    }

    &__val {
      color: $c-secondary;
      font-weight: 700;
      font-size: 33px;
      line-height: 1em;
      display: flex;
      align-items: flex-end;

      small {
        font-weight: 700;
        font-size: 65%;
        position: relative;
        top: 3px;
      }
    }

    &-ctr {
      display: flex;
      align-items: center;

      &__item {
        flex: 1;
        display: flex;
        align-items: center;
      }

      &__dot {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        font-size: 11px;
        margin-right: 15px;
      }

      &__title {
        color: $c-secondary;
        opacity: 0.85;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  &-weeks {
    margin-top: 25px;
    margin-bottom: 55px;
    position: relative;

    &__list {
      display: flex;
      justify-content: center;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: #d9e1ec;
      align-items: center;
      position: relative;
    }

    .lines {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 55px;
      top: 0;
      z-index: 12;

      &:before {
        @include pseudo;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-100%);
        width: 75px;
        height: 4px;
        background-color: $c-alt;
        border-radius: 10px 10px 0 0;
      }

      &:after {
        @include pseudo;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(100%);
        width: 75px;
        height: 4px;
        background-color: $c-alt;
        border-radius: 0 0 10px 10px;
      }
    }

    &__item {
      color: #c9ced3;
      font-size: 19px;
      font-weight: 700;
      padding: 10px;
      width: 65px !important;
      line-height: 1em;
      display: inline-flex;
      align-items: center;
      height: 55px !important;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      justify-content: center;

      .btn-txt {
        transition: all 0.3s ease-in-out;
      }

      &.swiper-slide-active {
        width: 75px;
        color: #8da3b6;
        margin: 0;

        .btn-txt {
          transform: scale(1.7);
        }
      }
    }

    &__title {
      text-align: center;
      font-weight: 900;
      color: $c-secondary;
      margin-top: 10px;
      font-size: 19px;
      letter-spacing: 0.5px;
    }
  }

  &-filter {
    display: flex;
    padding: 25px 0px;
    border-bottom: 1px solid #dde3eb;
    margin-bottom: 25px;

    &.customizer {
      @include bp(desktop) {
        flex-direction: column;
      }
    }

    @include bp(tablet) {
      flex-direction: row;
      flex-flow: wrap;
    }

    &__nowrap {
      @include bp(tablet) {
        flex-flow: nowrap;
      }
    }

    &__left {
      &.customizer {
        margin-right: 15px;
        height: 50px;
        width: calc(33.3333% - 15px);

        @include bp(desktop) {
          width: 100%;
          margin-right: 0;
        }

        & > button {
          height: 100%;
          min-height: 100%;
          width: 100%;
          min-width: 100%;

          .button__icon {
            width: 40px;
            height: 40px;
            font-size: 21px;
          }
        }
      }
    }

    &__right {
      justify-content: flex-end;
      display: flex;
      flex-grow: 1;

      &.customizer {
        width: 66%;

        @include bp(desktop) {
          width: 100%;
          margin-top: 25px;
        }

        @include bp(tablet) {
          flex-direction: column;
        }

        .tab-filter__col {
          width: 100%;

          @include bp(tablet) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
          }

          &:last-child {
            @include bp(tablet) {
              margin-bottom: 0;
            }
          }
        }

        .tab-filter__item {
          width: 100%;

          @include bp(tablet-m) {
            margin-left: 0;
            margin-bottom: 0;
          }
        }
      }

      @include bp(tablet-m) {
        width: 210px;
        margin-left: 5px;
      }

      @include bp(tablet) {
        flex-grow: inherit;
        width: 75%;
        margin-left: 0;
      }

      & > div[class*='catsel'] {
        margin-right: 20px;
        max-width: 300px;

        @include bp(desktop) {
          max-width: 220px;
        }

        @include bp(tablet-m) {
          max-width: 100%;
          margin-right: 10px;
        }

        @include bp(tablet) {
          max-width: 100%;
          margin-right: 0%;
        }
      }
    }

    &-documents {
      justify-content: space-between;

      & .issearch {
        .button {
          color: $c-primary;
        }
      }
    }

    &-reading {
      .tab-filter__item {
        @include bp(tablet) {
          min-width: auto;
          width: 75%;
        }

        &:nth-child(2) {
          @include bp(tablet) {
            width: 20%;
            margin-left: 5%;
          }
        }
      }
    }

    .select-header {
      background: $c-bgalt;
      border-radius: 6px;
      padding-right: 65px;

      @include bp(mobile) {
        padding-right: 10px;
      }
    }

    &__col + &__col {
      margin-left: 1rem;
    }

    &__select {
      .select-header {
        border-radius: 255px !important;
        overflow: hidden;
      }
    }

    &__item {
      min-width: 330px;
      margin-right: 0;

      &.mobile-fw {
        @include bp(tablet) {
          width: 100% !important;
          margin-left: 0 !important;
          margin-bottom: 10px;
        }
      }

      &.w-70 {
        @include bp(tablet) {
          width: 70% !important;
        }
      }

      &.w-30 {
        @include bp(tablet) {
          width: 30% !important;
        }
      }

      @include bp(desktop) {
        margin-right: 15px;
      }

      @include bp(tablet-m) {
        margin-right: 10px;
      }

      &:first-child {
        @include bp(tablet) {
          margin-bottom: 10px;
        }
      }

      &:last-child,
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 0 !important;

        @include bp(tablet) {
          width: 20%;
          margin-left: 5%;
        }
      }

      @include bp(desktop) {
        min-width: auto;
        width: 100%;
      }

      @include bp(tablet) {
        margin-right: 0;
      }
    }

    &__title {
      margin-left: 25px;
      white-space: nowrap;
      color: #8da3b6;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 9px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      background: $c-bgalt;
      border-radius: 6px;
      padding: 7px 8px;
      position: relative;

      @include bp(tablet) {
        padding: 5px 8px;
      }

      &__bar {
        position: absolute;
        left: 0;
        top: 7px;
        background: #fff;
        transform: translateX(8px);
        box-shadow: 0px 9px 24px 0px rgba(19, 29, 51, 0.1);
        width: 100px;
        height: 40px;
        pointer-events: none;
        border-radius: 6px;
        transition: all 0.3s;

        @include bp(tablet) {
          top: 5px;
        }
      }
    }

    &__button {
      min-height: 40px;
      flex: auto;
      margin-left: 5px;
      padding: 5px 20px;
      border-radius: 6px;
      color: $c-secondary;
      font-weight: 700;
      font-size: 15px;
      position: relative;
      z-index: 2;

      @include bp(tablet-m) {
        padding: 5px 10px;
        font-size: 14px;
      }

      @include bp(tablet) {
        padding: 5px;
      }

      &:before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.7);
        background: #fff;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        border-radius: 6px;
        transition: all 0.3s;
      }

      &:hover {
        color: #4545a2;
      }

      &.active {
        color: #4545a2;
        background: transparent;

        &:before {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }

      &:first-child {
        margin-left: 0;
      }

      .btn-txt {
        position: relative;
        z-index: 2;
      }
    }

    &-search {
      display: flex;
      align-items: center;
      background: $c-bgalt;
      border-radius: 6px;
      padding: 3px 7px;
      height: 100%;

      @include bp(tablet-m) {
        width: 100%;
      }

      @include bp(tablet) {
        width: auto;
      }

      &__input {
        padding: 5px 20px;
        height: 100%;

        @include bp(desktop) {
          padding-right: 0;
        }

        @include bp(tablet-m) {
          padding-right: 0;
        }
      }

      &__input {
        padding-left: 0;
      }

      &__button.button {
        width: 35px;
        height: 35px;
        min-height: 35px;
        min-width: 35px;
        font-size: 17px;
      }
    }

    &-level {
      display: flex;
      justify-content: center;
      background: $c-bgalt;
      border-radius: 6px;

      &__item {
        padding: 10px 5px;
        margin: 0 20px;
        height: 51px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #a6acc1;
        font-weight: 700;
        font-size: 18px;
        line-height: 1em;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        transition: all 0.3s;

        &:hover {
          color: $c-secondary;
        }

        &.active {
          color: $c-secondary;

          .lines:before,
          .lines:after {
            width: 100%;
          }

          .btn-txt {
            transform: scale(1.15);
          }
        }

        .btn-txt {
          transition: transform 0.3s;
        }

        .lines {
          &:before {
            @include pseudo;
            top: 0;
            height: 4px;
            background: currentColor;
            width: 0%;
            left: 50%;
            transform: translateX(-50%) translateY(-100%);
            border-radius: 10px 10px 0 0;
            transition: all 0.3s ease;
          }

          &:after {
            @include pseudo;
            bottom: 0;
            height: 4px;
            background: currentColor;
            width: 0%;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
            border-radius: 0 0 10px 10px;
            transition: all 0.3s ease;
          }
        }
      }
    }

    &-check {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: #7d97ad;
      line-height: 1em;
      cursor: pointer;
      user-select: none;
      background: $c-bgicon;
      font-size: 18px;
      white-space: nowrap;
      font-weight: 700;
      width: 100%;
      border-radius: 50px;
      padding: 8px 25px;
      height: 50px;
      transition: all 0.3s ease-in-out;
      justify-content: center;
      position: relative;
      padding-left: 50px;

      &.active {
        color: $c-primary;
        background: #dbe2e8;

        .tab-filter-checkbox__box {
          background: $c-primary;
          color: #fff;

          .icon {
            opacity: 1;
            transform: none;
            transition-delay: 0.1s;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &__box {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        font-size: 27px;
        background: #fff;
        box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);
        transform: translateY(-50%);
        left: 13px;
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        color: #7d97ad;

        .icon {
          font-size: 13px;
          transform: scale(0.3);
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }
      }
    }
  }

  .tab-pane {
    .tab-pane__switch {
      background: red;
      display: flex;
      align-items: center;
      padding: 0 32px;
      justify-content: space-between;
      min-height: 94px;
    }
  }
}
