@import '../variables';

.table {
  padding: 0 55px;
  background: white !important;
  margin-bottom: 0 !important;

  &:after {
    content: '';
    display: block;
    height: 1px;
    clear: both;
  }

  &-head {
    .table-row__col {
      font-size: 13px;
      color: #8da3b6;
      font-weight: 600;
      opacity: 0.5;
    }
  }

  &-row,
  &-head {
    margin: 0;
    border-bottom: 1px solid rgba(217, 225, 236, 0.5);
    height: 65px;
    font-family: 'Proxima Nova', sans-serif;

    &:last-child {
      border-bottom: none !important;
      margin-bottom: 30px;
    }

    &.active {
      background: $c-bgmain;
      border-radius: 5px;
      margin-top: 25px;
    }

    &__col {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: $c-secondary;

      @include bp(desktop) {
        position: relative;
      }

      &.weight-strong {
        font-weight: 600;
      }

      &-image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 0 10px;
        border: 4px solid transparent;

        &:after {
          content: '';
        }

        img {
          border-radius: 100%;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-results {
        img {
          width: 40px;
          height: auto;
          margin-right: 5px;
        }

        .totally {
          background: #eeeef4;
          border-radius: 100%;
          width: 50px;
          height: 50px;
          font-weight: 600;
          cursor: pointer;

          @include bp(desktop) {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            font-size: 14px;
          }

          &:before {
            content: '+';
          }
        }
      }
    }

    &__nameSurname {
      color: #91a0b4;
      cursor: pointer;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      .table-row__col {
        font-weight: 600;
      }

      .table-row__col__nameSurname {
        color: inherit;
      }

      position: relative;

      .star {
        content: '';
        width: 50px;
        height: 40px;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0 100px 100px 0;
        color: white;
        padding-right: 5px;

        @include bp(desktop) {
          width: 30px;
          left: -15px;
        }

        @include bp(tablet) {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      .star {
        width: 65px;
        background: $c-yellow;

        @include bp(desktop) {
          width: 30px;
        }
      }

      .-point {
        font-size: 25px;
      }

      .table-row__col-image {
        border-color: $c-yellow;
      }
    }

    &:nth-child(3) {
      .star {
        background: #b4cdd7;
      }

      .-point {
        font-size: 25px;
      }

      .table-row__col-image {
        border-color: #b4cdd7;
      }
    }

    &:nth-child(4) {
      .star {
        background: #ad8a6d;
      }

      .-point {
        font-size: 25px;
      }

      .table-row__col-image {
        border-color: #ad8a6d;
      }
    }
  }
}