@import '../variables';

.summary-message-p {
  color: #556490;
  font-weight: 600;
  opacity: 0.7;
  text-align: center;
  margin-top: 20px;
}

.tests {
  &-detail-page {
    .detail-close.button {
      padding-left: 15px;
    }

    .detail-inf__header {
      width: 100%;
    }

    .detail-right {
      .button__txt {
        margin-right: 5px !important;
      }

      .button__icon {
        font-size: 13px !important;
      }
    }
  }

  &-group {
    margin-bottom: 15px;

    &.active {
      .tests-group__title {
        color: #4545a2;
        opacity: 1;
      }

      .caret-circle {
        color: #4545a2;

        &:before {
          transform: rotate(180deg) translateY(2px);
        }
      }
    }

    &:hover {
      .tests-group__title {
        color: #4545a2;
        opacity: 1;
      }

      .caret-circle {
        color: #4545a2;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      padding: 10px 55px;
      cursor: pointer;
    }

    &__title {
      flex-shrink: 0;
      margin-right: 35px;
      color: $c-secondary;
      font-weight: 800;
      opacity: 0.7;
      font-size: 18px;
      text-transform: uppercase;
      transition: all 0.3s;
    }

    &__txt {
      flex-shrink: 0;
      margin-right: 30px;
      color: $c-secondary;
      opacity: 0.65;
      font-size: 16px;
      font-weight: 600;
    }

    &__cnt {
      padding: 15px 25px;

      &.active {
        .caret-circle {
          color: #4545a2;

          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }

    .caret-circle {
      color: #bfcbd6;
      margin-left: 15px;
    }
  }

  &__item {
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;

    @include bp(tablet) {
      padding: 5px;
    }

    .button-add-word {
      min-height: 47px;
      background: #ecf0f5 !important;

      .button__icon {
        width: 33px;
        height: 33px;
        font-size: 13px !important;
      }
    }

    &.with-progress {
      .tests {
        &__top {
          @include bp(tablet) {
            flex-flow: wrap;
          }
        }

        &-inf {
          padding-right: 0;
          margin-left: auto;
          width: auto;
          border-left: none;

          &.ml-unset {
            margin-left: unset;
            padding-bottom: 0 !important;
          }

          @include bp(tablet) {
            border-top: 1px solid #e8edf0;
            margin-top: 15px;
            padding-top: 15px;
            margin-left: 0;
            width: 100%;
            flex-flow: wrap;
          }

          &-ctr {
            @include bp(tablet) {
              width: 100%;
            }

            .button {
              @include bp(tablet) {
                width: 100%;
              }
            }

            strong {

              @include bp(tablet) {
                width: fit-content;
                margin-right: 15px;
              }
            }

            &--progress {
              margin-left: auto;

              @include bp(tablet) {
                margin-left: unset;
                width: 100%;
                margin-bottom: 15px;
              }

              .progress {
                @include bp(tablet) {
                  min-width: auto;
                  width: 100%;
                  margin-right: 0;
                  margin-left: 0;
                }
              }
            }
          }

          &__head {
            border-left: 1px solid #e8edf0;
            padding-left: 25px;

            @include bp(tablet) {
              width: 100%;
              padding-left: 0;
              border-left: none;
            }
          }
        }
      }
    }

    .with-progress-inf {
      @include bp(desktop) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      @include bp(tablet) {
        flex-direction: row;
        align-items: center;
      }

      .tests-inf-ctr--progress {
        @include bp(desktop) {
          margin-top: 15px;
          margin-right: 0;
        }

        @include bp(tablet) {
          margin-top: 0;
        }

        .progress {
          margin-right: 0;
        }
      }
    }

    &:hover {
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
      transform: translateY(-5px);

      .tests-ctr__btn,
      .tests-results__btn {
        background: #4545a2 !important;
        color: #fff !important;
      }

      .tests {
        &-inf {
          &__head {
            &.correct {
              .tests-inf__icon {
                color: #51d169;
              }
            }
          }
        }
      }
    }

    &:not(.completed):hover {
      .tests-inf__icon {
        color: $c-alt;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    &__todo {
      @include bp(tablet) {
        flex-flow: wrap;
      }
    }

    &.flex-flow-wrap {
      @include bp(tablet) {
        flex-flow: wrap;
      }

      .tests {
        &-inf {
          @include bp(tablet) {
            width: calc(100% - 39px - 10px);
          }

          &-ctr {
            @include bp(tablet) {
              width: 100%;
              justify-content: space-between;
              border-top: 1px solid #e8edf0;
              padding-top: 15px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    @include bp(desktop) {
      padding: 15px;
    }

    @include bp(tablet) {
      padding: 10px;
    }
  }

  &__icon {
    display: inline-flex;
    width: 1.7em;
    height: 1.7em;
    background: $c-bgicon;
    font-size: 33px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25px;
    flex-shrink: 0;

    @include bp(tablet) {
      width: 1.3em;
      height: 1.3em;
      font-size: 30px;
      margin-right: 10px;
      padding: 5px;
      display: none;
    }
  }

  &-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #e8edf0;
    align-self: stretch;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

    &__todo {
      @include bp(tablet) {
        width: 100%;
      }
    }

    @include bp(tablet) {
      padding-left: 0px;
      padding-right: 0px;
      border-left: none;
    }

    &__head {
      display: flex;
      align-items: center;
      color: #bfcbd6;

      &.correct {
        color: #51d169;
      }

      &.continued {
        color: $c-alt;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 40px;
      margin-right: 25px;
      transition: all 0.3s ease;

      @include bp(desktop) {
        font-size: 44px;
        margin-right: 10px;
      }

      @include bp(tablet) {
        font-size: 33px;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: $c-secondary;
      transition: all 0.3s ease;
      text-transform: capitalize;
      cursor: pointer;

      @include bp(desktop) {
        display: -webkit-box;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: auto;
      }

      @include bp(tablet-m) {
        font-size: 16px;
      }

      @include bp(tablet) {
        -webkit-line-clamp: 2;
        width: auto;
      }
    }

    &__txt {
      font-weight: 500;
      color: $c-secondary;
    }

    &-ctr {
      color: $c-secondary;
      font-size: 17px;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      &-fw {
        @include bp(tablet) {
          width: 100%;
        }

        .button {
          @include bp(tablet) {
            width: 100% !important;
            margin-top: 15px;
          }
        }
      }

      strong {
        white-space: nowrap;

        @include bp(tablet-m) {
          font-size: 14px;
        }
      }

      .progress {
        min-width: 185px;
        margin-left: 10px;
        margin-right: 10px;

        @include bp(desktop) {
          min-width: 140px;
        }
      }

      .button {
        margin-right: 15px;

        &__icon {
          transition: .2s;
        }

        &--circle {
          &:hover {
            background: $c-alt;

            .button__icon {
              color: #fff;
            }
          }
        }

        &:last-child {
          margin-right: 0px;
          margin-left: 15px;
          width: 214px;

          @include bp(tablet) {
            margin-left: 0;
          }

          .button__icon {
            font-size: 21px;
          }
        }
      }
    }

    &__quest-count {
      width: max-content;
      margin-right: 10px;
    }
  }

  &-ctr {
    margin-left: auto;

    &__cnt {
      border-left: 1px solid #e8edf0;
      padding-left: 22px;
    }

    &__btn {
      font-size: 16px;
      min-width: 155px;
    }
  }

  &-results {
    border-top: 1px solid #e8edf0;
    padding: 15px 25px;
    display: flex;
    align-items: center;

    @include bp(desktop) {
      padding: 15px;
    }

    @include bp(tablet) {
      padding: 10px;
      flex-direction: column;
    }

    &__mobile-buttons {
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      border-top: 1px solid #e8edf0;
      padding-top: 15px;

      .button {
        &:first-child {
          @include bp(tablet) {
            margin-right: 6px;
          }
        }

        &:nth-child(2) {
          @include bp(tablet) {
            margin-right: 6px;
          }
        }
      }
    }

    &__word-button {
      padding: 10px 15px 10px 45px !important;
      min-height: 43px !important;
      height: 43px !important;

      .button__icon {
        width: 30px !important;
        height: 30px !important;
        font-size: 18px !important;
      }

      .button__txt {
        font-size: 15px !important;
      }

      @include bp(tablet) {
        width: 100%;
      }
    }

    &__left {
      display: flex;
      align-items: center;
      width: 100%;

      @include bp(tablet) {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      &:after {
        @include bp(tablet) {
          content: '';
          position: absolute;
          bottom: 0;
          left: -10px;
          width: calc(100% + 20px);
          height: 1px;
          background: #e8edf0;
        }
      }
    }

    &__item {
      padding: 7px 30px;
      border-left: 1px solid #e8edf0;
      color: $c-secondary;

      @include bp(desktop) {
        padding: 7px 15px;
      }

      @include bp(tablet) {
        width: 25%;
        padding: 5px 10px;
      }

      &:first-child {
        padding-left: 0;
        border-left: 0;
      }

      &:nth-child(5n-1) {
        @include bp(tablet) {
          padding-right: 0;
          width: 30%;
          text-align: right;
        }
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1em;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      color: #7f8db7;

      @include bp(tablet) {
        margin-bottom: 2px;
        font-size: 14px;
        justify-content: center;
      }

      .dot {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin-left: 15px;
        font-size: 10px;

        @include bp(tablet) {
          margin-left: 5px;
          width: 0.7em;
          height: 0.7em;
        }
      }
    }

    &__txt {
      font-size: 17px;

      @include bp(tablet) {
        font-size: 15px;
        text-align: center;
      }

      .icon {
        margin-right: 15px;
        color: $c-alt;
        font-size: 19px;

        @include bp(tablet) {
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }

    &-ctr {
      color: $c-secondary;
      font-size: 17px;
      margin-left: auto;
      text-align: right;

      &.listitem__point {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
        display: flex;
        align-items: center;

        .tests-results-ctr__txt {
          margin-left: 10px;
        }
      }

      @include bp(desktop) {
        margin-right: 15px;
        padding-right: 15px;
      }

      @include bp(tablet-m) {
        border-right: none;
        margin: 0;
        margin-bottom: 7px;
        padding-right: 0;
        justify-content: center;
        align-items: center;
      }

      strong {
        color: #4545a2;
      }

      &__txt {
        strong {
          margin-right: 5px;
        }
      }

      &__title {
        font-weight: 700;
        opacity: 0.8;
        font-size: 15px;

        @include bp(tablet-m) {
          padding-right: 10px;
        }
      }

      .button {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__right {
      margin-left: auto;

      @include bp(tablet) {
        margin-left: unset;
        width: 100%;
      }
    }

    &__btn {
      font-size: 16px;
      padding: 10px 15px !important;
      width: 214px;
      background: #ecf0f5 !important;

      .button__wrp {
        justify-content: flex-start;
        width: 100%;

        @include bp(tablet) {
          justify-content: center;
        }
      }

      @include bp(desktop) {
        font-size: 15px;
      }

      @include bp(tablet) {
        width: 100%;
      }

      .button__icon {
        font-size: 20px;
        margin-right: 30px !important;

        @include bp(desktop) {
          font-size: 20px;
        }
      }
    }
  }
}

//test detail

.test {
  &-list {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  &-item {
    position: absolute;
    top: 0;
    text-align: center;
    left: 50%;
    width: 100%;
    margin-left: -50%;

    &.active {
      position: relative;
    }
  }

  &-question {
    background: #fff;
    padding: 25px 45px;
    padding-top: 45px;
    border-radius: 13px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    text-align: left;

    &__number {
      background: #3eacf7;
      color: #fff;
      width: 49px;
      height: 49px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 16px;
      font-weight: 800;
      font-size: 21px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__bottom {
      display: flex;
      width: 100%;
      margin-top: 15px;
    }

    &__txt {
      color: $c-secondary;
      font-weight: 600;
      font-size: 17px;

      .blued {
        color: $c-alt;
      }
    }

    &__b {
      color: $c-alt;
      font-weight: 700;
    }

    &__cnt {
      width: 100%;
    }
  }

  &-options {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  &-option {
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    background: #fff;
    padding: 10px 13px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;

    &.no-cursor {
      cursor: default;
    }

    @include bp(tablet) {
      padding: 10px 7px;
    }

    &:hover {
      background: #dbe3ec;

      @include bp(tablet-l) {
        background: #fff;
      }

      @include bp(tablet) {
        background: #fff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.selected,
    &.active {
      background: #3eacf7;

      .test-option__opt {
        background: $c-bgmain;

        &:before {
          background: #3eacf7;
          transform: scale(1.13);
          transition-delay: 0.15s;
        }

        .opt-txt {
          background: #ffffff;
        }
      }

      .test-option__txt {
        color: #fff;
      }
    }

    &.success {
      background: #4eea89;

      .test-option__txt {
        color: #fff;
      }

      .test-option__opt .opt-txt {
        background: #fff;
      }
    }

    &.error {
      background: #df6060;

      .test-option__txt {
        color: #fff;
      }

      .test-option__opt .opt-txt {
        background: #fff;
      }
    }

    &__opt {
      display: inline-flex;
      width: 33px;
      height: 33px;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 20px;
      color: $c-secondary;
      font-weight: 600;
      position: relative;
      text-align: center;

      @include bp(tablet) {
        display: none;
      }

      &:before {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        background: #d7dde7;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 50%;
        transition: all 0.3s;
      }

      .opt-txt {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        background: #e7ecf2;
        border-radius: 50%;
      }
    }

    &__txt {
      font-size: 16px;
      color: $c-secondary;
      transition: 0.3s !important;

      &.has-tooltip {
        &:hover {
          background: #e2e9f1;
        }
      }
    }
  }

  &-bottom {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;

    &--nomar {
      margin-top: 0px;
    }
  }

  &-progress {
    &__title {
      margin-bottom: 8px;
      color: #36aafa;
      font-weight: 500;
      font-size: 19px;
      transition: color 0.3s;

      &.completed {
        color: #46c63d;
      }
    }
  }

  &-nav {
    display: flex !important; // TODO: global style
    align-items: stretch;
    margin-top: 25px;
    max-width: 100%;

    .button {
      background: #dee4ec;
      border-radius: 100px;
      font-size: 16px;
      color: $c-secondary;
      min-height: 61px;
      min-width: 220px;
      margin-right: 15px;
      width: 50%;

      .button__icon {
        font-size: 16px;
      }

      &:hover {
        background: #fff;
        color: #36aafa;
      }

      &:last-child {
        margin-right: 0;
      }

      &.button--circle {
        min-width: inherit;
        flex-shrink: 0;
        width: 63px;
        height: 63px;
      }
    }

    &__next {
      width: 100%;
    }
  }
}

.with-paraghraph {
  font-weight: 700 !important;

  b {
    font-weight: 700 !important;
    color: $c-alt;
  }
}