@import '../variables';

.toolbar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  max-width: 5rem;
  backface-visibility: hidden;
  background: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.4s ease, z-index 0.05s ease-in;
  box-shadow: 3px 0 24px rgba($color: $c-secondary, $alpha: 0.15);
  will-change: transform, opacity;

  @include bp(desktop-s) {
    max-width: 4rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }

  @include bp(tablet-m) {
    bottom: 0;
    height: 4rem;
    top: auto;
    transform: none;
    left: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    max-width: 80%;
    width: 80%;
    box-shadow: 0px -10px 20px 5px rgba(85, 100, 144, 0.14);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  @include bp(tablet) {
    width: 95%;
    max-width: 95%;
    left: 2.5%;
  }

  &.active {
    transform: translateY(-50%);
    top: 50%;
    height: 85vh;
    max-width: 600px;
    border-radius: 0 10px 10px 0;
    z-index: 253 !important;

    .toolbar__inner {
      background: $c-bgmain;
    }

    @include bp(tablet-m) {
      transform: none;
      top: unset;
      bottom: 0;
      height: 100%;
      max-width: 100%;
      width: 100%;
      left: 0;
      border-radius: 0;
      overflow: hidden;
    }

    @include bp(tablet) {
      max-width: 100%;
      width: 100%;
      left: 0%;
    }

    .toolbar__inner {
      opacity: 1;
      transition-delay: 0.35s;

      @include bp(tablet-m) {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        bottom: 0;
        transition-delay: 0s;
        background-color: $c-bgmain;
      }
    }

    .toolbar-list {
      @include bp(tablet-m) {
        border-radius: 0;
      }
    }

    .toolbar__content {
      position: relative;
    }

    .toolbar__pane {
      @include bp(tablet-m) {
        padding-bottom: 75px;
      }
    }
  }

  &__inner {
    width: 440px;
    overflow: hidden;
    height: 100%;
    transition: opacity 0.3s ease;
    will-change: opacity;
    border-right: 1px solid #dfe4ea;
    position: relative;
    opacity: 0;

    @include bp(tablet-m) {
      top: 70px;
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      background-color: $c-bgmain;
      transition-delay: 0s;
      border-top: 1px solid #dfe4ea;
    }
  }

  &__pane {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    overflow: auto;
    will-change: opacity;

    @include bp(tablet-m) {
      overflow-x: hidden;
    }

    & .cluebank-more {
      bottom: 0;
      z-index: 4;
      margin: 0 30px 30px;
    }
  }

  &-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 244, 249, 0.7);
    z-index: 22;
  }

  &__cnt {
    padding: 16px 24px;
    position: relative;
    padding: 0 24px 0;

    &--wordbook {
      .word-box {
        &-meaningsline {
          width: 240px;
        }

        &-meaning {
          &__item {
            overflow: hidden;
          }

          &__title {
            white-space: nowrap;
            line-height: 1.3em;
            overflow: hidden;
          }
        }
      }
    }

    &--dctresult {
      margin-bottom: 20px;
    }

    @include bp(tablet) {
      padding: 10px 15px;
    }

    .dct-word {
      margin-bottom: 15px;

      .badge {
        // position: absolute;
        // top: -15px;
        // right: 5px;
        bottom: auto;
        left: auto;
        font-size: 14px;

        .icon-font {
          font-size: 11px;
          margin-right: 5px;
        }
      }
    }

    &.cluebank-toolbar {
      padding-top: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;

      & > .title {
        margin-bottom: 15px;
        font-size: 1.3rem;
        letter-spacing: -0.05rem;
        font-weight: 700;
        color: $c-word-other;
        display: inline-flex;
        align-items: center;
        line-height: 1;

        & .dynamic-icon {
          margin-right: 10px;
          color: #fff;
          background: $c-yellow;
          padding: 5px;
          height: 28px;
          width: 28px;
          margin-top: -2px;
          border-radius: 255px;
        }
      }

      & .slide-group {
        &__header {
          display: flex;
          padding: 10px 0;
          justify-content: flex-start;
        }
      }

      & .slide-group__cnt {
        padding: 10px;
      }

      & .cluebank-list__item {
        width: 100%;
      }
    }
  }

  &-list {
    padding: 1.25rem 0;
    width: 5rem;
    align-self: center;
    flex-shrink: 0;
    margin-left: -1px;
    background: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @include bp(desktop-s) {
      max-width: 4rem;
      padding: 1rem 0;
    }

    @include bp(tablet-l) {
      // max-width: unset;
    }

    @include bp(tablet-m) {
      max-width: unset;
      width: 100%;
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
      position: fixed;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      box-shadow: 0px -10px 20px 5px rgba(85, 100, 144, 0.14);
      border-radius: 10px 10px 0 0;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0;
    }

    &__main {
      position: relative;

      @include bp(tablet-m) {
        display: flex;
        padding-top: 0;
        margin-top: 0;
        width: 100%;
      }

      .dots {
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        font-size: 4px;
        color: #546391;
        opacity: 0.7;

        @include bp(tablet-m) {
          top: 50%;
          left: -4px;
          transform: translateY(-50%) rotate(0deg);
          font-size: 3px;
        }
      }
    }

    &__digi {
      position: relative;

      .dots {
        bottom: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        font-size: 4px;
        color: #546391;
        opacity: 0.7;
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 4.5rem;
    font-size: 1.75rem;
    cursor: pointer;
    color: $c-secondary;
    position: relative;
    transition: all 0.2s ease;

    @include bp(desktop-s) {
      height: 3.5rem;
      font-size: 1.5rem;
    }

    @include bp(tablet-l) {
      // height: 4rem;
      // width: 100%;
    }

    @include bp(tablet) {
      padding: 1rem 0.5rem;
    }

    &.disabled {
      filter: grayscale(100%);
      opacity: 0.8;
      cursor: not-allowed;

      &::before {
        width: 0;
      }
    }

    // @include bp(tablet-m) {
    //   height: 50px;
    //   font-size: 26px;
    //   padding: 35px 3px;
    // }

    &.dominant {
      padding: 1rem 0.5rem;

      @include bp(tablet-l) {
        height: 4rem;
      }
    }

    &:before {
      @include pseudo;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 0%;
      background: $c-alt;
      transition: all 0.2s ease;

      @include bp(tablet-m) {
        top: auto;
        bottom: -2px;
        left: 50%;
        width: 0%;
        height: 3px;
        background: $c-alt;
      }

      @include bp(tablet) {
        bottom: -3px;
        height: 5px !important;
      }
    }

    &:after {
      @include pseudo;
      left: 0;
      top: 50%;
      width: 0%;
      height: 100%;
      transform: translateY(-50%);
      background: #fff;
      z-index: -1;
      transition: all 0.2s ease;

      @include bp(tablet-m) {
        left: 50%;
      }
    }

    &:first-child {
      @include bp(tablet-m) {
        &:after {
          border-top-left-radius: 15px;
        }
      }
    }

    &:last-child {
      @include bp(tablet-m) {
        &:after {
          border-top-right-radius: 15px;
        }
      }
    }

    &:hover {
      color: $c-alt;

      @include bp(tablet-m) {
        color: $c-secondary;
      }

      &:before {
        height: 100%;

        @include bp(tablet-m) {
          height: 3px;
          width: 0%;
        }
      }

      .btn-txt {
        opacity: 1;
        transform: translateY(-50%);

        @include bp(tablet-m) {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    &.active {
      color: $c-alt;

      &:after {
        width: 100%;

        @include bp(tablet-m) {
          left: 0;
        }
      }

      &:before {
        height: 100%;

        @include bp(tablet-m) {
          height: 3px;
          width: 100%;
          left: 0;
        }
      }

      .toolbar-main__img {
        background: none;
      }
    }

    .icon-font {
      position: relative;
      display: inline-flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &:after {
        @include pseudo;
        width: 1em;
        height: 1em;
        // background: $c-in-complete;
        background: $c-alt;
        display: none;
        border-radius: 50%;
        font-size: 0.5rem;
        right: 0;
        top: 0;

        @include bp(desktop-s) {
          right: -0.25rem;
          top: -0.25rem;
        }

        @include bp(tablet-m) {
          top: auto;
          bottom: -1rem;
          right: 50%;
          transform: translateX(50%);
        }
      }

      &.active {
        &:after {
          display: block;
        }
      }
    }

    .btn-txt {
      position: absolute;
      left: 100%;
      background: $c-alt;
      font-size: 16px;
      padding: 5px 15px;
      border-radius: 7px;
      white-space: nowrap;
      color: #fff;
      font-weight: 700;
      margin-left: 15px;
      box-shadow: 0px 2px 20px rgba(81, 98, 118, 0.35);
      top: 50%;
      transform: translateY(-50%) scale(0.5);
      transform-origin: 0 50%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      display: none;

      @include bp(tablet-m) {
        left: 50%;
        top: -30px;
        transform: translate(-50%, 0) scale(0.5);
        transform-origin: 0% 0%;
        margin-left: 5px;
      }

      &:before {
        @include pseudo;
        @include triangle(left, $color: $c-alt, $size: 7px);
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include bp(tablet-m) {
          left: 50%;
          top: auto;
          bottom: -20px;
          transform: translate(-50%, 0) rotate(-90deg);
          transform-origin: 0 0%;
        }
      }
    }
  }

  &-main {
    margin-top: 20px;
    padding-top: 20px;
    position: relative;

    &__img {
      font-size: 35px;
      background: #e8edf5;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      @include bp(desktop) {
        width: 2.75rem;
        height: 2.75rem;
      }

      @include bp(tablet-m) {
        background: transparent;
        font-size: 30px;
      }

      .icon {
        object-fit: contain;
      }
    }
  }

  &__back.button {
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    line-height: 1em;
    font-weight: 700;
    z-index: 12;
    height: auto;
    min-height: auto;
    opacity: 0.7;
    background: #d5dde8;
    color: $c-secondary;
    border: none;
    padding: 10px 15px 9px;
    top: 0;
    font-size: 14px;
    margin-left: auto;

    &:hover {
      opacity: 1;
    }

    .button__icon {
      font-size: 15px;
      margin-right: 12px;
      margin-top: -1px;
    }

    .button__txt {
      margin-top: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__row {
    padding-left: 24px;
    padding-right: 24px;
  }

  &-search {
    background: #fff;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.11);
    border-radius: 7px;
    margin-top: -32px;
    display: flex;
    align-items: stretch;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;

    & .subpage-search {
      min-height: 47px;
      max-height: 47px;
      box-shadow: none;

      &__form {
        padding: 0;
        background: transparent;
      }

      &__input {
        font-size: 1rem;
        padding: 10px 15px;
      }

      &__submit {
        min-width: 47px;
        padding: 0;
        min-height: 47px;

        & .button__txt {
          display: none;
        }

        & .button__icon {
          font-size: 16px;
        }
      }

      &-result {
        width: 100%;
        padding: 0;
        margin-top: 25px;
        margin-left: -9px;
        box-shadow: 0px 7px 36px 0px rgba(41, 53, 108, 0.51);

        &::before {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 13px 13px 13px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          content: '';
          left: 80px;
          top: -13px;
        }

        &__list {
          position: relative;
          transition: 0.1s;
          max-height: 300px;
          overflow-y: auto;
          padding-top: 8px;
          padding-bottom: 8px;
        }

        &__item {
          padding: 8px 20px 10px;
          margin-left: -20px;
          margin-right: -20px;
          display: inline-flex;
          width: calc(100% + 40px);
          flex-wrap: wrap;
          align-items: center;
          font-size: 16px;
          cursor: pointer;
          word-break: break-word;

          .subpage-search-result__txt {
            display: inline-block;
            margin-right: 4px;
            line-height: 1.3;
          }

          .subpage-search-result__tag {
            font-size: 0.8em;
            font-weight: 300;
            opacity: 0.65;
            transition: 0.3s;
            color: #8e98b3;
            border-radius: 10px;
            display: inline;
            min-height: 20px;
            flex-grow: 0;
            white-space: nowrap;
            padding-top: 1px;
          }

          &:hover {
            background: #f7f8fb;

            .subpage-search-result__tag {
              opacity: 1;
            }
          }
        }

        &__li {
          border-bottom: 1px solid rgba(41, 53, 108, 0.1);
          margin: 0 20px;

          &:first-child {
            & > .subpage-search-result__item {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
          }

          &:last-child {
            border-bottom: none;

            & > .subpage-search-result__item {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }
      }
    }

    &__input {
      min-height: 47px;
      padding: 10px 15px;
      font-size: 17px;
    }

    &__button {
      background: $c-primary;
      box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
      color: #fff;
      flex-shrink: 0;
      width: 47px;
      border-radius: 7px;
      padding: 5px !important;
    }

    &__clear {
      padding: 0 0.75rem;
      opacity: 0.7;
      align-self: center;
      transition: 0.15s;
      cursor: pointer;
      color: $c-primary;

      & .b-icon {
        height: 1rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &-form {
    padding: 0 !important;

    .select-header {
      background: none;
      border-bottom: 1px solid #bec6d4;
      border-radius: 0 !important;
      padding-left: 0;

      &.open {
        padding-left: 25px;

        .select__caret {
          right: 25px;
        }
      }
    }

    .select {
      &__option {
        &:before {
          width: 100%;
        }

        &:first-child {
          .icon-font {
            display: none !important;
          }
        }
      }
    }

    .select__caret {
      right: 0;
      transition: 0.3s;
    }
  }

  &__close-button {
    z-index: 4;
    backface-visibility: hidden;
    opacity: 0.7;
    background: #d5dde8;
    color: $c-secondary;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: 0.3s;
    display: none;
    margin-left: 0.5rem;

    @include bp(tablet-m) {
      display: inline-flex;
    }

    @include bp(tablet) {
      width: 31px;
      height: 31px;
      font-size: 13px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__close.button {
    padding: 0;
    border-radius: 50%;
    min-height: 45px;
    width: 45px;
    background: #d9e1ea;
    margin-left: 5px;
    color: #7d97ad;

    & .button__icon {
      font-size: 14px;
    }
  }

  &-page {
    display: block;
    position: relative;

    &__name {
      line-height: 1.6em;
      margin-bottom: 10px;
    }

    &__more {
      width: 45px;
      height: 45px;
      flex-shrink: 0;
      border: 1px solid #8da3b6;
      border-radius: 50%;
      opacity: 0.5;
      position: relative;
      cursor: pointer;

      & > .dots {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    &-info {
      display: inline-flex;
      align-items: center;
      margin-top: 5px;
      color: $c-secondary;

      &__icon {
        height: 14px;
        width: 19px;
        // margin-right: 5px;

        &.public {
          color: $c-alt !important;
        }
      }

      &__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: $c-secondary;
        margin-left: 10px;
        padding-top: 0.125rem;

        &.public {
          color: $c-alt;
        }
      }
    }

    &__buttons {
      display: inline-flex;

      & > button {
        flex-grow: 0;
      }
    }

    &__title {
      font-size: 23px;
      font-weight: 700;
      color: $c-alt;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }

  &-category {
    display: inline-flex;
    width: 70px;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #c1c9d4;
    align-self: center;
    padding-left: 6px;

    &__btn {
      display: inline-flex;
      font-size: 19px;
      color: $c-primary;
      padding: 7px 5px;
    }
  }

  &-header {
    padding: 35px 30px 25px;
    border-bottom: 1px solid #d7dee8;

    @include bp(tablet-m) {
      width: 100%;
      background: #fff;
      padding: 15px;
    }

    @include bp(tablet) {
      padding: 15px 20px 20px;
    }

    &--hidden {
      .toolbar-header__txt {
        margin-top: -50px;
        transform: translateY(-50px);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        @include bp(mobile) {
          margin-top: -70px;
        }
      }
    }

    & > * {
      transition: all 0.3s;

      & > * {
        transition: all 0.3s;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .badge-count {
      margin-left: 15px;
      padding: 0 5px;
      top: -1px;
      position: relative;
      width: auto;
      min-width: 31px;
      font-weight: 700;

      @include bp(tablet) {
        top: 1px;
        margin-left: 10px;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      color: $c-primary;
    }

    &__icon {
      display: inline-flex;
      font-size: 39px;
      margin-right: 25px;

      @include bp(tablet) {
        font-size: 32px;
        margin-right: 15px;
      }
    }

    &__title {
      font-size: 23px;
      font-weight: 800;
      margin-right: 15px;
      display: flex;
      align-items: center;

      @include bp(tablet) {
        font-size: 20px;
        font-weight: 700;
      }
    }

    &__help {
      display: inline-flex;
      margin-left: auto;
      backface-visibility: hidden;
      opacity: 0.7;
      background: #d5dde8;
      color: $c-secondary;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      transition: 0.3s;
      margin-top: 1px;

      @include bp(tablet) {
        margin-right: 10px;
        width: 31px;
        height: 31px;
        font-size: 14px;
        color: $c-secondary !important;
      }

      &:hover {
        opacity: 1;
      }
    }

    &__txt {
      color: $c-secondary;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.4;
      padding: 1rem 0 0;

      @include bp(tablet-m) {
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }

      @include bp(tablet) {
        font-size: 15px;
        // margin-top: 50px;
      }
    }

    .button:not(.toolbar__back) {
      margin-top: 25px;

      @include bp(tablet) {
        margin-top: 15px;
      }
    }

    &__cnt {
      &:empty {
        display: none;
      }
    }

    &-main {
      position: relative;
      min-height: 220px;
      padding: 40px 30px 45px;

      @include bp(tablet) {
        padding: 15px 20px 20px;
        min-height: 120px;
      }

      .toolbar-header__help {
        background: rgba(255, 255, 255, 0.15);
        transition: all 0.3s;

        @include bp(tablet-m) {
          opacity: 0.7;
          background: #d5dde8;
          color: $c-secondary;
        }

        &:hover {
          color: $c-primary;
          background: #fff;

          @include bp(tablet-m) {
            opacity: 1;
            background: #d5dde8;
            color: $c-secondary;
          }
        }
      }

      .toolbar__back.button {
        background: rgba(255, 255, 255, 0.15);
        opacity: 1;
        color: #fff;
        transition: all 0.3s;
        position: absolute;
        right: 25px;
        top: 45px;

        @include bp(tablet-m) {
          top: 75px;
        }

        &:hover {
          color: $c-primary;
          background: #fff;
        }
      }
    }

    &-detail {
      .toolbar-header__top {
        display: block;
        margin-bottom: 0;
        position: relative;
      }

      .toolbar-header__help {
        position: absolute;
        right: 0;
        bottom: 10px;
      }

      .toolbar-header__title {
        margin-top: 15px;
      }

      .toolbar__back.button {
        color: #3e4c75;
        top: 35px;
      }

      .toolbar-header__icon {
        font-size: 47px;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;

      @include bp(tablet-m) {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px - 15px);
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: relative;
      z-index: 2;

      @include bp(tablet-m) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .toolbar-header__icon {
        font-size: 59px;
        margin-right: 0;
        margin-bottom: 15px;

        @include bp(tablet-m) {
          font-size: 40px;
          margin-bottom: 0;
        }

        .icon {
          filter: drop-shadow(0px 7px 16px rgba(41, 53, 108, 0.9));
        }
      }
    }
  }

  .toolbar-header__help {
    &--info-mobile {
      display: none;
      position: absolute;
      top: 60px;
      right: 60px;
      width: calc(100% - 80px);
      background: $c-alt;
      color: #fff;
      font-weight: 300;
      padding: 10px 15px;
      z-index: 12;
      text-align: right;
      border-radius: 8px;
      font-size: 15px;
      pointer-events: none;
      opacity: 0;
      transition: 0.3s;

      &.active {
        opacity: 1;
      }

      &.clue {
        top: 50px;
        right: 40px;
      }

      &:before {
        content: '';
        position: absolute;
        top: -5px;
        right: 12px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: $c-alt;
        z-index: -1;
      }

      @include bp(tablet) {
        display: block;
      }
    }
  }

  .navbar.navbar--hidden {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }

  &-subtitle {
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
    font-weight: 700;
    color: $c-word-other;
    margin-bottom: 15px;
    margin-top: 0px !important;
  }

  &-filter {
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding-right: 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: -24px;
      bottom: 0;
      width: calc(100% + 48px);
      height: 1px;
      background: #d7dee8;
    }

    @include bp(tablet) {
      padding: 5px 20px;
      padding-right: 0px;
      padding-left: 0;
    }

    .select {
      max-width: calc(100% - 82px);

      @include bp(tablet) {
        max-width: 100%;
      }

      &__option {
        &:before {
          width: 100%;
        }

        &:first-child {
          .icon-font {
            display: none !important;
          }
        }
      }
    }

    .select-header {
      background: none;
      padding-left: 10px;

      .select__title {
        transition: 0.3s;
      }

      &.open {
        .select__title {
          padding-left: 15px;
        }
      }
    }

    &__title {
      margin-right: 15px;
      font-weight: 700;
      color: #788098;
      font-size: 19px;
      letter-spacing: 0.3px;

      @include bp(tablet) {
        font-size: 15px;
      }
    }
  }

  &-cluebank {
    .toolbar-filter {
      border-top: 0;
      margin-top: -7px;
    }

    .toolbar__cnt {
      position: relative;
    }

    .toolbar__content {
      padding-top: 0px;
    }
  }

  &-dictionary {
    &__search {
      margin-top: -20px;

      .subpage-search {
        &__submit {
          .button__txt {
            display: none;
          }
        }
      }
    }

    &__wrp {
      padding-bottom: 20px;
    }

    .toolbar {
      &-filter {
        border-top: 0;
        margin-top: -7px;
      }

      &__cnt {
        padding-top: 0;
      }
    }

    .dct-word-header {
      align-items: flex-start;
      padding: 15px 15px 25px;

      &__left {
        margin-top: 3px;
        margin-right: 15px;
      }

      /* &__right,
      &__txt {
        display: none;
      } */

      &__title {
        font-size: 20px;
        margin-bottom: 5px;
      }

      &__desc {
        font-size: 16px;
      }

      .tooltip {
        max-width: 345px;
        right: 0;
        white-space: normal;
        padding: 15px;
        text-align: left !important;

        &:after {
          //left: 0;
          left: 5%;
        }
      }
    }

    .dct-word-desc__txt {
      font-size: 16px;
    }

    .dct-word-desc {
      padding: 25px 15px 15px;
    }

    .toolbar__content {
      padding-top: 0px;
    }
  }

  &-text {
    padding: 10px 20px;
    background: #fff;
    border-radius: 15px;

    &__cluebank {
      margin-top: 30px;
    }

    &__header {
      padding: 15px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    &__title {
      font-weight: 700;
      font-size: 21px;
      color: #44449f;
    }

    &__cnt {
      padding: 15px 5px;

      & > .cluebank-text {
        pointer-events: none;
        user-select: none;

        & * {
          font-family: inherit !important;
          font-size: 17px !important;
          color: $c-text !important;
        }
      }
    }
  }

  &-ctr {
    display: flex;
    align-items: center;
    margin: 45px 0;

    .button {
      min-height: 50px;
      min-width: 50px;
    }

    &__main {
      margin: 0 auto;

      .button {
        font-size: 15px;
        padding-right: 20px;
        padding-left: 55px;

        .button__icon {
          font-size: 15px;
        }
      }
    }

    &__cnt {
      display: flex;
      align-items: center;

      .button {
        box-shadow: none;
        margin-left: 15px;
        width: 50px;
        height: 50px;
        font-size: 22px;
      }
    }
  }

  &-inf {
    margin-bottom: 16px;

    &__top {
      display: flex;
      width: 100%;
      border-top: 1px solid #d7dee8;
      padding: 16px 0 10px;
      align-items: center;
    }

    &__item {
      flex-basis: auto;
      line-height: 1;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      min-width: 7.5rem;
    }

    &__btn.button {
      min-height: 45px;
      min-width: 45px;
      flex-basis: 45px;
      background: #d9e1ea;
      margin-left: 5px;
      color: #7d97ad;
      padding: 0;

      &.actived {
        color: $c-alt;
      }

      &.is-view {
        &.active {
          color: $c-alt;
        }

        .button__icon {
          font-size: 24px;
          // test
        }
      }

      & .button__icon {
        font-size: 16px;
      }
    }

    &__subtitle,
    &__title {
      color: $c-secondary;
    }

    &__subtitle {
      opacity: 0.7;
    }

    &__title {
      margin-top: 3px;
      font-size: 17px;
      font-weight: 700;
    }

    &__date {
      line-height: 1em;
      font-size: 14px;
      font-weight: 600;
      color: $c-secondary;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #d7dee8;
      border-bottom: 1px solid #d7dee8;
      padding: 16px 0;
      margin: 0;

      .button {
        margin-top: 0;
      }
    }
  }

  &-last-search {
    .word-header__right {
      display: none;
    }

    .word-box {
      &:hover {
        box-shadow: 0px 13px 21px 0px rgba(41, 53, 108, 0.09) !important;
      }
    }

    .word__item {
      margin-bottom: 25px;
    }

    .word-header {
      padding: 15px;
    }

    .button.word-voice {
      width: 47px;
      height: 47px;
    }

    .word-header__title {
      font-size: 25px;
    }

    .word-header__txt {
      font-size: 18px;
    }

    .word-desc {
      padding: 12px 15px 10px;
    }

    .word-desc__top {
      margin-bottom: 0;
    }

    .word-desc__title {
      line-height: 1em;
      font-size: 23px;
    }
  }

  &-wordlist {
    &__wrp {
      height: 100%;
      overflow-y: hidden;

      /* .toolbar-header {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 80px);
      } */
    }

    .word-box {
      padding: 10px;
    }

    .word-box__voice.button.default {
      width: 53px;
      height: 53px;
      background: #dfe7ee;
    }

    .word-box__title {
      font-size: 23px;
    }

    .word-box__btn.button {
      height: 33px;

      .button__icon {
        font-size: 15px;
      }
    }

    .toolbar-page__header {
      margin-top: 15px;
    }

    .toolbar__cnt {
      @include bp(tablet-m) {
        margin-top: 200px;
      }

      @include bp(tablet) {
        margin-top: 60px;
      }

      @include bp(mobile) {
        margin-top: 80px;
      }
    }
  }

  &-notes {
    .toolbar-form {
      margin-top: 25px;
      margin-bottom: 25px;
      background: #fff;
      padding: 10px 20px 20px !important;
      border-radius: 10px;

      textarea.form-input {
        height: 220px;
      }

      .form-container:last-child .form-input {
        border-bottom: 0;
      }
    }
  }

  &-wordbook {
    height: 100%;

    &-content {
      /* overflow: auto; */
      padding-bottom: 1rem;
      /* margin-top: 200px; */
    }
  }

  &-homework {
    .toolbar {
      &-filter {
        @include bp(tablet-m) {
          margin-top: 115px;
        }

        @include bp(mobile) {
          margin-top: 130px;
        }
      }

      &__content {
        @include bp(tablet-m) {
          padding-top: 0;
          margin-top: 0;
        }
      }
    }
  }

  &-wbc {
    border-top: 1px solid #d7dee8;
    padding-top: 8px;
  }

  &-parent {
    @include bp(tablet-m) {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 280;
    }

    &.toolbar-hidden-for-mobile-menu {
      display: none;
    }

    &.Shop,
    &.shopProductsDetail {
      display: none;
    }

    &.ReadingDetail,
    &.DocumentDetail,
    &.WordyDetail,
    &.ClueBankDetail,
    &.ExamsReport,
    &.ExamsDetail,
    &.TestDetail,
    &.TestReport,
    &.DigibookDetail,
    &.DigibookTest,
    &.DigibookStaticContent,
    &.DigibookTranslate,
    &.DigibookTable,
    &.DigibookPairing,
    &.DigibookPassage,
    &.DigibookWordList,
    &.login {
      @include bp(tablet-m) {
        display: none !important;
      }
    }

    &.lessons-watch {
      .toolbar {
        box-shadow: 0px 0px 21px 0px rgba(41, 53, 108, 0.14);
      }
    }
  }

  &-questions {
    &__content {
      padding: 20px;

      @include bp(tablet) {
        padding: 20px 15px;
      }

      .quest-card {
        background: #e4eaf1;
        box-shadow: none;

        &-answer__txt {
          border-left: 3px solid #d4dee6;
        }
      }
    }
  }

  &__seperator {
    pointer-events: none;

    @include bp(tablet) {
      width: 10px;
    }

    & .dynamic-icon {
      transform: rotate(90deg);
      font-size: 20px;

      @include bp(tablet) {
        transform: rotate(0deg);
      }
    }
  }
}

.add-list-toolbar-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.toolbar-addnote-btn {
  opacity: 1 !important;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;

  &.showed {
    opacity: 0 !important;
    visibility: hidden;
    transform: scale(0.5);
    transition: 0.5s;
    position: absolute;
    margin: 0 !important;
    left: -100%;
    padding: 0;
  }
}
