@import "../variables";

.user-badge {
  text-align: center;

  &__top {
    background: #fff;
    padding-top: 1px;

    >* {
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &__icon {
    margin: 24px 0;
    font-size: 51px;
    display: inline-flex;
    line-height: 1em;
    @include dont-touch;
  }

  &__title {
    color: $c-secondary;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
    @include dont-touch;
  }

  &__shape {
    display: block;
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: bottom center;
    @include dont-touch;
  }

}