@import "../variables";

.user-apps {
  color: #fff;
  position: relative;

  @include bp(tablet) {
    margin-top: 30px;
    width: 100%;
  }

  &__title {
    font-size: 1rem;
    opacity: .7;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;

    @include bp(desktop-s) {
      font-size: 0.875rem;
    }

    @include bp(tablet) {
      font-weight: 600;
    }
  }

  &__cnt {
    display: flex;

    @include bp(tablet) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #556490;
    background: #dae0e8;
  }

  &__add {
    background: rgba(255, 255, 255, 0.15);
    width: 61px;
    height: 61px;
    margin-left: 15px;
    border-radius: 6px;
    color: #fff;
    transition: 0.2s;

    @include bp(desktop-s) {
      width: 3.25rem;
      height: 3.25rem;
    }

    @include bp(tablet) {
      position: absolute;
      top: -12px;
      width: 45px;
      height: 45px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.15);
      right: 0;
    }

    &:hover {
      color: $c-primary;
      background: #fff;

      .plus {
        opacity: 1;
      }

    }

    .plus {
      opacity: .7;
    }

  }

  &-dropdown {
    position: absolute;
    top: 100%;
    z-index: 265;
    right: 0;
    margin-top: 1.5rem;

    @include bp(desktop-s) {
      margin-top: 1.125rem;
    }

    @include bp(tablet) {
      position: fixed;
      top: 0;
      z-index: 265;
      right: auto;
      left: 0;
      margin-top: 0;
      width: 100%;
      height: 100vh;
    }

    &:before {
      content: '';
      @include triangle(up, #e9eef3, 8px);
      top: 0;
      transform: translateY(-100%);
      right: 1.25rem;

      @include bp(desktop-s) {
        right: 1.125rem;
      }
    }

    &__wrp {
      background: #e9eef3;
      border-radius: 0.5rem;
      width: 27rem;
      padding: 1.25rem;
      box-shadow: 0px 19px 70px 0px rgba(26, 34, 70, 0.2);

      @include bp(desktop-s) {
        width: 24rem;
        padding: 0.75rem 1rem;
      }

      @include bp(tablet) {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }

    &__top {
      margin-bottom: 1.25rem;

      @include bp(desktop-s) {
        margin-bottom: 1rem;
      }

      @include bp(tablet) {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        position: relative;
        z-index: 1;
        justify-content: space-between;
      }

      &:before {
        @include bp(tablet) {
          content: '';
          position: absolute;
          left: 0;
          width: calc(100% + 40px);
          height: calc(100% + 40px);
          background: #fff;
          z-index: -1;
          top: -20px;
          left: -20px;
        }
      }
    }

    &__footer {
      color: #df6457;
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 600;
      margin-top: 0.5rem;

      @include bp(desktop-s) {
        font-size: 0.875rem;
      }
    }

    &__title {
      color: $c-secondary;
      font-weight: 400;
      font-size: 1rem;

      @include bp(tablet) {
        order: 1;
        width: calc(100% - 42px - 10px);
      }
    }

    &__txt {
      color: $c-secondary;
      opacity: .7;
      font-weight: 600;

      @include bp(desktop-s) {
        font-size: 0.875rem;
      }

      @include bp(tablet) {
        order: 3;
        margin-top: 10px;
      }
    }

    .mobile-menu__top--close-icon {
      @include bp(tablet) {
        order: 2;
        flex-shrink: 0;
      }
    }

    &__list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      @include bp(tablet) {
        padding-top: 15px;
      }
    }

  }

  & .app-item {
    user-select: none;
    // padding-top: 10px;

    @include bp(tablet) {
      padding-top: 25px;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.7;
    }

    &.favorite {
      opacity: 1 !important;
      pointer-events: all !important;
    }
  }

}