@import "../variables";

.wordy-test {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .suffix-w-100 {
    @include bp(tablet) {
      width: 100%;
      margin-left: 0px;
    }

    .suffix {
      &__top {
        margin-bottom: 45px;

        @include bp(tablet) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__item {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include bp(tablet) {
      top: 0;
      transform: none;
      left: 0;
      position: static;
    }

    // @include bp(tablet) {
    //   margin-top: -50px;
    // }

    &-wrp {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;

      @include bp(tablet) {
        position: static;
      }
    }

  }

  &-question {
    text-align: center;
    border-bottom: 1px solid #d7e0e8;
    margin-bottom: 27px;
    padding-bottom: 27px;

    @include bp(tablet-l) {
      margin-bottom: 20px;
      padding-bottom: 15px;
    }

    @include bp(tablet) {
      margin-bottom: 15px;
      padding-bottom: 15px;
      width: 100%;
      max-width: 100% !important;
      position: relative;
      border-bottom: none;
      padding-left: 0px;
      padding-right: 0px;
    }

    &:after {
      @include bp(tablet) {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: -15px;
        width: calc(100vw);
        height: 1px;
        background: #d7e0e8;
      }
    }

    &__txt {
      color: #7d88a8;
      font-size: 19px;
      font-weight: 400;
      margin-top: 13px;

      @include bp(tablet) {
        font-size: 14px;
        font-weight: 300;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 16px;
        margin-top: 40px;
      }

      @include bp(phone-s) {
        margin-top: 5px;
      }
    }

  }

  &-word {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    height: 77px;

    @include bp(tablet) {
      margin-bottom: 40px;
    }

    .word__badge {
      margin-left: 11px;

      @include bp(tablet) {
        padding: 1px 8px 3px;
        font-size: 16px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 30px;
      }
    }

  }

  &-opts.test-options {
    width: 80%;
    max-width: 410px;

    @include bp(tablet) {
      width: 100%;
    }

    .test-option__txt {
      width: 100%;
      text-align: center;
      font-weight: 700;
      color: #929cb9;
      font-size: 19px;

      @include bp(tablet) {
        font-size: 18px;
      }
    }

    .test-option__opt {
      margin-right: 0;
    }

    .test-option.success .test-option__txt {
      color: #fff;
    }

    .test-option.error .test-option__txt {
      color: #fff;
    }

  }

  &-voice {
    margin-bottom: 20px;

    @include bp(tablet) {
      margin-bottom: 30px;
    }
  }

}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.45s;
}