.wordy-list {
  max-width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  max-height: 520px;
  overflow: auto;

  @include bp(tablet) {
    margin: 0px auto 20px auto;
    padding: 5px 0px;
    overflow: initial;
  }

  &__head {
    font-weight: 700;
    color: $c-alt;
    font-size: 25px;
    text-align: center;

    @include bp(tablet) {
      font-size: 26px;
    }

    &-txt {
      color: #71899e;
      font-size: 16px;
      line-height: 1em;
      margin-top: 10px;
      text-align: center;

      @include bp(tablet) {
        font-size: 18px;
        margin-top: 5px;
        font-weight: 600;
      }
    }
  }

  &__wrp {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 11px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include bp(desktop) {
      padding: 0 0 1rem;

      .word-box {
        &__voice {
          width: 3rem;
          height: 3rem;
          font-size: 1.25rem;
        }
      }
    }

    @include bp(tablet) {
      padding: 20px 15px;
      min-height: 50px;
      border-radius: 0;
      border-bottom: 1px solid #dee4ec;
    }

    &:hover {
      background: #f3f6fa;

      @include bp(tablet) {
        background: #fff;
      }

      .wordy-list__number {
        background: #fff;

        @include bp(tablet) {
          background: #e7ecf2;
        }
      }

      .wordy-list__title {
        color: #5657aa;
      }
    }
  }

  &__number {
    align-self: stretch;
    display: inline-flex;
    flex-shrink: 0;
    width: 47px;
    height: 47px;
    font-size: 22px;
    background: #e7ecf2;
    color: $c-text;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    line-height: 1em;
    font-weight: 700;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;

    @include bp(tablet) {
      width: 45px;
      height: 45px;
      font-size: 20px;
      position: relative;
    }
  }

  &__title {
    font-weight: 700;
    color: $c-secondary;
    font-size: 21px;
    line-height: 1em;
    transition: all 0.3s ease-in-out;

    @include bp(tablet) {
      font-size: 22px;
    }

    .txt {
      margin-right: 5px;
    }
  }

  &__txt {
    color: $c-text;
    font-size: 18px;
    line-height: 1em;
    margin-top: 6px;

    @include bp(tablet) {
      font-size: 14px;
    }
  }
}
