@import '../variables';

.word {
  &__item {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
    background: #fff;
    border-radius: 10px;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #e8edf3;

    @include bp(desktop) {
      padding: 15px;
    }

    &__left {
      margin-right: 15px;
      flex-shrink: 0;
    }

    &__right {
      margin-left: auto;

      .button {
        border-radius: 0;

        @include bp(tablet) {
          padding: 13px 15px;
        }
      }
    }

    &__title {
      font-size: 31px;
      font-weight: 700;
      color: #4545a2;
      line-height: 1.1em;

      @include bp(desktop) {
        font-size: 26px;
      }

      @include bp(tablet) {
        font-size: 20px;
      }

      &:hover {
        color: #4545a2;
      }
    }

    &__cnt {
      display: flex;
      align-items: center;

      & .word__badge {
        margin-left: 0.5rem;
      }
    }

    &__txt {
      font-weight: 600;
      color: $c-text;
      font-size: 19px;
      font-style: italic;
      opacity: 0.85;
      line-height: 1em;

      @include bp(desktop) {
        font-size: 17px;
      }
    }

    &__ctr {
      padding: 10px 20px;
      border-right: 2px solid #d9e1ec;
      border-radius: 0;
      color: #cfdae3;
      font-size: 30px;

      .tooltip {
        @include bp(tablet) {
          left: 70% !important;
        }
      }

      &:last-child {
        border-right: 0;

        @include bp(tablet) {
          padding-right: 0;
        }
      }

      &:hover {
        color: #7d97ad;
      }
    }
  }

  &-voice.button.default {
    color: $c-text;

    @include bp(tablet) {
      width: 37px;
      height: 37px;
      font-size: 15px;
    }
  }

  &__cnt {
    background: #f8fafe;
    border-radius: 0 0 10px 10px;
  }

  &__badge {
    display: inline-flex;
    padding: 7px 12px 6px;
    border-radius: 50px;
    font-weight: 200;
    color: #fff;
    line-height: 1em;
    font-size: 13px;
    letter-spacing: 0.5px;
    background: $c-word-other;

    &.bg-null {
      padding: 0;
    }

    .vtooltip {
      @include bp(tablet) {
        left: 50%;
        transform: translateX(-53%) translateY(calc(-100% - 13px)) !important;
      }
    }

    @include bp(tablet) {
      padding: 4px 8px 3px;
      font-size: 11px;
    }
  }

  &-desc {
    border-bottom: 1px solid #e8edf3;
    padding: 20px;

    &-info {
      margin-left: 1rem;
      line-height: 1;

      &__meanings {
        margin-top: 0.2rem;
        color: $c-text;
      }
    }

    @include bp(desktop) {
      padding: 10px 15px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &__cnt {
      & + & {
        margin-top: 1rem;
      }
    }

    &__top {
      display: flex;
      align-items: center;

      @include bp(tablet) {
        margin-bottom: 5px;
      }
    }

    &__bottom {
      margin-top: 1rem;
      font-size: 1.1rem;
      color: $c-text;

      @include bp(tablet) {
        margin-top: 0;
        font-size: 0.92rem;
        font-weight: 300;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 1.5rem;
      color: $c-word-other;

      @include bp(desktop) {
        font-size: 24px;
      }

      @include bp(tablet) {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    &__txt {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 5px;
      opacity: 0.95;

      @include bp(tablet) {
        font-size: 16px;
        line-height: 20px;
      }

      strong {
        font-weight: 800;
      }

      &.txt-en {
        color: #3b5e7b;
      }

      &.txt-tr {
        font-style: italic;
        color: #7d97ad;
        opacity: 0.95;
      }
    }
  }

  &-lists {
    &-form {
      // margin-bottom: 25px;
      margin-top: 25px;
      width: 100%;

      .form-input {
        padding-left: 0;
      }

      &__container {
        display: flex;
        padding-bottom: 0px;
        align-items: center;
        border-bottom: 1px solid #d4dbe4;

        &.error {
          border-bottom-color: #df6457;
        }
      }

      .form-placeholder {
        color: #6a7f92;
        font-weight: 600;
        font-size: 19px;
      }
      &__add {
        color: $c-primary !important;

        &.button {
          // position: absolute;
          // right: 0;
          // top: 50%;
          // transform: translateY(-50%);
          color: $c-primary;
          padding: 0;

          .button__txt {
            margin-right: 15px;
          }

          .button__icon {
            font-size: 21px;
          }
        }
      }
    }

    &__title {
      color: #90a3b3;
      font-weight: 600;
      font-size: 21px;
    }

    &__cnt {
      padding-top: 1.5rem;
      // padding: 20px 0;
      // padding-bottom: 30px;
      // border-bottom: 1px solid #d4dbe4;
      // margin-bottom: 20px;
    }

    &__item {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 0.5rem;
      // margin-bottom: 10px;
      padding: 0.75rem;
      cursor: pointer;
      color: $c-secondary;
      transition: all 0.2s;

      & + & {
        margin-top: 0.75rem;
      }

      &:hover {
        box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);

        .word-lists__icon {
          color: $c-alt;
        }

        .word-lists__txt {
          opacity: 1;
        }
      }

      &.selected {
        .word-lists__icon {
          color: $c-alt;

          .icon {
            opacity: 0;
          }

          .icon-o {
            opacity: 1;
          }
        }

        .word-lists__txt {
          opacity: 1;
        }
      }
    }

    &__icon {
      // font-size: 31px;
      margin-right: 15px;
      color: $c-secondary;
      transition: all 0.3s;

      & .b-icon {
        height: 2rem;
      }
    }

    &__txt {
      font-size: 18px;
      margin-top: 3px;
      font-weight: 600;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }

  &-group {
    &__btn {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 66px;
      padding: 0 18px;
      font-size: 17px;
      color: #8da3b6;
      transition: 0.3s;

      &.open {
        background: #fff;
        border-radius: 10px 10px 0 0;
        color: $c-primary;

        .select__caret {
          background: #ebeff5;

          &::after {
            top: 8px;
            transform: rotate(180deg);
          }
        }
      }

      &_text {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
        padding-right: 32px;

        & > .wrdcnt {
          color: #90a3b3;
          font-size: 13px;
          font-weight: 600;
        }
      }

      & .dynamic-icon {
        font-size: 28px;
        margin-right: 8px;
      }

      & .select__caret {
        right: 18px !important;
      }
    }

    &__box {
      background: #fff;
      border-radius: 0 0 10px 10px;
    }

    &__cnt {
      border-top: 1px solid #dfe4ea;
      margin: 0 12px 12px;

      .word-box {
        background: #f7f8fb;
        margin-top: 0.75rem;
      }

      &.is-toolbar {
        .word-box {
          background: #f7f8fb;

          &-content {
            flex-direction: row-reverse;
          }

          &__left {
            display: none;
          }

          &__right {
            margin-right: 15px;
          }

          &-meaningsline {
            width: 100%;
          }

          &-morebtn {
            pointer-events: none;
          }

          &-meaning {
            &__item {
              overflow: hidden;
            }

            &__title {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  &-new {
    border-radius: 16px;
    overflow: hidden;

    &-search {
      margin: 20px 18px 0;
      padding-bottom: 8px;
      background: #fff;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e7ecf3;
      border-radius: 16px;
      height: 60px;

      &--input {
        margin: 0;
        border-bottom: none;

        input {
          &::placeholder {
            font-weight: 500;
          }
        }
      }

      & .form-container {
        margin-bottom: 0;
        flex-basis: 100%;
        flex-grow: 1;
      }

      & .form-placeholder {
        top: 6px;
        color: rgba($color: $c-secondary, $alpha: 0.7);
        opacity: 1;
      }

      & .form-input {
        color: $c-secondary;
        font-weight: 500;
        font-size: 18px;
        padding-top: 9px;
        padding-bottom: 0;
        height: 42px;

        &:focus + .form-placeholder {
          top: 15px;
        }

        &:valid {
          & + .form-placeholder {
            top: 10px;
          }
        }
      }
    }

    &-sel {
      background: $c-bgcard;
      padding: 0 15px;
      position: relative;
      width: calc(100% - 30px);
      margin: 0 auto;
      border-radius: 10px;
      top: -5px;

      & > section {
        &:first-child {
          padding-top: 20px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: -8px;
            left: 10px;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #e3e7f0;
          }
        }

        &:last-child {
          padding-bottom: 20px;
        }
      }
    }

    &-lng {
      text-transform: uppercase;
      line-height: 40px;
      width: 42px;
      flex-basis: 42px;
      flex-shrink: 0;
      text-align: center;
      cursor: pointer;
      border: 1px solid #e3e8f0;
      border-radius: 255px;
      font-weight: 700;
      color: rgba($color: $c-secondary, $alpha: 0.7);
    }
  }
}

.wordlist__modal {
  .modal {
    max-width: 550px;
  }

  .modal__header {
    border-bottom: none;
    padding-bottom: 0;
  }
}
