@import '../variables';

.wordy {
  &-tab-slider__wrp {
    .sub-tab__item {
      @include bp(tablet) {
        margin: 0 0;
      }

      &:before {
        @include bp(tablet) {
          top: 4px;
        }
      }

      &:after {
        @include bp(tablet) {
          bottom: 4px;
        }
      }
    }
  }

  &-guide-btn-only-mobile {
    display: none;

    @include bp(tablet) {
      display: flex !important;
      order: 2;
    }
  }

  &__cnt {
    padding-left: 70px;
    padding-right: 70px;

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }

    .tab-pane__item {
      @include bp(tablet) {
        background-color: transparent;
      }
    }
  }

  .subpage-tab {
    @media (max-width: 1400px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1360px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include bp(tablet-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .subpage-tab-guide-btn {
    @include bp(tablet) {
      display: none;
    }
  }

  &-group {
    background: #fff;
    border-radius: 13px;
    padding: 25px;
    padding-top: 0;
    margin-bottom: 50px;

    &-collocationIntro {
      position: absolute !important;
      top: 45% !important;
      transform: translate(-50%, -50%) !important;

      @include bp(tablet-l) {
        position: absolute !important;
        transform: translate(-50%, -60%) !important;
        width: 100% !important;
      }
    }

    @include bp(tablet) {
      padding: 15px;
      padding-top: 0;
    }

    .sub-tab__list {
      border-top: 0;

      @include bp(tablet) {
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
        padding-left: 25vw;
      }
    }

    &-definition {
      .wordy-test__item {
        text-align: center;
      }

      .wordy-test-question {
        display: inline-block;
      }
    }

    &-suffix {
      .suffix {
        margin-bottom: 45px;

        @include bp(mobile) {
          margin-bottom: 15px;
          margin-top: 35px;
        }
      }
    }
  }

  .suffix-bracket__shape {
    opacity: 0 !important;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &-step {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 8);
    padding: 7px;
    user-select: none;

    @include bp(tablet) {
      flex-basis: calc(100% / 3);
    }

    @include bp(mobile) {
      flex-basis: calc(100% / 2);
    }

    a {
      width: 100%;
    }

    .tooltip-btn {
      padding-left: 0;
    }

    &__wrp {
      background: rgba(236, 240, 245, 0.5);
      border-radius: 10px;
      text-align: center;
      padding: 15px;
      color: $c-secondary;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 5px;
        background: white;
        transform: translate(-50%, -50%);
      }

      &.completed {
        background: $c-bgicon;

        .wordy-step__progress {
          color: #7ce777;
          border-color: #7ce777;
        }

        .wordy-step__title,
        .wordy-step__level {
          opacity: 1;
        }
      }

      &.continue {
        background: $c-bgicon;

        .wordy-step__progress {
          color: $c-alt;
          border-color: $c-alt;
        }

        .wordy-step__title,
        .wordy-step__level {
          opacity: 1;
        }

        .current-level {
          opacity: 0.6;
        }
      }
    }

    &__title {
      opacity: 0.6;
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 15px;

      @include bp(tablet) {
        margin-bottom: 0;
      }
    }

    &__progress {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      margin: 11px 0;
      font-size: 29px;
      color: #b4c2cf;
      position: relative;
      z-index: 2;

      .circle-progress__base {
        fill: #fff;
      }
    }

    &__level {
      opacity: 0.6;
      font-weight: unset;
      font-size: 18px;
    }
  }

  &-progress {
    display: flex;
    align-items: center;
    width: 65%;

    @include bp(tablet-m) {
      width: 100%;
      margin-top: 15px;
    }

    .progress {
      background: #d9e1eb;

      @include bp(tablet) {
        height: 14px !important;
      }
    }

    &__title {
      color: $c-secondary;
      font-size: 19px;
      font-weight: 500;
    }

    &__cnt {
      display: block;
      flex: 1;
    }

    .progress {
      flex-shrink: 0;
      height: 18px;
      border-radius: 50px;
      margin-bottom: 10px;

      @include bp(tablet) {
        margin-bottom: 5px;
      }
    }

    &__val {
      color: $c-secondary;
      font-weight: 700;
      font-size: 39px;
      line-height: 1em;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      flex-grow: 1;
      max-width: 83px;
      margin-left: 35px;
      margin-top: -15px;
      justify-content: flex-end;

      @include bp(tablet) {
        margin-left: 0px;
        margin-top: 0;
      }

      &-top {
        display: flex;
        align-items: flex-end;

        @include bp(tablet) {
          font-weight: 100;
          font-size: 22px;
        }
      }

      small {
        font-weight: 700;
        font-size: 65%;
        position: relative;
        top: 3px;
      }

      .txt {
        width: 100%;
        font-size: 15px;
        opacity: 0.7;
        line-height: 1em;

        @include bp(mobile) {
          display: none;
        }
      }
    }

    &-ctr {
      display: flex;
      align-items: center;
      padding-left: 10px;

      @include bp(desktop) {
        justify-content: space-between;
      }

      @include bp(tablet-m) {
        justify-content: flex-start;
      }

      @include bp(mobile) {
        display: none;
      }

      &__item {
        display: flex;
        align-items: center;
        margin-right: 35px;

        @include bp(desktop) {
          margin-right: 15px;
        }

        @include bp(tablet-m) {
          margin-right: 35px;
        }

        @include bp(tablet) {
          margin-right: 15px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &__dot {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        font-size: 11px;
        margin-right: 15px;

        @include bp(desktop) {
          margin-right: 5px;
          font-size: 10px;
        }
      }

      &__title {
        color: $c-secondary;
        opacity: 0.85;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  &-status {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9e1ec;
    margin-bottom: 25px;
    justify-content: space-between;

    &__progress {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
    }

    @include bp(tablet) {
      padding-bottom: 15px;
    }

    @include bp(tablet-m) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__badge {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: flex-start;
      color: $c-secondary;
      min-width: 320px;
    }

    &__icon {
      display: inline-flex;
      font-size: 55px;
      margin-right: 27px;
    }

    &__txt {
      opacity: 0.6;
      font-weight: 700;
      font-size: 18px;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1em;
    }
  }

  &-badges {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .section-bracket {
      width: 100%;

      &__txt {
        @include bp(mobile) {
          margin-left: 15px;
        }
      }
    }

    &__wrp {
      margin-top: 35px;
      width: 100%;
      margin-bottom: 40px;
      position: relative;

      .swiper-pagination {
        width: 100% !important;
      }

      .swiper-button-prev {
        left: -60px;
        margin-top: -50px;

        @media (max-width: 1530px) {
          left: 0;
        }

        @include bp(tablet) {
          display: none;
        }
      }

      .swiper-button-next {
        right: -60px;
        margin-top: -50px;

        @media (max-width: 1530px) {
          right: 0;
        }

        @include bp(tablet) {
          display: none;
        }
      }

      .user-badge {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px;

        &__top {
          background: #fff;
        }

        &__title {
          font-size: 16px;
          white-space: nowrap;
          padding-bottom: 15px;
        }

        &__icon {
          width: 100%;
          height: 120px;
          margin-bottom: 0;
          margin-top: 0;
          align-items: center;
          justify-content: center;
          font-size: 80px;
        }

        &.colorless {
          .user-badge {
            &__icon {
              margin-bottom: 0;
              position: relative;

              &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #f0f4f9;
                z-index: 1;
                mix-blend-mode: color;
                opacity: 0.85;
              }

              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #f0f4f9;
                z-index: 2;
                mix-blend-mode: hue;
              }
            }

            &__title {
              display: none;
            }
          }
        }

        padding: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-tab {
    .tab-filter {
      border-bottom: 0;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .tab-pane__item {
      padding: 0 30px;
      padding-top: 1px;
    }
  }

  &-group {
    &__wrp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &.wordy-mt--30 {
        @include bp(mobile) {
          margin-top: -25%;
        }
      }

      &__suffix-wrp {
        width: 100%;

        @include bp(tablet) {
          margin-top: -75px;
        }
      }
    }

    &-classic {
      height: 100%;
    }
  }

  &-intro {
    &-card {
      .wordy-result__wrp {
        padding-top: 0;
      }
    }

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        position: static;
        // padding-bottom: 2rem;
      }

      @include bp(mobile) {
        justify-content: flex-start;
      }

      .intro-list {
        @include bp(mobile) {
          margin-top: 0 !important;
        }
      }
    }
  }

  &-detail {
    .tab {
      &:before {
        display: none;
      }

      &__linear-effect {
        display: none;

        @include bp(tablet-s) {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 48px;
          background-image: linear-gradient(
            to left,
            rgba(240, 244, 249, 1),
            rgba($c-bgmain, 0)
          );
          z-index: 1;
        }

        &--left {
          display: none;

          @include bp(tablet-s) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 48px;
            background-image: linear-gradient(
              to left,
              rgba(240, 244, 249, 1),
              rgba($c-bgmain, 0)
            );
            z-index: 1;
            transform: rotate(180deg);
          }
        }
      }
    }

    .words {
      font-family: inherit;
      font-weight: 600;
      color: #a4abc2;

      div {
        font-size: 16px !important;
        margin: -1px !important;
        box-shadow: inset 0 0 0 6px #f0f4f8;
        position: relative;
        overflow: initial !important;
        transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);

        &:after {
          content: '';
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.01);
          position: absolute;
          top: 6px;
          left: 6px;
          border-radius: 100%;
          transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
          &:after {
            box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.0392156862745098);

            @include bp(tablet) {
              box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.01);
            }
          }

          color: #7f88aa;
          transform: scale(1.03);

          @include bp(tablet) {
            color: #a4abc2;
            transform: scale(1);
          }
        }
      }

      div.lg {
        font-size: 20px !important;

        @include bp(tablet) {
          font-size: 18px !important;
        }

        @include bp(phone-s) {
          font-size: 16px !important;
        }
      }

      div.md {
        font-size: 18px !important;

        @include bp(tablet) {
          font-size: 16px !important;
        }
      }

      div.sm {
        font-size: 16px !important;

        @include bp(tablet) {
          font-size: 14px !important;
        }
      }
    }

    .detail-header {
      max-width: 1280px;
      margin: 0 auto;

      @include bp(tablet) {
        position: absolute;
        width: 100%;
      }

      &__inner {
        @include bp(tablet) {
          height: auto;
          min-height: initial;
        }
      }
    }

    .wordy-detail-list {
      @include bp(tablet) {
        margin-top: 40%;
        justify-content: center;
        align-items: center;
      }
    }

    .wordy-test__item {
      @include bp(tablet) {
        margin-top: 0px;
      }
    }

    .detail-header__wrp {
      height: 75px;

      @include bp(tablet-m) {
        margin-bottom: 50px;
      }

      @include bp(tablet) {
        margin-bottom: 80px;
      }
    }

    &__inner {
      margin: 0;
      min-height: calc(100vh - 75px);
      display: flex;
      align-items: stretch;
      justify-content: center;
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      @include bp(tablet-l) {
        min-height: calc(100vh - 80px);
      }

      @include bp(tablet-m) {
        min-height: calc(100vh - 130px);
      }

      @include bp(phone) {
        min-height: calc(100vh - 160px);
      }

      .custom-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
      }
    }

    &-list {
      padding-bottom: 85px;
      width: 100%;
      position: relative;

      @include bp(tablet-l) {
        margin-top: 50px;
      }

      @media (max-width: 769px) {
        margin-top: 0;
        padding-bottom: 85px;
      }

      @include bp(tablet) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto !important;
        min-height: auto;
        padding-bottom: 0;
      }

      @include bp(phone) {
        margin-top: -20px;
      }

      &__intro {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        display: block;
        align-items: center;
        justify-content: center;
        padding-bottom: 85px;

        &.intro-card-mt {
          @include bp(tablet) {
            margin-top: 50px;
            height: auto;
          }

          @include bp(mobile) {
            margin-top: 0;
          }
        }

        @include bp(tablet) {
          padding-bottom: 0;
          position: static;
          transform: none;
        }

        @include bp(phone) {
          height: 55vh;
        }

        .wordy-detail__item {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include bp(tablet) {
            height: auto;
            width: 100% !important;
          }

          &.wordy-first-step {
            @include bp(tablet) {
              width: unset !important;
              min-width: 100%;
            }
          }
        }
      }
    }

    &__item {
      position: initial;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      @include bp(tablet) {
        position: static !important;
        transform: none !important;
        width: auto !important;
      }

      .dictate {
        position: initial;
      }

      &.active {
        pointer-events: auto;
      }
    }

    .detail-header__wrp {
      padding: 25px 45px 0;
      justify-content: center;

      @include bp(tablet-m) {
        padding: 20px 35px 0;
        height: 63px;
      }

      @include bp(tablet-m) {
        padding: 15px 15px 0;
        height: 57px;
      }

      .custom-container {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin: 0;
        padding: 0;
        height: 100%;

        .detail-inf {
          padding: 0;
          min-width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }

      .detail-ctr,
      .detail-right {
        margin: 0;
        flex-grow: 0;
        flex-basis: 0;
        position: static;

        @include bp(tablet) {
          flex-basis: 42px;
          min-width: 42px;
        }
      }

      .detail-ctr {
        &__item {
          justify-content: space-between;

          & .button {
            margin: 0;
          }
        }
      }

      .detail-right {
        .detail-close.button {
          min-width: 100px;

          @include bp(tablet-m) {
            font-size: 15px;
          }

          @include bp(tablet) {
            min-width: 42px;
          }
        }
      }
    }

    &__next {
      min-height: 55px;
      min-width: 250px;

      @include bp(tablet-l) {
        min-height: 47px;
      }

      @include bp(tablet) {
        margin-top: 15px;
        width: 100%;
      }
    }
  }

  &-definition {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include bp(mobile) {
      flex-direction: column;
    }

    &__wrp {
      @include bp(mobile) {
        width: 100%;
      }
    }
  }

  .minimal-pair {
    .wordy-test-opts.test-options {
      width: 100%;
      max-width: 720px;
      display: flex;
      align-items: center;
    }

    .test-option {
      width: 100%;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tooltip-no-fixed-mobile {
  @include bp(tablet) {
    position: absolute !important;
    top: 30px !important;
    width: auto;
    left: 66% !important;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.wordy-voice {
  padding: 8px;
  width: 77px;
  height: 77px;
  min-height: initial;
  background: rgba(54, 172, 247, 0.25);
  border-radius: 50%;
  color: #fff;
  font-size: 23px;
  align-items: stretch;
  flex-shrink: 0;

  @include bp(tablet-m) {
    width: 67px;
    height: 67px;
  }

  .button__wrp {
    width: 61px;
    height: 61px;
    background: #36acf7;
    display: flex;
    border-radius: 50%;

    @include bp(tablet-m) {
      width: 51px;
      height: 51px;
    }
  }

  .button__icon {
    font-size: inherit;
    transition-delay: 0s !important;

    @include bp(tablet) {
      font-size: 20px;
    }
  }
}

.wordy-result__wrp .wordy-result__middle {
  min-width: 600px;

  @include bp(tablet) {
    min-width: 100%;
  }

  @include bp(mobile) {
    position: static;
  }
}

.popup-progress {
  @include bp(tablet) {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.wordy-preposition-intro-fw {
  @include bp(tablet) {
    width: 100%;
    max-width: 100%;
    top: 0;
    height: 100%;
  }
}

.collocation-mt_head {
  @include bp(tablet) {
    margin-top: 0px;
  }
}

.wordy-group__wrp__suffix-wrp {
  @include bp(tablet) {
    margin-top: 0 !important;
  }
}

.wordy-group-soundpool {
  @include bp(mobile) {
    margin-top: -50px;
  }
}

.button-keypress {
  &.active {
    background: #fff;
    z-index: 260;

    .tooltip {
      display: none;
    }

    .button__icon {
      color: $c-alt !important;
    }
  }
}

.n-button-for-wordy__success-btn {
  .button__icon {
    font-size: 20px;
    margin-right: 10px;
  }
}

.wordy-report__button {
  .button__icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .button__txt {
    font-size: 14px;
  }

  &.auto-sized {
    .button__icon {
      font-size: 17px;
    }
  }
}
