@import "../variables";

.WordyDetail {
    .detail-ctr {
        &__item {
            @include bp(tablet) {
                justify-content: flex-start;
            }
        }

        .button {
            &:first-child {
                @include bp(tablet) {
                    display: none;
                }
            }
        }
    }
}

.wordy-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include bp(tablet) {
        position: static;
    }

    .wordy-test-opts.test-options {
        width: 100%;
        max-width: initial;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .test-option {
        margin-right: 15px;
        padding-right: 30px;
        min-width: 150px;
        margin-bottom: 0;

        @include bp(tablet) {
            min-width: 100%;
            margin-bottom: 8px;
            margin-right: 0;
            padding-right: 7px;
        }

        &:last-child {
            margin-right: 0;
        }

        .test-option__opt {
            margin-right: 25px !important;

            @include bp(tablet-m) {
                margin-right: 0 !important;
            }

            @include bp(tablet) {
                margin-right: 15px !important;
            }
        }
    }

    &-question {
        display: inline-block;
        background: white;
        padding: 13px 27px;
        border-radius: 30px;
        color: #4a6883;
        font-weight: 600;
        font-size: 19px;
        margin-bottom: 25px;

        @include bp(tablet) {
            font-size: 18px;
            margin-bottom: 40px;
        }

        &__title {
            line-height: 40px;
            text-align: left;

            @include bp(tablet) {
                line-height: 35px;
            }
        }
    }

    &-box {
        display: inline-block;
        background: #f1f5fb;
        border-radius: 20px;
        border: 1px dashed #b6c5d3;
        min-width: 100px;
        height: 41px;
        margin-bottom: 6px;
        margin-right: 7px;
        flex-shrink: 0;
        margin-left: 7px;
        position: relative;
        vertical-align: middle;
        padding: 0px 15px;
        color: #2caafa;
        text-align: center;
        cursor: no-drop;

        &.over {
            background: $c-alt;
        }

        &.success.animated.pulse {
            background: #4eea89;
            color: #fff;
        }

        &.error.animated.pulse {
            background: #df6060;
            color: #fff;
        }


        @include bp(tablet) {
            height: 35px;
        }
    }
}

.collocation {
    .wordy-fill-question {
        padding: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @include bp(tablet) {
            flex-direction: column;
        }
    }

    .wordy-fill-question__title {
        padding: 7px;
        background: #fff;
        border-radius: 25px;
        display: flex;
        align-items: center;
        margin-right: 11px;

        @include bp(tablet) {
            margin-right: 0;
            margin-bottom: 15px;
            padding-left: 12px;
        }

        >* {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .wordy-fill-box {
        margin: 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        font-weight: 700;
        color: #5657aa;
        font-size: 25px;
    }

    &__txt {
        color: $c-text;
        font-weight: 700;
        font-size: 21px;

        @include bp(tablet) {
            font-size: 16px;
        }
    }
}