@import '../variables';

.wordy-perf {

  &-header {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #dde3eb;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: $c-secondary;
      font-weight: 800;
      font-size: 17px;
    }

    &__txt {
      font-size: 16px;
      color: $c-secondary;
      opacity: .7;
    }

    &__right {
      width: 50%;
    }

  }

  &-progress {
    color: $c-secondary;

    &__top {
      display: flex;
      align-items: center;
    }

    .progress {
      width: 100%;
      margin-right: 20px;
    }

    &__percent {
      font-weight: 700;
      font-size: 26px;
    }

    &__txt {
      color: rgba(85, 100, 144, 0.7);
      line-height: 1em;

      strong {
        color: $c-secondary;
        font-size: 21px;
      }

      small {
        font-size: 70%;
      }

    }

  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 32.65%;
      margin-right: 1%;
      margin-bottom: 1%;

      &:nth-child(3n) {
        margin-right: 0;
      }

    }

  }

}