@import "../variables";
//
//.word-desc {
//
//  &__box {
//    display: block;
//    box-shadow: 0px 7px 16px 2px rgba(41, 53, 108, 0.1);
//    background: #fff;
//    border-radius: 6px;
//    overflow: hidden;
//    padding: 0;
//    margin-bottom: 20px;
//  }
//
//  &__top {
//    display: block;
//    padding: 15px;
//    background: #3598e8;
//    color: #fff;
//    text-align: center;
//    font-weight: 700;
//    font-size: 18px;
//    line-height: 1em;
//
//    &.adverb {
//      background: $c-noun;
//    }
//
//    &.noun {
//      background: #8644a1;
//    }
//
//  }
//
//  &-word {
//    padding: 15px 20px;
//    display: flex;
//    align-items: stretch;
//    border-bottom: 1px solid #dde3eb;
//
//    @include bp(mobile) {
//      padding: 0 15px;
//      border-bottom: 1px solid #dde3eb;
//      flex-wrap: wrap;
//    }
//
//    &__left {
//      display: block;
//      width: 100%;
//
//      @include bp(mobile) {
//        padding: 15px 0;
//      }
//
//    }
//
//    &__title {
//      display: block;
//      color: #4545a2;
//      font-size: 25px;
//      font-weight: 700;
//
//      @include bp(mobile) {
//        font-size: 21px;
//      }
//
//    }
//
//    &__txt {
//      display: block;
//      color: $c-text;
//      font-size: 15px;
//    }
//
//    &__right {
//      display: flex;
//      align-items: stretch;
//
//      @include bp(mobile) {
//        display: flex;
//        align-items: stretch;
//        width: 100%;
//        justify-content: space-between;
//        padding: 10px 0;
//        border-top: 1px solid #dde3eb;
//      }
//
//    }
//
//    &__level {
//      margin-top: 9px;
//    }
//
//    &__btn {
//      display: flex;
//      align-items: center;
//      padding-left: 5px;
//      padding-right: 5px;
//    }
//
//    &__print {
//      display: flex;
//      font-size: 30px;
//      color: #7d97ad;
//      opacity: 0.6;
//
//      &:hover {
//        opacity: 1;
//      }
//
//    }
//
//
//  }
//
//  &-section {
//    display: block;
//    padding: 25px 20px;
//    border-bottom: 1px solid #dde3eb;
//    background: #f8fafe;
//
//    @include bp(mobile) {
//      padding: 15px;
//    }
//
//    &__title {
//      display: block;
//      font-weight: 800;
//      color: $c-text;
//      font-size: 16px;
//      //margin-bottom: 15px;
//
//      @include bp(mobile) {
//        margin-bottom: 10px;
//      }
//
//    }
//
//    &__cnt {
//      display: flex;
//    }
//
//    &__icon {
//      display: block;
//      min-width: 50px;
//
//      .icon-font {
//        background: $c-yellow;
//        color: #fff;
//        border-radius: 50%;
//        width: 29px;
//        height: 29px;
//        align-items: center;
//        justify-content: center;
//        font-size: 15px;
//      }
//
//      @include bp(mobile) {
//        min-width: 35px;
//
//        .word-section__icon .icon-font {
//          width: 24px;
//          height: 24px;
//          font-size: 12px;
//        }
//
//      }
//
//    }
//
//    &__desc {
//      display: block;
//
//    }
//
//    &__txt {
//      display: block;
//      margin-bottom: 5px;
//      font-size: 16px;
//
//      &:last-child {
//        margin-bottom: 0;
//      }
//
//      @include bp(mobile) {
//        font-size: 15px;
//      }
//
//    }
//
//
//    &__inf {
//      margin-top: 8px;
//    }
//
//    &__list {
//      display: block;
//
//      a {
//        display: inline;
//        font-size: 16px;
//        color: #3b5e7b;
//        font-weight: 600;
//        border-bottom: 1px solid transparent;
//        opacity: .6;
//        padding-bottom: 3px;
//
//        &:hover {
//          opacity: 1;
//          border-color: currentColor;
//        }
//
//        &:first-child {
//          margin-left: 0;
//        }
//
//
//      }
//
//
//    }
//
//
//  }
//
//  &-factor {
//    display: block;
//
//    &__header {
//      display: block;
//      padding: 10px 15px;
//      border-bottom: 1px solid #dde3eb;
//    }
//
//    &__title {
//      display: block;
//      font-size: 19px;
//      font-weight: 800;
//      color: #9aaab7;
//    }
//
//    &__cnt {
//      display: block;
//      padding: 15px;
//    }
//
//    &__txt {
//      font-size: 16px;
//      margin-bottom: 10px;
//
//      span {
//        margin-right: 5px;
//
//        &:last-child {
//          margin-right: 0;
//        }
//
//      }
//
//    }
//
//    &__eg {
//      font-weight: 600;
//    }
//
//    &__toggle {
//      display: inline-flex;
//      color: #6565a7;
//      align-items: center;
//      line-height: 1em;
//      font-weight: 700;
//      font-size: 16px;
//      margin-top: 15px;
//      transition: none;
//
//      .icon-font {
//        font-size: 9px;
//        margin-right: 10px;
//      }
//
//      .btn-txt {
//        display: block;
//      }
//
//    }
//
//    &__more {
//      display: none;
//    }
//
//  }
//
//
//}