@import "../variables";

.wordy-group-report {
  @include bp(tablet) {
    margin-top: 30%;
  }

  .wordy-result__wrp--progress {
    @include bp(tablet) {
      margin-top: -90px;
    }
  }
}

.wordy-report {
  &-description {
    color: $c-text;
    font-weight: 500;
  }

  .detail-inner {
    margin-top: 10px;
  }

  .reading-tabitems {
    margin-top: 0 !important;
  }

  &.wordy-detail__item {
    display: unset;
    position: initial;
  }

  .show-more-dropdown {
    color: #5554aa;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px !important;

    svg {
      margin-right: 8px;
      font-size: 14px;
    }
  }

  .completeButton {
    @include bp(tablet) {
      margin: 0 !important;
      margin-bottom: 35px !important;
      height: 40px !important;
      width: 100%;
      min-height: 44px;
    }
  }

  &__button {
    margin-top: 10px !important;
    min-height: 40px;
    padding: 8px 30px;
  }


  .reading-words {
    padding: 0;

    &__txt {
      @include bp(tablet) {
        margin-top: 15px;
      }
    }

    &__cnt {
      @include bp(tablet) {
        margin-left: 0;
      }

      .with-arrow-bg {
        @include bp(tablet-m) {
          padding-left: 0;
          margin-top: 10px;
          margin-bottom: 25px;
        }

        svg {
          @include bp(tablet-m) {
            display: none;
          }
        }
      }

      .col-md-12 {
        @include bp(tablet-m) {
          padding-left: 0;
          padding-right: 0;
        }
      }

    }

    .row {
      @include bp(tablet) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .col-md-6 {
      @include bp(tablet-s) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .reading-words__header {
    border: none;
    margin-bottom: 0;
  }

  .tab {
    max-width: 960px;
    margin: 0 auto;

    &-pane {
      transition: all .4s;

      &__item {

        padding: 0 40px 20px 40px;

        @include bp(tablet) {
          padding: 0 20px 0 20px;
        }
      }
    }
  }


  .adherent {
    margin-bottom: 0;
    padding: 0 10px;
    margin-right: -20px;

    .col-md-6 {
      margin-bottom: 10px;
      padding: 0 5px !important;
    }
  }

  .adherent .word-box {
    margin: 0;
    border-bottom: 1px solid #f3f7fa;
  }

  .adherent .word-box:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .adherent .word-box:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .reading-words {
    width: 100%;
    margin-bottom: 0px;

    &__header {
      margin-bottom: 0px;
      margin-top: 20px;

      @include bp(tablet) {
        margin-top: 0px;
      }
    }
  }

  .bordered-title {
    height: 50px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $c-secondary;

    u {
      color: #9aa4be;
      text-decoration: none;
      font-weight: 100;
      font-size: 16px;
    }

    span {
      white-space: nowrap;
      font-size: 18px;
      padding-right: 15px;
      font-weight: 600;

      b {
        color: #daaa44;
        font-weight: 600;
      }
    }

    &:after {
      content: "";
      width: 100%;
      bottom: 50%;
      height: 1px;
      margin-top: -1px;
      background: #d8e0e8;
    }
  }

  .button-position {
    margin-right: 15px;
  }

  .suffix-word__top {
    width: 100%;

    .word__badge {
      position: relative;
      top: -2px;
      padding: 6px 9px 5px;
    }

    .suffix-word__title {
      font-size: 23px;

      @include bp(tablet) {
        font-size: 18px !important;
      }
    }

    .suffix-word__meaning {
      font-size: 16px;
    }
  }

  .n-report {
    .reading-words__cnt.suffix-and-words.n-wordy-report {
      &:last-child {
        .row {
          @include bp(tablet) {
            border-bottom: none;
          }
        }
      }
    }
  }

  .row.list-of-words {
    @include bp(tablet) {
      margin: 0 !important;
    }

    .reading-words {
      .reading-words__cnt.suffix-and-words {
        .row {
          .col-md-6 {
            &:last-child {
              .suffix {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }

  .custom-suffinx {
    .suffix {
      &-meaning {
        @include bp(tablet) {
          margin-top: 3px;
          border-radius: 10px;
          padding-left: 15px;
        }
      }

      &-bracket__circle {
        transform: translate(-50%, -50%) !important;
      }
    }
  }

  .performance-report {
    >.row {
      padding: 20px 0px;
      margin: 0 -30px;
    }

    .progress-shower {
      display: flex;
      align-items: center;
      height: 50px;

      .shower {
        align-items: flex-start;
        display: flex;
        height: 100%;
        font-size: 21px;
        font-weight: 699;
        color: #56638f;
      }

      span {
        align-items: flex-start;
        display: flex;
        height: 100%;
        margin-top: 5px;
        color: #939ab5;

        strong {
          margin-left: 3px;
          font-weight: 600;
          color: #546390;
        }
      }
    }

    .card-of-performance {
      background: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      flex: 0 0 31.8%;
      margin-right: 2.3%;
      margin-bottom: 2.3%;

      @include bp(tablet-m) {
        flex: 0 0 48.8%;
      }

      @include bp(tablet) {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 5%;
      }

      @include bp(tablet) {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 5%;
        padding: 0 30px;
      }

      &:nth-child(3n) {
        margin-right: 0;

        @include bp(tablet-m) {
          margin-right: 2.3%;
        }
      }

      &:nth-child(2n) {
        @include bp(tablet-m) {
          margin-right: 0;
        }
      }

      >strong {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #546390;

        @include bp(tablet) {
          height: 50px;
        }
      }

      >div {
        &:last-child {
          height: auto;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          color: #949cb5;
          border-top: 1px solid #eff4f8;
          width: 100%;
          margin-top: 25px;
          padding-top: 10px;
          padding-bottom: 10px;

          @include bp(tablet) {
            height: auto;
            margin-top: 15px;
          }
        }

        strong {
          color: #54638f;
        }
      }
    }

  }

  .fix-buttons {
    position: absolute;
    right: 50px;
    top: 30%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

    @include bp(desktop) {
      top: 15%;
    }

    button {
      margin-bottom: 15px;
    }

    @include bp(tablet-m) {
      display: none;
    }
  }

  &-ctr-button {
    @include bp(tablet-m) {
      margin-top: 25px !important;
    }

    @include bp(tablet) {
      margin-bottom: -70px;
      position: static !important;
    }
  }
}

.mini-modal {
  max-width: 400px;
}

.with-definitions {
  .word-box {
    background: transparent;
    box-shadow: none;
    width: 100%;
    max-width: 120%;
    flex: 0 0 calc(100% + 20px);
    margin: -9px -13px;

    @include bp(tablet) {
      height: 150px;
      margin: 0 -10px;
    }

    &__voice {
      background: #f5f9fc;
    }

    .word-background {
      flex: 0 0 38%;
      margin-right: 2%;
      display: flex;
      background: white;
      height: 100%;
      padding: 10px;
      border-radius: 6px;

      @include bp(tablet) {
        flex: 0 0 100%;
        margin-right: 0;
        height: 60%;
        border-radius: 6px 6px 0 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
      }
    }
  }

  .word-definition {
    flex: 0 0 60%;
    background: white;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 6px;
    align-items: center;
    display: flex;
    color: $c-text;
    position: relative;
    padding-left: 40px;
    height: 100%;

    @include bp(tablet) {
      flex: 0 0 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 15px;
      height: 50%;
      border-radius: 0 0 6px 6px;
      font-size: 14px;
      font-weight: 100;
    }

    .arrow-circle {
      width: 70px;
      height: 70px;
      position: absolute;
      left: -44px;
      top: 4px;
      border-radius: 100%;
      background: white;
      box-shadow: inset 0 0 0 10px #f6f9fc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #5553a9;
      padding-left: 3px;

      @include bp(tablet) {
        display: none;
      }
    }
  }

  .reading-words__cnt {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    align-items: stretch;
  }
}


.n-report .suffix-meaning {
  align-items: flex-start;
}

.n-report {
  p.mb-3 {
    margin: 0 -16px;
  }

  .word-box {
    background: white;
  }

  .suffix-word {
    padding-left: 15px !important;

    &-w-55 {
      flex: 0 0 55%;
    }
  }
}

.list-of-words {
  .word-box__voice {
    background: #f5f9fc;
  }
}

.n-button-for-wordy-success {
  pointer-events: none;
  background: #eefbf1;
  color: #75dd8c;
}

.tooltip {
  z-index: 9999;
  text-align: center;
}

.row-border {
  .suffix-and-words {
    .col-md-6 {
      margin-bottom: 15px;

      @include bp(tablet) {
        margin-bottom: 20px;
      }
    }

    &.n-wordy-report {
      .row {
        @include bp(tablet) {
          border-bottom: 1px solid #d7e0e8;
        }
      }

      .suffix {
        @include bp(tablet) {
          border-bottom: none;
          margin-top: 20px;
        }
      }

      .with-arrow-bg {
        @include bp(tablet) {
          margin-bottom: 20px;
        }
      }
    }

    .suffix {
      @include bp(tablet) {
        border-bottom: 1px solid #d7e0e8;
      }

      &__top {
        @include bp(tablet) {
          margin-bottom: 15px;
        }
      }

      &__cnt {
        @include bp(tablet) {
          margin-top: 15px;
          margin-bottom: 20px;
        }
      }

      &-word--left {
        margin-bottom: 3px !important;
      }

      &-bracket {
        &__circle {
          @include bp(tablet) {
            width: 50px;
            height: 50px;
            transform: translate(-50%, -60%);
            background: #e9ebf3;
          }
        }

        &__shape {
          @include bp(tablet) {
            display: none;
          }
        }
      }
    }
  }

}

.n-report {
  .row {
    .with-arrow-bg {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}