.wordy-nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 1.125rem;

    @include bp(tablet-m) {
      height: 1rem;
    }

    @include bp(tablet) {
      height: 0.75rem;
    }

    &__item {
        position: relative;

        @include bp(tablet) {
            position: static;
            display: inline-grid;
            align-items: flex-end;
            margin-top: -9px;
        }

        .progress {
            border-radius: 0;
        }

        .progress-bar {
            border-radius: 0;
        }

        &:first-child {
            .progress {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }

            .progress-bar {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }
        }

        &.active {
            .progress-bar {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }

            .wordy-nav__circle {
                background: #4dec6f;
            }
        }

        &:last-child {
            .progress {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }

    &__circle {
        background: transparent;
        display: inline-flex;
        line-height: 1em;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: all 0.3s ease-in-out;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);

        @include bp(tablet) {
            position: relative;
            top: 19.5px;
            z-index: 1;
        }
    }

    &-tooltip {
        position: absolute;
        background: #24aafa;
        color: #fff;
        display: inline-flex;
        line-height: 1em;
        padding: 10px 20px 9px;
        top: 100%;
        left: 0;
        margin-top: 0;
        font-size: 17px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
        white-space: nowrap;
        border-radius: 7px;

        @include bp(tablet-m) {
            padding: 8px 20px 7px 20px;
            font-size: 15px;
        }

        @include bp(tablet) {
            position: absolute !important;
            top: 40px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
        }

        @include bp(phone-s) {
            font-size: 14px;
            padding: 6px 15px 5px 15px;
        }

        .seperator {
            background: #59bdf8;
            padding: 6px;
            font-size: 13px;
            position: relative;
            right: -11px;
            border-radius: 4px;
            height: 19px;
            display: inline-block;
            line-height: 9px;

            @include bp(tablet) {
                margin-right: 10px;
            }
        }

        &:after {
            @include triangle(up, #24aafa, 8px);
            left: 50%;
            transform: translateX(-50%) translateY(-100%);
            top: 1px;
            backface-visibility: hidden;
        }
    }
}