@import '../variables';

.intro {
  max-width: 600px;
  text-align: center;
  margin: 25px auto;

  &-list {
    display: flex;
    justify-content: center;
    width: 400px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 40px;

    @include bp(tablet-m) {
      height: 550px;
    }

    @include bp(tablet) {
      margin-bottom: 0;
      min-height: 300px;
      height: 450px;
    }

    @include bp(phone) {
      width: 250px;
      min-height: 380px;
      margin-top: 50px;
      // margin-bottom: 50px;
      height: auto;
      transform: scale(1);
    }

    @include bp(mobile) {
      margin-top: -30%;
      transform: scale(0.8);
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(5deg) translateX(35px) scale(0.95) translateY(-25px);
      transform-origin: 50% 100%;
      z-index: 5;
      transition: all 0.3s ease-in-out;

      @include bp(mobile) {
        transform: rotate(5deg) translateX(25px) scale(0.75) translateY(-125px);
        width: 100%;
        height: 100%;
      }

      &.front {
        transform: none;
        z-index: 5;
        opacity: 1;
      }

      &.back {
        z-index: 1;
        opacity: 0.65;

        .intro-card {
          box-shadow: 0 12px 20px 0 rgba(41, 53, 108, 0.03);
        }
      }
    }
  }

  &-time {
    display: inline-flex;
    background: #fff;
    padding: 5px 7px;
    border-radius: 40px;
    padding-right: 20px;
    align-items: center;
    color: #8e98b3;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;

    &__icon {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      font-size: 19px;
      color: $c-alt;
    }
  }

  &__title {
    color: #7d88a8;
    font-weight: 700;
    font-size: 29px;

    @include bp(tablet) {
      font-size: 20px;
    }
  }

  &__txt {
    font-size: 19px;
    font-weight: 400;
    color: #7d88a8;
    opacity: 0.8;
    max-width: 410px;
    margin: 10px auto;
    text-align: center;

    @include bp(tablet) {
      text-align: center;
    }
  }
}

.navigator {
  position: fixed;
  top: 50%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;

  &-wrp {
    @include bp(tablet) {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include bp(mobile) {
      bottom: 80px;
    }
  }

  @include bp(desktop) {
    width: 70%;
  }

  @include bp(tablet-m) {
    width: 20%;
    top: auto;
    bottom: auto;
  }

  @include bp(tablet) {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 10px;
    transform: none;
  }
}

.navigator button {
  background: white !important;
  border-radius: 100% !important;
  width: 70px;
  height: 70px;
  color: #4545a1 !important;
  box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.2) !important;

  @include bp(tablet-m) {
    width: 60px;
    height: 60px;
  }

  @include bp(tablet) {
    width: 45px;
    height: 45px;
  }

  .button__icon {
    @include bp(tablet-m) {
      font-size: 20px;
    }
  }

  @include bp(tablet) {
    font-size: 16px;
  }
}

.navigator button:hover {
  transform: scale(1.05);
}
