.roll {
    text-align: center;
    padding: 15px;
    margin: 0 25px;
    position: relative;
    min-width: 180px;
    height: 47px;
    border-radius: 20px;

    @include bp(tablet) {
        margin: 0 8px 0 5px;
        padding: 5px;
        min-width: 100px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 255px;
        pointer-events: none;
        z-index: 2;
        background: linear-gradient(180deg, rgb(240, 244, 249) 0%, #fff 53%, rgb(240, 244, 249) 100%);

        @include bp(tablet) {
            height: 255px;
        }

        @include bp(mobile) {
            height: 120px;
            overflow: hidden;
        }
    }

    &__wrp {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        height: 233px;
        transform: translateY(-50%);
        z-index: 3;
        overflow: hidden;

        @include bp(mobile) {
            height: 120px;
        }
    }

    &-list {
        position: absolute;
        width: 100%;
        left: 0;
        height: 47px;
        top: 50%;
        transform: translateY(-50%);

        &__wrp {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 235px;
            padding: 0 15px;
            transition: all .3s ease-in-out;
        }

    }

    &__shapes {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        pointer-events: none;
        height: 47px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            width: 4px;
            border-radius: 20px 0 0 20px;
            background: $c-alt;
            height: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            width: 4px;
            border-radius: 0 20px 20px 0;
            background: $c-alt;
            height: 100%;
        }

    }

    &__item {
        color: #4a6883;
        font-weight: 700;
        font-size: 27px;
        line-height: 1em;
        padding: 10px 5px;
        border-bottom: 1px solid #e5eaee;
        height: 47px;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include bp(tablet) {
            font-size: 18px;
        }

        .btn-txt {
            opacity: .5;
            transform: scale(.5);
            transition: all .3s ease-in-out;
        }


        &:last-child {
            border-bottom: 0;
        }

        &--1,
        &--4 {
            .btn-txt {
                transform: scale(.8);
                opacity: .75;
            }
        }

        &--2,
        &--5 {
            .btn-txt {
                transform: scale(.65);
                opacity: .55;
            }

        }

        &.active {
            color: $c-alt;

            .btn-txt {
                transform: scale(1);
                opacity: 1;
            }
        }

    }

}

.wordy-roll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include bp(tablet) {
        position: static;
    }

    .roll__item {
        cursor: unset;
    }

    &__button {
        position: absolute;
        bottom: 75px;

        @include bp(tablet-l) {
            left: 50%;
            transform: translate(-50%);
            bottom: 15px;
        }

        @include bp(tablet) {
            position: static;
            width: 90%;
            left: 0%;
            transform: none;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp(tablet-l) {
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        @include bp(mobile) {
            justify-content: flex-start !important;
        }

        &-wrp {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include bp(tablet-m) {
                flex-direction: column;
                align-items: center;
            }

            @include bp(mobile) {
                justify-content: flex-start;
            }
        }
    }

    &__top-10 {
        @include bp(tablet) {
            margin-top: -50px;
        }

        @include bp(mobile) {
            margin-top: 20px;
        }
    }

    &__number {
        display: inline-flex;
        flex-shrink: 0;
        width: 47px;
        height: 47px;
        font-size: 26px;
        background: #ffffff;
        color: $c-text;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        line-height: 1em;
        font-weight: 700;
        margin-right: 25px;

        @include bp(tablet-l) {
            bottom: 125px;
            margin-right: 0;
            position: relative;
        }

        @include bp(mobile) {
            bottom: 0;
            margin-bottom: 70px !important;
        }

        &:before {
            @include bp(tablet) {
                content: '';
                position: absolute;
                left: -35vw;
                top: 50%;
                transform: translateY(-50%);
                width: 220px;
                height: 1px;
                background-color: #dce4ea;
            }

            @include bp(tablet) {
                width: 120px;
            }
        }

        &:after {
            @include bp(tablet) {
                content: '';
                position: absolute;
                right: -35vw;
                top: 50%;
                transform: translateY(-50%);
                width: 220px;
                height: 1px;
                background-color: #dce4ea;
            }

            @include bp(tablet) {
                width: 120px;
            }
        }
    }

    &__cnt {
        display: flex;
        align-items: center;
        padding-left: 25px;
        position: relative;

        @include bp(tablet-m) {
            padding-left: 0;
            width: 100%;
            flex-flow: wrap;
            justify-content: center;
            margin-bottom: 75px;
        }

        div {
            &:nth-child(2) {
                @include bp(tablet-m) {
                    width: none !important;
                    order: 1 !important;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 48px;
            transform: translateY(-50%);
            background: #d7e0e8;

            @include bp(tablet-l) {
                display: none;
            }
        }
    }

    .wordy-roll__first {
        @include bp(tablet-m) {
            width: auto;
            order: 2;
            margin-left: 20px;
        }
    }

    .wordy-roll__last {
        @include bp(tablet-m) {
            width: 100%;
            order: 3;
            justify-content: center;
            margin-top: 150px;
        }

        @include bp(mobile) {
            margin-top: 75px;
        }
    }

    &__word {
        color: #4a6883;
        font-weight: 700;
        font-size: 25px;
        line-height: 1em;
        margin-right: 5px;

        @include bp(tablet) {
            font-size: 22px;
            margin-right: 0;
        }
    }

    &__title {
        position: relative;
        margin-left: 15px;
        min-width: 250px;
        min-height: 37px;

        @include bp(tablet-m) {
            min-width: fit-content;
            display: flex;
            align-items: center;
            margin-left: 0px;
            margin-top: 2px;
        }
    }

    &__txt {
        color: $c-text;
        font-weight: 700;
        font-size: 25px;
        transition: all 0.25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;

        @include bp(tablet-m) {
            transform: none;
            position: static;
            font-size: 20px;
            font-weight: 600;
            background: #e2e7ef;
            width: min-content;
            padding: 8px 25px;
            border-radius: 25px;
        }

        @include bp(tablet) {
            font-size: 16px;
        }
    }
}