@import '../variables';

.word-book {
  .detail-ctr__item {
    display: flex;
    justify-content: flex-end;
  }

  &-header {
    text-align: left;
    display: flex;
    margin-bottom: 0;
    position: relative;
    padding: 0 8px;

    & > .fw {
      padding-left: 15px;
      margin-right: 9px;
    }

    &__icon {
      color: $c-secondary;
      opacity: 0.5;
      width: 42px;
      height: auto;
      flex-basis: 42px;
      flex-shrink: 0;
      flex-grow: 0;

      &.active {
        color: $c-alt;
        opacity: 1;
      }

      & > .icon {
        width: 42px;
        height: auto;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
    }

    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__txt {
      color: $c-secondary;
      font-size: 16px;
    }

    &__more {
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      border: 1px solid #8da3b6;
      border-radius: 50%;
      opacity: 0;
      position: relative;
      cursor: pointer;
      transition: 0.2s;

      & > .dots {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    &-inf {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 13px;
      border-top: 1px solid #e7ebf0;
      margin-top: 15px;

      &__title {
        color: #8e98b3;
        font-size: 17px;

        strong {
          font-size: 19px;
          font-weight: 700;
        }
      }

      &__right {
        display: flex;

        .hr-vertical {
          flex-shrink: 0;
          align-self: stretch;
          height: auto;
          margin: 0;
          opacity: 0.6;
        }
      }

      &__button.button {
        padding: 15px 20px;
        color: #7d97ad;
        opacity: 0.55;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 18px 36px 10px;

    @include bp(tablet) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    & > section {
      width: 100%;

      .word-book-newlist {
        &__input {
          margin-left: 0;
          height: auto;
          width: 72%;

          @include bp(tablet) {
            width: 100%;
          }

          input {
            font-size: 28px;
            font-weight: 700;
            line-height: 1.2;
            color: #5657ab;
            height: auto;

            @include bp(tablet) {
              font-size: 20px;
            }
          }
        }
      }

      textarea {
        height: 25px;
        padding: 0;
        padding-top: 4px;
        margin-bottom: 10px;
        color: rgba(#556490, 0.6);
        opacity: 1;
        font-size: 18px;
        font-weight: 500;
        width: 72%;

        @include bp(tablet) {
          width: 100%;
        }
      }
    }

    & .hr-horizontal {
      margin-bottom: 0.8em;
    }

    &-tab {
      &-edit-btn {
        &.active {
          color: $c-alt !important;
        }
      }

      &__cnt {
        width: 100%;

        @include bp(tablet-l) {
          width: 50%;
        }

        @include bp(tablet) {
          width: calc(100%);
        }

        .word-book-add {
          max-width: 60%;

          @include bp(tablet) {
            max-width: 100%;
          }
        }

        .form-container {
          input {
            margin-bottom: 0.5rem;
            // border-bottom: 1px solid #e7ebf0;

            &.error {
              border-bottom-color: #df6457;
            }
          }
        }

        .word-book-newlist__footer {
          justify-content: flex-start;
          padding-right: 20px;
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);

          @include bp(tablet) {
            position: static;
            transform: none;
            padding-right: 0;
          }
        }
      }
    }

    &-tbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        color: #5657ab;
      }

      &__txt {
        color: $c-secondary;
        opacity: 0.6;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &-inf {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__title {
        color: $c-secondary;

        & > strong {
          color: #8e98b3;
          font-size: 18px;
          margin-right: 8px;
        }

        & > span {
          opacity: 0.6;
        }
      }

      &__right {
        display: inline-flex;

        .button {
          &:last-child {
            border: none;
            padding-right: 0;

            @include bp(tablet) {
              .button__icon {
                font-size: 26px;
              }
            }
          }
        }
      }

      &__button {
        color: rgba($color: #7d97ad, $alpha: 0.5);
        padding: 0.5em 1.2em;
        border-radius: 0;

        & ~ & {
          border-left: 1px solid rgba($color: #d9e1ec, $alpha: 0.5);
        }

        &:hover {
          color: rgba($color: #7d97ad, $alpha: 1);
        }
      }
    }
  }

  &-status {
    display: inline-flex;
    align-items: center;

    &__icon {
      width: 15px;
      height: 9px;
    }

    &__title {
      margin-left: 5px;
    }
  }

  &-tab {
    margin-top: 0;

    .tab-pane__item {
      padding: 0 25px;
    }

    .tab {
      &__count {
        position: relative;
        top: -1px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    .d-flex {
      align-items: center;
    }

    .tab-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;

      &__custom-txt {
        color: $c-text;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      &.jcc {
        justify-content: center;
        padding-top: 0;

        @include bp(tablet) {
          flex-direction: column;
        }

        .tab-filter__left {
          @include bp(tablet-l) {
            width: calc(50% - 15px);
          }

          @include bp(tablet-m) {
            width: calc(50% - 30px);
          }

          @include bp(tablet) {
            width: 100%;
          }
        }

        .tab-filter__right {
          flex-grow: initial;
          max-width: 272px;
          width: 100%;
          margin-left: 20px;

          @include bp(tablet-l) {
            max-width: unset;
            width: calc(50% + 15px);
            padding-left: 0;
            margin-left: 15px;
          }

          @include bp(tablet) {
            width: 100%;
            margin-left: 0;
          }
        }

        .tab-filter__item {
          @include bp(tablet-m) {
            margin-left: 0;
            margin-bottom: 0;
          }
        }
      }

      .check-radio__group {
        background: $c-primary;
        padding-right: 25px;
        border-radius: 6px;
        padding: 12.5px;

        @include bp(tablet-l) {
          display: flex;
          justify-content: space-around;
        }

        .check-radio__title {
          color: #fff;
        }
      }

      .tab-filter-radio {
        min-width: initial;
        width: auto;
        height: 53px;

        .check-radio__group {
          height: 100%;
        }
      }

      &__right {
        display: flex;
        align-items: center;
      }

      &__item {
        min-width: initial;
        width: 265px;
      }

      &__title {
        margin-left: 0;
      }
    }
  }

  &-tabs {
    &.tab {
      margin-top: 0;

      .tab {
        &__header {
          width: calc(100% + 48px);
          transform: translateX(-24px);
          padding: 0 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #dde3eb;
          // box-shadow: 0 -1px 0 1px #f0f3f8;
        }

        &__item {
          padding: 20px 32px;

          &:after {
            background: $c-alt;
          }

          &:hover .tab__text {
            color: $c-alt;
          }

          &.active .tab__text {
            color: $c-alt;
          }
        }

        &-pane {
          background: transparent;
          min-height: unset;
          border-radius: 0;

          &::before {
            border-radius: 0;
            background: transparent;
            display: none;
          }
        }
      }
    }
  }

  &-ctr {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 16px;
    border-bottom: 1px solid #dde3eb;

    &__item {
      flex-basis: 50%;
      line-height: 1;
      padding-left: 12px;
    }

    &__subtitle,
    &__title {
      color: $c-secondary;
    }

    &__subtitle {
      opacity: 0.7;
    }

    &__title {
      margin-top: 3px;
      font-size: 17px;
      font-weight: 700;
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 100%;

      &.withBorder {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid #dde3eb;
        max-width: 275px;
        width: 100%;

        @include bp(tablet-l) {
          max-width: 100%;
          padding-left: 15px;
        }

        @include bp(tablet) {
          border-left: none;
          padding-left: 0;
          margin-left: 0;
          margin-top: 20px;
        }
      }

      .button {
        margin-right: 15px;
        min-height: 53px;
        min-width: 53px;
        max-width: 273px;
        width: 100%;

        @include bp(tablet-l) {
          max-width: 100%;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__add {
    background: #44449f;
    border-radius: 50px;
    color: #fff;
    min-height: 53px !important;

    .button__icon {
      position: absolute;
      left: 20px;
      font-size: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-list {
    margin-top: 25px;
  }

  &-listitem {
    & + & {
      margin-top: 1rem;
    }
  }

  &__item {
    margin-bottom: 12px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background: #e7ecf3;
    cursor: pointer;
    box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);

    &.slideOpened {
      box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);
    }

    & > * {
      &:last-child {
        border-radius: 0 0 10px 10px;
        overflow: hidden;
      }
    }

    &:hover {
      background: #d9e1ea;

      .word-book-inf {
        background: #fff;
      }
    }

    &.active {
      background: #fff;
      cursor: initial;

      .word-book-header__more {
        opacity: 0.5;
      }

      .word-book-inf {
        background: #fff;
      }
    }
  }

  &-inf {
    background: #fcfdfe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &__voice.button {
      width: 65px;
      height: 65px;
      font-size: 21px;
      color: $c-text;
      flex-shrink: 0;
    }

    &__show-btn {
      background: #4545a2;
      border-radius: 50px !important;
      line-height: 1em !important;
      font-weight: 700 !important;
      height: auto !important;
      min-height: auto !important;
      padding: 10px 20px 9px !important;
      font-size: 16px !important;
      margin: 5px 0;

      &:hover {
        background: darken($color: #4545a2, $amount: 0.25);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__cnt {
      margin-left: 20px;
      width: 100%;
      margin-right: 15px;
    }

    &__word {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    &__title {
      font-weight: 700;
      font-size: 25px;
      margin-right: 10px;
      line-height: 1em;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    margin-right: 10px;
    line-height: 1em;
    color: #717da2;
  }

  &-words {
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: wrap;
    margin-top: -7.5px;

    &__wrp {
      display: flex;
      align-items: center;
      min-height: 24px;

      .more-dots {
        color: $c-text;
        font-size: 22px;
        line-height: 1em;
        position: relative;
        top: -3px;
        left: -6px;
        pointer-events: none;
        user-select: none;

        &:only-child {
          left: 0;
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-right: 21px;
      width: max-content;
      margin-top: 10px;

      .word-rate {
        margin-bottom: 0;
        font-size: 8px;
        margin-right: 10px;

        span {
          width: 4px;
          border-radius: 20px;
          margin-right: 4px;
          font-size: 1em;
        }
      }
    }

    &__txt {
      color: $c-text;
      line-height: 1em;
      position: relative;
      top: 2px;
      font-size: 17px;
      font-weight: 600;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }

  &-status {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 0.75rem;

    &__left {
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid #dde3eb;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &-rate {
    display: flex;
    align-items: center;

    &.playingDone {
      // filter: grayscale(1);
      opacity: 0.6;
      pointer-events: none;
    }

    &__button {
      background: var(--btn-background-secondary);
      border-radius: 50%;
      min-height: initial;
      min-width: initial;
      width: 23px;
      height: 23px;
      padding: 5px;
      font-size: 9px;
      color: $c-gray;

      &:hover {
        background: var(--btn-background-secondary-hover);
      }

      .button__icon {
        font-size: inherit;
      }

      &.down {
        color: $c-verb;
      }

      &.up {
        color: $c-alt;
      }
    }

    &__count {
      font-weight: 700;
      color: $c-gray;
      font-size: 20px;
      margin: 0 10px;
      line-height: 1em;
      min-width: 33px;
      text-align: center;
    }
  }

  &-views {
    position: relative;
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include bp(tablet-m) {
      height: 2.75rem;
      width: 2.75rem;
    }

    @include bp(tablet) {
      height: 2.5rem;
      width: 2.5rem;
    }

    &__icon {
      position: absolute;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #a1b3c3;
      opacity: 0.4;
    }

    &__count {
      color: $c-gray;
      opacity: 0.8;
      font-weight: 700;
      font-size: 1.25rem;

      @include bp(tablet) {
        font-size: 1rem;
      }
    }
  }

  &__cnt {
    background: #fff;
    margin-top: 15px;
  }

  &-word {
    background: #f8fafe;
    border-bottom: 1px solid #dde3eb;
    padding: 20px 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &:first-child {
      .word-book-word__top-right-btn {
        display: flex;
      }
    }

    &:nth-last-child(1) {
      border-bottom: none;
    }

    @include bp(tablet-l) {
      padding: 20px;
    }

    &__left {
      margin-right: 30px;
      text-align: center;
    }

    &__top,
    &__bottom {
      display: flex;
      align-items: center;
    }

    &__top {
      margin-bottom: 15px;
      width: 100%;
      position: relative;

      &-left {
        width: 60px;
        margin-right: 10px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp(tablet-l) {
          justify-content: flex-start;
        }

        .button {
          margin-bottom: 0 !important;

          svg#icon-plus {
            opacity: 0;
          }

          svg#icon-dash {
            opacity: 1;
          }

          &.active {
            svg#icon-plus {
              opacity: 1;
            }

            svg#icon-dash {
              opacity: 0;
            }
          }

          &__icon {
            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      &-right {
        &-btn {
          display: none;

          @include bp(tablet) {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: calc(100% - 15px);
          }
        }
      }
    }

    &__bottom {
      &-left {
        width: 60px;
        margin-right: 10px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;

        .word-rate {
          margin-bottom: 0;
        }
      }
    }

    &__button.button {
      padding: 5px;
      width: 40px;
      height: 40px;
      background: #fff;
      color: #5657ab;
      font-size: 15px;
      box-shadow: 0px 17px 24px 0px rgba(19, 29, 51, 0.1) !important;
      min-height: initial;
      margin-bottom: 20px;

      &.active {
        background: #5657ab;
        color: #fff;
      }

      &.reverseActive {
        background: #5657ab;
        color: #fff;
        flex-shrink: 0;

        &.active {
          background: #fff;
          color: #5657ab;
        }

        .button__icon {
          font-size: 17px;
        }
      }

      &:hover {
        box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.17) !important;
      }

      .button__icon {
        font-size: inherit;
      }
    }

    &__rate {
      margin-right: 20px;

      .word-rate {
        font-size: 11px;
        margin-bottom: 0;

        span {
          width: 5px;
          border-radius: 50px;
          margin-right: 4px;
        }
      }
    }

    &__title {
      font-weight: 700;
      color: #4545a2;
      font-size: 26px;
      line-height: 1em;
    }

    &__subtitle {
      color: $c-text;
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 10px;
    }

    &__txt {
      color: #3b5e7b;
      font-size: 17px;

      &.text-italic {
        color: #7d97ad;
        font-weight: 500;
      }
    }
  }

  &-types {
    padding: 20px 30px;

    &.with-border-top {
      border-top: 1px solid #dde3eb;
    }

    @include bp(tablet-l) {
      padding: 20px;
    }

    &__title {
      color: #44449f;
      font-weight: 800;
      font-size: 18px;
      margin-bottom: 13px;
      display: none;

      @include bp(tablet) {
        font-size: 16px;
        margin-bottom: 7px;
      }
    }

    &:first-child {
      .word-book-types__title {
        display: block;
      }
    }

    &__txt {
      color: #4b6983;
      font-size: 17px;
      margin-bottom: 15px;

      @include bp(tablet) {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }

  &-eg {
    &__title {
      color: #4d5875;
      font-weight: 600;
      font-size: 17px;
      margin-right: 11px;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__txt {
      color: #8fa5b8;
      font-size: 17px;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }
  }

  &-add {
    width: 100%;
    color: $c-primary;
    background: #e7ecf3;
    margin-top: 8px;
    padding: 0 30px;
    height: 3rem;

    &__follow {
      .button {
        &__txt {
          margin-top: 0;
        }

        &__icon {
          font-size: 28px !important;
        }
      }
    }

    & .button {
      &__wrp {
        width: 100%;
      }

      &__txt {
        width: 100%;
      }

      &__icon {
        font-size: 17px;
      }
    }
  }

  &-explore {
    &__sinput {
      padding-left: 42px;
      background: url('/icon-search.png') no-repeat;
      background-position-x: 16px;
      background-position-y: center;
      background-size: 16px auto;
      margin-bottom: 10px;
      border-bottom: 1px solid #dde3eb;
    }

    &__slabel {
      padding-left: 46px;
      margin-top: -2px;
      color: #6a769c;

      // test
    }
  }

  &-newlist {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    margin-top: 12px;

    &__outer {
      padding: 15px 0 0 0;
    }

    &__header {
      display: flex;
      align-items: flex-start;
      position: relative;
      padding-top: 6px;
      padding-bottom: 4px;
      border-bottom: 1px solid #e7ecf3;

      &.error {
        border-bottom-color: #df6457;
      }
    }

    &__icon {
      position: absolute !important;
      left: 0;
      top: 0;
      color: $c-alt;
      width: 50px !important;
      height: 100% !important;

      & > svg {
        top: 40% !important;
        width: 40px;
        height: auto;
      }
    }

    &__input {
      width: 100%;
      margin-left: 60px;
      height: 50px;
      position: relative;

      & > .form-placeholder {
        font-size: 18px;
        line-height: 1;
        color: $c-secondary;
        opacity: 0.7;
        font-weight: 500;
        position: absolute;
        top: 24%;
        pointer-events: none;
        transition: 0.3s;
      }

      & > input {
        border-bottom: none;
        font-size: 20px;
        padding: 0 !important;
        height: 75%;
        font-size: 17px;
        color: #556490;

        &::placeholder {
          color: #556490 !important;
          opacity: 0.4 !important;
          font-size: 17px;
        }

        &:focus ~ .form-placeholder {
          top: 0%;
          font-size: 14px;
        }

        &:valid ~ .form-placeholder {
          top: 0%;
          font-size: 14px;
        }
      }
    }

    &__desc {
      color: #556490;
      font-size: 17px;
      padding-top: 12px;

      &::placeholder {
        color: #556490;
        opacity: 0.4;
        transition: 0.5s;
      }
    }

    &__footer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      & > button {
        margin-top: 0 !important;
      }

      & .toolbar-inf__btn {
        margin-left: 0;
      }

      & .word-book-add {
        box-shadow: none;
        margin-left: 10px;
      }
    }

    &__toggle {
      background: $c-bgicon;
      height: 3rem;
      width: 3rem;
      color: $c-icon;

      .button__icon {
        margin-left: 0;
      }

      &.active {
        color: $c-alt !important;
      }
    }
  }

  &-more {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;

    .dictionary-ghost-word {
      &__item {
        flex-basis: 100%;
      }

      &__cnt {
        position: relative;
      }

      &__badge {
        position: absolute;
        top: 2.5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.empty-wordbook-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn-follow {
  .button__wrp {
    pointer-events: none;
  }

  .button__icon {
    color: #859db2;
    opacity: 0.9;
    pointer-events: none;
  }
}
