@import '../variables';

.word-box {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  // margin-top: 8px;
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  align-items: center;
  position: relative;
  transition: 0.2s;
  padding: 0.75rem 0.5rem;
  box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0);

  @include bp(tablet) {
    padding: 10px;
  }

  &__badge {
    padding: 4px 10px;
    line-height: 1;
    border-radius: 25px;
    color: #fff;
    background: $c-primary;
    font-weight: 700;
  }

  &.dictionary-latest-word {
    background: #fff;
    // box-shadow: 0px 5px 10px 0px rgba($color: #29356c, $alpha: 0.1);
    padding: 15px 10px;
    box-shadow: none;
    cursor: default;

    &.fw {
      width: 100% !important;
      margin-top: 1rem;
    }

    background: #fff;
    // box-shadow: 0px 5px 10px 0px rgba($color: #29356c, $alpha: 0.1);
    box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0);
    padding: 15px 10px;

    .word-box__top {
      margin-bottom: 5px;
    }

    .word-box__title {
      font-size: 20px;
    }

    &:hover {
      background: #fff;
      transform: none;

      @include bp(tablet) {
        background: #f8fafe;
        box-shadow: 0px 3px 12px 0px rgba($color: #29356c, $alpha: 0.1);
      }
    }

    .word-box__voice.button.default {
      color: $c-text;
      font-size: 1.3rem;
    }
  }

  &:hover {
    box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);
    /* transform: translateY(-5px); */

    @include bp(tablet) {
      background: #fff;
      transform: translateY(0);
      box-shadow: none;
    }
  }

  &__voice:focus {
    background: $c-bgicon;
    color: $c-primary;
  }

  &__voice {
    color: #859DB1 !important;
    background: #e7ecf3 !important;

    .button__icon {
      font-size: inherit !important;
      ;
    }
  }

  &-content {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 2;

    & .reading-words__button {
      max-width: 130px;
      min-width: 130px;

      & .button__icon {
        border-radius: 0.4rem;
      }
    }
  }

  &-extra {
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    width: 100%;
    padding: 15px 20px 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 9px 12px -3px rgba($color: #29356c, $alpha: 0.3);
    transform: translateY(-6px);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 5;

    @include bp(tablet) {
      padding: 15px;
    }

    &__def {
      font-size: 18px;
      color: $c-text;
    }

    &__list {
      margin-top: 5px;
    }

    &.visible {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    & .word-box-meaning__item {
      display: inline-flex;
      margin: 8px 15px 8px 5px;
    }
  }

  &__left {
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    // width: 57px;
    // height: 57px;
    flex-shrink: 0;

    @include bp(tablet) {
      width: 45px;
      height: 45px;
    }

    .button {
      position: absolute;
      left: 0;
      top: 0;

      .button__icon {
        @include bp(tablet) {
          margin-left: 0px !important;
          font-size: 18px !important;
        }
      }
    }
  }

  &__cnt {
    max-width: calc(100% - 72px);
    flex-basis: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.dctwordbox {
      cursor: pointer;

      &.disabled {
        cursor: default;
      }
    }
  }

  &__more {
    width: 40px;
    height: 30px;
    transform: rotate(90deg) !important;
    border-radius: 50%;
    color: $c-text;

    &:hover {
      background: rgba(147, 154, 177, 0.2);
    }

    &>.dots {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: scale(0.5) translate(-50%, -50%);
    }

    &>.xmark {
      font-size: 20px;
      position: relative;
      top: 1px;
    }
  }
  
  &-icon {
    position: relative;
    height: 100%;
    width: 100%;

    &__btn {
      position: absolute;
      width: 100%;
      height: 100% !important;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include bp(tablet) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
    line-height: 1em;
    color: $c-word-other;
    display: inline-flex;
    align-items: center;

    & .word__badge {
      margin-left: 0.5rem;
      padding: 6px 8px 4px;
      font-size: 0.8rem;
    }

    @include bp(tablet) {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  &__meaning {
    color: $c-text;
    font-size: 18px;
    font-weight: 500;
    line-height: 1em;
  }

  &__buttons {
    position: relative;
    width: 37px;
    margin-left: auto;
    background: #e2e8f0;
    border-radius: 7px;

    &:hover {
      .word-box__btn {
        opacity: 1;
      }
    }
  }

  &__btn.button {
    width: 37px;
    height: 37px;
    min-height: inherit;
    padding: 5px;
    color: #939ab1;
    border-radius: 0;
    transition: all 0.3s;

    &:hover {
      color: $c-word-other;
    }

    .button__icon {
      margin-top: 0;
      font-size: 17px;
    }
  }

  &__edit {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 12px;
    background: white;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      box-shadow: none;
    }

    .fw {
      max-width: calc(100% - 55px);
    }

    .word-box__btn.button .button__icon {
      margin-top: 0;
      font-size: 14px;
    }

    .edit-input {
      border-bottom: 1px solid #dde3eb;
      padding-left: 10px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &-meaning {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 6px;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &__wrp {
      display: flex;
      align-items: center;
      min-height: 24px;

      .more-dots {
        color: $c-text;
        font-size: 22px;
        line-height: 1em;
        position: relative;
        top: -3px;
        left: -6px;
        pointer-events: none;
        user-select: none;

        &:only-child {
          left: 0;
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-right: 15px;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }

      .word-rate {
        margin-bottom: 0;
        font-size: 5px;
        margin-right: 10px;

        span {
          width: 3px;
          border-radius: 20px;
          margin-right: 2px;
          font-size: 1em;
          background: #c0c3ce;

          &.active {
            background: $c-word-other;
          }
        }
      }
    }

    &__title {
      color: $c-text;
      line-height: 1.2em;
      position: relative;
      white-space: normal;
      text-overflow: ellipsis;
      top: 2px;
      font-size: 16px;
      font-weight: 200;

      @include bp(tablet) {
        font-size: 14px;
      }
    }
  }

  &.expanded {
    z-index: 3;
    background: #fff;
    box-shadow: 0 3px 12px -2px rgba($color: #29356c, $alpha: 0.3);

    & .word-box__voice.default {
      background: $c-bgmain;

      &:hover {
        background: #e7ecf3;
      }
    }
  }

  &-meaningsline {
    display: inline-flex;
  }

  &-morebtn {
    background: $c-bgicon;
    color: $c-primary;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
  }

  &-others {
    margin-top: 1.5rem;

    & .section-bracket__title {
      font-size: 1rem;
    }

    &>.word-box-meaning__item {
      padding: 8px 16px 8px 0;
      display: inline-flex;
    }

  }

  &-modal {

    & .modal {
      max-width: 600px;

      @include bp(mobile) {
        height: unset;
        max-width: calc(100% - 30px);
      }
    }

    .reading-words__button {
      display: none; // kelime ekle butonu aktif hale geldiğinde bu css kaldırılabilir.
    }

    & .modal__content {
      background: #fff;
      border-radius: 1rem;
    }
  }
}

.toolbar-dictionary {
  .word-box.dictionary-latest-word {
    box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.0);

    &:hover {
      transform: translateY(0px) !important;
      box-shadow: 0px 11px 21px 0px rgba(41, 53, 108, 0.11);

      @include bp(tablet) {
        box-shadow: none;
      }
    }
  }
}