.wordy-result {
  //position: absolute;
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  @include bp(tablet) {
    position: static !important;
    height: auto;
  }

  .intro-card {
    &__meaning {
      font-size: 1.125rem;

      @include bp(desktop) {
        font-size: 1rem;
      }

      @include bp(tablet) {
        font-size: 0.875rem;
      }
    }

    &__cnt {
      padding-top: 0;
      border: none;
      align-items: start;
    }
  }

  &--open-button {
    display: none;

    @include bp(tablet) {
      display: block;
      background: #aab1c6;
      width: 90%;
      max-width: 22rem;
      margin-top: 2rem !important;
      margin-left: auto;
      margin-right: auto;
      // position: absolute;
      // bottom: 170px;
      // left: 50%;
      // transform: translateX(-50%);
    }

    .button__txt {
      color: #fff !important;
    }

    &:hover {
      background: #898fa2;
    }
  }

  &__wrp {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-top: 35px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;

    @include bp(tablet-l) {
      padding-top: 0px;
      max-width: 100%;
    }

    @include bp(tablet) {
      height: auto !important;
      min-height: initial !important;
    }

    @include bp(mobile) {
      max-width: 100%;
    }

    &--progress {
      flex-direction: column !important;

      .wordy-result__progress {
        margin-left: 0 !important;
      }
    }
  }

  &__title {
    font-weight: 700;
    color: $c-alt;
    font-size: 25px;
    margin-bottom: 5px;

    &.min-result-title {
      font-size: 18px !important;
      margin-bottom: 0 !important;
    }

    @include bp(desktop) {
      font-size: 1.25rem;
      margin-bottom: 0;
    }

    @include bp(tablet) {
      margin-bottom: 0;
      font-size: 26px;
    }
  }

  .wordy-list__head-txt {
    @include bp(desktop) {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    @include bp(tablet) {
      font-size: 18px;
    }
  }

  &__middle {
    .wordy-result__title {
      color: #7d88a8;
      font-size: 24px;

      @include bp(desktop) {
        font-size: 1.25rem;
      }

      @include bp(tablet) {
        font-size: 18px;
      }
    }

    &__mobile {
      display: none;

      @include bp(tablet) {
        display: block;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #fff;
        border-radius: 0;
        overflow-y: scroll;
      }

      .wordy-list {
        @include bp(tablet) {
          max-height: 100%;
        }
      }
    }

    &--collocation {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }

  &__top-cont {
    @include bp(tablet) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 9;
    }

    &:after {
      @include bp(tablet) {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 1px;
        background: #d7e0e8;
      }
    }

    .wordy-result-ctr__title {
      @include bp(tablet) {
        color: $c-noun;
      }
    }
  }

  &-close {
    @include bp(tablet) {
      z-index: 999;
      padding: 0;
      background: #eff3fb;
      color: #8d8d8d;
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 700;
      position: relative;
    }

    &__icon {
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__progress {
    margin-bottom: 0px;

    @include bp(tablet) {
      margin: 10px 0;
    }

    &.mb-auto100-mobile {
      @include bp(tablet) {
        margin-bottom: 100px;
      }
    }

    .circle-progress {
      width: 80px !important;
      height: 80px !important;
    }

    .circle-progress__base {
      stroke: #ffffff;
    }

    .circle-progress__title {
      font-size: 22px;

      small {
        top: 1px;
        font-size: 77%;
        line-height: 1em;
      }
    }
  }

  &__txt {
    font-size: 18px;
    color: #7d88a8;
    margin-top: 10px;
    opacity: 0.85;
    font-weight: 500;

    @include bp(desktop) {
      font-size: 1rem;
      margin-top: 0.25rem;
    }

    @include bp(tablet) {
      font-size: 15px;
      margin-top: 0;
    }
  }

  &__bottom {
    padding-bottom: 50px;

    @include bp(tablet-l) {
      padding-bottom: 25px;
    }

    @include bp(tablet) {
      margin-bottom: 50px;
      position: static !important;
      width: 100%;
    }

    @include bp(mobile) {
      position: absolute;
      bottom: 0;
      padding-bottom: 0;
      margin-bottom: 50px;
    }
  }

  &-ctr {
    &__title {
      color: $c-secondary;
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 5px;

      @include bp(desktop) {
        font-size: 1.25rem;
        margin-bottom: 0;
      }

      @include bp(tablet) {
        font-size: 20px;
        margin-bottom: 0;
      }
    }

    &__button {
      min-height: 55px;
      min-width: 250px;

      @include bp(desktop) {
        min-height: 3rem;
        font-size: 1rem;
      }

      @include bp(tablet-l) {
        margin-bottom: 25px;
      }

      @include bp(tablet) {
        min-height: 47px;
        // position: absolute;
        // bottom: 80px;
        // left: 5%;
        width: 90%;
        max-width: 22rem;
      }
    }

    &__txt {
      color: #98a1ba;
      font-weight: 700;
      font-size: 14px;

      @include bp(tablet) {
        font-size: 14px;
      }
    }
  }
}
