@import '../variables';

.plan {
  margin-top: 50px;
  padding: 0 15px;

  @include bp(tablet) {
    padding: 0 15px;
    margin-top: 20px;
  }

  .section-bracket {
    @include bp(tablet-m) {
      flex-flow: wrap;
    }

    &__title {
      @include bp(tablet-m) {
        font-size: 20px;
        color: $c-primary;
        order: 1;
      }
    }

    &__txt {
      @include bp(tablet-m) {
        order: 4;
        margin-left: 0;
        font-size: 15px;
      }
    }

    hr.fw {
      @include bp(tablet-m) {
        order: 2;
        width: calc(100% - 164.63px - 200px - 30px);
      }

      @include bp(tablet) {
        width: calc(100% - 164.63px - 40px - 30px);
      }
    }

    .plan-edit-btn {
      @include bp(tablet-m) {
        order: 3;
      }

      @include bp(tablet) {
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        min-height: 40px;
        padding: 0;
      }

      .button__txt {
        @include bp(tablet) {
          display: none;
        }
      }

      .button__icon {
        @include bp(tablet) {
          font-size: 16px;
        }
      }
    }
  }

  &-edit-btn {
    background: $c-bgalt;
    font-size: 18px;

    .button__icon {
      font-size: 19px;
    }

    .button__wrp {
      opacity: 0.85;
    }
  }

  &-list {
    margin-top: 25px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;

    @include bp(tablet-m) {
      flex-direction: column;
    }
  }

  &-app {
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 10px;
    margin-right: 29px;
    flex-shrink: 0;
    padding: 0 21px;
    width: 310px;

    @include bp(desktop) {
      width: 260px;
    }

    @include bp(tablet-m) {
      margin-right: 0;
      width: 100%;
      padding: 10px 15px;
    }

    &__icon {
      display: inline-flex;
      font-size: 36px;
      margin-right: 17px;

      @include bp(tablet-m) {
        font-size: 32px;
      }

      @include bp(tablet) {
        font-size: 26px;
        margin-right: 10px;
      }
    }

    &__title {
      color: #707ca0;
      font-weight: 700;
      font-size: 18px;
      line-height: 1em;

      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__right {
      align-self: stretch;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #e2eaf5;
      padding-left: 20px;
      margin-left: auto;

      .circle-progress {
        @include bp(tablet) {
          width: 45px !important;
          height: 45px !important;
        }

        &__title {
          @include bp(tablet) {
            font-size: 14px;
          }

          small {
            @include bp(tablet) {
              top: 0;
              font-size: 100%;
              left: 1px;
            }
          }
        }
      }
    }

    &-progress {
      width: 65px;
      height: 65px;
      border: 3px solid #25aafa;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: $c-secondary;
    }
  }

  &-alert {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    position: relative;

    @include bp(tablet-m) {
      margin-top: 15px;
    }

    &:before {
      @include triangle(left, #fff, 11px);
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include bp(tablet-m) {
        border: none;
        top: -6px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 15px;
        height: 15px;
        background: #fff;
        margin-left: 0;
      }
    }

    &__group {
      overflow: hidden;
      position: relative;
      display: block;

      &:hover {
        .plan-alert__button {
          background: $c-alt;
          color: #fff !important;
        }
      }
    }

    &__wrp {
      display: flex;
      align-items: center;
      padding: 15px;
      padding-left: 20px;

      @include bp(tablet-m) {
        padding-left: 15px;
      }

      @include bp(tablet) {
        flex-flow: wrap;
        align-items: center;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 37px;
      margin-right: 20px;
      color: #b3b9d0;

      @include bp(tablet) {
        font-size: 35px;
        margin-right: 10px;
      }

      &.info {
        color: #f6cb48;
      }

      &.warning {
        color: $c-in-complete;
      }
    }

    &__txt {
      font-weight: 400;
      color: $c-secondary;
      font-size: 16px;

      @include bp(tablet) {
        width: calc(100% - 35px - 15px);
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
      }
    }

    &__button.button {
      width: 150px;
      margin-left: auto;
      min-height: 51px;
      color: #707ca0;
      font-size: 15px;

      @include bp(tablet) {
        width: 100%;
        margin-top: 20px;
      }
    }

    &-dots {
      position: absolute;
      bottom: 4px;
      left: 20px;

      &.info {
        color: #f6cb48;
      }

      &.warning {
        color: $c-in-complete;
      }
    }

    &__dot {
      width: 9px;
      height: 4px;
      background: $c-secondary;
      display: inline-block;
      margin-right: 5px;
      border-radius: 50px;
      opacity: 0.4;
      cursor: pointer;
      transition: all 0.3s;

      &.active {
        background: currentColor;
        opacity: 1;
        width: 18px;
      }
    }

    &-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.active {
        position: relative;
      }

      .plan-alert__icon {
        position: relative;
        top: -3px;
      }
    }
  }

  &-apps {
    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e2e7ec;
      padding: 15px 25px;

      @include bp(tablet) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &__left {
      display: flex;
      align-items: center;
      width: 170px;
      padding: 15px 0;
      border-right: 1px solid #e2e7ec;
      flex-shrink: 0;

      @include bp(tablet) {
        width: max-content;
        border-right: none;
        padding-top: 0;
      }
    }

    &__icon {
      display: inline-flex;
      font-size: 31px;
      margin-right: 0;
    }

    &__title {
      color: #707ca0;
      font-weight: 700;
      line-height: 1em;
      font-size: 19px;
    }

    &__list {
      margin-left: auto;
      display: flex;

      @include bp(tablet) {
        margin-left: 0;
      }
    }

    &-btn {
      margin-bottom: 0;
      cursor: pointer;
      margin-right: 5px;
      user-select: none;

      &:last-child {
        margin-right: 0;
      }

      &__input {
        display: none;

        &:checked ~ .plan-apps-btn__box {
          background: currentColor;
          color: red;

          .plan-apps-btn__title {
            color: #fff;
          }
        }
      }

      &__box {
        display: inline-flex;
        width: 31px;
        height: 31px;
        background: #eaeff5;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
        box-shadow: none;
        transition: background 0.125s ease-in-out, color 0.1s linear,
          box-shadow 0.1s ease-in-out;

        &:hover {
          box-shadow: inset 0 0 0 1px currentColor;
        }
      }

      &__title {
        color: #838dad;
      }
    }
  }
}
