<template>
  <div class="detail-page word-book">
    <template v-if="loading">
      <ghostWordbookIndex />
    </template>
    <!-- Word List  Detial -->
    <word-book-List v-if="loaded" />
    <!-- Word list Datails -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import WordBookList from '@/components/WordBook/List/WordBookList'
import ghostWordbookIndex from '@/core/Ghost/GhostWordbookIndex'

export default {
  name: 'WordBook',
  components: {
    WordBookList,
    ghostWordbookIndex
  },
  methods: {
    ...mapActions({
      getListData: 'wordbookList/getListData',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      resetState: 'wordbookList/resetState',
      setCurrentTab: 'wordbookList/setCurrentTab'
    })
  },
  computed: {
    ...mapGetters({
      filters: 'wordbookList/filters',
      filter: 'wordbookList/filter',
      list: 'wordbookList/list',
      loaded: 'wordbookList/loaded',
      loading: 'wordbookList/loading',
      currentTab: 'wordbookList/currentTab'
    })
  },
  created() {
    document.title = ` Kelime Defteri | RH+ Platform`
  },
  mounted() {
    // alert(this.$route.params)
    this.resetState()
    // this.setCurrentTab(1)
    let listData = {
      id: this.$route.params.listId,
      pageNo: this.$route.params.page ? this.$route.params.page : 1
    }
    this.getListData(listData)
  },
  watch: {
    '$route.params.listId'() {
      this.clearFromMessage()
      this.resetState()
      let listData = {
        id: this.$route.params.listId,
        pageNo: this.$route.params.page ? this.$route.params.page : 1
      }
      this.getListData(listData)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/components/word-book';
.detail-page.word-book .detail-header >.custom-container {
  padding: 0 1rem;
}
.detail-page.word-book .detail-inf {
  @include bp(tablet-m) {
    max-width: 100% !important;
    width: 100% !important;
  }
  @include bp(tablet) {
    padding: 0;
  }
}
.detail-ctr__item {
  @include bp(tablet-m) {
    left: 5px;
    position: relative;
  }
  @include bp(tablet) {
    // left: 15px;
    justify-content: flex-start !important;
  }
  .button {
    z-index: 5;
    @include bp(tablet-m) {
      background: var(--background-color);
      margin-left: 0.5rem;
    }
  }
}

.detail-right {
  @include bp(tablet-m) {
    z-index: 2;
    right: 44px;
  }
  @include bp(tablet) {
    right: 15px;
  }
  .button {
    @include bp(tablet-m) {
      background: var(--background-color) !important;
      margin-right: 0.75rem;
    }
  }
}
.word-book-heading {
  @include bp(tablet-m) {
    padding: 75px 20px 10px !important;
  }
  &-tbar {
    &__top {
      .button--circle {
        @include bp(tablet) {
          width: 42px !important;
          height: 42px !important;
          min-height: 42px !important;
          position: absolute;
          top: -60px !important;
          right: 55px !important;
        }
      }
    }
    &__title {
      @include bp(tablet) {
        font-size: 20px !important;
      }
    }
  }
}
.word-book-tab {
  .word-book__item {
    box-shadow: none;
    &.playing {
      box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);
    }
  }
  .tab__header {
    @include bp(tablet) {
      justify-content: flex-start;
    }
  }
  .tab__item {
    @include bp(tablet) {
      flex-direction: row;
      flex-flow: nowrap;
    }
  }
  .tab-pane__item {
    @include bp(tablet) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
.word-book-rate {
  .button {
    @include bp(tablet-m) {
      min-height: 35px;
      width: 35px;
      padding: 0;
    }
    &__icon {
      @include bp(tablet-m) {
        font-size: 11px !important;
        margin-left: 0;
      }
    }
  }
}
.word-book-list {
  .button__icon {
    @include bp(tablet-m) {
      margin-left: 0;
    }
  }
  .word-book__title {
    @include bp(tablet-m) {
      font-size: 21px !important;
    }
  }
  .word-rate {
    @include bp(tablet-m) {
      span {
        &:nth-child(4) {
          height: 2.6em;
          margin-right: 0;
        }
        &:nth-child(3) {
          height: 2em;
          margin-right: 3px;
        }
        &:nth-child(2) {
          height: 1.35em;
          margin-right: 3px;
        }
        &:nth-child(1) {
          height: 0.9em;
          margin-right: 3px;
        }
      }
    }
    @include bp(tablet) {
      span {
        &:nth-child(4) {
          height: 2.4em;
        }
        &:nth-child(3) {
          height: 1.8em;
        }
        &:nth-child(2) {
          height: 1.25em;
        }
        &:nth-child(1) {
          height: 0.85em;
        }
      }
    }
  }
  .word-book-words__txt {
    @include bp(tablet-m) {
      font-size: 16px;
    }
  }
  .word-book {
    &-inf {
      @include bp(tablet) {
        flex-direction: column;
        position: relative;
      }
      &__left {
        @include bp(tablet) {
          padding: 10px 15px 0px;
        }
      }
    }
    &-status {
      @include bp(tablet) {
        margin-left: 0;
        width: 100%;
        padding: 10px 15px 5px 15px;
        margin-top: 10px;
        border-top: 1px solid #d9e1ec;
      }
      &__left {
        @include bp(tablet) {
          padding: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
    &-views {
      @include bp(tablet) {
        margin-left: auto;
      }
    }
  }
  .word-book-word {
    @include bp(tablet) {
      padding: 15px;
    }
    &__txt {
      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__top {
      @include bp(tablet-m) {
        margin-bottom: 10px;
      }
      &-left {
        @include bp(tablet-m) {
          width: 50px;
        }
      }
    }
    &__bottom {
      &-left {
        @include bp(tablet-m) {
          width: 50px;
        }
      }
    }
    &__rate {
      @include bp(tablet-m) {
        margin-right: 10px;
      }
      @include bp(tablet) {
        span {
          width: 4px !important;
        }
      }
    }
    &__title {
      @include bp(tablet-m) {
        font-size: 22px !important;
      }
      @include bp(tablet) {
        font-size: 18px !important;
      }
    }
  }
}
@include bp(tablet) {
  .wordlist__modal {
    .word-new-sel {
      width: 100%;
    }
    .modal {
      &__icon {
        position: static;
        transform: none;
        margin-right: 15px;
        width: 50px;
        height: 50px;
        font-size: 28px;
      }
      &__header {
        flex-direction: row;
        justify-content: flex-start;
        padding: 15px;
      }
    }
  }
}
</style>
