<template>
  <div class="toolbar-questions__wrp">
    <toolbar-header
      :title="headerInfo.title"
      :icon="headerInfo.icon"
      :text="headerInfo.text"
      :helperText="headerInfo.helper"
      :notifyCount="unreadAnswers"
    />
    <div class="toolbar-questions__content">
      <transition-group name="slide-fade-left">
        <div class="toolbar-page" v-if="!showDetails" :key="1">
          <div v-if="dataLoaded">
            <question-item
              :question="question"
              @onClickDetail="getDetails(question)"
              v-for="question in questions"
              :key="question.id"
            />

            <div class="cluebank-more pt-20 ml-0 mr-0" v-if="!loading && more">
              <v-button
                class="button purple fw icon-xs sm"
                icon-position="right"
                title="DAHA FAZLA YÜKLE"
                loadingActiveText="YÜKLENİYOR"
                :disabled="btnLoading"
                :loadingActive="btnLoading"
                @click.native="loadMore"
              />
            </div>
          </div>
          <div v-else class="cluebank-toolbar-empty">
            <div class="ghost-toolbar-question" v-for="ghost in 3" :key="ghost">
              <div class="ghost-toolbar-question--top">
                <div class="ghost-toolbar-question--dot"></div>
                <div class="ghost-toolbar-question--cnt">
                  <div class="ghost-toolbar-question--cnt-title"></div>
                  <div class="ghost-toolbar-question--cnt-quest"></div>
                </div>
              </div>
              <div class="ghost-toolbar-question--inner">
                <div class="ghost-toolbar-question--txt"></div>
              </div>
              <div class="ghost-toolbar-question--btn"></div>
            </div>
          </div>
          <div
            v-if="
              (questions === null || questions.length === 0) &&
                loaded &&
                !loading
            "
            class="cluebank-toolbar-empty"
          >
            <EmptyContent
              class="empty-content--notfound"
              icon="icon-notfound-quest"
              title="Hiç Sorunuz Yok"
              text="Henüz digibook üzerinden hiç soru sormadın. Digibook üzerinde çalışma yaparken Remzi Hoca'ya soru sorabilirsin."
            />
          </div>
        </div>

        <div class="toolbar-page" v-if="showDetails" :key="2">
          <div class="toolbar-page__header">
            <div class="toolbar-page__title">
              {{ currentQuestion.index }}. Soru
            </div>
            <v-button
              v-if="showDetails"
              class="toolbar__back"
              icon="icon-arrow-long-left"
              icon-position="left"
              title="GERİ DÖN"
              @click.native="back"
            />
          </div>
          <div class="mt-35">
            <question-card :question="currentQuestion" :has-options="true" />
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import ToolbarHeader from './ToolbarHeader'
import QuestionItem from '@/components/QuestionItem'
import QuestionCard from '@/components/QuestionCard'
import EmptyContent from '../EmptyContent'
import { mapGetters } from 'vuex'
export default {
  name: 'ToolbarQuestions',
  components: {
    ToolbarHeader,
    QuestionItem,
    QuestionCard,
    EmptyContent,
  },
  data() {
    return {
      showDetails: false,
      currentQuestion: null,
      page: 1,
      headerInfo: {
        title: 'Sorularım',
        text:
          "Digibook üzerinde Remzi Hoca'ya sorduğunuz soruları takip edebilir, ilgili içeriğe erişebilirsiniz.",
        icon: 'icon-question-answer-o',
        helper:
          "Digibook uygulaması üzerinden Remzi Hoca'ya sorduğunuz soruları ve cevaplanma durumunu takip edebilir, soru sorduğunuz içeriğe erişebilirsiniz. Remzi Hoca sorunuza cevap verdiğinde bildirim olarak görebilirsiniz.",
      },
      questionsOld: [
        {
          id: 0,
          unit: 'Vocabulary Check',
          exercise: 'Collocations',
          content: 'Introduction',
          name: 'Ben',
          question:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
            'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          index: 5,
          answer: {
            user: 'Remzi Hoca',
            text:
              'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
              'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          },
        },
        {
          id: 1,
          unit: 'Vocabulary Check',
          exercise: 'Collocations',
          content: 'Introduction',
          name: 'Ben',
          question:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
            'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          index: 1,
          answer: {
            user: 'Remzi Hoca',
            text:
              'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
              'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          },
        },
        {
          id: 2,
          unit: 'Vocabulary Check',
          exercise: 'Collocations',
          content: 'Introduction',
          name: 'Ben',
          question:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
            'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          index: 4,
          answer: {
            user: 'Remzi Hoca',
            text:
              'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
              'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          },
        },
        {
          id: 3,
          unit: 'Vocabulary Check',
          exercise: 'Collocations',
          content: 'Introduction',
          name: 'Ben',
          question:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
            'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          index: 7,
          answer: {
            user: 'Remzi Hoca',
            text:
              'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
              'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          },
        },
        {
          id: 4,
          unit: 'Vocabulary Check',
          exercise: 'Collocations',
          content: 'Introduction',
          name: 'Ben',
          question:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
            'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          index: 8,
          answer: {
            user: 'Remzi Hoca',
            text:
              'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cumque' +
              'distinctio, excepturi facilis ipsa, nam natus nisi quae sapiente sequi soluta tenetur voluptas voluptatum.',
          },
        },
      ],
    }
  },

  computed: {
    ...mapGetters('questions', [
      'questions',
      'loading',
      'loaded',
      'more',
      'btnLoading',
      'unreadAnswers',
    ]),

    dataLoaded() {
      return !this.loading && this.loaded
    },
  },

  methods: {
    loadMore() {
      this.page++
      this.$store.dispatch('questions/getMoreQuestions', this.page)
    },

    showIt() {
      this.showDetails = true
      this.currentQuestion = this.questionsOld[0]
    },

    getDetails(question) {
      this.currentQuestion = question
      this.showDetails = true
    },
    back() {
      this.currentQuestion = null
      this.showDetails = false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/ghost-animate';
.ghost-toolbar-question {
  width: 100%;
  min-height: 150px;
  border-radius: 8px;
  padding: 15px;
  background: transparentize($color: #fff, $amount: 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  &--top {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &--dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 10px;
    flex-shrink: 0;
  }
  &--cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      width: 70%;
      height: 15px;
      border-radius: 15px;
      background: $ghostBg;
    }
    &-quest {
      width: 25%;
      height: 10px;
      margin-top: 5px;
      border-radius: 10px;
      background: $ghostBg;
    }
  }

  &--inner {
    width: 100%;
    padding: 20px 0;
    margin: 15px 0;
    border-top: 1px solid $ghostBg;
    border-bottom: 1px solid $ghostBg;
  }
  &--txt {
    width: 80px;
    height: 14px;
    border-radius: 14px;
    background: $ghostBg;
  }
  &--btn {
    width: 100%;
    height: 40px;
    background: $ghostBg;
    border-radius: 5px;
  }

  &:after {
    @extend %animateEffect;
  }
}
</style>
