<template>
  <div class="toolbar-filter">
    <div class="toolbar-filter__title">Filtrele:</div>
    <select-box :options="options" />
  </div>
</template>

<script>
import SelectBox from '@/components/SelectBox'
export default {
  name: 'ToolbarFilter',
  components: {
    SelectBox,
  },
  props: {
    options: Array,
  },
}
</script>
