<template>
  <div
    class="toolbar__item"
    :class="[
      { active: opened && this.showToolbar },
      { toolbar__seperator: app === 'dash' },
      { disabled: highlightText.status === false && app === 'dictionary' },
      { dominant: main },
    ]"
    v-tooltip.right="{
      content: tooltipText,
      offset: '5px',
    }"
  >
    <div class="toolbar-main__img" v-if="main">
      <img :src="icon" alt class="icon" />
    </div>
    <div class="icon-font" v-else :class="[{ active: showNotification }]">
      <dynamic-icon
        :class="[{ active: opened && this.showToolbar }]"
        :type="icon"
      ></dynamic-icon>
    </div>
    <div class="btn-txt">{{ name }}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ToolbarItem',
  props: {
    icon: String,
    name: String,
    app: String,
    notification: Boolean,
    opened: Boolean,
    forDigibook: Boolean,
    main: Boolean,
    homeworks: Boolean,
    questions: Boolean,
  },

  data() {
    return {
      homeworksExist: this.homeworks,
      newAnswer: this.questions,
    }
  },

  watch: {
    homeworks(val) {
      this.homeworksExist = val
    },

    questions(val) {
      this.newAnswer = val
    },
  },

  computed: {
    ...mapGetters(['showToolbar', 'highlightText']),

    showDot() {
      if (this.app === 'homeworks') return this.homeworksExist
      if (this.app === 'questions') return this.newAnswer
      return false
    },

    showNotification() {
      return this.notification && this.showDot
    },

    tooltipText() {
      if (this.highlightText.status === false && this.app === 'dictionary') {
        return 'Sözlük bu içerikte kullanılamaz!'
      } else {
        return this.name
      }
    },
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/colors';

/* .toolbar__item {
  & .icon-font::after {
    background: $c-in-complete;
  }
} */
</style>
