<script>
import ToolbarHeader from './ToolbarHeader'
import EmptyContent from '@/components/EmptyContent'
import HomeworkItem from '@/components/HomeworkItem'

import { mapGetters } from 'vuex'
export default {
  name: 'ToolbarHomework',
  components: {
    ToolbarHeader,
    HomeworkItem,
    EmptyContent
  },
  data() {
    return {
      page: 1,
      filter: '',
      headerInfo: {
        title: 'Ödevlerim',
        icon: 'icon-pens-o',
        text: 'Güncel ödevleriniz ve ilerleme durumunu takip edebilirsiniz.',
        helper:
          'Remzi Hoca, derslerde öğrendiklerinizi pekiştirmek için etkileşimli dijital kitap uygulaması Digibook üzerinde çözebileceğiniz ödevler vermektedir. Ödevleriniz ile ilgili güncelleme ve ilerlemeleri takip edebilir, ödev içeriklerine erişebilirsiniz.'
      },
      options: [
        {
          label: 'Tüm İçerikler',
          value: '',
          selected: false
        },
        {
          label: 'Başladıklarım',
          value: 'started',
          selected: false
        },
        {
          label: 'Tamamladıklarım',
          value: 'done',
          selected: false
        }
      ]
    }
  },

  computed: {
    ...mapGetters('homeworks', [
      'loading',
      'loaded',
      'more',
      'homeworks',
      'btnLoading',
      'unfinished'
    ]),

    dataLoading() {
      return this.loading && !this.loaded
    },

    dataLoaded() {
      return !this.loading && this.loaded
    }
  },

  methods: {
    setFinishFilter(item) {
      this.page = 1
      this.$store.dispatch('homeworks/setHomeworkFilter', {
        page: this.page,
        filter: item.value
      })
    },

    loadMore() {
      this.page++
      this.$store.dispatch('homeworks/setMoreHomeworks', {
        page: this.page,
        filter: this.filter
      })
    }
  }
}
</script>

<template>
  <div class="toolbar-homework__wrp">
    <toolbar-header
      :title="headerInfo.title"
      :icon="headerInfo.icon"
      :text="headerInfo.text"
      :helperText="headerInfo.helper"
      :notifyCount="unfinished"
    />

    <div class="toolbar__cnt">
      <div class="toolbar-filter">
        <div class="toolbar-filter__title">Filtrele:</div>
        <select-box :options="options" @onselect="setFinishFilter" />
      </div>
      <div class="toolbar__content">
        <template v-if="loading">
          <div class="cluebank-toolbar-empty" v-for="ghost in 2" :key="ghost">
            <div class="ghost-toolbar-homework">
              <div class="ghost-toolbar-homework--top">
                <div class="ghost-toolbar-homework--icon"></div>
                <div class="ghost-toolbar-homework--title"></div>
                <div class="ghost-toolbar-homework--circle"></div>
              </div>
              <div class="ghost-toolbar-homework--cnt">
                <div class="ghost-toolbar-homework--cnt-cnt">
                  <div class="ghost-toolbar-homework--cnt-title"></div>
                  <div class="ghost-toolbar-homework--cnt-txt"></div>
                </div>
                <div class="ghost-toolbar-homework--icon -mini mr-10"></div>
              </div>
              <div class="ghost-toolbar-homework--date"></div>
            </div>
          </div>
        </template>
        <template v-if="!loading && loaded">
          <homework-item v-for="homework in homeworks" :item="homework" :key="homework.id" />
        </template>
        <div v-if="dataLoaded && (homeworks === null || homeworks.length === 0)">
          <EmptyContent
            class="empty-content--notfound"
            icon="icon-notfound-homework"
            title="Hiç Kayıtlı Adresiniz Yok."
            text="xdxdxd"
          />
        </div>

        <div class="cluebank-more pt-20 homework-more ml-0 mr-0" v-if="!loading && more">
          <v-button
            class="button purple fw icon-xs sm"
            icon-position="right"
            title="DAHA FAZLA YÜKLE"
            loadingActiveText="YÜKLENİYOR"
            :disabled="btnLoading"
            :loadingActive="btnLoading"
            @click.native="loadMore"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/ghost-animate';

.ghost-toolbar-homework {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border-bottom: 1px solid $ghostBg;
  &:last-child {
    margin-bottom: 0;
  }
  &--top {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &--icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $ghostBg;
    flex-shrink: 0;
  }
  &--title {
    width: 70%;
    height: 15px;
    border-radius: 15px;
    background: $ghostBg;
    margin-left: 10px;
  }
  &--circle {
    width: 45px;
    height: 45px;
    border: 3px solid $ghostBg;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: auto;
  }

  &--cnt {
    background: transparentize($color: #fff, $amount: 0.05);
    width: 100%;
    min-height: 50px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    &:after {
      @extend %animateEffect;
    }

    &-cnt {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &-title {
      width: 55%;
      height: 13px;
      border-radius: 13px;
      background: $ghostBg;
    }
    &-txt {
      width: 70%;
      height: 15px;
      border-radius: 15px;
      background: $ghostBg;
      margin-top: 5px;
    }
  }
  &--date {
    width: 50%;
    height: 16px;
    border-radius: 16px;
    background: $ghostBg;
  }
}
</style>
