<template>
  <div class="toolbar-notes__wrp" ref="toolbarWrap" id="toolbarWrap">
    <toolbar-header
      id="toolbarNotesHeader"
      :title="headerInfo.title"
      :icon="headerInfo.icon"
      :text="headerInfo.text"
      :helperText="headerInfo.helper"
    >
      <!-- <transition name="scale-fade" mode="out"> -->
      <v-button
        :class="{ showed: openNoteAdd }"
        @click.native="addNewNote"
        class="purple fw sm icon-cta toolbar-addnote-btn"
        icon="icon-plus"
        icon-position="right"
        title="YENİ NOT EKLE"
        :key="1"
      />
      <!-- </transition> -->
      <transition-group name="scale-fade" mode="out-in">
        <div class="toolbar__row mt-25 p-0" :key="2" v-show="openNoteAdd">
          <div class="toolbar-page__header">
            <div class="toolbar-page__title">{{ noteFormTitle }}</div>
            <v-button
              v-if="openNoteAdd"
              class="toolbar__back"
              icon="icon-arrow-long-left"
              icon-position="left"
              title="GERİ DÖN"
              @click.native="hideForm"
            />
          </div>
          <div class="toolbar-form form">
            <div class="form-container">
              <select-box
                :optionIcons="true"
                ref="noteAddSelect"
                :options="categories"
                @onselect="selectNoteApp"
                :disabledItems="disabledSelectItems"
              />
            </div>

            <div class="form-container">
              <textarea
                class="form-input"
                :class="{
                  'has-error': formSubmitted && (noteBody.length === 0 || noteBody.length < 6)
                }"
                cols="30"
                rows="10"
                :value="noteBody"
                @input="setNoteBody"
                placeholder="Notunuzu yazın..."
              ></textarea>
            </div>
          </div>
          <div v-if="formSubmitted">
            <span v-if="noteBody.length === 0" class="d-flex form-error-line">{{ validationBlank }}</span>
            <span
              v-else-if="noteBody.length < 6"
              class="d-flex form-error-line"
            >{{ validationText }}</span>
          </div>
          <v-button
            @click.native="addNote"
            class="purple fw icon-cta toolbar-page--save-btn"
            icon="icon-plus"
            icon-position="right"
            :disabled="noteBody.length < 10"
            :title="saveButtonText"
          />
        </div>
      </transition-group>
    </toolbar-header>
    <div class="toolbar__cnt">
      <div class="toolbar-filter">
        <div class="toolbar-filter__title">Filtrele:</div>
        <select-box
          ref="categories"
          :optionIcons="true"
          :options="categories"
          @onselect="onSelect"
        />
      </div>
      <div class="notes-list pb-30" v-if="!loading && loaded">
        <note-item
          ref="noteItem"
          v-for="(note, index) in notes"
          :key="`noteItem${note.id}`"
          :note="note"
          @on-edit="editNote"
          @click.native="setNoteIndex(index)"
        />
      </div>

      <div v-else class="cluebank-toolbar-empty">
        <div class="ghost-toolbar-note" v-for="ghost in 3" :key="ghost">
          <div class="ghost-toolbar-note--top">
            <div class="ghost-toolbar-note--icon"></div>
            <div class="ghost-toolbar-note--top-cnt">
              <div class="ghost-toolbar-note--date"></div>
              <div class="ghost-toolbar-note--title"></div>
            </div>
            <div class="ghost-toolbar-note--top-more"></div>
          </div>
          <div class="ghost-toolbar-note--cnt">
            <div class="ghost-toolbar-note--txt"></div>
            <div class="ghost-toolbar-note--txt2"></div>
          </div>
          <div class="ghost-toolbar-note--btn"></div>
        </div>
      </div>
      <div
        v-if="(notes === null || notes.length === 0) && loaded && !loading"
        class="cluebank-toolbar-empty"
      >
        <EmptyContent
          class="empty-content--notfound"
          icon="icon-notfound-notes"
          title="Henüz bir not eklemedin."
          text="Tüm notlarını görmek ve yeni notlar eklemek için <br>
          yukarıdaki 'YENİ NOT EKLE' butonuna tıkla."
        />
      </div>

      <div class="cluebank-more ml-0 mr-0" v-if="!loading && more">
        <v-button
          class="button purple fw icon-xs sm"
          icon-position="right"
          title="DAHA FAZLA YÜKLE"
          @click.native="moreNotes"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ToolbarHeader from './ToolbarHeader'
import NoteItem from '@/components/NoteItem'
import SelectBox from '@/components/SelectBox'
import EmptyContent from '../EmptyContent'
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'ToolbarNotes',
  components: {
    ToolbarHeader,
    NoteItem,
    SelectBox,
    EmptyContent
  },
  data() {
    return {
      openNoteAdd: false,
      selectedNoteId: null,
      noteFormTitle: 'Yeni Not Ekle',
      selectedNoteText: '',
      disabledSelectItems: [0],
      saveButtonText: 'NOTU KAYDET',
      selectedCategory: {},
      validationText: '* Not en az 6 karakter içermeli.',
      validationBlank: '* Not boş bırakılamaz.',
      headerInfo: {
        title: 'Notlarım',
        text:
          'Herhangi bir uygulama üzerinde aldığınız notları görebilir, not aldığınız içeriğe erişebilirsiniz.',
        icon: 'icon-notes-o',
        helper:
          'Notları uygulama bazlı filtreyebilir, herhangi bir uygulama içerisinde çalışma yaparken not alabilirsiniz ve daha sonra notu aldığınız yere erişebilirsiniz.'
      },
      noteBody: '',
      selected: '',
      noteIndex: 0,
      noteApps: [
        {
          app: 'general',
          link: '/'
        },
        {
          app: 'lesson',
          link: '/ders'
        },
        {
          app: 'e_deneme',
          link: '/deneme'
        },
        {
          app: 'resource',
          link: '/dokuman'
        },
        {
          app: 'dictionary',
          link: '/sozluk'
        },
        {
          app: 'wordy',
          link: '/wordy'
        },
        {
          app: 'digibook',
          link: '/digibook'
        },
        {
          app: 'test',
          link: '/test'
        },
        {
          app: 'clue_bank',
          link: '/ipucu-havuzu'
        },
        {
          app: 'reading',
          link: '/okuma'
        }
      ],
      noteAddApp: 'general',
      noteTitle: this.$route.meta.title,
      noteLink: this.$route.path,
      noteAddAppSelected: '',
      noteAddAppSelectedName: 'Genel',
      noteAddAppSelectedApp: '/',
      noteData: {
        app: 'all',
        page: 1
      },
      formSubmitted: false
    }
  },
  watch: {
    $route(to, from) {
      this.setDefaultApp()
      this.findNoteApp()
    }
  },

  computed: {
    ...mapGetters('notes', ['notes', 'categories', 'loading', 'loaded', 'more'])
  },

  methods: {
    ...mapActions('notes', [
      'addNoteItem',
      'loadMoreNotes',
      'editNoteItem',
      'fetchNotesList'
    ]),
    ...mapMutations('notes', ['filterNotesList', 'modifyNoteItem']),

    moreNotes() {
      this.noteData.page++
      this.loadMoreNotes(this.noteData)
    },

    addNewNote() {
      this.selectedNoteId = null
      this.openNoteAdd = true
      this.saveButtonText = 'NOTU KAYDET'
      this.noteBody = ''
      this.setDefaultApp()
      this.findNoteApp()
    },

    setDefaultApp() {
      this.noteAddApp = this.$route.meta.noteName || 'general'
    },

    findNoteApp() {
      this.$refs.noteAddSelect.currentOption = this.categories.findIndex(
        el => el.key === this.noteAddApp
      )
    },

    addNote() {
      this.formSubmitted = true
      this.noteFormTitle = 'Yeni Not Ekle'
      if (this.noteBody.length > 9) {
        if (this.selectedNoteId === null) {
          this.noteAddApp =
            this.noteAddAppSelected.length > 0
              ? this.noteAddAppSelected
              : this.$route.meta.noteName || 'general'
          this.noteTitle =
            this.noteAddAppSelectedName.length > 0
              ? this.noteAddAppSelectedName
              : this.$route.meta.title

          this.noteLink =
            this.noteAddAppSelectedApp.length > 1 ? this.noteAddAppSelectedApp : this.$route.path
          let newNote = {
            title: this.noteTitle,
            app: this.noteAddApp,
            body: this.noteBody,
            url: this.noteLink
          }

          this.validationText = ''
          this.addNoteItem(newNote)
          this.$swal.fire({
            toast: true,
            timer: 5000,
            icon: 'success',
            title: 'Not eklendi.',
            position: 'top-end',
            showConfirmButton: false
          })
          this.openNoteAdd = false
          this.noteAddAppSelected = ''
          this.noteAddAppSelectedName = ''
          this.noteLink = '/'
        } else {
          this.noteAddApp =
            this.noteAddAppSelected.length > 0
              ? this.noteAddAppSelected
              : this.$route.meta.noteName || 'general'
          let noteData = {
            app: this.noteAddApp,
            body: this.noteBody,
            id: this.selectedNoteId
          }

          this.validationText = ''
          this.editNoteItem(noteData)
          this.$swal.fire({
            toast: true,
            timer: 5000,
            icon: 'success',
            title: 'Not düzenlendi.',
            position: 'top-end',
            showConfirmButton: false
          })
          this.openNoteAdd = false
          this.noteAddAppSelected = ''
        }
      }
    },

    selectNoteApp(item) {
      console.log('cat', item)
      this.noteAddAppSelected = item.key
      this.noteAddAppSelectedName = item.name
      this.noteAddAppSelectedApp = this.noteApps.find(el => el.app === item.key).link
    },

    onSelect(category) {
      this.selectedCategory = category
      this.noteData.app = category.key
      this.noteData.page = 1
      this.fetchNotesList(this.noteData)
    },

    inputNoteBody(e) {
      this.noteBody = e.target.value
    },

    setNoteBody(e) {
      this.noteBody = e.target.value
    },

    setNoteIndex(val) {
      this.noteIndex = val
    },

    editNote(id, text, app, e) {
      const header = document.querySelector('#toolbarNotesHeader')
      header.scrollIntoView()
      this.openNoteAdd = true
      this.selectedNoteId = id
      this.noteBody = text
      this.noteFormTitle = 'Notu Düzenle'
      this.saveButtonText = 'NOTU DÜZENLE'
      this.noteAddApp = app
      this.findNoteApp()
    },

    hideForm() {
      this.noteBody = ''
      this.selectedNoteId = null
      this.openNoteAdd = false
      this.formSubmitted = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/components/form';
@import '../../assets/scss/ghost/dictionary-ghost-word';

.toolbar-form {
  margin-bottom: 0 !important;
  textarea {
    &.has-error {
      border-bottom: 1px solid #df6457;
    }
  }
}

.form-error-line {
  color: #df6457;
  font-weight: 600;
  margin-top: 10px;
}
</style>
