<script>
import ToolbarItem from './ToolbarItem'
import ToolbarDictionary from './ToolbarDictionary'
import ToolbarNotes from './ToolbarNotes'
import ToolbarWordList from './ToolbarWordBook'
import ToolbarCluebank from './ToolbarCluebank'
import ToolbarHomework from './ToolbarHomework'
import ToolbarQuestions from './ToolbarQuestions'
import { mapGetters, mapActions } from 'vuex'
import { SHOW_TOOLBAR } from '@/store/actions.type'
import { SHOW_OVERLAY } from '../../store/actions.type'

export default {
  name: 'Toolbar',

  components: {
    ToolbarItem,
    ToolbarNotes,
    ToolbarWordList,
    ToolbarCluebank,
    ToolbarHomework,
    ToolbarDictionary,
    ToolbarQuestions,
  },

  computed: {
    ...mapGetters([
      'showOverlay',
      'showToolbar',
      'showQuestionsToolbar',
      'getDarkMode',
      'homeworksCompleted',
      'newAnswer',
      'highlightText',
    ]),

    ...mapGetters('notes', ['notes']),

    ...mapGetters('questions', ['questions', 'hasUnreads']),

    ...mapGetters('homeworks', ['homeworks']),

    ...mapGetters('cluebank', ['favorites']),

    ...mapGetters('toolbar', ['tools', 'activeTool', 'recentTool']),

    ...mapGetters({
      searchesLoaded: 'dictionary/loaded',
    }),

    transition() {
      return this.recentTool.id > this.activeTool.id
        ? 'slide-fade-up'
        : 'slide-fade-down'
    },

    checkUnreads() {
      let total = this.questions.filter(el => el.is_read === false)
      return total.length > 0
    },

    darkModeClass() {
      return this.getDarkMode ? 'dark-mode' : ''
    },

    applyDarkMode() {
      let path = this.$route.path
      let lastChar = path.substr(-1)
      let pathLength = path.split('/').length
      if (lastChar === '/') pathLength--
      return pathLength > 2 ? this.darkModeClass : ''
    },
  },

  watch: {
    activeTool(el) {
      this.getToolData(el.slug)
    },
  },

  methods: {
    ...mapActions('toolbar', [
      'setActiveTool',
      'setRecentTool',
      'clearActiveTool',
    ]),

    showTool(tool) {
      if (this.highlightText.status === false && tool.slug === 'dictionary') {
        return false
      } else {
        this.setActiveTool(tool.id)
        let timer = setTimeout(() => {
          this.setRecentTool(tool.id)
          clearTimeout(timer)
        }, 0)
        if (!this.showToolbar) this.$store.dispatch(SHOW_TOOLBAR, true)
        if (!this.showOverlay) this.$store.dispatch(SHOW_OVERLAY, true)
      }
    },

    getToolData(tool) {
      switch (tool) {
        case 'notes':
          this.$store.dispatch('notes/getNotesList')
          break

        case 'questions':
          this.$store.dispatch('questions/getQuestionsList')
          break

        case 'homeworks':
          this.$store.dispatch('homeworks/getHomeworksList')
          break

        case 'cluebank':
          this.$store.dispatch('cluebank/getFavorites')
          break

        case 'dictionary':
          this.$store.dispatch('dictionary/getDictionaryData')
          break

        case 'wordlists':
          this.$store.dispatch('wordbookMyList/getMyList')
          this.$store.dispatch('wordbookExploreList/getExploreList')
          break
        default:
          break
      }
    },

    hideToolbar() {
      console.log('hide toolbar')
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch('toolbar/clearActiveTool')
    },
  },
}
</script>

<template>
  <div
    class="toolbar-parent"
    :class="[$route.name, { 'dark-mode': applyDarkMode }]"
    v-if="$route.meta.toolbarVisible"
  >
    <div class="toolbar" :class="[{ active: showToolbar }]">
      <transition-group :name="transition" tag="div" class="toolbar__inner">
        <div
          class="toolbar__pane"
          :class="`toolbar__pane--${tool.slug}`"
          v-for="tool in tools"
          :key="tool.id"
          v-show="activeTool === tool"
        >
          <div class="toolbar__content">
            <component :is="tool.componentName" />
          </div>
        </div>
      </transition-group>

      <div class="toolbar-list">
        <toolbar-item
          v-for="tool in tools"
          :id="`tool-${tool.slug}`"
          :key="tool.id"
          :name="tool.name"
          :app="tool.slug"
          :icon="tool.icon"
          :opened="activeTool.id === tool.id"
          :notification="tool.hasNotification"
          :homeworks="!homeworksCompleted"
          :questions="hasUnreads"
          :main="tool.main"
          @click.native="showTool(tool)"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/components/toolbar';
</style>
