<template>
  <div class="toolbar__content">
    <div class="toolbar-cluebank__wrp" :class="{ active: currentCluebank }">
      <div class="toolbar-header-main">
        <img
          src="@/assets/img/cluebank-bg.jpg"
          alt
          class="toolbar-header__bg"
        />
        <div class="toolbar-header__content">
          <span class="toolbar-header__icon">
            <img src="@/assets/img/app-cluebank-white.svg" alt class="icon" />
          </span>
          <div class="toolbar-header__bottom">
            <div class="toolbar-header__title color-white">İpucu Havuzu</div>
            <div
              class="toolbar-header__help color-white opacity-70"
              @click="toggleActive(!isActive)"
              v-tooltip.left="{
                content: tooltipText,
                classes: 'tooltip-toolbarhelper',
                offset: 3,
                boundariesElement: '.toolbar__content',
              }"
            >
              <span class="icon-font">
                <svg-icon type="icon-help" />
              </span>
            </div>
            <div
              class="toolbar__close-button"
              v-show="this.showToolbar"
              @click="hideToolbar"
            >
              <span class="icon-font">
                <svg-icon type="icon-close" />
              </span>
            </div>
            <div
              class="toolbar__close-button only-tablet-flex ml-10"
              v-if="currentCluebank !== null"
              @click="back"
            >
              <span class="icon-font">
                <svg-icon type="icon-arrow-long-left" />
              </span>
            </div>
          </div>
        </div>
        <transition name="fade" mode="out-in">
          <div v-if="isActive" class="toolbar-app-description">
            İhtiyaç duyduğunuz her zaman kelime yapıları ile ilgili arama
            yapabilir, favori ipuçlarınızı görüntüleyebilirsiniz.
          </div>
        </transition>
        <v-button
          v-if="currentCluebank !== null"
          @click.native="back"
          class="toolbar__back only-desktop-flex"
          icon="icon-arrow-long-left"
          icon-position="left"
          title="GERİ DÖN"
        />
      </div>

      <transition-group
        :name="currentCluebank === null ? 'slide-left' : 'slide-right'"
      >
        <div class="toolbar__content" :key="1" v-if="currentCluebank === null">
          <div class="toolbar__row">
            <div class="toolbar-search">
              <input
                type="text"
                class="toolbar-search__input"
                v-model="searchTerm"
                placeholder="Kalıp ve kelime yapılarında ara..."
                @keyup="filterClues(searchTerm)"
                @blur="showResult = false"
                ref="searchBox"
              />
              <span class="toolbar-search__clear" @click="clearInput">
                <BaseIcon v-if="showClearer" :icon-name="'close'" />
              </span>
              <button
                class="button toolbar-search__button"
                @click="getResults(searchTerm)"
              >
                <svg-icon type="icon-search" />
              </button>

              <transition name="fade-up">
                <div class="subpage-search-result" v-if="showResult">
                  <ul class="subpage-search-result__list">
                    <li
                      class="subpage-search-result__li"
                      v-for="result in searchResults"
                      :key="result.id"
                    >
                      <div
                        class="subpage-search-result__item"
                        @click="clueDetail(result.id)"
                      >
                        <span class="subpage-search-result__txt">{{
                          result.name
                        }}</span>
                        <span class="subpage-search-result__tag">{{
                          result.tag_name
                        }}</span>
                      </div>
                      <div class="subpage-search-result__item" v-if="!result">
                        Sonuç yok
                      </div>
                    </li>
                    <li
                      v-if="searchResults.length === 0"
                      class="subpage-search-result__li"
                    >
                      <div class="subpage-search-result__item">
                        Sonuç bulunamadı!
                      </div>
                    </li>
                  </ul>
                </div>
              </transition>
            </div>
            <!-- <cluebank-search class="toolbar-search" /> -->
            <!-- </form> -->
          </div>
          <div class="toolbar__cnt cluebank-toolbar">
            <div class="title">
              <dynamic-icon type="icon-star" icon-position="left" />
              <span class="toolbar-subtitle mb-0">Favorilerim</span>
            </div>
            <div
              v-show="filterClues.length == 0 && !isEmpty"
              class="cluebank-toolbar-empty"
            >
              <div class="cluebank-toolbar-empty__title">Sonuç bulunamadı!</div>
            </div>
            <div v-show="isEmpty">
              <EmptyContent
                class="empty-content--notfound"
                icon="icon-notfound-clue"
                title="Hiç Favorin Yok"
                text="Henüz favorilerine bir ipucu eklemedin. Tüm ipuçu kartlarını görmek ve sık ihtiyaç
                duyduklarını favorilerine eklemek için uygulamaya git."
              />
            </div>

            <div
              v-for="clue in favorites.data"
              :key="clue.id"
              class="cluebank-toolbar__item mb-20"
              ref="a"
            >
              <v-button
                class="cluebank-fav btn"
                icon="icon-star"
                icon-position="left"
                @click.native="favToggle(clue.id)"
                :class="{ active: clue.favorited }"
                v-tooltip="favStatus"
                @mouseenter.native="checkFav(clue.favorited)"
              />
              <cluebank-item
                :title="clue.name"
                :text="clue.summary"
                :id="clue.id"
                @click.native="clueDetail(clue.id)"
              />
            </div>
          </div>
        </div>

        <div
          class="toolbar__cnt -mt-65"
          :key="2"
          v-if="currentCluebank !== null"
        >
          <div class="toolbar-text toolbar-text__cluebank">
            <div class="toolbar-text__header">
              <div class="toolbar-text__title">{{ currentCluebank.title }}</div>
            </div>
            <div class="toolbar-text__cnt">
              <p v-html="currentCluebank.description" class="cluebank-text"></p>
            </div>
          </div>

          <div class="toolbar-ctr">
            <div class="toolbar-ctr__main">
              <v-button
                class="round button--gray button--icon cluebank-toolbar__fav"
                icon="icon-star"
                icon-position="left"
                v-model="currentCluebank.favorited"
                @click.native="favToggle(currentCluebank.id, 'detail')"
                :title="
                  currentCluebank.favorited
                    ? 'FAVORİLERDEN ÇIKAR'
                    : 'FAVORİLERE EKLE'
                "
                :class="{ active: currentCluebank.favorited }"
              />
            </div>
          </div>
        </div>
      </transition-group>
    </div>
    <div class="cluebank-more" v-if="!currentCluebank">
      <v-button
        class="button purple fw icon-xs sm"
        icon="icon-arrow-right"
        icon-position="right"
        title="TÜM İPUÇLARINI GÖR"
        @click.native="toCluebank"
      />
    </div>
  </div>
</template>

<script>
import { searchClues, getClue } from '../../services/cluebank.service'
import CluebankItem from '@/components/ClueBank/CluebankItem'
import EmptyContent from '../EmptyContent'
import { mapGetters, mapActions } from 'vuex'
import { SHOW_TOOLBAR } from '@/store/actions.type'
import delaySearch from '../../common/delay-search'
import { SHOW_OVERLAY } from '../../store/actions.type'
import BaseIcon from '../Base/BaseIcon.vue'
export default {
  name: 'ToolbarCluebank',
  props: {
    status: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    CluebankItem,
    EmptyContent,
    BaseIcon,
  },
  data() {
    return {
      isLoading: false,
      currentCluebank: null,
      showResult: false,
      searchResults: [],
      cluebankItems: [],
      searchTerm: '',
      clueResults: null,
      filteredClues: [],
      favStatus: '',
      isActive: false,
      searchTimer: null,
    }
  },

  computed: {
    ...mapGetters({
      favorites: 'cluebank/favorites',
    }),

    ...mapGetters(['showToolbar']),
    isEmpty() {
      return !(this.favorites.data && this.favorites.data.length > 0)
    },

    showClearer() {
      return this.searchTerm.length > 0
    },

    tooltipText() {
      return this.isActive ? 'Açıklamayı Gizle' : 'Açıklamayı Göster'
    },
  },

  methods: {
    ...mapActions({
      getFavorites: 'cluebank/getFavorites',
      setFavoriteItem: 'cluebank/setFavoriteItem',
    }),

    clearInput() {
      this.searchTerm = ''
      this.showResult = false
      this.$refs.searchBox.focus()
    },

    toggleActive(status) {
      this.isActive = status
    },

    hideToolbar() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.currentTab = null
    },

    getResults(event) {
      this.showResult = false
      this.$router.push({ name: 'CluebankSearchPage', params: { term: event } })
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.term = ''
    },

    toCluebank() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$router.push({ name: 'CluebankList' })
    },

    clueDetail(id) {
      let self = this
      this.isLoading = true
      getClue(id).then(({ data }) => {
        self.currentCluebank = data
        this.isLoading = false
        const el = document.querySelector('.toolbar__pane--cluebank')
        setTimeout(() => {
          el.scrollTo({
            top: 0,
            left: 0,
          })
        }, 200)
      })
    },

    favToggle(id, from) {
      if (from && from === 'detail') {
        this.currentCluebank.favorited = !this.currentCluebank.favorited
      }
      this.setFavoriteItem(id)
    },

    checkFav(val) {
      this.favStatus = val ? 'Favorilerden Çıkar' : 'Favorilere Ekle'
    },

    searchClues(term) {
      let self = this
      searchClues(term, {
        data: term,
      }).then(data => {
        self.clueResults = data
      })
    },

    back() {
      this.currentCluebank = null
    },

    filterClues(term) {
      this.showResult = true
      if (term.length > 0) {
        delaySearch(() => {
          if (this.showClearer) {
            searchClues(term).then(data => {
              this.showResult = true
              this.searchResults = data.data.clues
            })
          }
        })
        /* clearTimeout(this.searchTimer)
        this.searchTimer = setTimeout(() => {
          searchClues(term).then((data) => {
            this.showResult = true
            this.searchResults = data.data.clues
          })
        }, 1000) */
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/subpage-search';
</style>
