<template>
  <div class="toolbar-wordlist__wrp" id="toolbarwordlist">
    <!-- Tool bar Header  -->
    <!-- <template v-if="!loaded && !loading">loading toolbar for wordlist</template> -->
    <!-- {{ editMode }} - {{ isNewListForm }} -->
    <template>
      <toolbar-header
        title="Kelime Defterim"
        icon="icon-lists-o"
        text="Çalıştığınız içeriklerde yer alan kelimeleri kelime listesi oluşturarak, listelerinize kaydedebilirsiniz."
        :helperText="headerInfo.helper"
        v-if="loaded || loading"
      >
        <!-- Tool bar Header  -->
        <!-- new For/ Edit From  -->
        <div class="toolbar-wordbook__button" id="newListBtn">
          <transition name="scale-fade">
            <v-button
              class="purple fw sm icon-cta"
              icon="icon-plus"
              icon-position="right"
              title="YENİ LİSTE OLUŞTUR"
              @click.native="addNewList"
              v-if="!isNewListForm && !editMode && !exploreWordlist && !showDetails"
            />
          </transition>
          <!-- New/Edit from Message -->
          <!-- <transition name="fade">
            <div class="flash" v-if="listMassegeStatus">{{ listMessageText }}</div>
          </transition>-->
        </div>
        <transition name="scale-fade" v-if="editMode || isNewListForm">
          <!-- New  List Form -->
          <new-list-form
            :editMode="editMode"
            :listDetails="listDetails"
            :isNewListForm="isNewListForm"
            @cancelAddNewList="cancelAddNewList"
            @updatetListDetails="updatetListDetails"
            @updateEditMode="updateEditMode"
            @updateNewListForm="updateNewListForm"
          />
          <!-- End List Form -->
        </transition>
        <!-- new For/ Edit From  -->
      </toolbar-header>
      <transition-group
        class="toolbar-wordbook-content"
        :name="showDetails ? 'slide-right' : 'slide-left'"
        mode="out-in"
        tag="section"
      >
        <div
          class="toolbar__cnt pt-0-i"
          :key="1"
          v-if="!showDetails && !openForm && !exploreWordlist"
        >
          <!-- Mylist Module-->
          <my-word-list
            :userListOptions="userListOptions"
            :listDetails="listDetails"
            @updatetListDetails="updatetListDetails"
            @updateEditMode="updateEditMode"
            @addNewList="addNewList"
            @showListContent="showListContent"
            @showAddNewWordForm="showAddNewWordForm"
          />
          <!-- Mylist Module  -->
        </div>

        <div class="toolbar__cnt toolbar__cnt--wordbook" :key="2" v-if="showDetails && !openForm">
          <!-- Word List  header  -->
          <div v-if="!listDetails.items">
            <GhostToolbarWordbook />
            <GhostDictionaryWordItem v-for="ghost in 6" :key="ghost" />
          </div>
          <!-- Word List  header  -->
          <!-- Word List  header  -->
          <word-list-content-header
            :userListOptions="userListOptions"
            :exploreWordlist="exploreWordlist"
            @updateEditMode="updateEditMode"
            @showAddNewWordForm="showAddNewWordForm"
            @back="back"
            @showListContent="showListContent"
            v-if="listDetails.items"
          />
          <!-- Word List  header  -->
          <!--------- List content  data --->
          <word-list-content v-if="listDetails.items" />
          <!-- word List Content -->
        </div>
        <div class="toolbar__cnt" :key="3" v-if="exploreWordlist && !openForm">
          <!-- ADD NEW WORD TO LIST FROM -->
          <word-list-content-header
            :userListOptions="userListOptions"
            :exploreWordlist="exploreWordlist"
            @updateEditMode="updateEditMode"
            @showAddNewWordForm="showAddNewWordForm"
            @back="back"
            @showListContent="showListContent"
          />
          <!-- Word List  header  -->
          <!--------- ADD NEW WORD TO LIST FROM --->
          <add-word-to-list-form :exploreWordlist="exploreWordlist" />
          <!-- ADD NEW WORD TO LIST FROM -->
        </div>
      </transition-group>
    </template>
    <div v-if="!loaded && loading" class="toolbar__cnt pt-0-i">
      <GhostDictionaryWordItem v-for="ghost in 6" :key="ghost" />
    </div>
  </div>
</template>

<script>
import MyWordList from '@/components/WordBook/ToolBar/MyWordList'
import NewListForm from '@/components/WordBook/ToolBar/NewListForm'
import WordListContent from '@/components/WordBook/ToolBar/WordListContent'
import AddWordToListForm from '@/components/WordBook/ToolBar/AddWordToListForm'
import WordListContentHeader from '@/components/WordBook/ToolBar/WordListContentHeader'
import ToolbarHeader from './ToolbarHeader'
import { mixin as clickaway } from 'vue-clickaway'
import GhostDictionaryWordItem from '@/core/Ghost/GhostDictionaryWordItem'
import GhostToolbarWordbook from '@/core/Ghost/GhostToolbarWordbook'

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ToolbarWordList',
  mixins: [clickaway],
  components: {
    MyWordList,
    NewListForm,
    WordListContent,
    AddWordToListForm,
    WordListContentHeader,
    ToolbarHeader,
    GhostToolbarWordbook,
    GhostDictionaryWordItem
  },
  data() {
    return {
      editMode: false,
      listCreated: false,
      openForm: false,
      showDetails: false,
      exploreWordlist: false,
      isNewListForm: false,
      wordListOpen: false,
      currentListTab: 0,
      wordlistItems: [],
      userListOptions: [
        {
          option: 'edit',
          tooltip: 'Listeyi Düzenle',
          icon: 'edit'
        },
        {
          option: 'add',
          tooltip: 'Kelime Ekle',
          icon: 'plus'
        },
        {
          option: 'delete',
          tooltip: 'Listeyi Sil',
          icon: 'trash'
        }
      ],
      headerInfo: {
        helper:
          'Kelime listeleri oluşturabilir, listeleri düzenleyebilir, çalıştığınız içeriklerde yer alan kelimeleri listelerinize ekleyebilirsiniz. Çalışma alanına giderek kendi oluşturduğunuz listeleri ve diğer kullanıcıların oluşturduğu listeleri Türkçe ve ya İngilizce olarak çalışabilirsiniz.'
      }
    }
  },
  computed: {
    ...mapGetters({
      listDetails: 'wordbookMyList/listDetails',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
      loading: 'wordbookMyList/loading',
      loaded: 'wordbookMyList/loaded'
    })
  },
  /**
   *
   */
  /**
   *
   */
  methods: {
    ...mapActions({
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      restSearchResult: 'wordbookMyList/restSearchResult'
    }),
    /**
     *
     */
    updatetListDetails(list) {
      this.getMyListDetails(list.id)
    },
    /**
     *
     */
    updateNewListForm(isNewListForm) {
      this.isNewListForm = isNewListForm
    },
    /**
     *
     */
    updateEditMode(editMode) {
      console.log(editMode)
      const header = document.querySelector('#newListBtn')
      header.scrollIntoView()
      this.openForm = false
      this.exploreWordlist = false
      this.isNewListForm = false
      this.showDetails = this.showDetails
      this.editMode = editMode
      // header.$scrollTo('#newListBtn')
    },
    /**
     *
     */
    showListContent(id) {
      this.openForm = false
      this.exploreWordlist = false
      this.isNewListForm = false
      this.showDetails = true
    },
    /**
     *
     */
    showAddNewWordForm(id) {
      this.openForm = false
      this.isNewListForm = false
      this.showDetails = false
      this.exploreWordlist = true
    },

    listExplore() {
      this.showDetails = false
      this.openForm = false
      this.exploreWordlist = true
    },

    addNewList() {
      this.clearFromMessage()
      this.isNewListForm = true
    },

    cancelAddNewList() {
      this.isNewListForm = false
      this.editMode = false
    },

    back() {
      this.showDetails = false
      this.openForm = false
      this.exploreWordlist = false
    },
    viewOpenForm() {
      this.isNewListForm = false
      this.showDetails = false
      this.exploreWordlist = false
      this.openForm = true
      /* this.editingFormName = 'word' */
    }
  }
}
</script>
<style lang="scss">
@import '../../assets/scss/components/word-book';
@import '@/assets/scss/components/word';
.vmodal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 260;
  background: $c-bgmain;
  border-radius: 0.5rem;
  padding: 0 1rem 1rem;
  min-width: 360px;
  max-width: 360px;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $c-primary;
    color: #fff;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.3rem solid $c-bgmain;
    border-radius: 3rem;
    margin-top: -2.25rem;

    &__icon {
      font-size: 1.8rem;
    }
  }

  &-title {
    color: $c-primary;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &-text {
    text-align: center;
    margin-top: 1rem;

    &__highlight {
      color: $c-primary;
      font-weight: 600;
    }
  }

  &-footer {
    padding: 1rem 0;

    & .vbtn {
      & + .vbtn {
        margin-left: 1rem;
      }
    }
  }
}
</style>
