<template>
  <div
    class="toolbar-header"
    :class="{ 'toolbar-header--hidden': !showNavbar }"
  >
    <div class="toolbar-header__top">
      <span class="toolbar-header__icon">
        <svg-icon :type="icon" />
      </span>
      <div class="toolbar-header__title">
        {{ title }}
        <span v-if="notifyCount" class="badge-count">{{ notifyCount }}</span>
      </div>
      <div
        class="toolbar-header__help"
        @click="showDescription"
        v-tooltip.left="{
          content: tooltipText,
          classes: 'tooltip-toolbarhelper',
          offset: 1,
          boundariesElement: '.toolbar__content',
        }"
      >
        <span class="icon-font">
          <svg-icon type="icon-help" />
        </span>
      </div>
      <!-- <div
        class="toolbar-header__help--info-mobile"
        :class="[isActive ? '' : 'active']"
      >
        {{ helperText }}
      </div> -->
      <div
        class="toolbar__close-button"
        v-show="this.showToolbar"
        @click="hideToolbar"
      >
        <span class="icon-font">
          <svg-icon type="icon-close" />
        </span>
      </div>
    </div>

    <transition name="fade" mode="out-in">
      <div class="toolbar-header__txt" v-if="helperText && isActive">
        {{ helperText }}
      </div>
    </transition>

    <div class="toolbar-header__cnt">
      <slot />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { SHOW_TOOLBAR } from '@/store/actions.type'
import { SHOW_OVERLAY } from '../../store/actions.type'
export default {
  name: 'ToolbarHeader',
  props: {
    icon: String,
    title: String,
    text: String,
    notifyCount: [String, Number],
    helperText: String,
  },
  data() {
    return {
      currentTab: {},
      showNavbar: true,
      isActive: false,
    }
  },
  computed: {
    ...mapGetters([
      'showOverlay',
      'showToolbar',
      'showQuestionsToolbar',
      'getDarkMode',
      'homeworksCompleted',
      'newAnswer',
    ]),

    tooltipText() {
      return this.isActive ? 'Açıklamayı Gizle' : 'Açıklamayı Göster'
    },
  },
  methods: {
    hideToolbar() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.currentTab = {}
    },
    showDescription() {
      this.isActive = !this.isActive
    },
  },
}
</script>
