<template>
  <div class="toolbar-dictionary__wrp">
    <div class="toolbar-header-main">
      <img
        src="@/assets/img/app-sozluk-bg.jpg"
        alt
        class="toolbar-header__bg"
      />
      <div class="toolbar-header__content">
        <span class="toolbar-header__icon">
          <img src="@/assets/img/app-sozluk-white.svg" alt class="icon" />
        </span>
        <div class="toolbar-header__bottom">
          <div class="toolbar-header__title color-white">Sözlük</div>
          <div
            class="toolbar-header__help color-white"
            @click="toggleActive(!isActive)"
            v-tooltip.left="{
              content: tooltipText,
              classes: 'tooltip-toolbarhelper',
              offset: 1,
              boundariesElement: '.toolbar__content',
            }"
          >
            <span class="icon-font">
              <svg-icon type="icon-help" />
            </span>
          </div>
          <!-- <div
            class="toolbar-header__help--info-mobile clue"
            :class="[isActive ? '' : 'active']"
          >
            Anlamını merak ettiğiniz kelimelere hızlı arama ile erişebilir,
            arama geçmişinizi görüntüleyebilirsiniz.
          </div> -->
          <div
            class="toolbar__close-button"
            v-show="this.showToolbar"
            @click="hideToolbar"
          >
            <span class="icon-font">
              <svg-icon type="icon-close" />
            </span>
          </div>
          <div
            class="toolbar__close-button only-tablet-flex ml-10"
            v-if="detailShow"
            @click="back"
          >
            <span class="icon-font">
              <svg-icon type="icon-arrow-long-left" />
            </span>
          </div>
        </div>
      </div>
      <transition name="fade" mode="out-in">
        <div v-if="isActive" class="toolbar-app-description">
          Anlamını merak ettiğiniz kelimelere hızlı arama ile erişebilir, arama
          geçmişinizi görüntüleyebilirsiniz.
        </div>
      </transition>
      <v-button
        class="toolbar__back only-desktop-flex"
        icon="icon-arrow-long-left"
        icon-position="left"
        title="GERİ DÖN"
        v-if="detailShow"
        @click.native="back"
      />
    </div>

    <div class="toolbar__content">
      <div class="toolbar__row">
        <div class="toolbar-search">
          <input
            type="text"
            class="toolbar-search__input"
            v-model="searchTerm"
            :placeholder="phText"
            @keyup="getWords(searchTerm)"
            @keypress.enter="goResult(searchTerm)"
            @blur="showResult = false"
            ref="searchBox"
          />
          <span class="toolbar-search__clear" @click="clearInput">
            <BaseIcon v-if="showClearer" :icon-name="'close'" />
          </span>
          <button
            class="button toolbar-search__button"
            @click="goResult(searchTerm)"
          >
            <svg-icon type="icon-search" />
          </button>

          <transition name="fade-up">
            <div class="subpage-search-result" v-if="showResult">
              <ul class="subpage-search-result__list">
                <li
                  class="subpage-search-result__li"
                  v-for="(result, index) in searchResults"
                  :key="index"
                >
                  <div
                    class="subpage-search-result__item"
                    @click="goResult(result.value)"
                  >
                    <span class="subpage-search-result__txt">{{
                      result.value
                    }}</span>
                  </div>
                  <div class="subpage-search-result__item" v-if="!result">
                    Sonuç yok
                  </div>
                </li>
                <li
                  v-if="searchResults.length === 0"
                  class="subpage-search-result__li"
                >
                  <div class="subpage-search-result__item">
                    Sonuç Bulunamadı
                  </div>
                </li>
              </ul>
            </div>
          </transition>
        </div>
        <!-- <DictionarySearch class="toolbar-dictionary__search" :in-toolbar="true" /> -->
      </div>
      <transition-group :name="transitionDir" tag="div">
        <div class="toolbar__cnt" v-if="detailShow" :key="1">
          <div v-if="isLoading && !isLoaded" class="loading">
            <div class="dictionary-ghost-detail-left" style="width: 100%;">
              <div class="dictionary-ghost-detail-left__top">
                <div class="dictionary-ghost-detail-left__head">
                  <div class="dictionary-ghost-detail-left__rate"></div>
                  <div class="dictionary-ghost-detail-left__cnt">
                    <div class="dictionary-ghost-detail-left__title"></div>
                    <div class="dictionary-ghost-detail-left__txt-cnt">
                      <div class="dictionary-ghost-detail-left__txt"></div>
                      <div
                        class="dictionary-ghost-detail-left__txt txt--2"
                      ></div>
                    </div>
                  </div>
                  <div class="dictionary-ghost-detail-left__icon"></div>
                </div>
                <div class="dictionary-ghost-detail-left__bottom no-after">
                  <div class="dictionary-ghost-detail-left__bottom--txt"></div>
                  <div
                    class="dictionary-ghost-detail-left__bottom--txt txt--2"
                  ></div>
                </div>
              </div>
              <div class="dictionary-ghost-detail-left__bottom">
                <div class="dictionary-ghost-detail-left__bottom--txt"></div>
                <div
                  class="dictionary-ghost-detail-left__bottom--txt txt--2"
                ></div>
              </div>
              <div class="dictionary-ghost-detail-left__footer">
                <div class="dictionary-ghost-detail-left__footer--title"></div>
                <div class="dictionary-ghost-detail-left__footer--icon"></div>
              </div>
            </div>
          </div>
          <div
            v-if="isLoaded && !highlightText.status"
            class="cluebank-toolbar-empty"
          >
            <div class="cluebank-toolbar-empty__title">Pardon, Pardon</div>
            <div class="cluebank-toolbar-empty__desc">
              Bu içerik tipinde hızlı çeviri özelliğini kullanamazsınız.
            </div>
          </div>
          <template v-if="isLoaded && hasWords && highlightText.status">
            <DictionaryResult
              class="toolbar__cnt--dctresult"
              place="in-toolbar"
              v-for="result in wordList"
              :key="result.id"
              :content="result"
            />
          </template>

          <div
            v-if="!isLoading && isLoaded && !hasWords && highlightText.status"
          >
            <EmptyContent
              class="empty-content--notfound"
              icon="icon-notfound-dictionary"
              title="Aradığınız kelime bulunamadı!"
              text="Yanlış yazmış olabilirsiniz, doğru yazdığınızdan <br> emin olarak tekrar deneyin."
            />
          </div>
          <v-button
            class="button purple fw icon-xs sm dictionary-detail-button"
            icon="icon-arrow-right"
            icon-position="right"
            title="DETAYLARINI GÖR"
            v-if="isLoaded && hasWords && highlightText.status"
            v-show="lastWords.length > 0"
            @click.native="toDictionary(currentWord)"
          />
        </div>
        <div
          class="toolbar__cnt toolbar-last-search"
          v-if="!detailShow"
          :key="2"
        >
          <div class="toolbar-subtitle mt-30 mb-15">Son Aranan Kelimeler</div>
          <template v-if="!loading && loaded">
            <DictionaryWordbox
              class="dictionary-latest-word fw"
              v-for="word in lastSearches"
              :key="word.id"
              :word="word"
              :linked="false"
              :clickable="true"
              @getWord="showDetail"
            />
          </template>
          <template v-if="loading && !loaded">
            <GhostDictionaryWordItem v-for="n in 6" :key="n" />
          </template>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import EmptyContent from '../EmptyContent'
import DictionaryResult from '@/components/Dictionary/DictionaryResult'
import DictionaryWordbox from '@/components/Dictionary/DictionaryWordbox'
import GhostDictionaryWordItem from '@/core/Ghost/GhostDictionaryWordItem'
import { SHOW_OVERLAY, SHOW_TOOLBAR } from '../../store/actions.type'
import {
  getDictionaryHints,
  getDictionaryResult,
} from '../../services/dictionary.service'
import { mapGetters } from 'vuex'
import BaseIcon from '../Base/BaseIcon.vue'
import delaySearch from '../../common/delay-search'

export default {
  name: 'ToolbarDictionary',

  props: {
    results: {
      type: Array,
    },
  },

  components: {
    DictionaryResult,
    DictionaryWordbox,
    GhostDictionaryWordItem,
    EmptyContent,
    BaseIcon,
  },
  data() {
    return {
      detailShow: false,
      showResult: false,
      isLoading: true,
      isLoaded: false,
      searchResults: [],
      lastWords: [],
      wordList: [],
      transitionDir: '',
      currentWord: '',
      searchTerm: '',
      phText: 'Sözlükte arama yapın...',
      isActive: false,
      lastWordsLoaded: false,
      hasMeanings: false,
      searchTimer: null,
    }
  },

  computed: {
    ...mapGetters(['showToolbar', 'highlightText']),

    ...mapGetters('dictionary', [
      'loading',
      'loaded',
      'hasSearches',
      'lastSearches',
    ]),

    hasWords() {
      return this.wordList.length > 0
    },

    showClearer() {
      return this.searchTerm.length > 0
    },

    tooltipText() {
      return this.isActive ? 'Açıklamayı Gizle' : 'Açıklamayı Göster'
    },
  },

  watch: {
    highlightText(val) {
      if (val.text !== undefined && val.text.length > 0) this.goResult(val.text)
    },
  },

  methods: {
    clearInput() {
      this.searchTerm = ''
      this.showResult = false
      this.$refs.searchBox.focus()
    },

    toggleActive(status) {
      this.isActive = status
    },

    back() {
      this.searchTerm = ''
      this.detailShow = false
      this.showResult = false
      this.transitionDir = 'slide-right'
      setTimeout(() => {
        this.isLoaded = false
        this.wordList = []
      }, 200)
    },

    hideToolbar() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.currentTab = null
    },

    getWords(word) {
      let searchWord = word.trim().toLowerCase()
      searchWord = encodeURIComponent(searchWord)
      this.isLoading = true
      delaySearch(() => {
        if (this.showClearer) {
          getDictionaryHints(searchWord, 'en').then(({ data }) => {
            this.searchResults = data
            this.showResult = true
            this.isLoading = false
          })
        }
      })
    },

    searchWord(word) {
      this.showResult = false
      this.transitionDir = 'slide-left'
      this.isLoading = true
    },

    goResult(word) {
      this.showResult = false
      let searchWord = word.trim().toLowerCase()
      searchWord = encodeURIComponent(searchWord)
      this.wordList = []
      this.isLoaded = false
      event.target.blur()
      this.detailShow = true
      this.isLoading = true
      this.transitionDir = 'slide-left'
      this.searchTerm = word
      this.searchTerm = this.searchTerm.trim()
      if (this.highlightText.status) {
        getDictionaryResult(searchWord).then(({ data }) => {
          this.wordList = data.words
          this.isLoading = false
          this.isLoaded = true
        })
      } else {
        this.isLoading = false
        this.isLoaded = true
        this.wordList = []
      }
    },

    showDetail(word) {
      let searchWord = word.trim().toLowerCase()
      searchWord = encodeURIComponent(searchWord)
      this.detailShow = true
      this.isLoading = true
      this.isLoaded = false
      this.transitionDir = 'slide-left'
      this.currentWord = word
      this.searchTerm = word
      getDictionaryResult(searchWord).then(({ data }) => {
        this.hasMeanings = data.words[0].meanings.length > 0
        this.wordList = data.words
        this.isLoading = false
        this.isLoaded = true
        this.showResult = false
      })
    },

    toDictionary(value) {
      this.$router.push({
        name: 'DictionaryResult',
        params: { word: this.searchTerm },
      })
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      document.body.classList.remove('overflow-y-hidden')
      document
        .getElementsByTagName('html')[0]
        .classList.remove('overflow-y-hidden')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
@import '@/assets/scss/components/subpage-search';

.empty-content {
  max-width: 100%;
}

.dct-word {
  box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: all 0.3s;

  &.form {
    padding: 0;
  }

  & .select-header {
    background: #fff;
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
  }

  &.active {
    box-shadow: 0px 24px 62px 0px rgba(41, 53, 108, 0.14);
    background: #fff;
    opacity: 1;

    &:before {
      transform: translateY(-50%);
      opacity: 1;
      transition-delay: 0.2s;
    }

    &:after {
      transform: translateY(-50%) scaleY(1);
      transition-delay: 0.2s;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    border-bottom: 1px solid #e8edf3;
    position: relative;

    &-meta {
      display: flex;
      align-items: center;
      min-height: 48px;
      width: 100%;
    }

    &__meaning {
      margin-top: 1rem;
      color: $c-text;

      @include bp(tablet) {
        margin-top: 0;
      }
    }

    @include bp(tablet-m) {
      padding: 15px;
      align-items: flex-start;
    }

    &__cnt {
      padding-right: 55px;
      width: 100%;

      @include bp(tablet) {
        padding-right: 0;
      }
    }

    &__left {
      margin-right: 25px;
      width: 40px;
      height: 36px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;

      @include bp(tablet-m) {
        margin-right: 15px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      line-height: 1em;
      color: #436480;
      display: inline-flex;
      align-items: center;

      & .word__badge {
        margin-left: 0.5rem;
      }

      @include bp(tablet) {
        font-size: 22px;
        width: 75%;
      }
    }

    &__desc {
      color: $c-text;
      line-height: 1.3em;

      @include bp(tablet) {
        font-size: 15px;
        line-height: 1.3em;
        width: 77%;
        display: block;
        margin-bottom: 10px;
      }

      &--item {
        display: inline-flex;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__txt {
      color: #3b5e7b;
      margin-top: 10px;

      @include bp(tablet) {
        font-size: 14px;
        margin-top: 10px;
      }
    }

    &__right {
      margin-left: auto;
      align-self: flex-start;

      @include bp(tablet) {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      & .tooltip--left {
        right: auto;
        left: -220%;
      }
    }

    .word__badge {
      padding: 5px 8px 4px;
      font-size: 0.9rem;

      & .vtooltip {
        text-transform: capitalize;
      }
    }

    .badge {
      // position: absolute;
      bottom: 0;
      padding: 7px 12px 6px;
      z-index: 3;

      .icon-font {
        font-size: 13px;
      }

      .tooltip {
        padding: 12px 20px;
        font-weight: 500;
        backface-visibility: hidden;
        font-size: 16px;
        box-shadow: none;
        left: 0;
        right: auto;
        width: 100%;
        height: auto;
        width: max-content;
        transform: translateY(0);
        text-align: center;

        @include bp(mobile) {
          width: 85vw;
          padding: 15px;
        }

        &:after {
          right: auto;
          transform: none;
          left: 35px;
        }

        &-btn {
          &:hover {
            .tooltip {
              transform: none;
            }
          }
        }
      }
    }
  }

  &-rate {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    span {
      display: block;
      background: #d4dce5;
      width: 6px;
      border-radius: 10px;
      margin-right: 5px;
      font-size: 12px;
      transition: all 0.3s;

      @include bp(tablet) {
        font-size: 10px;
      }

      &:nth-child(1) {
        height: 1em;
      }

      &:nth-child(2) {
        height: 1.65em;
      }

      &:nth-child(3) {
        height: 2.3em;
      }

      &:nth-child(4) {
        height: 2.95em;
      }

      &:nth-child(5) {
        height: 3.6em;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: #4545a2;
      }
    }
  }

  &-add-lists.button {
    font-size: 29px;
    color: $c-gray;
    width: 51px;
    height: 51px;

    @include bp(tablet) {
      width: 40px;
      height: 40px;
      min-height: 40px;
      font-size: 18px;
    }
  }

  &__item {
    z-index: 22;

    &:last-child {
      .dct-word-desc {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  &__addlist {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;

    @include bp(tablet) {
      top: 7px;
    }

    & .tooltip {
      right: -60%;
    }
  }

  &-desc {
    background: #f8fafe;
    border-bottom: 1px solid #e8edf3;
    padding: 30px 20px;

    @include bp(tablet) {
      padding: 20px 15px;
    }

    &__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__list {
      > * {
        opacity: 0;
        transform: translateY(15px);
        transition: all 0.3s;
      }

      &.active {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 45 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.15s;
            }
          }
        }
      }
    }

    &__txt {
      font-weight: 500;
      font-size: 18px;
      opacity: 0.95;

      @include bp(tablet) {
        font-size: 15px;
        line-height: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.txt-en {
        color: #3b5e7b;
      }

      &.txt-tr {
        font-style: italic;
        color: #7d97ad;
        opacity: 0.95;
      }
    }

    &__more {
      font-weight: 700;
      padding: 0;
      margin-top: -5px;
      display: flex;

      &:hover .button__icon {
        transform: none;
      }

      .button__icon {
        position: relative;
        margin-right: 25px;

        &:before {
          @include triangle(down, currentColor, 7px);
          transition: all 0.3s;
        }
      }

      &.active {
        margin-bottom: 15px;

        .button__icon:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  .alert-box {
    &__wrp {
      background: #f8fafe;
      position: relative;
      margin-top: -1px;
      padding: 20px;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
</style>
