<template>
  <div class="slide-group" :class="{ active : active }">
    <div class="slide-group__header" @click="listToggle">
      <div class="slide-group__title">{{ group.name }}</div>
      <div class="slide-group__txt">( {{ group.tests.length }} Deneme Bulunuyor )</div>
      <div class="hr fw"></div>
      <span class="caret-circle"></span>
    </div>
    <slide-up-down :duration="600" :active="active">
      <div class="slide-group__cnt" :class="{ active : active }">
        <div class="tests-list">

        </div>
        <exam-item v-for="test in group.tests" :key="test.id" :test="test"/>
        <alert
          :icon="group.alert.icon"
          :text="group.alert.text"
          :type="group.alert.type"
          :button-text="group.alert.buttonText"
          :button-type="group.alert.buttonType"
          :extraClass="group.alert.extraClass"
          :buttonLink="group.alert.buttonLink" />
      </div>
    </slide-up-down>
  </div>
</template>

<script>
import Alert from '@/components/Alert'
import ExamItem from '@/components/Exams/ExamItem'
export default {
  name: 'ExamsGroup',
  props: {
    group: Object
  },
  components: {
    Alert,
    ExamItem
  },
  data () {
    return {
      active: true
    }
  },
  methods: {
    listToggle () {
      this.active = !this.active
    }
  }
}
</script>

<style scoped>

</style>
