<template>
  <tab :tabs="tabs" @clickTab="tabShow">
    <tab-pane :class="[ tabs[0].active ? 'active' : '' ]">
      <div class="tab-filter">
        <TabFilterSelect :options="groupOptions" title="Satın Aldığım Ders Grupları"/>
        <TabFilterSelect class="fw" :options="options" title="Deneme Türü Seçin" @onselect="onSelect"/>
        <div class="tab-filter__item">
          <div class="tab-filter__title">Biraz da şöyle filtrele</div>
          <div class="tab-filter-buttons">
            <button class="tab-filter__button"
                    :class="{ active : button.active }"
                    v-for="button in statusButtons" :key="button.id"
                    @click="statusFilter(button.id)">
                    <span class="btn-txt">
                      {{ button.title }}
                    </span>
            </button>
          </div>
        </div>
      </div>
      <div class="slide-group" :class="{ active : tests.active }" v-for="tests in testList" :key="tests.id">
        <div class="slide-group__header" @click="testListToggle(tests.id)">
          <div class="slide-group__title">{{ tests.name }}</div>
          <div class="slide-group__txt">( {{ tests.tests.length }} Deneme Bulunuyor )</div>
          <div class="hr fw"></div>
          <span class="caret-circle"></span>
        </div>
        <slide-up-down :duration="600" :active="tests.active">
          <div class="slide-group__cnt" :class="{ active : tests.active }">
            <div class="tests-list">

            </div>
            <exam-item :tests="tests.tests"/>
            <alert
              :icon="tests.alert.icon"
              :text="tests.alert.text"
              :type="tests.alert.type"
              :button-text="tests.alert.buttonText"
              :button-type="tests.alert.buttonType"
              :extraClass="tests.alert.extraClass"
              :buttonLink="tests.alert.buttonLink" />
          </div>
        </slide-up-down>
      </div>
    </tab-pane>

    <tab-pane :class="[ tabs[1].active ? 'active' : '' ]">
      tab pane 2
    </tab-pane>

    <tab-pane :class="[ tabs[2].active ? 'active' : '' ]">
      tab pane 3
    </tab-pane>
  </tab>
</template>

<script>
import TabItem from '@/components/Tab/TabItem'
import TabFilterSelect from '@/components/Tab/TabFilterSelect'
import Tab from '@/components/Tab/Tab'
import TabPane from '@/components/Tab/TabPane'
import Alert from '@/components/Alert'
import Progress from '@/components/Progress'
import ExamItem from '@/components/Exams/ExamItem'
import SelectBox from '@/components/SelectBox'
export default {
  name: 'ExamsTab',
  components: {
    Tab,
    TabItem,
    TabFilterSelect,
    TabPane,
    Alert,
    Progress,
    ExamItem,
    SelectBox
  },
  data () {
    return {
      groupOptions: [
        {
          label: 'Tümünü Gör',
          value: 'all',
          icon: null,
          selected: false
        },
        {
          label: 'Ön Hazırlık Grubu',
          value: 'grup-on-hazirlik',
          icon: require('@/assets/img/grup-on-hazirlik.svg'),
          selected: false
        },
        {
          label: 'Çeviri Grubu',
          value: 'ceviri',
          icon: require('@/assets/img/grup-ceviri.svg'),
          selected: false
        },
        {
          label: 'Deneme Grubu',
          value: 'deneme',
          icon: require('@/assets/img/grup-deneme.svg'),
          selected: false
        },
        {
          label: 'Ön Hazırlık Grubu',
          value: 'value2',
          icon: require('@/assets/img/grup-on-hazirlik.svg'),
          selected: false
        },
        {
          label: 'Çeviri Grubu',
          value: 'value3',
          icon: require('@/assets/img/grup-ceviri.svg'),
          selected: false
        },
        {
          label: 'Deneme Grubu',
          value: 'value4',
          icon: require('@/assets/img/grup-deneme.svg'),
          selected: false
        },
        {
          label: 'Çeviri Grubu',
          value: 'value5',
          icon: require('@/assets/img/grup-ceviri.svg'),
          selected: false
        },
        {
          label: 'Deneme Grubu',
          value: 'value6',
          icon: require('@/assets/img/grup-deneme.svg'),
          selected: false
        },
        {
          label: 'Ön Hazırlık Grubu',
          value: 'value7',
          icon: require('@/assets/img/grup-on-hazirlik.svg'),
          selected: false
        }
      ],
      options: [
        {
          label: 'Tüm Deneme Tipleri',
          value: 'all',
          selected: false
        },
        {
          label: 'Soru Tipi 1',
          value: 'avalue1',
          selected: false
        },
        {
          label: 'Soru Tipi 2',
          value: 'avalue2',
          selected: false
        },
        {
          label: 'Soru Tipi 3',
          value: 'avalue3',
          selected: false
        },
        {
          label: 'Soru Tipi 4',
          value: 'avalue4',
          selected: false
        },
        {
          label: 'Soru Tipi 5',
          value: 'avalue5',
          selected: false
        },
        {
          label: 'Soru Tipi 6',
          value: 'avalue6',
          selected: false
        },
        {
          label: 'Soru Tipi 7',
          value: 'avalue7',
          selected: false
        },
        {
          label: 'Soru Tipi 8',
          value: 'avalue8',
          selected: false
        },
        {
          label: 'Soru Tipi 9',
          value: 'avalue9',
          selected: false
        }
      ],
      tabs: [
        {
          id: 0,
          icon: 'icon-board-o',
          text: 'Ders Etkinliğim',
          active: true
        },
        {
          id: 1,
          icon: 'icon-performance-o',
          text: 'Performansım',
          active: false
        },
        {
          id: 2,
          icon: 'icon-cup-o',
          text: 'Leaderboard',
          active: false
        }
      ],
      statusButtons: [
        {
          id: 0,
          title: 'Çözülmüş',
          active: false
        },
        {
          id: 1,
          title: 'Çözülmemiş',
          active: false
        },
        {
          id: 2,
          title: 'Tümü',
          active: true
        }
      ],
      testList: [
        {
          id: 0,
          name: 'TÜRKİYE GENELİ SINAVLAR',
          active: true,
          alert: {
            icon: require('@/assets/img/store-circle.svg'),
            text: '<strong>Türkiye Geneli Deneme Sınavı</strong> hemen başvur, şimdiden sıralamanı öğren',
            type: 'alert-danger',
            buttonText: 'BAŞVURU YAP',
            buttonType: 'button--white',
            buttonLink: '/store'
          },
          tests: [
            {
              id: 0,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi',
              groupName: 'Deneme Grubu',
              name: 'Test 1',
              count: null,
              score: 220,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 1,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 3',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 3',
              count: 180,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 2,
              icon: require('@/assets/img/grup-ceviri.svg'),
              title: 'Translation Testi 6',
              groupName: 'Çeviri Grubu',
              name: 'Test 6',
              count: 300,
              score: null,
              status: 'continue',
              progress: 68,
              results: null,
              time: null
            },
            {
              id: 3,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi 5',
              groupName: 'Deneme Grubu',
              name: 'Test 5',
              count: 290,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            }
          ]
        },
        {
          id: 1,
          name: 'Soru Tipi Adı 2',
          active: false,
          alert: {
            icon: require('@/assets/img/store-circle.svg'),
            text: '<strong>Rh+ Eğitimlerinden</strong> daha fazla yararlanabilmeniz için bizim size önerilerimiz var!',
            type: 'alert-primary',
            buttonText: 'MAĞAZAYA GİT',
            buttonType: 'button--white',
            buttonLink: '/store'
          },
          tests: [
            {
              id: 0,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 1',
              count: null,
              score: 125,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 1,
              icon: require('@/assets/img/grup-ceviri.svg'),
              title: 'Translation Testi 2',
              groupName: 'Çeviri Grubu',
              name: 'Test 2',
              count: 300,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 2,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi 3',
              groupName: 'Deneme Grubu',
              name: 'Test 3',
              count: 180,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 3,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 6',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 6',
              count: 300,
              score: null,
              status: 'continue',
              progress: 68,
              results: null,
              time: null
            },
            {
              id: 4,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 5',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 5',
              count: 290,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 5,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi',
              groupName: 'Deneme Grubu',
              name: 'Test 1',
              count: null,
              score: 185,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 6,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 4',
              groupName: 'Çeviri Grubu',
              name: 'Test 4',
              count: 255,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            }
          ]
        },
        {
          id: 2,
          name: 'Soru Tipi Adı 3',
          active: false,
          alert: {
            icon: require('@/assets/img/store-circle.svg'),
            text: '<strong>Rh+ Eğitimlerinden</strong> daha fazla yararlanabilmeniz için bizim size önerilerimiz var!',
            type: 'alert-primary',
            buttonText: 'MAĞAZAYA GİT',
            buttonType: 'button--white',
            buttonLink: '/store'
          },
          tests: [
            {
              id: 0,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 1',
              count: null,
              score: 125,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 1,
              icon: require('@/assets/img/grup-ceviri.svg'),
              title: 'Translation Testi 2',
              groupName: 'Çeviri Grubu',
              name: 'Test 2',
              count: 300,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 2,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi 3',
              groupName: 'Deneme Grubu',
              name: 'Test 3',
              count: 180,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 3,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 6',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 6',
              count: 300,
              score: null,
              status: 'continue',
              progress: 68,
              results: null,
              time: null
            },
            {
              id: 4,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 5',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 5',
              count: 290,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 5,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi',
              groupName: 'Deneme Grubu',
              name: 'Test 1',
              count: null,
              score: 185,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 6,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 4',
              groupName: 'Çeviri Grubu',
              name: 'Test 4',
              count: 255,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            }
          ]
        },
        {
          id: 3,
          name: 'Soru Tipi Adı 4',
          active: false,
          alert: {
            icon: require('@/assets/img/store-circle.svg'),
            text: '<strong>Rh+ Eğitimlerinden</strong> daha fazla yararlanabilmeniz için bizim size önerilerimiz var!',
            type: 'alert-primary',
            buttonText: 'MAĞAZAYA GİT',
            buttonType: 'button--white',
            buttonLink: '/store'
          },
          tests: [
            {
              id: 0,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 1',
              count: null,
              score: 125,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 1,
              icon: require('@/assets/img/grup-ceviri.svg'),
              title: 'Translation Testi 2',
              groupName: 'Çeviri Grubu',
              name: 'Test 2',
              count: 300,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 2,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi 3',
              groupName: 'Deneme Grubu',
              name: 'Test 3',
              count: 180,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 3,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 6',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 6',
              count: 300,
              score: null,
              status: 'continue',
              progress: 68,
              results: null,
              time: null
            },
            {
              id: 4,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 5',
              groupName: 'Ön Hazırlık Grubu',
              name: 'Test 5',
              count: 290,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            },
            {
              id: 5,
              icon: require('@/assets/img/grup-deneme.svg'),
              title: 'Translation Testi',
              groupName: 'Deneme Grubu',
              name: 'Test 1',
              count: null,
              score: 185,
              status: 'completed',
              progress: null,
              results: [
                {
                  current: 18,
                  full: 30
                },
                {
                  current: 5,
                  full: 30
                },
                {
                  current: 7,
                  full: 30
                }
              ],
              time: '42dk'
            },
            {
              id: 6,
              icon: require('@/assets/img/grup-on-hazirlik.svg'),
              title: 'Translation Testi 4',
              groupName: 'Çeviri Grubu',
              name: 'Test 4',
              count: 255,
              score: null,
              status: 'none',
              progress: null,
              results: null,
              time: null
            }
          ]
        }
      ]
    }
  },
  methods: {
    tabShow (id) {
      this.tabs.forEach((item, index) => {
        item.active = false
      })
      this.tabs[id].active = true
    },
    statusFilter (id) {
      this.statusButtons.forEach((item, index) => {
        item.active = false
      })
      this.statusButtons[id].active = true
    },
    onSelect (opt) {
      // console.log(opt)
    },
    testListToggle (id) {
      // this.testList.forEach((item, index) => {
      //   item.active = false
      // })
      this.testList[id].active = !this.testList[id].active
    }
  }
}
</script>
