<template>
  <div>
    <div class="tests__item">
      <div class="tests__top">
        <div class="tests__icon tooltip-btn">
          <img :src="test.group_icon" alt class="icon" />
          <span class="tooltip tooltip--top single-line">
            <span class="tooltip__wrp">
              <span class="tooltip__txt">{{ test.groupName }}</span>
            </span>
          </span>
        </div>
        <div class="tests-inf">
          <div class="tests-inf__head">
            <div class="tests-inf__icon">
              <svg-icon type="icon-test-item" />
            </div>
            <div>
              <div class="tests-inf__title">{{ test.title }}</div>
              <div class="tests-inf__txt">
                <strong>{{ test.type }}</strong>
              </div>
            </div>
          </div>

          <div class="tests-inf-ctr">
            <strong class="font-500 font-size-17">
              <b>Soru Sayısı</b>
              {{ test.count }}
            </strong>
          </div>
        </div>

        <div class="tests-inf-ctr" v-if="test.status === 'completed'">
          <v-button
            class="button--circle default circle-xs"
            icon="icon-download"
            icon-position="left"
            tooltip="İndir"
          />
          <v-button
            class="button--circle default circle-xs"
            icon="icon-print"
            icon-position="left"
            tooltip="Yazdır"
          />
          <div class="switch">
            <svg-icon type="icon-notes"></svg-icon>
            <span>Kelime Listesine Eklendi</span>
            <div class="switcher">
              <input type="checkbox" />
              <span></span>
            </div>
          </div>
        </div>
        <div class="tests-ctr" v-else-if="test.status === 'continue'">
          <v-button title="DEVAM ET" class="tests-ctr__btn color-blue-i default round" />
        </div>
        <div class="tests-inf-ctr" v-if="test.status !== 'completed'">
          <v-link
            :to="{ name: 'ExamDetail', params: { id: test.id } }"
            title="DENEMEYİ ÇÖZ"
            class="tests-ctr__btn default"
          />
        </div>
      </div>
      <div class="tests-results" v-if="test.status === 'completed'">
        <div class="tests-results__left">
          <div class="tests-results__item" v-if="test.results[0]">
            <div class="tests-results__title">
              Doğru
              <span class="dot bg-green"></span>
            </div>
            <div class="tests-results__txt">
              <strong>{{ test.results[0].current }}</strong>
              / {{ test.results[0].full }}
            </div>
          </div>

          <div class="tests-results__item" v-if="test.results[1]">
            <div class="tests-results__title">
              Yanlış
              <span class="dot bg-orange"></span>
            </div>
            <div class="tests-results__txt">
              <strong>{{ test.results[1].current }}</strong>
              / {{ test.results[1].full }}
            </div>
          </div>

          <div class="tests-results__item" v-if="test.results[2]">
            <div class="tests-results__title">
              Boş
              <span class="dot bg-light-gray"></span>
            </div>
            <div class="tests-results__txt">
              <strong>{{ test.results[2].current }}</strong>
              / {{ test.results[2].full }}
            </div>
          </div>

          <div class="tests-results__item" v-if="test.time">
            <div class="tests-results__title">Sınav Süresi</div>
            <div class="tests-results__txt">
              <svg-icon type="icon-time" />
              <strong>{{ test.time }}</strong>
            </div>
          </div>

          <div class="tests-results-ctr">
            <div class="tests-results-ctr__title">Deneme Puanı</div>
            <div class="tests-results-ctr__txt">
              <strong>{{ test.score }}</strong> PUAN
            </div>
          </div>
        </div>

        <div class="tests-results__right">
          <v-button
            title="DENEME DETAYLI RAPOR"
            icon="icon-pie-o"
            icon-position="left"
            class="tests-results__btn default xs round"
          />
        </div>
      </div>
    </div>
    <WordListModal :modal="listModal" />
  </div>
</template>

<script>
import Progress from '@/components/Progress'
import WordListModal from '@/components/WordListModal'
export default {
  name: 'ExamsList',
  components: {
    Progress,
    WordListModal,
  },
  props: {
    test: {
      type: Object,
      default: () => { },
    },
  },
  data() {
    return {
      listModal: {
        title: 'KELİME LİSTESİNE EKLE',
        icon: 'icon-lists',
        active: false,
      },
    }
  },
  methods: {
    addListModal() {
      this.listModal.active = true
    },
  },
}
</script>

<style scoped></style>
