<script>
import { required, email } from 'vuelidate/lib/validators'
import { mapMutations, mapGetters, mapActions } from 'vuex'

export default {
  name: 'AccountProductItemUser',

  props: {
    user: {
      type: Object,
      default: () => {}
    },

    orderNumber: {
      type: [Number, String]
    },

    orderIndex: {
      type: [Number, String]
    },

    basketId: {
      type: [Number, String],
      required: true
    }
  },

  validations: {
    user: {
      email: {
        required,
        email
      }
    }
  },

  data() {
    return {
      showDetails: false,
      submitted: false
    }
  },

  computed: {
    ...mapGetters('orders', ['giveProductLoading']),

    itsMe() {
      return this.user.isOwner ? ' (Ben)' : ''
    }
  },

  methods: {
    ...mapMutations('orders', ['setProductUserData']),

    ...mapActions('orders', ['addProductUser']),

    toggleDetails() {
      this.showDetails = !this.showDetails
      this.$nextTick(() => {
        this.$v.$reset()
      })
    },

    updateProductUser(el) {
      let index = el.target.id.replace(/\D/g, '')
      let field = el.target.id.replace(/[0-9]/g, '')
      let data = {
        productIndex: this.orderIndex,
        index: parseInt(index),
        field: field,
        value: el.target.value
      }
      this.setProductUserData(data)
    },

    addUserToProduct(email, id) {
      this.submitted = true
      let data = {
        product: this.orderIndex,
        index: this.orderNumber - 1,
        email: email,
        basket: id
      }
      this.$v.$touch()
      if (this.$v.$invalid) {
        console.log('not submitted')
      } else {
        this.addProductUser(data)
        console.log('yesssss')
      }
    }
  }
}
</script>

<template>
  <div class="accproduct-item-extrauser" :class="{ opened: showDetails }">
    <div class="accproduct-item-extrauser-label" @click="toggleDetails">
      <span
        class="accproduct-item-extrauser-label__title"
        :class="{ given: user.id !== null }"
      >{{ orderNumber }}. Kullanıcı {{ itsMe }}</span>
      <span class="accproduct-item-extrauser-label__caret" :class="{ details: showDetails }"></span>
    </div>
    <transition name="fade" mode="out-in">
      <div class="accproduct-item-extrauser-details" v-if="showDetails">
        <div class="row no-gutter">
          <div class="col-md-6" v-if="user.id !== null">
            <div class="f-input">
              <label for="input">Ad Soyad</label>
              <div class="f-input--content" :class="{ disabled: user.id !== null }">
                <input
                  :id="`name${orderNumber}`"
                  :value="user.name"
                  placeholder
                  :disabled="user.id !== null"
                  @input="updateProductUser($event)"
                />
              </div>
            </div>
          </div>
          <div :class="user.id !== null ? 'col-md-6' : 'col-md-12'">
            <div
              class="f-input mobile-mt-10"
              :data-validation="submitted && (!$v.user.email.required || !$v.user.email.email)"
            >
              <label for="input">E-Posta</label>
              <div class="f-input--content" :class="{ disabled: user.id !== null }">
                <input
                  :id="`email${orderNumber}`"
                  :value="user.email"
                  placeholder="ornek@mail.com"
                  :disabled="user.id !== null"
                  @input="updateProductUser($event)"
                />
              </div>
            </div>
            <div v-if="submitted">
              <div
                class="f-input-error"
                v-if="!$v.user.email.required"
              >* E-posta alanı boş bırakılamaz.</div>
              <div
                class="f-input-error"
                v-if="!$v.user.email.email"
              >* Geçerli bir e-posta adresi giriniz.</div>
            </div>
          </div>
        </div>
        <v-button
          v-if="user.id === null"
          @click.native="addUserToProduct(user.email, basketId)"
          :disabled="giveProductLoading"
          class="fw c-purple mt-25 mb-10"
          title="TANIMLA"
        />
      </div>
    </transition>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/colors';

.accproduct-item {
  &-extrauser {
    padding: 0 1.5rem;
    border-bottom: 1px solid $c-bgalt;

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
      cursor: pointer;

      &__title {
        font-weight: 600;
        font-size: 1.1rem;
        color: $c-primary;

        &.given {
          color: $c-text-dark;
        }
      }

      &__caret {
        background: #fff;
        border-radius: 25px;
        height: 25px;
        width: 25px;
        box-shadow: 0px 0 24px 0px rgba(19, 29, 51, 0.2);
        position: relative;
        transform: rotate(0deg);
        transition: 0.3s;

        &::before {
          content: '';
          display: block;
          position: absolute;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid #4545a2;
          top: 11px;
          left: 8px;
        }

        &.details {
          transform: rotate(180deg);
        }
      }
    }

    &-details {
      padding: 0 0rem 1rem 0;
    }

    &.opened {
      background: #fafcfd;
    }
  }
}
</style>
