<script>
import {
  shareDiscountSms,
  shareDiscountEmail
} from '../../services/orders.service'

export default {
  name: 'AccountPromotionUser',

  props: {
    couponId: {
      type: [Number, String],
      required: true
    },

    coupon: {
      type: Object,
      required: true,
      default: () => {}
    }
  },

  data() {
    return {
      codeTypes: [
        {
          id: 1,
          label: 'SMS'
        },
        {
          id: 2,
          label: 'E-Posta'
        }
      ],
      phone: '',
      email: '',
      discountType: '',
      emailFormSubmitted: false,
      phoneFormSubmitted: false,
      formVisible: false,
      btnLoading: false,
      isShare: true
    }
  },

  computed: {
    isFilled() {
      return this.phone !== '' || this.email !== ''
    },

    couponStatusText() {
      return this.coupon.is_available ? 'Kullanılabilir' : 'Tükenmiş'
    },

    couponStatusClass() {
      return this.coupon.is_available ? 'available' : 'used'
    },

    validPhone() {
      let phone = this.phone.replace(/\D/g, '')
      console.log(phone.length)
      return phone.length === 11
    },

    validEmail() {
      let re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
      return re.test(this.email)
    },

    blankEmail() {
      return this.email.length === 0 && this.email === ''
    }
  },

  methods: {
    toggleShare(event) {
      if (this.coupon.is_available) {
        this.isShare = !this.isShare
      }
    },
    sendDiscountBySms(val) {
      let self = this
      self.phoneFormSubmitted = true

      console.log(this.validPhone)

      if (!this.validPhone) {
        console.log('invalid phone')
      } else {
        shareDiscountSms(this.phone, this.couponId).then((res) => {
          self.$swal.fire({
            toast: true,
            timer: 3000,
            showConfirmButton: false,
            position: 'top-end',
            title: res.data.data.message,
            icon: 'success'
          })
        })
      }
    },

    sendDiscountByEmail(val) {
      let self = this
      self.emailFormSubmitted = true

      console.log(this.blankEmail)

      if (!this.validEmail || this.blankEmail) {
        console.log('invalid email')
      } else {
        shareDiscountEmail(this.email, this.couponId).then((res) => {
          self.$swal.fire({
            toast: true,
            timer: 3000,
            showConfirmButton: false,
            position: 'top-end',
            title: res.data.data.message,
            icon: 'success'
          })
        })
      }
    },

    sendDiscount(type, phone, email) {
      let self = this
      self.loadingA = true
      self.formSubmitted = true
      console.log(type, phone, email)
      this.$v.$touch()

      if (phone !== '' || email !== '') {
        if (self.$v.$invalid) {
          console.log('not submitted')
        } else {
          if (type === 'sms') {
            shareDiscountSms(phone, this.couponId)
              .then((res) => {
                console.log(res)
                self.loadingA = false
              })
              .catch((err) => {
                console.log(err)
                self.loadingA = false
              })
          } else if (type === 'email') {
            shareDiscountEmail(email, this.couponId)
              .then((res) => {
                console.log('res', res)
                self.loadingA = false
              })
              .catch((err) => {
                console.log('err', err)
                self.loadingA = false
              })
          } else {
            self.loadingA = false
          }
        }
      }
    },

    setDiscountType(val) {
      this.discountType = val.toLowerCase()
    },

    copyCode(code) {
      document.execCommand('copy', code)
      this.$copyText(code).then((el) => {
        this.$swal({
          toast: true,
          position: 'top-end',
          text: `Kopyalandı: ${el.text}`,
          icon: 'success',
          timer: 3000,
          showConfirmButton: false
        })
      })
      // console.log(code)
    }
  }
}
</script>

<template>
  <div class="t-card--content">
    <div class="accpromo-form-header pt-15">
      <div class="accpromo-form--left">
        <div
          @click.stop="copyCode(coupon.discount_code)"
          class="accpromo-form-discountcode"
          v-tooltip="'Kopyala'"
          :class="couponStatusClass"
        >{{ coupon.discount_code }}</div>
        <div class="share-button" :class="couponStatusClass" @click="toggleShare()">Kodu Paylaş</div>
        <div class="accpromo-form-selector" :class="[isShare ? '' : 'active']">
          <span class="accpromo-form-selector__item" @click="setDiscountType('sms')">SMS ile Paylaş</span>
          <span
            class="accpromo-form-selector__item"
            @click="setDiscountType('email')"
          >E-Posta ile Paylaş</span>
        </div>
      </div>
      <div class="accpromo-form--right">
        <div
          class="accpromo-form-discountremaining"
          v-tooltip="{ content: coupon.readable_end_time, classes: 'tooltip-singleline' }"
        >
          <strong>{{ coupon.left_days }}</strong>
          <span>Kalan Kullanım Süresi</span>
        </div>
      </div>
    </div>
    <transition-group
      name="fade"
      mode="in-out"
      tag="div"
      class="accpromo-form-holder"
      :class="discountType !== '' ? 'open-form' : ''"
    >
      <div class="accpromotion-form" :key="1" v-if="discountType === 'sms'">
        <div class="accpromotion-form-block__content f-input">
          <label>Telefon Numarası</label>
          <input-mask
            v-model="phone"
            mask="0(999) 999 99 99"
            mask-char="_"
            placeholder="0(555) 555 55 55"
            :class="{ inputerror: !validPhone && phoneFormSubmitted }"
          ></input-mask>
          <div class="formerror" v-if="phoneFormSubmitted">
            <span v-if="!validPhone">* Geçerli bir telefon numarası giriniz.</span>
          </div>
          <v-button
            @click.native="sendDiscountBySms(phone)"
            style="height: 60px"
            class="fw c-purple mt-10"
            title="PAYLAŞ"
          />
        </div>
      </div>
      <div class="accpromotion-form" :key="2" v-if="discountType === 'email'">
        <div class="accpromotion-form-block__content f-input">
          <label>E-posta Adresi</label>
          <input
            v-model="email"
            placeholder="mail@adresiniz.com"
            :class="{ inputerror: (!validEmail || blankEmail) && emailFormSubmitted }"
          />
          <div class="formerror" v-if="emailFormSubmitted">
            <span v-if="!validEmail">* Geçerli bir e-posta adresi giriniz.</span>
            <span v-if="blankEmail">* E-posta adresi zorunludur.</span>
          </div>
          <v-button
            @click.native="sendDiscountByEmail(email)"
            style="height: 60px;"
            class="fw c-purple mt-10"
            title="PAYLAŞ"
          />
        </div>
      </div>
    </transition-group>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';
.share-button {
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;

  &:not(.used):hover {
    color: $c-primary;
  }

  &.used {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.accpromo-form {
  position: relative;
  &--left {
    display: flex;
    align-items: center;
    @include bp(tablet) {
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
  &--right {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include bp(tablet) {
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      @include bp(tablet) {
        border-bottom: 1px solid rgba($color: #859db2, $alpha: 0.1);
        padding-bottom: 10px;
      }
    }
  }

  &-selector {
    margin-left: 1rem;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    @include bp(tablet) {
      position: absolute;
      right: 70px;
      width: calc(100% - 70px);
      background: #fff;
      padding: 10px;
      padding-left: 15px;
      pointer-events: none;
      margin-left: 0;
    }
    &.active {
      width: auto;
      opacity: 1;
      @include bp(tablet) {
        width: calc(100% - 70px);
      }
    }

    &__item {
      margin-right: 1rem;
      color: $c-primary;
      font-weight: 600;
      cursor: pointer;
      background: #f0f4f9;
      border-radius: 0.3rem;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }
  }

  &-holder {
    position: relative;
    display: block;

    &.open-form {
      height: 210px;
      padding-top: 20px;
    }

    & .accpromotion-form {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &-discountcode {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #08c458;
    background: rgba(8, 196, 88, 0.2);
    border: 1px solid #08c458;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    font-weight: 600;
    width: 120px;
    font-size: 16px;
    margin-right: 0.5rem;
    cursor: pointer;

    &.available {
      color: $c-success-alt;
      background: transparentize($color: $c-success-alt, $amount: 0.8);
      border-color: $c-success-alt;
    }

    &.used {
      color: $c-in-complete;
      background: transparentize($color: $c-in-complete, $amount: 0.7);
      border-color: $c-in-complete;
      cursor: not-allowed;
      pointer-events: none;
      user-select: none;
    }
  }
  &-discountremaining {
    cursor: default;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    @include bp(tablet) {
      align-items: flex-start;
    }

    & > strong {
      color: $c-primary;
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    & > span {
      line-height: 1;
    }
  }

  &-discountavailable {
    margin-left: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    font-weight: 600;
    @include bp(tablet) {
      margin-left: unset;
    }

    &.available {
      color: $c-success-alt;
      background: transparentize($color: $c-success-alt, $amount: 0.8);
      border-color: $c-success-alt;
    }

    &.used {
      color: $c-in-complete;
      background: transparentize($color: $c-in-complete, $amount: 0.7);
      border-color: $c-in-complete;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 3.2rem;
    color: #859db2;
    /*  cursor: pointer; */
    border-top: 1px solid rgba($color: #859db2, $alpha: 0.1);
    &:after {
      @include bp(tablet) {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        width: calc(100% + 30px);
        height: 1px;
        background: rgba($color: #859db2, $alpha: 0.3);
      }
    }
    @include bp(tablet) {
      flex-direction: column-reverse;
      height: auto;
      border-top: none;
      position: relative;
    }

    /* &:hover {
      background: $c-bgmain;
    } */

    & > span {
      color: #4442a4;
      font-size: 1.2rem;
      font-weight: 600;
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}
</style>
