<script>
import AccountProductItemUser from '@/components/Account/AccountProductItemUser'
import { mapMutations } from 'vuex'

export default {
  name: 'AccountProductItem',

  components: {
    AccountProductItemUser
  },

  data() {
    return {
      showDetails: false
    }
  },

  props: {
    product: {
      type: Object,
      // required: true,
      default: () => {}
    },

    productIndex: {
      type: [Number, String]
    }
  },

  computed: {
    iconType() {
      return this.product.isMultiple ? 'icon-personal-group' : 'icon-personal'
    }
  },

  methods: {
    ...mapMutations('orders', ['addNewUser']),

    toggleDetails() {
      if (this.product.isMultiple) this.showDetails = !this.showDetails
    }
  }
}
</script>

<template>
  <div class="accproduct-item col-md-12 col-lg-10 col-xl-8">
    <div class="accproduct-item-header" @click="toggleDetails">
      <figure class="accproduct-item-group">
        <img class="accproduct-item-group__icon" :src="product.icon" />
      </figure>
      <div class="accproduct-item-info">
        <span
          :class="[product.isMultiple ? 'isMultiple' : '']"
          class="accproduct-item-users"
          v-tooltip="product.isMultiple ? `Çoklu Kullanıcı (${product.quantity})` : 'Tek Kullanıcı'"
        >
          <svg-icon :type="iconType"></svg-icon>
        </span>
        <div class="accproduct-item-name">
          <span class="accproduct-item-name__title">{{ product.name }}</span>
          <span class="accproduct-item-name__date">
            <svg-icon type="icon-time"></svg-icon>
            {{ product.boughtAt }}
          </span>
        </div>
      </div>
      <div class="accproduct-item-remaining" v-if="product.remainingTime.length > 0">
        <strong>{{ product.remainingTime }}</strong>
        <span>Kalan Kullanım Süresi</span>
      </div>
      <span class="accproduct-item-name__date only-tablet">
        <svg-icon type="icon-time"></svg-icon>
        {{ product.boughtAt }}
      </span>
      <div class="accproduct-item-btn" v-if="product.isMultiple" v-tooltip="'Kullanıcı Tanımla'">
        <span class="accproduct-item-users__count" v-if="product.isMultiple">{{
          product.quantity
        }}</span>
        <span class="accproduct-item-btn--icon">
          <svg-icon type="icon-setting"></svg-icon>
        </span>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <div class="accproduct-item-content" v-if="showDetails">
        <AccountProductItemUser
          v-for="(user, index) in product.users"
          :user="user"
          :key="`productUser${index + 1}`"
          :orderNumber="index + 1"
          :orderIndex="productIndex"
          :basketId="product.basketProductId"
        />
        <div class="pl-25 pr-25 mt-20" v-if="product.users.length < product.quantity">
          <v-button
            @click.native="addNewUser(productIndex)"
            class="fw default"
            title="YENİ KULLANICI EKLE"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.accproduct-item {
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
  border-radius: 0.5rem;
  padding: 0;

  &-header {
    display: flex;
    padding: 1rem 1.5rem;
    cursor: pointer;
    @include bp(tablet) {
      flex-flow: wrap;
      padding: 1rem;
    }
  }

  &-group {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-basis: 4.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid $c-bgmain;
    padding-right: 1rem;
    @include bp(mobile) {
      flex-basis: 2rem;
      padding-right: 0.5rem;
    }

    &__icon {
      height: 2.5rem;
      width: auto;
    }
  }

  &-info {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    @include bp(mobile) {
      width: calc(100% - 40px);
      padding-left: 0.5rem;
    }
  }

  &-users {
    border-radius: 0.3rem;
    background: $c-bgicon;
    color: $c-primary;
    font-size: 1.3rem;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include bp(mobile) {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1.2rem;
      flex-shrink: 0;
    }
    &.isMultiple {
      font-size: 1.6rem;
      @include bp(mobile) {
        font-size: 1.4rem;
      }
    }

    &__count {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 16px;
      background: $c-primary;
      color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      font-weight: 600;
      top: 8px;
      right: 0px;
    }
  }

  &-name {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    &__title {
      font-weight: 600;
      color: $c-primary;
      font-size: 1.1rem;
      @include bp(mobile) {
        line-height: 20px;
      }
    }

    &__date {
      color: $c-text;
      @include bp(mobile) {
        display: none;
      }
      &.only-tablet {
        padding: 10px 0;
        border-bottom: 1px solid #e4eaf2;
        width: 100%;
        margin-bottom: 5px;
      }

      & > .icon {
        color: $c-alt;
      }
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    position: relative;
    @include bp(tablet) {
      order: 3;
    }
    @include bp(mobile) {
      order: 4;
      margin-left: auto;
      margin-top: 0px;
    }

    &--icon {
      font-size: 36px;
      color: $c-primary;
    }
  }

  &-content {
    // padding: 1rem 0;
    padding-bottom: 1rem;
    border-top: 1px solid #e4eaf2;
  }

  &-remaining {
    display: flex;
    flex-direction: column;
    text-align: right;
    @include bp(tablet) {
      order: 4;
      margin-top: 15px;
      flex-direction: row-reverse;
    }
    @include bp(mobile) {
      order: 3;
      flex-direction: column-reverse;
      text-align: left;
      margin-top: 0px;
      width: max-content;
    }

    & > strong {
      color: $c-primary;
      font-size: 1.1rem;
    }

    & > span {
      color: $c-text;
      @include bp(tablet) {
        margin-right: 15px;
      }
    }
  }
}
</style>
