<template>
  <div>
    <div class="overlay"></div>
    <div class="subpage-header" style="background: #e3eaf6;">
      <div class="custom-container">
        <div class="subpage-header__wrp">
          <div class="subpage-header__head" style="width: 100%;">
            <div class="subpage-header__icon">
              <img src="@/assets/img/user-colored.svg" alt class="icon" />
            </div>
            <div class="subpage-header__title">
              Hesap
              <span>Ayarlarım</span>
            </div>
            <div class="subpage-header__info" style="margin-left: auto; margin-right: 0;">
              <v-button
                class="ml-auto subpage-download-button"
                icon="icon-logout"
                title="Çıkış yap"
                icon-position="right"
              />
              <v-button
                class="transparent ml-auto subpage-tab-guide-btn"
                icon="icon-help-circle"
                icon-position="right"
              />
            </div>
          </div>
        </div>
        <div class="subpage-tab">
          <div class="subpage-tab-list">
            <div class="subpage-tab__item active">
              <router-link to="/uyelik-bilgilerim">
                <span>Üyelik Bilgilerim</span>
              </router-link>
            </div>
            <div class="subpage-tab__item">
              <router-link to="/sifre-degistir">
                <span>Şifre Değiştir</span>
              </router-link>
            </div>
            <div class="subpage-tab__item">
              <router-link to="/eposta-bildirimleri">
                <span>E-Posta Bildirimleri</span>
              </router-link>
            </div>
            <div class="subpage-tab__item">
              <router-link to="/kisisel-bilgiler">
                <span>Kişisel Bilgilerim</span>
              </router-link>
            </div>
            <div class="subpage-tab__item">
              <router-link to="/kayitli-adresler">
                <span>Kayıtlı Adresler</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountHeader'
}
</script>

<style>
</style>
