<script>
export default {
  name: 'AccountOrderItem',

  props: {
    order: {
      type: Object,
      required: true,
      default: () => {},
    },
  },

  data() {
    return {
      orderDetailsOpen: false,
    }
  },

  methods: {
    toggleOrderDetails() {
      this.orderDetailsOpen = !this.orderDetailsOpen
    },
  },
}
</script>

<template>
  <div class="order-item col-md-12 col-lg-10 col-xl-8">
    <div class="order-item-header" @click="toggleOrderDetails">
      <svg-icon class="order-item-header__icon" type="icon-bag"></svg-icon>
      <div class="order-item-header-body">
        <div class="order-item-header-body__info">
          <span class="title">
            Sipariş No:
            <strong>#{{ order.paymentCode }}</strong>
          </span>
          <span class="date">
            <svg-icon type="icon-time"></svg-icon>
            {{ order.date }}
          </span>
        </div>
      </div>
      <div class="order-item-total">
        <span class="order-item-total__price">{{ order.paidPrice }} TL</span>
        <div
          class="order-item-total__status"
          :class="{
            confirmed: order.status === 'confirmed',
            waiting: order.status === 'waiting',
          }"
        >
          {{
            order.status === 'confirmed'
              ? 'SİPARİŞ TAMAMLANDI'
              : 'SİPARİŞ BEKLEMEDE'
          }}
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <div class="order-item-list" v-if="orderDetailsOpen">
        <div class="order-item-body">
          <div
            class="order-product"
            v-for="product in order.products"
            :key="`productId${product.id}`"
          >
            <div class="order-product-info">
              <strong class="order-product-info__name">{{
                product.name
              }}</strong>
              <span class="order-product-info__type">{{ product.type }}</span>
            </div>
            <strong class="order-product-info__price"
              >{{ product.price }} TL</strong
            >
          </div>
          <div class="order-item-summary">
            <div class="order-item-summary__discount">
              <span>İndirim Tutarı</span>
              <strong>-{{ order.total_discount }} TL</strong>
            </div>
            <div class="order-item-summary__method">
              <span>Ödeme Türü</span>
              <strong>{{ order.paymentType }}</strong>
            </div>
            <div class="order-item-summary__total">
              <span>Ödenen Tutar (KDV Dahil)</span>
              <strong>{{ order.paidPrice }} TL</strong>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.order {
  &-item {
    padding: 0;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 16px rgba(41, 53, 108, 0.08);
    border-radius: 0.5rem;
    overflow: hidden;

    &-header {
      padding: 1.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include bp(tablet) {
        flex-flow: wrap;
        padding: 1rem;
      }

      &__icon {
        font-size: 3rem;
        color: $c-primary;
        @include bp(tablet) {
          font-size: 2rem;
        }
      }

      &-body {
        padding: 0 1rem;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include bp(tablet) {
          width: calc(100% - 32px);
          position: relative;
        }

        // &:after {
        //   content: '';
        //   position: absolute;
        //   bottom: -12.5px;
        //   left: 0;
        //   width: calc(100% + 32px);
        //   margin-left: -32px;
        //   height: 1px;
        //   background: $c-default;
        // }

        &__info {
          display: flex;
          flex-direction: column;

          & > .title {
            color: $c-text;
            font-size: 1.1rem;

            & strong {
              color: $c-primary;
            }
          }

          & > .date {
            color: $c-text;
            display: inline-flex;
            align-items: center;

            .icon {
              color: $c-alt;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    &-body {
      padding: 1rem 1.5rem;
      border-top: 1px solid $c-bgalt;
      border-bottom: 1px solid $c-bgalt;
    }

    &-summary {
      display: flex;
      align-items: center;
      height: 3rem;
      margin-top: 1rem;
      @include bp(tablet) {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      & > * {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        @include bp(tablet) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }

        & > span {
          color: $c-text;
          @include bp(tablet) {
            display: block;
          }
        }

        & > strong {
          font-size: 1.1rem;
          color: $c-gray-dark;
          @include bp(tablet) {
            display: block;
          }
        }
      }

      &__total {
        text-align: right;
      }
    }

    &-footer {
      background: $c-bgmain;
      padding: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $c-text;

      &__text {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
      }

      &__btns {
        display: inline-flex;
        align-items: center;
        margin-left: 1rem;

        & .invoice-btn {
          font-size: 1.8rem;

          & + .invoice-btn {
            margin-left: 2rem;
          }
        }
      }
    }

    &-total {
      margin-left: auto;
      display: flex;
      align-items: center;

      @include bp(tablet) {
        margin-left: 0;
        width: 100%;
        padding-top: 0.75rem;
        margin-top: 0.75rem;
        border-top: 1px solid $c-default;
        justify-content: space-between;
      }

      &__price {
        color: $c-primary;
        font-size: 1.2rem;
        font-weight: 600;
        padding-right: 1rem;

        @include bp(tablet) {
          flex-shrink: 0;
          font-size: 1.125rem;
        }
      }

      &__status {
        font-weight: 600;
        border-radius: 0.5rem;
        height: 3rem;
        border: 1px solid $c-default;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;

        @include bp(tablet) {
          padding: 0 1rem;
          height: 2.5rem;
          font-size: 0.875rem;
        }

        &.confirmed {
          color: $c-success-alt;
          background: transparentize($color: $c-success-alt, $amount: 0.75);
          border-color: $c-success-alt;
        }

        &.waiting {
          color: $c-in-complete;
          background: transparentize($color: $c-in-complete, $amount: 0.75);
          border-color: $c-in-complete;
        }
      }
    }
  }

  &-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid #e4eaf2;
    & + & {
    }

    &-info {
      display: flex;
      flex-direction: column;
      @include bp(tablet) {
        padding-right: 15px;
      }

      &__name {
        color: $c-gray-dark;
        font-size: 1.1rem;
        @include bp(tablet) {
          font-size: 16px;
        }
      }

      &__type {
        color: $c-text;
      }

      &__price {
        font-size: 1.1rem;
        color: $c-gray-dark;
        @include bp(tablet) {
          flex-shrink: 0;
          text-align: right;
        }
      }
    }
  }
}
</style>
