<template>
  <div class="calendar-app__box">
    <transition name="overlay-fade">
      <div class="calendar__overlay" v-show="showOverlay" @click="hideOverlay"></div>
    </transition>
    <div class="calendar-app__item" :class="{ active: active }">
      <div class="calendar-app__button" :class="{ passed: passed }" @click="showPopup">
        <div class="calendar-app__icon">
          <img src="@/assets/img/app-test.svg" alt class="icon" />
        </div>
        <div class="calendar-app__title">{{ title }}</div>
        <div
          class="calendar-app__status"
          :class="[tests.status, { none: !dateFuture }, { continue: isToday }]"
        ></div>
      </div>
      <div class="calendar-add__ghost" :class="{ active: deleteLoading }">
        <div class="calendar-add__ghost--inner"></div>
      </div>
      <transition :name="transition">
        <div
          class="calendar-popup calendar-popup-test only-desktop-m"
          :class="positionClass"
          v-if="active"
        >
          <div class="calendar-popup__header">
            <div class="calendar-popup__app">
              <img src="@/assets/img/app-test.svg" alt class="icon" />
            </div>
            <div class="calendar-popup__title color-app">{{ title }}</div>
            <div class="calendar-popup__date">
              {{ new Date(date).getDate() }}
              {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
              {{ new Date(date).getFullYear() }}
              <!-- , {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' }) }} -->
            </div>
            <div class="calendar-popup__subtitle fw" v-if="tests.list.length > 0">
              ÇÖZÜLEN {{ tests.list.length > 1 ? 'TESTLER' : 'TEST' }}
            </div>
          </div>
          <div class="calendar-popup__inner">
            <div class="calendar-popup__cnt">
              <div class="calendar-test" v-if="tests.list.length > 0">
                <div class="calendar-test__item" v-for="test in tests.list" :key="test.id">
                  <!-- <div class="calendar-test__subtitle">
                    <strong>Grup Adı</strong>
                  </div>-->
                  <div class="calendar-test__title">{{ test.name }}</div>
                  <div class="calendar-test-inf">
                    <div class="calendar-test-inf__item">
                      <span class="dot bg-green"></span>
                      <div class="calendar-test-inf__txt">
                        <strong>{{ test.correctCount }}</strong>
                        / {{ test.count }}
                      </div>
                    </div>
                    <div class="calendar-test-inf__item">
                      <span class="dot bg-orange"></span>
                      <div class="calendar-test-inf__txt">
                        <strong>{{ test.wrongCount }}</strong>
                        / {{ test.count }}
                      </div>
                    </div>
                    <div class="calendar-test-inf__item">
                      <span class="dot bg-light-gray"></span>
                      <div class="calendar-test-inf__txt">
                        <strong>{{ test.emptyCount }}</strong>
                        / {{ test.count }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="calendar-non-result" v-else>
                <div class="calendar-non-result__icon">
                  <svg-icon type="icon-test-item" />
                </div>
                <div class="calendar-non-result__title">
                    Henüz çözülmüş bir
                  <span class="color-app">Test</span> yok!
                </div>
              </div>

              <div class="calendar-bottom" v-if="!passed || today">
                <v-button
                  @click.native="goApp"
                  class="calendar-button--cta fw bg-test color-white-i"
                  :title="tests.status === 'none' ? 'UYGULAMAYA GİT' : 'UYGULAMAYA DEVAM ET'"
                />
                <v-button
                  v-if="tests.list.length === 0"
                  @click.native="deleteApp(date)"
                  class="calendar-button-remove button--circle"
                  icon="icon-trash"
                  icon-position="left"
                />
              </div>
              <div class="calendar-bottom" v-else>
                <v-button
                  class="calendar-button"
                  :class="tests.status === 'complete' ? 'completed' : 'incomplete'"
                  :title="tests.status === 'complete' ? 'GÖREV TAMAMLANDI' : 'GÖREV TAMAMLANMADI'"
                />
              </div>
            </div>
          </div>
        </div>
      </transition>
      <v-popover
        popoverClass="only-tablet-m calendar-popover  bottom--row"
        popoverInnerClass="calendar"
        :open="active"
        @hide="hideOverlay"
        v-if="active"
      >
        <template slot="popover">
          <div>
            <div class="calendar-popup__header">
              <div class="calendar-popup__app">
                <img src="@/assets/img/app-test.svg" alt class="icon" />
              </div>
              <div class="calendar-popup__title color-app">{{ title }}</div>
              <div class="calendar-popup__date">
                {{ new Date(date).getDate() }}
                {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
                {{ new Date(date).getFullYear() }},
                {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' }) }}
              </div>
              <div class="calendar-popup__subtitle fw" v-if="tests.list.length > 0">
                ÇÖZÜLEN {{ tests.list.length > 1 ? 'TESTLER' : 'TEST' }}
              </div>
            </div>
            <div class="calendar-popup__inner">
              <div class="calendar-popup__cnt">
                <div class="calendar-test" v-if="tests.list.length > 0">
                  <div class="calendar-test__item" v-for="test in tests.list" :key="test.id">
                    <!-- <div class="calendar-test__subtitle">
                    <strong>Grup Adı</strong>
                    </div>-->
                    <div class="calendar-test__title">{{ test.name }}</div>
                    <div class="calendar-test-inf">
                      <div class="calendar-test-inf__item">
                        <span class="dot bg-green"></span>
                        <div class="calendar-test-inf__txt">
                          <strong>{{ test.correctCount }}</strong>
                          / {{ test.count }}
                        </div>
                      </div>
                      <div class="calendar-test-inf__item">
                        <span class="dot bg-orange"></span>
                        <div class="calendar-test-inf__txt">
                          <strong>{{ test.wrongCount }}</strong>
                          / {{ test.count }}
                        </div>
                      </div>
                      <div class="calendar-test-inf__item">
                        <span class="dot bg-light-gray"></span>
                        <div class="calendar-test-inf__txt">
                          <strong>{{ test.emptyCount }}</strong>
                          / {{ test.count }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="calendar-non-result" v-else>
                  <div class="calendar-non-result__icon">
                    <svg-icon type="icon-test-item" />
                  </div>
                  <div class="calendar-non-result__title">
                    Henüz
                    <span class="color-app">Test Etkinliği</span> yok!
                  </div>
                </div>

                <div class="calendar-bottom" v-if="!passed || today">
                  <v-button
                    @click.native="goApp"
                    class="calendar-button--cta fw bg-test color-white-i"
                    :title="tests.status === 'none' ? 'UYGULAMAYA GİT' : 'UYGULAMAYA DEVAM ET'"
                  />
                  <v-button
                    v-if="tests.list.length === 0"
                    @click.native="deleteApp(date)"
                    class="calendar-button-remove button--circle"
                    icon="icon-trash"
                    icon-position="left"
                  />
                </div>
                <div class="calendar-bottom" v-else>
                  <v-button
                    class="calendar-button"
                    :class="tests.status === 'complete' ? 'completed' : 'incomplete'"
                    :title="tests.status === 'complete' ? 'GÖREV TAMAMLANDI' : 'GÖREV TAMAMLANMADI'"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </v-popover>
    </div>
  </div>
</template>

<script>
import * as http from '../../services/calendar.service'

export default {
  name: 'CalendarAppTest',
  props: {
    date: String,
    index: Number,
    containerOffset: HTMLElement,
    tests: Object,
    today: Boolean,
    passed: Boolean
  },
  components: {
    // Progress
  },
  data() {
    return {
      title: 'Test',
      showOverlay: false,
      positionClass: '',
      transition: 'calendar-fade-left',
      active: false,
      progress: {
        value: 88,
        height: '9'
      },
      deleteLoading: false
    }
  },

  computed: {
    dateFuture() {
      return new Date() - new Date(this.date) > 0
    },

    isToday() {
      return (
        new Date().getDate() === new Date(this.date).getDate() &&
        new Date().getMonth() === new Date(this.date).getMonth() &&
        new Date().getFullYear() === new Date(this.date).getFullYear()
      )
    }
  },

  methods: {
    deleteApp(date) {
      this.active = false
      this.showOverlay = false
      this.deleteLoading = true
      this.$emit('onDeleteApp', false, 'tests', date, true)
    },

    removeApp() {
      console.log('daskldjalsd')
      let isMultiple = false
      let name = 'tests'
      let startDate = this.date

      http
        .deleteAppCalendar(name, startDate, isMultiple)
        .then(res => {
          console.log(res.data)
        })
        .then(() => {
          this.getCurrentDay()
        })
    },

    goApp() {
      this.$router.push('/test')
    },

    showPopup() {
      this.showOverlay = !this.showOverlay
      this.active = !this.active
      let dayOffsetLeft = this.containerOffset.children[1].children[this.index].offsetLeft
      let calendarWidth = this.containerOffset.offsetWidth
      let popup = 550
      if (popup > calendarWidth - dayOffsetLeft) {
        this.transition = 'calendar-fade-right'
        this.positionClass = 'calendar-popup--left'
      } else {
        this.transition = 'calendar-fade-left'
        this.positionClass = 'calendar-popup--right'
      }

      this.$emit('onClick')
    },
    hideOverlay() {
      this.showOverlay = false
      this.active = false
      this.$emit('onHide')
    }
  }
}
</script>

<style scoped></style>
