<template>
  <div class="calendar-add" :class="[{active : active }, [`color-${app}`] ]">
    <transition name="overlay-fade">
      <div class="calendar__overlay" v-show="showOverlay" @click="hideOverlay"></div>
    </transition>
    <div class="calendar-add__btn" :class="{ active : active }" @click="openModal">
      <div class="calendar-add__title">{{ appTitle }} Ekle</div>
      <div class="calendar-add__icon">
        <svg-icon type="icon-plus" />
      </div>
    </div>

    <div class="calendar-add__ghost" :class="{ active: loadingAction }">
      <div class="calendar-add__ghost--inner"></div>
    </div>

    <transition :name="transition">
      <div
        class="calendar-popup calendar-add-popup only-desktop-m"
        :class="[positionClass, `calendar-popup-${app}`]"
        v-on-clickaway="hideModal"
        v-if="active"
      >
        <div class="calendar-popup__header">
          <div class="calendar-popup__app">
            <img :src="require(`@/assets/img/app-${app}.svg`)" alt class="icon" />
          </div>
          <div class="calendar-popup__title color-app">{{ appTitle }}</div>
          <div class="calendar-popup__date">
            {{ new Date(date).getDate() }}
            {{ new Date(date).toLocaleString('tr-TR', { month: 'long'}) }}
            {{ new Date(date).getFullYear() }}
            <!-- , {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' })}} -->
          </div>
          <!--<div class="calendar-popup__subtitle fw" v-if="data.list.length > 0">-->
          <!--TAMAMLANAN {{ data.list.length > 1 ? 'STEPLER' : 'STEP' }}-->
          <!--</div>-->
        </div>
        <div class="calendar-popup__inner">
          <div class="calendar-popup__cnt">
            <div class="calendar-non-result">
              <div class="calendar-non-result__title">
                Henüz
                <span class="color-app">{{ appTitle }} Etkinliği</span> yok!
              </div>
            </div>
            <div class="calendar-bottom">
              <v-button
                class="calendar-button--cta fw color-white-i"
                :class="`bg-${app}`"
                title="SADECE BU HAFTAYA EKLE"
                @click.native="addAppSingle"
              />
              <v-button
                class="calendar-button--cta button--o fw color-app"
                :class="`color-${app}`"
                title="HER HAFTAYA EKLE"
                @click.native="addAppMultiple"
              />
            </div>
          </div>
        </div>
      </div>
    </transition>
    <v-popover
      popoverClass="only-tablet-m calendar-popover"
      :open="active"
      @hide="hideModal"
      v-if="active"
    >
      <template slot="popover">
        <div>
          <div class="calendar-popup__header">
            <div class="calendar-popup__app">
              <img :src="require(`@/assets/img/app-${app}.svg`)" alt class="icon" />
            </div>
            <div class="calendar-popup__title color-app">{{ appTitle }}</div>
            <div class="calendar-popup__date">
              {{ new Date(date).getDate() }}
              {{ new Date(date).toLocaleString('tr-TR', { month: 'long'}) }}
              {{ new Date(date).getFullYear() }}
              <!-- , {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' })}} -->
            </div>
          </div>
          <div class="calendar-popup__inner">
            <div class="calendar-popup__cnt">
              <div class="calendar-non-result">
                <div class="calendar-non-result__title">
                  Henüz
                  <span class="color-app">{{ appTitle }} Etkinliği</span> yok!
                </div>
              </div>
              <div class="calendar-bottom">
                <v-button
                  class="calendar-button--cta fw color-white-i"
                  :class="`bg-${app}`"
                  title="SADECE BU HAFTAYA EKLE"
                  @click.native="addAppSingle"
                />
                <v-button
                  class="calendar-button--cta button--o fw color-app"
                  :class="`color-${app}`"
                  title="HER HAFTAYA EKLE"
                  @click.native="addAppMultiple"
                />
              </div>
            </div>
          </div>
        </div>
      </template>
    </v-popover>
  </div>
</template>

<script>
import { SHOW_OVERLAY } from '../../store/actions.type'
export default {
  name: 'CalendarAddButton',
  props: {
    date: String,
    app: String,
    appTitle: String,
    index: Number,
    containerOffset: HTMLElement,
    calendarBtnLoading: Boolean
  },
  data() {
    return {
      active: false,
      transition: 'calendar-fade-left',
      positionClass: '',
      loadingAction: false,
      showOverlay: false,
      btnLoading: this.calendarBtnLoading
    }
  },

  watch: {
    calendarBtnLoading(val) {
      this.btnLoading = val
    }
  },

  methods: {
    openModal() {
      this.active = !this.active
      this.showOverlay = !this.showOverlay
      let dayOffsetLeft = this.containerOffset.children[1].children[this.index]
        .offsetLeft
      let calendarWidth = this.containerOffset.offsetWidth
      let popup = 375

      if (popup > calendarWidth - dayOffsetLeft) {
        this.transition = 'calendar-fade-right'
        this.positionClass = 'calendar-popup--left'
      } else {
        this.transition = 'calendar-fade-left'
        this.positionClass = 'calendar-popup--right'
      }
      this.$emit('onClick')
    },
    openMobileModal() {
      this.$emit('onClick')
    },
    hideModal() {
      this.showOverlay = false
      this.active = false
      this.$emit('hideModal')
    },
    addAppMultiple() {
      console.log('add app multi')
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.active = false
      this.$emit('multipleAdd')
      this.loadingAction = true
    },
    addAppSingle() {
      console.log('add app multi')
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.showOverlay = false
      this.active = false
      this.$emit('singleAdd')
      this.loadingAction = true
    },
    hideOverlay() {
      this.showOverlay = false
      this.active = false
      this.$emit('onHide')
    }
  },
}
</script>

<style scoped>
</style>
