<template>
  <div class="calendar-app__box">
    <transition name="overlay-fade">
      <div
        class="calendar__overlay"
        v-show="showOverlay"
        @click="hideOverlay"
      ></div>
    </transition>
    <div class="calendar-app__item" :class="{ active: active }">
      <div
        class="calendar-app__button"
        :class="{ passed: passed }"
        @click="showPopup"
      >
        <div class="calendar-app__icon">
          <img src="@/assets/img/app-okuma.svg" alt class="icon" />
        </div>
        <div class="calendar-app__title">{{ title }}</div>
        <div
          class="calendar-app__status"
          :class="[
            readings.status,
            { none: !dateFuture },
            { continue: isToday },
          ]"
        ></div>
      </div>
      <div class="calendar-add__ghost" :class="{ active: deleteLoading }">
        <div class="calendar-add__ghost--inner"></div>
      </div>
      <transition :name="transition">
        <div
          class="calendar-popup calendar-popup-reading only-desktop-m"
          :class="positionClass"
          v-if="active"
        >
          <div class="calendar-popup__header">
            <div class="calendar-popup__app">
              <img src="@/assets/img/app-okuma.svg" alt class="icon" />
            </div>
            <div class="calendar-popup__title color-app">{{ title }}</div>
            <div class="calendar-popup__date">
              {{ new Date(date).getDate() }}
              {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
              {{ new Date(date).getFullYear() }}
              <!-- , {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' })}} -->
            </div>
            <div
              class="calendar-popup__subtitle fw"
              v-if="readings.list.length > 0"
            >
              TAMAMLANAN {{ readings.list.length > 1 ? 'OKUMALAR' : 'OKUMA' }}
            </div>
          </div>
          <div class="calendar-popup__inner">
            <div class="calendar-popup__cnt">
              <div class="calendar-reading" v-if="readings.list.length > 0">
                <div
                  class="calendar-reading__item"
                  v-for="reading in readings.list"
                  :key="reading.id"
                >
                  <div class="calendar-reading__icon">
                    <img :src="reading.image" alt class="icon" />
                  </div>
                  <div class="calendar-reading__cnt">
                    <div class="calendar-reading__title">
                      {{ reading.name }}
                    </div>
                    <div class="calendar-reading__level">
                      Seviye:
                      <strong
                        :class="('level-color-' + reading.set) | lowercase"
                        >{{ reading.set }}</strong
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="calendar-non-result" v-else>
                <div class="calendar-non-result__icon">
                  <svg-icon type="icon-reading-item" />
                </div>
                <div class="calendar-non-result__title">
                  Henüz tamamlanmış bir
                  <span class="color-app">Okuma</span> parçası yok!
                </div>
              </div>
              <div class="calendar-bottom" v-if="!passed || today">
                <v-button
                  @click.native="goApp"
                  class="calendar-button--cta fw bg-reading color-white-i"
                  :title="
                    readings.status === 'none'
                      ? 'UYGULAMAYA GİT'
                      : 'UYGULAMAYA DEVAM ET'
                  "
                />
                <v-button
                  v-if="readings.list.length === 0"
                  @click.native="deleteApp(date)"
                  class="calendar-button-remove button--circle"
                  icon="icon-trash"
                  icon-position="left"
                />
              </div>
              <div class="calendar-bottom" v-else>
                <v-button
                  class="calendar-button"
                  :class="
                    readings.status === 'complete' ? 'completed' : 'incomplete'
                  "
                  :title="
                    readings.status === 'complete'
                      ? 'GÖREV TAMAMLANDI'
                      : 'GÖREV TAMAMLANMADI'
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </transition>
      <v-popover
        popoverClass="only-tablet-m calendar-popover  bottom--row"
        :open="active"
        @hide="hideOverlay"
        v-if="active"
      >
        <template slot="popover">
          <div>
            <div class="calendar-popup__header">
              <div class="calendar-popup__app">
                <img src="@/assets/img/app-okuma.svg" alt class="icon" />
              </div>
              <div class="calendar-popup__title color-app">{{ title }}</div>
              <div class="calendar-popup__date">
                {{ new Date(date).getDate() }}
                {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
                {{ new Date(date).getFullYear() }},
                {{
                  new Date(date).toLocaleString('tr-TR', { weekday: 'long' })
                }}
              </div>
              <div
                class="calendar-popup__subtitle fw"
                v-if="readings.list.length > 0"
              >
                TAMAMLANAN {{ readings.list.length > 1 ? 'OKUMALAR' : 'OKUMA' }}
              </div>
            </div>
            <div class="calendar-popup__inner">
              <div class="calendar-popup__cnt">
                <div class="calendar-reading" v-if="readings.list.length > 0">
                  <div
                    class="calendar-reading__item"
                    v-for="reading in readings.list"
                    :key="reading.id"
                  >
                    <div class="calendar-reading__icon">
                      <img :src="reading.image" alt class="icon" />
                    </div>
                    <div class="calendar-reading__cnt">
                      <div class="calendar-reading__title">
                        {{ reading.name }}
                      </div>
                      <div class="calendar-reading__level">
                        Seviye:
                        <strong
                          :class="('level-color-' + reading.set) | lowercase"
                          >{{ reading.set }}</strong
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calendar-non-result" v-else>
                  <div class="calendar-non-result__icon">
                    <svg-icon type="icon-reading-item" />
                  </div>
                  <div class="calendar-non-result__title">
                    Henüz tamamlanmış bir
                    <span class="color-app">Okuma</span> parçası yok!
                  </div>
                </div>
                <div class="calendar-bottom" v-if="!passed || today">
                  <v-button
                    @click.native="goApp"
                    class="calendar-button--cta fw bg-reading color-white-i"
                    :title="
                      readings.status === 'none'
                        ? 'UYGULAMAYA GİT'
                        : 'UYGULAMAYA DEVAM ET'
                    "
                  />
                  <v-button
                    v-if="readings.list.length === 0"
                    @click.native="deleteApp(date)"
                    class="calendar-button-remove button--circle"
                    icon="icon-trash"
                    icon-position="left"
                  />
                </div>
                <div class="calendar-bottom" v-else>
                  <v-button
                    class="calendar-button"
                    :class="
                      readings.status === 'complete'
                        ? 'completed'
                        : 'incomplete'
                    "
                    :title="
                      readings.status === 'complete'
                        ? 'GÖREV TAMAMLANDI'
                        : 'GÖREV TAMAMLANMADI'
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </v-popover>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CalendarAppReading',
  props: {
    date: String,
    index: Number,
    containerOffset: HTMLElement,
    readings: Object,
    today: Boolean,
    passed: Boolean,
  },
  filters: {
    lowercase(val) {
      return val.toLowerCase()
    },
  },
  components: {
    // Progress
  },
  data() {
    return {
      title: 'Okuma',
      showOverlay: false,
      positionClass: '',
      transition: 'calendar-fade-left',
      active: false,
      progress: {
        value: 88,
        height: '9',
      },
      deleteLoading: false,
    }
  },

  computed: {
    dateFuture() {
      return new Date() - new Date(this.date) > 0
    },

    isToday() {
      return (
        new Date().getDate() === new Date(this.date).getDate() &&
        new Date().getMonth() === new Date(this.date).getMonth() &&
        new Date().getFullYear() === new Date(this.date).getFullYear()
      )
    },
  },

  methods: {
    deleteApp(date) {
      this.active = false
      this.showOverlay = false
      this.deleteLoading = true
      this.$emit('onDeleteApp', false, 'readings', date)
    },

    goApp() {
      this.$router.push('/okuma')
    },

    showPopup() {
      this.showOverlay = !this.showOverlay
      this.active = !this.active
      let dayOffsetLeft = this.containerOffset.children[1].children[this.index]
        .offsetLeft
      let calendarWidth = this.containerOffset.offsetWidth
      let popup = 550
      if (popup > calendarWidth - dayOffsetLeft) {
        this.transition = 'calendar-fade-right'
        this.positionClass = 'calendar-popup--left'
      } else {
        this.transition = 'calendar-fade-left'
        this.positionClass = 'calendar-popup--right'
      }

      this.$emit('onClick')
    },
    hideOverlay() {
      this.showOverlay = false
      this.active = false
      this.$emit('onHide')
    },
  },
}
</script>

<style scoped></style>
