<template>
  <div class="calendar-lesson__item">
    <div class="calendar-lesson__date">
      <span class="txt">{{ lesson.date }}</span>
      <span class="txt">{{ lesson.hour }}</span>
    </div>
    <div class="calendar-lesson__top">
      <span
        class="calendar-lesson__group"
        v-tooltip="{
        content: lesson.groupTitle,
        classes: 'tooltip-singleline',
        boundariesElement: '#app'
      }"
      >
        <img :src="lesson.icon" alt class="icon" />
        <!-- <span class="tooltip tooltip--top single-line">
          <span class="tooltip__wrp">
            <span class="tooltip__txt">
              {{ lesson.groupTitle }}
            </span>
          </span>
        </span>-->
      </span>
      <div>
        <div class="calendar-lesson__subtitle">{{ lesson.name }}</div>
        <!-- <div class="calendar-lesson__title" v-html="lesson.subject"></div> -->
      </div>
    </div>
    <div class="calendar-lesson-box" v-if="lesson.exercises.length > 0">
      <div class="calendar-popup-progress" :class="{ active : active }" @click="showLessons">
        <span class="calendar-popup-progress__icon">
          <svg-icon type="icon-pens-o" />
        </span>
        <div class="calendar-popup-progress__txt">Ödevler</div>
        <div class="calendar-popup-progress__cnt">
          <Progress :progress-val="lesson.progress" height="9" />
          <div class="calendar-popup-progress__percent">
            {{ lesson.progress }}
            <small>%</small>
          </div>
        </div>
      </div>
      <slide-up-down :active="active" :duration="500" class="calendar-lesson-box__cnt">
        <div class="calendar-lesson-box__item">
          <div class="calendar-lesson-box__left">
            <div class="calendar-lesson-box__txt">Dersi Tamamla</div>
            <div class="calendar-lesson-box__title">{{ lesson.currentTime }}dk / {{ lesson.time }}dk</div>
          </div>
          <div class="calendar-lesson-box__right">
            <span
              class="calendar-lesson-box__status"
              :class="[ lesson.currentTime === 100 ? 'completed' : 'continue' ]"
            ></span>
          </div>
        </div>
        <router-link
          to="#"
          class="calendar-lesson-box__item"
          v-for="exercise in lesson.exercises"
          :key="exercise.id"
        >
          <div class="calendar-lesson-box__left">
            <div class="calendar-lesson-box__txt">{{ exercise.name }}</div>
            <div class="calendar-lesson-box__title">{{ exercise.subject }}</div>
          </div>
          <div class="calendar-lesson-box__right">
            <span class="calendar-lesson-box__icon">
              <img src="@/assets/img/app-digibook.svg" alt class="icon" />
            </span>
            <span class="calendar-lesson-box__status" :class="exercise.status"></span>
          </div>
        </router-link>
      </slide-up-down>
    </div>
  </div>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'CalendarLessonItem',
  props: {
    lesson: Object,
  },
  components: {
    Progress,
  },
  data() {
    return {
      active: false,
    }
  },
  methods: {
    showLessons() {
      this.active = !this.active
    },
  },
}
</script>

<style scoped>
</style>
