<template>
  <div class="calendar-app__box">
    <transition name="overlay-fade">
      <div
        class="calendar__overlay"
        v-show="showOverlay"
        @click="hideOverlay"
      ></div>
    </transition>
    <div class="calendar-app__item" :class="{ active: active }">
      <div
        class="calendar-app__button"
        :class="{ passed: passed }"
        @click="showPopup"
      >
        <div class="calendar-app__icon">
          <img src="@/assets/img/app-dersler.svg" alt class="icon" />
        </div>
        <div class="calendar-app__title">{{ title }}</div>
        <div
          class="calendar-app__status"
          :class="[
            lessons.status,
            { none: !dateFuture },
            { continue: isToday },
          ]"
        ></div>
      </div>
      <transition :name="transition">
        <div
          class="calendar-popup calendar-popup-lesson only-desktop-m"
          :class="positionClass"
          ref="popup"
          v-show="active"
        >
          <div class="calendar-popup__header">
            <div class="calendar-popup__app">
              <img src="@/assets/img/app-dersler.svg" alt class="icon" />
            </div>
            <div class="calendar-popup__title color-app">{{ title }}</div>
            <div class="calendar-popup__date">
              {{ new Date(date).getDate() }}
              {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
              {{ new Date(date).getFullYear() }}
              <!-- , {{ new Date(date).toLocaleString('tr-TR', { weekday: 'long' })}} -->
            </div>
            <div
              class="calendar-popup__subtitle fw"
              v-if="lessons.list.length > 0"
            >
              İZLENEN {{ lessons.list.length > 1 ? 'DERSLER' : 'DERS' }}
            </div>
          </div>
          <div class="calendar-popup__inner">
            <div class="calendar-popup__cnt">
              <div class="calendar-lesson" v-if="lessons.list.length > 0">
                <CalendarLessonItem
                  v-for="lesson in lessons.list"
                  :key="lesson.id"
                  :lesson="lesson"
                />
              </div>

              <div class="calendar-non-result" v-else>
                <div class="calendar-non-result__icon">
                  <svg-icon type="icon-lesson-item" />
                </div>
                <div class="calendar-non-result__title">
                  Henüz izlenmiş bir
                  <span class="color-app">Ders</span> bulunmuyor!
                </div>
              </div>
              <div class="calendar-bottom" v-if="!passed || today">
                <v-button
                  @click.native="goApp"
                  class="calendar-button--cta fw bg-lesson color-white-i"
                  :title="
                    lessons.status === 'none'
                      ? 'UYGULAMAYA GİT'
                      : 'UYGULAMAYA DEVAM ET'
                  "
                />
                <v-button
                  v-if="lessons.list.length === 0"
                  @click.native="deleteApp(date)"
                  class="calendar-button-remove button--circle"
                  icon="icon-trash"
                  icon-position="left"
                />
              </div>
              <div class="calendar-bottom" v-else>
                <v-button
                  class="calendar-button"
                  :class="
                    lessons.status === 'complete' ? 'completed' : 'incomplete'
                  "
                  :title="
                    lessons.status === 'complete'
                      ? 'GÖREV TAMAMLANDI'
                      : 'GÖREV TAMAMLANMADI'
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </transition>

      <v-popover
        popoverClass="only-tablet-m calendar-popover  bottom--row"
        :open="active"
        @hide="hideOverlay"
        v-if="active"
      >
        <template slot="popover">
          <div>
            <div class="calendar-popup__header">
              <div class="calendar-popup__app">
                <img src="@/assets/img/app-dersler.svg" alt class="icon" />
              </div>
              <div class="calendar-popup__title color-app">{{ title }}</div>
              <div class="calendar-popup__date">
                {{ new Date(date).getDate() }}
                {{ new Date(date).toLocaleString('tr-TR', { month: 'long' }) }}
                {{ new Date(date).getFullYear() }},
                {{
                  new Date(date).toLocaleString('tr-TR', { weekday: 'long' })
                }}
              </div>
              <div
                class="calendar-popup__subtitle fw"
                v-if="lessons.list.length > 0"
              >
                İZLENEN {{ lessons.list.length > 1 ? 'DERSLER' : 'DERS' }}
              </div>
            </div>
            <div class="calendar-popup__inner">
              <div class="calendar-popup__cnt">
                <div class="calendar-lesson" v-if="lessons.list.length > 0">
                  <CalendarLessonItem
                    v-for="lesson in lessons.list"
                    :key="lesson.id"
                    :lesson="lesson"
                  />
                </div>

                <div class="calendar-non-result" v-else>
                  <div class="calendar-non-result__icon">
                    <svg-icon type="icon-lesson-item" />
                  </div>
                  <div class="calendar-non-result__title">
                    Henüz izlenmiş bir
                    <span class="color-app">Ders</span> bulunmuyor!
                  </div>
                </div>
                <div class="calendar-bottom" v-if="!passed || today">
                  <v-button
                    @click.native="goApp"
                    class="calendar-button--cta fw bg-lesson color-white-i"
                    :title="
                      lessons.status === 'none'
                        ? 'UYGULAMAYA GİT'
                        : 'UYGULAMAYA DEVAM ET'
                    "
                  />
                  <v-button
                    v-if="lessons.list.length === 0"
                    @click.native="deleteApp(date)"
                    class="calendar-button-remove button--circle"
                    icon="icon-trash"
                    icon-position="left"
                  />
                </div>
                <div class="calendar-bottom" v-else>
                  <v-button
                    class="calendar-button"
                    :class="
                      lessons.status === 'complete' ? 'completed' : 'incomplete'
                    "
                    :title="
                      lessons.status === 'complete'
                        ? 'GÖREV TAMAMLANDI'
                        : 'GÖREV TAMAMLANMADI'
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </v-popover>
    </div>
  </div>
</template>

<script>
import CalendarLessonItem from '@/components/Calendar/CalendarLessonItem'

export default {
  name: 'CalendarAppLessons',
  props: {
    date: String,
    index: Number,
    containerOffset: HTMLElement,
    lessons: Object,
    today: Boolean,
    passed: Boolean,
  },
  components: {
    // Progress,
    CalendarLessonItem,
  },
  data() {
    return {
      title: 'Ders',
      showOverlay: false,
      positionClass: '',
      transition: 'calendar-fade-left',
      active: false,
      progress: {
        value: 88,
        height: '9',
      },
    }
  },

  computed: {
    dateFuture() {
      return new Date() - new Date(this.date) > 0
    },

    isToday() {
      return (
        new Date().getDate() === new Date(this.date).getDate() &&
        new Date().getMonth() === new Date(this.date).getMonth() &&
        new Date().getFullYear() === new Date(this.date).getFullYear()
      )
    },
  },

  methods: {
    deleteApp(date) {
      this.active = false
      this.showOverlay = false
      this.deleteLoading = true
      this.$emit('onDeleteApp', false, 'lessons', date)
    },

    goApp() {
      this.$router.push('/ders')
    },

    showPopup() {
      this.showOverlay = !this.showOverlay
      this.active = !this.active
      let dayOffsetLeft = this.containerOffset.children[1].children[this.index]
        .offsetLeft
      let calendarWidth = this.containerOffset.offsetWidth
      let popup = 550
      if (popup > calendarWidth - dayOffsetLeft) {
        this.transition = 'calendar-fade-right'
        this.positionClass = 'calendar-popup--left'
      } else {
        this.transition = 'calendar-fade-left'
        this.positionClass = 'calendar-popup--right'
      }

      this.$emit('onClick')
    },
    hideOverlay() {
      this.showOverlay = false
      this.active = false
      this.$emit('onHide')
    },
  },
}
</script>
