<script>
import CalendarDay from '@/components/Calendar/CalendarDay'
import Modal from '@/components/Modal'
import VueButton from '@/core/VueButton'
import GhostCalendar from '@/core/Ghost/GhostCalendar'
import { SHOW_OVERLAY } from '@/store/actions.type'
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'Calendar',
  components: {
    CalendarDay,
    Modal,
    VueButton,
    GhostCalendar
  },
  data() {
    return {
      calendarDay: '',
      containerOffset: null,
      isLoading: true,
      showModal: false,
      week: {},
      currentAddApp: null,
      currentAddAppDay: null,
      currentAddAppDayIndex: null,
      planDate: new Date(),
      weeklyPlans: null,
      planLoaded: false,
      planDateString: null,
      swiperObj: null,
      startMonth: null,
      endMonth: null,
      swiperOption: {
        speed: 500,
        autoHeight: true,
        grabCursor: false,
        loop: false,
        centeredSlides: false,
        keyboard: true,
        slidesPerView: 3,
        pagination: {
          el: '.swiper-pagination'
        },

        breakpoints: {
          768: {
            slidesPerView: 1,
            centeredSlides: true
          }
        }
      }
    }
  },

  watch: {
    endDateStatus(e) {
      if (e && this.weeklyPlanPresent) this.getUserCalendar(this.calendarDay)
    }
  },

  computed: {
    ...mapGetters('calendar', [
      'loading',
      'loaded',
      'calendarDataExists',
      'planEndDate',
      'weeklyPlan',
      'calendarData',
      'formattedEndDate',
      'weeklyPlanStatus',
      'weeklyPlanPresent',
      'endDateStatus'
    ]),

    weekCurrentYear() {
      return new Date().getFullYear()
    },

    weekStartDate() {
      return this.buildWeekDate(0)
    },

    weekEndDate() {
      return this.buildWeekDate(6)
    },

    planDateFn() {
      if (this.planDateString !== null) {
        return new Date(this.planDateString).toISOString()
      } else {
        return new Date().toISOString()
      }
    },

    currentDay() {
      const today = new Date()
      return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
    },

    planDateExist() {
      if (this.planDate !== null) {
        return new Date(this.planDate).getTime() > 0
      } else {
        return false
      }
    },

    swiper() {
      return this.$refs.mySwiper.swiper
    },

    planCreated() {
      return this.planEndDate !== null && !this.loading
    }
  },

  created() {
    this.setCalendarDay()
    this.getUserWeeklyPlan()
  },

  mounted() {
    this.getContainerOffset()
  },

  updated() {
    if (this.calendarDataExists && !this.loading) {
      this.swiperObj = this.$refs.mySwiper.swiper
      this.swiperObj.activeIndex = new Date().getDay() - 1
    }
  },

  methods: {
    ...mapActions('calendar', [
      'getUserWeeklyPlan',
      'getUserCalendar',
      'createUserWorkPlan',
      'updateEndDate'
    ]),

    ...mapMutations('calendar', ['setEndDate', 'setCheckedDay']),

    setCalendarDay() {
      this.calendarDay = new Date().toISOString().substr(0, 10)
    },

    closeModal() {
      this.showModal = false
      console.log('calnder close modal')
      this.$store.dispatch(SHOW_OVERLAY, false)
    },

    createWorkPlan() {
      this.createUserWorkPlan(this.weeklyPlan)
      this.getUserCalendar(this.calendarDay)
      this.closeModal()
    },

    addApp(day, app, isMultiple) {
      /* const emptyAppContent = {
        status: 'none',
        list: []
      }
      const data = {
        isMultiple: isMultiple,
        app: app,
        date: day.date
      }
      console.log(data)
      const currentDay = this.week.days.find((item) => item.id === day.id)
      currentDay[app] = emptyAppContent */
    },
    getContainerOffset() {
      this.containerOffset = this.$refs.calendar
    },

    getNextWeek() {
      this.getUserCalendar(this.calendarData.nextWeek)
    },

    getPrevWeek() {
      this.getUserCalendar(this.calendarData.prevWeek)
    },

    buildWeekDate(index) {
      this.startMonth = this.buildWeekMonth(index)
      this.endMonth = this.buildWeekMonth(index)
      return new Date(this.calendarData.days[index].date).toLocaleString('tr-TR', {
        day: 'numeric'
      })
    },

    buildWeekMonth(index) {
      return new Date(this.calendarData.days[index].date).toLocaleString('tr-TR', {
        month: 'long'
      })
    },

    selectEndDate(date) {
      let data = {
        key: 'endDate',
        value: date / 1000
      }
      console.log('component: ', data.value)
      this.updateEndDate(data)
    },

    checkDay(e, plan, day) {
      let data = {
        app: plan,
        day: day,
        status: e.target.checked
      }
      this.setCheckedDay(data)
    },

    noteboxShown(val) {
      console.log('val is', val)
    }
  }
}
</script>

<template>
  <div class="calendar-container">
    <div class="calendar" ref="calendar">
      <div class="calendar-notstarted" v-if="loaded && !weeklyPlanStatus">
        <p>Çalışma Takviminizi görüntüleyebilmek için Çalışma Bitiş Tarihi belirlemelisiniz!</p>
        <VueButton text="Çalışma Planı Oluştur" primary @click.native="showModal = true" />
      </div>
      <div class="calendar-nav">
        <v-button
          class="calendar-nav__button default color-gray"
          title="ÖNCEKİ"
          icon="icon-arrow-long-left"
          icon-position="left"
          @click.native="getPrevWeek"
          :disabled="loading"
        />

        <transition name="calendar-list-fade">
          <div class="calendar-nav__date" v-if="calendarDataExists && !loading">
            <span class="calendar-nav__date--item"
              >{{ weekStartDate }} {{ startMonth }} {{ weekCurrentYear }}</span
            >
            <span class="only-desktop-inline">&nbsp;-&nbsp;</span>
            <span class="calendar-nav__date--item"
              >{{ weekEndDate }} {{ endMonth }} {{ weekCurrentYear }}</span
            >
          </div>
          <div class="ghost-calendar__date" v-else></div>
        </transition>
        <v-button
          class="calendar-nav__button default color-gray"
          title="SONRAKİ"
          icon="icon-arrow-long-right"
          icon-position="right"
          @click.native="getNextWeek"
          :disabled="loading"
        />
      </div>
      <div class="calendar-list no-tablet-m" v-if="calendarDataExists && !loading">
        <CalendarDay
          class="calendar-list__item"
          v-for="(day, $index) in calendarData.days"
          :key="day.id"
          :day="day"
          :index="$index"
          :container-offset="containerOffset"
          @addApp="addApp"
          @noteboxOpen="noteboxShown"
        />
      </div>
      <GhostCalendar v-if="planEndDate === null || loading" />
      <transition name="calendar-list-fade">
        <swiper
          :options="swiperOption"
          ref="mySwiper"
          class="only-tablet-m swiper-calendar"
          v-if="calendarDataExists && !loading"
        >
          <swiper-slide v-for="(day, $index) in calendarData.days" :key="`calendarDay${$index}`">
            <CalendarDay
              class="calendar-list__item"
              :key="day.id"
              :day="day"
              :index="$index"
              :container-offset="containerOffset"
              @addApp="addApp"
              @noteboxOpen="noteboxShown"
            />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </transition>
    </div>

    <modal
      :active="showModal"
      v-if="!weeklyPlanStatus"
      modal-class="plan-modal"
      @onModalClose="closeModal"
    >
      <div class="plan-modal-header" slot="header">
        <div class="plan-modal-header__title">Çalışma Takvimini Düzenle</div>
        <div class="plan-modal-header__txt">
          Yapacağınız değişiklikler takviminizdeki program üzerinde ve çalışma yoğunluğunuzda
          değişiklikler yapar.
        </div>
      </div>
      <div class="plan-modal__content" slot="content" v-if="weeklyPlan">
        <div class="plan-modal-date">
          {{ weeklyPlan.setEndDate }}
          <div class="plan-modal-date__head">ÇALIŞMA BİTİŞ TARİHİ :</div>
          <div class="plan-modal-date__select">
            <v-date-picker
              :value="formattedEndDate"
              mode="single"
              :min-date="new Date()"
              :firstDayOfWeek="2"
              :popover="{ placement: 'bottom-end' }"
              locale="tr"
              @input="selectEndDate"
            />
            <span class="plan-modal-date__caret"></span>
          </div>
        </div>
        <div class="plan-apps">
          <div class="plan-apps__item" v-for="plan in weeklyPlan.apps" :key="plan.id">
            <div class="plan-apps__left">
              <span class="plan-apps__icon"></span>
              <div class="plan-apps__title">{{ plan.title }}</div>
            </div>
            <div class="plan-apps__list">
              <label class="plan-apps-btn" v-for="day in plan.days" :key="day.id">
                <input
                  type="checkbox"
                  :checked="day.checked"
                  :value="day.checked"
                  @input="checkDay($event, plan.app, day.id)"
                  class="plan-apps-btn__input"
                />
                <span class="plan-apps-btn__box" :class="'color-' + plan.app">
                  <span class="plan-apps-btn__title">{{ day.title }}</span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="plan-modal__footer" slot="footer">
        <VueButton text="Kaydet" primary @click.native="createWorkPlan" />
      </div>
    </modal>
  </div>
</template>

<style lang="scss">
.swiper-calendar {
  z-index: 260;
  overflow: visible !important;
  overflow-x: hidden !important;
}
@import '../../assets/scss/components/calendar';
@import '../../assets/scss/ghost/ghost-home-page';
.calendar-list-fade-enter-active {
  transition: opacity 0.25s ease-in-out;
  /*transition-delay: .25s;*/
}
.calendar-list-fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.calendar-list-fade-enter {
  opacity: 0;
}
.calendar-list-fade-leave-to {
  opacity: 0;
}
</style>
