<template>
  <div class="detail-page reading-detail" :class="{ 'dark-mode': getDarkMode }">
    <div class="detail-header">
      <div class="custom-container reading-container" ref="container">
        <div class="detail-ctr">
          <div class="detail-ctr__item">
            <v-button
              @click.native="setDarkMode"
              class="button--circle circle-xs simple darkmode-button"
              icon="icon-lamp"
              icon-position="left"
              v-tooltip="'Gece Modu'"
            />
          </div>
        </div>
        <div class="detail-header__wrp reading-details" v-if="!isLoading">
          <div
            class="reading-detail__inner"
            ref="readingContent"
            id="readingContent"
          >
            <div class="reading-detail__inner--box">
              <div class="reading-detail__header">
                <img
                  :src="reading.img"
                  alt
                  class="reading-detail__img"
                  v-if="Object.entries(reading.img).length != 0"
                />
                <div class="reading-detail__header--contents">
                  <div class="reading-detail__title">{{ reading.title }}</div>
                  <transition name="fade">
                    <div
                      class="reading-detail__translation"
                      v-if="showTranslate"
                    >
                      {{ reading.title_translation }}
                    </div>
                  </transition>
                  <div class="reading-detail__tags">
                    <span
                      class="reading-detail__tag"
                      v-for="tag in reading.tags"
                      :key="tag"
                      >#{{ tag }}</span
                    >
                  </div>
                </div>
              </div>
              <div
                class="reading-detail__cnt static-content"
                id="readingContent"
                :style="{ fontSize: currentFontSize + 'px' }"
                v-on-clickaway="hideTooltip"
              >
                <transition name="fade">
                  <div
                    class="reading-tooltip"
                    v-if="showTooltip"
                    :style="{
                      top: offsetTop + 'px',
                      left: offsetLeft,
                      right: offsetRight,
                    }"
                  >
                    <p class="font-default">{{ selectedText }}</p>
                    <span
                      :style="{ left: offsetRight !== 'auto' ? '80%' : '50%' }"
                      class="reading-tooltip__caret"
                    ></span>
                  </div>
                </transition>
                <highlightable slot="content" content-type="reading">
                  <div v-if="textsLoading && !textsLoaded">
                    <div class="preloader-dots mb-25">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </div>
                  </div>
                  <div
                    class="reading-detail__txt"
                    v-for="(text, index) in reading.texts"
                    :key="index"
                    :ref="index"
                    @click="showText(index, $event)"
                    :class="[
                      {
                        active:
                          speak &&
                          (index === currentSentence - 1 ||
                            activeSentece(index)),
                      },
                      { nohover: showTranslate },
                    ]"
                  >
                    <p class="text-en">
                      <span
                        v-for="(word, wordIndex) in text.english.split(' ')"
                        :key="wordIndex"
                        :ref="'wordIndex_' + index + '_' + wordIndex"
                        v-html="word + wordSuffix(text.english, wordIndex)"
                      >
                        <!-- {{ word + wordSuffix(text.english, wordIndex) }} -->
                      </span>
                    </p>
                    <br v-if="showTranslate" />
                    <transition name="fade">
                      <p v-if="showTranslate" class="reading-detail__translate">
                        {{ text.turkish }}
                        <br />
                      </p>
                    </transition>
                  </div>
                </highlightable>
              </div>
            </div>
            <transition name="fade">
              <div class="reading-ctr" v-show="showControls">
                <div class="reading-ctr__top">
                  <v-button
                    class="button--circle circle-sm simple"
                    icon="icon-translate"
                    icon-position="left"
                    @click.native="showTranslate = !showTranslate"
                    :class="{ active: showTranslate }"
                    v-tooltip.left="{
                      content: 'Çevir',
                      offset: '5',
                    }"
                  />
                  <v-button
                    class="button--circle circle-sm simple"
                    icon="icon-languages"
                    icon-position="left"
                    @click.native="changeFontSize"
                    v-tooltip.left="{
                      content: 'Büyüt / Küçült',
                      offset: '5',
                    }"
                  />
                  <BaseButton
                    class="reading-ctr__voice"
                    :icon="'voice'"
                    :styling="'circle'"
                    :class="{ 'is-active': speak }"
                    v-tooltip.left="{
                      content: speaking ? 'Durdur' : 'Dinle',
                      offset: '5',
                    }"
                    @click="runUtterance"
                  />

                  <transition-group name="scale-fade">
                    <v-button
                      @click.native="replay"
                      class="button--circle circle-sm simple icon-md"
                      icon="icon-reload"
                      icon-position="left"
                      v-tooltip.left="{
                        content: 'Başa Sar',
                        offset: '5',
                      }"
                      v-if="speak"
                      :key="1"
                    />
                    <div v-if="speak" :key="2">
                      <v-button
                        @click.native="playText"
                        class="button--circle circle-sm simple icon-md"
                        icon="icon-play"
                        icon-position="left"
                        v-tooltip.left="{
                          content: 'Oynat',
                          offset: '5',
                        }"
                        v-if="speak && !speaking"
                      />
                      <v-button
                        @click.native="pauseText"
                        class="button--circle circle-sm simple icon-md"
                        icon="icon-pause"
                        icon-position="left"
                        v-tooltip.left="{
                          content: 'Duraklat',
                          offset: '5',
                        }"
                        v-if="speaking"
                      />
                    </div>
                    <v-button
                      @click.native="runReader"
                      @mousedown.native="setTextLoading"
                      class="button--circle circle-sm simple icon-md"
                      icon="icon-exclamation"
                      icon-position="left"
                      v-tooltip.left="{
                        content: 'Ses Duymuyorum',
                        offset: '5',
                      }"
                      v-if="speak && !useGoogleApi"
                      :key="3"
                    />
                  </transition-group>
                </div>
              </div>
            </transition>

            <div
              class="reading-ctr-mobile nonfixed"
              v-if="!isLoading"
              ref="readingCtrNonFixed"
              id="readingCtrNonFixed"
            >
              <div class="reading-ctr" v-show="showControls">
                <div class="reading-ctr__top">
                  <v-button
                    class="button--circle circle-sm simple"
                    icon="icon-translate"
                    icon-position="left"
                    @click.native="showTranslate = !showTranslate"
                    :class="{ active: showTranslate }"
                    tooltip="Çevir"
                  />
                  <v-button
                    class="button--circle circle-sm simple"
                    icon="icon-languages"
                    icon-position="left"
                    @click.native="changeFontSize"
                    tooltip="Büyüt / Küçült"
                  />
                  <v-button
                    @click.native="runUtterance"
                    class="button--circle circle-sm simple icon-md reading-ctr__voice"
                    :class="{ active: speak }"
                    icon="icon-voice"
                    icon-position="left"
                    tooltip="Dinle"
                  />

                  <transition-group name="scale-fade">
                    <v-button
                      @click.native="replay"
                      class="button--circle circle-sm simple icon-md reading-ctr-mobile__btn reading-ctr-mobile__other-btn"
                      icon="icon-reload"
                      icon-position="left"
                      tooltip="Başa sar"
                      v-if="speak"
                      :key="1"
                    />
                    <div
                      v-if="speak"
                      :key="2"
                      class="ctr-button-opn-mobile reading-ctr-mobile__other-btn"
                    >
                      <v-button
                        @click.native="playText"
                        class="button--circle circle-sm simple icon-md reading-ctr-mobile__btn"
                        icon="icon-play"
                        icon-position="left"
                        tooltip="Oynat"
                        v-if="speak && !speaking"
                      />
                      <v-button
                        @click.native="pauseText"
                        class="button--circle circle-sm simple icon-md reading-ctr-mobile__btn"
                        icon="icon-pause"
                        icon-position="left"
                        tooltip="Duraklat"
                        v-if="speaking"
                      />
                    </div>
                    <v-button
                      @click.native="runReader"
                      @mousedown.native="setTextLoading"
                      class="button--circle circle-sm simple icon-md"
                      icon="icon-exclamation"
                      icon-position="left"
                      v-tooltip.left="{
                        content: 'Ses Duymuyorum',
                        offset: '5',
                      }"
                      v-if="speak && !useGoogleApi"
                      :key="3"
                    />
                  </transition-group>
                </div>
              </div>
            </div>
          </div>
          <ReadingDetailTab
            class="reading-tabspace"
            :reading="reading"
            v-if="!isLoading"
          />
        </div>
        <div class="reading-details" v-if="isLoading">
          <GhostReadingDetailMain />
          <GhostReadingDetailWords />
        </div>
        <div class="detail-right" ref="controls">
          <v-link
            class="simple xs icon-xs round detail-close"
            :to="{ name: 'ReadingsList', params: { memorize: true } }"
            title="KAPAT"
            icon="icon-close"
            icon-position="right"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as http from '../../services/readings.service'
import { gspeakNew } from '@/common/helpers'
import { mixin as clickaway } from 'vue-clickaway'
import { mapGetters } from 'vuex'
import {
  SHOW_OVERLAY,
  SHOW_KEYPRESS,
  SWITCH_DARKMODE,
} from '@/store/actions.type'
import GhostReadingDetailMain from '@/core/Ghost/GhostReadingDetailMain'
import GhostReadingDetailWords from '@/core/Ghost/GhostReadingDetailWords'
import ReadingDetailTab from '@/components/Reading/ReadingDetailTab'
import Highlightable from '@/components/Highlightable'
import BaseButton from '../../components/Base/BaseButton.vue'

export default {
  name: 'ReadingsDetail',
  mixins: [clickaway],
  components: {
    ReadingDetailTab,
    GhostReadingDetailMain,
    GhostReadingDetailWords,
    Highlightable,
    BaseButton,
  },
  data() {
    return {
      toolbarOffset: 0,
      speak: false,
      speaking: false,
      showTranslate: false,
      showTooltip: false,
      showControls: true,
      offsetTop: 0,
      offsetLeft: 'auto',
      offsetWidth: 0,
      offsetRight: 'auto',
      selectedText: '',
      currentFontSize: 17,
      minFontSize: 15,
      maxFontSize: 25,
      reading: [],
      isLoading: true,
      fileUrl: '',
      prevIndex: null,
      scrollPos: 0,
      currentSentence: 0,
      reader: new Audio(),
      readerTexts: [],
      textsLoading: false,
      textsLoaded: false,
      readingStarted: false,
      sentenceIndex: -1,
      speechLang: [],
      utterances: [],
      synth: window.speechSynthesis,
      useGoogleApi: false,
      utteranceTexts: [],
    }
  },

  watch: {
    readingStarted(val) {
      if (val) this.textsLoading = true
    },
  },

  computed: {
    ...mapGetters(['showOverlay', 'showKeypress', 'getDarkMode']),

    image() {
      return this.reading.img
        ? require('@/assets/img/' + this.reading.img + '.jpg')
        : null
    },

    scrollAmount() {
      return this.scrollPos + screen.height > this.toolbarOffset
    },
  },

  created() {
    window.addEventListener('scroll', this.getScroll)
    let readingItem = this.$route.params.id
    let readingList = this.$route.params.list
    let self = this
    http.reading(readingItem, readingList).then(({ data }) => {
      self.reading = data[0]
      self.isLoading = false
      self.fileUrl = data[0].pdf
      document.title = `${data[0].title} | Okuma | RH+ Platform`
      this.$route.meta.title = data[0].title
    })
    http.read(readingItem, readingList)
  },

  mounted() {
    this.getVoicesWithLangSubstring('en-US')
    document.querySelector('body').classList.add('remove-overflow')
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    getVoicesWithLangSubstring(langSubstr) {
      this.speechLang = speechSynthesis
        .getVoices()
        .filter(
          v =>
            v.lang.replace('_', '-').substring(0, langSubstr.length) ===
            langSubstr
        )
    },

    activeSentece(index) {
      return this.showTooltip && this.sentenceIndex === index
    },

    startReading() {
      if (this.synth.speaking) this.synth.cancel()
      this.readingStarted = true
      this.textsLoading = false
      if (this.readerTexts.length === 0) this.setReaderTexts()
      this.speak = true
      this.speaking = true
      this.readArticleTexts(this.readerTexts)
    },

    stopReading() {
      this.speaking = false
      this.speak = false
      this.reader.pause()
      this.reader.currentTime = 0
      this.reader.src = ''
      this.currentSentence = 0
      this.reader.removeEventListener('ended', this.readerFunction())
    },

    playNextText() {
      this.reader.src =
        'data:audio/mpeg;base64,' + this.readerTexts[this.currentSentence]
      this.reader.currentTime = 0
      this.reader.play()
      this.currentSentence++
    },

    readerFunction() {
      if (this.currentSentence < this.readerTexts.length) {
        if (this.reader.ended) this.playNextText()
      } else {
        this.stopReading()
      }
    },

    readArticleTexts(sounds) {
      if (sounds.length) {
        this.playNextText()
        this.reader.addEventListener('ended', this.readerFunction)
      }
    },

    async setReaderTexts() {
      let textList = []
      this.reading.texts.forEach(el => {
        let item = el.english.replace(/<\/?[^>]+(>|$)/g, '')
        textList.push(item)
      })
      await textList.forEach(el => {
        let item = gspeakNew(el)
        this.readerTexts.push(item)
      })
      this.textsLoaded = true
      this.textsLoading = false
      this.currentSentence = 0
    },

    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },

    keypressToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_KEYPRESS, !this.showKeypress)
    },

    setTextLoading() {
      this.textsLoading = true
      this.currentSentence = 0
    },

    wordSuffix(sentence, index) {
      return sentence.split(' ').length - 1 === index ? '' : ' '
    },

    showText(index, e) {
      this.sentenceIndex = index
      this.offsetTop = this.$refs[index][0].offsetTop + 20
      this.showTooltip = true
      let selected = this.reading.texts[index]
      this.selectedText = selected.turkish
      if (e.target.offsetHeight > 50) {
        this.offsetRight = 0 + 'px'
        this.offsetLeft = 'auto'
      } else {
        this.offsetRight = 'auto'
        this.offsetLeft = this.$refs[index][0].offsetLeft + 'px'
      }
    },

    hideTooltip() {
      this.showTooltip = false
      this.selectedText = ''
      this.offsetTop = 0
      this.prevIndex = null
      this.reading.texts.forEach((item, index) => {
        item.active = false
      })
    },

    changeFontSize() {
      if (this.currentFontSize === this.maxFontSize) {
        this.currentFontSize = this.minFontSize
      } else {
        this.currentFontSize += 2
      }
    },

    getScroll() {
      this.scrollPos = window.scrollY
      return this.scrollPos
    },

    runReader() {
      this.textsLoading = true
      this.useGoogleApi = true
      this.pauseText()
      this.handleGoogleReader()
    },

    handleGoogleReader() {
      !this.speaking ? this.startReading() : this.stopReading()
    },

    utteranceReader(sounds) {
      if (sounds.length) {
        this.playNextText()
        this.reader.addEventListener('ended', this.readerFunction)
      }
    },

    runUtterance() {
      if (!this.useGoogleApi) {
        this.textsLoading = false
        if (this.speaking) {
          this.synth.cancel()
          this.speak = false
          this.speaking = false
          return
        }

        this.utteranceTexts = this.reading.texts.map(text => text.english)
        this.currentSentence = 1

        this.uttSpeakerHelper()
      } else {
        if (this.speak) {
          this.pauseText()
          this.speak = false
          this.currentSentence = 0
        } else {
          this.handleGoogleReader()
        }
      }
    },

    uttSpeakerHelper() {
      let engVoice = null
      let voices = []

      function setSpeech(synth) {
        return new Promise(function(resolve, reject) {
          let id
          id = setInterval(() => {
            if (synth.getVoices().length !== 0) {
              resolve(synth.getVoices())
              clearInterval(id)
            }
          }, 10)
        })
      }

      setSpeech(this.synth).then(voiceList => {
        voices = voiceList
        engVoice = voices.find(v => v.lang === 'en-US')
      })

      this.utteranceTexts.forEach((sentence, index) => {
        let utterance = new SpeechSynthesisUtterance(sentence)
        utterance.lang = 'en-US'
        utterance.rate = 0.85
        utterance.voice = engVoice
        if (index === this.utteranceTexts.length - 1) {
          utterance.onend = e => {
            this.speak = false
            this.speaking = false
          }
        }
        this.utterances.push(utterance)
        this.synth.speak(utterance)
        this.speaking = true
        this.speak = true
        utterance.addEventListener('end', e => {
          this.currentSentence++
        })
      })
    },

    replay() {
      if (this.useGoogleApi) {
        this.stopReading()
        this.startReading()
      } else {
        this.synth.cancel()
        this.currentSentence = 0
        this.uttSpeakerHelper()
      }
    },

    playText() {
      this.useGoogleApi ? this.reader.play() : this.synth.resume()
      this.speaking = true
    },

    pauseText() {
      this.useGoogleApi ? this.reader.pause() : this.synth.pause()
      this.speaking = false
    },
  },

  destroyed() {
    window.removeEventListener('scroll', this.getScroll)
    document.querySelector('body').classList.remove('remove-overflow')
    this.reader.pause()
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.text-en {
  & > span {
    pointer-events: none !important;
  }
}

.reading-ctr__voice.is-active {
  background: #fff;
  color: $c-alt;
  margin-bottom: 1rem;
}
</style>
