<script>
import * as http from '../../services/readings.service'
import { toggleTour } from '../../services/user.service'
import { mapActions, mapGetters } from 'vuex'

import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'
import GhostReadingItem from '@/core/Ghost/GhostReadingItem'

import VueEmpty from '@/core/VueEmpty'
import VueFilter from '@/core/VueFilter'
import AppHeader from '@/core/AppHeader'

import ReadingItem from '@/components/Reading/ReadingItem'

export default {
  name: 'ReadingsList',
  components: {
    GhostAppHeader,
    GhostReadingItem,
    VueEmpty,
    VueFilter,
    GhostVueFilter,
    AppHeader,
    ReadingItem
  },
  data() {
    return {
      info: {
        name: 'readings',
        link: '/okuma',
        title: 'Okuma',
        icon: require('@/assets/img/app-reading-white.svg'),
        background: '#813f8e',
        gradient:
          'linear-gradient(to left, rgba(129, 63, 142, 1), rgba(129, 63, 142, .0))',
        what: null,
        video: null,
        howWorks: null,
        has_tour: false
      },
      groups: [],
      filters: {
        groupId: null,
        isRead: null,
        levelId: null,
        page: 1
      },
      readFilterItems: [
        {
          value: 1,
          title: 'Okudum'
        },
        {
          value: 0,
          title: 'Okumadım'
        },
        {
          value: -1,
          title: 'Tümü'
        }
      ],
      levelFilterItems: [],
      tourSteps: [
        {
          target: '.subpage-tab', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza okuma parçaları tanımlanır. Grup seçerek sahip olduğunuz okuma parçalarını filtreyebilirsiniz.</p>`
        },
        {
          target: '.subpage-tab-more__btn', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Diğer Ürün Grupları</strong> <p class="guide-desc">Üçten fazla ürün grubuna sahipseniz diğer grupları görüntüleyebilirsiniz.</p>`
        },
        {
          target: '#ReadingLevels', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Zorluk Seviyeleri</strong> <p class="guide-desc">Okuma parçalarını zorluk seviyesine göre filtreleyebilirsiniz böylece seviyenize göre içeriklerle çalışabilirsiniz.</p>`
        },
        {
          target: '.page-content-filters__right', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Filtreler</strong> <p class="guide-desc">Okuma parçalarını okunup okunmama durumuna göre filtreleyebilirsiniz. Bir parçanın içerisine girerek zaman geçirdiğinizde okundu olarak işaretlenir.</p>`
        },

        {
          target: '.page-content-items .reading-item:nth-child(1)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Okuma Parçaları</strong> <p class="guide-desc">Okuma parçalarının içeriğine göre tahmini okunma süresi, içeriğindeki kelime grupları ve soruların çözülme durumu gösterilir. Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir okuma parçasına tıklayarak içerisine girebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        }
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      tourCallbacks: {
        onStop: this.finishTour
      }
    }
  },
  computed: {
    ...mapGetters('readingList', [
      'readings',
      'isLoading',
      'isLoaded',
      'loadingMore',
      'hasMore'
    ]),

    groupsLoaded() {
      return this.groups.length > 0
    },

    dataLoaded() {
      return this.groupsLoaded && this.isLoaded
    }
  },

  watch: {
    dataLoaded(data) {
      let tour = this.info.has_tour === true || this.info.has_tour === 'true'
      if (data && tour) this.startTour()
    }
  },

  created() {
    this.getHeaderData()
  },
  mounted() {
    this.setGroupFilterData()
    this.setLevelFilterData()
    this.setReadFilterData()
    this.getReadingsList(this.filters)
    this.$store.dispatch('rosette/getBadges')
  },
  methods: {
    ...mapActions('readingList', [
      'getReadings',
      'getReadingsList',
      'getReadingsByGroup',
      'loadNext'
    ]),

    getHeaderData() {
      http.info().then((res) => {
        this.groups = res.data.groups
        this.levelFilterItems = res.data.levels

        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    setGroupFilterData() {
      if (
        localStorage.readingGroup === undefined ||
        isNaN(localStorage.readingGroup)
      ) {
        localStorage.readingGroup = -1
      }
      this.filters.groupId = localStorage.readingGroup
    },

    setReadFilterData() {
      if (
        localStorage.readingRead === undefined ||
        isNaN(localStorage.readingRead)
      ) {
        localStorage.readingRead = -1
      }
      this.filters.isRead = localStorage.readingRead
    },

    setLevelFilterData() {
      if (
        localStorage.digibookOrder === undefined ||
        isNaN(localStorage.readingLevel)
      ) {
        localStorage.readingLevel = -1
      }
      this.filters.levelId = localStorage.readingLevel
    },

    setReadFilter(filter) {
      localStorage.readingRead = filter
      this.filters.isRead = localStorage.readingRead
      this.filters.page = 1
      this.getReadingsList(this.filters)
    },

    setLevelFilter(filter) {
      localStorage.readingLevel = filter
      this.filters.levelId = localStorage.readingLevel
      this.filters.page = 1
      this.getReadingsList(this.filters)
    },

    setFilters(group, read, level) {
      /* Sekme değişiminde localStorage'i sıfırlıyoruz. */
      localStorage.readingGroup = group
      localStorage.readingRead = read
      localStorage.readingLevel = level

      /* Filtreleri localStorage verilerine eşliyoruz. */
      this.filters.groupId = localStorage.readingGroup
      this.filters.isRead = localStorage.readingRead
      this.filters.levelId = localStorage.readingLevel
    },

    setTab(tab) {
      this.filters.page = 1
      this.setFilters(tab.id, -1, -1)
      this.getReadingsByGroup(this.filters.groupId)
    },

    setTitle(val) {
      document.title = `${val} | Okumasss | RH+ Platform`
    },

    loadMoreItems() {
      this.filters.page++
      this.loadNext(this.filters)
    },

    startTour() {
      this.$tours['readingsTour'].start()
    },

    finishTour() {
      toggleTour('readings', false)
    }
  }
}
</script>

<template>
  <div class="page" :class="$route.name">
    <AppHeader
      v-if="groupsLoaded"
      :info="info"
      :groups="groups"
      :lastGroup="filters.groupId"
      @onTabClick="setTab"
    />
    <GhostAppHeader app="readings" v-else />
    <container class="page-container">
      <section class="page-content-filters">
        <div class="page-content-filters__left">
          <VueFilter
            id="ReadingLevels"
            :items="levelFilterItems"
            v-if="groupsLoaded"
            :lastFilter="filters.levelId"
            @filterItems="setLevelFilter"
          />
          <GhostVueFilter v-else />
        </div>
        <div class="page-content-filters__right">
          <VueFilter
            :items="readFilterItems"
            v-if="groupsLoaded"
            :lastFilter="filters.isRead"
            @filterItems="setReadFilter"
          />
          <GhostVueFilter v-else />
        </div>
      </section>
      <section class="page-content-items" v-if="!isLoading && groupsLoaded">
        <reading-item
          v-for="reading in readings"
          :key="reading.id"
          :reading="reading"
          @click.native="setTitle(reading.title)"
        />
        <template v-if="hasMore">
          <scroll-loader
            key="scrollLoader"
            class="scroll-loader"
            :loader-method="loadMoreItems"
            :loader-enable="hasMore"
          >
            <GhostReadingItem v-for="n in 2" :key="n" />
          </scroll-loader>
        </template>
      </section>
      <section class="page-content-items" v-else>
        <GhostReadingItem v-for="n in 6" :key="n" />
      </section>
      <transition name="fade-fast">
        <VueEmpty v-if="isLoaded && !isLoading && readings.length === 0" />
      </transition>
    </container>
    <v-tour
      name="readingsTour"
      :steps="tourSteps"
      :options="tourOptions"
      :callbacks="tourCallbacks"
    ></v-tour>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/components/reading';
</style>
