<script>
export default {
  name: 'DigibookIntro',
}
</script>

<template>
  <div class="digibook-cover">
    <slot name="cover"> </slot>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/breakpoints';

.digibook-cover {
  width: 450px;
  height: auto;
  border-radius: 3rem;
  overflow: hidden;

  @include bp(tablet) {
    width: 70%;
  }

  & > img {
    display: block;
    width: 100%;
    height: auto;
  }
}
</style>
