<script>
import { millisToMinutesAndSeconds } from '../../common/helpers'
import BaseButton from '../Base/BaseButton.vue'

export default {
  name: 'DigibookTimer',

  components: {
    BaseButton,
  },

  data() {
    return {
      passingTime: 0,
      showControls: false,
      playing: false,
      paused: true,
      timer: null,
      isTimerPlaying: false,
    }
  },

  computed: {
    buttonIntent() {
      return this.showControls ? 'info' : ''
    },
  },

  destroyed() {
    this.reset()
  },

  methods: {
    handleTimer() {
      if (this.passingTime === 0 && !this.showControls) {
        this.play()
      }
      this.showControls = !this.showControls
    },

    convertToMinuteSecond(ms) {
      return millisToMinutesAndSeconds(ms)
    },

    play() {
      this.playing = true
      this.timer = setInterval(() => {
        this.passingTime = parseInt(this.passingTime, 10) + 1000
      }, 1000)
    },

    pause() {
      this.playing = false
      clearInterval(this.timer)
    },

    reset() {
      this.passingTime = 0
      this.playing = false
      clearInterval(this.timer)
    },
  },
}
</script>

<template>
  <div class="digibook-timer">
    <BaseButton
      class="digibook-timer__time"
      v-tooltip.left="{
        content: 'Kronometre',
        offset: 5,
      }"
      :intent="buttonIntent"
      :icon="'timer'"
      :block="true"
      :iconSize="16"
      :text="convertToMinuteSecond(passingTime)"
      @click="handleTimer"
    />
    <transition name="fade" mode="out-in">
      <template v-if="showControls">
        <div class="digibook-timer-controls">
          <BaseButton
            class="digibook-timer-controls__control"
            v-tooltip.left="{
              content: 'Devam Et',
              offset: 5,
            }"
            :icon="'play'"
            :iconSize="16"
            :styling="'circle'"
            @click="play"
            v-if="!playing"
          />
          <BaseButton
            class="digibook-timer-controls__control"
            v-tooltip.left="{
              content: 'Duraklat',
              offset: 5,
            }"
            :icon="'pause'"
            :iconSize="16"
            :styling="'circle'"
            @click="pause"
            v-if="playing"
          />
          <BaseButton
            class="digibook-timer-controls__control"
            v-tooltip.left="{
              content: 'Sıfırla',
              offset: 5,
            }"
            :icon="'reload'"
            :iconSize="16"
            :styling="'circle'"
            @click="reset"
          />
        </div>
      </template>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.digibook-timer {
  &__time {
    &::v-deep .base-button {
      &__icon {
        height: 1rem;
      }

      &__text {
        flex: 1 1 auto;
        margin-left: 0;
      }
    }
  }
  &-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    &__control + &__control {
      margin-top: 1rem;
    }
  }
}
</style>
