<template>
  <router-link :to="routeTarget" class="digi-card">
    <div class="digi-card-cover">
      <img :src="digibook.cover" alt class="digi-card-cover__img" />
    </div>
    <div class="digi-card__cnt">
      <div class="digi-card__title">{{ digibook.title }}</div>
      <div class="digi-card__txt">{{ digibook.desc }}</div>
      <div class="digi-card-progress">
        <Progress :progress-val="digibook.progress" height="15" />
        <div class="digi-card-progress__val">
          {{ digibook.progress }}
          <small>%</small>
        </div>
      </div>
      <!-- <div class="digi-card-inf" @click.prevent="noPush"> -->
      <div class="digi-card-inf">
        <div class="digi-card-inf__title" v-bind:class="[MoreActive ? '' : 'active']">
          İlgili Ders Grupları:
        </div>
        <div class="digi-card-group" v-if="digibookGroups.length === 0">
          <div
            class="digi-card-group__item"
            v-tooltip="group.title"
            v-for="(group, index) in digibook.groups.slice(0, 4)"
            :key="`group1_${index}`"
          >
            <img :src="group.icon" alt class="icon" />
          </div>
          <div
            class="digi-card-group__item more-item tooltip-btn"
            v-bind:class="[MoreActive ? '' : 'active']"
            v-tooltip="{ content: group.title, classes: 'tooltip-singleline' }"
            v-for="(group, index) in digibook.groups.slice(4, 99)"
            :key="`group2_${index}`"
          >
            <img :src="group.icon" alt class="icon" />
          </div>
        </div>
        <div
          class="digi-card-group__btn"
          v-bind:class="[MoreActive ? '' : 'active']"
          v-show="digibook.groups.length >= 5"
        >
          <!-- @click="ShowMoreGroups()" -->
          <span class="digi-card-group__number">+{{ digibook.groups.length - 4 }}</span>
          <span class="digi-card-group__close">
            <svg-icon type="icon-close" />
          </span>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'DigibookItem',
  components: {
    Progress,
  },
  props: {
    digibook: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      MoreActive: true,
    }
  },

  computed: {
    digibookGroups() {
      return this.digibook.groups.filter(item => item.isMoreGroups)
    },

    routeTarget() {
      let target = null
      if (this.$route.name === 'DigibookList') {
        target = 'DigibookDetail'
      } else {
        target = 'DigibookDetailNew'
      }
      return { name: target, params: { id: this.digibook.id, cover: this.digibook.cover } }
    },
  },

  methods: {
    ShowMoreGroups: function() {
      if (this.MoreActive) {
        this.MoreActive = false
      } else {
        this.MoreActive = true
      }
    },

    noPush() {
      this.$router.push({ name: 'Digibook' })
    },
  },
}
</script>
