<script>
export default {
  name: 'DigibookContent',

  props: {
    hasTitle: {
      type: Boolean,
      default: true,
    },

    hasOuterTitle: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<template>
  <div class="digibook-content">
    <h1 class="digibook-content-outertitle" v-if="hasOuterTitle">
      <slot name="outer-title" />
    </h1>
    <div class="digibook-content-item">
      <h2 class="digibook-content-item__title" v-if="hasTitle">
        <slot name="title" />
      </h2>
      <div class="digibook-content-item__content">
        <slot name="content" />
      </div>
    </div>
    <div class="digibook-content-button">
      <slot name="button" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.digibook-content {
  &-outertitle {
    text-align: center;
    color: var(--color-primary);
    transition: color 0.3s;
    font-weight: 700;
  }

  &-outertitle {
    padding-bottom: 0.5rem;
    user-select: none;
  }

  &-item {
    background: var(--background-color-light);
    transition: background 0.3s;
    border-radius: 1rem;

    &__title {
      padding: 1.5rem;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 700;
      margin: 0;
      color: var(--color-primary);
      transition: color 0.3s, border-bottom 0.3s;
      border-bottom: 1px solid var(--color-border-light);
      user-select: none;
    }

    &__content {
      // padding: 0.5rem 0;
      color: $c-text;
      font-size: 1rem !important;
      max-width: 100%;
    }
  }

  &-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
</style>
