<script>
import { fastTranslation } from '../../common/helpers'
export default {
  name: 'DigibookQuestionOption',

  props: {
    option: {
      type: Object,
      required: true,
      default: () => {},
    },

    locked: {
      type: Boolean,
      required: true,
      default: false,
    },

    answerId: {
      type: Number,
      required: false,
    },

    translation: {
      type: String,
      required: false,
    },
  },

  computed: {
    selectedAnswer() {
      return this.answerId === this.option.id
    },

    correctAnswer() {
      return this.locked && this.option.correctOption
    },

    wrongAnswer() {
      return (
        this.locked &&
        this.option.id === this.answerId &&
        !this.option.correctOption
      )
    }
  },

  methods: {
    handleItemClick() {
      if (!this.locked) this.$emit('option-select', this.option.id)
    },

    useDictionary: fastTranslation,
  },
}
</script>

<template>
  <div
    class="digibook-test-options-item"
    :class="{
      'is-locked': locked,
      'is-selected': selectedAnswer,
      'is-correct': correctAnswer,
      'is-wrong': wrongAnswer,
    }"
    @click="handleItemClick"
    v-tooltip.top-start="{
      content: translation,
      classes: ['tooltip-singleline-auto-left'],
      boundariesElement: '.digibook-block-options',
      container: false,
    }"
  >
    <span class="digibook-test-options-item__key">{{ option.key }}</span>
    <span class="digibook-test-options-item__text" @mouseup="useDictionary">{{
      option.title
    }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.digibook-test-options-item {
  transition: 0.15s;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 255px;
  font-size: 1rem;
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }

  &:not(.is-locked):not(.is-selected):hover {
    background: var(--background-color);
    color: var(--color-text);

    .digibook-test-options-item__key {
      box-shadow: 0 0 0 3px $c-default;
    }
  }

  &:not(.is-locked):not(.is-selected):active {
    background: var(--background-color);
  }

  &.is-locked {
    cursor: default;

    &.is-selected,
    &.is-correct {
      .digibook-test-options-item__text {
        font-weight: 700;
      }
    }
  }

  &.is-selected {
    background: var(--background-color);
    color: var(--color-text);

    .digibook-test-options-item__key {
      box-shadow: 0 0 0 3px $c-alt;
    }
  }

  &.is-correct {
    .digibook-test-options-item__key {
      box-shadow: 0 0 0 3px $c-success;
      color: $c-text-dark;
    }

    .digibook-test-options-item__text {
      color: $c-success;
    }
  }

  &.is-wrong {
    .digibook-test-options-item__key {
      box-shadow: 0 0 0 3px $c-error;
      color: $c-text-dark;
    }

    .digibook-test-options-item__text {
      color: $c-error;
    }
  }

  &__key {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    width: 2rem;
    height: 2rem;
    flex: 0 0 2rem;
    border-radius: 1rem;
    user-select: none;
    box-shadow: 0 0 0 1px var(--color-border-light);
    background: var(--background-color-light);
    transition: box-shadow 0.3s, background 0.3s;
  }

  &__text {
    margin-left: 1rem;
  }
}
</style>
