<script>
import BaseIcon from '../Base/BaseIcon'
import { digibookToolsMixin } from '../../mixins/digibook-tools-mixin'
import { mapGetters } from 'vuex'

export default {
  name: 'DigibookTools',

  mixins: [digibookToolsMixin],

  components: {
    Icon: BaseIcon,
  },

  props: {
    tools: {
      type: Array,
      default: () => [],
    },

    pieceType: {
      type: String,
      default: 'test',
    },

    pieceId: {
      type: Number,
      default: 0,
      required: true,
    },

    activeTools: {
      type: Array,
      default: () => [],
    },

    currentTool: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      activeTool: this.currentTool,
      toolIsActive: false,
      toolsList: this.tools,
      showToolsList: false,
    }
  },

  computed: {
    ...mapGetters({
      onMobile: 'onMobile',
    }),
  },

  watch: {
    activeTool: {
      immediate: true,
      handler: function(val, old) {
        val === 'question' || val === 'answer'
          ? (this.toolIsActive = false)
          : (this.toolIsActive = !(val === old))
      },
    },

    onMobile: {
      immediate: true,
      handler(val) {
        this.showToolsList = !val
      },
    },
  },

  methods: {
    handleTool(tool) {
      this.$emit('click-tool', tool.icon, this.pieceType, this.pieceId)
    },

    toggleToolsListVisibility() {
      this.showToolsList = !this.showToolsList
    },
  },
}
</script>

<template>
  <div class="digibook-tools">
    <div
      class="digibook-tools-button"
      @click="toggleToolsListVisibility"
      :class="{ active: showToolsList }"
    >
      <span />
    </div>
    <div class="digibook-tools-list" v-if="showToolsList">
      <div
        class="digibook-tools-item"
        :data-includes="activeTools.includes(tool.icon)"
        v-for="tool in tools"
        v-tooltip.left="{ content: tool.tooltip }"
        :id="tool.icon"
        :key="tool.type"
        :class="{
          active: activeTools.includes(tool.icon),
          grow: showToolsList,
        }"
        @click="handleTool(tool)"
      >
        <span class="digibook-tools-item__icon">
          <Icon :icon-name="tool.icon" />
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.digibook-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0;
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  right: 0;
  top: 1rem;
  width: 4rem;
  transition: 0.2s;
  z-index: 3;
  margin-top: 0;

  @include bp(tablet) {
    width: 8rem;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    top: 0;
  }

  &-list {
    &::before,
    &::after {
      position: absolute;
      content: '';
      right: 0;
    }

    &::before {
      transition: 0.2s;
      top: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background: var(--background-color);
      transform: translateX(50%);

      @include bp(tablet) {
        transform: translateX(0);
        opacity: 0;
      }
    }

    &::after {
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 0;
      background: $c-alt;
      transition: 0.3s;

      @include bp(tablet) {
        transform: translateY(0);
        width: 0;
      }
    }
  }

  &-button {
    display: none;

    &.active {
      background: $c-alt;

      & > span {
        background: transparent;

        &:before {
          transform: rotate(45deg);
          top: 0;
          width: 100%;
          left: 0;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: 0;
          width: 100%;
          left: 0;
        }
      }
    }

    @include bp(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      background: var(--color-primary);
      z-index: 10;
      margin-left: 0.5rem;
    }

    & > span {
      background: #fff;
      display: inline-block;
      width: 20px;
      height: 2px;
      border-radius: 25px;
      position: relative;
      transition: 0.3s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background: #fff;
        border-radius: 1rem;
        transition: 0.3s;
        height: 2px;
        transform: rotate(0);
      }

      &:before {
        top: -7px;
        left: 15%;
        width: 70%;
      }

      &:after {
        bottom: -7px;
        left: 15%;
        width: 70%;
      }
    }
  }

  &-item {
    transform: translateX(10%);
    transition: 0.2s;
    opacity: 0;
    z-index: 3;
    padding: 0.5rem 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    transition: 0.125s;
    margin-right: 4px;

    @include bp(tablet) {
      transform: translateX(0);
      opacity: 0;
      background: var(--background-color-alt);
      border-radius: 2rem;
      box-shadow: 0 0.25rem 1rem 0 var(--btn-box-shadow);
      width: 3rem;
      height: 3rem;
      transition: 0.2s;
      margin-right: 0;

      & + & {
        margin-top: 0.5rem;
      }

      &.grow {
        animation: grow 0.2s ease-out;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &::v-deep .b-icon {
        height: 28px;

        @include bp(tablet) {
          height: 20px;
        }
      }

      @include bp(tablet) {
        height: 20px;
      }
    }

    &.active {
      background: var(--background-color-slight);
      color: $c-alt;
    }

    &:hover {
      color: $c-alt;
    }
  }
}
</style>
