<template>
  <modal
    :active="active"
    modal-class="digi-questions-modal"
    @onModalClose="closeModal"
  >
    <div class="modal__header" slot="header">
      <span class="modal__icon">
        <svg-icon type="icon-question" />
      </span>
      <div class="modal__title">SORU SOR</div>
    </div>
    <div slot="content" :class="{ multiple: hasNoQuestions && !showAddForm }">
      <template v-if="hasNoQuestions && !showAddForm">
        <EmptyContent
          class="ask-question-empty-content"
          title="Bu soru için henüz hiç soru sorulmadı!"
          text="Takıldığınız soruda Remzi Hoca'ya danışarak soru sorabilirsiniz."
        />
      </template>
      <transition-group
        :name="transitionName"
        @afterEnter="afterEnter"
        tag="div"
      >
        <div class="digi-questions-list" :key="1" v-if="!showAddForm">
          <div class="digi-questions-list__main" v-if="hasMyQuestions">
            <question-card
              v-for="question in myAskings"
              :key="question.id"
              :question="question"
              :has-options="true"
              @edit-click="editQuestion"
              @delete-question="removeQuestion"
            />
          </div>
          <div class="or" v-if="hasOtherQuestions">
            <div class="or__txt">DİĞER SORULAR</div>
          </div>
          <div class="digi-questions-list__other" v-if="hasOtherQuestions">
            <question-card
              v-for="question in otherAskings"
              :key="question.id"
              :question="question"
            />
          </div>
        </div>
        <div class="digi-questions-add" :key="2" v-if="showAddForm">
          <div class="digi-questions-add__header">
            <div class="digi-questions-add__title">
              {{
                this.editQuestioID === null ? 'YENİ SORU SOR' : 'SORUMU DÜZENLE'
              }}
            </div>
            <v-button
              @click.native="back"
              v-if="showAddForm"
              class="digi-questions-add__back"
              icon="icon-arrow-long-left"
              icon-position="left"
              title="GERİ DÖN"
            />
          </div>
          <div class="question-add">
            <div class="question-add-header">
              <div class="question-add-header__left">
                <span class="question-add__icon">
                  <svg-icon type="icon-contents-o" />
                </span>
                <div class="question-add-header__cnt" v-if="currentContents">
                  <div class="question-add__subtitle">
                    <span>{{ currentContents.currentUnit.title }}</span>
                    /
                    <span>{{ currentContents.currentExercise.title }}</span>
                  </div>
                  <div class="question-add__title">
                    {{ currentContents.currentContent.title }}
                    {{ index >= 0 ? index + 1 : '' }}
                  </div>
                </div>
              </div>
            </div>
            <div class="question-add__content">
              <textarea
                v-model="questionText"
                ref="questionText"
                placeholder="Sorunu buraya yaz..."
                class="question-add__input"
              ></textarea>
            </div>
          </div>
        </div>
      </transition-group>
    </div>

    <div slot="footer" class="modal-footer">
      <v-button
        v-if="showAddButton"
        @click.native="openAddForm"
        class="purple fw sm icon-cta"
        icon="icon-plus"
        icon-position="right"
        title="YENİ SORU SOR"
      />

      <!-- <v-button
        v-if="!showAddForm"
        @click.native="openAddForm"
        class="purple fw sm icon-cta"
        icon="icon-plus"
        icon-position="right"
        :title="addFormText"
      /> -->

      <v-button
        v-if="showAddForm"
        @click.native="saveAddForm"
        class="purple fw sm icon-cta"
        icon="icon-plus"
        icon-position="right"
        title="KAYDET"
      />
    </div>
  </modal>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import Modal from '@/components/Modal'
import QuestionCard from '@/components/QuestionCard'
import { mapGetters } from 'vuex'
import EmptyContent from '../EmptyContent'
import { cloneObject } from '../../common/helpers'

export default {
  name: 'DigibookQuestionsModal',
  components: {
    Modal,
    QuestionCard,
    EmptyContent,
  },
  props: {
    active: Boolean,
    myQuestions: {
      type: Array,
      defaults: () => [],
    },
    otherQuestions: {
      type: Array,
      defaults: () => [],
    },
    currentContents: Object,
    index: Number,
    questionId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      showAddForm: false,
      questionText: '',
      transitionName: 'slide-fade-left',
      isloaded: false,
      editQuestioID: null,
      myAskings: cloneObject(this.myQuestions),
      otherAskings: cloneObject(this.otherQuestions),
    }
  },
  computed: {
    ...mapGetters(['userFullName']),
    _() {
      return _
    },
    unansweredQuestion: {
      get() {
        if (this.editQuestioID !== null) {
          return this.myQuestions.filter(e => e.id === this.editQuestioID)
        }
        return null
        /* else {
          return _.find(this.myQuestions, question => _.isEmpty(question.answer))

        } */
      },
      set(questionText) {
        const question = _.find(this.myQuestions, question =>
          _.isEmpty(question.answer)
        )
        question.question = questionText
      },
    },

    showAddButton() {
      return !this.showAddForm && !this.hasUnanswered
    },

    addFormText() {
      return this.hasAnsweredQuestion ? 'YENİ SORU SOR' : 'SORUMU DÜZENLE'
    },

    hasMyQuestions() {
      return this.myAskings.length > 0
    },

    hasOtherQuestions() {
      return this.otherAskings.length > 0
    },

    hasNoQuestions() {
      return !this.hasMyQuestions && !this.hasOtherQuestions
    },

    hasUnanswered() {
      if (this.myAskings.length === 0) {
        return false
      } else {
        let unanswered = this.myAskings.filter(a => a.answer.length === 0)
        console.log('ua: ', unanswered)
        return unanswered.length > 0
      }
    },

    hasAnsweredQuestion() {
      if (!this.hasMyQuestions) return false
      let asking = this.myAskings.filter(a => a.answer.length > 0)
      if (!asking) return false
      return asking.length > 0
    },
  },
  methods: {
    closeModal() {
      this.showAddForm = false
      this.editQuestioID = null
      this.$emit('onClose')
    },
    openAddForm() {
      if (!this.hasAnsweredQuestion) {
        this.questionText = this.myAskings.question
      }
      this.showAddForm = true
      this.transitionName = 'slide-fade-left'
    },
    back() {
      this.showAddForm = false
      this.editQuestioID = null
      this.transitionName = 'slide-fade-right'
    },
    async saveAddForm() {
      var callMethod = 'POST'
      var callURL = 'digibook/questions'
      var questionData = {
        contentID: this.$route.params.contentId,
        text: this.questionText,
        specialKey: this.questionId,
        questionIndex: this.index,
      }
      if (this.editQuestioID !== null) {
        callMethod = 'PUT'
        callURL = `digibook/questions/${this.editQuestioID}`
        questionData = {
          contentID: this.$route.params.contentId,
          message: this.questionText,
          specialKey: this.editQuestioID,
          questionIndex: this.index,
        }
      }
      if (this.questionText !== '') {
        const response = await Vue.$axios(callMethod, callURL, questionData)
        if (_.get(response, 'status') === 200) {
          this.showAddForm = false
          this.transitionName = 'slide-fade-right'

          // if (_.isEmpty(this.unansweredQuestion)) {
          if (this.editQuestioID === null) {
            console.log('new question ID', response)
            let askingData = {
              id: response.data.questionId,
              question: this.questionText,
              name: 'Ben',
              questionIndex: this.index,
              answer: [],
            }
            this.myAskings.push(askingData)

            this.$emit('ask-question', askingData)
          } else {
            let asking = this.myAskings.filter(
              e => e.id === this.editQuestioID
            )[0]
            asking.question = this.questionText
            console.log('asking: ', asking)
            this.$emit('edit-question', asking)
            this.editQuestioID = null
          }
          // } else {
          //   this.unansweredQuestion = this.questionText
          // }
          this.questionText = ''

          this.$store.dispatch('questions/getQuestionsList')
        }
      } else {
        this.$refs.questionText.focus()
      }
    },
    editQuestion(questionId) {
      this.showAddForm = true
      this.transitionName = 'slide-fade-left'
      let asking = this.myAskings.filter(e => e.id === questionId)
      console.log('qt: ', asking[0])
      this.questionText = asking[0].question
      this.editQuestioID = asking[0].id
    },
    removeQuestion(questionId) {
      let asking = this.myAskings.findIndex(e => e.id === questionId)
      this.myAskings.splice(asking, 1)
      console.log('asking: ', asking)
      console.log('remove question')
      this.$emit('remove-question', questionId)
      // this.$emit('handleChangeMyQuestion', questionId)
      // this.$store.dispatch('questions/getQuestionsList')
    },
    afterEnter() {
      if (this.showAddForm) this.$refs.questionText.focus()
    },
    handleModalWorker() {
      if (
        this.isloaded &&
        this.otherAskings !== null &&
        this.myAskings !== null &&
        this.otherAskings.length < 1 &&
        this.myAskings.length < 1
      ) {
        this.openAddForm()
      }
    },
  },
  watch: {
    otherQuestions() {
      if (
        !this.isloaded &&
        this.otherAskings !== null &&
        this.myAskings !== null
      ) {
        this.isloaded = true
      }
    },
    myQuestions() {
      if (
        !this.isloaded &&
        this.otherAskings !== null &&
        this.myAskings !== null
      ) {
        this.isloaded = true
      }
    },
    isloaded() {
      this.handleModalWorker()
    },
  },
  mounted() {
    this.handleModalWorker()
  },
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/question-add';
</style>
