<script>
export default {
  name: 'DigibookPurchase',
  props: {
    link: {
      type: String,
      required: true,
    },

    bookId: {
      type: [Number, String],
      required: true,
    },
  },
  data() {
    return {
      token: window.localStorage.getItem('auth_token'),
    }
  },

  methods: {
    handleSubmit() {
      console.log(this.link)
      console.log(this.bookId)
      this.$refs.physicalBookPurchase.submit()
    }
  }
}
</script>

<template>
  <form
    style="display: none"
    id="invisible_physical_product_form"
    ref="physicalBookPurchase"
    :action="`${link}?token=${token}`"
    method="post"
    target="_blank"
  >
    <input name="product_id" type="hidden" :value="bookId" />
    <input name="quantity" type="hidden" :value="1" />
    <input name="token" type="hidden" :value="token" />
  </form>
</template>

<style></style>
