<script>
import { mapActions, mapGetters } from 'vuex'
import { cloneObject } from '../../../common/helpers'
import Highlightable from '../../Highlightable.vue'
import WordsList from '../../WordsList.vue'
import DigibookBlock from '../DigibookBlock/DigibookBlock.vue'
import DigibookBlockFigure from '../DigibookBlock/DigibookBlockFigure.vue'
import DigibookBlockPassage from '../DigibookBlock/DigibookBlockPassage.vue'
import DigibookTools from '../DigibookTools.vue'

export default {
  name: 'DigibookReadingPassage',

  props: {
    content: {
      type: Object,
      required: true,
      default: () => ({
        image: '',
        paragraphId: 0,
        texts: [],
      }),
    },
  },

  components: {
    Piece: DigibookBlock,
    Tools: DigibookTools,
    Figure: DigibookBlockFigure,
    Passage: DigibookBlockPassage,
    Highlightable: Highlightable,
    WordsList: WordsList,
  },

  computed: {
    ...mapGetters({
      contentTitle: 'digibook/contentTitle',
      hasImage: 'digibook/reading/hasImage',
      contentId: 'digibook/reading/contentId',
      passageId: 'digibook/reading/passageId',
      tools: 'digibook/tools/tools',
    }),

    visibleTools() {
      let tools = cloneObject(this.tools)
      tools = [tools[0], tools[3]]
      return tools
    },

    toolHasLoaded() {
      return !this.content.toolLoading && this.content.toolLoaded
    },

    hasWordlists() {
      return (
        this.toolHasLoaded &&
        (this.hasVocabularies ||
          this.hasCollocations ||
          this.hasPrepositions) &&
        this.content.activeTools.includes('lists')
      )
    },

    hasVocabularies() {
      return this.content.toolLoaded && this.content.toolData.words.length > 0
    },

    hasCollocations() {
      return (
        this.content.toolLoaded && this.content.toolData.collocations.length > 0
      )
    },

    hasPrepositions() {
      return (
        this.content.toolLoaded && this.content.toolData.prepositions.length > 0
      )
    },
  },

  watch: {
    hasWordlists(val) {
      if (val) {
        this.$nextTick(() => {
          this.$scrollTo(`#passageContent > .digibook-block-wordlists`, 200, {
            offset: -20,
          })
        })
      }
    },
  },

  methods: {
    ...mapActions({
      getToolData: 'digibook/reading/fetchToolData',
    }),

    handleClickTool(tool, itemType, itemId) {
      console.log('data: ', tool, itemType)
      this.getToolData({
        contentId: this.contentId,
        itemType: 'paragraph',
        itemId: this.passageId,
        tool: tool,
      })
    },
  },
}
</script>

<template>
  <Piece
    class="digibook-reading-passage"
    :id="`passageContent`"
    :has-paragraph="true"
    :has-options="false"
    :has-question="false"
    :has-wordlists="hasWordlists"
    :has-figure="hasImage"
    :tool-loading="content.toolLoading"
  >
    <template #figure>
      <Figure :image="content.image" :caption="contentTitle" />
    </template>

    <template #paragraph>
      <Highlightable :content-type="'reading'">
        <Passage
          :texts="content.texts"
          :translated="content.activeTools.includes('translate')"
        />
      </Highlightable>
    </template>

    <template #wordlists>
      <WordsList
        v-if="hasVocabularies"
        :title="'Vocabulary'"
        :words="content.toolData.words"
        :word-type="'w'"
      />
      <WordsList
        v-if="hasCollocations"
        :title="'Collocations'"
        :words="content.toolData.collocations"
        :word-type="'c'"
        :is-basic="true"
      />
      <WordsList
        v-if="hasPrepositions"
        :title="'Prepositions'"
        :words="content.toolData.prepositions"
        :word-type="'p'"
        :is-basic="true"
      />
    </template>
    <template #tools>
      <Tools
        :tools="visibleTools"
        :piece-type="'paragraph'"
        :piece-id="content.paragraphId"
        :active-tools="content.activeTools"
        :current-tool="content.activeTool"
        @click-tool="handleClickTool"
      />
    </template>
  </Piece>
</template>

<style lang="scss" scoped>
.digibook-reading-passage {

  &::v-deep .digibook-block-content {
    padding-left: 2rem;
  }
}
</style>
