<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import { modalControlsMixin } from '../../../mixins/modal-controls.mixin'
import DigibookQuestionItem from '../DigibookQuestionItem.vue'

export default {
  name: 'DigibookReadingQuestions',

  mixins: [modalControlsMixin],

  props: {
    questions: {
      type: Array,
      required: true,
      default: () => [],
    },
  },

  components: {
    Question: DigibookQuestionItem,
  },

  computed: {
    ...mapGetters({
      passageId: 'digibook/reading/passageId',
      contentId: 'digibook/reading/contentId',
    }),
  },

  methods: {
    ...mapActions({
      selectOption: 'digibook/reading/handleOption',
      getToolData: 'digibook/reading/fetchToolData',
    }),

    ...mapMutations({
      clearActiveTool: 'digibook/reading/clearActiveTool',
    }),

    handleClickTool(data) {
      this.getToolData({
        tool: data.tool,
        contentId: parseInt(this.$route.params.contentId),
        itemId: data.questionId,
        questionId: data.questionId,
        paragraphId: this.passageId,
        itemType: 'question',
      })
    },

    handleSelectOption(data) {
      let optionData = {
        paragraphId: this.passageId,
        contentId: this.contentId,
        ...data,
      }
      this.selectOption(optionData)
    },

    handleCloseQuestionsModal(itemId) {
      this.clearActiveTool({
        itemId: itemId,
        tool: '',
      })
    },
  },
}
</script>

<template>
  <div class="digibook-reading-questions">
    <Question
      v-for="(question, index) in questions"
      :key="`question${index}`"
      :question="question"
      :special-key="passageId"
      :content-type="'reading'"
      @click-tool="handleClickTool"
      @select-option="handleSelectOption"
      @close-questions-modal="handleCloseQuestionsModal"
    />
  </div>
</template>
