<template>
  <div class="detail-page word-book">
    <div class="detail-header">
      <container>
        <div class="detail-header__wrp">
          <div class="detail-ctr">
            <div class="detail-ctr__item">
              <v-button
                class="button--circle circle-xs simple"
                icon="icon-keyboard"
                icon-position="left"
              />
              <v-button
                @click.native="toggleMode"
                class="button--circle circle-xs simple"
                icon="icon-lamp"
                icon-position="left"
              />
            </div>
          </div>
          <div class="detail-inf">
            <div class="detail-inf__header word-book-heading">
              <div class="word-book-heading-tbar">
                <div class="word-book-heading-tbar__title">Liste Adı</div>
                <div
                  class="word-book-heading-tbar__txt"
                >Liste açıklaması lorem ipsum dolar sit amet ve buna benzer bir sürü şey.</div>
              </div>
              <hr class="hr-horizontal" />
              <div class="word-book-heading-inf">
                <div class="word-book-heading-inf__title">
                  <strong>1294</strong>
                  <span>liste takipçisi</span>
                </div>
                <div class="word-book-heading-inf__right">
                  <v-button
                    class="word-book-heading-inf__button"
                    icon="icon-print"
                    icon-position="left"
                  />
                  <v-button
                    class="word-book-heading-inf__button"
                    icon="icon-share"
                    icon-position="left"
                  />
                </div>
              </div>
            </div>
            <div class="detail__inner">
              <tab
                class="detail-tab word-book-tab"
                :current-tab="currentTab"
                :tabs="tabs"
                @clickTab="tabShow"
              >
                <tab-pane :class="{ active : currentTab === 0 }">
                  <div class="tab-filter">
                    <div class="tab-filter__left">
                      <div class="tab-filter__item tab-filter-radio">
                        <div class="tab-filter__title">Görüntüle :</div>
                        <div class="check-radio__group">
                          <div class="check-radio__label active">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">EN</div>
                          </div>
                          <div class="check-radio__label">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">TR</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-filter__right">
                      <div class="tab-filter__col">
                        <div class="tab-filter__title">Türe göre filtrele :</div>
                        <TabFilterSelect
                          class="tab-filter__select"
                          :options="types"
                          @onselect="selectType"
                        />
                      </div>
                      <div class="tab-filter__col">
                        <div class="tab-filter__title">Sırala :</div>
                        <TabFilterSelect
                          class="tab-filter__select"
                          :options="order"
                          title="Sırala"
                          @onselect="selectOrder"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="detail-tab__inner">
                    <div class="word-book-ctr">
                      <v-button
                        class="word-book__add fw"
                        icon="icon-vocabulary-o"
                        icon-position="left"
                        title="YENİ KELİME EKLE"
                      />
                      <div class="word-book-ctr__right">
                        <v-button
                          class="default round color-gray icon-xs"
                          icon="icon-caret-right"
                          icon-position="right"
                          title="Kelime Listesini Oku"
                        />
                        <v-button
                          class="button--circle default color-gray circle-sm icon-md"
                          icon="icon-edit"
                          icon-position="left"
                        />
                      </div>
                    </div>
                    <div class="word-book-list">
                      <word-book-vocabulary
                        v-for="word in orderedWords"
                        :key="word.id"
                        :word="word"
                      />
                    </div>
                  </div>
                </tab-pane>

                <tab-pane :class="{ active : currentTab === 1 }">
                  <div class="tab-filter">
                    <div class="tab-filter__left">
                      <div class="tab-filter__item tab-filter-radio">
                        <div class="tab-filter__title">Görüntüle</div>
                        <div class="check-radio__group">
                          <div class="check-radio__label active">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">EN</div>
                          </div>
                          <div class="check-radio__label">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">TR</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-filter__right">
                      <TabFilterSelect :options="types" title="Türe göre filtrele" />
                      <TabFilterSelect :options="order" title="Sırala" />
                    </div>
                  </div>
                  <div class="detail-tab__inner">
                    <div class="word-book-ctr">
                      <v-button
                        class="word-book__add fw"
                        icon="icon-collocation-o"
                        icon-position="left"
                        title="COLLOCATION EKLE"
                      />
                      <div class="word-book-ctr__right">
                        <v-button
                          class="default round color-gray icon-xs"
                          icon="icon-caret-right"
                          icon-position="right"
                          title="Kelime Listesini Oku"
                        />
                        <v-button
                          class="button--circle default color-gray circle-sm icon-md"
                          icon="icon-edit"
                          icon-position="left"
                        />
                      </div>
                    </div>
                    <div class="word-book-list">
                      <word-book-collocation
                        v-for="word in collocations"
                        :key="word.id"
                        :word="word"
                      />
                    </div>
                  </div>
                </tab-pane>

                <tab-pane :class="{ active : currentTab === 2 }">
                  <div class="tab-filter">
                    <div class="tab-filter__left">
                      <div class="tab-filter__item tab-filter-radio">
                        <div class="tab-filter__title">Görüntüle</div>
                        <div class="check-radio__group">
                          <div class="check-radio__label active">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">EN</div>
                          </div>
                          <div class="check-radio__label">
                            <span class="check-radio__box"></span>
                            <div class="check-radio__title">TR</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-filter__right">
                      <TabFilterSelect :options="types" title="Türe göre filtrele" />
                      <TabFilterSelect :options="order" title="Sırala" />
                    </div>
                  </div>
                  <div class="detail-tab__inner">
                    <div class="word-book-ctr">
                      <v-button
                        class="word-book__add fw"
                        icon="icon-collocation-o"
                        icon-position="left"
                        title="PREPOSITION EKLE"
                      />
                      <div class="word-book-ctr__right">
                        <v-button
                          class="default round color-gray icon-xs"
                          icon="icon-caret-right"
                          icon-position="right"
                          title="Kelime Listesini Oku"
                        />
                        <v-button
                          class="button--circle default color-gray circle-sm icon-md"
                          icon="icon-edit"
                          icon-position="left"
                        />
                      </div>
                    </div>
                    <div class="word-book-list">
                      <word-book-collocation
                        v-for="word in prepositions"
                        :key="word.id"
                        :word="word"
                      />
                    </div>
                  </div>
                </tab-pane>
              </tab>
            </div>
          </div>
          <div class="detail-right">
            <v-button
              class="simple xs icon-xs round detail-close"
              title="KAPAT"
              icon="icon-close"
              icon-position="right"
            />
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import Tab from '@/components/Tab/Tab'
import TabPane from '@/components/Tab/TabPane'
import TabFilterSelect from '@/components/Tab/TabFilterSelect'
import WordBookVocabulary from '@/components/WordBookVocabulary'
import WordBookCollocation from '@/components/WordBookCollocation'
export default {
  name: 'WordBook',
  components: {
    Tab,
    TabPane,
    TabFilterSelect,
    WordBookVocabulary,
    WordBookCollocation
  },
  data() {
    return {
      currentTab: 0,
      tabs: [
        {
          id: 0,
          icon: 'icon-vocabulary-o',
          text: 'VOCABULARY',
          count: 355
        },
        {
          id: 1,
          icon: 'icon-collocation-o',
          text: 'COLLOCATION',
          count: 355
        },
        {
          id: 2,
          icon: 'icon-preposition-o',
          text: 'PREPOSITION',
          count: 355
        }
      ],
      types: [
        {
          label: 'Tümünü Gör',
          value: 'all',
          type: null,
          selected: false
        },
        {
          label: 'Adjective',
          value: 'adj',
          type: 'adj',
          selected: false
        },
        {
          label: 'Noun',
          value: 'noun',
          type: 'noun',
          selected: false
        },
        {
          label: 'Verb',
          value: 'verb',
          type: 'verb',
          selected: false
        }
      ],
      order: [
        {
          label: 'Tümünü Gör',
          value: 'all',
          selected: false
        },
        {
          label: 'Alfabetik',
          value: 'abc',
          selected: false
        },
        {
          label: 'Puana Göre',
          value: 'rate',
          selected: false
        },
        {
          label: 'Öğrenme Seviyeme Göre',
          value: 'level',
          selected: false
        }
      ],
      vocabulary: [
        {
          id: 0,
          word: 'temperature',
          visitedCount: 4,
          type: 'noun',
          level: '0',
          rate: '4',
          meanings: [
            {
              id: 0,
              word: 'sıcaklık',
              meaning: 'Isı',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            },
            {
              id: 1,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            },
            {
              id: 2,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: false
            }
          ],
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 1,
          word: 'arrive',
          visitedCount: 4,
          type: 'verb',
          level: '4',
          rate: '3',
          meanings: [
            {
              id: 0,
              word: 'sıcaklık',
              meaning: 'Isı',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            },
            {
              id: 1,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: false
            },
            {
              id: 2,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            }
          ],
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 2,
          word: 'beautiful',
          visitedCount: 4,
          type: 'adj',
          level: '2',
          rate: '2',
          meanings: [
            {
              id: 0,
              word: 'sıcaklık',
              meaning: 'Isı',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            },
            {
              id: 1,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: false
            }
          ],
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 3,
          word: 'affect',
          visitedCount: 4,
          type: 'verb',
          level: '3',
          rate: '5',
          meanings: [
            {
              id: 0,
              word: 'sıcaklık',
              meaning: 'Isı',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            },
            {
              id: 1,
              word: 'hararet',
              meaning: 'Durgunsuz',
              egEn: 'I keep turning to the dictionary and the thesaurus.',
              egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.',
              level: 3,
              added: true
            }
          ],
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        }
      ],
      collocations: [
        {
          id: 0,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 1,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 2,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 3,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        }
      ],
      prepositions: [
        {
          id: 0,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 1,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 2,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        },
        {
          id: 3,
          word: 'temperature',
          visitedCount: 4,
          rate: 2,
          meaning: {
            word: 'sıcaklık',
            meaning: 'Isı',
            egEn: 'I keep turning to the dictionary and the thesaurus.',
            egTr: 'Sözlüke ve eşanlamlıya, bir referans için değil.'
          },
          synonyms: {
            description:
              'Bu kelimeler; birine özel bir anda onlara teşekkür etmek, ya da onları sevindirmek ' +
              'için verilenşeyleri anlatırken kullanılabilir.',
            words: [
              {
                id: 0,
                word: 'present',
                type: 'noun',
                meanings: [
                  {
                    word: 'hediye'
                  },
                  {
                    word: 'şu an'
                  }
                ]
              },
              {
                id: 1,
                word: 'gift',
                type: 'verb',
                meanings: [
                  {
                    word: 'armağan'
                  },
                  {
                    word: 'doğuştan gelen yetenek'
                  }
                ]
              }
            ]
          }
        }
      ],
      activeType: 'all'
    }
  },
  methods: {
    tabShow(tab, index) {
      this.currentTab = index
    },
    selectType(opt) {
      this.activeType = opt.type
      return this.activeType
    },
    selectOrder(opt) {
      this.activeType = opt.value
      return this.activeType
    },
    dynamicSort(property) {
      var sortOrder = 1
      if (property[0] === '-') {
        sortOrder = -1
        property = property.substr(1)
      }
      return function (a, b) {
        if (sortOrder === -1) {
          return b[property].localeCompare(a[property])
        } else {
          return a[property].localeCompare(b[property])
        }
      }
    }
  },
  computed: {
    orderedWords() {
      const wordInfo = this.activeType
      const cloneVocab = this.vocabulary
      if (wordInfo === undefined || wordInfo === 'all' || wordInfo === null) {
        return cloneVocab
      } else if (wordInfo === 'abc') {
        return cloneVocab.sort(this.dynamicSort('word'))
      } else if (wordInfo === 'level') {
        return cloneVocab.sort(this.dynamicSort('level'))
      } else if (wordInfo === 'rate') {
        return cloneVocab.sort(this.dynamicSort('rate'))
      } else if (wordInfo === 'verb') {
        return cloneVocab.filter(
          w => w.type.toLowerCase().indexOf(wordInfo) > -1
        )
      } else if (wordInfo === 'adj') {
        return cloneVocab.filter(
          w => w.type.toLowerCase().indexOf(wordInfo) > -1
        )
      } else if (wordInfo === 'noun') {
        return cloneVocab.filter(
          w => w.type.toLowerCase().indexOf(wordInfo) > -1
        )
      }
      return cloneVocab
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/word-book';
</style>
