<script>
export default {
  name: 'ghostDigibookStatic'
}
</script>

<template>
  <div class="ghost-digibook-static">
    <div class="ghost-digibook-static__title"></div>
    <div class="ghost-digibook-static__cnt">
      <div class="ghost-digibook-static__txt"></div>
      <div class="ghost-digibook-static__txt txt2"></div>
      <div class="ghost-digibook-static__txt txt3"></div>
      <div class="ghost-digibook-static__txt txt5"></div>
      <div class="ghost-digibook-static__txt txt4"></div>
      <div class="ghost-digibook-static__txt txt2"></div>
      <div class="ghost-digibook-static__txt txt5"></div>
      <div class="ghost-digibook-static__txt txt3"></div>
      <div class="ghost-digibook-static__txt"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
