
<script>
export default {
  name: 'GhostWordyIntro'
}
</script>

<template>
  <div class="ghost-wordy-intro">
    <div class="ghost-wordy-intro__title"></div>
    <div class="ghost-wordy-intro__desc"></div>
    <div class="ghost-wordy-intro__time"></div>
    <div class="ghost-wordy-intro__txt"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/wordy-ghost-item.scss';
</style>
