<script>
export default {
  name: 'GhostWordslistHeader',
}
</script>

<template>
  <div class="ghost-reading-words__top">
    <div class="ghost-reading-words__txt"></div>
    <div class="ghost-reading-words__button"></div>
  </div>
</template>
