
<script>
export default {
  name: 'GhostVueSelect'
}
</script>

<template>
  <div class="ghost-filter">
    <div class="ghost-filter__item"></div>
    <div class="ghost-filter__item item--2"></div>
    <div class="ghost-filter__item item--3"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-tab-filter.scss';
</style>
