<script>
export default {
  name: 'ghostWordbookTab'
}
</script>

<template>
  <div class="detail-header ghost-wordbook">
    <div class="ghost-wordbook-txt mt-50 mb-30 ml-auto mr-auto"></div>
    <div class="ghost-wordbook-content">
      <div class="ghost-wordbook-bars">
        <div class="ghost-wordbook-bar">
          <div class="ghost-wordbook-title"></div>
          <div class="ghost-wordbook-bar--in"></div>
        </div>
        <div class="ghost-wordbook-bar">
          <div class="ghost-wordbook-title"></div>
          <div class="ghost-wordbook-bar--in"></div>
        </div>
        <div class="ghost-wordbook-bar">
          <div class="ghost-wordbook-title"></div>
          <div class="ghost-wordbook-bar--in"></div>
        </div>
      </div>
      <div class="ghost-wordbook-bars">
        <div class="ghost-wordbook-bar custom">
          <div class="ghost-wordbook-title"></div>
          <div class="ghost-wordbook-bar--in"></div>
        </div>
        <div class="ghost-wordbook-bar custom-2">
          <div class="ghost-wordbook-title"></div>
          <div class="ghost-wordbook-bar--in"></div>
        </div>
      </div>
      <div class="ghost-wordbook-list">
        <div class="ghost-wordbook-item" v-for="ghost in 5" :key="ghost">
          <div class="ghost-wordbook-item-icon"></div>
          <div class="ghost-wordbook-item-cnt">
            <div class="ghost-wordbook-item-title"></div>
            <div class="ghost-wordbook-item-cnt-in">
              <div class="ghost-wordbook-item-txt"></div>
              <div class="ghost-wordbook-item-txt"></div>
            </div>
          </div>
          <div class="ghost-wordbook-icon ml-auto"></div>
          <div class="ghost-wordbook-status"></div>
          <div class="ghost-wordbook-icon"></div>
          <div class="ghost-wordbook-icon"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
