<template>
  <div class="ghost-subpage-header" :style="{background: appHeaderInfo(app).background }">
    <container>
      <div class="ghost-subpage-header__content">
        <div class="ghost-subpage-header__left">
          <div class="subpage-header__icon">
            <img :src="appHeaderInfo(app).icon" class="icon" />
          </div>
          <div class="subpage-header__title">{{ appHeaderInfo(app).title }}</div>
        </div>
        <div class="ghost-subpage-header__right">
          <div class="ghost-subpage-header__progress"></div>
          <div class="ghost-subpage-header__val"></div>
          <div class="ghost-subpage-header__cnt">
            <div class="ghost-subpage-header__cnt__title"></div>
            <div class="ghost-subpage-header__cnt__title"></div>
            <div class="ghost-subpage-header__cnt__title"></div>
          </div>
        </div>
      </div>
      <div class="ghost-subpage-header__tab">
        <div class="ghost-subpage-header__tab-cnt">
          <div class="ghost-subpage-header__tab-item"></div>
          <div class="ghost-subpage-header__tab-item"></div>
          <div class="ghost-subpage-header__tab-item"></div>
        </div>
        <div class="ghost-subpage-header__tab-btn"></div>
      </div>
    </container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'GhostAppHeader',
  props: {
    app: String
  },
  computed: {
    ...mapGetters(['appHeaderInfo'])
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/ghost/ghost-app-header';
</style>
