<script>
export default {
  name: 'GhostDictionaryWordItem'
}
</script>

<template>
  <div class="dictionary-ghost-word__item">
    <div class="dictionary-ghost-word__icon"></div>
    <div class="dictionary-ghost-word__content">
      <div class="dictionary-ghost-word__cnt">
        <div class="dictionary-ghost-word__title"></div>
        <div class="dictionary-ghost-word__badge"></div>
      </div>
      <div class="dictionary-ghost-word__inf">
        <div class="dictionary-ghost-word__txt"></div>
        <div class="dictionary-ghost-word__txt"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
