<script>
export default {
  name: 'GhostLessonsItem'
}
</script>

<template>
  <div class="lesson-ghost__item">
    <div class="lesson-ghost__icon"></div>
    <div class="lesson-ghost__content">
      <div class="lesson-ghost__title"></div>
      <div class="lesson-ghost__txt"></div>
      <div class="lesson-ghost__txt"></div>
    </div>
    <div class="lesson-ghost__right">
      <div class="lesson-ghost__date"></div>
      <div class="lesson-ghost__hr"></div>
      <div class="lesson-ghost__hour"></div>
      <div class="lesson-ghost__hr"></div>
      <div class="lesson-ghost__progress-content">
        <div class="lesson-ghost__progress"></div>
        <div class="lesson-ghost__progress-txt"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/lesson-ghost-item.scss';
</style>
