<script>
export default {
  name: 'GhostReadingDetailWords'
}
</script>

<template>
  <div class="ghost-reading-words">
    <div class="ghost-reading-words__tab">
      <div class="ghost-reading-words__tab--item"></div>
      <div class="ghost-reading-words__tab--item item--2"></div>
      <div class="ghost-reading-words__tab--item item--3"></div>
    </div>
    <div class="ghost-reading-words__cnt">
      <div class="ghost-reading-words__top">
        <div class="ghost-reading-words__txt"></div>
        <div class="ghost-reading-words__button"></div>
      </div>
      <div class="ghost-reading-words__main">
        <div class="ghost-reading-words__item">
          <div class="ghost-reading-words__item--left"></div>
          <div class="ghost-reading-words__item--right">
            <div class="ghost-reading-words__item--right__txt"></div>
            <div class="ghost-reading-words__item--right__txt txt--2"></div>
          </div>
        </div>
        <div class="ghost-reading-words__item">
          <div class="ghost-reading-words__item--left"></div>
          <div class="ghost-reading-words__item--right">
            <div class="ghost-reading-words__item--right__txt"></div>
            <div class="ghost-reading-words__item--right__txt txt--2"></div>
          </div>
        </div>
        <div class="ghost-reading-words__item">
          <div class="ghost-reading-words__item--left"></div>
          <div class="ghost-reading-words__item--right">
            <div class="ghost-reading-words__item--right__txt"></div>
            <div class="ghost-reading-words__item--right__txt txt--2"></div>
          </div>
        </div>
        <div class="ghost-reading-words__item">
          <div class="ghost-reading-words__item--left"></div>
          <div class="ghost-reading-words__item--right">
            <div class="ghost-reading-words__item--right__txt"></div>
            <div class="ghost-reading-words__item--right__txt txt--2"></div>
          </div>
        </div>
        <div class="ghost-reading-words__item">
          <div class="ghost-reading-words__item--left"></div>
          <div class="ghost-reading-words__item--right">
            <div class="ghost-reading-words__item--right__txt"></div>
            <div class="ghost-reading-words__item--right__txt txt--2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/reading-ghost-item.scss';
</style>
