
<script>
export default {
  name: 'ghostCommunity'
}
</script>

<template>
  <div class="ghost-community">
    <div class="ghost-community__item" v-for="ghost in 4" :key="ghost">
      <div class="ghost-community__title"></div>
      <div class="ghost-community__link"></div>
      <div class="ghost-community__btn"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/ghost-animate.scss';
@import '../../assets/scss/variables';
.ghost-community {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  &__title {
    width: 25%;
    flex-shrink: 0;
    margin-right: 15px;
    height: 16px;
    border-radius: 16px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    @include bp(tablet) {
      width: 40%;
      margin-bottom: 10px;
      margin-right: 0;
    }
    &:after {
      @extend %animateEffect;
    }
  }
  &__link {
    flex-basis: 55%;
    max-width: 55%;
    height: 16px;
    border-radius: 16px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    @include bp(tablet) {
      flex-basis: unset;
      max-width: 100%;
      margin-bottom: 15px;
      width: 100%;
      flex-shrink: 0;
    }
    &:after {
      @extend %animateEffect;
    }
  }
  &__btn {
    flex-shrink: 9;
    width: 113px;
    height: 36px;
    border-radius: 8px;
    margin-left: 30px;
    flex-shrink: 0;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    @include bp(tablet) {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      margin-left: 0;
    }
    &:after {
      @extend %animateEffect;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
    @include bp(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
