<script>
export default {
  name: 'GhostProductItem'
}
</script>

<template>
  <div class="ghost-product">
    <div class="ghost-product__top">
      <div class="ghost-product__icon"></div>
      <div class="ghost-product__title"></div>
    </div>
    <div class="ghost-product__item">
      <div class="ghost-product__item--left">
        <div class="ghost-product__item--cover"></div>
        <div class="ghost-product__item--apps">
          <div class="ghost-product__item--app"></div>
          <div class="ghost-product__item--app"></div>
          <div class="ghost-product__item--app"></div>
        </div>
      </div>

      <div class="ghost-product__item--right">
        <div class="ghost-product__item--tags">
          <div class="ghost-product__item--tag"></div>
          <div class="ghost-product__item--tag tag--2"></div>
        </div>
        <div class="ghost-product__item--title"></div>

        <div class="ghost-product__item--infos">
          <div class="ghost-product__item--info"></div>
          <div class="ghost-product__item--info"></div>
          <div class="ghost-product__item--info"></div>
        </div>
        <div class="ghost-product__item--txts">
          <div class="ghost-product__item--txt"></div>
          <div class="ghost-product__item--txt txt--2"></div>
        </div>

        <!-- <div class="ghost-product__item--boxs">
          <div class="ghost-product__item--box"></div>
          <div class="ghost-product__item--box"></div>
        </div>-->
        <div class="ghost-product__item--footer">
          <div class="ghost-product__item--user"></div>
          <div class="ghost-product__item--button"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-magaza.scss';
</style>
