
<script>
export default {
  name: 'GhostExamTab'
}
</script>

<template>
  <div class="exam-tab-ghost">
    <div class="exam-tab-ghost__wrp">
      <div class="exam-tab-ghost__item">
        <div class="exam-tab-ghost__txt"></div>
      </div>
      <div class="exam-tab-ghost__item">
        <div class="exam-tab-ghost__txt"></div>
      </div>
      <div class="exam-tab-ghost__item">
        <div class="exam-tab-ghost__txt"></div>
      </div>
      <div class="exam-tab-ghost__item">
        <div class="exam-tab-ghost__txt"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
