
<script>
export default {
  name: 'GhostWordyResult'
}
</script>

<template>
  <div class="ghost-wordy-result">
    <div class="ghost-wordy-result__circle">
      <div class="ghost-wordy-result__num"></div>
    </div>
    <div class="ghost-wordy-result__txt"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/wordy-ghost-item.scss';
</style>
