<script>
export default {
  name: 'GhostWordyItem'
}
</script>

<template>
  <div class="wordy-ghost__outer">
    <div class="wordy-ghost__item">
      <div class="wordy-ghost__title"></div>
      <div class="wordy-ghost__circle"></div>
      <div class="wordy-ghost__count"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/wordy-ghost-item.scss';
</style>
