<script>
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
export default {
  name: 'GhostHomePerformance',
  components: {
    GhostVueSelect
  }
}
</script>

<template>
  <div class="ghost-performance--outer">
    <div class="ghost-performance">
      <div class="ghost-performance__item mb-20">
        <div class="ghost-performance__top">
          <div class="ghost-performance__title"></div>
        </div>
        <div class="ghost-performance__cnt">
          <div class="ghost-performance__cnt--item">
            <div class="ghost-performance__cnt--icon"></div>
            <div class="ghost-performance__cnt--title"></div>
            <div class="ghost-performance__cnt--num"></div>
          </div>
          <div class="ghost-performance__cnt--item"></div>
          <div class="ghost-performance__cnt--item"></div>
        </div>
      </div>
      <div class="ghost-performance__item mb-20">
        <div class="ghost-performance__top">
          <div class="ghost-performance__title"></div>
        </div>
        <div class="ghost-performance__cnt">
          <div class="ghost-performance__cnt--item">
            <div class="ghost-performance__cnt--icon"></div>
            <div class="ghost-performance__cnt--title"></div>
            <div class="ghost-performance__cnt--num"></div>
          </div>
          <div class="ghost-performance__cnt--item"></div>
          <div class="ghost-performance__cnt--item"></div>
        </div>
      </div>
    </div>
    <hr />
    <div class="ghost-performance">
      <div class="ghost-performance__item mt-20">
        <div class="ghost-performance__top2">
          <div class="ghost-performance__top2--icon"></div>
          <div class="ghost-performance__top2--title"></div>
          <GhostVueSelect class="ghost-performance-select" />
        </div>
        <div class="ghost-performance__table">
          <div class="ghost-performance__table--left">
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
          </div>
          <div class="ghost-performance__table--right">
            <div class="ghost-performance__table--col"></div>
            <div class="ghost-performance__table--col col2"></div>
            <div class="ghost-performance__table--col col3"></div>
            <div class="ghost-performance__table--col col4"></div>
          </div>
        </div>
        <div class="ghost-performance__cnt2 bordered">
          <div class="ghost-performance__cnt2--title"></div>
          <div class="ghost-performance__cnt2--title t2"></div>
        </div>
        <div class="ghost-performance__txt-cnt">
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
        </div>
        <div class="ghost-performance__total">
          <div class="ghost-performance__total--num"></div>
          <div class="ghost-performance__total--num2"></div>
        </div>
        <div class="ghost-performance__badges">
          <div class="ghost-performance__badge"></div>
          <div class="ghost-performance__badge"></div>
          <div class="ghost-performance__badge"></div>
        </div>
      </div>
      <div class="ghost-performance__item mt-20">
        <div class="ghost-performance__top2">
          <div class="ghost-performance__top2--icon"></div>
          <div class="ghost-performance__top2--title"></div>
          <GhostVueSelect class="ghost-performance-select" />
        </div>
        <div class="ghost-performance__table">
          <div class="ghost-performance__table--left">
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
            <div class="ghost-performance__table--txt">
              <div class="ghost-performance__table--txt-in"></div>
              <div class="ghost-performance__table--txt-in2"></div>
            </div>
          </div>
          <div class="ghost-performance__table--right">
            <div class="ghost-performance__table--col"></div>
            <div class="ghost-performance__table--col col2"></div>
            <div class="ghost-performance__table--col col3"></div>
            <div class="ghost-performance__table--col col4"></div>
          </div>
        </div>
        <div class="ghost-performance__cnt2 bordered">
          <div class="ghost-performance__cnt2--title"></div>
          <div class="ghost-performance__cnt2--title t2"></div>
        </div>
        <div class="ghost-performance__txt-cnt">
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
          <div class="ghost-performance__cnt2">
            <div class="ghost-performance__cnt2--title"></div>
            <div class="ghost-performance__cnt2--title t2"></div>
          </div>
        </div>
        <div class="ghost-performance__total">
          <div class="ghost-performance__total--num"></div>
          <div class="ghost-performance__total--num2"></div>
        </div>
        <div class="ghost-performance__badges">
          <div class="ghost-performance__badge"></div>
          <div class="ghost-performance__badge"></div>
          <div class="ghost-performance__badge"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
