<script>
export default {
  name: 'GhostVueSelect'
}
</script>

<template>
  <div class="ghost-filter">
    <div class="ghost-search">
      <div class="ghost-search__icon"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-tab-filter.scss';
</style>
