
<script>
export default {
  name: 'GhostToolbarWordbook'
}
</script>

<template>
  <div class="ghost-toolbar-wordbook">
    <div class="ghost-toolbar-wordbook__top">
      <div class="ghost-toolbar-wordbook__left">
        <div class="ghost-toolbar-wordbook__top-title"></div>
        <div class="ghost-toolbar-wordbook__top-txt"></div>
      </div>
      <div class="ghost-toolbar-wordbook__icon"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
