<script>
export default {
  name: 'GhostCluebankTitle'
}
</script>

<template>
  <div class="clue-ghost__bracket">
    <div class="clue-ghost__bracket--left">
      <div class="clue-ghost__bracket__icon"></div>
      <div class="clue-ghost__bracket__title"></div>
      <div class="clue-ghost__bracket__txt"></div>
    </div>
    <div class="clue-ghost__bracket__line"></div>
    <div class="clue-ghost__bracket__icon icon--2"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/cluebank-list-ghost-item.scss';
</style>
