<script>
export default {
  name: 'GhostDigibookPassageTxt'
}
</script>

<template>
  <div class="ghost-digibook-passage">
    <div class="ghost-digibook-passage__txt" v-for="n in 7" :key="n"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
