
<script>
export default {
  name: 'GhostExamHeader'
}
</script>

<template>
  <div class="exam-header-ghost">
    <div class="exam-header-ghost__title"></div>
    <div class="exam-header-ghost__middle">
      <div class="exam-header-ghost__left">
        <div class="exam-header-ghost__item">
          <div class="exam-header-ghost__item--icon"></div>
          <div class="exam-header-ghost__item--txt"></div>
        </div>
        <div class="exam-header-ghost__item">
          <div class="exam-header-ghost__item--icon"></div>
          <div class="exam-header-ghost__item--txt"></div>
        </div>
        <div class="exam-header-ghost__item">
          <div class="exam-header-ghost__item--icon"></div>
          <div class="exam-header-ghost__item--txt"></div>
        </div>
      </div>
      <div class="exam-header-ghost__right">
        <div class="exam-header-ghost__time-title"></div>
        <div class="exam-header-ghost__time"></div>
      </div>
    </div>
    <div class="exam-header-ghost__progress"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
