<script>
export default {
  name: 'GhostDigibookTranslate'
}
</script>

<template>
  <div class="ghost-digibook-test ghostdigibook-test--translate">
    <div class="ghost-digibook-test__number"></div>
    <div class="ghost-digibook-test__cnt">
      <div class="ghost-digibook-test__question">
        <div class="ghost-digibook-test__question--txt"></div>
        <div class="ghost-digibook-test__question--txt txt--2"></div>
      </div>
      <div class="ghost-digibook-test__translate"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
