<script>
export default {
  name: 'GhostDictionaryDetail'
}
</script>

<template>
  <div class="dictionary-ghost-detail">
    <div class="dictionary-ghost-detail-left">
      <div class="dictionary-ghost-detail-left__top">
        <div class="dictionary-ghost-detail-left__head">
          <div class="dictionary-ghost-detail-left__rate"></div>
          <div class="dictionary-ghost-detail-left__cnt">
            <div class="dictionary-ghost-detail-left__title"></div>
            <div class="dictionary-ghost-detail-left__txt-cnt">
              <div class="dictionary-ghost-detail-left__txt"></div>
              <div class="dictionary-ghost-detail-left__txt txt--2"></div>
            </div>
          </div>
          <div class="dictionary-ghost-detail-left__icon"></div>
        </div>
        <div class="dictionary-ghost-detail-left__bottom no-after">
          <div class="dictionary-ghost-detail-left__bottom--txt"></div>
          <div class="dictionary-ghost-detail-left__bottom--txt txt--2"></div>
        </div>
      </div>
      <div class="dictionary-ghost-detail-left__bottom">
        <div class="dictionary-ghost-detail-left__bottom--txt"></div>
        <div class="dictionary-ghost-detail-left__bottom--txt txt--2"></div>
      </div>
      <div class="dictionary-ghost-detail-left__footer">
        <div class="dictionary-ghost-detail-left__footer--title"></div>
        <div class="dictionary-ghost-detail-left__footer--icon"></div>
      </div>
    </div>
    <div class="dictionary-ghost-detail-right">
      <div class="dictionary-ghost-detail-right__top">
        <div class="dictionary-ghost-detail-right__title"></div>
        <div class="dictionary-ghost-detail-right__line"></div>
      </div>
      <div class="dictionary-ghost-detail-right__middle">
        <div class="dictionary-ghost-detail-right__txt"></div>
        <div class="dictionary-ghost-detail-right__txt txt--2"></div>
        <div class="dictionary-ghost-detail-right__txt txt--2"></div>
        <div class="dictionary-ghost-detail-right__txt txt--3"></div>
        <div class="dictionary-ghost-detail-right__txt txt--4"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
