<script>
export default {
  name: 'GhostReadingDetailMain'
}
</script>

<template>
  <div class="ghost-reading-main">
    <div class="ghost-reading-main__top">
      <div class="ghost-reading-main__title"></div>
      <div class="ghost-reading-main__tag-cnt">
        <div class="ghost-reading-main__tag"></div>
        <div class="ghost-reading-main__tag tag--2"></div>
      </div>
    </div>
    <div class="ghost-reading-main__cnt">
      <div class="ghost-reading-main__txt"></div>
      <div class="ghost-reading-main__txt txt--2"></div>
      <div class="ghost-reading-main__txt txt--3"></div>
      <div class="ghost-reading-main__txt txt--4"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/reading-ghost-item.scss';
</style>
