
<script>
export default {
  name: 'GhostExamReport'
}
</script>

<template>
  <div class="exam-detail-ghost">
    <div class="exam-detail-ghost__top">
      <div class="exam-detail-ghost__top--item">
        <div class="exam-detail-ghost__top--title"></div>
        <div class="exam-detail-ghost__top--line"></div>
        <div class="exam-detail-ghost__top--num"></div>
      </div>
      <div class="exam-detail-ghost__top--item">
        <div class="exam-detail-ghost__top--title"></div>
        <div class="exam-detail-ghost__top--line"></div>
        <div class="exam-detail-ghost__top--num"></div>
      </div>
      <div class="exam-detail-ghost__top--item">
        <div class="exam-detail-ghost__top--title"></div>
        <div class="exam-detail-ghost__top--line"></div>
        <div class="exam-detail-ghost__top--num"></div>
      </div>
      <div class="exam-detail-ghost__top--item">
        <div class="exam-detail-ghost__top--title"></div>
        <div class="exam-detail-ghost__top--line"></div>
        <div class="exam-detail-ghost__top--num"></div>
      </div>
    </div>
    <div class="exam-detail-ghost__middle">
      <div class="exam-detail-ghost__middle--item">
        <div class="exam-detail-ghost__middle--title"></div>
        <div class="exam-detail-ghost__middle--num"></div>
      </div>
      <div class="exam-detail-ghost__middle--item">
        <div class="exam-detail-ghost__middle--title"></div>
        <div class="exam-detail-ghost__middle--num"></div>
      </div>
      <div class="exam-detail-ghost__middle--item">
        <div class="exam-detail-ghost__middle--title"></div>
        <div class="exam-detail-ghost__middle--num"></div>
      </div>
    </div>
    <div class="exam-detail-ghost__bottom">
      <div class="exam-detail-ghost__bottom--txt"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
