<script>
import GhostWordyProgress from './GhostWordyProgress'
import GhostWordyItem from './GhostWordyItem'

export default {
  name: 'WordyGhost',
  components: {
    GhostWordyItem,
    GhostWordyProgress,
  },
}
</script>

<template>
  <div class="wordy-ghost">
    <div class="wordy-ghost-tabs">
      <span class="wordy-ghost-tabs__tab">
        <i></i>
      </span>
      <span class="wordy-ghost-tabs__tab">
        <i></i>
      </span>
      <span class="wordy-ghost-tabs__tab">
        <i></i>
      </span>
    </div>
    <GhostWordyProgress />
    <div class="wordy-ghost-items">
      <GhostWordyItem v-for="n in 16" :key="n" />
    </div>
  </div>
</template>

<style lang="scss">
.wordy-ghost {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  padding: 0 2rem;
  margin-top: 2.5rem;

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(236, 240, 245, 0.9);
    margin-bottom: 2rem;

    &__tab {
      height: 4rem;
      width: 4.5rem;
      /* background: rgba(236, 240, 245, 0.5); */
      margin: 0 3px;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      // &:first-child {
      //   width: 5.5rem;
      //   border-top: 3px solid rgba(236, 240, 245, 0.9);
      //   border-bottom: 3px solid rgba(236, 240, 245, 0.9);
      //   background: rgba(236, 240, 245, 0.5);
      // }

      & > i {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        background: rgba(236, 240, 245, 0.9);
        border-radius: 50%;
      }
    }
  }

  &-items {
    border-top: 1px solid rgba(236, 240, 245, 0.9);
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
