<script>
export default {
  name: 'ghostLessonDetail'
}
</script>

<template>
  <div class="lesson-tab__main-ghost">
    <div class="lesson-tab-ghost">
      <div class="lesson-tab-ghost__wrp">
        <div class="lesson-tab-ghost__item">
          <div class="lesson-tab-ghost__icon"></div>
          <div class="lesson-tab-ghost__txt"></div>
        </div>
        <div class="lesson-tab-ghost__item">
          <div class="lesson-tab-ghost__icon"></div>
          <div class="lesson-tab-ghost__txt"></div>
        </div>
      </div>
    </div>
    <div class="lesson-bottom-ghost">
      <div class="lesson-bottom-ghost__top">
        <div class="lesson-bottom-ghost__left">
          <div class="lesson-bottom-ghost__left--txt"></div>
          <div class="lesson-bottom-ghost__left--title"></div>
        </div>
        <div class="lesson-bottom-ghost__right">
          <div class="lesson-bottom-ghost__right--date"></div>
          <div class="lesson-bottom-ghost__right--time"></div>
        </div>
      </div>
      <div class="lesson-bottom-ghost__cnt">
        <div class="lesson-bottom-ghost__txt"></div>
        <div class="lesson-bottom-ghost__txt txt--2"></div>
        <div class="lesson-bottom-ghost__txt txt--3"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-lesson.scss';
</style>
