
<script>
export default {
  name: 'GhostExamCard'
}
</script>

<template>
  <div class="exam-ghost">
    <div class="exam-ghost__left"></div>
    <div class="exam-ghost__cnt">
      <div class="exam-ghost__icon"></div>
      <div class="exam-ghost__title"></div>
    </div>
    <div class="exam-ghost__right">
      <div class="exam-ghost__txt"></div>
      <div class="exam-ghost__button"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
