
<script>
export default {
  name: 'ghostFaqs'
}
</script>

<template>
  <div class="ghost-faqs">
    <div class="ghost-faqs__item" v-for="ghost in 4" :key="ghost">
      <div class="ghost-faqs__item--top">
        <div class="ghost-faqs__item--title"></div>
      </div>
      <div class="ghost-faqs__item--cnt">
        <div class="ghost-faqs__item--txt"></div>
        <div class="ghost-faqs__item--txt txt2"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/ghost-animate.scss';
.ghost-faqs {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    width: 100%;
    border-radius: 7px;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    padding: 25px;
    margin-bottom: 30px;
    flex-direction: column;
    &:last-child {
      margin-bottom: 0;
    }
    &--top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $ghostBg;
    }
    &--title {
      width: 40%;
      height: 18px;
      border-radius: 18px;
      background: $ghostBg;
    }
    &--cnt {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &--txt {
      width: 80%;
      height: 15px;
      border-radius: 15px;
      background: $ghostBg;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &.txt2 {
        width: 30%;
      }
    }

    &:after {
      @extend %animateEffect;
    }
  }
}
</style>
