<script>
export default {
  name: 'GhostProductsItems'
}
</script>

<template>
  <div class="col-md-12 col-lg-10 col-xl-8 ghost-product-item">
    <div class="ghost-product-item__icon"></div>
    <div class="ghost-product-item__cnt">
      <div class="ghost-product-item__icon"></div>
      <div class="ghost-product-item__cnt--txt-cnt">
        <div class="ghost-product-item__cnt--txt"></div>
        <div class="ghost-product-item__cnt--txt"></div>
      </div>
    </div>
    <div class="ghost-product-item__right">
      <div class="ghost-product-item__cnt--txt-cnt">
        <div class="ghost-product-item__cnt--txt"></div>
        <div class="ghost-product-item__cnt--txt"></div>
      </div>
      <div class="ghost-product-item__icon"></div>
    </div>
  </div>
</template>
