
<script>
export default {
  name: 'GhostDenemeReportHeader'
}
</script>

<template>
  <div class="exam-header-ghost report-header-ghost">
    <div class="exam-header-ghost__title"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
