<script>
export default {
  name: 'GhostDigibookTable'
}
</script>

<template>
  <div>
    <div class="ghost-digibook-table__first">
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
        <div class="ghost-digibook-table__right right-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
      </div>
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
        <div class="ghost-digibook-table__right right-first">
          <div class="ghost-digibook-table__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
        <div class="ghost-digibook-table__right right-first">
          <div class="ghost-digibook-table__txt txt--3"></div>
        </div>
      </div>
    </div>
    <div class="ghost-digibook-table__second">
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-second">
          <div class="ghost-digibook-table__txt"></div>
        </div>
        <div class="ghost-digibook-table__right right-second">
          <div class="ghost-digibook-table__txt txt"></div>
        </div>
      </div>
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-second">
          <div class="ghost-digibook-table__txt txt--2"></div>
        </div>
        <div class="ghost-digibook-table__right right-second">
          <div class="ghost-digibook-table__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-digibook-table__item">
        <div class="ghost-digibook-table__left left-second">
          <div class="ghost-digibook-table__txt txt--3"></div>
        </div>
        <div class="ghost-digibook-table__right right-second">
          <div class="ghost-digibook-table__txt"></div>
        </div>
      </div>
    </div>
    <div class="ghost-digibook-table__first">
      <div class="ghost-digibook-table__item" v-for="n in 4" :key="n">
        <div class="ghost-digibook-table__left left-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
        <div class="ghost-digibook-table__right right-first">
          <div class="ghost-digibook-table__txt"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
