<template>
  <div class="ghost-digibook-completion">
    <div class="ghost-digibook-completion__text"></div>
    <div class="ghost-digibook-completion__progress"></div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.ghost-digibook-completion {
  display: flex;
  align-items: center;

  &__text {
    height: 0.8rem;
    width: 6rem;
    border-radius: 0.3rem;
    background: var(--background-color-slight);
  }

  &__progress {
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
    background: var(--background-color-slight);
    border-radius: 2rem;
  }
}
</style>
