
<script>
export default {
  name: 'GhostToolbarWordbookSearch'
}
</script>

<template>
  <div class="ghost-toolbar-wordbook-search">
    <div class="ghost-toolbar-wordbook-search__icon"></div>
    <div class="ghost-toolbar-wordbook-search__txt"></div>
    <div class="ghost-toolbar-wordbook-search__txt2"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
