<script>
export default {
  name: 'GhostProductSingle'
}
</script>

<template>
  <div class="ghost-product-single--outer">
    <div class="ghost-product-single" v-for="n in 6" :key="n">
      <div class="ghost-product-single__img"></div>
      <div class="ghost-product-single__title">
        <div class="ghost-product-single__title--inner"></div>
        <div class="ghost-product-single__title--inner in2"></div>
      </div>
      <div class="ghost-product-single__num"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-magaza.scss';
</style>
