<script>
export default {
  name: 'GhostLeaderboard'
}
</script>

<template>
  <div class="ghost-leaderboard">
    <div class="ghost-leaderboard__top row">
      <div class="ghost-leaderboard__top--item col-md-1">
        <div class="ghost-leaderboard__top--txt"></div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-4">
        <div class="ghost-leaderboard__top--txt"></div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-5">
        <div class="ghost-leaderboard__top--txt"></div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-2">
        <div class="ghost-leaderboard__top--txt"></div>
      </div>
    </div>
    <div class="ghost-leaderboard__top row" v-for="n in 6" :key="n">
      <div class="ghost-leaderboard__top--item col-md-1">
        <div class="ghost-leaderboard__top--num"></div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-4">
        <div class="ghost-leaderboard__top--badges">
          <div class="ghost-leaderboard__top--img"></div>
          <div class="ghost-leaderboard__top--name"></div>
        </div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-5">
        <div class="ghost-leaderboard__top--badges">
          <div class="ghost-leaderboard__top--badge"></div>
          <div class="ghost-leaderboard__top--badge"></div>
          <div class="ghost-leaderboard__top--badge"></div>
          <div class="ghost-leaderboard__top--badge"></div>
          <div class="ghost-leaderboard__top--badge"></div>
        </div>
      </div>
      <div class="ghost-leaderboard__top--item col-md-2">
        <div class="ghost-leaderboard__top--score"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
