<script>
export default {
  name: 'GhostWordlists',
}
</script>

<template>
  <div class="ghost-reading-words__cnt is-wordslist">
    <div class="ghost-reading-words__top">
      <div class="ghost-reading-words__txt"></div>
      <div class="ghost-reading-words__button"></div>
    </div>
    <div class="ghost-reading-words__main">
      <div class="ghost-reading-words__item">
        <div class="ghost-reading-words__item--left"></div>
        <div class="ghost-reading-words__item--right">
          <div class="ghost-reading-words__item--right__txt"></div>
          <div class="ghost-reading-words__item--right__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-reading-words__item">
        <div class="ghost-reading-words__item--left"></div>
        <div class="ghost-reading-words__item--right">
          <div class="ghost-reading-words__item--right__txt"></div>
          <div class="ghost-reading-words__item--right__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-reading-words__item">
        <div class="ghost-reading-words__item--left"></div>
        <div class="ghost-reading-words__item--right">
          <div class="ghost-reading-words__item--right__txt"></div>
          <div class="ghost-reading-words__item--right__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-reading-words__item">
        <div class="ghost-reading-words__item--left"></div>
        <div class="ghost-reading-words__item--right">
          <div class="ghost-reading-words__item--right__txt"></div>
          <div class="ghost-reading-words__item--right__txt txt--2"></div>
        </div>
      </div>
      <div class="ghost-reading-words__item">
        <div class="ghost-reading-words__item--left"></div>
        <div class="ghost-reading-words__item--right">
          <div class="ghost-reading-words__item--right__txt"></div>
          <div class="ghost-reading-words__item--right__txt txt--2"></div>
        </div>
      </div>
    </div>
  </div>
</template>
