<script>
export default {
  name: 'GhostReadingItem'
}
</script>

<template>
  <div class="reading-ghost__item">
    <div class="reading-ghost__left"></div>
    <div class="reading-ghost__right">
      <div class="reading-ghost__content">
        <div class="reading-ghost__title"></div>
        <div class="reading-ghost__txt"></div>
      </div>
      <div class="reading-ghost__bottom">
        <div class="reading-ghost__icons">
          <div class="reading-ghost__icon"></div>
          <div class="reading-ghost__icon"></div>
          <div class="reading-ghost__icon"></div>
        </div>
        <div class="reading-ghost__time">
          <div class="reading-ghost__time-icon"></div>
          <div class="reading-ghost__time-txt"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/reading-ghost-item.scss';
</style>
