<script>
export default {
  name: 'DocumentsGhost'
}
</script>

<template>
  <div class="docs-ghost__item">
    <div class="docs-ghost__header">
      <span class="docs-ghost__icon"></span>
      <div class="docs-ghost__content">
        <div class="docs-ghost__title"></div>
        <p class="docs-ghost__txt"></p>
      </div>
    </div>
    <div class="docs-ghost-inf">
      <div class="docs-ghost-inf__title"></div>
      <div class="docs-ghost-inf__groups">
        <span class="docs-ghost-inf__group"></span>
        <span class="docs-ghost-inf__group"></span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/docs-ghost-item.scss';
</style>
