<script>
export default {
  name: 'GhostLessonDetailHeader'
}
</script>

<template>
  <div class="ghost-lesson-header-info">
    <div class="ghost-lesson-header-info__top">
      <div class="ghost-lesson-header-info__top--left">
        <div class="ghost-lesson-header-info__top--left--icon"></div>
        <div class="ghost-lesson-header-info__top--left--title"></div>
      </div>
      <div class="ghost-lesson-header-info__top--right">
        <div class="ghost-lesson-header-info__top--right--watch"></div>
        <div class="ghost-lesson-header-info__top--right--txt"></div>
        <!-- <div class="ghost-lesson-header-info__top--right--button"></div> -->
      </div>
    </div>
    <div class="ghost-lesson-header-info__bottom">
      <div class="ghost-lesson-header-info__left">
        <div class="ghost-lesson-header-info__icon"></div>
        <div class="ghost-lesson-header-info__content">
          <div class="ghost-lesson-header-info__title"></div>
          <div class="ghost-lesson-header-info__keys">
            <div class="ghost-lesson-header-info__key"></div>
            <div class="ghost-lesson-header-info__key"></div>
          </div>
        </div>
      </div>
      <div class="ghost-lesson-header-info__right">
        <div class="ghost-lesson-header-info__date"></div>
        <div class="ghost-lesson-header-info__date date--2"></div>
        <div class="ghost-lesson-header-info__date date--3"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/lessons-ghost-header-info.scss';
</style>
