<script>
export default {
  name: 'GhostDigibookPairing'
}
</script>

<template>
  <div>
    <div class="ghost-digibook-pairing" v-for="n in 5" :key="n">
      <div class="ghost-digibook-pairing__left">
        <div class="ghost-digibook-pairing__txt"></div>
      </div>
      <div class="ghost-digibook-pairing__right">
        <div class="ghost-digibook-pairing__txt"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
