
<script>
export default {
  name: 'ghostFaqs'
}
</script>

<template>
  <div class="ghost-faqs">
    <div class="ghost-faqs-category__item" v-for="ghost in 4" :key="ghost">
      <div class="ghost-faqs-category__item--top">
        <div class="ghost-faqs-category__item--title"></div>
      </div>
      <div class="ghost-faqs-category__item--cnt">
        <div class="ghost-faqs-category__item--txt"></div>
        <div class="ghost-faqs-category__item--txt txt2"></div>
        <div class="ghost-faqs-category__item--txt txt3"></div>
        <div class="ghost-faqs-category__item--txt txt4"></div>
        <div class="ghost-faqs-category__item--txt txt5"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/ghost-animate.scss';
.ghost-faqs-category {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column;
    &:last-child {
      margin-bottom: 0;
    }
    &--top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 20px;
    }
    &--title {
      width: 40%;
      height: 16px;
      border-radius: 16px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      &:after {
        @extend %animateEffect;
      }
    }
    &--cnt {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &--txt {
      width: 70%;
      height: 12px;
      border-radius: 12px;
      background: $ghostBg;
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      &:after {
        @extend %animateEffect;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.txt2,
      &.txt5 {
        width: 30%;
      }
      &.txt3,
      &.txt4 {
        width: 50%;
      }
    }
  }
}
</style>
