
<script>
export default {
  name: 'GhostPlanHomeWeekly'
}
</script>

<template>
  <div class="ghost-home-weekly">
    <div class="ghost-home-weekly__title"></div>
    <div class="ghost-home-weekly__txt"></div>
    <div class="ghost-home-weekly__line"></div>
    <div class="ghost-home-weekly__button"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
