<script>
export default {
  name: 'GhostWordyProgress'
}
</script>

<template>
  <div class="wordy-ghost-progress">
    <div class="wordy-ghost-progress__left">
      <div class="wordy-ghost-progress__inner"></div>
    </div>
    <div class="wordy-ghost-progress__right"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/wordy-ghost-item.scss';
</style>
