<script>
export default {
  name: 'GhostDigibookTest'
}
</script>

<template>
  <div class="ghost-digibook-test">
    <div class="ghost-digibook-test__number"></div>
    <div class="ghost-digibook-test__cnt">
      <div class="ghost-digibook-test__question">
        <div class="ghost-digibook-test__question--txt"></div>
        <div class="ghost-digibook-test__question--txt txt--2"></div>
      </div>
      <div class="ghost-digibook-test__opts">
        <div class="ghost-digibook-test__opt" v-for="n in 5" :key="n">
          <div class="ghost-digibook-test__opt--left"></div>
          <div class="ghost-digibook-test__opt--right"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
