<script>
export default {
  name: 'GhostDictionaryBracket'
}
</script>

<template>
  <div class="dictionary-ghost__bracket">
    <div class="dictionary-ghost__bracket__title"></div>
    <div class="dictionary-ghost__bracket__date"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-bracket.scss';
</style>
