
<script>
export default {
  name: 'GhostCalendar'
}
</script>

<template>
  <div class="ghost-calendar">
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
        <div class="ghost-calendar__in cnt--2"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
        <div class="ghost-calendar__in cnt--3"></div>
        <div class="ghost-calendar__in cnt--4"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
        <div class="ghost-calendar__in cnt--2"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--3"></div>
      </div>
    </div>
    <div class="ghost-calendar__item">
      <div class="ghost-calendar__top">
        <div class="ghost-calendar__top--date"></div>
        <div class="ghost-calendar__top--date2"></div>
      </div>
      <div class="ghost-calendar__cnt">
        <div class="ghost-calendar__in cnt--1"></div>
        <div class="ghost-calendar__in cnt--3"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
