<script>
export default {
  name: 'GhostDocsPdf'
}
</script>

<template>
  <div class="docs-ghost-pdf">
    <div class="docs-ghost-pdf__inner">
      <div class="docs-ghost-pdf__title"></div>
      <div class="docs-ghost-pdf__content">
        <div class="docs-ghost-pdf__txt"></div>
        <div class="docs-ghost-pdf__txt pdf-txt--2"></div>
        <div class="docs-ghost-pdf__txt pdf-txt--3"></div>
        <div class="docs-ghost-pdf__txt"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-docs-pdf.scss';
</style>
