<script>
export default {
  name: 'GhostDictionaryDetailHeader'
}
</script>

<template>
  <div class="dictionary-ghost-detail-header">
    <div class="dictionary-ghost-detail-header__left">
      <div class="dictionary-ghost-detail-header__icon"></div>
      <div class="dictionary-ghost-detail-header__title"></div>
    </div>
    <div class="dictionary-ghost-detail-header__right">
      <div class="dictionary-ghost-detail-header__button"></div>
      <div class="dictionary-ghost-detail-header__button"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-word.scss';
</style>
