
<script>
export default {
  name: 'GhostAccountPasswords'
}
</script>

<template>
  <div class="ghost-account-details">
    <div class="ghost-account-details__profile">
      <div class="ghost-account-details__img"></div>
      <div class="ghost-account-details__cnt">
        <div class="ghost-account-details__txt"></div>
        <div class="ghost-account-details__txt txt--2"></div>
      </div>
    </div>
    <div class="ghost-account-details__input-side">
      <div class="ghost-account-details__input-cnt" v-for="n in 4" :key="n">
        <div class="ghost-account-details__input"></div>
        <div class="ghost-account-details__input"></div>
      </div>
    </div>
    <div class="ghost-account-details__input"></div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-account.scss';
</style>
