<script>
export default {
  name: 'GhostWordlistTabs',
}
</script>

<template>
  <div class="ghost-reading-words__tab is-wordslist">
    <div class="ghost-reading-words__tab--item"></div>
    <div class="ghost-reading-words__tab--item item--2"></div>
    <div class="ghost-reading-words__tab--item item--3"></div>
  </div>
</template>
