
<script>
export default {
  name: 'GhostExamTest'
}
</script>

<template>
  <div class="exam-test-ghost">
    <!-- <div class="exam-test-ghost__top">
        <div class="exam-test-ghost__top--txt"></div>
        <div class="exam-test-ghost__top--txt txt--2"></div>
    </div>-->
    <div class="exam-test-ghost__question">
      <div class="exam-test-ghost__question--num"></div>
      <div class="exam-test-ghost__question--cnt">
        <div class="exam-test-ghost__question--txt"></div>
        <div class="exam-test-ghost__question--txt txt--2"></div>
        <div class="exam-test-ghost__question--txt txt--3"></div>
      </div>
    </div>
    <div class="exam-test-ghost__main">
      <div class="exam-test-ghost__item">
        <div class="exam-test-ghost__opt"></div>
        <div class="exam-test-ghost__opt-txt"></div>
      </div>
      <div class="exam-test-ghost__item">
        <div class="exam-test-ghost__opt"></div>
        <div class="exam-test-ghost__opt-txt txt--2"></div>
      </div>
      <div class="exam-test-ghost__item">
        <div class="exam-test-ghost__opt"></div>
        <div class="exam-test-ghost__opt-txt txt--3"></div>
      </div>
      <div class="exam-test-ghost__item">
        <div class="exam-test-ghost__opt"></div>
        <div class="exam-test-ghost__opt-txt txt--4"></div>
      </div>
      <div class="exam-test-ghost__item">
        <div class="exam-test-ghost__opt"></div>
        <div class="exam-test-ghost__opt-txt txt--5"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/deneme-ghost-all-items.scss';
</style>
