<script>
export default {
  name: 'GhostDigibookItem'
}
</script>

<template>
  <div class="digi-card-ghost__item">
    <div class="digi-card-ghost__left"></div>
    <div class="digi-card-ghost__right">
      <div class="digi-card-ghost__title"></div>
      <div class="digi-card-ghost__txt"></div>
      <div class="digi-card-ghost__progress-content">
        <div class="digi-card-ghost__progress"></div>
        <div class="digi-card-ghost__progress-txt"></div>
      </div>
      <div class="digi-card-ghost__bottom">
        <div class="digi-card-ghost__icon-txt"></div>
        <div class="digi-card-ghost__icons">
          <div class="digi-card-ghost__icon"></div>
          <div class="digi-card-ghost__icon"></div>
          <div class="digi-card-ghost__icon"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
