<script>
export default {
  name: 'GhostCluebankItem'
}
</script>

<template>
  <div class="cluebank-list-ghost__item">
    <div class="cluebank-list-ghost__header">
      <span class="cluebank-list-ghost__icon"></span>
      <div class="cluebank-list-ghost__content">
        <div class="cluebank-list-ghost__title"></div>
      </div>
    </div>
    <div class="cluebank-list-ghost-inf">
      <div class="cluebank-list-ghost-inf__txt w100"></div>
      <div class="cluebank-list-ghost-inf__txt w70"></div>
      <div class="cluebank-list-ghost-inf__txt w30"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/cluebank-list-ghost-item.scss';
</style>
