<script>
export default {
  name: 'GhostDigibookIntro'
}
</script>

<template>
  <div class="ghost-digibook-intro">
    <div class="ghost-digibook-intro__top">
      <div class="ghost-digibook-intro__top--title"></div>
      <div class="ghost-digibook-intro__top--txt"></div>
    </div>
    <div class="ghost-digibook-intro__bottom">
      <div class="ghost-digibook-intro__bottom--txt"></div>
      <div class="ghost-digibook-intro__bottom--txt txt--2"></div>
      <div class="ghost-digibook-intro__bottom--txt txt--3"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
