
<script>
export default {
  name: 'GhostPlanItem'
}
</script>

<template>
  <div class="ghost-plan-item">
    <div class="ghost-plan-item__left">
      <div class="ghost-plan-item__left--icon"></div>
      <div class="ghost-plan-item__left--txt"></div>
      <div class="ghost-plan-item__left--progress">
        <div class="ghost-plan-item__left--txt"></div>
      </div>
    </div>
    <div class="ghost-plan-item__right">
      <div class="ghost-plan-item__right--icon"></div>
      <div class="ghost-plan-item__right--txt"></div>
      <div class="ghost-plan-item__right--button"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
