<script>
export default {
  name: 'GhostCluebankDetail'
}
</script>

<template>
  <div class="cluebank-list-ghost__item clue-detail">
    <div class="cluebank-list-ghost__header">
      <div class="cluebank-list-ghost__content">
        <div class="cluebank-list-ghost__title"></div>
      </div>
      <span class="cluebank-list-ghost__icon"></span>
    </div>
    <div class="cluebank-list-ghost-inf">
      <div class="cluebank-list-ghost-inf__txt w100"></div>
      <div class="cluebank-list-ghost-inf__txt w70"></div>
      <div class="cluebank-list-ghost-inf__txt w30"></div>
      <div class="cluebank-list-ghost-inf__txt w30"></div>
      <div class="cluebank-list-ghost-inf__txt w30"></div>
      <div class="cluebank-list-ghost-inf__txt w70"></div>
      <div class="cluebank-list-ghost-inf__txt w70"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/cluebank-list-ghost-item.scss';
</style>
