
<script>
export default {
  name: 'GhostUserApps'
}
</script>

<template>
  <div class="ghost-home-header">
    <div class="ghost-home-header__left">
      <div class="ghost-home-header__img"></div>
      <div class="ghost-home-header__cnt">
        <div class="ghost-home-header__welcome"></div>
        <div class="ghost-home-header__name"></div>
      </div>
    </div>
    <div class="ghost-home-header__right">
      <div class="ghost-home-header__welcome"></div>
      <div class="ghost-home-header__bottom">
        <div class="ghost-home-header__user-item">
          <div class="ghost-home-header__user-icon"></div>
          <div class="ghost-home-header__user-txt"></div>
        </div>
        <div class="ghost-home-header__user-item">
          <div class="ghost-home-header__user-icon"></div>
          <div class="ghost-home-header__user-txt"></div>
        </div>
        <div class="ghost-home-header__user-item__more"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/ghost-home-page.scss';
</style>
