<script>
export default {
  name: 'GhostWordslistMain',
}
</script>

<template>
  <div class="ghost-reading-words__main">
    <div class="ghost-reading-words__item">
      <div class="ghost-reading-words__item--left"></div>
      <div class="ghost-reading-words__item--right">
        <div class="ghost-reading-words__item--right__txt"></div>
        <div class="ghost-reading-words__item--right__txt txt--2"></div>
      </div>
    </div>
    <div class="ghost-reading-words__item">
      <div class="ghost-reading-words__item--left"></div>
      <div class="ghost-reading-words__item--right">
        <div class="ghost-reading-words__item--right__txt"></div>
        <div class="ghost-reading-words__item--right__txt txt--2"></div>
      </div>
    </div>
    <div class="ghost-reading-words__item">
      <div class="ghost-reading-words__item--left"></div>
      <div class="ghost-reading-words__item--right">
        <div class="ghost-reading-words__item--right__txt"></div>
        <div class="ghost-reading-words__item--right__txt txt--2"></div>
      </div>
    </div>
    <div class="ghost-reading-words__item">
      <div class="ghost-reading-words__item--left"></div>
      <div class="ghost-reading-words__item--right">
        <div class="ghost-reading-words__item--right__txt"></div>
        <div class="ghost-reading-words__item--right__txt txt--2"></div>
      </div>
    </div>
    <div class="ghost-reading-words__item">
      <div class="ghost-reading-words__item--left"></div>
      <div class="ghost-reading-words__item--right">
        <div class="ghost-reading-words__item--right__txt"></div>
        <div class="ghost-reading-words__item--right__txt txt--2"></div>
      </div>
    </div>
  </div>
</template>
