<script>
export default {
  name: 'ghostMiniTxt'
}
</script>

<template>
  <div class="ghost-mini-txt"></div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
