<script>
export default {
  name: 'GhostDictionarySlider'
}
</script>

<template>
  <div class="dictionary-ghost-slider">
    <div class="dictionary-ghost-bracket mt-30">
      <div class="dictionary-ghost-bracket__left"></div>
      <div class="dictionary-ghost-bracket__line"></div>
      <div class="dictionary-ghost-bracket__right"></div>
    </div>
    <div class="dictionary-ghost-slider__wrapper">
      <div class="dictionary-ghost-slider__left"></div>
      <div class="dictionary-ghost-slider__content">
        <div class="dictionary-ghost-slider__item">
          <div class="dictionary-ghost-slider__header">
            <div class="dictionary-ghost-slider__word">
              <div class="dictionary-ghost-slider__icon"></div>
              <div class="dictionary-ghost-slider__title"></div>
            </div>
            <div class="dictionary-ghost-slider__share"></div>
          </div>
          <div class="dictionary-ghost-slider__cnt">
            <div class="dictionary-ghost-slider__desc">
              <div class="dictionary-ghost-slider__badge"></div>
              <div class="dictionary-ghost-slider__txt"></div>
            </div>
            <div class="dictionary-ghost-slider__desc">
              <div class="dictionary-ghost-slider__badge"></div>
              <div class="dictionary-ghost-slider__txt"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dictionary-ghost-slider__right"></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/dictionary-ghost-slider.scss';
</style>
