<script>
export default {
  name: 'GhostDigibookContent'
}
</script>

<template>
  <div class="ghost-digibook-content">
    <div class="ghost-digibook-content__title top-title"></div>
    <div class="ghost-digibook-content__inner">
      <div class="ghost-digibook-content__item" v-for="n in 4" :key="n">
        <div class="ghost-digibook-content__icon"></div>
        <div class="ghost-digibook-content__cnt">
          <div class="ghost-digibook-content__title"></div>
          <div class="ghost-digibook-content__txt"></div>
        </div>
        <div class="ghost-digibook-content__progress">
          <div class="ghost-digibook-content__progress--line"></div>
          <div class="ghost-digibook-content__progress--txt"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/ghost/digi-ghost-card-item.scss';
</style>
