<script>
import { mapActions, mapGetters } from 'vuex'
import DigibookIntro from '../../components/Digibook/DigibookIntro.vue'
import DigibookHeader from '../../components/Digibook/DigibookHeader/DigibookHeader.vue'
import DetailPage from '../../components/DetailPage.vue'
import BaseButton from '../../components/Base/BaseButton.vue'
import DigibookIndexContents from '../../components/Digibook/DigibookIndex/DigibookIndexContents.vue'
import { HANDLE_SOUNDS, SWITCH_DARKMODE } from '../../store/actions.type'
import { SET_DARKMODE_DETAIL } from '../../store/mutations.type'

export default {
  name: 'DigibookDetail',

  components: {
    Intro: DigibookIntro,
    Header: DigibookHeader,
    Page: DetailPage,
    Contents: DigibookIndexContents,
    BaseButton,
  },

  data() {
    return {
      digibookId: 0,
      digibookCover: null,
      headerLoading: false,
      buttonStyle: '',
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'digibook/loading',
      isLoaded: 'digibook/loaded',
      contentVisible: 'digibookContent/active',
      contentListVisible: 'digibook/index/contentListVisible',
      lastContentUrl: 'digibook/lastContentUrl',
      darkMode: 'getDarkMode',
      soundsOn: 'soundsOn',
      onMobile: 'onMobile',
    }),

    hasLoaded() {
      return !this.isLoading && this.isLoaded
    },

    inIndex() {
      return this.$route.matched.length === 2
    },

    contentSliderName() {
      let name = 'contents-slide-down'
      return this.$route.matched.length === 2 ? `${name}-delayed` : name
    },

    soundsButtonText() {
      return this.soundsOn ? 'Ses Efektlerini Kapat' : 'Ses Efektlerini Aç'
    },
  },

  watch: {
    hasLoaded: {
      immediate: true,
      handler(val) {
        if (val) {
          this.$router.push(this.lastContentUrl)
        }
      },
    },

    contentListVisible(val) {
      if (val) {
        document.querySelector('html').style.overflow = 'hidden'
      } else {
        document.querySelector('html').removeAttribute('style')
      }
    },

    $route: {
      immediate: true,
      handler(route) {
        this.showContentList(route.matched.length === 2)
      },
    },

    onMobile: {
      immediate: true,
      handler(val) {
        this.buttonStyle = !val ? '' : 'secondary'
      },
    },
  },

  mounted() {
    this.checkDarkMode()
    this.initDigibook()
  },

  destroyed() {
    document.querySelector('html').removeAttribute('style')
    this.$store.commit(SET_DARKMODE_DETAIL, false)
  },

  methods: {
    ...mapActions({
      getDigibook: 'digibook/getDigibook',
      clearDigibook: 'digibook/handleClearDigibook',
      handleActiveStatus: 'digibookContent/handleActiveStatus',
      showContentList: 'digibook/index/handleContentListVisibility',
    }),

    checkDarkMode() {
      let mode = document.querySelector('html').getAttribute('data-theme')
      this.$store.commit(SET_DARKMODE_DETAIL, mode === 'dark')
    },

    initDigibook() {
      this.digibookCover = this.$route.params.cover
      document.body.scrollTop = 0
      this.getDigibook(this.$route.params.id)
      if (!this.inIndex) {
        this.handleActiveStatus(true)
        this.showContentList(false)
      } else {
        this.showContentList(true)
      }
    },

    hideContentList() {
      if (this.inIndex) return false
      if (this.contentVisible) this.showContentList(false)
    },

    toggleContentsList() {
      if (!this.inIndex) this.showContentList(!this.contentVisible)
    },

    closeDigibook() {
      this.$router.push({ name: 'DigibookList' })
    },

    toggleTheme() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.darkMode)
    },

    toggleSounds() {
      this.$store.dispatch(HANDLE_SOUNDS, !this.soundsOn)
    },
  },

  beforeDestroy() {
    this.clearDigibook()
  },
}
</script>

<template>
  <div
    class="digibook"
    :class="{
      loading: !hasLoaded,
      'no-overflow': contentListVisible,
      'dark-mode': darkMode,
    }"
  >
    <transition name="intro-fade" mode="out-in">
      <div class="digibook-intro" v-if="!hasLoaded">
        <Intro>
          <template #cover>
            <img :src="digibookCover" />
          </template>
        </Intro>
      </div>
    </transition>
    <Page class="digibook-main" :overlay-visible="contentListVisible">
      <template #controls>
        <transition name="scale-out-fade-delayed">
          <div class="digibook-main-controls">
            <BaseButton
              class="digibook-main-controls__btn"
              :class="{ 'is-active': darkMode }"
              v-if="hasLoaded"
              v-tooltip.bottom="{
                content: 'Gece Modu',
                offset: 5,
              }"
              :icon="'lamp'"
              :styling="'circle'"
              :intent="buttonStyle"
              @click="toggleTheme"
            />
            <BaseButton
              class="digibook-main-controls__btn sound-btn"
              :class="{ 'is-active': soundsOn }"
              v-if="hasLoaded"
              v-tooltip.bottom="{
                content: soundsButtonText,
                offset: 5,
              }"
              :icon="soundsOn ? 'voice' : 'voice-off'"
              :styling="'circle'"
              :intent="buttonStyle"
              @click="toggleSounds"
            />
          </div>
        </transition>
      </template>
      <template #contents-button>
        <BaseButton
          class="digibook-main__contents-button"
          :icon="'contentssearch'"
          :styling="'pill'"
          :text="'İçindekiler'"
          :intent="'secondary'"
          :uppercase="true"
          @click="toggleContentsList"
        />
      </template>
      <template #content>
        <div v-if="!onMobile">
          <transition name="header-slide-down" mode="out-in">
            <Header
              class="digibook-header"
              v-if="hasLoaded"
              :on-mobile="onMobile"
            />
          </transition>
          <transition :name="contentSliderName">
            <Contents
              class="digibook-contentlist"
              v-if="hasLoaded && contentListVisible"
            />
          </transition>
        </div>
        <div
          class="digibook-main-header"
          v-if="onMobile && hasLoaded && contentListVisible"
        >
          <Header class="digibook-main-header__header" />
          <Contents class="digibook-contentlist" />
        </div>
        <transition name="content-fade-scale-in">
          <router-view class="digibook-content" />
        </transition>
      </template>
      <template #close>
        <transition name="scale-out-fade-delayed">
          <BaseButton
            class="detail-page-close__btn"
            v-if="hasLoaded"
            :uppercase="true"
            :intent="buttonStyle"
            :icon="'close'"
            :icon-size="12"
            :icon-position="'right'"
            :text="onMobile ? '' : 'Kapat'"
            :styling="'pill'"
            @click="closeDigibook"
          />
        </transition>
      </template>
    </Page>
    <div
      v-if="!onMobile"
      class="digibook-overlay"
      @click="hideContentList"
      :class="{ active: hasLoaded && contentListVisible }"
    />
  </div>
</template>

<style lang="scss" scoped>
@import '../../assets/scss/transitions';
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.digibook {
  min-height: calc(100vh - 107px);
  height: auto;
  position: relative;
  background: var(--background-color);
  transition: background 0.3s;

  &.no-overflow {
    overflow: hidden;
  }

  &.loading {
    position: absolute;
    z-index: 300;
    width: 100vw;
    left: 0;
    height: 100vh;
    background: var(--background-color);
  }

  &-intro {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    background: var(--background-color);
    animation: fade-in 0.3s ease-in-out;
  }

  &-main {
    position: relative;
    top: 0;

    &__contents-button {
      @include bp(tablet-m) {
        visibility: hidden;
      }

      @include bp(tablet) {
        visibility: visible;
        margin-left: 0.5rem;
      }
    }

    &-header {
      @include bp(tablet) {
        visibility: visible;
        position: fixed;
        top: 4.5rem;
        width: 100%;
        height: 100%;
        z-index: 4;
      }
    }

    &-controls {
      &::v-deep &__btn.sound-btn {
        padding-left: 1rem;
      }
      &::v-deep &__btn.is-active {
        background: #fff;
        color: $c-alt;

        &.sound-btn {
          padding-left: 0.5rem;
          @include bp(tablet) {
            background: var(--btn-background-sound);
          }
        }
      }
    }
  }

  &-header {
    z-index: 5;
  }

  &-contentlist {
    z-index: 4;

    &.transition-delay {
      transition-delay: 0.5s;
    }

    &.remove-delay {
      transition-delay: 0s;
    }
  }

  &-content {
    margin-top: 2rem;
  }

  &-overlay {
    background: var(--color-overlay);
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;

    &.active {
      opacity: 0.6;
      visibility: visible;
    }
  }
}
</style>
