<script>
import * as http from '../../services/digibook.service'
import { toggleTour } from '../../services/user.service'
import { mapActions, mapGetters } from 'vuex'

import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostDigibookItem from '@/core/Ghost/GhostDigibookItem'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'

import VueEmpty from '@/core/VueEmpty'
import VueFilter from '@/core/VueFilter'
import VueSelect from '@/core/VueSelect'
// import VueButton from '@/core/VueButton'
import AppHeader from '@/core/AppHeader'

import DigibookItem from '../../components/Digibook/DigibookItem'

export default {
  name: 'DigibookList',
  components: {
    GhostAppHeader,
    GhostDigibookItem,
    GhostVueSelect,
    GhostVueFilter,
    VueEmpty,
    VueFilter,
    VueSelect,
    // VueButton,
    AppHeader,
    DigibookItem
  },
  data() {
    return {
      info: {
        name: 'digibook',
        title: 'Digibook',
        icon: require('@/assets/img/app-digibook-white.svg'),
        sortIcon: require('@/assets/img/icon-sort-list-arrow.png'), // svg yüklerken webpack'ten kaynaklı sorun olduğu için şimdilik png olarak yükledim.
        background: '#A6487D',
        gradient: 'linear-gradient(to left, rgba(167, 74, 128, 1), rgba(167, 74, 128, .0))',
        what: null,
        video: null,
        howWorks: null,
        has_tour: null
      },
      groups: [],
      filters: {
        groupId: null,
        isFinished: null,
        orderId: null,
        orderType: 'desc',
        finishType: 'asc',
        page: 1
      },
      finishFilterItems: [
        {
          title: 'Tümü',
          value: -1
        },
        {
          title: 'Tamamladım',
          value: 1
        },
        {
          title: 'Tamamlamadım',
          value: 0
        }
      ],
      orderFilterItems: [
        {
          name: 'Tüm İçerikler',
          id: -1,
          type: 'asc'
        },
        {
          name: 'Eskiden Yeniye',
          id: 10,
          type: 'asc'
        },
        {
          name: 'Yeniden Eskiye',
          id: 11,
          type: 'desc'
        },
        {
          name: 'Düşük Tamamlama',
          id: 20,
          type: 'asc'
        },
        {
          name: 'Yüksek Tamamlama',
          id: 21,
          type: 'desc'
        }
      ],
      tourSteps: [
        {
          target: '.subpage-tab', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza kitaplar tanımlanır. Grup seçerek sahip olduğunuz kitapları filtreyebilirsiniz.</p>`
        },
        {
          target: '.subpage-tab-more__btn', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Diğer Ürün Grupları</strong> <p class="guide-desc">Üçten fazla ürün grubuna sahipseniz diğer grupları görüntüleyebilirsiniz.</p>`
        },
        {
          target: '#DigibookReadFilters', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Tamamlama Durumu</strong> <p class="guide-desc">Kitapları tamamlama durumuna göre filtreleyebilirsiniz.</p>`
        },
        {
          target: '.page-content-filters__right', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sıralama</strong> <p class="guide-desc">Kitapları eskiden yeniye, yeniden eskiye ve tamamlanma durumuna göre sıralayabilirsiniz.</p>`
        },

        {
          target: '.page-content-items .digi-card:nth-child(1)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Dijital Kitaplar</strong> <p class="guide-desc">Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir kitaba tıklayarak içerisine girebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        }
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      tourCallbacks: {
        onStop: this.finishTour
      }
    }
  },

  watch: {
    dataLoaded(data) {
      let tour = this.info.has_tour === true || this.info.has_tour === 'true'
      if (data && tour) this.startTour()
    }
  },

  computed: {
    ...mapGetters('digibookList', ['digibooks', 'isLoading', 'isLoaded', 'loadingMore', 'hasMore']),

    groupsLoaded() {
      return this.groups.length > 0
    },

    dataLoaded() {
      return this.groupsLoaded && this.isLoaded
    }
  },
  created() {
    document.title = 'Digibook | RH+ Platform'
    this.getHeaderData()
    this.setOrderFilterData()
  },
  mounted() {
    this.setGroupFilterData()
    this.setFinishFilterData()
    this.setInitialLoad(this.filters)
    this.$store.dispatch('rosette/getBadges')
  },
  methods: {
    ...mapActions('digibookList', [
      'getDigibooks',
      'getDigibooksList',
      'getDigibooksListByTime',
      'getDigibooksListByCompletion',
      'getDigibooksByGroup',
      'loadNext'
    ]),

    setInitialLoad() {
      if (Math.floor(this.filters.orderId / 10) === 1) {
        this.getDigibooksListByTime(this.filters)
      } else if (Math.floor(this.filters.orderId / 10) === 2) {
        this.getDigibooksListByCompletion(this.filters)
      } else {
        this.getDigibooksList(this.filters)
      }
    },

    getHeaderData() {
      http.info().then(res => {
        this.groups = res.data.groups
        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    setGroupFilterData() {
      if (localStorage.digibookGroup === undefined || isNaN(localStorage.digibookGroup)) {
        localStorage.digibookGroup = -1
      }
      this.filters.groupId = localStorage.digibookGroup
    },

    setFinishFilterData() {
      if (localStorage.digibookFinished === undefined || isNaN(localStorage.digibookFinished)) {
        localStorage.digibookFinished = -1
      }
      this.filters.isFinished = localStorage.getItem('digibookFinished')
    },

    setOrderFilterData() {
      if (localStorage.digibookOrder === undefined || isNaN(localStorage.digibookOrder)) {
        localStorage.digibookOrder = -1
      }
      this.filters.orderId = parseInt(localStorage.getItem('digibookOrder'))
      const ordering = this.orderFilterItems.find(
        el => el.id === parseInt(localStorage.getItem('digibookOrder'))
      )
      this.filters.orderType = ordering.type
      // this.$refs.sortLessons.currentOption =
    },

    setFinishFilter(filter) {
      localStorage.digibookFinished = filter
      this.filters.isFinished = localStorage.digibookFinished
      this.filters.page = 1
      this.getDigibooksList(this.filters)
    },

    setOrderFilter(order) {
      localStorage.digibookOrder = order
      this.filters.orderId = localStorage.digibookOrder
      this.filters.page = 1
      let orderType = this.orderFilterItems.find(el => el.id === order)
      if (Math.floor(order / 10) === 1) {
        this.filters.orderType = orderType.type
        this.getDigibooksListByTime(this.filters)
      } else if (Math.floor(order / 10) === 2) {
        this.filters.finishType = orderType.type
        this.getDigibooksListByCompletion(this.filters)
      } else {
        this.getDigibooksList(this.filters)
      }
    },

    setFilters(group, finish, order) {
      /* Sekme değişiminde localStorage'i sıfırlıyoruz. */
      localStorage.digibookGroup = group
      localStorage.digibookFinished = finish
      localStorage.digibookOrder = order

      /* Filtreleri localStorage verilerine eşliyoruz. */
      this.filters.groupId = localStorage.digibookGroup
      this.filters.isFinished = localStorage.digibookFinished
      this.filters.orderId = localStorage.digibookOrder
    },

    setTab(tab) {
      this.filters.page = 1
      this.setFilters(tab.id, -1, -1)
      this.getDigibooksByGroup(this.filters.groupId)
    },

    loadMoreItems() {
      this.filters.page++
      this.loadNext(this.filters)
    },

    startTour() {
      this.$tours['digibookTour'].start()
    },

    finishTour() {
      toggleTour('digibook', false)
    }
  },
}
</script>

<template>
  <div class="page" :class="$route.name">
    <AppHeader
      v-if="groupsLoaded"
      :info="info"
      :groups="groups"
      :lastGroup="filters.groupId"
      @onTabClick="setTab"
    />
    <GhostAppHeader app="digibook" v-else />
    <container class="page-container">
      <section class="page-content-filters">
        <div class="page-content-filters__left">
          <VueFilter
            id="DigibookReadFilters"
            v-if="groupsLoaded"
            :items="finishFilterItems"
            :lastFilter="filters.isFinished"
            @filterItems="setFinishFilter"
          />
          <GhostVueFilter v-else />
        </div>
        <div class="page-content-filters__right">
          <VueSelect
            v-if="groupsLoaded"
            class="w300"
            :options="orderFilterItems"
            :lastOption="filters.orderId"
            @selectOption="setOrderFilter"
            ref="sortLessons"
          />
          <GhostVueSelect v-else />
        </div>
      </section>
      <section class="page-content-items" v-if="!isLoading">
        <DigibookItem
          v-for="digibook in digibooks"
          :key="`digibookItem${digibook.id}`"
          :digibook="digibook"
        />
        <template v-if="hasMore">
          <scroll-loader
            key="scrollLoader"
            class="scroll-loader"
            :loader-method="loadMoreItems"
            :loader-enable="hasMore"
          >
            <GhostDigibookItem v-for="n in 2" :key="n" />
          </scroll-loader>
        </template>
        <transition name="fade">
          <VueEmpty v-if="isLoaded && digibooks.length === 0" />
        </transition>
      </section>
      <section class="page-content-items" v-else>
        <GhostDigibookItem v-for="n in 6" :key="n" />
      </section>
      <!-- <section class="page-loadmore" v-if="hasMore && groupsLoaded && !isLoading">
        <VueButton
          primary
          text="Daha fazla yükle"
          @click.native="loadMoreItems"
          :disabled="loadingMore"
        />
      </section>-->
    </container>
    <v-tour
      name="digibookTour"
      :steps="tourSteps"
      :options="tourOptions"
      :callbacks="tourCallbacks"
    ></v-tour>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/components/digibook';

.DigibookList {
  .page-content-filters {
    @include bp(tablet) {
      flex-direction: column;
    }
  }
  .select.w300 {
    @include bp(desktop) {
      width: 300px;
      flex-basis: 300px;
      margin-left: auto;
    }
    @include bp(tablet) {
      width: 100%;
      flex-basis: 100%;
    }
  }
}
</style>
