<script>
import DigibookHeaderSelectionItem from './DigibookHeaderSelectionItem.vue'
import { mapActions, mapGetters } from 'vuex'
import BaseIcon from '../../Base/BaseIcon.vue'

export default {
  name: 'DigibookHeaderSelection',
  components: {
    SelectionItem: DigibookHeaderSelectionItem,
    Icon: BaseIcon,
  },
  computed: {
    ...mapGetters({
      selection: 'digibook/index/selection',
      exercises: 'digibook/index/exercises',
      activeList: 'digibook/index/activeList',
      contentsVisible: 'digibook/index/contentListVisible',
    }),
  },

  methods: {
    ...mapActions({
      setActiveList: 'digibook/index/handleActiveList',
      setContentListVisibility: 'digibook/index/handleContentListVisibility',
    }),

    setSelection(list) {
      if (list === 'exercise' && this.exercises === null) return
      this.setContentListVisibility(true)
      this.setActiveList(list)
    },
  },
}
</script>

<template>
  <div class="selection">
    <div
      class="selection-item"
      :class="{ active: activeList === 'unit', noborder: !contentsVisible }"
      @click="setSelection('unit')"
    >
      <SelectionItem
        :title="selection[0].name"
        :text="selection[0].text"
        :picker="selection[0].type"
        :picker-active="activeList"
      />
      <Icon class="selection__icon" icon-name="arrowrightlight" />
    </div>
    <div
      class="selection-item"
      :class="{ active: activeList === 'exercise', noborder: !contentsVisible }"
      @click="setSelection('exercise')"
    >
      <SelectionItem
        :title="selection[1].name"
        :text="selection[1].text"
        :picker="selection[1].type"
        :picker-active="activeList"
      />
      <Icon class="selection__icon" icon-name="arrowrightlight" />
      <SelectionItem
        :title="selection[2].name"
        :text="selection[2].text"
        :picker="selection[2].type"
        :picker-active="activeList"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.selection {
  display: flex;
  align-items: center;
  width: calc(66% + 104px);
  padding-left: 1rem;

  @include bp(tablet) {
    width: 100%;
    padding: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    &::after {
      transform: translateY(6px);
      height: 5px;
      width: calc(100% - 40px);
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background: $c-alt;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      transition: 0.25s ease-out;

      @include bp(tablet) {
        width: calc(100% - 20px);
        transform: translate(20px, 5px);
      }
    }

    &.active:not(.noborder):after {
      transform: translateY(0);

      @include bp(tablet) {
        transform: translate(10px, 2px);
      }
    }

    &:first-child {
      width: 33.33%;

      & .content-picker {
        width: 100%;
      }
    }

    &:last-child {
      width: 66.67%;

      & .content-picker {
        width: 50%;

        @include bp(tablet) {
          width: 100%;
          border-left: 1px solid var(--color-border-light);
        }
      }
    }
  }

  &__icon {
    transform: translateX(12px);
    width: 40px;
    height: 3rem;
    flex: 0 0 3rem;
    opacity: 0.5;
    color: var(--color-arrow-selection);

    @include bp(tablet) {
      display: none;
    }
  }
}
</style>
