<script>
import { mapActions, mapGetters } from 'vuex'
import { downloadHelper } from '../../../common/helpers'
import DigibookPurchase from '../DigibookPurchase.vue'
import BaseButton from '../../Base/BaseButton.vue'
import BaseIcon from '../../Base/BaseIcon'

export default {
  name: 'DigibookHeaderInfo',
  components: {
    Icon: BaseIcon,
    Purchase: DigibookPurchase,
    BaseButton: BaseButton,
  },

  computed: {
    ...mapGetters({
      activeDigibookId: 'digibook/activeDigibookId',
      bookName: 'digibook/bookName',
      bookDesc: 'digibook/bookDesc',
      contentVisible: 'digibookContent/active',
      physicalProductId: 'digibook/physicalProductId',
      buyLink: 'digibook/buyLink',
      isDownloadable: 'digibook/isDownloadable',
      downloadLink: 'digibook/downloadLink',
      listVisible: 'digibook/index/contentListVisible',
    }),

    contentsIcon() {
      return this.listVisible ? 'contents-search-alt' : 'contentssearch'
    },

    inIndex() {
      console.log('ml: ', this.$route.matched.length)
      return this.$route.matched.length === 2
    },
  },

  methods: {
    ...mapActions({
      showContentList: 'digibook/index/handleContentListVisibility',
    }),

    downloadItem: downloadHelper,

    toggleContentListStatus(val) {
      console.log('index: ', this.inIndex, val, this.contentVisible)
      if (this.inIndex) return false
      this.showContentList(!val)
    },

    purchaseBook() {
      this.$refs.purchaser.handleSubmit()
    },
  },
}
</script>

<template>
  <div class="info-header">
    <div
      class="info-header-contents"
      :class="{ active: listVisible }"
      @click="toggleContentListStatus(listVisible)"
    >
      <Icon :icon-name="contentsIcon" />
      <span class="info-header-contents__text">içindekiler</span>
    </div>
    <div class="info-header-meta">
      <div class="info-header-meta__title">{{ bookName }}</div>
      <div class="info-header-meta__desc">{{ bookDesc }}</div>
    </div>
    <div class="info-header-buttons">
      <BaseButton
        class="info-header-buttons__buy"
        v-if="physicalProductId !== null"
        :icon="'paper-book'"
        :text="'Basılı Olarak Satın Al'"
        :intent="'secondary'"
        @click="purchaseBook"
      />
      <BaseButton
        class="info-header-buttons__download"
        v-if="isDownloadable"
        :icon="'download'"
        :iconSize="24"
        :minimal="true"
        v-tooltip="'İndir'"
        @click="downloadItem(downloadLink, bookName)"
      />
    </div>
    <Purchase
      v-if="physicalProductId !== null"
      :link="buyLink"
      :bookId="physicalProductId"
      ref="purchaser"
    />
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.info-header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  @include bp(tablet) {
    padding-top: 0;
  }

  &-contents,
  &-meta {
    display: flex;
    flex-direction: column;
  }

  &-contents {
    align-items: center;
    flex: 0 0 100px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-secondary);
    transition: color 0.3s, border-right 0.3s;
    cursor: pointer;
    border-right: 1px solid var(--color-border-light);
    margin-right: 1rem;
    padding-right: 1rem;

    & > .b-icon {
      transition: 0.2s;
    }

    &.active > .b-icon {
      color: $c-alt;
    }

    &__text {
      display: inline-block;
      margin-top: 0.5rem;
      user-select: none;
    }

    @include bp(tablet) {
      display: none;
    }
  }

  &-meta {
    flex: 1 1 auto;
    overflow: hidden;
    user-select: none;

    &__title {
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--color-primary);
      transition: color 0.3s;
    }

    &__desc {
      color: $c-text;

      @include bp(tablet) {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-buttons {
    flex: 0 0 auto;
    transform: translateX(0.75rem);

    &__download {
      padding: 0.75rem;
      margin-left: 0.5rem;
    }
  }
}
</style>
