<script>
import { mapGetters } from 'vuex'
import DigibookHeaderInfo from './DigibookHeaderInfo.vue'
import DigibookHeaderSelection from './DigibookHeaderSelection.vue'
import CircleProgress from '../../CircleProgress.vue'
import GhostDigibookCompletion from '../../../core/Ghost/GhostDigibookCompletion.vue'

export default {
  name: 'DigibookHeader',

  components: {
    Info: DigibookHeaderInfo,
    Selection: DigibookHeaderSelection,
    Progress: CircleProgress,
    GhostDigibookCompletion,
  },

  data() {
    return {
      hideProgress: false,
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'digibook/loading',
      isLoaded: 'digibook/loaded',
      contentsVisible: 'digibook/index/contentListVisible',
      completion: 'digibook/index/completion',
      completionLoading: 'digibook/index/completionLoading',
      onMobile: 'onMobile',
    }),

    hasLoaded() {
      return !this.isLoading && this.isLoaded
    },

    notInIndex() {
      return this.$route.matched.length > 2
    },
  },

  watch: {
    $route: {
      immediate: true,
      handler(route) {
        this.hideProgress = route.name === 'DigibookStatic'
      },
    },
  },
}
</script>

<template>
  <div class="digibook-header">
    <div class="digibook-header-info">
      <Info />
    </div>
    <div
      class="digibook-header-selection"
      :class="{ nocontents: !contentsVisible }"
    >
      <Selection />

      <GhostDigibookCompletion
        class="digibook-header-completion__ghost"
        v-if="completionLoading"
      />
      <template v-else>
        <transition name="completion-slide-in-right" mode="out-in">
          <div
            class="digibook-header-completion"
            v-if="!contentsVisible && !onMobile && !hideProgress"
          >
            <span class="digibook-header-completion__title">Tamamlama:</span>
            <Progress :value="completion" />
          </div>
        </transition>
      </template>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/transitions';
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.digibook-header {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 4;

  &-titlebar {
    position: relative;
    z-index: 2;
  }

  &-contents {
    position: relative;
    z-index: 1;
  }

  &-info {
    background: var(--background-color-light);
    transition: background 0.3s;

    @include bp(tablet-m) {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    @include bp(tablet) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-selection {
    border-top: 1px solid var(--color-border-light);
    background: var(--background-color-light);
    display: flex;
    transition: background 0.3s, border-top 0.3s;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    &.nocontents {
      overflow: hidden;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      // transition: 0.2s ease-in-out;
    }
  }

  &-completion {
    padding-right: 1rem;
    user-select: none;
    display: inline-flex;
    align-items: center;

    &__ghost {
      padding-right: 1rem;
      margin-left: auto;
    }

    &__title {
      color: $c-text;
      font-size: 0.9rem;
      margin-right: 1rem;
    }
  }

  @include bp(tablet-m) {
    order: 1;
    max-width: 100%;
    width: 100%;
  }

  @include bp(tablet) {
    width: calc(100% + 4rem);
    max-width: calc(100% + 4rem);
    margin-left: -2rem;
    z-index: 6;
  }

  @include bp(mobile) {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}
</style>
