<script>
export default {
  name: 'DigibookHeaderSelectionItem',
  props: {
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: 'Seçiniz',
    },
    picker: {
      type: String,
      default: 'unit',
    },

    pickerActive: {
      type: String,
      default: 'unit',
    },
  },
}
</script>

<template>
  <div class="content-picker" :class="{ active: picker === pickerActive }">
    <span class="content-picker__title">{{ title }}</span>
    <span class="content-picker__text">{{ text }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.content-picker {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;
  user-select: none;

  @include bp(tablet) {
    padding: 0.5rem 1rem;
  }

  &__title {
    color: $c-text;
    text-transform: capitalize;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--color-secondary);
    transition: 0.2s;
    opacity: 0.8;

    @include bp(tablet) {
      font-size: 0.8rem;
    }
  }
}
</style>
