<script>
import { videoPlayer } from 'vue-videojs7'

export default {
  name: 'LessonsVideo',
  props: {
    link: {
      type: String
    }
  },
  components: {
    videoPlayer
  },
  data() {
    return {
      playerOptions: {
        autoplay: true,
        controls: true,
        controlBar: {
          timeDivider: false,
          durationDisplay: false
        }
        // poster: 'https://surmon-china.github.io/vue-quill-editor/static/images/surmon-5.jpg'
      }
    }
  },
  computed: {
    player() {
      return this.$refs.videoPlayer.player
    }
  },
  mounted() {
    const src = this.link
    this.playVideo(src)
  },
  methods: {

    onPlayerPlay (player) {
      console.log('player play!', player)
    },
    onPlayerReady (player) {
      console.log('player ready!', player)
      this.player.play()
    },
    playVideo: function (source) {
      const video = {
        withCredentials: false,
        type: 'application/x-mpegurl',
        src: source
      }
      this.player.reset() // in IE11 (mode IE10) direct usage of src() when <src> is already set, generated errors,
      this.player.src(video)
      // this.player.load()
      this.player.play()
    }
  }
}
</script>

<template>
  <video-player
    ref="videoPlayer"
    class="vjs-custom-skin"
    :options="playerOptions"
    @play="onPlayerPlay($event)"
    @ready="onPlayerReady($event)">
  </video-player>
</template>

<style>
  .player {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
  }
  .vjs-custom-skin {
    height: 703px !important;
    box-shadow: 0px 11px 29px 0px rgba(44, 65, 88, 0.34);
  }

  .video-js {
    width: 100%;
    height: 100% !important;
  }

</style>
