<script>
import VueProgress from '@/core/VueProgress'
import CircleProgress from '@/components/CircleProgress'

export default {
  name: 'LessonsItem',
  props: {
    lesson: {
      type: Object,
      required: true,
      default: () => { },
    },
  },
  components: {
    VueProgress,
    CircleProgress,
  },
  data() {
    return {
      timerInterval: null,
      timerText: '',
      remaining: 0,
      dummyDate: new Date(1581943200000).getTime(),
      passedText: '',
      passed: 0
    }
  },
  computed: {
    released() {
      return !this.lesson.start_time_timestamp * 1000 - new Date() < 0
      // return new Date(this.dummyDate) - new Date() > 0
    },

    live() {
      return this.lesson.lesson_status === 'live'
    },

    itemURL() {
      const url = { name: 'lessons-detail', params: { id: this.lesson.id } }
      return url
    },

    itemDate() {
      let date = new Date(this.lesson.start_time_timestamp * 1000)
      return `${date.getDate()}
              ${date.toLocaleString('tr-TR', { month: 'long' })}
              ${date.getFullYear()},
              ${date.toLocaleString('tr-TR', { weekday: 'long' })}`
    },
  },
  mounted() {
    this.calculateTime()
    this.calculateTimePassed()
    if (this.released) {
      this.timeRemaining()
    }

    if (this.live && (this.lesson.start_time_timestamp * 1000 - new Date() < 0)) {
      this.timePassed()
      console.log('Passed')
    } else if (this.live && (!this.lesson.start_time_timestamp * 1000 - new Date() < 0)) {
      this.timeRemaining()
      console.log('Remaining')
    }
  },
  methods: {
    calculateTime() {
      let today = new Date().getTime()
      let lessonDate = new Date(
        this.lesson.start_time_timestamp * 1000,
      ).getTime()
      let secs = (lessonDate - today) / 1000
      if (secs <= 0) {
        secs = 0
      }
      this.remaining = Math.floor(secs)
      let days = Math.floor(secs / (60 * 60 * 24))
      let hours = Math.floor((secs % (60 * 60 * 24)) / (60 * 60))
      let minutes = Math.floor((secs % (60 * 60)) / 60)
      let seconds = Math.floor(secs % 60)
      let daysText = ''
      let hoursText = ''
      let minutesText = ''
      if (days !== 0) {
        daysText = `<b>${days}</b> gün,`
      }
      if (hours !== 0) {
        hoursText = `<b>${hours}</b> saat,`
      }
      if (minutes !== 0) {
        minutesText = `<b>${minutes}</b> dakika,`
      }
      this.timerText = `Dersin başlamasına 
      ${daysText}
      ${hoursText}
      ${minutesText}
      <b>${seconds}</b> saniye kaldı!`
    },
    calculateTimePassed() {
      console.log(this.lesson.start_time_timestamp * 1000 - new Date() < 0)
      let today = new Date().getTime()
      // let dummyDate = new Date(1581940550000).getTime()
      let lessonDate = new Date(
        this.lesson.start_time_timestamp * 1000,
      ).getTime()
      let secs = (today - lessonDate) / 1000
      this.passed = Math.floor(secs)
      let days = Math.floor(secs / (60 * 60 * 24))
      let hours = Math.floor((secs % (60 * 60 * 24)) / (60 * 60))
      let minutes = Math.floor((secs % (60 * 60)) / 60)
      let seconds = Math.floor(secs % 60)
      let daysText = ''
      let hoursText = ''
      let minutesText = ''
      if (days !== 0) {
        daysText = `<b>${days}</b> gün,`
      }
      if (hours !== 0) {
        hoursText = `<b>${hours}</b> saat,`
      }
      if (minutes !== 0) {
        minutesText = `<b>${minutes}</b> dakika,`
      }
      this.passedText = `Ders toplam  
      ${daysText}
      ${hoursText}
      ${minutesText}
      <b>${seconds}</b> saniyedir yayında!`
    },
    timeRemaining() {
      this.timerInterval = setInterval(() => {
        this.calculateTime()
      }, 1000)
    },
    timePassed() {
      this.timerInterval = setInterval(() => {
        this.calculateTimePassed()
      }, 1000)
    },

    goLesson(id) {
      let url = null
      if (this.lesson.lesson_status === 'live') {
        url = { name: 'LessonsWatch', params: { id: this.lesson.id } }
      } else {
        url = { name: 'LessonsDetail', params: { id: this.lesson.id } }
      }
      localStorage.lessonId = this.lesson.id
      localStorage.lessonTitle = this.lesson.name
      this.$router.push(url)
    },
  },
  destroyed() {
    clearInterval(this.timerInterval)
  },
}
</script>

<template>
  <a
    @click="goLesson(lesson.id)"
    class="lesson-item"
    :class="[{ coming : released && remaining > 0 }, { live: live }]"
  >
    <div class="lesson-item__top">
      <span
        class="lesson-item__icon"
        :class="[{ passive : released && remaining >  0 }, { done : lesson.progress === 100 }]"
      >
        <dynamic-icon type="icon-lesson-item" :active="lesson.visited" />
      </span>
      <div class="lesson-item__head">
        <div class="lesson-item__title">{{ lesson.title }}</div>
        <div class="lesson-item-tags">
          <span class="lesson-item__tag" v-for="(tag, index) in lesson.tags" :key="index">
            {{ tag.name }}
            <i v-if="index < lesson.tags.length - 1">,</i>
          </span>
        </div>
      </div>
    </div>
    <div class="lesson-item__right" v-if="remaining > 0">
      <div class="lesson-item__remaining" v-html="timerText"></div>
        <div class="lesson-item__live" v-if="live">CANLI YAYIN</div>

    </div>
    <div class="lesson-item__right" v-if="remaining <= 0">
      <div class="lesson-item__remaining" v-if="live" v-html="passedText"></div>
      <div class="lesson-item__live" v-if="live">CANLI YAYIN</div>
    </div>
    <div class="lesson-item__right" v-if="passed > 0 && !live">
      <div class="lesson-item-inf">
        <div class="lesson-item-inf__item">
          <span class="lesson-item-inf__icon">
            <svg-icon type="icon-calendar-time" />
          </span>
          <span class="lesson-item-inf__txt">{{ itemDate }}</span>
        </div>

        <div class="lesson-item-inf__item">
          <span class="lesson-item-inf__icon">
            <svg-icon type="icon-time" />
          </span>
          <span class="lesson-item-inf__txt">{{ lesson.duration }} DK</span>
        </div>
      </div>
      <div class="lesson-item-progress">
        <VueProgress :value="lesson.progress" size="9" />
        <CircleProgress :value="lesson.progress" :size="100" />
        <div class="lesson-item-progress__txt">
          {{ lesson.progress }}
          <small class="only-desktop-inline">%</small>
          <span class="only-tablet-inline">%</span>
        </div>
      </div>
    </div>
  </a>
</template>

<style scoped lang="scss">
@import '@/assets/scss/components/lesson-item';
</style>
