<script>
export default {
  name: 'LessonsMeta',
  props: {
    content: null,
    name: String,
    color: String,
    icon: String,
    iconSize: {
      type: [Number, String],
      default: 20
    }
  },
  computed: {
    value() {
      if (this.name === 'date') {
        const date = new Date(this.content)
        return `${date.getDate()}
                ${date.toLocaleString('tr-TR', { month: 'long' })}
                ${date.getFullYear()},
                ${date.toLocaleString('tr-TR', { weekday: 'long' })}`
      } else if (this.name === 'duration') {
        return this.content + ' DK'
      } else {
        return this.content
      }
    }
  }
}
</script>

<template>
  <div class="lessons-meta">
    <svg-icon
      class="lessons-meta__icon"
      :type="`icon-${icon}`"
      :style="{ fontSize: `${iconSize}px` }"
      style="color: #0ea6ce;"
    />
    <span class="lessons-meta__text">{{ value }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/components/lessons-meta';
</style>
