<script>
import CircleProgress from '@/components/CircleProgress'
export default {
  name: 'LessonHomeworkItem',
  props: {
    homework: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    iconType() {
      if (this.homework.content_type === 'translation_list') {
        return 'icon-digi-translation'
      } else if (this.homework.content_type === 'test') {
        return 'icon-digi-test'
      } else if (this.homework.content_type === 'tablo') {
        return 'icon-digi-table'
      } else if (this.homework.content_type === 'eslestirme') {
        return 'icon-digi-pairing'
      } else if (this.homework.content_type === 'word_list') {
        return 'icon-digi-word-list'
      } else {
        return ''
      }
    },

    homeworkLink() {
      if (this.homework.homework_type === 'digibook') {
        return `/digibook/${this.homework.digibook_id}/unite/${this.homework.unit_id}/alistirma/${this.homework.exercise_id}/${this.homework.content_type}/${this.homework.content_id}`
      } else {
        //  eslint-disable-next-line
        if (this.homework.homework_type === 'material')
          return '/dokuman/' + this.homework.content_id
        if (this.homework.homework_type === 'wordy') return '/wordy/' + this.homework.content_id
        //  eslint-disable-next-line
        if (this.homework.homework_type === 'exam')
          return '/deneme/detay/' + this.homework.content_id
        if (this.homework.homework_type === 'test') return '/test/detay/' + this.homework.content_id
        //  eslint-disable-next-line
        if (this.homework.homework_type === 'reading')
          return '/okuma/' + this.homework.content_id + '/liste/' + this.homework.reading_list_id
        else return '/'
      }
    }
  },
  components: {
    CircleProgress
  }
}
</script>

<template>
  <router-link class="lesson-homework__item" :to="homeworkLink" target="_blank">
    <div class="lesson-homework__left">
      <div class="lesson-homework__title">{{ homework.homework_title }}</div>
      <div class="lesson-homework__txt">{{ homework.description }}</div>
    </div>
    <div class="lesson-homework__right">
      <div class="lesson-homework__app">
        <svg-icon :type="iconType" class="icon" v-if="homework.digibook_id !== null" />
        <img :src="require(`@/assets/img/app-${homework.homework_type}.svg`)" class="icon" v-else />
      </div>
      <div class="lesson-homework-progress">
        <div v-if="homework.time">
          <div class="lesson-homework-progress__title">Dersi Tamamla</div>
          <div class="lesson-homework-progress__txt">
            {{ homework.currentTime }} dk / {{ homework.time }} dk
          </div>
        </div>
        <div v-if="homework.digibook_name">
          <div class="lesson-homework-progress__title">{{ homework.digibook_name }}</div>
          <div class="lesson-homework-progress__txt">
            {{ homework.unit_name }}, {{ homework.exercise_name }}, {{ homework.content_name }}
          </div>
        </div>
        <div v-else-if="homework.homework_type === 'wordy'">
          <div class="lesson-homework-progress__title">
            {{ homework.wordyPackageName }}, {{ homework.setName }}
          </div>
          <div class="lesson-homework-progress__txt">{{ homework.content_name }}</div>
        </div>
        <div v-else>
          <div class="lesson-homework-progress__txt">{{ homework.content_name }}</div>
        </div>
      </div>
    </div>
    <div class="ml-auto">
      <CircleProgress :value="Math.round(homework.progress)" />
    </div>
  </router-link>
</template>

<style scoped lang="scss">
@import '@/assets/scss/components/lesson-homework-item';
</style>
