
<script>
// import VueButton from '@/core/VueButton'
import LessonsMeta from './LessonsMeta'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'LessonsAbout',
  props: {
    about: Object,
    files: Array
  },
  components: {
    // VueButton,
    LessonsMeta
  },
  computed: {
    ...mapState('lessons', ['lessonHeader', 'lessonData']),
    ...mapGetters('lessons', ['currentLesson'])
  },
  methods: {
    forceFileDownload(response, title) {
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', title)
      link.setAttribute('target', '_blank')
      document.body.appendChild(link)
      link.click()
    },

    downloadFile(file, title) {
      this.$http({
        method: 'get',
        url: file,
        responseType: 'arraybuffer'
      })
        .then((response) => {
          this.forceFileDownload(response, title)
        })
        .catch(() => console.log('error occured'))
    }
  }
}
</script>

<template>
  <div class="lessons-about">
    <header class="lessons-about-header">
      <div class="lessons-about-header__educator">
        <span class="lessons-about-header__educator-title">Dersin Eğitmeni</span>
        <span class="lessons-about-header__educator-person">{{ about.teacher }}</span>
      </div>
      <div class="lessons-about-header__info">
        <LessonsMeta
          class="lessons-about-header__info-item"
          :content="about.date"
          color="#30acf7"
          name="date"
          icon="calendar-time"
        />
        <LessonsMeta
          class="lessons-about-header__info-item"
          :content="about.hour"
          color="#30acf7"
          icon="time"
        />
      </div>
    </header>
    <main class="lessons-about-main" v-if="about.description">
      <div class="lessons-about-main__static" v-html="about.description"></div>
    </main>
    <footer class="lessons-about-footer" v-if="files.length > 0">
      <span class="lessons-about-footer__title">Ders Dokümanları</span>
      <div class="lessons-about-documents">
        <div class="lessons-about-documents__item" v-for="file in files" :key="file.id">
          <v-button
            class="default shadow-none icon-right"
            icon="icon-download"
            icon-position="right"
            :title="file.name"
            @click.native="downloadFile(file.url, file.name)"
          />
        </div>
      </div>
    </footer>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/lessons-about';
.lesson-accordion {
  border-top: 1px solid #dde3eb;
  padding-top: 20px;
  margin-top: 20px;
}
</style>
