<script>
export default {
  props: {
    length: {
      type: Number
    },
    value: {
      type: Number
    },
    percent: {
      type: Number
    },
    pins: {
      type: Array,
      default: () => []
    }
  },
  name: 'LessonsPins'
}
</script>

<template>
  <div class="lessons-pins">
    <div class="lessons-pins__bar" :data-value="value">
      <div class="lessons-pins__value" :style="`width: ${percent}%`" :class="{ finished: percent === 100 }"></div>
    </div>
    <div class="lessons-pins__pin" :style="`left: ${(pin.second / length) * 100}%`" v-for="(pin, index) in pins" :key="index">
      <span class="lessons-pins__pinpoint" v-tooltip="{ content: pin.content }"  :style="`left: ${(pin.second / length) * 100}%`"></span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.lessons-pins {
  margin-top: 50px;
  width: calc(90%);
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  &__bar {
    height: 10px;
    background: rgba($color: #fff, $alpha: 0.25);
    border-radius: 10px;
    width: 100%;
  }

  &__value {
    background: $c-alt;
    height: 10px;
    border-radius: 10px;
    transition: 0.4s;

    &.finished {
      background: #78e971;
    }
  }

  &__pin {
    position: absolute;
    top: 0;

    & .vtooltip {
      left: 4px;
      top: -5px;
    }
  }

  &__pinpoint {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: .15s;

    &:hover {
      transform: scale(2);
      background: #fff;
      border: 2px solid #30acf7;
    }
  }
}
</style>
