<script>
import LessonsAbout from './LessonsAbout'
import LessonsHomeworkItem from './LessonsHomeworkItem'
import TabPane from '@/components/Tab/TabPane'
import VueProgress from '../../core/VueProgress'
export default {
  name: 'LessonsTab',
  props: {
    progress: {
      type: Number,
      default: 0
    },
    homeworks: {
      type: Array,
      default: () => []
    },
    files: {
      type: Array,
      default: () => []
    },
    about: {
      type: Object,
      default: () => { }
    },
    tabList: {
      type: Array,
      default: () => []
    }
  },
  components: {
    LessonsAbout,
    LessonsHomeworkItem,
    TabPane,
    VueProgress,
  },
  data() {
    return {
      currentTab: 0,
    }
  },
  computed: {
    roundUp() {
      return Math.ceil(this.progress)
    },
  },
  methods: {
    tabShow(tab, index) {
      this.currentTab = index
    }
  }
}
</script>

<template>
  <div class="lesson-tab__wrp">
    <div class="lesson-tab tab">
      <div class="tab__header">
        <div
          class="tab__item lesson-tab__item"
          v-for="(tab, index) in tabList"
          :key="tab.id"
          @click="tabShow(tab, index)"
          :class="{ active : currentTab === index }"
        >
          <div class="tab__icon lesson-tab__icon">
            <svg-icon :type="tab.icon" />
          </div>

          <div class="tab__text">{{ tab.text }}</div>
        </div>
        <div class="lesson-tab-progress only-desktop"  v-if="homeworks.length > 0">
          <div class="fw">
            <div class="lesson-tab-progress__title">Ödevlerin tamamlanma durumu:</div>
            <VueProgress :value="roundUp" size="15" class="lesson-tab-progress__bar" />
          </div>
          <div class="lesson-tab-progress__percent">
            {{ roundUp }}
            <small>%</small>
          </div>
        </div>
      </div>
      <div class="tab-pane">
        <tab-pane :class="{ active : currentTab === 0 }">
          <LessonsAbout :about="about" :files="files" />
        </tab-pane>

        <tab-pane :class="{ active : currentTab === 1 }" v-if="homeworks.length > 0" >
          <div class="lesson-homework" v-if="homeworks.length > 0">
            <div class="lesson-tab-progress only-tablet-flex" v-if="homeworks.length > 0">
              <div class="fw">
                <div class="lesson-tab-progress__title">Ödevlerin tamamlanma durumu:</div>
                <VueProgress :value="roundUp" size="15" class="lesson-tab-progress__bar" />
              </div>
              <div class="lesson-tab-progress__percent">
                {{ roundUp }}
                <small>%</small>
              </div>
            </div>
            <LessonsHomeworkItem
              v-for="(homework, index) in homeworks"
              :key="index"
              :homework="homework"
            />
          </div>
        </tab-pane>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '@/assets/scss/components/lesson-tab';
</style>
