<script>
import LessonsHeaderGhost from '@/core/Ghost/GhostLessonDetailHeader'
import LessonsMeta from './LessonsMeta'
import { mapGetters } from 'vuex'
import { SWITCH_DARKMODE } from '@/store/actions.type'
import * as http from '../../services/lessons.service'

export default {
  name: 'LessonHeader',

  components: {
    LessonsHeaderGhost,
    LessonsMeta,
  },

  props: {
    info: {
      type: Object,
      default: () => {},
    },
    loaded: {
      type: Boolean,
    },
  },

  data() {
    return {
      isLoaded: null,
      status: this.info.status,
      lessonId: this.info.id,
      watchButtonActive: true,
    }
  },

  watch: {
    loaded(val) {
      this.isLoaded = val
    },
  },

  computed: {
    ...mapGetters(['getDarkMode']),
    ...mapGetters('lessons', ['currentLesson']),

    watchButtonText() {
      return this.isWatched ? 'Dersi İzledim' : 'Dersi İzlemedim'
    },
    watchButtonTextMobile() {
      return this.isWatched ? 'İzledim' : 'İzlemedim'
    },

    isWatched() {
      return this.status === 'completed'
    },
  },

  methods: {
    setLessonWatched() {
      this.watchButtonActive = false
      http.reset(this.lessonId).then(res => {
        this.status === 'completed'
          ? (this.status = 'not_started')
          : (this.status = 'completed')

        this.watchButtonActive = true
        this.$emit('toggleWatch', this.isWatched)
      })
    },

    toggleWatchStatus() {
      this.$emit('toggleWatch')
    },

    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },
  },
}
</script>

<template>
  <section class="lessons-header dersler">
    <container>
      <div class="lessons-header__top">
        <div
          @click="$router.push({ name: 'LessonsList' })"
          class="lessons-header-head"
        >
          <img
            src="@/assets/img/app-dersler.svg"
            alt
            class="lessons-header__icon icon"
          />
          <span class="lessons-header__title color-app">Ders</span>
        </div>
        <div class="lessons-header__buttons">
          <div
            class="lessons-header-toggle"
            v-if="info.lessonStatus !== 'coming'"
            @click="setLessonWatched"
            :class="{ disabled: watchButtonActive === false }"
          >
            <label class="lessons-header-toggle__switch">
              <span
                class="lessons-header-toggle__slider"
                :class="{ active: isWatched }"
              >
                <svg-icon
                  class="lessons-header-toggle__slider--icon"
                  type="icon-check"
                />
              </span>
            </label>
            <span class="lessons-header-toggle__text only-desktop">{{
              watchButtonText
            }}</span>
            <span class="lessons-header-toggle__text only-tablet">{{
              watchButtonTextMobile
            }}</span>
          </div>
          <v-link
            :to="{ name: 'LessonsList' }"
            class="lessons-header__back icon-md only-desktop-flex"
            icon="icon-arrow-long-left"
            icon-position="left"
            title="GERİ DÖN"
          />
          <v-link
            :to="{ name: 'LessonsList' }"
            class="lessons-header__back icon-md only-tablet-flex round"
            icon="icon-arrow-long-left"
            icon-position="left"
          />
        </div>
      </div>
      <LessonsHeaderGhost v-if="Object.keys(info).length === 0" />
      <div v-else class="lessons-header-info">
        <div class="lessons-header-info__left">
          <span
            class="lessons-header-info__icon"
            v-tooltip="{ content: info.group, classes: 'lessongroup' }"
          >
            <img :src="info.icon" alt class="icon" />
          </span>
          <div class="lessons-header-info__head">
            <div class="lesson-header-info__cnt">
              <div class="lessons-header-info__title color-app">
                {{ info.name }}
              </div>
              <div class="lessons-header-info__tags">
                <span
                  class="lessons-header-info__tag"
                  v-for="(tag, index) in info.tags"
                  :key="index"
                >
                  {{ tag.name }}
                  <i v-if="index !== info.tags.length - 1">,</i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="lessons-header-info__right">
          <div class="lessons-header-date">
            <LessonsMeta
              class="lessons-header-date__item"
              :content="info.date"
              color="#0ea6ce"
              name="date"
              icon="calendar-time"
            />
            <LessonsMeta
              class="lessons-header-date__item"
              :content="info.hour"
              color="#0ea6ce"
              icon="time"
            />
            <LessonsMeta
              class="lessons-header-date__item"
              :content="info.duration"
              color="#0ea6ce"
              name="duration"
              icon="time"
            />
          </div>
        </div>
      </div>
    </container>
  </section>
</template>

<style scoped lang="scss">
@import '@/assets/scss/components/lessons-header';
</style>
