<template>
  <div class="shop-page">
    <div class="overlay"></div>
    <div class="subpage-header" style="background: #e3eaf6">
      <div class="custom-container">
        <div class="subpage-header__wrp">
          <div class="subpage-header__head" style="width: 100%;">
            <div class="subpage-header__icon shop-icon">
              <svg-icon type="icon-market" />
            </div>
            <div class="subpage-header__title">Rh+ <span>Mağaza</span></div>
          </div>
        </div>
        <div class="subpage-tab">
          <div class="subpage-tab-list" v-if="loaded">
            <swiper
              :options="swiperOptionTab"
              class="cluebank-tabslider"
              @slideChange="handleChangeTab"
              ref="detailTabs"
            >
              <swiper-slide
                v-for="tab in response.tabs"
                :key="tab.id"
                class="cluebank-tabslider__item"
              >
                <tab-item
                  :icon="tab.icon"
                  :text="tab.title"
                  @click.native="handleInitTab(tab, tab.id)"
                  :active="tab.id === currentTab"
                />
              </swiper-slide>
            </swiper>
          </div>
          <GhostExamTab v-if="!loaded" class="subpage-ghost-tab" />
        </div>
      </div>
    </div>

    <container class="tabs" v-if="loaded">
      <div
        class="tab-content"
        :class="{ active: currentTab === tab.id }"
        v-for="tab in response.tabs"
        :key="tab.id"
      >
        <PrivateTab
          :basket="addToBasket"
          :tab="tab"
          :response="response.item"
          v-if="tab.id === 'private'"
        />
        <ContentTab
          :basket="addToBasket"
          :tab="tab"
          :response="response.item"
          v-if="tab.id === 'onlineLesson'"
        />
        <ProductTab
          :basket="addToBasket"
          :tab="tab"
          :response="response.item"
          v-if="tab.id !== 'private' && tab.id !== 'onlineLesson'"
        />
      </div>
    </container>

    <Cart ref="Cart" />
  </div>
</template>

<script>
import { products } from '../../services/store.service'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
import Modal from '@/components/Modal'
import GhostProductItem from '@/core/Ghost/GhostProductItem'
import GhostExamTab from '@/core/Ghost/GhostExamTab'
import Cart from '@/components/Store/Cart'
import { SET_HEADER_CLASS, GET_PAGE_CLASS } from '@/store/actions.type'
import PrivateTab from '../../components/Store/PrivateTab'
import ProductTab from '../../components/Store/ProductTab'
import ContentTab from '../../components/Store/ContentTab'

export default {
  name: 'Shop',
  components: {
    ContentTab,
    ProductTab,
    PrivateTab,
    Cart,
    Tab,
    TabItem,
    TabPane,
    Modal,
    GhostProductItem,
    GhostExamTab,
  },
  data() {
    return {
      loaded: false,
      currentTab: 'private' || this.$route.params.itemid,
      response: {
        //
      },
      responseItems: {
        //
      },
      swiperOptionTab: {
        centeredSlides: false,
        slidesPerView: 5,
        simulateTouch: false,
        breakpoints: {
          768: {
            centeredSlides: true,
            slidesPerView: 'auto',
            simulateTouch: true,
            slideToClickedSlide: true,
          },
          1100: {
            slidesPerView: 'auto',
            centeredSlides: false,
          },
        },
      },
    }
  },
  computed: {
    //
  },
  mounted() {
    this.$route.meta.pageClass = 'header--gray'
  },
  created() {
    this.index()
    this.$store.dispatch(GET_PAGE_CLASS, 'header--gray')
    this.$route.meta.pageClass = 'header--gray'
  },

  methods: {
    index() {
      if (this.responseItems[this.currentTab]) {
        return (this.response.item = this.responseItems[this.currentTab])
      }

      this.loaded = false
      

      products(this.currentTab).then(({ data }) => {
        this.loaded = true
        this.$store.dispatch(SET_HEADER_CLASS, 'header--gray')
        this.response = data.data

        this.responseItems[this.currentTab] = data.data.item
      })
    },

    handleChangeTab(a, b, c, d) {
      console.log('handleChangeTab', a, b, c, d)
    },

    handleInitTab(tab, tabId) {
      this.currentTab = tabId
      this.index()
    },

    checkDataSize(items) {
      return _.size(items)
    },

    addToBasket(form) {
      this.$refs.Cart.store(form)
    },
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.from = from
      to.meta.pageClass = 'header--gray'
    })
  },

  beforeRouteLeave(to, from, next) {
    this.$store.dispatch(SET_HEADER_CLASS, '')
    next()
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/components/shop';
@import '../../assets/scss/components/product-card';
</style>

<style lang="scss" scoped>
.f-line {
  background: #e2e7ec !important;
  height: 1px;
  margin-top: 0;
  margin-bottom: 20px;
}
</style>
