<template>
  <div class="shop-page shop-detail-page">
    <div class="overlay"></div>
    <div class="subpage-header" style="background: #e3eaf6;">
      <div class="custom-container">
        <div class="subpage-header__wrp">
          <div class="subpage-header__head" style="width: 100%;">
            <div class="subpage-header__icon shop-icon">
              <svg-icon type="icon-market" />
            </div>
            <div class="subpage-header__title">
              <span>Mağaza</span>
            </div>
            <div
              class="subpage-header__info"
              style="margin-left: auto; margin-right: 0;"
            >
              <div class="custom-exit-button">
                <v-button
                  class="ml-auto subpage-download-button"
                  icon="icon-arrow-long-left"
                  title="GERİ DÖN"
                  icon-position="left"
                  @click="goBack()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <container class="container">
      <div class="product-card">
        <div class="product-card__left">
          <div class="product-card-cover product-card-cover--single">
            <img
              src="https://www.remzihoca.com/storage/product/image/1567427950-181781.png"
              alt
              class="product-card-cover__img"
            />
          </div>
          <div class="product-card-groups">
            <div class="product-card-groups__title">
              Birlikte Verilecek Ürünler:
            </div>
            <div class="product-card-groups__list">
              <div
                class="product-card-groups__item custom-tooltip custom-tooltip--top js-modal"
                data-custom-modal="group-modal"
              >
                <img
                  src="@/assets/img/app-cluebank.svg"
                  alt="remzihoca sözlük"
                  class="product-card-groups__img"
                />
                <div class="custom-tooltip__drop">
                  <span class="custom-tooltip__caret">
                    <svg class="icon icon-arrow-o-down">
                      <use
                        xlink:href="assets/img/icons.svg#icon-arrow-o-down"
                      />
                    </svg>
                  </span>
                  <div class="custom-tooltip__cnt">Sözlük</div>
                </div>
              </div>

              <div
                class="product-card-groups__item custom-tooltip custom-tooltip--top js-modal"
                data-custom-modal="group-modal"
              >
                <img
                  src="@/assets/img/app-dokumanlar.svg"
                  alt="remzihoca okuma"
                  class="product-card-groups__img"
                />
                <div class="custom-tooltip__drop">
                  <span class="custom-tooltip__caret">
                    <svg class="icon icon-arrow-o-down">
                      <use
                        xlink:href="assets/img/icons.svg#icon-arrow-o-down"
                      />
                    </svg>
                  </span>
                  <div class="custom-tooltip__cnt">Okuma</div>
                </div>
              </div>

              <div
                class="product-card-groups__item custom-tooltip custom-tooltip--top js-modal"
                data-custom-modal="group-modal"
              >
                <img
                  src="@/assets/img/app-wordy.svg"
                  alt="remzihoca wordy"
                  class="product-card-groups__img"
                />
                <div class="custom-tooltip__drop">
                  <span class="custom-tooltip__caret">
                    <svg class="icon icon-arrow-o-down">
                      <use
                        xlink:href="assets/img/icons.svg#icon-arrow-o-down"
                      />
                    </svg>
                  </span>
                  <div class="custom-tooltip__cnt">Wordy</div>
                </div>
              </div>

              <div
                class="product-card-groups__item custom-tooltip custom-tooltip--top js-modal"
                data-custom-modal="group-modal"
              >
                <img
                  src="@/assets/img/app-dokumanlar.svg"
                  alt="remzihoca sözlük"
                  class="product-card-groups__img"
                />
                <div class="custom-tooltip__drop">
                  <span class="custom-tooltip__caret">
                    <svg class="icon icon-arrow-o-down">
                      <use
                        xlink:href="assets/img/icons.svg#icon-arrow-o-down"
                      />
                    </svg>
                  </span>
                  <div class="custom-tooltip__cnt">Sözlük</div>
                </div>
              </div>

              <div
                class="product-card-groups__item custom-tooltip custom-tooltip--top js-modal"
                data-custom-modal="group-modal"
              >
                <img
                  src="@/assets/img/app-wordy.svg"
                  alt="remzihoca wordy"
                  class="product-card-groups__img"
                />
                <div class="custom-tooltip__drop">
                  <span class="custom-tooltip__caret">
                    <svg class="icon icon-arrow-o-down">
                      <use
                        xlink:href="assets/img/icons.svg#icon-arrow-o-down"
                      />
                    </svg>
                  </span>
                  <div class="custom-tooltip__cnt">Wordy</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-card__right">
          <div class="product-card-head">
            <div class="product-card-badges">
              <a href="#" class="product-card__badge">2019 İLKBAHAR</a>
              <a href="#" class="product-card__badge">YDS</a>
              <a href="#" class="product-card__badge">e-YDS</a>
            </div>
            <h1 class="product-card__title">Ön Hazırlık Grubu</h1>
            <div class="product-card-ctr">
              <div class="product-card-ctr__item hidden-mobile">
                <div class="product-card-ctr__title">EĞİTMEN</div>
                <div class="product-card-ctr__txt">REMZİ HOCA</div>
              </div>
              <div class="product-card-ctr__item">
                <div class="product-card-ctr__title">KULLANIM SÜRESİ</div>
                <div class="product-card-ctr__txt">9 AY</div>
                <div
                  class="product-card-ctr__info custom-tooltip custom-tooltip--top"
                >
                  <svg-icon type="icon-info"></svg-icon>
                  <div class="custom-tooltip__drop">
                    <span class="custom-tooltip__caret">
                      <svg class="icon icon-arrow-o-down">
                        <use
                          xlink:href="http://pixelateworks.com/client/rh-kurumsal/assets/img/icons.svg#icon-arrow-o-down"
                        />
                      </svg>
                    </span>
                    <div class="custom-tooltip__cnt colored-gray">
                      Temel Akademik Çeviri grubu, sıfırdan akademik düzeyde
                      çeviri öğrenmek ve isteyenler için açılmış bir gruptur.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-card-inf">
            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-calendar-play"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Başlangıç Tarihi</div>
                <div class="product-card-inf__title">14 Mayıs 2018</div>
              </div>
            </div>

            <div class="product-card-inf__item visible-mobile">
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Eğitmen</div>
                <div class="product-card-inf__title">Remzi Hoca</div>
              </div>
            </div>

            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-calendar-off"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Bitiş Tarihi</div>
                <div class="product-card-inf__title">14 Mayıs 2018</div>
              </div>
            </div>

            <div class="product-card-inf__item">
              <span class="product-card-inf__icon">
                <svg-icon type="icon-timer"></svg-icon>
              </span>
              <div class="product-card-inf__cnt">
                <div class="product-card-inf__txt">Ders Saati</div>
                <div class="product-card-inf__title">120 Saat</div>
              </div>
            </div>
          </div>

          <div class="product-card__txt">
            Temel Akademik Çeviri grubu, sıfırdan akademik düzeyde çeviri
            öğrenmek ve isteyenler için açılmış bir gruptur.
          </div>

          <div class="product-card-type">
            <label class="product-card-type__item">
              <input
                type="radio"
                name="type"
                class="product-card-type__input"
              />
              <span class="product-card-type__wrp">
                <span class="product-card-type__box"></span>
                <span class="product-card-type__icon">
                  <svg-icon type="icon-tape"></svg-icon>
                </span>
                <span class="product-card-type__cnt">
                  <span class="product-card-type__title">Kayıttan</span>
                  <span class="product-card-type__txt">İZLE</span>
                </span>
              </span>
            </label>

            <label class="product-card-type__item">
              <input
                type="radio"
                name="type"
                checked
                class="product-card-type__input"
              />

              <span class="product-card-type__wrp">
                <span class="product-card-type__box"></span>
                <span class="product-card-type__icon">
                  <svg-icon type="icon-tape-live"></svg-icon>
                </span>
                <span class="product-card-type__cnt">
                  <span class="product-card-type__title"
                    >Canlı ve Kayıttan</span
                  >
                  <span class="product-card-type__txt">İZLE</span>
                </span>
              </span>
            </label>
          </div>

          <div class="product-card-info">
            <div class="product-card-info__left">
              <div class="product-card-info__top">
                <span class="product-card-info__icon">
                  <svg-icon type="icon-user-hand-phone"></svg-icon>
                </span>
                <div class="product-card-info__title">DİJİTAL ÜRÜN</div>
              </div>
              <span class="product-card-info__txt"
                >Bu üründe kargolama yoktur.</span
              >
            </div>

            <div class="product-card-info__right">
              <div class="product-card-price">
                <div class="product-card-price__left">
                  <div class="product-card-price__old">1282,00 TL</div>
                  <div class="product-card-price__main">882,00 TL</div>
                </div>
                <div class="discount">
                  <div class="discount__title">
                    20
                    <small>%</small>
                  </div>
                  <div
                    class="discount-info js-modal"
                    data-custom-modal="alert-modal"
                  >
                    <span class="discount-info__icon">
                      <svg-icon type="icon-info"></svg-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add js-product-add js-product-add-main">
            <div class="product-add-type">
              <div class="product-add-type__left">
                <div class="product-add-type__buttons">
                  <label
                    class="product-add-type__item"
                    @click="openInputCount = false"
                  >
                    <input
                      type="radio"
                      name="user"
                      checked
                      class="product-add-type__input"
                    />
                    <span
                      class="product-add-type__box js-product-type"
                      data-type="single"
                      data-type-text="Tek Kullanıcı"
                    >
                      <span class="product-add-type__icon">
                        <svg-icon type="icon-user-single"></svg-icon>
                      </span>
                    </span>
                  </label>

                  <label
                    class="product-add-type__item"
                    @click="openInputCount = true"
                  >
                    <input
                      type="radio"
                      name="user"
                      class="product-add-type__input"
                    />
                    <span
                      class="product-add-type__box js-product-type"
                      data-type="multiple"
                      data-type-text="Çoklu Kullanıcı"
                    >
                      <span class="product-add-type__icon">
                        <svg-icon type="icon-user-multiple"></svg-icon>
                      </span>
                    </span>
                  </label>
                </div>
                <div class="product-add-type__txt js-product-type-txt">
                  Tek Kullanıcı
                </div>
              </div>

              <div
                class="product-add-count product-add-count--hide js-product-add-count"
                :class="{ active: openInputCount }"
              >
                <div class="input-count js-count">
                  <button
                    class="input-count__btn js-count-btn"
                    data-event="minus"
                  >
                    <span class="button__wrp">
                      <svg-icon type="icon-dash"></svg-icon>
                    </span>
                  </button>
                  <input
                    type="text"
                    class="input-count__input input-reset js-count-input"
                    readonly
                    value="1"
                    placeholder
                  />
                  <button
                    class="input-count__btn js-count-btn"
                    data-event="plus"
                  >
                    <svg-icon type="icon-plus"></svg-icon>
                  </button>
                </div>

                <div class="product-add-type__txt">Kullanıcı Sayısı</div>
              </div>
            </div>

            <div class="product-add__right">
              <button class="button product-add__button button--green fw">
                <span class="button__wrp">
                  <span class="button__icon">
                    <svg class="icon">
                      <use
                        xlink:href="http://pixelateworks.com/client/rh-kurumsal/assets/img/icons.svg#icon-cart"
                      />
                    </svg>
                  </span>
                  <span class="button__txt">SEPETE EKLE</span>
                </span>
              </button>
              <div class="product-add__txt">
                <strong>32.544</strong> Kayıtlı Öğrenci
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear" style="height: 10px;"></div>
      <div class="custom-container">
        <div class="wizard-banner" style="color: #dd6493;" id="WizardBanner">
          <div
            class="wizard-banner__inner js-modal js-wizard-modal"
            data-custom-modal="wizard-modal"
          >
            <div class="wizard-banner-bg">
              <img
                src="@/assets/img/els-bg.jpg"
                alt="remzihoca ön hazırlık grubu"
                class="wizard-banner-bg__img"
              />
            </div>
            <div class="wizard-banner__cnt" style="background: transparent;">
              <img
                src="@/assets/img/list-of-els.png"
                style="object-fit: cover; width: 250px; height: auto; object-position: bottom; margin-top: -62px;"
                alt="remzihoca ön hazırlık grubu"
                class="wizard-banner-bg__img"
              />
              <div class="wizard-banner__title colored-white">
                <div class="opacity-60">Bir Sonraki Canlı Dersin</div>
                <div>Başlamasına Kalan Süre!</div>
              </div>
              <v-button
                class="fw c-white go-product-wizard colored-wizard"
                icon="icon-arrow-long-right"
                icon-position="right"
                title="ÜRÜN SİHİRBAZINI KULLAN"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="content-of-product">
        <div class="product-tab pad0">
          <div class="product-tab__wrp">
            <div class="product-tab__header hr-bottom bg-light-gray">
              <button
                @click="currentProductTab = 0"
                :class="{ active: currentProductTab === 0 }"
                class="product-tab__item js-product-tab"
                data-target="ProductTabDescription"
              >
                <span class="product-tab__txt">
                  <h2
                    style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                  >
                    Genel Açıklama
                  </h2>
                </span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
              <button
                @click="currentProductTab = 1"
                :class="{ active: currentProductTab === 1 }"
                class="product-tab__item js-product-tab"
                data-target="productTab-1104"
              >
                <span class="product-tab__txt">
                  <h2
                    style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                  >
                    Ders İçeriği
                  </h2>
                </span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
              <button
                @click="currentProductTab = 2"
                :class="{ active: currentProductTab === 2 }"
                class="product-tab__item js-product-tab"
                data-target="comments"
              >
                <span class="product-tab__txt">
                  <h2
                    style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                  >
                    Kullanıcı Yorumları
                  </h2>
                </span>
                <span class="product-tab__subtitle">(20 Yorum)</span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
              <button
                @click="currentProductTab = 3"
                :class="{ active: currentProductTab === 3 }"
                class="product-tab__item js-product-tab"
                data-target="productTab-1106"
              >
                <span class="product-tab__txt">
                  <h2
                    style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                  >
                    Karşılaştırma
                  </h2>
                </span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="product-tab__cnt js-product-cnt">
          <div
            :class="{ active: currentProductTab === 0 }"
            class="product-accordion"
          >
            <a
              href="#"
              class="product-tab__item js-product-tab active"
              data-target="ProductTabDescription"
            >
              <span class="product-tab__txt">
                <h2
                  style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                >
                  Grup Hakkında
                </h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use
                    xlink:href="assets/front/img/icons.svg#icon-arrow-o-down"
                  />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              id="ProductTabDescription"
              style="display: block;"
            >
              <div class="accordion">
                <div
                  class="accordion__item js-accordion-item"
                  v-for="i in 5"
                  :class="{ active: currentAccordionId === i }"
                  :key="i"
                >
                  <div
                    class="accordion-header js-accordion-header"
                    @click="currentAccordionId = i"
                  >
                    <div class="accordion-header__icon"></div>
                    <div class="accordion-header__tcnt">
                      <div class="accordion-header__title">
                        İleri Düzey Gramer Konu Anlatımı ve Basit soru
                        alıştırmaları
                      </div>
                      <div
                        class="accordion-header__txt js-accordion-header-txt"
                        style="display: none;"
                      >
                        Detayları görüntülemek için tıklayınız.
                      </div>
                    </div>
                  </div>
                  <div
                    class="accordion__content js-accordion-content"
                    style="display: block;"
                  >
                    <ul>
                      <li>
                        <p>Tense</p>
                      </li>
                      <li>
                        <p>Modal</p>
                      </li>
                      <li>
                        <p>Active – Passive</p>
                      </li>
                      <li>
                        <p>Gerund – Infinitive</p>
                      </li>
                      <li>
                        <p>Conditionals</p>
                      </li>
                      <li>
                        <p>Prepositions</p>
                      </li>
                      <li>
                        <p>Connectors</p>
                      </li>
                      <li>
                        <p>Correlative Conjunctions</p>
                      </li>
                      <li>
                        <p>Relative Clause</p>
                      </li>
                      <li>
                        <p>Noun Clause</p>
                      </li>
                      <li>
                        <p>Quantifiers</p>
                      </li>
                      <li>
                        <p>Adjective – Adverb</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            :class="{ active: currentProductTab === 1 }"
            class="product-accordion"
          >
            <a href="#" class="product-tab__item js-product-tab active">
              <span class="product-tab__txt">
                <h2
                  style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                >
                  Grup Hakkında
                </h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use
                    xlink:href="assets/front/img/icons.svg#icon-arrow-o-down"
                  />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div class="accordion">
                <div
                  class="accordion__item js-accordion-item"
                  v-for="i in 6"
                  :class="{ active: currentAccordionId === i }"
                  :key="i"
                >
                  <div
                    class="accordion-header js-accordion-header"
                    @click="currentAccordionId = i"
                  >
                    <div class="accordion-header__icon"></div>
                    <div class="accordion-header__tcnt">
                      <div class="accordion-header__title">
                        İleri Düzey Gramer Konu Anlatımı ve Basit soru
                        alıştırmaları
                      </div>
                      <div
                        class="accordion-header__txt js-accordion-header-txt"
                        style="display: none;"
                      >
                        Detayları görüntülemek için tıklayınız.
                      </div>
                    </div>
                  </div>
                  <div
                    class="accordion__content js-accordion-content"
                    style="display: block;"
                  >
                    <ul>
                      <li>
                        <p>Tense</p>
                      </li>
                      <li>
                        <p>Modal</p>
                      </li>
                      <li>
                        <p>Active – Passive</p>
                      </li>
                      <li>
                        <p>Gerund – Infinitive</p>
                      </li>
                      <li>
                        <p>Conditionals</p>
                      </li>
                      <li>
                        <p>Prepositions</p>
                      </li>
                      <li>
                        <p>Connectors</p>
                      </li>
                      <li>
                        <p>Correlative Conjunctions</p>
                      </li>
                      <li>
                        <p>Relative Clause</p>
                      </li>
                      <li>
                        <p>Noun Clause</p>
                      </li>
                      <li>
                        <p>Quantifiers</p>
                      </li>
                      <li>
                        <p>Adjective – Adverb</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            :class="{ active: currentProductTab === 2 }"
            class="product-accordion"
          >
            <a href="#" class="product-tab__item js-product-tab active">
              <span class="product-tab__txt">
                <h2
                  style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                >
                  Grup Hakkında
                </h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use
                    xlink:href="assets/front/img/icons.svg#icon-arrow-o-down"
                  />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div class="comments">
                <div class="comments__inner">
                  <div class="comments__group">
                    <div class="comments__item" v-for="i in 5" :key="i">
                      <div class="comments__cnt">
                        <div class="comments__header">
                          <span class="comments__title">Nur K.</span>
                        </div>
                        <p class="comments__txt">
                          avukatım, doktora yapabilmek için yök dil hazırlık
                          programından sınava hazırlandım. 55 puan yeterli idi,
                          ben remzi hoca ve ekibi sayesinde 76,25 puan aldım.
                          Zengin içerikli kaynaklar ve özverili
                          çalışmalarınız/ders anlatımlarınız için çok teşekkür
                          ediyorum,
                        </p>
                        <div class="d-flex">
                          <span class="comments__date">
                            <span class="icon-font">
                              <svg-icon type="icon-time"></svg-icon>
                            </span>
                            <span class="btn-txt">24/11/2017 20:43</span>
                          </span>
                          <span class="comments__date">
                            <span class="icon-font"></span>
                            <span class="btn-txt">İstanbul</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="comments-more js-comments-more"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            :class="{ active: currentProductTab === 3 }"
            class="product-accordion"
          >
            <a href="#" class="product-tab__item js-product-tab active">
              <span class="product-tab__txt">
                <h2
                  style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                >
                  Grup Hakkında
                </h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use
                    xlink:href="assets/front/img/icons.svg#icon-arrow-o-down"
                  />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div class="accordion">
                <div
                  class="accordion__item js-accordion-item"
                  v-for="i in 2"
                  :class="{ active: currentAccordionId === i }"
                  :key="i"
                >
                  <div
                    class="accordion-header js-accordion-header"
                    @click="currentAccordionId = i"
                  >
                    <div class="accordion-header__icon"></div>
                    <div class="accordion-header__tcnt">
                      <div class="accordion-header__title">Ders İçerikleri</div>
                      <div
                        class="accordion-header__txt js-accordion-header-txt"
                        style="display: none;"
                      >
                        Detayları görüntülemek için tıklayınız.
                      </div>
                    </div>
                  </div>
                  <div
                    class="accordion__content js-accordion-content overflow-x-scroll-mobile"
                    style="display: block;"
                  >
                    <table class="product-comparison-table">
                      <tbody>
                        <tr>
                          <th></th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/grup-on-hazirlik.svg"
                                alt="on hazirlik grubu"
                                class="icon"
                              />
                            </div>
                            <div class="product-comparison__title">
                              Ön Hazırlık
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/grup-hazirlik.svg"
                                alt="on hazirlik grubu"
                                class="icon"
                              />
                            </div>
                            <div class="product-comparison__title">
                              YDS Hazırlık
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/grup-deneme.svg"
                                alt="deneme grubu"
                                class="icon"
                              />
                            </div>
                            <div class="product-comparison__title">
                              YDS Soru ve Deneme
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/grup-temel-ceviri.svg"
                                alt="temel ceviri grubu"
                                class="icon"
                              />
                            </div>
                            <div class="product-comparison__title">
                              Temel Çeviri
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/grup-ceviri.svg"
                                alt="temel ceviri grubu"
                                class="icon"
                              />
                            </div>
                            <div class="product-comparison__title">
                              İleri Çeviri
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-saglik.svg"
                                class="icon"
                                alt="YÖKDİL Sağlık"
                              />
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-sosyal.svg"
                                class="icon"
                                alt="YÖKDİL Sosyal"
                              />
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-fen.svg"
                                class="icon"
                                alt="YÖKDİL Fen"
                              />
                            </div>
                            <div class="product-comparison__title">
                              YÖKDİL Hazırlık
                            </div>
                          </th>
                          <th>
                            <div class="product-comparison__icons">
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-saglik-deneme.svg"
                                class="icon"
                                alt="YÖKDİL Sağlık Deneme"
                              />
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-sosyal-deneme.svg"
                                class="icon"
                                alt="YÖKDİL Sosyal Deneme"
                              />
                              <img
                                src="https://www.remzihoca.com/img/groups/yokdil-fen-deneme.svg"
                                class="icon"
                                alt="YÖKDİL Fen Deneme"
                              />
                            </div>
                            <div class="product-comparison__title">
                              YÖKDİL Deneme
                            </div>
                          </th>
                        </tr>
                        <tr>
                          <td>Temel Seviye Gramer Konu Anlatımı</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>İleri Seviye Gramer Konu Anlatımı</td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Temel Düzey Gramer Alıştırmaları</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>İleri Düzey Gramer Alıştırmaları</td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Temel Düzey Kelime Öğrenimi</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>İleri Düzey Kelime Öğretimi</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                        </tr>
                        <tr>
                          <td>Collocation Çalışmaları</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                        </tr>
                        <tr>
                          <td>Okuma Çalışmaları</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Cümle Düzeyinde Çeviri</td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Akademik Metin Çevirisi</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Soru Tipi Çözüm Yöntemleri</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                        </tr>
                        <tr>
                          <td>Soru Tipi Geliştirme</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                        </tr>
                        <tr>
                          <td>Soru Tipleri</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Deneme Sınavı</td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                          <td></td>
                          <td></td>
                          <td>✔</td>
                          <td>✔</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </container>

    <div class="product-list-of-shop-detail">
      <container class="container">
        <div class="d-flex justify-content-between">
          <strong> <span>Çalışma Paketleri</span> Önerileri </strong>
          <p>
            Temel Akademik Çeviri grubu, sıfırdan akademik düzeyde çeviri
            öğrenmek ve isteyenler için açılmış bir gruptur.
          </p>
        </div>
        <div class="row slider-overflow">
          <swiper :options="swiperOptionCore" :ref="mySwiperCore">
            <!-- slides -->
            <swiper-slide
              class="product-slider-design"
              style="padding: 0;"
              v-for="i in 8"
              :key="i"
            >
              <div class="product-item__wrp">
                <div class="product-item">
                  <div class="product-item__inner">
                    <div class="product-item__top">
                      <div class="product-item__cover" style="max-width: 100%;">
                        <swiper :options="swiperOption" :ref="mySwiper">
                          <!-- slides -->
                          <swiper-slide v-for="j in 3" :key="j">
                            <img
                              src="https://www.remzihoca.com/storage/contents/1567521162-113050.png"
                              alt
                              class="product-card-cover__img"
                            />
                          </swiper-slide>
                          <!--<div class="swiper-button-prev dictionary-slider__arrow" slot="button-prev">-->
                          <!--<svg-icon type="icon-arrow-left"/>-->
                          <!--</div>-->
                          <!--<div class="swiper-button-next dictionary-slider__arrow" slot="button-next">-->
                          <!--<svg-icon type="icon-arrow-right"/>-->
                          <!--</div>-->
                          <div
                            class="swiper-pagination"
                            slot="pagination"
                          ></div>
                        </swiper>
                      </div>
                    </div>

                    <div class="product-item__cnt">
                      <h4 class="product-item__title">
                        2019 Sonbahar YÖKDİL Sağlık Bilimleri
                      </h4>
                      <div class="product-item-list-app">
                        <figure>
                          <img
                            src="https://www.remzihoca.com/storage/product/product_icon/1553611176-545848.svg"
                            alt
                          />
                        </figure>
                        <figure>
                          <img
                            src="https://www.remzihoca.com/storage/product/product_icon/1553611176-545848.svg"
                            alt
                          />
                        </figure>
                      </div>
                      <div class="product-item-price">
                        <div class="product-item-price__left discount">%20</div>
                        <div class="product-item-price__left">
                          <div class="product-item-price__old">1860.00 TL</div>
                          <div class="product-item-price__main">860.00 TL</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button
                    class="product-item__btn js-quick-add js-modal fast-basket-add"
                    data-custom-modal="ProductModal"
                    data-slug="https://www.remzihoca.com/urunler/online-ders/2019-sonbahar-yokdil-saglik-bilimleri-canli-ve-kayittan"
                  >
                    ÜRÜN DETAY
                  </button>
                </div>
              </div>
            </swiper-slide>
            <div
              class="swiper-button-prev core dictionary-slider__arrow"
              slot="button-prev"
            >
              <svg-icon type="icon-arrow-left" />
            </div>
            <div
              class="swiper-button-next core dictionary-slider__arrow"
              slot="button-next"
            >
              <svg-icon type="icon-arrow-right" />
            </div>
            <!--<div class="swiper-pagination" slot="pagination"></div>-->
          </swiper>
        </div>
      </container>
    </div>

    <div
      class="cart-button"
      @click="cartOpen = true"
      :class="{ active: cartOpen }"
    >
      <svg-icon type="icon-cart"></svg-icon>
      <span class="cart-button__text">Sepetim</span>
      <span class="cart-button__counter">12</span>
    </div>
    <!-- <div :class="{ active: cartOpen }" class="cart-content">
      <div class="cart-content--cart-header">
        <div>
          <svg-icon type="icon-cart"></svg-icon>
          <strong>Sepetim</strong>
        </div>
        <span> <strong>2x</strong> Ürün </span>
      </div>
      <div class="cart-content--products">
        <div class="d-flex" v-for="i in 10" :key="i">
          <img
            src="http://pixelateworks.com/client/rh-kurumsal/assets/img/product-cover-1.png"
            alt
          />
          <div>
            <strong>2018 Sonbahar YDS Hazırlık Şeyleri</strong>
            <span>920.00 TL</span>
          </div>
          <div class="buttons">
            <a>
              <svg-icon type="icon-pen"></svg-icon>
            </a>
            <a>
              <svg-icon type="icon-trash"></svg-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="cart-content--price">
        <span>Ödenecek Tutar (KDV Dahil)</span>
        <strong>882.00 TL</strong>
      </div>
      <div class="cart-content--footer">
        <v-button
          class="fw c-purple"
          icon="icon-arrow-long-right"
          icon-position="right"
          title="ALIŞVERİŞİ TAMAMLA"
        />
      </div>
    </div> -->
    <div
      :class="{ active: cartOpen }"
      class="cart-bg"
      @click="cartOpen = false"
    ></div>
  </div>
</template>

<script>
// import SelectBox from '@/components/SelectBox'
// import Tab from '@/components/Tab/Tab'
// import TabPane from '@/components/Tab/TabPane'
export default {
  name: 'Mağaza',
  components: {
    // Tab,
    // TabPane,
  },
  data() {
    return {
      currentBookTab: 0,
      currentAccordionId: 1,
      currentProductTab: 0,
      cartOpen: false,
      swiperOption: {
        // effect: 'coverflow',
        grabCursor: true,
        speed: 500,
        // navigation: {
        //     nextEl: '.swiper-button-next',
        //     prevEl: '.swiper-button-prev'
        // },
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
        },
        simulateTouch: true,
      },
      swiperOptionCore: {
        slidesPerView: 4,
        // effect: 'coverflow',
        grabCursor: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next.core',
          prevEl: '.swiper-button-prev.core',
        },
        simulateTouch: false,
      },
      currentTab: 0,
      options: [
        {
          label: 'Dönem Seç',
          value: 'all',
        },
      ],
      openInputCount: false,
    }
  },
  methods: {
    tabShow(tab, index) {
      this.currentBookTab = index
    },
    goBack() {
      this.$router.push('/magaza')
    },
  },
  computed: {},
  created() {},
}
</script>

<style lang="scss">
@import '../../assets/scss/components/shop';
@import '../../assets/scss/components/product-card';
</style>
