<template>
  <div class="shop-page shop-detail-page">
    <div class="overlay"></div>
    <div class="subpage-header" style="background: #e3eaf6;">
      <div class="custom-container">
        <div class="subpage-header__wrp">
          <div class="subpage-header__head" style="width: 100%;">
            <div class="subpage-header__icon">
              <svg-icon type="icon-market"></svg-icon>
            </div>
            <div class="subpage-header__title">
              <span>Mağaza</span>
            </div>
            <div class="subpage-header__info" style="margin-left: auto; margin-right: 0;">
              <div class="custom-exit-button">
                <v-button
                  class="ml-auto subpage-download-button"
                  icon="icon-arrow-long-left"
                  title="GERİ DÖN"
                  icon-position="left"
                  @click.native="goBack()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <container class="container" v-if="content === null">
      <GhostProductItem class="ghost-product-detail" />
    </container>
    <container class="container" v-if="content">
      <PackageItem :content="content" :basket="addToBasket" />
      <div class="clear" style="height: 10px;"></div>

      <div class="content-of-product" v-if="content">
        <div class="product-tab pad0">
          <div class="product-tab__wrp">
            <div class="product-tab__header hr-bottom bg-light-gray">
              <button
                @click="activeTab = 'description'"
                :class="{ active: activeTab === 'description' }"
                class="product-tab__item js-product-tab"
              >
                <span class="product-tab__txt">
                  <h2 style="font-size: 17px;line-height: 1.3em;font-weight: 700;">Genel Açıklama</h2>
                </span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
              <button
                @click="activeTab = 'comments'"
                :class="{ active: activeTab === 'comments' }"
                class="product-tab__item js-product-tab"
              >
                <span class="product-tab__txt">
                  <h2
                    style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                  >Kullanıcı Yorumları</h2>
                </span>
                <span class="product-tab__subtitle">({{ checkDataSize(content.comments) }} Yorum)</span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>

              <button
                @click="activeTab = tab.id"
                :class="{ active: activeTab === tab.id }"
                class="product-tab__item js-product-tab"
                v-for="tab in content.tabs"
                :key="tab.id"
              >
                <span class="product-tab__txt">
                  <h2 style="font-size: 17px;line-height: 1.3em;font-weight: 700;">{{ tab.title }}</h2>
                </span>
                <span class="product-tab__caret">
                  <svg-icon type="icon-caret-down"></svg-icon>
                </span>
              </button>
            </div>
          </div>
        </div>

        <div class="product-tab__cnt js-product-cnt">
          <div :class="{ active: activeTab === 'description' }" class="product-accordion">
            <a href="#" class="product-tab__item js-product-tab active">
              <span class="product-tab__txt">
                <h2 style="font-size: 17px;line-height: 1.3em;font-weight: 700;">Genel Açıklama</h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use xlink:href="assets/front/img/icons.svg#icon-arrow-o-down" />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div v-html="content.description"></div>
            </div>
          </div>
          <div :class="{ active: activeTab === 'comments' }" class="product-accordion">
            <a href="#" class="product-tab__item js-product-tab">
              <span class="product-tab__txt">
                <h2
                  style="font-size: 17px;line-height: 1.3em;font-weight: 700;"
                >>Kullanıcı Yorumları</h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use xlink:href="assets/front/img/icons.svg#icon-arrow-o-down" />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div class="comments">
                <div class="comments__inner">
                  <div class="comments__group">
                    <div
                      class="comments__item"
                      v-for="comment in content.comments"
                      :key="comment.id"
                    >
                      <div class="comments__cnt">
                        <div class="comments__header">
                          <span class="comments__title">{{ comment.name }}</span>
                        </div>
                        <p class="comments__txt">{{ comment.message }}</p>
                        <div class="d-flex">
                          <span class="comments__date">
                            <span class="icon-font">
                              <svg-icon type="icon-time"></svg-icon>
                            </span>
                            <span class="btn-txt">{{ comment.time }}</span>
                          </span>
                          <span class="comments__date">
                            <span class="icon-font"></span>
                            <span class="btn-txt">{{ comment.city }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="comments-more js-comments-more"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            :class="{ active: activeTab === tab.id }"
            class="product-accordion"
            v-for="tab in content.tabs"
            :key="tab.id"
          >
            <a href="#" class="product-tab__item js-product-tab">
              <span class="product-tab__txt">
                <h2 style="font-size: 17px;line-height: 1.3em;font-weight: 700;">{{ tab.title }}</h2>
              </span>
              <span class="product-tab__caret">
                <svg class="icon icon-arrow-o-down">
                  <use xlink:href="assets/front/img/icons.svg#icon-arrow-o-down" />
                </svg>
              </span>
            </a>
            <div
              class="product-tab__pane subpage-reset-style js-product-pane active"
              style="display: block;"
            >
              <div v-html="tab.description"></div>
            </div>
          </div>
        </div>
      </div>
    </container>

    <Cart ref="Cart" />
  </div>
</template>

<script>
import Cart from '../../components/Store/Cart'
import PackageItem from '../../components/Store/PackageItem'
import GhostProductItem from '@/core/Ghost/GhostProductItem'
import { SET_HEADER_CLASS, GET_PAGE_CLASS } from '@/store/actions.type'
import _ from 'lodash'
import { contentShow } from '../../services/store.service'

export default {
  name: 'ShopPackageDetail',
  components: { PackageItem, Cart, GhostProductItem },
  data() {
    return {
      content: null,
      activeTab: 'description'
    }
  },
  mounted() {
    this.show()
    this.$route.meta.pageClass = 'header--gray'
  },
  created() {
    this.$store.dispatch(GET_PAGE_CLASS, 'header--gray')
    this.$route.meta.pageClass = 'header--gray'
  },
  methods: {
    addToBasket(form) {
      this.$refs.Cart.store(form)
    },
    goBack() {
      if (this.prevRoute.path === '/') this.$router.push('/magaza')
      else this.$router.go(-1)
    },

    checkDataSize(items) {
      return _.size(items)
    },

    show() {
      contentShow(this.$route.params.id).then(({ data }) => {
        this.$store.dispatch(SET_HEADER_CLASS, 'header--gray')
        this.content = data.data
      })
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.from = from
      vm.prevRoute = from
      to.meta.pageClass = 'header--gray'
    })
  },

  beforeRouteLeave(to, from, next) {
    this.$store.dispatch(SET_HEADER_CLASS, '')
    next()
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/shop';
@import '../../assets/scss/components/product-card';
</style>
