<script>
import BaseIcon from './BaseIcon'
export default {
  name: 'BaseButton',

  props: {
    icon: {
      type: String,
      default: '',
    },
    iconSize: {
      type: [Number, String],
      default: 20,
    },
    iconPosition: {
      type: String,
      default: 'left',
    },
    text: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    minimal: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    styling: {
      type: String,
      default: 'rounded',
    },
    intent: {
      type: String,
      default: null,
    },
    uppercase: {
      type: Boolean,
      default: false,
    },
    inactive: {
      type: Boolean,
      default: false,
    }
  },

  components: {
    Icon: BaseIcon,
  },

  computed: {
    hasIcon() {
      return this.icon.length > 0
    },

    hasText() {
      return this.text.length > 0
    },

    textContent() {
      return this.loading ? 'Yükleniyor...' : this.text
    },

    loadingClass() {
      return this.loading ? 'is-loading' : ''
    },

    iconRightClass() {
      return this.iconPosition === 'right' ? 'right-icon' : ''
    },

    intentClass() {
      return this.intent ? `is-${this.intent}` : ''
    },

    styleClass() {
      return `is-${this.styling}`
    },

    minimalClass() {
      return this.minimal ? 'is-minimal' : ''
    },

    blockClass() {
      return this.block ? 'is-block' : ''
    },

    uppercaseClass() {
      return this.uppercase ? 'is-uppercase' : ''
    },

    inactiveClass() {
      return this.inactive ? 'is-inactive' : ''
    },

    classList() {
      return [
        this.loadingClass,
        this.intentClass,
        this.styleClass,
        this.iconRightClass,
        this.uppercaseClass,
        this.minimalClass,
        this.blockClass,
        this.inactiveClass
      ]
    },
  },
}
</script>

<template>
  <button class="base-button" :class="classList" @click="$emit('click')">
    <span class="base-button__icon" v-if="hasIcon">
      <Icon :icon-name="icon" :height="iconSize" />
    </span>
    <span class="base-button__text" v-if="hasText">{{ textContent }}</span>
    <slot name="content" />
  </button>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/_colors';
@import '@/assets/scss/_vars';

.base-button {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color-light);
  color: var(--color-text);
  transition: 0.1s;
  font-weight: 600;
  flex-grow: 0;
  flex-shrink: 0;

  &__icon + &__text {
    margin-left: 0.5rem;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.right-icon {
    flex-direction: row-reverse;

    .base-button__text {
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }

  &:hover {
    color: var(--btn-color-hover);
    box-shadow: 0 0.2rem 0.8rem var(--btn-box-shadow);
  }

  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: 0.5rem;
  }

  &.is-pill {
    border-radius: 100rem;
  }

  &.is-circle {
    padding: 0.5rem;
    width: 3rem;
    border-radius: 100rem;
  }

  &.is-minimal {
    background: transparent;

    &:hover {
      box-shadow: none;
    }
  }

  &.is-block {
    flex: 1 1 auto;
    width: 100%;
  }

  &.is-uppercase {
    text-transform: uppercase;
  }

  &.is-primary {
    background: var(--color-primary);
    color: #fff;
  }

  &.is-info {
    background: $c-alt;
    color: #fff;
  }

  &.is-secondary {
    background: var(--btn-background-secondary);
    color: var(--color-text);

    &:hover {
      box-shadow: none;
      background: var(--btn-background-secondary-hover);
      color: var(--btn-color-hover);
    }

    &:active {
      background: var(--btn-background-secondary-focus);
    }
  }

  &.is-inactive {
    pointer-events: none;
    opacity: 0.5;
  }
}
</style>
