<script>
import icons from '../../common/icons'

export default {
  name: 'BaseIcon',
  props: {
    iconName: {
      type: String,
      validator: val => icons.includes(val),
      default: 'help',
    },

    height: {
      type: [String, Number],
      default: '24',
    },
  },
  components: {
    book: () => import('./Icons/book'),
    contents: () => import('./Icons/contents'),
    contentssearch: () => import('./Icons/contentssearch'),
    'contents-search-alt': () => import('./Icons/contents-search-alt'),
    lamp: () => import('./Icons/lamp'),
    digitest: () => import('./Icons/digitest'),
    digireading: () => import('./Icons/digireading'),
    digiwordlist: () => import('./Icons/digiwordlist'),
    digipairing: () => import('./Icons/digipairing'),
    digitable: () => import('./Icons/digitable'),
    digitranslation: () => import('./Icons/digitranslation'),
    info: () => import('./Icons/info'),
    close: () => import('./Icons/close'),
    arrowrightlight: () => import('./Icons/arrowrightlight'),
    lists: () => import('./Icons/lists'),
    translate: () => import('./Icons/translate'),
    answer: () => import('./Icons/answer'),
    question: () => import('./Icons/question'),
    voice: () => import('./Icons/voice'),
    plus: () => import('./Icons/plus'),
    minus: () => import('./Icons/minus'),
    'paper-book': () => import('./Icons/paper-book'),
    download: () => import('./Icons/download'),
    timer: () => import('./Icons/timer'),
    play: () => import('./Icons/play'),
    pause: () => import('./Icons/pause'),
    reload: () => import('./Icons/reload'),
    recycle: () => import('./Icons/recycle'),
    'app-cluebank': () => import('./Icons/app-cluebank'),
    'vocabulary-alt': () => import('./Icons/vocabulary-alt'),
    'collocation-alt': () => import('./Icons/collocation-alt'),
    'preposition-alt': () => import('./Icons/preposition-alt'),
    'wordy-alt': () => import('./Icons/wordy-alt'),
    'cluebank': () => import('./Icons/cluebank'),
    'cluebank-item': () => import('./Icons/cluebank-item'),
    'star': () => import('./Icons/star'),
    'exclamation': () => import('./Icons/exclamation'),
    'keyboard': () => import('./Icons/keyboard'),
    'voice-off': () => import('./Icons/voice-off'),
    'help': () => import('./Icons/help'),
    'edit': () => import('./Icons/edit'),
    'trash': () => import('./Icons/trash'),
    'eye': () => import('./Icons/eye'),
    'eye-disabled': () => import('./Icons/eye-disabled'),
    'eye-disabled-alt': () => import('./Icons/eye-disabled-alt'),
    'user-fill': () => import('./Icons/user-fill'),
  },
}
</script>

<template>
  <svg
    class="b-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    :height="height"
  >
    <component :is="iconName" fill="currentColor" />
  </svg>
</template>

<style lang="scss" scoped>
.b-icon {
  user-select: none;
  pointer-events: none;
  color: currentColor;
}
</style>
