<script>
export default {
  name: 'BaseTextarea',
  props: {
    text: {
      type: [String, Object],
      default: '',
    },

    placeholder: {
      type: String,
      default: 'Cevabınızı girin...',
    },
  },

  computed: {
    input() {
      return this.$refs.textarea
    },
  },

  mounted() {
    this.resizeInput()
  },

  methods: {
    resizeInput() {
      let el = this.input
      el.style.height = 'auto'
      el.style.height = el.scrollHeight + 'px'
    },

    handleInput() {
      this.$emit('input', this.input.value)
      this.resizeInput()
    },

    handleBlur() {
      this.$emit('blur', this.input.value)
    },

    handleFocus() {
      this.$emit('focus', this.input.value)
    },
  },
}
</script>

<template>
  <textarea
    class="base-textarea"
    ref="textarea"
    rows="1"
    :value="text"
    :placeholder="placeholder"
    @focus="handleFocus"
    @input="handleInput"
    @blur="handleBlur"
  />
</template>

<style lang="scss" scoped>
@import '../../assets/scss/colors';

.base-textarea {
  background: var(--background-color);
  box-shadow: inset 0 0 0 2px var(--color-border-light);
  transition: 0s;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  resize: none;
  color: var(--color-text);
  transition: background 0.3s, box-shadow 0.3s;

  &::placeholder {
    opacity: 0.5;
    user-select: none;
  }

  &:hover {
    transition: 0.15s;
    box-shadow: inset 0 0 0 2px var(--color-text);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $c-alt;
    background: var(--background-color);

    &::placeholder {
      opacity: 0;
    }
  }
}
</style>
