<script>
export default {
  name: 'BaseContainer'
}
</script>

<template>
  <div class="base-container">
    <slot />
  </div>
</template>



<style lang="scss" scoped>
.base-container {
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;

  @include bp(mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }

}
</style>