<script>
import { fastTranslation } from '../../../common/helpers'
import DigibookBlockNumber from './DigibookBlockNumber.vue'

export default {
  name: 'DigibookBlockQuestion',

  props: {
    index: {
      type: Number,
      required: false,
      default: 1,
    },

    text: {
      type: String,
      required: true,
      default: '',
    },

    body: {
      type: Array,
      required: false,
      default: () => [],
    },

    questionType: {
      type: String,
      default: '',
      required: false,
    },

    answerId: {
      type: [Object, Number],
      required: false,
      default: null,
    },

    answerTexts: {
      type: Array,
      required: false,
      default: () => [],
    },
  },

  components: {
    Number: DigibookBlockNumber,
  },

  data() {
    return {
      nonFilledText: '----',
    }
  },

  computed: {
    hasAnswerTexts() {
      return this.answerTexts.length > 0
    },

    hasTexts() {
      return this.text.length > 0 || this.body.length > 0
    },
  },

  methods: {
    checkTranslation: fastTranslation,

    handleFillAnswer(item) {
      const flag = this.answerTexts.find(answer => {
        return answer.flag === item.flag
      })
      return flag ? flag.text : this.nonFilledText
    },
  },
}
</script>

<template>
  <div class="digibook-block-question" :class="{ 'no-text': !hasTexts }">
    <template v-if="questionType === 'filling'">
      <Number class="digibook-block-question__number" :number="index" />
      <article
        class="digibook-block-question__text"
        @mouseup="checkTranslation"
        v-if="body.length > 0"
      >
        <template v-for="(item, index) in body">
          <span :key="`questionItem${index}`" v-html="item.text" />
          <span
            :key="`questionGap${index}`"
            v-if="item.type === 'gap'"
            :class="{ 'is-filled': handleFillAnswer(item) !== '----' }"
            v-html="handleFillAnswer(item)"
          />
        </template>
      </article>
    </template>
    <template v-else>
      <Number class="digibook-block-question__number" :number="index" />
      <article
        v-if="text.length > 0"
        :data-text="text.length"
        class="digibook-block-question__text"
        v-html="text"
        @mouseup="checkTranslation"
      />
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.digibook-block-question {
  display: flex;
  align-items: center;

  &.no-text {
    margin: 0;
  }

  &__number {
    display: none;

    @include bp(tablet) {
      display: inline-flex;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.5rem;
      align-self: flex-start;
    }
  }

  &__text {
    font-weight: 700;
    line-height: 1.5;
    flex: 1 1 auto;
    color: var(--color-text);
    transition: color 0.3s;
    min-height: 2.5rem;
    align-items: center;
    padding: 0.5rem 0;

    & > span {
      display: inline;
    }

    & .is-filled {
      color: $c-alt;
    }
  }
}
</style>
