<script>
export default {
  name: 'DigibookBlockInstructions',
  props: {
    instructions: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
}
</script>

<template>
  <div class="digibook-block-instructions">
    <template v-for="(instruction, index) in instructions">
      <p
        class="digibook-block-instructions__item"
        v-html="instruction"
        :key="`instruction#${index + 1}`"
      />
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-block-instructions {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--background-color);
  transition: background 0.3s;

  &__item {
    color: var(--color-secondary);
    transition: color 0.3s;
    font-weight: 700;
    font-size: 1rem;

    & + & {
      margin-top: 1rem;
    }
  }
}
</style>
