<script>
import { fastTranslation } from '../../../common/helpers'
export default {
  name: 'DigibookBlockArticle',

  props: {
    content: {
      type: Array,
      required: true,
    },

    questions: {
      type: Array,
      required: false,
      default: () => [],
    },
  },

  data() {
    return {
      nonFilledText: '----',
    }
  },

  computed: {
    hasQuestions() {
      return this.questions.length > 1
    },
  },

  methods: {
    checkTranslation: fastTranslation,

    findQuestion(id) {
      return this.questions.find(q => q.id === id)
    },

    findAnswer(question) {
      return question.newOptions.find(el => el.id === question.answerId)
    },

    handleFillAnswer(item) {
      let question = this.findQuestion(item.flag)
      let answer = this.findAnswer(question)
      return answer ? answer.texts[0].text : this.nonFilledText
    },
  },
}
</script>

<template>
  <article class="digibook-block-article" @mouseup="checkTranslation">
    <template v-for="(item, index) in content">
      <span :key="`questionItem${index}`" v-html="item.text" />
      <b
        :key="`questionGap${index}`"
        v-if="item.type !== 'text'"
        :class="{ 'is-filled': handleFillAnswer(item) !== '----' }"
        v-html="handleFillAnswer(item)"
      />
    </template>
  </article>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-block-article {
  & .is-filled {
    color: $c-alt;
  }
}
</style>
