<script>
export default {
  name: 'DigibookBlockFigure',

  props: {
    image: {
      type: String,
      required: true,
    },

    caption: {
      type: String,
      required: false,
    },
  },
}
</script>

<template>
  <figure class="digibook-block-figure">
    <img class="digibook-block-figure__image" :src="image" />
    <figcaption class="digibook-block-figure__caption">
      {{ caption }}
    </figcaption>
  </figure>
</template>

<style lang="scss" scoped>
.digibook-block-figure {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  user-select: none;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    max-height: 25rem;
    z-index: 1;
  }

  &__caption {
    color: #fff;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2rem 2rem;
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(255, 255, 255, 0) 60%
    );
  }
}
</style>
