<script>
export default {
  name: 'DigibookBlockNumber',

  props: {
    number: {
      type: Number,
      required: true,
      default: 0,
    },
  },
}
</script>

<template>
  <b class="digibook-block-number">{{ number }}</b>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.digibook-block-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-digibook-number-border);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 1;
  background: var(--color-digibook-number);
  transition: background 0.3s, border 0.3s;
  user-select: none;

  @include bp(tablet) {
    height: 2rem;
    width: 2rem;
  }
}
</style>
