<script>
export default {
  name: 'DigibookBlockPassage',

  props: {
    texts: {
      type: Array,
      default: () => [],
      required: true,
    },

    translated: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
}
</script>

<template>
  <article class="digibook-block-passage">
    <template v-for="(text, index) in texts">
      <span
        class="digibook-block-passage-sentence"
        :class="{ 'is-expanded': translated }"
        v-html="text.english"
        :key="`en${index}`"
      />
      <transition name="fade" :key="`tr${index}`">
        <span
          :class="{ 'is-expanded': translated }"
          class="digibook-block-passage-sentence is-turkish"
          v-html="text.turkish"
          v-if="translated"
        />
      </transition>
    </template>
  </article>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-block-passage {
  &-sentence {
    padding-right: 0.25rem;

    &.is-expanded {
      display: block;
    }

    &.is-turkish {
      padding-left: 1rem;
      color: var(--color-primary);
      border-left: 3px solid var(--color-primary);
      font-weight: 700;
      margin: 0.5rem 0;
    }
  }
}
</style>
