<script>
import { playResultSound } from '../../../common/helpers'
import DigibookBlockInfo from '../DigibookBlock/DigibookBlockInfo.vue'
import DigibookQuestionOption from '../DigibookQuestionOption.vue'
export default {
  name: 'DigibookBlockOptions',

  props: {
    options: {
      type: Array,
      default: () => [],
      required: true,
    },

    optionData: {
      type: Array,
      default: () => [],
    },

    showClues: {
      type: Boolean,
      default: false,
    },

    contentId: {
      type: Number,
      default: 0,
    },

    questionId: {
      type: Number,
      default: 0,
    },

    questionContentId: {
      type: Number,
      default: 0,
    },

    locked: {
      type: Boolean,
      default: false,
      required: true,
    },

    answerProvided: {
      type: Boolean,
      default: false,
    },

    selectedAnswerId: {
      type: Number,
    },

    answerStatus: {
      type: [Object, Boolean],
    },

    translationVisible: {
      type: Boolean,
      default: false
    }
  },

  components: {
    Option: DigibookQuestionOption,
    Info: DigibookBlockInfo,
  },

  data() {
    return {
      toolOptionsData: [],
    }
  },

  computed: {
    answerId() {
      return this.selectedAnswerId === null ? 0 : this.selectedAnswerId
    },

    stampText() {
      if (this.correctResult) return 'DOĞRU'
      if (this.wrongResult) return 'YANLIŞ'
      return 'BOŞ'
    },

    correctResult() {
      return this.locked && this.answerStatus === true
    },

    wrongResult() {
      return this.locked && this.answerStatus === false
    },

    optionsLoaded() {
      return this.toolOptionsData.length > 0
    },
  },

  watch: {
    locked: {
      immediate: true,
      handler(val, oldVal) {
        if (oldVal === false) {
          playResultSound(this.answerStatus)
        }
      },
    },

    optionData(data) {
      this.toolOptionsData = data
    },
  },

  methods: {
    handleSelectOption(id) {
      this.$emit('select-option', {
        optionId: id,
        questionId: this.questionId,
      })
    },

    getOptionData(option) {
      if (!this.optionsLoaded) return
      let currentOption = this.toolOptionsData.find(el => el.id === option.id)
      return currentOption || null
    },

    getTranslation(option) {
      if (!this.optionsLoaded) return ''
      let item = this.toolOptionsData.find(el => el.id === option.id)
      return this.translationVisible ? item.translation : ''
    },
  },
}
</script>

<template>
  <div class="digibook-block-options">
    <template v-for="(item, index) in options.length">
      <Option
        class="digibook-block-options__option"
        :key="`option${item}`"
        :option="options[index]"
        :locked="locked"
        :answer-id="answerId"
        :translation="getTranslation(options[index])"
        @option-select="handleSelectOption"
      />
      <transition name="fade" mode="out-in" :key="`clues${item}`">
        <template v-if="showClues && optionsLoaded">
          <div class="digibook-block-options__info">
            <Info
              :description="getOptionData(options[index]).description"
              :clues="getOptionData(options[index]).clues"
            />
          </div>
        </template>
      </transition>
    </template>
    <transition name="stamp-fade-in" mode="out-in">
      <div class="options-stamp" v-if="locked">
        <div
          class="digibook-block-options-stamp"
          :class="{
            'is-correct': correctResult,
            'is-wrong': wrongResult,
          }"
        >
          <div class="digibook-block-options-stamp__title">
            <span>{{ stampText }}</span>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/transitions';

.options-stamp {
  position: absolute;
  height: 7.5rem;
  width: 7.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.digibook-block-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  &__option,
  &__info {
    z-index: 1;
  }

  &__info {
    margin-top: 0.5rem;
  }

  &-stamp {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.25;
    transform: translate(-50%, -50%) rotate(-25deg) scale(1);
    width: 7.5rem;
    height: 7.5rem;
    border: 0.25rem solid currentColor;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $c-default;
    pointer-events: none;
    user-select: none;

    &.is-correct {
      color: $c-success;
    }

    &.is-wrong {
      color: $c-error;
    }

    &__title {
      align-self: stretch;
      text-align: center;
      border-top: 0.25rem solid;
      border-bottom: 0.25rem solid;
      border-color: currentColor;
      padding: 0.25rem;
      font-weight: 900;
      font-size: 1.2rem;
      line-height: 1;
    }
  }
}
</style>
