<script>
export default {
  name: 'DigibookBlockTranslation',

  props: {
    content: {
      type: String,
      required: true,
    },
  },

  computed: {
    translationText() {
      return this.content.length > 0
        ? this.content
        : 'Bu sorunun çevirisi verilmemiştir.'
    },
  },
}
</script>

<template>
  <article class="digibook-block-translation" v-html="translationText" />
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-block-translation {
  border-left: 3px solid var(--color-primary);
  padding-left: 1rem;
  color: var(--color-primary);
  font-weight: 700;
}
</style>
