<script>
export default {
  name: 'DigibookBlock',

  props: {
    hasNumber: {
      type: Boolean,
      default: false,
    },

    hasFigure: {
      type: Boolean,
      default: false,
    },

    hasParagraph: {
      type: Boolean,
      default: false,
    },

    hasTranslation: {
      type: Boolean,
      default: false,
    },

    hasInstruction: {
      type: Boolean,
      default: false,
    },

    hasArticle: {
      type: Boolean,
      default: false,
    },

    hasDescription: {
      type: Boolean,
      default: false,
    },

    hasQuestion: {
      type: Boolean,
      default: true,
    },

    hasOptions: {
      type: Boolean,
      default: true,
    },

    hasWordlists: {
      type: Boolean,
      default: false,
    },

    hasInput: {
      type: Boolean,
      default: false,
    },

    toolLoading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<template>
  <div class="digibook-block">
    <template v-if="hasNumber">
      <slot name="number"><div class="digibook-block-number"/></slot>
    </template>
    <div class="digibook-block-content" :class="{ 'no-number': !hasNumber }">
      <slot name="x" />
      <template v-if="hasFigure">
        <slot name="figure"><div class="digibook-block-figure"/></slot>
      </template>
      <template v-if="hasParagraph">
        <slot name="paragraph"><div class="digibook-block-paragraph"/></slot>
      </template>
      <template v-if="hasInstruction">
        <slot name="instructions"
          ><div class="digibook-block-instruction"
        /></slot>
      </template>
      <template v-if="hasArticle">
        <slot name="article"><div class="digibook-block-article"/></slot>
      </template>
      <template v-if="hasQuestion">
        <slot name="question"><div class="digibook-block-question"/></slot>
      </template>
      <transition name="fade" mode="out-in">
        <template v-if="hasTranslation">
          <slot name="translation">
            <div class="digibook-block-translation" />
          </slot>
        </template>
      </transition>
      <transition name="fade" mode="out-in">
        <template v-if="hasDescription">
          <slot name="description">
            <div class="digibook-block-description" />
          </slot>
        </template>
      </transition>
      <transition name="fade" mode="out-in">
        <div class="digibook-block-loading" v-if="toolLoading">
          <div class="preloader-dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </transition>
      <template v-if="hasOptions">
        <slot name="options">
          <div class="digibook-block-options" />
        </slot>
      </template>
      <div class="digibook-block-input" v-if="hasInput">
        <slot name="input" />
      </div>
    </div>
    <div class="digibook-block-tools">
      <slot name="tools" />
    </div>
    <transition name="fade" mode="out-in">
      <template v-if="hasWordlists">
        <div class="digibook-block-wordlists">
          <slot name="wordlists" />
        </div>
      </template>
    </transition>
    <div class="digibook-block-modals">
      <slot name="modals" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.digibook-block {
  position: relative;
  line-height: 1.375;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &-number {
    margin-left: 1.5rem;
  }

  &-content {
    flex: 0 0 calc(100% - 4rem);
    padding-left: 1rem;
    padding-right: 5rem;

    & > *:last-child {
      margin: 0;
    }

    &.no-number {
      padding-right: 1rem;
      padding-left: 5.5rem;

      @include bp(tablet) {
        padding-left: 1rem;
      }
    }

    @include bp(tablet) {
      flex: 0 0 100%;
      padding: 0 1rem;
    }
  }

  &:hover {
    .digibook-block-tools {
      opacity: 1;

      &::v-deep .digibook-tools-list::before {
        transform: translateX(0);
      }

      &::v-deep .digibook-tools-list::after {
        height: 100%;
      }

      &::v-deep .digibook-tools-item {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &::after {
    clear: both;
  }

  &-figure {
    margin-bottom: 1rem;
  }

  &-article {
    margin-bottom: 1rem;
  }

  &-modals {
    margin: 0;
    position: absolute;
  }

  &-wordlists {
    margin-left: 0;
    background: var(--background-color-lighter);
    border-top: 1px solid var(--color-border-light);
    border-bottom: 1px solid var(--color-border-light);
    padding: 0 5rem 1rem;
    transform: translateY(calc(1rem + 1px));
    width: 100%;

    @include bp(tablet-l) {
      padding: 0 1rem 1rem;
    }

    @include bp(tablet) {
      padding: 0 1rem 1rem;
    }

    &::v-deep .wordslist {
      margin-bottom: 1rem;
    }
  }

  &-loading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    margin-bottom: 1.5rem;
  }

  &-question {
    margin-bottom: 0.5rem;
    @include bp(tablet) {
      margin-right: 2rem;
    }
  }

  &-instructions {
    margin-bottom: 1rem;
  }

  &-description {
    margin-bottom: 1rem;
  }

  &-translation {
    margin-bottom: 1rem;
  }

  &-options {
    z-index: 2;
    margin-top: -0.25rem;
    margin-left: -0.5rem;
    margin-bottom: 1rem;

    @include bp(tablet) {
      margin-left: 0;
    }
  }

  &-input {
    margin-top: 1rem;
  }

  &-tools {
    position: absolute;
    height: calc(100% - 2rem);
    flex: 0 0 4rem;
    top: 1rem;
    opacity: 0;
    right: 0;
    z-index: 2;
    float: right;

    @include bp(tablet) {
      opacity: 1;
      height: auto;
    }

    &::v-deep > .digibook-tools {
      position: sticky;
    }
  }
}
</style>
