<script>
import { modalControlsMixin } from '../../../mixins/modal-controls.mixin'
import BaseButton from '../../Base/BaseButton.vue'
import BaseIcon from '../../Base/BaseIcon.vue'

export default {
  components: { BaseButton, BaseIcon },
  name: 'DigibookBlockInfo',

  mixins: [modalControlsMixin],

  props: {
    description: {
      type: String,
      default: '',
    },

    clues: {
      type: Array,
      default: () => [],
    },

    tag: {
      type: String,
      default: '',
    },
  },

  computed: {
    hasDescription() {
      return this.description.length > 0
    },

    hasTag() {
      return this.tag.length > 0
    },

    hasClues() {
      return this.clues.length > 0
    },
  },
}
</script>

<template>
  <div class="digibook-block-info">
    <header class="digibook-block-info-header" v-if="hasClues">
      <div class="digibook-block-info-header-clues">
        <span class="digibook-block-info-header-clues__title">ipuçları</span>
        <BaseButton
          class="digibook-block-info-header-clues__clue"
          v-for="(clue, index) in clues"
          :key="`clue${index}`"
          :icon="'app-cluebank'"
          :minimal="true"
          @click="showClueModal(clue)"
          v-tooltip.top="{
            content: clue.title,
            classes: ['tooltip-singleline'],
          }"
        />
      </div>
      <span class="digibook-block-info-header__tag" v-if="hasTag">
        Bu bir <b>{{ tag }}</b> sorusudur.
      </span>
    </header>
    <article
      class="digibook-block-info-description"
      v-if="hasDescription"
      :class="{ 'no-border': !hasClues }"
    >
      <BaseIcon
        class="digibook-block-info-description__icon"
        :iconName="'info'"
      />
      <p class="digibook-block-info-description__text" v-html="description" />
    </article>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.digibook-block-info {
  background: var(--background-color);
  transition: background 0.3s;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    &-clues {
      display: inline-flex;
      align-items: center;

      &__title {
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        margin-right: 1rem;
        color: var(--color-text)
      }

      &__clue {
        padding: 0.5rem;
        height: 2.5rem;
        width: 2.5rem;

        &:hover {
          background: #fff;
        }
      }
    }

    &__tag {
      font-size: 0.9rem;
    }
  }

  &-description {
    padding: 1rem;
    border-top: 1px solid var(--color-border-light);
    transition: border-top 0.3s;
    display: flex;
    align-items: flex-start;

    &.no-border {
      border-top: none;
    }

    &__icon {
      height: 1.75rem;
      width: 1.75rem;
      flex: 0 0 1.75rem;
      margin-right: 1rem;
      color: $c-alt;
    }

    &__text {
      font-size: 0.9rem;
      color: var(--color-text);
    }
  }
}
</style>
