<template>
  <div>
    <div class="overlay" :class="{ active: showApps }" @click="hideApps"></div>
    <div class="page-header home-header">
      <container>
        <div class="page-header__wrp home-header-wrp" v-if="userLoaded">
          <div class="home-profile">
            <div class="home-profile-img">
              <img :src="userAvatar" alt class="home-profile-img__img" />
              <div class="home-profile-status">
                <img src="@/assets/img/progress.svg" alt class="home-profile-status__img" />
              </div>
            </div>
            <div class="home-profile__cnt">
              <div class="home-profile__txt">Hoş geldin</div>
              <div class="home-profile__name">{{ userFullName }}</div>
              <div class="home-profile__level">{{ userBadge }}</div>
            </div>
          </div>
          <user-apps
            :apps="userData.apps"
            title="Sık Kullanılanlarım"
            :show-apps="showApps"
            @onOpenApps="openApps"
            @onHideApps="hideApps"
            :editable="true"
          />
        </div>
        <GhostHomeHeader v-else />
      </container>
    </div>
  </div>
</template>

<script>
import UserApps from '@/components/UserApps'
import GhostHomeHeader from '@/core/Ghost/GhostHomeHeader'
import { mapGetters } from 'vuex'

export default {
  name: 'HomeHeader',
  components: {
    UserApps,
    GhostHomeHeader
  },
  data() {
    return {
      showApps: false
    }
  },
  methods: {
    openApps() {
      this.showApps = true
    },
    hideApps() {
      this.showApps = false
    }
  },
  computed: {
    ...mapGetters([
      'userData',
      'userBadge',
      'userAvatar',
      'userLoaded',
      'firstTimer',
      'userFullName',
      'userAppsLoaded',
    ])
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/home-profile';
</style>
