<template>
  <div class="home-tab">
    <swiper :options="tabSwiper" class="reading-tabitems home-slider-tablist" ref="detailTabs">
      <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
        <TabItem
          :icon="tab.icon"
          :text="tab.text"
          :active="tab.path === $route.path"
          @click.native="tabShow(tab, index)"
        ></TabItem>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import TabItem from '@/components/Tab/TabItem'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'HomeTab',
  components: {
    TabItem,
    swiper,
    swiperSlide
  },
  data() {
    return {
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true
          }
        }
      },
      tabs: [
        {
          id: 0,
          icon: 'icon-board-o',
          text: 'Çalışma Takvimim',
          active: true,
          path: '/'
        },
        {
          id: 1,
          icon: 'icon-performance-o',
          text: 'Performansım',
          active: false,
          path: '/performansim'
        },
        {
          id: 2,
          icon: 'icon-cup-o',
          text: 'Liderlik Tablosu',
          active: false,
          path: '/liderlik-tablosu'
        }
      ]
    }
  },
  methods: {
    tabShow(tab, index) {
      this.$router.push(tab.path)
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/lesson-box';
@import '../../assets/scss/components/performance';
@import '../../assets/scss/components/tables';
@import '../../assets/scss/components/dropdown';
</style>

<style lang="scss" scoped>
@import '@/assets/scss/_variables';

.reading-tabitems {
  width: 800px;
  margin: 0 auto !important;

  @include bp(tablet-m) {
    width: 500px;
    margin: 0 auto;
  }

  @include bp(tablet) {
    width: auto;
  }

  & .swiper-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
  }

  &__tab {
    width: auto;
  }
}

.home-slider-tablist {
  overflow: unset;
}
</style>
