<template>
  <section class="view view--deneme-detail">
    <div class="deneme-detail-page exam-page" :class="{ 'dark-mode': getDarkMode }">
      <!-- <template v-if="loading && !loaded">Yükleniyor</template> -->
      <template v-if="!loading && !loaded">
        <ConnectedError />
      </template>
      <template>
        <deneme-header v-if="loaded" />
        <GhostExamHeader v-if="loading" />
        <div class="detail-inner">
          <container class="deneme-detail__cnt">
            <deneme-question v-if="loaded" :translatable="isTranslatable" />
            <deneme-navigation v-if="loaded" />
            <GhostExamTest v-if="loading" />
          </container>
        </div>
        <deneme-modal-pause v-if="!modalStart.isActive && loaded" />
        <deneme-modal-done v-if="!modalStart.isActive && loaded" />
        <deneme-modal-start
          :modal="modalStart"
          @onSubmit="handleModalSubmit"
          @onClose="closeModalHandler"
        />
      </template>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { SET_HIGHLIGHT_TEXT } from '@/store/mutations.type'
import DenemeHeader from '@/components/Deneme/Detail/Header'
import DenemeQuestion from '@/components/Deneme/Detail/Question'
import DenemeNavigation from '@/components/Deneme/Detail/Navigation'
import DenemeModalPause from '@/components/Deneme/Detail/ModalPause'
import DenemeModalDone from '@/components/Deneme/Detail/ModalDone'
import DenemeModalStart from '@/components/Deneme/Detail/ModalStart'
import GhostExamTest from '@/core/Ghost/GhostExamTest'
import GhostExamHeader from '@/core/Ghost/GhostExamHeader'
import ConnectedError from '@/components/ConnectedError'
import { getTranslatableStatus } from '../../services/common.service'

export default {
  name: 'ExamsDetail',

  components: {
    DenemeHeader,
    DenemeQuestion,
    DenemeNavigation,
    DenemeModalPause,
    DenemeModalDone,
    DenemeModalStart,
    GhostExamTest,
    GhostExamHeader,
    ConnectedError
  },

  data() {
    return {
      modalStart: { isActive: false },
      isTranslatable: true
    }
  },

  watch: {
    loaded(e) {
      if (e) {
        document.title = `${this.examName} | Deneme | RH+ Platform`
        this.$route.meta.title = this.examName
      }
    }
  },

  computed: {
    ...mapGetters({
      loaded: 'denemeDetail/loaded',
      loading: 'denemeDetail/loading',
      examName: 'denemeDetail/examName'
    }),

    ...mapGetters(['getDarkMode'])
  },

  methods: {
    ...mapActions({
      getDetails: 'denemeDetail/getDetails',
      setExamGoal: 'denemeList/setExamGoal'
    }),

    checkStartHandler() {
      if (this.$route.query.status && this.$route.query.status === 'start') {
        this.modalStart = { isActive: true }
      }
    },

    closeModalHandler(status) {
      this.modalStart.isActive = status
      this.$router.push('/deneme')
    },

    async handleModalSubmit(point) {
      const params = {
        targetId: point,
        testId: this.$route.params.detailId
      }
      const isSuccess = await this.setExamGoal(params)
      if (isSuccess) {
        this.modalStart.isActive = false
        this.$router.replace({ query: null })
      } else {
        this.$router.push('/deneme')
      }
    },

    async setTranslatable() {
      console.log('check translatable status')
      let result = await getTranslatableStatus(
        'test',
        this.$route.params.detailId
      )
      this.isTranslatable = result.data.data.allow
      this.$store.commit(SET_HIGHLIGHT_TEXT, {
        text: '',
        status: result.data.data.allow
      })
    }
  },

  created() {
    this.checkStartHandler()
    document.title = `Yükleniyor... | Deneme | RH+ Platform`
  },

  mounted() {
    this.getDetails({
      id: this.$route.params.detailId,
      isStart: this.$route.query.status && this.$route.query.status === 'start'
    })
    this.setTranslatable()
  },

  destroyed() {
    console.log('destroyed test question')
    this.$store.commit(SET_HIGHLIGHT_TEXT, {
      text: '',
      status: true
    })
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/darkmode';
@import '@/assets/scss/components/detail';
@import '@/assets/scss/components/deneme';
@import '@/assets/scss/components/exam';
@import '@/assets/scss/components/tests';
@import '@/assets/scss/components/reading';
@import '@/assets/scss/components/reading-test-item';
@import '@/assets/scss/ghost/deneme-ghost-all-items';
</style>
