<!-- swiperlı hatalı hali -->
<template>
  <div class="deneme-report-page" :class="{ 'dark-mode': getDarkMode }">
    <!-- <template v-if="loading && !loaded">Yükleniyor</template> -->
    <template v-if="!loading && !loaded">
      <ConnectedError />
    </template>
    <template>
      <deneme-report-header v-if="loaded" />
      <GhostDenemeReportHeader v-if="loading" />
      <div class="detail-inner">
        <container class="deneme-detail__cnt">
          <swiper
            :options="tabSwiper"
            class="reading-tabitems"
            ref="detailTabs"
            @slideChange="changeSlide"
            v-if="loaded"
          >
            <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
              <TabItem
                :icon="tab.icon"
                :text="tab.text"
                :active="index === activeTab"
                @click.native="tabShow(tab, index)"
              ></TabItem>
            </swiper-slide>
          </swiper>
          <GhostTab v-if="loading" />
          <tab v-if="loaded">
            <tab-pane :class="{ active: currentTab === 0 }" class="summary-tab">
              <deneme-report-summary />
            </tab-pane>

            <tab-pane :class="{ active: currentTab === 1 }" class="answer-keys">
              <deneme-report-question-list />
            </tab-pane>

            <tab-pane :class="{ active: currentTab === 2 }" class="question-type-tab">
              <deneme-report-question-analysis />
            </tab-pane>

            <tab-pane :class="{ active: currentTab === 3 }" class="time-management-tab">
              <deneme-report-time-management />
            </tab-pane>

            <tab-pane :class="{ active: currentTab === 4 }" class="advices-tab">
              <deneme-report-suggestions />
            </tab-pane>
          </tab>
          <GhostReport v-if="loading" />
        </container>
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
import DenemeReportHeader from '@/components/Deneme/Report/Header'
import DenemeReportSummary from '@/components/Deneme/Report/Summary'
import DenemeReportQuestionList from '@/components/Deneme/Report/QuestionList'
import DenemeReportQuestionAnalysis from '@/components/Deneme/Report/QuestionAnalysis'
import DenemeReportTimeManagement from '@/components/Deneme/Report/TimeManagement'
import DenemeReportSuggestions from '@/components/Deneme/Report/Suggestions'
import GhostExamReport from '@/core/Ghost/GhostExamReport'
import GhostExamTab from '@/core/Ghost/GhostExamTab'
import GhostDenemeReportHeader from '@/core/Ghost/GhostDenemeReportHeader'
import ConnectedError from '@/components/ConnectedError'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'ExamsReport',

  components: {
    // Modal,
    Tab,
    TabItem,
    TabPane,
    swiper,
    swiperSlide,
    // TabFilterButtons,
    // CircleProgress,
    DenemeReportHeader,
    DenemeReportSummary,
    DenemeReportQuestionList,
    DenemeReportQuestionAnalysis,
    DenemeReportTimeManagement,
    DenemeReportSuggestions,
    GhostReport: GhostExamReport,
    GhostTab: GhostExamTab,
    GhostDenemeReportHeader,
    ConnectedError
  },

  data() {
    return {
      currentTab: 0,
      currentTab2: 0,
      activeTab: 0,
      activeSlide: 0,
      showAddList: false,
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true
          }
        }
      },
      tabs: [
        {
          id: 0,
          icon: null,
          text: 'TEST ÖZETİ',
          active: true
        },
        {
          id: 1,
          icon: null,
          text: 'AÇIKLAMALI CEVAP ANAHTARI',
          active: false
        },
        {
          id: 2,
          icon: null,
          text: 'SORU TİPİ ANALİZİ',
          active: false
        },
        {
          id: 3,
          icon: null,
          text: 'ZAMAN YÖNETİMİ',
          active: false
        }
        // {
        //   id: 4,
        //   icon: null,
        //   text: 'ÖNERİLER',
        //   active: false,
        // },
      ],
      tabs2: [
        {
          id: 0,
          icon: 'icon-vocabulary-o',
          text: 'VOCABULARY',
          active: true
        },
        {
          id: 1,
          icon: 'icon-collocation-o',
          text: 'COLLOCATION',
          active: false
        },
        {
          id: 2,
          icon: 'icon-preposition-o',
          text: 'PREPOSITION',
          active: false
        }
      ],
      statusButtons: [
        {
          id: 0,
          title: 'Tümü (25)',
          status: null
        },
        {
          id: 1,
          title: 'Doğrular (12)',
          status: null
        },
        {
          id: 2,
          title: 'Yanlışlar (12)',
          status: 'none'
        },
        {
          id: 3,
          title: 'Boşlar (1)',
          status: 'completed'
        }
      ]
    }
  },

  watch: {
    loaded(e) {
      if (e) {
        document.title = `${this.reportName} | Deneme | RH+ Platform`
        this.$route.meta.title = this.reportName
      }
    }
  },

  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
      loaded: 'denemeReport/loaded',
      loading: 'denemeReport/loading',
      reportName: 'denemeReport/reportName'
    }),
    ...mapGetters(['getDarkMode'])
  },

  methods: {
    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    tabShow2(tab, index) {
      this.currentTab2 = index
    },
    ...mapActions({
      getReport: 'denemeReport/getReport'
    })
  },

  created() {
    this.getReport({ id: this.$route.params.detailId })
    document.title = `Yükleniyor... | Deneme | RH+ Platform`
  },

  mounted() {
    this.$store.dispatch('rosette/getBadges')
  }
}
</script>
<!-- swiperlı hatalı hali -->

<!-- HATASIZ HALİ -->
<!--<template>
  <div class="deneme-report-page">
    <template v-if="loading && !loaded">Yükleniyor</template>
    <template v-if="!loading && !loaded">Hata Oluştu</template>
    <template v-if="loaded">
      <deneme-report-header />
      <div class="detail-inner">
        <container class="deneme-detail__cnt">
          <swiper
            :options="tabSwiper"
            class="reading-tabitems"
            ref="detailTabs"
            @slideChange="changeSlide"
          >
            <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
              <TabItem
                :icon="tab.icon"
                :text="tab.text"
                :active="index === activeTab"
                @click.native="tabShow(tab, index)"
              ></TabItem>
            </swiper-slide>
          </swiper>
          <tab>
            <tab-pane :class="{ active : currentTab === 0 }" class="summary-tab">
              <deneme-report-summary />
            </tab-pane>

            <tab-pane :class="{ active : currentTab === 1 }" class="answer-keys">
              <deneme-report-question-list />
            </tab-pane>

            <tab-pane :class="{ active : currentTab === 2 }" class="question-type-tab">
              <deneme-report-question-analysis />
            </tab-pane>

            <tab-pane :class="{ active : currentTab === 3 }" class="time-management-tab">
              <deneme-report-time-management />
            </tab-pane>

            <tab-pane :class="{ active : currentTab === 4 }" class="advices-tab">
              <deneme-report-suggestions />
            </tab-pane>
          </tab>
        </container>
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Tab from '@/components/Tab/Tab'
import Modal from '@/components/Modal'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'
import CircleProgress from '@/components/CircleProgress'
import DenemeReportHeader from '@/components/Deneme/Report/Header'
import DenemeReportSummary from '@/components/Deneme/Report/Summary'
import DenemeReportQuestionList from '@/components/Deneme/Report/QuestionList'
import DenemeReportQuestionAnalysis from '@/components/Deneme/Report/QuestionAnalysis'
import DenemeReportTimeManagement from '@/components/Deneme/Report/TimeManagement'
import DenemeReportSuggestions from '@/components/Deneme/Report/Suggestions'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'ExamDetail',
  components: {
    Modal,
    Tab,
    TabItem,
    TabPane,
    swiper,
    swiperSlide,
    TabFilterButtons,
    CircleProgress,
    DenemeReportHeader,
    DenemeReportSummary,
    DenemeReportQuestionList,
    DenemeReportQuestionAnalysis,
    DenemeReportTimeManagement,
    DenemeReportSuggestions,
  },
  data() {
    return {
      currentTab: 0,
      currentTab2: 0,
      activeTab: 0,
      activeSlide: 0,
      showAddList: false,
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true,
          },
        },
      },
      tabs: [
        {
          id: 0,
          icon: null,
          text: 'TEST ÖZETİ',
          active: true,
        },
        {
          id: 1,
          icon: null,
          text: 'AÇIKLAMALI CEVAP ANAHTARI',
          active: false,
        },
        {
          id: 2,
          icon: null,
          text: 'SORU TİPİ ANALİZİ',
          active: false,
        },
        {
          id: 3,
          icon: null,
          text: 'ZAMAN YÖNETİMİ',
          active: false,
        },
        {
          id: 4,
          icon: null,
          text: 'ÖNERİLER',
          active: false,
        },
      ],
      tabs2: [
        {
          id: 0,
          icon: 'icon-vocabulary-o',
          text: 'VOCABULARY',
          active: true,
        },
        {
          id: 1,
          icon: 'icon-collocation-o',
          text: 'COLLOCATION',
          active: false,
        },
        {
          id: 2,
          icon: 'icon-preposition-o',
          text: 'PREPOSITION',
          active: false,
        },
      ],
      statusButtons: [
        {
          id: 0,
          title: 'Tümü (25)',
          status: null,
        },
        {
          id: 1,
          title: 'Doğrular (12)',
          status: null,
        },
        {
          id: 2,
          title: 'Yanlışlar (12)',
          status: 'none',
        },
        {
          id: 3,
          title: 'Boşlar (1)',
          status: 'completed',
        },
      ],
    }
  },
  methods: {
    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    tabShow2(tab, index) {
      this.currentTab2 = index
    },
    ...mapActions({
      getReport: 'denemeReport/getReport',
    }),
  },
  computed: {
    ...mapGetters({
      report: 'denemeReport/report',
      loaded: 'denemeReport/loaded',
      loading: 'denemeReport/loading',
    }),
  },
  created() {
    this.getReport({ id: this.$route.params.detailId })
  },
}
</script>
-->
<!-- HATASIZ HALİ -->

<style lang="scss">
@import '../../assets/scss/components/deneme';
@import '../../assets/scss/components/detail';
@import '../../assets/scss/components/exam';
@import '../../assets/scss/components/inputs';
</style>
