<template>
  <section class="page view view--deneme-list" :class="$route.name">
    <template>
      <AppHeader
        v-if="groupsLoaded"
        :info="info"
        :groups="groups"
        :lastGroup="groupId"
        @onTabClick="handlerChangeGroup"
      />
      <GhostAppHeader app="exams" v-else />
    </template>
    <deneme-filter v-if="groupsLoaded && loaded && !loading" />
    <div class="component--deneme-filter" v-else>
      <container>
        <div class="page-content-filters justify-content-between">
          <GhostVueSelect />
          <GhostVueFilter />
        </div>
        <hr class="mt-25 mb-25" />
      </container>
    </div>
    <div class="page-content deneme-list--list">
      <container v-if="loaded">
        <template v-if="list.length <= 0">
          <EmptyContent />
        </template>
        <template v-for="(item, index) in list">
          <list-item-todo
            v-if="item.state === 'not_started'"
            :item-data="item"
            :key="`item${index}`"
          />
          <list-item-in-progress
            v-if="item.state === 'uncompleted'"
            :item-data="item"
            :key="`item${index}`"
          />
          <list-item-done
            v-if="item.state === 'completed'"
            :item-data="item"
            :key="`item${index}`"
          />
          <deneme-notification
            v-if="item.state === 'notification'"
            :notification="item"
            :key="`item${index}`"
          />
        </template>
      </container>
      <container v-for="n in 6" :key="n" v-else>
        <GhostExamCard />
      </container>
    </div>
    <!-- load more button -->
    <div class="text-center mt-30 pb-25">
      <v-button
        class="purple"
        @click.native="loadMore"
        title="DAHA FAZLA YÜKLE"
        :disabled="loading"
        :loading-active="loading"
        v-if="this.limit <= this.list.length"
      />
    </div>
    <v-tour name="examsTour" :steps="tourSteps" :options="tourOptions" :callbacks="tourCallbacks"></v-tour>
    <!--- End Load More -->
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'
import AppHeader from '@/core/AppHeader'
import DenemeFilter from '@/components/Deneme/List/Filter'
import ListItemTodo from '@/components/Deneme/List/ListItemTodo'
import ListItemInProgress from '@/components/Deneme/List/ListItemInProgress'
import ListItemDone from '@/components/Deneme/List/ListItemDone'
import DenemeNotification from '@/components/Deneme/List/Notification'
import GhostExamCard from '@/core/Ghost/GhostExamCard'
import EmptyContent from '@/components/EmptyContent'
import { toggleTour } from '../../services/user.service'
import { getExamsInfo } from '../../services/exams.service'

export default {
  name: 'ExamsList',

  components: {
    GhostAppHeader,
    AppHeader,
    DenemeFilter,
    ListItemTodo,
    ListItemInProgress,
    ListItemDone,
    DenemeNotification,
    GhostExamCard,
    GhostVueSelect,
    GhostVueFilter,
    EmptyContent
  },

  data() {
    return {
      pageInfo: {
        title: 'Deneme',
        icon: require('@/assets/img/app-deneme-white.svg'),
        sortIcon: require('@/assets/img/icon-sort-list-arrow.png'), // svg yüklerken webpack'ten kaynaklı sorun olduğu için şimdilik png olarak yükledim.
        background: '#67419d',
        linearEffect:
          'linear-gradient(to left, rgba(103, 65, 157, 1), rgba(103, 65, 157, .0))'
      },
      info: {
        name: 'exams',
        title: 'Deneme',
        icon: require('@/assets/img/app-deneme-white.svg'),
        background: '#67419d',
        gradient:
          'linear-gradient(to left, rgba(103, 65, 157, 1), rgba(103, 65, 157, .0))',
        has_tour: null
      },
      groups: [],
      groupId: -1,
      tourSteps: [
        {
          target: '.subpage-tab', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza testler tanımlanır. Grup seçerek sahip olduğunuz testleri filtreyebilirsiniz.</p>`
        },

        {
          target: '.tab-filter__item.f-select', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sınav Filtresi</strong> <p class="guide-desc">Deneme sınavlarını sınav türüne göre filtreleyerek hedeflediğiniz sınava en uygun kaynaklarla çalışabilirsiniz.</p>`
        },
        {
          target: '.tab-filter__item .tab-filter-buttons', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Tamamlanma Durumu</strong> <p class="guide-desc">Testleri tamamlanma durumuna göre filtreleyebilirsiniz. Bir testi çözerken duraklatıp daha sonra çözebilir veya 'Tamamla' menüsü ile test raporunuzu oluşturabilirsiniz. </p>`
        },
        {
          target: '.page-content .tests__item:nth-child(1)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Deneme Sınvları</strong> <p class="guide-desc">Deneme sınavlarının ilerleme durumunu, daha önce çözülmüş sınavların genel istatistiklerini görebilirsiniz. Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir deneme sınavını seçerek çözmeye başlayabilirsiniz.</p>`,
          params: {
            placement: 'top'
          }
        }
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      tourCallbacks: {
        onStop: this.finishTour
      }
    }
  },

  watch: {
    dataLoaded(data) {
      let tour = this.info.has_tour === true || this.info.has_tour === 'true'
      if (data && tour) this.startTour()
    }
  },

  computed: {
    ...mapGetters({
      list: 'denemeList/list',
      loaded: 'denemeList/loaded',
      loading: 'denemeList/loading',
      limit: 'denemeList/limit',
      filters: 'denemeList/filters'
    }),

    groupsLoaded() {
      return this.groups.length > 0
    },

    dataLoaded() {
      return this.groupsLoaded && this.loaded
    }
  },

  methods: {
    ...mapActions({
      getList: 'denemeList/getList',
      setLimit: 'denemeList/setLimit',
      setFilters: 'denemeList/setFilters'
    }),
    handlerChangeGroup(tab) {
      this.groupId = tab.id
      const filters = { ...this.filters, groupId: tab.id }
      this.setFilters(filters)
    },
    loadMore() {
      this.setLimit(this.limit + 10)
    },
    getGroups() {
      getExamsInfo().then((res) => {
        this.groups = res.data.groups

        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    startTour() {
      this.$tours['examsTour'].start()
    },

    finishTour() {
      toggleTour('exams', false)
    }
  },

  mounted() {
    this.getList()
    this.getGroups()
    this.$store.dispatch('rosette/getBadges')
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/deneme';
// @import '@/assets/scss/components/inputs';
</style>
