<script>
import { SHOW_OVERLAY, SHOW_NOTIFICATIONS, SHOW_TOOLBAR } from '../../store/actions.type'
import VueButton from '@/core/VueButton'
import { mapGetters, mapActions } from 'vuex'
import HeaderNotificationItem from '@/components/Header/HeaderNotificationItem'

export default {
  name: 'HeaderNotification',

  components: {
    HeaderNotificationItem,
    VueButton
  },

  data() {
    return {
      mapper: [
        {
          id: 'lesson',
          tr: 'ders'
        },
        {
          id: 'material',
          tr: 'dokuman'
        },
        {
          id: 'test',
          tr: 'test/detay'
        },
        {
          id: 'wordy',
          tr: 'wordy'
        },
        {
          id: 'digibook',
          tr: 'digibook'
        },
        {
          id: 'homework',
          tr: 'ödev'
        },
        {
          id: 'announcement',
          tr: 'duyuru'
        }
      ],
      page: 1
    }
  },

  computed: {
    ...mapGetters('notifications', [
      'isLoaded',
      'isLoading',
      'hasMore',
      'isEmpty',
      'notifications',
      'unreads'
    ]),

    ...mapGetters(['showNotifications'])
  },

  methods: {
    ...mapActions('notifications', [
      'getNotifications',
      'loadNext',
      'markReadAll',
      'markRead',
      'showAnnouncement',
      'showNotification'
    ]),

    goNotifications() {
      this.notificationClose()
      this.$router.push({ name: 'Notifications' })
    },

    goDetail(item) {
      if (item.app === 'announcement') {
        this.showAnnouncement(true)
        this.showNotification(item)
      } else {
        this.markRead(item.notification_id)
        if (item.app_content_id !== null) {
          let target = this.mapper.find(el => el.id === item.app)
          if (item.app !== 'digibook') {
            this.$router.push({ path: target.tr + '/' + item.app_content_id })
            this.notificationClose()
          } else {
            this.$store.dispatch(SHOW_NOTIFICATIONS, false)
            this.$store.dispatch(SHOW_OVERLAY, true)
            this.$store.dispatch(SHOW_TOOLBAR, true)
            this.$store.dispatch('toolbar/setActiveTool', 2)
          }
        }
      }
    },

    notificationClose() {
      console.log('notif close')
      this.$store.dispatch(SHOW_NOTIFICATIONS, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
    },

    notificationToggle() {
      if (this.notifications.length === 0) this.getNotifications()
      this.$store.dispatch(SHOW_NOTIFICATIONS, !this.showNotifications)
      this.$store.dispatch(SHOW_OVERLAY, this.showNotifications)
    },

    loadMore() {
      this.page++
      this.loadNext(this.page)
    }
  }
}
</script>

<template>
  <div class="header-notify" :class="[this.showNotifications ? 'active' : '']">
    <div class="header-notify-button" v-tooltip.bottom="'Bildirimler'" @click="notificationToggle">
      <div class="header-notify__icon">
        <svg-icon type="icon-bell" />
      </div>
      <div class="header-notify__count" v-if="unreads > 0">{{ unreads }}</div>
    </div>

    <transition name="fade-up" mode="out-in">
      <div class="header-notify-dropdown" v-show="this.showNotifications">
        <div class="header-notify__header">
          <div class="header-notify__title">Bildirimler</div>
          <div class="header-notify__button" @click="markReadAll">Tümünü Okudum</div>
          <div class="mobile-menu__top--close-icon" @click="notificationClose">
            <svg-icon type="icon-close" />
          </div>
        </div>
        <div class="header-notify__list" v-if="notifications">
          <HeaderNotificationItem
            :notification="notification"
            v-for="notification in notifications"
            :key="`notificationItem${notification.notification_id}`"
            @notifyClick="goDetail(notification)"
          />
          <template v-if="hasMore">
            <scroll-loader :loader-method="loadMore" :loader-enable="hasMore" />
          </template>
        </div>
        <div class="header-notify__bottom">
          <VueButton class="header-notify__all" text="Tümünü Gör" @click.native="goNotifications" />
        </div>
      </div>
    </transition>
  </div>
</template>
