<template>
  <div class="apps" :class="{ active: showApps }">
    <div class="apps-button v-overlay" :class="{ active: showApps }" @click="appsToggle">
      <div class="apps-button__icon only-desktop-flex">
        <svg-icon type="icon-toggle" />
      </div>
      <div class="apps-button__txt">Uygulamalar</div>
    </div>
    <div class="mobile-menu-button only-tablet">
      <div class="apps-button__icon">
        <svg-icon type="icon-toggle" />
      </div>
    </div>
    <div
      class="apps-dropdown"
      v-if="appsListLoaded"
      :class="{ visible: showApps, notpicked: activeApp === null }"
    >
      <div class="apps-list" :class="{ unhovered: activeApp === null }">
        <!-- <router-link class="apps__item" to="/docs" @click="toApp('docs')">
          <div class="apps__icon">
            <img :src="require(`@/assets/img/app-dokuman.svg`)" alt class="icon" />
          </div>
          <span class="apps__name">DOCS</span>
        </router-link>-->
        <router-link
          :to="`/${app.link}`"
          v-for="(app, index) in usersApps"
          class="apps__item"
          :key="index"
          @mouseover.native="showApp(app.name)"
          @click.native="toApp(app.link)"
        >
          <div class="apps__icon">
            <img :src="require(`@/assets/img/app-${app.name}.svg`)" alt class="icon" />
          </div>
          <div class="apps__name">{{ app.title }} </div>
        </router-link>
      </div>

      <div class="apps-cnt" v-if="activeApp !== null">
        <!-- <img :src="require(`@/assets/img/app-sozluk-bg.jpg`)" alt class="apps-cnt__bg" /> -->
        <div :class="`is-${activeApp.name}`" class="header-active-app-bg"></div>
        <div class="apps-cnt__content">
          <div class="apps-cnt__icon">
            <img
              v-show="activeApp.name == userApp.name"
              v-for="userApp in usersApps"
              :key="userApp.id"
              :src="require(`@/assets/img/app-${activeApp.name}-white.svg`)"
              alt
              class="icon"
            />
          </div>
          <div class="apps-cnt__name">{{ activeApp.title }}</div>
          <div class="apps-cnt__txt">{{ activeApp.description }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { SHOW_OVERLAY, SHOW_APPS } from '@/store/actions.type'

export default {
  name: 'HeaderApps',
  data() {
    return {
      activeApp: null
    }
  },
  computed: {
    ...mapGetters(['showOverlay', 'showApps', 'appsListLoaded', 'usersApps'])
  },
  methods: {
    toApp(target) {
      this.appsToggle()
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch(SHOW_APPS, false)
    },
    appsToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_APPS, !this.showApps)
    },
    showApp(name) {
      const hover = this.usersApps.findIndex(el => el.name === name)
      this.activeApp = this.usersApps[hover]
    }
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/components/apps';

.notpicked {
  width: 360px !important;
}

.unhovered {
  border-radius: 15px;
  width: 100% !important;
}
</style>
