<script>
export default {
  name: 'HeaderNotificationItem',

  props: {
    notification: Object
  },

  data() {
    return {
      notifyText: '',
      notifyInterval: null
    }
  },

  mounted() {
    this.calculateTimePassed()
    this.timeInterval()
  },

  methods: {
    calculateTimePassed() {
      let today = Math.ceil(new Date().getTime() / 1000)
      let seconds = today - this.notification.time
      let minutes = Math.floor(seconds / 60)
      let hours = Math.floor(minutes / 60)
      let days = Math.floor(hours / 24)
      let weeks = Math.floor(days / 7)
      let months = Math.floor(days / 30)
      let years = Math.floor(days / 365)
      if (seconds > 0 && seconds < 60) {
        this.notifyText = `${seconds} saniye önce`
      } else if (seconds >= 60 && minutes < 60) {
        this.notifyText = `${minutes} dakika önce`
      } else if (minutes >= 60 && hours < 24) {
        this.notifyText = `${hours} saat önce`
      } else if (hours >= 24 && days < 7) {
        this.notifyText = `${days} gün önce`
      } else if (days >= 7 && days < 30) {
        this.notifyText = `${weeks} hafta önce`
      } else if (days >= 30 && months < 12) {
        this.notifyText = `${months} ay önce`
      } else if (months >= 12) {
        this.notifyText = `${years} yıl önce`
      } else {
        this.notifyText = `Bir süre önce`
      }
    },

    timeInterval() {
      this.notifyInterval = setInterval(() => {
        this.calculateTimePassed()
      }, 1000)
    },

    navigateNotification() {
      this.$emit('notifyClick', this.notification)
      if (this.notification.app !== 'announcement') {
        this.$router.push(this.notification.link)
      }
    }
  },

  destroyed() {
    clearInterval(this.notifyInterval)
  }
}
</script>

<template>
  <div
    :to="notification.link"
    class="header-notify__item"
    :class="[notification.read ? '' : 'active']"
    @click="navigateNotification"
  >
    <div class="header-notify__cnt">
      <div class="header-notify__img" :class="notification.app">
        <img
          class="header-notify__img--app"
          :src="require(`@/assets/img/notif-${notification.app}.svg`)"
        />
      </div>
      <div class="header-notify__time">{{ notifyText }}</div>
    </div>
    <div class="header-notify__txt">{{ notification.title }}</div>
    <!-- <div class="header-notify__body" v-if="notification.app === 'announcement'">
      {{ notification.content }}
    </div> -->
  </div>
</template>

<style lang="scss">
.header-notify__img {
  &--app {
    height: 28px;
    width: auto;
  }
}
</style>
