<template>
  <div class="header-account" :class="{ active: showAccountDropdown }">
    <div
      class="header-account-button"
      @click="accountDropdownToggle"
      :class="{ active: showAccountDropdown }"
    >
      <span class="btn-txt">Hesabım</span>
      <div class="icon-font">
        <svg-icon type="icon-user" />
      </div>
    </div>
    <transition name="fade-up" mode="out-in">
      <div class="header-account-dropdown" v-show="showAccountDropdown" v-if="userLoaded">
        <div class="header-account__list">
          <div
            v-for="(opt, index) in options"
            :key="index"
            @click="navigateTo(opt)"
            class="header-account__item"
          >
            <span class="btn-txt">
              {{ opt.text }}
              <span v-if="opt.to === 'hesabim/urunlerim'">({{ productCount }})</span>
            </span>
          </div>
          <div
            style="cursor: pointer"
            class="header-account__item tour"
            v-if="$route.meta.hasTour"
            @click="goTour($route.meta.tourName)"
          >
            <span class="btn-txt">Tanıtım Turu</span>
            <div class="icon-font">
              <svg-icon type="icon-help-circle" />
            </div>
          </div>
          <button @click="logout" class="header-account__item logout">
            <span class="btn-txt">Çıkış Yap</span>
            <div class="icon-font">
              <svg-icon type="icon-logout" />
            </div>
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {
  SHOW_OVERLAY,
  SHOW_ACCOUNT_DROPDOWN,
  LOGOUT
} from '@/store/actions.type'
import { SHOW_APPS, HANDLE_LOGIN_STATUS } from '../../store/actions.type'

export default {
  name: 'HeaderAccount',
  data() {
    return {
      options: [
        { text: 'Ürünlerim', to: 'hesabim/urunlerim', name: 'AccountProducts' },
        {
          text: 'Hesap Ayarları',
          to: 'hesabim/kisisel-bilgiler',
          name: 'AccountDetails'
        },
        { text: 'Yardım Merkezi', to: 'yardim-merkezi', name: 'Faq' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'showOverlay',
      'showAccountDropdown',
      'productCount',
      'userLoaded'
    ])
  },
  methods: {
    async navigateTo(item) {
      try {
        await this.$router.push({ name: item.name })
        this.hideOverlay()
      } catch (error) {
        console.error('Error in navigation: ', error)
      }
    },

    hideOverlay() {
      this.$store.dispatch(SHOW_APPS, false)
      this.$store.dispatch(SHOW_ACCOUNT_DROPDOWN, false)
      if (this.showOverlay) this.$store.dispatch(SHOW_OVERLAY, false)
    },

    goTour(val) {
      this.accountDropdownToggle()
      this.$tours[val].start()
    },

    accountDropdownToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_ACCOUNT_DROPDOWN, !this.showAccountDropdown)
    },

    logout() {
      this.$store.dispatch(HANDLE_LOGIN_STATUS, false)
      this.$store.dispatch(SHOW_APPS, false)
      this.$store.dispatch(SHOW_ACCOUNT_DROPDOWN, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch(LOGOUT).then((resp) => {
        localStorage.clear()
      })
      this.$router.push({ name: 'Login' })
    }
  }
}
</script>
