<template>
  <header class="header">
    <div class="mobile-header">
      <header-notification />
    </div>
    <MobileMenuMobile />
    <router-link to="/" class="header-logo">
      <img
        src="@/assets/img/logo_blue.svg"
        v-if="headerClass === 'header--gray'"
        class="header-logo__img"
      />
      <img
        src="@/assets/img/logo.svg"
        v-else
        alt
        class="header-logo__img header-logo__img--gray"
      />
    </router-link>
    <container class="header__middle">
      <HeaderApps />
      <div class="header-menu">
        <div
          class="header-menu-search"
          v-bind:class="[isIconFocus ? '' : 'active']"
        >
          <svg-icon class="header-menu-search__icon" type="icon-search" />

          <input
            type="text"
            class="header-menu-search__input"
            placeholder="Platformda içerik arayın..."
            v-model="search"
            @keyup="findSource"
            v-on-clickaway="hideResults"
            @focus="openResults"
            @click="toggleFocus"
          />
          <transition name="fade-up">
            <div class="header-menu-search-results" v-if="showResults">
              <div class="header-menu-search-results__list">
                <div
                  v-for="(result, index) in results"
                  :key="`searchResult${index}`"
                  class="header-menu-search-results__item"
                >
                  <router-link
                    @mousedown="showResults = true"
                    :to="`/${result.app}/${result.id}`"
                    class="header-menu-search-results__link"
                  >
                    <span class="header-menu-search-results-icon">
                      <img
                        class="header-menu-search-results__icon"
                        :src="require(`@/assets/img/app-${result.app}.svg`)"
                      />
                    </span>
                    {{ result.name }}
                  </router-link>
                </div>
                <span
                  class="header-menu-search-results__noresult"
                  v-if="results.length === 0"
                  >{{ blankResult }}</span
                >
              </div>
            </div>
          </transition>
        </div>
        <div class="header-menu__list">
          <router-link
            :to="{ name: 'StorePrivate' }"
            class="header-menu__item header-menu__shop"
          >
            <span class="header-menu__icon">
              <svg-icon type="icon-market" />
            </span>

            <span class="header-menu__txt">Mağaza</span>
          </router-link>
          <span class="dots color-white opacity-50"></span>
        </div>
        <div
          class="header-notify-button mr-20"
          v-tooltip.bottom="'Geri Bildirim'"
          @click="openFeedBackModal"
        >
          <div class="header-notify__icon">
            <svg-icon type="icon-feedback" />
          </div>
        </div>
        <div
          class="header-notify-button mr-20"
          v-tooltip.bottom="'RH+ Platform Topluluğu'"
          @click="openRhCommunityModal"
        >
          <div class="header-notify__icon">
            <svg-icon type="icon-community" />
          </div>
        </div>
        <header-notification />
      </div>
    </container>
    <header-account />
  </header>
</template>

<script>
import HeaderApps from './HeaderApps'
import HeaderNotification from './HeaderNotification'
import HeaderAccount from './HeaderAccount'
import MobileMenuMobile from '@/components/Header/MobileMenuMobile'
import { mapGetters } from 'vuex'
import { mixin as clickaway } from 'vue-clickaway'
import { LOGOUT } from '@/store/actions.type'
import {
  SHOW_FEEDBACK_MODAL,
  SHOW_COMMUNITY_MODAL,
  GET_COMMUNITIES,
} from '../../store/actions.type'
import { getGlobalSearchResults } from '../../services/common.service'

export default {
  name: 'Header',
  mixins: [clickaway],
  components: {
    HeaderApps,
    HeaderNotification,
    HeaderAccount,
    MobileMenuMobile,
  },
  data() {
    return {
      search: '',
      windowWidth: 0,
      showResults: false,
      results: [],
      isIconFocus: true,
      showFeedBackModal: false,
      showRhCommunityModal: false,
      isShare_el: null,
      appMap: [
        {
          name: 'lesson',
          link: 'ders',
        },
        {
          name: 'material',
          link: 'dokuman',
        },
        {
          name: 'wordy',
          link: 'wordy',
        },
        {
          name: 'digibook',
          link: 'digibook',
        },
        {
          name: 'cluebank',
          link: 'ipucu-havuzu',
        },
        {
          name: 'exams',
          link: 'deneme',
        },
        {
          name: 'test',
          link: 'test',
        },
      ],
      feedbackText: '',
      feedbackCheck: false,
      sendingFeedback: false,
      searchTimer: null,
      searching: false,
    }
  },

  watch: {
    $route(to, from) {
      this.search = ''
    },
  },

  computed: {
    ...mapGetters(['pageClass', 'headerClass', 'communitiesLoaded']),

    validFeedback() {
      return this.feedbackText.length > 9
    },

    blankResult() {
      return this.searching ? 'Aranıyor...' : 'Sonuç bulunamadı!'
    },
  },

  mounted() {
    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth
    })
  },

  created() {
    this.windowWidth = window.innerWidth
  },

  methods: {
    toggleShare: function(el) {
      this.isShare_el = this.isShare_el === el ? null : el
    },

    openFeedBackModal() {
      this.$store.dispatch(SHOW_FEEDBACK_MODAL, true)
    },

    openRhCommunityModal() {
      if (!this.communitiesLoaded) this.$store.dispatch(GET_COMMUNITIES)
      this.$store.dispatch(SHOW_COMMUNITY_MODAL, true)
    },

    logout() {
      this.$store.dispatch(LOGOUT).then(resp => {
        this.$router.push({ name: 'Login' })
      })
    },

    appLink(app) {
      let currentApp = this.results.find(el => el.app === app)
      let linker = this.appMap.find(el => el.name === currentApp.app)
      console.log(linker.name)
    },

    toggleFocus(event) {
      if (this.isIconFocus) {
        this.isIconFocus = false
      }
    },

    hideResults() {
      this.showResults = false
      this.isIconFocus = true
    },

    openResults() {
      if (this.search.length > 0) {
        this.showResults = true
      }
    },

    findSource() {
      let searchTerm = this.search.toLowerCase().trim()
      if (searchTerm.length > 0) {
        this.showResults = true
        this.searching = true
        clearTimeout(this.searchTimer)
        this.searchTimer = setTimeout(() => {
          getGlobalSearchResults(searchTerm).then(res => {
            this.searching = false
            this.results = res.data
            this.results.map(el => {
              let target = this.appMap.find(obj => obj.name === el.app)
              el.app = target.link
            })
          })
        }, 1000)
      }
    },
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/components/header';
</style>
