<template>
  <div>
    <div class="mobile-menu-button only-tablet" @click="mobileMenuActived">
      <div class="apps-button__icon">
        <svg-icon type="icon-toggle" />
      </div>
    </div>
    <div class="mobile-menu" v-bind:class="[mobileMenuActive ? '' : 'active']">
      <div class="mobile-menu__top" @click="hideResults">
        <div class="mobile-menu__top--close-icon" @click="mobileMenuActived">
          <svg-icon type="icon-close"></svg-icon>
        </div>
        <div class="mobile-menu__top--logo" @click="mobileMenuActived">
          <img src="@/assets/img/logo_blue.svg" @click="goHome" />
        </div>
      </div>
      <div class="mobile-menu__scroll">
        <div class="mobile-menu__search">
          <div class="header-menu-search">
            <svg-icon class="header-menu-search__icon" type="icon-search" />

            <input
              type="text"
              class="header-menu-search__input"
              placeholder="Platformda içerik arayın..."
              v-model="search"
              @keyup="findSource"
              @focus="openResults"
            />
            <transition name="fade-up">
              <div class="header-menu-search-results" v-if="showResults">
                <div class="header-menu-search-results__list" @click="mobileMenuActived">
                  <div
                    v-for="(result, index) in results"
                    :key="`searchResult${index}`"
                    class="header-menu-search-results__item"
                  >
                    <router-link
                      @mousedown="showResults = true"
                      :to="`/${result.app}/${result.id}`"
                      class="header-menu-search-results__link"
                    >
                      <span class="header-menu-search-results-icon">
                        <img
                          class="header-menu-search-results__icon"
                          :src="require(`@/assets/img/app-${result.app}.svg`)"
                        />
                      </span>
                      {{ result.name }}
                    </router-link>
                  </div>
                  <span
                    class="header-menu-search-results__noresult"
                    v-if="results.length === 0"
                  >Sonuç bulunamadı!</span>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <div class="mobile-menu__apps" @click="hideResults;">
          <div class="apps-list" @click="mobileMenuActived">
            <router-link
              :to="`/${app.link}`"
              v-for="(app, index) in usersApps"
              class="apps__item"
              :key="index"
              @mouseover.native="showApp(app.slug)"
              @click="toApp(app.link)"
            >
              <div class="apps__icon">
                <img :src="require(`@/assets/img/app-${app.link}.svg`)" alt class="icon" />
              </div>
              <div class="apps__name">{{ app.title }}</div>
            </router-link>
          </div>
        </div>
        <div
          class="mobile-menu__account"
          v-bind:class="[mobileMenuDropdown ? '' : 'active']"
          @click="hideResults"
        >
          <div class="mobile-menu__account-button" @click="mobileMenuDropdowned">
            <span class="mobile-menu__account-icon">
              <svg-icon type="icon-user"></svg-icon>
            </span>
            <span class="mobile-menu__account-txt">Hesabım</span>
            <span class="select__caret"></span>
          </div>
          <div class="header-account__list" @click="mobileMenuActived">
            <router-link to="/hesabim/urunlerim" class="header-account__item">Ürünlerim</router-link>
            <router-link to="/hesabim/kisisel-bilgiler" class="header-account__item">Hesap Ayarları</router-link>
            <router-link to="/yardim-merkezi" class="header-account__item">Yardım Merkezi</router-link>
            <button @click="logout" class="header-account__item logout">
              <span class="btn-txt">Çıkış Yap</span>
              <div class="icon-font">
                <svg-icon type="icon-logout" />
              </div>
            </button>
          </div>
        </div>
        <div class="mobile-menu__magaza" @click="mobileMenuActived">
          <v-button
            class="default button mobile-menu__magaza fw"
            icon="icon-market"
            icon-position="left"
            title="Mağaza"
            @click.native="goMagaza()"
          />
        </div>
        <div class="mobile-menu__magaza mt-10" @click="mobileMenuActived">
          <v-button
            @click.native="showFeedbackModal"
            class="default button mobile-menu__magaza fw"
            icon="icon-feedback"
            icon-position="left"
            title="Geri Bildirim"
          />
        </div>
        <div class="mobile-menu__magaza mt-10" @click="mobileMenuActived">
          <v-button
            @click.native="showCommunityModal"
            class="default button mobile-menu__magaza fw"
            icon="icon-community"
            icon-position="left"
            title="RH+ Platform Topluluğu"
          />
        </div>
        <!-- <div class="mobile-menu__magaza mt-10" @click="mobileMenuActived">
          <v-button
            @click="goTour($route.meta.tourName)"
            class="default button mobile-menu__magaza fw"
            icon="icon-help-circle"
            v-if="$route.meta.hasTour"
            icon-position="left"
            title="Tanıtım Turu"
          />
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {
  SHOW_OVERLAY,
  SHOW_APPS,
  SHOW_FEEDBACK_MODAL,
  SHOW_COMMUNITY_MODAL,
  GET_COMMUNITIES,
  LOGOUT
} from '@/store/actions.type'
import { getGlobalSearchResults } from '../../services/common.service'

export default {
  name: 'MobileMenuMobile',
  data() {
    return {
      activeApp: {
        name: 'Dersler',
        link: 'ders',
        slug: 'lessons',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
        background: '#fff'
      },
      search: '',
      windowWidth: 0,
      showResults: false,
      results: [],
      appMap: [
        {
          name: 'lesson',
          link: 'ders'
        },
        {
          name: 'material',
          link: 'dokuman'
        },
        {
          name: 'wordy',
          link: 'wordy'
        },
        {
          name: 'digibook',
          link: 'digibook'
        },
        {
          name: 'cluebank',
          link: 'ipucu-havuzu'
        },
        {
          name: 'exams',
          link: 'deneme'
        },
        {
          name: 'test',
          link: 'test'
        }
      ],
      mobileMenuActive: true,
      mobileMenuDropdown: true,
      searchTimer: null
    }
  },
  components: {},
  computed: {
    ...mapGetters([
      'showOverlay',
      'showApps',
      'appsListLoaded',
      'usersApps',
      'showAccountDropdown',
      'productCount',
      'communitiesLoaded'
    ])
  },
  watch: {
    $route(to, from) {
      this.search = ''
    }
  },
  methods: {
    goHome() {
      this.$router.push(`/`)
    },
    goTour(val) {
      this.accountDropdownToggle()
      this.$tours[val].start()
    },
    goMagaza() {
      this.$router.push(`/magaza`)
    },
    toApp(target) {
      this.appsToggle()
      localStorage.setItem('lasttab', -1)
      localStorage.removeItem('level_filter')
      localStorage.removeItem('read_filter')
    },
    appsToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_APPS, !this.showApps)
    },
    showApp(app) {
      const hover = this.usersApps.findIndex((el) => el.slug === app)
      this.activeApp = this.usersApps[hover]
    },
    mobileMenuActived: function (event) {
      // Check value
      if (this.mobileMenuActive) {
        this.mobileMenuActive = false
        console.log(document.body.classList.add('overflow-y-hidden--mobile'))
        console.log(
          document
            .getElementsByTagName('html')[0]
            .classList.add('overflow-y-hidden--mobile')
        )
        document
          .getElementsByClassName('header-notify__icon')[0]
          .classList.add('gray')
        document
          .getElementsByClassName('toolbar-parent')[0]
          .classList.add('toolbar-hidden-for-mobile-menu')
      } else {
        this.mobileMenuActive = true
        console.log(document.body.classList.remove('overflow-y-hidden--mobile'))
        console.log(
          document
            .getElementsByTagName('html')[0]
            .classList.remove('overflow-y-hidden--mobile')
        )
        document
          .getElementsByClassName('header-notify__icon')[0]
          .classList.remove('gray')
        document
          .getElementsByClassName('toolbar-parent')[0]
          .classList.remove('toolbar-hidden-for-mobile-menu')
      }
    },
    mobileMenuDropdowned: function (event) {
      if (this.mobileMenuDropdown) {
        this.mobileMenuDropdown = false
      } else {
        this.mobileMenuDropdown = true
      }
    },
    resetStorage() {
      localStorage.setItem('lasttab', -1)
    },
    logout() {
      this.$store.dispatch(LOGOUT).then((resp) => {
        this.$router.push({ name: 'Login' })
      })
    },
    appLink(app) {
      let currentApp = this.results.find((el) => el.app === app)
      let linker = this.appMap.find((el) => el.name === currentApp.app)
      console.log(linker.name)
    },

    hideResults() {
      this.showResults = false
    },

    openResults() {
      if (this.search.length > 0) {
        this.showResults = true
      }
    },

    findSource() {
      let searchTerm = this.search.toLowerCase().trim()
      if (searchTerm.length > 0) {
        this.showResults = true
        clearTimeout(this.searchTimer)
        this.searchTimer = setTimeout(() => {
          getGlobalSearchResults(searchTerm).then((res) => {
            this.results = res.data
            this.results.map((el) => {
              let target = this.appMap.find((obj) => obj.name === el.app)
              el.app = target.link
            })
          })
        }, 1000)
      }
    },

    showCommunityModal() {
      if (!this.communitiesLoaded) this.$store.dispatch(GET_COMMUNITIES)
      this.$store.dispatch(SHOW_COMMUNITY_MODAL, true)
    },

    showFeedbackModal() {
      this.$store.dispatch(SHOW_FEEDBACK_MODAL, true)
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth
    })
  },
  created() {
    this.windowWidth = window.innerWidth
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/apps';
@import '../../assets/scss/components/mobile-menu';
.mobile-menu-button {
  position: absolute;
  top: 20px;
  left: 15px;
  .apps-button__icon {
    color: #fff !important;
  }
}
</style>
