<template>
  <div class="alert" :class="[type, extraClass, bgColor]">
    <div class="alert__header">
      <img :src="icon" alt="" class="alert__icon" />
      <div v-if="hasCounter" class="alert__txt">{{ alertText }}</div>
      <div v-else class="alert__txt" v-html="text"></div>

      <router-link
        :to="buttonLink"
        v-if="buttonLink !== null"
        class="alert__button button button--white"
      >
        {{ buttonText }}
      </router-link>
    </div>
    <div class="alert__cnt">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    icon: String,
    text: String,
    type: String,
    buttonText: String,
    buttonType: String,
    extraClass: String,
    buttonLink: String,
    test: String,
    bgColor: String,
    counter: Number
  },

  data() {
    return {
      remainingTime: null,
      alertText: ''
    }
  },

  computed: {
    hasCounter() {
      return this.counter !== null
    }
  },

  mounted() {
    if (this.hasCounter) {
      this.getRemaining(this.counter)
      this.setRemainingText(this.text, this.remainingTime)
    }
  },

  methods: {
    getRemaining(time) {
      let today = new Date().getTime()
      let count = time * 1000
      this.remainingTime = count - today
      return count - today
    },

    setRemainingText(text, remaining) {
      let seconds = remaining / 1000
      let minutes = Math.floor((seconds / 60) % 60)
      let hours = Math.floor((seconds / 60 / 60) % 60)
      let days = Math.floor(seconds / 60 / 60 / 24)

      let finalText = text.replace('%gun', `${days} gün,`)
      finalText = finalText.replace('%saat', `${hours} saat,`)
      finalText = finalText.replace('%dakika', `${minutes} dakika`)

      this.alertText = finalText
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/components/alert';
</style>
