<script>
export default {
  name: 'AppFilters'
}
</script>

<template>
  <section class="app-filters">
    <slot />
  </section>
</template>

<style lang="scss" scoped>
.app-filters {
  // padding-top: 2rem;
}
</style>
