<script>
export default {
  name: 'CharLimit',

  props: {
    limit: {
      type: [String, Number],
      required: false,
      default: 100,
    },

    entered: {
      type: [String, Number],
      required: false,
      default: 0,
    },
  },

  computed: {
    charLimit() {
      return parseInt(this.limit)
    },

    enteredChars() {
      return parseInt(this.entered)
    },

    limitClass() {
      if (this.enteredChars === this.charLimit) return 'is-maximum'
      if (this.enteredChars > 0.9 * this.charLimit) return 'is-approx'
      return 'is-normal'
    },
  },
}
</script>

<template>
  <div class="charlimit">
    <span class="charlimit__limit" :class="limitClass">{{ enteredChars }}</span>
    &nbsp;/&nbsp;
    <span>{{ charLimit }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';

.charlimit {
  font-weight: 700;
  display: inline-flex;
  color: $c-text;

  &__limit {
    &.is-approx {
      color: $c-warn;
    }

    &.is-maximum {
      color: $c-error;
    }
  }
}
</style>
