<template>
  <div class="circle-progress" :style="circleWidth" :class="progressType">
    <svg class="circle-progress__svg" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(110,110)">
        <circle
          r="100"
          class="circle-progress__base"
          :style="[{ opacity: progressOpacity }]"
        ></circle>
        <g transform="rotate(-90)">
          <circle
            r="100"
            class="circle-progress__bar"
            :style="[
              { strokeDashoffset: drawStroke(value, percent) + 'px' },
              { strokeDasharray: drawStrokeDash() + 'px' }
            ]"
          ></circle>
          <g class="circle-progress__pointer">
            <circle
              cx="100"
              cy="0"
              r="17"
              :style="'transform: rotate(' + circleTransform(value, percent) + 'deg)'"
              class="circle-progress__dot"
            ></circle>
          </g>
        </g>
      </g>
    </svg>
    <div
      class="circle-progress__title"
      :style="`color: ${textColor}; font-size: ${textSize}px`"
      v-if="!icon && !hiddenText"
    >
      {{ value }}<small>%</small>
    </div>
    <span class="circle-progress__icon" v-if="icon">
      <svg-icon :type="icon" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'CircleProgress',
  props: {
    value: {
      type: Number,
      default: 0
    },
    textColor: {
      type: String
    },
    textSize: {
      type: Number
    },
    hiddenText: {
      type: Boolean
    },
    progressOpacity: {
      type: [Number, String]
    },
    icon: String,
    size: {
      type: Number,
      default: 65
    }
  },
  data() {
    return {
      // circleTransform: null
      // value: 0,
      percent: 100
      // strokeOffset: {
      //   strokeDashoffset: null,
      //   strokeDasharray: null
      // },
      // circlePosition: null
    }
  },
  methods: {
    drawStrokeDash() {
      return Math.PI * 2 * 100
    },
    drawStroke(value, percent) {
      let length = Math.PI * 2 * 100
      return length - (length * value) / percent
    },
    circleTransform(value, percent) {
      return (360 * value) / percent
    }
    // drawProgress (value, percent) {
    //   let length = Math.PI * 2 * 100
    //   let strokeOffset = length - length * value / (percent)
    //   this.strokeOffset.strokeDashoffset = strokeOffset + 'px'
    //   this.strokeOffset.strokeDasharray = length + 'px'
    //   this.circlePosition = 360 * value / (percent)
    // }
  },
  computed: {
    progressType() {
      const progressVal = this.value
      const percent = this.percent
      let type = ''
      if (progressVal > 0 && progressVal < percent) {
        type = 'continue'
      } else if (progressVal >= percent) {
        type = 'completed'
      } else {
        type = 'none'
      }
      return type
    },
    circleWidth() {
      return {
        width: this.size + 'px',
        height: this.size + 'px'
      }
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/circle-progress';
</style>
