<template>
  <div>
    <modal :modal="modal" modal-class="confirm-modal">
      <div class="modal__content" slot="content">
        <div class="confirm-modal__subtitle">15. Soruda kaldınız</div>
        <p
          class="confirm-modal__txt"
        >Testi bitirmek mi ya da daha sonra devam etmek mi istiyorsunuz ?</p>
        <div class="confirm-modal__bottom">
          <v-button
            class="button--white round"
            title="DAHA SONRA DEVAM ET"
            @click.native="firstEvent"
          />
          <v-button class="purple round" title="TESTİ TAMAMLA" @click.native="secondEvent" />
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  name: 'ConfirmModal',
  props: {
    modal: Object
  },
  components: {
    Modal
  },
  methods: {
    firstEvent() {
      this.$emit('firstButtonClick')
    },
    secondEvent() {
      this.$emit('secondButtonClick')
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/_variables.scss';
.confirm-modal {
  max-width: 500px;

  .modal__inner {
    min-width: 300px;
  }

  .modal__header {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .modal__title {
    font-size: 25px;
  }

  &__txt {
    color: #5d758a;
    text-align: center;
    font-size: 16px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-between;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: $c-secondary;
    font-weight: 600;
    font-size: 19px;
    line-height: 1em;
  }
}
</style>
