<template>
  <div class="empty-content">
    <div class="empty-content__icon">
      <svg-icon type="icon-connection-error" />
    </div>
    <div class="empty-content__title">
      Ufak bir sorun oluştu,
      <span>bağlantı hatası!!</span>
    </div>
    <p class="empty-content__txt">
      İnternet bağlantınızı kontrol ederek uygulamaya tekrar erişin
      <br />veya destek ekibimizle iletişime geçin!
    </p>
    <v-button title="ANASAYFAYA DÖN" class="purple fw" @click.native="goHome" />
  </div>
</template>

<script>
export default {
  name: 'ConnectedError',
  props: {
    content: Object,
  },
  methods: {
    goHome() {
      this.$router.push(`/`)
    },
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/empty-content.scss';
</style>
