<!--
  This component exists for future actions
-->

<script>
import BaseButton from './Base/BaseButton.vue'

export default {
  name: 'DetailPage',

  props: {
    overlayVisible: {
      type: Boolean,
      default: false,
    },
  },

  components: {
    Button: BaseButton,
  },

  data() {
    return {
      scrollClass: '',
      lastPosition: 0
    }
  },

  mounted() {
    this.handleHeaderVisibility()
  },

  destroyed() {
    document.removeEventListener('scroll', this.scrollDetector)
  },

  methods: {
    closeDetail() {
      this.$router.push(this.$route.matched[0])
    },

    scrollDetector() {
      let direction = ''
      let posY = window.pageYOffset || document.documentElement.scrollTop
      direction = posY > this.lastPosition ? 'down' : 'up'
      this.scrollClass = `is-scrolled-${direction}`
      this.lastPosition = posY <= 0 ? 0 : posY
    },

    handleHeaderVisibility() {
      document.addEventListener('scroll', this.scrollDetector)
    },
  },
}
</script>

<template>
  <div class="details-page">
    <div
      class="details-page-mobile"
      :class="[{ 'overlay-active': overlayVisible }, scrollClass]"
    >
      <div class="details-page-mobile-controls" ref="mobileControls">
        <slot name="controls" />
        <slot name="contents-button" />
      </div>
      <div class="details-page-mobile-close">
        <slot name="close">
          <Button
            class="details-page-close__btn"
            :uppercase="true"
            :icon="'close'"
            :icon-size="12"
            :icon-position="'right'"
            :text="'Kapats'"
            :styling="'pill'"
            @click="closeDetail"
          />
        </slot>
      </div>
    </div>
    <div class="details-page-controls">
      <slot name="controls" />
    </div>
    <div class="details-page-content">
      <slot name="content" />
    </div>
    <div class="details-page-close">
      <slot name="close">
        <Button
          class="details-page-close__btn"
          :uppercase="true"
          :icon="'close'"
          :icon-size="12"
          :icon-position="'right'"
          :text="'Kapat'"
          :styling="'pill'"
          @click="closeDetail"
        />
      </slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/breakpoints';
@import '../assets/scss/colors';

.details-page {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  &-mobile {
    display: none;
    transition: transform 0.2s;

    &.is-scrolled-up {
      transform: translateY(0%);
    }

    &.is-scrolled-down {
      transform: translateY(-100%);
    }

    &.overlay-active {
      background: #747697;

      @include bp(tablet) {
        background: var(--background-color-light);
      }
    }

    @include bp(tablet-m) {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 4.5rem;
      width: calc(100% - 4rem);
      margin: 0 2rem;
      z-index: 10;
      background: var(--background-color);
      transition: 0.25s;
    }

    @include bp(tablet) {
      position: fixed;
      align-items: center;
      background: var(--background-color-light);
      width: 100%;
      margin: 0;
      padding: 0 1rem;
      z-index: 4;
      box-shadow: 3px 0 24px rgba(85, 100, 144, 0.15);

      & .digibook-main-controls {
        &::v-deep .base-button {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &::v-deep .base-button {
        height: 2.5rem;

        &:not(.digibook-main__contents-button) {
          width: 2.5rem;
        }

        & .base-button__text {
          font-size: 0.9rem;
        }
      }
    }

    &-controls {
      display: flex;
      align-items: center;
    }
  }

  &-controls,
  &-close {
    position: relative;
    z-index: 999;
    flex: 0 0 120px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;

    &::v-deep .base-button {
      height: 2.5rem;
    }

    @include bp(tablet-m) {
      // background: $c-bgmain;
      display: none;
    }
  }

  &-controls {
    align-items: flex-end;

    &::v-deep .base-button:last-child {
      margin-left: 0.5rem;
    }

    &::v-deep .base-button {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include bp(tablet-m) {
      order: 1;
      align-items: flex-start;
      margin-left: 2rem;
    }
  }

  &-close {
    align-items: flex-start;

    & > .base-button {
      height: 2.5rem;
    }

    @include bp(tablet-m) {
      align-items: flex-end;
      order: 2;
      margin-left: auto;
      margin-right: 2rem;
    }
  }

  &-content {
    margin: 0 2rem;
    flex: 1 1 auto;
    max-width: calc(100% - 240px - 4rem);
    position: relative;

    @include bp(tablet-m) {
      order: 3;
      flex: 1 0 100%;
      max-width: calc(100% - 4rem);
      width: calc(100% - 4rem);
    }

    @include bp(tablet) {
      margin: 0;
      padding-top: 4.5rem;
      width: 100%;
      max-width: 100%;
    }
  }

  @include bp(tablet-m) {
    // flex-wrap: wrap;
    flex-direction: column;
  }
}
</style>
