<template>
  <div class="dynamic-icon" :class="{ active : active }">
    <svg viewBox="0 0 20 20" class="icon">
      <use v-bind:xlink:href="'/icon/icons.svg' + href"></use>
    </svg>

    <svg viewBox="0 0 20 20" class="icon icon-o">
      <use v-bind:xlink:href="'/icon/icons.svg' + href + '-o'"></use>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'DynamicIcon',
  props: {
    type: String,
    active: Boolean
  },
  computed: {
    href () {
      return `#${this.type}`
    }
  }
}
</script>

<style scoped>

</style>
