<template>
  <div class="empty-content" lang="tr">
    <div class="empty-content__icon">
      <svg-icon :type="icon" />
    </div>
    <div class="empty-content__title" v-html="title" />
    <p class="empty-content__txt" v-html="text" />
    <BaseButton
      class="empty-content__action"
      v-if="withButton"
      :text="buttonText"
      :loading="buttonLoading"
      :intent="'primary'"
      :uppercase="true"
      @click="$emit('on-action')"
    />
  </div>
</template>

<script>
import BaseButton from './Base/BaseButton.vue'

export default {
  name: 'EmptyContent',
  components: {
    BaseButton,
  },
  props: {
    content: Object,
    icon: {
      type: String,
      default: 'icon-no-results',
    },
    title: {
      type: String,
      default: 'İçerik Bulunamadı!',
    },
    text: {
      type: String,
      default:
        "Filtreleri değiştirerek farklı bir arama yapabilir <br />Mağaza'mızı ziyaret ederek yeni içerikler edinebilirsiniz.",
    },
    withButton: {
      type: Boolean,
      default: false,
      required: false,
    },
    buttonText: {
      type: String,
      default: 'Devam Et',
    },
    buttonLoading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/empty-content.scss';
</style>
