<template>
  <div class="footer">
    <container class="footer-txt">
      © {{ new Date().getFullYear() }} RH+ Online Eğitim Platformu
    </container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Footer',

  computed: {
    ...mapGetters(['highlightText']),
  },
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/_variables';

.footer {
  margin-top: 2rem;
  background: transparent !important;
  border-top: 1px solid var(--color-border-light);

  &.WordyDetail {
    display: none;
  }
  &.login,
  &.register,
  &.ResetPassword {
    margin-top: 0;
    border-top: none;
  }

  &-txt {
    text-align: center;
    padding: 1.75rem 1rem;
    font-size: 1rem;
    color: #7d97ad;

    @include bp(tablet) {
      padding: 1.5rem 1rem;
      font-size: 0.875rem;
    }
  }
}

.dark-mode {
  &.DigibookDetail.footer,
  &.DigibookTest.footer,
  &.DigibookTranslate.footer,
  &.DigibookPairing.footer,
  &.DigibookPassage.footer,
  &.DigibookWordlist.footer,
  &.DigibookTable.footer,
  &.WordyDetail.footer,
  &.ReadingDetail.footer,
  &.ClueBankDetail.footer,
  &.DocumentsDetail.footer,
  &.TestReport.footer,
  &.TestDetail.footer,
  &.ExamsReport.footer,
  &.WordBook.footer,
  &.ExamsDetail.footer,
  &.LessonsWatch.footer {
    background: #242b40 !important;
  }
}
.LessonsWatch.footer {
  display: none;
}
</style>
