<template>
  <!-- eslint-disable -->
  <div>
    <svg
      version="1.1"
      id="katman_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1186 1342"
      style="enable-background:new 0 0 1186 1342; user-select: none; pointer-events: none;"
      xml:space="preserve"
    >
      <g>
        <defs>
          <rect id="SVGID_1_" x="-1" y="-0.89" width="1186" height="1344" />
        </defs>
        <clipPath id="SVGID_2_">
          <use xlink:href="#SVGID_1_" style="overflow:visible;" />
        </clipPath>

        <linearGradient
          id="SVGID_3_"
          gradientUnits="userSpaceOnUse"
          x1="214.9361"
          y1="790.3659"
          x2="555.0622"
          y2="-140.9319"
          gradientTransform="matrix(1 6.768223e-03 -6.768247e-03 1 3.5132 -9.0835)"
        >
          <stop offset="0" style="stop-color:#F0F7FE" />
          <stop offset="0.3637" style="stop-color:#BCD7EE" />
          <stop offset="0.7922" style="stop-color:#84B5DD" />
          <stop offset="0.9995" style="stop-color:#6EA8D6" />
        </linearGradient>
        <path
          class="st0"
          d="M826.65,788.28l258.11-102.31c200.38-79.43,298.43-306.26,219-506.64l-265.52-669.85L-514.89,125.64
		l409.34,1032.67l763.25-303.06"
        />

        <linearGradient
          id="SVGID_4_"
          gradientUnits="userSpaceOnUse"
          x1="-298.2948"
          y1="563.2532"
          x2="1070.7643"
          y2="-122.8285"
          gradientTransform="matrix(1 6.768223e-03 -6.768247e-03 1 3.5132 -9.0835)"
        >
          <stop offset="0.4608" style="stop-color:#F0F7FE" />
          <stop offset="0.6568" style="stop-color:#BCD7EE" />
          <stop offset="0.8878" style="stop-color:#84B5DD" />
          <stop offset="0.9995" style="stop-color:#6EA8D6" />
        </linearGradient>
        <path
          class="st1"
          d="M692.26,702.95l324.53-128.64c163.7-64.89,243.8-250.2,178.91-413.9L903.85-575.85L-506.93-16.63
		l409.34,1032.67l620.9-246.12"
        />
        <linearGradient
          id="SVGID_5_"
          gradientUnits="userSpaceOnUse"
          x1="38.356"
          y1="889.3372"
          x2="504.356"
          y2="-120.6628"
        >
          <stop offset="0" style="stop-color:#F0F7FE" />
          <stop offset="0.3637" style="stop-color:#BCD7EE" />
          <stop offset="0.7922" style="stop-color:#84B5DD" />
          <stop offset="0.9995" style="stop-color:#6EA8D6" />
        </linearGradient>
        <path
          class="st2"
          d="M665.88,608.33l276.4-109.56c139.42-55.27,207.65-213.1,152.38-352.52L846.09-480.83L-355.47-4.53
		L-6.83,874.99l528.82-209.62"
        />
      </g>
    </svg>
  </div>
</template>

<style scoped>
.st0 {
  opacity: 0.5;
  clip-path: url(#SVGID_2_);
  fill: url(#SVGID_3_);
}
.st1 {
  opacity: 0.5;
  clip-path: url(#SVGID_2_);
  fill: url(#SVGID_4_);
}
.st2 {
  opacity: 0.25;
  clip-path: url(#SVGID_2_);
  fill: url(#SVGID_5_);
}
</style>
