<template>
  <div v-on-clickaway="hideMenu" class="hl-holder">
    <div @mouseup="createSelection" class="highlight-holder" ref="contentSlot">
      <slot class="higlight-holder-wrapper" />
      <transition name="fade">
        <div
          v-show="showMenu && translatable && contentType === 'reading'"
          class="highlight-menu"
          :style="{
            left: `${x}px`,
            top: `${y}px`,
          }"
        >
          <span
            class="highlight-menu__item highlight-menu--highlight"
            @mousedown.prevent="highlight"
          >
            <span class="highlight-menu__icon">
              <svg-icon type="icon-pen" />
            </span>
            <span class="highlight-menu__txt">Altını Çiz</span>
          </span>

          <span
            class="highlight-menu__item highlight-menu--translate"
            :class="{ disabled: !translatable }"
            @mousedown.prevent="translate"
          >
            <span class="highlight-menu__txt">Hızlı Çevir</span>
            <span class="highlight-menu__icon">
              <svg-icon type="icon-translate-2" />
            </span>
          </span>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { SET_HIGHLIGHT_TEXT } from '@/store/mutations.type'
import { SHOW_OVERLAY, SHOW_TOOLBAR } from '../store/actions.type'
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'Highlightable',
  mixins: [clickaway],
  props: {
    contentType: {
      type: String,
      default: 'test',
    },
    translatable: {
      type: Boolean,
      default: true,
      required: false,
    },
  },

  data() {
    return {
      x: 0,
      y: 0,
      showMenu: false,
      selected: null,
      selectedLength: 0,
    }
  },

  watch: {
    selectedLength(val) {
      this.showMenu = val > 0
    },
  },

  methods: {
    onMouseup() {
      const contentRect = this.$refs.contentSlot.getBoundingClientRect()
      const selection = window.getSelection()
      const selectionRange = selection.getRangeAt(0)
      let text = ''
      if (window.getSelection) {
        text = window.getSelection()
        this.showMenu = true
      } else if (document.getSelection) {
        text = document.getSelection()
        this.showMenu = true
      } else if (document.selection) {
        text = document.selection.createRange().text
      }

      if (text.length === 0) this.showMenu = false

      this.selected = selectionRange.getBoundingClientRect()

      const selectionPos = selectionRange.getBoundingClientRect()

      let txtNode = document.createElement('span')
      txtNode.innerText = selectionRange.commonAncestorContainer.data.slice(
        selectionRange.startOffset,
        selectionRange.endOffset
      )
      this.x = contentRect.left - selectionPos.left
      this.y = Math.abs(contentRect.top + selectionPos.top)

      if (selectionRange.startOffset !== selectionRange.endOffset) {
        this.$refs.contentSlot.appendChild(txtNode)
        this.showMenu = true
      } else {
        this.showMenu = false
        this.$refs.contentSlot.removeChild(txtNode)
      }
    },

    createSelection() {
      let selection = window.getSelection()
      this.selected = selection
      const selR = selection.getRangeAt(0)
      this.selectedLength = Math.abs(selR.startOffset - selR.endOffset)
      const selP = selR.getBoundingClientRect()
      const cntP = this.$refs.contentSlot.getBoundingClientRect()
      if (Math.abs(selR.startOffset - selR.endOffset) > 0) {
        let posX = Math.abs(cntP.x - selP.x)
        let xW = selP.width / 2
        posX = posX + xW

        let posY

        if (cntP.y < 0) {
          posY = Math.abs(cntP.y) + selP.y
        } else {
          posY = cntP.y - selP.y
        }

        let yH = selP.height * 2
        if (posY < -10 && posY > -60) posY = 0
        else if (posY < -60) posY = Math.abs(posY) - yH
        else posY = posY - yH
        this.x = posX
        this.y = posY
        setTimeout(() => {
          this.showMenu = this.contentType === 'reading' || !this.translatable
        }, 50)
      }
      if (this.selectedLength > 0) {
        console.log('translatable', this.translatable)
        if (!this.translatable) {
          this.$swal({
            toast: true,
            timer: 3000,
            icon: 'error',
            position: 'top-end',
            title: 'Hızlı Çevir özelliği bu içerikte kullanılamaz!',
            showConfirmButton: false,
          })
        } else {
          if (this.contentType !== 'reading') {
            this.translate()
          }
        }
      }
    },

    translate() {
      const selection = window.getSelection()
      this.showMenu = false
      this.$store.dispatch(SHOW_OVERLAY, true)
      this.$store.dispatch(SHOW_TOOLBAR, true)
      this.$store.dispatch('toolbar/setActiveTool', 5)
      this.$store.commit(SET_HIGHLIGHT_TEXT, {
        text: selection.toString(),
        status: this.translatable,
      })
      this.$emit('onClickTranslate', selection.toString())
      selection.removeAllRanges()
    },

    highlight(action) {
      const selection = window.getSelection()
      this.showMenu = false
      if (selection.toString()) {
        const range = selection.getRangeAt(0)
        const newNode = document.createElement('span')
        newNode.classList.add('highlight-text')
        range.surroundContents(newNode)
        selection.removeAllRanges()
      }
    },

    hideMenu() {
      this.showMenu = false
    },
  },
  computed: {
    highlightableEl() {
      return this.$slots.default[0].elm
    },
  },
}
</script>

<style lang="scss">
@import '../assets/scss/_variables.scss';
.hl-holder {
  position: relative !important;
}
.highlight {
  &-holder {
    position: relative !important;
  }

  &-menu {
    background: $c-alt;
    position: absolute;
    z-index: 25;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-60%);
    margin-top: 5px;
    display: inline-flex;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-family: 'Proxima Nova', sans-serif;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $c-alt;
    }
    &__item {
      line-height: 1em;
      white-space: nowrap;
      font-size: 17px;
      display: flex;
      align-items: center;
      color: rgba($color: #fff, $alpha: 0.8);
      cursor: pointer;
      font-weight: 700;
      padding: 6px 15px;
      position: relative;

      &:hover {
        color: #fff;
      }

      &.disabled {
        cursor: not-allowed;
        color: darken($color: $c-alt, $amount: 12);
      }

      & > * {
        &:first-child {
          margin-right: 10px;
        }
      }
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
      & + & {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          height: 65%;
          transform: translateY(-50%);
          background: #fff;
          opacity: 0.4;
          width: 2px;
        }
      }
    }
    &__icon {
      display: inline-flex;
      font-size: 21px;
    }
    &--translate {
      .highlight-menu__icon {
        font-size: 31px;
      }
    }

    &__notallowed {
      color: #fff;
      padding: 0.3rem 1rem;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}
</style>
