<template>
  <div class="homework__item" :class="[isNew ? 'new' : '']">
    <div class="homework__header">
      <img
        class="homework__header--icon"
        :src="item.product_icon"
        alt
        v-tooltip.top-end="{
          content: item.product_name,
          classes: 'tooltip-singleline'
        }"
      />
      <router-link
        @click.native="titleClick"
        :to="`/ders/${item.id}`"
        class="homework__title"
        tag="div"
        >{{ item.name }}</router-link
      >

      <circle-progress class="homework-progress" :value="item.progress" :size="55" :textSize="16" />
    </div>

    <div class="homework-ctr">
      <progress-info-box
        v-for="content in item.homework"
        :key="content.id"
        :item="content"
        :createdAt="item.created_at"
        @click.native="titleClick"
      />
    </div>

    <div class="homework__date">{{ item.created_at }}</div>
  </div>
</template>

<script>
import ProgressInfoBox from '@/components/ProgressInfoBox'
import CircleProgress from '@/components/CircleProgress'
import { SHOW_OVERLAY, SHOW_TOOLBAR } from '../store/actions.type'

export default {
  name: 'HomeworkItem',
  components: {
    ProgressInfoBox,
    CircleProgress
  },
  props: {
    group: String,
    title: String,
    progressPercent: Number,
    timeCurrent: String,
    timeFull: String,
    timeStatus: String,
    wordsCurrent: String,
    wordsFull: String,
    wordsStatus: String,
    testsCurrent: String,
    testsFull: String,
    testsStatus: String,
    date: String,
    isNew: Boolean,
    progress: Array,
    item: Object
  },

  methods: {
    titleClick() {
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch(SHOW_TOOLBAR, false)
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/homework';
</style>
