<template>
  <div class="intro-card">
    <div class="intro-card__top">
      <img :src="card.image" alt class="intro-card__img" />
      <div class="intro-card__overlay">
        <div class="intro-card-progress">
          <div class="intro-card-progress__bar" :style="{ width: progress + '%' }"></div>
        </div>
      </div>
    </div>
    <div class="intro-card__cnt">
      <div class="intro-card__header">
        <div class="intro-card__title" :class="`color-${getWordType(card.label)}`">{{ card.word }}</div>
        <span lang="en" class="word__badge" :class="`bg-${getWordType(card.label)}`">
          {{
          card.label
          }}
        </span>
      </div>
      <div class="intro-card__meaning">{{ card.definition }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IntroCard',
  props: {
    card: {
      type: Object,
      default: () => { }
    },
    progress: {
      type: Number,
      default: 0
    },
    cardCount: {
      type: Number,
      default: 0
    },
    currentCardIndex: {
      type: Number,
      default: 0
    }
  },
  methods: {
    getWordType(key) {
      if (key.toUpperCase() === 'V') {
        return 'verb'
      } else if (key.toUpperCase() === 'N') {
        return 'noun'
      } else if (key.toUpperCase() === 'D' || key.toUpperCase() === 'DET') {
        return 'det'
      } else if (key.toUpperCase() === 'A' || key.toUpperCase() === 'ADJ') {
        return 'adj'
      }
      return 'noun'
    },
    handleClickListen(word) {
      this.$emit('listen', word)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/intro-card';
@import '../assets/scss/variables';
.card-index {
  color: #fff;
  margin-top: 5px;
  .icon {
    font-size: 10px;
  }
  .index-label {
    font-size: 15px;
  }
}
.card-index .icon:nth-child(1) {
  position: absolute;
  left: -180px;
  font-size: 60px;
  color: $c-secondary;
  top: 55%;
  transform: translateY(0);
  opacity: 0;
}
.card-index .icon:nth-child(3) {
  position: absolute;
  right: -180px;
  font-size: 60px;
  color: $c-secondary;
  top: 55%;
  transform: translateY(0);
  opacity: 0;
}

.intro-list__item.front .card-index .icon {
  opacity: 0.1;
}
</style>
