<template>
  <transition name="fade-up" mode="out-in">
    <div class="keyboard-info" v-show="this.showKeypress">
      <ul class="keyboard-info__list">
        <li class="keyboard-info__item">
          <div class="keyboard-info__txt">Onayla / Devam Et</div>
          <div class="keyboard-info__right">
            <div class="keyboard-info__cnt keyboard-info__cnt--w80">
              <div class="keyboard-info__button">enter</div>
            </div>
          </div>
        </li>
        <li class="keyboard-info__item">
          <div class="keyboard-info__txt">Sesleri aç / kapat</div>
          <div class="keyboard-info__right">
            <div class="keyboard-info__cnt keyboard-info__cnt--w35">
              <div class="keyboard-info__button">m</div>
            </div>
          </div>
        </li>
        <li class="keyboard-info__item">
          <div class="keyboard-info__txt">Hızlı Şık Seçme</div>
          <div class="keyboard-info__right">
            <div class="keyboard-info__cnt keyboard-info__cnt--w35">
              <div class="keyboard-info__button">1</div>
            </div>
            <div class="keyboard-info__dots">...</div>
            <div class="keyboard-info__cnt keyboard-info__cnt--w35">
              <div class="keyboard-info__button">9</div>
            </div>
          </div>
        </li>
        <li class="keyboard-info__item">
          <div class="keyboard-info__txt">Soruyu Boş Geç</div>
          <div class="keyboard-info__right">
            <div class="keyboard-info__cnt keyboard-info__cnt--w80">
              <div class="keyboard-info__button">space</div>
            </div>
          </div>
        </li>
        <li class="keyboard-info__item">
          <div class="keyboard-info__txt">Sonraki / Önceki</div>
          <div class="keyboard-info__right">
            <div class="keyboard-info__cnt keyboard-info__cnt--w35">
              <div class="keyboard-info__button keyboard-info__button--with-icon">
                <svg-icon type="icon-caret-left" />
              </div>
            </div>
            <div class="keyboard-info__dots">...</div>
            <div class="keyboard-info__cnt keyboard-info__cnt--w35">
              <div class="keyboard-info__button keyboard-info__button--with-icon">
                <svg-icon type="icon-caret-right" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </transition>
</template>

<script>
export default {}
</script>

<style>
</style>