<template>
  <div class="modal__overlay">
    <div class="modal word-add-modal">
      <div class="modal__inner">
        <div class="modal__header">
          <span class="modal__icon">
            <svg-icon type="icon-lists" />
          </span>
          <div class="modal__title">KELİME LİSTESİNE EKLE</div>
        </div>
        <div class="modal__top">
          <div class="word-box">
            <div class="word-box-content">
              <div class="word-box__left">
                <v-button
                  class="word-box__voice square default"
                  icon="icon-voice"
                  icon-position="left"
                  v-tooltip="{
                          content: 'Dinle',
                          trigger: 'hover click'
                        }"
                />
              </div>
              <div class="word-box__cnt dctwordbox">
                <div class="word-box__top">
                  <div lang="en-GB" class="word-box__title color-undefined">surgery</div>
                </div>
                <div class="word-box-meaning">
                  <div>
                    <div class="word-box-meaning__item">
                      <div class="word-rate">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class></span>
                      </div>
                      <div class="word-box-meaning__title">ameliyat</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="word-box__more">
                <div class="dots"></div>
              </button>
            </div>
          </div>
        </div>
        <div class="modal__search">
          <div class="tab-filter-search">
            <v-button
              class="button--circle circle-xs tab-filter-search__button"
              icon="icon-search"
              icon-position="left"
            />
            <input type="text" class="tab-filter-search__input" placeholder="Liste ismi yazın..." />
          </div>
        </div>
        <div class="modal__content">
          <div class="wordlist">
            <header class="wordlist-header">
              <dynamic-icon class="wordlist-header__icon" type="icon-lists" />
              <div class="wordlist-header-info">
                <h4 class="wordlist-header-info__title">En Birinci Liste</h4>
                <div class="wordlist-visibility">
                  <dynamic-icon class="wordlist-visibility__icon" type="icon-view-o" />
                  <span class="wordlist-visibility__status">Özel</span>
                </div>
              </div>
              <div class="wordlist-header__button">
                <v-button class="button purple" title="EKLE" />
              </div>
            </header>
          </div>
          <div class="wordlist">
            <header class="wordlist-header">
              <dynamic-icon class="wordlist-header__icon" type="icon-lists" />
              <div class="wordlist-header-info">
                <h4 class="wordlist-header-info__title">En Birinci Liste</h4>
                <div class="wordlist-visibility">
                  <dynamic-icon class="wordlist-visibility__icon" type="icon-view-o" />
                  <span class="wordlist-visibility__status">Özel</span>
                </div>
              </div>
              <div class="wordlist-header__button">
                <v-button class="button purple" title="EKLE" />
              </div>
            </header>
          </div>
          <div class="wordlist">
            <header class="wordlist-header">
              <dynamic-icon class="wordlist-header__icon" type="icon-lists" />
              <div class="wordlist-header-info">
                <h4 class="wordlist-header-info__title">En Birinci Liste</h4>
                <div class="wordlist-visibility">
                  <dynamic-icon class="wordlist-visibility__icon" type="icon-view-o" />
                  <span class="wordlist-visibility__status">Özel</span>
                </div>
              </div>
              <div class="wordlist-header__button">
                <v-button class="button purple" title="EKLE" />
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
</style>
