<template>
  <transition name="fade">
    <div class="modal__overlay" :key="1" v-if="active">
      <div
        class="modal"
        v-on-clickaway="closeModal"
        :key="3"
        :class="[{ active: active }, modalClass]"
      >
        <v-button
          v-if="!hideClose"
          class="modal__close modal-main-close"
          icon="icon-close"
          icon-position="left"
          @click.native="closeModal"
        />
        <div class="modal__inner">
          <slot name="header" />
          <div class="modal__content">
            <slot name="content" />
          </div>
        </div>
        <slot name="footer" />
      </div>
    </div>
  </transition>
  <!-- <div>
  </div>-->
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
export default {
  name: 'Modal',
  mixins: [clickaway],
  props: {
    active: Boolean,
    modalClass: String,
    hideClose: Boolean,
  },
  methods: {
    closeModal() {
      this.$emit('onModalClose')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';
.modal__overlay {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222255;
  top: 0;
  left: 0;
  background: rgba(34, 34, 85, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity;
}
::v-deep .modal {
  overflow: visible;
  position: relative;
  background: $c-bgmain;
  border-radius: 8px;
  width: 100%;
  display: block;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  max-width: 750px;

  @include bp(tablet-small) {
    width: 90%;
  }

  @include bp(mobile) {
    width: 100%;
    height: 100%;
  }

  &__nopadding {
    margin: -25px !important;
  }

  &__inner {
    position: relative;
    height: auto;
    min-height: inherit;
    left: 0;
    top: 0;
    will-change: transform;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
  }

  &__header {
    padding: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    border-bottom: 1px solid #e3e8f0;
    flex-direction: column;
  }

  &-footer {
    border-top: 1px solid #e3e8f0;
    padding: 25px;
  }

  &__icon {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 76px;
    height: 76px;
    background: #44449f;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #fff;

    & .b-icon {
      height: 2.25rem;
    }
  }

  &__title {
    display: block;
    text-align: center;
    color: #44449f;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3em;
  }

  &__txt {
    color: #556490;
    font-weight: 300;
    font-size: 16px;
  }

  &__subtitle {
    display: block;
    text-align: center;
    color: #adb5c9;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__description {
    display: block;
    text-align: center;
    color: $c-secondary;
    opacity: 0.7;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    margin-top: 10px;
  }

  &__content {
    padding: 25px;
    // max-height: calc(100vh - 320px);
    max-height: 500px;
    overflow: auto;
  }

  &-video {
    border-radius: 13px;
    .modal__close {
      transform: translateY(calc(-100% - 75px));
      right: 0;
    }
    .modal__content {
      padding: 0;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
    }

    &__wrp {
      min-width: 725px;
      display: block;
      max-height: 85vh;
      transition: all 0.3s;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      min-height: 401px;
      box-shadow: 3px 8px 36px rgba(19, 24, 46, 0.2);
    }

    &__iframe {
      width: 100%;
      height: 100%;
      display: block;
      min-height: 422px;
      border-radius: 8px;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35, 28, 97, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &.hide-overlay {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0.2s;
      }

      .button {
        width: 85px;
        height: 85px;
      }
    }
  }

  &-download {
    .modal__cnt {
      overflow: visible;
    }

    .modal__inner {
      min-width: 515px;
    }
  }

  &-pick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    border-top: 1px solid #ebeff4;
    border-bottom: 1px solid #ebeff4;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .button {
      width: 51px;
      height: 51px;
      font-size: 26px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &__txt {
        font-size: 19px;
      }

      &:hover,
      &.active {
        color: $c-alt;
      }
    }

    &__list {
      &:only-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    padding: 10px;
    position: absolute;
    top: 60px;
    transform: translateY(-100%);
    border-radius: 50%;
    color: #4545a1;
    font-size: 15px;
    width: 41px;
    height: 41px;
    min-height: initial;
    right: 20px;
    opacity: 0.3;
    z-index: 9;

    @include bp(tablet) {
      background: #d7dde9;
      color: #556490;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 1;
    }

    .button__icon {
      font-size: inherit;
    }
  }
  .profile-modal {
    &__cnt {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
      }
    }
  }
}
::v-deep .modal.modal-cluebank {
  .modal__header {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #d9e1ea;
    @include bp(tablet) {
      flex-direction: row;
      padding-top: 0 !important;
      padding-left: 15px;
    }
  }

  .modal__icon {
    background: none;
    font-size: 87px;

    @include bp(tablet) {
      margin-top: 0;
      display: block !important;
    }
  }

  .modal__title {
    font-size: 28px;
    color: var(--color-primary);
    font-weight: 700;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    @include bp(tablet) {
      padding-left: 15px;
    }
  }
  .modal-cluebank-buttons {
    @include bp(tablet) {
      bottom: 20px;
      transform: translateY(0);
    }

    .button {
      @include bp(tablet) {
        box-shadow: 10px 0px 10px 5px rgba(85, 100, 144, 0.14);
      }
    }
  }
  .modal-cluebank-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    transform: translateY(100%);
    width: 100%;

    &__main {
      padding-right: 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__cnt {
      display: flex;
      align-items: center;

      .button {
        box-shadow: none;
        margin-left: 15px;
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    transform: translateY(100%);
    width: 100%;

    &__main {
      padding-right: 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__cnt {
      display: flex;
      align-items: center;

      .button {
        box-shadow: none;
        margin-left: 15px;
      }
    }
  }
}
::v-deep .modal.deneme-modal {
  max-width: 800px;
  background: #fff url('../assets/img/bg-of-deneme-modal.png') no-repeat center
    center / cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @include bp(tablet) {
    max-width: 100%;
    height: 100%;
  }

  .col-md-12 .button__icon {
    font-size: 18px;
  }

  .button--lightgray {
    background: #ecf0f5;

    &:hover {
      background: #e1e5eb;
    }

    .button__txt {
      color: $c-primary;
    }
  }

  .modal__close {
    visibility: hidden;
  }

  .modal-icon {
    font-size: 65px;
    margin-bottom: 15px;
    color: #4545a1;
  }

  .modal__content {
    max-height: 100%;
    overflow: initial;
  }

  .deneme-modal--title {
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;

    @include bp(tablet) {
      font-size: 1.625rem;
    }
  }

  .deneme-modal--desc-warning {
    color: $c-primary;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }

  .deneme-modal--description {
    font-size: 17px;
    color: var(--color-text);
    font-weight: 500;
    text-align: center;
    opacity: 0.8;

    @include bp(tablet) {
      text-align: center;
      font-size: 15px;
    }

    br {
      @include bp(tablet) {
        display: none;
      }
    }
  }

  .deneme-modal--paragraph {
    font-size: 22px;
    width: 70%;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
    color: #7d88a8;
    font-weight: 300;
    // margin-bottom: 75px;

    @include bp(tablet) {
      font-size: 17px;
      width: 100%;
      margin-bottom: 35px;
    }
  }

  .button.p-fullwidth {
    margin-top: 5px;
  }

  .show-warning {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    display: none !important;
    width: 100%;

    &.active {
      display: block !important;

      .show-warning {
        &__icon {
          animation: dangered 1s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        &__txt {
          animation: dangered 1s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }

      @keyframes dangered {
        from {
          color: #e77777;
        }

        to {
          color: $c-primary;
        }
      }
    }

    &__outer {
      position: relative;
      margin-top: 25px;
    }

    &__icon {
      color: $c-primary;
      margin-right: 15px;
      font-size: 24px;
    }
  }

  .deneme-modal--warning {
    font-size: 20px;
    opacity: 0.8;
    width: 80%;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
    color: #7d88a8;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-icon {
      font-size: 40px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    @include bp(tablet) {
      font-size: 16px;
      width: 100%;
    }
  }

  .modal__content {
    button {
      height: 60px;
      margin-top: 40px;

      .button__txt {
        transition: 0.3s;
      }

      &:hover {
        background: $c-primary;

        .button__txt {
          color: #fff;
        }
      }

      @include bp(tablet) {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 52px;
      }
    }

    .row {
      .col-md-4 {
        @include bp(tablet) {
          padding: 0;
        }

        &:first-child {
          button {
            @include bp(tablet) {
              margin-right: 0 !important;
            }
          }
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
::v-deep .modal.modal-avatar {
  @include bp(tablet) {
    border-radius: 0;
  }
  .modal__header {
    padding: 15px 30px;
    padding-bottom: 0;
    background: #f0f4f8;
    border-bottom: none;
    @include bp(tablet) {
      align-items: flex-start;
    }
  }
  .title-w-shadow {
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    span {
      padding: 0 10px;
      @include bp(tablet) {
        padding-left: 0;
      }
    }
    hr {
      width: 100%;
      &:first-child {
        @include bp(tablet) {
          display: none;
        }
      }
    }
  }
  .modal__title {
    color: #556490;
    font-weight: 600;
    font-size: 22px;
    @include bp(tablet) {
      text-align: left;
    }
  }

  .account-checkbox-p {
    @include bp(tablet) {
      text-align: left;
      margin-top: 15px;
    }
  }

  .modal__content {
    max-height: calc(100vh - 570px);
    padding-top: 0;

    @include bp(tablet) {
      max-height: calc(100vh - 130px);
    }
  }
  .modal__inner {
    &:before {
      content: '';
      position: absolute;
      bottom: -0px;
      left: 0px;
      width: calc(100% + 0px);
      height: 70px;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      );
      z-index: 2;
      border-radius: 0 0 8px 8px;
      overflow: hidden;

      @include bp(tablet) {
        display: none;
      }
    }
  }
}
::v-deep .modal.hints-modal {
  &__parent {
    @include bp(tablet) {
      z-index: 999;
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }
}
::v-deep .modal.modal__deneme-digi {
  @include bp(tablet) {
    top: 0 !important;
    left: 0 !important;
    height: 100%;
    border-radius: 0;
  }

  .modal {
    &__header {
      @include bp(tablet) {
        flex-direction: row;
        padding-top: 10px;
      }
    }

    &__icon {
      @include bp(tablet) {
        font-size: 36px;
        position: static;
        transform: none;
        flex-shrink: 0;
        display: none;
      }
    }

    &__title {
      @include bp(tablet) {
        font-size: 20px;
        text-align: left;
        margin-left: 15px;
        width: 85%;
        margin-left: 0;
      }
    }

    &__close {
      background: #f0f4f9;

      @include bp(tablet) {
        top: 50px;
      }
    }

    &__inner {
      @include bp(tablet) {
        height: 100vh;
      }
    }

    &__content {
      @include bp(tablet) {
        max-height: 100%;
        overflow-y: scroll;
        padding-bottom: 180px;
      }
    }
  }
}

::v-deep .feedback-modal {
  max-height: 600px;

  .modal__inner {
    overflow: hidden;

    .modal__content {
      max-height: calc(600px - 180px);
    }

    .announcement-modal__txt {
      padding: 0 1.5rem;
      max-height: 100%;
      overflow: auto;
      color: $c-gray-dark;
      padding-bottom: 20px;
      @include bp(tablet) {
        padding-bottom: 70px;
      }
    }
  }
}

::v-deep .announcement {
  &-modal {
    @include bp(tablet) {
      height: 100% !important;
      max-height: 100% !important;
    }
    .modal__content {
      max-height: calc(600px - 225px) !important;
      @include bp(tablet) {
        max-height: calc(100%) !important;
      }
    }
    .modal__inner {
      @include bp(tablet) {
        height: 100%;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      position: relative;
      @include bp(tablet) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fbfdfe;
      }

      &:before {
        content: '';
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 30px;
        background-image: linear-gradient(
          to top,
          rgba(#fbfdfe, 1),
          rgba(#fbfdfe, 0)
        );
      }
    }
  }
}

::v-deep .modal.plan-modal {
  max-width: 650px;
  background: #fbfdfe;

  .vc-w-full.vc-relative {
    width: 100% !important;
  }

  @include bp(tablet) {
    max-width: 100%;
    border-radius: 0;
    overflow-y: auto;
    position: static;
    transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 36px 0 0 0;
    z-index: 260;
  }

  .modal__content {
    padding: 0;
    max-height: unset;

    @include bp(tablet) {
      overflow: initial;
      height: max-content;
    }
  }

  & .plan-modal-header {
    padding: 25px;

    &__title {
      color: #4545a2;
      font-weight: 700;
      font-size: 29px;
      line-height: 1.3em;
      margin-bottom: 10px;

      @include bp(tablet) {
        font-size: 20px;
        line-height: 1.1em;
      }
    }

    &__txt {
      color: #818baa;
      opacity: 0.8;
      font-size: 16px;
    }
  }

  .modal__close {
    @include bp(tablet) {
      top: 90px;
      right: 15px;
    }
  }

  .plan-modal-date {
    background: #f6f9fb;
    border-top: 1px solid #dde3eb;
    border-bottom: 1px solid #dde3eb;
    display: flex;
    align-items: center;
    padding: 20px 25px;

    @include bp(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__head {
      color: #818baa;
      font-weight: 700;
      line-height: 1em;
    }

    &__select {
      background: #eaeff5;
      margin-left: auto;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      width: 300px;

      .vc-popover-content-wrapper .vc-border {
        border-color: #eceef3 !important;
      }

      .vc-border-blue-100 {
        border-color: transparent !important;
      }

      @include bp(tablet) {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
      }

      .vdp-datepicker {
        cursor: pointer;
        user-select: none;

        input {
          color: #576691;
          font-weight: 700;
          opacity: 0.65;
          cursor: pointer;
          padding: 15px 25px;
          user-select: none;
        }
      }

      .vdp-datepicker__calendar {
        right: 0;
        top: 100%;
        margin-top: 15px;
        box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);
        border-radius: 10px;
        border: none;
        overflow: hidden;
        padding: 11px;
        width: 320px;
      }

      .vdp-datepicker__calendar header .prev:after {
        border-right: 10px solid #8b96b4;
        opacity: 0.6;
      }

      .vdp-datepicker__calendar header .next:after {
        border-left: 10px solid #8a96b4;
        opacity: 0.6;
      }

      .vdp-datepicker__calendar header span {
        font-weight: 700;
        color: #8a96b4;
      }

      .vdp-datepicker__calendar .cell.selected {
        background: #e9eef4;
        border-radius: 6px;
      }

      .vdp-datepicker__calendar .cell {
        color: #838dad;
        font-weight: 600;
        margin: 3px 0;
      }

      .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
      .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
      .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid #dde3eb;
        border-radius: 6px;
      }
    }

    &__caret {
      background: #fff;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      box-shadow: 0px 7px 24px 0px rgba(19, 29, 51, 0.2);

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid #4545a2;
        top: 10px;
        left: 7px;
        transition: all 0.3s;
      }
    }

    &__title {
      color: #576691;
      font-weight: 700;
      opacity: 0.65;
    }
  }

  .plan-modal__footer {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;

    @include bp(tablet) {
      padding-bottom: 120px;
    }
  }
}

::v-deep .modal.rh-community-modal {
  .modal__content {
    max-height: 500px;
  }
}

::v-deep .modal.profile-modal {
  max-width: 500px;
  .modal__header {
    border-bottom: 1px solid #d9e1ea;
  }
  &.no-pad {
    .modal__content {
      padding: 0;

      @include bp(tablet) {
        max-height: calc(100vh - 70px) !important;
      }
    }
  }
  .modal__close {
    @include bp(tablet) {
      right: 15px;
      top: 56px;
    }
  }

  &.main-profile-modal {
    .modal__content {
      padding: 0;
      overflow-y: scroll !important;
    }
    .modal__inner {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .modal__content {
      overflow: hidden;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      max-height: calc(100vh - 400px);
      @include bp(tablet) {
        max-height: calc(100vh - 275px);
      }
    }
    .modal__badges--img {
      @include bp(tablet) {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    .modal__header {
      padding-bottom: 0px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include bp(tablet) {
        padding-top: 0;
      }
    }
    .profile-pointer {
      border-bottom: 1px solid #e3e8f0;
      .select-header.open {
        border-bottom: 1px solid #e3e8f0;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
    .modal__title {
      color: #556490;
      font-weight: 600;
      font-size: 22px;
      margin-top: -10px;
    }
    .modal__subtitle {
      color: #adb5c9;
      font-weight: 300;
      position: relative;
      top: 0px;
      margin-bottom: 0px;
      font-size: 14px;
      text-transform: capitalize;
    }
    .modal__description {
      color: #adb5c9;
      font-weight: 300;
      margin-bottom: 0px;
      margin-top: 0;
      opacity: 1;
    }
    .modal-dropdown {
      &--inner {
        font-size: 16px;
      }
      &--point {
        font-size: 16px;
      }
    }
  }

  .modal__badges {
    width: 100%;
    height: auto;
    flex-flow: wrap;
    // margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    // border-top: 1px solid #d9e1ea;
    // margin-bottom: -15px;
    @include bp(tablet) {
      height: 100%;
    }

    &--profile {
      height: auto;
      padding: 15px 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      color: $c-text;
      flex-direction: row;
      flex-flow: nowrap;
      & > div {
        height: auto;
        flex-flow: nowrap;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: flex-start;
        color: $c-text;
        font-weight: 600;
        text-align: center;
        img {
          width: 65px;
          height: 65px;
          margin-right: 10px;
        }
        span {
          width: 45px;
          height: 45px;
        }
      }
    }
    &--header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      @include bp(tablet) {
        padding-bottom: 0;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 20px;
        height: 70px;
        padding-top: 0px;
        border-bottom: 1px solid #d9e1ea;
      }
      .modal__badges--title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        &-gray {
          color: #a4abc1;
        }
        &.Ders {
          color: #0ea6ce;
        }

        &.Digibook {
          color: #a6487d;
        }

        &.Wordy {
          color: #2e8273;
        }

        &.Okuma {
          color: #813f8e;
        }

        &.Sözlük {
          color: #3759a1;
        }

        &.Test {
          color: #214f86;
        }

        &.Deneme {
          color: #67419d;
        }

        &.Havuzu {
          color: #394a9c;
        }

        &.Döküman {
          color: #cc5d46;
        }
      }
    }
    &--img {
      width: 80px;
      height: 80px;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      @include bp(tablet) {
        position: static;
        transform: none;
        width: 40px;
        margin-bottom: 0;
        margin-top: 0;
        height: auto;
      }
      &.o-hidden {
        border-radius: 50%;

        img {
          border-radius: 50%;
          border: 4px solid $c-primary;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 80px;
        @include bp(tablet) {
          height: unset;
        }
        &.obj-contain {
          height: 80px;
        }
      }
    }
    &--title {
      font-size: 24px;
      color: $c-primary;
      font-weight: 700;
      height: fit-content;
      margin-top: 20px;
      @include bp(tablet) {
        margin-top: 0;
        font-size: 22px;
        padding-left: 10px;
      }
    }
    .list-of-eggs {
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #d9e1ea;
      display: flex;
      align-items: center;
      &:last-child {
        border-bottom: none;
      }
      &--total {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #d9e1ea;
        & > div {
          font-weight: 700;
          font-size: 18px;
          &:first-child {
            color: #556490;
            margin-right: 10px;
          }
          &:last-child {
            color: #818cad;
          }
        }
      }
      &--img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
      }
      &--cnt {
        display: flex;
        flex-direction: column;
      }
      &--title {
        color: #556490;
        font-weight: 600;
        font-size: 17px;
      }
      &--txt {
        color: #556490;
        font-weight: 500;
        padding-right: 15px;
        font-size: 15px;
        span {
          width: auto;
          height: auto;
          background: transparent;
          border-radius: 0;
          display: inline;
          font-size: 16px;
          margin-right: 10px;
        }
        &.with-point {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-align: right;
        }
      }
    }

    img {
      width: 40px;
      margin-right: 5px;
    }

    span {
      width: 41px;
      height: 41px;
      background: #e7ebf1;
      color: #818cad;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 300;
      transition: 0.3s;
      line-height: 1.3em;
      user-select: none;
    }
  }

  .modal__icon {
    img {
      border-radius: 100%;
    }
  }
}

::v-deep .modal.available-modal {
  max-width: 550px;
  overflow: hidden;
  background: #fbfcfe;
  .modal {
    &__content {
      padding: 0;
      max-height: 100vh;
    }
    // &__close {
    //   min-height: 39px;
    //   height: 39px;
    //   padding: 7px 9px;
    //   background: #fff;
    //   color: #8e98b3;
    //   border-radius: 50px;
    //   white-space: nowrap;
    //   min-width: 110px;
    //   font-weight: 700;
    //   line-height: 1em;
    //   &:hover {
    //     box-shadow: 0px 5px 12px 0px rgba(11, 13, 25, 0.2);
    //   }
    //   &:before {
    //     content: 'KAPAT';
    //     display: block;
    //     margin-right: 10px;
    //     font-size: 16px;
    //     top: 1px;
    //     position: relative;
    //   }
    //   .button__icon {
    //     font-size: 11px;
    //   }
    // }
  }
  .swiper {
    &-pagination {
      text-align: left;
      left: 25px;
      bottom: 40px;
      display: flex;
      align-items: center;

      &-bullet {
        background: #e2e6ec;
        width: 12px;
        height: 12px;
        opacity: 1;
        margin: 0 8px;
        &-active {
          background: $c-alt;
        }
      }
    }
    &-button {
      &-prev {
        display: none;
      }
      &-next,
      &-finish {
        position: absolute;
        top: auto;
        margin-top: 0;
        z-index: 11;
        bottom: 25px;
        right: 25px;
        background-image: none;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $c-primary;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .available {
    &__top {
      width: 100%;
      max-height: 550px;
      height: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #e3e8f0;
      overflow: hidden;
      position: relative;
      &.with-no-padding {
        padding-left: 0;
        padding-right: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(
          to bottom,
          rgba(#f0f4f9, 1),
          rgba(#f0f4f9, 0)
        );
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(
          to top,
          rgba(#f0f4f9, 1),
          rgba(#f0f4f9, 0)
        );
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &__content {
      padding: 40px 40px 110px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &.wordy {
        .available {
          &__icon {
            background: #2c8a6e;
          }
          &__title {
            span {
              color: #2c8a6e;
            }
          }
        }
      }
      &.lesson {
        .available {
          &__icon {
            background: #23a6cb;
          }
          &__title {
            span {
              color: #23a6cb;
            }
          }
        }
      }
      &.digibook {
        .available {
          &__icon {
            background: #b94280;
          }
          &__title {
            span {
              color: #b94280;
            }
          }
        }
      }
    }
    &__icon {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -40px;
      img {
        width: 30px;
      }
    }
    &__title {
      color: $c-alt;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
      color: $c-primary;
      span {
        color: $c-alt;
      }
    }
    &__txt {
      color: #a5adc3;
      font-weight: 600;
      text-align: center;
    }
  }
}

::v-deep .modal-phone-verification {
  max-width: 520px;
  .modal {
    &__header {
      padding-top: 20px;
    }
  }
}

::v-deep .modal-product-other-items {
  & iframe {
    width: 100% !important;
  }
}
</style>
