<template>
  <div class="note-card">
    <div class="note-card__wrp">
      <div class="note-card-header">
        <div class="note-card-header__left">
          <span class="note-card__icon" v-tooltip="note.app_name">
            <img :src="require(`@/assets/img/app-${note.app}.svg`)" alt />
          </span>
          <div class="note-card-header__cnt">
            <div class="note-card__subtitle">{{ note.created_at }}</div>
            <div class="note-card__title" v-if="note.title">{{ note.title }}</div>
          </div>
        </div>

        <div
          class="item-options"
          v-on-clickaway="closeOptions"
          :class="[showOptions ? 'active' : '']"
        >
          <button class="item-options__btn button button--dots" @click="toggleOptions()">
            <span class="dots"></span>
          </button>

          <div class="item-options__dropdown" :class="[showOptions ? 'active' : '']">
            <!--:style="[ showOptions ? { height: options.length * 50 + 'px' } : '' ]">-->
            <div
              class="item-options__item"
              v-tooltip.left="'Düzenle'"
              @click="editNote(note.id, note.text, note.app, $event)"
            >
              <span class="icon-font">
                <svg-icon type="icon-edit" />
              </span>
            </div>
            <div class="item-options__item" v-tooltip.left="'Sil'" @click="removeNote(note.id)">
              <span class="icon-font">
                <svg-icon type="icon-trash" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="note-card__content pb-10" v-if="note.text">
        <div v-if="note.text.length > 95 && !showMore">
          {{ note.text.slice(0, 160) }}
          <span
            class="color-purple-dark font-600"
            @click="showMore = !showMore"
          >... Devamını Oku</span>
        </div>
        <div v-else-if="showMore">
          {{ note.text }}
          <span
            class="color-purple-dark font-600"
            @click="showMore = !showMore"
          >Daha az gör</span>
        </div>

        <div v-else>{{ note.text }}</div>
      </div>

      <VueButton
        block
        basic
        v-if="isNotGeneral"
        :text="btnText"
        @click.native="goNoted(note.url)"
        class="noshadow question-item__btn fw"
        :disabled="isCurrent"
        icon="arrow-long-right"
        iconLocation="far-right"
        icon-size="1.2"
      />
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import VueButton from '@/core/VueButton'
import { mapActions } from 'vuex'
import { SHOW_TOOLBAR } from '@/store/actions.type'
import { SHOW_OVERLAY } from '../store/actions.type'

export default {
  name: 'NoteItem',
  mixins: [clickaway],
  components: {
    VueButton
  },
  props: {
    note: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      showMore: false,
      showOptions: false,
      passive: false
    }
  },

  computed: {
    isCurrent() {
      return this.note.url === this.$route.path
    },

    isNotGeneral() {
      return this.note.app !== 'general'
    },

    btnText() {
      if (this.isCurrent) return 'Not Aldığınız Uygulamadasınız'
      else return 'Uygulamaya Git'
    }
  },

  methods: {
    ...mapActions('notes', ['removeNoteItem']),

    toggleOptions() {
      this.showOptions = !this.showOptions
    },
    closeOptions() {
      this.showOptions = false
    },

    removeNote(id) {
      this.$swal
        .fire({
          title: 'Not silinsin mi?',
          text:
            'Bu işlem geri alınamaz, bu not tamamen silinecek. Notu silmek istediğinize emin misiniz?',
          confirmButtonText: 'SİL',
          showCancelButton: true,
          cancelButtonText: 'İPTAL',
          icon: 'error',
          cancelButtonColor: '#d8e0ee'
        })
        .then(res => {
          if (res.value) this.deleteNote(id)
        })
      this.closeOptions()
    },

    async deleteNote(id) {
      try {
        await this.removeNoteItem(id)
      } catch (error) {
        console.log('error: ', error)
      } finally {
        this.busy = false
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: 'success',
          title: 'Not silindi.',
          position: 'top-end',
          showConfirmButton: false
        })
      }
    },

    editNote(id, text, app, e) {
      this.closeOptions()
      this.$emit('on-edit', id, text, app, e)
    },

    goNoted(url) {
      if (this.$route.path !== url) this.$router.push(url)
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.note-card {
  // background: #e4eaf1;
  background: opacify($color: #fff, $amount: 0.1);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  cursor: default;
  position: relative;
  transition: all 0.15s ease-in-out;

  &:first-child {
    margin-top: 15px;
  }

  &:hover {
    box-shadow: 0px 13px 21px 0px rgba(41, 53, 108, 0.09);
    background: #fff;

    .note-card-header {
      border-color: #e3e8f0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ced7e4;
    padding-bottom: 15px;
    transition: border-bottom-color 0.3s ease-in-out;
    width: 100%;

    & > .item-options {
      margin-left: 8px;
    }

    &__left {
      display: flex;
      align-items: center;
      flex: 1;
      min-width: 0;
    }

    &__cnt {
      min-width: 0;
    }
  }

  &__icon {
    display: inline-flex;
    font-size: 36px;
    color: $c-primary;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > img {
      height: 32px;
      width: auto;
    }
  }

  &__subtitle {
    line-height: 1em;
    color: $c-secondary;
    font-weight: 500;
  }

  &__title {
    line-height: 1.3em;
    color: $c-primary;
    font-weight: 700;
    font-size: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__content {
    padding-top: 15px;
    color: $c-secondary;
    font-size: 17px;
    @include bp(tablet) {
      font-size: 15px;
    }
  }
}

/* @import '../assets/scss/components/note-card'; */
@import '../assets/scss/components/item-options';
</style>
