<template>
  <div class="perf-card">
    <div class="perf-card__title">PREPOSITION</div>
    <CircleProgress class="perf-card-progress" :value="72"/>
    <div class="perf-card__bottom">
      <div class="perf-card__txt">
        Diğer kullanıcıların ortalaması
      </div>
      <strong>70<small>%</small></strong>
    </div>
  </div>
</template>

<script>
import CircleProgress from '@/components/CircleProgress'
export default {
  name: 'PerformanceCard',
  components: {
    CircleProgress
  }
}
</script>

<style lang="scss">
@import "../assets/scss/components/performance-card";
</style>
