<template>
  <div class="progress-section">
    <span class="progress-section__icon">
      <img :src="require('@/assets/img/grup-' + icon + '.svg')" alt="" class="icon">
    </span>
    <div class="progress-section__cnt">
      <Progress
        :progress-val="value"
        :height="height"
      />
      <div class="progress-section__content">
        <!--<div class="progress-section__title">-->
          <!--<strong class="color-blue">Rh+ {{ title }}</strong>  içeriğini Toplam Tamamlama-->
        <!--</div>-->
        <div class="progress-section-ctr">
          <div class="progress-section-ctr__item">
            <span class="progress-section-ctr__dot bg-light-gray"></span>
            <div class="progress-section-ctr__title">Başlamadı</div>
          </div>

          <div class="progress-section-ctr__item">
            <span class="progress-section-ctr__dot bg-blue"></span>
            <div class="progress-section-ctr__title">Devam ediyor</div>
          </div>

          <div class="progress-section-ctr__item">
            <span class="progress-section-ctr__dot bg-green"></span>
            <div class="progress-section-ctr__title">Tamamlandı</div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress-section-val">
      <div class="progress-section-val__title">{{ value }}<small>%</small></div>
      <span class="progress-section-val__txt">Tamamlandı</span>
    </div>
  </div>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'ProgressSection',
  props: {
    value: Number,
    title: String,
    height: String,
    icon: String
  },
  components: {
    Progress
  }
}
</script>

<style lang="scss">
</style>
