<template>
  <div class="progress" :style="{ height: height + 'px' }">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      :class="progresType"
      :style="{ width: percentWidth }"
      :valuemin="valMin"
      :valuemax="valMax"
    >
      <!--:valuenow="valNow"-->
      <!--:valuemin="valMin"-->
      <!--:valuemax="valMax"-->
      <!--{{percentWidth}}-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'Progress',
  props: {
    // valNow: Number,
    // valMin: Number,
    // valMax: Number,
    progressVal: Number,
    type: String,
    height: {
      type: String,
      default: '22'
    },
    valMin: {
      type: Number,
      default: 0
    },
    valMax: {
      type: Number,
      default: 100
    }
  },
  computed: {
    percentWidth() {
      const range = this.valMax - this.valMin
      const pos = this.progressVal - this.valMin
      return `${Math.round(100 * (pos / range))}%`
    },
    progresType() {
      const progressVal = this.progressVal
      let type = ''
      if (progressVal > 0 && progressVal < 100) {
        type = 'continue'
      } else if (progressVal >= 100) {
        type = 'completed'
      } else {
        type = 'none'
      }
      return type
    }
  }
}
</script>

<style scoped></style>
