<template>
  <router-link :to="link" class="status-info__item">
    <div class="status-info__cnt homework-item__title">
      <div class="status-info__title" v-if="item.digibook_id !== null">
        {{ item.digibook_name }}, {{ item.unit_name }}
      </div>
      <div class="status-info__title" v-if="item.homework_type === 'wordy'">
        {{ item.wordyPackageName }}, {{ item.setName }}
      </div>
      <div class="status-info__val homework-item__name">
        {{ item.content_name }}
      </div>
    </div>

    <div class="status-info__icon" v-if="appIcon === 'digibook'">
      <svg-icon
        v-if="digiType !== null"
        :type="`icon-digi-${icon}`"
        class="icon"
      />
    </div>

    <div v-else class="status-info__icon" :class="status">
      <img :src="require(`../assets/img/app-${appIcon}.svg`)" class="icon" />
    </div>

    <span class="status-info__status" :class="status"></span>
  </router-link>
</template>

<script>
export default {
  name: 'ProgressInfoBox',
  props: {
    title: String,
    current: String,
    full: String,
    item: Object,
    createdAt: String,
  },

  data() {
    return {
      contentTypes: [
        {
          en: 'test',
          tr: 'test',
          icon: 'test',
        },
        {
          en: 'translation_list',
          tr: 'ceviri',
          icon: 'translation',
        },
        {
          en: 'table',
          tr: 'tablo',
          icon: 'table',
        },
        {
          en: 'match',
          tr: 'eslestirme',
          icon: 'pairing',
        },
        {
          en: 'reading_list',
          tr: 'okuma',
          icon: 'reading',
        },
        {
          en: 'word_list',
          tr: 'kelime-listesi',
          icon: 'word-list',
        },
      ],
      digiType: null,
    }
  },

  computed: {
    status() {
      if (this.item.progress === 100) return 'completed'
      if (this.item.progress === 0) return 'none'
      return 'continue'
    },

    contentType() {
      if (this.item.content_type !== '') {
        return this.contentTypes.find(el => el.en === this.item.content_type)
      } else {
        return null
      }
    },

    link() {
      if (this.item.homework_type !== 'digibook' && this.digiType === null) {
        if (this.item.homework_type === 'material') {
          return '/dokuman/' + this.item.content_id
        }
        if (this.item.homework_type === 'wordy') {
          return '/wordy/' + this.item.content_id
        }
        if (this.item.homework_type === 'exam') {
          return '/deneme/detay/' + this.item.content_id
        }
        if (this.item.homework_type === 'test') {
          return '/test/detay/' + this.item.content_id
        }
        if (this.item.homework_type === 'reading') {
          return (
            '/okuma/' +
            this.item.content_id +
            '/liste/' +
            this.item.reading_list_id
          )
        } else {
          return '/'
        }
      } else {
        return (
          '/digibook/' +
          this.item.digibook_id +
          '/unite/' +
          this.item.unit_id +
          '/alistirma/' +
          this.item.exercise_id +
          '/' +
          this.digiType.tr +
          '/' +
          this.item.content_id
        )
      }
    },

    icon() {
      if (this.digiType === null) return null
      else return this.digiType.icon
    },

    appIcon() {
      return this.item.homework_type
    },
  },

  created() {
    this.setDigiType()
  },

  methods: {
    setDigiType() {
      if (this.item.content_type === '' || this.item.content_type === null) {
        this.digiType = null
      } else {
        let type = this.contentTypes.find(
          el => el.en === this.item.content_type
        )
        this.digiType = type
      }
    },
  },
}
</script>

<style lang="scss">
@import '../assets/scss/components/status-info';
</style>
