<template>
  <div class="question-item">
    <div class="question-item-header">
      <span class="question-item__status" :class="{ answered: question.has_answer }"></span>
      <div class="question-item-header__cnt">
        <div class="question-item__subtitle">
          {{ question.digibook_name }}, {{ question.unit_name }}, {{ question.exercise_name }},
          {{ question.content_name }}
        </div>
        <div class="question-item__name">
          <strong>{{ question.question_order + 1 }}. Soru</strong>
        </div>
      </div>

      <div
        class="item-options"
        v-if="hasOptions"
        v-on-clickaway="closeOptions"
        :class="[showOptions ? 'active' : '']"
      >
        <button class="item-options__btn button button--dots" @click="toggleOptions()">
          <span class="dots"></span>
        </button>

        <div class="item-options__dropdown" :class="[showOptions ? 'active' : '']">
          <!--:style="[ showOptions ? { height: options.length * 50 + 'px' } : '' ]">-->
          <div class="item-options__item">
            <span class="icon-font">
              <svg-icon type="icon-edit" />
            </span>
          </div>
          <div class="item-options__item">
            <span class="icon-font">
              <svg-icon type="icon-trash" />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="question-item__cnt">
      <div class="question-item__txt">
        <span v-if="question.question.length > 120">{{ question.question.slice(0, 120) }}...</span>
        <span v-else>{{ question.question }}</span>
      </div>
      <transition name="fade-fast" mode="out-in">
        <div
          class="question-item__answer"
          v-if="(answerVisible || question.is_read) && question.answer.length > 0"
        >
          <header class="question-item__answer-header">
            <b>Remzi Hoca</b> cevapladı
          </header>
          <article class="question-item__answer-body" v-html="question.answer" />
        </div>
      </transition>
      <VueButton
        v-if="question.has_answer && !answerVisible && !question.is_read"
        block
        primary
        :text="btnText"
        icon="view"
        class="noshadow question-item__btn answered"
        iconLocation="far-right"
        icon-size="1.2"
        @click.native="toggleAnswer(question.id)"
      />
      <div class="question-item__bottom">
        <!-- <v-button
          class="question-item__button"
          title="CEVABI GÖRÜNTÜLE"
          icon="icon-arrow-long-right"
          icon-position="right"
          @click.native="showDetails"
        />-->

        <VueButton
          :block="true"
          text="Detaya Git"
          basic
          icon="arrow-long-right"
          class="noshadow question-item__btn"
          :class="{
            'noshadow question-item__btn--single':
              !question.has_answer || answerVisible || question.is_read
          }"
          iconLocation="far-right"
          icon-size="1.2"
          @click.native="goQuestion"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import VueButton from '@/core/VueButton'
import { SHOW_OVERLAY, SHOW_TOOLBAR } from '../store/actions.type'

export default {
  name: 'QuestionItem',
  mixins: [clickaway],
  components: {
    VueButton
  },
  props: {
    hasOptions: {
      type: Boolean,
      default: false
    },
    question: Object
  },
  data() {
    return {
      showOptions: false,
      answerVisible: false,
      readAnswer: false,
      contentTypes: [
        {
          en: 'test',
          tr: 'test',
          icon: 'test'
        },
        {
          en: 'translation_list',
          tr: 'ceviri',
          icon: 'translation'
        },
        {
          en: 'table',
          tr: 'tablo',
          icon: 'table'
        },
        {
          en: 'match',
          tr: 'eslestirme',
          icon: 'pairing'
        },
        {
          en: 'reading_list',
          tr: 'okuma',
          icon: 'reading'
        },
        {
          en: 'word_list',
          tr: 'kelime-listesi',
          icon: 'word-list'
        }
      ],
      digiType: null
    }
  },

  computed: {
    btnText() {
      return !this.answerVisible ? 'Cevabı Gör' : 'Cevabı Gizle'
    },

    link() {
      if (this.digiType === null) return '/'
      else {
        return (
          '/digibook/' +
          this.question.digibook_id +
          '/unite/' +
          this.question.unit_id +
          '/alistirma/' +
          this.question.exercise_id +
          '/' +
          this.digiType.tr +
          '/' +
          this.question.content_id +
          '#Soru' +
          (this.question.question_order + 1)
        )
      }
    }
  },

  created() {
    this.setDigiType()
  },

  methods: {
    toggleAnswer(id) {
      this.answerVisible = !this.answerVisible
      if (!this.readAnswer) {
        this.$store.dispatch('questions/readAnswer', id)
        this.readAnswer = true
      }
    },

    setDigiType() {
      this.digiType =
        this.question.content_type === ''
          ? null
          : this.contentTypes.find((el) => el.en === this.question.content_type)
    },

    goQuestion() {
      this.$router.push(this.link)
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch(SHOW_TOOLBAR, false)
    },

    toggleOptions() {
      this.showOptions = !this.showOptions
    },

    closeOptions() {
      this.showOptions = false
    },

    showDetails() {
      this.$emit('onClickDetail')
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/question-item';
</style>
