<template>
  <div class="quest-card" v-if="!IsQuestionDeleted">
    <div class="quest-card-header">
      <span :class="questioCardStatusCss"></span>
      <div class="quest-card-header__cnt">
        <div class="quest-card__subtitle">Sorunun Sahibi</div>
        <div v-if="question.user" class="quest-card__name">
          {{ question.user.name }}
        </div>
        <div v-else class="quest-card__name">{{ question.name }}</div>
      </div>

      <div
        class="item-options"
        v-if="hasOptions && _.isEmpty(question.answer)"
        v-on-clickaway="closeOptions"
        :class="[showOptions ? 'active' : '']"
      >
        <button
          class="item-options__btn button button--dots"
          @click="toggleOptions()"
        >
          <span class="dots"></span>
        </button>

        <div
          class="item-options__dropdown"
          :class="[showOptions ? 'active' : '']"
        >
          <!--:style="[ showOptions ? { height: options.length * 50 + 'px' } : '' ]">-->
          <div class="item-options__item">
            <span class="icon-font" @click="openUpdatefrom()">
              <svg-icon type="icon-edit" />
            </span>
          </div>
          <div class="item-options__item" @click="deleteQuestion()">
            <span class="icon-font">
              <svg-icon type="icon-trash" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="quest-card__cnt">
      <div class="quest-card__txt">
        {{ question.message || question.question }}
      </div>
      <div v-if="!_.isEmpty(question.answer)" class="quest-card-answer">
        <div class="quest-card-answer__header">
          <!-- <div class="quest-card-answer__name">{{ question.answer.name }}</div> -->
          <div :class="questioCardNameCss">Remzi Hoca</div>
          <div class="quest-card-answer__title">Cevapladı</div>
        </div>
        <template v-for="(answer, index) in question.answer">
          <div
            :key="`answer${index}`"
            class="quest-card-answer__txt"
            v-html="answer.text"
          ></div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import Vue from 'vue'
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'QuestionCard',
  mixins: [clickaway],
  props: {
    hasOptions: {
      type: Boolean,
      default: false,
    },
    question: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      showOptions: false,
      IsQuestionDeleted: false,
    }
  },
  computed: {
    _() {
      return _
    },
    questioCardStatusCss() {
      if (!_.isEmpty(this.question.answer)) {
        return 'quest-card__status'
      } else {
        return 'quest-card__status-red'
      }
    },
    questioCardNameCss() {
      if (!_.isEmpty(this.question.answer)) {
        return 'quest-card-answer__name'
      } else {
        return 'quest-card-answer__name-red'
      }
    },
  },
  methods: {
    toggleOptions() {
      this.showOptions = !this.showOptions
    },
    closeOptions() {
      this.showOptions = false
    },
    openUpdatefrom() {
      console.log('openUpdateMethod')
      // this.$parent.showAddForm = true
      this.$emit('edit-click', this.question.id)
    },
    async deleteQuestion() {
      console.log('thisquestion', this.question)
      const response = await Vue.$axios(
        'DELETE',
        `/digibook/questions/${this.question.id}`
      )
      if (_.get(response, 'status') === 200) {
        this.IsQuestionDeleted = true
        this.$emit('delete-question', this.question.id)
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/question-card';
@import '../assets/scss/components/item-options';
</style>
