<script>
export default {
  name: 'ResultStamp',

  props: {
    isLocked: {
      type: Boolean,
      default: false,
      required: false,
    },

    result: {
      type: [Object, Boolean],
      default: null,
      required: false,
    },
  },

  computed: {
    stampText() {
      if (this.correctResult) return 'DOĞRU'
      if (this.wrongResult) return 'YANLIŞ'
      return 'BOŞ'
    },

    correctResult() {
      return this.isLocked && this.result === true
    },

    wrongResult() {
      return this.isLocked && this.result === false
    },
  },
}
</script>

<template>
  <transition name="stamp-fade-in" mode="out-in">
    <div class="result-stamp" v-if="isLocked">
      <div
        class="result-stamp-body"
        :class="{
          'is-correct': correctResult,
          'is-wrong': wrongResult,
        }"
      >
        <div class="result-stamp-body__title">
          <span>{{ stampText }}</span>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/transitions';

.result-stamp {
  position: absolute;
  height: 7.5rem;
  width: 7.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  &-body {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.25;
    transform: translate(-50%, -50%) rotate(-25deg) scale(1);
    width: 7.5rem;
    height: 7.5rem;
    border: 0.25rem solid currentColor;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $c-default;
    pointer-events: none;
    user-select: none;

    &.is-correct {
      color: $c-success;
    }

    &.is-wrong {
      color: $c-error;
    }

    &__title {
      align-self: stretch;
      text-align: center;
      border-top: 0.25rem solid;
      border-bottom: 0.25rem solid;
      border-color: currentColor;
      padding: 0.25rem;
      font-weight: 900;
      font-size: 1.2rem;
      line-height: 1;
    }
  }
}
</style>
