<template>
  <div class="select" v-on-clickaway="closeSelect" :class="[selectOpen ? 'active' : '']">
    <div
      class="select-header"
      :class="{
        active: selected || currentOption !== null,
        open: selectOpen,
        disabled: isDisabled
      }"
      @click="selectToggle"
    >
      <div class="select__title" v-if="currentOption === null">
        {{ title }}
      </div>
      <div
        class="select__title only-tablet select__sort-icon"
        :class="{ unfiltered: currentOption === null }"
      >
        <img :src="sortIcon" class="icon" alt />
      </div>
      <span class="icon-font" v-if="currentOption !== null && options[currentOption].icon">
        <img :src="options[currentOption].icon" alt="" class="icon" />
      </span>
      <span class="icon-font" v-if="currentOption !== null && optionIcons">
        <img
          v-if="options[currentOption].key !== 'all'"
          :src="require(`@/assets/img/app-${options[currentOption].key}.svg`)"
          alt=""
          class="icon"
        />
      </span>
      <span
        class="select__dot"
        v-if="selected && options[currentOption].icon"
        :class="`bg-${selectedItem.type}`"
      ></span>
      <div class="select__title" v-if="currentOption !== null">
        {{
            options[currentOption].label ||
            options[currentOption].name ||
            options[currentOption].title
        }}
      </div>

      <span class="select__caret"></span>
    </div>
    <div class="select__wrp" :class="[selectOpen ? 'active' : '']">
      <div class="select__list">
        <div
          class="select__option"
          v-for="(option, index) in options"
          :key="index"
          :data-value="option.value"
          :selected="index === currentOption"
          :class="[
            { selected: index === currentOption },
            { passive: disabledItems.indexOf(index) >= 0 }
          ]"
          @click="selectItem(index, option.value)"
        >
          <span class="icon-font" v-if="option.icon">
            <img :src="option.icon" alt="" class="icon" />
          </span>
          <span class="icon-font" v-if="optionIcons">
            <img
              v-if="option.key !== 'all'"
              :src="require(`@/assets/img/app-${option.key}.svg`)"
              class="icon"
            />
          </span>
          <div class="select__dot" v-if="option.type" :class="`bg-${option.type}`"></div>
          <div class="select__option-title">
            {{ option.label || option.name || option.title }}
          </div>
        </div>
      </div>
    </div>

    <select hidden>
      <option
        v-for="(option, $index) in options"
        :key="$index"
        :value="option.value"
        :selected="currentOption === $index"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
export default {
  mixins: [clickaway],
  name: 'SelectBox',
  components: {},
  data() {
    return {
      // title: 'Seçiniz',
      currentOption: null,
      selected: false,
      selectOpen: false,
      label: ''
    }
  },
  props: {
    useFor: String,
    isDisabled: Boolean,
    optionIcons: Boolean,
    disabledItems: {
      type: Array,
      default: () => []
    },
    options: {
      type: Array,
      require: true
    },
    title: {
      type: String,
      default: 'Seçiniz'
    },
    sortIcon: {
      type: String,
      default: 'Sırala'
    }
  },

  watch: {
    options(e) {
      let findElem = e[this.currentOption]
      if (findElem === undefined) this.clearSelect()
    }
  },

  methods: {
    selectItem(index, value) {
      this.currentOption = index
      this.selected = true
      this.selectOpen = false
      this.$emit('onselect', this.options[index])
    },
    selectToggle() {
      this.selectOpen = !this.selectOpen
    },
    closeSelect() {
      this.selectOpen = false
    },
    clearSelect() {
      this.currentOption = null
      this.selected = false
    }
  },
  computed: {
    selectedItem() {
      const r = this.selected ? this.options[this.currentOption] : null
      return r
    }
  },
  created () {
    this.options.forEach((optionItm, index) => {
      if (optionItm.selected) {
        // console.log(console.log(',optionItm ', index, optionItm.label, optionItm.value))
        this.currentOption = index
        this.selected = true
        this.selectOpen = false
      }
    })
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/selectbox';

.select-header {
  &.disabled {
    pointer-events: none;
  }
}
</style>
