<script>
import { mixin as clickaway } from 'vue-clickaway'
import { notifier } from '../common/helpers'

export default {
  name: 'ShareModal',
  mixins: [clickaway],
  props: {
    shareText: {
      type: String,
      default: 'https://www.remzihoca.com/sozluk',
    },
    links: {
      type: Object,
    },
    sharableText: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      copied: false,
    }
  },

  computed: {
    copyBtnText() {
      return this.copied ? 'Kopyalandı!' : 'Kopyala'
    },
  },

  methods: {
    close() {
      this.$emit('closeModal', true)
      console.log('text')
    },

    copy() {
      this.$copyText(this.shareText).then(
        e => {
          this.copied = true
          setTimeout(() => (this.copied = false), 1000)
          notifier.success('Bağlantı kopyalandı.')
        },
        function(e) {
          console.info(e)
        }
      )
    },
  },
}
</script>
<template>
  <div class="share-popup">
    <div class="share-popup__header" slot="header">
      <div class="plan-modal-header__title">Paylaş</div>
      <v-button
        @click.native="close"
        class="modal__close modal-main-close"
        icon="icon-close"
        icon-position="right"
      />
    </div>
    <div class="share-popup__content">
      <a
        target="_blank"
        class="button button--circle simple share-popup__btn"
        v-tooltip="'Facebook\'ta Paylaş'"
        :href="links.facebook"
      >
        <dynamic-icon type="icon-facebook" />
      </a>
      <a
        target="_blank"
        class="button button--circle simple share-popup__btn"
        v-tooltip="'Twitter\'da Paylaş'"
        :href="links.twitter"
      >
        <dynamic-icon type="icon-twitter" />
      </a>
      <a
        target="_blank"
        class="button button--circle simple share-popup__btn"
        v-tooltip="'Pinterest\'te Paylaş'"
        :href="links.pinterest"
      >
        <dynamic-icon type="icon-pinterest" />
      </a>
      <a
        target="_blank"
        class="button button--circle simple share-popup__btn"
        v-tooltip="'LinkedIn\'de Paylaş'"
        :href="links.linkedin"
      >
        <dynamic-icon type="icon-linkedin" />
      </a>
    </div>
    <div class="share-popup__link" v-show="sharableText">
      <div class="share-popup__copy-link" ref="text">{{ shareText }}</div>
      <div class="share-popup__copy-btn">
        <button class="button button--text" type="button" @click.prevent="copy">
          <span class="button__wrp">
            <span class="button__txt" ref="button">{{ copyBtnText }}</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
.share-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fbfdfe;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(41, 53, 108, 0.1),
    0 0 0 2000px rgba(41, 53, 108, 0.1);
  .plan-modal-header {
    padding: 25px;

    &__title {
      color: #4545a2;
      font-weight: 700;
      font-size: 29px;
      line-height: 1.3em;
      margin-bottom: 10px;

      @include bp(tablet) {
        font-size: 20px;
        line-height: 1.1em;
      }
    }

    &__txt {
      color: #818baa;
      opacity: 0.8;
      font-size: 16px;
    }
  }

  @include bp(tablet) {
    width: 95%;
  }

  &__header {
    padding: 15px 25px 5px 25px;
  }

  .modal__close {
    top: 54px;
    padding: 10px;
    position: absolute;
    transform: translateY(-100%);
    border-radius: 50%;
    color: #4545a1;
    font-size: 15px;
    width: 41px;
    height: 41px;
    min-height: initial;
    right: 20px;
    opacity: 0.3;
    z-index: 9;
  }

  &__content {
    background: #f6f9fb;
    border-top: 1px solid #dde3eb;
    border-bottom: 1px solid #dde3eb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px;
  }

  &__btn {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;

    &:first-child {
      color: #195689 !important;
    }

    &:nth-child(2) {
      color: #42a3c7 !important;
    }

    &:nth-child(3) {
      color: #e50012 !important;
    }

    &:last-child {
      color: #466b8a !important;
    }
  }

  &__link {
    background: #fbfdfe;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  &__copy-link {
    background: #f6f9fb;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #dde3eb;
    border-right: none;
    color: $c-secondary;
    overflow: hidden;
    overflow-x: auto;
    padding-right: 20px;
  }

  &__copy-btn {
    background: #f6f9fb;
    border-radius: 0 5px 5px 0;
    padding: 5px 15px 5px 10px;
    border: 1px solid #dde3eb;
    border-left: none;
    color: $c-primary;
    font-weight: 600;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -25px;
      top: 0;
      width: 25px;
      height: 100%;
      background-image: linear-gradient(
        to left,
        rgba(246, 249, 251, 1),
        rgba(246, 249, 251, 0)
      );
    }

    .button {
      padding: 0;
      font-size: 16px;
    }
  }
}
</style>
