<template>
  <div>
    <div class="overlay" :class="{ active: showGroups }" @click="hideGroups"></div>
    <div class="subpage-header" :style="{ background: background }">
      <container>
        <div class="subpage-header__wrp" :class="showGuideSection ? 'opn' : ''">
          <router-link :to="currentApp" class="subpage-header__head">
            <div class="subpage-header__icon">
              <img :src="icon" alt class="icon" />
            </div>
            <div class="subpage-header__title">{{ title }}</div>
          </router-link>

          <v-button
            @click.native="toggleGuideSection"
            v-if="!tabs"
            class="transparent ml-auto subpage-tab-guide-btn"
            icon="icon-help-circle"
            icon-position="right"
          />

          <div class="progress-section" v-if="Object.keys(currentGroup).length > 0">
            <transition name="scale-fade">
              <div class="progress-section__icon" v-if="currentGroup.id !== -1">
                <transition name="icon-fade-left">
                  <img :src="currentGroup.icon" class="icon" alt />
                </transition>
              </div>
            </transition>
            <div class="progress-section__cnt">
              <Progress :progress-val="currentGroup.progress" height="14" />
              <div class="progress-section__content">
                <div class="progress-section-ctr">
                  <div class="progress-section-ctr__item">
                    <span class="progress-section-ctr__dot"></span>
                    <div class="progress-section-ctr__title">Başlamadı</div>
                  </div>

                  <div class="progress-section-ctr__item">
                    <span class="progress-section-ctr__dot bg-blue"></span>
                    <div class="progress-section-ctr__title">Devam ediyor</div>
                  </div>

                  <div class="progress-section-ctr__item">
                    <span class="progress-section-ctr__dot bg-green"></span>
                    <div class="progress-section-ctr__title">Tamamlandı</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progress-section-val">
              <div class="progress-section-val__title">
                {{ currentGroup.progress }}
                <small>%</small>
              </div>
              <span class="progress-section-val__txt">Tamamlandı</span>
            </div>
          </div>

          <v-button
            @click.native="toggleGuideSection"
            class="transparent subpage-tab-guide-btn cluebank-guide-btn dictionary-guide-btn dct-guide-btn digibook-guide-btn-only-mobile reading-guide-btn-only-mobile wordy-guide-btn-only-mobile"
            icon="icon-help-circle"
            icon-position="right"
          />
        </div>

        <slide-up-down
          :duration="600"
          class="header-guide"
          :class="showGuideSection ? 'opn' : ''"
          :active="showGuideSection"
        >
          <div class="subpage-guide" :class="{ active: showGuideSection }">
            <v-button
              @click.native="toggleGuideSection"
              class="transparent subpage-tab-guide-btn subpage-tab-guide-btn--inside"
              icon="icon-close"
              icon-position="right"
            />
            <div class="subpage-guide__inf" v-if="appData.what">
              <div class="subpage-guide__header">
                <span class="icon-font">
                  <svg-icon type="icon-help-bubble" />
                </span>
                <div class="subpage-guide__title">{{ appData.what.title }}</div>
              </div>
              <div class="subpage-guide__cnt">
                <p class="subpage-guide__txt">{{ appData.what.text }}</p>
              </div>
            </div>

            <div
              class="subpage-guide__video"
              @click="openVideoModal(appData.video.url)"
              v-if="appData.video"
            >
              <!--<img :src="require('@/assets/img/' + video.cover)" alt="" class="subpage-guide__cover"> TODO grup ikonları.-->
              <img :src="appData.video.cover" alt class="subpage-guide__cover" />
              <div class="subpage-guide__overlay">
                <span class="subpage-guide__play">
                  <span class="button__wrp" :style="{ background: background }">
                    <span class="button__icon">
                      <svg-icon type="icon-play" />
                    </span>
                  </span>
                </span>
              </div>
            </div>

            <div class="subpage-guide__inf" v-if="appData.howWorks">
              <div class="subpage-guide__header">
                <span class="icon-font">
                  <svg-icon type="icon-lamp" />
                </span>
                <div class="subpage-guide__title">{{ appData.howWorks.title }}</div>
              </div>
              <div class="subpage-guide__cnt">
                <p class="subpage-guide__txt">{{ appData.howWorks.text }}</p>
                <!-- <v-button
                  class="button--white subpage-guide__btn"
                  icon="icon-help-circle"
                  icon-position="left"
                  title="HIZLI BİR TUR AT"
                />-->
              </div>
            </div>
          </div>
        </slide-up-down>
        <div class="subpage-tab" v-if="tabs">
          <div class="subpage-tab__linear-effect" :style="{ background: linearEffect }"></div>
          <div
            class="subpage-tab__linear-effect subpage-tab__linear-effect--left"
            :style="{ background: linearEffect }"
          ></div>
          <div class="subpage-tab-list subpage-tab-list-only-desktop" v-if="tabs.length > 0">
            <div
              class="subpage-tab__item"
              v-for="(tabs, $index) in tabs.slice(0, 4)"
              :key="$index"
              :class="{ active: $index === currentTab }"
              ref="tabItem"
              @click="showTab(tabs, $index)"
            >
              <span class="subpage-tab__icon" v-if="tabs.group !== 'all'">
                <img :src="tabs.icon" alt="tabicon" class="icon" />
              </span>
              <span>{{ tabs.title }}</span>
            </div>
          </div>
          <div class="subpage-tab-list subpage-tab-list-only-laptop" v-if="tabs.length > 0">
            <div
              class="subpage-tab__item"
              v-for="(tabs, $index) in tabs.slice(0, 100)"
              :key="$index"
              :class="{ active: $index === currentTab }"
              ref="tabItem"
              @click="showTab(tabs, $index)"
            >
              <span class="subpage-tab__icon" v-if="tabs.group !== 'all'">
                <img :src="tabs.icon" alt="tabicon" class="icon" />
              </span>
              <span>{{ tabs.title }}</span>
            </div>
            <div class="subpage-tab__item subpage-tab__spacing"></div>
          </div>
          <div class="subpage-tab-ctr">
            <div
              class="subpage-tab-more subpage-tab-list-only-desktop"
              v-if="tabs.length > 4"
              :class="{ active: showGroups }"
              v-show="tabs.length > 4"
            >
              <button class="button button--dots subpage-tab-more__btn" @click="toggleGroups">
                <span class="dots dots--vertical"></span>
                <svg-icon type="icon-close" />
              </button>
              <transition name="fade-down-alt">
                <div class="subpage-tab-dropdown" v-show="showGroups">
                  <div class="subpage-tab-dropdown__wrp">
                    <div class="subpage-tab-dropdown__top">
                      <div class="subpage-tab-dropdown__title">Diğer Ders Gruplarım</div>
                    </div>
                    <div class="subpage-tab-dropdown__list">
                      <div
                        class="group-item"
                        v-for="(tab, $index) in tabs.slice(4, tabs.length)"
                        :key="$index"
                        @click="showTabDropdown(tab, $index)"
                      >
                        <span class="group-item__icon">
                          <img :src="tab.icon" alt="asd" class="icon" />
                        </span>
                        <div class="group-item__name">{{ tab.title }}</div>
                      </div>
                    </div>
                    <div class="subpage-tab-dropdown__bottom">
                      <div class="subpage-tab-dropdown__txt">
                        Tüm içerikleri tamamladıysanız yeni içerikler satın
                        alabilirsiniz.
                      </div>
                      <v-button
                        class="subpage-tab-dropdown__button fw purple-light"
                        icon-position="left"
                        :img="require('@/assets/img/store-circle.svg')"
                        title="YENİ GRUP SATIN AL"
                      />
                    </div>
                  </div>
                </div>
              </transition>
            </div>
            <v-button
              @click.native="toggleGuideSection"
              class="transparent subpage-tab-guide-btn"
              icon="icon-help-circle"
              icon-position="right"
              v-if="
                currentRouteName != 'ClueBank' ||
                  currentRouteName != 'Dictionary'
              "
            />
          </div>
        </div>
      </container>
      <modal :active="videoModalActive" modal-class="modal-video" @onModalClose="modalClose">
        <div class="modal__content" slot="content">
          <div class="modal-video__wrp">
            <iframe
              class="modal-video__iframe"
              v-if="video"
              :src="video.url"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen
            ></iframe>
            <transition name="fade">
              <div class="modal-video__overlay js-youtube-iframe-overlay" v-if="showVideoOverlay">
                <v-button
                  class="gray button--circle"
                  icon="icon-play"
                  icon-position="left"
                  @click.native="playVideo"
                />
              </div>
            </transition>
          </div>
        </div>
      </modal>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import Modal from '@/components/Modal'
import Progress from '@/components/Progress'

export default {
  name: 'SubpageHeader',
  props: {
    app: {
      type: String,
    },
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    background: {
      type: String,
      default: '',
    },
    linearEffect: {
      type: String,
      default: '',
    },
    guide: {
      type: Object,
      default: () => { },
    },
    what: {
      type: Object,
      default: () => { },
    },
    howWorks: {
      type: Object,
      default: () => { },
    },
    video: {
      type: Object,
      default: () => { },
    },
  },
  components: {
    Modal,
    Progress,
  },
  data() {
    return {
      appData: {},
      showGuideSection: false,
      videoSrcTemp: '',
      showVideoOverlay: true,
      showIcon: true,
      videoModalActive: false,
      showGroups: false,
      currentTab: null,
      currentGroup: {},
      type: null,
      tabs: [],
      tabStorage: [],
      links: [
        {
          name: 'dictionary',
          link: '/sozluk',
        },
        {
          name: 'documents',
          link: '/dokuman',
        },
        {
          name: 'readings',
          link: '/okuma',
        },
        {
          name: 'digibook',
          link: '/digibook',
        },
        {
          name: 'wordy',
          link: '/wordy',
        },
        {
          name: 'cluebank',
          link: '/ipucu-havuzu',
        },
      ],
    }
  },
  computed: {
    currentRouteName() {
      return this.$route.name
    },
    currentApp() {
      let el = this.links.find(el => el.name === this.app)
      return el.link
    },
  },
  methods: {
    async getApp() {
      const app = this.$props.app
      const response = await Vue.$axios('GET', `/${app}/info`)
      this.appData = response.data
      if (response.data.groups !== undefined) {
        this.tabs = response.data.groups
        const lastTab = parseInt(localStorage.getItem('lasttab')) || -1
        this.currentGroup = _.find(this.tabs, group => group.id === lastTab)
        this.currentTab = _.findIndex(
          this.tabs,
          tabindex => tabindex.id === lastTab,
        )
        this.$emit('setGroup', this.currentGroup.id)
      }
      if (app === 'documents') {
        this.$emit('categoriesLoaded', response.data.categories)
      }
      if (app === 'readings') {
        this.$emit('levelsLoaded', response.data.levels)
      }
    },
    getLastLocal() {
      return parseInt(localStorage.getItem('lasttab')) || -1
    },
    toggleGuideSection() {
      this.showGuideSection = !this.showGuideSection
    },
    modalClose() {
      this.video.url = this.videoSrcTemp
      this.videoModalActive = false
      this.showVideoOverlay = true
    },
    openVideoModal() {
      this.videoModalActive = true
    },
    playVideo() {
      this.videoSrcTemp = this.video.url
      this.video.url = this.video.url + '&autoplay=1'
      this.showVideoOverlay = false
    },
    showTab(tab, index) {
      if (index !== this.currentTab) {
        this.currentGroup = tab
        this.currentTab = index
        this.showIcon = false
        setTimeout(() => {
          this.showIcon = true
        }, 230)
        this.$emit('onTabClick', tab, index)
      }
    },
    showTabDropdown(tab, index) {
      let extract = this.tabs[4 + index]
      this.tabs.splice(4 + index, 1)
      this.tabs.splice(3, 0, extract)
      this.currentTab = 3
      this.showGroups = false
      this.$emit('onTabClick', tab, index)
    },
    toggleGroups() {
      this.showGroups = !this.showGroups
    },
    hideGroups() {
      this.showGroups = false
    },
    setInitialTab() {
      let lastId = parseInt(localStorage.getItem('lasttab'))
      this.tabs.find(x => {
        if (x.id === lastId) {
          let inx = this.tabs.indexOf(x)
          this.currentGroup = x
          this.currentTab = inx
        }
      })
    },
    firstTab() {
      this.currentGroup = this.tabs[0]
      this.currentTab = 0
    },
    memorizeTab() {
      return (
        this.$route.params.memorize === undefined ||
        this.$route.params.memorize === null ||
        this.$route.params.memorize === false
      )
    },
    setTab() {
      if (!this.memorizeTab()) {
        return false
      }
      localStorage.setItem('lasttab', -1)
    },
  },
  mounted() { },
  created() {
    // this.setTab()
    this.getApp()
  },
}
</script>

<style lang="scss">
@import '../assets/scss/components/subpage-header';
@import '../assets/scss/components/subpage-tab';
@import '../assets/scss/components/progress';
.icon-fade-left-enter-active {
  transition: all 0.25s ease-in-out;
}
.icon-fade-left-leave-active {
  transition: all 0.25s ease-in-out;
}
.icon-fade-left-enter {
  transform: translateX(8px);
  opacity: 0;
  pointer-events: none;
}
.icon-fade-left-leave-to {
  transform: translateX(-8px);
  opacity: 0;
  pointer-events: none;
}
</style>
