<template>
  <div class="sub-tab">
    <div class="sub-tab__list">
      <div class="sub-tab__item"
        v-for="tab in tabs"
        :key="tab.id"
        :class="[{ active: tab.active }]"
        @click="showTab(tab.id)" >
        {{ tab.text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SubTab',
  props: {
    tabs: Array
  },
  methods: {
    showTab (id) {
      this.tabs.forEach((item, index) => {
        item.active = false
      })

      this.tabs[id].active = true
    }
  }
}
</script>

<style scoped>

</style>
