<template>
  <label class="toggle-input">
    <span class="toggle-input__title" v-if="title">{{ title }}</span>
    <span class="toggle">
      <input type="checkbox"
             :checked="checked" class="toggle__input"
             @change="checked = !checked">
      <span class="toggle-box">
      <span class="toggle-circle"></span>
    </span>
    </span>
  </label>
</template>

<script>
export default {
  name: 'ToggleInput',
  props: {
    checked: Boolean,
    title: String
  }
}
</script>

<style lang="scss">
  .toggle {
    display: inline-flex;
    margin: 0;

    &__input:checked ~ .toggle-box {
      .toggle-circle {
        background: #7ce777;
        transform: translateX(22px);
      }
    }

    &__input {
      display: none;
    }

    &-box {
      display: inline-flex;
      align-items: center;
      width: 45px;
      height: 21px;
      border: 1px solid #d9e1ea;
      background: #fff;
      border-radius: 20px;
      padding: 5px 3px;
      cursor: pointer;
    }

    &-circle {
      background: #bec9d4;
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%;
      transition: all .3s ease-in-out;
    }

    &-input {
      display: flex;
      align-items: center;

      &__title {
        font-size: 21px;
        font-weight: 700;
        color: #546391;
        margin-right: 15px;
      }

    }
  }
</style>
