<template>
  <div class="translate-tooltip" :class="{ 'can-visible': visible }">
    <transition name="tooltip-fade-down">
      <div class="translate-tooltip__open" v-if="active" :class="tooltipClass">
        <p class="translate-tooltip__translate" :class="translateClass"></p>
        <span class="translate-tooltip__caret"></span>
      </div>
    </transition>
    <highlightable slot="content" :translatable="isTranslatable">
      <div
        class="translate-tooltip__title"
        :class="[textClass, { active: active }]"
        v-tooltip="translate"
        v-html="text"
      ></div>
    </highlightable>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import Highlightable from '@/components/Highlightable'

export default {
  name: 'TranslateTooltip',
  components: {
    Highlightable
  },
  mixins: [clickaway],
  props: {
    translate: String,
    translateClass: String,
    text: String,
    textClass: String,
    tooltipClass: String,
    visible: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      active: false
    }
  },
  computed: {
    isTranslatable() {
      return this.$store.getters.highlightText.status
    }
  }
}
</script>

<style lang="scss">
@import '@/../../assets/scss/_variables.scss';
.translate-tooltip {
  position: relative;
  z-index: 12;

  &.can-visible {
    .translate-tooltip__title:hover {
      background: #f4f7fb;
    }
  }

  &__open {
    position: absolute;
    background: #5657ab;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    transform: translateY(-100%);
    left: 0;
    top: 0;
    margin-top: -15px;
    transition: all 0.3s;
  }

  &__translate {
    color: #fff;
    padding: 0;
    padding-left: 15px;
    font-size: 17px;
    border-left: 3px solid rgba(198, 211, 228, 0.3);
    font-style: italic;
    font-weight: 500;
  }

  &__title {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active {
      /*background: #c6d3e4;*/
      background: #e7ebf2;
      color: $c-secondary;

      &:hover {
        background: #e7ebf2;
      }
    }
  }

  &__caret {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;

    &:after {
      content: '';
      position: absolute;
      display: block;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid #5554ad;
      bottom: 2px;
      left: 0;
      transition: all 0.3s;
      transform: translateY(100%);
    }
  }
}
.tooltip-fade-down-enter-active {
  transition: all 0.25s ease-in-out;
}
.tooltip-fade-down-leave-active {
  transition: all 0.25s ease-in-out;
}
.tooltip-fade-down-enter {
  transform: translateY(-115%);
  opacity: 0;
}
.tooltip-fade-down-leave-to {
  transform: translateY(-115%);
  opacity: 0;
}
</style>
