<template>
  <div class="user-apps">
    <div class="user-apps__title">
      <span v-if="favoriteApps.length > 0">{{ title }}</span>
      <span v-else class="only-tablet">Sık Kullanılanlara Ekle</span>
    </div>
    <div class="user-apps__cnt">
      <div class="app-box__group" v-if="favoriteApps.length > 0">
        <div class="app-box" v-for="app in favoriteApps" :key="app.id">
          <router-link :to="app.link" class="app-box__link">
            <div class="app-box__icon">
              <img
                :src="require(`@/assets/img/app-${app.name}.svg`)"
                alt
                class="icon"
              />
            </div>
            <div class="app-box__name">{{ app.title }}</div>
          </router-link>
        </div>
      </div>
      <button
        class="user-apps__add"
        @click="openApps"
        v-if="editable"
        v-tooltip.bottom-end="{
          content: 'Sık Kullanılanları Düzenle',
          classes: 'tooltip-singleline',
          offset: '5',
        }"
      >
        <span class="plus"></span>
      </button>
    </div>

    <transition name="fade-up">
      <div class="user-apps-dropdown" v-if="showApps">
        <div class="user-apps-dropdown__wrp">
          <div class="user-apps-dropdown__top">
            <div class="user-apps-dropdown__title">Sık Kullanılanlarım</div>
            <div class="user-apps-dropdown__txt">
              En sık kullandığınız 3 uygulamayı seçerek hızlıca erişebilirsiniz.
            </div>
            <div
              class="mobile-menu__top--close-icon only-tablet-flex"
              @click="hideApps"
            >
              <svg-icon type="icon-close"></svg-icon>
            </div>
          </div>
          <div class="user-apps-dropdown__list">
            <div
              class="app-item"
              v-for="app in usersApps"
              :key="app.name"
              :class="[
                { favorite: app.isFavorited },
                { disabled: hasMaxApps },
                app.name,
              ]"
              @click="toggleFavorite(app)"
            >
              <span class="app-item__fav" v-if="app.isFavorited">
                <svg-icon type="icon-star" />
              </span>
              <div class="app-item__top">
                <div class="app-item__icon">
                  <img
                    :src="require(`@/assets/img/app-${app.name}.svg`)"
                    alt
                    class="icon"
                  />
                </div>
                <div class="app-item__name">{{ app.title }}</div>
              </div>
              <v-button
                class="app-item__add"
                icon="icon-dash"
                v-if="app.isFavorited"
                icon-position="left"
              />
              <v-button
                v-else
                class="app-item__add"
                icon="icon-plus"
                icon-position="left"
              />
            </div>
          </div>
          <div class="user-apps-dropdown__footer" v-if="hasMaxApps">
            Daha fazla uygulama seçemezsiniz.
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { TOGGLE_FAVORITE } from '../store/actions.type'

export default {
  name: 'UserApps',
  props: {
    apps: {
      type: Array,
      default: () => [],
    },
    title: {
      type: String,
      default: '',
    },
    editable: {
      type: Boolean,
      default: true,
    },
    showApps: {
      type: Boolean,
      default: true,
    },
  },

  computed: {
    ...mapGetters(['usersApps', 'hasMaxApps', 'favoriteApps']),
  },

  methods: {
    openApps() {
      this.$emit('onOpenApps')
    },
    hideApps() {
      this.$emit('onHideApps')
    },

    toggleFavorite(app) {
      this.$store.dispatch(TOGGLE_FAVORITE, app)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/scss/components/user-apps';
@import '../assets/scss/components/app-box';
@import '../assets/scss/variables';
.app-item {
  width: calc(33.33% - 5px);
  border: 1px solid #d9e1ec;
  text-align: center;
  position: relative;
  border-radius: 6px;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 0.625rem 0.625rem 1.5rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: $c-secondary;

  @include bp(desktop-s) {
    height: 7.5rem;
    padding: 0.5rem 0.5rem 1.75rem;
  }

  @include bp(tablet) {
    justify-content: flex-start;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    background: #d9e1ec;
    .app-item__top {
      transform: translateY(-15px);
      @include bp(desktop-s) {
        transform: translateY(-0.25rem);
      }
      @include bp(tablet) {
        transform: none;
      }
    }
    .app-item__icon {
      opacity: 1;
      filter: none;
    }
    .app-item__add {
      opacity: 1;
    }
    .app-item__name {
      opacity: 1;
    }
  }

  &.favorite {
    background: #fff;
    box-shadow: 0px 25px 51px 0px rgba(85, 100, 144, 0.14);
    border-color: transparent;
    .app-item__icon {
      opacity: 1;
      filter: none;
    }
    .app-item__name {
      opacity: 1;
    }
    .app-item__add {
      background: #ececf6 !important;
    }
    &.dersler {
      color: $c-alt;
    }
    &.okuma {
      color: $reading;
    }
    /* &.dokumanlar {
      color: red;
    } */
    &.deneme {
      color: $exam;
    }
    /* &.sozluk {
      color: red;
    } */
    /* &.cluebank {
      color: red;
    } */
    &.test {
      color: $test;
    }
    &.wordy {
      color: $wordy;
    }
    &.digibook {
      color: $digibook;
    }
  }
  &__top {
    transition: all 0.2s ease;
  }
  &__icon {
    font-size: 2.25rem;
    margin-bottom: 10px;
    filter: sepia(1) saturate(1) opacity(1) contrast(100%) brightness(85%)
      hue-rotate(170deg);
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    display: inline-flex;

    @include bp(desktop-s) {
      font-size: 1.75rem;
    }

    @include bp(tablet) {
      filter: none;
    }
  }
  &__fav {
    background: #d0b279;
    color: #fff;
    display: inline-flex;
    width: 21px;
    height: 21px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 11px;
  }
  &__name {
    font-weight: 700;
    text-align: center;
    display: block;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

    @include bp(desktop-s) {
      font-size: 0.875rem;
      line-height: 1;
    }

    @include bp(tablet) {
      line-height: 18px;
      white-space: nowrap;
      font-size: 14px;
    }
  }
  &__add {
    position: absolute !important;
    padding: 5px !important;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 25px !important;
    min-height: 25px !important;
    min-height: initial;
    width: 25px !important;
    background: #fff !important;
    border-radius: 50% !important;
    bottom: 10px;
    color: #4646a2;
    font-size: 15px !important;
    transition: all 0.3s ease-in-out;
    @include bp(tablet) {
      bottom: 8px;
    }

    .button__icon {
      font-size: inherit;
    }
  }
}
</style>
