<template>
  <div class="wordy-badges">
    <div class="section-bracket" data-v-step="1">
      <div class="section-bracket__title">ROZET KAZANIMLARIM</div>
      <div class="section-bracket__txt">( {{ getWonCount }} Kazanılmış )</div>
      <hr class="fw" />
      <v-button
        class="default round color-gray plan-edit-btn"
        title="Performansım"
        @click.native="goPerformance"
      />
    </div>
    <!-- <div class="wordy-badges__wrp">
      <div
        v-for="(badge, index) in Badges"
        class="user-badge"
        :key="`badge${index}`"
        :class="{ colorless: !badge.won }"
      >
        <div class="user-badge__wrp">
          <div class="user-badge__top" v-tooltip="badge.description">
            <div class="user-badge__icon">
              <img :src="badge.image" alt class="icon" v-if="badge.won" />
              <img :src="badge.image" alt class="icon" v-else />
            </div>
            <div class="user-badge__title">{{ badge.title }}</div>
          </div>
          <img src="@/assets/img/shape-ribbon.svg" alt class="user-badge__shape" />
        </div>
      </div>
    </div>-->
    <div class="wordy-badges__wrp">
      <swiper :options="badgeSlider" ref="detailTabs">
        <swiper-slide v-for="(badge, index) in Badges" :key="`badge${index}`">
          <div class="user-badge" :class="{ colorless: !badge.won }">
            <div class="user-badge__wrp">
              <div class="user-badge__top" v-tooltip="badge.description">
                <div class="user-badge__icon">
                  <img :src="badge.image" alt class="icon" v-if="badge.won" />
                  <img :src="badge.image" alt class="icon" v-else />
                </div>
                <div class="user-badge__title">{{ badge.title }}</div>
              </div>
              <img src="@/assets/img/shape-ribbon.svg" alt class="user-badge__shape" />
            </div>
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination welcome-swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-prev dictionary-slider__arrow" slot="button-prev">
        <svg-icon type="icon-arrow-left" />
      </div>
      <div class="swiper-button-next dictionary-slider__arrow" slot="button-next">
        <svg-icon type="icon-arrow-right" />
      </div>
    </div>
  </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserBadge',
  components: {
    swiper,
    swiperSlide,
  },
  data() {
    return {
      badgeSlider: {
        autoplay: false,
        keyboard: false,
        autoHeight: false,
        loop: false,
        simulateTouch: true,
        slidesPerView: 8,
        slidesPerGroup: 8,
        // freeMode: true,
        spaceBetween: 0,
        speed: 900,
        pagination: {
          el: '.swiper-pagination',
          // dynamicBullets: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          1350: {
            slidesPerView: 6,
            slidesPerGroup: 6,
          },
          1100: {
            slidesPerView: 5,
            slidesPerGroup: 5,
          },
          768: {
            slidesPerView: 3,
            slidesPerGroup: 3,
          },
          500: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          }
        }
      },
    }
  },
  computed: {
    ...mapGetters({
      Badges: 'wordyRosette/Badges'
    }),
    getWonCount() {
      if (this.Badges) {
        return this.Badges.filter(e => e.won === true).length
      } else {
        return 0
      }
    }
  },
  methods: {
    ...mapActions({
      getBadges: 'wordyRosette/getBadges',
      getBadgeDetails: 'wordyRosette/getBadgeDetails'
    }),
    goPerformance() {
      this.$router.push(`/performansim`)
    }
  },
  created() {
    console.log('calling the badge for user')
    this.getBadges()
    // this.getBadges('user')
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/user-badge';
</style>
