<template>
  <button
    class="button"
    :class="{ 'tooltip-btn': tooltip, 'dynamic-button': dynamicIcon }"
    :disabled="disabled"
    :style="{ opacity: disabled ? 0.35 : 1 }"
  >
    <span class="button__wrp" v-if="!loadingActive">
      <!--icon dynamic-->
      <span class="button__icon" v-if="dynamicIcon">
        <dynamic-icon :type="dynamicIcon" />
      </span>
      <!--icon dynamic-->

      <!--icon left-->
      <span class="button__icon" v-if="icon && iconPosition === 'left'">
        <svg-icon :type="icon" />
      </span>
      <!--img icon left-->
      <span class="button__icon" v-if="img && iconPosition === 'left'">
        <img :src="img" alt class="icon" />
      </span>
      <!--title-->
      <span class="button__txt" v-if="title">{{ title }}</span>
      <!--icon right-->
      <span class="button__icon" v-if="icon && iconPosition === 'right'">
        <svg-icon :type="icon" />
      </span>
      <!--img icon right-->
      <span class="button__icon" v-if="img && iconPosition === 'right'">
        <img :src="img" alt class="icon" />
      </span>
    </span>
    <span class="tooltip single-line" :class="'tooltip--' + tooltipPosition" v-if="tooltip">
      <span class="tooltip__wrp">
        <span class="tooltip__txt">{{ tooltip }}</span>
      </span>
    </span>
    <span class="button-loading" v-if="loadingActive">{{ loadingActiveText }}</span>
  </button>
</template>

<script>
export default {
  name: 'VueButton',
  props: {
    title: String,
    icon: String,
    dynamicIcon: String,
    img: String,
    iconPosition: String,
    tooltip: String,
    loadingActive: Boolean,
    loadingActiveText: {
      type: String,
      default: 'Yükleniyor...'
    },
    tooltipPosition: {
      type: String,
      default: 'top'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    loadingText() {
      if (this.loadingActiveText !== '') {
        return 'Yükleniyor...'
      } else {
        return this.loadingActiveText
      }
    }
  }
}
</script>

<style scoped></style>
