<template>
  <div class="word-box" :class="{ expanded: expanded }" ref="wordbox">
    <div class="word-box-content" ref="wordbox">
      <div class="word-box__left">
        <transition name="scale-fade" mode="out-in">
          <!-- <div
            style="background: red; height: 100%; width: 100%"
            :key="1"
            v-if="hasVoice && !selectable"
          />
          <div
            style="background: blue; height: 100%; width: 100%"
            :key="2"
            v-if="selectable && !selectedWord"
          />
          <div
            style="background: green; height: 100%; width: 100%"
            :key="3"
            v-if="selectable && selectedWord"
          /> -->

          <BaseButton
            class="word-box-icon__btn"
            v-tooltip="'Dinle'"
            v-if="hasVoice && !selectable"
            :key="1"
            :icon="'voice'"
            :intent="'secondary'"
            :minimal="true"
            @click.native="speak(wordTitle)"
          />
          <BaseButton
            class="word-box-icon__btn"
            v-tooltip="'Ekle'"
            v-if="selectable && !selectedWord"
            :key="2"
            :icon="'plus'"
            :intent="'secondary'"
            @click.native="selectNewWord()"
          />
          <BaseButton
            class="word-box-icon__btn"
            v-tooltip="'Çıkar'"
            v-if="selectable && selectedWord"
            :key="3"
            :icon="'minus'"
            :intent="'primary'"
            :minimal="true"
            @click.native="unSelecWord()"
          />
        </transition>
        <!-- <transition-group>
          <v-button
            @click.native="speak(wordTitle)"
            :key="2"
            class="word-box__voice square default"
            icon="icon-voice"
            v-if="hasVoice && !selectable"
            icon-position="left"
            v-tooltip="'Dinle'"
          />
          <v-button
            :key="3"
            class="square default shadow-none"
            icon="icon-plus"
            icon-position="left"
            v-if="selectable && !selectedWord"
            @click.native="selectNewWord()"
            v-tooltip="'Ekle'"
          />
          <v-button
            :key="4"
            class="square purple shadow-none"
            icon="icon-dash"
            icon-position="left"
            v-if="selectable && selectedWord"
            @click.native="unSelecWord()"
            v-tooltip="'Çıkar'"
          />
        </transition-group> -->
      </div>
      <div class="word-box__cnt">
        <div class="word-box__top linked" @click="$emit('on-word-click', word)">
          <div
            class="word-box__title"
            :class="wordType ? `color-${wordType}` : ''"
          >
            {{
              word.word ||
                word.name ||
                word.title ||
                word.preposition ||
                word.question[2].text
            }}<!--  ---  {{word.id}} -->
          </div>
          <span
            class="word-box__badge"
            v-if="wordType"
            :class="`bg-${wordType}`"
            lang="en"
            v-tooltip="word.type_full"
            >{{ wordType }}</span
          >
        </div>
        <div class="word-box-meaning" v-if="basic">
          <div class="word-box-meaning__title">
            {{
              word.meaning || word.translation || word.definition || word.answer
            }}
          </div>
        </div>
        <div
          class="word-box-meaning"
          v-if="!_.isEmpty(wordMeanings) && !basic"
          :id="`wbm`"
        >
          <div v-if="!showAllMeanings" class="word-box-meaningsline">
            <div
              class="word-box-meaning__item"
              v-for="meaning in wordMeanings.slice(0, 1)"
              :key="meaning.id"
            >
              <div class="word-rate" v-tooltip="meaning.rate_text">
                <span
                  v-for="n in 4"
                  :key="n"
                  :class="{ active: n <= meaning.rate || n <= meaning.level }"
                ></span>
              </div>
              <div class="word-box-meaning__title">
                {{ meaning.name || meaning.title || meaning.definition }}
              </div>
            </div>
            <span
              class="word-box-morebtn"
              @click="more"
              v-if="wordMeanings.length > 1"
              v-tooltip.top="{
                content: 'Kelimenin Diğer Anlamları',
                classes: 'tooltip-singleline',
              }"
              >+{{ wordMeanings.length - 1 }}</span
            >
          </div>
          <div v-if="showAllMeanings" class="word-box-meaning__inner">
            <div
              class="word-box-meaning__item"
              v-for="meaning in wordMeanings"
              :key="meaning.id"
            >
              <div class="word-rate">
                <span
                  v-for="n in 4"
                  :key="n"
                  :class="{ active: n <= meaning.rate || n <= meaning.level }"
                ></span>
              </div>
              <div class="word-box-meaning__title">
                {{ meaning.name || meaning.title || meaning.definition }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
import BaseButton from './Base/BaseButton.vue'
import { textToSpeech } from '../common/tts-helper'

export default {
  name: 'WordBox',
  components: {
    BaseButton,
  },
  data() {
    return {
      editWord: false,
      newWord: '',
      newMeaning: '',
      expanded: false,
      selectedWord: false,
    }
  },
  props: {
    word: Object,
    basic: {
      type: Boolean,
      default: false,
    },
    group: {
      type: String,
      default: '',
    },
    selectable: {
      type: Boolean,
      default: false,
    },
    hasVoice: {
      type: Boolean,
      default: true,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    showAllMeanings: {
      type: Boolean,
      default: false,
    },
    showAddList: {
      type: Boolean,
      default: false,
    },
    selectAllWords: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    _() {
      return _
    },
    meaningsExtra() {
      let data = []
      this.meanings.slice(1).forEach(el => {
        if (el.title) {
          data.push(' ' + el.title)
        } else {
          data.push(' ' + el.name)
        }
      })
      return data
    },

    wordType() {
      return this.word.type || this.word.label
    },

    wordMeanings() {
      return (
        this.word.meaning ||
        this.word.meanings ||
        this.word.translation ||
        this.word.definitions
      )
    },

    wordTitle() {
      return (
        this.word.name ||
        this.word.word ||
        this.word.title ||
        this.word.preposition ||
        this.word.question[2].text
      )
    },

    meanings() {
      if (this.word.meaning) {
        return this.word.meaning
      } else if (this.word.definitions) {
        return [
          {
            title: this.word.definitions,
          },
        ]
      } else if (this.word.meanings) {
        return this.word.meanings
      }
      return [
        {
          title: this.word.translation,
        },
      ]
    },
    ...mapGetters({
      ListDetails: 'wordbookMyList/listDetails',
      selectedWords: 'wordbookplugin/selectedWords',
    }),
  },
  methods: {
    ...mapActions({
      addWordToList: 'wordbookplugin/addWordToList',
      deleteWordToList: 'wordbookplugin/deleteWordToList',
    }),

    speak: textToSpeech,

    edit() {
      this.editWord = true
      this.newWord = this.word.word
      this.newMeaning = this.word.meanings
    },

    more() {
      this.$emit('moreWords', this.word)
    },

    async selectNewWord() {
      this.selectedWord = true
      let newWord = {
        type: this.word.type,
        data: this.word.id,
        is_public: true,
      }
      await this.addWordToList(newWord)
    },

    async unSelecWord() {
      // console.log('unSelecWord')
      this.selectedWord = false
      await this.deleteWordToList(this.word.id)
    },
  },
  watch: {
    showAddList() {
      if (this.showAddList === false) {
        this.selectedWord = false
      }
    },
    selectAllWords(val) {
      if (val) {
        this.selectedWord = true
        this.selectNewWord()
      } else {
        this.selectedWord = false
      }
    },
  },
}
</script>

<style lang="scss">
@import '../assets/scss/components/word-box';
</style>
