<template>
  <div class="dct-word-desc" v-if="samples.length > 0">
    <div
      class="dct-word-desc__item"
      v-for="sample in samples.slice(0, 1)"
      :key="sample.id"
    >
      <highlightable slot="content">
        <div class="dct-word-desc__txt txt-en" v-html="sample.sentence"></div>
      </highlightable>
      <div class="dct-word-desc__txt txt-tr" v-html="sample.translation"></div>
    </div>
    <slide-up-down
      :duration="300"
      v-if="samples.length > 1"
      :active="showMore"
      class="dct-word-desc__list"
      :class="{ active: showMore }"
    >
      <div
        class="dct-word-desc__item"
        v-for="sample in samples.slice(1, samples.length)"
        :key="sample.id"
      >
        <div class="dct-word-desc__txt txt-en" v-html="sample.sentence"></div>
        <div
          class="dct-word-desc__txt txt-tr"
          v-html="sample.translation"
        ></div>
      </div>
    </slide-up-down>
    <button
      @click="viewMore"
      v-if="!showMore && samples.length > 1"
      class="dct-word-desc__more button button--text"
    >
      <span class="button__wrp">
        <BaseIcon :iconName="'plus'" :height="14" />
        <span class="button__txt">{{ samples.length - 1 }} Örnek daha</span>
      </span>
    </button>

    <button
      @click="viewMore"
      v-if="showMore"
      class="dct-word-desc__more active button button--text"
    >
      <span class="button__wrp">
        <BaseIcon :iconName="'minus'" :height="14" />
        <span class="button__txt">Daha az gör</span>
      </span>
    </button>
  </div>
</template>

<script>
import Highlightable from '@/components/Highlightable'
import BaseIcon from './Base/BaseIcon.vue'

export default {
  name: 'WordDetailItemDesc',
  props: {
    samples: Array,
  },
  components: {
    Highlightable,
    BaseIcon,
  },
  data() {
    return {
      showMore: false,
    }
  },
  methods: {
    viewMore() {
      this.showMore = !this.showMore
    },
  },
}
</script>

<style lang="scss" scoped>
.dct-word-desc__more {
  margin-left: -5px;

  &::v-deep .b-icon {
    margin-right: 0.75rem !important;
  }
}
</style>
