<template>
  <div class="word-detail-item">
    <div class="word-detail-item__content">
      <div class="fw">
        <div class="word-detail-item__word" @dblclick="editWord = true">{{ word }}</div>
        <div class="word-detail-item__desc" @dblclick="editWord = true">{{ desc }}</div>
      </div>
      <div class="word-detail-item__buttons">
        <v-button
          class="word-detail-item__btn"
          icon="icon-edit"
          icon-position="right"
          @click.native="editWord = true"
        />

        <v-button
          class="word-detail-item__btn"
          icon="icon-trash"
          icon-position="right"
        />
      </div>
    </div>
    <transition name="fade">
      <div class="word-detail-item__edit" v-if="editWord">
        <div class="fw">
          <input type="text" :autofocus="editWord" v-model="word" class="word-detail-item__word edit-input">
          <input type="text" v-model="desc" class="word-detail-item__desc edit-input">
        </div>
        <div class="word-detail-item__buttons">
          <v-button
            class="word-detail-item__btn"
            icon="icon-close"
            icon-position="right"
            @click.native="editWord = false"
          />

          <v-button
            class="word-detail-item__btn"
            icon="icon-check"
            icon-position="right"
            @click.native="editWord = false"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'WordBookDetailItem',
  props: {
    id: Number,
    word: String,
    desc: String
  },
  data () {
    return {
      editWord: false
    }
  }
}
</script>

<style scoped>

</style>
