<template>
  <div class="word__item">
    <div class="word-header">
      <div class="word-header__left">
        <v-button
          @click.native="speak(word.title)"
          class="word-voice square default"
          icon="icon-voice"
          icon-position="left"
          v-tooltip.top="'Dinle'"
        />
      </div>
      <div class="word-header__cnt">
        <router-link
          :to="{ name: 'DictionaryResult', params: { word: word.title } }"
          class="word-header__title"
          :class="`color-${word.type}`"
          >{{ word.title }}</router-link
        >
        <span
          class="word__badge"
          :class="`bg-${word.type}`"
          lang="en"
          v-tooltip="capitalize(word.type)"
        >
          {{ word.type_short }}
        </span>
      </div>
      <div class="word-header__right">
        <v-button
          class="word-header__ctr"
          icon="icon-print"
          icon-position="left"
          tooltip="Yazdır"
          v-if="print"
        />
        <v-button
          class="word-header__ctr"
          icon="icon-share"
          icon-position="left"
          v-tooltip="'Paylaş'"
          @click.native="openShareModal"
        />
      </div>
    </div>
    <div class="word__cnt">
      <div class="word-desc" v-for="meaning in word.meanings" :key="meaning.id">
        <div class="word-desc__top">
          <div class="dct-word-rate__cnt" v-tooltip="levelText[meaning.level - 1]">
            <div class="dct-word-rate">
              <span v-for="n in 4" :key="n" :class="{ active: n <= meaning.level }"></span>
            </div>
          </div>
          <div class="word-desc-info">
            <div class="word-desc__title">{{ meaning.title }}</div>
            <div class="word-desc-info__meanings">
              <span v-for="(alt, index) in meaning.alternative_meanings" :key="index"
                >{{ alt }}<i v-if="index < meaning.alternative_meanings.length - 1">, </i></span
              >
            </div>
          </div>
        </div>
        <div class="word-desc__bottom">
          {{ meaning.tr_description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { textToSpeech } from '../common/tts-helper'

export default {
  name: 'WordItem',
  props: {
    word: Object,
    from: String,
    print: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    levelText() {
      return Object.values(this.word.levels)
    }
  },
  methods: {
    speak: textToSpeech,
    capitalize(word) {
      return word.charAt(0).toUpperCase() + word.slice(1)
    },

    openShareModal() {
      this.$emit('shareWord', this.word.title)
    }
  },
  created() {
    if (this.$props.from === 'dictionary') {
      this.$props.word.meanings = this.$props.word.meanings.slice(0, 1)
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/word';
</style>
