<template>
  <div class="word-book__item" :class="[ active ? 'active' : '' ]">
    <div class="word-book-header">
      <dynamic-icon class="word-book-header__icon" :class="[ active ? 'active' : '' ]" :type="icon"/>
      <div>
        <div class="word-book-header__date"> {{ date }}</div>
        <div class="word-book-header__title">{{ title }}</div>
      </div>
    </div>

    <div class="word-book__cnt">
      <div class="word-book-ctr">
        <span class="word-book-ctr__subtitle">Kayıtlı Terim</span>
        <div class="word-book-ctr__title">{{ count }} Kelime</div>
      </div>

      <v-button
        class="word-book-add"
        icon="icon-plus"
        icon-position="right"
        title="EKLE"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'WordBookItem',
  props: {
    icon: String,
    date: String,
    title: String,
    count: String,
    active: Boolean
  }
}
</script>

<style scoped>

</style>
