<template>
  <div class="word-book__item" :class="{ active : active }">
    <div class="word-book-inf">
      <div class="word-book-inf__left fw" @click="toggleWord">
        <v-button
          class="word-book-inf__voice square default"
          icon="icon-voice"
          icon-position="left"
          tooltip="Dinle"
        />
        <div class="word-book-inf__cnt">
          <div class="word-book-inf__word">
            <div class="word-book__title">{{ word.word }}</div>
          </div>
          <div class="word-book-words__wrp">
            <div class="word-book-words__item">
              <div class="word-book-words__txt">{{ word.meaning.word }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="word-book-status">
        <div class="word-book-status__left">
          <div class="word-book-rate">
            <v-button
              class="word-book-rate__button down"
              icon="icon-caret-down"
              icon-position="left"
              @click.native="downVote"
            />
            <div class="word-book-rate__count">{{ word.rate }}</div>
            <v-button
              class="word-book-rate__button up"
              icon="icon-caret-up"
              icon-position="left"
              @click.native="upVote"
            />
          </div>
        </div>
        <div class="word-book-views">
          <span class="word-book-views__icon">
            <svg-icon type="icon-recycle" />
          </span>
          <span class="word-book-views__count">{{ word.visitedCount }}</span>
        </div>
      </div>
    </div>
    <slide-up-down :duration="600" :active="active">
      <div class="word-book__cnt">
        <div class="word-book-word">
          <div class="word-book-word__cnt">
            <div class="word-book-word__title">{{ word.meaning.word }}</div>
            <div class="word-book-word__subtitle">{{ word.meaning.meaning }}</div>

            <div class="word-book-word__txt">
              {{ word.meaning.egEn }}
            </div>
            <div class="word-book-word__txt text-italic">
              {{ word.meaning.egTr }}
            </div>
          </div>
        </div>
        <div class="word-book-types">
          <div class="word-book-types__title">
            EŞ ANLAMLILARI
          </div>
          <div class="word-book-types__txt">
            {{ word.synonyms.description }}
          </div>
          <div class="word-book-eg">
            <div class="word-book-eg__item" v-for="synonym in word.synonyms.words" :key="synonym.id">
              <div class="word-book-eg__title">
                {{ synonym.word }} <span :class="'color-' + synonym.type">({{ synonym.type.slice(0, 1) }})</span> :
              </div>
              <div class="word-book-eg__txt">
                <span v-for="synonymWord in synonym.meanings" :key="synonymWord.word">
                  {{ synonymWord.word }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide-up-down>
  </div>
</template>

<script>
export default {
  name: 'WordBookPreposition',
  props: {
    word: Object
  },
  data () {
    return {
      active: false
    }
  },
  methods: {
    toggleWord () {
      if (!this.active) {
        this.word.visitedCount++
      }
      this.active = !this.active
    },
    upVote () {
      this.word.rate++
    },
    downVote (index) {
      this.word.rate--
    },
    addWord (meaningIndex) {
      this.word.meanings[meaningIndex].added = !this.word.meanings[meaningIndex].added
    }
  }
}
</script>

<style scoped>

</style>
