<template>
  <div class="dct-word" :class="`color-${type}`">
    <div class="dct-word__item" v-for="(word, $index) in words" :key="word.id">
      <div class="dct-word-header">
        <div class="dct-word-header__left">
          <div class="dct-word-rate">
            <span v-for="n in 4" :key="n" :class="{ active : n <= word.rating }"></span>
            <!--<span></span>-->
            <!--<span class="active"></span>-->
            <!--<span></span>-->
          </div>
          <span class="word__badge" :class="`bg-${type}`" lang="en">{{ type }}</span>
        </div>
        <div class="dct-word-header__cnt">
          <div class="dct-word-header__title" :class="`color-${type}`">{{ word.title }}</div>
          <div class="dct-word-header__desc">{{ word.meaning }}</div>
          <div class="dct-word-header__txt">{{ word.desc }}</div>
        </div>
        <div class="dct-word-header__right" v-if="$index === 0">
          <v-button
            icon="icon-lists"
            icon-position="left"
            class="default button--circle circle-sm dct-word-add-lists"
            tooltip="Kelime Listelerime Ekle"
          />
        </div>
        <span class="badge badge--succes tooltip-btn" v-if="word.yds">
          <span class="icon-font">
            <svg-icon type="icon-star" />
          </span>
          <span class="txt">YDS</span>
          <span class="tooltip tooltip--top single-line">
            <span class="tooltip__wrp">
              <span class="tooltip__txt">
                Bu kelime, bu anlamda <strong>YDS’de doğru cevap</strong> olmuştur.
              </span>
            </span>
          </span>
        </span>
      </div>
      <word-detail-item-desc :samples="word.samples" />
    </div>

    <div class="alert-box__wrp" v-if="alert">
      <div class="alert-box" :class="alert.type" v-html="alert.text"></div>
    </div>
  </div>
</template>

<script>
import WordDetailItemDesc from './WordDetailItemDesc'
export default {
  name: 'WordDetailItem',
  components: {
    WordDetailItemDesc
  },
  props: {
    words: Array,
    type: String,
    alert: Object
  }
}
</script>

<style scoped>

</style>
