<template>
  <div class="word-box">
    <div class="word-box__left">
      <v-button
        @click.native="speak(word)"
        class="word-box__voice square default"
        icon="icon-voice"
        icon-position="left"
        v-tooltip="'Dinle'"
      />
    </div>
    <div class="word-box__cnt">
      <div class="word-box__top">
        <div class="word-box__title">{{ word }}</div>
      </div>
      <div class="word-box-meaning">
        <div class="word-box-meaning__title">{{ meaning }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { textToSpeech } from '../common/tts-helper'

export default {
  name: 'WordBoxBasic',
  props: {
    content: Object
  },
  computed: {
    word() {
      return this.content.word || this.content.name || this.content.title
    },

    meaning() {
      return this.content.meaning || this.content.translation
    }
  },
  methods: {
    speak: textToSpeech
  }
}
</script>

<style lang="scss">
@import '../assets/scss/components/word-box';
</style>
