<script>
import { HANDLE_OTHER_WORDS, SHOW_WORDBOX_MODAL } from '../store/actions.type'
import BaseButton from './Base/BaseButton.vue'
import WordBox from './WordBox.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'WordsList',

  props: {
    title: {
      type: String,
      default: 'Kelimeler',
      required: false,
    },

    words: {
      type: Array,
      default: () => [],
      required: true,
    },

    isBasic: {
      type: Boolean,
      default: false,
      required: false,
    },

    wordType: {
      type: String,
      default: '',
      required: false,
    },

    content: {
      type: String,
      default: '',
    },
  },

  components: {
    WordBox,
    BaseButton,
  },

  data() {
    return {
      wordsListVisible: false,
      wordsSelectable: false,
      allWordsSelected: false,
      wordsLoading: false,
      headerLoading: false,
    }
  },

  computed: {
    ...mapGetters({
      addWordModalVisible: 'wordbookplugin/addWordModal',
    }),
  },

  watch: {
    addWordModalVisible(val) {
      if (!val) {
        this.hideWordsList()
      }
    },
  },

  destroyed() {
    this.hideWordsList()
  },

  methods: {
    ...mapActions({
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      resetWordlist: 'wordbookplugin/resetWordlist',
    }),

    showWordsList() {
      this.setListsLoading()
      this.wordsListVisible = true
    },

    hideWordsList() {
      this.wordsListVisible = false
      this.selectNoneWords()
      this.resetWordlist()
    },

    setWordsSelectable() {
      this.wordsSelectable = true
    },

    selectAllWords() {
      this.setListsLoading()
      this.$nextTick(() => {
        this.allWordsSelected = true
      })
    },

    selectNoneWords() {
      this.setListsLoading()
      this.allWordsSelected = false
    },

    handleAddWordModal(wordtype) {
      let param = { show: true, wordType: wordtype }
      this.setAddWordModal(param)
    },

    async handleOtherWords(word) {
      await this.$store.dispatch(HANDLE_OTHER_WORDS, word)
      this.$store.dispatch(SHOW_WORDBOX_MODAL, true)
    },

    setHeaderLoading() {
      this.headerLoading = true
      setTimeout(() => {
        this.headerLoading = false
      }, 500)
    },

    setListsLoading() {
      this.$emit('loading-words')
      this.wordsLoading = true
      setTimeout(() => {
        this.wordsLoading = false
      }, this.words.length * 2.5)
    },
  },
}
</script>

<template>
  <section class="wordslist">
    <transition-group
      name="fade"
      mode="out-in"
      class="wordslist-header"
      tag="div"
    >
      <div class="wordslist-header-info" :key="1" v-show="!wordsListVisible">
        <b class="wordslist-header-info__title">
          {{ title }}&nbsp;<u>({{ words.length }} adet)</u>
        </b>
        <BaseButton
          class="wordslist-btn wordslist-btn__add"
          :icon="'lists'"
          :iconSize="24"
          :intent="'secondary'"
          :styling="'pill'"
          :text="'Kelime Listesine Ekle'"
          :uppercase="true"
          @click="showWordsList"
        />
      </div>
      <div class="wordslist-header-actions" :key="2" v-show="wordsListVisible">
        <BaseButton
          class="wordslist-btn wordslist-btn__selectall"
          :text="'Tümünü Seç'"
          :intent="'secondary'"
          :styling="'pill'"
          :uppercase="true"
          @click="selectAllWords"
        />
        <BaseButton
          class="wordslist-btn wordslist-btn__main"
          :text="'Kelime Listesine Ekle'"
          :styling="'pill'"
          :intent="'primary'"
          :icon="'plus'"
          :uppercase="true"
          :block="true"
          @click="handleAddWordModal(wordType)"
        />
        <BaseButton
          class="wordslist-btn wordslist-btn__cancel"
          :text="'Vazgeç'"
          :intent="'secondary'"
          :styling="'pill'"
          :uppercase="true"
          :icon="'close'"
          :iconPosition="'right'"
          :iconSize="12"
          @click="hideWordsList"
        />
      </div>
    </transition-group>
    <div class="wordslist-words" :class="{ 'is-loading': wordsLoading }">
      <WordBox
        class="wordslist-words__word"
        v-for="word in words"
        :key="word.id"
        :word="word"
        :basic="isBasic"
        :selectable="wordsListVisible"
        :select-all-words="allWordsSelected"
        @moreWords="handleOtherWords"
      />
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/breakpoints';

.wordslist {
  display: block;

  &-header {
    position: relative;
    height: 5rem;
    border-bottom: 1px solid var(--color-border-light);

    @include bp(tablet) {
      flex-direction: column;
      height: 8rem;
    }

    &-info,
    &-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-info {
      display: flex;

      @include bp(tablet) {
        flex-direction: column;
        justify-content: space-around;
      }

      &__title {
        height: 3.5rem;
        display: inline-flex;
        align-items: center;
        user-select: none;
        color: var(--color-secondary);

        @include bp(tablet) {
          height: 3rem;
        }
      }
    }

    &-actions {
      display: flex;

      @include bp(tablet) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  &::v-deep &-btn {
    height: 3.5rem;
    padding: 0 1.5rem;

    @include bp(tablet) {
      height: 3rem;
    }

    &__add,
    &__main {
      text-align: center;
      padding: 0.4rem;

      & > .base-button__icon {
        border-radius: 2rem;
        height: 2.75rem;
        width: 2.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;

        @include bp(tablet) {
          height: 2.25rem;
          width: 2.25rem;
        }

        & > .b-icon {
          height: 1.25rem;
        }
      }

      & > .base-button__text {
        flex: 1 1 auto;
        margin-left: 0;
      }
    }

    &__main {
      margin: 0 1rem;

      @include bp(tablet) {
        order: 1;
        flex: 1 1 100%;
        margin: 0;
      }

      & > .base-button__icon {
        background: var(--background-color-light);
        color: var(--color-primary);
      }
    }

    &__add {
      color: var(--color-primary);
      background: var(--background-color);

      @include bp(tablet) {
        width: 100%;
      }

      & > .base-button__icon {
        background: var(--background-color-light);
        color: var(--color-primary);
      }

      & > .base-button__text {
        padding: 0 1.5rem;
      }
    }

    &__selectall {
      @include bp(tablet) {
        flex: 0 1 48%;
        order: 2;
      }
    }

    &__cancel {
      @include bp(tablet) {
        flex: 0 1 48%;
        order: 2;
      }
    }
  }

  &-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.2s;

    &.is-loading {
      opacity: 0.5;
      pointer-events: none;
    }

    &__word {
      flex: 0 1 49%;
      margin-top: 0.75rem;
      background: var(--background-color-light);

      @include bp(tablet) {
        flex: 0 0 100%;
      }

      &::v-deep .word-box__left {
        background: var(--btn-background-secondary);
        border-radius: 0.5rem;
      }
    }
  }
}
</style>
