<template>
  <modal :modal="modal" modal-class="bg-white modal-download">
    <div class="modal__content" slot="content">
      <div class="modal-pick">
        <div class="modal-pick__list">
          <v-button
            class="gray button--circle dynamic-button"
            dynamic-icon="icon-answer"
            icon-position="left"
            tooltip="Cevap Anahtarı"
          />
          <v-button
            class="gray button--circle dynamic-button"
            dynamic-icon="icon-help-ctr"
            icon-position="left"
            tooltip="Cevap Anahtarı"
          />
        </div>
        <div class="modal-pick__list">
          <v-button
            class="gray button--circle dynamic-button"
            dynamic-icon="icon-vocabulary"
            icon-position="left"
            tooltip="Cevap Anahtarı"
          />
          <v-button
            class="gray button--circle dynamic-button"
            dynamic-icon="icon-collocation"
            icon-position="left"
            tooltip="Cevap Anahtarı"
          />
          <v-button
            class="gray button--circle dynamic-button"
            dynamic-icon="icon-preposition"
            icon-position="left"
            tooltip="Cevap Anahtarı"
          />
        </div>
        <div class="modal-pick__list">
          <v-button
            class="gray button--circle"
            title="TR"
            tooltip="Cevap Anahtarı"
          />
          <v-button
            class="gray button--circle"
            title="EN"
            tooltip="Cevap Anahtarı"
          />
        </div>
      </div>
      <div class="modal-bottom">
        <v-button
          class="button--stroke"
          title="TÜMÜNÜ SEÇ"
        />
        <v-button
          class="purple shadow-none round"
          icon="icon-download"
          icon-position="left"
          title="SEÇİLİ İÇERİĞİ İNDİR"
        />
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  name: 'WordDownloadModal',
  props: {
    modal: Object
  },
  components: {
    Modal
  }
}
</script>

<style scoped>

</style>
