<script>
import { mapGetters } from 'vuex'
import { textToSpeech } from '../common/tts-helper'
import { HANDLE_OTHER_WORDS, SHOW_WORDBOX_MODAL } from '../store/actions.type'
import Modal from './Modal.vue'

export default {
  name: 'WordBoxOthers',

  components: {
    Modal,
  },

  computed: {
    ...mapGetters({
      wordboxModalVisible: 'wordboxModalVisible',
      otherWords: 'otherWords',
    }),

    meanings() {
      return this.otherWords.meaning || this.otherWords.meanings
    },

    wordTitle() {
      return (
        this.otherWords.name ||
        this.otherWords.word ||
        this.otherWords.title ||
        this.otherWords.preposition ||
        this.otherWords.question[2].text
      )
    },
  },

  destroyed() {
    this.hideModal()
  },

  methods: {
    hideModal() {
      this.$store.dispatch(SHOW_WORDBOX_MODAL, false)
      this.$store.dispatch(HANDLE_OTHER_WORDS, [])
    },

    speak: textToSpeech
  },
}
</script>

<template>
  <Modal
    class="word-box-modal"
    :active="wordboxModalVisible"
    :hideClose="true"
    @onModalClose="hideModal"
  >
    <div slot="content" v-if="wordboxModalVisible">
      <div class="word-box-content">
        <div class="word-box__left">
          <v-button
            @click.native="speak(wordTitle)"
            class="word-box__voice square default"
            icon="icon-voice"
            icon-position="left"
            v-tooltip.top="{
              content: 'Dinle',
              boundariesElement: 'body',
            }"
          />
        </div>
        <div class="word-box__cnt">
          <div class="word-box__top">
            <div
              class="word-box__title"
              :class="otherWords.type ? `color-${otherWords.type}` : ''"
            >
              {{ otherWords.word || otherWords.title || otherWords.name }}
            </div>
            <span
              class="word__badge"
              v-if="otherWords.type"
              :class="`bg-${otherWords.type}`"
              lang="en"
              >{{ otherWords.type }}</span
            >
          </div>
          <div class="word-box-meaning">
            <div class="word-box-meaningsline">
              <div
                class="word-box-meaning__item"
                v-for="meaning in meanings.slice(0, 1)"
                :key="meaning.id"
              >
                <div class="word-rate">
                  <span
                    v-for="n in 4"
                    :key="n"
                    :class="{ active: n <= meaning.rate || meaning.level }"
                  ></span>
                </div>
                <div class="word-box-meaning__title">
                  {{ meaning.title || meaning.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <v-button
          class="reading-words__button default icon-left"
          icon="icon-lists"
          icon-position="left"
          title="EKLE"
        />
      </div>
      <div class="word-box-others">
        <h4 class="section-bracket">
          <span class="section-bracket__title">Diğer Anlamlar</span>
          <hr class="fw" />
        </h4>
        <div
          class="word-box-meaning__item"
          v-for="meaning in meanings.slice(1)"
          :key="meaning.id"
        >
          <div class="word-rate">
            <span
              v-for="n in 4"
              :key="n"
              :class="{ active: n <= meaning.rate || meaning.level }"
            ></span>
          </div>
          <div class="word-box-meaning__title">
            {{ meaning.title || meaning.name }}
          </div>
        </div>
      </div>
    </div>
  </Modal>
</template>
