<template>
  <div>
    <modal :modal="modal">
      <div class="modal__content" slot="content">
        <div class="word-lists-form">
          <div class="form-container word-lists-form__container">
            <input type="text" class="form-input" placeholder=" " v-model="listName">
            <div class="form-placeholder">Yeni liste adı giriniz</div>
            <v-button
              class="word-lists-form__add"
              icon="icon-plus"
              icon-position="right"
              title="OLUŞTUR"
              @click.native="createList"
            />
          </div>
        </div>
        <div class="word-lists">
          <div class="word-lists__title">Kelime Listelerim</div>
          <div class="word-lists__cnt">
            <div class="word-lists__item"
                 :class="{ selected : list.selected }"
                 @click="selectList(list.id)"
                 v-for="list in wordLists"
                 :key="list.id">
                <span class="word-lists__icon">
                  <dynamic-icon type="icon-lists" />
                </span>
              <div class="word-lists__txt">{{ list.title }}</div>
            </div>
          </div>

          <v-button
            class="purple sm fw round shadow-none"
            title="KAYDET"
          />
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  name: 'WordListModal',
  props: {
    modal: Object
  },
  components: {
    Modal
  },
  data () {
    return {
      listName: '',
      listsLastId: 3,
      wordLists: [
        {
          id: 0,
          title: 'Favori Kelimelerim',
          selected: false
        },
        {
          id: 1,
          title: 'Bakılacak Kelimeler',
          selected: false
        },
        {
          id: 2,
          title: 'Öğrendiğim Kelimeler',
          selected: false
        },
        {
          id: 3,
          title: 'Bir ara bakacaklarım',
          selected: false
        }
      ]
    }
  },
  methods: {
    selectList (id) {
      let list = this.wordLists.find((item) => {
        return item.id === id
      })
      list.selected = !list.selected
    },
    createList () {
      this.listsLastId++

      if (this.listName !== '') {
        let item = {
          id: this.listsLastId,
          title: this.listName,
          selected: false
        }
        this.wordLists.push(item)
      }
      this.listName = ''
    }
  }
}
</script>

<style scoped>

</style>
