<template>
  <div class="plan__item" :class="plan.app">
    <div :to="plan.app" class="plan-app">
      <div class="plan-app__icon">
        <img :src="require('@/assets/img/app-' + plan.app + '.svg')" alt class="icon" />
      </div>
      <div class="plan-app__title">{{ plan.title }}</div>
      <div class="plan-app__right">
        <CircleProgress :value="Math.round(plan.progress)" />
      </div>
    </div>
    <div class="plan-alert" @mouseover="pauseTimer" @mouseleave="resumeTimer">
      <router-link :to="plan.app" class="plan-alert__group">
        <transition-group name="fade">
          <div
            class="plan-alert__wrp"
            :class="{ 'plan-alert-slider' : plan.notifications.length > 1, active : $index === currentAlert }"
            v-for="(notify, $index) in plan.notifications"
            :key="$index + 0"
            v-show="$index === currentAlert"
          >
            <div class="plan-alert__icon" :class="notify.type">
              <svg-icon
                :type="notify.type === 'warning' ? 'icon-exclamation' : 'icon-info-circle-o'"
              />
            </div>
            <div class="plan-alert__txt" v-html="notify.text"></div>
            <v-button class="plan-alert__button default" :title="plan.buttonText" />
          </div>
        </transition-group>
        <div
          class="plan-alert-dots"
          v-if="plan.notifications.length > 1"
          :class="plan.notifications[currentAlert - 1].type"
        >
          <span
            class="plan-alert__dot"
            v-for="n in plan.notifications.length"
            :key="n"
            :class="{ active : n === currentAlert }"
            @click="changeAlert(n)"
          ></span>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import CircleProgress from '@/components/CircleProgress'
export default {
  name: 'WorkPlanItem',
  components: {
    CircleProgress
  },
  props: {
    plan: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      currentAlert: 0,
      // transitionName: 'slide-fade-down',
      sliderInterval: null
    }
  },
  methods: {
    changeAlert(index) {
      // index > this.currentAlert
      //   ? this.transitionName = 'slide-fade-down' : this.transitionName = 'slide-fade-up'

      // this.plan.notifications.forEach((item) => {
      //   item.active = false
      // })
      // this.plan.notifications[index - 1].active = true
      this.currentAlert = index
    },
    pauseTimer() {
      clearInterval(this.sliderInterval)
      this.sliderInterval = null
    },
    changeAuto() {
      if (this.plan.notifications.length > 1) {
        this.sliderInterval = setInterval(() => {
          if (this.currentAlert > this.plan.notifications.length - 1) {
            this.currentAlert = 1
          } else {
            this.currentAlert++
          }
          // this.plan.notifications.forEach((item) => {
          //   item.active = false
          // })
          // this.plan.notifications[this.currentAlert - 1].active = true
        }, 0)
      }
    },
    resumeTimer() {
      this.changeAuto()
    }
  },
  created() {
    this.changeAuto()
  },
  destroyed() {
    clearInterval(this.sliderInterval)
  }
}
</script>

<style scoped>
</style>
