<script>
import * as http from '../services/calendar.service'
import VueButton from '@/core/VueButton'
import WorkPlanItem from '@/components/WorkPlanItem'
import GhostPlanItem from '@/core/Ghost/GhostPlanItem'
import GhostPlanHomeWeekly from '@/core/Ghost/GhostPlanHomeWeekly'
import Modal from '@/components/Modal'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { SHOW_OVERLAY } from '../store/actions.type'
export default {
  name: 'WorkPlan',
  components: {
    VueButton,
    WorkPlanItem,
    Modal,
    GhostPlanItem,
    GhostPlanHomeWeekly,
  },
  data() {
    return {
      showModal: false,
      plans: null,
      weeklyPlans: {},
      details: null,
      planDate: '',
      calendarDay: '',
      weeklyPlanLoaded: false,
      disableBtn: false,
    }
  },

  watch: {
    planDate(val) {
      this.weeklyPlans.endDate = this.planDateFn
    },
    showModal(e) {
      const mq = window.matchMedia('(max-width: 769px)')
      if (e) {
        if (mq.matches) {
          document.getElementById('nav').style.display = 'none'
        }
      } else {
        if (mq.matches) {
          document.getElementById('nav').style.display = ''
        }
      }
    },
  },

  computed: {
    ...mapGetters('calendar', [
      'planEndDate',
      'loading',
      'loaded',
      'formattedEndDate',
      'weeklyPlan',
      'workPlan',
      'workPlanLoaded',
      'workPlanLoading',
      'workPlanExist',
    ]),

    planDateFn() {
      return new Date(this.planDate).toISOString()
    },

    planDateSet() {
      return new Date(this.planDateFn).getTime() > 0
    },
  },

  created() {
    this.setCalendarDay()
  },

  methods: {
    ...mapActions('calendar', [
      'updateEndDate',
      'getUserCalendar',
      'createUserWorkPlan',
    ]),

    ...mapMutations('calendar', ['setCheckedDay']),

    setCalendarDay() {
      this.calendarDay = new Date().toISOString().substr(0, 10)
    },

    getPlanDetails() {
      http
        .createWeeklyPlan(this.weeklyPlans)
        .then(res => {
          this.weeklyPlans = res.data
          console.log(res.data)
        })
        .catch(e => {
          console.error('error: ', e)
        })
      console.log(this.weeklyPlans)
    },

    openModal() {
      this.showModal = true
    },

    closeModal() {
      this.showModal = false
      this.$store.dispatch(SHOW_OVERLAY, false)
    },

    selectEndDate(date) {
      let selectedDate = new Date(date).getTime() / 1000
      if (selectedDate !== 0) {
        let data = {
          key: 'endDate',
          value: date / 1000,
        }
        this.disableBtn = false
        this.updateEndDate(data)
      } else {
        this.disableBtn = true
      }
    },

    checkDay(e, plan, day) {
      let data = {
        app: plan,
        day: day,
        status: e.target.checked,
      }
      this.setCheckedDay(data)
    },

    createWorkPlan() {
      this.createUserWorkPlan(this.weeklyPlan)
      this.getUserCalendar(this.calendarDay)
      this.closeModal()
      this.$swal.fire({
        toast: true,
        timer: 3000,
        position: 'top-end',
        title: 'Başarıyla güncellendi.',
        icon: 'success',
        showConfirmButton: false,
      })
    },
  },
}
</script>

<template>
  <div>
    <div class="plan">
      <div class="plan-content" v-if="!workPlanLoading">
        <div class="section-bracket" v-if="workPlanLoaded">
          <div class="section-bracket__title">ÇALIŞMA PLANIM</div>
          <div class="section-bracket__txt">
            ( Çalışma Bitiş Tarihi :
            <strong>
              {{ new Date(formattedEndDate).getDate() }}
              {{
                new Date(formattedEndDate).toLocaleString('tr-TR', {
                  month: 'long',
                })
              }}
              {{ new Date(formattedEndDate).getFullYear() }}
            </strong>
            <!-- <strong>Henüz belirlenmedi!</strong> -->
            )
          </div>
          <hr class="fw" />
          <v-button
            class="default round color-gray plan-edit-btn"
            icon="icon-edit"
            icon-position="right"
            title="Düzenle"
            @click.native="openModal"
          />
        </div>
        <div class="plan-list">
          <WorkPlanItem
            v-for="(plan, $index) in workPlan"
            :key="$index"
            :plan="plan"
          />
        </div>
      </div>
      <div class="plan-ghosts" v-else>
        <GhostPlanHomeWeekly class="pb-20" />
        <GhostPlanItem v-for="n in 4" :key="n" />
      </div>
    </div>
    <modal
      :active="showModal"
      modal-class="plan-modal mobile-pt-0"
      @onModalClose="closeModal"
    >
      <div class="plan-modal-header" slot="header">
        <div class="plan-modal-header__title">Çalışma Takvimini Düzenle</div>
        <div class="plan-modal-header__txt">
          Yapacağınız değişiklikler takviminizdeki program üzerinde ve çalışma
          yoğunluğunuzda değişiklikler yapar.
        </div>
      </div>
      <div class="plan-modal__content" slot="content">
        <div class="plan-modal-date">
          <div class="plan-modal-date__head">ÇALIŞMA BİTİŞ TARİHİ :</div>
          <div class="plan-modal-date__select f-input--content">
            <!-- <datepicker
              v-model="weeklyPlans.endDate"
              format="dd / MMMM / yyyy"
              :language="tr"
              placeholder="Tarih Seçiniz"
              :monday-first="true"
            />-->
            <div class="fw">
              <v-date-picker
                :value="formattedEndDate"
                mode="single"
                :min-date="new Date()"
                :firstDayOfWeek="2"
                :popover="{ placement: 'bottom-end' }"
                locale="tr"
                @input="selectEndDate"
                :input-props="{
                  placeholder: 'Tarih Seçiniz',
                }"
              />
            </div>
            <span class="plan-modal-date__caret"></span>
          </div>
        </div>
        <div class="plan-apps">
          <div
            class="plan-apps__item"
            v-for="plan in weeklyPlan.apps"
            :key="plan.id"
          >
            <div class="plan-apps__left">
              <span class="plan-apps__icon">
                <!--<img :src="require('@/assets/img/app-' + plan.app + '.svg')" alt="" class="icon">   TODO uygulama isimleri tek standarta çekildiğinde burası açılacaktır.-->
              </span>
              <div class="plan-apps__title">{{ plan.title }}</div>
            </div>
            <div class="plan-apps__list">
              <label
                class="plan-apps-btn"
                v-for="day in plan.days"
                :key="day.id"
              >
                <input
                  type="checkbox"
                  class="plan-apps-btn__input"
                  :checked="day.checked"
                  :value="day.checked"
                  @change="checkDay($event, plan.app, day.id)"
                />
                <span class="plan-apps-btn__box" :class="'color-' + plan.app">
                  <span class="plan-apps-btn__title">{{ day.title }}</span>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="plan-modal__footer" slot="footer">
          <VueButton
            text="Kaydet"
            :class="{ 'vbtn--disabled': disableBtn }"
            primary
            @click.native="createWorkPlan"
          />
        </div>
      </div>
    </modal>
  </div>
</template>

<style lang="scss">
@import '../assets/scss/components/work-plan';
</style>
