<template>
  <section>
    <div class="toolbar-form form">
      <div class="word-new">
        <div class="word-new-search word-new-search--input">
          <div class="form-container">
            <input
              type="text"
              class="form-input"
              v-model="searchTerm"
              placeholder="Kelime Ara"
              @keyup="searchFormNewWord"
            />
          </div>
          <!-- <div class="word-new-lng">en</div> -->
        </div>

        <div class="word-new-sel" v-if="wordSearchResult">
          <div v-if="loadingSearch" class="ghost-toolbar-wordbook-search-outer">
            <GhostToolbarWordbookSearch v-for="n in 2" :key="n" />
          </div>
          <section
            v-for="resultGroup in wordSearchResult"
            :key="resultGroup.id"
            v-if="resultGroup.length"
          >
            <button
              class="word-group__btn"
              :class="openGroupResult ==  resultGroup[0].group? 'open' : ''"
              @click="openResultGroup(resultGroup[0].group)"
            >
              <dynamic-icon :type="getGroupIcon(resultGroup[0].group)" />
              <div class="word-group__btn_text">
                <span>{{ getGroupName(resultGroup[0].group)}}</span>
                <span class="wrdcnt">( {{ resultGroup? resultGroup.length : 0}} Kelime )</span>
              </div>
              <span class="select__caret"></span>
            </button>
            <slide-up-down
              :duration="200"
              :active="resultGroup[0].group == openGroupResult"
              class="word-group__box custom-group-box"
            >
              <div class="word-group__cnt is-toolbar">
                <word-item
                  v-for="word in resultGroup"
                  :key="word.id"
                  :word="word"
                  :group="resultGroup[0].group"
                  :selectable="true"
                  :type="'searchResult'"
                />
              </div>
            </slide-up-down>
          </section>
        </div>
        <div v-if="(!wordSearchResult[0] || wordSearchResult[0].length === 0) && !loadingSearch">
          <EmptyContent
            class="empty-content--notfound"
            icon="icon-notfound-dictionary"
            title="Aradığınız kelime bulunamadı!"
            text="Yanlış yazmış olabilirsiniz, doğru yazdığınızdan <br> emin olarak tekrar deneyin."
            v-if="startSearch"
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import delaySearch from '../../../common/delay-search'
import WordItem from '@/components/WordBook/ToolBar/WordItem'
import GhostToolbarWordbookSearch from '@/core/Ghost/GhostToolbarWordbookSearch'
import EmptyContent from '@/components/EmptyContent'

export default {
  name: 'AddWordToListForm',
  components: {
    WordItem,
    GhostToolbarWordbookSearch,
    EmptyContent,
    // ToggleInput
  },
  data() {
    return {
      searchTerm: '',
      openGroupResult: false,
      startSearch: false
    }
  },
  computed: {
    ...mapGetters({
      listDetails: 'wordbookMyList/listDetails',
      wordSearchResult: 'wordbookMyList/wordSearchResult',
      loadingSearch: 'wordbookMyList/loadingSearch'
    }),
  },
  methods: {
    ...mapActions({
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      searchWord: 'wordbookMyList/searchWord',
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      restSearchResult: 'wordbookMyList/restSearchResult',
    }),
    searchFormNewWord() {
      if (this.searchTerm.length > 1) {
        delaySearch(() => {
          this.startSearch = true
          this.restSearchResult()
          this.searchWord(this.searchTerm)
        })
      }
    },
    getGroupName(groupcode) {
      switch (groupcode) {
        case 'c':
          return 'Collocation'
        case 'w':
          return 'Vocabulary'
        case 'p':
          return 'Preposition'
        default:
          return ''
      }
    },
    getGroupIcon(groupcode) {
      switch (groupcode) {
        case 'c':
          return 'icon-collocation-o'
        case 'w':
          return 'icon-vocabulary-o'
        case 'p':
          return 'icon-preposition-o '
        default:
          return ''
      }
    },
    openResultGroup(groupCode) {
      if (this.openGroupResult !== groupCode) {
        this.openGroupResult = groupCode
      } else {
        this.openGroupResult = false
      }
    }
  }
}
</script>
