<template>
  <tab
    class="word-book-tabs"
    :tabs="tabs"
    :current-tab="currentTab"
    @clickTab="tabShow"
  >
    <tab-pane
      :class="{ active: currentTab === tabItem.id }"
      v-for="tabItem in tabs"
      :key="tabItem.id"
    >
      <!-- search form in Search Array -->
      <div :class="`content${tabItem.type}`" :ref="`content${tabItem.type}`">
        <div class="form-container" v-if="tabItem.type === 'explore'">
          <input
            type="text"
            class="form-input word-book-explore__sinput"
            v-model="searchList"
            placeholder="Yeni bir liste ara"
            @keyup="searchExploreList"
          />
          <div v-if="noSearchResult">
            <EmptyContent
              class="empty-content--notfound"
              icon="icon-notfound-notes"
              title="Aradığınız içerik bulunamadı!"
              text="Yanlış yazmış olabilirsiniz, doğru yazdığınızdan <br> emin olarak tekrar deneyin."
            />
          </div>
          <!-- <div class="form-placeholder ord-book-explore__slabel">Yeni bir liste ara</div> -->
        </div>
        <!-- search form in Search Array -->

        <!-- filtering explore list -->
        <div
          class="word-book-tabfilter"
          v-if="loaded && tabItem.type === 'explore'"
        >
          <TabFilter
            class="explore-filters"
            :initial="0"
            :items="filters"
            :action="`wordbooklist`"
            ref="wordlistFilter"
            @onFilter="filterWordlists"
          />
        </div>

        <div v-if="exploreLoading">
          <GhostDictionaryWordItem v-for="ghost in 4" :key="ghost" />
        </div>
        <template v-if="!exploreLoading">
          <Word-list-item
            class="word-book-listitem"
            v-for="list in tabItem.words"
            :key="list.id"
            :item="list"
            :type="tabItem.type"
            :itemOptions="userListOptions"
            @list-delete="showDeleteModal"
            @list-word-add="listWordAdd"
            @list-edit="openEdit"
            @showListContent="showListContent"
          />
        </template>
      </div>

      <div
        class="word-book-more"
        v-if="!loading && loaded && tabItem.words.length === 0"
      >
        <EmptyContent
          class="empty-content--notfound"
          icon="icon-notfound-notes"
          title="Hiç Kelime Listen Yok!"
          text="Yeni bir kelime listesi oluşturarak çalıştığın kelimeleri kaydedebilirsin."
        />
      </div>

      <div
        class="word-book-more"
        v-if="loading && !loaded && tabItem.type === 'myList'"
      >
        <GhostDictionaryWordItem />
      </div>

      <div v-if="loadingMoreList" class="mt-4">
        <GhostDictionaryWordItem v-for="ghost in 1" :key="ghost" />
      </div>
      <div
        class="word-book-more"
        v-if="tabItem.type === 'myList' && nextPage && tabItem.words.length > 0"
      >
        <!--- TODO: ADD More Items to the Master list -->
        <v-button
          class="purple fw sm icon-cta"
          title="DAHA FAZLA YÜKLE"
          @click.native="MoreList()"
        />
      </div>

      <div
        class="word-book-more"
        v-if="tabItem.type === 'explore' && explorePage && !exploreLoading"
      >
        <!--- TODO: ADD More Items to the Master list -->
        <v-button
          class="purple fw sm icon-cta"
          title="DAHA FAZLA YÜKLE"
          @click.native="moreExplorList()"
        />
      </div>
    </tab-pane>
  </tab>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Tab from '@/components/Tab/Tab'
import TabPane from '@/components/Tab/TabPane'
import WordListItem from '@/components/WordBook/ToolBar/WordListItem'
import GhostDictionaryWordItem from '@/core/Ghost/GhostDictionaryWordItem'
import EmptyContent from '@/components/EmptyContent'
import TabFilter from '../../Tab/TabFilter.vue'

export default {
  name: 'MyWordlist',
  components: {
    WordListItem,
    Tab,
    TabPane,
    GhostDictionaryWordItem,
    EmptyContent,
    TabFilter,
  },
  data() {
    return {
      lists: [],
      searchList: '',
      filters: [
        {
          id: 0,
          title: 'Yeni',
          value: 'new',
        },
        {
          id: 1,
          title: 'Popüler',
          value: 'popular',
        },
      ],
    }
  },
  props: {
    userListOptions: {
      type: Array,
      default: () => {},
    },
  },

  computed: {
    tabs() {
      return [
        {
          id: 0,
          text: 'Listelerim',
          type: 'myList',
          active: true,
          words: this.vocabularies,
        },
        {
          id: 1,
          text: 'Keşfet',
          type: 'explore',
          active: false,
          words: this.discoveries,
        },
      ]
    },
    ...mapGetters({
      vocabularies: 'wordbookMyList/vocabularies',
      listDetails: 'wordbookMyList/listDetails',
      nextPage: 'wordbookMyList/nextPage',
      loading: 'wordbookMyList/loading',
      discoveries: 'wordbookExploreList/discoveries',
      explorePage: 'wordbookExploreList/explorePage',
      noSearchResult: 'wordbookExploreList/noSearchResult',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
      currentTab: 'wordbookMyList/currentTab',
      loadingMoreList: 'wordbookMyList/loadingMoreList',
      loaded: 'wordbookMyList/loaded',
      exploreLoading: 'wordbookExploreList/loading',
    }),
  },
  methods: {
    ...mapActions({
      getMyList: 'wordbookMyList/getMyList',
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      restListDetails: 'wordbookMyList/restListDetails',
      getExploreList: 'wordbookExploreList/getExploreList',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      loadMoreList: 'wordbookMyList/loadMoreList',
      loadMoreExplor: 'wordbookExploreList/loadMoreExplor',
      deleteList: 'wordbookMyList/deleteList',
      setCurrentTab: 'wordbookMyList/setCurrentTab',
      handleSortType: 'wordbookExploreList/handleSortType',
    }),
    /**
     *
     */
    async openEdit(id) {
      this.clearFromMessage()
      await this.getMyListDetails(id)
      this.updateEditMode(true)
    },
    async listWordAdd(id) {
      this.clearFromMessage()
      await this.getMyListDetails(id)
      this.showAddNewWordForm(true)
    },
    /**
     *
     */
    showDeleteModal(id) {
      this.$swal
        .fire({
          title: 'Kelime Listesi Silinsin mi?',
          text:
            'Bu işlem geri alınamaz, bu kelime listesi tamamen silinecek. Silmek istediğinize emin misiniz?',
          confirmButtonText: 'SİL',
          showCancelButton: true,
          cancelButtonText: 'İPTAL',
          icon: 'error',
          cancelButtonColor: '#d8e0ee',
        })
        .then(res => {
          if (res.value) {
            this.deleteWordList(id)
          }
        })
    },
    /**
     *
     */
    async deleteWordList(id) {
      try {
        await this.deleteList(id).then(() => {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            icon: this.listMassegeStatus ? 'success' : 'error',
            title: this.listMessageText,
            position: 'top-end',
            showConfirmButton: false,
          })
        })
      } catch (error) {
        console.log('error: ', error)
      }
    },
    /**
     *
     */
    tabShow(tab, index) {
      this.setCurrentTab(index)
    },
    /**
     *
     */
    updatetListDetails(list) {
      this.$emit('updatetListDetails', list)
    },

    /**
     *
     */
    updateEditMode(editMode) {
      this.$emit('updateEditMode', editMode)
    },
    /**
     *
     */
    showAddNewWordForm(show) {
      this.$emit('showAddNewWordForm', show)
    },
    /**
     *
     */
    findWord() {
      const search = this.searchTerm.toLowerCase().trim()
      if (!search) return this.exploreList
      return this.exploreList.filter(
        w => w.title.toLowerCase().indexOf(search) > -1
      )
    },
    /**
     *
     */
    MoreList() {
      if (this.nextPage) {
        this.loadMoreList(this.nextPage)
      }
    },
    moreExplorList() {
      if (this.explorePage) {
        this.loadMoreExplor(this.explorePage)
      }
    },
    /**
     *
     */
    async showListContent(id) {
      this.restListDetails()
      await this.getMyListDetails(id)
      this.$emit('showListContent')
    },
    /**
     *
     */
    async searchExploreList() {
      await this.getExploreList(this.searchList)
    },

    async filterWordlists(item) {
      this.handleSortType(item.value)
      await this.getExploreList()
    },
  },
}
</script>

<style lang="scss" scoped>
.word-book-tabfilter {
  padding: 0.75rem 0;

  &::v-deep .tab-filter {
  }
}

.dark-mode {
  .explore-filters {
    background: #31384e !important;

    &::v-deep .tab-filter__button {
      color: #aabfd3;
      background: transparent !important;

      &.active {
        color: #8282ef;
      }
    }

    &::v-deep .tab-filter-buttons__bar {
      background: #394056;
    }
  }
}
</style>
