<template>
  <section v-if="isNewListForm || editMode">
    <div v-if="!loadingEditForm" class="word-book-newlist__outer">
      <div class="toolbar-page__header">
        <div class="toolbar-page__title">{{ listEditTitle }}</div>
        <v-button
          class="toolbar__back"
          icon="icon-arrow-long-left"
          icon-position="left"
          title="GERİ DÖN"
          @click.native="cancelAddNewList"
        />
      </div>
      <div class="word-book-newlist">
        <header
          class="word-book-newlist__header"
          :class="{ error: fromErrorMessage }"
        >
          <dynamic-icon
            class="word-book-newlist__icon active"
            type="icon-lists"
          />
          <div class="form-container word-book-newlist__input">
            <input
              type="text"
              class="form-input"
              placeholder="Liste adı giriniz"
              v-model="info.title"
            />
          </div>
        </header>
        <main class="word-book-newlist__main">
          <textarea
            class="word-book-newlist__desc"
            placeholder="Liste açıklamasını giriniz"
            v-model="info.description"
          ></textarea>
        </main>
        <footer class="word-book-newlist__footer">
          <input type="checkbox" hidden v-model="info.isPublic" />
          <v-button
            class="word-book-newlist__toggle"
            :class="{ active: info.isPublic === true }"
            :icon="publicStatus"
            icon-position="left"
            @click.native="togglePublic()"
            v-tooltip="{
              content: togglerTooltip,
              trigger: 'hover click focus',
            }"
          />
          <v-button
            class="word-book-add purple"
            :title="listButtonText"
            @click.native="fireAction"
            icon-position="right"
          />
        </footer>
        <!-- Form Error Message -->
        <span class="d-flex form-error-line" v-if="fromErrorMessage">{{
          fromErrorMessage
        }}</span>
        <!-- From Error Massages -->
      </div>
    </div>
    <div v-else>
      <div class="ghost-toolbar-note mt-20" v-for="ghost in 1" :key="ghost">
        <div class="ghost-toolbar-note--top">
          <div class="ghost-toolbar-note--icon"></div>
          <div class="ghost-toolbar-note--top-cnt">
            <div class="ghost-toolbar-note--date"></div>
            <div class="ghost-toolbar-note--title"></div>
          </div>
          <div class="ghost-toolbar-note--top-more"></div>
        </div>
        <div class="ghost-toolbar-note--cnt">
          <div class="ghost-toolbar-note--txt"></div>
          <div class="ghost-toolbar-note--txt2"></div>
        </div>
        <div class="ghost-toolbar-note--btn"></div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'NewListForm',
  data() {
    return {
      title: '',
      description: '',
      isPublic: false,
      fromErrorMessage: false,
      info: {
        title: '',
        description: '',
        isPublic: false,
      },
    }
  },
  props: {
    editMode: {
      type: Boolean,
      default: () => false,
    },
    isNewListForm: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    ...mapGetters({
      loadingEditForm: 'wordbookMyList/loadingEditForm',
      listDetails: 'wordbookMyList/listDetails',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
    }),
    togglerTooltip() {
      return this.isPublic ? 'Herkese Açık' : 'Özel'
    },
    publicStatus() {
      return this.isPublic ? 'icon-view-o' : 'icon-view'
    },
    listButtonText() {
      return this.editMode ? 'KAYDET' : 'LİSTE OLUŞTUR'
    },
    listEditTitle() {
      return this.editMode ? 'Listeyi Düzenle' : 'Yeni Liste Oluştur'
    },
  },
  methods: {
    ...mapActions({
      getMyList: 'wordbookMyList/getMyList',
      newList: 'wordbookMyList/newList',
      editList: 'wordbookMyList/editList',
      getMyListDetails: 'wordbookMyList/getMyListDetails',
    }),
    /**
     *
     */
    async createNewList() {
      try {
        if (this.info.title !== '') {
          var listObj = {
            title: this.info.title,
            description: this.info.description,
            isPublic: this.info.isPublic,
          }
          await this.newList(listObj).then(res => {
            this.$swal.fire({
              toast: true,
              timer: 3000,
              icon: this.listMassegeStatus ? 'success' : 'error',
              title: this.listMessageText,
              position: 'top-end',
              showConfirmButton: false,
            })
            if (this.listMassegeStatus) {
              this.title = this.listDetails.description = ''
              this.listDetails.is_public = false
              this.getMyList()
              this.updateNewListForm(false)
            }
          })
        } else {
          this.fromErrorMessage = '* Liste adı boş bırakılamaz.'
        }
      } catch (error) {
        this.fromErrorMessage = error
      }
    },
    /**
     *
     */
    async editWordList() {
      try {
        if (this.info.title !== '') {
          var listObj = {
            id: this.listDetails.id,
            title: this.info.title,
            description: this.info.description,
            isPublic: this.info.isPublic,
          }
          await this.editList(listObj).then(() => {
            this.$swal.fire({
              toast: true,
              timer: 3000,
              icon: this.listMassegeStatus ? 'success' : 'error',
              title: this.listMessageText,
              position: 'top-end',
              showConfirmButton: false,
            })
            if (this.listMassegeStatus) {
              this.getMyList()
              this.getMyListDetails(this.listDetails.id)
              this.updateEditMode(false)
            }
          })
        } else {
          this.fromErrorMessage = '* Liste adı boş bırakılamaz.'
        }
      } catch (error) {
        console.log('error: ', error)
      }
    },
    /**
     *
     */
    updateNewListForm(isNewListForm) {
      this.$emit('updateNewListForm', isNewListForm)
    },
    /**
     *
     */
    updateEditMode(editMode) {
      this.$emit('updateEditMode', editMode)
    },
    /**
     *
     */
    cancelAddNewList() {
      this.$emit('cancelAddNewList')
    },
    addNewList() {
      this.$emit('')
    },
    /**
     *
     */
    fireAction() {
      if (this.editMode) {
        this.editWordList()
      } else {
        this.createNewList()
      }
    },
    /**
     *
     */
    togglePublic() {
      this.isPublic = !this.isPublic
      this.info.isPublic = !this.info.isPublic
      console.log(' this.isPublic:', this.isPublic)
    },
  },
  watch: {
    loadingEditForm() {
      if (this.editMode) {
        this.title = this.listDetails.title
        this.description = this.listDetails.description
        this.isPublic = this.listDetails.is_public
      }
    },
    editMode: {
      immediate: true,
      handler(val) {
        if (val) {
          console.log(this.listDetails)
          this.info.title = this.listDetails.title
          this.info.description = this.listDetails.description
          this.info.isPublic = this.listDetails.is_public
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/ghost/dictionary-ghost-word';
</style>
