<template>
  <section>
    <word-item v-for="word in listDetails.items" :key="word.id" :word="word" :type="'wordlist'" />
    <div class="bos" v-if="listDetails.word_count === 0">
      <EmptyContent
        class="empty-content--notfound mb-0"
        icon="icon-notfound-notes"
        title="Kelime Listesinde Hiç Kelime Yok"
        text="Yeni kelime ekleyerek listesini düzenleyebilir, herkese açık yaparak diğer kullanıcılara açabilirsiniz."
      />
    </div>
    <div v-if="wordPage">
      <v-button
        class="purple fw sm icon-cta mt-4"
        title="DAHA FAZLA KELİME GÖSTER"
        @click.native="loadMoreWords"
        v-if="!loadMordWord"
      />
    </div>

    <!-- load more word FIXME: --->
    <div v-if="loadMordWord" class="mt-4">
      <GhostDictionaryWordItem v-for="ghost in 1" :key="ghost" />
    </div>
    <!-- load more word FIXME: --->
    <footer class="wordlist-footer p-0">
      <VueButton
        text="KELİME LİSTESİNİ ÇALIŞ"
        class="wordlist-btn mt-25 mb-25"
        icon="arrow-long-right"
        icon-location="far-right"
        icon-size="1.2"
        @click.native="goTolistDetails()"
        v-if="typeof listDetails.items !== 'undefined' && listDetails.word_count > 0"
      />
    </footer>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { SHOW_TOOLBAR, SHOW_OVERLAY } from '../../../store/actions.type'
import WordItem from '@/components/WordBook/ToolBar/WordItem'
import VueButton from '@/core/VueButton'
import GhostDictionaryWordItem from '@/core/Ghost/GhostDictionaryWordItem'
import EmptyContent from '@/components/EmptyContent'

export default {
  name: 'WordListContent',
  components: {
    VueButton,
    WordItem,
    GhostDictionaryWordItem,
    EmptyContent
  },
  props: {
    userListOptions: {
      type: Array,
      default: () => { }
    }
  },
  computed: {
    ...mapGetters({
      listDetails: 'wordbookMyList/listDetails',
      wordPage: 'wordbookMyList/wordPage',
      loadMordWord: 'wordbookMyList/loadMordWord',

    })
  },
  /**
   *
   */

  methods: {
    ...mapActions({
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      MoreWords: 'wordbookMyList/MoreWords',
      setCurrentTab: 'wordbookList/setCurrentTab'
    }),
    goTolistDetails() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)

      if (this.$route.path !== `/kelime-defteri/${this.listDetails.id}`) {
        this.setCurrentTab(0)
        console.log('not same url ')
        this.$router.push(`/kelime-defteri/${this.listDetails.id}`)
      }
    },
    loadMoreWords() {
      if (this.wordPage) {
        let listdata = { id: this.listDetails.id, pageNO: this.wordPage }
        this.MoreWords(listdata)
      }
    }
  }
}
</script>
