<template>
  <div class="wordlist" :class="{ open: showDetails }">
    <header class="wordlist-header" @click="openDetails">
      <dynamic-icon
        class="wordlist-header__icon"
        :class="{ 'open active': showDetails }"
        :type="listsIcon"
        v-if="type !== 'explore'"
      />
      <dynamic-icon
        class="wordlist-header__icon"
        :class="{ 'open active': showDetails }"
        :type="listsIcon"
        v-if="type == 'explore'"
      />
      <div class="wordlist-header-info">
        <h4 class="wordlist-header-info__title">{{ listName }}</h4>
        <div class="wordlist-type">
          <BaseIcon
            class="wordlist-type__icon"
            :class="{ public: listStatus }"
            :iconName="listStatusIcon"
            :height="18"
          />
          <span class="wordlist-type__status">{{ statusText }}</span>
        </div>
      </div>
      <v-button
        class="vdropdown-btn button--circle circle-sm icon-md btn-follow"
        icon="icon-plus"
        icon-position="left"
        v-if="!item.is_followed && type === 'explore'"
        @click.native="
          followExploreList(item.id)
          !openDetails
        "
        v-tooltip="'Takip Et'"
      />
      <v-button
        class="vdropdown-btn button--circle circle-sm icon-md actived btn-follow"
        icon="icon-dash"
        icon-position="left"
        v-if="item.is_followed && type === 'explore'"
        @click.native="
          followExploreList(item.id)
          !openDetails
        "
        v-tooltip="'Takipten Çıkar'"
      />
      <!-- <v-button
        v-if="type === 'explore' && !item.is_owner"
        class="button--circle default circle-sm icon-md"
        :icon="buttonIcon(item.is_followed)"
        v-tooltip="'Takip Et'"
        icon-position="left"
        @click.native="followExploreList(item.id)"
      />-->
      <VueDropdownIcon
        v-if="itemOptions.length > 0 && type !== 'explore' && item.is_owner"
        :actions="itemOptions"
        @addAction="$emit('list-word-add', item.id)"
        @editAction="$emit('list-edit', item.id)"
        @deleteAction="$emit('list-delete', item.id)"
        class="wordlist-options"
      />
    </header>
    <transition name="fade">
      <section class="wordlist-content" v-if="showDetails">
        <main class="wordlist-main">
          <WordListCount
            title="Kayıtlı Terim"
            :count="item.word_count"
            countType="kelime"
          />
          <WordListCount
            title="Takipçi Sayısı"
            :count="item.follower_count"
            countType="takipçi"
          />
        </main>
        <footer class="wordlist-footer">
          <VueButton
            text="Listeyi Görüntüle"
            class="wordlist-btn"
            icon="arrow-long-right"
            icon-location="far-right"
            icon-size="1.2"
            @click.native="showListContent(item.id)"
          />
        </footer>
      </section>
    </transition>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import WordListCount from '@/components/WordBook/ToolBar/WordListCount'
import VueButton from '@/core/VueButton'
import VueDropdownIcon from '@/core/VueDropdownIcon'
import BaseIcon from '../../Base/BaseIcon.vue'

export default {
  name: 'WordListItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    itemOptions: {
      type: Array,
      default: () => [],
    },
    list: {
      type: String,
      default: 'add',
    },
    type: {
      type: String,
      default: '',
    },
  },
  components: {
    VueDropdownIcon,
    VueButton,
    WordListCount,
    BaseIcon,
  },
  data() {
    return {
      showDetails: false,
      optionsList: [
        {
          option: 'edit',
          tooltip: 'Düzenle',
          icon: 'edit',
        },
        {
          option: 'delete',
          tooltip: 'Sil',
          icon: 'trash',
        },
      ],
    }
  },
  computed: {
    listStatus() {
      return this.item.is_owner ? this.item.is_public : false
    },
    listStatusIcon() {
      return this.item.is_owner
        ? this.item.is_public
          ? 'eye'
          : 'eye-disabled'
        : 'user-fill'
    },
    listName() {
      return this.item.title === null ? '[ isim yok ]' : this.item.title
    },

    statusText() {
      if (!this.item.is_owner) {
        return this.item.owner
      } else {
        return this.item.is_public ? 'Herkese Açık' : 'Özel'
      }
    },

    statusIcon() {
      if (this.item.is_owner) {
        if (this.item.is_public) {
          return 'icon-view-o'
        } else {
          return 'icon-view'
        }
      } else {
        return 'icon-user-fill'
      }
    },

    listsIcon() {
      if (this.item.is_owner) {
        if (this.item.is_public) {
          return 'icon-lists'
        } else {
          return 'icon-lists'
        }
      } else {
        return 'icon-lists-user'
      }
    },

    statusColor() {
      return this.item.is_public || this.item.owner
    },
  },
  methods: {
    ...mapActions({
      getMyList: 'wordbookMyList/getMyList',
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      getExploreList: 'wordbookExploreList/getExploreList',
      followList: 'wordbookExploreList/followList',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
    }),
    openDetails(e) {
      if (e.target.tagName !== 'BUTTON') {
        this.showDetails = !this.showDetails
      }
    },
    buttonText(isFollowed) {
      return this.type === 'explore' && !isFollowed
        ? 'Takip Et'
        : 'Listeyi Görüntüle'
    },
    buttonIcon(isFollowed) {
      return this.type === 'explore' && !isFollowed ? 'icon-plus' : 'icon-dash'
    },

    showListContent(id) {
      this.$emit('showListContent', id)
    },
    async followExploreList(listId) {
      this.clearFromMessage()
      await this.followList(listId).then(res => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: res.data.success ? 'success' : 'error',
          title: res.data.message,
          position: 'top-end',
          showConfirmButton: false,
        })
        this.getExploreList()
        this.getMyList(true)
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';

.wordlist {
  &-type {
    color: $c-text;

    &::v-deep .b-icon {
      &.public {
        color: $c-alt;
      }
    }
  }
}
</style>
