<template>
  <section>
    <div class="toolbar-page__header mt-15">
      <div class="toolbar-page__name">
        <div class="toolbar-page__title">{{ listDetails.title }}</div>
        <div class="toolbar-page-info">
          <BaseIcon
            class="toolbar-wordlist-typeicon"
            :class="{ public: listStatus }"
            :iconName="listStatusIcon"
            :height="20"
          />
          <span class="toolbar-page-info__title">{{ listStatusText }}</span>
        </div>
      </div>
      <div class="toolbar-page__buttons">
        <VueDropdownIcon
          v-if="listDetails.is_owner"
          :actions="userListOptions"
          @addAction="showAddNewWordForm()"
          @editAction="openEdit()"
          @deleteAction="showDeleteModal()"
          v-tooltip="'İşlemler'"
        />
        <v-button
          class="toolbar__close"
          icon="icon-arrow-long-left"
          icon-position="left"
          @click.native="back"
          v-tooltip="{
            content: 'Geri Dön',
            boundariesElement: '.toolbar',
          }"
        />
      </div>
    </div>

    <div class="toolbar-inf">
      <div class="toolbar-inf__top">
        <div class="toolbar-inf__item">
          <span class="toolbar-inf__subtitle">Kayıtlı Terim</span>
          <div class="toolbar-inf__title">
            {{ listDetails.word_count }} Kelime
          </div>
        </div>
        <div class="toolbar-inf__item" v-if="listDetails.follower_count > 0">
          <span class="toolbar-inf__subtitle">Takipçi Sayısı</span>
          <div class="toolbar-inf__title">
            {{ listDetails.follower_count }} Takipçi
          </div>
        </div>
        <!-- Follow the the List for the systems -->
        <v-button
          class="toolbar-inf__btn"
          icon="icon-plus"
          icon-position="left"
          v-if="!listDetails.is_owner && !listDetails.is_followed"
          @click.native="followExploreList"
          v-tooltip="'Takip Et'"
        />
        <v-button
          class="toolbar-inf__btn actived"
          icon="icon-dash"
          icon-position="left"
          v-if="!listDetails.is_owner && listDetails.is_followed"
          @click.native="followExploreList"
          v-tooltip="'Takipten Çıkar'"
        />
        <!-- change list  from private to public  switcher --->
        <div class="publicity__status" v-if="listDetails.is_owner">
          <span class="publicity__status--text">Herkese Açık</span>
          <label
            class="publicity__switch"
            @click="publicList(!listDetails.is_public)"
          >
            <span
              class="publicity__slider"
              :class="{ active: listDetails.is_public }"
            >
              <svg-icon class="publicity__slider--icon" type="icon-check" />
            </span>
          </label>
        </div>
      </div>

      <div
        class="toolbar-inf__bottom"
        v-if="listDetails.is_owner && !exploreWordlist"
      >
        <v-button
          class="word-book-add purple"
          icon="icon-plus"
          icon-position="right"
          title="YENİ KELİME EKLE"
          @click.native="showAddNewWordForm()"
        />
        <VueButton
          text="KELİME LİSTESİNİ ÇALIŞ"
          class="wordlist-work-btn mt-15"
          icon="arrow-long-right"
          icon-location="far-right"
          icon-size="1.2"
          @click.native="goTolistDetails"
          v-if="
            typeof listDetails.items !== 'undefined' &&
              listDetails.word_count > 0
          "
        />
      </div>

      <div
        class="toolbar-inf__bottom"
        v-if="!listDetails.is_owner"
      >
        <VueButton
          text="KELİME LİSTESİNİ ÇALIŞ"
          class="wordlist-work-btn"
          icon="arrow-long-right"
          icon-location="far-right"
          icon-size="1.2"
          @click.native="goTolistDetails"
          v-if="
            typeof listDetails.items !== 'undefined' &&
              listDetails.word_count > 0
          "
        />
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import VueDropdownIcon from '@/core/VueDropdownIcon'
// import VueButton from '../../VueButton.vue'
import { SHOW_OVERLAY, SHOW_TOOLBAR } from '../../../store/actions.type'
import VueButton from '../../../core/VueButton.vue'
import BaseIcon from '../../Base/BaseIcon.vue'

export default {
  name: 'WordListContentHeader',
  components: {
    VueDropdownIcon,
    VueButton,
    BaseIcon,
    // VueButton1,
  },
  props: {
    userListOptions: {
      type: Array,
      default: () => {},
    },
    exploreWordlist: {
      type: Boolean,
      default: () => true,
    },
  },
  computed: {
    ...mapGetters({
      listDetails: 'wordbookMyList/listDetails',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
      nextPage: 'wordbookMyList/nextPage',
    }),
    listStatus() {
      return this.listDetails.is_owner ? this.listDetails.is_public : false
    },
    listStatusIcon() {
      return this.listDetails.is_owner
        ? this.listDetails.is_public
          ? 'eye'
          : 'eye-disabled'
        : 'user-fill'
    },
    listStatusText() {
      if (!this.listDetails.is_owner) {
        return this.listDetails.owner
      } else {
        return this.listDetails.is_public ? 'Herkese Açık' : 'Özel'
      }
    },
    statusColor() {
      return this.listDetails.is_public || this.listDetails.owner
    },
    statusIcon() {
      if (this.listDetails.is_owner) {
        if (this.listDetails.is_public) {
          return 'icon-view-o'
        } else {
          return 'icon-view'
        }
      } else {
        return 'icon-user-fill'
      }
    },
  },
  methods: {
    ...mapActions({
      getMyListDetails: 'wordbookMyList/getMyListDetails',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      restSearchResult: 'wordbookMyList/restSearchResult',
      editList: 'wordbookMyList/editList',
      deleteList: 'wordbookMyList/deleteList',
      getMyList: 'wordbookMyList/getMyList',
      followList: 'wordbookExploreList/followList',
      getExploreList: 'wordbookExploreList/getExploreList',
      setCurrentTab: 'wordbookList/setCurrentTab',
    }),
    goTolistDetails() {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$store.dispatch(SHOW_OVERLAY, false)

      if (this.$route.path !== `/kelime-defteri/${this.listDetails.id}`) {
        this.setCurrentTab(0)
        console.log('not same url ')
        this.$router.push(`/kelime-defteri/${this.listDetails.id}`)
      }
    },
    /**
     *
     */
    showDeleteModal() {
      this.$swal
        .fire({
          title: 'Kelime Listesi Silinsin mi?',
          text:
            'Bu işlem geri alınamaz, bu kelime listesi tamamen silinecek. Silmek istediğinize emin misiniz?',
          confirmButtonText: 'SİL',
          showCancelButton: true,
          cancelButtonText: 'İPTAL',
          icon: 'error',
          cancelButtonColor: '#d8e0ee',
        })
        .then(res => {
          if (res.value) {
            this.deleteWordList(this.listDetails.id)
          }
        })
    },
    /**
     *
     */
    async deleteWordList(id) {
      try {
        await this.deleteList(id).then(() => {
          this.back()
          this.$swal.fire({
            toast: true,
            timer: 3000,
            icon: this.listMassegeStatus ? 'success' : 'error',
            title: this.listMessageText,
            position: 'top-end',
            showConfirmButton: false,
          })
        })
      } catch (error) {
        console.log('error: ', error)
      }
    },
    /**
     */
    async openEdit(id) {
      this.clearFromMessage()
      await this.getMyListDetails(this.listDetails.id)
      this.$emit('updateEditMode', true)
    },
    /**
     *
     */
    async back() {
      if (!this.exploreWordlist) {
        this.$emit('back')
      } else {
        await this.getMyListDetails(this.listDetails.id)
        this.$emit('showListContent', this.listDetails.id)
      }
    },
    /**
     *
     */
    showAddNewWordForm() {
      this.restSearchResult()
      this.$emit('showAddNewWordForm')
    },
    /**
     *
     */
    async followExploreList() {
      this.clearFromMessage()
      await this.followList(this.listDetails.id).then(res => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: res.data.success ? 'success' : 'error',
          title: res.data.message,
          position: 'top-end',
          showConfirmButton: false,
        })
        this.getMyListDetails(this.listDetails.id)
        this.getExploreList()
        this.getMyList(true)
      })
    },
    /**
     */
    async publicList(isPublic) {
      this.clearFromMessage()
      var listObj = {
        id: this.listDetails.id,
        title: this.listDetails.title,
        description: this.listDetails.description,
        isPublic: isPublic,
      }
      await this.editList(listObj).then(() => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: this.listMassegeStatus ? 'success' : 'error',
          title: this.listMessageText,
          position: 'top-end',
          showConfirmButton: false,
        })
        if (this.listMassegeStatus) {
          this.getMyList()
        }
        this.getMyListDetails(listObj.id)
      })
    },
  },
}
</script>
<style lang="scss" scoped>
@import '../../../assets/scss/variables';
@import '@/assets/scss/components/publicity-switch.scss';

.wordlist-work-btn {
  width: 100%;
  background: $c-bgalt;
  color: $c-primary;
}

.toolbar-wordlist {
  &__switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    flex-basis: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.5rem;
    border-radius: 100px;
    margin: 0;
    background: #fff;
    cursor: pointer;
    margin-left: 0.5rem;

    @include bp(tablet) {
      margin-left: 10px;
    }

    & .toolbar-wordlist__slider {
      position: absolute;
      transition: 0.25s;
      border-radius: 50%;
      height: 1.25rem;
      width: 1.25rem;
      left: 0.125rem;
      top: 0.125rem;
      background-color: $c-bgalt;
      display: flex;
      align-items: center;
      justify-content: center;

      &--icon {
        transition: 0.25s linear;
        font-size: 0.5rem;
        color: $c-bgalt;
      }

      &.active {
        transform: translateX(1rem);
        background: $c-alt;

        & .toolbar-wordlist__slider--icon {
          color: #fff;
        }
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: flex-end;

    &--text {
      color: $c-text;
      white-space: nowrap;
      font-size: 1rem;
    }
  }

  &-typeicon {
    &.public {
      color: $c-alt;
    }
  }
}

.toolbar-inf {
  &__bottom {
    flex-direction: column;
  }
}

.dark-mode {
  .toolbar-wordlist {
    &__switch {
      background: #31384e;
    }

    &__slider {
      background: #48526b;

      &--icon {
        color: #48526b;
      }
    }
  }
}
</style>
