<template>
  <div class="wordlist-count">
    <span class="wordlist-count__title">{{ title }}</span>
    <span class="wordlist-count__items">{{ count }} {{ countObject }}</span>
  </div>
</template>

<script>
export default {
  name: 'WordListCount',
  props: {
    title: String,
    count: Number,
    countType: String
  },
  computed: {
    countObject() {
      return this.countType.charAt(0).toUpperCase() + this.countType.slice(1)
    }
  }
}
</script>

<style>

</style>
