<script>
import Cart from '@/components/Store/Cart'
import { SET_HEADER_CLASS } from '../../store/actions.type'
import { mapGetters } from 'vuex'

export default {
  name: 'StoreIndex',

  components: {
    Cart,
  },

  data() {
    return {
      activeTab: {},
      tabs: [
        {
          id: 1,
          name: 'StorePrivate',
          title: 'Size Özel',
          link: 'size-ozel',
          icon: 'icon-star',
          tabId: 'private',
        },
        {
          id: 2,
          name: 'StoreLessons',
          title: 'Online Dersler',
          link: 'online-dersler',
          icon: 'icon-monitor',
          tabId: 'onlineLesson',
        },
        {
          id: 3,
          name: 'StoreLessonPackage',
          title: 'Çalışma Paketleri',
          link: 'calisma-paketleri',
          icon: 'icon-monitor',
          tabId: 'onlineLessonPackage',
        },
        {
          id: 4,
          name: 'StoreBooks',
          title: 'Kitaplar',
          link: 'kitaplar',
          icon: 'icon-book',
          tabId: 'book',
        },
        /* {
          id: 4,
          name: 'StoreNotes',
          title: 'Notlar',
          link: 'notlar',
          icon: 'icon-paper-book',
          tabId: 'note'
        } */
        /* {
          id: 5,
          name: 'StoreDigitals',
          title: 'Dijital Ürünler',
          link: 'dijital-urunler',
          icon: 'icon-digital-price',
          tabId: 'digital'
        } */
      ],

      inDetail: false,
      prevRoute: '/',
    }
  },

  computed: {
    ...mapGetters('store', ['basketLoading', 'basketEmpty']),
  },

  watch: {
    $route: {
      immediate: true,
      handler(route) {
        this.prevRoute = route.fullPath
        this.inDetail = route.params.id !== undefined
      },
    },
  },

  created() {
    this.getCurrentPage()
  },

  methods: {
    goBack() {
      if (this.prevRoute.path === '/') this.$router.push('/magaza')
      else this.$router.go(-1)
    },

    getCurrentPage() {
      this.$store.dispatch(SET_HEADER_CLASS, 'header--gray')
      console.log(this.$route)
    },

    activateTab(tab) {
      this.activeTab = this.tabs.find(el => el.name === tab.name)
      document.title = `${this.activeTab.title} | Magaza | RH+ Platform`
    },

    addToCart(form) {
      this.$refs.Cart.store(form)
    },

    handleGoShopping() {
      window.open(
        'https://www.remzihoca.com/sepet?p=' +
          this.$store.state.user.user.login_token,
        '_blank'
      )
    },
  },
}
</script>

<template>
  <div class="shop-page">
    <div class="subpage-header subpage-header--light">
      <div class="custom-container">
        <div class="subpage-header__wrp">
          <div class="subpage-header__head" style="width: 100%;">
            <div class="subpage-header__icon shop-icon">
              <svg-icon type="icon-market" />
            </div>
            <div class="subpage-header__title">
              <span>Mağaza</span>
            </div>
            <div
              class="subpage-header__info subpage-shop-button"
              style="margin-left: auto; margin-right: 0;"
              v-if="!inDetail"
            >
              <v-button
                v-if="!basketLoading && !basketEmpty"
                class="ml-auto finish-shopping"
                icon="icon-cart"
                title="Alışverişi Tamamla"
                icon-position="right"
                @click.native="handleGoShopping"
              />
            </div>
            <div
              class="subpage-header__info"
              style="margin-left: auto; margin-right: 0;"
              v-if="inDetail"
            >
              <div class="custom-exit-button">
                <v-button
                  class="ml-auto go-back-button"
                  icon="icon-arrow-long-left"
                  title="GERİ DÖN"
                  icon-position="left"
                  @click.native="goBack()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="subpage-tab" :class="{ 'in-detail': inDetail }">
          <div class="subpage-tab-list">
            <router-link
              class="subpage-tab__item"
              exact-active-class="active"
              :class="{ private: tab.tabId === 'private' }"
              v-for="(tab, index) in tabs"
              :to="{ name: tab.name }"
              :key="`tabItem${index}`"
            >
              <svg-icon :type="tab.icon" />
              <span>{{ tab.title }}</span>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade-fast" mode="out-in">
      <router-view
        @onCartAdd="addToCart"
        :class="{ 'shop-in-detail': inDetail }"
      />
    </transition>
    <Cart ref="Cart" />
  </div>
</template>

<style>
.fade-fast-enter-active {
  transition: opacity 0.05s ease-in-out;
}

.fade-fast-leave-active {
  transition: opacity 0.05s ease-in-out;
}

.fade-fast-enter {
  opacity: 0;
}

.fade-fast-leave-to {
  opacity: 0;
}
</style>

.<style lang="scss" scoped>
.shop-in-detail {
  margin-top: -5.5rem;
}

.subpage-tab {
  transition: 0.2s;
  opacity: 1;

  &.in-detail {
    opacity: 0;
  }
}
</style>
