<script>
import PackageItem from '@/components/Store/PackageItem'
import ProductItem from '@/components/Store/ProductItem'
import Wizard from '@/components/Store/Wizard'
import Modal from '@/components/Modal'
import GhostProductItem from '@/core/Ghost/GhostProductItem'
import { SET_HEADER_CLASS } from '../../store/actions.type'
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  name: 'StorePrivate',

  components: {
    PackageItem,
    ProductItem,
    Wizard,
    Modal,
    GhostProductItem,
  },

  data() {
    return {
      basket: {
        quantity: 0,
        total_price: 0,
        products: [],
        packages: [],
      },
      lessonsSliderOptions: {
        grabCursor: true,
        autoHeight: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.slide-2',
          type: 'bullets',
        },
        simulateTouch: false,
      },
      notesSliderOptions: {
        grabCursor: true,
        autoHeight: true,
        speed: 500,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.slide-3',
          type: 'bullets',
        },
        simulateTouch: false,
      },
      transition: true,
      dialogVisible: false,
      promotionDialog: {
        visible: false,
        response: {},
      },
      note: {
        visible: false,
        is_init: false,
        total: 0,
      },
      product: null,
      refIndex: 0,
    }
  },

  computed: {
    ...mapGetters('store', [
      'loading',
      'loaded',
      'privateData',
      'privatePack',
      'privateLessons',
      'privateNotes',
    ]),
  },

  created() {
    this.setPageHeaderDark()
    this.getData()
  },

  methods: {
    showPromotion(item) {
      this.promotionDialog.visible = true
      this.promotionDialog.response = item
    },

    setPageHeaderDark() {
      this.$store.dispatch(SET_HEADER_CLASS, 'header--gray')
    },

    getData() {
      if (this.$store.state.store.private === null) {
        this.$store.dispatch('store/getContent', 'private')
      }
      this.transition = false
    },

    initResponseBasket(data, showDialog) {
      if (data.basket) {
        this.basket = data.basket
      } else {
        this.basket = {
          quantity: 0,
          total_price: 0,
          products: [],
          packages: [],
        }
      }

      this.dialogVisible = showDialog
    },

    addToBasket(form) {
      this.$emit('onCartAdd', form)
    },

    fire(data) {
      console.log('fired: ', data)
    },

    showNotesModal(el, index) {
      this.refIndex = index
      this.note.visible = true
      this.product = el
      this.$refs.productItem[index].fromParent(index)
    },

    calculateNotePrices() {
      let total = 0

      _.forEach(this.product.notes, note => {
        total += note.shop.price * note.shop.quantity
      })

      this.note.total = total
      this.notePrice = this.note.total
    },

    handleClickNotePriceInitButton() {},

    handleClickNoteQuantityButton(note, type, index) {
      this.$refs.productItem[this.refIndex].handleClickNoteQuantityButton(
        note,
        type
      )
      this.calculateNotePrices()
    },

    hideNotesModal() {
      this.note.visible = false
    },
  },
}
</script>

<template>
  <container>
    <div v-if="loading && !loaded">
      <GhostProductItem />
    </div>
    <transition name="fade-fast" mode="out-in">
      <section
        class="store-page-content"
        v-if="!loading && loaded && !transition"
      >
        <Wizard ref="Wizard" />
        <div
          class="store-page-content-workpack pt-25"
          v-if="privateData.data.content !== null"
        >
          <div
            class="d-flex justify-content-between custom-subtitle-area mobile-flex-column"
          >
            <div class="shop-page--title" data-color="purple">
              <svg-icon type="icon-star"></svg-icon>
              <span>
                <strong> <b>ÇALIŞMA PAKETİ</b> ÖNERİLERİ </strong>
              </span>
            </div>
            <div
              class="settings-button"
              @click="$refs.Wizard.handleVisibleDialog()"
            >
              <span>
                Çalışma Paketleri sihirbaza verdiğiniz yanıtlar doğrultusunda
                size paket önermektedir.
              </span>
              <button
                v-tooltip="{
                  content: 'Ürün Sihirbazını Tekrar Çöz',
                  classes: 'tooltip-singleline',
                }"
              >
                <svg-icon type="icon-setting"></svg-icon>
              </button>
            </div>
          </div>
          <PackageItem
            :content="privatePack"
            v-if="privatePack"
            :basket="addToBasket"
            @on-add="fire"
          />
        </div>
        <div
          class="store-page-content-lessons pt-25"
          v-if="privateLessons.length > 0"
        >
          <div
            class="d-flex justify-content-between custom-subtitle-area mobile-flex-column"
            v-if="privateLessons !== null"
          >
            <div class="shop-page--title" data-color="green">
              <svg-icon type="icon-star"></svg-icon>
              <span>
                <svg-icon type="icon-monitor"></svg-icon>
                <strong> <b>ONLINE DERS</b> ÖNERİLERİ </strong>
              </span>
            </div>
          </div>

          <swiper
            :options="lessonsSliderOptions"
            v-if="privateLessons !== null"
          >
            <swiper-slide
              v-for="(product, index) in privateLessons"
              :key="`lessonProduct${index}`"
            >
              <h4 class="shop-main-h4 pos-abs">
                {{ product.title }} Çalışma paketini eksik aldığınız için
                önerilmektedir.
              </h4>
              <ProductItem
                :product="product"
                :basket="addToBasket"
                :key="'content-' + product.id"
                :index="index"
                @onPromotionClick="showPromotion"
                @onShowNotes="showNotesModal"
                :ref="`productItem`"
              />
            </swiper-slide>

            <swiper-slide
              v-for="(product, index) in privateLessons"
              :key="`lessonProductElement${index}`"
            >
              <h4 class="shop-main-h4 pos-abs">
                {{ product.suggestion_title }} Çalışma paketini eksik aldığınız
                için önerilmektedir.
              </h4>
              <ProductItem
                :product="product"
                :basket="addToBasket"
                :key="product.id"
                :index="index"
                @onPromotionClick="showPromotion"
                @onShowNotes="showNotesModal"
                ref="productItem2"
              />
            </swiper-slide>
            <div
              class="swiper-button-prev package-slider__arrow"
              slot="button-prev"
            >
              <svg-icon type="icon-arrow-left" />
            </div>
            <div
              class="swiper-button-next package-slider__arrow"
              slot="button-next"
            >
              <svg-icon type="icon-arrow-right" />
            </div>
          </swiper>
          <div class="swiper-pagination slide-2"></div>
        </div>
        <div class="store-page-content-notes pt-25" v-if="privateNotes.length > 0">
          <div class="shop-page--title pl-25" data-color="red">
            <svg-icon type="icon-star"></svg-icon>
            <span>
              <svg-icon type="icon-paper-book"></svg-icon>
              <strong> <b>DERS NOTLARI</b> ÖNERİLERİ </strong>
            </span>
          </div>
          <swiper :options="notesSliderOptions" v-if="privateNotes !== null">
            <swiper-slide
              v-for="note in privateNotes"
              :key="`noteItem${note.id}`"
            >
              <ProductItem
                :product="note"
                :basket="addToBasket"
                :key="note.id"
              />
            </swiper-slide>
            <div
              class="swiper-button-prev package-slider__arrow"
              slot="button-prev"
            >
              <svg-icon type="icon-arrow-left" />
            </div>
            <div
              class="swiper-button-next package-slider__arrow"
              slot="button-next"
            >
              <svg-icon type="icon-arrow-right" />
            </div>
          </swiper>

          <div class="swiper-pagination slide-3"></div>
        </div>
      </section>
    </transition>

    <modal
      modal-class="modal-lg modal-product-other-items"
      :active="promotionDialog.visible"
      @onModalClose="promotionDialog.visible = false"
    >
      <div slot="header" class="modal__top">
        <img
          :src="promotionDialog.response.image"
          class="modal__top-img"
          :alt="promotionDialog.response.title"
        />
        <div class="modal__top-title">{{ promotionDialog.response.title }}</div>
      </div>
      <div
        slot="content"
        class="modal-product-other-items--content"
        style="color: #7d97ad;"
      >
        <div v-html="promotionDialog.response.description"></div>
        <router-link
          class="modal-product-other-items--button color-white-i"
          :class="promotionDialog.response.url"
          target="_blank"
          :to="`/${promotionDialog.response.url}`"
        >
          <span>ÜCRETSİZ DENE</span>
        </router-link>
      </div>
    </modal>
    <modal
      modal-class="modal-lg modal-book no-pad modal-content-books"
      :active="note.visible"
      @onModalClose="hideNotesModal"
    >
      <div slot="header" style="border-bottom: 1px solid #e0e7ed;">
        <div
          style="padding: 20px; font-size: 22px; font-weight: 600; color: #4545a2;"
        >
          BASILI ÜRÜNLER
        </div>
      </div>
      <div slot="content" style="color: #7d97ad;" v-if="product !== null">
        <div class="n-products--books">
          <div class="books-popup__wrp">
            <div
              class="books-popup__main"
              v-for="note in product.notes"
              :key="note.id"
            >
              <div class="books-popup__img">
                <img :src="note.assets.list_image" :alt="note.title" />
              </div>
              <div class="books-popup__content">
                <div class="books-popup__cnt column">
                  <div class="books-popup__txt">{{ product.title }}</div>
                  <div class="books-popup__title">{{ note.title }}</div>
                </div>
                <div class="books-popup__items">
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-papers" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Sayfa Sayısı</div>
                      <div class="books-popup__item-number">
                        {{ note.features.paper_page_count }}
                      </div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-book" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Kapak Türü</div>
                      <div class="books-popup__item-number">
                        {{ note.features.cover_type }}
                      </div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-paper-type" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Kağıt Cinsi</div>
                      <div class="books-popup__item-number">
                        {{ note.features.paper_type }}
                      </div>
                    </div>
                  </div>
                  <div class="books-popup__item">
                    <div class="books-popup__icon">
                      <svg-icon type="icon-ruler" />
                    </div>
                    <div class="books-popup__item-cnt">
                      <div class="books-popup__item-title">Boyut</div>
                      <div class="books-popup__item-number">
                        {{ note.features.size }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="books-popup__count">
                <div class="input-count js-count">
                  <button
                    class="input-count__btn single-js-count-btn"
                    @click="handleClickNoteQuantityButton(note, 'minus')"
                  >
                    <span class="button__wrp">
                      <span class="minus"></span>
                    </span>
                  </button>
                  <input
                    type="text"
                    class="quantity-value input-count__input input-reset"
                    readonly
                    v-model="note.shop.quantity"
                  />
                  <button
                    class="input-count__btn single-js-count-btn"
                    @click="handleClickNoteQuantityButton(note, 'plus')"
                  >
                    <span class="button__wrp">
                      <span class="plus"></span>
                    </span>
                  </button>
                </div>
                <div class="books-popup__count-txt">Kopya Sayısı</div>
              </div>
              <div class="books-popup__price">
                <div class="books-popup__price-number">
                  {{ parseFloat(note.shop.price).toFixed(2) }} TL
                </div>
                <div class="books-popup__price-cargo">Ücretsiz Kargo</div>
              </div>
            </div>
          </div>
        </div>

        <div class="books-popup__bottom">
          <div class="books-popup__total-price">
            <div class="books-popup__total-price__txt">EKLENECEK TUTAR</div>
            <div class="books-popup__total-price__number">
              <span class="js-total-book-price">{{ note.total }}</span> TL
            </div>
          </div>
          <div class="books-popup__bottom--btn product-card">
            <button
              @click="handleClickNotePriceInitButton"
              class="button product-add__button button--green fw"
              type="button"
            >
              <span class="button__wrp">
                <span class="button__icon">
                  <svg-icon type="icon-cart" />
                </span>
                <span class="button__txt">SEPETE EKLE</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </modal>
  </container>
</template>

<style lang="scss" scoped>
.package-slider__arrow {
  background: #fff !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  color: #3f468c;
  box-shadow: 0px 22px 43px 0px rgba(19, 29, 51, 0.2);

  &.swiper-button-disabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
    pointer-events: all !important;
  }
}
</style>
