<script>
import ProductListItem from '@/components/Store/ProductListItem'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostProductSingle from '@/core/Ghost/GhostProductSingle'
import { mapGetters } from 'vuex'

export default {
  name: 'StoreLessons',

  components: {
    ProductListItem,
    GhostVueSelect,
    GhostProductSingle
  },

  data() {
    return {
      lessonsList: [],
      basket: null,
      transition: true,
      lessonsFilters: [],
      animating: false,
      lessonCategories: [
        {
          value: null,
          label: 'Tüm İçerikler'
        },
        {
          value: 688,
          label: 'YDS'
        },
        {
          value: 689,
          label: 'YÖKDİL'
        }
      ],
      lessonCategoryId: null,
      lessonFilterId: null
    }
  },

  computed: {
    ...mapGetters('store', [
      'loading',
      'loaded',
      'onlineLessons',
      'onlineLessonsCategories',
      'lastOnlineFilter',
      'filteredOnlineLessons',
      'onlineLessonFilters'
    ])
  },

  created() {
    this.getOnlineLessons()
  },

  methods: {
    getOnlineLessons() {
      if (this.$store.state.store.onlineLesson === null) {
        this.$store.dispatch('store/getContent', 'onlineLesson')
      }
      this.transition = false
    },

    filterLessons(val) {
      this.animating = true
      setTimeout(() => {
        this.$store.commit('store/setLessonsFilter', val)
        this.animating = false
      }, 150)
    },

    selectLessonCategory(item) {
      this.animating = true
      setTimeout(() => {
        this.lessonCategoryId = item.value
        this.lessonFilterId = null
        this.animating = false
      }, 250)
    },

    filterLessonType(item) {
      this.animating = true
      setTimeout(() => {
        this.lessonFilterId = item.value
        this.animating = false
      }, 250)
    }
  }
}
</script>

<template>
  <container>
    <div v-if="loading && !loaded">
      <div class="shop-vue-select">
        <GhostVueSelect />
        <GhostVueSelect />
      </div>
      <GhostProductSingle />
    </div>
    <transition name="fade-fast" mode="out-in">
      <section class="store-lessons" v-if="!loading && loaded && !transition">
        <div class="page-content-filters">
          <div class="page-content-filters__left mw-300">
            <select-box
              ref="lessonCategoryTypes"
              title="Sınav Türü Seçin"
              :options="lessonCategories"
              @onselect="selectLessonCategory"
            />
          </div>
          <div class="page-content-filters__right mw-300">
            <select-box
              class="w-320"
              title="Seviye Seçin"
              ref="lessonFilterTypes"
              :isDisabled="lessonCategoryId === null"
              :class="{ filterIsDisabled: lessonCategoryId === null }"
              :options="onlineLessonFilters(lessonCategoryId)"
              @onselect="filterLessonType"
              v-tooltip="{
                content: lessonCategoryId === null ? ' Sınav Türü Seçiniz!' : '',
                classes: 'tooltip-singleline'
              }"
            />
          </div>
        </div>
        <transition name="fade-fast" mode="out-in">
          <div class="row" style="margin-top: 40px;" v-if="!animating">
            <div
              class="col-6 col-md-3 product-item__wrp"
              v-for="lesson in filteredOnlineLessons(lessonCategoryId, lessonFilterId)"
              :key="`lessonProduct${lesson.id}`"
            >
              <ProductListItem :product="lesson.products[0]" :basket="basket" :key="`lessonProduct${lesson.id}`" />
            </div>
          </div>
        </transition>
      </section>
    </transition>
  </container>
</template>

<style lang="scss" scoped>
.mw-300 {
  min-width: 300px !important;
}
</style>

<style>
.w-320 {
  width: 320px;
}
.filterIsDisabled {
  user-select: none;
  cursor: default;
  opacity: 0.5;
}
</style>
