<script>
import PackageListItem from '@/components/Store/PackageListItem'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostProductSingle from '@/core/Ghost/GhostProductSingle'
import { mapGetters } from 'vuex'

export default {
  name: 'StoreLessonPackage',

  components: {
    PackageListItem,
    GhostVueSelect,
    GhostProductSingle,
  },

  data() {
    return {
      lessonsList: [],
      basket: null,
      transition: true,
      lessonsFilters: [],
      animating: false,
      lessonCategories: [
        {
          value: null,
          label: 'Tüm Paketler',
        },
        {
          value: 680,
          label: 'YÖKDİL Junior Paketleri',
        },
        {
          value: 681,
          label: 'YDS Junior Paketleri',
        },
        {
          value: 683,
          label: 'YDS Senior Paketleri',
        },
        {
          value: 684,
          label: 'YÖKDİL Senior Paketleri',
        },
      ],
      lessonCategoryId: null,
      lessonFilterId: null,
    }
  },

  computed: {
    ...mapGetters('store', [
      'loading',
      'loaded',
      'packages',
      'packagesCategories',
      'filteredOnlinePackages',
      'onlinePackageFilters',
    ]),
  },

  created() {
    this.getOnlineLessonPackage()
  },

  methods: {
    getOnlineLessonPackage() {
      if (this.$store.state.store.packages === null) {
        this.$store.dispatch('store/getContent', 'packages')
      }
      this.transition = false
    },

    filterLessons(val) {
      this.animating = true
      setTimeout(() => {
        this.$store.commit('store/setLessonsFilter', val)
        this.animating = false
      }, 150)
    },

    selectLessonCategory(item) {
      this.animating = true
      setTimeout(() => {
        this.lessonCategoryId = item.value
        this.lessonFilterId = null
        this.animating = false
      }, 250)
    },

    filterLessonType(item) {
      this.animating = true
      setTimeout(() => {
        this.lessonFilterId = item.value
        this.animating = false
      }, 250)
    },
  },
}
</script>

<template>
  <container>
    <div v-if="loading && !loaded">
      <div class="shop-vue-select">
        <GhostVueSelect />
        <GhostVueSelect />
      </div>
      <GhostProductSingle />
    </div>
    <transition name="fade-fast" mode="out-in">
      <section class="store-lessons" v-if="!loading && loaded && !transition">
        <div class="page-content-filters">
          <div class="page-content-filters__left mw-300">
            <select-box
              ref="lessonCategoryTypes"
              title="Paket Türü Seçin."
              :options="lessonCategories"
              @onselect="selectLessonCategory"
            />
          </div>
          <div class="page-content-filters__right mw-300">
          </div>
        </div>
        <transition name="fade-fast" mode="out-in">
          <div class="row" style="margin-top: 40px;" v-if="!animating">
            <div
              class="col-6 col-md-3 product-item__wrp"
              v-for="pack in filteredOnlinePackages(
                lessonCategoryId,
                lessonFilterId
              )"
              :key="`lessonPackage${pack.id}`"
            >
              <PackageListItem :content="pack" :basket="basket" />
            </div>
          </div>
        </transition>
      </section>
    </transition>
  </container>
</template>

<style lang="scss" scoped>
.mw-300 {
  min-width: 300px !important;
}
</style>

<style>
.w-320 {
  width: 320px;
}
.filterIsDisabled {
  user-select: none;
  cursor: default;
  opacity: 0.5;
}
</style>
