<script>
import ProductListItem from '@/components/Store/ProductListItem.vue'
import GhostProductSingle from '@/core/Ghost/GhostProductSingle'
import { mapGetters } from 'vuex'

export default {
  name: 'StorePublic',

  components: {
    ProductListItem,
    GhostProductSingle
  },

  data() {
    return {
      products: [],
      filters: null,
      basket: null,
      transition: true
    }
  },

  watch: {
    $route(to, from) {
      this.transition = true
      this.products = []
      setTimeout(() => {
        this.transition = false
        this.getProducts(to.meta.tabName)
      }, 250)
    },

    loaded(e) {
      if (e) {
        setTimeout(() => {
          this.setProducts()
          this.transition = false
        }, 250)
      }
    }
  },

  computed: {
    ...mapGetters('store', ['loading', 'loaded', 'books', 'notes', 'digitals'])
  },

  created() {
    this.getProducts(this.$route.meta.tabName)
  },

  methods: {
    getProducts(tab) {
      const activeTab = this.$store.state.store[tab]
      if (activeTab === null) {
        this.$store.dispatch('store/getContent', tab)
        this.transition = false
      } else {
        this.setProducts()
        this.transition = false
      }
    },

    setProducts() {
      if (this.$route.meta.tabName === 'book') {
        this.products = this.books
      } else if (this.$route.meta.tabName === 'note') {
        this.products = this.notes
      } else if (this.$route.meta.tabName === 'digital') {
        this.products = this.digitals
      } else {
        this.products = []
      }
    }
  }
}
</script>

<template>
  <container>
    <div v-if="loading && !loaded">
      <GhostProductSingle />
    </div>
    <transition name="fade-fast" mode="out-in">
      <div class="row mt-40" v-if="!loading && loaded && !transition">
        <div class="col-6 col-md-4 col-xl-3 product-item__wrp" v-for="product in products" :key="product.id">
          <ProductListItem :product="product" :basket="basket" />
        </div>
      </div>
    </transition>
  </container>
</template>
