<template>
  <div class="reading-test__item" v-if="question">
    <div class="test-question">
      <div class="test-question-inf">{{ index + 1 }}</div>
      <div class="test-quesiton__cnt">
        <div class="test-question__txt" v-html="question.content"></div>
      </div>
    </div>
    <div class="reading-test__content">
      <div class="reading-test-options">
        <div
          class="reading-test-option"
          v-for="(opt, optIndex) in question.options"
          :key="optIndex"
          @click="selectOption(optIndex)"
          :class="{
              selected : optIndex === currentKey,
              correct  : optIndex === correctKey,
              wrong    : optIndex === wrongKey
             }"
        >
          <span class="reading-test-option__key">
            <span class="key-txt">{{ opt.key }}</span>
          </span>
          <div
            class="reading-test-option__txt"
            :class="{
            correct : optIndex === correctKey,
            wrong   : optIndex === wrongKey
          }"
          >{{ opt.title }}</div>
        </div>
      </div>
    </div>
    <!-- <p class="absolute-data">{{ testend }} - {{ correctKey }} / {{ finish }} -
      {{ answerData }}
    </p>-->
    <div
      class="reading-test-status"
      v-show="finish || testend"
      :class="[{ correct : correctAnswer, wrong: wrongAnswer}, { finished: finish || testend }]"
    >
      <div class="reading-test-status__title" v-if="wrongAnswer">yanlış</div>
      <div class="reading-test-status__title" v-else-if="correctAnswer">doğru</div>
      <div class="reading-test-status__title" v-else>boş</div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'ReadingTestItem',
  props: {
    question: Object,
    index: Number,
    testend: Boolean,
    finish: Boolean,
  },
  data() {
    return {
      currentKey: null,
      solved: false,
      answerKey: null,
      correctOption: {},
      givenOption: {},
    }
  },
  methods: {
    selectOption(index) {
      if (this.isFinished()) {
        return false
      }
      if (
        this.answerKey !== -1 &&
        (this.$props.finish === true || this.$props.testend === true)
      ) {
        console.log(index)
        // return
      } else {
        console.log('index: ', index)
        this.currentKey = index
        this.givenOption = this.$props.question.options[index]
        this.$emit(
          'answer',
          this.question,
          this.question.options[this.currentKey].id,
          this.solved,
        )
      }
    },
    isFinished() {
      return this.$props.finish || this.$props.testend
    },
    hasAnswer() {
      return (
        Object.keys(this.givenOption).length > 0 &&
        this.givenOption.constructor === Object
      )
    },
    setGivenAnswer() {
      if (!this.isFinished()) {
        return false
      }
      this.selectAnswerData()
    },
    setCorrectAnswer() {
      this.correctOption = _.find(
        this.$props.question.options,
        el => el.correctOption === 1,
      )
    },
    getGivenAnswerKey() {
      if (!this.hasAnswer()) {
        return -1
      }
      return _.findIndex(
        this.$props.question.options,
        el => el.id === this.givenOption.id,
      )
    },
    selectAnswerData() {
      const data = _.find(
        this.$props.question.options,
        el => el.id === this.$props.question.selected_question_option_id,
      )
      if (data === undefined) {
        return false
      }
      this.givenOption = data
    },
  },
  computed: {
    correctAnswer() {
      if (this.hasAnswer() && this.correctOption.id === this.givenOption.id) {
        return true
      }
      return false
    },
    wrongAnswer() {
      if (this.hasAnswer() && this.correctOption.id !== this.givenOption.id) {
        return true
      }
      return false
    },
    correctKey() {
      if (!this.isFinished()) {
        return -1
      }
      if (!this.hasAnswer()) {
        return -1
      }
      return _.findIndex(
        this.$props.question.options,
        el => el.correctOption === 1,
      )
    },
    wrongKey() {
      if (!this.isFinished()) {
        return -1
      }
      if (!this.hasAnswer()) {
        return -1
      }
      if (this.correctAnswer) {
        return -1
      }
      return _.findIndex(
        this.$props.question.options,
        el => el.id === this.givenOption.id,
      )
    },
  },
  mounted() {
    if (this.question.selected_question_option_id !== null) {
      this.solved = true
    }
    this.correctOption = _.find(
      this.question.options,
      el => el.correctOption === 1,
    )
    this.answerKey = _.findIndex(
      this.question.options,
      el => el.id === this.question.selected_question_option_id,
    )
    if (this.answerKey !== null) {
      this.currentKey = this.answerKey
    }
  },
  created() {
    this.setCorrectAnswer()
    this.setGivenAnswer()
    this.getGivenAnswerKey()
  },
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/reading-test-item';
</style>
