<template>
  <div>
    <div class="reading-detail__wrapper detail__inner" ref="detailInner">
      <swiper
        :options="tabSwiper"
        class="reading-tabitems"
        ref="detailTabs"
        @slideChange="changeSlide"
      >
        <swiper-slide class="reading-tabitems__tab" v-for="(tab, index) in tabs" :key="index">
          <TabItem
            :icon="tab.icon"
            :text="tab.text"
            :active="index === activeTab"
            @click.native="tabShow(tab, index)"
          ></TabItem>
        </swiper-slide>
      </swiper>
      <tab class="detail-tab">
        <tab-pane :class="{ active: currentTab === 0 }">
          <div
            v-if="reading"
            class="tab-pane__content"
            style="height: 0 !important; overflow: hidden"
            :style="currentTab === 0 ? 'height: auto' : ''"
          >
            <ReadingTestList
              v-if="reading.questions.length > 0"
              :questions="reading.questions"
              :finished="reading.questions_solved"
              @testEnd="finishTest"
            />
            <empty-content v-if="reading.questions.length === 0" :content="emptyContent" />
          </div>
        </tab-pane>
        <tab-pane :class="{ active: currentTab === 1 }">
          <div
            class="tab-pane__content"
            style="height: 0 !important; overflow: hidden"
            :style="currentTab === 1 ? 'height: auto' : ''"
          >
            <div class="reading-words">
              <div class="reading-words__header">
                <transition-group name="fade">
                  <div class="reading-words__inf" :key="1" v-show="!showAddList">
                    <div class="reading-words__txt">
                      <span class="color-red font-size-23">*</span>
                      Bu okuma parçasında bulunan
                      <strong>vocabulary</strong> içeriğini listelene ekleyebilirsin!
                    </div>
                    <v-button
                      class="reading-words__button default round icon-left"
                      icon="icon-lists"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="openAddList"
                    />
                  </div>
                  <div class="reading-words__ctr" :key="2" v-show="showAddList">
                    <v-button
                      class="default round color-gray"
                      title="TÜMÜNÜ SEÇ"
                      @click.native="handleSelectVocabularies"
                    />
                    <v-button
                      class="purple fw shadow-none round icon-left"
                      icon="icon-plus"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="setAddWordModal({show:true,wordType:'w'})"
                    />
                    <v-button
                      class="default round icon-xs xs color-gray"
                      title="VAZGEÇ"
                      icon="icon-close"
                      icon-position="right"
                      @click.native="closeAddList"
                    />
                  </div>
                </transition-group>
              </div>

              <div
                class="reading-words__cnt"
                ref="wordList"
                :class="{ addWordList: showAddList == true }"
              >
                <word-box
                  v-for="word in reading.words"
                  :key="word.id + 0"
                  :word="word"
                  :selectable="showAddList"
                  @moreWords="toggleMore"
                  :ref="'wb-' + word.id"
                  :showAddList="showAddList"
                  :selectAllWords="selectVocabularies"
                />
              </div>
            </div>
            <!-- <empty-content v-else :content="emptyContent" /> -->
          </div>
        </tab-pane>
        <tab-pane :class="{ active: currentTab === 2 }">
          <div
            class="tab-pane__content"
            style="height: 0 !important; overflow: hidden"
            :style="currentTab === 2 ? 'height: auto' : ''"
          >
            <div class="reading-words" v-if="reading.collocations.length > 0">
              <div class="reading-words__header">
                <transition-group name="fade">
                  <div class="reading-words__inf" :key="1" v-show="!showAddList">
                    <div class="reading-words__txt">
                      <span class="color-red font-size-23">*</span>
                      Bu okuma parçasında bulunan
                      <strong>collocation</strong> içeriğini listelene ekleyebilirsin!
                    </div>
                    <v-button
                      class="reading-words__button default round icon-left"
                      icon="icon-lists"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="openAddList"
                    />
                  </div>
                  <div class="reading-words__ctr" :key="2" v-show="showAddList">
                    <v-button
                      class="default round color-gray"
                      title="TÜMÜNÜ SEÇ"
                      @click.native="handleSelectCollocations"
                    />
                    <v-button
                      class="purple fw shadow-none round icon-left"
                      icon="icon-plus"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="setAddWordModal({show:true,wordType:'c'})"
                    />
                    <v-button
                      class="default round icon-xs xs color-gray"
                      title="VAZGEÇ"
                      icon="icon-close"
                      icon-position="right"
                      @click.native="closeAddList"
                    />
                  </div>
                </transition-group>
              </div>

              <div
                class="reading-words__cnt"
                ref="wordList"
                :class="{ addWordList: showAddList == true }"
              >
                <word-box
                  basic
                  v-for="word in reading.collocations"
                  :key="word.id + 0"
                  :word="word"
                  :selectable="showAddList"
                  @moreWords="toggleMore"
                  :ref="'wb-' + word.id"
                  :showAddList="showAddList"
                  :selectAllWords="selectCollocations"
                />
              </div>
            </div>
            <empty-content v-else :content="emptyContent" />
          </div>
        </tab-pane>
        <tab-pane :class="{ active: currentTab === 3 }">
          <div
            class="tab-pane__content"
            style="height: 0 !important; overflow: hidden"
            :style="currentTab === 3 ? 'height: auto' : ''"
          >
            <div class="reading-words" v-if="reading.prepositions.length > 0">
              <div class="reading-words__header">
                <transition-group name="fade">
                  <div class="reading-words__inf" :key="1" v-show="!showAddList">
                    <div class="reading-words__txt">
                      <span class="color-red font-size-23">*</span>
                      Bu okuma parçasında bulunan
                      <strong>preposition</strong> içeriğini listelene ekleyebilirsin!
                    </div>
                    <v-button
                      class="reading-words__button default round icon-left"
                      icon="icon-lists"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="openAddList"
                    />
                  </div>
                  <div class="reading-words__ctr" :key="2" v-show="showAddList">
                    <v-button
                      class="default round color-gray"
                      title="TÜMÜNÜ SEÇ"
                      @click.native="handleSelectPrepositions"
                    />
                    <v-button
                      class="purple fw shadow-none round icon-left"
                      icon="icon-plus"
                      icon-position="left"
                      title="KELİME LİSTESİNE EKLE"
                      @click.native="setAddWordModal({show:true,wordType:'p'})"
                    />
                    <v-button
                      class="default round icon-xs xs color-gray"
                      title="VAZGEÇ"
                      icon="icon-close"
                      icon-position="right"
                      @click.native="closeAddList"
                    />
                  </div>
                </transition-group>
              </div>
              <div
                class="reading-words__cnt"
                ref="wordList"
                :class="{ addWordList: showAddList == true }"
              >
                <word-box
                  basic
                  v-for="word in reading.prepositions"
                  :key="word.id + 0"
                  :word="word"
                  :selectable="showAddList"
                  @moreWords="toggleMore"
                  :ref="'wb-' + word.id"
                  :showAddList="showAddList"
                  :selectAllWords="selectPrepositions"
                />
              </div>
            </div>
            <empty-content v-else :content="emptyContent" />
          </div>
        </tab-pane>
        <transition name="fade-up">
          <div
            class="detail-tab__ctr"
            :class="{ fixed: addBottomFixed }"
            ref="addBottom"
            v-if="showAddList && addBottomShow"
          >
            <!-- <v-button
              class="purple shadow-none round icon-left"
              icon="icon-plus"
              icon-position="left"
              title="KELİME LİSTESİNE EKLE"
              @click.native="addListModal"
            /> -->
          </div>
        </transition>
      </tab>
    </div>
    <Modal :active="showModal" @onModalClose="hideModal" :hideClose="true" class="word-box-modal">
      <div slot="content" v-if="showModal">
        <div class="word-box-content">
          <div class="word-box__left">
            <v-button
              @click.native="speak(otherWords.word)"
              class="word-box__voice square default"
              icon="icon-voice"
              icon-position="left"
              v-tooltip.top="{
                content: 'Dinle',
                boundariesElement: 'body'
              }"
            />
          </div>
          <div class="word-box__cnt">
            <div class="word-box__top">
              <div
                class="word-box__title"
                :class="otherWords.type ? `color-${otherWords.type}` : ''"
              >
                {{ otherWords.word || otherWords.title || otherWords.name }}
              </div>
              <span
                class="word__badge"
                v-if="otherWords.type"
                :class="`bg-${otherWords.type}`"
                lang="en"
                >{{ otherWords.type }}</span
              >
            </div>
            <div class="word-box-meaning">
              <div class="word-box-meaningsline">
                <div
                  class="word-box-meaning__item"
                  v-for="meaning in otherWords.meaning.slice(0, 1)"
                  :key="meaning.id"
                >
                  <div class="word-rate">
                    <span
                      v-for="n in 4"
                      :key="n"
                      :class="{ active: n <= meaning.rate || meaning.level }"
                    ></span>
                  </div>
                  <div class="word-box-meaning__title">{{ meaning.title || meaning.name }}</div>
                </div>
              </div>
            </div>
          </div>
          <v-button
            class="reading-words__button default icon-left"
            icon="icon-lists"
            icon-position="left"
            title="EKLE"
          />
        </div>
        <div class="word-box-others">
          <h4 class="section-bracket">
            <span class="section-bracket__title">Diğer Anlamlar</span>
            <hr class="fw" />
          </h4>
          <div
            class="word-box-meaning__item"
            v-for="meaning in otherWords.meaning.slice(1)"
            :key="meaning.id"
          >
            <div class="word-rate">
              <span
                v-for="n in 4"
                :key="n"
                :class="{ active: n <= meaning.rate || meaning.level }"
              ></span>
            </div>
            <div class="word-box-meaning__title">{{ meaning.title || meaning.name }}</div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- <WordListModal :modal="listModal" :active="listModal" /> -->
    <WordDownloadModal :modal="downloadModal" />
    <!-- add to new modal for the new modal  -->
    <!-- <add-new-word-modal ref="addNewWordModal" /> -->
    <!-- Add the New Modal for the systems -->
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { gspeak } from '@/common/helpers'

import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
// import Modal from '@/components/Modal'
import EmptyContent from '@/components/EmptyContent'
// import WordListModal from '@/components/WordListModal'
import WordDownloadModal from '@/components/WordDownloadModal'
// import WordBox from '@/components/WordBox'
import ReadingTestList from '@/components/Reading/ReadingTestList'
import Modal from '@/components/Modal'
/** ** Add new word to systems */
// import AddNewWordModal from '@/components/WordBook/Plugin/AddNewWordModal'
import WordBox from '@/components/WordBox'
/** ** Add new word to systems */
export default {
  name: 'ReadingDetailTab',
  props: {
    reading: {
      type: Object,
      default: () => {}
    }
  },
  components: {
    Tab,
    Modal,
    TabItem,
    TabPane,
    swiper,
    swiperSlide,
    // Modal,
    // WordListModal,
    // WordBox,
    WordDownloadModal,
    ReadingTestList,
    EmptyContent,
    // AddNewWordModal,
    WordBox
  },
  data() {
    return {
      showModal: false,
      otherWords: [],
      tabSwiper: {
        centeredSlides: false,
        slidesPerView: 'auto',
        simulateTouch: false,
        breakpoints: {
          992: {
            centeredSlides: true,
            simulateTouch: true,
            slideToClickedSlide: true
          }
        }
      },
      emptyContent: {
        icon: 'icon-cart',
        title: 'Sonuç bulunamadı!',
        text:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor, dolorem fugit in quis velit!'
      },
      listModal: {
        title: 'KELİME LİSTESİNE EKLE',
        icon: 'icon-lists',
        active: true
      },
      downloadModal: {
        title: 'İndirme Seçenekleri',
        icon: 'icon-download',
        active: false
      },
      tabs: [
        {
          id: 0,
          icon: 'icon-help-ctr-o',
          text: 'OKUMA SORULARI'
        },
        {
          id: 1,
          icon: 'icon-vocabulary-o',
          text: 'VOCABULARY'
        },
        {
          id: 2,
          icon: 'icon-collocation-o',
          text: 'COLLOCATION'
        },
        {
          id: 3,
          icon: 'icon-preposition-o',
          text: 'PREPOSITION'
        }
      ],
      currentTab: 0,
      showAddList: false,
      selectAllWords: false,
      selectVocabularies: false,
      selectCollocations: false,
      selectPrepositions: false,
      addBottomShow: false,
      addBottomFixed: false,
      activeTab: 0,
      testProgress: 0,
      activeSlide: 0
    }
  },
  computed: {
    /* swiper() {
      this.$nextTick(this.$refs.detailTabs.swiper)
    } */
    ...mapGetters({
      addWordModal: 'wordbookplugin/addWordModal',
    })
  },
  methods: {
    ...mapActions({
      setAddWordModal: 'wordbookplugin/setAddWordModal',
      resetWordlist: 'wordbookplugin/resetWordlist'
    }),
    selectList(id) {
      let list = this.wordLists.find(item => {
        return item.id === id
      })
      list.selected = !list.selected
    },
    createList() {
      this.listsLastId++

      if (this.listName !== '') {
        let item = {
          id: this.listsLastId,
          title: this.listName,
          selected: false
        }
        this.wordLists.push(item)
      }
      this.listName = ''
    },
    speak(val) {
      gspeak(val)
    },
    hideModal() {
      this.showModal = false
    },

    openModal() {
      this.showModal = true
    },
    changeSlide() {
      this.activeSlide = this.$refs.detailTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
    },
    tabShow(tab, index) {
      this.currentTab = tab.id
      this.activeTab = index
      this.closeAddList()
      // this.$store.dispatch('wordbookplugin/resetWordlist')
      // this.$refs.detailTabs.swiper.activeIndex = this.activeTab
      console.log(this.$refs.detailTabs.swiper.activeIndex)
    },
    toggleMore(el) {
      this.otherWords = el
      this.openModal()
    },
    openAddList() {
      this.showAddList = true
      this.selectAllWords = false
    },
    closeAddList() {
      this.showAddList = false
      this.selectAllWords = false
      this.selectCollocations = false
      this.selectVocabularies = false
      this.selectPrepositions = false
      this.resetWordlist()
    },
    handleSelectVocabularies() {
      this.selectVocabularies = true
    },
    handleSelectCollocations() {
      this.selectCollocations = true
    },
    handleSelectPrepositions() {
      this.selectPrepositions = true
    },
    selectAll() {
      this.selectAllWords = true
    },
    addListModal() {
      this.listModal.active = true
    },
    openDownloadModal() {
      this.downloadModal.active = true
    },
    handleScroll() {
      let scrollPosition = window.scrollY
      const detailInner = this.$refs.detailInner
      const wordList = this.$refs.wordList
      this.addBottomShow = scrollPosition > detailInner.offsetTop + wordList.offsetTop + 65
      this.addBottomFixed = scrollPosition > detailInner.offsetHeight - wordList.offsetTop - 165
    },
    async finishTest() {
      let readingItem = localStorage.getItem('ritem')
      let readingList = localStorage.getItem('rlist')
      const response = await Vue.$axios(
        'GET',
        `/readings/${readingItem}?reading_list_id=${readingList}`
      )
      console.log('data: ', response.data[0].questions)
      this.$props.reading.questions = response.data[0].questions
      /* if (this.$props.reading.questions === response.data[0].questions) {
        return
      } */
    }
  },
  mounted() {
    for (let i = 0; i < this.reading.questions.length; i++) {
      let solutions = i
      if (this.reading.questions.selected_question_option_id !== null) {
        solutions++
      }
      this.testProgress = (solutions / this.reading.questions.length) * 100
      this.testProgress = parseInt(this.testProgress)
    }
    if (this.reading.questions.length === 0) {
      this.tabs.splice(
        this.tabs.findIndex(i => i.id === 0),
        1
      )
    }
    if (this.reading.words.length === 0) {
      this.tabs.splice(
        this.tabs.findIndex(i => i.id === 1),
        1
      )
    }
    if (this.reading.collocations.length === 0) {
      this.tabs.splice(
        this.tabs.findIndex(i => i.id === 2),
        1
      )
    }
    if (this.reading.prepositions.length === 0) {
      this.tabs.splice(
        this.tabs.findIndex(i => i.id === 3),
        1
      )
    }
    this.$nextTick(function() {
      this.activeTab = 0
      this.currentTab = this.tabs[0].id
    })
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  watch: {
    addWordModal() {
      if (!this.addWordModal) {
        this.closeAddList()
      }
    }
  }
}
</script>
