<template>
  <router-link
    :to="{ name: 'ReadingDetail', params: { id: reading.id, list: reading.reading_list_id, level: level } }"
    class="reading-item"
  >
    <div class="reading__left">
      <!--<img :src="require('@/assets/img/' + reading.image + '.jpg')" alt="" class="reading__img">-->
      <img :src="reading.img" alt class="reading__img" />
      <span class="reading__group tooltip-btn" v-tooltip="reading.groupName">
        <img :src="reading.icon" alt class="icon" />
      </span>
      <div class="reading-read" v-if="reading.read">
        <span class="reading-read__icon">
          <svg-icon type="icon-view-o" />
        </span>
        <div class="reading-read__txt">OKUNDU</div>
      </div>
    </div>
    <div class="reading__right">
      <div class="reading__header">
        <div class="reading__title">{{ reading.title }}</div>
        <div class="reading__tags">
          <span class="reading__tag" v-for="tag in reading.tags" :key="tag">#{{ tag }}</span>
        </div>
      </div>
      <div class="reading-inf">
        <div class="reading-inf__main" v-if="reading.question_exist">
          <span
            class="reading-inf__item tooltip-btn"
            :class="{ active : reading.questions_solved }"
            v-tooltip="{
              content: reading.questions_solved ? 'Sorular Çözüldü' : 'Sorular Çözülmedi',
              classes: 'tooltip-singleline'
            }"
          >
            <span class="reading-inf__icon">
              <dynamic-icon :type="reading.questions_solved ? 'icon-help-ctr-o' : 'icon-help-ctr'" />
            </span>
            <span class="tooltip tooltip--top single-line">
              <span class="tooltip__wrp">
                <span class="tooltip__txt" v-if="reading.questions_solved">Sorular Çözüldü</span>
                <span class="tooltip__txt" v-if="!reading.questions_solved">Sorular Çözülmedi</span>
              </span>
            </span>
          </span>
        </div>
        <div class="reading-inf__list">
          <span
            class="reading-inf__item tooltip-btn"
            :class="{ active : reading.vocabolary }"
            v-if="reading.vocabulary_exist"
            v-tooltip="{
              content: reading.vocabulary_exist ? 'Vocabulary listesi var' : '',
              classes: 'tooltip-singleline'
            }"
          >
            <span class="reading-inf__icon exist" :class="{ exist : reading.vocabulary }">
              <dynamic-icon type="icon-vocabulary" />
            </span>
            <span class="tooltip tooltip--top single-line">
              <span class="tooltip__wrp">
                <span class="tooltip__txt" v-if="!reading.vocabolary">Vocabulary listesi var</span>
                <span class="tooltip__txt" v-if="reading.vocabolary">Vocabulary Kelime Listesi Var</span>
              </span>
            </span>
          </span>

          <span
            class="reading-inf__item tooltip-btn"
            :class="{ active : reading.collocation }"
            v-if="reading.collocation_exist"
            v-tooltip="{
              content: reading.collocation_exist ? 'Collocation listesi var' : '',
              classes: 'tooltip-singleline'
            }"
          >
            <span class="reading-inf__icon exist" :class="{ exist : reading.vocabulary }">
              <dynamic-icon type="icon-collocation" />
            </span>
            <span class="tooltip tooltip--top single-line">
              <span class="tooltip__wrp">
                <span class="tooltip__txt" v-if="!reading.collocation">Collocation listesi var</span>
                <span
                  class="tooltip__txt"
                  v-if="reading.collocation"
                >Collocation Kelime Listesine Eklendi</span>
              </span>
            </span>
          </span>

          <span
            class="reading-inf__item tooltip-btn"
            :class="{ active : reading.preposition }"
            v-if="reading.preposition_exist"
            v-tooltip="{
              content: reading.preposition_exist ? 'Preposition listesi var' : '',
              classes: 'tooltip-singleline'
            }"
          >
            <span class="reading-inf__icon exist" :class="{ exist : reading.vocabulary }">
              <dynamic-icon type="icon-preposition" />
            </span>
            <span class="tooltip tooltip--top single-line">
              <span class="tooltip__wrp">
                <span class="tooltip__txt" v-if="!reading.preposition">Preposition listesi var</span>
                <span
                  class="tooltip__txt"
                  v-if="reading.preposition"
                >Preposition Kelime Listesine Eklendi</span>
              </span>
            </span>
          </span>
        </div>
        <div class="reading-time tooltip-btn">
          <span class="icon-font">
            <svg-icon type="icon-time" />
          </span>
          <div class="btn-txt">{{ reading.time }} DK</div>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'ReadingItem',
  props: {
    reading: {
      type: Object,
      default: () => {}
    },
    lastTab: {
      type: Number,
      default: -1
    },
    level: {
      type: Number
    }
  },
  data() {
    return {
      memorize: -1,
      readingList: null
    }
  },
  computed: {
    cover() {
      return this.reading.image
        ? this.reading.image
        : require('@/assets/img/reading-1.jpg')
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/reading-item';
</style>
