<template>
  <div class="reading-test">
    <transition name="slide-fade-left">
      <div class="reading-test__header" v-show="currentQuestion !== questions.length">
        <div class="reading-test-nav" v-if="questions">
          <Progress height="18" :val-max="questions.length - 1" :progress-val="currentQuestion" />
          <div class="reading-test-nav__circles">
            <span
              class="circle"
              :class="{ active : $index === currentQuestion }"
              ref="navCircle"
              v-for="(nav, $index) in questions"
              :key="nav.id + 0"
              @click="showTest($index)"
            ></span>
            <div
              class="reading-test-nav-tooltip"
              :style="{ left: tooltipLeft + 'px' }"
            >{{ currentQuestion + 1 }} / {{questions.length}}</div>
          </div>
        </div>
      </div>
    </transition>
    <div class="reading-test__list">
      <swiper :options="questionSliderOptions" ref="questionSlider" @slideChange="getActive">
        <swiper-slide v-for="(question, index) in questions" :key="index">
          <ReadingTestItem
            class="reading-test-slider__item"
            :question="question"
            :index="index"
            :testend="finished"
            :finish="testFinish"
            @answer="answerQuestion"
          />
        </swiper-slide>
      </swiper>
      <!-- <transition-group
        :name="transition"
        tag="div"
        class="reading-test-slider"
      >
        <reading-test-item
          class="reading-test-slider__item"
          v-for="(question, $index) in questions"
          :key="$index + 0"
          :question="question"
          :testend="finished"
          :finish="testFinish"
          :index="$index"
          v-show="$index === currentQuestion"
          @answer="answerQuestion"
        />

      </transition-group>-->
    </div>
    <transition name="slide-fade-left">
      <div
        class="reading-report"
        v-if="testFinish"
        v-show="!endOfTest && currentQuestion === questions.length"
      >
        <CircleProgress :value="100" :size="100" />
        <p class="mt-20">Tüm soruları yanıtladınız.</p>
        <VueButton
          class="round reading-report__result"
          title="Tamamlandı"
          icon="icon-check-circle"
          icon-position="left"
        />
      </div>
    </transition>
    <div class="reading-test__bottom" v-if="questions">
      <button
        class="button reading-test__button"
        @click="prevQuestion"
        :disabled="currentQuestion === 0"
        :class="{ disabled : testPrevious }"
        v-if="currentQuestion !== questions.length"
      >
        <span class="button__wrp">
          <span class="button__icon">
            <svg-icon type="icon-arrow-long-left" />
          </span>
          <span class="button__txt">
            ÖNCEKİ
            <span class="only-desktop-inline">SORU</span>
          </span>
        </span>
      </button>
      <button
        class="button reading-test__button reading-test__finish-button"
        @click="goStart"
        v-if="testFinish && currentQuestion === questions.length"
      >CEVAPLARINI KONTROL ET</button>
      <button
        class="button reading-test__button"
        v-if="currentQuestion !== questions.length && (!endOfTest || checkFinish)"
        @click="nextQuestion"
        :class="{ disabled : currentQuestion === questions.length - 1 }"
        :disabled="currentQuestion === questions.length - 1"
      >
        <span class="button__wrp">
          <span class="button__txt">
            SONRAKİ
            <span class="only-desktop-inline">SORU</span>
          </span>
          <span class="button__icon">
            <svg-icon type="icon-arrow-long-right" />
          </span>
        </span>
      </button>
      <button
        v-if="endOfTest && !finished && !testFinish"
        class="button reading-test__button"
        @click="finishTest"
      >TESTİ BİTİR</button>
    </div>
  </div>
</template>

<script>
import ReadingTestItem from '@/components/Reading/ReadingTestItem'
import Progress from '@/components/Progress'
import CircleProgress from '@/components/CircleProgress'
import VueButton from '@/components/VueButton'
import * as http from '../../services/readings.service'
import _ from 'lodash'
export default {
  name: 'ReadingTestList',
  props: {
    questions: Array,
    finished: Boolean,
  },
  components: {
    ReadingTestItem,
    CircleProgress,
    VueButton,
    Progress,
  },
  data() {
    return {
      questionSliderOptions: {
        simulateTouch: false,
        autoHeight: true,
        breakpoints: {
          768: {
            simulateTouch: true,
          },
        },
      },
      readingList: parseInt(this.$route.params.list),
      readingItem: localStorage.getItem('ritem'),
      paragraphId: parseInt(this.$route.params.id),
      currentQuestion: 0,
      recentQuestion: 0,
      tooltipLeft: 5, // bu değer ".circle" elementinin genişlik değerinin yarısına eşit olmalı.
      transition: '',
      questionId: null,
      hasAnswer: null,
      answer: {},
      testFinish: false,
      selectedOption: null,
    }
  },

  methods: {
    getActive() {
      console.log('activeIndex: ', this.$refs.questionSlider.swiper.activeIndex)
      this.currentQuestion = this.$refs.questionSlider.swiper.activeIndex
      this.setTooltipOffset(this.currentQuestion)
    },
    finishTest() {
      let self = this
      self.readingList = parseInt(self.readingList)
      http
        .finish(self.readingList, self.paragraphId)
        .then(({ data }) => {
          self.transition = 'slide-fade-left'
          console.log(data)
          self.testFinish = true
        })
        .then(() => {
          this.goStart()
        })

      console.log(this.finished)
    },
    answerQuestion(question, answer, solved) {
      let self = this
      self.questionId = question.id
      self.answer = answer
      self.hasAnswer = solved
      if (self.hasAnswer !== null && self.testFinish === false) {
        http
          .solve(
            self.readingList,
            self.paragraphId,
            self.questionId,
            self.answer,
          )
          .then(() => {
            self.selectedOption = self.answer
          })
      }
    },
    goStart() {
      this.transition = 'slide-fade-right'
      this.currentQuestion = 0
      this.$refs.questionSlider.swiper.slideTo(this.currentQuestion)
      this.setTooltipOffset(this.currentQuestion)
      // this.$emit('testEnd')
    },
    prevQuestion() {
      this.$refs.questionSlider.swiper.slidePrev()
      this.transition = 'slide-fade-right'
      console.log('swiped prev? ', this.currentQuestion)
      this.setTooltipOffset(this.currentQuestion)
    },
    nextQuestion() {
      this.$refs.questionSlider.swiper.slideNext()
      this.transition = 'slide-fade-left'
      console.log('swiped next? ', this.currentQuestion)
      this.setTooltipOffset(this.currentQuestion)
      // console.log(this.questions[this.currentQuestion].id)
      console.log('test finish status: ', this.finished)
    },
    showTest(index) {
      this.recentQuestion = this.currentQuestion
      this.currentQuestion = index
      this.progress = index
      // console.log(this.$refs.questionSlider.swiper)
      this.$refs.questionSlider.swiper.activeIndex = index
      this.setTooltipOffset(index)
      if (this.recentQuestion > this.currentQuestion) {
        this.transition = 'slide-fade-right'
      } else {
        this.transition = 'slide-fade-left'
      }
    },
    setTooltipOffset(index) {
      this.tooltipLeft =
        this.$refs.navCircle[index].offsetLeft +
        this.$refs.navCircle[index].offsetWidth / 2
    },
    isFinished() {
      return this.testFinish || this.$props.finished
    },
    setInitialQuestion() {
      let activeQuestion = _.findIndex(
        this.questions,
        el => el.selected_question_option_id === null,
      )
      if (this.isFinished() || activeQuestion === -1) {
        this.currentQuestion = 0
      } else {
        this.currentQuestion = activeQuestion
      }
    },
  },
  computed: {
    swiper() {
      return this.$refs.questionSlider.swiper
    },
    checkFinish() {
      return this.testFinish || this.$props.finished
    },
    endOfTest() {
      if (this.questions.length === this.currentQuestion + 1) {
        return true
      }
      return false
    },
    testProgress() {
      if (this.questions.length > this.currentQuestion + 1) {
        return true
      }
      return false
    },
    testPrevious() {
      if (this.questions.length === 1 || this.currentQuestion > 0) {
        return false
      }
      return true
    },
  },
  created() {
    this.setInitialQuestion()
  },
  mounted() {
    this.setTooltipOffset(this.currentQuestion)
  },
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/components/reading-test-item';
</style>
