<script>
import * as http from '../../services/lessons.service'
import { mapGetters, mapActions } from 'vuex'
import {
  SWITCH_DARKMODE,
  SHOW_OVERLAY,
  SHOW_KEYPRESS
} from '@/store/actions.type'

export default {
  name: 'LessonsWatch',
  data() {
    return {
      token: localStorage.getItem('auth_token'),
      timer: 0,
      watcher: null,
      watchTime: parseInt(localStorage.lessonWatchTime),
      lessonTitle: localStorage.lessonTitle,
      lessonId: parseInt(localStorage.lessonId),
      watchLink: null,
      lessonLoaded: false,
      lessonDuration: 0,
      iframeObj: null
    }
  },

  watch: {
    lessonLoaded(e) {
      this.$nextTick(() => {
        if (e) this.iframeObj = document.querySelector('#lessonIframe')
        this.$route.meta.title = localStorage.getItem('lessonTitle')
      })
    }
  },

  computed: {
    ...mapGetters('lessons', [
      'currentLesson',
      'currentLessonId',
      'link',
      'platform'
    ]),

    ...mapGetters(['getDarkMode', 'showOverlay', 'showKeypress']),
    lessonLink() {
      if (this.platform === 'wiziq') {
        return this.link + this.token
      } else {
        return this.link
      }
    }
  },
  methods: {
    ...mapActions('lessons', ['fetchLesson']),

    goBack() {
      this.$router.push({
        name: 'LessonsDetail',
        params: { id: this.lessonId }
      })
    },

    goFullScreen() {
      if (
        document.fullscreenEnabled ||
        document.webkitFullscreenEnabled ||
        document.mozFullScreenEnabled ||
        document.msFullscreenEnabled
      ) {
        if (this.iframeObj.requestFullscreen) {
          this.iframeObj.requestFullscreen()
        } else if (this.iframeObj.webkitRequestFullscreen) {
          this.iframeObj.webkitRequestFullscreen()
        } else if (this.iframeObj.mozRequestFullScreen) {
          this.iframeObj.mozRequestFullScreen()
        } else if (this.iframeObj.msRequestFullscreen) {
          this.iframeObj.msRequestFullscreen()
        }
      }
    },

    getLesson() {
      this.fetchLesson(this.lessonId)

      http.lesson(this.lessonId).then((res) => {
        this.watchLink = res.data.lesson_link + this.token
        this.lessonLoaded = true
        localStorage.lessonId = res.data.id
        this.lessonDuration = res.data.duration * 60
      })
    },
    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },

    keypressToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_KEYPRESS, !this.showKeypress)
    },
    watchLesson() {
      let val = this.watchTime
      this.watcher = setInterval(() => {
        val += 10
        http
          .watching(this.lessonId, val)
          .then((res) => {
            console.log(res.data.message)
          })
          .catch((e) => {
            console.error('hata: ', e)
          })
        if (val >= this.lessonDuration) {
          clearInterval(this.watcher)
        }
      }, 10000)
    }
  },
  mounted() {
    document.title = `${this.lessonTitle} | Ders | RH+ Platform`
    this.watchLesson()
  },
  created() {
    localStorage.setItem('lessonId', this.$route.params.id)
    this.lessonId = parseInt(localStorage.getItem('lessonId'))
    this.getLesson()
  },
  destroyed() {
    clearInterval(this.watcher)
  }
}
</script>

<template>
  <section class="lessons-watch" :class="{ 'dark-mode': getDarkMode }">
    <div id="error-device" class="error-device-message">
      <div class="error-device-message--icon">
        <svg-icon type="icon-info-circle" />
      </div>
      <div class="error-device-message--title">Cihazınız desteklenmiyor!</div>
      <div
        class="error-device-message--txt"
      >Dersi izlemek için Adobe Flash Player destekleyen masaüstü bir cihaz ile tekrar deneyin.</div>
      <v-button
        class="error-device-message__back icon-md"
        icon="icon-arrow-long-left"
        icon-position="left"
        title="GERİ DÖN"
        @click.native="goBack"
      />
    </div>
    <div class="lessons-watch-meta lessons-watch-meta__top">
      <div class="lessons-watch-tools">
        <v-popover
          popoverClass="lessons-watch-kbd"
          popoverInnerClass="lessons-watch-kbd__inner"
          boundariesElement="html"
          placement="bottom-start"
          offset="10"
        >
          <!-- <v-button
            @click.native="keypressToggle"
            class="button--circle circle-xs simple lessons-watch__dark"
            :class="[this.showKeypress ? 'active' : '']"
            icon="icon-keyboard"
            icon-position="left"
            v-tooltip.bottom="'Klavye Kısayolları'"
          />-->
          <!-- <template slot="popover">
            <ul class="keyboard-info__list">
              <li class="keyboard-info__item">
                <div class="keyboard-info__txt">Önceki / Sonraki</div>
                <div class="keyboard-info__right">
                  <div class="keyboard-info__cnt keyboard-info__cnt--w35">
                    <div class="keyboard-info__button keyboard-info__button--with-icon">
                      <svg-icon type="icon-caret-left" />
                    </div>
                  </div>
                  <div class="keyboard-info__dots">...</div>
                  <div class="keyboard-info__cnt keyboard-info__cnt--w35">
                    <div class="keyboard-info__button keyboard-info__button--with-icon">
                      <svg-icon type="icon-caret-right" />
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </template>-->
        </v-popover>
        <v-button
          @click.native="setDarkMode"
          class="button--circle circle-xs simple lessons-watch__dark"
          icon="icon-lamp"
          icon-position="left"
          v-tooltip.bottom="'Gece Modu'"
        />
        <v-button
          @click.native="goFullScreen"
          class="button--circle circle-xs simple lessons-watch__dark"
          icon="icon-fullscreen"
          icon-position="left"
          v-tooltip.bottom="'Tam Ekran İzle'"
        />
      </div>
      <div class="lessons-watch-tools detail-right">
        <v-button
          class="simple xs icon-xs round detail-close"
          title="KAPAT"
          icon="icon-close"
          icon-position="right"
          @click.native="goBack"
        />
      </div>
    </div>
    <div class="lessons-watch-box" v-if="lessonLoaded">
      <iframe
        id="lessonIframe"
        class="myiframe"
        :src="watchLink"
        frameborder="0"
        ref="myframe"
        allowfullscreen
      ></iframe>
    </div>
    <div class="lessons-watch-box" v-else>
      <div class="lesson-watch-ghost">
        <div class="lesson-watch-ghost__left">
          <div class="lesson-watch-ghost__left--txt"></div>
          <div class="lesson-watch-ghost__left--txt txt--2"></div>
          <div class="lesson-watch-ghost__left--txt txt--3"></div>
          <div class="lesson-watch-ghost__left--txt txt--4"></div>
          <div class="lesson-watch-ghost__left--txt txt--5"></div>
          <div class="lesson-watch-ghost__left--txt txt--6"></div>
          <div class="lesson-watch-ghost__left--txt txt--7"></div>
        </div>
      </div>
    </div>
    <div class="lessons-watch-meta">
      <div class="lessons-watch-info" v-if="lessonLoaded">
        <svg-icon class="lessons-watch-info__icon" type="icon-lesson-item" />
        <div class="lessons-watch-info-text">
          <span class="lessons-watch-info-text__title">{{ lessonTitle }}</span>
        </div>
      </div>
      <div class="lessons-watch-info-ghost" v-else>
        <div class="lessons-watch-info-ghost__icon"></div>
        <div class="lessons-watch-info-ghost__txt"></div>
      </div>
    </div>
    <!-- <div style="padding-top:56.25%;position:relative;" class="myiframe">
      <iframe src="https://player.vdocipher.com/playerAssets/1.x/vdo/embed/index.html#otp=20160313versASE3238mtVMHqiP9tiUqlwE2gHlvoUH1OeRFxdJORjNaOyrIFQaT&playbackInfo=eyJ2aWRlb0lkIjoiNjk1ZWJlNDA3MzEwMGE4MGYzNDMwNjYxYjI1M2ZlNGIifQ==" style="border:0;height:360px;width:640px;max-width:100%;position:absolute;top:0px;left:0px;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media"></iframe>
    </div>-->
  </section>
</template>

<style lang="scss">
@import '@/assets/scss/components/lessons-watch';
@import '@/assets/scss/ghost/ghost-lesson.scss';
</style>
