<script>
import * as http from '../../services/lessons.service'
import { toggleTour } from '../../services/user.service'
import { mapActions, mapGetters } from 'vuex'

import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostLessonsItem from '@/core/Ghost/GhostLessonsItem'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'

import VueSelect from '@/core/VueSelect'
import VueEmpty from '@/core/VueEmpty'
import VueFilter from '@/core/VueFilter'
import AppHeader from '@/core/AppHeader'
// import VueButton from '@/core/VueButton'

import LessonsItem from '../../components/Lessons/LessonsItem'

export default {
  name: 'LessonsList',
  components: {
    GhostAppHeader,
    GhostLessonsItem,
    GhostVueSelected: GhostVueSelect,
    GhostVueFiltered: GhostVueFilter,
    AppHeader,
    VueSelect,
    VueEmpty,
    VueFilter,
    // VueButton,
    LessonsItem
  },
  data() {
    return {
      lessonName: null,
      info: {
        name: 'lessons',
        link: '/ders',
        title: 'Ders',
        icon: require('@/assets/img/app-lesson-white.svg'),
        background: '#0ea6ce',
        gradient:
          'linear-gradient(to left, rgba(14, 166, 206, 1), rgba(14, 166, 206, .0))',
        what: null,
        howWorks: null,
        video: null,
        has_tour: null
      },
      groups: [],
      filters: {
        groupId: null,
        isFinished: null,
        orderId: null,
        orderType: 'desc',
        page: 1
      },
      groupId: null,
      orderFilterItems: [
        {
          name: 'Tüm İçerikler',
          id: -1,
          type: 'desc'
        },
        {
          name: 'Eskiden Yeniye',
          id: 1,
          type: 'asc'
        },
        {
          name: 'Yeniden Eskiye',
          id: 2,
          type: 'desc'
        }
      ],
      finishFilterItems: [
        {
          title: 'Tümü',
          value: -1
        },
        {
          title: 'İzledim',
          value: 1
        },
        {
          title: 'İzlemedim',
          value: 0
        }
      ],
      tourSteps: [
        {
          target: '.subpage-tab',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza dersler tanımlanır. Grup seçerek sahip olduğunuz dersleri filtreyebilirsiniz.</p>`
        },
        /* {
          target: '.subpage-tab-more__btn',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Diğer Ürün Grupları</strong> <p class="guide-desc">Üçten fazla ürün grubuna sahipseniz diğer grupları görüntüleyebilirsiniz.</p>`
        }, */
        {
          target: '#WatchFilters',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> İzlenme Durumu</strong> <p class="guide-desc">Dersleri izlenme durumuna göre filtreleyebilirsiniz. Ders detay ekranında yer alan İzledim butonu ile izlediğiniz dersleri işaretleyebilirsiniz.</p>`
        },
        {
          target: '.page-content-filters__right',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sıralama</strong> <p class="guide-desc">Dersleri eskiden yeniye, yeniden eskiye ve tamamlanma durumuna göre sıralayabilirsiniz.</p>`
        },

        {
          target: '.page-content-items .lesson-item:nth-child(1)',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Dersler</strong> <p class="guide-desc">Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir derse tıklayarak içerisine girebilirsiniz.</p>`
        }
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      tourCallbacks: {
        onStop: this.finishTour
      }
    }
  },

  watch: {
    groupsLoaded(data) {
      let tour = this.info.has_tour === 'true' || this.info.has_tour === true
      if (data && tour) this.startTour()
    }
  },

  computed: {
    ...mapGetters('lessons', [
      'loading',
      'lessonItems',
      'groupsList',
      'activeGroup',
      'lessonsList',
      'isLoaded',
      'loadMore',
      'loadingFilter',
      'isEmpty'
    ]),

    ...mapGetters(['appLoaded', 'lastTab', 'appGroups']),

    groupsLoaded() {
      return this.groups.length > 0
    }
  },

  created() {
    this.getHeaderData()
    this.setLessonFilters()
    this.setGroupFilterData()
    this.setFinishFilterData()
    this.setOrderFilterData()
    this.getLessonsList(this.filters)
  },

  mounted() {
    this.$route.meta.pageClass = ''
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    ...mapActions('lessons', [
      'getLessonsList',
      'setActiveGroup',
      'setLastTab',
      'setFilter',
      'sortLessons',
      'loadNext',
      'getLessonsByGroup'
    ]),

    setFilters(group, finished, order) {
      /* Sekme değişiminde localStorage'i sıfırlıyoruz. */
      localStorage.lessonsGroup = group
      localStorage.lessonFinished = finished
      localStorage.lessonsOrder = order

      /* Filtreleri localStorage verilerine eşliyoruz. */
      this.filters.groupId = localStorage.lessonsGroup
      this.filters.isFinished = localStorage.lessonFinished
      this.filters.orderId = localStorage.lessonsOrder
    },

    setLessonFilters() {
      this.filters = {
        groupId: parseInt(localStorage.lessonsGroup),
        isFinished: parseInt(localStorage.lessonFinished),
        orderId: parseInt(localStorage.lessonsOrder),
        page: 1
      }
    },

    tabShow(tab) {
      this.setFilters(tab.id, -1, -1)
      this.getLessonsByGroup(tab.id)
    },

    getHeaderData() {
      http.info().then((res) => {
        this.groups = res.data.groups

        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    setGroupFilterData() {
      if (
        localStorage.lessonsGroup === undefined ||
        isNaN(localStorage.lessonsGroup)
      ) {
        localStorage.lessonsGroup = -1
      }
      this.filters.groupId = localStorage.lessonsGroup
    },

    setFinishFilterData() {
      if (
        localStorage.lessonFinished === undefined ||
        isNaN(localStorage.lessonFinished)
      ) {
        localStorage.lessonFinished = -1
      }
      this.filters.isFinished = parseInt(localStorage.getItem('lessonFinished'))
    },

    setOrderFilterData() {
      if (
        localStorage.lessonsOrder === undefined ||
        isNaN(localStorage.lessonsOrder)
      ) {
        localStorage.lessonsOrder = -1
      }
      this.filters.orderId = parseInt(localStorage.getItem('lessonsOrder'))
      const ordering = this.orderFilterItems.find(
        (el) => el.id === parseInt(localStorage.getItem('lessonsOrder'))
      )
      this.filters.orderType = ordering.type
    },

    setOrderFilter(order) {
      let orderType = this.orderFilterItems.find((el) => el.id === order)
      localStorage.lessonsOrder = order
      this.filters.orderType = orderType.type
      this.filters.orderId = localStorage.lessonsOrder
      this.filters.page = 1
      this.getLessonsList(this.filters)
    },

    getSelected(option) {
      this.setFilter(option.value)
      this.setActiveGroup(this.groupId)
      this.sortLessons()
    },

    setFinishFilter(filter) {
      localStorage.lessonFinished = filter
      this.filters.isFinished = localStorage.lessonFinished
      this.filters.page = 1
      this.getLessonsList(this.filters)
    },

    setLessonName(val) {
      this.lessonName = val
      document.title = `${this.lessonName} | Ders | RH+ Platform`
    },

    loadMoreItems() {
      this.filters.page++
      this.loadNext(this.filters)
    },

    startTour() {
      this.$tours['lessonsTour'].start()
    },

    finishTour() {
      toggleTour('lessons', false)
    }
  }
}
</script>

<template>
  <div class="page" :class="$route.name">
    <template>
      <AppHeader
        v-if="groupsLoaded"
        :info="info"
        :groups="groups"
        :lastGroup="filters.groupId"
        @onTabClick="tabShow"
      />
      <GhostAppHeader app="lessons" v-else />
    </template>
    <container>
      <div class="page__lesson__cnt">
        <section class="page-content-filters">
          <div class="page-content-filters__left">
            <VueFilter
              id="WatchFilters"
              :items="finishFilterItems"
              :lastFilter="filters.isFinished"
              @filterItems="setFinishFilter"
              v-if="groupsLoaded"
            />
            <GhostVueFiltered v-else />
          </div>
          <div class="page-content-filters__right">
            <VueSelect
              class="w300"
              :options="orderFilterItems"
              :lastOption="filters.orderId"
              @selectOption="setOrderFilter"
              ref="sortLessons"
              v-if="groupsLoaded"
            />
            <GhostVueSelected v-else />
          </div>
        </section>
        <template v-if="loading">
          <GhostLessonsItem v-for="n in 6" :key="n" />
        </template>
        <template v-if="!loading">
          <transition-group name="card-scale-fade" class="page-content-items" tag="section">
            <LessonsItem
              v-for="(lesson, index) in lessonItems"
              :key="index + 1"
              :lesson="lesson"
              @click.native="setLessonName(lesson.title)"
            />
            <template v-if="loadMore">
              <scroll-loader
                key="scrollLoader"
                class="list-loader"
                :loader-method="loadMoreItems"
                :loader-enable="loadMore"
              >
                <GhostLessonsItem v-for="n in 3" :key="n" />
              </scroll-loader>
            </template>
          </transition-group>
          <transition name="fade">
            <VueEmpty v-if="loadingFilter && lessonsList.length === 0" />
          </transition>
          <!-- <section class="page__loadmore" v-if="loadMore">
            <VueButton primary text="Daha fazla yükle" @click.native="loadMoreItems" />
          </section>-->
        </template>
        <transition name="fade-fast">
          <VueEmpty v-if="isEmpty" class="page-content-empty" />
        </transition>
      </div>
    </container>
    <v-tour name="lessonsTour" :steps="tourSteps" :options="tourOptions" :callbacks="tourCallbacks"></v-tour>
  </div>
</template>

<style lang="scss" scoped>
.list-loader {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  & .lesson-ghost__item {
    margin-top: 0;
  }
}
</style>
