<template>
  <div class="tab">
    <div class="tab__header">
      <tab-item
        v-for="(tab, index) in tabs"
        :key="tab.id"
        :icon="tab.icon"
        :text="tab.text"
        :active="currentTab === index"
        :count="tab.count"
        @click.native="tabShow(tab, index)"
      />
      <!-- <div class="tab__item tab__spacing">
        <div class="d-flex">
        </div>
      </div>-->
    </div>

    <div class="tab-pane">
      <slot />
    </div>
  </div>
</template>

<script>
import TabItem from '@/components/Tab/TabItem'
export default {
  name: 'Tab',
  props: {
    tabs: Array,
    currentTab: Number,
  },
  components: {
    TabItem,
  },
  methods: {
    tabShow(tab, index) {
      this.$emit('clickTab', tab, index)
    },
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/components/tab';
</style>
