<template>
  <div class="tab-filter__item tab-filter__item--select">
    <!--<div class="tab-filter__title">{{ title }}</div>-->
    <select-box :options="options" @onselect="onSelect"/>
  </div>
</template>

<script>
import SelectBox from '@/components/SelectBox'
export default {
  name: 'TabFilterSelect',
  props: {
    options: Array,
    title: String
  },
  components: {
    SelectBox
  },
  methods: {
    onSelect (opt) {
      this.$emit('onselect', opt)
    }
  }
}
</script>
