<template>
  <div class="tab-filter-buttons" ref="buttonsContainer">
    <button
      class="tab-filter__button"
      v-for="(button, $index) in buttons"
      :key="button.id"
      :class="{ active: button.id === activeId }"
      ref="buttons"
      @click="clickButton(button, $index)"
    >
      <span class="btn-txt">{{ button.title || button.label }}</span>
    </button>
    <div
      class="tab-filter-buttons__bar"
      :style="{ width: bar.width + 'px', transform: 'translateX(' + bar.left + 'px)' }"
    ></div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'TabFilterButtons',
  props: {
    buttons: {
      type: Array,
      default: () => []
    },
    initial: {}
  },
  data() {
    return {
      currentButton: {},
      activeId: null,
      bar: {
        width: 0,
        left: 0
      }
    }
  },
  watch: {
    currentButton() {
      this.$nextTick(() => {
        this.setBar(this.currentButton.id)
        this.activeId = this.currentButton.id
      })
    }
  },
  methods: {
    clickButton(button) {
      this.currentButton = button
      this.activeId = button.id
      this.$emit('onClickButton', button)
    },
    setBar(id) {
      const btn = _.findIndex(this.buttons, (el) => el.id === id)
      this.bar.width = this.$refs.buttons[btn].offsetWidth
      this.bar.left = this.$refs.buttons[btn].offsetLeft
    }
  },
  computed: {
    currentTab() {
      return this.currentButton.id
    }
  },
  mounted() {
    if (this.$props.initial === undefined || this.$props.initial === null) {
      this.currentButton = _.head(this.buttons)
    } else {
      this.activeId = this.$props.initial
      this.currentButton = _.find(
        this.$props.buttons,
        (el) => el.id === this.activeId
      )
    }
  }
}
</script>
