<template>
  <div class="tab-filter-buttons">
    <div
      ref="items"
      class="tab-filter__button"
      v-for="(item, index) in items"
      :key="index"
      :class="{ active: index === activeItem }"
      @click="setFilter(item)"
    >
      <span class="btn-txt">{{ item.title }}</span>
    </div>
    <div
      class="tab-filter-buttons__bar"
      :style="{
        width: bar.width + 'px',
        transform: 'translateX(' + bar.left + 'px)',
      }"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'TabFilter',
  props: {
    action: {
      type: String,
      required: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    initial: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      currentItem: {},
      activeItem: null,
      bar: {
        width: 0,
        left: 0,
      },
    }
  },
  watch: {
    currentItem() {
      this.$nextTick(() => {
        let filter = this.$props.items.findIndex(el => el === this.currentItem)
        this.activeItem = filter
        this.$nextTick(() => {
          this.setBar(filter)
        })
      })
    },
  },
  methods: {
    setFilter(filter) {
      this.currentItem = filter
      this.activeItem = this.$props.items.findIndex(el => el === filter)
      this.$emit('onFilter', filter)
    },
    setBar(index) {
      console.log('index: ', this.$refs.items[index])
      this.bar.width = this.$refs.items[index].offsetWidth
      this.bar.left = this.$refs.items[index].offsetLeft
    },
    setActiveItem() {
      this.activeItem = this.getInitial()
    },
    getInitial() {
      let localFilter = localStorage.getItem(`${this.$props.action}_filter`)
      if (!localFilter || localFilter === null || localFilter === undefined) {
        return this.$props.initial
      }
      return localFilter
    },
  },
  mounted() {
    this.currentItem = this.$props.items[this.activeItem]
    localStorage.setItem(`${this.$props.action}_filter`, this.activeItem)
    this.setBar(0)
  },
  created() {
    this.setActiveItem()
  },
}
</script>

<style lang="scss" scoped>
.tab-filter {
  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
}
</style>
