<template>
  <div class="tab__item" :class="{ active : active }">
    <div class="tab__icon" v-if="icon">
      <svg-icon :type="icon" />
    </div>

    <div class="d-flex">
      <div class="tab__text">{{ text }}</div>
      <div class="tab__count" v-if="count">({{ count }})</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TabItem',
  props: {
    icon: String,
    text: String,
    active: Boolean,
    count: Number
  },
}
</script>
