<template>
  <div class="tab-progress">
    <div class="tab-progress__title">
      {{ progress.title }}
    </div>
    <div class="tab-progress__cnt">
      <Progress
        :progress-val="progress.value"
        :height="progress.height"
      />
      <div class="tab-progress__val">{{ progress.value }}
        <small>%</small>
      </div>
    </div>

    <div class="tab-progress-ctr">
      <div class="tab-progress-ctr__item">
        <span class="tab-progress-ctr__dot bg-light-gray"></span>
        <div class="tab-progress-ctr__title">Başlamadı</div>
      </div>

      <div class="tab-progress-ctr__item">
        <span class="tab-progress-ctr__dot bg-blue"></span>
        <div class="tab-progress-ctr__title">Devam ediyor</div>
      </div>

      <div class="tab-progress-ctr__item">
        <span class="tab-progress-ctr__dot bg-green"></span>
        <div class="tab-progress-ctr__title">Tamamlandı</div>
      </div>
    </div>

  </div>
</template>

<script>
import Progress from '@/components/Progress'
export default {
  name: 'TabProgress',
  components: {
    Progress
  },
  props: {
    progress: Object
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
