<script>
export default {
  name: 'BaseSelect',

  props: {
    options: {
      type: Array,
      default: () => []
    },
    nameKey: {
      type: String,
      default: 'name'
    },
    selectionText: {
      type: String,
      default: 'Seçim yapın'
    },
    placeholderText: {
      type: String,
      default: 'Ara...'
    }
  },

  data() {
    return {
      currentOption: null,
      search: '',
      optionsVisible: false
    }
  },

  created() {
    window.addEventListener('click', this.hideOptions)
  },

  beforeDestroy() {
    window.removeEventListener('click', this.hideOptions)
  },

  watch: {
    search(val) {
      this.search = val.trim().toLowerCase()
    }
  },

  computed: {
    hasCurrentOption() {
      return this.currentOption !== null
    },

    selectedOption() {
      return this.currentOption === null
        ? this.selectionText
        : this.currentOption[this.nameKey]
    },

    filteredOptions() {
      return this.options.filter((item) => {
        return (
          item[this.nameKey]
            .trim()
            .toLowerCase()
            .indexOf(this.search.trim().toLowerCase()) > -1
        )
      })
    },

    hasResults() {
      return this.filteredOptions.length > 0
    }
  },

  methods: {
    selectItem(item) {
      this.currentOption = item
      this.optionsVisible = false
      this.$emit('on-select', item)
    },

    showOptions() {
      this.optionsVisible = true
      this.$refs.searchBox.focus()
      this.$refs.searchBox.value = ''
    },

    hideOptions(e) {
      if (!this.$el.contains(e.target)) {
        this.optionsVisible = false
        this.search = ''
      }
    },

    toggleOptions() {
      this.optionsVisible = !this.optionsVisible
      if (this.optionsVisible) {
        this.$nextTick(() => {
          this.$refs.searchBox.focus()
          this.$refs.searchBox.value = ''
        })
      } else {
        this.search = ''
      }
    }
  }
}
</script>

<template>
  <div class="base-select" :class="{ 'options-visible': optionsVisible }">
    <div
      class="base-select-current"
      @click="toggleOptions"
      :class="{ 'options-visible': optionsVisible }"
    >{{ selectedOption }}</div>
    <transition name="fade-fast" mode="out-in">
      <div
        class="base-select-options"
        v-if="optionsVisible"
        :class="{ 'options-visible': optionsVisible }"
      >
        <div class="base-select-search">
          <input
            type="search"
            class="base-select-search__input"
            v-model="search"
            ref="searchBox"
            autocomplete="noooo"
            autofocus="autofocus"
            :placeholder="placeholderText"
          />
        </div>
        <div class="base-select-options-list">
          <template v-if="hasResults">
            <div
              v-for="(option, index) in filteredOptions"
              :key="`option${index}`"
              @click="selectItem(option)"
              class="base-select-options-option"
            >
              <span class="base-select-options__item">{{ option[nameKey] }}</span>
            </div>
          </template>
          <template v-else>
            <div class="base-select-options-option no-result">
              <span class="base-select-options__item">Sonuç bulunamadı!</span>
            </div>
          </template>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/_colors';

.base-select {
  position: relative;
  height: 50px;

  &.options-visible {
    box-shadow: 0px 10px 46px 0px rgba(41, 53, 108, 0.17);
    z-index: 999;
  }

  &-current {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #777e92;
    background: $c-bgalt;
    padding: 0 15px;
    font-weight: 700;
    z-index: 999;
    position: relative;
    border-radius: 8px;

    &.options-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: #fff;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;
    border-top: 1px solid $c-bgalt;
    border-bottom: 1px solid $c-bgalt;
    background: #fff;

    &__input {
      border-radius: 5px;
      width: 100%;
      padding: 0;
      padding-left: 10px;
      height: 35px;
      background: $c-bgmain;
    }
  }

  &-options {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    z-index: 998;
    cursor: pointer;
    max-height: 150px;
    overflow: hidden;

    &.options-visible {
      box-shadow: 0px 10px 46px 0px rgba(41, 53, 108, 0.17);
    }

    &__item {
      transition: 0.1s;
      display: flex;
      width: 100%;
      font-weight: 700;
      color: $c-text-dark;
      background: #fff;
      padding: 10px 15px;

      &:not(.no-result):hover {
        color: $c-primary;
        background: $c-bgalt;
      }
    }

    &-list {
      max-height: 100px;
      overflow: auto;
    }

    &-option {
      overflow: hidden;

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
</style>
