<template>
  <button
    class="vbtn"
    :class="{
      'dynamic-button': dynamicIcon,
      'vbtn--disabled': disabled,
      'vbtn-primary': primary,
      'vbtn-basic': basic,
      'vbtn-plain': plain,
      'has-tooltip': tooltip,
      'vbtn-block': block,
      'vbtn-reverse': iconLocation === 'right' || iconLocation === 'far-right'
    }"
    :disabled="disabled"
  >
    <template v-if="!loadingActive">
      <span class="vbtn__icon" v-if="dynamicIcon">
        <dynamic-icon :type="dynamicIcon" />
      </span>
      <span
        class="vbtn__icon"
        :class="{ 'vbtn__icon--far': iconLocation === 'far-right' || iconLocation === 'far-left' }"
        v-if="icon"
      >
        <svg-icon :type="`icon-${icon}`" :style="`font-size: ${iconSize}rem`" />
      </span>
      <span class="vbtn__icon" v-if="img">
        <img :src="img" alt class="icon" />
      </span>
      <span
        class="vbtn__txt"
        :class="{ 'vbtn__txt--long': iconLocation === 'far-right' || iconLocation === 'far-left' }"
        v-if="text"
        >{{ text }}</span
      >
    </template>
    <VueTooltip v-if="tooltip" :text="tooltip" :location="tooltipLocation" />
    <span class="vbtn__loading" v-if="loadingActive">Yükleniyor...</span>
  </button>
</template>

<script>
export default {
  name: 'VButton',
  components: {
    VueTooltip: () => import('./VueTooltip')
  },
  props: {
    text: String,
    primary: {
      type: Boolean,
      default: false
    },
    plain: Boolean,
    basic: Boolean,
    block: Boolean,
    dynamicIcon: String,
    img: String,
    icon: String,
    iconSize: String,
    tooltip: String,
    iconLocation: {
      type: String,
      default: 'left'
    },
    tooltipLocation: {
      type: String,
      default: 'top'
    },
    loadingActive: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>
