<script>
export default {
  name: 'VueCollapse',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpen: this.show,
      contentHeight: 0
    }
  },
  watch: {
    show(status) {
      this.isOpen = status
    }
  },
  mounted() {
    this.initHeight()
  },
  methods: {
    initHeight() {
      this.$refs['collapseContent'].style.height = 'auto'
      this.$refs['collapseContent'].style.position = 'absolute'
      this.$refs['collapseContent'].style.visibility = 'hidden'
      this.$refs['collapseContent'].style.display = 'block'

      const height = getComputedStyle(this.$refs['collapseContent']).height
      this.contentHeight = height

      this.$refs['collapseContent'].style.position = null
      this.$refs['collapseContent'].style.visibility = null
      this.$refs['collapseContent'].style.display = null
      this.$refs['collapseContent'].style.height = 0
    }
  }
}
</script>

<template>
  <section class="vcollapse" :style="[ isOpen ?  { height : contentHeight } : {} ]" ref="collapseContent" :data-height="contentHeight">
    <slot />
  </section>
</template>

<style lang="scss" scoped>

.vcollapse {
  transition: 0.3s;
  height: 0;
  overflow: hidden;
}

</style>
