<script>
export default {
  name: 'VueDropdownIcon',
  props: {
    actions: Array
  },
  data() {
    return {
      showOptions: false,
      actionList: this.actions,
      dropdownVisible: false
    }
  },
  computed: {
    dropdownOpen() {
      return this.dropdownVisible
    }
  },
  methods: {
    toggleOptions() {
      this.showOptions = !this.showOptions
    },
    closeOptions() {
      this.showOptions = false
    },

    hide() {
      this.dropdownVisible = false
    },

    toggle() {
      this.dropdownVisible = !this.dropdownVisible
    }
  }
}
</script>

<template>
  <v-popover
    offset="0"
    popoverClass="vdropdown"
    popoverInnerClass="vdropdown-list-inner"
    :open="dropdownOpen"
    @hide="hide"
    >
    <button class="vdropdown-btn" :class="{ active: dropdownOpen }" @click="toggle">
      <svg-icon type="icon-dots" class="vdropdown-btn__icon" :class="{ active: dropdownVisible }" />
    </button>

    <template slot="popover">
      <div class="vdropdown-list">
        <div
          class="vdropdown-list__item"
          :key="index"
          v-for="(item, index) in actionList"
          v-tooltip.left="{
          content: item.tooltip,
          boundariesElement: '.toolbar'
          }"
          @click="hide" >
          <span class="icon-font" @click="$emit(`${item.option}Action`)">
            <svg-icon :type="`icon-${item.icon}`"/>
          </span>
        </div>
      </div>
    </template>
  </v-popover>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';
</style>
