<template>
  <section class="empty-content">
    <div class="empty-content__icon">
      <svg-icon type="icon-no-results" />
    </div>
    <div class="empty-content__title">
      <span>İçerik Bulunamadı!</span>
    </div>
    <p class="empty-content__txt">
      Filtreleri değiştirerek farklı bir arama yapabilir
      <br />Mağaza'mızı ziyaret ederek yeni içerikler edinebilirsiniz.
    </p>
  </section>
</template>

<script>
export default {
  name: 'EmptyContent'
}
</script>

<style scoped lang="scss">
@import '../assets/scss/components/empty-content.scss';
</style>
