<script>
export default {
  name: 'VueFilter',

  props: {
    items: {
      type: Array,
      default: () => [],
    },
    lastFilter: {
      type: [Number, String],
    },
    activeFilter: {
      type: [Number, String, Object],
    },
  },
  data() {
    return {
      filterValue: parseInt(this.lastFilter),
      filterId: null,
      currentItem: {},
      activeItem: null,
      bar: {
        width: 0,
        left: 0,
      },
    }
  },
  watch: {
    lastFilter(val) {
      if (val !== null) val = parseInt(val)
      this.filterId = val
      this.$nextTick(() => {
        this.setActiveItem()
      })
    },

    activeFilter(val) {
      this.filterId = val
      this.$nextTick(() => {
        this.setActiveItem()
      })
    },
  },
  methods: {
    setFilter(value) {
      console.log('valin', value)
      if (value !== this.currentItem.value) {
        if (this.activeFilter === undefined) this.filterId = value
        else this.filterId = this.activeFilter
        this.$emit('filterItems', value)
        this.setActiveItem()
      }
    },
    setActiveItem() {
      console.log(this.filterId)
      this.currentItem = this.items.find(el => el.value === this.filterId)
      this.activeItem = this.items.findIndex(el => el.value === this.filterId)
      this.setBar(this.activeItem)
    },
    setBar(index) {
      this.bar.width = this.$refs.items[index].offsetWidth
      this.bar.left = this.$refs.items[index].offsetLeft
    },
    setInitial() {
      if (this.activeFilter === undefined) this.filterId = this.filterValue
      else this.filterId = this.activeFilter
      this.setActiveItem()
    },
  },
  mounted() {
    this.setInitial()
  },
}
</script>

<template>
  <div class="vfilter">
    <span
      ref="items"
      class="vfilter-btn"
      v-for="(item, index) in items"
      :key="index"
      :class="{ active: index === activeItem }"
      @click="setFilter(item.value)"
    >
      <span class="btn-txt">{{ item.title || item.label }}</span>
    </span>
    <span
      class="vfilter-btn__bar"
      :style="{
        width: bar.width + 'px',
        transform: 'translateX(' + (-8 + bar.left) + 'px)',
      }"
    ></span>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';
@import '../assets/scss/variables';
</style>
