<script>
export default {
  name: 'VueLoading',
  props: {
    textSize: {
      type: Number,
      default: 24
    },
    withIcon: {
      type: Boolean,
      default: false
    },
    iconSize: {
      type: Number,
      default: 30
    }
  }
}
</script>

<template>
  <div class="loading">
    <span class="loading-text" :style="`font-size: ${textSize}px`">Yükleniyor...</span>
  </div>
</template>
