<template>
  <div class="progress" :style="{ height: size + 'px' }">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      :class="progresType"
      :style="{ width: percentWidth }"
      :valuemin="min"
      :valuemax="max"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'VueProgress',
  props: {
    value: Number,
    size: {
      type: [String, Number],
      default: '22'
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 100
    }
  },
  computed: {
    percentWidth() {
      const range = this.max - this.min
      const pos = this.value - this.min
      return `${Math.round(100 * (pos / range))}%`
    },
    progresType() {
      const progressVal = this.value
      let type = ''
      if (progressVal > 0 && progressVal < 100) {
        type = 'continue'
      } else if (progressVal >= 100) {
        type = 'completed'
      } else {
        type = 'none'
      }
      return type
    }
  }
}
</script>
