<script>
import { mixin as clickaway } from 'vue-clickaway'
export default {
  mixins: [clickaway],
  name: 'VueSelect',
  props: {
    options: {
      type: Array,
      require: true
    },
    title: {
      type: String,
      default: 'Seçiniz'
    },
    sortIcon: {
      type: String,
      default: 'Sırala'
    },
    lastOption: {
      type: [Number, String]
    }
  },

  data() {
    return {
      // title: 'Seçiniz',
      initialOption: parseInt(this.lastOption),
      optionsList: this.options,
      optionId: null,
      currentOption: null,
      currentOptionIndex: null,
      selected: false,
      selectOpen: false,
      label: ''
    }
  },

  watch: {
    lastOption(val) {
      console.log('val select', val)
      val = parseInt(val)
      this.optionId = val
      this.setActiveItem()
    }
  },

  computed: {
    selectedItem() {
      let option = this.options.find((item, index) => {
        return item.selected === true
      })
      return option
    },

    hasIcon() {
      return false
    },

    optionLabel() {
      return this.currentOption.name || this.currentOption.label
    }
  },

  mounted() {
    this.setInitialOption()
  },

  methods: {
    setInitialOption() {
      this.currentOption = this.optionsList.find(el => el.id === this.initialOption)
    },

    selectItem(value) {
      this.setActiveItem()
      this.closeSelect()
      this.$emit('selectOption', value)
    },

    setActiveItem() {
      this.currentOption = this.optionsList.find(el => el.id === this.optionId)
      this.currentOptionIndex = this.optionsList.findIndex(el => el.id === this.optionId)
    },

    selectToggle() {
      this.selectOpen = !this.selectOpen
    },

    closeSelect() {
      this.selectOpen = false
    },

    clearSelect() {
      this.currentOption = null
      this.selected = false
    },

    optionText(option) {
      return option.name || option.label
    }
  }
}
</script>

<template>
  <div class="select" v-on-clickaway="closeSelect" :class="[selectOpen ? 'active' : '']">
    <div
      class="select-header"
      :class="{ active: selected || currentOption !== null, open: selectOpen }"
      @click="selectToggle"
    >
      <div
        class="select__title only-tablet select__sort-icon"
        :class="{ unfiltered: currentOption === null }"
      >
        <img :src="sortIcon" class="icon" alt />
      </div>
      <span
        class="select__dot"
        v-if="selected && hasIcon"
        :class="`bg-${selectedItem.type}`"
      ></span>
      <div class="select__title" v-if="currentOption !== null">{{ optionLabel }}</div>

      <span class="select__caret"></span>
    </div>
    <div class="select__wrp" :class="[selectOpen ? 'active' : '']">
      <div class="select__list">
        <div
          class="select__option"
          v-for="(option, index) in options"
          :key="index"
          :data-value="option.value"
          :selected="index === currentOptionIndex"
          :class="{ selected: index === currentOptionIndex }"
          @click="selectItem(option.id)"
        >
          <div class="select__option-title">{{ optionText(option) }}</div>
        </div>
      </div>
    </div>

    <select hidden>
      <option
        v-for="(option, $index) in options"
        :key="$index"
        :value="option.value"
        :selected="currentOption === $index"
        >{{ option.label }}</option
      >
    </select>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/selectbox';
</style>
