<script>
export default {
  name: 'VueTooltip',
  props: {
    text: {
      type: String,
      required: true
    },
    location: {
      type: String,
      default: 'top'
    },
    multiline: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<template>
  <div class="vtooltip" :class="['vtooltip--' + location, { 'single-line': !multiline } ]">
    <span class="vtooltip__text">{{ text }}</span>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/scss/variables';

.has-tooltip {
  position: relative;

  &:hover {
    & > .vtooltip {
      visibility: visible;
      opacity: 1;
      background: rgba($color: $c-alt, $alpha: 0.9);

      &--top {
        transform: translateX(-50%) translateY(calc(-100% - 13px));

        .has-tooltip {
          &:hover {
            .vtooltip--top {
              left: -15px !important;
              transform: translateX(0%) translateY(calc(-100% - 13px)) !important;
              @include bp(tablet) {
                left: 0px;
                transform: translateX(0%) translateY(calc(-100% - 13px));
              }
            }
          }
        }
      }

      &--left {
        transform: translateX(calc(-100% - 23px)) translateY(-50%);
      }
    }
  }
}

.vtooltip {
  position: absolute;
  z-index: 9999;
  background: $c-alt;
  opacity: 0;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  word-wrap: break-word;
  white-space: nowrap;
  padding: 0.5rem 0.8rem 0.3rem;
  border-radius: 0.4rem;
  transition: 0.2s;
  visibility: hidden;
  display: block;
  top: 0;
  backface-visibility: hidden;
  min-height: 2rem !important;
  cursor: default;

  &--top::after,
  &--bottom::after {
    transform: translateX(-50%);
  }

  &--top {
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 18px));
    @include bp(tablet) {
      left: -15px;
      transform: translateX(0%) translateY(calc(-100% - 13px)) !important;
    }

    &:after {
      @include triangle(down, rgba($color: $c-alt, $alpha: 0.9), 9px);
      left: 50%;
      bottom: -9px;
      @include bp(tablet) {
        left: 35px;
      }
    }
  }

  &--bottom {
    left: 50%;
    transform: translateX(-50%) translateY(calc(200% - 18px));

    &:after {
      @include triangle(up, rgba($color: $c-alt, $alpha: 0.9), 7px);
      left: 50%;
      top: -6px;
    }
  }

  &--left {
    top: 50%;
    transform: translateX(calc(-100% - 28px)) translateY(-50%);

    &::after {
      @include triangle(right, rgba($color: $c-alt, $alpha: 0.9), 8px);
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__text {
    font-weight: 600;
  }
}
</style>
