<template>
  <div class="detail-header" v-if="!loading && loaded">
    <div class="detail-header__wrp">
      <div class="detail-ctr">
        <div class="detail-ctr__item">
          <v-button
            @click.native="setDarkMode"
            class="button--circle circle-xs simple darkmode-button"
            icon="icon-lamp"
            icon-position="left"
            v-tooltip="'Gece Modu'"
          />
        </div>
      </div>
      <div class="detail-inf-shadow" v-if="contentModal" @click="index=null;contentModal=false"></div>
      <container class="detail__container">
        <div class="detail-inf container">
          <div class="detail-inf__header">
            <div class="detail__title" v-if="loaded">{{report.name}}</div>
            <div class="detail__title ghost--detail__title" v-else></div>
          </div>
        </div>
      </container>
      <div class="detail-right">
        <v-button
          class="simple xs icon-xs round detail-close"
          title="KAPAT"
          icon="icon-close"
          icon-position="right"
          @click.native="closeReport"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { SWITCH_DARKMODE } from '@/store/actions.type'

export default {
  name: 'Header',
  data() {
    return {
      index: null,
      contentModal: false,
    }
  },
  computed: {
    ...mapGetters({
      report: 'testReport/report',
      loaded: 'testReport/loaded',
      loading: 'testReport/loading'
    }),
    ...mapGetters(['getDarkMode']),
  },
  methods: {
    closeReport() {
      this.$router.push(`/test`)
    },
    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },
  },
}
</Script>
