<template>
  <section class="component component--deneme-report-summary">
    <strong class="ranking" v-if="report.country_wide && report.summary.ranking">
      TÜRKİYE GENELİ SIRALAMA:
      <strong>{{report.summary.ranking}}</strong>
    </strong>
    <hr class="f-line" v-if="report.country_wide && report.summary.ranking" />
    <div class="stats">
      <div class="stat">
        <strong>SORU SAYISI</strong>
        <span>{{report.summary.statistics.questionCount}}</span>
      </div>
      <div class="stat">
        <strong>DOĞRU SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.correct.done}}</b>
          / {{report.summary.statistics.correct.total}}
        </span>
      </div>
      <div class="stat">
        <strong>YANLIŞ SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.wrong.done}}</b>
          / {{report.summary.statistics.wrong.total}}
        </span>
      </div>
      <div class="stat">
        <strong>BOŞ SAYISI</strong>
        <span>
          <b>{{report.summary.statistics.empty.done}}</b>
          / {{report.summary.statistics.empty.total}}
        </span>
      </div>
    </div>
    <hr class="f-line only-desktop" />
    <div class="row my-results">
      <div class="col-12 col-md-4 my-results--item" />
      <div class="col-12 col-md-4 my-results--item">
        <strong>SINAV SÜRESİ</strong>
        <span v-html="convertToMinuteSecond(report.summary.elapsedTime)" class="bolded"></span>
      </div>
      <div class="col-12 col-md-4 my-results--item" />
    </div>
    <div class="clear" style="height: 20px;"></div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import { millisToMinutesAndSeconds } from '../../../common/helpers'

export default {
  name: 'Summary',
  computed: {
    ...mapGetters({
      report: 'testReport/report',
    })
  },
  methods: {
    convertToMinuteSecond(ms) {
      return millisToMinutesAndSeconds(ms)
    },
  }
}
</script>
