<template>
  <div>
    {{ tools }}
  </div>
</template>

<script>
export default {
  name: 'MyTools',
  props: {
    tools: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style></style>
