<template>
  <div class="dct">
    <!-- <subpage-header
      app="dictionary"
      :title="pageInfo.title"
      :icon="pageInfo.icon"
      :background="pageInfo.background"
    />-->
    <div class="dct__cnt">
      <container class="inner-container">
        <!-- <Search /> -->
        <EmptyContent
          v-if="noContent"
          :content="emptyContent"
          class="empty-content--notfound"
          icon="icon-notfound-dictionary"
          title="Aradığınız kelime bulunamadı!"
          text="Yanlış yazmış olabilirsiniz, doğru yazdığınızdan <br> emin olarak tekrar deneyin."
        />
        <div v-if="!noContent && loaded" class="dct-header">
          <div class="dct-header__left">
            <v-button
              class="dct-voice square"
              icon="icon-voice"
              icon-position="left"
              v-tooltip="{
                content: 'Dinle'
              }"
              @click.native="speak(initialWord)"
            />
            <div class="dct-header__cnt">
              <div class="dct-header__title">{{ initialWord }}</div>
              <div class="dct-header__txt">{{ result.alternative_spelling }}</div>
            </div>
          </div>
          <div class="dct-header__right" :class="[hasFamily ? 'with-family' : '']">
            <div class="dct-header-filter">
              <div class="dct-header-filter__item" :class="{ active: showOthers }" v-if="hasFamily">
                <v-button
                  class="button default"
                  title="DİĞER TÜRLERİ"
                  @click.native="toggleOthers"
                />
                <transition-group name="fade">
                  <div class="dct-popup__overlay" v-if="showOthers" :key="1" @click="hideOthers"></div>
                  <div class="dct-popup" v-if="showOthers" :key="2">
                    <div class="dct-popup__list">
                      <DictionaryWordbox
                        v-for="(word, index) in result.family"
                        :key="index"
                        :word="word"
                        :showMore="true"
                        :showAllMeanings="false"
                      />
                    </div>
                  </div>
                </transition-group>
              </div>
            </div>
            <div class="dct-header-ctr">
              <v-button
                class="dct-header-ctr__share button default"
                icon="icon-share"
                icon-position="left"
                title="Paylaş"
                @click.native="openShareModal"
              />
              <transition-group name="fade">
                <div class="dct-popup__overlay" v-if="shareOpen" :key="1" @click="hideShareModal"></div>
                <ShareModal
                  :share-text="shareText"
                  :links="result.share_links"
                  :key="2"
                  v-if="shareOpen"
                  @closeModal="hideShareModal"
                />
              </transition-group>
            </div>
          </div>
        </div>
        <GhostDictionaryDetailHeader v-if="!loaded" />
        <div class="dct__content">
          <div class="dct-list">
            <template v-if="loaded">
              <div class="dct-list__item" v-for="(piece, index) in result.words" :key="index">
                <div class="dct-float" :class="`dct-float__${piece.type_slug} ${expose(piece)}`">
                  <Result :content="piece" />
                </div>
                <div class="dct-static">
                  <Relations :content="piece.relation" :type="piece.type_slug" />
                  <FormBlock
                    v-for="(items, index) in piece.forms"
                    :key="index"
                    :content="items"
                    :type="piece.type_slug"
                  />
                </div>
              </div>
            </template>
            <GhostDictionaryDetail v-if="!loaded" />
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
// import SubpageHeader from '@/components/SubpageHeader'
import EmptyContent from '@/components/EmptyContent'
import ShareModal from '@/components/ShareModal'
import DictionaryResult from '@/components/Dictionary/DictionaryResult'
import DictionaryRelations from '@/components/Dictionary/DictionaryRelations'
import DictionaryForms from '@/components/Dictionary/DictionaryForms'
// import DictionarySearch from '@/components/Dictionary/DictionarySearch'
import DictionaryWordbox from '@/components/Dictionary/DictionaryWordbox'
import GhostDictionaryDetail from '@/core/Ghost/GhostDictionaryDetail'
import GhostDictionaryDetailHeader from '@/core/Ghost/GhostDictionaryDetailHeader'
import { getDictionaryResult } from '../../services/dictionary.service'
import { textToSpeech } from '../../common/tts-helper'

export default {
  name: 'DictionaryResult',
  components: {
    // SubpageHeader,
    EmptyContent,
    ShareModal,
    Result: DictionaryResult,
    Relations: DictionaryRelations,
    // Search: DictionarySearch,
    FormBlock: DictionaryForms,
    DictionaryWordbox,
    GhostDictionaryDetail,
    GhostDictionaryDetailHeader
  },
  data() {
    return {
      initialWord: this.$route.params.word,
      searchedWord: '',
      hideBar: '',
      fixedContent: false,
      showOthers: false,
      showOtherTypes: false,
      shareOpen: false,
      shareText: '',
      currentItem: 0,
      noContent: false,
      emptyContent: {
        icon: 'icon-info-circle',
        title: 'Sonuç bulunamadı!',
        text:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor, dolorem fugit in quis velit!'
      },
      activeLineOffset: {
        top: 0 + 'px',
        height: 0 + 'px'
      },
      downloadModal: {
        title: 'Yazdırma Seçenekleri',
        icon: 'icon-download',
        active: false
      },
      shareModal: {
        title: 'Paylaşma Seçenekleri',
        icon: 'icon-share',
        active: false
      },
      pageInfo: {
        title: 'Sözlük',
        icon: require('@/assets/img/app-sozluk.svg'),
        background: null,
        guide: {
          titleFirst: 'Rh+ Sözlük Nedir',
          textFirst:
            'YDS Hazırlık grubu, henüz YDS‘ye hiç girmemiş veya girip 45 puanın altında ' +
            'not almış olanlar sınıftır. Temel gramer bilgisi, kelime ve çeviri konusunda kendiniz.',
          titleSecond: 'Nasıl Çalışır?',
          textSecond:
            'Help people get answers to their questions and get started with your app.',
          videoCover: require('@/assets/img/how-works-sozluk.jpg')
        }
      },
      result: [],
      loaded: false
    }
  },
  watch: {
    $route(to, from) {
      console.log(to)
      this.initialWord = to.params.word
      getDictionaryResult(to.params.word).then(({ data }) => {
        this.loaded = true
        this.result = data
        this.noContent = data.words.length === 0
      })
    }
  },
  computed: {
    hasFamily() {
      if (this.result.family === undefined || this.result.family.length <= 0) {
        return false
      }
      return true
    }
  },
  methods: {
    expose(el) {
      let a = el.forms.length
      let b = -1
      let c = -1
      if (el.relation.length === 0) {
        b = 0
        c = 0
      } else {
        b = el.relation.synonym.items.length
        c = el.relation.antonym.items.length
      }
      if (a === 0 && b === 0 && c === 0) {
        return 'hidebar'
      }
      return ''
    },
    speak: textToSpeech,
    toggleOthers() {
      this.showOthers = !this.showOthers
    },
    toggleOtherTypes() {
      this.showOtherTypes = !this.showOtherTypes
    },
    hideOthers() {
      this.showOthers = false
      this.showOtherTypes = false
    },
    openDownloadModal() {
      this.downloadModal.active = true
    },
    openShareModal() {
      this.shareOpen = true
      this.shareText = 'https://www.remzihoca.com/sozluk/' + this.initialWord
    },
    hideShareModal() {
      this.shareOpen = false
    }
  },
  mounted() {
    document.title = `${this.initialWord} | Sözlük | RH Platform`
    this.$route.meta.title = this.initialWord
    this.$store.dispatch('rosette/getBadges')
  },
  created() {
    getDictionaryResult(this.initialWord).then(({ data }) => {
      this.loaded = true
      this.result = data
      if (data.words.length === 0) {
        this.noContent = true
      }
    })
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/dictionary";

.inner-container {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
hr.bg-red {
  border-color: red;
}

hr.bg-blue {
  border-color: cyan;
}
</style>
