<script>
import WordBox from '@/components/WordBox'
import DictionarySlider from '@/components/Dictionary/DictionarySlider'
import GhostDictionarySlider from '@/core/Ghost/GhostDictionarySlider'
import GhostDictionaryWordItem from '@/core/Ghost/GhostDictionaryWordItem'
import {
  HANDLE_OTHER_WORDS,
  SHOW_TOOLBAR,
  SHOW_WORDBOX_MODAL,
} from '../../store/actions.type'
import { getDictionary } from '../../services/dictionary.service'
import { textToSpeech } from '../../common/tts-helper'

export default {
  name: 'DictionaryLanding',

  components: {
    WordBox,
    DictionarySlider,
    GhostDictionarySlider,
    GhostDictionaryWordItem,
  },

  data() {
    return {
      pageInfo: {
        title: 'Sözlük',
        icon: require('@/assets/img/app-sozluk-white.svg'),
        background: null,
        guide: {
          titleFirst: 'Rh+ Sözlük Nedir',
          textFirst:
            'YDS Hazırlık grubu, henüz YDS‘ye hiç girmemiş veya girip 45 puanın altında ' +
            'not almış olanlar sınıftır. Temel gramer bilgisi, kelime ve çeviri konusunda kendiniz.',
          titleSecond: 'Nasıl Çalışır?',
          textSecond:
            'Help people get answers to their questions and get started with your app.',
          videoCover: require('@/assets/img/how-works-sozluk.jpg'),
        },
      },
      lastVisited: [],
      wordsOfTheDay: [],
      loaded: false,
      today: '',
    }
  },

  created() {
    this.getWotd()
  },

  mounted() {
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    speak: textToSpeech,

    async handleOtherWords(word) {
      await this.$store.dispatch(HANDLE_OTHER_WORDS, word)
      this.$store.dispatch(SHOW_WORDBOX_MODAL, true)
    },

    search() {
      this.showResult = true
    },

    goWord(word) {
      this.$store.dispatch(SHOW_TOOLBAR, false)
      this.$router.push(`/sozluk/${word.title}`)
    },

    switchLanguage() {
      let temp = this.languageFrom
      this.languageFrom = this.languageTo
      this.languageTo = temp
      this.switchLang = !this.switchLang
    },

    getWotd() {
      getDictionary().then(({ data }) => {
        this.loaded = true
        this.wordsOfTheDay = data.words_of_the_day
        this.lastVisited = data.last_searched_words
      })
    },
  },
}
</script>

<template>
  <div class="dictionary">
    <div class="dictionary__cnt">
      <container class="inner-container">
        <!-- <search /> -->
        <dictionary-slider :words="wordsOfTheDay" v-if="loaded" />
        <GhostDictionarySlider v-if="!loaded" />
        <div class="dictionary-other" v-if="loaded">
          <div class="section-bracket">
            <div class="section-bracket__title">SON ARANAN KELİMELER</div>
            <hr class="fw" />
          </div>
          <div class="dictionary-other__wrp">
            <div class="dictionary-latest">
              <WordBox
                class="dictionary-latest-word"
                v-for="word in lastVisited.slice(0, 6)"
                :key="word.id"
                :word="word"
                @on-word-click="goWord"
                @moreWords="handleOtherWords"
                from="dictionary"
              />
            </div>
          </div>
        </div>
        <template v-else>
          <div class="dictionary-ghost-bracket">
            <div class="dictionary-ghost-bracket__left"></div>
            <div class="dictionary-ghost-bracket__line"></div>
            <div class="dictionary-ghost-bracket__right"></div>
          </div>
          <div class="dictionary-latest">
            <GhostDictionaryWordItem v-for="n in 6" :key="n" />
          </div>
        </template>
      </container>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/dictionary';
@import '@/assets/scss/components/datepicker';
.inner-container {
  padding-left: 100px;
  padding-right: 100px;
}
.datepicker__btn {
  padding: 15px 30px;
}
</style>
