<script>
import AppHeader from '@/core/AppHeader'
import DictionarySearch from '@/components/Dictionary/DictionarySearch'
import { getDictionaryInfo } from '../../services/dictionary.service'

export default {
  name: 'DictionaryIndex',

  components: {
    AppHeader,
    DictionarySearch
  },

  data() {
    return {
      info: {
        title: 'Sözlük',
        link: '/sozluk',
        icon: require('@/assets/img/app-cluebank-white.svg'),
        background: null
      },
      headerLoaded: false,
      placeholder: ''
    }
  },

  watch: {
    $route(to, from) {
      this.placeholder = to.params.word ? to.params.word : ''
    }
  },

  created() {
    this.fetchDictionaryInfo()
  },

  methods: {
    fetchDictionaryInfo() {
      this.headerLoaded = false
      getDictionaryInfo().then((res) => {
        this.headerLoaded = true
        this.info.what = res.data.what
        this.info.howWorks = res.data.howWorks
        this.info.video = res.data.video
      })
    }
  }
}
</script>

<template>
  <div class="dictionary">
    <AppHeader :info="info" />
    <DictionarySearch :fillText="placeholder" class="container dictionary-searchbox" />
    <main class="view view--main">
      <router-view />
    </main>
  </div>
</template>

<style lang="scss" scoped>
.dictionary-searchbox {
  transform: translateY(-50%);
}
</style>
