@import "../variables";

.cluebank-list-ghost {
    &__header {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
        position: relative;
        background: transparentize($color: #fff, $amount: 0.05);
        border-radius: 10px;
        padding: 1rem;
        transition: 0.15s;
        position: relative;
        overflow: hidden;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__icon {
        border-radius: 50%;
        background: $ghostBg;
        width: 45px;
        height: 45px;
        margin-right: 20px;
        flex-shrink: 0;
    }

    &__content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        background: $ghostBg;
        width: 70%;
        height: 14px;
        border-radius: 20px;
    }

    &__txt {
        background: $ghostBg;
        width: 50%;
        height: 15px;
        border-radius: 20px;
        margin: 3px;
    }

    &-inf {
        border-top: 2px solid $ghostBg;
        margin-top: 15px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;

        &__txt {
            background: $ghostBg;
            width: 30%;
            height: 12px;
            border-radius: 20px;
            margin: 3px;
            margin: 4px;

            &.w100 {
                width: 100%;
            }

            &.w70 {
                width: 70%;
            }

            &.w30 {
                width: 30%;
            }
        }
    }
}

.clue-ghost__outer {
    display: flex;
    flex-flow: wrap;
}

.clue-ghost__bracket {
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;

    &--left {
        width: 25%;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 45px;
        height: 45px;
        background: $ghostBg;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin-right: 15px;

        &.icon--2 {
            width: 35px;
            height: 35px;
            margin-left: 15px;
            margin-right: 0;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__title {
        width: 70%;
        height: 17px;
        background: $ghostBg;
        border-radius: 17px;
        position: relative;
        overflow: hidden;
        margin-right: 10px;

        &:after {
            @extend %animateEffect;
        }
    }

    &__txt {
        width: 30%;
        height: 14px;
        background: $ghostBg;
        border-radius: 14px;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

    &__line {
        width: calc(100% - 25% - 35px - 15px);
        height: 1px;
        background: $ghostBg;
        margin-left: 15px;
    }
}

.clue-detail {
    &.cluebank-list-ghost {
        &__item {
            width: 100%;
            padding: 35px;
        }
    }

    .cluebank-list-ghost {
        &__icon {
            margin-right: 0;
            width: 35px;
            height: 35px;
        }

        &-inf {
            margin-top: 30px;
            padding-top: 30px;

            &__txt {
                margin-bottom: 15px;
                height: 17px;

                &.w100 {
                    width: 80% !important;
                }
            }
        }
    }
}

@import "../ghost-animate";