@import "../variables";

.report-header-ghost {
  height: 100px;
}

.exam-ghost {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
  background: transparentize($color: #fff, $amount: 0.05);
  border-radius: 10px;
  padding: 12px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:after {
    @extend %animateEffect;
  }

  &__left {
    border-radius: 8px;
    background: $ghostBg;
    width: 56px;
    height: 56px;
    margin-right: 25px;
    flex-shrink: 0;
  }

  &__cnt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    width: 30%;
    border-left: 2px solid rgba(239, 239, 239, 0.57);
  }

  &__icon {
    border-radius: 50%;
    background: $ghostBg;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__title {
    background: $ghostBg;
    width: 80%;
    height: 14px;
    border-radius: 20px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    width: auto;
  }

  &__txt {
    background: $ghostBg;
    width: 150px;
    height: 15px;
    border-radius: 20px;
    margin-right: 15px;
  }

  &__button {
    width: 214px;
    height: 47px;
    background: $ghostBg;
    border-radius: 10px;
    flex-shrink: 0;
  }
}


.exam-detail-ghost {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 12px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;

  @include bp(tablet) {
    padding: 12px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &--item {
      width: 23.5%;
      margin: 0 1%;
      height: 130px;
      background: transparentize($color: #fff, $amount: 0.05);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        width: 100%;
        margin: 2% 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        @extend %animateEffect;
      }
    }

    &--title {
      width: 50%;
      height: 17px;
      background: $ghostBg;
      border-radius: 10px;
    }

    &--line {
      width: 80%;
      height: 2px;
      background: $ghostBg;
      margin: 20px 0;
    }

    &--num {
      width: 30px;
      height: 20px;
      background: $ghostBg;
      border-radius: 10px;
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &--item {
      width: 33.3%;
      height: 130px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #e2e6ea;

      @include bp(tablet) {
        width: 100%;
        height: 80px;
        border-right: none;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        border-right: none;
      }
    }

    &--title {
      width: 60%;
      height: 17px;
      background: #e2e6ea;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }

    &--num {
      width: 40px;
      height: 20px;
      background: #e2e6ea;
      border-radius: 10px;
      margin-top: 10px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    position: relative;
    background: #e2e6ea;
    border-radius: 100px;
    padding: 26px 20px;
    transition: 0.15s;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    @include bp(tablet) {
      width: 100%;
    }

    &:after {
      @extend %animateEffect;
    }

    &--txt {
      width: 80%;
      height: 20px;
      background: $ghostBg;
      border-radius: 10px;
    }
  }
}

.exam-tab-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 12px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;

  &__wrp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(tablet) {
      width: 100%;
      justify-content: center;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    @include bp(tablet) {
      display: none;
    }

    &:nth-child(1),
    &:nth-child(2) {
      @include bp(tablet) {
        display: block;
        width: 50%;
      }
    }

    &:nth-child(1) {
      margin-right: 100px;
    }

  }

  &__txt {
    width: 60%;
    height: 17px;
    background: #e2e6ea;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 100%;
    }

    &:after {
      @extend %animateEffect;
    }
  }
}

.subpage-ghost-tab {
  .exam-tab-ghost {
    &__item {
      &:nth-child(1) {
        margin-right: 0;
      }
    }

    &__txt {
      background: #fff;
    }
  }
}


.exam-test-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  position: relative;
  border-radius: 10px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: #e2e6ea;
    border-radius: 10px;
    padding: 16px 20px;
    transition: 0.15s;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.7%;

    &:after {
      @extend %animateEffect;
    }

    &--txt {
      width: 90%;
      height: 15px;
      background: $ghostBg;
      border-radius: 10px;

      &.txt--2 {
        width: 60%;
        margin-top: 10px;
      }
    }
  }

  &__question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 10px;
    padding: 20px;
    transition: 0.15s;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }

    &--num {
      background: $ghostBg;
      width: 35px;
      height: 35px;
      border-radius: 7px;
      margin-right: 37px;
      flex-shrink: 0;
    }

    &--cnt {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &--txt {
      width: 90%;
      height: 15px;
      background: $ghostBg;
      border-radius: 10px;

      &.txt--2 {
        width: 80%;
        margin-top: 10px;
      }

      &.txt--3 {
        width: 30%;
        margin-top: 10px;
      }
    }

  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-top: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 25px;
  }

  &__opt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    background: #dde5ec;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }


  &__opt-txt {
    width: 60%;
    height: 17px;
    background: #dde5ec;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &.txt {
      &--2 {
        width: 30%;
      }

      &--3 {
        width: 50%;
      }

      &--4 {
        width: 10%;
      }

      &--5 {
        width: 80%;
      }
    }

    &:after {
      @extend %animateEffect;
    }
  }

}

.ghost {
  &--detail {
    &__title {
      background: $ghostBg;
      width: 40%;
      height: 20px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }
  }
}

.exam-header-ghost {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto 70px auto;
  position: relative;
  background: transparentize($color: #fff, $amount: 0.05);
  border-radius: 0px 0 10px 10px;
  padding: 12px 20px 6px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;

  &:after {
    @extend %animateEffect;
  }

  &__title {
    width: 25%;
    height: 17px;
    background: $ghostBg;
    border-radius: 10px;
    margin: 15px 0;
  }

  &__middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    margin-right: 5%;

    &--icon {
      width: 30px;
      height: 30px;
      background: $ghostBg;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 10px;
    }

    &--txt {
      width: 100%;
      height: 17px;
      background: $ghostBg;
      border-radius: 10px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
  }

  &__time {
    width: 30%;
    height: 17px;
    background: $ghostBg;
    border-radius: 10px;

    &-title {
      width: 70%;
      margin-right: 20px;
      height: 17px;
      background: $ghostBg;
      border-radius: 10px;
    }
  }

  &__progress {
    width: 100%;
    height: 13px;
    background: $ghostBg;
    border-radius: 10px;
    margin: 15px 0;
  }
}

@import "../ghost-animate";