@import "../variables";

.dictionary-ghost-bracket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0 40px 0;

    &__left {
        width: 30%;
        height: 20px;
        background: #e2e7ec;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-right: 20px;

        &:after {
            @extend %animateEffect;
        }
    }

    &__line {
        width: 100%;
        height: 2px;
        background: #e2e7ec;
    }

    &__right {
        width: 30%;
        height: 30px;
        background: #e2e7ec;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-left: 20px;

        &:after {
            @extend %animateEffect;
        }
    }
}

.dictionary-ghost-slider {
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: auto;
    }

    &__left {
        width: 45px;
        height: 45px;
        background: #e2e7ec;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

    &__content {
        flex-shrink: 0;
        width: 600px;
        height: 100%;
        position: relative;
        overflow: hidden;

        @include bp(tablet) {
            width: 100%;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: transparentize($color: #fff, $amount: 0.05);
        border-radius: 15px;
    }

    &__right {
        width: 45px;
        height: 45px;
        background: #e2e7ec;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

    &__header {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $ghostBg;
    }

    &__word {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: auto;
    }

    &__icon {
        background: $ghostBg;
        width: 62px;
        height: 62px;
        border-radius: 50%;

        @include bp(tablet) {
            width: 55px;
            height: 55px;
        }
    }

    &__title {
        background: $ghostBg;
        width: 150px;
        height: 20px;
        border-radius: 20px;
        margin-left: 15px;
    }

    &__share {
        background: $ghostBg;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 15px;
    }

    &__cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__desc {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 35px 15px;
        border-bottom: 1px solid $ghostBg;

        @include bp(tablet) {
            padding: 15px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__badge {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $ghostBg;
    }

    &__txt {
        width: 200px;
        height: 16px;
        border-radius: 20px;
        background: $ghostBg;
        margin-left: 15px;
    }
}

@import "../ghost-animate";