@import "../variables";

.dictionary-ghost-word {
    &__item {
        display: flex;
        justify-content: flex-start;
        position: relative;
        align-items: center;
        width: 100%;
        background: transparentize($color: #fff, $amount: 0.05);
        border-radius: 10px;
        padding: .7rem;
        transition: 0.15s;
        position: relative;
        overflow: hidden;
        flex-basis: 32%;
        width: 100%;
        flex-shrink: 0;
        margin-left: 0;
        margin-bottom: 25px;
        margin-right: 2%;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__icon {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        background: $ghostBg;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__cnt {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 15px;
    }

    &__title {
        background: $ghostBg;
        width: 55%;
        height: 16px;
        border-radius: 20px;
    }

    &__badge {
        background: $ghostBg;
        width: 30px;
        height: 16px;
        border-radius: 20px;
        margin-left: 10px;
    }

    &__inf {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &__txt {
        width: 25%;
        height: 14px;
        background: $ghostBg;
        border-radius: 20px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

}

.dictionary-ghost-detail {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-left {
        width: 42%;
        background: transparentize($color: #fff, $amount: 0.05);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        padding: 20px;
        border-radius: 10px;

        &:after {
            @extend %animateEffect;
        }

        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }

        &__rate {
            width: 50px;
            height: 50px;
            background: $ghostBg;
            border-radius: 50%;
            flex-shrink: 0;
        }

        &__cnt {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            margin-left: 10px;
        }

        &__icon {
            width: 30px;
            height: 30px;
            background: $ghostBg;
            border-radius: 50%;
            flex-shrink: 0;
        }

        &__title {
            width: 40%;
            height: 20px;
            border-radius: 17px;
            background: $ghostBg;
            margin-bottom: 10px;
        }

        &__txt-cnt {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__txt {
            width: 20%;
            height: 15px;
            border-radius: 17px;
            background: $ghostBg;
            margin-right: 20px;

            &.txt--2 {
                width: 30%;
            }
        }

        &__bottom {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin: 30px 0;
            padding: 30px 0;
            position: relative;

            &.no-after {
                margin: 0;
                padding-bottom: 10px;

                &::before,
                &::after {
                    display: none;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                width: calc(100% + 40px);
                height: 1px;
                background: $ghostBg;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: -20px;
                width: calc(100% + 40px);
                height: 1px;
                background: $ghostBg;
            }

            &--txt {
                width: 80%;
                height: 15px;
                border-radius: 17px;
                background: $ghostBg;
                margin-right: 20px;
                margin-bottom: 10px;

                &.txt--2 {
                    width: 20%;
                    margin-bottom: 0;
                }
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 10px;

            &--title {
                width: 40%;
                height: 17px;
                background: $ghostBg;
                border-radius: 17px;
            }

            &--icon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $ghostBg;
            }
        }
    }

    &-right {
        width: 58%;
        padding-left: 90px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        padding: 0 20px 20px 20px 20px;
        border-radius: 10px;

        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            width: 30%;
            height: 17px;
            border-radius: 17px;
            background: $ghostBg;
            margin-right: 15px;
            overflow: hidden;
            position: relative;

            &:after {
                @extend %animateEffect;
            }
        }

        &__line {
            width: 70%;
            height: 1px;
            background: $ghostBg;
            position: relative;
            overflow: hidden;

            &:after {
                @extend %animateEffect;
            }
        }

        &__middle {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin: 30px 0;
        }

        &__txt {
            width: 70%;
            height: 16px;
            background: $ghostBg;
            border-radius: 17px;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &:after {
                @extend %animateEffect;
            }

            &.txt {
                &--2 {
                    width: 30%;
                }

                &--3 {
                    width: 50%;
                }

                &--4 {
                    width: 20%;
                }
            }
        }

    }
}

.dictionary-ghost-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $ghostBg;

    &__left {
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__icon {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: $ghostBg;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-right: 15px;

        &:after {
            @extend %animateEffect;
        }
    }

    &__title {
        width: 100%;
        height: 20px;
        border-radius: 17px;
        background: $ghostBg;
        overflow: hidden;
        position: relative;

        &:after {
            @extend %animateEffect;
        }
    }

    &__right {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__button {
        width: 100%;
        height: 50px;
        margin-right: 15px;
        border-radius: 7px;
        background: $ghostBg;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        margin-bottom: 25px;

        &:last-child {
            margin-right: 0;
        }

        &:after {
            @extend %animateEffect;
        }
    }
}

.ghost-toolbar-wordbook-search {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 16px;
    margin-bottom: 10px;

    &-outer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $ghostBg;
        margin-right: 15px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }


    &__txt {
        background: $ghostBg;
        width: 40%;
        height: 16px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

    &__txt2 {
        background: $ghostBg;
        width: 70px;
        height: 16px;
        border-radius: 20px;
        margin-left: auto;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

}

.ghost-toolbar-note {
    width: 100%;
    min-height: 150px;
    border-radius: 8px;
    padding: 15px;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    &.with-wordbook {
        min-height: 40px;

        .ghost-toolbar-note {
            &--top {
                border-bottom: none;
                padding: 5px 0;
                margin-bottom: 0;
            }

            &--cnt,
            &--btn {
                display: none;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--top {
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $ghostBg;
        margin-bottom: 10px;
    }

    &--icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $ghostBg;
        flex-shrink: 0;
    }

    &--top-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 15px;
    }

    &--date {
        width: 30%;
        background: $ghostBg;
        height: 12px;
        border-radius: 12px;
    }

    &--title {
        width: 70%;
        background: $ghostBg;
        height: 15px;
        border-radius: 15px;
        margin-top: 5px;
    }

    &--top-more {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: $ghostBg;
        flex-shrink: 0;
        margin-left: auto;
    }

    &--cnt {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &--txt {
        width: 70%;
        height: 15px;
        border-radius: 15px;
        background: $ghostBg;

        &2 {
            width: 30%;
            height: 15px;
            border-radius: 15px;
            background: $ghostBg;
            margin-top: 5px;
        }
    }

    &--btn {
        width: 100%;
        height: 40px;
        background: $ghostBg;
        border-radius: 5px;
        margin-top: 20px;
    }

    &:after {
        @extend %animateEffect;
    }
}

.ghost-wordbook {
    &-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        background: transparentize($color: #fff, $amount: 0.05);
        transition: 0.15s;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $ghostBg;
        padding-bottom: 25px;
        margin-bottom: 25px;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &:after {
            @extend %animateEffect;
        }

        &-left {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }

    &-icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $ghostBg;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &-title {
        background: $ghostBg;
        width: 55%;
        height: 16px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    &-txt {
        width: 25%;
        height: 14px;
        background: $ghostBg;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    &-status {
        background: $ghostBg;
        width: 30px;
        height: 16px;
        border-radius: 20px;
    }

    &-content {
        width: 100%;
        background: transparentize($color: #fff, $amount: 0.05);
        transition: 0.15s;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $ghostBg;
        padding: 20px;
        border-radius: 20px 20px 0 0;

        &.no-pad {
            padding: 0;
            background: none;

            .ghost-wordbook-item {
                background: transparentize($color: #fff, $amount: 0.05) !important;
            }
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &-bars {
        display: flex;
        align-items: flex-start;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $ghostBg;
    }

    &-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        &.custom {
            width: 70%;
            margin-right: 20px;
            border-right: 1px solid $ghostBg;
            padding-right: 20px;

            &-2 {
                width: 30%;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &--in {
            background: $ghostBg;
            width: 100%;
            height: 45px;
            border-radius: 6px;
            margin-top: 10px;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        background: rgba($ghostBg, .3);
        border-radius: 10px;
        padding: 20px;

        @include bp(tablet) {
            flex-flow: wrap;
            position: relative;
            padding: 15px;
        }

        &>div {
            &:nth-child(1) {
                @include bp(tablet) {
                    margin-bottom: 15px;
                }
            }

            &:nth-child(3) {
                @include bp(tablet) {
                    margin-left: 0 !important;
                }
            }

            &:last-child {
                @include bp(tablet) {
                    position: absolute;
                    top: 25px;
                    right: 20px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .ghost-wordbook-icon {
            &:last-child {
                padding-left: 15px;
                margin-left: 15px;
                border-left: 1px solid $ghostBg;
                margin-right: 0;
            }
        }

        .ghost-wordbook-status {
            margin-right: 15px;
        }

        &-icon {
            width: 55px;
            height: 55px;
            border-radius: 6px;
            background: $ghostBg;
            margin-right: 20px;

            @include bp(tablet) {
                width: 45px;
                height: 45px;
            }
        }

        &-cnt {
            display: flex;
            flex-direction: column;
            width: 40%;

            @include bp(tablet) {
                width: calc(100% - 75px);
                margin-bottom: 15px;
            }

            &-in {
                display: flex;
                align-items: center;
            }
        }

        &-title {
            width: 30%;
            height: 17px;
            border-radius: 20px;
            margin-bottom: 10px;
            background: $ghostBg;
        }

        &-txt {
            width: 15%;
            margin-right: 20px;
            height: 14px;
            border-radius: 17px;
            background: $ghostBg;
        }
    }

}

.ghost-toolbar-wordbook {
    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        transition: 0.15s;
        justify-content: space-between;
        margin: 15px 0;
        border-bottom: 1px solid $ghostBg;
        padding-bottom: 15px;

        &-title {
            width: 120px;
            height: 17px;
            border-radius: 17px;
            background: $ghostBg;
            position: relative;
            overflow: hidden;

            &:after {
                @extend %animateEffect;
            }
        }

        &-txt {
            width: 80px;
            height: 14px;
            border-radius: 14px;
            background: $ghostBg;
            position: relative;
            overflow: hidden;
            margin-top: 10px;

            &:after {
                @extend %animateEffect;
            }
        }
    }

    &__icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $ghostBg;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }
}


@import "../ghost-animate";