@import "../variables";

.dictionary-ghost {
  &__bracket {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &__title {
      width: 150px;
      height: 20px;
      border-radius: 20px;
      background: #e2e7ec;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }

    &__date {
      width: 200px;
      height: 35px;
      border-radius: 20px;
      background: #e2e7ec;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }
  }
}

@import "../ghost-animate";