@import '../variables';

.ghost-mini-txt {
  width: 120px;
  background: $ghostBg;
  border-radius: 17px;
  height: 15px;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  overflow: hidden;

  @include bp(tablet) {
    width: 100px;
  }

  &:after {
    @extend %animateEffect;
  }
}

.digi-contents-ctr {
  .ghost-mini-txt {
    @include bp(tablet) {
      width: 50px;
      height: 10px;
    }
  }
}

.ghost-digibook-content {
  padding: 15px;

  @include bp(tablet) {
    height: 100vh;
    padding: 15px;
  }

  &__item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid $ghostBg;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__inner {
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 25px;
    width: calc(100% - 50px);

    @include bp(tablet) {
      margin: 15px 0;
      width: 100%;
    }
  }

  &__icon {
    width: 45px;
    height: 45px;
    background: $ghostBg;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 15px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__cnt {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include bp(tablet) {
      width: calc(100% - 45px - 15px);
    }
  }

  &__title {
    width: 20%;
    height: 18px;
    background: $ghostBg;
    border-radius: 17px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 60%;
    }

    &:after {
      @extend %animateEffect;
    }

    &.top-title {
      margin: 0 25px;
    }
  }

  &__txt {
    width: 50%;
    height: 16px;
    background: $ghostBg;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 80%;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__progress {
    display: flex;
    width: 100%;
    margin-left: auto;

    @include bp(tablet) {
      margin-top: 10px;
    }

    &--line {
      width: 100%;
      height: 10px;
      background: $ghostBg;
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }

    &--txt {
      width: 20px;
      flex-shrink: 0;
      height: 10px;
      margin-left: 15px;
      border-radius: 8px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }
  }
}

.digi-card-ghost {
  &__item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    padding: 1rem;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 100%;
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__left {
    width: 125px;
    height: 100%;
    flex-shrink: 0;
    background: $ghostBg;
    border-radius: 20px;
  }

  &__right {
    width: 100%;
    margin-left: 25px;
  }

  &__title {
    background: $ghostBg;
    width: 40%;
    height: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }

  &__txt {
    background: $ghostBg;
    width: 70%;
    height: 14px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  &__progress {
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    background: $ghostBg;
    width: 100%;
    height: 15px;
    border-radius: 20px;

    &-txt {
      width: 40px;
      height: 15px;
      border-radius: 20px;
      background: $ghostBg;
      flex-shrink: 0;
      margin-left: 20px;
    }
  }

  &__bottom {
    border-top: 2px solid $ghostBg;
    align-items: center;
    margin-top: 25px;
    padding-top: 15px;
    justify-content: space-between;
    display: flex;

    @include bp(tablet) {
      margin-top: 15px;
    }
  }

  &__icon-txt {
    background: $ghostBg;
    width: 30%;
    height: 15px;
    border-radius: 20px;
    margin: 3px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    border-radius: 50%;
    background: $ghostBg;
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }
}

.ghost-digibook-test {
  display: flex;
  align-items: flex-start;
  padding: 20px 35px;
  padding-top: 35px;

  @include bp(tablet) {
    padding: 20px 15px;
  }

  &__number {
    width: 30px;
    height: 30px;
    background: $ghostBg;
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin-right: 30px;

    @include bp(tablet) {
      margin-right: 5px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__cnt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  &__question {
    width: 100%;

    &--txt {
      width: 90%;
      height: 17px;
      background: $ghostBg;
      border-radius: 17px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }

      &.txt--2 {
        width: 60%;
        margin-top: 10px;
      }
    }
  }

  &__opts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 26px;

    @include bp(tablet) {
      padding-left: 0;
      width: calc(100vw - 60px);
      margin-left: -35px;
    }
  }

  &__opt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      .ghost-digibook-test__opt--right {
        width: 30%;
      }
    }

    &:nth-child(3) {
      .ghost-digibook-test__opt--right {
        width: 70%;
      }
    }

    &:nth-child(4) {
      .ghost-digibook-test__opt--right {
        width: 50%;
      }
    }

    &:nth-child(5) {
      .ghost-digibook-test__opt--right {
        width: 15%;
      }
    }

    &--left {
      width: 37px;
      height: 37px;
      background: $ghostBg;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 15px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }

    &--right {
      width: 80%;
      height: 16px;
      background: $ghostBg;
      border-radius: 16px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
      }
    }
  }

  &--translate {
    min-height: 155px;
  }

  &__translate {
    width: 100%;
    height: 61px;
    margin-top: 15px;
    background: $ghostBg;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: calc(100vw - 60px);
      margin-left: -35px;
    }

    &:after {
      @extend %animateEffect;
    }
  }
}

.ghost-digibook-table {
  &__first {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid $ghostBg;
  }

  &__second {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid $ghostBg;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $ghostBg;

    &:last-child {
      border-bottom: none;
    }
  }

  &__txt {
    width: 70%;
    height: 17px;
    border-radius: 17px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;

    &.txt--2 {
      width: 50%;
    }

    &.txt--3 {
      width: 60%;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    border-right: 1px solid $ghostBg;
    padding: 0 15px;

    &.left-first {
      width: 25%;
    }

    &.left-second {
      width: 50%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding: 0 15px;

    &.right-first {
      width: 75%;
      justify-content: flex-start;
    }

    &.right-second {
      width: 50%;
    }
  }

  &__box {
    width: 80%;
    height: 80%;
    background: $ghostBg;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }
}

.ghost-digibook-passage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  padding-top: 35px;

  @include bp(tablet) {
    padding: 20px 15px;
    padding-top: 35px;
  }

  &__txt {
    height: 15px;
    border-radius: 16px;
    background: $ghostBg;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }

    &:first-child {
      width: 70%;
    }

    &:nth-child(3n) {
      width: 80%;
    }

    &:nth-child(2n) {
      width: 50%;
    }

    &:last-child {
      width: 20%;
    }
  }
}

.ghost-digibook-pairing {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;

  @include bp(tablet) {
    flex-direction: column;
  }

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    padding-bottom: 30px;
  }

  &>div {
    &:last-child {
      margin-right: 0;

      @include bp(tablet) {
        margin-top: 10px;
      }
    }
  }

  &:nth-child(2n) {
    .ghost-digibook-pairing {
      &__left {
        .ghost-digibook-pairing__txt {
          width: 50%;
        }
      }

      &__right {
        .ghost-digibook-pairing__txt {
          width: 30%;
        }
      }
    }
  }

  &__left,
  &__right {
    width: 100%;
    height: 61px;
    background: #f0f4f9;
    border-radius: 8px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;

    @include bp(tablet) {
      margin-right: 0;
      height: 50px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__txt {
    width: 70%;
    height: 15px;
    border-radius: 15px;
    background: $ghostBg;
  }
}

.ghost-digi-test__main-title {
  margin: 25px 35px 15px 35px;
  width: 200px;
  height: 20px;
}

.ghost-digibook-intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 678px;
  background: #f0f4f9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 50px;

  @include bp(tablet) {
    width: 325px;
    height: 530px;
    transform: translate(-50%, -50%) scale(0.65);
  }

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      background: $ghostBg;
      width: 50%;
      height: 25px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      @include bp(tablet) {
        width: 80%;
      }

      &:after {
        @extend %animateEffect;
      }
    }

    &--txt {
      background: $ghostBg;
      width: 70%;
      height: 18px;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      margin-top: 20px;

      @include bp(tablet) {
        width: 90%;
      }

      &:after {
        @extend %animateEffect;
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--txt {
      background: $ghostBg;
      width: 80%;
      height: 17px;
      border-radius: 17px;
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;

      @include bp(tablet) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        @extend %animateEffect;
      }

      &.txt--2 {
        width: 50%;

        @include bp(tablet) {
          width: 80%;
        }
      }

      &.txt--3 {
        width: 60%;

        @include bp(tablet) {
          width: 90%;
        }
      }
    }
  }
}

.ghost-digibook-static {
  width: 100%;
  background: transparentize($color: #fff, $amount: 0.05);
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  border-radius: 13px;

  &:after {
    @extend %animateEffect;
  }

  &__title {
    width: 20%;
    background: $ghostBg;
    height: 17px;
    border-radius: 17px;
    margin-left: 25px;
  }

  &__cnt {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $ghostBg;
    padding-top: 25px;
    margin-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
  }

  &__txt {
    width: 40%;
    height: 15px;
    border-radius: 15px;
    background: $ghostBg;
    margin-bottom: 10px;

    &.txt2 {
      width: 60%;
    }

    &.txt3 {
      width: 50%;
    }

    &.txt4 {
      width: 70%;
    }

    &.txt5 {
      width: 45%;
    }
  }
}

@import '../ghost-animate';