@import '../variables';

.docs-ghost {
  &__header {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    padding: 0.5rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 49%;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 10px;
    padding: 1rem;
    transition: 0.15s;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }

    @include bp(tablet) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 4%;
      padding: .7rem;

      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }

      &:first-child {
        margin-top: 4%;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__icon {
    border-radius: 50%;
    background: $ghostBg;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;

    @include bp(tablet) {
      width: 45px;
      height: 45px;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    background: $ghostBg;
    width: 80%;
    height: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &__txt {
    background: $ghostBg;
    width: 50%;
    height: 15px;
    border-radius: 20px;
    margin: 3px;
  }

  &-inf {
    border-top: 2px solid $ghostBg;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    justify-content: space-between;
    display: flex;

    &__title {
      background: $ghostBg;
      width: 30%;
      height: 15px;
      border-radius: 20px;
      margin: 3px;
    }

    &__groups {
      display: flex;
      align-items: center;
    }

    &__group {
      border-radius: 50%;
      background: $ghostBg;
      width: 35px;
      height: 35px;
      margin-left: 5px;
    }
  }
}

@import '../ghost-animate';