@import '../variables';

.ghost-home-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include bp(tablet) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include bp(tablet) {
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 87px;
    height: 87px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &:after {
      @extend %animateEffect;
    }
  }

  &__cnt {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
  }

  &__welcome {
    width: 80px;
    height: 13px;
    background: $ghostBg;
    border-radius: 17px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    &:after {
      @extend %animateEffect;
    }
  }

  &__name {
    width: 170px;
    height: 17px;
    background: $ghostBg;
    border-radius: 17px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 335px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include bp(tablet) {
      width: 100%;
    }
  }

  &__user-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #f2f4f7;
    position: relative;
    overflow: hidden;
    padding: 8px 10px;
    border-radius: 8px;
    margin-right: 15px;

    @include bp(tablet) {
      width: 100%;
    }

    &:nth-child(2) {
      @include bp(tablet) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }

    &__more {
      width: 58px;
      height: 58px;
      border-radius: 8px;
      background: $ghostBg;

      @include bp(tablet) {
        display: none;
      }
    }
  }

  &__user-icon {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    flex-shrink: 0;
    background: $ghostBg;
    margin-right: 10px;
  }

  &__user-txt {
    width: 50px;
    height: 15px;
    background: $ghostBg;
    border-radius: 17px;
  }
}

.ghost-home-alert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 15px;
  background: #5657ab;
  border-radius: 11px;
  margin-top: -42px;

  &__icon {
    width: 55px;
    height: 55px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 35px;

    &:after {
      @extend %animateEffect;
    }
  }

  &__txt {
    width: 40%;
    height: 17px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 17px;

    &:after {
      @extend %animateEffect;
    }
  }

  &__button {
    width: 20%;
    height: 50px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-left: auto;

    &:after {
      @extend %animateEffect;
    }
  }
}

.ghost-calendar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 494px;

  @include bp(tablet) {
    flex-direction: column;
    height: 390px;
  }

  &__date {
    width: 150px;
    height: 17px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 17px;

    &:after {
      @extend %animateEffect;
    }
  }

  &__item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid $ghostBg;

    @include bp(tablet) {
      display: none;
      justify-content: space-between;
      border-right: none;
    }

    &:first-child {
      @include bp(tablet) {
        display: flex;
      }

      .ghost-calendar__cnt {
        border-radius: 10px 0 0 10px;

        @include bp(tablet) {
          border-radius: 10px;
        }
      }
    }

    &:last-child {
      .ghost-calendar__cnt {
        border-radius: 0 10px 10px 0;

        @include bp(tablet) {
          border-radius: 10px;
        }
      }
    }

    @include bp(tablet) {
      flex: unset;
    }
  }

  &__top {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    padding-top: 10px;

    @include bp(tablet) {
      margin-bottom: 30px;
    }

    &--date {
      width: 50px;
      height: 17px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      border-radius: 17px;
      margin-bottom: 15px;

      &:after {
        @extend %animateEffect;
      }
    }

    &--date2 {
      width: 60px;
      height: 17px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      border-radius: 17px;
      border-radius: 17px;

      &:after {
        @extend %animateEffect;
      }
    }
  }

  &__in {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__cnt {
    background: #f2f4f7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
    height: 339px;
    border-radius: 0px;

    @include bp(tablet) {
      height: 232px;
      border-radius: 11px;
    }
  }
}

.ghost-plan-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;

  &:first-child {
    margin-top: 25px;
  }

  @include bp(tablet-m) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 310px;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 21px;
    flex-shrink: 0;
    margin-right: 29px;

    @include bp(desktop) {
      width: 260px;
    }

    @include bp(tablet-m) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:after {
      @extend %animateEffect;
    }

    &--icon {
      width: 36px;
      height: 36px;
      margin-right: 20px;
      border-radius: 50%;
      background: $ghostBg;
    }

    &--txt {
      width: 30%;
      height: 17px;
      border-radius: 17px;
      background: $ghostBg;
    }

    &--progress {
      width: 65px;
      height: 65px;
      border: 5px solid $ghostBg;
      border-radius: 50%;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(tablet) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__right {
    width: 100%;
    display: flex;
    align-items: center;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 15px;
    padding-left: 20px;

    @include bp(tablet-m) {
      width: 100%;
    }

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &:after {
      @extend %animateEffect;
    }

    &--icon {
      width: 36px;
      height: 36px;
      margin-right: 20px;
      border-radius: 50%;
      background: $ghostBg;
      flex-shrink: 0;

      @include bp(tablet-m) {
        margin-right: 10px;
      }
    }

    &--txt {
      width: 60%;
      height: 17px;
      border-radius: 17px;
      background: $ghostBg;
      margin-right: 5px;

      @include bp(tablet) {
        width: calc(100% - 36px - 10px - 5px);
      }
    }

    &--button {
      width: 150px;
      margin-left: auto;
      height: 51px;
      border-radius: 8px;
      background: $ghostBg;
      flex-shrink: 0;

      @include bp(tablet) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.ghost-home-weekly {
  display: flex;
  align-items: center;
  width: 100%;

  @include bp(tablet) {
    flex-flow: wrap;
  }

  &__title {
    width: 14%;
    height: 20px;
    border-radius: 17px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    @include bp(tablet-m) {
      order: 1;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__txt {
    width: 25%;
    height: 16px;
    border-radius: 16px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    flex-shrink: 0;

    @include bp(tablet-m) {
      order: 4;
      margin-left: 0;
      width: 70%;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background: $ghostBg;
    margin: 0 25px;

    @include bp(tablet-m) {
      order: 2;
      margin: 0 15px;
      width: calc(100% - 20% - 40px - 15px);
    }
  }

  &__button {
    width: 165px;
    height: 48px;
    background: $ghostBg;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    flex-shrink: 0;

    @include bp(tablet-m) {
      order: 3;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    &:after {
      @extend %animateEffect;
    }
  }
}
.ghost-performance {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  overflow: hidden;
  &.ghost-performance-fw {
    .ghost-performance__item {
      width: 100%;
    }
  }
  &--outer {
    width: 100%;
    background: #f7f9fc;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  @include bp(tablet) {
    flex-direction: column;
  }
  &__item {
    width: 49.5%;
    min-height: 250px;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    @include bp(tablet) {
      width: 100%;
      margin-bottom: 15px;
    }

    &:after {
      @extend %animateEffect;
    }
  }
  &__top {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__top2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $ghostBg;
      margin-top: 10px;
    }
    &--title {
      width: 120px;
      height: 17px;
      border-radius: 17px;
      background: $ghostBg;
      margin: 15px 0 25px 0;
    }
    .ghost-performance-select {
      width: 100%;
      display: flex;
      justify-content: center;
      .ghost-dropdown {
        width: 95%;
        background: $ghostBg;
        &__txt,
        &__icon {
          background: #c7d1db;
        }
      }
    }
  }
  &__title {
    width: 150px;
    height: 17px;
    border-radius: 17px;
    background: $ghostBg;
    margin-left: 5px;
  }
  &__cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    padding-bottom: 15px;
    &--item {
      width: 100%;
      background: $ghostBg;
      height: 84px;
      min-height: 84px;
      margin-top: 15px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 15px;
      &.single {
        margin-bottom: 20px;
        background: transparentize($color: #fff, $amount: 0.05);
        position: relative;
        overflow: hidden;
        &:after {
          @extend %animateEffect;
        }
      }
    }
    &--icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #c7d1db;
      margin-left: 10px;
      @include bp(tablet) {
        margin-left: 0;
        width: 35px;
        height: 35px;
      }
    }
    &--title {
      width: 120px;
      height: 17px;
      border-radius: 17px;
      background: #c7d1db;
      margin-left: 15px;
    }
    &--num {
      width: 60px;
      height: 17px;
      border-radius: 17px;
      background: #c7d1db;
      margin-left: auto;
    }
  }
  &__table {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 15px 0;
    margin-bottom: 0;
    padding-left: 0px;
    border-bottom: 1px solid $ghostBg;
    @include bp(tablet) {
      padding-left: 0;
      margin-top: 30px;
    }
    &--left {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      flex-shrink: 0;
    }
    &--right {
      width: 90%;
      margin-left: 5%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }
    &--txt {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &-in {
        background: $ghostBg;
        height: 14px;
        border-radius: 14px;
        width: 100%;
        &2 {
          background: $ghostBg;
          height: 14px;
          border-radius: 14px;
          width: 40%;
          margin-top: 5px;
          @include bp(tablet) {
            width: 80%;
          }
        }
      }
    }
    &--col {
      width: 12px;
      height: 60%;
      background: $ghostBg;
      margin-right: 15px;
      border-radius: 14px 14px 0 0;
      @include bp(tablet) {
        width: 10px;
      }
      &.col2 {
        height: 100%;
      }
      &.col3 {
        height: 20%;
      }
      &.col4 {
        height: 40%;
      }
    }
  }
  &__cnt2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;
    &.bordered {
      border-bottom: 1px solid $ghostBg;
    }
    &--title {
      background: $ghostBg;
      width: 120px;
      height: 17px;
      border-radius: 17px;
      &.t2 {
        width: 80px;
      }
    }
  }
  &__txt-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    .ghost-performance__cnt2 {
      height: 40px;
      &--title {
        height: 15px;
        width: 150px;
        &.t2 {
          width: 70px;
        }
      }
    }
  }
  &__total {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $ghostBg;
    border-left: none;
    border-right: none;
    &--num {
      width: 120px;
      height: 18px;
      border-radius: 18px;
      background: $ghostBg;
    }
    &--num2 {
      width: 90px;
      height: 23px;
      border-radius: 21px;
      background: $ghostBg;
      margin-top: 10px;
    }
  }
  &__badges {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  &__badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.ghost-leaderboard {
  background: transparentize($color: #fff, $amount: 0.05);
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 250px;
  padding: 0 40px;
  border-top: 1px solid $ghostBg;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;

  &:after {
    @extend %animateEffect;
  }
  &__top {
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $ghostBg;
    padding: 0 15px;
    @include bp(tablet) {
      height: auto;
      padding: 15px 0;
      flex-flow: wrap;
    }
    &:first-child {
      @include bp(tablet) {
        display: none;
      }
    }
    &:nth-child(2n) {
      .ghost-leaderboard__top {
        &--name {
          width: 120px;
          @include bp(tablet) {
            width: 90px;
          }
        }
        &--badge {
          &:nth-child(2n) {
            display: none;
          }
        }
      }
    }
    &:nth-child(3n) {
      .ghost-leaderboard__top {
        &--name {
          width: 100px;
          @include bp(tablet) {
            width: 80px;
          }
        }
        &--badge {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
    &:nth-child(4n) {
      .ghost-leaderboard__top {
        &--name {
          width: 120px;
          @include bp(tablet) {
            width: 90px;
          }
        }
        &--badge {
          &:nth-child(3n) {
            display: none;
          }
        }
      }
    }
    &:last-child {
      border-bottom: none;
      .ghost-leaderboard__top {
        &--badge {
          &:nth-child(2n) {
            display: none;
          }
        }
      }
    }
    &--item {
      padding: 0;
      display: flex;
      justify-content: flex-start;
      &:first-child {
        @include bp(tablet) {
          width: 10%;
          order: 1;
        }
      }
      &:nth-child(2) {
        padding: 0 15px;
        @include bp(tablet) {
          width: 70%;
          order: 2;
        }
      }
      &:nth-child(3) {
        @include bp(tablet) {
          width: 100%;
          order: 4;
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid $ghostBg;
        }
      }
      &:last-child {
        justify-content: flex-end;
        @include bp(tablet) {
          width: 20%;
          order: 3;
        }
      }
    }
    &--txt {
      width: 80px;
      background: $ghostBg;
      border-radius: 14px;
      height: 12px;
    }
    &--num {
      width: 40px;
      height: 18px;
      border-radius: 18px;
      background: $ghostBg;
    }
    &--img {
      width: 42px;
      height: 42px;
      background: $ghostBg;
      border-radius: 50%;
      margin-right: 10px;
      @include bp(tablet) {
        flex-shrink: 0;
      }
    }
    &--name {
      width: 160px;
      height: 16px;
      border-radius: 16px;
      background: $ghostBg;
      @include bp(tablet) {
        width: 120px;
      }
    }
    &--badges {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include bp(tablet) {
        justify-content: flex-start;
        width: 100%;
      }
    }
    .col-md-5 {
      .ghost-leaderboard__top--badges {
        @include bp(tablet) {
          justify-content: center;
        }
      }
    }
    &--badge {
      width: 35px;
      height: 35px;
      background: $ghostBg;
      border-radius: 50%;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &--score {
      width: 50px;
      height: 14px;
      border-radius: 14px;
      background: $ghostBg;
      @include bp(tablet) {
        margin-left: 20px;
        width: 100%;
      }
    }
  }
}

.ghost-profile-modal {
  position: relative;
  padding-top: 15px;
  &--profile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &--img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      top: 0px;
      &:after {
        @extend %animateEffect;
      }
    }
    &--txt {
      width: 140px;
      height: 16px;
      border-radius: 16px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      margin-top: 15px;
      &:after {
        @extend %animateEffect;
      }
    }
    &--txt2 {
      width: 90px;
      height: 12px;
      margin-top: 15px;
      border-radius: 12px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      margin-bottom: 15px;
      &:after {
        @extend %animateEffect;
      }
    }
  }
  .ghost-leaderboard__top--badges {
    justify-content: center;
    border: 1px solid $ghostBg;
    border-left: none;
    border-right: none;
    height: 70px;
  }
  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  &--line {
    background: $ghostBg;
    width: 80%;
    height: 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    &:after {
      @extend %animateEffect;
    }
  }
  &--content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &--item {
    width: 100%;
    display: flex;
    align-items: center;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
    border-bottom: 1px solid $ghostBg;
    &:last-child {
      border-bottom: none;
    }

    &:after {
      @extend %animateEffect;
    }
  }
  &--icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 5px;
  }
  &--txt {
    width: 100px;
    height: 16px;
    border-radius: 16px;
    background: $ghostBg;
  }
  &--point {
    width: 60px;
    height: 14px;
    border-radius: 16px;
    background: $ghostBg;
    margin-left: auto;
  }
  &--cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparentize($color: #fff, $amount: 0.05);
    &--wrp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      margin: 0 20px;
      border-bottom: 1px solid $ghostBg;
    }
  }
}

@import '../ghost-animate';
