@import "../variables";

.ghost-lesson-cover {

  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2e6ea;
  border-radius: 15px;
  margin-top: 0;

  @include bp(tablet) {
    height: 300px;
  }

  &__icon {
    width: 150px;
    height: 150px;
    background: $ghostBg;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 60px;
      height: 60px;
    }

    &:after {
      @extend %animateEffect;
    }
  }
}

.lesson-tab-ghost {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 12px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;
  margin-top: 30px;

  @include bp(tablet) {
    padding-left: 0;
  }

  &__wrp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;

    @include bp(tablet) {
      margin-left: 0;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;

    @include bp(tablet) {
      margin-right: 15px;
      width: 40%;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    background: #e2e6ea;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 15px;

    @include bp(tablet) {
      margin-right: 10px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__txt {
    width: 60%;
    height: 17px;
    background: #e2e6ea;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }
}

.lesson-bottom-ghost {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: transparentize($color: #fff, $amount: 0.05);
  border-radius: 10px;
  padding: 30px 20px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;

  &:after {
    @extend %animateEffect;
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20%;

    &--txt {
      background: $ghostBg;
      width: 60%;
      height: 14px;
      border-radius: 20px;
    }

    &--title {
      background: $ghostBg;
      width: 80%;
      height: 14px;
      border-radius: 20px;
      margin-top: 15px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;

    &--time {
      background: $ghostBg;
      width: 15%;
      height: 14px;
      border-radius: 20px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        width: 1px;
        height: 200%;
        background: rgba(239, 239, 239, 1);
      }
    }

    &--date {
      background: $ghostBg;
      width: 35%;
      height: 14px;
      border-radius: 20px;
      margin-right: 40px;
    }
  }

  &__cnt {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &__txt {
    background: $ghostBg;
    width: 60%;
    height: 14px;
    border-radius: 20px;

    &.txt--2 {
      width: 50%;
      margin-top: 15px;
    }

    &.txt--3 {
      margin-top: 15px;
      width: 10%;
    }
  }
}

.lesson-tab__main-ghost {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.lesson-watch-ghost {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eef1f4;
  border-radius: 15px;
  padding: 30px;

  &__left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    &--txt {
      width: 60%;
      height: 20px;
      background: $ghostBg;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      margin-bottom: 25px;

      &.txt--2 {
        width: 50%;
      }

      &.txt--3 {
        width: 50%;
      }

      &.txt--4 {
        width: 20%;
      }

      &.txt--5 {
        width: 60%;
      }

      &.txt--6 {
        width: 65%;
      }

      &.txt--7 {
        width: 10%;
      }

      &:after {
        @extend %animateEffect;
      }

      &--txt {
        width: 70%;
      }
    }
  }

  // &__right {
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   flex-direction: column;
  //   width: 30%;
  //   height: 100%;
  //   position: relative;

  //   &:before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: -25px;
  //     width: 2px;
  //     height: 100%;
  //     background: $ghostBg;
  //   }
  // }
}

.lessons-watch-info-ghost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin-bottom: 5vh;

  &__icon {
    width: 35px;
    height: 35px;
    background: #e2e6ea;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 15px;

    &:after {
      @extend %animateEffect;
    }
  }

  &__txt {
    width: 60%;
    height: 17px;
    background: #e2e6ea;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }
}

@import "../ghost-animate";