@import '../variables';

.ghost-dropdown {
  background: transparentize($color: #fff, $amount: 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 330px;
  height: 48px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;

  @include bp(tablet) {
    width: 100%;
  }

  &:after {
    @extend %animateEffect;
  }

  &__txt {
    background: $ghostBg;
    width: 70%;
    height: 14px;
    border-radius: 20px;
  }

  &__icon {
    background: $ghostBg;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

.ghost-search {
  background: transparentize($color: #fff, $amount: 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  width: 330px;
  height: 48px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;

  @include bp(tablet) {
    width: 100%;
  }

  &:after {
    @extend %animateEffect;
  }

  &__icon {
    background: $ghostBg;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

.ghost-filter {
  background: transparentize($color: #fff, $amount: 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 387px;
  height: 48px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  &.w300 {
    width: 330px;
  }

  @include bp(tablet) {
    width: 100%;
  }

  &:after {
    @extend %animateEffect;
  }

  &__item {
    background: $ghostBg;
    width: 60%;
    margin-right: 5%;
    height: 70%;
    border-radius: 7px;

    &.item--2 {
      width: 90%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    background: $ghostBg;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

@import '../ghost-animate';
