@import "../variables";

.docs-ghost-pdf {

  width: 35vw;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  @media (max-width: 1500px) {
    width: 50vw;
  }

  @media(max-width: 1300px) {
    width: 100%;
  }

  @include bp(tablet-m) {
    height: 600px;
  }

  &__inner {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }



  &__title {
    width: 80%;
    height: 35px;
    background: $ghostBg;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }

  &__txt {
    width: 100%;
    height: 25px;
    background: $ghostBg;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;

    &:after {
      @extend %animateEffect;
    }
  }

  .pdf-txt {
    &--2 {
      width: 20%;
    }

    &--3 {
      width: 70%;
    }
  }

}

@import "../ghost-animate";