@import '../variables';

.ghost {
  &-subpage {
    &-tab {
      &__item {
        background: rgba(239, 239, 239, 0.57);
        width: 150px;
        height: 18px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        margin-right: 20px;

        &:after {
          @extend %animateEffect;
          background-image: linear-gradient(to left,
              transparent,
              transparentize($color: #fff, $amount: 0.5),
              transparent) !important;
        }

        &:first-child {
          width: 100px;
        }

        &:nth-child(2) {
          width: 150px;
        }

        &:first-child(3) {
          width: 150px;
        }
      }
    }
  }
}

.ghost-subpage {
  &-header {
    background: #4442a4;
    display: flex;
    align-items: flex-start;
    padding-top: 145px;

    @include bp(desktop-s) {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 7.5rem;
      height: 18rem;
    }

    @include bp(tablet) {
      padding-top: 8.125rem;
      padding-left: 0;
      padding-right: 0;
      height: 22.125rem;
    }

    &__content {
      width: 100%;
      max-width: 1320px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 40px;
      border-bottom: 2px solid rgba(239, 239, 239, 0.57);

      @include bp(tablet) {
        flex-flow: wrap;
        padding-bottom: 3rem;
      }
    }

    &__tab {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85px;

      @include bp(tablet) {
        height: 60px;
      }

      &-cnt {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
      }

      &-item {
        height: 16px;
        border-radius: 16px;
        background: rgba(239, 239, 239, 0.57);
        position: relative;
        overflow: hidden;
        margin-right: 30px;

        &:first-child {
          width: 80px;
        }

        &:nth-child(2) {
          width: 140px;
        }

        &:nth-child(3) {
          width: 140px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:after {
          @extend %animateEffect;
          background-image: linear-gradient(to left,
              transparent,
              transparentize($color: #fff, $amount: 0.5),
              transparent) !important;
        }
      }

      &-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        background: rgba(239, 239, 239, 0.57);
        overflow: hidden;

        @include bp(tablet) {
          width: 35px;
          height: 35px;
        }

        &:after {
          @extend %animateEffect;
          background-image: linear-gradient(to left,
              transparent,
              transparentize($color: #fff, $amount: 0.5),
              transparent) !important;
        }
      }
    }

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: wrap;

      @include bp(tablet) {
        width: 100%;
        margin-top: 25px;
      }
    }

    &__cnt {
      width: calc(80% - 20px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      margin-top: 10px;

      &__title {
        background: rgba(239, 239, 239, 0.57);
        width: 70px;
        height: 12px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        &:nth-child(2) {
          width: 70px;
        }

        &:nth-child(3) {
          width: 100px;
        }

        &:after {
          @extend %animateEffect;
          background-image: linear-gradient(to left,
              transparent,
              transparentize($color: #fff, $amount: 0.5),
              transparent) !important;
        }
      }
    }

    &__icon {
      background: rgba(239, 239, 239, 0.57);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
        background-image: linear-gradient(to left,
            transparent,
            transparentize($color: #fff, $amount: 0.5),
            transparent) !important;
      }
    }

    &__title {
      background: rgba(239, 239, 239, 0.57);
      width: 150px;
      height: 18px;
      border-radius: 20px;
      margin-left: 25px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
        background-image: linear-gradient(to left,
            transparent,
            transparentize($color: #fff, $amount: 0.5),
            transparent) !important;
      }
    }

    &__progress {
      background: rgba(239, 239, 239, 0.57);
      width: calc(80% - 20px);
      height: 16px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      &:after {
        @extend %animateEffect;
        background-image: linear-gradient(to left,
            transparent,
            transparentize($color: #fff, $amount: 0.5),
            transparent) !important;
      }
    }

    &__val {
      background: rgba(239, 239, 239, 0.57);
      width: 20%;
      height: 16px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;

      &:after {
        @extend %animateEffect;
        background-image: linear-gradient(to left,
            transparent,
            transparentize($color: #fff, $amount: 0.5),
            transparent) !important;
      }
    }
  }
}

@import '../ghost-animate';