@import "../variables";

.ghost-account-details {
  background: transparentize($color: #fff, $amount: 0.05);
  padding: 20px 25px;
  border-radius: 6px;
  transition: 0.15s;
  position: relative;
  overflow: hidden;
  max-width: 860px;
  width: 100%;
  min-height: 250px;

  &:after {
    @extend %animateEffect;
  }

  &__profile {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $ghostBg;
    padding-bottom: 15px;
    margin-bottom: 15px;

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 25px;
    background: $ghostBg;
    flex-shrink: 0;

    @include bp(tablet) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__cnt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    @include bp(tablet) {
      align-items: center;
    }
  }

  &__txt {
    width: 40%;
    height: 17px;
    border-radius: 17px;
    background: $ghostBg;

    &.txt--2 {
      margin-top: 15px;
      width: 70%;
    }
  }

  &__input-side {
    width: 100%;
    display: flex;
    flex-flow: wrap;
  }

  &__input-cnt {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

    @include bp(tablet) {
      flex-direction: column;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: 1px solid $ghostBg;
    }
  }

  &__input {
    width: 100%;
    margin-right: 25px;
    height: 54px;
    background: $ghostBg;
    border-radius: 8px;

    @include bp(tablet) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@import "../ghost-animate";