@import '../variables';

.notifications-item-ghost {
  background: #fff;
  width: 100%;
  height: 78px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;

  &:after {
    @extend %animateEffect;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 15px;
  }

  &__txt {
    width: 20%;
    height: 17px;
    border-radius: 17px;
    background: $ghostBg;
  }

  &__date {
    margin-left: auto;
    width: 8%;
    height: 15px;
    border-radius: 17px;
    background: $ghostBg;
  }
}

@import "../ghost-animate";