@import '../variables';

.ghost-product {
  width: 95%;
  margin: 20px auto;

  &.ghost-product-detail {
    width: 100%;
    margin: 0;
    .ghost-product__top {
      display: none;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  &__icon {
    width: 45px;
    height: 45px;
    background: $ghostBg;
    border-radius: 50%;
    position: relative;
    margin-right: 25px;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__title {
    background: $ghostBg;
    width: 200px;
    height: 17px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__item {
    display: flex;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 11px;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    @include bp(tablet) {
      flex-direction: column;
    }

    &:after {
      @extend %animateEffect;
    }

    &--left {
      width: 400px;
      flex-shrink: 0;
      border-right: 1px solid $ghostBg;
      height: 100%;
      padding-top: 50px;
      @include bp(tablet) {
        width: 100%;
        padding-top: 20px;
      }
    }

    &--cover {
      width: calc(100% - 100px);
      background: $ghostBg;
      margin: 0 auto;
      border-radius: 15px;
      height: 452px;
      @include bp(tablet) {
        width: calc(100% - 40px);
        margin: 0 20px;
        height: 277px;
      }
    }

    &--apps {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $ghostBg;
      padding-top: 25px;
      margin-top: 25px;
      padding-bottom: 25px;
      @include bp(tablet) {
        padding-bottom: 0;
        justify-content: flex-start;
        margin-top: 20px;
        padding-left: 15px;
      }
    }

    &--app {
      width: 45px;
      height: 45px;
      background: $ghostBg;
      border-radius: 5px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--right {
      width: 100%;
      height: 623px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      @include bp(tablet) {
        height: auto;
        padding: 20px 15px;
      }
    }

    &--tags {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &--tag {
      width: 30%;
      height: 35px;
      background: $ghostBg;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      margin-right: 10px;

      &.tag--2 {
        width: 25%;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &--title {
      width: 60%;
      height: 25px;
      background: $ghostBg;
      border-radius: 17px;
      margin: 30px 0;
      @include bp(tablet) {
        margin: 10px 0;
      }
    }

    &--infos {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      border: 1px solid $ghostBg;
      border-left: none;
      border-right: none;
    }

    &--info {
      width: 100%;
      margin-right: 50px;
      background: $ghostBg;
      height: 22px;
      border-radius: 18px;
    }

    &--txts {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 30px 0;
    }

    &--txt {
      width: 80%;
      height: 17px;
      border-radius: 17px;
      background: $ghostBg;

      &.txt--2 {
        width: 50%;
        height: 16px;
        margin-top: 10px;
      }
    }

    &--boxs {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    &--box {
      width: 100%;
      height: 75px;
      background: $ghostBg;
      margin-right: 15px;
      border-radius: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--footer {
      margin-top: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--user {
      width: 150px;
      flex-shrink: 0;
      height: 55px;
      background: $ghostBg;
      border-radius: 15px;
      margin-right: 30px;
    }

    &--button {
      width: 100%;
      height: 55px;
      border-radius: 11px;
      background: $ghostBg;
    }
  }
}
.ghost-product-single {
  width: 23.5%;
  margin-right: 1.5em;
  height: 435px;
  padding: 13px;
  border-radius: 10px;
  background: transparentize($color: #fff, $amount: 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;
  @include bp(tablet) {
    width: 48.5%;
    margin-right: 3%;
    height: 290px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
  &:nth-child(2n) {
    @include bp(tablet) {
      margin-right: 0;
    }
  }

  &:after {
    @extend %animateEffect;
  }
  &--outer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-top: 40px;
    @include bp(tablet) {
      margin-top: 20px;
    }
  }
  &__img {
    width: 100%;
    height: 304px;
    background: $ghostBg;
    border-radius: 10px;
    @include bp(tablet) {
      height: 170px;
    }
  }
  &__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &--inner {
      width: 90%;
      height: 16px;
      border-radius: 17px;
      background: $ghostBg;
      &.in2 {
        width: 40%;
        margin-top: 5px;
      }
    }
  }
  &__num {
    width: 30%;
    height: 19px;
    background: $ghostBg;
    border-radius: 10px;
    margin-top: 20px;
  }
}

.ghost-product-item {
  width: 100%;
  min-height: 86px;
  padding: 13px;
  border-radius: 10px;
  background: transparentize($color: #fff, $amount: 0.05);
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  @include bp(tablet) {
  }

  &:first-child {
    margin-top: 50px;
  }

  &:after {
    @extend %animateEffect;
  }
  &__icon {
    width: 45px;
    height: 45px;
    background: $ghostBg;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 15px;
  }
  &__cnt {
    display: flex;
    align-items: center;
    &--txt {
      width: 200px;
      height: 17px;
      background: $ghostBg;
      border-radius: 17px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
        width: 120px;
      }
      &-cnt {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    .ghost-product-item__icon {
      margin-right: 0;
      margin-left: 15px;
    }
  }
}

@import '../ghost-animate';
