@import '../variables';

.lesson-ghost {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 10px;
    padding: 1rem;
    transition: 0.15s;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      flex-flow: wrap;
    }

    &:nth-child(2) {
      margin-top: 30px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__icon {
    border-radius: 50%;
    background: $ghostBg;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
  }

  &__content {
    width: 300px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap;
    flex-shrink: 0;

    @include bp(tablet-m) {
      flex-shrink: unset;
    }

    @include bp(tablet) {
      width: calc(100% - 65px);
    }
  }

  &__title {
    background: $ghostBg;
    width: 100%;
    height: 16px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  &__txt {
    background: $ghostBg;
    width: 15%;
    height: 14px;
    border-radius: 20px;
    margin-right: 20px;
  }

  &__right {
    width: 100%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &__date {
    background: $ghostBg;
    width: 150px;
    height: 15px;
    border-radius: 20px;

    @include bp(desktop) {
      display: none;
    }
  }

  &__hr {
    background: $ghostBg;
    width: 2px;
    height: 100%;
    margin: 0 30px;

    @include bp(desktop) {
      margin: 0 10px;
    }

    @include bp(tablet) {
      display: none;
    }
  }

  &__hour {
    background: $ghostBg;
    width: 50px;
    height: 15px;
    border-radius: 20px;

    @include bp(tablet) {
      display: none;
    }
  }

  &__progress {
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      @include bp(tablet-m) {
        width: 200px;
      }

      @include bp(tablet) {
        width: 100%;
        margin-top: 20px;
      }
    }

    background: $ghostBg;
    width: 100%;
    height: 15px;
    border-radius: 20px;

    &-txt {
      width: 40px;
      height: 15px;
      border-radius: 20px;
      background: $ghostBg;
      flex-shrink: 0;
      margin-left: 20px;

      @include bp(tablet-m) {
        flex-shrink: unset;
      }
    }
  }
}

@import '../ghost-animate';