@import '../variables';

.ghost-lesson-header-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 0;
  padding-top: 145px;

  @include bp(tablet) {
    padding-top: 100px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp(tablet) {
      flex-flow: row-reverse;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(#dae1ec, 1);

    &--left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 40%;

      &--icon {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #dae1ec;
        position: relative;
        overflow: hidden;
        margin-right: 15px;

        &:after {
          @extend %animateEffect;
        }
      }

      &--title {
        width: 50%;
        height: 20px;
        border-radius: 20px;
        background: #dae1ec;
        position: relative;
        overflow: hidden;

        &:after {
          @extend %animateEffect;
        }
      }
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      &--watch {
        width: 60px;
        height: 40px;
        border-radius: 10px;
        background: #dae1ec;
        position: relative;
        overflow: hidden;
        margin-right: 10px;

        &:after {
          @extend %animateEffect;
        }
      }

      &--txt {
        width: 20%;
        height: 20px;
        border-radius: 20px;
        background: #dae1ec;
        position: relative;
        overflow: hidden;

        @include bp(tablet) {
          display: none;
        }

        &:after {
          @extend %animateEffect;
        }
      }

      &--button {
        width: 23%;
        height: 45px;
        border-radius: 100px;
        background: #dae1ec;
        position: relative;
        overflow: hidden;
        margin-left: 20px;

        @include bp(tablet) {
          width: 60%;
        }

        &:after {
          @extend %animateEffect;
        }
      }
    }

  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #dae1ec;
    position: relative;
    overflow: hidden;
    margin-right: 15px;

    @include bp(tablet) {
      display: none;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__content {
    @include bp(tablet) {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      display: none;
    }
  }

  &__title {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    background: #dae1ec;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      width: 60px;
      height: 40px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__keys {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  &__key {
    width: 50px;
    height: 16px;
    border-radius: 10px;
    background: #dae1ec;
    position: relative;
    overflow: hidden;
    margin-right: 10px;

    @include bp(tablet) {
      width: 100px;
    }

    &:last-child {
      @include bp(tablet) {
        display: none;
      }
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__right {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    width: 120px;
    height: 16px;
    border-radius: 10px;
    background: #dae1ec;
    position: relative;
    overflow: hidden;
    border-right: 2px solid #dae1ec;

    @include bp(tablet) {
      margin-right: 10px;
      width: 33.3%;
    }

    &:last-child {
      border-right: none;
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  .date {
    &--2 {
      width: 70px;
    }

    &--3 {
      width: 90px;
    }
  }
}

@import '../ghost-animate';