@import '../variables';

.reading-ghost {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 49%;
    margin-right: 2%;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 10px;
    padding: 1rem;
    transition: 0.15s;
    position: relative;
    overflow: hidden;
    margin-top: 1.5rem;

    @include bp(tablet) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 2%;
      margin-right: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__left {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    background: $ghostBg;
    border-radius: 20px;
    margin-right: 1rem;
  }

  &__right {
    width: 100%;
    height: 100%;
  }

  &__content {
    border-bottom: 2px solid $ghostBg;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  &__title {
    background: $ghostBg;
    width: 80%;
    height: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &__txt {
    background: $ghostBg;
    width: 20%;
    height: 13px;
    border-radius: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 12px;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__time-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $ghostBg;
    margin-right: 10px;
  }

  &__time-txt {
    width: 38px;
    height: 13px;
    background: $ghostBg;
    border-radius: 20px;
  }
}

.ghost-reading-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: calc(100% - 60px);
  margin-right: 30px;
  margin-left: 30px;
  background: transparentize($color: #fff, $amount: 0.05);
  border-radius: 20px;
  padding: 1rem;
  transition: 0.15s;
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
  padding: 25px;

  @include bp(tablet-m) {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  &__top {
    width: 100%;
    height: 420px;
    flex-shrink: 0;
    background: #e2e6ea;
    border-radius: 20px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__title {
    width: 25%;
    height: 20px;
    background: $ghostBg;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      @extend %animateEffect;
    }
  }

  &__tag-cnt {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }

  &__tag {
    width: 10%;
    height: 20px;
    background: $ghostBg;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &.tag--2 {
      width: 15%;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__cnt {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
  }

  &__txt {
    width: 70%;
    height: 20px;
    background: $ghostBg;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    &.txt {
      &--2 {
        width: 60%;
      }

      &--3 {
        width: 20%;
      }

      &--4 {
        width: 40%;
      }
    }

    &:after {
      @extend %animateEffect;
    }
  }
}

.ghost-reading-words {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 60px);
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;

  &.digibook-wordlist {
    padding-top: 20px;

    .ghost-reading-words {
      &__cnt {
        max-width: 950px;

        @include bp(tablet) {
          width: 100%;
        }
      }

      &__tab {
        &--item {
          width: 8%;
        }
      }
    }
  }

  @include bp(tablet-m) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &__tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-wordslist {
      height: 4rem;
    }

    @include bp(tablet) {
      justify-content: flex-start;
      margin-left: 50%;
    }

    &--item {
      width: 15%;
      height: 20px;
      background: #e2e6ea;
      margin-right: 15px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      @include bp(tablet) {
        width: 35% !important;
      }

      &.item--2 {
        width: 10%;
      }

      &.item--3 {
        width: 20%;
      }

      &:after {
        @extend %animateEffect;
      }
    }
  }

  &__cnt {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: transparentize($color: #fff, $amount: 0.05);
    border-radius: 20px;
    padding: 1rem;
    transition: 0.15s;
    position: relative;
    overflow: hidden;
    margin-top: 1.5rem;
    padding: 25px;

    &.is-wordslist {
      margin-top: 0;
    }

    @include bp(tablet) {
      padding: 25px 15px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  &__txt {
    width: 50%;
    height: 16px;
    background: #e2e6ea;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      margin-bottom: 15px;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__button {
    width: 250px;
    height: 50px;
    background: #e2e6ea;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
    width: 100%;
    margin-top: 30px;
  }

  &__item {
    width: 49%;
    height: 70px;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #f2f5f9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
    overflow: hidden;

    @include bp(tablet) {
      flex-flow: wrap;
      width: 100%;
      margin-right: 0;
    }

    &:after {
      @extend %animateEffect;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--left {
      width: 50px;
      height: 100%;
      background: #e2e6ea;
      border-radius: 10px;
      margin-right: 10px;
    }

    &--right {
      width: calc(100% - 50px - 10px);
      height: 100%;

      &__txt {
        width: 80%;
        height: 14px;
        background: #e2e6ea;
        margin-right: 15px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &.txt--2 {
          width: 30%;
        }

        &:after {
          @extend %animateEffect;
        }
      }
    }
  }
}

@import '../ghost-animate';
