@import "../variables";

.wordy-ghost {
    @include bp(tablet) {
        padding: 15px !important;
    }

    &__outer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% / 8);
        padding: 7px;
        user-select: none;

        @include bp(mobile) {
            flex-basis: calc(100% / 3);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        background: rgba(236, 240, 245, 0.5);
        border-radius: 10px;
        padding: 1rem;
        transition: 0.15s;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
            background-image: linear-gradient(to left, transparent, transparentize($color: #fff, $amount: 0.4), transparent);
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            background: #fff;
            height: 5px;
        }
    }

    &__title {
        background: $ghostBg;
        width: 100%;
        height: 16px;
        border-radius: 20px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    &__circle {
        width: 65px;
        height: 65px;
        background: #F5F7FA;
        border-radius: 50%;
        border: 5px solid #fff;
        margin: 10px 0;
        flex-shrink: 0;
        position: relative;
    }

    &__count {
        background: $ghostBg;
        width: 80%;
        height: 14px;
        border-radius: 20px;
        margin-top: 15px;
        overflow: hidden;
    }
}

.wordy-ghost-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    &__left {
        background: rgba(236, 240, 245, 0.5);
        border-radius: 10px;
        width: calc(90% - 20px);
        padding: 1rem;
        transition: 0.15s;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
            background-image: linear-gradient(to left, transparent, transparentize($color: #fff, $amount: 0.4), transparent);
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background: rgba(236, 240, 245, 0.5);
        border-radius: 0 100px 100px 0;
    }

    &__right {
        background: rgba(236, 240, 245, 0.5);
        border-radius: 10px;
        width: 10%;
        padding: 1rem;
        transition: 0.15s;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
            background-image: linear-gradient(to left, transparent, transparentize($color: #fff, $amount: 0.4), transparent);
        }
    }
}

.ghost-wordy-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;

    &__title {
        width: 50%;
        height: 20px;
        background: $ghostBg;
        border-radius: 17px;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;

        &:after {
            @extend %animateEffect;
        }
    }

    &__desc {
        width: 40%;
        height: 18px;
        background: $ghostBg;
        border-radius: 17px;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }

    &__time {
        background: transparentize($color: #fff, $amount: 0.05);
        width: 60px;
        height: 30px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        margin: 30px 0;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: 40%;
            border-radius: 15px;
            background: $ghostBg;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__txt {
        width: 100%;
        height: 22px;
        background: $ghostBg;
        border-radius: 17px;
        position: relative;
        overflow: hidden;

        &:after {
            @extend %animateEffect;
        }
    }
}

.ghost-wordy-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid $ghostBg;
        position: relative;
        overflow: hidden;

        @include bp(tablet) {
            width: 70px;
            height: 70px;
            margin-top: -35px;
        }

        &:after {
            @extend %animateEffect;
        }
    }

    &__num {
        width: 50%;
        height: 20px;
        background: $ghostBg;
        border-radius: 15px;
    }

    &__txt {
        width: 300px;
        height: 18px;
        border-radius: 17px;
        background: $ghostBg;
        position: relative;
        overflow: hidden;
        margin-top: 40px;

        &:after {
            @extend %animateEffect;
        }
    }
}

.ghost-wordy-card {
    flex: 0 0 31%;
    margin-right: 2.3%;
    margin-bottom: 2.3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: transparentize($color: #fff, $amount: 0.05);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding: 15px;

    @include bp(tablet) {
        margin-right: 0;
        flex: 0 0 100%;
    }

    &__outer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: wrap;
        width: 100%;
    }

    &:after {
        @extend %animateEffect;
    }

    &__title {
        width: 40%;
        height: 20px;
        border-radius: 17px;
        background: $ghostBg;
    }

    &__txt {
        width: 80%;
        height: 16px;
        border-radius: 17px;
        background: $ghostBg;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    &__button {
        width: 70%;
        height: 30px;
        background: $ghostBg;
        border-radius: 25px;
    }
}

@import "../ghost-animate";