<template>
  <section class="component component--deneme-done-modal">
    <modal
      :active="isDone ? true : false"
      modal-class="deneme-modal"
      @onModalClose="handleCloseModal"
    >
      <div slot="content" v-if="isDone">
        <svg-icon class="modal-icon" type="icon-flag-doc-o"></svg-icon>
        <strong class="deneme-modal--title">Testi Tamamlıyoruz</strong>
        <span class="deneme-modal--description"></span>
        <p class="deneme-modal--paragraph">
          Henüz cevaplamadığın
          <b>
            {{statistics.remaining}}
            soru
          </b> var.
        </p>
        <div class="row" style="width: 100%; display: flex; flex-direction: row;">
          <div class="col-md-4">
            <v-button
              @click.native="handleCloseModal"
              class="button--gray p-fullwidth button--lightgray"
              title="TESTE DEVAM ET"
            />
          </div>
          <div class="col-md-4">
            <v-button
              @click.native="handleClickLater"
              class="button--gray p-fullwidth button--lightgray"
              title="SONRA DEVAM ET"
              @mouseover.native="continueLater = true"
              @mouseleave.native="continueLater = false"
            />
          </div>
          <div class="col-md-4">
            <v-button
              :disabled="isLoading"
              @click.native="handleClickFinish"
              class="button--gray p-fullwidth button--lightgray"
              title="TESTİ TAMAMLA"
              @mouseover.native="finishTest = true"
              @mouseleave.native="finishTest = false"
            />
          </div>
          <div class="col-md-12 show-warning__outer">
            <div class="show-warning" :class="{ active: continueLater }">
              <span class="show-warning__icon">
                <svg-icon type="icon-info-circle" />
              </span>
              <span class="show-warning__txt">Teste kaldığınız yerden devam edebilirsiniz.</span>
            </div>
            <div class="show-warning" :class="{ active: finishTest }">
              <span class="show-warning__icon">
                <svg-icon type="icon-info-circle" />
              </span>
              <span
                class="show-warning__txt"
              >Bu testi tamamlarsanız bir daha çözemezsiniz. Sadece test raporunu ve açıklamalı cevap anahtarını görüntüleyebilirsiniz!</span>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </section>
</template>
<script>
import Modal from '@/components/Modal'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ModelDone',
  data() {
    return {
      isLoading: false,
      continueLater: false,
      finishTest: false,
    }
  },
  components: {
    Modal
  },
  computed: {
    ...mapGetters({
      isDone: 'testDetail/isDone',
      details: 'testDetail/details',
      statistics: 'testDetail/statistics'
    })
  },
  methods: {
    ...mapActions({
      setDone: 'testDetail/setDone',
      setFinish: 'testDetail/setFinish'
    }),
    handleCloseModal() {
      this.setDone(false)
    },
    handleClickLater() {
      this.$router.push('/test')
    },
    async handleClickFinish() {
      this.isLoading = true
      if (await this.setFinish()) this.$router.push(`/test/rapor/${this.details.id}`)
      this.isLoading = false
    }
  }
}
</script>
