<template>
  <section class="component component--deneme-pause-modal tests-pause-modal">
    <modal :active="isPaused" modal-class="deneme-modal" @onModalClose="handleModalClose">
      <div slot="content" v-if="isPaused">
        <svg-icon class="modal-icon" type="icon-doc-pause-o"></svg-icon>
        <strong class="deneme-modal--title">Teste Kısa Bir Ara</strong>
        <span class="deneme-modal--description">
          Anlaşılan kısa bir araya ihtiyacın vardı. Sen geri dönene kadar
          <br />her şey olduğu gibi seni bekleyecek.
        </span>
        <p class="deneme-modal--paragraph">Testlerini mümkün olduğu kadar ara vermeden çöz!</p>
        <div class="row" style="width:100%">
          <div class="col-md-8">
            <v-button
              class="c-purple p-fullwidth"
              icon="icon-arrow-long-right"
              icon-position="right"
              title="TESTE DEVAM ET"
              @click.native="handleModalClose"
            />
          </div>
        </div>
      </div>
    </modal>
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Modal from '@/components/Modal'

export default {
  name: 'ModelPause',
  props: ['pauseModal'],
  components: {
    Modal
  },
  computed: {
    ...mapGetters({
      isPaused: 'testDetail/isPaused'
    })
  },
  methods: {
    ...mapActions({
      setPaused: 'testDetail/setPaused'
    }),
    handleModalClose() {
      this.setPaused(false)
    }
  }
}
</script>
