<template>
  <section class="component component--deneme-navigation">
    <div class="test-bottom">
      <div class="test-nav">
        <button class="button test-nav__prev" @click="handleClickPrev" :disabled="isFirst">
          <span class="button__wrp">
            <span class="button__icon">
              <svg-icon type="icon-arrow-long-left" />
            </span>
            <span class="button__txt">
              ÖNCEKİ
              <span class="only-desktop-inline">SORU</span>
            </span>
          </span>
        </button>
        <v-button
          class="button--circle circle-xs"
          icon="icon-pause"
          @click.native="setPaused(true)"
          v-if="!isPaused"
          icon-position="left"
        />
        <v-button
          v-if="isPaused"
          @click.native="setPaused(false)"
          class="button--circle circle-xs"
          icon="icon-play"
          icon-position="left"
        />
        <button :disabled="isLoading" class="button test-nav__next" @click="handleClickNext">
          <span class="button__wrp">
            <span class="button__txt" v-if="isLast">SINAVI TAMAMLA</span>
            <span class="button__txt" v-if="!isLast">
              SONRAKİ
              <span class="only-desktop-inline">SORU</span>
            </span>

            <span class="button__icon">
              <svg-icon type="icon-arrow-long-right" />
            </span>
          </span>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Navigaition',
  data() {
    return {
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      questionList: 'testDetail/questionList',
      currentQuestion: 'testDetail/currentQuestion',
      isPaused: 'testDetail/isPaused',
      details: 'testDetail/details'
    }),
    isLast() {
      return this.questionList.findIndex((q) => q.id === this.currentQuestion.id) >= (this.questionList.length - 1)
    },
    isFirst() {
      return this.questionList.findIndex((q) => q.id === this.currentQuestion.id) === 0
    }
  },
  methods: {
    ...mapActions({
      navigate: 'testDetail/navigate',
      setPaused: 'testDetail/setPaused',
      setFinish: 'testDetail/setFinish',
      setDone: 'testDetail/setDone',
      syncQuestion: 'testDetail/syncQuestion',
    }),
    handleClickPrev() {
      this.navigate('prev')
    },
    async handleClickNext() {
      if (this.isLast) {
        //  WARNING START
        //  In fact, the last answer is sent in Vuex in the setFinish function.
        //  But the requests are going at the same time.
        //  Sometimes the backend processes the request for 'finish' first. In this case, the last question remains unchecked.
        //  That's why we throw the same request when opening the modal.
        const $current = JSON.parse(JSON.stringify(this.currentQuestion))
        this.syncQuestion($current)
        //  WARNING END
        this.setDone(true)
      } else {
        this.navigate('next')
      }
    }
  }
}
</script>
