<template>
  <section class="component component--deneme-question">
    <div class="test-list">
      <div class="test-item active">
        <div
          class="test-question__main"
          v-if="currentQuestion.instructions.length > 0"
        >{{ currentQuestion.instructions[0].content }}</div>
        <div class="test-question">
          <div class="test-question-inf">
            <span class="test-question__number">{{ currentQuestion.order }}</span>
            <button
              class="test-question-fav"
              :class="{ active: currentQuestion.isPinned }"
              @click="handleTriggerSkip()"
            >
              <svg-icon type="icon-star" />
            </button>
          </div>
          <highlightable slot="content" :translatable="isTranslatable">
            <div class="test-question__cnt">
              <p class="test-question__txt" v-if="currentQuestion.questionContent">
                <template
                  v-for="(questionItem, questionItemIndex) in currentQuestion.questionContent"
                >
                  <span
                    v-if="questionItem.type === 'text'"
                    v-html="questionItem.text"
                    :key="`questionItem${questionItemIndex}`"
                  ></span>
                  <b
                    v-if="questionItem.type === 'olderanswer'"
                    :key="`questionItem${questionItemIndex}`"
                  >
                    <span
                      class="question__item--older-number"
                      v-html="handleFillOlderQuestionOrder(questionItem.questionId)"
                    ></span>&nbsp;
                    <span
                      class="question__item--older-text"
                      v-html="handleFillOlderQuestionText(questionItem.questionId, questionItem)"
                    ></span>
                  </b>
                  <b
                    v-if="questionItem.type === 'gap'"
                    v-html="handleFillAnswer(currentQuestion, questionItem)"
                    class="test-question__b"
                    :key="`questionItem${questionItemIndex}`"
                  ></b>
                </template>
              </p>
              <p class="test-question__txt with-paraghraph" v-if="currentQuestion.question">
                <template v-for="(questionItem, questionItemIndex) in currentQuestion.question">
                  <span
                    v-if="questionItem.type === 'text'"
                    v-html="questionItem.text"
                    :key="`questionItem${questionItemIndex}`"
                  ></span>
                  <b
                    v-if="questionItem.type === 'olderanswer'"
                    :key="`questionItem${questionItemIndex}`"
                  >
                    <span
                      class="question__item--older-number"
                      v-html="handleFillOlderQuestionOrder(questionItem.questionId)"
                    ></span>&nbsp;
                    <span
                      class="question__item--older-text"
                      v-html="handleFillOlderQuestionText(questionItem.questionId, questionItem)"
                    ></span>
                  </b>
                  <b
                    v-if="questionItem.type === 'gap'"
                    v-html="handleFillAnswer(currentQuestion, questionItem)"
                    class="test-question__b"
                    :key="`questionItem${questionItemIndex}`"
                  ></b>
                </template>
              </p>
            </div>
          </highlightable>
        </div>

        <div class="test-options">
          <div class="test-options__inner">
            <div
              class="test-option"
              v-for="answer in currentQuestion.options"
              :key="answer.id"
              @click="handleSelectAnswer(answer.id, currentQuestion)"
              :class="{ active: answer.id === currentQuestion.selectedAnswer }"
            >
              <span class="test-option__opt">
                <span class="opt-txt">{{ answer.letterOrder }}</span>
              </span>
              <highlightable slot="content" :translatable="isTranslatable">
                <p class="test-option__txt">
                  <span v-for="(text, index) in answer.texts" :key="`answerText${index}`">
                    <template>{{ text.text }}</template>
                    <template v-if="index !== answer.texts.length - 1">/</template>
                  </span>
                </p>
              </highlightable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { SET_HIGHLIGHT_TEXT } from '@/store/mutations.type'
import { mapGetters, mapActions } from 'vuex'
import Highlightable from '@/components/Highlightable'
import { getTranslatableStatus } from '../../../services/common.service'

export default {
  name: 'Question',
  props: {
    translatable: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Highlightable
  },
  data() {
    return {
      nonFilledText: '----',
      isTranslatable: this.translatable
    }
  },
  computed: {
    ...mapGetters({
      currentQuestion: 'testDetail/currentQuestion',
      questionList: 'testDetail/questionList'
    })
  },
  created() {
    this.setTranslatable()
  },
  methods: {
    ...mapActions({
      updateQuestion: 'testDetail/updateQuestion'
    }),
    async setTranslatable() {
      console.log('check translatable status')
      let result = await getTranslatableStatus(
        'test',
        this.$route.params.detailId
      )
      this.isTranslatable = result.data.data.allow
      this.$store.commit(SET_HIGHLIGHT_TEXT, {
        text: '',
        status: result.data.data.allow
      })
    },

    handleSelectAnswer(id, q) {
      console.log('selectedAnswer', id, q)
      const question = JSON.parse(JSON.stringify(q))
      if (question.selectedAnswer === id) {
        this.updateQuestion({
          selectedAnswer: null,
          state: 'unanswered'
        })
      } else {
        this.updateQuestion({
          selectedAnswer: id,
          state: 'answered'
        })
      }
    },
    handleTriggerSkip() {
      const isPinned = !this.currentQuestion.isPinned
      this.updateQuestion({
        isPinned
      })
    },
    handleOlderQuestion(id) {
      return this.questionList.find((q) => q.id === id)
    },
    handleFillOlderQuestionOrder(id) {
      const olderQuestion = this.handleOlderQuestion(id)
      return `(${olderQuestion.order})`
    },
    handleFillOlderQuestionText(id, qI) {
      const olderQuestion = this.handleOlderQuestion(id)
      return this.handleFillAnswer(olderQuestion, qI)
    },
    handleFillAnswer(q, qI) {
      return q.selectedAnswer
        ? q.options
          .find((answer) => answer.id === q.selectedAnswer)
          .texts.find((answerText) => answerText.flag === qI.flag).text
        : this.nonFilledText
    }
  }
}
</script>
