<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { SET_HEADER_CLASS } from '../../store/actions.type'
import { sendFeedback } from '../../services/common.service'
import Modal from '@/components/Modal'
import VueButton from '@/core/VueButton'
import ghostFaqs from '@/core/Ghost/ghostFaqs'
import ghostFaqsCategory from '@/core/Ghost/ghostFaqsCategory'

export default {
  name: 'Faq',

  components: {
    Modal,
    VueButton,
    ghostFaqs,
    ghostFaqsCategory
  },

  data() {
    return {
      questionContent: '',
      searchTerm: '',
      formSubmitted: false,
      popularActive: true,
      showFeedback: false,
      feedbackCheck: false,
      feedbackBody: '',
      feedbackSendLoading: false,
      FaqsDropdown: true,
      wordFamily: null
    }
  },

  computed: {
    ...mapGetters('faq', [
      'categories',
      'categoriesLoaded',
      'faqs',
      'dataLoaded',
      'activeCategory',
      'filteredFaqs',
      'searchText',
      'popularFaqs'
    ]),

    formIsValid() {
      return this.questionContent.length > 9
    },

    feedbackInput() {
      return this.feedbackBody.length > 9
    }
  },

  created() {
    this.loadFaqs()
    this.$store.dispatch(SET_HEADER_CLASS, 'header--gray')
  },

  methods: {
    ...mapActions('faq', [
      'getFaqs',
      'askQuestion',
      'filterFaqs',
      'activateCategory'
    ]),
    ...mapMutations('faq', ['setActiveCategory']),

    loadFaqs() {
      if (this.faqs.length === 0) this.getFaqs()
    },
    openFaqsDropdown: function (event) {
      if (this.FaqsDropdown) {
        this.FaqsDropdown = false
      } else {
        this.FaqsDropdown = true
      }
    },
    showFamily(index) {
      this.wordFamily = !this.wordFamily === index ? null : index
    },

    pickCategory(cat, parent) {
      this.popularActive = cat === -1
      // this.$scrollTo('#faqList', 200, { offset: -60 })
      this.activateCategory({ sub: cat, main: parent })
    },

    clearForm() {
      this.questionContent = ''
      this.formSubmitted = false
    },

    sendQuestion() {
      this.formSubmitted = true

      this.askQuestion({
        id: this.activeCategory.id,
        question: this.questionContent
      }).then((res) => {
        if (res.status === 200) {
          this.$swal.fire({
            toast: true,
            timer: 5000,
            title: 'Sorunuz başarıyla iletildi.',
            showConfirmButton: false,
            icon: 'success',
            position: 'top-end'
          })

          this.questionContent = ''
          this.formSubmitted = false
        } else {
          this.$swal.fire({
            toast: true,
            timer: 5000,
            title: 'Hay aksi. Bir sorun meydana geldi.',
            showConfirmButton: false,
            icon: 'error',
            position: 'top-end'
          })
        }
      })
    },

    searchFaq(e) {
      this.searchTerm = e.target.value
      this.filterFaqs(this.searchTerm)
    },

    openFeedback() {
      this.showFeedback = true
    },

    closeFeedback() {
      this.showFeedback = false
    },

    handleSendFeedback() {
      this.feedbackSendLoading = true
      let fbc = this.feedbackCheck ? 1 : 0
      sendFeedback({ message: this.feedbackBody, isPublic: fbc }).then(
        (res) => {
          this.closeFeedback()
          this.feedbackBody = ''
          this.feedbackCheck = false
          this.feedbackSendLoading = false
          if (res.status === 200) {
            this.$swal.fire({
              toast: true,
              timer: 5000,
              title: res.data.message,
              showConfirmButton: false,
              icon: 'success',
              position: 'top-end'
            })
          } else {
            this.$swal.fire({
              toast: true,
              timer: 5000,
              title: res.data.message,
              showConfirmButton: false,
              icon: 'error',
              position: 'top-end'
            })
          }
        }
      )
    }
  }
}
</script>

<template>
  <div class="hesabim-page">
    <div class="subpage-header subpage-header--light">
      <container>
        <div class="subpage-header__wrp">
          <div
            class="subpage-header__head d-flex align-items-center justify-content-center flex-column faqs-header"
          >
            <h3 class="faqs-header__title">Size Nasıl Yardımcı Olabiliriz?</h3>
            <p class="faqs-header__text">
              Bir uygulamaya erişim konusunda problem yaşıyorsanız bu geçici bir durum olabilir.
              Daha önce sorulan sorular içerisinde sorunuza cevap bulabilir, müşteri
              temsilcilerimizden canlı destek alabilirsiniz.
            </p>
          </div>
        </div>
      </container>
    </div>
    <div class="clear" style="height: 50px;"></div>
    <container class="faqs-content">
      <div class="subpage-search col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="subpage-search__form fw">
          <div class="subpage-search__input-wrp">
            <svg-icon class="subpage-search__icon" type="icon-search" />
            <input
              type="text"
              class="subpage-search__input"
              :value="searchTerm"
              @input="searchFaq($event)"
              placeholder="Sık Sorulan Sorular içerisinde arayın..."
            />
          </div>
          <!-- <v-button
            class="subpage-search__submit purple"
            title
            icon="icon-search"
            icon-position="right"
          />-->
        </div>
      </div>
      <div class="row faq" id="faqList">
        <aside class="col-md-3">
          <!-- <strong class="title">Yardım Merkezi</strong> -->
          <ul class="list-of-categories only-desktop-inline">
            <li @click="pickCategory(-1, -1)" :class="{ active: popularActive }">
              <svg-icon type="icon-arrow-long-right" />Popüler Sorular
            </li>
          </ul>
          <div
            class="mobile-menu__account-button faqs-category-dropdown-btn"
            :class="[FaqsDropdown ? '' : 'active']"
            @click="openFaqsDropdown"
          >
            <span class="mobile-menu__account-txt">Kategoriler</span>
            <span class="select__caret"></span>
          </div>
          <div class="faqs-categories" :class="[FaqsDropdown ? '' : 'active']">
            <ul class="list-of-categories only-tablet-inline" @click="openFaqsDropdown">
              <li @click="pickCategory(-1, -1)" :class="{ active: popularActive }">
                <svg-icon type="icon-arrow-long-right" />Popüler Sorular
              </li>
            </ul>
            <div
              class="category-group"
              @click="showFamily(index)"
              v-for="(category, index) in categories"
              :key="index"
              :class="[{ open: index == wordFamily }]"
            >
              <div class="category-group__title">
                <strong class="title">{{ category.name }}</strong>
                <div class="accordion-header__icon"></div>
              </div>
              <ul class="list-of-categories" @click="openFaqsDropdown">
                <li
                  v-for="(subcat, index) in category.children"
                  :key="`faqCategory${index}`"
                  @click="pickCategory(subcat.id, category.id)"
                  :class="{ active: activeCategory.id === subcat.id && !popularActive }"
                >
                  <svg-icon type="icon-arrow-long-right"></svg-icon>
                  {{ subcat.name }}
                </li>
              </ul>
            </div>
          </div>
          <div v-if="!categoriesLoaded">
            <ghostFaqsCategory />
          </div>
        </aside>
        <transition name="fade-fast" mode="out-in">
          <div class="col-md-9 pl-50 faqs-main" v-if="dataLoaded">
            <div class="list-of-questions" id="faqList">
              <div
                class="list-of-questions--item"
                v-for="faq in filteredFaqs"
                :key="`faqItem${faq.id}`"
              >
                <strong class="list-of-questions--item__question">{{ faq.question }}</strong>
                <hr class="f-line" />
                <p class="list-of-questions--item__answer" v-html="faq.answer"></p>
              </div>
            </div>
            <hr v-if="filteredFaqs.length > 0" />
            <div class="row no-gutters helper" v-if="filteredFaqs.length > 0">
              <strong class="col-md-8 helper--text">Bu cevaplar yardımcı oldu mu?</strong>
              <div
                class="col-md-4 helper--buttons d-flex flex-row align-items-end justify-content-end p-0"
              >
                <button @click="openFeedback">Evet</button>
                <button @click="openFeedback">Hayır</button>
              </div>
            </div>
            <div class="clear" v-if="filteredFaqs.length > 0" style="height: 30px;"></div>
            <div class="t-card">
              <div class="t-card--header">
                <strong class="t-card--header__subtitle">
                  Sık Sorulan Sorular size yardımcı olmadıysa sorunuzu bizimle paylaşabilirsiniz.
                  Sorunuzun olabildiğince detaylı olması bize yardımcı olacaktır.
                </strong>
              </div>
              <hr class="f-line" />
              <div class="t-card--content">
                <div
                  class="f-textarea"
                  :data-validation="formSubmitted && !formIsValid"
                  data-validation-text="* Sorunuz en az 6 karakter içermeli."
                >
                  <textarea
                    class="faqs-questionbox"
                    placeholder="Sorunuz..."
                    cols="30"
                    rows="10"
                    v-model="questionContent"
                  ></textarea>
                </div>
                <div class="clear" style="height: 25px"></div>
                <div class="row">
                  <div class="col-md-6 mobile-mb-15">
                    <v-button
                      style="height: 60px; color: #5657ab !important;"
                      class="fw c-darkgray"
                      title="TEMİZLE"
                      @click.native="clearForm"
                    />
                  </div>
                  <div class="col-md-6">
                    <v-button
                      :disabled="!formIsValid"
                      @click.native="sendQuestion"
                      style="height: 60px;"
                      class="fw c-purple"
                      :class="{ disabled: !formIsValid }"
                      title="GÖNDER"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
        <div class="col-md-9 pl-50 faqs-main" v-if="!dataLoaded">
          <ghostFaqs />
        </div>
      </div>
    </container>
    <modal
      :active="showFeedback"
      modal-class="plan-modal feedback-modal"
      @onModalClose="closeFeedback"
    >
      <div class="plan-modal-header" slot="header">
        <div class="plan-modal-header__title">Geri Bildirim</div>
        <div class="plan-modal-header__txt">
          Size daha iyi hizmet verebilmemiz ve diğer katılımcılarımıza yol gösterebilmek için
          eğitimlerimiz ve sistemimiz hakkında görüşlerinizi bizimle paylaşmak ister misiniz?
        </div>
      </div>
      <div class="plan-modal__content" slot="content">
        <div class="feedback__wrp">
          <div class="feedback__title">Değerli Yorum ve Görüşleriniz</div>
          <div class="f-textarea">
            <div class="f-input--content">
              <textarea name cols="30" placeholder="Yorumunuz" rows="15" v-model="feedbackBody"></textarea>
            </div>
          </div>
          <label class="checkbox t-checkbox">
            <input type="checkbox" class="checkbox__input" v-model="feedbackCheck" />
            <span class="checkbox__box">
              <span class="icon-font">
                <svg-icon type="icon-check" />
              </span>
            </span>
            <span class="checkbox__txt">
              Bu geri bildirimin www.remzihoca.com websitesinde paylaşılmasına izin
              veriyorum.
            </span>
          </label>
        </div>
      </div>
      <div class="plan-modal__footer" slot="footer">
        <VueButton
          @click.native="handleSendFeedback"
          class="feedback__btn"
          text="Gönder"
          primary
          :loadingActive="feedbackSendLoading"
          :disabled="!feedbackInput || feedbackSendLoading"
        />
      </div>
    </modal>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/t-card';
@import '@/assets/scss/components/faq';
@import '@/assets/scss/components/subpage-search';
</style>

<style lang="scss" scoped>
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
.subpage-header {
  padding-bottom: 100px;
}
.faqs {
  &-category-dropdown {
    &-btn {
      display: none;
      transition: 0.5s;
      background: #fff !important;
      @include bp(tablet) {
        display: flex;
        align-items: center;
      }
      margin: 0 auto;
      width: calc(100% - 30px);
      height: 50px;

      &.active {
        border-bottom: 1px solid #d2dce5;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  &-categories {
    @include bp(tablet) {
      width: calc(100% - 30px);
      padding: 0 15px;
      margin: 0 auto;
      background: #fff;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;
      max-height: 0;
      transition: 0.5s;
      overflow: hidden;
    }
    &.active {
      @include bp(tablet) {
        max-height: 120vh;
      }
    }
  }
  &-main {
    @include bp(tablet) {
      padding-left: 15px;
      margin-top: 15px;
    }
  }
  &-header {
    padding: 0 200px;
    text-align: center;
    @include bp(desktop) {
      padding: 0 100px;
    }
    @include bp(tablet) {
      padding: 0;
    }

    &__title {
      color: $c-primary;
      font-weight: 700;
      font-size: 2rem;
    }

    &__text {
      color: $c-text-dark;
      font-weight: 300;
    }
  }
  &-questionbox {
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 150px;
  }

  &-content {
    margin-top: -90px;
    .subpage-search {
      &__input {
        padding-left: 30px;
        @include bp(mobile) {
          padding-left: 20px;
        }
      }
    }
  }
}
.subpage-search {
  margin-bottom: 60px;
  @include bp(tablet) {
    margin-bottom: 30px;
  }
}
</style>
