
<template>
  <div class="icon-sprite">
    <container>
      <div class="icon-sprite__title">ICONS</div>
      <div class="icon-sprite__list">
        <div class="icon-sprite__item" v-for="icon in icons" :key="icon.id">
          <div class="icon-sprite__icon">
            <svg-icon :type="icon.name"></svg-icon>
          </div>
          <div class="icon-sprite__name">{{ icon.name }}</div>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
/* eslint-disable vue/no-unused-components */
/* eslint-disable no-unused-vars */
import SvgIcon from '@/components/SvgIcon'
import User from '@/assets/icons/icon-user.svg'
import Bell from '@/assets/icons/icon-bell.svg'
import Logout from '@/assets/icons/icon-logout.svg'
import Market from '@/assets/icons/icon-market.svg'
import Pens from '@/assets/icons/icon-pens.svg'
import Toggle from '@/assets/icons/icon-toggle.svg'
import NoResults from '@/assets/icons/icon-no-results.svg'
import ConnectionError from '@/assets/icons/icon-connection-error.svg'
import Course from '@/assets/icons/icon-course.svg'
import Lists from '@/assets/icons/icon-lists.svg'
import Wizard from '@/assets/icons/icon-wizard.svg'
import Notes from '@/assets/icons/icon-notes.svg'
import Performance from '@/assets/icons/icon-performance.svg'
import Search from '@/assets/icons/icon-search.svg'
import Star from '@/assets/icons/icon-star.svg'
import BoardO from '@/assets/icons/icon-board-o.svg'
import PerformanceO from '@/assets/icons/icon-performance-o.svg'
import CupO from '@/assets/icons/icon-cup-o.svg'
import LessonItem from '@/assets/icons/icon-lesson-item.svg'
import MovieO from '@/assets/icons/icon-movie-o.svg'
import Cart from '@/assets/icons/icon-cart.svg'
import Info from '@/assets/icons/icon-info.svg'
import ListO from '@/assets/icons/icon-lists-o.svg'
import Mail from '@/assets/icons/icon-mail.svg'
import Lock from '@/assets/icons/icon-lock.svg'
import fullscreen from '@/assets/icons/icon-fullscreen.svg'
import Check from '@/assets/icons/icon-check.svg'
import Send from '@/assets/icons/icon-send.svg'
import NotesO from '@/assets/icons/icon-notes-o.svg'
import HelpCircle from '@/assets/icons/icon-help-circle.svg'
import Plus from '@/assets/icons/icon-plus.svg'
import PensO from '@/assets/icons/icon-pens-o.svg'
import Cluebank from '@/assets/icons/icon-cluebank.svg'
import CluebankO from '@/assets/icons/icon-cluebank-o.svg'
import ArrowLongRight from '@/assets/icons/icon-arrow-long-right.svg'
import ArrowLongLeft from '@/assets/icons/icon-arrow-long-left.svg'
import Print from '@/assets/icons/icon-print.svg'
import Download from '@/assets/icons/icon-download.svg'
import PaperBook from '@/assets/icons/icon-paper-book.svg'
import Close from '@/assets/icons/icon-close.svg'
import Trash from '@/assets/icons/icon-trash.svg'
import TestItem from '@/assets/icons/icon-test-item.svg'
import ExamItem from '@/assets/icons/icon-exam-item.svg'
import Time from '@/assets/icons/icon-time.svg'
import PieO from '@/assets/icons/icon-pie-o.svg'
import Keyboard from '@/assets/icons/icon-keyboard.svg'
import Lamp from '@/assets/icons/icon-lamp.svg'
import Pause from '@/assets/icons/icon-pause.svg'
import CheckCircle from '@/assets/icons/icon-check-circle.svg'
import ViewZoom from '@/assets/icons/icon-view-zoom.svg'
import Clock from '@/assets/icons/icon-clock.svg'
import DocumentItem from '@/assets/icons/icon-document-item.svg'
import MaterialItem from '@/assets/icons/icon-material-item.svg'
import AnnouncementItem from '@/assets/icons/icon-announcement-item.svg'
import ReadingItem from '@/assets/icons/icon-reading-item.svg'
import Edit from '@/assets/icons/icon-edit.svg'
import Switch from '@/assets/icons/icon-switch.svg'
import Collocation from '@/assets/icons/icon-collocation.svg'
import CollocationO from '@/assets/icons/icon-collocation-o.svg'
import HelpCtr from '@/assets/icons/icon-help-ctr.svg'
import HelpCtrO from '@/assets/icons/icon-help-ctr-o.svg'
import Preposition from '@/assets/icons/icon-preposition.svg'
import PrepositionO from '@/assets/icons/icon-preposition-o.svg'
import ViewO from '@/assets/icons/icon-view-o.svg'
import Vocabulary from '@/assets/icons/icon-vocabulary.svg'
import VocabularyO from '@/assets/icons/icon-vocabulary-o.svg'
import Logo from '@/assets/icons/icon-logo.svg'
import Share from '@/assets/icons/icon-share.svg'
import Voice from '@/assets/icons/icon-voice.svg'
import ArrowLeft from '@/assets/icons/icon-arrow-left.svg'
import ArrowRight from '@/assets/icons/icon-arrow-right.svg'
import CluebankItem from '@/assets/icons/icon-cluebank-item.svg'
import HelpBubble from '@/assets/icons/icon-help-bubble.svg'
import Languages from '@/assets/icons/icon-languages.svg'
import Dash from '@/assets/icons/icon-dash.svg'
import Help from '@/assets/icons/icon-help.svg'
import Play from '@/assets/icons/icon-play.svg'
import Facebook from '@/assets/icons/icon-facebook.svg'
import Twitter from '@/assets/icons/icon-twitter.svg'
import Instagram from '@/assets/icons/icon-instagram.svg'
import Youtube from '@/assets/icons/icon-youtube.svg'
import Linkedin from '@/assets/icons/icon-linkedin.svg'
import GooglePlus from '@/assets/icons/icon-google-plus.svg'
import Pinterest from '@/assets/icons/icon-pinterest.svg'
import Answer from '@/assets/icons/icon-answer.svg'
import AnswerO from '@/assets/icons/icon-answer-o.svg'
import Wordy from '@/assets/icons/icon-wordy.svg'
import WordyItem from '@/assets/icons/icon-wordy-item.svg'
import Reload from '@/assets/icons/icon-reload.svg'
import Exclamation from '@/assets/icons/icon-exclamation.svg'
import InfoCircleO from '@/assets/icons/icon-info-circle-o.svg'
import CaretLeft from '@/assets/icons/icon-caret-left.svg'
import CaretRight from '@/assets/icons/icon-caret-right.svg'
import CaretUp from '@/assets/icons/icon-caret-up.svg'
import CaretDown from '@/assets/icons/icon-caret-down.svg'
import Recycle from '@/assets/icons/icon-recycle.svg'
import CheckBubble from '@/assets/icons/icon-check-bubble.svg'
import ContentsSearch from '@/assets/icons/icon-contents-search.svg'
import ContentsSearchO from '@/assets/icons/icon-contents-search-o.svg'
import Contents from '@/assets/icons/icon-contents.svg'
import ContentsO from '@/assets/icons/icon-contents-o.svg'
import ArrowRightLight from '@/assets/icons/icon-arrow-right-light.svg'
import InfoCircle from '@/assets/icons/icon-info-circle.svg'
import DigiTable from '@/assets/icons/icon-digi-table.svg'
import DigiTest from '@/assets/icons/icon-digi-test.svg'
import DigiReading from '@/assets/icons/icon-digi-reading.svg'
import DigiWordList from '@/assets/icons/icon-digi-word-list.svg'
import DigiTranslation from '@/assets/icons/icon-digi-translation.svg'
import Digipairing from '@/assets/icons/icon-digi-pairing.svg'
import Question from '@/assets/icons/icon-question.svg'
import QuestionAnswer from '@/assets/icons/icon-question-answer.svg'
import QuestionAnswerO from '@/assets/icons/icon-question-answer-o.svg'
import Translate from '@/assets/icons/icon-translate.svg'
import Translate2 from '@/assets/icons/icon-translate-2.svg'
import Pen from '@/assets/icons/icon-pen.svg'
import CalendarTime from '@/assets/icons/icon-calendar-time.svg'
import Timer from '@/assets/icons/icon-timer.svg'
import DateStart from '@/assets/icons/icon-date-start.svg'
import DateEnd from '@/assets/icons/icon-date-end.svg'
import Camera from '@/assets/icons/icon-camera.svg'
import View from '@/assets/icons/icon-view.svg'
import ViewDisable from '@/assets/icons/icon-view-disable.svg'
import Map from '@/assets/icons/icon-map.svg'
import Dots from '@/assets/icons/icon-dots.svg'
import Link from '@/assets/icons/icon-link.svg'
import Personal from '@/assets/icons/icon-personal.svg'
import PersonalGroup from '@/assets/icons/icon-personal-group.svg'
import Bag from '@/assets/icons/icon-bag.svg'
import BagO from '@/assets/icons/icon-bag-o.svg'
import Printer from '@/assets/icons/icon-printer.svg'
import HTML from '@/assets/icons/icon-html.svg'
import Setting from '@/assets/icons/icon-setting.svg'
import DocPauseO from '@/assets/icons/icon-doc-pause-o.svg'
import DocFlagO from '@/assets/icons/icon-flag-doc-o.svg'
import Book from '@/assets/icons/icon-book.svg'
import Phone from '@/assets/icons/icon-phone.svg'
import HandPhone from '@/assets/icons/icon-hand-phone.svg'
import Monitor from '@/assets/icons/icon-monitor.svg'
import UserHandPhone from '@/assets/icons/icon-user-hand-phone.svg'
import CalendarPlay from '@/assets/icons/icon-calendar-play.svg'
import CalendarOff from '@/assets/icons/icon-calendar-off.svg'
import Tape from '@/assets/icons/icon-tape.svg'
import TapeLive from '@/assets/icons/icon-tape-live.svg'
import UserSingle from '@/assets/icons/icon-user-single.svg'
import UserMultiple from '@/assets/icons/icon-user-multiple.svg'
import Equals from '@/assets/icons/icon-equals.svg'
import DigitalBook from '@/assets/icons/icon-digital-book.svg'
import Truck from '@/assets/icons/icon-truck.svg'
import Ruler from '@/assets/icons/icon-ruler.svg'
import Papers from '@/assets/icons/icon-papers.svg'
import paperType from '@/assets/icons/icon-paper-type.svg'
import digitalPrice from '@/assets/icons/icon-digital-price.svg'
import creditCard from '@/assets/icons/icon-credit-card.svg'
import feedBack from '@/assets/icons/icon-feedback.svg'
import Community from '@/assets/icons/icon-community.svg'
import iconNotfoundLeaderboard from '@/assets/icons/icon-notfound-leaderboard.svg'
import iconNotfoundDictionary from '@/assets/icons/icon-notfound-dictionary.svg'
import iconNotfoundBasket from '@/assets/icons/icon-notfound-basket.svg'
import iconNotfoundNotes from '@/assets/icons/icon-notfound-notes.svg'
import iconNotfoundQuest from '@/assets/icons/icon-notfound-quest.svg'
import iconNotfoundClue from '@/assets/icons/icon-notfound-clue.svg'
import iconNotfoundAddress from '@/assets/icons/icon-notfound-address.svg'
import iconNotfoundOrder from '@/assets/icons/icon-notfound-order.svg'
import iconNotfoundProduct from '@/assets/icons/icon-notfound-product.svg'
import iconNotfoundHomework from '@/assets/icons/icon-notfound-homework.svg'
import iconNotfoundCoupon from '@/assets/icons/icon-notfound-coupon.svg'
import iconListsUser from '@/assets/icons/icon-lists-user.svg'
import iconListsUserO from '@/assets/icons/icon-lists-user-o.svg'
import iconUserFill from '@/assets/icons/icon-user-fill.svg'

export default {
  name: 'IconSprite',
  components: {
    Question,
    Translate,
    Translate2,
    Pen,
    DigiTable,
    DigiTest,
    DigiReading,
    DigiWordList,
    DigiTranslation,
    Digipairing,
    Exclamation,
    InfoCircleO,
    InfoCircle,
    CaretLeft,
    CaretRight,
    CaretUp,
    CaretDown,
    HelpBubble,
    Languages,
    Play,
    Dash,
    Logo,
    ArrowLeft,
    ArrowRight,
    // CluebankSingle,
    Share,
    Voice,
    SvgIcon,
    Collocation,
    CollocationO,
    HelpCtr,
    HelpCtrO,
    Help,
    Preposition,
    PrepositionO,
    ViewO,
    Vocabulary,
    VocabularyO,
    Pause,
    CheckCircle,
    ViewZoom,
    Clock,
    User,
    Bell,
    Logout,
    Market,
    Pens,
    Toggle,
    Course,
    Lists,
    Notes,
    Performance,
    Star,
    BoardO,
    PerformanceO,
    CupO,
    // Movie,
    MovieO,
    Cart,
    Info,
    Search,
    Lock,
    Mail,
    Check,
    Send,
    NotesO,
    HelpCircle,
    Plus,
    PensO,
    Cluebank,
    CluebankO,
    ArrowLongRight,
    ArrowLongLeft,
    Download,
    PaperBook,
    Print,
    Close,
    Trash,
    ListO,
    Time,
    PieO,
    Keyboard,
    Lamp,
    // TestO,
    Edit,
    Switch,
    // DocsO,
    Youtube,
    Instagram,
    Twitter,
    Facebook,
    Linkedin,
    Pinterest,
    GooglePlus,
    Answer,
    AnswerO,
    Wordy,
    // WordyO,
    Reload,
    Recycle,
    CheckBubble,
    Contents,
    ContentsO,
    ContentsSearch,
    ContentsSearchO,
    ArrowRightLight,
    QuestionAnswer,
    QuestionAnswerO,
    CalendarTime,
    DateEnd,
    DateStart,
    Timer,
    Camera,
    View,
    ViewDisable,
    Map,
    Dots,
    Link,
    Personal,
    PersonalGroup,
    BagO,
    Printer,
    HTML,
    Setting,
    DocPauseO,
    DocFlagO,
    Monitor,
    Book,
    HandPhone,
    Phone,
    UserHandPhone,
    CalendarPlay,
    CalendarOff,
    Tape,
    TapeLive,
    UserSingle,
    UserMultiple,
    Equals,
  },
  data() {
    return {
      icons: [
        {
          id: 0,
          name: 'icon-user',
        },
        {
          id: 1,
          name: 'icon-bell',
        },
        {
          id: 2,
          name: 'icon-logout',
        },
        {
          id: 3,
          name: 'icon-market',
        },
        {
          id: 4,
          name: 'icon-pens',
        },
        {
          id: 5,
          name: 'icon-toggle',
        },
        {
          id: 6,
          name: 'icon-course',
        },
        {
          id: 7,
          name: 'icon-lists',
        },
        {
          id: 8,
          name: 'icon-notes',
        },
        {
          id: 9,
          name: 'icon-performance',
        },
        {
          id: 10,
          name: 'icon-search',
        },
        {
          id: 11,
          name: 'icon-star',
        },
        {
          id: 12,
          name: 'icon-board-o',
        },
        {
          id: 13,
          name: 'icon-performance-o',
        },
        {
          id: 14,
          name: 'icon-cup-o',
        },
        {
          id: 15,
          name: 'icon-movie-o',
        },
        {
          id: 16,
          name: 'icon-cart',
        },
        {
          id: 17,
          name: 'icon-info',
        },
        {
          id: 18,
          name: 'icon-lists-o',
        },
        {
          id: 19,
          name: 'icon-mail',
        },
        {
          id: 20,
          name: 'icon-lock',
        },
        {
          id: 21,
          name: 'icon-check',
        },
        {
          id: 22,
          name: 'icon-send',
        },
        {
          id: 23,
          name: 'icon-notes-o',
        },
        {
          id: 24,
          name: 'icon-help-circle',
        },
        {
          id: 25,
          name: 'icon-plus',
        },
        {
          id: 26,
          name: 'icon-pens-o',
        },
        {
          id: 27,
          name: 'icon-cluebank',
        },
        {
          id: 28,
          name: 'icon-cluebank-o',
        },
        {
          id: 29,
          name: 'icon-arrow-long-right',
        },
        {
          id: 30,
          name: 'icon-arrow-long-left',
        },
        {
          id: 31,
          name: 'icon-print',
        },
        {
          id: 32,
          name: 'icon-download',
        },
        {
          id: 33,
          name: 'icon-close',
        },
        {
          id: 34,
          name: 'icon-trash',
        },
        {
          id: 36,
          name: 'icon-time',
        },
        {
          id: 37,
          name: 'icon-pie-o',
        },
        {
          id: 38,
          name: 'icon-keyboard',
        },
        {
          id: 39,
          name: 'icon-lamp',
        },
        {
          id: 40,
          name: 'icon-pause',
        },
        {
          id: 41,
          name: 'icon-check-circle',
        },
        {
          id: 42,
          name: 'icon-view-zoom',
        },
        {
          id: 43,
          name: 'icon-clock',
        },
        {
          id: 44,
          name: 'icon-document-item',
        },
        {
          id: 45,
          name: 'icon-edit',
        },
        {
          id: 46,
          name: 'icon-switch',
        },
        {
          id: 47,
          name: 'icon-collocation',
        },
        {
          id: 48,
          name: 'icon-collocation-o',
        },
        {
          id: 49,
          name: 'icon-help-ctr',
        },
        {
          id: 50,
          name: 'icon-help-ctr-o',
        },
        {
          id: 51,
          name: 'icon-preposition',
        },
        {
          id: 52,
          name: 'icon-preposition-o',
        },
        {
          id: 53,
          name: 'icon-view-o',
        },
        {
          id: 54,
          name: 'icon-vocabulary',
        },
        {
          id: 55,
          name: 'icon-vocabulary-o',
        },
        {
          id: 56,
          name: 'icon-logo',
        },
        {
          id: 57,
          name: 'icon-arrow-left',
        },
        {
          id: 58,
          name: 'icon-arrow-right',
        },
        {
          id: 59,
          name: 'icon-share',
        },
        {
          id: 60,
          name: 'icon-voice',
        },
        {
          id: 61,
          name: 'icon-cluebank-item',
        },
        {
          id: 62,
          name: 'icon-help-bubble',
        },
        {
          id: 63,
          name: 'icon-languages',
        },
        {
          id: 64,
          name: 'icon-dash',
        },
        {
          id: 65,
          name: 'icon-help',
        },
        {
          id: 66,
          name: 'icon-play',
        },
        {
          id: 67,
          name: 'icon-facebook',
        },
        {
          id: 68,
          name: 'icon-twitter',
        },
        {
          id: 69,
          name: 'icon-instagram',
        },
        {
          id: 70,
          name: 'icon-youtube',
        },
        {
          id: 71,
          name: 'icon-linkedin',
        },
        {
          id: 72,
          name: 'icon-google-plus',
        },
        {
          id: 73,
          name: 'icon-pinterest',
        },
        {
          id: 74,
          name: 'icon-answer',
        },
        {
          id: 75,
          name: 'icon-answer-o',
        },
        {
          id: 76,
          name: 'icon-wordy',
        },
        {
          id: 77,
          name: 'icon-wordy-item',
        },
        {
          id: 78,
          name: 'icon-reload',
        },
        {
          id: 79,
          name: 'icon-exclamation',
        },
        {
          id: 80,
          name: 'icon-info-circle-o',
        },
        {
          id: 81,
          name: 'icon-caret-left',
        },
        {
          id: 82,
          name: 'icon-caret-right',
        },
        {
          id: 83,
          name: 'icon-caret-up',
        },
        {
          id: 84,
          name: 'icon-caret-down',
        },
        {
          id: 85,
          name: 'icon-recycle',
        },
        {
          id: 86,
          name: 'icon-contents',
        },
        {
          id: 87,
          name: 'icon-contents-search',
        },
        {
          id: 88,
          name: 'icon-arrow-right-light',
        },
        {
          id: 89,
          name: 'icon-info-circle',
        },
        {
          id: 90,
          name: 'icon-digi-translation',
        },
        {
          id: 91,
          name: 'icon-digi-word-list',
        },
        {
          id: 92,
          name: 'icon-digi-reading',
        },
        {
          id: 93,
          name: 'icon-digi-test',
        },
        {
          id: 94,
          name: 'icon-digi-table',
        },
        {
          id: 95,
          name: 'icon-digi-pairing',
        },
        {
          id: 96,
          name: 'icon-contents-search-o',
        },
        {
          id: 97,
          name: 'icon-question',
        },
        {
          id: 98,
          name: 'icon-translate',
        },
        {
          id: 99,
          name: 'icon-translate-2',
        },
        {
          id: 100,
          name: 'icon-pen',
        },
        {
          id: 101,
          name: 'icon-contents-o',
        },
        {
          id: 102,
          name: 'icon-question-answer',
        },
        {
          id: 103,
          name: 'icon-question-answer-o',
        },
        {
          id: 104,
          name: 'icon-check-bubble',
        },
        {
          id: 105,
          name: 'icon-lesson-item',
        },
        {
          id: 106,
          name: 'icon-calendar-time',
        },
        {
          id: 107,
          name: 'icon-date-start',
        },
        {
          id: 108,
          name: 'icon-date-end',
        },
        {
          id: 109,
          name: 'icon-timer',
        },
        {
          id: 110,
          name: 'icon-camera',
        },
        {
          id: 111,
          name: 'icon-view',
        },
        {
          id: 112,
          name: 'icon-view-disable',
        },
        {
          id: 113,
          name: 'icon-map',
        },
        {
          id: 114,
          name: 'icon-dots',
        },
        {
          id: 115,
          name: 'icon-link',
        },
        {
          id: 116,
          name: 'icon-personal',
        },
        {
          id: 117,
          name: 'icon-personal-group',
        },
        {
          id: 118,
          name: 'icon-bag-o',
        },
        {
          id: 119,
          name: 'icon-printer',
        },
        {
          id: 120,
          name: 'icon-html',
        },
        {
          id: 121,
          name: 'icon-setting',
        },
        {
          id: 122,
          name: 'icon-doc-pause-o',
        },
        {
          id: 123,
          name: 'icon-flag-doc-o',
        },
        {
          id: 124,
          name: 'icon-monitor',
        },
        {
          id: 126,
          name: 'icon-book',
        },
        {
          id: 126,
          name: 'icon-handphone',
        },
        {
          id: 127,
          name: 'icon-phone',
        },
        {
          id: 128,
          name: 'icon-user-hand-phone',
        },
        {
          id: 129,
          name: 'icon-calendar-play',
        },
        {
          id: 130,
          name: 'icon-calendar-off',
        },
        {
          id: 131,
          name: 'icon-tape',
        },
        {
          id: 132,
          name: 'icon-tape-live',
        },
        {
          id: 133,
          name: 'icon-user-single',
        },
        {
          id: 134,
          name: 'icon-multiple',
        },
        {
          id: 135,
          name: 'icon-equals',
        },
        {
          id: 136,
          name: 'icon-paper-book',
        },
        {
          id: 137,
          name: 'icon-exam-item',
        },
        {
          id: 138,
          name: 'icon-test-item',
        },
        {
          id: 139,
          name: 'icon-fullscreen',
        },
        {
          id: 140,
          name: 'icon-no-results',
        },
        {
          id: 141,
          name: 'icon-connection-error',
        },
        {
          id: 142,
          name: 'icon-reading-item',
        },
        {
          id: 143,
          name: 'icon-material-item',
        },
        {
          id: 144,
          name: 'icon-announcement-item',
        },
        {
          id: 145,
          name: 'icon-digital-book',
        },
        {
          id: 146,
          name: 'icon-Truck',
        },
        {
          id: 147,
          name: 'icon-ruler',
        },
        {
          id: 148,
          name: 'icon-papers',
        },
        {
          id: 149,
          name: 'icon-paper-type',
        },
        {
          id: 150,
          name: 'icon-wizard',
        },
        {
          id: 151,
          name: 'icon-bag',
        },
        {
          id: 152,
          name: 'icon-digital-price',
        },
        {
          id: 153,
          name: 'icon-credit-card',
        },
        {
          id: 154,
          name: 'icon-feedback',
        },
        {
          id: 155,
          name: 'icon-community',
        },
        {
          id: 156,
          name: 'icon-notfound-leaderboard',
        },
        {
          id: 157,
          name: 'icon-notfound-dictionary',
        },
        {
          id: 158,
          name: 'icon-notfound-basket',
        },
        {
          id: 159,
          name: 'icon-notfound-notes',
        },
        {
          id: 160,
          name: 'icon-notfound-quest',
        },
        {
          id: 161,
          name: 'icon-notfound-clue',
        },
        {
          id: 162,
          name: 'icon-notfound-address',
        },
        {
          id: 163,
          name: 'icon-notfound-order',
        },
        {
          id: 164,
          name: 'icon-notfound-product',
        },
        {
          id: 165,
          name: 'icon-notfound-homework',
        },
        {
          id: 166,
          name: 'icon-notfound-coupon',
        },
        {
          id: 166,
          name: 'icon-lists-user',
        },
        {
          id: 167,
          name: 'icon-lists-user-o',
        },
        {
          id: 169,
          name: 'icon-user-fill',
        },
      ],
    }
  },
}
</script>

<style scoped>
.icon-sprite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 288;
  overflow: auto;
  background: #f0f4f9;
}

.icon-sprite__title {
  margin-top: 50px;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #546391;
}
.icon-sprite__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.icon-sprite__item {
  width: 240px;
  text-align: center;
  border: 1px solid #bac2cb;
  margin: 10px;
  border-radius: 9px;
  padding: 20px;
  background: #fff;
}
.icon-sprite__icon {
  font-size: 45px;
  margin-bottom: 10px;
  display: inline-flex;
}
.icon-sprite__name {
  font-size: 20px;
  font-weight: 600;
  background: #e3e9f0;
  border-radius: 6px;
  padding: 3px;
  margin-top: 15px;
}
</style>
