<template>
  <div>
    <container>
      <h1>Inputs</h1>

      <h1>Buttons</h1>
      <h2>Normal Button</h2>
      <v-button
        class="fw c-purple"
        icon="icon-user"
        tooltip="baaaa"
        tooltipPosition="bottom"
        icon-position="left"
        title="TEKRAR EŞLEŞTİR"
        @click.native="reMatch"
      />
      <!--
        colors: c-{colorCode},
        properties: p-{propertyType}
        size: s-{sizeType}
        Sizes: sm, xs
        Colors Codes: default, gray, white, soft, opaque, purple, blue, darkgray, danger, transparent, facebook, success
        Property Types: round, square, circle, icon-left, icon-right, fullwidth, bordered, icon-fix-transparent, autowidth
      -->

      <h2>Button with Dynamic Icon</h2>
      <v-button
        class="fw active"
        dynamic-icon="icon-lists"
        icon-position="right"
        title="TEKRAR EŞLEŞTİR"
      />
      <!--
        Eger dynamic icon kullaniyorsan bunun sebebi iconlarin
        arka planinda perde gorunumunu saglamak,
        bunu gorebilmek icin 'active' classini vermen gerekiyor.
      -->

      <h2>Button with Custom Icon</h2>
      <v-button
        class="fw active c-white"
        :img="require('@/assets/img/app-okuma.svg')"
        icon-position="right"
        title="TEKRAR EŞLEŞTİR"
      />

      <h1>Checkboxes</h1>
      <label class="checkbox t-checkbox">
        <input type="checkbox" class="checkbox__input">
        <span class="checkbox__box">
          <span class="icon-font">
            <svg-icon type="icon-check"/>
          </span>
        </span>
        <span class="checkbox__txt">Beni hatırla.</span>
      </label>

      <h1>Progress</h1>
      <Progress
        :progress-val="15"
        height="14"
        :val-min="10"
        :val-max="20"/>
      <!--
        import Progress from '@/components/Progress'
      -->
      <h2>Progress with circle</h2>
      <CircleProgress :value="10" :size="100"/>

      <h1>Switch</h1>
      <TabFilterButtons
        :buttons="statusButtons"
        @onClickButton="statusFilter"
        ref="tabFilterButtons"
      />

      <h1>Selectbox</h1>
      <select-box :options="sortOptions" title="Sırala" @onselect="onSelect"/>

      <h1>Modal</h1>
      <button @click="active=true">Modal Ac</button>
      <modal :active="active" modal-class="modal-class" @onModalClose="active=false">
        <div class="modal__header" slot="header">
          <span class="modal__icon">
            <svg-icon type="icon-notes"/>
          </span>
          <div class="modal__title">Title</div>
        </div>
        <div slot="content" v-if="active">
          test content
        </div>
        <div slot="footer" class="modal-footer">
          footer
        </div>
      </modal>

      <h1>Slide Up Down</h1>
      <button @click="showGuideSection=!showGuideSection">Slide Ac</button>
      <slide-up-down :duration="600" :active="showGuideSection">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti in ipsa nesciunt repudiandae ullam.
      </slide-up-down>

      <h1>Tab</h1>

      <tab :tabs="tabs" :current-tab="currentTab" @clickTab="tabShow">

        <tab-pane :class="{ active : currentTab === 0 }">
          tab pane 1
        </tab-pane>

        <tab-pane :class="{ active : currentTab === 1 }">
          tab pane 2
        </tab-pane>

        <tab-pane :class="{ active : currentTab === 2 }">
          tab pane 3
        </tab-pane>
      </tab>

    </container>
    <div class="min-height-500"></div>
  </div>
</template>

<script>
import Vue from 'vue'
import Tab from '@/components/Tab/Tab'
import Modal from '@/components/Modal'
import TabPane from '@/components/Tab/TabPane'
import Progress from '@/components/Progress'
import CircleProgress from '@/components/CircleProgress'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'
export default {
  components: {
    Progress,
    TabFilterButtons,
    Tab,
    TabPane,
    CircleProgress,
    Modal
  },
  data() {
    return {
      active: false,
      showGuideSection: false,
      statusButtons: [
        {
          id: 0,
          title: 'Tamamlanmış Dersler',
          completed: true
        },
        {
          id: 1,
          title: 'Tamamlanmamış Dersler',
          completed: false
        },
        {
          id: 2,
          title: 'Tüm Dersler',
          completed: null
        }
      ],
      currentTab: 0,
      tabs: [
        {
          id: 0,
          icon: 'icon-board-o',
          text: 'Çalışma Takvimim',
          active: true
        },
        {
          id: 1,
          icon: 'icon-performance-o',
          text: 'Performansım',
          active: false
        },
        {
          id: 2,
          icon: 'icon-cup-o',
          text: 'Leaderboard',
          active: false
        }
      ],
      sortOptions: [
        {
          label: 'Yeniden Eskiye',
          value: 'new',
          selected: false
        },
        {
          label: 'Eskiden Yeniye',
          value: 'old',
          selected: false
        },
        {
          label: 'Tamamlama En Yüksek',
          value: 'toLow',
          selected: false
        },
        {
          label: 'Tamamlama En Düşük',
          value: 'toHigh',
          selected: false
        }
      ],
    }
  },
  methods: {
    statusFilter (button, index) {
    },
    onSelect (button, index) {
    },
    tabShow (tab, index) {
      this.currentTab = index
    },
  }
}
</script>
