<template>
  <div class="notfound-page">
    <!-- <GradialBackground class="notfound-page__background" /> -->
    <Container>
      <main class="notfound-page-body">
        <img
          class="notfound-page-body__img"
          :src="require('../../assets/img/404-img.webp')"
          alt="Sayfa bulunamadı!"
        />
        <div class="notfound-page-body-content">
          <span class="notfound-page-body-content__title">Ooops!</span>
          <span class="notfound-page-body-content__subtitle"
            >Sayfa Bulunamadı!</span
          >
          <span class="notfound-page-body-content__text"
            >Üzgünüm aradığınız sayfa yayından kaldırılmış veya hiç
            yayınlanmamış olabilir!</span
          >
          <BaseButton
            :text="'Anasayfaya Dön'"
            :uppercase="true"
            :intent="'primary'"
            @click="$router.push('/')"
          />
        </div>
      </main>
    </Container>
  </div>
</template>

<script>
import BaseButton from '../../components/Base/BaseButton.vue'
// import GradialBackground from '../../components/GradialBackground.vue'
export default {
  components: {
    // GradialBackground,
    BaseButton,
  },

  mounted() {
    document.title = 'Sayfa Bulunamadı! | RH+ Platform'
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

.notfound-page {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background: #f2f7fd;

  &__background {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60%;
    z-index: 1;

    @include bp(tablet-m) {
      top: -10%;
      width: 150%;
    }

    @include bp(tablet-m) {
      top: -10%;
      width: 120%;
    }
  }

  &-body {
    position: relative;
    z-index: 2;
    display: flex;

    @include bp(tablet-m) {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 45%;
      height: auto;

      @include bp(tablet-m) {
        width: 75%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10rem;

      @include bp(tablet-m) {
        text-align: center;
        align-items: center;
        margin: 5rem 0 0;
        max-width: 25rem;
        width: 90%;
      }

      &__title {
        font-size: 2.5rem;
        color: $c-primary;
        font-weight: 900;
        opacity: 0.7;

        @include bp(tablet) {
          font-size: 2rem;
        }
      }

      &__subtitle {
        font-size: 2.5rem;
        font-weight: 700;
        color: $c-primary;
        line-height: 1;

        @include bp(tablet) {
          font-size: 2rem;
        }
      }

      &__text {
        display: inline-block;
        margin-top: 1rem;
        color: $c-text;
        font-size: 1.2rem;

        @include bp(tablet) {
          font-size: 1rem;
        }
      }

      & .base-button {
        margin-top: 2rem;
      }
    }
  }
}
</style>
