<template>
  <div class="home">
    <home-header />
    <div class="home__cnt">
      <container>
        <template v-if="messagesLoaded">
          <swiper :options="swiperOptions" ref="welcomeSwiper" class="welcome-swiper">
            <swiper-slide v-for="(message, index) in messageList" :key="index">
              <alert
                :bg-color="message.color"
                :icon="message.icon"
                :text="message.text"
                :type="message.type"
                :button-text="message.button_title"
                :buttonLink="message.button_link"
                :counter="message.counter_at"
                button-type="button--white"
              />
            </swiper-slide>
            <div
              class="swiper-pagination welcome-swiper-pagination"
              slot="pagination"
              v-show="showDots"
            ></div>
          </swiper>
        </template>
        <div class="ghost-home-alert" v-if="!messagesLoaded">
          <div class="ghost-home-alert__icon"></div>
          <div class="ghost-home-alert__txt"></div>
          <div class="ghost-home-alert__button"></div>
        </div>
        <home-tab />
        <router-view />
      </container>
    </div>
    <v-tour
      name="homeTour"
      :steps="steps"
      :options="optionsOfTour"
      :callbacks="tourCallbacks"
    ></v-tour>
  </div>
</template>

<script>
import HomeHeader from '@/components/Home/HomeHeader'
import HomeTab from '@/components/Home/Tab'
import Alert from '@/components/Alert'
import { mapGetters } from 'vuex'
import { toggleTour } from '../../services/user.service'
import { getWelcomeMessages } from '../../services/common.service'

export default {
  name: 'home',
  components: {
    HomeHeader,
    HomeTab,
    Alert
  },
  data() {
    return {
      swiperOptions: {
        effect: 'fade',
        grabCursor: false,
        loop: false,
        slidesPerView: 1,
        autoplay: {
          delay: 6000,
          disableOnInteraction: false,
          waitForTransition: false
        },
        virtualTranslate: true,
        pagination: {
          el: '.welcome-swiper-pagination'
        },
        speed: 400,
        autoHeight: false,
        breakpoints: {
          769: {
            autoHeight: false
          }
        }
      },
      tourCallbacks: {
        onStop: this.finishTour,
        onNextStep: this.tourNextStep
      },
      optionsOfTour: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      steps: [
        {
          target: '.custom-container.header__middle .apps-button__icon', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Uygulamalar</strong> <p class="guide-desc">Uygulamalar menüsünden Ders, Digibook ve Wordy gibi size özel içeriklerle hazırlanmış uygulamalara erişebilirsiniz.</p>`
        },
        {
          target: '.header-menu .header-menu__list .header-menu__item', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Mağaza</strong> <p class="guide-desc">remzihoca.com ürünlerine erişebilirsiniz. Platformdaki performansınız doğrultusunda size özel önerdiğimiz ürünleri görüntüleyebilir, uygulama içeriklerini tamamladığınızda yeni içerikler satın alabilrisiniz. </p>`
        },
        {
          target: '.header-menu .header-notify', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Bildirimler</strong> <p class="guide-desc">Önemli duyuruları ve uygulamalara yeni eklenen ders, ödev, kaynak gibi içerik bildirimlerini görüntüleyebilirsiniz.</p>`
        },
        {
          target: '.header-account', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Hesabım</strong> <p class="guide-desc">remzihoca.com üyeliğinizle ilgili tüm ayarlara erişebilirsiniz. Sahip olduğunuz ürünler, sipariş geçmişi ve indirim kodlarına erişebilirsiniz.</p>`
        },
        {
          target: '.user-apps', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sık Kullanılanlarım</strong> <p class="guide-desc">En çok kullandığınız 3 uygulamayı tek tıkla erişebilmek için öne çıkarabilirsiniz. Ekleme ve çıkarma yapmak için + butonuna tıklamanız yeterli.</p>`
        },
        {
          target: '.welcome-swiper', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Duyuru ve Öneriler</strong> <p class="guide-desc">Kampanya, Özel Gün, Ders Uyarıları ve Eğitim Planınız için Önerileri bu alanda görüntüleyebilirsiniz.</p>`
        },
        {
          target: '.home-tab .reading-tabitems__tab:nth-child(1)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışma Takvimi</strong> <p class="guide-desc">Haftalık ders programınızı oluşturabileceğiniz, programınıza uygulama ekleme - çıkarma yapabileceğiniz yeni çalışma takvimi ile tanışın. Çalışma takvimi tanımlanan uygulama görevlerini takip eder ve size ilerleme durumunuzu gösterir. Platform içerisindeki tüm aksiyonlarınızı kaydeder ve geriye dönük olarak size bir çalışma geçmişi sunar. Aynı zamanda tarihler üzerine takvim notlarınızı ekleyebilirsiniz.</p>`
        },
        /* {
          target: '.section-bracket:nth-child(1) button', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışma Planını Düzenle</strong> <p class="guide-desc">Katılmayı planladığınız sınav tarihini seçmekle başlayın. Düzenle butonuna tıklayarak açılan ekrandan sınav tarihi belirleyebilirsiniz. Hangi günlerde hangi uygulamaları çalışacağınızı seçerek çalışma takviminizi düzenleyebilirsiniz.</p>`,
          params: {
            placement: 'left'
          }
        }, */
        /* {
          target: '.plan-app', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışma Planı</strong> <p class="guide-desc">Belirlediğiniz sınav tarihi doğrultusunda çalışma planı size uygulama bazlı öneriler sunar. Bu tavsiyelere göre çalışma yoğunluğunuzu belirleyebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        }, */

        {
          target: '.home-tab .reading-tabitems__tab:nth-child(2)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Performans</strong> <p class="guide-desc">Çalışma performansınızı tüm detaylarıyla takip edebileceğiniz yeni performans uygulamamızla tanışın. Uygulama bazlı çalışma raporları edinebilir grup ve tarih aralıkları ile ilerleme durumunuzu görebilirsiniz. Platformda geçirdiğiniz zaman içerisinde her bir aksiyonunuzun karşılığında edindiğiniz puan ve rozet kazanımlarınızı görüntüleyebilirsiniz.</p>`
        },

        {
          target: '.home-tab .reading-tabitems__tab:nth-child(3)', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Liderlik Tablosu</strong> <p class="guide-desc">Çalışma performansınıza göre edindiğiniz puanlarla platform içerisindeki diğer kullanıcılar ile rekabet edebileceğiniz yeni liderlik tablosu uygulamamızla tanışın. Uygulama bazlı, grup ve tarih aralıkları bazında sıralamanızı takip edebilirsiniz.</p>`
        },

        {
          target: '.toolbar-list', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Kenar Çubuğu</strong> <p class="guide-desc">Ders çalışırken sürekli ihtiyacınız olabilecek uygulamalara kolay erişebilemeniz için yeni kenar çubuğu ile tanışın. Sözlük ve İpucu Havuzu uygulaması gibi hangi uygulamada olursanız olun ihtiyaç duyacağınız yardımcı uygulamalara erişebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-wordlists', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Kelime Defterim</strong> <p class="guide-desc">Yeni nesil dijital kelime defteri ile tanışın! Çalıştığınız içeriklerde yer alan kelimeleri kelime listesi oluşturarak, listelerinize kaydedebilirsiniz. Kelime listelerini İngilizce – Türkçe ya da Türkçe – İngilizce ister sesli ister yazılı olarak çalışabilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-notes', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Notlarım</strong> <p class="guide-desc">Not defteriniz her zaman yanınızda. Notları uygulama bazlı filtreyebilir, herhangi bir uygulama içerisinde çalışma yaparken not alabilirsiniz ve daha sonra notu aldığınız yere erişebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-questions', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sorularım</strong> <p class="guide-desc">Digibook uygulaması üzerinden Remzi Hoca'ya soru sorabilir, sorduğunuz soruları ve cevaplanma durumunu takip edebilirsiniz. Remzi Hoca sorunuza cevap verdiğinde Sorularım Uygulaması sizi uyarır.</p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-homeworks', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Ödevlerim</strong> <p class="guide-desc">Remzi Hoca derslerde öğrendiklerinizi pekiştirmek için etkileşimli dijital kitap uygulaması digibook üzerinde çözebileceğiniz ödevler vermektedir. Ödevleriniz ile ilgili güncelleme ve ilerlemeleri takip edebilirsiniz. </p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-dictionary', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Sözlük</strong> <p class="guide-desc">Anlamını merak ettiğiniz kelimelere hızlı arama ile erişebilir, arama geçmişinizi görüntüleyebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        },
        {
          target: '#tool-cluebank', // We're using document.querySelector() under the hood
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> İpucu Havuzu</strong> <p class="guide-desc">İhtiyaç duyduğunuz her zaman kelime yapıları ile ilgili arama yapabilir, favori ipuçlarınızı görüntüleyebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        }
      ],
      message: {},
      messagesLoaded: false,
      messageList: [],
      showDots: true
    }
  },

  watch: {
    userData(val) {
      if (val !== null && val.has_tour && !val.has_introduction) {
        this.startTour()
      }
    }
  },

  computed: {
    ...mapGetters(['userData', 'userLoaded']),

    swiper() {
      return this.$refs.welcomeSwiper.swiper
    },

    alertExist() {
      if (this.message === undefined) {
        return false
      } else {
        return Object.keys(this.message).length > 0
      }
    },

    tokenExist() {
      return localStorage.getItem('auth_token') === undefined
    },

    isLoggedIn() {
      return this.userLoaded || this.tokenExist
    }
  },

  mounted() {
    this.checkTour()
    this.$store.dispatch('rosette/getBadges')
  },

  created() {
    this.handleGetWelcomeMessages()
    this.$route.meta.title = 'Çalışma Takvimi'
    localStorage.setItem('lasttab', -1)
    localStorage.setItem('dark-mode', false)
  },

  methods: {
    checkTour() {
      if (this.userData !== null && this.userData.has_tour && !this.userData.has_introduction) {
        this.startTour()
      }
    },

    handleGetWelcomeMessages() {
      getWelcomeMessages().then((res) => {
        this.messagesLoaded = true
        if (Array.isArray(res.data.data)) {
          this.messageList = res.data.data
        } else {
          this.message = res.data.data
          this.messageList.push(res.data.data)
        }
        this.showDots = res.data.data.length > 1
      })
    },

    startTour() {
      this.$tours['homeTour'].start()
    },

    tourNextStep(step) {
      const toolbar = document.querySelector('.toolbar')
      toolbar.style.transition = '0s'
      if (step > 4 && step < 8) {
        toolbar.style.zIndex = 1
      } else {
        toolbar.style.zIndex = 2
        toolbar.style.transition = ''
      }
    },

    finishTour() {
      toggleTour('dashboard', false)
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/components/home';
@import '../../assets/scss/ghost/ghost-home-page';
</style>

<style lang="scss" scoped>
.home {
  position: relative;
}
.welcome-swiper {
  border-radius: 11px;
}
.welcome-messages-container {
  border-radius: 11px;
}
</style>
