<template>
  <section
    class="component is-leaderboard"
    :class="{ connectedError: !loaded && !loading }"
    style="background: #f0f4f8;"
  >
    <template v-if="!loaded && !loading">
      <ConnectedError />
    </template>
    <template v-if="!loaded && loading">
      <div>
        <section class="page-content-filters leaderboard-tab pt-20 pb-30 mt-0">
          <div class="page-content-filters__right mr-auto ml-0">
            <GhostVueSelect class="w300" />
            <GhostVueSelect class="w300" />
          </div>
          <div class="page-content-filters__left ml-auto">
            <GhostVueFilter class="w-100" />
          </div>
        </section>
        <GhostLeaderboard />
      </div>
    </template>
    <template v-if="loaded">
      <leaderboard-filter />
      <div class="table leaderboard-table" v-if="!loading">
        <div class="table-head row" v-if="leaderboard.data.length > 0">
          <div class="table-row__col col-md-1 p-0 d-flex justify-content-center">SIRALAMA</div>
          <div
            class="table-row__col col-md-4 d-flex justify-content-start"
          >&nbsp;&nbsp;&nbsp; AD SOYAD</div>
          <div class="table-row__col col-md-5 p-0 d-flex justify-content-start">ROZET KAZANIMLARI</div>
          <div class="table-row__col col-md-2 p-0 d-flex justify-content-center">PUAN</div>
        </div>
        <div
          class="table-row row"
          v-for="(user, index) in leaderboard.data"
          :class="{ active: leaderboard.user.id === user.id }"
          :key="`rowUser${index}`"
          @click="handleClickUser(user.id)"
          style="cursor: pointer"
        >
          <span class="star" v-if="index < 3">
            <svg-icon type="icon-star" />
          </span>
          <!-- User Degree Data -->
          <div
            class="table-row__col weight-strong -point col-md-1 p-0 d-flex justify-content-center"
          >{{ user.degree }}</div>
          <!-- End User Degree Data -->
          <!--- User Avater --->
          <div class="table-row__col p-0 leaderboard-profile col-md-4 d-flex justify-content-start">
            &nbsp;&nbsp;&nbsp;
            <figure class="table-row__col-image obj-cover">
              <img :src="`${user.avatar}`" alt="image" v-if="user.avatar" />
              <!-- FIXME: for next line, default avatar needed !alperen -->
              <img src="http://placehold.it/64x64" alt="image" v-else />
            </figure>
            {{ user.name }}
          </div>
          <!--- End User Avater --->
          <!-- User Badged Data in the systems-->
          <div class="table-row__col col-md-5 p-0 d-flex justify-content-start">
            <div class="table-row__col-results d-flex">
              <div v-if="user.badges.length > 9" class="d-flex mobile-border">
                <div
                  v-for="(badge, index) in user.badges"
                  :key="`badge${user.id}-${index}`"
                  class="d-flex align-items-center justify-content-center"
                  v-if="index < 9"
                >
                  <img
                    :src="badge.image"
                    width="43px"
                    :alt="badge.title"
                    v-tooltip="{
              content:badge.title,
                      classes: 'tooltip-singleline',
            }"
                  />
                </div>
                <div
                  v-on:click.stop="showRozetModle(user)"
                  class="totally d-flex align-items-center justify-content-center only-desktop-flex"
                >{{ user.badges.length - 9 }}</div>
                <div
                  v-on:click.stop="showRozetModle(user)"
                  class="totally d-flex align-items-center justify-content-center only-tablet-flex"
                >{{ user.badges.length - 5 }}</div>
              </div>
              <div
                v-else-if="user.badges.length > 1 && user.badges.length <= 9"
                class="d-flex mobile-border"
              >
                <div
                  v-for="(badge, index) in user.badges"
                  :key="`badge${user.id}-${index}`"
                  class="d-flex align-items-center justify-content-center"
                >
                  <img
                    :src="badge.image"
                    width="43px"
                    :alt="badge.title"
                    v-tooltip="{
              content:badge.title,
                      classes: 'tooltip-singleline',
            }"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- End User Badged Data in the systems-->
          <div
            class="table-row__col weight-strong col-md-2 p-0 d-flex justify-content-center mobile-totally-point"
          >
            <div class="only-tablet">Puan</div>
            {{ user.point }}
          </div>
        </div>
        <!-- show Where this User is if it not in the list -->
        <!--- Not Found Search results -->
        <div v-if="leaderboard.data.length <= 0">
          <EmptyContent
            class="empty-content--notfound"
            icon="icon-notfound-leaderboard"
            title="Kriterlere uygun bir sonuç bulunamadı!"
            text="Seçim yaptığınız kriterlere uygun bir sonuç bulunamadı. <br> Grup, uygulama ve zaman aralığını değiştirerek tekrar deneyin.."
          />
        </div>
        <!--- Not Found Search results -->
      </div>

      <template v-if="loading">
        <!-- FIXME: ui !alperen -->
        <GhostLeaderboard />
      </template>
      <div v-if="isUserInList && leaderboard.data.length > 0 && !loading">
        <svg-icon type="icon-dots" class="leaderboard-table-svgicon"></svg-icon>
      </div>

      <div v-if="isUserInList && leaderboard.data.length > 0 && !loading">
        <div class="table leaderboard-table yourself">
          <div
            class="table-row row"
            :key="`rowUser${index}`"
            @click="handleClickUser(leaderboard.user.id)"
            style="cursor: pointer"
          >
            <div
              class="table-row__col weight-strong -point col-md-1 p-0 d-flex justify-content-center"
            ></div>
            <div
              class="table-row__col p-0 leaderboard-profile col-md-4 d-flex justify-content-start"
            >
              &nbsp;&nbsp;&nbsp;
              <figure class="table-row__col-image">
                <img :src="leaderboard.user.avatar" alt="image" v-if="leaderboard.user.avatar" />
                <!-- FIXME: for next line, default avatar needed !alperen -->
                <img src="http://placehold.it/64x64" alt="image" v-else />
              </figure>
              {{ leaderboard.user.name }}
            </div>
            <div class="table-row__col col-md-5 p-0 d-flex justify-content-start">
              <div class="table-row__col-results d-flex">
                <div v-if="leaderboard.user.badges.length > 9" class="d-flex mobile-border">
                  <div
                    v-for="(badge, index) in leaderboard.user.badges"
                    :key="`badge${leaderboard.user.id}-${index}`"
                    class="d-flex align-items-center justify-content-center"
                    v-if="index < 9"
                  >
                    <img
                      :src="badge.image"
                      width="43px"
                      :alt="badge.title"
                      v-tooltip="{
              content:badge.title,
                      classes: 'tooltip-singleline',
            }"
                    />
                  </div>
                  <div
                    v-on:click.stop="showRozetModle(leaderboard.user)"
                    class="totally d-flex align-items-center justify-content-center only-desktop-flex"
                  >{{ leaderboard.user.badges.length - 9 }}</div>
                  <div
                    v-on:click.stop="showRozetModle(leaderboard.user)"
                    class="totally d-flex align-items-center justify-content-center only-tablet-flex"
                  >{{ leaderboard.user.badges.length - 5 }}</div>
                </div>
                <div
                  v-else-if="leaderboard.user.badges.length > 1 && leaderboard.user.badges.length <= 9"
                  class="d-flex mobile-border"
                >
                  <div
                    v-for="(badge, index) in leaderboard.user.badges"
                    :key="`badge${leaderboard.user.id}-${index}`"
                    class="d-flex align-items-center justify-content-center"
                  >
                    <img :src="badge.image" width="43px" :alt="badge.title" />
                  </div>
                </div>
              </div>
              <!-- <div class="table-row__col-results d-flex">
                <div class="d-flex mobile-border">
                  <div
                    v-for="(badge, index) in leaderboard.user.badges"
                    :key="`badge${leaderboard.user.id}-${index}`"
                    class="d-flex align-items-center justify-content-center"
                    v-if="index < 9"
                  >
                    <img :src="badge.image" width="43px" :alt="badge.title" v-tooltip="badge.title" />
                  </div>
                  <div
                    v-if="leaderboard.user.badges.length >8"
                    v-on:click.stop="showRozetModle(leaderboard.user)"
                    class="totally d-flex align-items-center justify-content-center only-desktop-flex"
                  >{{ leaderboard.user.badges.length - 8 }}</div>
                </div>
              </div>-->
            </div>
            <div
              class="table-row__col weight-strong col-md-2 p-0 d-flex justify-content-center mobile-totally-point"
            >
              <div class="only-tablet">Puan</div>
              {{ leaderboard.user.point }}
            </div>
          </div>
        </div>
      </div>
      <leaderboard-modal v-if="isDetailActive" @handleShowRozetModel="showRozetModle" />
      <leaderboard-rozet-modal
        :isActive="isModelRozetActive"
        :userData="rozetData"
        @handleModalClick="handleModalClick"
      />
    </template>
  </section>
</template>

<script>
import LeaderboardFilter from '@/components/Home/Leaderboard/Filter'
import LeaderboardModal from '@/components/Home/Leaderboard/Modal'
import LeaderboardRozetModal from '@/components/Home/Leaderboard/RozetModel'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'
import GhostLeaderboard from '@/core/Ghost/GhostLeaderboard'
import ConnectedError from '@/components/ConnectedError'
import EmptyContent from '@/components/EmptyContent'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      rozetData: null,
      isModelRozetActive: false
    }
  },
  computed: {
    ...mapGetters({
      leaderboard: 'leaderboard/leaderboard',
      loaded: 'leaderboard/loaded',
      loading: 'leaderboard/loading',
      filters: 'leaderboard/filters',
      isDetailActive: 'leaderboardDetail/isActive'
    }),
    isUserInList() {
      let isUser = this.leaderboard.data.find(el => el.id === this.leaderboard.user.id)
      // console.log('isUser:', (typeof isUser === 'undefined'), this.leaderboard.user.id)
      return typeof isUser === 'undefined'
    }
  },
  methods: {
    ...mapActions({
      getLeaderboard: 'leaderboard/getLeaderboard',
      resetState: 'leaderboard/resetState',
      resetDetailState: 'leaderboardDetail/resetState',
      setDetailUserId: 'leaderboardDetail/setId',
      setDetailActive: 'leaderboardDetail/setActive'
    }),
    handleClickUser(id) {
      this.resetDetailState()
      this.setDetailUserId(id)
      this.setDetailActive(true)
    },
    /* show the App model for the systems */
    showRozetModle(userData) {
      console.log('showRozetModle', userData)
      this.isModelRozetActive = true
      this.rozetData = userData
    },
    /* open leadership Model for the systems */
    handleModalClick(val) {
      this.isModelRozetActive = val
    }
  },
  created() {
    this.$route.meta.title = 'Liderlik Tablosu'
    this.resetState()
  },
  mounted() {
    this.getLeaderboard()
  },
  components: {
    LeaderboardFilter,
    LeaderboardModal,
    LeaderboardRozetModal,
    GhostVueSelect,
    GhostVueFilter,
    GhostLeaderboard,
    ConnectedError,
    EmptyContent
  }
}
</script>
