<template>
  <section
    class="component is-home-performance"
    :class="{ connectedError : !loaded && !loading }"
    style="background: #f0f4f8;"
  >
    <template v-if="!loaded && !loading">
      <ConnectedError />
    </template>
    <template v-if="!loaded && loading">
      <GhostHomePerformance />
    </template>
    <template v-if="loaded">
      <div class="row performance">
        <!-- Last Activites  --->
        <last-activities />
        <!-- End Last Activites  --->
        <!-- Last Awards  --->
        <last-awards />
        <!-- End Last Awards  --->
      </div>
      <hr />

      <!--App Report  --->
      <app-report />
      <!-- End App Report  --->
    </template>
  </section>
</template>

<script>
import LastActivities from '@/components/Home/performance/LastActivities'
import LastAwards from '@/components/Home/performance/LastAwards'
import AppReport from '@/components/Home/performance/AppReport'
import GhostHomePerformance from '@/core/Ghost/GhostHomePerformance'
import ConnectedError from '@/components/ConnectedError'

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'performance',
  computed: {
    ...mapGetters({
      lastActivies: 'performance/lastActivies',
      lastAwards: 'performance/lastAwards',
      appReport: 'performance/appReport',
      loaded: 'performance/loaded',
      loading: 'performance/loading'
    })
  },
  methods: {
    ...mapActions({
      getPerformanceData: 'performance/getPerformanceData',
      resetState: 'performance/resetState'
    })
  },
  created() {
    this.$route.meta.title = 'Performans'
    this.resetState()
    if (!this.loaded) {
      // console.log(
      //   'lastActivies',
      //   this.lastActivies,
      //   'lastActivies',
      //   this.lastAwards,
      //   'appReport',
      //   this.appReport
      // )
    }
  },
  mounted() {
    this.getPerformanceData()
  },
  components: {
    LastActivities,
    LastAwards,
    AppReport,
    GhostHomePerformance,
    ConnectedError
  }
}
</script>
