<template>
  <section class="component is-home-tab">
    <Calendar />
    <WorkPlan />
  </section>
</template>

<script>
import Calendar from '@/components/Calendar/Calendar'
import WorkPlan from '@/components/WorkPlan'

export default {
  components: {
    Calendar,
    WorkPlan
  }
}
</script>
