<template>
  <div id="app" :class="[headerClass, applyDarkMode]" @contextmenu.prevent>
    <div
      id="nav"
      class="header-nav"
      v-if="headerVisible"
      :class="[
        this.showToolbar ? 'toolbar-active' : '',
        this.showOverlay ? 'active' : '',
      ]"
    >
      <Header />
    </div>
    <!-- </transition> -->
    <Toolbar v-if="this.isAuthenticated" />
    <div
      class="wrapper"
      :class="[this.$route.name, { 'wrapper--dark': getDarkMode }]"
    >
      <!-- <transition name="fade-fast" mode="out-in"> -->
      <router-view />
      <!-- </transition> -->
    </div>

    <!-- <transition name="fade-up"> -->
    <Footer
      v-if="
        this.showHeader ||
          $route.name === 'Login' ||
          'register' ||
          'reset-password'
      "
      :class="[$route.name, { 'dark-mode': getDarkMode }]"
    />
    <!-- </transition> -->

    <rosette />

    <WordBoxOthers />

    <AddNewWordModal />

    <Error :status="responseStatusCode" v-if="showErrorPage" />

    <HintsModal
      v-if="clueModal.isActive"
      :modal="clueModal"
      @handler="handleClueModal"
      :class="{ 'is-dark': getDarkMode }"
    />

    <modal
      :active="announcementVisible"
      modal-class="plan-modal feedback-modal announcement-modal"
      @onModalClose="hideAnnouncementModal"
    >
      <div class="plan-modal-header" slot="header">
        <div class="plan-modal-header__title">
          {{ activeNotification.title }}
        </div>
      </div>
      <div class="plan-modal__content" slot="content">
        <div
          class="announcement-modal__txt"
          v-html="activeNotification.content"
        ></div>
      </div>
      <div class="announcement-modal__footer" slot="footer">
        <VueButton text="Tamam" @click.native="hideAnnouncementModal" primary />
      </div>
    </modal>

    <modal
      :active="feedbackModalVisible"
      modal-class="plan-modal feedback-modal"
      @onModalClose="hideFeedbackModal"
    >
      <div class="plan-modal-header" slot="header">
        <div class="plan-modal-header__title">Geri Bildirim</div>
        <div class="plan-modal-header__txt">
          Size daha iyi hizmet verebilmemiz ve diğer katılımcılarımıza yol
          gösterebilmek için eğitimlerimiz ve sistemimiz hakkında görüşlerinizi
          bizimle paylaşmak ister misiniz?
        </div>
      </div>
      <div class="plan-modal__content" slot="content">
        <div class="feedback__wrp">
          <div class="feedback__title">Değerli Yorum ve Görüşleriniz</div>
          <div class="f-textarea">
            <div class="f-input--content">
              <textarea
                name
                cols="30"
                placeholder="Yorumunuz"
                rows="15"
                v-model="feedbackText"
              ></textarea>
            </div>
          </div>
          <label class="checkbox t-checkbox">
            <input
              type="checkbox"
              class="checkbox__input"
              v-model="feedbackCheck"
            />
            <span class="checkbox__box">
              <span class="icon-font">
                <svg-icon type="icon-check" />
              </span>
            </span>
            <span class="checkbox__txt">
              Bu geri bildirimin www.remzihoca.com websitesinde paylaşılmasına
              izin veriyorum.
            </span>
          </label>
        </div>
      </div>
      <div class="plan-modal__footer" slot="footer">
        <VueButton
          class="feedback__btn"
          text="Gönder"
          @click.native="handleSendFeedback"
          :disabled="!validFeedback || sendingFeedback"
          :loading-active="sendingFeedback"
          primary
        />
      </div>
    </modal>

    <modal
      :active="communityModalVisible"
      modal-class="plan-modal rh-community-modal"
      @onModalClose="hideCommunityModal"
    >
      <div class="plan-modal-header" slot="header" @click="closeSharer()">
        <div class="plan-modal-header__title">RH+ Platform Topluluğu</div>
        <div class="plan-modal-header__txt">
          Mesajlaşma uygumalarındaki gruplarımıza katılararak diğer
          katılımcılarımızla bağlantı kurabilir, sosyal medya sayfalarımızı
          takip edebilirsiniz.
        </div>
      </div>
      <div class="plan-modal__content" slot="content">
        <div class="rh-community__wrp" v-if="communitiesLoaded">
          <div
            class="rh-community__group"
            v-for="(community, index) in communities.social"
            :key="index"
          >
            <div class="rh-community__subtitle">
              <hr />
              <span>{{ community.title }}</span>
              <hr />
            </div>
            <div class="rh-community__outer">
              <div
                class="rh-community__table"
                v-for="(link, $index) in community.links"
                :key="$index"
              >
                <div
                  v-if="shareItem === link"
                  @click="closeSharer()"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2"
                ></div>
                <div class="rh-community__item rh-community__title">
                  {{ link.title }}
                </div>
                <div class="rh-community__item rh-community__link">
                  <div class="share-popup__link">
                    <div class="share-popup__copy-link" ref="text">
                      {{ link.link }}
                    </div>
                    <div class="share-popup__copy-btn">
                      <button
                        class="button button--text"
                        type="button"
                        @click="copyLink(link.link)"
                      >
                        <span class="button__wrp">
                          <span class="button__txt" :ref="`button${$index}`"
                            >Kopyala</span
                          >
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="rh-community__item rh-community__social">
                  <v-button
                    class="default rh-community__share-btn"
                    icon-position="left"
                    title="Paylaş"
                    @click.native="socialShare(link)"
                  />
                  <transition name="scale-fade-fast" mode="out-in">
                    <div
                      class="rh-community__dropdown"
                      v-if="sharingLinks === link.shareLinks"
                      v-on-clickaway="closeShareMenu"
                    >
                      <v-button
                        v-for="(item, key, index) in link.shareLinks"
                        :key="index"
                        class="default mb-10 tt-cap"
                        icon-position="left"
                        :title="key"
                        @click.native="socialShareItem(item)"
                      />
                    </div>
                  </transition>
                </div>
                <div class="rh-community__item rh-community__share ml-auto">
                  <v-button
                    class="default rh-community__share-btn"
                    @click.native="toggleSend(link)"
                    icon-position="left"
                    title="Gönder"
                  />
                  <transition name="scale-fade-fast" mode="out-in">
                    <div
                      class="rh-community__dropdown"
                      v-if="sendLinkItem === link"
                      v-on-clickaway="closeSendLink"
                    >
                      <v-button
                        class="default mb-10 tt-up"
                        icon-position="left"
                        title="Telefonuma Gönder"
                        v-if="hasPhone"
                        @click.native="sendLink(link.id, 'phone')"
                      />
                      <v-button
                        class="default"
                        icon-position="left"
                        title="E-Posta Gönder"
                        @click.native="sendLink(link.id, 'email')"
                      />
                    </div>
                  </transition>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rh-community__group"
            v-for="(community, index) in communities.group"
            :key="index"
          >
            <div class="rh-community__subtitle">
              <hr />
              <span>{{ community.title }}</span>
              <hr />
            </div>
            <div class="rh-community__outer">
              <div
                class="rh-community__table"
                v-for="(link, $index) in community.links"
                :key="$index"
              >
                <div
                  v-if="shareItem === link"
                  @click="closeSharer()"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2"
                ></div>
                <div class="rh-community__item rh-community__title">
                  {{ link.title }}
                </div>
                <div class="rh-community__item rh-community__link in-groups">
                  <div class="share-popup__link">
                    <div class="share-popup__copy-link" ref="text">
                      {{ optimizedShareLink(link.link) }}
                    </div>
                    <div class="share-popup__copy-btn">
                      <button
                        class="button button--text"
                        type="button"
                        @click="copyLink(link.link)"
                      >
                        <span class="button__wrp">
                          <span class="button__txt" :ref="`button${$index}`"
                            >Kopyala</span
                          >
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="rh-community__item rh-community__share ml-auto">
                  <v-button
                    class="default rh-community__share-btn"
                    @click.native="toggleShare(link)"
                    icon-position="left"
                    title="Gönder"
                  />
                  <transition name="scale-fade-fast" mode="out-in">
                    <div
                      class="rh-community__dropdown is-upside"
                      v-if="shareItem === link"
                      v-on-clickaway="closeShareMenu"
                    >
                      <v-button
                        class="default mb-10"
                        icon-position="left"
                        title="Telefonuma Gönder"
                        v-if="hasPhone"
                        @click.native="sendLink(link.id, 'phone')"
                      />
                      <v-button
                        class="default"
                        icon-position="left"
                        title="E-Posta Gönder"
                        @click.native="sendLink(link.id, 'email')"
                      />
                    </div>
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rh-community__wrp" v-else>
          <ghostCommunity />
        </div>
      </div>
    </modal>
    <div
      class="overlay"
      v-if="this.isAuthenticated"
      :class="[this.showOverlay ? 'active' : '']"
      @click="hideOverlay"
    ></div>
    <div
      class="overlay"
      v-if="this.isAuthenticated"
      :class="{ active: showOverlayAlt }"
    ></div>
    <!--this.showToolbar ? 'toolbar-active' : ''-->

    <modal
      :active="firstTimer"
      modal-class="available-modal"
      @onModalClose="hideFirstTimerModal"
    >
      <div slot="content">
        <swiper
          :options="swiperOption"
          ref="firstTimerSwiper"
          @reachEnd="handleSlideEnd"
        >
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Yeni RH+ Platform‘a Hoş Geldiniz!
              </div>
              <div class="available__txt">
                <span>
                  Size daha iyi bir eğitim deneyimi sunabilmek için
                  platformumuzu sürekli geliştiriyoruz. Yepyeni bir deneyim
                  sunan RH+ Platform Beta Sürümüyle karşınızda!
                </span>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-1.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Yeni <span>Kelime Defteri</span> ile Tanışın!
              </div>
              <div class="available__txt">
                Yeni Nesil Dijital Kelime Defteri uygulamamız ile çalıştığınız
                kelimelerinizi kelime listelerine ekleyebilir, ister sesli ister
                yazılı olarak çalışabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-2.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content wordy">
              <div class="available__icon">
                <img src="../src/assets/img/app-wordy-white.svg" alt />
              </div>
              <div class="available__title">
                <span>Yeni Wordy</span> En Baştan Tasarlandı
              </div>
              <div class="available__txt">
                Yeni Wordy ile kelimeleri, collocation ve preposition
                kullanımları ile birlikte daha etkin şekilde öğrenebilir,
                performans bölümünde kelimelerinizi yönetebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-3.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content lesson">
              <div class="available__icon">
                <img src="../src/assets/img/app-lesson-white.svg" alt />
              </div>
              <div class="available__title">
                <span>Dersler</span>
                Hep Yanında
              </div>
              <div class="available__txt">
                Yeni Ders Uygulaması ile dilediğiniz yerden, istediğiniz zaman
                derslerinize katılabilir, size özel hazırlanmış içeriklerle
                nitelikli ve eksiksiz bir eğitim alabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-4.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content digibook">
              <div class="available__icon">
                <img src="../src/assets/img/app-digibook-white.svg" alt />
              </div>
              <div class="available__title">
                <span>Digibook</span>
                Baştan Aşağı Yenilendi
              </div>
              <div class="available__txt">
                Yeni Digibook ile çalışmalarınızı interaktif dijital
                kitaplarımız üzerinde sürdürebilir, kişisel performansınızı
                kolaylıkla takip edebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-5.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                <span>Performansınızı</span> Yakından Takip Edin
              </div>
              <div class="available__txt">
                Yeni Performans uygulaması ile kişisel performansınızı uygulama
                bazlı olarak ayrıntılı şekilde inceleyebilir, eksiklerinizi geç
                olmadan giderebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top with-no-padding">
              <img
                src="../src/assets/img/rh-is-available-6.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                <span>Çalışma Geçmişiniz</span> Tek Bir Takvimde
              </div>
              <div class="available__txt">
                Yeni Çalışma Takvimi ile derslerinizi, test, deneme ve okuma
                gibi uygulama bazlı çalışmalarınızı kişisel takviminiz üzerinden
                yönetebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-7.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                <span>Liderlik Tablosu</span> ile Tanışın
              </div>
              <div class="available__txt">
                Yeni Liderlik Tablosu ile RH+ Platform'da zirveye oynayanları
                izleyerek ilham alabilir ya da zirveye çıkarak yeni başlayanlara
                ilham olabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/rh-is-available-8.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Yeni
                <span>Rozet Sistemi</span> ile Tanışın
              </div>
              <div class="available__txt">
                Yeni Rozet Sistemi ile eğitim süreciniz keyifli bir hale
                dönüşüyor. Görevleri yerine getirerek hem motivasyonunuzu
                arttırabilir hem de sürpriz ödüller kazanabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <div
            class="swiper-button-next"
            slot="button-next"
            v-if="!swipingFinished"
          >
            <svg-icon type="icon-arrow-long-right" />
          </div>
          <div
            class="swiper-button-finish"
            slot="button-prev"
            v-if="swipingFinished"
            @click="hideFirstTimerModal"
          >
            <svg-icon type="icon-arrow-long-right" />
          </div>
          <div class="swiper-pagination" slot="pagination"></div>

          <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
        </swiper>
      </div>
    </modal>

    <modal
      :active="hasWordbookIntro"
      modal-class="available-modal"
      @onModalClose="hideWordbookIntroModal"
    >
      <div slot="content">
        <swiper
          :options="swiperOption"
          ref="wordbookSwiper"
          @reachEnd="handleWordbookIntroFinished"
        >
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-1.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Yeni <span>Kelime Defterim</span> ile Tanışın!
              </div>
              <div class="available__txt">
                <span>
                  Sesli ve yazılı olarak kelime çalışmanız için geliştirdiğimiz
                  Yeni Nesil Dijital Kelime Defteri Uygulamamız ile tanışın.
                  Kelime Defterim Uygulamamıza istediğiniz zaman kenar
                  çubuğundan erişebilirsiniz.
                </span>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-2.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Kelime listeleri <span>oluştur!</span>
              </div>
              <div class="available__txt">
                Kendinize özel kelime listeleri ile öğrenme ihtiyacınızı
                kişiselleştirebilirsiniz. Kendinize özel kelime listeleri
                oluşturabilir, listelerinizi herkese açık yaparak diğer
                kullanıcıların kullanımına sunabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-3.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Yeni kelimeler <span>keşfet!</span>
              </div>
              <div class="available__txt">
                Diğer kullanıcıların oluşturduğu listeleri Keşfet bölümünde
                görerek takip edebilir, daha fazla kelime, collocation ve
                preposition çalışabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-4.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Tüm içeriklerden <span>kelime ekle!</span>
              </div>
              <div class="available__txt">
                Okuma, Digibook, Wordy, Test, Deneme gibi uygulamalarımız
                içerisinde çalıştığınız içeriklerde yer alan, öğrenmek
                istediğiniz kelimeleri kelime listelerinize ekleyebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-5.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                İstediğin yönde <span>kelime çalış!</span>
              </div>
              <div class="available__txt">
                Çalışma alanında, Türkçeden İngilizceye yada İngilizceden
                Türkçeye her iki yönde, dilediğiniz alanı gizleyerek kelime
                çalışabilir, öğrenme hızınızı artırabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-6.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                <span>Dinleme becerini</span> geliştir
              </div>
              <div class="available__txt">
                Kelimelerin doğru telaffuzlarını duyarak hem dinleme becerinizi
                geliştirmiş olursunuz hem de kelime öğrenme sürecini
                hızlandırmış olursunuz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-7.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Kelime <span>bilme durumunu</span> takip et!
              </div>
              <div class="available__txt">
                Doğru - Yanlış butonları ile hangi kelimeleri öğrenmekte güçlük
                çektiğinizi görebilir, zor öğrenilen yapılara
                odaklanabilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="available__top">
              <img
                src="../src/assets/img/wordbook/wordbook-8.jpg"
                class="available__img"
                alt
              />
            </div>
            <div class="available__content">
              <div class="available__title">
                Ne kadar <span>tekrar ettiğini</span> öğren!
              </div>
              <div class="available__txt">
                Her bir kelimenin anlamını görüntülediğinizde tekrar sayınız
                artar. Tekrar sayısı ile her kelimeyi ne kadar tekrar ettiğinizi
                takip edip, tekrarlama sıklığını görebilirsiniz.
              </div>
            </div>
          </swiper-slide>
          <div
            class="swiper-button-next"
            slot="button-next"
            v-if="!wordbookSwipingFinished"
          >
            <svg-icon type="icon-arrow-long-right" />
          </div>
          <div
            class="swiper-button-finish"
            slot="button-prev"
            v-if="wordbookSwipingFinished"
            @click="hideWordbookIntroModal"
          >
            <svg-icon type="icon-arrow-long-right" />
          </div>
          <div class="swiper-pagination" slot="pagination"></div>

          <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
        </swiper>
      </div>
    </modal>
    <div class="system-unavailable" v-if="systemUnavailable">
      <NoConnection />
    </div>

    <!-- <div
      v-if="altinOrumcekNotification"
      class="altin-orumcek"
      :class="{ '--is-authorized': isAuthorized }"
    >
      <h4 class="altin-orumcek__title" v-if="isAuthorized">
        Altın Örümcek Web Ödülleri "Eğitim" kategorisinde finaldeyiz!
      </h4>
      <p class="altin-orumcek__text" v-html="altinOrumcekText" />
      <BaseButton
        :icon="`close`"
        :intent="``"
        :iconSize="12"
        :styling="`circle`"
        class="altin-orumcek--close"
        @click="altinOrumcekNotification = false"
      />
    </div> -->
  </div>
</template>

<script>
import Rosette from '@/components/Rosette/index'
import { mapGetters } from 'vuex'
import {
  SHOW_OVERLAY,
  SHOW_ACCOUNT_DROPDOWN,
  SHOW_WORDY_RESULTS,
  SHOW_KEYPRESS,
  SHOW_APPS,
  SHOW_NOTIFICATIONS,
  SHOW_TOOLBAR,
} from '@/store/actions.type'
import Header from '@/components/Header/Header'
import Toolbar from '@/components/Toolbar/Toolbar'
import Footer from '@/components/Footer'
import Modal from '@/components/Modal'
import ghostCommunity from '@/core/Ghost/ghostCommunity'
import VueButton from '@/core/VueButton'
import {
  DELETE_MODAL,
  SHOW_GROUPS,
  GET_USER,
  SHOW_FEEDBACK_MODAL,
  SHOW_COMMUNITY_MODAL,
  COMMUNITIES_SEND,
  TOGGE_FIRST_TIME,
  HANDLE_WORDBOOK_INTRO,
  SWITCH_DARKMODE,
} from './store/actions.type'
import { SET_HIGHLIGHT_TEXT } from './store/mutations.type'
import { mixin as clickaway } from 'vue-clickaway'
import { checkConnection, sendFeedback } from './services/common.service'
import WordBoxOthers from './components/WordBoxOthers.vue'
import AddNewWordModal from '@/components/WordBook/Plugin/AddNewWordModal'
import HintsModal from './components/Deneme/Report/HintsModal.vue'
import { modalControlsMixin } from './mixins/modal-controls.mixin'
import Error from './components/Error/Error.vue'
import NoConnection from './components/Error/NoConnection.vue'
// import BaseButton from './components/Base/BaseButton.vue'

export default {
  name: 'app',
  mixins: [clickaway, modalControlsMixin],
  components: {
    WordBoxOthers,
    Header,
    Toolbar,
    Footer,
    Rosette,
    Modal,
    VueButton,
    ghostCommunity,
    AddNewWordModal,
    HintsModal,
    Error,
    NoConnection,
    // BaseButton,
  },
  data() {
    return {
      altinOrumcekNotification: true,
      fadeRoute: '',
      feedbackText: '',
      feedbackCheck: false,
      sendingFeedback: false,
      sendLinkItem: null,
      shareItem: null,
      sharingText: '',
      socialShareOpen: false,
      sharingLinks: null,
      swiperOption: {
        effect: 'fade',
        grabCursor: false,
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true,
        },
        centeredSlides: true,
        keyboard: true,
        slidesPerView: '1',
        speed: 500,
        autoHeight: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      firstTimeSwiper: null,
      wordbookSwiper: null,
      swipingFinished: false,
      wordbookSwipingFinished: false,
      isLoggedIn: false,
      headerVisible: true,
      onLine: null,
      onlineSlot: 'online',
      offlineSlot: 'offline',
      offlineInterval: null,
      checking: false,
    }
  },

  computed: {
    ...mapGetters([
      'headerClass',
      'appsLoaded',
      'isAuthorized',
      'showToolbar',
      'showOverlay',
      'showOverlayAlt',
      'isAuthenticated',
      'showHeader',
      'showPreloader',
      'pageClass',
      'getDarkMode',
      'userLoaded',
      'fetchingData',
      'feedbackModalVisible',
      'communityModalVisible',
      'communities',
      'communitiesLoaded',
      'hasPhone',
      'firstTimer',
      'hasHomeTour',
      'hasWordbookIntro',
      'systemUnavailable',
      'clueModal',
      'responseStatusCode',
    ]),

    ...mapGetters('notifications', [
      'activeNotification',
      'announcementVisible',
    ]),

    dataExists() {
      return this.userLoaded && this.isLoggedIn
    },

    validFeedback() {
      return this.feedbackText.length > 9
    },

    customClass() {
      let className = this.$route.meta.customClassName
      return className || ''
    },

    darkModeClass() {
      return this.getDarkMode ? 'dark-mode' : ''
    },

    applyDarkMode() {
      let path = this.$route.path
      let lastChar = path.substr(-1)
      let pathLength = path.split('/').length
      if (lastChar === '/') pathLength--
      return pathLength > 2 ? this.darkModeClass : ''
    },

    showErrorPage() {
      let hidden = [403, 404]
      console.log('status: ', hidden.indexOf(this.responseStatusCode) > -1)
      console.log('statusCode: ', this.responseStatusCode)
      return hidden.indexOf(this.responseStatusCode) > -1
    },

    altinOrumcekText() {
      return this.isAuthorized
        ? `Altın Örümcek web sitesinde yürütülen halk oylamasına katılarak bize destek olabilirsiniz. Oylama için son tarih 14 Haziran.
        <br><br>
        Halk Oylamasına katılmak için: <a href="https://www.altinorumcek.com/halk-oylamasi-19" target="_blank">www.altinorumcek.com/halk-oylamasi-19</a>`
        : `Altın Örümcek Halk Oylamasında desteklerinizi bekliyoruz. Platformumuzu
      incelemek için <b>altinorumcek@remzihoca.com</b> e-mail adresi ile
      <b>altinorumcek2021</b> şifresini kullanarak giriş yapabilirsiniz.`
    },
  },

  watch: {
    systemUnavailable(val) {
      if (val) {
        document.body.style.overflow = 'hidden'
        this.offlineInterval = setInterval(() => {
          this.checking = true
          checkConnection().then(res => {
            console.log(res.data.success)
            this.checking = false
            if (res.data.success) {
              clearInterval(this.offlineInterval)
              this.$router.push(window.location.pathname)
            }
          })
        }, 10000)
      } else {
        this.checking = false
        clearInterval(this.offlineInterval)
        this.$router.go(0)
        document.body.style.overflow = 'initial'
      }
    },

    isAuthorized: {
      handler: 'loadCoreData',
      immediate: true,
    },

    hasWordbookIntro(val) {
      if (val) {
        this.$nextTick(() => {
          this.wordbookSwiper = this.$refs.wordbookSwiper.swiper
        })
      }
    },

    firstTimer(val) {
      if (val) {
        this.$nextTick(() => {
          this.firstTimeSwiper = this.$refs.firstTimerSwiper.swiper
        })
      }
    },

    communityModalVisible(val) {
      if (!val) this.closeSendLink()
    },

    $route: {
      immediate: true,
      handler(to, from) {
        this.headerVisible = to.meta.headerShow
        if (to.meta.title !== undefined) {
          document.title = to.meta.title + ' | RH+ Platform'
        }
      },
    },
  },

  created() {
    this.headerVisible = this.$route.meta.headerShow
    this.handleTheme()
  },

  mounted() {
    this.checkMobileView()
  },

  methods: {
    optimizedShareLink(link) {
      console.log('link: ', link)
      return link.replace('https://', '')
    },

    handleTheme() {
      const mode = localStorage.getItem('dark-mode') === 'true'
      this.$store.dispatch(SWITCH_DARKMODE, mode)
    },

    checkMobileView() {
      let isMobile = window.innerWidth < 768
      this.$store.commit('setMobileView', isMobile)
      window.addEventListener('resize', e => {
        isMobile = e.target.innerWidth < 768
        this.$store.commit('setMobileView', isMobile)
      })
    },

    loadCoreData(val) {
      if (val) {
        if (!this.userLoaded) this.$store.dispatch(GET_USER)
        this.$store.dispatch('notifications/getNotifications')
      }
    },

    handleSlideEnd() {
      this.swipingFinished = true
    },

    handleWordbookIntroFinished() {
      this.wordbookSwipingFinished = true
    },

    hideAnnouncementModal() {
      this.$store.dispatch('notifications/showAnnouncement', false)
    },

    hideWordbookIntroModal() {
      this.$store.dispatch('toolbar/setActiveTool', 0)
      this.$store.dispatch(SHOW_TOOLBAR, true)
      this.$store.dispatch(SHOW_OVERLAY, true)
      this.$store.dispatch(HANDLE_WORDBOOK_INTRO, false)
      if (this.hasHomeTour) {
        setTimeout(() => {
          this.$tours['homeTour'].start()
        }, 1000)
      }
    },

    hideFirstTimerModal() {
      this.$store.dispatch(TOGGE_FIRST_TIME, false)
      if (this.hasHomeTour && !this.hasWordbookIntro) {
        setTimeout(() => {
          this.$tours['homeTour'].start()
        }, 1000)
      }
    },

    closeShareMenu() {
      this.sharingLinks = null
      this.shareItem = null
    },

    socialShare(item) {
      this.socialShareOpen = true
      this.sharingText = item.link
      this.sharingLinks = item.shareLinks
    },

    socialShareItem(el) {
      const features = 'menubar=no, location=yes, height=540, width=680'
      window.open(el, '_blank', features)
      this.sharingLinks = null
    },

    closeSendLink() {
      this.sendLinkItem = null
    },

    sendLink(id, method) {
      this.$store
        .dispatch(COMMUNITIES_SEND, { linkId: id, method: method })
        .then(res => {
          if (res.status === 200) {
            this.$swal.fire({
              toast: true,
              timer: 3000,
              position: 'top-end',
              title: 'Link başarıyla gönderildi.',
              icon: 'success',
              showConfirmButton: false,
            })
            this.sendLinkItem = null
          }
        })
    },

    hideOverlay() {
      this.$store.dispatch(SHOW_OVERLAY, false)
      this.$store.dispatch(SHOW_ACCOUNT_DROPDOWN, false)
      this.$store.dispatch(SHOW_WORDY_RESULTS, false)
      this.$store.dispatch(SHOW_KEYPRESS, false)
      this.$store.dispatch(SHOW_APPS, false)
      this.$store.dispatch(SHOW_NOTIFICATIONS, false)
      this.$store.dispatch(SHOW_GROUPS, false)
      this.$store.dispatch('store/handleCartVisible', false)
      this.$store.commit(SET_HIGHLIGHT_TEXT, {
        text: '',
        status: true,
      })

      if (this.$store.getters.modalOpen) {
        this.$store.dispatch(SHOW_TOOLBAR, true)
        this.$store.dispatch(DELETE_MODAL, false)
      } else {
        this.$store.dispatch(SHOW_TOOLBAR, false)
      }
    },

    handleSendFeedback() {
      this.sendingFeedback = true
      let feedbackToggler = this.feedbackCheck ? 1 : 0
      sendFeedback({
        message: this.feedbackText,
        isPublic: feedbackToggler,
      }).then(res => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          position: 'top-end',
          title: res.data.message,
          icon: 'success',
          showConfirmButton: false,
        })
        this.sendingFeedback = false
        this.feedbackText = ''
        this.feedbackCheck = false
        this.$store.dispatch(SHOW_FEEDBACK_MODAL, false)
      })
    },

    hideCommunityModal() {
      this.$store.dispatch(SHOW_COMMUNITY_MODAL, false)
    },

    hideFeedbackModal() {
      this.$store.dispatch(SHOW_FEEDBACK_MODAL, false)
    },

    toggleShare(item) {
      if (this.shareItem === item) {
        this.shareItem = null
      } else {
        this.shareItem = item
      }
    },

    toggleSend(item) {
      if (this.sendLinkItem === item) {
        this.sendLinkItem = null
      } else {
        this.sendLinkItem = item
      }
    },

    copyLink(link) {
      let textArea = document.createElement('textarea')
      textArea.value = link
      document.body.appendChild(textArea)
      textArea.select()
      document.execCommand('Copy')
      textArea.remove()
      this.$swal.fire({
        toast: true,
        timer: 3000,
        position: 'top-end',
        title: 'Link kopyalandı.',
        icon: 'success',
        showConfirmButton: false,
      })
    },
  },
}
</script>

<style lang="scss">
@import 'assets/scss/bootstrap.min';
@import 'assets/scss/normalize';
@import 'assets/scss/global';
@import 'assets/scss/darkmode';
@import 'assets/scss/helpers';
@import 'assets/scss/components/buttons';
@import 'assets/scss/animate';
@import '@/assets/scss/components/empty-content';

.tt-cap {
  text-transform: capitalize;
}

.available-modal {
  .swiper-slide {
    opacity: 0 !important;
    &-active {
      opacity: 1 !important;
    }
  }
}

.scale-fade-fast-enter-active {
  transition: all 0.15s ease-in-out;
}

.scale-fade-fast-leave-active {
  transition: all 0.1s ease-in-out;
}

.scale-fade-fast-enter {
  transform: scale(1.02);
  opacity: 0;
  pointer-events: none;
}

.scale-fade-fast-leave-to {
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}
</style>

<style lang="scss" scoped>
.rh-community {
  &__dropdown {
    &.is-upside {
      top: calc(-330% + 15px);

      &:before {
        top: initial;
        bottom: -7.5px;
      }
    }
  }

  &__wrp {
    padding-bottom: 25px;
  }

  &__table {
    max-width: 100%;
  }

  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px;
  }

  &__title {
    flex-basis: auto;
    max-width: 20%;
  }

  &__link {
    flex-basis: auto;
    max-width: 45%;

    &.in-groups {
      max-width: 62%;
    }
  }

  &__social {
    flex-basis: auto;
  }
}

.share-popup {
  &__link {
    width: 100%;
    overflow: initial;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0 8px;
    height: 36px;
  }

  &__copy-link {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #556490;
  }
}
</style>

<style lang="scss" scoped>
@import '@/assets/scss/_variables';
.altin-orumcek {
  position: fixed;
  z-index: 9999;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 10px 16px 0px rgba(41, 53, 108, 0.08);
  bottom: 1.5rem;
  left: 1.5rem;
  padding: 1.5rem;
  width: 25rem;

  &.--is-authorized {
    left: 6rem;

    @include bp(tablet) {
      left: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0 0 1rem;
    color: $c-secondary;

    @include bp(tablet) {
      font-size: 1rem;
      margin: 0 0 0.75rem;
    }
  }

  &__text {
    color: $c-text-dark;
    font-size: 1rem;

    &::v-deep > br {
      display: block;
      margin: 0.25rem 0;
    }

    @include bp(tablet) {
      font-size: 0.875rem;
    }
  }

  @include bp(tablet) {
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -10px 16px 0px rgba(41, 53, 108, 0.08);
    border-radius: 0;
    padding: 1rem 3rem 1rem 1rem;
  }

  &::v-deep &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    background: $c-bgmain;
    padding: 1rem;
  }
}
</style>
