<script>
import * as http from '../../services/documents.service'
import { toggleTour } from '../../services/user.service'
import { mapActions, mapGetters } from 'vuex'

import GhostAppHeader from '@/core/Ghost/GhostAppHeader'
import GhostVueFilter from '@/core/Ghost/GhostVueFilter'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import GhostVueSearch from '@/core/Ghost/GhostVueSearch'
import DocumentsGhost from '@/core/Ghost/GhostDocumentItem'

import AppHeader from '@/core/AppHeader'
import AppFilters from '@/components/AppFilters'
import VueFilter from '@/core/VueFilter'
import VueSelect from '@/core/VueSelect'
import VueEmpty from '@/core/VueEmpty'

import DocumentItem from '@/components/Document/DocumentItem'

export default {
  name: 'DocumentsList',
  components: {
    AppFilters,
    GhostAppHeader,
    AppHeader,
    VueFilter,
    VueEmpty,
    VueSelect,
    DocumentItem,
    DocumentsGhost,
    GhostVueSelect,
    GhostVueFilter,
    GhostVueSearch
  },
  data() {
    return {
      info: {
        name: 'documents',
        link: '/dokuman',
        title: 'Doküman',
        icon: require('@/assets/img/app-dokuman-white.svg'),
        sortIcon: require('@/assets/img/icon-sort-list-arrow.png'), // svg yüklerken webpack'ten kaynaklı sorun olduğu için şimdilik png olarak yükledim.
        background: '#cc5d46',
        gradient: 'linear-gradient(to left, rgba(204, 92, 70, 1), rgba(204, 92, 70, .0))',
        what: null,
        video: null,
        howWorks: null,
        has_tour: null
      },
      readFilterItems: [
        {
          title: 'Okundu',
          value: 1
        },
        {
          title: 'Okunmadı',
          value: 0
        },
        {
          title: 'Tümü',
          value: -1
        }
      ],
      filters: {
        groupId: null,
        categoryId: null,
        isRead: null,
        page: 1,
        search: ''
      },
      categories: [
        {
          id: -1,
          name: 'Tüm İçerikler'
        }
      ],
      groups: [],
      results: [],
      searchText: '',
      searchingNow: false,
      showResults: false,
      documentName: null,
      searchTimer: null,
      tourSteps: [
        {
          target: '.subpage-tab',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Grup Filtreleme</strong> <p class="guide-desc">Sahip olduğunuz ürün grubuna göre hesabınıza dökümanlar tanımlanır. Grup seçerek sahip olduğunuz dökümanları filtreyebilirsiniz.</p>`
        },
        /* {
          target: '.subpage-tab-more__btn',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Diğer Ürün Grupları</strong> <p class="guide-desc">Üçten fazla ürün grubuna sahipseniz diğer grupları görüntüleyebilirsiniz.</p>`
        }, */
        {
          target: '.tab-filter-search',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Arama</strong> <p class="guide-desc">Dökümanlar içerisinde arama yapmak için konu başlığını girebilirsiniz.</p>`
        },
        {
          target: '.page-content-filters__right',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Filtreler</strong> <p class="guide-desc">Dokümanlarınızı doküman türüne, okunup okunmama durumuna göre filtreleyebilirsiniz.</p>`
        },

        {
          target: '.page-content-items .docs__item:nth-child(1)',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Dökümanlar</strong> <p class="guide-desc">Hazırsanız başlayalım! Tanıtım turunu kapattıktan sonra bir dökümana tıklayarak içerisine girebilirsiniz.</p>`,
          params: {
            placement: 'right'
          }
        }
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR'
        }
      },
      tourCallbacks: {
        onStop: this.finishTour
      }
    }
  },
  computed: {
    ...mapGetters('documents', [
      'documentItems',
      'hasMore',
      'isEmpty',
      'isLoading',
      'listLoaded',
      'loadingMore'
    ]),

    groupsLoaded() {
      return this.groups.length > 0
    },

    dataLoaded() {
      return this.groupsLoaded && this.listLoaded
    },

    blankResult() {
      return this.searchingNow ? 'Aranıyor...' : 'Sonuç bulunamadı!'
    },
  },

  watch: {
    dataLoaded(data) {
      let tour = this.info.has_tour === true || this.info.has_tour === 'true'
      if (data && tour) this.startTour()
    }
  },

  created() {
    this.getHeaderData()
  },

  mounted() {
    this.setGroupFilterData()
    this.setReadFilterData()
    this.setCategoryFilterData()
    this.setDocFilters()
    this.getDocumentsList(this.filters)
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    ...mapActions('documents', ['loadNext', 'getDocumentsList', 'getDocumentsByGroup']),

    getHeaderData() {
      http.info().then(res => {
        this.groups = res.data.groups
        this.categories.push(...res.data.categories)

        this.info.what = res.data.what
        this.info.video = res.data.video
        this.info.howWorks = res.data.howWorks
        this.info.has_tour = res.data.has_tour
      })
    },

    setFilters(group, read, category, search) {
      /* Sekme değişiminde localStorage'i sıfırlıyoruz. */
      localStorage.documentsGroup = group
      localStorage.documentsRead = read
      localStorage.documentsCategory = category
      localStorage.documentsSearch = search

      /* Filtreleri localStorage verilerine eşliyoruz. */
      this.filters.groupId = localStorage.documentsGroup
      this.filters.isRead = localStorage.documentsRead
      this.filters.categoryId = localStorage.documentsCategory
      this.filters.search = localStorage.documentsSearch
    },

    setTab(tab) {
      this.filters.page = 0
      this.setFilters(tab.id, -1, -1, '')
      this.getDocumentsByGroup(this.filters.groupId)
    },

    setReadFilter(filter) {
      localStorage.documentsRead = filter
      this.filters.isRead = localStorage.documentsRead
      this.filters.page = 1
      this.getDocumentsList(this.filters)
    },

    setCategoryFilter(category) {
      localStorage.documentsCategory = category
      this.filters.categoryId = localStorage.documentsCategory
      this.filters.page = 1
      this.getDocumentsList(this.filters)
    },

    setGroupFilterData() {
      if (localStorage.documentsGroup === undefined || isNaN(localStorage.documentsGroup)) {
        localStorage.documentsGroup = -1
      }
      this.filters.lastGroup = localStorage.documentsGroup
    },

    setCategoryFilterData() {
      if (localStorage.documentsCategory === undefined) {
        localStorage.documentsCategory = -1
      }
      this.filters.categoryId = localStorage.documentsCategory
    },

    setReadFilterData() {
      if (localStorage.documentsRead === undefined || isNaN(localStorage.documentsRead)) {
        localStorage.documentsRead = -1
      }
      this.filters.isRead = localStorage.documentsRead
    },

    setDocFilters() {
      this.filters = {
        groupId: parseInt(localStorage.documentsGroup),
        categoryId: parseInt(localStorage.documentsCategory),
        isRead: parseInt(localStorage.documentsRead),
        page: 0,
        search: ''
      }
    },

    setDocumentName(val) {
      this.documentName = val
      document.title = `${this.documentName} | Doküman | RH Platform`
    },

    loadMoreItems() {
      this.filters.page++
      this.loadNext(this.filters)
    },

    findDoc(e) {
      e = e || window.event
      this.searchingNow = true
      let searchTerm = this.filters.search.toLowerCase().trim()
      if (searchTerm.length > 0) {
        this.showResults = true
        clearTimeout(this.searchTimer)
        this.searchTimer = setTimeout(() => {
          http.search(searchTerm).then(res => {
            this.searchingNow = false
            this.results = res.data
          })
        }, 1000)
      }
      if (e.keyCode === 13) {
        this.filters.page = 1
        this.showResults = false
        this.setFilters(-1, -1, -1, searchTerm)
        this.getDocumentsList(this.filters)
        localStorage.documentsSearch = this.filters.search
      }
    },

    startTour() {
      this.$tours['documentsTour'].start()
    },

    finishTour() {
      toggleTour('documents', false)
    }
  }
}
</script>

<template>
  <div class="page" :class="$route.name">
    <AppHeader
      v-if="groupsLoaded"
      :info="info"
      :groups="groups"
      :lastGroup="filters.groupId"
      @onTabClick="setTab"
    />
    <GhostAppHeader app="documents" v-else />

    <template v-if="groupsLoaded && listLoaded">
      <container class="page-container docs__container">
        <AppFilters class="page-content-filters">
          <div class="page-content-filters__left">
            <div class="tab-filter-search">
              <v-button
                class="button--circle circle-xs tab-filter-search__button"
                icon="icon-search"
                icon-position="left"
                @click.native="listResults(searchTerm)"
              />

              <input
                type="text"
                class="tab-filter-search__input"
                placeholder="Bir kaynak arayın..."
                v-model="filters.search"
                @keyup="findDoc"
                @blur="showResults = false"
              />
              <transition name="fade-up">
                <div class="docs-results" v-if="showResults">
                  <div class="docs-results__list">
                    <div v-for="result in results" :key="result.id" class="docs-results__item">
                      <router-link :to="'/dokuman/' + result.id" class="docs-results__link">
                        {{ result.name }}
                      </router-link>
                    </div>
                    <span class="docs-results__noresult" v-if="results.length === 0"
                      >{{ blankResult }}</span
                    >
                  </div>
                </div>
              </transition>
            </div>
          </div>
          <div class="page-content-filters__right">
            <VueSelect
              class="w300 status-filter__w100"
              title="Kategori Seçin"
              :sortIcon="info.sortIcon"
              :options="categories"
              :lastOption="filters.categoryId"
              @selectOption="setCategoryFilter"
              ref="categoryFilter"
            />
            <VueFilter
              :items="readFilterItems"
              :lastFilter="filters.isRead"
              @filterItems="setReadFilter"
              ref="readFilter"
            />
          </div>
        </AppFilters>
      </container>
    </template>
    <template v-else>
      <container class="page-container">
        <section class="page-content-filters">
          <div class="page-content-filters__left">
            <GhostVueSearch />
          </div>
          <div class="page-content-filters__right">
            <GhostVueSelect />
            <GhostVueFilter />
          </div>
        </section>
      </container>
    </template>

    <container class="docs__container">
      <template v-if="listLoaded && !isLoading && groupsLoaded">
        <transition-group name="card-scale-fade" class="page-content-items" tag="section">
          <template>
            <DocumentItem
              v-for="(doc, index) in documentItems"
              :key="index + 1"
              :document="doc"
              @click.native="setDocumentName(doc.title)"
            />
            <template v-if="hasMore">
              <scroll-loader
                key="scrollLoader"
                class="scroll-loader"
                :loader-method="loadMoreItems"
                :loader-enable="hasMore"
              >
                <DocumentsGhost v-for="n in 2" :key="n" />
              </scroll-loader>
            </template>
          </template>
        </transition-group>
        <!-- <div class="page__loadmore" v-if="hasMore && !isLoading">
          <VueButton
            primary
            text="Daha fazla yükle"
            :disabled="loadingMore"
            :loadingActive="loadingMore"
            @click.native="loadMoreItems"
          />
        </div>-->
      </template>
      <section class="page-content-items" v-else>
        <DocumentsGhost v-for="n in 6" :key="n" />
      </section>
      <transition name="fade-fast">
        <VueEmpty v-if="isEmpty" class="page-content-empty" />
      </transition>
    </container>
    <v-tour
      name="documentsTour"
      :steps="tourSteps"
      :options="tourOptions"
      :callbacks="tourCallbacks"
    ></v-tour>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/documents';

.docs__container {
  .status-filter__w100 {
    margin-right: 25px;
    margin-left: 15px;
    @include bp(tablet) {
      margin-right: 0;
      margin-left: 1px;
    }
  }
}
.page-content-filters {
  @include bp(tablet) {
    flex-direction: column;
  }
}
</style>
