<script>
import GhostDocsPdf from '@/core/Ghost/GhostDocsPdf'
import { SWITCH_DARKMODE } from '@/store/actions.type'
import { setPageTitle } from '@/common/helpers'
import { mapGetters } from 'vuex'
import pdfvuer from 'pdfvuer'
import * as http from '../../services/documents.service'
import { downloadHelper } from '../../common/helpers'

export default {
  name: 'DocumentsDetail',

  components: {
    pdf: pdfvuer,
    GhostPdf: GhostDocsPdf
  },

  data() {
    return {
      pdfSrc: null,
      pdfLoaded: false,
      page: 1,
      scale: 1,
      resize: false,
      isMinSize: false,
      transition: '',
      numPages: 0,
      zoom: 100,
      documentName: undefined
    }
  },

  computed: {
    ...mapGetters(['showOverlay', 'showKeypress', 'getDarkMode']),

    formattedZoom() {
      return Number.parseInt(this.scale * 100)
    }
  },

  watch: {
    documentName(val) {
      setPageTitle(val, 'Doküman', true)
    }
  },

  created() {
    this.getDocument()
  },

  mounted() {
    if (screen.width <= 768) {
      this.resize = true
    }
    this.$store.dispatch('rosette/getBadges')
  },

  methods: {
    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },

    prevPage() {
      this.page--
      this.transition = 'slide-fade-right'
    },

    nextPage() {
      this.page++
      this.transition = 'slide-fade-left'
    },

    zoomIn() {
      this.scale += 0.1
      this.isMinSize = false
    },

    zoomOut() {
      if (this.$refs.detailContent.offsetHeight > window.innerHeight - 50) {
        this.scale -= 0.1
        this.isMinSize = false
      } else {
        this.isMinSize = true
      }
    },

    print(url) {
      var iframe = this._printIframe
      if (!this._printIframe) {
        iframe = this._printIframe = document.createElement('iframe')
        document.body.appendChild(iframe)
        iframe.style.display = 'none'
        iframe.onload = function() {
          setTimeout(function() {
            iframe.focus()
            iframe.contentWindow.print()
          }, 1)
        }
      }

      iframe.src = url
    },

    getDocument() {
      http.document(this.$route.params.id).then(({ data }) => {
        this.documentName = data.title
        this.pdfSrc = data.pdfLocation
        this.pdfLoaded = true
      })
    },

    downloadPdf: downloadHelper
  }
}
</script>

<template>
  <div class="detail-page docs-detail" :class="{ 'dark-mode': getDarkMode }">
    <div class="detail-header">
      <container>
        <div class="detail-header__wrp">
          <div class="detail-ctr">
            <div class="detail-ctr__item">
              <v-button
                @click.native="setDarkMode"
                class="button--circle circle-xs simple darkmode-button"
                icon="icon-lamp"
                icon-position="left"
                v-tooltip="'Gece Modu'"
              />
            </div>
          </div>
          <div class="docs-detail__cnt" ref="detailContent">
            <div class="button-left-right" v-if="pdfLoaded">
              <v-button
                class="button--circle simple docs-detail__arrow prev"
                icon="icon-arrow-left"
                icon-position="left"
                @click.native="prevPage"
                :disabled="page === 1 || page === null"
              />

              <v-button
                class="button--circle simple docs-detail__arrow next"
                icon="icon-arrow-right"
                icon-position="left"
                @click.native="nextPage"
                :disabled="page === numPages"
              />
            </div>
            <div class="docs-detail__item">
              <pdf
                v-if="pdfLoaded"
                class="docs-detail__img"
                ref="pdfDocument"
                :src="pdfSrc"
                :page="page"
                :scale="scale"
                :resize="resize"
              ></pdf>
              <GhostPdf v-else />
            </div>
          </div>
          <div class="detail-right">
            <v-link
              class="simple xs icon-xs round detail-close"
              :to="{ name: 'DocumentsList', params: { memorize: true } }"
              title="KAPAT"
              icon="icon-close"
              icon-position="right"
            />
            <div class="docs-detail__ctr only-desktop">
              <v-button
                class="button--circle simple normal-fontsize"
                icon="icon-plus"
                icon-position="left"
                @click.native="zoomIn"
                v-tooltip="'Büyült'"
              />
              <v-button
                class="button--circle simple normal-fontsize"
                icon="icon-dash"
                icon-position="left"
                @click.native="zoomOut"
                :disabled="isMinSize"
                v-tooltip="'Küçült'"
              />
            </div>

            <div class="docs-detail__bottom--right only-desktop">
              <div
                @click="downloadPdf(pdfSrc, documentName)"
                class="button button--circle purple shadow-none tooltip-btn normal-fontsize"
                v-tooltip="'İndir'"
              >
                <span class="button__wrp">
                  <span class="button__icon">
                    <dynamic-icon type="icon-download" />
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/components/detail';
@import '@/assets/scss/components/keyboard-info';
</style>
