<script>
import { mapActions } from 'vuex'
import BaseIcon from '../../Base/BaseIcon'

export default {
  name: 'DigibookStaticPicker',
  props: {
    item: {
      type: Object,
      required: true,
      default: () => {},
    },
  },
  components: {
    Icon: BaseIcon,
  },

  methods: {
    ...mapActions({
      setActiveStatus: 'digibookContent/handleActiveStatus',
      showContentList: 'digibook/index/handleContentListVisibility',
      setActiveStaticContent: 'digibook/index/handleActiveStaticContent',
      setContentTitle: 'digibook/handleContentTitle',
      setSelectionTitle: 'digibook/index/handleSelectionTitle',
      setContent: 'digibook/statics/handleContent',
    }),

    goDetail(item) {
      this.setActiveStatus(true)
      this.showContentList(false)
      this.setActiveStaticContent(item.link)
      this.setContentTitle(item.name)
      this.setContent(item.link)
      this.setSelectionTitle({
        type: null,
        text: item.name,
      })
      if (!this.isSameRoute(item.link)) {
        this.$router.push({
          name: 'DigibookStatic',
          params: { content: item.link },
        })
      }
    },

    isSameRoute(link) {
      return this.$route.params.content === link
    },
  },
}
</script>

<template>
  <div
    class="static-picker"
    @click="goDetail(item)"
    :class="{ active: isSameRoute(item.link) }"
  >
    <div class="static-picker-icon">
      <Icon class="static-picker-icon__icon" icon-name="info" />
    </div>
    <span class="static-picker-name">{{ item.name }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.static-picker {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-border-light);
  transition: color 0.3s, border-bottom 0.3s;

  @include bp(tablet) {
    padding: 0.75rem 1rem;
  }

  &:hover {
    color: var(--color-primary);
    background: var(--background-color-light);

    .static-picker-name {
      color: var(--color-primary);
      transition: color 0.3s;
    }
  }

  &.active {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--background-color-light) 5%,
      var(--background-color-light) 95%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &-icon {
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      height: 2rem;

      @include bp(tablet) {
        height: 1.4rem;
      }
    }

    @include bp(tablet) {
      flex: 0 0 1.4rem;
    }
  }

  &-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-secondary);

    @include bp(tablet) {
      margin-left: 1rem;
      font-size: 1.1rem;
    }
  }
}
</style>
