<script>
import DigibookExercisePicker from './DigibookExercisePicker.vue'

export default {
  name: 'DigibookIndexExercises',

  components: {
    Picker: DigibookExercisePicker,
  },

  props: {
    exercise: {
      type: Object,
      default: () => {},
      required: true,
    },
  },
}
</script>

<template>
  <div class="exercise-list">
    <h3 class="exercise-list__title">{{ exercise.title }}</h3>
    <p class="exercise-list__text">{{ exercise.text }}</p>
    <nav class="exercise-list-items">
      <div
        class="exercise-list-items__item"
        v-for="content in exercise.contents"
        :key="content.id"
      >
        <Picker
          :item="content"
          :exercise-id="exercise.id"
          :heading="exercise.title"
        />
      </div>
    </nav>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.exercise-list {
  padding: 2rem;
  user-select: none;

  @include bp(tablet) {
    padding: 1.3rem 1rem;
  }

  & + & {
    border-top: 1px solid var(--color-border-light);
    transition: border-top 0.3s;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    color: var(--color-primary);

    @include bp(tablet) {
      font-size: 1.3rem;
    }
  }

  &__text {
    color: var(--color-secondary);
    opacity: 0.8;
    margin-top: 0.5rem;

    @include bp(tablet) {
      font-size: 0.9rem;
      margin-top: 0.25rem;
    }
  }

  &-items {
    margin-top: 1rem;
    padding: 0.5rem 0.75rem 0.25rem;
    background: var(--background-color-light);
    transition: background 0.3s;
    border-radius: 1rem;

    @include bp(tablet) {
      border-radius: 0.75rem;
      padding: 0.4rem;
      margin-top: 0.5rem;
    }

    &__item {
      padding: 0.5rem 0;

      & + & {
        border-top: 1px solid var(--color-border-light);
        transition: border-top 0.3s;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
</style>
