<script>
import Progress from '../../Progress'
import BaseIcon from '../../Base/BaseIcon'
import { digiExerciseType, digiTypeUrl } from '../../../common/helpers'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'DigibookExercisePicker',
  components: {
    Progress: Progress,
    BaseIcon: BaseIcon,
  },
  props: {
    item: {
      type: Object,
      default: () => {},
    },

    exerciseId: {
      type: [Number, String],
      default: 0,
      required: true,
    },

    heading: {
      type: String,
      default: 'Seçiniz',
    },
  },

  computed: {
    ...mapGetters({
      unitId: 'digibook/index/activeUnitId',
      onMobile: 'onMobile',
    }),

    itemType() {
      return digiExerciseType(this.item.type)
    },

    itemUrl() {
      return digiTypeUrl(this.item.type)
    },

    activeItem() {
      return this.item.id === parseInt(this.$route.params.contentId)
    },
  },

  methods: {
    ...mapActions({
      setSelectionTitle: 'digibook/index/handleSelectionTitle',
      showContentList: 'digibook/index/handleContentListVisibility',
      setActiveExercise: 'digibook/index/handleActiveExercise',
      setContentTitle: 'digibook/handleContentTitle',
    }),

    pickExercise() {
      this.$emit('item-click', this.item.id)
      this.setContentTitle(this.item.title)
      console.log(this.item.id, this.exerciseId)
      this.setActiveExercise({
        exerciseId: this.exerciseId,
        content: this.item,
      })
      this.showContentList(false)
      this.$router.push({
        name: 'DigibookContent',
        params: {
          unitId: this.unitId,
          exerciseId: this.exerciseId,
          contentType: this.itemUrl,
          contentId: this.item.id,
        },
      })
      this.setSelectionTitle({
        type: 'exercise',
        text: this.heading,
      })
      this.setSelectionTitle({
        type: 'content',
        text: this.item.title,
      })
    },
  },
}
</script>

<template>
  <div
    class="exercise-picker"
    @click="pickExercise"
    :class="{ active: activeItem }"
  >
    <div class="exercise-picker-icon">
      <BaseIcon :icon-name="itemType" :height="onMobile ? 20 : 32" />
    </div>
    <div class="exercise-picker-name">
      <span
        class="exercise-picker-name__title"
        :class="{ active: item.id === activeItem }"
        >{{ item.title }}</span
      >
      <span class="exercise-picker-name__count">({{ item.count }})</span>
    </div>
    <div class="exercise-picker__progress">
      <template v-if="item.active">
        <Progress
          :progress-val="item.progress"
          :height="onMobile ? '12' : '9'"
        />
        <div class="percentage">
          <span>{{ item.progress }}</span>
          <small>%</small>
        </div>
      </template>
      <span v-else>Bu Ünite Henüz Yayınlanmadı!</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.exercise-picker {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--color-secondary);
  transition: color 0.3s;

  &:hover {
    .exercise-picker-name__title {
      color: $c-alt;
      transition: 0.15s;
    }
  }

  &.active {
    background: var(--background-color);
    transition: background 0.3s;
  }

  @include bp(tablet) {
    flex-wrap: wrap;
    padding: 0.5rem 0.75rem;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: $c-alt;
  }

  &-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    flex: 1 1 auto;

    @include bp(tablet) {
      padding: 0;
    }

    &__title {
      font-weight: 600;
      font-size: 1.2rem;

      @include bp(tablet) {
        font-size: 1rem;
      }

      &.active {
        color: $c-alt;
      }
    }

    &__count {
      color: $c-text;
      font-size: 1.1rem;
      display: inline-block;
      margin-left: auto;

      @include bp(tablet) {
        font-size: 0.9rem;
      }
    }
  }

  &__progress {
    display: flex;
    width: 100%;
    flex: 0 0 300px;
    align-items: center;

    @include bp(tablet) {
      flex: 0 0 auto;
      margin-top: 0.25rem;
    }

    & > .progress {
      flex: 1 1 auto;

      @include bp(tablet) {
        height: 12px;
      }
    }

    & > .percentage {
      flex: 0 0 50px;
      display: inline-flex;
      text-align: right;
      justify-content: flex-end;
      align-items: flex-end;
      line-height: 1;
      font-weight: 600;
      font-size: 1.2rem;

      & > small {
        display: inline-block;
        padding-left: 0.25rem;
      }
    }
  }
}
</style>
