<script>
import { mapGetters } from 'vuex'
import DigibookStaticPicker from './DigibookStaticPicker.vue'
import DigibookUnitPicker from './DigibookUnitPicker.vue'
import GhostDigibookContent from '../../../core/Ghost/GhostDigibookContent.vue'
import DigibookIndexExercisesVue from './DigibookIndexExercises.vue'

export default {
  name: 'DigibookIndexContents',

  components: {
    StaticPicker: DigibookStaticPicker,
    UnitPicker: DigibookUnitPicker,
    ExercisesList: DigibookIndexExercisesVue,
    ExercisesGhost: GhostDigibookContent,
  },

  data() {
    return {
      listSwiper: null,
      swiperOptions: {
        speed: 200,
        autoHeight: true,
        slidesPerView: 1,
        simulateTouch: false,
      },
    }
  },

  computed: {
    ...mapGetters({
      activeList: 'digibook/index/activeList',
      units: 'digibook/index/units',
      exercises: 'digibook/index/exercises',
      activeUnitId: 'digibook/index/activeUnitId',
      staticList: 'digibook/index/staticContents',
      exercisesLoading: 'digibook/index/exercisesLoading',
      exercisesLoaded: 'digibook/index/exercisesLoaded',
    }),
  },

  watch: {
    activeList: {
      immediate: true,
      handler: function(val) {
        this.$nextTick(() => {
          if (val === 'unit') this.listSwiper.slideTo(0)
          if (val === 'exercise') this.listSwiper.slideTo(1)
        })
      },
    },
  },

  mounted() {
    this.setSwiper()
  },

  methods: {
    setSwiper() {
      this.listSwiper = this.$refs.contentLister.swiper
    },
  },
}
</script>

<template>
  <div class="digibook-contents">
    <swiper
      class="digibook-contents-block"
      :options="swiperOptions"
      ref="contentLister"
    >
      <swiper-slide class="digibook-contents-units">
        <StaticPicker v-for="item in staticList" :item="item" :key="item.id" />
        <UnitPicker
          v-for="unit in units"
          :key="`unit${unit.id}`"
          :item="unit"
          :active="unit.id === activeUnitId"
        />
      </swiper-slide>
      <swiper-slide class="digibook-contents-exercises">
        <ExercisesGhost
          class="digibook-contents-exercises__ghost"
          v-if="exercisesLoading && !exercisesLoaded"
        />
        <template v-else>
          <ExercisesList
            v-for="exercise in exercises"
            :key="exercise.id"
            :exercise="exercise"
          />
        </template>
      </swiper-slide>
    </swiper>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/transitions';
@import '../../../assets/scss/breakpoints';

.digibook-contents {
  position: absolute;
  width: 100%;
  background: var(--background-color-slight);
  border-top: 1px solid var(--color-border-light);
  transition: background 0.3s, border-top 0.3s;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  overflow: hidden;
  max-height: 60vh;
  user-select: none;

  @include bp(tablet) {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    // max-height: calc(100vh - 2rem);
    max-height: 100%;
    height: 100vh;
    padding-bottom: 5rem;
  }

  @include bp(mobile) {
    margin-left: 0;
    width: 100%;
  }

  &-units,
  &-exercises {
    max-height: 60vh;
    height: auto;
    overflow-y: auto;
    padding-bottom: 1rem;
  }
}
</style>
