<script>
import Progress from '../../Progress.vue'
import BaseIcon from '../../Base/BaseIcon.vue'
import { mapActions } from 'vuex'

export default {
  name: 'DigibookUnitPicker',
  components: {
    Progress,
    BaseIcon,
  },
  props: {
    item: {
      type: Object,
      default: () => {},
      required: true,
    },

    active: {
      type: Boolean,
      default: false,
      required: false,
    },
  },

  computed: {
    activeItem() {
      return this.item.id === parseInt(this.$route.params.unitId)
    },
  },

  methods: {
    ...mapActions({
      setSelectionTitle: 'digibook/index/handleSelectionTitle',
      getExercisesList: 'digibook/index/getExercisesList',
    }),

    pickUnit() {
      if (this.item.active) {
        this.getExercisesList(this.item.id)
        this.setSelectionTitle({
          type: 'unit',
          text: this.item.title,
        })
        this.setSelectionTitle({
          type: 'exercise',
          text: 'Seçiniz',
        })
        this.setSelectionTitle({
          type: 'content',
          text: 'Seçiniz',
        })
      }
    },
  },
}
</script>

<template>
  <div
    class="unit-picker"
    @click="pickUnit()"
    :class="{ active: activeItem, 'not-released': !item.active }"
  >
    <div class="unit-picker-info">
      <BaseIcon class="unit-picker-icon" :icon-name="'contents'" />
      <div class="unit-picker-name">
        <div class="unit-picker-name__title">
          <BaseIcon class="unit-picker-name__icon" :icon-name="'contents'" />
          <span>{{ item.title }}</span>
        </div>
        <span class="unit-picker-name__text">{{ item.text }}</span>
      </div>
    </div>
    <div class="unit-picker-progress">
      <template v-if="item.active">
        <Progress :progress-val="item.progress" height="9" />
        <div class="percentage">
          <span>{{ item.progress }}</span>
          <small>%</small>
        </div>
      </template>
      <span v-else>Bu Ünite Henüz Yayınlanmadı!</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.unit-picker {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-secondary);
  transition: color 0.1s;

  @include bp(tablet) {
    padding: 0.75rem 1rem;
    flex-wrap: wrap;
  }

  & + & {
    border-top: 1px solid var(--color-border-light);
    transition: border-top 0.2s;
  }

  &-info {
    display: flex;
    flex: 1 1 auto;
  }

  &-icon {
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;

    @include bp(tablet) {
      display: none;
    }
  }

  &-name {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-right: 1rem;

    @include bp(tablet) {
      flex: 1 1 90%;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 600;

      @include bp(tablet) {
        font-size: 1.1rem;
      }
    }

    &__text {
      opacity: 0.7;

      @include bp(tablet) {
        margin-top: 0.25rem;
        font-size: 0.9rem;
      }
    }

    &__icon {
      display: none;

      @include bp(tablet) {
        display: inline-flex;
        margin-right: 1rem;
        height: 22px;
      }
    }
  }

  &.active {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--background-color-light) 5%,
      var(--background-color-light) 95%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:hover {
    background: linear-gradient(
      90deg,
      var(--background-color-light),
      var(--background-color-light)
    );
    color: var(--color-primary);
    transition: 0.1s;
  }

  &.not-released {
    cursor: default;
    pointer-events: none;
  }

  &-progress {
    display: flex;
    width: 100%;
    flex: 0 0 350px;
    align-items: center;
    padding-right: 1rem;

    @include bp(tablet) {
      display: none;
    }

    & > .progress {
      flex: 1 1 auto;
    }

    & > .percentage {
      flex: 0 0 50px;
      display: inline-flex;
      text-align: right;
      justify-content: flex-end;
      align-items: flex-end;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1;

      & > small {
        display: inline-block;
        padding-left: 0.25rem;
      }
    }
  }
}
</style>
