<template>
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__header">
        <router-link to="/" class="auth-logo">
          <img src="@/assets/img/logo_blue.svg" class="auth-logo__img" />
        </router-link>
      </div>
      <container class="auth__container">
        <div class="auth__cnt">
          <div class="auth__box">
            <div class="auth-tab">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">Şifremi Unuttum</div>
                      <div class="auth-tab-pane__txt">
                        Remzihoca.com'a üye olurken kullandığınız e-posta adresini giriniz!
                        <router-link :to="{ name: 'Login' }" class="auth-tab-pane__link">Giriş Yap</router-link>
                      </div>
                    </div>
                    <div class="auth-tab-pane__header" v-if="formSubmitted && hasError">
                      <div class="error-pane">{{ errorMessage }}</div>
                    </div>
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form" @keyup.enter="requestPassword">
                        <div
                          class="f-input iconic"
                          :data-validation="!validEmail && formSubmitted"
                          data-validation-text="* Girilen e-posta geçersiz."
                        >
                          <label for="input">E-Posta Adresi</label>
                          <div class="f-input--content">
                            <input v-model="email" type="email" placeholder="ornek@email.com" />
                            <span class="icon">
                              <svg-icon type="icon-mail" />
                            </span>
                          </div>
                        </div>
                        <button
                          @click="requestPassword"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                        >
                          <span class="button__wrp">
                            <span class="button__txt">ŞİFREMİ SIFIRLA</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import * as http from '../../services/auth.service'
import helpers from '@/common/helpers'

export default {
  name: 'ForgotPassword',

  data() {
    return {
      email: '',
      formSubmitted: false,
      errorMessage: ''
    }
  },

  computed: {
    hasError() {
      return this.errorMessage.length > 0
    },

    validEmail() {
      return this.email.length > 1 && helpers.emailValidator(this.email)
    }
  },

  methods: {
    requestPassword() {
      this.formSubmitted = true
      if (this.validEmail) {
        http.forgot(this.email).then((res) => {
          if (res.success) {
            this.$swal({
              toast: true,
              timer: 1000,
              icon: 'success',
              position: 'top-end',
              showConfirmButton: false,
              title: res.message
            })
            setTimeout(() => {
              this.$router.push({ name: 'Login' })
            }, 1000)
            this.email = ''
            this.formSubmitted = false
          } else {
            this.$swal({
              toast: true,
              timer: 5000,
              icon: 'error',
              position: 'top-end',
              showConfirmButton: false,
              title: res.message
            })
          }
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/components/auth';
@import '@/assets/scss/components/inputs';
</style>
