<template>
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__header">
        <router-link to="/" class="auth-logo">
          <img src="@/assets/img/logo_blue.svg" class="auth-logo__img" />
        </router-link>
      </div>
      <container class="auth__container">
        <transition-group name="fade" mode="out-in" tag="div" class="auth__cnt">
          <div class="auth__box" :key="1">
            <div class="auth-tab" v-if="activeFormName === 'login'">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">Giriş yap</div>
                      <div class="auth-tab-pane__txt">
                        Yeni misiniz?
                        <router-link
                          :to="{ name: 'Register' }"
                          class="auth-tab-pane__link"
                          >Şimdi Kaydol</router-link
                        >
                      </div>
                    </div>
                    <div
                      class="auth-tab-pane__header"
                      v-if="formSubmitted && hasError"
                    >
                      <div class="error-pane">{{ errorMessage }}</div>
                    </div>
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form" @keyup.enter="login">
                        <div
                          class="f-input iconic"
                          :data-validation="!validEmail && formSubmitted"
                          data-validation-text="* Girilen e-mail geçersiz."
                        >
                          <label for="input">E-posta Adresi</label>
                          <div class="f-input--content">
                            <input
                              v-model="email"
                              type="text"
                              id="input"
                              name="input"
                              placeholder="ornek@email.com"
                            />
                            <span class="icon">
                              <svg-icon type="icon-mail" />
                            </span>
                          </div>
                        </div>
                        <div
                          class="f-input iconic"
                          :data-validation="$route.query.not_allowed"
                          data-validation-text="* Yeni platforma giriş yapabilmek için gerekli ürünlere sahip değilsiniz."
                        ></div>
                        <hr class="f-line" />
                        <div
                          class="f-input iconic"
                          :data-validation="!validEmail && formSubmitted"
                          data-validation-text="* Girilen şifre geçersiz."
                        >
                          <label for="password">Şifre</label>
                          <div class="f-input--content">
                            <input
                              v-model="password"
                              type="password"
                              id="password"
                              name="password"
                              placeholder="******"
                            />
                            <span class="icon">
                              <svg-icon type="icon-lock" />
                            </span>
                          </div>
                        </div>
                        <div
                          class="clear"
                          style="height: 15px; display: block; width: 100%;"
                        ></div>
                        <div
                          class="d-flex justify-content-between align-items-center"
                          style="width: 100%"
                        >
                          <label class="checkbox t-checkbox">
                            <input
                              type="checkbox"
                              class="checkbox__input"
                              v-model="rememberStatus"
                            />
                            <span class="checkbox__box">
                              <span class="icon-font">
                                <svg-icon type="icon-check" />
                              </span>
                            </span>
                            <span class="checkbox__txt">Beni Hatırla</span>
                          </label>
                          <router-link
                            :to="{ name: 'ForgotPassword' }"
                            class="underline auth-form__ctr-link"
                            >Şifremi Unuttum</router-link
                          >
                        </div>
                        <button
                          @click="login"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                        >
                          <span class="button__wrp">
                            <span class="button__txt">GİRİŞ YAP</span>
                          </span>
                        </button>
                      </div>
                      <div class="auth--social">
                        <div class="line-or-line">
                          <div class="line-or-line__line"></div>
                          <div class="line-or-line__txt">Veya</div>
                          <div class="line-or-line__line"></div>
                        </div>
                        <div class="logos">
                          <a
                            href="https://www.remzihoca.com/platform_v2/redirect/facebook"
                          >
                            <div class="logos__item">
                              <svg-icon type="icon-facebook" />
                              <div class="logos__txt">
                                Facebook ile Devam Et
                              </div>
                            </div>
                          </a>
                          <a
                            href="https://www.remzihoca.com/platform_v2/redirect/google"
                          >
                            <div class="logos__item">
                              <img src="@/assets/img/colored-google.svg" alt />
                              <div class="logos__txt">Google ile Devam Et</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="auth__box" :key="2">
            <div class="auth-tab" v-if="activeFormName === 'phone'">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">
                        Telefon Numarası Doğrulama
                      </div>
                      <div class="auth-tab-pane__txt">
                        Platforma girş yapabilmek için lütfen telefon numaranızı
                        giriniz.
                      </div>
                    </div>
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form">
                        <div class="f-input iconic">
                          <label for="input">Telefon Numarası</label>
                          <div class="login-countrycodes">
                            <BaseSelect
                              :options="countryCodes"
                              name-key="name"
                              @on-select="pickCountryCode"
                              ref="countrySelect"
                            />
                          </div>
                          <div class="f-input--content">
                            <input-mask
                              v-model="phone"
                              type="text"
                              placeholder="(555) 555 55 55"
                              :mask="phoneMask"
                              maskChar
                            ></input-mask>
                            <span class="icon">
                              <svg-icon type="icon-phone" />
                            </span>
                          </div>
                        </div>
                        <v-button
                          @click.native="verifyPhone"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                          title="TELEFONU ONAYLA"
                          :disabled="!validPhone"
                        ></v-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="auth__box" :key="3">
            <div class="auth-tab" v-if="activeFormName === 'sms'">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">SMS Doğrulama</div>
                      <div class="auth-tab-pane__txt">
                        Platforma devam edebilmek için {{ phone }} numaralı
                        telefonunuza gelen şifreyi giriniz!
                      </div>
                    </div>
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form">
                        <div class="f-input iconic">
                          <label for="input">SMS Şifresi</label>
                          <div class="f-input--content">
                            <input-mask
                              v-model="code"
                              type="text"
                              placeholder="SMS Şifresi"
                              mask="999999"
                              maskChar
                            ></input-mask>
                            <span class="icon">
                              <svg-icon type="icon-lock" />
                            </span>
                          </div>
                        </div>
                        <v-button
                          @click.native="verifySms"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                          title="GİRİŞ YAP"
                          :disabled="!validCode"
                        ></v-button>
                        <v-button
                          @click.native="resendCode"
                          class="auth-form__submit form__submit c-darkgray button fw"
                          style="height: 60px;"
                          title="YENİ KOD GÖNDER"
                          :disabled="duration > 0"
                        ></v-button>
                      </div>
                    </div>
                    <div class="auth-tab-pane__txt text-center">
                      {{ timerText }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </container>
    </div>
  </div>
</template>

<script>
import {
  LOGIN,
  LOGIN_SOCIAL,
  COMPLETE_LOGIN,
  HANDLE_LOGIN_STATUS,
} from '@/store/actions.type'
import {
  emailValidator,
  getCookie,
  errorBubble,
  jwtAlive,
  setTemporaryToken,
  deleteCookie,
} from '@/common/helpers'
import { mapGetters } from 'vuex'
import * as http from '../../services/auth.service'
import BaseSelect from '@/core/BaseSelect'
import { GET_COUNTRY_CODES } from '../../store/actions.type'

export default {
  name: 'Login',

  components: {
    BaseSelect,
  },

  data() {
    return {
      token: null,
      activeFormName: 'login',
      emailValidation: false,
      passwordValidation: false,
      email: '',
      password: '',
      phone: '',
      errorMessage: '',
      formSubmitted: false,
      verifiedUser: false,
      rememberStatus: false,
      code: '',
      timerInterval: null,
      duration: 180,
      counter: null,
      timerText: '03:00',
      currentCountryCode: 212,
    }
  },

  watch: {
    phone(val) {
      this.phone = val.replace(/([() ])/g, '')
    },

    activeFormName: {
      immediate: true,
      handler: function(val) {
        if (val === 'phone') {
          this.$store.dispatch(GET_COUNTRY_CODES)
        }
      },
    },

    countryCodes(codes) {
      if (codes.length > 0) {
        this.setCountry(codes)
      }
    },
  },

  computed: {
    ...mapGetters(['memberInfo', 'countryCodes']),

    phoneMask() {
      if (this.currentCountryCode === null || this.currentCountryCode === 212) {
        return '(999) 999 99 99'
      } else {
        return '999999999999999999999999'
      }
    },

    validCode() {
      return this.code.length === 6
    },

    hasError() {
      return this.errorMessage.length > 0
    },

    validEmail() {
      return this.email.length > 1 && emailValidator(this.email)
    },

    validPassword() {
      return this.password.length > 0
    },

    validPhone() {
      return this.phone.length > 0
    },

    validForm() {
      return this.validEmail && this.validPassword
    },
  },

  created() {
    this.checkToken()
  },

  methods: {
    pickCountryCode(item) {
      this.currentCountryCode = item.value
      this.phone = ''
    },

    setCountry(codes) {
      this.$nextTick(() => {
        this.$refs.countrySelect.currentOption = codes.find(
          el => el.value === 212
        )
      })
    },

    resendCode() {
      this.code = ''
      http.handle2fa().then(res => {
        this.duration = 180
        this.timeRemaining()
        if (res.data.success) {
          this.$swal({
            toast: true,
            timer: 3000,
            icon: 'error',
            position: 'top-end',
            showConfirmButton: false,
            title: res.data.message,
          })
        }
      })
    },

    async checkCrossLogin() {
      if (getCookie('platform-token') && jwtAlive('platform-token')) {
        setTemporaryToken(getCookie('platform-token'))
        this.token = getCookie('platform-token')
        if (getCookie('skip2fa') === '1') {
          this.provideAccess()
        } else {
          const { data: response } = await http.handle2fa()
          console.log('response is: ', response)
          if (response.success) {
            this.setActiveForm('sms')
          } else {
            if (response.code === 2) {
              this.setActiveForm('phone')
            } else {
              this.setActiveForm('login')
              errorBubble(response.message)
            }
          }
        }
      } else {
        this.setActiveForm('login')
      }
    },

    setActiveForm(name) {
      this.activeFormName = name
      if (name === 'sms') this.timeRemaining()
      if (name === 'phone') deleteCookie('lastAuthenticatedUser')
    },

    checkToken() {
      if (this.$route.query.email !== undefined) {
        this.email = this.$route.query.email
      }
      if (this.$route.query.token !== undefined) {
        deleteCookie('platform-token')
        deleteCookie('skip2fa')
        this.token = this.$route.query.token
        this.$store.dispatch(LOGIN_SOCIAL, this.token)
        this.checkCookie()
        if (!this.verifiedUser) {
          http
            .handle2fa()
            .then(res => {
              if (res.data.success) {
                this.phone = res.data.data.phone
                this.setActiveForm('sms')
              } else if (!res.data.success && res.data.code === 2) {
                this.setActiveForm('phone')
              } else if (!res.data.success && res.data.code !== 2) {
                this.$swal({
                  toast: true,
                  timer: 3000,
                  icon: 'error',
                  position: 'top-end',
                  showConfirmButton: false,
                  title: res.data.message,
                })
              }
            })
            .catch(err => {
              console.log('error', err)
            })
        } else {
          this.$router.push({ name: 'HomeSchedule' })
        }
      } else {
        this.checkCrossLogin()
      }
    },

    checkCookie() {
      this.verifiedUser =
        getCookie('lastAuthenticatedUser') !== '' &&
        getCookie('lastAuthenticatedUser').trim() === this.email
    },

    verifyPhone() {
      if (this.validPhone) {
        http.verifyPhone(this.currentCountryCode, this.phone).then(res => {
          if (res.data.success) {
            this.phone = res.data.data.phone
            this.setActiveForm('sms')
            this.timeRemaining()
          } else {
            this.$swal({
              toast: true,
              timer: 5000,
              icon: 'error',
              position: 'top-end',
              showConfirmButton: false,
              title: res.data.message,
            })
          }
        })
      }
    },

    provideAccess() {
      this.$store.dispatch(COMPLETE_LOGIN, this.token)
      this.$store.dispatch(HANDLE_LOGIN_STATUS, true)
      this.$router.push(this.$store.getters.previousUrl)
      document.cookie = `lastAuthenticatedUser=${
        this.email
      }; expires= ${new Date(
        2147483647 * 1000
      ).toUTCString()}; path=/; SameSite=Lax`
    },

    check2fa() {
      http.handle2fa().then(res => {
        if (res.data.success) {
          this.phone = res.data.data.phone
          this.setActiveForm('sms')
        } else {
          if (res.data.code === 2) {
            this.setActiveForm('phone')
            if (this.countryCodes.length > 0) this.setCountry(this.countryCodes)
          }
          errorBubble(res.data.message)
        }
      })
    },

    login() {
      this.checkCookie()
      if (this.validForm) {
        this.$store
          .dispatch(LOGIN, {
            email: this.email,
            password: this.password,
            remember: this.rememberStatus,
          })
          .then(resp => {
            this.token = resp.token
            if (resp.success) {
              if (resp.skip2fa) {
                this.provideAccess()
              } else {
                if (this.verifiedUser) {
                  this.provideAccess()
                } else {
                  this.check2fa()
                }
              }
            } else {
              console.log(resp)
              errorBubble(resp.message)
            }
          })
      }
    },

    calculateTime() {
      let secs = this.duration
      if (secs <= 0) secs = 0
      let minutes = Math.floor(secs / 60)
      let seconds = secs % 60
      let minutesText = ''
      let secondsText = ''
      seconds < 10
        ? (secondsText = `0${seconds}`)
        : (secondsText = `${seconds}`)
      minutes < 10
        ? (minutesText = `0${minutes}`)
        : (minutesText = `${minutes}`)
      this.timerText = `${minutesText}:${secondsText}`
    },

    timeRemaining() {
      this.timerInterval = setInterval(() => {
        this.duration--
        this.calculateTime()
        if (this.duration === 0) clearInterval(this.timerInterval)
      }, 1000)
    },

    verifySms() {
      http.verifyCode(this.code).then(res => {
        if (res.data.success) {
          this.$swal({
            toast: true,
            timer: 1000,
            icon: 'success',
            position: 'top-end',
            showConfirmButton: false,
            title: res.data.message,
          })
          this.provideAccess()
          this.formSubmitted = false
          clearInterval(this.timerInterval)
        } else {
          this.$swal({
            toast: true,
            timer: 3000,
            icon: 'error',
            position: 'top-end',
            showConfirmButton: false,
            title: res.data.message,
          })
          this.code = ''
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/components/auth';
@import '@/assets/scss/components/inputs';
@import '@/assets/scss/_variables';
</style>

<style lang="scss">
.login-countrycodes {
  margin-bottom: 20px;

  & input {
    padding-left: 10px !important;
  }
}
.fade-enter-active {
  transition: opacity 0.25s ease-in-out;
  transition-delay: 0.15s;
}
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
</style>
