<template>
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__header">
        <router-link to="/" class="auth-logo">
          <img src="@/assets/img/logo_blue.svg" class="auth-logo__img" />
        </router-link>
      </div>
      <container class="auth__container">
        <div class="auth__cnt">
          <div class="auth__box">
            <div class="auth-tab">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">KAYDOL</div>
                      <div class="auth-tab-pane__txt">
                        Zaten Üye misiniz?
                        <router-link :to="{ name: 'Login' }" class="auth-tab-pane__link">Giriş Yap</router-link>
                      </div>
                    </div>
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form" @keyup.enter="login">
                        <div class="row">
                          <div class="col-md-6">
                            <div
                              class="f-input iconic"
                              :data-validation="!firstNameValidation && formSubmitted"
                              data-validation-text="* Girilen ad geçersiz."
                            >
                              <label for="input">Adınız</label>
                              <div class="f-input--content">
                                <input v-model="firstName" type="text" placeholder="Ad" />
                                <span class="icon">
                                  <svg-icon type="icon-user" />
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 mobile-mt-10">
                            <div
                              class="f-input iconic"
                              :data-validation="!lastNameValidation && formSubmitted"
                              data-validation-text="* Girilen soyad geçersiz."
                            >
                              <label for="input">Soyadınız</label>
                              <div class="f-input--content">
                                <input v-model="lastName" type="text" placeholder="Soyad" />
                                <span class="icon">
                                  <svg-icon type="icon-user" />
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr class="f-line" />
                        <div
                          class="f-input iconic"
                          :data-validation="!emailValidation && formSubmitted"
                          data-validation-text="* Girilen e-posta adresi geçersiz."
                        >
                          <label for="email">E-Posta Adresi</label>
                          <div class="f-input--content">
                            <input v-model="email" type="text" placeholder="ornek@email.com" />
                            <span class="icon">
                              <svg-icon type="icon-user" />
                            </span>
                          </div>
                        </div>
                        <hr class="f-line" />
                        <div class="row">
                          <div class="col-md-6">
                            <div
                              class="f-input iconic"
                              :data-validation="!passwordValidation && formSubmitted"
                              data-validation-text="* Şifre 6-32 karakter arası olmalı."
                            >
                              <label for="password">Şifre Oluştur</label>
                              <div class="f-input--content">
                                <input v-model="password" type="password" placeholder="Şifre" />
                                <span class="icon">
                                  <svg-icon type="icon-lock" />
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 mobile-mt-10">
                            <div
                              class="f-input iconic"
                              :data-validation="!passwordConfirmValidation && formSubmitted"
                              data-validation-text="* Şifreler uyuşmuyor."
                            >
                              <label for="password_confirmation">Şifre Tekrar</label>
                              <div class="f-input--content">
                                <input
                                  v-model="passwordConfirm"
                                  type="password"
                                  placeholder="Şifre Tekrarı"
                                />
                                <span class="icon">
                                  <svg-icon type="icon-lock" />
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button
                          @click="register"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                        >
                          <span class="button__wrp">
                            <span class="button__txt">KAYDOL</span>
                          </span>
                        </button>
                        <div class="clear" style="height: 9px; display: block; width: 100%;"></div>
                        <div class="d-flex justify-content-between align-items-center">
                          <label
                            for="checkAgreement"
                            class="checkbox t-checkbox"
                            :data-validation="!agreement && formSubmitted"
                            data-validation-text="* Sözleşmeleri kabul etmelisiniz."
                          >
                            <input
                              id="checkAgreement"
                              type="checkbox"
                              class="checkbox__input"
                              :value="agreement"
                              @input="toggleAgreement"
                            />
                            <span class="checkbox__box">
                              <span class="icon-font">
                                <svg-icon type="icon-check" />
                              </span>
                            </span>
                            <span class="checkbox__txt">
                              <a
                                href="https://www.remzihoca.com/gizlilik-sozlesmesi"
                                target="_blank"
                              >Gizlilik Sözleşmesi</a>
                              ve
                              <a
                                href="https://www.remzihoca.com/uyelik-sozlesmesi"
                                target="_blank"
                              >Üyelik Sözleşmesi</a>
                              'ni kabul ediyorum.
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="auth--social">
                        <div class="line-or-line">
                          <div class="line-or-line__line"></div>
                          <div class="line-or-line__txt">Veya</div>
                          <div class="line-or-line__line"></div>
                        </div>
                        <div class="logos">
                          <a href="https://www.remzihoca.com/platform_v2/redirect/facebook">
                            <div class="logos__item">
                              <svg-icon type="icon-facebook" />
                              <div class="logos__txt">Facebook ile Kayıt Ol</div>
                            </div>
                          </a>
                          <a href="https://www.remzihoca.com/platform_v2/redirect/google">
                            <div class="logos__item">
                              <img src="@/assets/img/colored-google.svg" alt />
                              <div class="logos__txt">Google ile Kayıt Ol</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import { register } from '../../services/auth.service'
import { LOGIN_SOCIAL } from '@/store/actions.type'
import { emailValidator } from '@/common/helpers'

export default {
  name: 'Register',

  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      passwordConfirm: '',
      formSubmitted: false,
      agreement: false
    }
  },

  computed: {
    firstNameValidation() {
      return this.firstName.length > 1
    },

    lastNameValidation() {
      return this.lastName.length > 1
    },

    emailValidation() {
      return this.email.length > 1 && emailValidator(this.email)
    },

    passwordValidation() {
      return this.password.length > 5 && this.password.length < 33
    },

    passwordConfirmValidation() {
      return this.passwordConfirm === this.password
    },

    formIsValid() {
      return (
        this.firstNameValidation &&
        this.lastNameValidation &&
        this.emailValidation &&
        this.passwordValidation &&
        this.passwordConfirmValidation &&
        this.agreement
      )
    }
  },

  mounted() {
    this.checkToken()
  },

  methods: {
    checkToken() {
      const token = this.$route.query.token
      if (token !== undefined) {
        this.$store.dispatch(LOGIN_SOCIAL, token)
        this.$router.push('/')
      }
    },

    toggleAgreement() {
      this.agreement = !this.agreement
    },

    async register() {
      this.formSubmitted = true
      if (this.formIsValid) {
        const formData = {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password
        }
        register(formData).then(response => {
          console.log(response.data)
          if (response.data) {
            this.$swal({
              toast: true,
              timer: 5000,
              icon: 'success',
              position: 'top-end',
              title: response.data.message,
              showConfirmButton: false
            })

            this.firstName = ''
            this.lastName = ''
            this.email = ''
            this.password = ''
            this.passwordConfirm = ''
            this.agreement = false
            this.formSubmitted = false
          } else {
            this.$swal({
              toast: true,
              timer: 5000,
              icon: 'error',
              position: 'top-end',
              title: response.data.message,
              showConfirmButton: false
            })
          }
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/components/auth';
</style>

<style lang="scss" scoped>
.checkbox {
  &[data-validation='true'] {
    color: red;
    &:after {
      content: attr(data-validation-text);
      color: #df6457;
      font-size: 16px;
      line-height: 28px;
      font-weight: 600;
      flex-basis: 100%;
      margin-top: 5px;
    }
  }

  &__txt {
    line-height: 1.25;
  }
}
</style>
