<template>
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__header">
        <router-link to="/" class="auth-logo">
          <img src="@/assets/img/logo_blue.svg" class="auth-logo__img" />
        </router-link>
      </div>
      <container class="auth__container">
        <div class="auth__cnt">
          <div class="auth__box">
            <div class="auth-tab">
              <div class="auth-tab__cnt">
                <div class="auth-tab-pane active">
                  <div class="auth-tab-pane__wrp">
                    <div class="auth-tab-pane__header">
                      <div class="auth-tab-pane__title">Yeni Şifre Belirle</div>
                      <div class="auth-tab-pane__txt">
                        Şifre sıfırlama isteğinizin tamamlanması için yeni şifre belirleyin veya
                        şifrenizi hatırladıysanız
                        <router-link :to="{ name: 'Login' }" class="auth-tab-pane__link"
                          >giriş yapın</router-link
                        >!
                      </div>
                    </div>
                    <!-- <div class="error-pane" v-if="formSubmitted && hasError">
                      {{ errorMessage }}
                    </div> -->
                    <div class="auth-tab-pane__cnt">
                      <div class="auth-form" @keyup.enter="resetPassword">
                        <!-- <div
                          class="f-input iconic"
                          :data-validation="!validEmail && formSubmitted"
                          data-validation-text="* Girilen e-posta geçersiz."
                        >
                          <label for="input">E-Posta Adresi</label>
                          <div class="f-input--content">
                            <input v-model="email" type="email" placeholder="ornek@email.com" />
                            <span class="icon">
                              <svg-icon type="icon-mail" />
                            </span>
                          </div>
                        </div>-->
                        <div
                          class="f-input iconic mt-20"
                          :data-validation="!validPassword && formSubmitted"
                          data-validation-text="* Şifre 6-32 karakter uzunluğunda olmalı."
                        >
                          <label for="input">Şifre</label>
                          <div class="f-input--content">
                            <input v-model="password" type="password" placeholder="Şifre" />
                            <span class="icon">
                              <svg-icon type="icon-lock" />
                            </span>
                          </div>
                        </div>
                        <div
                          class="f-input iconic mt-20"
                          :data-validation="!validRepeatPassword && formSubmitted"
                          data-validation-text="* Şifrenin tekrarı şifre ile aynı olmalı."
                        >
                          <label for="input">Şifre Tekrarı</label>
                          <div class="f-input--content">
                            <input
                              v-model="passwordRepeat"
                              type="password"
                              placeholder="Şifre tekrarı"
                            />
                            <span class="icon">
                              <svg-icon type="icon-lock" />
                            </span>
                          </div>
                        </div>
                        <button
                          @click="resetPassword"
                          class="auth-form__submit form__submit button c-purple-light fw"
                          style="height: 60px;"
                        >
                          <span class="button__wrp">
                            <span class="button__txt">Şifremi Sıfırla</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import { emailValidator } from '@/common/helpers'

export default {
  name: 'ResetPassword',

  data() {
    return {
      email: '',
      password: '',
      passwordRepeat: '',
      formSubmitted: false,
      errorMessage: ''
    }
  },

  computed: {
    hasError() {
      return this.errorMessage.length > 0
    },

    validPassword() {
      return this.password.length > 5 && this.password.length < 33
    },

    validRepeatPassword() {
      return this.passwordRepeat === this.password
    },

    validEmail() {
      return this.email.length > 1 && emailValidator(this.email)
    },

    validForm() {
      return this.validPassword && this.validRepeatPassword
    }
  },

  methods: {
    resetPassword() {
      this.formSubmitted = true
      if (this.validForm) {
        fetch(
          `https://www.remzihoca.com/platform_v2/update-password?token=${this.$route.query.token}&password=${this.password}&password_confirmation=${this.passwordRepeat}`,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          }
        )
          .then(res => res.json())
          .then(data => {
            console.log('res', data)
            if (data.success) {
              this.$swal({
                toast: true,
                timer: 2000,
                icon: 'success',
                position: 'top-end',
                title: data.message,
                showConfirmButton: false
              })

              setTimeout(() => {
                this.$router.push({ name: 'Login' })
              }, 2000)
            } else {
              this.$swal({
                icon: 'error',
                timer: 3000,
                title: data.message,
                position: 'top-end',
                showConfirmButton: false
              })
            }

            this.password = ''
            this.passwordRepeat = ''
            this.formSubmitted = false
          })
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/components/auth';
@import '@/assets/scss/components/inputs';
</style>
