<template>
  <div class="cluebank">
    <app-header :info="info" />
    <!-- <subpage-header
      :title="pageInfo.title"
      :icon="pageInfo.icon"
      :background="pageInfo.background"
      :what="cluebanksInfo.what"
      :how-works="cluebanksInfo.howWorks"
      :video="cluebanksInfo.video"
    />-->
    <div class="cluebank__inner searchbox-fix">
      <container>
        <CluebankSearch v-on:searchClue="getResults" />
      </container>
      <div class="cluebank__content">
        <container class="cluebank-results">
          <h2 v-if="loading && loaded">Yükleniyor...</h2>
          <h2
            class="cluebank-results__invalid"
            v-if="this.$route.params.term.length == 0"
          >Geçersiz Arama</h2>
          <h2 class="cluebank-results__notfound" v-if="filteredList[0] === undefined">
            <empty-content
              class="empty-content--notfound"
              icon="icon-notfound-clue"
              title="Aradığın ipucu ile ilgili sonuç bulunamadı."
              text="Henüz favorilerine bir ipucu eklemedin. Tüm ipuçu kartlarını görmek ve sık ihtiyaç <br>
                duyduklarını favorilerine eklemek için uygulamaya git."
            />
          </h2>
          <div class="cluebank-results__cnt" v-if="this.$route.params.term.length > 0">
            <!-- <h2 class="cluebank-results__header">Arama Sonuçları</h2> -->
            <div v-for="clue in filteredList" :key="clue.id" class="cluebank-link" ref="a">
              <v-button
                class="cluebank-fav btn"
                icon="icon-star"
                icon-position="left"
                @click.native="favToggle(clue.id)"
                :class="{ active: clue.favorited }"
                v-tooltip="clue.favorited ? 'Favorilerden çıkar' : 'Favorilere ekle'"
              />
              <!-- <div class="icon-font">
                <svg-icon type="icon-star" />
              </div>
              </div>-->
              <router-link
                class="cluebank__link"
                :to="{ name: 'CluebankDetail', params: { id: clue.id } }"
              >
                <cluebank-item
                  :title="clue.name"
                  :text="clue.summary"
                  :id="clue.id"
                  @click.native="clueDetail(clue.id)"
                />
              </router-link>
            </div>
          </div>
        </container>
      </div>
    </div>
  </div>
</template>
<script>
import { getCluebankInfo, searchClues } from '../../services/cluebank.service'
import CluebankSearch from '@/components/ClueBank/CluebankSearch'
import CluebankItem from '@/components/ClueBank/CluebankItem'
import EmptyContent from '@/components/EmptyContent'
import { mapActions } from 'vuex'
import AppHeader from '@/core/AppHeader'

export default {
  name: 'CluebankSearchPage',
  components: {
    CluebankSearch,
    CluebankItem,
    EmptyContent,
    AppHeader
  },
  data() {
    return {
      pageInfo: {
        title: 'İpucu Havuzu',
        icon: require('@/assets/img/app-cluebank.svg'),
        background: null
      },
      info: {
        title: 'İpucu Havuzu',
        icon: require('@/assets/img/app-cluebank.svg'),
        background: null,
        howWorks: null,
        what: null,
        video: null,
        link: '/ipucu-havuzu'
      },
      cluebanksInfo: [],
      filteredList: [],
      loading: true,
      loaded: false,
      searchTimer: null
    }
  },
  methods: {
    ...mapActions({
      setFavoriteItem: 'cluebank/setFavoriteItem'
    }),

    favToggle(id) {
      this.setFavoriteItem(id)
      this.filteredList = this.filteredList.map((litem) => {
        const item = litem
        if (item.id === id) item.favorited = !item.favorited
        return item
      })
    },

    getClueInfo() {
      getCluebankInfo().then(({ data }) => {
        this.cluebanksInfo = data
        this.info.howWorks = data.howWorks
        this.info.what = data.what
        this.info.video = data.video
      })
    },

    getResults(value) {
      if (value.length !== 0) {
        this.getSearch(value)
      } else {
        return console.log('Alinamadi.')
      }
    },

    getSearch(term) {
      let self = this
      let searchTerm = this.$route.params.term
      self.loading = true
      self.loaded = false
      if (searchTerm.length < 1) {
        return false
      }
      clearTimeout(this.searchTimer)
      this.searchTimer = setTimeout(() => {
        searchClues(searchTerm)
          .then((data) => {
            self.loading = false
            self.loaded = true
            if (searchTerm.length > 0) {
              self.filteredList = data.data.clues
            }
          })
          .catch((e) => console.log(e))
      }, 1000)
    }
  },

  mounted() {
    this.getClueInfo()
    this.getSearch()
  }
}
</script>

<style lang="scss" scoped>
.searchbox-fix {
  margin-top: -100px;
}
</style>
