<template>
  <div class="cluebank">
    <AppHeader :info="info" />
    <div class="cluebank__inner">
      <container class="cluebank-searchbox">
        <CluebankSearch v-on:searchClue="getResults" />
      </container>
      <container>
        <swiper
          :options="swiperOptions"
          class="cluebank-tabslider"
          @slideChange="changeSlide"
          ref="cluebankTabs"
        >
          <swiper-slide v-for="tab in tabs" :key="tab.id" class="cluebank-tabslider__item">
            <tab-item
              :text="tab.text"
              @click.native="tabShow(tab, tab.id)"
              :active="tab.id === currentTab"
              :class="tabItemClass"
            />
          </swiper-slide>
        </swiper>
        <tab>
          <tab-pane :class="{ active: currentTab === 0 }">
            <div class="cluebank__content">
              <div v-if="questionTypes.data && filteredList.length === 0">
                <CluebankGroup
                  v-for="group in questionTypes.data"
                  :key="group.id"
                  :group="group"
                  :tab="0"
                  :id="'g-' + group.id"
                  :name="'#' + group.id"
                />
              </div>

              <div v-if="questionTypes.loading">
                <GhostCluebankTitle />
                <div class="clue-ghost__outer">
                  <GhostCluebankItem v-for="n in 6" :key="n" />
                </div>
              </div>
              <transition name="no-result-fade">
                <empty-content
                  v-if="grammars.data && grammars.data.length === 0 && !questionTypes.loading"
                  :content="emptyContent"
                />
              </transition>
            </div>
          </tab-pane>

          <tab-pane :class="{ active: currentTab === 1 }">
            <div class="cluebank__content">
              <div class="cluebank-list"></div>
              <div v-if="grammars.data && filteredList.length === 0">
                <CluebankGroup
                  v-for="group in grammars.data"
                  :key="group.id"
                  :group="group"
                  :tab="1"
                />
              </div>

              <div v-if="grammars.loading">
                <GhostCluebankTitle />
                <div class="clue-ghost__outer">
                  <GhostCluebankItem v-for="n in 6" :key="n" />
                </div>
              </div>

              <transition name="no-result-fade">
                <empty-content
                  v-if="grammars.data && grammars.data.length === 0 && !grammars.loading"
                  :content="emptyContent"
                />
              </transition>
            </div>
          </tab-pane>

          <tab-pane :class="{ active: currentTab === 2 }">
            <div class="cluebank__content">
              <div v-if="strategies.data">
                <CluebankGroup
                  v-for="group in strategies.data"
                  :key="group.id"
                  :group="group"
                  :tab="2"
                />
              </div>

              <div v-if="strategies.loading">
                <GhostCluebankTitle />
                <div class="clue-ghost__outer">
                  <GhostCluebankItem v-for="n in 6" :key="n" />
                </div>
              </div>

              <transition name="no-result-fade">
                <empty-content
                  v-if="strategies.data && strategies.data.length === 0 && !words.loading"
                  :content="emptyContent"
                />
              </transition>
            </div>
          </tab-pane>

          <tab-pane :class="{ active: currentTab === 3 }">
            <div class="cluebank__content">
              <div v-if="words.data">
                <CluebankGroup v-for="group in words.data" :key="group.id" :group="group" :tab="3" />
              </div>

              <div v-if="words.loading">
                <GhostCluebankTitle />
                <div class="clue-ghost__outer">
                  <GhostCluebankItem v-for="n in 6" :key="n" />
                </div>
              </div>

              <transition name="no-result-fade">
                <empty-content
                  v-if="words.data && words.data.length === 0 && !words.loading"
                  :content="emptyContent"
                />
              </transition>
            </div>
          </tab-pane>
        </tab>
      </container>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import Tab from '@/components/Tab/Tab'
import TabItem from '@/components/Tab/TabItem'
import TabPane from '@/components/Tab/TabPane'
import CluebankSearch from '@/components/ClueBank/CluebankSearch'
import CluebankGroup from '@/components/ClueBank/CluebankGroup'
import GhostCluebankItem from '@/core/Ghost/GhostCluebankItem'
import GhostCluebankTitle from '@/core/Ghost/GhostCluebankTitle'
import { getCluebankInfo } from '../../services/cluebank.service'
import EmptyContent from '@/components/EmptyContent'
import { mapActions, mapGetters } from 'vuex'
import AppHeader from '../../core/AppHeader'

export default {
  name: 'CluebankList',
  components: {
    CluebankSearch,
    CluebankGroup,
    GhostCluebankItem,
    GhostCluebankTitle,
    Tab,
    TabItem,
    TabPane,
    EmptyContent,
    AppHeader
  },
  data() {
    return {
      swiperOptions: {
        centeredSlides: false,
        slidesPerView: 4,
        simulateTouch: false,
        breakpoints: {
          768: {
            centeredSlides: true,
            slidesPerView: 'auto',
            simulateTouch: true,
            slideToClickedSlide: true
          },
          1100: {
            slidesPerView: 'auto',
            centeredSlides: false
          }
        }
      },
      tabItemClass: 'tab__item--transparent',
      componentLoaded: false,
      showCategory: false,
      currentCluebank: null,
      isQuestionsEnd: false,
      isWordsEnd: false,
      isGrammarsEnd: false,
      isStrategiesEnd: false,
      isLoading: true,
      currentTab: 0 || this.$route.params.tabid,
      searching: '',
      info: {
        name: 'cluebank',
        link: '/ipucu-havuzu',
        title: 'İpucu Havuzu',
        icon: require('@/assets/img/app-cluebank-white.svg'),
        background: null,
        what: null,
        video: null,
        howWorks: null,
        has_tour: null
      },
      pageInfo: {
        title: 'İpucu Havuzu',
        icon: require('@/assets/img/app-cluebank-white.svg'),
        background: null
      },
      emptyContent: {
        icon: 'icon-cart',
        title: 'Sonuç bulunamadı!',
        text:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor, dolorem fugit in quis velit!'
      },
      tabs: [
        {
          id: 0,
          text: 'Soru Tipleri',
          type: 'questions',
          count: null
        },
        {
          id: 1,
          text: 'Gramer',
          type: 'grammars',
          count: null
        },
        {
          id: 2,
          text: 'Stratejiler',
          type: 'strategies',
          count: null
        },
        {
          id: 3,
          text: 'Kelime',
          type: 'words',
          count: null
        }
      ],
      cluebanksInfo: {},
      filteredList: []
    }
  },
  computed: {
    ...mapGetters({
      questionTypes: 'cluebank/questionTypes',
      grammars: 'cluebank/grammars',
      strategies: 'cluebank/strategies',
      words: 'cluebank/words'
    })
  },
  methods: {
    ...mapActions({
      getQuestions: 'cluebank/getQuestions',
      getGrammars: 'cluebank/getGrammars',
      getStrategies: 'cluebank/getStrategies',
      getWords: 'cluebank/getWords',
      getFavorites: 'cluebank/getFavorites'
    }),
    changeSlide() {
      this.activeSlide = this.$refs.cluebankTabs.swiper.activeIndex
      this.currentTab = this.tabs[this.activeSlide].id
      this.activeTab = this.activeSlide
      switch (this.currentTab) {
        case 0:
          this.getQuestions()
          break
        case 1:
          this.getGrammars()
          break
        case 2:
          this.getStrategies()
          break
        case 3:
          this.getWords()
          break

        default:
          break
      }
    },
    getResults(value) {
      if (this.$router.params === undefined) {
        return false
      }
      this.searching = value
    },
    tabShow(tab, index) {
      this.currentTab = index
      localStorage.setItem('cluebank-list-activetabid', JSON.stringify(tab.id))
      switch (tab.type) {
        case 'questions':
          if (
            !this.questionTypes.data ||
            (this.questionTypes.data && this.questionTypes.data.length <= 0)
          ) {
            this.getQuestions()
          }
          break
        case 'grammars':
          if (
            !this.grammars.data ||
            (this.grammars.data && this.grammars.data.length <= 0)
          ) {
            this.getGrammars()
          }
          break
        case 'strategies':
          if (
            !this.strategies.data ||
            (this.strategies.data && this.strategies.data.length <= 0)
          ) {
            this.getStrategies()
          }
          break
        case 'words':
          if (
            !this.words.data ||
            (this.words.data && this.words.data.length <= 0)
          ) {
            this.getWords()
          }
          break

        default:
          break
      }
    },
    search() {
      this.showResult = true
    },
    getClueInfo() {
      let self = this
      getCluebankInfo().then(({ data }) => {
        this.loaded = true
        self.cluebanksInfo = data
        self.info.what = data.what
        self.info.howWorks = data.howWorks
        self.info.video = data.video
      })
    }
  },
  mounted() {
    this.getFavorites()
    this.componentLoaded = true
    const activeTabId = localStorage.getItem('cluebank-list-activetabid')
    let activeTab = _.find(this.tabs, ['id', parseInt(activeTabId)])
    this.$route.meta.title = 'İpucu Havuzu'
    if (activeTabId) {
      this.currentTab = parseInt(activeTabId)
    } else {
      activeTab = _.head(this.tabs)
      this.currentTab = activeTab.id
    }
    this.tabShow(activeTab, this.tabs.indexOf(activeTab))
    // this.currentTab = this.$route.params.tabid != undefined ? this.$route.params.tabid : 0;
    // this.$scrollTo('#g-' + this.$route.params.groupid)
    this.$store.dispatch('rosette/getBadges')
  },
  created() {
    this.getClueInfo()
    if (this.$route.params.tabid) {
      switch (this.$route.params.tabid) {
        case 1:
          this.getGrammars()
          break
        case 2:
          this.getStrategies()
          break
        case 3:
          this.getWords()
          break
        default:
          this.getQuestions()
          break
      }
    }
    // this.$store.dispatch(GET_CLUEBANK)
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/components/subpage-search';
</style>
