<template>
  <div
    class="detail-page cluebank-detail"
    :class="{ 'dark-mode': getDarkMode }"
  >
    <div class="detail-header">
      <container>
        <div class="detail-header__wrp">
          <div class="detail-ctr">
            <div class="detail-ctr__item">
              <v-button
                @click.native="setDarkMode"
                class="button--circle circle-xs simple darkmode-button"
                icon="icon-lamp"
                icon-position="left"
                tooltip="Gece Modu"
                tooltip-position="bottom"
              />
            </div>
          </div>
          <div class="detail-content">
            <GhostCluebankDetail v-if="isLoading" />
            <div class="detail-content__content static-content" v-else>
              <div class="detail-content__header">
                <div class="detail-content__title">{{ clue.title }}</div>
                <v-button
                  class="detail-favbtn button--favorite notext btn"
                  icon="icon-star"
                  icon-position="left"
                  :class="{ active: clue.favorited }"
                  @click.native="favToggle(clue.id)"
                  v-tooltip.left-start="favStatus"
                  @mouseover.native="checkFav(clue.favorited)"
                />
              </div>
              <div class="detail-content__cnt p-0">
                <div
                  class="static-content h2 text-center text-bold pt-50"
                  v-if="errorText"
                >
                  {{ errorText }}
                </div>
              </div>
              <highlightable slot="content">
                <div
                  class="detail-content__cnt clue-desc"
                  v-html="clue.description"
                ></div>
              </highlightable>
            </div>
            <div class="detail-content-ctr">
              <div class="test-nav w100 only-desktop">
                <v-button
                  class="button round icon-xs test-nav__prev"
                  :class="!clue.previous_id ? 'passive' : ''"
                  icon="icon-arrow-long-left"
                  icon-position="left"
                  @click.native="goRoute(clue.previous_id)"
                  title="ÖNCEKİ İPUCU"
                />
                <v-button
                  class="button round icon-xs test-nav__next"
                  :class="!clue.next_id ? 'passive' : ''"
                  icon="icon-arrow-long-right"
                  icon-position="right"
                  title="SONRAKİ İPUCU"
                  @click.native="goRoute(clue.next_id)"
                />
              </div>
              <div class="test-nav w100 only-tablet-flex">
                <v-button
                  class="button round icon-xs test-nav__prev"
                  :class="!clue.previous_id ? 'passive' : ''"
                  icon="icon-arrow-long-left"
                  icon-position="left"
                  @click.native="goRoute(clue.previous_id)"
                  title="ÖNCEKİ"
                />
                <v-button
                  class="button round icon-xs test-nav__next"
                  :class="!clue.next_id ? 'passive' : ''"
                  icon="icon-arrow-long-right"
                  icon-position="right"
                  title="SONRAKİ"
                  @click.native="goRoute(clue.next_id)"
                />
              </div>
            </div>

            <div class="detail-other" v-if="clue.other_clues.length > 0">
              <div class="detail-other__header">
                <div class="detail-other__title">DİĞER İPUÇLARI</div>
                <hr class="fw" />
              </div>
              <div class="detail-other__cnt">
                <div class="detail-other__list">
                  <div
                    v-for="other in clue.other_clues"
                    :key="other.id"
                    class="cluebank-list__item"
                    ref="a"
                  >
                    <v-button
                      class="cluebank-fav btn"
                      icon="icon-star"
                      icon-position="left"
                      @click.native="favToggle(other.id)"
                      :class="{ active: other.favorited }"
                      v-tooltip="favStatus"
                      @mouseover.native="checkFav(other.favorited)"
                    />
                    <router-link
                      class="cluebank__link"
                      :to="{ name: 'CluebankDetail', params: { id: other.id } }"
                    >
                      <cluebank-item
                        :title="other.title"
                        :text="other.summary"
                        :id="other.id"
                      />
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-right">
            <v-link
              class="simple xs icon-xs round detail-close"
              :to="{
                name: 'CluebankList',
                params: {
                  tabid: $route.params.lastTab,
                  groupid: $route.params.lastGroup,
                },
              }"
              title="KAPAT"
              icon="icon-close"
              icon-position="right"
              @click="scrollToGroup($route.params.lastGroup)"
            />
          </div>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import CluebankItem from '@/components/ClueBank/CluebankItem'
import GhostCluebankDetail from '@/core/Ghost/GhostCluebankDetail'
import { getClue } from '../../services/cluebank.service'
import { mapGetters, mapActions } from 'vuex'
import {
  SHOW_OVERLAY,
  SHOW_KEYPRESS,
  SHOW_TOOLBAR,
  SWITCH_DARKMODE,
} from '@/store/actions.type'
import Highlightable from '@/components/Highlightable'
import { notifier } from '../../common/helpers'

export default {
  name: 'CluebankDetail',
  props: {
    id: {
      type: Number,
      default: 0,
    },
  },
  components: {
    CluebankItem,
    GhostCluebankDetail,
    Highlightable,
  },

  data() {
    return {
      clues: [],
      clue: {
        other_clues: [],
      },
      isLoading: true,
      errorText: false,
      extraClues: false,
      favStatus: '',
      favText: '',
      routelink: this.$route.params.lastGroup,
    }
  },

  computed: {
    ...mapGetters(['showOverlay', 'showKeypress', 'getDarkMode']),
  },

  watch: {
    $route(to, from) {
      if (to.params.id !== from.params.id) {
        this.clueDetail()
      }
    },
  },

  created() {
    this.clueDetail()
    this.$store.dispatch(SHOW_TOOLBAR, false)
  },

  mounted() {
    localStorage.setItem(
      'cluebank-latest-clueid',
      this.$route.params.id.toString()
    )
    this.$store.dispatch('rosette/getBadges')
  },
  methods: {
    ...mapActions({
      setFavoriteItem: 'cluebank/setFavoriteItem',
    }),

    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },

    keypressToggle() {
      this.$store.dispatch(SHOW_OVERLAY, !this.showOverlay)
      this.$store.dispatch(SHOW_KEYPRESS, !this.showKeypress)
    },

    async clueDetail() {
      this.isLoading = true
      try {
        const clueRes = await getClue(this.$route.params.id)
        this.clue = clueRes.data
        this.$route.meta.title = clueRes.data.title
      } catch (err) {
        this.errorText = err.response.data.message
        throw new Error(err)
      } finally {
        this.isLoading = false
      }
    },

    goRoute(id) {
      this.$router.push({ name: 'CluebankDetail', params: { id: id } })
      this.clueDetail()
    },

    favToggle(id) {
      this.setFavoriteItem(id)
      if (this.clue.id) {
        if (this.clue.id === id) {
          this.clue.favorited = !this.clue.favorited
          notifier.success(this.favText)
        } else {
          this.clue.other_clues = this.clue.other_clues.map(oClue => {
            const clue = oClue
            if (clue.id === id) {
              clue.favorited = !clue.favorited
              notifier.success(this.favText)
            }
            return clue
          })
        }
      }
    },

    checkFav(status) {
      this.favStatus = status ? 'Favorilerden Çıkar' : 'Favorilere Ekle'
      this.favText = status ? 'Favorilerden Çıkarıldı!' : 'Favorilere Eklendi!'
    },
  },
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/components/keyboard-info';
</style>
