<template>
  <div>
    <!-- {{this.playingCounter? this.playingList[this.playingCounter].text : '' }}
     -{{ word.id }}/ {{playingWord}} -
     -{{playingCounter}}
     -{{ showEnglishPlayingWord}}
    -{{showTurkishPlayingWord}}-->
    <div
      class="word-book__item"
      :class="{
        active: word.added,
        playing: word.id === playingWord && isPlaying,
        slideOpened: active,
      }"
    >
      <div class="word-book-inf">
        <div
          class="word-book-inf__left fw"
          @click="!isPlaying && !workingMode ? toggleWord() : ''"
        >
          <div
            v-if="word.id === playingWord && isPlaying"
            class="sounds-preloader"
          >
            <div class="preloader-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <button
            class="button word-book-inf__voice square default has-tooltip"
            v-tooltip="'Dinle'"
            @click.stop="gspeak(word.word)"
            v-else
          >
            <span data-v-d987a750 class="button__wrp">
              <span class="button__icon">
                <svg viewBox="0 0 100 100" class="icon" id="icon-voice">
                  <path
                    d="M9.7,72.4c-5.3,0-9.6-4.3-9.7-9.6l0,0V37.3c0-5.3,4.3-9.6,9.6-9.6h17.7L49.2,6.6c1.5-1.6,4-1.8,5.6-0.3  c0.9,0.7,1.3,1.8,1.3,3v81.5c0,2.2-1.8,3.9-4,3.9c-1.2,0-2.2-0.4-3-1.3L27.2,72.4H9.7z M71.9,65.3c8.4-8.5,8.4-22.1,0-30.5  c-1.1-1.1-2.8-1.2-3.8-0.1c-0.5,0.5-0.9,1.2-0.9,1.9v26.9c0,1.5,1.3,2.7,2.8,2.7C70.6,66.2,71.4,65.9,71.9,65.3z M74.9,89.5  c21.8-10.2,31.2-36.2,21-58c-4.4-9.3-11.7-16.6-21-21c-2.8-1.2-6,0.1-7.1,2.9c-1.2,2.7,0,5.7,2.6,7c16.4,7.8,23.3,27.2,15.5,43.6  c-3.2,6.8-8.7,12.3-15.5,15.5c-2.7,1.4-3.8,4.6-2.4,7.3C69.2,89.5,72.2,90.7,74.9,89.5L74.9,89.5z"
                  />
                </svg>
              </span>
            </span>
          </button>

          <div class="word-book-inf__cnt">
            <div class="word-book-inf__word" v-if="showEnglishPlayingWord">
              <div class="word-book__title" :class="`color-${word.type}`">
                {{ word.word }}
              </div>
              <span
                class="word__badge"
                v-tooltip="word.type_full"
                :class="`bg-${word.type}`"
                lang="en"
                >{{ word.type }}</span
              >
            </div>
            <!-- playing the Sound of the words -->
            <div v-if="word.id === playingWord && workingMode && !showVisible">
              <v-button
                class="word-book-inf__show-btn default color-gray"
                :class="`bg-${word.type}`"
                title="Göster"
                @click.native="showHideTexts"
              />
            </div>
            <!--- show the reading word -->
            <div class="word-book-words__wrp" v-if="showTurkishPlayingWord">
              <transition-group name="fade" class="word-book-words">
                <div
                  class="word-book-words__item"
                  v-for="wordMeaning in word.meanings"
                  v-if="wordMeaning.showInBox"
                  :key="wordMeaning.id"
                >
                  <div class="word-rate" v-tooltip="wordMeaning.rate_text">
                    <span
                      v-for="n in 4"
                      :key="n"
                      :class="{ active: n <= wordMeaning.rate }"
                    ></span>
                  </div>
                  <div class="word-book-words__txt">
                    {{ wordMeaning.word.main.tr }}
                  </div>
                </div>
                <div v-if="moremeaning" :key="99" class="more-dots">...</div>
              </transition-group>
            </div>
          </div>
        </div>
        <div class="word-book-status">
          <div class="word-book-status__left">
            <div>
              <div
                class="word-book-rate"
                :class="{ playingDone: !playingDone }"
              >
                <button
                  class="button word-book-rate__button down"
                  v-tooltip="'Yanlış Bilme'"
                  @click="updateWordVote(false)"
                >
                  <span data-v-d987a750 class="button__wrp">
                    <span class="button__icon">
                      <svg
                        viewBox="0 0 100 100"
                        id="icon-caret-down"
                        class="icon"
                      >
                        <g>
                          <path
                            class="st0"
                            d="M0.4,11.7c-0.2,0.6-0.4,1-0.4,1.7c0,0.6,0.2,1.3,0.6,1.9L47,88.5c0.6,1,1.7,1.7,2.9,1.7c1.3,0,2.3-0.6,2.9-1.7   l46.6-73.3c0.6-1,0.8-2.5,0.2-3.6c-0.6-1-1.9-1.9-3.1-1.9l-92.9,0C2.3,9.8,1,10.6,0.4,11.7"
                          />
                        </g>
                      </svg>
                    </span>
                  </span>
                </button>
                <div
                  class="word-book-rate__count"
                  v-tooltip="'Doğru Bilme Sayısı'"
                >
                  {{ word.status }}
                </div>
                <button
                  class="button word-book-rate__button up"
                  @click="updateWordVote(true)"
                  v-tooltip="'Doğru Bilme'"
                >
                  <span data-v-d987a750 class="button__wrp">
                    <span class="button__icon">
                      <svg
                        viewBox="0 0 100 100"
                        id="icon-caret-up"
                        class="icon"
                      >
                        <g>
                          <path
                            class="st0"
                            d="M99.6,88.3c0.2-0.6,0.4-1,0.4-1.7c0-0.6-0.2-1.3-0.6-1.9L53,11.5c-0.6-1-1.7-1.7-2.9-1.7   c-1.3,0-2.3,0.6-2.9,1.7L0.6,84.8c-0.6,1-0.8,2.5-0.2,3.6s1.9,1.9,3.1,1.9l92.9,0C97.7,90.2,99,89.4,99.6,88.3"
                          />
                        </g>
                      </svg>
                    </span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="word-book-views" v-tooltip="'Tekrar Sayısı'">
            <img
              class="word-book-views__icon"
              src="../../../assets/recycleicon.svg"
            />
            <span class="word-book-views__count">{{ word.cycle }}</span>
          </div>
          <div class="wordlist-delete" v-if="list.is_owner">
            <BaseButton
              class="wordlist-delete__btn"
              :intent="'secondary'"
              :icon="'minus'"
              :loading="workingMode"
              @click.native="DeleteWord()"
              v-tooltip="{
                content: 'Listeden Çıkar',
                boundariesElement: '.detail__inner',
              }"
            />
          </div>
        </div>
      </div>
      <slide-up-down :duration="600" :active="active">
        <div class="word-book__cnt">
          <div>
            <div
              class="word-book-word"
              v-for="wordMeaning in word.meanings"
              :key="wordMeaning.id"
            >
              <div class="word-book-word__top">
                <div class="word-book-word__top-left">
                  <button
                    class="button word-book-word__button reverseActive"
                    :class="{ active: !wordMeaning.showInBox }"
                    v-tooltip="{
                      content: wordMeaning.showInBox
                        ? 'Anlamı Gizle'
                        : 'Anlamı Göster',
                    }"
                    @click="
                      toggleWordBox(wordMeaning.id, !wordMeaning.showInBox)
                    "
                  >
                    <span data-v-d987a750 class="button__wrp">
                      <span class="button__icon">
                        <svg viewBox="0 0 100 100" id="icon-plus" class="icon">
                          <g>
                            <g class="st0">
                              <path
                                d="M98,49.5L98,49.5c0,3.5-2.8,6.3-6.3,6.3l-84.3,0C3.8,55.9,1,53,1,49.5c0-3.5,2.8-6.3,6.3-6.3l84.3,0    C95.2,43.2,98,46,98,49.5"
                              />
                            </g>
                            <g class="st0">
                              <path
                                d="M91.7,56.3l-84.3,0c0,0,0,0,0,0c-1.8,0-3.5-0.7-4.8-2c-1.3-1.3-2-3-2-4.8c0-3.7,3-6.8,6.8-6.8h84.3c3.7,0,6.8,3,6.8,6.8    C98.4,53.2,95.4,56.3,91.7,56.3z M7.4,55.5l84.3,0c3.3,0,5.9-2.7,5.9-5.9c0-3.3-2.7-5.9-5.9-5.9H7.4c-3.3,0-5.9,2.7-5.9,5.9    c0,1.6,0.6,3.1,1.7,4.2C4.3,54.8,5.8,55.5,7.4,55.5C7.3,55.5,7.4,55.5,7.4,55.5z"
                              />
                            </g>
                            <g class="st0">
                              <path
                                d="M49.5,1L49.5,1c3.5,0,6.4,2.8,6.3,6.3l0,84.3c0,3.5-2.8,6.4-6.3,6.3c-3.5,0-6.3-2.8-6.3-6.3l0-84.3C43.2,3.9,46,1,49.5,1"
                              />
                            </g>
                            <g class="st0">
                              <path
                                d="M49.5,98.4C49.5,98.4,49.5,98.4,49.5,98.4c-1.8,0-3.5-0.7-4.8-2c-1.3-1.3-2-3-2-4.8V7.4c0-3.7,3-6.7,6.7-6.8h0    c1.8,0,3.5,0.7,4.8,2c1.3,1.3,2,3,2,4.8v84.3c0,1.8-0.7,3.5-2,4.8C53,97.7,51.3,98.4,49.5,98.4z M49.5,97.6    C49.5,97.6,49.5,97.6,49.5,97.6c1.6,0,3.1-0.6,4.2-1.7c1.1-1.1,1.7-2.6,1.7-4.2V7.4c0-1.6-0.6-3.1-1.7-4.2    c-1.1-1.1-2.6-1.7-4.2-1.7c-3.3,0-5.9,2.7-5.9,5.9v84.3c0,1.6,0.6,3.1,1.7,4.2C46.4,97,47.9,97.6,49.5,97.6    C49.5,97.6,49.5,97.6,49.5,97.6z"
                              />
                            </g>
                          </g>
                        </svg>
                        <svg viewBox="0 0 100 100" id="icon-dash" class="icon">
                          <path
                            d="M100,50L100,50c0-4.7-3.8-8.5-8.5-8.5l-83.1,0c-2.3,0-4.4,0.9-6,2.5C0.9,45.6,0,47.7,0,50c0,2.3,0.9,4.4,2.5,6c0,0,0,0,0,0  c1.6,1.6,3.7,2.5,6,2.5l83.1,0c2.3,0,4.4-0.9,6-2.5C99.1,54.4,100,52.3,100,50z"
                          />
                        </svg>
                      </span>
                    </span>
                  </button>
                </div>
                <div class="word-book-word__rate">
                  <div class="word-rate" v-tooltip="wordMeaning.rate_text">
                    <span
                      v-for="n in 4"
                      :key="n"
                      :class="{ active: n <= wordMeaning.rate }"
                    ></span>
                  </div>
                </div>
                <div class="word-book-word__top-right">
                  <div class="word-book-word__title">
                    {{ wordMeaning.word.main.tr }}
                  </div>
                  <div
                    class="word-book-word__subtitle"
                    v-if="wordMeaning.word.sub.tr"
                  >
                    {{ wordMeaning.word.sub.tr }}
                  </div>
                  <div class="word-book-word__txt">
                    {{ wordMeaning.description.en }}
                  </div>
                </div>
                <!-- <div class="word-book-word__top-right-btn ml-auto">
                  <v-button
                    class="default icon-xs"
                    icon-position="left"
                    icon="icon-dash"
                    title="Kelimeyi Listeden Çıkar"
                    @click.native="DeleteWord()"
                    v-if="list.is_owner"
                  />
                </div> -->
              </div>
              <div class="word-book-word__bottom">
                <div class="word-book-word__bottom-left"></div>
                <div class="word-book-word__bottom-right">
                  <div class="word-book-word__txt text-italic">
                    {{ wordMeaning.description.tr }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div
              class="word-book-types with-border-top"
              v-for="synonym in word.synonyms"
              :key="synonym.id"
            >
              <div class="word-book-types__title">EŞ ANLAMLILARI</div>
              <div>
                <div class="word-book-types__txt">{{ synonym.tr }}</div>
                <div class="word-book-eg">
                  <div
                    class="word-book-eg__item"
                    v-for="synonymWord in synonym.items"
                    :key="synonymWord.word"
                  >
                    <div class="word-book-eg__title">
                      {{ synonymWord.text }}
                      <span :class="'color-' + synonymWord.type"
                        >({{ synonymWord.type.slice(0, 1) }})</span
                      >
                      :
                    </div>
                    <div class="word-book-eg__txt">
                      <span>{{ synonymWord.description }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </slide-up-down>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { textToSpeech } from '../../../common/tts-helper'
import BaseButton from '../../Base/BaseButton.vue'

export default {
  components: { BaseButton },
  name: 'ListWordItem',
  props: {
    word: Object,
  },
  data() {
    return {
      active: false,
      showVisible: false,
      playingDone: false,
    }
  },
  computed: {
    ...mapGetters({
      list: 'wordbookList/list',
      filter: 'wordbookList/filter',
      workingMode: 'wordbookPlaying/workingMode',
      playingList: 'wordbookPlaying/playingList',
      soundsLoading: 'wordbookPlaying/soundsLoading',
      playingWord: 'wordbookPlaying/playingWord',
      isPlaying: 'wordbookPlaying/isPlaying',
      playingCounter: 'wordbookPlaying/playingCounter',
    }),
    moremeaning() {
      return (
        this.word.meanings.filter(item => item.showInBox === false).length > 0
      )
    },
    showEnglishPlayingWord() {
      if (this.workingMode) {
        if (this.filter.language.tr && !this.showVisible) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    showTurkishPlayingWord() {
      if (this.workingMode) {
        if (this.filter.language.en && !this.showVisible) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
  },
  methods: {
    ...mapActions({
      updateWordCycle: 'wordbookList/updateWordCycle',
      updateWordStatus: 'wordbookList/updateWordStatus',
      updateshowBoxPhoto: 'wordbookList/updateshowBoxPhoto',
      deleteWordFromListDetail: 'wordbookList/deleteWordFromListDetail',
      playingWordSound: 'wordbookPlaying/playingWordSound',
      addNewWordToList: 'wordbookMyList/addNewWordToList',
      deleteWordFromList: 'wordbookMyList/deleteWordFromList',
      MoreWords: 'wordbookList/MoreWords',
      getExploreList: 'wordbookExploreList/getExploreList',
      getMyList: 'wordbookMyList/getMyList',
    }),
    gspeak: textToSpeech,
    toggleWord() {
      if (!this.active) {
        let requestDetail = {
          id: this.word.id,
          languageId: this.filter.language.tr ? 1 : 2,
          groupId: this.word.groupId,
        }
        this.updateWordCycle(requestDetail)
      }
      this.active = !this.active
    },
    updateWordVote(isVoteUp) {
      if (this.word.id === this.playingWord) {
        let requestDetail = {
          id: this.word.id,
          languageId: this.filter.language.tr ? 1 : 2,
          groupId: this.word.groupId,
          value: isVoteUp ? 1 : -1,
          status: isVoteUp ? this.word.status + 1 : this.word.status - 1,
        }
        this.updateWordStatus(requestDetail).then(() => {
          this.playingWordSound(this.playingCounter)
          this.showVisible = false
          this.playingDone = false
        })
      }
    },
    toggleWordBox(meaningIndex, showInBox) {
      let wordData = {
        id: this.word.id,
        meaningIndex: meaningIndex,
        showInBox: showInBox,
      }

      this.updateshowBoxPhoto(wordData).then(() => {
        let newWord = {
          type: 'm',
          data: meaningIndex,
          listID: this.list.id,
        }
        if (showInBox) {
          this.addNewWordToList(newWord)
        } else {
          this.deleteWordFromList(newWord)
        }
      })
    },
    showHideTexts() {
      if (this.word.id === this.playingWord) {
        this.showVisible = true
        this.playingDone = true
        let requestDetail = {
          id: this.word.id,
          languageId: this.filter.language.tr ? 1 : 2,
          groupId: this.word.groupId,
        }
        this.updateWordCycle(requestDetail)
      }
    },
    DeleteWord() {
      if (this.workingMode) return
      let newWord = {
        type: this.word.group,
        data: this.word.id,
        listID: this.list.id,
      }
      this.deleteWordFromListDetail(newWord).then(async res => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: res.data.success ? 'success' : 'error',
          title: res.data.message,
          position: 'top-end',
          showConfirmButton: false,
        })
        let listdata = {
          id: this.list.id,
          pageNO: this.list.currentPage,
          groupId: this.currentTab,
        }
        await this.MoreWords(listdata)
        console.log('gettered list', this.list)
        this.getExploreList()
        this.getMyList(true)
      })
      this.word.added = !this.word.added
    },
  },
  watch: {
    isPlaying() {
      if (this.isPlaying) {
        this.active = false
      }
    },
    workingMode() {
      if (!this.workingMode) {
        // console.log('workingMode')
        this.showVisible = false
        this.playingDone = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/_breakpoints';

.wordlist-delete {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #dde3eb;
  padding: 0.25rem 0 0.25rem 1rem;

  @include bp(tablet-m) {
    padding: 0.5rem 0 0.5rem 1rem;
  }

  @include bp(tablet) {
    border-left: none;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  &__btn {
    height: 3.5rem;
    width: 3.5rem;

    @include bp(tablet-m) {
      height: 2.5rem;
      width: 2.5rem;

      &::v-deep .b-icon {
        height: 1rem;
      }
    }

    @include bp(tablet) {
      margin-left: auto;
      height: 2.25rem;
      width: 2.25rem;

      &::v-deep .b-icon {
        height: 1rem;
      }
    }
  }
}

.word-book-views {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  position: relative;

  &__count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include bp(tablet-m) {
    height: 2.75rem;
    width: 2.75rem;
  }

  @include bp(tablet) {
    height: 2.5rem;
    width: 2.5rem;
  }

  &__icon {
    height: 3.25rem;

    @include bp(tablet-m) {
      height: 2.75rem !important;
    }

    @include bp(tablet) {
      height: 2.5rem !important;
    }
  }
}

.dark-mode {
  .wordlist-delete {
    border-color: #525773;
  }
}
</style>
