<template>
  <div class="word-box" :class="{ expanded: expanded }" ref="wordbox">
    <!-- {{ word }} -->
    <div class="word-box-content" ref="wordbox">
      <div class="word-box__left">
        <transition-group name="scale-fade">
          <v-button
            @click.native="speak(word.word)"
            :key="1"
            class="word-box__voice square default"
            icon="icon-voice"
            icon-position="left"
            v-if="!list.is_owner"
            v-tooltip="'Dinle'"
          />
          <v-button
            :key="2"
            class="default shadow-none word-book-word__button"
            icon="icon-plus"
            icon-position="left"
            v-if="!resutlAdded"
            @click.native="addWord()"
            v-tooltip="'Ekle'"
          />
          <v-button
            :key="3"
            class="shadow-none word-book-word__button active"
            icon="icon-dash"
            icon-position="left"
            v-if="resutlAdded"
            @click.native="DeleteWord()"
            v-tooltip="'Çıkar'"
          />
        </transition-group>
      </div>
      <div class="word-box__cnt">
        <div class="word-box__top linked" @click="$emit('onWordClick', word)">
          <div
            class="word-box__title"
            :class="word.type ? `color-${word.type}` : ''"
          >{{ word.word }}</div>
          <span
            class="word__badge"
            v-if="word.type"
            :class="`bg-${word.type}`"
            lang="en"
            v-tooltip="word.type_full"
          >{{ word.type }}</span>
        </div>

        <!---- search Result and Data -->
        <div class="word-box-meaning" v-if="!_.isEmpty(word.meanings)" :id="`wbm`">
          <div class="word-box-meaningsline">
            <div
              class="word-box-meaning__item"
              v-for="(meaning, index) in word.meanings"
              :key="meaning.id"
              v-if="!word.meanings.showInBox && index < 1"
            >
              <div class="word-rate" v-tooltip="word.type_text">
                <span v-for="n in 4" :key="n" :class="{ active: n <= meaning.rate }"></span>
              </div>
              <div class="word-box-meaning__title" v-if="type !== 'wordlist'">{{ meaning.title }}</div>
              <div class="word-box-meaning__title" v-else>{{ meaning.word.main.tr }}</div>
            </div>
            <span
              class="word-box-morebtn"
              @click="more"
              v-if="word.meanings.length > 1"
              v-tooltip.top="{
                content: 'Kelimenin Diğer Anlamları',
                classes: 'tooltip-singleline'
              }"
            >+{{ word.meanings.length - 1 }}</span>
          </div>
        </div>
        <!--- List word Data -->
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
import { textToSpeech } from '../../../common/tts-helper'

export default {
  name: 'SearchWord',
  data() {
    return {
      editWord: false,
      newWord: '',
      expanded: false,
      resutlAdded: false
    }
  },
  props: {
    word: Object,
    group: {
      type: String,
      default: ''
    },
    // selectable: {
    //   type: Boolean,
    //   default: true
    // },
    hasVoice: {
      type: Boolean,
      default: true
    },
    type: {
      type: String,
      default: ''
    },
  },
  computed: {
    _() {
      return _
    },
    ...mapGetters({
      list: 'wordbookList/list',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
    })
  },
  methods: {
    ...mapActions({
      addNewWordToList: 'wordbookMyList/addNewWordToList',
      deleteWordFromList: 'wordbookMyList/deleteWordFromList',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      getMyList: 'wordbookMyList/getMyList',

    }),
    speak: textToSpeech,
    async addWord() {
      this.clearFromMessage()
      let newWord = {
        type: this.word.group,
        data: this.word.id,
        listID: this.list.id,
      }

      await this.addNewWordToList(newWord).then(() => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: this.listMassegeStatus ? 'success' : 'error',
          title: this.listMessageText,
          position: 'top-end',
          showConfirmButton: false
        })
        this.resutlAdded = true
      })
    },
    async DeleteWord() {
      let newWord = {
        type: this.word.group,
        data: this.word.id,
        listID: this.list.id,
      }
      await this.deleteWordFromList(newWord).then(() => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: this.listMassegeStatus ? 'success' : 'error',
          title: this.listMessageText,
          position: 'top-end',
          showConfirmButton: false
        })
        this.resutlAdded = false
      })
    },
    more() {
      this.$router.push(`/sozluk/${this.word.word}`)
    }
  }
}
</script>

<style lang="scss">
@import '../../../assets/scss/components/word-box';
</style>
