<template>
  <modal :active="searchWordForm" class="wordlist__modal" @onModalClose="showAddSearchForm(false)">
    <div class="modal__header" slot="header">
      <span class="modal__icon">
        <span class="icon-font">
          <svg-icon type="icon-lists" />
        </span>
      </span>
      <div class="modal__title">Yeni Kelime Ekle</div>
    </div>
    <div slot="content">
      <div class="toolbar-form form">
        <div class="word-new">
          <div class="word-new-search word-new-search--input">
            <div class="form-container">
              <input
                type="text"
                class="form-input"
                v-model="searchTerm"
                placeholder="Kelime Ara"
                @keyup="searchFormNewWord"
              />
            </div>
            <!-- <div class="word-new-lng">en</div> -->
          </div>
          <div class="word-new-sel" v-if="wordSearchResult">
            <div v-if="loadingSearch" class="ghost-toolbar-wordbook-search-outer">
              <GhostToolbarWordbookSearch v-for="n in 2" :key="n" />
            </div>
            <!-- {{ wordSearchResult }} -->
            <section
              v-for="resultGroup in wordSearchResult"
              :key="resultGroup.id"
              v-if="resultGroup.length"
            >
              <button
                class="word-group__btn"
                :class="openGroupResult ==  resultGroup[0].group? 'open' : ''"
                @click="openResultGroup(resultGroup[0].group)"
              >
                <dynamic-icon :type="getGroupIcon(resultGroup[0].group)" />
                <div class="word-group__btn_text">
                  <span>{{ getGroupName(resultGroup[0].group)}}</span>
                  <span class="wrdcnt">( {{ resultGroup? resultGroup.length : 0}} Kelime )</span>
                </div>
                <span class="select__caret"></span>
              </button>
              <slide-up-down
                :duration="200"
                :active="resultGroup[0].group == openGroupResult"
                class="word-group__box is-disable-more-btn"
              >
                <div class="word-group__cnt">
                  <Search-word
                    v-for="word in resultGroup"
                    :key="word.id"
                    :word="word"
                    :group="resultGroup[0].group"
                    :selectable="true"
                    :type="'searchResult'"
                  />
                </div>
              </slide-up-down>
            </section>
          </div>
          <div v-if="(!wordSearchResult[0] || wordSearchResult[0].length === 0) && !loadingSearch ">
            <EmptyContent
              class="empty-content--notfound"
              icon="icon-notfound-dictionary"
              title="Aradığınız kelime bulunamadı!"
              text="Yanlış yazmış olabilirsiniz, doğru yazdığınızdan <br> emin olarak tekrar deneyin."
              v-if="startSearch"
            />
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import delaySearch from '../../../common/delay-search'
import SearchWord from '@/components/WordBook/List/SearchWord'
import GhostToolbarWordbookSearch from '@/core/Ghost/GhostToolbarWordbookSearch'
import Modal from '@/components/Modal'
import EmptyContent from '@/components/EmptyContent'

// import ToggleInput from '@/components/ToggleInput.vue'

export default {
  name: 'AddWordToListForm',
  components: {
    SearchWord,
    GhostToolbarWordbookSearch,
    Modal,
    EmptyContent,
    // ToggleInput
  },
  data() {
    return {
      searchTerm: '',
      openGroupResult: false,
      startSearch: false
    }
  },
  props: {
    searchWordForm: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters({
      list: 'wordbookList/list',
      wordSearchResult: 'wordbookMyList/wordSearchResult',
      loadingSearch: 'wordbookMyList/loadingSearch',
      currentTab: 'wordbookList/currentTab',
      filters: 'wordbookList/filters',
      filter: 'wordbookList/filter',
      nextPage: 'wordbookList/nextPage',
    }),
  },
  methods: {
    ...mapActions({
      getMyList: 'wordbookMyList/getMyList',
      clearFromMessage: 'wordbookMyList/clearFromMessage',
      searchWord: 'wordbookMyList/searchWord',
      restSearchResult: 'wordbookMyList/restSearchResult',
      MoreWords: 'wordbookList/MoreWords',
      getListData: 'wordbookList/getListData',
    }),
    /**
     *
     */
    searchFormNewWord() {
      if (this.searchTerm.length > 1) {
        delaySearch(() => {
          this.startSearch = true
          this.restSearchResult()
          this.searchWord(this.searchTerm)
        })
      }
    },
    /**
     *
     */
    async showAddSearchForm(showForm) {
      this.getMyList()
      let listdata = { id: this.list.id, pageNO: this.list.currentPage, groupId: this.currentTab }
      await this.MoreWords(listdata)
      // this.getListData(({ id: this.list.id, pageNo: this.list.currentPage }))
      this.startSearch = false
      this.searchTerm = ''
      this.$emit('showAddSearchForm', showForm)
    },
    /**
     *
     */
    getGroupName(groupcode) {
      switch (groupcode) {
        case 'c':
          return 'Collocation'
        case 'w':
          return 'Vocabulary'
        case 'p':
          return 'Preposition'
        default:
          return ''
      }
    },
    /**
     *
     */
    getGroupIcon(groupcode) {
      switch (groupcode) {
        case 'c':
          return 'icon-collocation-o'
        case 'w':
          return 'icon-vocabulary-o'
        case 'p':
          return 'icon-preposition-o '
        default:
          return ''
      }
    },
    openResultGroup(groupCode) {
      if (this.openGroupResult !== groupCode) {
        this.openGroupResult = groupCode
      } else {
        this.openGroupResult = false
      }
    },

  }
}
</script>
