<template>
  <section :class="{ 'dark-mode': getDarkMode }">
    <template v-if="!loaded && !loading">loading</template>
    <template v-if="loaded && !loading">
      <div class="detail-header">
        <container>
          <div class="detail-header__wrp">
            <div class="detail-ctr">
              <div class="detail-ctr__item">
                <BaseButton
                  class="detail-left-btn"
                  :class="{ active: getDarkMode }"
                  :icon="'lamp'"
                  :styling="'pill'"
                  v-tooltip="'Gece Modu'"
                  @click="setDarkMode"
                />

                <BaseButton
                  class="detail-left-btn is-tour"
                  :icon="'help'"
                  :styling="'pill'"
                  v-tooltip="'Tanıtım Turu'"
                  @click="startTour"
                />
              </div>
            </div>
            <div class="detail-inf">
              <div class="detail-inf__header word-book-heading">
                <word-book-list-header />
                <hr class="hr-horizontal" />
                <div class="word-book-heading-inf">
                  <div class="word-book-heading-inf__title">
                    <strong>{{ list.follower_count }}</strong>
                    <span>liste takipçisi</span>
                  </div>
                  <div class="word-book-heading-inf__right">
                    <button
                      class="button word-book-heading-inf__button"
                      @click="downloadwordList(true)"
                    >
                      <span data-v-d987a750 class="button__wrp">
                        <span class="button__icon" v-tooltip="'İndir / Yazdır'">
                          <svg
                            viewBox="0 0 100 100"
                            id="icon-print"
                            class="icon"
                          >
                            <g>
                              <g>
                                <path
                                  d="M96.4,70.7V32.5c0-5.1-4.1-9.2-9.2-9.2h-5.7V8.1c0-3.4-2.8-6.1-6.1-6.1H24.7c-3.4,0-6.1,2.8-6.1,6.1v15.2h-5.7    c-5.1,0-9.2,4.1-9.2,9.2v38.2c0,5.1,4.1,9.2,9.2,9.2h5.7v12c0,3.4,2.8,6.1,6.1,6.1h50.6c3.4,0,6.1-2.8,6.1-6.1v-12h5.7    C92.2,79.9,96.4,75.8,96.4,70.7z M23.8,8.1c0-0.5,0.4-0.9,0.9-0.9h50.6c0.5,0,0.9,0.4,0.9,0.9v15.2H23.8V8.1z M76.2,91.9    c0,0.5-0.4,0.9-0.9,0.9H24.7c-0.5,0-0.9-0.4-0.9-0.9V54.2h52.4L76.2,91.9L76.2,91.9z M78.8,49H21.2c-1.5,0-2.6,1.2-2.6,2.6v23.1    h-5.7c-2.2,0-4-1.8-4-4V32.5c0-2.2,1.8-4,4-4h74.3c2.2,0,4,1.8,4,4v38.2c0,2.2-1.8,4-4,4h-5.7V51.6C81.4,50.1,80.3,49,78.8,49z"
                                />
                                <path
                                  d="M75.3,100H24.7c-4.4,0-8.1-3.6-8.1-8.1V81.9h-3.8c-6.2,0-11.2-5-11.2-11.2V32.5c0-3,1.2-5.8,3.3-7.9    c2.1-2.1,4.9-3.2,7.8-3.2c0,0,0,0,0,0h3.8V8.1c0-4.4,3.6-8.1,8.1-8.1h50.6c4.4,0,8.1,3.6,8.1,8.1v13.3h3.8c6.2,0,11.2,5,11.2,11.2    v38.2c0,6.2-5,11.2-11.2,11.2h-3.8v10.1C83.4,96.4,79.7,100,75.3,100z M12.8,25.2c-1.9,0-3.8,0.8-5.1,2.1    c-1.4,1.4-2.2,3.2-2.2,5.2v38.2c0,4,3.3,7.3,7.3,7.3h7.6v13.9c0,2.3,1.9,4.2,4.2,4.2h50.6c2.3,0,4.2-1.9,4.2-4.2V78h7.6    c4,0,7.3-3.3,7.3-7.3V32.5c0-4-3.3-7.3-7.3-7.3h-7.6V8.1c0-2.3-1.9-4.2-4.2-4.2H24.7c-2.3,0-4.2,1.9-4.2,4.2v17.1L12.8,25.2    C12.9,25.2,12.8,25.2,12.8,25.2z M75.3,94.8H24.7c-1.6,0-2.8-1.3-2.8-2.8V52.3h56.2V90l0,1.9C78.1,93.5,76.9,94.8,75.3,94.8z     M25.7,90.9h48.5V56.1H25.7V90.9z M87.1,76.6h-7.6l0-25c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.2-0.2-0.5-0.2H21.2    c-0.4,0-0.7,0.3-0.7,0.7v25h-7.6c-3.3,0-5.9-2.7-5.9-5.9V32.5c0-3.3,2.7-5.9,5.9-5.9h74.3c3.3,0,5.9,2.7,5.9,5.9v38.2    C93,74,90.4,76.6,87.1,76.6z M83.3,72.8h3.8c1.1,0,2.1-0.9,2.1-2.1V32.5c0-1.1-0.9-2.1-2.1-2.1H12.9c-1.1,0-2.1,0.9-2.1,2.1v38.2    c0,1.1,0.9,2.1,2.1,2.1h3.8V51.6c0-2.5,2-4.6,4.6-4.6h57.6c1.2,0,2.4,0.5,3.2,1.4c0.8,0.9,1.3,2,1.3,3.2V72.8z M78.1,25.2H21.9    V8.1c0-1.6,1.3-2.8,2.8-2.8h50.6c1.6,0,2.8,1.3,2.8,2.8V25.2z M25.7,21.3h48.5V9.1H25.7V21.3z"
                                />
                              </g>
                              <g>
                                <path
                                  d="M17.2,36.8c-0.5,0.5-0.8,1.2-0.8,1.9c0,0.7,0.3,1.4,0.8,1.9c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8    c0.5-0.5,0.8-1.2,0.8-1.9s-0.3-1.4-0.8-1.9C19.9,35.9,18.2,35.9,17.2,36.8z"
                                />
                                <path
                                  d="M19.1,43.2c-1.2,0-2.4-0.5-3.2-1.3c-0.8-0.8-1.3-2-1.3-3.2c0-1.2,0.5-2.4,1.3-3.2c0.8-0.8,2-1.3,3.2-1.3    c1.2,0,2.4,0.5,3.2,1.3c0.9,0.9,1.3,2,1.3,3.2c0,1.2-0.5,2.4-1.3,3.2C21.4,42.8,20.3,43.2,19.1,43.2z M19,38    c-0.2,0-0.4,0.1-0.5,0.2l0,0c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2    c0.1-0.1,0.2-0.3,0.2-0.5s-0.1-0.4-0.2-0.5C19.5,38.1,19.3,38,19,38z"
                                />
                              </g>
                              <g>
                                <path
                                  d="M64.9,77.5H35.1c-1.5,0-2.6,1.2-2.6,2.6s1.2,2.6,2.6,2.6h29.7c1.5,0,2.6-1.2,2.6-2.6S66.3,77.5,64.9,77.5z"
                                />
                                <path
                                  d="M64.8,84.7H35.1c-2.5,0-4.6-2-4.6-4.6c0-2.5,2-4.6,4.6-4.6h29.7c2.5,0,4.5,2,4.5,4.6C69.4,82.7,67.3,84.7,64.8,84.7z     M35.1,79.5c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h29.7c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7H35.1z"
                                />
                              </g>
                            </g>
                          </svg>
                        </span>
                      </span>
                    </button>
                    <!-- <v-button
                      class="word-book-heading-inf__button"
                      icon="icon-share"
                      icon-position="left"
                    />-->
                  </div>
                </div>
              </div>
              <div v-if="loadingTab">
                <ghostWordbookTab />
              </div>
              <div v-else>
                <div class="detail__inner">
                  <tab
                    class="detail-tab word-book-tab"
                    :current-tab="getcurrentTab()"
                    lang="en"
                    :tabs="getTabsData()"
                    @clickTab="tabShow"
                  >
                    <tab-pane
                      :class="{ active: currentTab === tabitem.id }"
                      v-for="tabitem in getTabsData()"
                      :key="tabitem.key"
                    >
                      <div class="detail-tab__inner">
                        <!-- Wordbook Filters -->
                        <word-book-filter
                          @showAddSearchForm="showAddSearchForm"
                          @updateIsReading="updateIsReading"
                          :isReading="isReading"
                          ref="filters"
                        />
                        <!-- WordBook Filters -->
                        <div v-if="loadingWords">
                          <ghostWordbookContent />
                        </div>
                        <div v-else>
                          <div v-if="list.items.length">
                            <div class="word-book-list" ref="wordBookList">
                              <list-word-item
                                v-for="word in list.items"
                                :key="`wordBookListWordItem${word.id}`"
                                :word="word"
                                :isReading="isReading"
                              />
                            </div>

                            <!--- TODO: ADD More Items to the Master list -->
                            <div v-if="list.totalPage > 1">
                              <div class="number-pagination mt-30">
                                <div
                                  class="number-pagination__item"
                                  @click="loadMoreWords(1)"
                                  v-if="list.totalPage > 5"
                                >
                                  <button
                                    :class="
                                      1 === list.currentPage ? 'active' : ''
                                    "
                                    class="number-pagination__btn"
                                  >
                                    1
                                  </button>
                                </div>
                                <span
                                  class="number-pagination__dots"
                                  v-if="
                                    list.currentPage > 3 &&
                                      list.totalPage > 5 &&
                                      renderedPages[0] > 1
                                  "
                                  >•••
                                </span>
                                <div
                                  class="number-pagination__item"
                                  @click="loadMoreWords(page)"
                                  v-for="page in renderedPages"
                                  :key="page"
                                >
                                  <button
                                    :class="
                                      page === list.currentPage ? 'active' : ''
                                    "
                                    class="number-pagination__btn"
                                  >
                                    {{ page }}
                                  </button>
                                </div>
                                <span
                                  class="number-pagination__dots"
                                  v-if="
                                    list.currentPage < list.totalPage - 3 &&
                                      list.totalPage > renderedPages[4] + 1 &&
                                      list.totalPage > 5
                                  "
                                  >•••</span
                                >
                                <div
                                  class="number-pagination__item"
                                  @click="loadMoreWords(list.totalPage)"
                                  v-if="list.totalPage > 5"
                                >
                                  <button
                                    :class="
                                      list.totalPage === list.currentPage
                                        ? 'active'
                                        : ''
                                    "
                                    class="number-pagination__btn"
                                  >
                                    {{ list.totalPage }}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <template v-else>
                            <EmptyContent
                              class="empty-content--notfound mb-50"
                              icon="icon-notfound-dictionary"
                              title="Kelime Bulunamadı!"
                              text="Filtrelerinizle eşleşen kelimeler bulunamadı. Yeni kelime ekleyerek listesini düzenleyebilir, herkese açık yaparak diğer kullanıcılara açabilirsiniz."
                            />
                          </template>
                        </div>
                      </div>
                    </tab-pane>
                  </tab>
                </div>
              </div>
            </div>
            <div class="detail-right">
              <BaseButton
                uppercase
                class="detail-close"
                :icon="'close'"
                :iconPosition="'right'"
                :styling="'pill'"
                :text="'Kapat'"
                @click="goBack"
              />
            </div>
          </div>
        </container>
      </div>
      <!-- add to new modal for the new modal  -->
      <search-word-to-list-from
        :searchWordForm="searchWordForm"
        v-if="list.is_owner"
        @showAddSearchForm="showAddSearchForm"
      />
      <!-- Add the New Modal for the systems -->
    </template>
    <v-tour
      name="wordbookTour"
      :steps="tourSteps"
      :options="tourOptions"
      :callbacks="tourCallbacks"
    ></v-tour>
  </section>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import Tab from '@/components/Tab/Tab'
import TabPane from '@/components/Tab/TabPane'
import ListWordItem from '@/components/WordBook/List/ListWordItem'
import WordBookFilter from '@/components/WordBook/List/WordBookFilter'
import SearchWordToListFrom from '@/components/WordBook/List/SearchWordToListFrom'
import WordBookListHeader from '@/components/WordBook/List/WordBookListHeader'
import { SWITCH_DARKMODE } from '@/store/actions.type'
import EmptyContent from '@/components/EmptyContent'
import ghostWordbookContent from '@/core/Ghost/GhostWordbookContent'
import ghostWordbookTab from '@/core/Ghost/GhostWordbookTab'
import { toggleTour } from '../../../services/user.service'
import BaseButton from '../../Base/BaseButton.vue'

export default {
  name: 'WordBookList',
  components: {
    Tab,
    TabPane,
    ListWordItem,
    WordBookFilter,
    SearchWordToListFrom,
    WordBookListHeader,
    EmptyContent,
    ghostWordbookContent,
    ghostWordbookTab,
    BaseButton,
  },

  data() {
    return {
      searchWordForm: false,
      isReading: false,
      token: localStorage.getItem('auth_token'),
      tourSteps: [
        {
          target: '.detail-inf__header',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Liste Bilgileri</strong> <p class="guide-desc">Kelime listesinin adını ve açıklamasını görebilir. Eğer kelime listesi size ait ise 'Düzenle' buttonu ile bu bilgileri düzenleyebilirsiniz. Kelime listesinin gizlilik durumunu, liste sahibi kullanıcının bilgilerini ve takipçi sayısını görebilirsiniz. Kelime listesini PDF formatında indirerek yazdırabilirsiniz.</p>`,
        },
        {
          target: '.word-book-tab .tab__header',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Kelimeler</strong> <p class="guide-desc">Listede yer alan kelimeleri Vocabulary, Collocation, Preposition başlıkları altında filtreyerek görebilir, çalışma yapacağınız türü seçebilirsiniz.</p>`,
        },
        {
          target: '#addNewWords',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Yeni Kelime Ekle</strong> <p class="guide-desc">Kelime listesi size ait ise çalışma alanı üzerinden listeye yeni kelime ekleyebilirsiniz.</p>`,
        },
        {
          target: '#wordTypesFilter',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Kelime Türleri</strong> <p class="guide-desc">Kelimeleri çalışmak isterdiğiniz kelime türlerine göre filtreleyebilirsiniz.</p>`,
        },
        {
          target: '#wordOrdersFilter',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Kelime Sıralama</strong> <p class="guide-desc">Kelimeleri çeşitli algoritmalara göre sıralayarak çalışabilirsiniz.</p>`,
        },
        {
          target: '#wordSelectLang',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışma Dili Seçimi</strong> <p class="guide-desc">Bir kelime listesini çalışmak için öncelikle Dil seçmelisiniz. Çalışma dili kelimelerin seslendirileceği ve görüntüleneceği dili temsil eder. Seçim yaptığınız dile göre diğer dil anlamı gizlenir. Kelimenin gizlenen bölümünü doğru bilmeniz beklenir.</p>`,
        },
        {
          target: '#wordListenList',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışmaya Başla</strong> <p class="guide-desc">Kelime Listesini Dinle butonuna basmanızla birlikte seçtiğiniz görüntüleme ve okuma diline göre kelime listesindeki kelimeler tek tek telaffuz edilir. Çalışmaya başlamadan önce bilgisayarınızın sesini açmayı unutmayın. Sesli ortamlarda telaffuz problemi yaşamamanız için kulaklık ile çalışmanız tavsiye edilir.</p>`,
        },
        {
          target: '.word-book-words__item',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Anlamlar</strong> <p class="guide-desc">Bir kelime birden çok anlama sahip olabilir. Bir kelimeye tıklayarak kelimenin diğer anlamlarını görebilirsiniz.Bir kelimenin çalışma listesinde görüntülemek istediğiniz anlamlarını bu alandan düzenleyebilirsiniz. + - butonları ile çalışacağız anlam bilgilerini düzenleyebilirsiniz.</p>`,
        },
        {
          target: '.word-book-rate',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Bilme Sayısı</strong> <p class="guide-desc">Listeyi dinlemeye başladığınıda her bir kelime seslendirildikten sonra gizlenen anlamı görüntüleyebileceğiniz 'Göster' butonu çıkar. Göster butonuna tıkladıktan sonra çalışmaya devam etmek için kelimenin gizlenen anlamını doğru bilip bilmediğinizi 'Yukarı, Aşağı' sembollerine tıklayarak işaretleyin. Böylece bir kelimeyi çalışırken öğrenme durumunuzu takip edebilirsiniz.</p>`,
        },
        {
          target: '.word-book-views',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Tekrar Etme Sayısı</strong> <p class="guide-desc">Bir kelime listesini çalışırken her bir kelimeyi tekrar etme sayısınızı gösterir. Gizlenen anlamları gösterdikçe veya kelimenin anlamlarını görmek istediğinizde tekrar etme sayısı artacaktır. Böylece bir kelimeyi kaç kez tekrar ettiğiniz takip edebilirsiniz.</p>`,
        },
        {
          target: '.word-book__item',
          content: `<strong class="guide-title"> <svg data-v-4585df58="" viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-info"></use></svg> Çalışmaya Başla</strong> <p class="guide-desc">Kelime defteri uygulaması geleneksel metodlarla kelime çalışma yöntemlerinizi sistemli hale getirmek için geliştirildi. Çalışmak istediğiniz kelimeleri platformun herhangi bir alanında yer alan içerikler üzerinden veya kenar çubuğu üzerinden kelime listesi oluşturarak listeleyebilir, bu listeleri diğer kullanıcılarında görüntülemesi için herkese açık hale getirebilir, diğer kullanıcıların paylaştığı listeleri keşfet bölümünden görebilirsiniz. Başarılar dileriz!</p>`,
        },
      ],
      tourOptions: {
        highlight: true,
        labels: {
          buttonSkip: 'KAPAT',
          buttonPrevious: 'ÖNCEKİ',
          buttonNext: 'SONRAKİ',
          buttonStop: 'BİTİR',
        },
      },
      tourCallbacks: {
        onStop: this.finishTour,
      },
    }
  },
  computed: {
    ...mapGetters({
      loaded: 'wordbookList/loaded',
      loading: 'wordbookList/loading',
      currentTab: 'wordbookList/currentTab',
      filters: 'wordbookList/filters',
      filter: 'wordbookList/filter',
      list: 'wordbookList/list',
      nextPage: 'wordbookList/nextPage',
      loadingWords: 'wordbookList/loadingWords',
      loadingTab: 'wordbookList/loadingTab',
      soundsLoading: 'wordbookList/soundsLoading',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
    }),
    ...mapGetters(['getDarkMode', 'userData']),

    renderedPages() {
      let renderArray = Array.from(Array(5).keys())
      if (this.list.totalPage < 6) {
        renderArray = [...renderArray.map(v => v + 1)]
        renderArray.length = this.list.totalPage
      } else if (this.list.currentPage < 4) {
        renderArray = [...renderArray.map(v => v + 2)]
        if (this.list.totalPage === 6) {
          renderArray.length = renderArray.length - 1
        }
      } else if (this.list.currentPage < this.list.totalPage - 2) {
        renderArray = [...renderArray.map(v => v + this.list.currentPage - 2)]
      } else {
        renderArray = [
          ...renderArray.map(v => (v = this.list.totalPage - (5 - v))),
        ]
      }
      return renderArray
    },
  },

  watch: {
    userData(val, old) {
      if (val !== old) this.checkTour()
    },
  },

  mounted() {
    this.checkTour()
  },

  methods: {
    ...mapActions({
      getListData: 'wordbookList/getListData',
      setGroupFilter: 'wordbookList/setGroupFilter',
      MoreWords: 'wordbookList/MoreWords',
      restSearchResult: 'wordbookMyList/restSearchResult',
      setCurrentTab: 'wordbookList/setCurrentTab',
      resetFilter: 'wordbookList/resetFilter',
    }),

    resetFilters() {
      this.resetFilter()
      this.getListData({
        id: this.list.id,
        pageNo: 1,
        partial: true,
      }).then(() => {
        this.setGroupFilter(this.currentTab)
      })
    },

    checkTour() {
      if (this.userData !== null && this.userData.has_word_book_tour) {
        this.startTour()
      }
    },

    setDarkMode() {
      this.$store.dispatch(SWITCH_DARKMODE, !this.getDarkMode)
    },
    /**
     *
     */
    async tabShow(tab, index) {
      this.setCurrentTab(tab.id)
      await this.getListData({
        id: this.list.id,
        pageNo: 1,
        partial: true,
      }).then(() => {
        this.setGroupFilter(this.currentTab)
      })
    },
    /**
     *
     */
    goBack() {
      this.$router.push('/')
    },
    /**
     *
     */
    getTabsData() {
      let tabs = []
      if (typeof this.filters.group !== 'undefined') {
        this.filters.group.forEach(grpItem => {
          if (grpItem.count !== 0) {
            tabs.push({
              id: grpItem.id,
              key: grpItem.key,
              icon: `icon-${grpItem.key}-o`,
              text: grpItem.value,
              count: grpItem.count,
            })
          }
        })
      }
      // console.log('the Tabs here: ', tabs)
      return tabs
    },
    getcurrentTab() {
      let tabs = this.getTabsData()
      let currnet = tabs.findIndex(x => x.id === this.currentTab)
      return currnet
    },
    /**
     *
     */
    showAddSearchForm(showForm) {
      this.restSearchResult()
      this.searchWordForm = showForm
    },
    /**
     *
     */
    async loadMoreWords(page) {
      if (this.list.totalPage > 1 && this.list.currentPage !== page) {
        let listdata = {
          id: this.list.id,
          pageNO: page,
          groupId: this.currentTab,
        }
        await this.MoreWords(listdata)
        this.$router.push(`/kelime-defteri/${this.list.id}/${page}`)
      }
    },
    /**
     *
     */
    downloadwordList() {
      const link = document.createElement('a')
      link.href = `${Vue.axios.defaults.baseURL}/word-lists/download/${this.list.id}?token=${this.token}`
      link.setAttribute('target', '_blank')
      link.download = 'Wordlist.pdf'
      link.click()
    },
    updateIsReading(isReading) {
      this.isReading = isReading
    },

    startTour() {
      this.$tours['wordbookTour'].start()
    },

    finishTour() {
      toggleTour('word_book', false)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/detail';
@import '@/assets/scss/_breakpoints';

.detail-inf {
  @include bp(tablet-l) {
    padding: 0;
  }
}

::v-deep {
  .detail-close.base-button {
    height: 2.5rem;

    @include bp(tablet-m) {
      margin-right: 0.5rem;
      background: var(--background-color) !important;
    }

    @include bp(tablet) {
      width: 2.5rem;
    }

    .base-button__text {
      @include bp(tablet) {
        display: none;
      }
    }

    .b-icon {
      height: 0.75rem !important;

      @include bp(tablet) {
        width: 2.5rem;
      }
    }
  }

  .detail-left-btn.base-button {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    z-index: 10;
    margin-left: 0.5rem;

    &.active {
      background: #fff;
      color: $c-alt;
    }

    @include bp(tablet-m) {
      background: var(--background-color);
    }

    &.is-tour {
      @include bp(tablet) {
        display: none;
      }
    }
  }
}

.empty-content--notfound {
  max-width: 42rem;
  padding: 0 1rem;
}

.word-book-tab {
  position: relative;
  z-index: 0;
}
</style>
