<template>
  <div v-if="loaded && !loading">
    <div class="tab-filter customizer list-add-follow">
      <div class="tab-filter__left customizer --btn">
        <v-button
          id="addNewWords"
          class="reading-words__button default round icon-left fw"
          icon="icon-plus"
          icon-position="left"
          title="YENİ KELİME EKLE"
          @click.native="showAddSearchForm(true)"
          v-if="this.list.is_owner"
        />
        <v-button
          id="addNewWords"
          class="reading-words__button default round icon-left fw"
          :icon="this.list.is_followed ? 'icon-dash' : 'icon-plus'"
          icon-position="left"
          :title="this.list.is_followed ? 'TAKİBİ BIRAK' : 'TAKİP ET'"
          @click.native="followExploreList()"
          v-else
        />
      </div>
      <div class="tab-filter__right customizer info-txt">
        <span
          >Listenize yeni kelimeler ekleyerek kelime hazinenizi
          geliştirin.</span
        >
      </div>
    </div>
    <div class="tab-filter customizer">
      <div class="tab-filter__left customizer">
        <div class="tab-filter-search">
          <v-button
            class="button--circle circle-xs tab-filter-search__button"
            icon="icon-search"
            icon-position="left"
          />

          <input
            ref="inputBox"
            type="text"
            class="tab-filter-search__input"
            placeholder="Kelime arayın..."
            v-model="filter.search"
            @keyup="setSearchParam"
          />
          <span class="tab-filter-search__clear" @click="clearInput">
            <BaseIcon v-if="filter.search.length > 0" :icon-name="'close'" />
          </span>
        </div>
      </div>
      <div class="tab-filter__right customizer">
        <div class="tab-filter__col" v-if="filters.type">
          <TabFilterSelect
            :options="filters.type"
            @onselect="selectType"
            id="wordTypesFilter"
          />
        </div>
        <div class="tab-filter__col" v-if="filters.order">
          <TabFilterSelect
            :options="filters.order"
            title="Sırala"
            @onselect="selectOrder"
            id="wordOrdersFilter"
          />
        </div>
      </div>
    </div>
    <div class="tab-filter__custom-txt">Okuma ve Görüntüleme Dilini Seçin</div>
    <div class="tab-filter jcc">
      <div class="tab-filter__left">
        <div class="tab-filter__item tab-filter-radio">
          <div class="check-radio__group" id="wordSelectLang">
            <div
              class="check-radio__label"
              @click="selectLang(lang)"
              :class="filter.language[lang.key] ? 'active' : ''"
              v-for="lang in filters.language"
              :key="lang.id"
            >
              <span class="check-radio__box"></span>
              <div class="check-radio__title">{{ lang.value }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-filter__right">
        <div
          class="word-book-ctr__right withBorder"
        >
          <button
            id="wordListenList"
            class="button purple icon-xs"
            v-if="!workingMode"
            @click="startReading"
          >
            <span class="button__wrp">
              <span class="button__txt">KELİME LİSTESİNİ DİNLE</span>
              <span class="button__icon">
                <svg viewBox="0 0 100 100" id="icon-caret-right" class="icon">
                  <g>
                    <path
                      class="st0"
                      d="M11.7,99.6c0.6,0.2,1,0.4,1.7,0.4c0.6,0,1.3-0.2,1.9-0.6L88.5,53c1-0.6,1.7-1.7,1.7-2.9c0-1.3-0.6-2.3-1.7-2.9   L15.2,0.6c-1-0.6-2.5-0.8-3.6-0.2S9.8,2.3,9.8,3.5v92.9C9.8,97.7,10.6,99,11.7,99.6"
                    />
                  </g>
                </svg>
              </span>
            </span>
          </button>
          <div v-if="soundsLoading" class="sounds-preloader">
            <div class="preloader-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <button
            class="button default color-gray icon-xs"
            @click="endReading"
            v-if="!soundsLoading && workingMode"
          >
            <span class="button__wrp">
              <span class="button__txt">OKUMAYI DURDUR</span>
              <span class="button__icon">
                <svg viewBox="0 0 100 100" id="icon-pause" class="icon">
                  <g>
                    <path
                      class="st0"
                      d="M34.9,0H11.5C9.3,0,7.4,1.8,7.4,4.1v91.8c0,2.2,1.8,4.1,4.1,4.1h23.3c2.2,0,4.1-1.8,4.1-4.1V4.1   C38.9,1.8,37.1,0,34.9,0"
                    />
                    <path
                      class="st0"
                      d="M88.6,0H65.2c-2.2,0-4.1,1.8-4.1,4.1v91.8c0,2.2,1.8,4.1,4.1,4.1h23.3c2.2,0,4.1-1.8,4.1-4.1V4.1   C92.6,1.8,90.9,0,88.6,0"
                    />
                  </g>
                </svg>
              </span>
            </span>
          </button>
          <!--- Loading sounds for words - meaning -->
          <!-- /Loading  Sounds for words -->
        </div>
      </div>
    </div>
  </div>
  <!-- Filter HTML CODE-->
</template>
<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
import TabFilterSelect from '@/components/Tab/TabFilterSelect'
import BaseIcon from '../../Base/BaseIcon.vue'
import delaySearch from '../../../common/delay-search'

export default {
  name: 'WordBookFilter',
  components: {
    TabFilterSelect,
    BaseIcon,
  },
  props: {
    isReading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      activeType: 'all',
    }
  },
  computed: {
    ...mapGetters({
      list: 'wordbookList/list',
      filters: 'wordbookList/filters',
      filter: 'wordbookList/filter',
      loaded: 'wordbookList/loaded',
      loading: 'wordbookList/loading',
      loadingWords: 'wordbookList/loadingWords',
      workingMode: 'wordbookPlaying/workingMode',
      soundsLoading: 'wordbookPlaying/soundsLoading',
      playingWord: 'wordbookPlaying/playingWord',
      playingList: 'wordbookPlaying/playingList',
      isPlaying: 'wordbookPlaying/isPlaying',
      playingCounter: 'wordbookPlaying/playingCounter',
    }),
  },
  methods: {
    ...mapActions({
      setFilter: 'wordbookList/setFilter',
      setLangFilter: 'wordbookList/setLangFilter',
      setTypeFilter: 'wordbookList/setTypeFilter',
      setListOrder: 'wordbookList/setListOrder',
      setListSearchParam: 'wordbookList/setListSearchParam',
      applyFiterOnList: 'wordbookList/applyFiterOnList',
      gettingReadingList: 'wordbookPlaying/gettingReadingList',
      updateSoundsLoading: 'wordbookPlaying/updateSoundsLoading',
      playingWordSound: 'wordbookPlaying/playingWordSound',
      updatePlayingWord: 'wordbookPlaying/updatePlayingWord',
      setPlayingList: 'wordbookPlaying/setPlayingList',
      stopPlying: 'wordbookPlaying/stopPlying',
      followList: 'wordbookExploreList/followList',
      getListData: 'wordbookList/getListData',
      getExploreList: 'wordbookExploreList/getExploreList',
      getMyList: 'wordbookMyList/getMyList',
    }),
    clearInput() {
      console.log(this.$refs.inputBox)
      this.endReading()
      this.setListSearchParam('')
      this.applyFiterOnList()
      this.$refs.inputBox.value = ''
    },

    selectLang(lang) {
      this.endReading()
      this.setLangFilter(lang.key)
      this.applyFiterOnList()
    },
    selectType(opt) {
      this.endReading()
      this.setTypeFilter(
        this.filters.type.find(item => item.type === opt.type).id
      )
      this.applyFiterOnList()
    },
    selectOrder(opt) {
      this.endReading()
      this.setListOrder(opt)
      this.applyFiterOnList()
    },
    setSearchParam(e) {
      this.endReading()
      this.setListSearchParam(e.target.value)
      delaySearch(() => {
        this.applyFiterOnList()
      }, 1000)
    },
    showAddSearchForm(show) {
      this.$emit('showAddSearchForm', show)
    },

    /**
     *
     */
    startReading() {
      this.$emit('updateIsReading', true)
      this.gettingReadingList()
      let that = this
      setTimeout(function() {
        that.listenToListWord()
      }, 100)
    },
    /**
     *
     */
    listenToListWord() {
      this.listTheWordforReading().then(res => {
        if (res) {
          this.updateSoundsLoading(false)
          this.playingWordSound(this.playingCounter)
        }
      })
    },
    /**
     *
     */
    async listTheWordforReading() {
      this.updateSoundsLoading(true)
      let soundList = []
      await this.list.items.forEach(wordItem => {
        if (this.filter.language.en) {
          // let item = gspeakNew(wordItem.word)
          let soundword = {
            id: wordItem.id,
            read: false,
            lang: 'en_GB',
            text: wordItem.word,
          }
          soundList.push(soundword)
        }

        if (wordItem.meanings.length > 0) {
          wordItem.meanings.forEach(meaningWord => {
            if (meaningWord.showInBox) {
              if (
                !_.isEmpty(meaningWord.word.main.tr) &&
                this.filter.language.tr
              ) {
                let soundwordMain = {
                  id: wordItem.id,
                  read: false,
                  lang: 'tr_TR',
                  text: meaningWord.word.main.tr,
                }
                soundList.push(soundwordMain)
              }
              if (
                !_.isEmpty(meaningWord.word.sub.tr) &&
                this.filter.language.tr
              ) {
                let soundwordSub = {
                  id: wordItem.id,
                  read: false,
                  lang: 'tr_TR',
                  text: meaningWord.word.sub.tr,
                }
                soundList.push(soundwordSub)
              }
            }
          })
        }
      })
      if (soundList.length !== 0) {
        this.setPlayingList(soundList)
        return true
      } else {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: 'error',
          title: 'Okunacak kelime yok',
          position: 'top-end',
          showConfirmButton: false,
        })
        this.endReading()
        return false
      }
    },
    endReading(playSound) {
      this.$emit('updateIsReading', false)
      this.updateSoundsLoading(false)
      this.stopPlying(false)
    },
    async followExploreList() {
      await this.followList(this.list.id).then(res => {
        this.$swal.fire({
          toast: true,
          timer: 3000,
          icon: res.data.success ? 'success' : 'error',
          title: res.data.message,
          position: 'top-end',
          showConfirmButton: false,
        })
        this.getListData({ id: this.list.id, pageNo: this.list.currentPage })
        this.getExploreList()
        this.getMyList(true)
      })
    },
  },
  mounted() {
    // console.log('filters is here ', this.filters.type, this.filters.order)
  },
}
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/variables';

.list-add-follow {
  flex-direction: row-reverse;
  margin-bottom: 0;
  padding-bottom: 0 !important;
  border-bottom: none;

  & .--btn {
    margin-right: 0;
    margin-left: 1rem;

    @include bp(tablet) {
      margin-left: 0;
    }
  }
}

.info-txt {
  justify-content: flex-start;
  color: var(--color-text);
  font-weight: 200;
  font-size: 1.125rem;
}

.tab-filter-search {
  &__input {
    color: var(--color-primary-alt);

    &::placeholder {
      color: var(--color-text);
    }
  }
  &__button {
    color: var(--color-text);
  }

  &__clear {
    color: var(--btn-color-primary);
    margin-right: 0.5rem;
    cursor: pointer;
    opacity: 0.7;

    &::v-deep .b-icon {
      height: 0.75rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.dark-mode {
  .tab-filter-search {
    background: #394056;
  }
}
</style>
