<template>
  <section>
    <div class="word-book-heading-tbar">
      <div class="word-book-heading-tbar__top">
        <div class="word-book-heading-tab__cnt">
          <!-- list tilte -->
          <div
            class="form-container word-book-newlist__input"
            v-if="editWordList"
          >
            <input
              type="text"
              class="form-input"
              :class="{ error: fromErrorMessage }"
              placeholder="Liste adı giriniz"
              v-model="title"
            />
          </div>
          <div class="word-book-heading-tbar__title" v-else>
            {{ list.title }}
          </div>
          <BaseTextarea
            v-if="editWordList"
            :text="description"
            @input="handleDescriptionInput"
            :placeholder="`Açıklama girin...`"
          />
          <div class="word-book-heading-tbar__txt" v-else>
            {{ list.description }}
          </div>
          <div
            class="wordlist-type"
            :class="{ 'is-private': !list.is_public }"
            v-if="!editWordList"
          >
            <BaseIcon :iconName="listStatusIcon" :height="20" />
            <span class="wordlist-type__status">{{ statusText }}</span>
          </div>
          <template v-if="editWordList && list.is_owner">
            <!-- change list  from private to public  switcher --->
            <div class="publicity__status">
              <span class="publicity__status--text">Herkese Açık</span>
              <label class="publicity__switch" @click="togglePublic">
                <span class="publicity__slider" :class="{ active: isPublic }">
                  <svg-icon class="publicity__slider--icon" type="icon-check" />
                </span>
              </label>
            </div>
          </template>
          <!--- /List Title -->
          <!-- list description -->
          <footer class="word-book-newlist__footer" v-if="editWordList">
            <BaseButton
              :uppercase="true"
              :intent="`primary`"
              :text="`Kaydet`"
              @click="updateWordList"
            />
          </footer>
          <!-- Form Error Message -->
          <span class="d-flex form-error-line mt-0" v-if="fromErrorMessage">{{
            fromErrorMessage
          }}</span>
          <!-- From Error Massages -->
        </div>
        <BaseButton
          class="wordlist-edit-btn"
          :icon="'edit'"
          :intent="'secondary'"
          :styling="'circle'"
          :class="{ active: editWordList }"
          v-tooltip="'Düzenle'"
          v-if="list.is_owner"
          @click="updateWordListForm(!editWordList)"
        />
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import BaseButton from '../../Base/BaseButton.vue'
import BaseIcon from '../../Base/BaseIcon.vue'
import BaseTextarea from '../../Base/BaseTextarea.vue'

export default {
  components: { BaseButton, BaseTextarea, BaseIcon },
  name: 'WordBookListHeader',
  data() {
    return {
      title: '',
      description: '',
      isPublic: false,
      editWordList: false,
      fromErrorMessage: false,
    }
  },
  computed: {
    ...mapGetters({
      list: 'wordbookList/list',
      listMassegeStatus: 'wordbookMyList/listMassegeStatus',
      listMessageText: 'wordbookMyList/listMessageText',
    }),
    togglerTooltip() {
      return this.isPublic ? 'Herkese Açık' : 'Özel'
    },
    listStatusIcon() {
      return this.list.is_owner
        ? this.list.is_public
          ? 'eye'
          : 'eye-disabled'
        : 'user-fill'
    },
    statusText() {
      return this.list.is_owner
        ? this.list.is_public
          ? 'Herkese Açık'
          : 'Özel'
        : this.list.owner
    },
    statusColor() {
      return this.list.is_public || this.list.owner
    },
  },
  methods: {
    ...mapActions({
      getMyList: 'wordbookMyList/getMyList',
      editList: 'wordbookMyList/editList',
      getListData: 'wordbookList/getListData',
    }),
    /**
     *
     */
    async updateWordList() {
      if (this.title !== '') {
        var listObj = {
          id: this.list.id,
          title: this.title,
          description: this.description,
          isPublic: this.isPublic,
        }
        await this.editList(listObj).then(() => {
          this.$swal.fire({
            toast: true,
            timer: 3000,
            icon: this.listMassegeStatus ? 'success' : 'error',
            title: this.listMessageText,
            position: 'top-end',
            showConfirmButton: false,
          })
          if (this.listMassegeStatus) {
            this.getMyList()
            this.getListData({
              id: this.list.id,
              pageNo: this.list.currentPage,
            })
            this.updateWordListForm(false)
          }
          this.fromErrorMessage = false
        })
      } else {
        this.fromErrorMessage = '*Liste adı boş bırakılamaz.'
      }
    },
    /**
     *
     */
    togglePublic() {
      this.isPublic = !this.isPublic
      console.log(' this.isPublic:', this.isPublic)
    },
    /**
     *
     */
    switchPublicity() {
      this.togglePublic()
      this.updateWordList()
    },
    /**
     *
     */
    updateWordListForm(showForm) {
      this.fromErrorMessage = false
      this.editWordList = showForm
    },
    handleDescriptionInput(value) {
      this.description = value
    },
  },
  mounted() {
    this.title = this.list.title
    this.description = this.list.description
    this.isPublic = this.list.is_public
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/publicity-switch.scss';
@import '@/assets/scss/_breakpoints';

.wordlist {
  &-type {
    color: $c-alt;

    &__icon {
      color: $c-alt;
    }

    &.is-private {
      color: var(--color-secondary);

      .wordlist-type__icon {
        color: var(--color-secondary);
      }
    }

    &__status {
      color: var(--color-secondary);
    }
  }
  &-edit-btn.active {
    color: $c-alt;
  }

  @include bp(tablet-m) {
    height: 2.5rem;
    width: 2.5rem !important;

    &::v-deep .b-icon {
      height: 1rem;
    }
  }

  @include bp(tablet) {
    position: absolute;
    top: -3.75rem;
    right: 2.5rem;
  }
}

.publicity {
  &__status {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-top: 1rem;

    @include bp(tablet) {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &__switch {
    margin-left: 0;
    margin-right: 0.5rem;
    background: var(--background-color);
  }
}
</style>
