<template>
  <div class="tab-filter justify-content-between leaderboard-tab">
    <div class="d-flex">
      <div class="tab-filter__item mr-15">
        <select-box
          v-if="groups"
          :options="groups.options"
          title="Tüm Ders Gruplarına Göre"
          @onselect="handleChangeFilterGroups"
        />
      </div>
      <div class="tab-filter__item">
        <select-box
          v-if="apps"
          :options="apps.options"
          title="Tüm Uygulamalara Göre"
          @onselect="handleChangeFilterApps"
        />
      </div>
    </div>
    <div class="tab-filter__item">
      <TabFilterButtons
        v-if="date"
        :initial="date.value"
        :buttons="date.options"
        ref="tabFilterButtons"
        @onClickButton="handleChangeFilterDate"
      />
    </div>
  </div>
</template>

<script>
import iconFinder from '@/common/icon.helper'
import TabFilterButtons from '@/components/Tab/TabFilterButtons'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      groups: null,
      apps: null,
      date: null
    }
  },
  computed: {
    ...mapGetters({
      filters: 'leaderboard/filters',
      filter: 'leaderboard/filter'
    })
  },
  methods: {
    ...mapActions({
      setFilter: 'leaderboard/setFilter'
    }),
    syncFilters() {
      const $apps = JSON.parse(JSON.stringify(this.filters.apps))
      $apps.options.forEach(option => {
        option.icon = iconFinder(option.icon)
      })
      this.groups = JSON.parse(JSON.stringify(this.filters.groups))
      this.apps = $apps
      this.date = JSON.parse(JSON.stringify(this.filters.date))
    },
    handleChangeFilterGroups(group) {
      this.setFilter({
        ...this.filter,
        groups: group.value
      })
    },
    handleChangeFilterApps(app) {
      this.setFilter({
        ...this.filter,
        apps: app.value
      })
    },
    handleChangeFilterDate(date) {
      this.setFilter({
        ...this.filter,
        date: date.id
      })
    }
  },
  mounted() {
    this.syncFilters()
  },
  components: {
    TabFilterButtons
  }
}
</script>
