<template>
  <modal
    :active="modalIsActive"
    modal-class="profile-modal main-profile-modal"
    :class="{ ghost: loading }"
    @onModalClose="handleModalActive(false)"
  >
    <!-- Error  Template  --->
    <template v-if="!loaded && !loading">
      <div slot="content">Hata!</div>
    </template>
    <!-- Error  Template  --->
    <!-- loading Template  --->
    <template v-if="loading">
      <div slot="content" class="radius-ghost">
        <div class="ghost-profile-modal">
          <div class="ghost-profile-modal--profile">
            <div class="ghost-profile-modal--profile--img"></div>
            <div class="ghost-profile-modal--profile--txt"></div>
            <div class="ghost-profile-modal--profile--txt2"></div>
          </div>
          <div class="ghost-leaderboard__top--badges">
            <div class="ghost-leaderboard__top--badge"></div>
            <div class="ghost-leaderboard__top--badge"></div>
            <div class="ghost-leaderboard__top--badge"></div>
            <div class="ghost-leaderboard__top--badge"></div>
            <div class="ghost-leaderboard__top--badge"></div>
          </div>
          <div class="ghost-profile-modal--top">
            <GhostVueSelect class="col-md-8" />
            <div class="ghost-profile-modal--line col-md-3"></div>
          </div>
          <div class="ghost-profile-modal--content">
            <div class="ghost-profile-modal--item">
              <div class="ghost-profile-modal--icon"></div>
              <div class="ghost-profile-modal--txt"></div>
              <div class="ghost-profile-modal--point"></div>
            </div>
            <div class="ghost-profile-modal--cnt">
              <div class="ghost-profile-modal--cnt--wrp">
                <div class="ghost-profile-modal--txt"></div>
                <div class="ghost-profile-modal--point"></div>
              </div>
            </div>
            <div class="ghost-profile-modal--item">
              <div class="ghost-profile-modal--icon"></div>
              <div class="ghost-profile-modal--txt"></div>
              <div class="ghost-profile-modal--point"></div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <!-- End loading Template  --->
    <template>
      <div class="modal__header" v-if="!loading && loaded" slot="header">
        <div class="modal__badges--img o-hidden">
          <img
            :class="detail.degree <= 3 ? `degree${detail.degree}`:'' "
            :src="`${detail.avatar}`"
            :alt="detail.name"
          />
        </div>
        <div class="modal__title" v-html="detail.name" />
        <div class="modal__subtitle">{{ detail.date.humans }} Üye</div>
        <div
          class="modal__description"
          v-if="detail.bio !== 'null' && detail.bio !== null"
        >{{ detail.bio }}</div>
        <div class="modal__badges modal__badges--profile" v-if="detail.badges.length > 0">
          <img
            v-for="(badget, badgetindex) in detail.badges"
            :key="badgetindex"
            :src="badget.image"
            alt="image"
            class="list-of-eggs--img"
            v-tooltip="{
              content:badget.title,
              classes: 'tooltip-singleline',
            }"
            v-if="badgetindex < 4"
          />
          <span
            v-if="detail.badges.length > 4"
            @click="handleShowRozetModel()"
          >+{{ detail.badges.length - 4 }}</span>
        </div>
      </div>
      <div slot="content" v-if="!loading && loaded">
        <div>
          <div class="pointer p-10 profile-pointer">
            <div class="row no-gutters">
              <div class="col-8 f-select">
                <!-- FIXME: !erdoğan -->
                <select-box
                  :options="sortOptions"
                  title="Tüm Ders Gruplarına Göre"
                  @onselect="onSelect"
                />
              </div>
              <div class="col-1"></div>
              <div class="col-3 pointer--show ml-auto">
                <span>
                  <strong>{{ detail.point }}</strong> PUAN
                </span>
              </div>
            </div>
          </div>
          <template v-if="!detail.apps || (detail.apps && detail.apps.length < 1)">
            <!-- FIXME: ui !alperen -->
            Gösterilecek bir app bulunmuyor
          </template>
          <template v-else>
            <div
              class="dropdown"
              :class="{ open: appI == wordFamily }"
              v-for="(app, appI) in detail.apps"
              :key="`user${detail.id}App${appI}`"
            >
              <div class="dropdown--label no-pad" @click="showFamily(appI)">
                <span class="dropdown__title">
                  <strong>
                    <!-- FIXME: icons: !önder !erdoğan !alperen -->
                    <img :src="getIcon(app.media)" width="30px" :alt="app.name" />
                    {{ app.name }}
                  </strong>
                  <span>
                    <strong>{{ app.total }}</strong> PUAN
                  </span>
                </span>
                <span class="dropdown__caret"></span>
              </div>
              <div class="dropdown--content o-auto">
                <div class="list-of-points">
                  <div
                    v-for="(appItem, appItemI) in app.items"
                    :key="`user${detail.id}App${appI}AppItem${appItemI}`"
                  >
                    <span class="modal-dropdown--inner">
                      <strong class="pr-10">{{ appItem.count }}</strong>
                      <strong>{{ appItem.title }}</strong>
                    </span>
                    <span class="modal-dropdown--point">
                      <strong>{{ appItem.point }}</strong> PUAN
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import iconFinder from '@/common/icon.helper'
// import SlideUpDown from '@/components/SlideUpDown'
import Modal from '@/components/Modal'
import GhostVueSelect from '@/core/Ghost/GhostVueSelect'
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      wordFamily: null,
      sortOptions: {}
    }
  },

  computed: {
    ...mapGetters({
      filters: 'leaderboard/filters',
      isActive: 'leaderboardDetail/isActive',
      loaded: 'leaderboardDetail/loaded',
      loading: 'leaderboardDetail/loading',
      detail: 'leaderboardDetail/detail',
      isDetailActive: 'leaderboardDetail/isActive'
    }),
    modalIsActive: {
      get() {
        return this.isActive
      },
      set(value) {
        this.setActive(value)
      }
    }
  },

  methods: {
    ...mapActions({
      getDetail: 'leaderboardDetail/getDetail',
      setActive: 'leaderboardDetail/setActive',
      resetState: 'leaderboardDetail/resetState',
      setFilter: 'leaderboardDetail/setFilter'
    }),
    handleModalActive(value) {
      this.setActive(value)
    },
    handleShowRozetModel() {
      this.setActive(false)
      console.log('showRozetModle')
      this.$emit('handleShowRozetModel', this.detail)
    },
    // handleModal2Active() {
    //   this.$emit('showRozetModle', value)
    // },
    getIcon(name) {
      return iconFinder(name)
    },

    onSelect(selected) {
      this.setFilter({
        ...this.filter,
        sort: selected.value
      })
    },
    showFamily(appI) {
      this.wordFamily = !this.wordFamily === appI ? null : appI
    }
  },

  mounted() {
    this.getDetail().then(() => {
      this.sortOptions = JSON.parse(JSON.stringify(this.filters.groups.options))

      // console.log('this sort Options', this.sortOptions)
    })
  },

  destroyed() {
    this.resetState()
  },
  components: {
    Modal,
    GhostVueSelect
    // SlideUpDown
  }
}
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/ghost/ghost-home-page';
.degree1 {
  border-color: #d7b740 !important;
}
.degree2 {
  border-color: #b4cdd7 !important;
}
.degree3 {
  border-color: #ad8a6d !important;
}
</style>
