<template>
  <modal
    :active="isActive"
    modal-class="profile-modal no-pad main-profile-modal"
    @onModalClose="handleModalActive(false)"
  >
    <div class="modal__header pb-10" slot="header" v-if="userData">
      <div class="modal__badges--img o-hidden">
        <img
          :src="userData.avatar"
          :class="userData.degree <= 3 ? `degree${userData.degree}`:'' "
          :alt="userData.avatar"
        />
      </div>
      <div class="modal__title">{{ userData.name }}</div>
      <div class="modal__subtitle">{{ userData.date.humans }} Üye</div>
      <div
        class="modal__description"
        v-if="userData.bio !== 'null' && userData.bio !== null"
      >{{ userData.bio }}</div>
    </div>
    <div slot="content" class="modal__badges" v-if="userData">
      <div class="list-of-eggs" v-for="(badget, badgetindex) in userData.badges" :key="badgetindex">
        <img :src="badget.image" alt="image" class="list-of-eggs--img" />
        <div class="list-of-eggs--cnt">
          <div class="list-of-eggs--title">{{ badget.title }}</div>
          <div class="list-of-eggs--txt">{{ badget.description }}</div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import iconFinder from '@/common/icon.helper'
import Modal from '@/components/Modal'

export default {
  name: 'PreformanceModel',
  components: {
    Modal
  },
  props: {
    userData: {
      type: Object,
      default: () => { }
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleModalActive(value) {
      this.$emit('handleModalClick', value)
    },
    getAppIcons(appName) {
      return iconFinder(appName)
    }
  }
}
</script>
<style lang="scss" scoped>
.degree1 {
  border-color: #d7b740 !important;
}
.degree2 {
  border-color: #b4cdd7 !important;
}
.degree3 {
  border-color: #ad8a6d !important;
}
</style>
